Dec 09 06:15:26 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 09 06:15:26 ubuntu etcd[67953]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 09 06:15:26 ubuntu etcd[67953]:         A future release of golang/protobuf will delete this package,
Dec 09 06:15:26 ubuntu etcd[67953]:         which has long been excluded from the compatibility promise.
Dec 09 06:15:26 ubuntu etcd[67953]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 09 06:15:26 ubuntu etcd[67953]: Running http and grpc server on single port. This is not recommended for production.
Dec 09 06:15:26 ubuntu etcd[67953]: etcd Version: 3.4.27
Dec 09 06:15:26 ubuntu etcd[67953]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 09 06:15:26 ubuntu etcd[67953]: Git SHA: c92fb80f3
Dec 09 06:15:26 ubuntu etcd[67953]: Go Version: go1.19.10
Dec 09 06:15:26 ubuntu etcd[67953]: Go OS/Arch: linux/amd64
Dec 09 06:15:26 ubuntu etcd[67953]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 09 06:15:26 ubuntu etcd[67953]: Running http and grpc server on single port. This is not recommended for production.
Dec 09 06:15:26 ubuntu etcd[67953]: name = ubuntu
Dec 09 06:15:26 ubuntu etcd[67953]: data dir = /opt/stack/data/etcd
Dec 09 06:15:26 ubuntu etcd[67953]: member dir = /opt/stack/data/etcd/member
Dec 09 06:15:26 ubuntu etcd[67953]: heartbeat = 100ms
Dec 09 06:15:26 ubuntu etcd[67953]: election = 1000ms
Dec 09 06:15:26 ubuntu etcd[67953]: snapshot count = 100000
Dec 09 06:15:26 ubuntu etcd[67953]: advertise client URLs = http://10.201.5.82:2379
Dec 09 06:15:26 ubuntu etcd[67953]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Dec 09 06:15:26 ubuntu etcd[67953]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Dec 09 06:15:26 ubuntu etcd[67953]: raft2024/12/09 06:15:26 INFO: 43038365673ccf7b switched to configuration voters=()
Dec 09 06:15:26 ubuntu etcd[67953]: raft2024/12/09 06:15:26 INFO: 43038365673ccf7b became follower at term 0
Dec 09 06:15:26 ubuntu etcd[67953]: raft2024/12/09 06:15:26 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Dec 09 06:15:26 ubuntu etcd[67953]: raft2024/12/09 06:15:26 INFO: 43038365673ccf7b became follower at term 1
Dec 09 06:15:26 ubuntu etcd[67953]: raft2024/12/09 06:15:26 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Dec 09 06:15:26 ubuntu etcd[67953]: simple token is not cryptographically signed
Dec 09 06:15:26 ubuntu etcd[67953]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Dec 09 06:15:26 ubuntu etcd[67953]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Dec 09 06:15:26 ubuntu etcd[67953]: raft2024/12/09 06:15:26 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Dec 09 06:15:26 ubuntu etcd[67953]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Dec 09 06:15:26 ubuntu etcd[67953]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Dec 09 06:15:26 ubuntu etcd[67953]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Dec 09 06:15:26 ubuntu etcd[67953]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Dec 09 06:15:26 ubuntu etcd[67953]: listening for peers on [::]:2380
Dec 09 06:15:27 ubuntu etcd[67953]: raft2024/12/09 06:15:27 INFO: 43038365673ccf7b is starting a new election at term 1
Dec 09 06:15:27 ubuntu etcd[67953]: raft2024/12/09 06:15:27 INFO: 43038365673ccf7b became candidate at term 2
Dec 09 06:15:27 ubuntu etcd[67953]: raft2024/12/09 06:15:27 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Dec 09 06:15:27 ubuntu etcd[67953]: raft2024/12/09 06:15:27 INFO: 43038365673ccf7b became leader at term 2
Dec 09 06:15:27 ubuntu etcd[67953]: raft2024/12/09 06:15:27 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Dec 09 06:15:27 ubuntu etcd[67953]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Dec 09 06:15:27 ubuntu etcd[67953]: ready to serve client requests
Dec 09 06:15:27 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Dec 09 06:15:27 ubuntu etcd[67953]: setting up the initial cluster version to 3.4
Dec 09 06:15:27 ubuntu etcd[67953]: set the initial cluster version to 3.4
Dec 09 06:15:27 ubuntu etcd[67953]: enabled capabilities for version 3.4
Dec 09 06:15:27 ubuntu etcd[67953]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Dec 09 06:20:36 ubuntu etcd[67953]: start time = 2024-12-09 06:20:36.857642735 +0000 UTC m=+310.694516241, time spent = 1.786956ms, remote = 10.201.5.82:51518, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 09 06:20:36 ubuntu etcd[67953]: start time = 2024-12-09 06:20:36.857643081 +0000 UTC m=+310.694516586, time spent = 1.945502ms, remote = 10.201.5.82:51518, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 09 06:20:43 ubuntu etcd[67953]: start time = 2024-12-09 06:20:43.60019607 +0000 UTC m=+317.437069574, time spent = 175.092µs, remote = 10.201.5.82:51518, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 09 06:20:45 ubuntu etcd[67953]: start time = 2024-12-09 06:20:45.768264935 +0000 UTC m=+319.605138455, time spent = 319.421µs, remote = 10.201.5.82:51518, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 09 06:23:44 ubuntu etcd[67953]: start time = 2024-12-09 06:23:44.218743833 +0000 UTC m=+498.055617435, time spent = 682.747µs, remote = 10.201.5.82:51518, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 09 06:23:44 ubuntu etcd[67953]: start time = 2024-12-09 06:23:44.239978139 +0000 UTC m=+498.076851691, time spent = 202.822µs, remote = 10.201.5.82:51518, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 09 06:23:48 ubuntu etcd[67953]: start time = 2024-12-09 06:23:48.683126841 +0000 UTC m=+502.520000361, time spent = 234.703µs, remote = 10.201.5.82:51518, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 09 06:23:48 ubuntu etcd[67953]: start time = 2024-12-09 06:23:48.753401734 +0000 UTC m=+502.590275249, time spent = 189.24µs, remote = 10.201.5.82:51518, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 09 06:25:36 ubuntu etcd[67953]: start time = 2024-12-09 06:25:36.170090649 +0000 UTC m=+610.006964252, time spent = 1.287607ms, remote = 10.201.5.82:51518, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 09 06:25:36 ubuntu etcd[67953]: start time = 2024-12-09 06:25:36.176371129 +0000 UTC m=+610.013244698, time spent = 1.030619ms, remote = 10.201.5.82:51518, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-1edb251c-77fa-46bf-bf6f-a0e38db3d6be" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-1edb251c-77fa-46bf-bf6f-a0e38db3d6be" value_size:16 lease:5727333709736116761 >> failure:<request_range:<key:"/tooz/lockscinder-1edb251c-77fa-46bf-bf6f-a0e38db3d6be" > >
Dec 09 06:25:38 ubuntu etcd[67953]: start time = 2024-12-09 06:25:38.876771101 +0000 UTC m=+612.713644747, time spent = 686.646µs, remote = 10.201.5.82:51518, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-1edb251c-77fa-46bf-bf6f-a0e38db3d6be" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-1edb251c-77fa-46bf-bf6f-a0e38db3d6be" > > failure:<>
Dec 09 06:25:39 ubuntu etcd[67953]: start time = 2024-12-09 06:25:39.104748353 +0000 UTC m=+612.941621876, time spent = 228.64µs, remote = 10.201.5.82:51518, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 09 06:25:39 ubuntu etcd[67953]: start time = 2024-12-09 06:25:39.106704662 +0000 UTC m=+612.943578188, time spent = 220.983µs, remote = 10.201.5.82:51518, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-1edb251c-77fa-46bf-bf6f-a0e38db3d6be" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-1edb251c-77fa-46bf-bf6f-a0e38db3d6be" value_size:16 lease:5727333709736116765 >> failure:<request_range:<key:"/tooz/lockscinder-1edb251c-77fa-46bf-bf6f-a0e38db3d6be" > >
Dec 09 06:25:39 ubuntu etcd[67953]: start time = 2024-12-09 06:25:39.874932883 +0000 UTC m=+613.711806396, time spent = 326.582µs, remote = 10.201.5.82:51518, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-1edb251c-77fa-46bf-bf6f-a0e38db3d6be" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-1edb251c-77fa-46bf-bf6f-a0e38db3d6be" > > failure:<>
Dec 09 06:25:40 ubuntu etcd[67953]: start time = 2024-12-09 06:25:40.105386298 +0000 UTC m=+613.942259819, time spent = 328.781µs, remote = 10.201.5.82:51518, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 09 06:25:40 ubuntu etcd[67953]: start time = 2024-12-09 06:25:40.107261659 +0000 UTC m=+613.944135178, time spent = 232.174µs, remote = 10.201.5.82:51518, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-1edb251c-77fa-46bf-bf6f-a0e38db3d6be" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-1edb251c-77fa-46bf-bf6f-a0e38db3d6be" value_size:16 lease:5727333709736116769 >> failure:<request_range:<key:"/tooz/lockscinder-1edb251c-77fa-46bf-bf6f-a0e38db3d6be" > >
Dec 09 06:25:40 ubuntu etcd[67953]: start time = 2024-12-09 06:25:40.910435233 +0000 UTC m=+614.747308862, time spent = 619.303µs, remote = 10.201.5.82:51518, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-1edb251c-77fa-46bf-bf6f-a0e38db3d6be" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-1edb251c-77fa-46bf-bf6f-a0e38db3d6be" > > failure:<>
