Dec 12 15:44:52 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 12 15:44:52 ubuntu etcd[67478]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 12 15:44:52 ubuntu etcd[67478]:         A future release of golang/protobuf will delete this package,
Dec 12 15:44:52 ubuntu etcd[67478]:         which has long been excluded from the compatibility promise.
Dec 12 15:44:52 ubuntu etcd[67478]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 12 15:44:52 ubuntu etcd[67478]: Running http and grpc server on single port. This is not recommended for production.
Dec 12 15:44:52 ubuntu etcd[67478]: etcd Version: 3.4.27
Dec 12 15:44:52 ubuntu etcd[67478]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 12 15:44:52 ubuntu etcd[67478]: Git SHA: c92fb80f3
Dec 12 15:44:52 ubuntu etcd[67478]: Go Version: go1.19.10
Dec 12 15:44:52 ubuntu etcd[67478]: Go OS/Arch: linux/amd64
Dec 12 15:44:52 ubuntu etcd[67478]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 12 15:44:52 ubuntu etcd[67478]: Running http and grpc server on single port. This is not recommended for production.
Dec 12 15:44:52 ubuntu etcd[67478]: name = ubuntu
Dec 12 15:44:52 ubuntu etcd[67478]: data dir = /opt/stack/data/etcd
Dec 12 15:44:52 ubuntu etcd[67478]: member dir = /opt/stack/data/etcd/member
Dec 12 15:44:52 ubuntu etcd[67478]: heartbeat = 100ms
Dec 12 15:44:52 ubuntu etcd[67478]: election = 1000ms
Dec 12 15:44:52 ubuntu etcd[67478]: snapshot count = 100000
Dec 12 15:44:52 ubuntu etcd[67478]: advertise client URLs = http://10.201.5.82:2379
Dec 12 15:44:52 ubuntu etcd[67478]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Dec 12 15:44:52 ubuntu etcd[67478]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Dec 12 15:44:52 ubuntu etcd[67478]: raft2024/12/12 15:44:52 INFO: 43038365673ccf7b switched to configuration voters=()
Dec 12 15:44:52 ubuntu etcd[67478]: raft2024/12/12 15:44:52 INFO: 43038365673ccf7b became follower at term 0
Dec 12 15:44:52 ubuntu etcd[67478]: raft2024/12/12 15:44:52 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Dec 12 15:44:52 ubuntu etcd[67478]: raft2024/12/12 15:44:52 INFO: 43038365673ccf7b became follower at term 1
Dec 12 15:44:52 ubuntu etcd[67478]: raft2024/12/12 15:44:52 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Dec 12 15:44:52 ubuntu etcd[67478]: raft2024/12/12 15:44:52 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Dec 12 15:44:52 ubuntu etcd[67478]: simple token is not cryptographically signed
Dec 12 15:44:52 ubuntu etcd[67478]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Dec 12 15:44:52 ubuntu etcd[67478]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Dec 12 15:44:52 ubuntu etcd[67478]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Dec 12 15:44:52 ubuntu etcd[67478]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Dec 12 15:44:52 ubuntu etcd[67478]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Dec 12 15:44:52 ubuntu etcd[67478]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Dec 12 15:44:52 ubuntu etcd[67478]: listening for peers on [::]:2380
Dec 12 15:44:52 ubuntu etcd[67478]: raft2024/12/12 15:44:52 INFO: 43038365673ccf7b is starting a new election at term 1
Dec 12 15:44:52 ubuntu etcd[67478]: raft2024/12/12 15:44:52 INFO: 43038365673ccf7b became candidate at term 2
Dec 12 15:44:52 ubuntu etcd[67478]: raft2024/12/12 15:44:52 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Dec 12 15:44:52 ubuntu etcd[67478]: raft2024/12/12 15:44:52 INFO: 43038365673ccf7b became leader at term 2
Dec 12 15:44:52 ubuntu etcd[67478]: raft2024/12/12 15:44:52 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Dec 12 15:44:52 ubuntu etcd[67478]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Dec 12 15:44:52 ubuntu etcd[67478]: ready to serve client requests
Dec 12 15:44:52 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Dec 12 15:44:52 ubuntu etcd[67478]: setting up the initial cluster version to 3.4
Dec 12 15:44:52 ubuntu etcd[67478]: set the initial cluster version to 3.4
Dec 12 15:44:52 ubuntu etcd[67478]: enabled capabilities for version 3.4
Dec 12 15:44:52 ubuntu etcd[67478]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Dec 12 15:49:46 ubuntu etcd[67478]: start time = 2024-12-12 15:49:46.768541955 +0000 UTC m=+294.076669605, time spent = 1.011051ms, remote = 10.201.5.82:40650, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 12 15:49:46 ubuntu etcd[67478]: start time = 2024-12-12 15:49:46.824839196 +0000 UTC m=+294.132966847, time spent = 225.398µs, remote = 10.201.5.82:40650, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 12 15:49:53 ubuntu etcd[67478]: start time = 2024-12-12 15:49:53.455444692 +0000 UTC m=+300.763572346, time spent = 198.536µs, remote = 10.201.5.82:40650, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 12 15:49:55 ubuntu etcd[67478]: start time = 2024-12-12 15:49:55.577363857 +0000 UTC m=+302.885491506, time spent = 294.31µs, remote = 10.201.5.82:40650, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 12 15:52:52 ubuntu etcd[67478]: start time = 2024-12-12 15:52:52.699359825 +0000 UTC m=+480.007487461, time spent = 449.39µs, remote = 10.201.5.82:40650, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 12 15:52:52 ubuntu etcd[67478]: start time = 2024-12-12 15:52:52.754810856 +0000 UTC m=+480.062938507, time spent = 288.229µs, remote = 10.201.5.82:40650, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 12 15:52:53 ubuntu etcd[67478]: start time = 2024-12-12 15:52:53.294569929 +0000 UTC m=+480.602697582, time spent = 265.548µs, remote = 10.201.5.82:40650, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 12 15:52:54 ubuntu etcd[67478]: start time = 2024-12-12 15:52:54.886012179 +0000 UTC m=+482.194139828, time spent = 232.525µs, remote = 10.201.5.82:40650, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 12 15:54:45 ubuntu etcd[67478]: start time = 2024-12-12 15:54:45.061707049 +0000 UTC m=+592.369834690, time spent = 363.812µs, remote = 10.201.5.82:40650, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 12 15:54:45 ubuntu etcd[67478]: start time = 2024-12-12 15:54:45.072096225 +0000 UTC m=+592.380223873, time spent = 664.959µs, remote = 10.201.5.82:40650, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-ff576e03-c4bf-4a13-b9a7-5c2b005119fa" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-ff576e03-c4bf-4a13-b9a7-5c2b005119fa" value_size:16 lease:5727333784837946393 >> failure:<request_range:<key:"/tooz/lockscinder-ff576e03-c4bf-4a13-b9a7-5c2b005119fa" > >
Dec 12 15:54:47 ubuntu etcd[67478]: start time = 2024-12-12 15:54:47.933609384 +0000 UTC m=+595.241737136, time spent = 2.395274ms, remote = 10.201.5.82:40650, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-ff576e03-c4bf-4a13-b9a7-5c2b005119fa" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-ff576e03-c4bf-4a13-b9a7-5c2b005119fa" > > failure:<>
Dec 12 15:54:48 ubuntu etcd[67478]: start time = 2024-12-12 15:54:48.144587703 +0000 UTC m=+595.452715343, time spent = 419.393µs, remote = 10.201.5.82:40650, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 12 15:54:48 ubuntu etcd[67478]: start time = 2024-12-12 15:54:48.146923088 +0000 UTC m=+595.455050824, time spent = 797.141µs, remote = 10.201.5.82:40650, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-ff576e03-c4bf-4a13-b9a7-5c2b005119fa" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-ff576e03-c4bf-4a13-b9a7-5c2b005119fa" value_size:16 lease:5727333784837946397 >> failure:<request_range:<key:"/tooz/lockscinder-ff576e03-c4bf-4a13-b9a7-5c2b005119fa" > >
Dec 12 15:54:48 ubuntu etcd[67478]: start time = 2024-12-12 15:54:48.914273799 +0000 UTC m=+596.222401461, time spent = 355.253µs, remote = 10.201.5.82:40650, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-ff576e03-c4bf-4a13-b9a7-5c2b005119fa" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-ff576e03-c4bf-4a13-b9a7-5c2b005119fa" > > failure:<>
Dec 12 15:54:49 ubuntu etcd[67478]: start time = 2024-12-12 15:54:49.166608252 +0000 UTC m=+596.474735902, time spent = 237.233µs, remote = 10.201.5.82:40650, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 12 15:54:49 ubuntu etcd[67478]: start time = 2024-12-12 15:54:49.16911516 +0000 UTC m=+596.477242813, time spent = 219.707µs, remote = 10.201.5.82:40650, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-ff576e03-c4bf-4a13-b9a7-5c2b005119fa" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-ff576e03-c4bf-4a13-b9a7-5c2b005119fa" value_size:16 lease:5727333784837946401 >> failure:<request_range:<key:"/tooz/lockscinder-ff576e03-c4bf-4a13-b9a7-5c2b005119fa" > >
Dec 12 15:54:49 ubuntu etcd[67478]: start time = 2024-12-12 15:54:49.972487771 +0000 UTC m=+597.280615523, time spent = 477.342µs, remote = 10.201.5.82:40650, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-ff576e03-c4bf-4a13-b9a7-5c2b005119fa" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-ff576e03-c4bf-4a13-b9a7-5c2b005119fa" > > failure:<>
