Feb 27 15:56:27 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Feb 27 15:56:27 ubuntu etcd[65832]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Feb 27 15:56:27 ubuntu etcd[65832]:         A future release of golang/protobuf will delete this package,
Feb 27 15:56:27 ubuntu etcd[65832]:         which has long been excluded from the compatibility promise.
Feb 27 15:56:27 ubuntu etcd[65832]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 27 15:56:27 ubuntu etcd[65832]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 27 15:56:27 ubuntu etcd[65832]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 27 15:56:27 ubuntu etcd[65832]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 27 15:56:27 ubuntu etcd[65832]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 27 15:56:27 ubuntu etcd[65832]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 27 15:56:27 ubuntu etcd[65832]: Running http and grpc server on single port. This is not recommended for production.
Feb 27 15:56:27 ubuntu etcd[65832]: etcd Version: 3.4.27
Feb 27 15:56:27 ubuntu etcd[65832]: Git SHA: c92fb80f3
Feb 27 15:56:27 ubuntu etcd[65832]: Go Version: go1.19.10
Feb 27 15:56:27 ubuntu etcd[65832]: Go OS/Arch: linux/amd64
Feb 27 15:56:27 ubuntu etcd[65832]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Feb 27 15:56:27 ubuntu etcd[65832]: Running http and grpc server on single port. This is not recommended for production.
Feb 27 15:56:27 ubuntu etcd[65832]: name = ubuntu
Feb 27 15:56:27 ubuntu etcd[65832]: data dir = /opt/stack/data/etcd
Feb 27 15:56:27 ubuntu etcd[65832]: member dir = /opt/stack/data/etcd/member
Feb 27 15:56:27 ubuntu etcd[65832]: heartbeat = 100ms
Feb 27 15:56:27 ubuntu etcd[65832]: election = 1000ms
Feb 27 15:56:27 ubuntu etcd[65832]: snapshot count = 100000
Feb 27 15:56:27 ubuntu etcd[65832]: advertise client URLs = http://10.201.5.82:2379
Feb 27 15:56:27 ubuntu etcd[65832]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Feb 27 15:56:27 ubuntu etcd[65832]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Feb 27 15:56:27 ubuntu etcd[65832]: raft2024/02/27 15:56:27 INFO: 43038365673ccf7b switched to configuration voters=()
Feb 27 15:56:27 ubuntu etcd[65832]: raft2024/02/27 15:56:27 INFO: 43038365673ccf7b became follower at term 0
Feb 27 15:56:27 ubuntu etcd[65832]: raft2024/02/27 15:56:27 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Feb 27 15:56:27 ubuntu etcd[65832]: raft2024/02/27 15:56:27 INFO: 43038365673ccf7b became follower at term 1
Feb 27 15:56:27 ubuntu etcd[65832]: raft2024/02/27 15:56:27 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Feb 27 15:56:27 ubuntu etcd[65832]: simple token is not cryptographically signed
Feb 27 15:56:27 ubuntu etcd[65832]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Feb 27 15:56:27 ubuntu etcd[65832]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Feb 27 15:56:27 ubuntu etcd[65832]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Feb 27 15:56:27 ubuntu etcd[65832]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Feb 27 15:56:27 ubuntu etcd[65832]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Feb 27 15:56:27 ubuntu etcd[65832]: raft2024/02/27 15:56:27 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Feb 27 15:56:27 ubuntu etcd[65832]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Feb 27 15:56:27 ubuntu etcd[65832]: listening for peers on [::]:2380
Feb 27 15:56:28 ubuntu etcd[65832]: raft2024/02/27 15:56:28 INFO: 43038365673ccf7b is starting a new election at term 1
Feb 27 15:56:28 ubuntu etcd[65832]: raft2024/02/27 15:56:28 INFO: 43038365673ccf7b became candidate at term 2
Feb 27 15:56:28 ubuntu etcd[65832]: raft2024/02/27 15:56:28 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Feb 27 15:56:28 ubuntu etcd[65832]: raft2024/02/27 15:56:28 INFO: 43038365673ccf7b became leader at term 2
Feb 27 15:56:28 ubuntu etcd[65832]: raft2024/02/27 15:56:28 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Feb 27 15:56:28 ubuntu etcd[65832]: ready to serve client requests
Feb 27 15:56:28 ubuntu etcd[65832]: INFO: 2024/02/27 15:56:28 parsed scheme: ""
Feb 27 15:56:28 ubuntu etcd[65832]: INFO: 2024/02/27 15:56:28 scheme "" not registered, fallback to default scheme
Feb 27 15:56:28 ubuntu etcd[65832]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Feb 27 15:56:28 ubuntu etcd[65832]: INFO: 2024/02/27 15:56:28 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Feb 27 15:56:28 ubuntu etcd[65832]: INFO: 2024/02/27 15:56:28 ClientConn switching balancer to "pick_first"
Feb 27 15:56:28 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Feb 27 15:56:28 ubuntu etcd[65832]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Feb 27 15:56:28 ubuntu etcd[65832]: setting up the initial cluster version to 3.4
Feb 27 15:56:28 ubuntu etcd[65832]: set the initial cluster version to 3.4
Feb 27 15:56:28 ubuntu etcd[65832]: enabled capabilities for version 3.4
Feb 27 16:03:06 ubuntu etcd[65832]: start time = 2024-02-27 16:03:06.938517377 +0000 UTC m=+399.172051868, time spent = 580.577µs, remote = 10.201.5.82:46208, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 27 16:03:06 ubuntu etcd[65832]: start time = 2024-02-27 16:03:06.95465803 +0000 UTC m=+399.188192531, time spent = 207.62µs, remote = 10.201.5.82:46208, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 27 16:03:13 ubuntu etcd[65832]: start time = 2024-02-27 16:03:13.601235153 +0000 UTC m=+405.834769654, time spent = 201.118µs, remote = 10.201.5.82:46208, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 27 16:03:15 ubuntu etcd[65832]: start time = 2024-02-27 16:03:15.517741257 +0000 UTC m=+407.751275758, time spent = 326.647µs, remote = 10.201.5.82:46208, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 27 16:08:55 ubuntu etcd[65832]: start time = 2024-02-27 16:08:55.268484531 +0000 UTC m=+747.502019033, time spent = 1.153698ms, remote = 10.201.5.82:46208, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 27 16:08:55 ubuntu etcd[65832]: start time = 2024-02-27 16:08:55.666734364 +0000 UTC m=+747.900268952, time spent = 327.057µs, remote = 10.201.5.82:46208, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 27 16:08:56 ubuntu etcd[65832]: start time = 2024-02-27 16:08:56.520514087 +0000 UTC m=+748.754048587, time spent = 257.44µs, remote = 10.201.5.82:46208, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 27 16:08:56 ubuntu etcd[65832]: start time = 2024-02-27 16:08:56.641466946 +0000 UTC m=+748.875001534, time spent = 358.595µs, remote = 10.201.5.82:46208, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
