Feb 27 16:58:04 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Feb 27 16:58:04 ubuntu etcd[65775]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Feb 27 16:58:04 ubuntu etcd[65775]:         A future release of golang/protobuf will delete this package,
Feb 27 16:58:04 ubuntu etcd[65775]:         which has long been excluded from the compatibility promise.
Feb 27 16:58:04 ubuntu etcd[65775]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 27 16:58:04 ubuntu etcd[65775]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 27 16:58:04 ubuntu etcd[65775]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 27 16:58:04 ubuntu etcd[65775]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 27 16:58:04 ubuntu etcd[65775]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 27 16:58:04 ubuntu etcd[65775]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 27 16:58:04 ubuntu etcd[65775]: Running http and grpc server on single port. This is not recommended for production.
Feb 27 16:58:04 ubuntu etcd[65775]: etcd Version: 3.4.27
Feb 27 16:58:04 ubuntu etcd[65775]: Git SHA: c92fb80f3
Feb 27 16:58:04 ubuntu etcd[65775]: Go Version: go1.19.10
Feb 27 16:58:04 ubuntu etcd[65775]: Go OS/Arch: linux/amd64
Feb 27 16:58:04 ubuntu etcd[65775]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Feb 27 16:58:04 ubuntu etcd[65775]: Running http and grpc server on single port. This is not recommended for production.
Feb 27 16:58:04 ubuntu etcd[65775]: name = ubuntu
Feb 27 16:58:04 ubuntu etcd[65775]: data dir = /opt/stack/data/etcd
Feb 27 16:58:04 ubuntu etcd[65775]: member dir = /opt/stack/data/etcd/member
Feb 27 16:58:04 ubuntu etcd[65775]: heartbeat = 100ms
Feb 27 16:58:04 ubuntu etcd[65775]: election = 1000ms
Feb 27 16:58:04 ubuntu etcd[65775]: snapshot count = 100000
Feb 27 16:58:04 ubuntu etcd[65775]: advertise client URLs = http://10.201.5.82:2379
Feb 27 16:58:04 ubuntu etcd[65775]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Feb 27 16:58:04 ubuntu etcd[65775]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Feb 27 16:58:04 ubuntu etcd[65775]: raft2024/02/27 16:58:04 INFO: 43038365673ccf7b switched to configuration voters=()
Feb 27 16:58:04 ubuntu etcd[65775]: raft2024/02/27 16:58:04 INFO: 43038365673ccf7b became follower at term 0
Feb 27 16:58:04 ubuntu etcd[65775]: raft2024/02/27 16:58:04 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Feb 27 16:58:04 ubuntu etcd[65775]: raft2024/02/27 16:58:04 INFO: 43038365673ccf7b became follower at term 1
Feb 27 16:58:04 ubuntu etcd[65775]: raft2024/02/27 16:58:04 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Feb 27 16:58:04 ubuntu etcd[65775]: simple token is not cryptographically signed
Feb 27 16:58:04 ubuntu etcd[65775]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Feb 27 16:58:04 ubuntu etcd[65775]: raft2024/02/27 16:58:04 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Feb 27 16:58:04 ubuntu etcd[65775]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Feb 27 16:58:04 ubuntu etcd[65775]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Feb 27 16:58:04 ubuntu etcd[65775]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Feb 27 16:58:04 ubuntu etcd[65775]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Feb 27 16:58:04 ubuntu etcd[65775]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Feb 27 16:58:04 ubuntu etcd[65775]: listening for peers on [::]:2380
Feb 27 16:58:05 ubuntu etcd[65775]: raft2024/02/27 16:58:05 INFO: 43038365673ccf7b is starting a new election at term 1
Feb 27 16:58:05 ubuntu etcd[65775]: raft2024/02/27 16:58:05 INFO: 43038365673ccf7b became candidate at term 2
Feb 27 16:58:05 ubuntu etcd[65775]: raft2024/02/27 16:58:05 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Feb 27 16:58:05 ubuntu etcd[65775]: raft2024/02/27 16:58:05 INFO: 43038365673ccf7b became leader at term 2
Feb 27 16:58:05 ubuntu etcd[65775]: raft2024/02/27 16:58:05 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Feb 27 16:58:05 ubuntu etcd[65775]: setting up the initial cluster version to 3.4
Feb 27 16:58:05 ubuntu etcd[65775]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Feb 27 16:58:05 ubuntu etcd[65775]: ready to serve client requests
Feb 27 16:58:05 ubuntu etcd[65775]: INFO: 2024/02/27 16:58:05 parsed scheme: ""
Feb 27 16:58:05 ubuntu etcd[65775]: INFO: 2024/02/27 16:58:05 scheme "" not registered, fallback to default scheme
Feb 27 16:58:05 ubuntu etcd[65775]: set the initial cluster version to 3.4
Feb 27 16:58:05 ubuntu etcd[65775]: INFO: 2024/02/27 16:58:05 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Feb 27 16:58:05 ubuntu etcd[65775]: INFO: 2024/02/27 16:58:05 ClientConn switching balancer to "pick_first"
Feb 27 16:58:05 ubuntu etcd[65775]: enabled capabilities for version 3.4
Feb 27 16:58:05 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Feb 27 16:58:05 ubuntu etcd[65775]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Feb 27 17:04:37 ubuntu etcd[65775]: start time = 2024-02-27 17:04:37.842499196 +0000 UTC m=+393.298995943, time spent = 1.621983ms, remote = 10.201.5.82:54488, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 27 17:04:37 ubuntu etcd[65775]: start time = 2024-02-27 17:04:37.87691285 +0000 UTC m=+393.333409585, time spent = 203.518µs, remote = 10.201.5.82:54488, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 27 17:04:44 ubuntu etcd[65775]: start time = 2024-02-27 17:04:44.475683352 +0000 UTC m=+399.932180098, time spent = 354.769µs, remote = 10.201.5.82:54488, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 27 17:04:46 ubuntu etcd[65775]: start time = 2024-02-27 17:04:46.446388401 +0000 UTC m=+401.902885138, time spent = 2.110699ms, remote = 10.201.5.82:54488, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 27 17:10:21 ubuntu etcd[65775]: start time = 2024-02-27 17:10:21.446645223 +0000 UTC m=+736.903141960, time spent = 289.494µs, remote = 10.201.5.82:54488, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 27 17:10:21 ubuntu etcd[65775]: start time = 2024-02-27 17:10:21.56744745 +0000 UTC m=+737.023944186, time spent = 155.831µs, remote = 10.201.5.82:54488, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 27 17:10:22 ubuntu etcd[65775]: start time = 2024-02-27 17:10:22.705562659 +0000 UTC m=+738.162059394, time spent = 191.634µs, remote = 10.201.5.82:54488, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 27 17:10:22 ubuntu etcd[65775]: start time = 2024-02-27 17:10:22.833139451 +0000 UTC m=+738.289636186, time spent = 140.62µs, remote = 10.201.5.82:54488, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
