Feb 21 17:46:21 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Feb 21 17:46:21 ubuntu etcd[78465]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Feb 21 17:46:21 ubuntu etcd[78465]:         A future release of golang/protobuf will delete this package,
Feb 21 17:46:21 ubuntu etcd[78465]:         which has long been excluded from the compatibility promise.
Feb 21 17:46:21 ubuntu etcd[78465]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 21 17:46:21 ubuntu etcd[78465]: Running http and grpc server on single port. This is not recommended for production.
Feb 21 17:46:21 ubuntu etcd[78465]: etcd Version: 3.4.27
Feb 21 17:46:21 ubuntu etcd[78465]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 21 17:46:21 ubuntu etcd[78465]: Git SHA: c92fb80f3
Feb 21 17:46:21 ubuntu etcd[78465]: Go Version: go1.19.10
Feb 21 17:46:21 ubuntu etcd[78465]: Go OS/Arch: linux/amd64
Feb 21 17:46:21 ubuntu etcd[78465]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Feb 21 17:46:21 ubuntu etcd[78465]: Running http and grpc server on single port. This is not recommended for production.
Feb 21 17:46:21 ubuntu etcd[78465]: name = ubuntu
Feb 21 17:46:21 ubuntu etcd[78465]: data dir = /opt/stack/data/etcd
Feb 21 17:46:21 ubuntu etcd[78465]: member dir = /opt/stack/data/etcd/member
Feb 21 17:46:21 ubuntu etcd[78465]: heartbeat = 100ms
Feb 21 17:46:21 ubuntu etcd[78465]: election = 1000ms
Feb 21 17:46:21 ubuntu etcd[78465]: snapshot count = 100000
Feb 21 17:46:21 ubuntu etcd[78465]: advertise client URLs = http://10.201.5.82:2379
Feb 21 17:46:21 ubuntu etcd[78465]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Feb 21 17:46:21 ubuntu etcd[78465]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Feb 21 17:46:21 ubuntu etcd[78465]: raft2025/02/21 17:46:21 INFO: 43038365673ccf7b switched to configuration voters=()
Feb 21 17:46:21 ubuntu etcd[78465]: raft2025/02/21 17:46:21 INFO: 43038365673ccf7b became follower at term 0
Feb 21 17:46:21 ubuntu etcd[78465]: raft2025/02/21 17:46:21 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Feb 21 17:46:21 ubuntu etcd[78465]: raft2025/02/21 17:46:21 INFO: 43038365673ccf7b became follower at term 1
Feb 21 17:46:21 ubuntu etcd[78465]: raft2025/02/21 17:46:21 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Feb 21 17:46:21 ubuntu etcd[78465]: simple token is not cryptographically signed
Feb 21 17:46:21 ubuntu etcd[78465]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Feb 21 17:46:21 ubuntu etcd[78465]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Feb 21 17:46:21 ubuntu etcd[78465]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Feb 21 17:46:21 ubuntu etcd[78465]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Feb 21 17:46:21 ubuntu etcd[78465]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Feb 21 17:46:21 ubuntu etcd[78465]: raft2025/02/21 17:46:21 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Feb 21 17:46:21 ubuntu etcd[78465]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Feb 21 17:46:21 ubuntu etcd[78465]: listening for peers on [::]:2380
Feb 21 17:46:22 ubuntu etcd[78465]: raft2025/02/21 17:46:22 INFO: 43038365673ccf7b is starting a new election at term 1
Feb 21 17:46:22 ubuntu etcd[78465]: raft2025/02/21 17:46:22 INFO: 43038365673ccf7b became candidate at term 2
Feb 21 17:46:22 ubuntu etcd[78465]: raft2025/02/21 17:46:22 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Feb 21 17:46:22 ubuntu etcd[78465]: raft2025/02/21 17:46:22 INFO: 43038365673ccf7b became leader at term 2
Feb 21 17:46:22 ubuntu etcd[78465]: raft2025/02/21 17:46:22 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Feb 21 17:46:22 ubuntu etcd[78465]: setting up the initial cluster version to 3.4
Feb 21 17:46:22 ubuntu etcd[78465]: ready to serve client requests
Feb 21 17:46:22 ubuntu etcd[78465]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Feb 21 17:46:22 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Feb 21 17:46:22 ubuntu etcd[78465]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Feb 21 17:46:22 ubuntu etcd[78465]: set the initial cluster version to 3.4
Feb 21 17:46:22 ubuntu etcd[78465]: enabled capabilities for version 3.4
Feb 21 17:51:10 ubuntu etcd[78465]: start time = 2025-02-21 17:51:10.789250728 +0000 UTC m=+288.858638623, time spent = 2.090593ms, remote = 10.201.5.82:58572, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 21 17:51:10 ubuntu etcd[78465]: start time = 2025-02-21 17:51:10.809823358 +0000 UTC m=+288.879211250, time spent = 346.836µs, remote = 10.201.5.82:58572, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 21 17:51:17 ubuntu etcd[78465]: start time = 2025-02-21 17:51:17.726937066 +0000 UTC m=+295.796324962, time spent = 222.496µs, remote = 10.201.5.82:58572, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 21 17:51:19 ubuntu etcd[78465]: start time = 2025-02-21 17:51:19.880397756 +0000 UTC m=+297.949785651, time spent = 213.408µs, remote = 10.201.5.82:58572, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
