Mar 13 09:13:28 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 13 09:13:28 ubuntu etcd[79297]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 13 09:13:28 ubuntu etcd[79297]:         A future release of golang/protobuf will delete this package,
Mar 13 09:13:28 ubuntu etcd[79297]:         which has long been excluded from the compatibility promise.
Mar 13 09:13:28 ubuntu etcd[79297]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 13 09:13:28 ubuntu etcd[79297]: Running http and grpc server on single port. This is not recommended for production.
Mar 13 09:13:28 ubuntu etcd[79297]: etcd Version: 3.4.27
Mar 13 09:13:28 ubuntu etcd[79297]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 13 09:13:28 ubuntu etcd[79297]: Git SHA: c92fb80f3
Mar 13 09:13:28 ubuntu etcd[79297]: Go Version: go1.19.10
Mar 13 09:13:28 ubuntu etcd[79297]: Go OS/Arch: linux/amd64
Mar 13 09:13:28 ubuntu etcd[79297]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 13 09:13:28 ubuntu etcd[79297]: Running http and grpc server on single port. This is not recommended for production.
Mar 13 09:13:28 ubuntu etcd[79297]: name = ubuntu
Mar 13 09:13:28 ubuntu etcd[79297]: data dir = /opt/stack/data/etcd
Mar 13 09:13:28 ubuntu etcd[79297]: member dir = /opt/stack/data/etcd/member
Mar 13 09:13:28 ubuntu etcd[79297]: heartbeat = 100ms
Mar 13 09:13:28 ubuntu etcd[79297]: election = 1000ms
Mar 13 09:13:28 ubuntu etcd[79297]: snapshot count = 100000
Mar 13 09:13:28 ubuntu etcd[79297]: advertise client URLs = http://10.201.5.82:2379
Mar 13 09:13:28 ubuntu etcd[79297]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 13 09:13:28 ubuntu etcd[79297]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Mar 13 09:13:28 ubuntu etcd[79297]: raft2025/03/13 09:13:28 INFO: 43038365673ccf7b switched to configuration voters=()
Mar 13 09:13:28 ubuntu etcd[79297]: raft2025/03/13 09:13:28 INFO: 43038365673ccf7b became follower at term 0
Mar 13 09:13:28 ubuntu etcd[79297]: raft2025/03/13 09:13:28 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 13 09:13:28 ubuntu etcd[79297]: raft2025/03/13 09:13:28 INFO: 43038365673ccf7b became follower at term 1
Mar 13 09:13:28 ubuntu etcd[79297]: raft2025/03/13 09:13:28 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 13 09:13:28 ubuntu etcd[79297]: simple token is not cryptographically signed
Mar 13 09:13:28 ubuntu etcd[79297]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 13 09:13:28 ubuntu etcd[79297]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 13 09:13:28 ubuntu etcd[79297]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 13 09:13:28 ubuntu etcd[79297]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 13 09:13:28 ubuntu etcd[79297]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 13 09:13:28 ubuntu etcd[79297]: raft2025/03/13 09:13:28 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 13 09:13:28 ubuntu etcd[79297]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Mar 13 09:13:28 ubuntu etcd[79297]: listening for peers on [::]:2380
Mar 13 09:13:28 ubuntu etcd[79297]: raft2025/03/13 09:13:28 INFO: 43038365673ccf7b is starting a new election at term 1
Mar 13 09:13:28 ubuntu etcd[79297]: raft2025/03/13 09:13:28 INFO: 43038365673ccf7b became candidate at term 2
Mar 13 09:13:28 ubuntu etcd[79297]: raft2025/03/13 09:13:28 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Mar 13 09:13:28 ubuntu etcd[79297]: raft2025/03/13 09:13:28 INFO: 43038365673ccf7b became leader at term 2
Mar 13 09:13:28 ubuntu etcd[79297]: raft2025/03/13 09:13:28 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Mar 13 09:13:28 ubuntu etcd[79297]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Mar 13 09:13:28 ubuntu etcd[79297]: setting up the initial cluster version to 3.4
Mar 13 09:13:28 ubuntu etcd[79297]: ready to serve client requests
Mar 13 09:13:28 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 13 09:13:28 ubuntu etcd[79297]: set the initial cluster version to 3.4
Mar 13 09:13:28 ubuntu etcd[79297]: enabled capabilities for version 3.4
Mar 13 09:13:28 ubuntu etcd[79297]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Mar 13 09:18:17 ubuntu etcd[79297]: start time = 2025-03-13 09:18:17.165431498 +0000 UTC m=+288.971272407, time spent = 1.579659ms, remote = 10.201.5.82:57488, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 13 09:18:17 ubuntu etcd[79297]: start time = 2025-03-13 09:18:17.234544221 +0000 UTC m=+289.040385133, time spent = 396.931µs, remote = 10.201.5.82:57488, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 13 09:18:23 ubuntu etcd[79297]: start time = 2025-03-13 09:18:23.903580892 +0000 UTC m=+295.709421802, time spent = 202.585µs, remote = 10.201.5.82:57488, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 13 09:18:25 ubuntu etcd[79297]: start time = 2025-03-13 09:18:25.995910087 +0000 UTC m=+297.801750984, time spent = 237.982µs, remote = 10.201.5.82:57488, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
