Jul 08 08:35:43 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 08 08:35:43 ubuntu etcd[67060]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 08 08:35:43 ubuntu etcd[67060]:         A future release of golang/protobuf will delete this package,
Jul 08 08:35:43 ubuntu etcd[67060]:         which has long been excluded from the compatibility promise.
Jul 08 08:35:43 ubuntu etcd[67060]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 08 08:35:43 ubuntu etcd[67060]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 08 08:35:43 ubuntu etcd[67060]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 08 08:35:43 ubuntu etcd[67060]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 08 08:35:43 ubuntu etcd[67060]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 08 08:35:43 ubuntu etcd[67060]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 08 08:35:43 ubuntu etcd[67060]: Running http and grpc server on single port. This is not recommended for production.
Jul 08 08:35:43 ubuntu etcd[67060]: etcd Version: 3.4.27
Jul 08 08:35:43 ubuntu etcd[67060]: Git SHA: c92fb80f3
Jul 08 08:35:43 ubuntu etcd[67060]: Go Version: go1.19.10
Jul 08 08:35:43 ubuntu etcd[67060]: Go OS/Arch: linux/amd64
Jul 08 08:35:43 ubuntu etcd[67060]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 08 08:35:43 ubuntu etcd[67060]: Running http and grpc server on single port. This is not recommended for production.
Jul 08 08:35:43 ubuntu etcd[67060]: name = ubuntu
Jul 08 08:35:43 ubuntu etcd[67060]: data dir = /opt/stack/data/etcd
Jul 08 08:35:43 ubuntu etcd[67060]: member dir = /opt/stack/data/etcd/member
Jul 08 08:35:43 ubuntu etcd[67060]: heartbeat = 100ms
Jul 08 08:35:43 ubuntu etcd[67060]: election = 1000ms
Jul 08 08:35:43 ubuntu etcd[67060]: snapshot count = 100000
Jul 08 08:35:43 ubuntu etcd[67060]: advertise client URLs = http://10.201.5.82:2379
Jul 08 08:35:43 ubuntu etcd[67060]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 08 08:35:43 ubuntu etcd[67060]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jul 08 08:35:43 ubuntu etcd[67060]: raft2024/07/08 08:35:43 INFO: 43038365673ccf7b switched to configuration voters=()
Jul 08 08:35:43 ubuntu etcd[67060]: raft2024/07/08 08:35:43 INFO: 43038365673ccf7b became follower at term 0
Jul 08 08:35:43 ubuntu etcd[67060]: raft2024/07/08 08:35:43 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 08 08:35:43 ubuntu etcd[67060]: raft2024/07/08 08:35:43 INFO: 43038365673ccf7b became follower at term 1
Jul 08 08:35:43 ubuntu etcd[67060]: raft2024/07/08 08:35:43 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 08 08:35:43 ubuntu etcd[67060]: simple token is not cryptographically signed
Jul 08 08:35:43 ubuntu etcd[67060]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 08 08:35:43 ubuntu etcd[67060]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 08 08:35:43 ubuntu etcd[67060]: raft2024/07/08 08:35:43 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 08 08:35:43 ubuntu etcd[67060]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jul 08 08:35:43 ubuntu etcd[67060]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 08 08:35:43 ubuntu etcd[67060]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 08 08:35:43 ubuntu etcd[67060]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 08 08:35:43 ubuntu etcd[67060]: listening for peers on [::]:2380
Jul 08 08:35:44 ubuntu etcd[67060]: raft2024/07/08 08:35:44 INFO: 43038365673ccf7b is starting a new election at term 1
Jul 08 08:35:44 ubuntu etcd[67060]: raft2024/07/08 08:35:44 INFO: 43038365673ccf7b became candidate at term 2
Jul 08 08:35:44 ubuntu etcd[67060]: raft2024/07/08 08:35:44 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jul 08 08:35:44 ubuntu etcd[67060]: raft2024/07/08 08:35:44 INFO: 43038365673ccf7b became leader at term 2
Jul 08 08:35:44 ubuntu etcd[67060]: raft2024/07/08 08:35:44 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jul 08 08:35:44 ubuntu etcd[67060]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jul 08 08:35:44 ubuntu etcd[67060]: setting up the initial cluster version to 3.4
Jul 08 08:35:44 ubuntu etcd[67060]: set the initial cluster version to 3.4
Jul 08 08:35:44 ubuntu etcd[67060]: enabled capabilities for version 3.4
Jul 08 08:35:44 ubuntu etcd[67060]: ready to serve client requests
Jul 08 08:35:44 ubuntu etcd[67060]: INFO: 2024/07/08 08:35:44 parsed scheme: ""
Jul 08 08:35:44 ubuntu etcd[67060]: INFO: 2024/07/08 08:35:44 scheme "" not registered, fallback to default scheme
Jul 08 08:35:44 ubuntu etcd[67060]: INFO: 2024/07/08 08:35:44 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Jul 08 08:35:44 ubuntu etcd[67060]: INFO: 2024/07/08 08:35:44 ClientConn switching balancer to "pick_first"
Jul 08 08:35:44 ubuntu etcd[67060]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jul 08 08:35:44 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 08 08:41:59 ubuntu etcd[67060]: start time = 2024-07-08 08:41:59.176333496 +0000 UTC m=+375.380326212, time spent = 1.566045ms, remote = 10.201.5.82:49544, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 08 08:41:59 ubuntu etcd[67060]: start time = 2024-07-08 08:41:59.31713653 +0000 UTC m=+375.521129257, time spent = 217.032µs, remote = 10.201.5.82:49544, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 08 08:42:06 ubuntu etcd[67060]: start time = 2024-07-08 08:42:06.296549922 +0000 UTC m=+382.500542637, time spent = 244.503µs, remote = 10.201.5.82:49544, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 08 08:42:08 ubuntu etcd[67060]: start time = 2024-07-08 08:42:08.3746946 +0000 UTC m=+384.578687414, time spent = 531.656µs, remote = 10.201.5.82:49544, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
