Jul 09 07:31:44 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 09 07:31:44 ubuntu etcd[67166]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 09 07:31:44 ubuntu etcd[67166]:         A future release of golang/protobuf will delete this package,
Jul 09 07:31:44 ubuntu etcd[67166]:         which has long been excluded from the compatibility promise.
Jul 09 07:31:44 ubuntu etcd[67166]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 09 07:31:44 ubuntu etcd[67166]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 09 07:31:44 ubuntu etcd[67166]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 09 07:31:44 ubuntu etcd[67166]: Running http and grpc server on single port. This is not recommended for production.
Jul 09 07:31:44 ubuntu etcd[67166]: etcd Version: 3.4.27
Jul 09 07:31:44 ubuntu etcd[67166]: Git SHA: c92fb80f3
Jul 09 07:31:44 ubuntu etcd[67166]: Go Version: go1.19.10
Jul 09 07:31:44 ubuntu etcd[67166]: Go OS/Arch: linux/amd64
Jul 09 07:31:44 ubuntu etcd[67166]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 09 07:31:44 ubuntu etcd[67166]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 09 07:31:44 ubuntu etcd[67166]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 09 07:31:44 ubuntu etcd[67166]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 09 07:31:44 ubuntu etcd[67166]: Running http and grpc server on single port. This is not recommended for production.
Jul 09 07:31:44 ubuntu etcd[67166]: name = ubuntu
Jul 09 07:31:44 ubuntu etcd[67166]: data dir = /opt/stack/data/etcd
Jul 09 07:31:44 ubuntu etcd[67166]: member dir = /opt/stack/data/etcd/member
Jul 09 07:31:44 ubuntu etcd[67166]: heartbeat = 100ms
Jul 09 07:31:44 ubuntu etcd[67166]: election = 1000ms
Jul 09 07:31:44 ubuntu etcd[67166]: snapshot count = 100000
Jul 09 07:31:44 ubuntu etcd[67166]: advertise client URLs = http://10.201.5.82:2379
Jul 09 07:31:44 ubuntu etcd[67166]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 09 07:31:44 ubuntu etcd[67166]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jul 09 07:31:44 ubuntu etcd[67166]: raft2024/07/09 07:31:44 INFO: 43038365673ccf7b switched to configuration voters=()
Jul 09 07:31:44 ubuntu etcd[67166]: raft2024/07/09 07:31:44 INFO: 43038365673ccf7b became follower at term 0
Jul 09 07:31:44 ubuntu etcd[67166]: raft2024/07/09 07:31:44 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 09 07:31:44 ubuntu etcd[67166]: raft2024/07/09 07:31:44 INFO: 43038365673ccf7b became follower at term 1
Jul 09 07:31:44 ubuntu etcd[67166]: raft2024/07/09 07:31:44 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 09 07:31:44 ubuntu etcd[67166]: simple token is not cryptographically signed
Jul 09 07:31:44 ubuntu etcd[67166]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 09 07:31:44 ubuntu etcd[67166]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 09 07:31:44 ubuntu etcd[67166]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 09 07:31:44 ubuntu etcd[67166]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 09 07:31:44 ubuntu etcd[67166]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 09 07:31:44 ubuntu etcd[67166]: listening for peers on [::]:2380
Jul 09 07:31:44 ubuntu etcd[67166]: raft2024/07/09 07:31:44 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 09 07:31:44 ubuntu etcd[67166]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jul 09 07:31:44 ubuntu etcd[67166]: raft2024/07/09 07:31:44 INFO: 43038365673ccf7b is starting a new election at term 1
Jul 09 07:31:44 ubuntu etcd[67166]: raft2024/07/09 07:31:44 INFO: 43038365673ccf7b became candidate at term 2
Jul 09 07:31:44 ubuntu etcd[67166]: raft2024/07/09 07:31:44 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jul 09 07:31:44 ubuntu etcd[67166]: raft2024/07/09 07:31:44 INFO: 43038365673ccf7b became leader at term 2
Jul 09 07:31:44 ubuntu etcd[67166]: raft2024/07/09 07:31:44 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jul 09 07:31:44 ubuntu etcd[67166]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jul 09 07:31:44 ubuntu etcd[67166]: setting up the initial cluster version to 3.4
Jul 09 07:31:44 ubuntu etcd[67166]: ready to serve client requests
Jul 09 07:31:44 ubuntu etcd[67166]: set the initial cluster version to 3.4
Jul 09 07:31:44 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 09 07:31:44 ubuntu etcd[67166]: enabled capabilities for version 3.4
Jul 09 07:31:44 ubuntu etcd[67166]: INFO: 2024/07/09 07:31:44 parsed scheme: ""
Jul 09 07:31:44 ubuntu etcd[67166]: INFO: 2024/07/09 07:31:44 scheme "" not registered, fallback to default scheme
Jul 09 07:31:44 ubuntu etcd[67166]: INFO: 2024/07/09 07:31:44 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Jul 09 07:31:44 ubuntu etcd[67166]: INFO: 2024/07/09 07:31:44 ClientConn switching balancer to "pick_first"
Jul 09 07:31:44 ubuntu etcd[67166]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jul 09 07:37:34 ubuntu etcd[67166]: start time = 2024-07-09 07:37:34.283977693 +0000 UTC m=+350.267407373, time spent = 615.336µs, remote = 10.201.5.82:45482, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 09 07:37:34 ubuntu etcd[67166]: start time = 2024-07-09 07:37:34.284847549 +0000 UTC m=+350.268277227, time spent = 256.112µs, remote = 10.201.5.82:45482, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 09 07:37:41 ubuntu etcd[67166]: start time = 2024-07-09 07:37:41.324957124 +0000 UTC m=+357.308386811, time spent = 189.073µs, remote = 10.201.5.82:45482, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 09 07:37:43 ubuntu etcd[67166]: start time = 2024-07-09 07:37:43.637215028 +0000 UTC m=+359.620644709, time spent = 206.996µs, remote = 10.201.5.82:45482, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 09 07:40:42 ubuntu etcd[67166]: start time = 2024-07-09 07:40:42.9986547 +0000 UTC m=+538.982084389, time spent = 361.353µs, remote = 10.201.5.82:45482, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 09 07:40:43 ubuntu etcd[67166]: start time = 2024-07-09 07:40:43.065818126 +0000 UTC m=+539.049247815, time spent = 193.28µs, remote = 10.201.5.82:45482, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 09 07:40:45 ubuntu etcd[67166]: start time = 2024-07-09 07:40:45.597629466 +0000 UTC m=+541.581059155, time spent = 210.21µs, remote = 10.201.5.82:45482, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 09 07:40:47 ubuntu etcd[67166]: start time = 2024-07-09 07:40:47.449518669 +0000 UTC m=+543.432948365, time spent = 219.85µs, remote = 10.201.5.82:45482, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
