Mar 26 12:26:51 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 26 12:26:51 ubuntu etcd[79354]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 26 12:26:51 ubuntu etcd[79354]:         A future release of golang/protobuf will delete this package,
Mar 26 12:26:51 ubuntu etcd[79354]:         which has long been excluded from the compatibility promise.
Mar 26 12:26:51 ubuntu etcd[79354]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 26 12:26:51 ubuntu etcd[79354]: Running http and grpc server on single port. This is not recommended for production.
Mar 26 12:26:51 ubuntu etcd[79354]: etcd Version: 3.4.27
Mar 26 12:26:51 ubuntu etcd[79354]: Git SHA: c92fb80f3
Mar 26 12:26:51 ubuntu etcd[79354]: Go Version: go1.19.10
Mar 26 12:26:51 ubuntu etcd[79354]: Go OS/Arch: linux/amd64
Mar 26 12:26:51 ubuntu etcd[79354]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 26 12:26:51 ubuntu etcd[79354]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 26 12:26:51 ubuntu etcd[79354]: Running http and grpc server on single port. This is not recommended for production.
Mar 26 12:26:51 ubuntu etcd[79354]: name = ubuntu
Mar 26 12:26:51 ubuntu etcd[79354]: data dir = /opt/stack/data/etcd
Mar 26 12:26:51 ubuntu etcd[79354]: member dir = /opt/stack/data/etcd/member
Mar 26 12:26:51 ubuntu etcd[79354]: heartbeat = 100ms
Mar 26 12:26:51 ubuntu etcd[79354]: election = 1000ms
Mar 26 12:26:51 ubuntu etcd[79354]: snapshot count = 100000
Mar 26 12:26:51 ubuntu etcd[79354]: advertise client URLs = http://10.201.5.82:2379
Mar 26 12:26:51 ubuntu etcd[79354]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 26 12:26:51 ubuntu etcd[79354]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Mar 26 12:26:51 ubuntu etcd[79354]: raft2025/03/26 12:26:51 INFO: 43038365673ccf7b switched to configuration voters=()
Mar 26 12:26:51 ubuntu etcd[79354]: raft2025/03/26 12:26:51 INFO: 43038365673ccf7b became follower at term 0
Mar 26 12:26:51 ubuntu etcd[79354]: raft2025/03/26 12:26:51 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 26 12:26:51 ubuntu etcd[79354]: raft2025/03/26 12:26:51 INFO: 43038365673ccf7b became follower at term 1
Mar 26 12:26:51 ubuntu etcd[79354]: raft2025/03/26 12:26:51 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 26 12:26:51 ubuntu etcd[79354]: simple token is not cryptographically signed
Mar 26 12:26:51 ubuntu etcd[79354]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 26 12:26:51 ubuntu etcd[79354]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 26 12:26:51 ubuntu etcd[79354]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 26 12:26:51 ubuntu etcd[79354]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 26 12:26:51 ubuntu etcd[79354]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 26 12:26:51 ubuntu etcd[79354]: raft2025/03/26 12:26:51 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 26 12:26:51 ubuntu etcd[79354]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Mar 26 12:26:51 ubuntu etcd[79354]: listening for peers on [::]:2380
Mar 26 12:26:51 ubuntu etcd[79354]: raft2025/03/26 12:26:51 INFO: 43038365673ccf7b is starting a new election at term 1
Mar 26 12:26:51 ubuntu etcd[79354]: raft2025/03/26 12:26:51 INFO: 43038365673ccf7b became candidate at term 2
Mar 26 12:26:51 ubuntu etcd[79354]: raft2025/03/26 12:26:51 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Mar 26 12:26:51 ubuntu etcd[79354]: raft2025/03/26 12:26:51 INFO: 43038365673ccf7b became leader at term 2
Mar 26 12:26:51 ubuntu etcd[79354]: raft2025/03/26 12:26:51 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Mar 26 12:26:51 ubuntu etcd[79354]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Mar 26 12:26:51 ubuntu etcd[79354]: setting up the initial cluster version to 3.4
Mar 26 12:26:51 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 26 12:26:51 ubuntu etcd[79354]: ready to serve client requests
Mar 26 12:26:51 ubuntu etcd[79354]: set the initial cluster version to 3.4
Mar 26 12:26:51 ubuntu etcd[79354]: enabled capabilities for version 3.4
Mar 26 12:26:51 ubuntu etcd[79354]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Mar 26 12:31:44 ubuntu etcd[79354]: start time = 2025-03-26 12:31:44.528086563 +0000 UTC m=+293.150479774, time spent = 3.513069ms, remote = 10.201.5.82:33694, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 26 12:31:44 ubuntu etcd[79354]: start time = 2025-03-26 12:31:44.52820366 +0000 UTC m=+293.150596878, time spent = 3.797654ms, remote = 10.201.5.82:33694, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 26 12:31:51 ubuntu etcd[79354]: start time = 2025-03-26 12:31:51.528951518 +0000 UTC m=+300.151344738, time spent = 248.88µs, remote = 10.201.5.82:33694, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 26 12:31:53 ubuntu etcd[79354]: start time = 2025-03-26 12:31:53.59852588 +0000 UTC m=+302.220919099, time spent = 347.848µs, remote = 10.201.5.82:33694, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
