Aug 06 15:04:55 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Aug 06 15:04:55 ubuntu etcd[79558]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Aug 06 15:04:55 ubuntu etcd[79558]:         A future release of golang/protobuf will delete this package,
Aug 06 15:04:55 ubuntu etcd[79558]:         which has long been excluded from the compatibility promise.
Aug 06 15:04:55 ubuntu etcd[79558]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 06 15:04:55 ubuntu etcd[79558]: Running http and grpc server on single port. This is not recommended for production.
Aug 06 15:04:55 ubuntu etcd[79558]: etcd Version: 3.4.27
Aug 06 15:04:55 ubuntu etcd[79558]: Git SHA: c92fb80f3
Aug 06 15:04:55 ubuntu etcd[79558]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 06 15:04:55 ubuntu etcd[79558]: Go Version: go1.19.10
Aug 06 15:04:55 ubuntu etcd[79558]: Go OS/Arch: linux/amd64
Aug 06 15:04:55 ubuntu etcd[79558]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Aug 06 15:04:55 ubuntu etcd[79558]: Running http and grpc server on single port. This is not recommended for production.
Aug 06 15:04:55 ubuntu etcd[79558]: name = ubuntu
Aug 06 15:04:55 ubuntu etcd[79558]: data dir = /opt/stack/data/etcd
Aug 06 15:04:55 ubuntu etcd[79558]: member dir = /opt/stack/data/etcd/member
Aug 06 15:04:55 ubuntu etcd[79558]: heartbeat = 100ms
Aug 06 15:04:55 ubuntu etcd[79558]: election = 1000ms
Aug 06 15:04:55 ubuntu etcd[79558]: snapshot count = 100000
Aug 06 15:04:55 ubuntu etcd[79558]: advertise client URLs = http://10.201.5.82:2379
Aug 06 15:04:55 ubuntu etcd[79558]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Aug 06 15:04:55 ubuntu etcd[79558]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Aug 06 15:04:55 ubuntu etcd[79558]: raft2025/08/06 15:04:55 INFO: 43038365673ccf7b switched to configuration voters=()
Aug 06 15:04:55 ubuntu etcd[79558]: raft2025/08/06 15:04:55 INFO: 43038365673ccf7b became follower at term 0
Aug 06 15:04:55 ubuntu etcd[79558]: raft2025/08/06 15:04:55 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Aug 06 15:04:55 ubuntu etcd[79558]: raft2025/08/06 15:04:55 INFO: 43038365673ccf7b became follower at term 1
Aug 06 15:04:55 ubuntu etcd[79558]: raft2025/08/06 15:04:55 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Aug 06 15:04:55 ubuntu etcd[79558]: simple token is not cryptographically signed
Aug 06 15:04:55 ubuntu etcd[79558]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Aug 06 15:04:55 ubuntu etcd[79558]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Aug 06 15:04:55 ubuntu etcd[79558]: raft2025/08/06 15:04:55 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Aug 06 15:04:55 ubuntu etcd[79558]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Aug 06 15:04:55 ubuntu etcd[79558]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Aug 06 15:04:55 ubuntu etcd[79558]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Aug 06 15:04:55 ubuntu etcd[79558]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Aug 06 15:04:55 ubuntu etcd[79558]: listening for peers on [::]:2380
Aug 06 15:04:55 ubuntu etcd[79558]: raft2025/08/06 15:04:55 INFO: 43038365673ccf7b is starting a new election at term 1
Aug 06 15:04:55 ubuntu etcd[79558]: raft2025/08/06 15:04:55 INFO: 43038365673ccf7b became candidate at term 2
Aug 06 15:04:55 ubuntu etcd[79558]: raft2025/08/06 15:04:55 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Aug 06 15:04:55 ubuntu etcd[79558]: raft2025/08/06 15:04:55 INFO: 43038365673ccf7b became leader at term 2
Aug 06 15:04:55 ubuntu etcd[79558]: raft2025/08/06 15:04:55 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Aug 06 15:04:55 ubuntu etcd[79558]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Aug 06 15:04:55 ubuntu etcd[79558]: setting up the initial cluster version to 3.4
Aug 06 15:04:55 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Aug 06 15:04:55 ubuntu etcd[79558]: ready to serve client requests
Aug 06 15:04:55 ubuntu etcd[79558]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Aug 06 15:04:55 ubuntu etcd[79558]: set the initial cluster version to 3.4
Aug 06 15:04:55 ubuntu etcd[79558]: enabled capabilities for version 3.4
Aug 06 15:09:40 ubuntu etcd[79558]: start time = 2025-08-06 15:09:40.076631355 +0000 UTC m=+284.909893558, time spent = 2.18888ms, remote = 10.201.5.82:57022, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 06 15:09:40 ubuntu etcd[79558]: start time = 2025-08-06 15:09:40.097159225 +0000 UTC m=+284.930421415, time spent = 292.261µs, remote = 10.201.5.82:57022, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 06 15:09:47 ubuntu etcd[79558]: start time = 2025-08-06 15:09:47.141502286 +0000 UTC m=+291.974764487, time spent = 294.805µs, remote = 10.201.5.82:57022, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 06 15:09:49 ubuntu etcd[79558]: start time = 2025-08-06 15:09:49.370599208 +0000 UTC m=+294.203861410, time spent = 420.684µs, remote = 10.201.5.82:57022, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 06 15:13:18 ubuntu etcd[79558]: start time = 2025-08-06 15:13:18.543528603 +0000 UTC m=+503.376790907, time spent = 886.54µs, remote = 10.201.5.82:57022, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 06 15:13:18 ubuntu etcd[79558]: start time = 2025-08-06 15:13:18.567231534 +0000 UTC m=+503.400493780, time spent = 224.211µs, remote = 10.201.5.82:57022, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 06 15:13:22 ubuntu etcd[79558]: start time = 2025-08-06 15:13:22.912670886 +0000 UTC m=+507.745933092, time spent = 230.006µs, remote = 10.201.5.82:57022, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 06 15:13:23 ubuntu etcd[79558]: start time = 2025-08-06 15:13:23.225333472 +0000 UTC m=+508.058595787, time spent = 390.886µs, remote = 10.201.5.82:57022, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 06 15:20:06 ubuntu etcd[79558]: start time = 2025-08-06 15:20:06.144960847 +0000 UTC m=+910.978223037, time spent = 338.699µs, remote = 10.201.5.82:57022, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 06 15:20:06 ubuntu etcd[79558]: start time = 2025-08-06 15:20:06.153944547 +0000 UTC m=+910.987206748, time spent = 2.785527ms, remote = 10.201.5.82:57022, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-b4934128-84c1-45df-bded-798df10b32b1" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-b4934128-84c1-45df-bded-798df10b32b1" value_size:16 lease:5727339026284983833 >> failure:<request_range:<key:"/tooz/lockscinder-b4934128-84c1-45df-bded-798df10b32b1" > >
Aug 06 15:20:08 ubuntu etcd[79558]: start time = 2025-08-06 15:20:08.894631133 +0000 UTC m=+913.727893387, time spent = 489.362µs, remote = 10.201.5.82:57022, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-b4934128-84c1-45df-bded-798df10b32b1" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-b4934128-84c1-45df-bded-798df10b32b1" > > failure:<>
Aug 06 15:20:09 ubuntu etcd[79558]: start time = 2025-08-06 15:20:09.129081057 +0000 UTC m=+913.962343276, time spent = 362.399µs, remote = 10.201.5.82:57022, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 06 15:20:09 ubuntu etcd[79558]: start time = 2025-08-06 15:20:09.131851867 +0000 UTC m=+913.965114072, time spent = 293.474µs, remote = 10.201.5.82:57022, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-b4934128-84c1-45df-bded-798df10b32b1" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-b4934128-84c1-45df-bded-798df10b32b1" value_size:16 lease:5727339026284983837 >> failure:<request_range:<key:"/tooz/lockscinder-b4934128-84c1-45df-bded-798df10b32b1" > >
Aug 06 15:20:10 ubuntu etcd[79558]: start time = 2025-08-06 15:20:10.946072128 +0000 UTC m=+915.779334333, time spent = 331.849µs, remote = 10.201.5.82:57022, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-b4934128-84c1-45df-bded-798df10b32b1" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-b4934128-84c1-45df-bded-798df10b32b1" > > failure:<>
Aug 06 15:20:11 ubuntu etcd[79558]: start time = 2025-08-06 15:20:11.201316736 +0000 UTC m=+916.034578941, time spent = 304.971µs, remote = 10.201.5.82:57022, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 06 15:20:11 ubuntu etcd[79558]: start time = 2025-08-06 15:20:11.203338995 +0000 UTC m=+916.036601195, time spent = 209.268µs, remote = 10.201.5.82:57022, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-b4934128-84c1-45df-bded-798df10b32b1" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-b4934128-84c1-45df-bded-798df10b32b1" value_size:16 lease:5727339026284983841 >> failure:<request_range:<key:"/tooz/lockscinder-b4934128-84c1-45df-bded-798df10b32b1" > >
Aug 06 15:20:13 ubuntu etcd[79558]: start time = 2025-08-06 15:20:13.147282015 +0000 UTC m=+917.980544321, time spent = 506.282µs, remote = 10.201.5.82:57022, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-b4934128-84c1-45df-bded-798df10b32b1" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-b4934128-84c1-45df-bded-798df10b32b1" > > failure:<>
