Aug 12 05:41:45 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Aug 12 05:41:45 ubuntu etcd[79182]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Aug 12 05:41:45 ubuntu etcd[79182]:         A future release of golang/protobuf will delete this package,
Aug 12 05:41:45 ubuntu etcd[79182]:         which has long been excluded from the compatibility promise.
Aug 12 05:41:45 ubuntu etcd[79182]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 12 05:41:45 ubuntu etcd[79182]: Running http and grpc server on single port. This is not recommended for production.
Aug 12 05:41:45 ubuntu etcd[79182]: etcd Version: 3.4.27
Aug 12 05:41:45 ubuntu etcd[79182]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 12 05:41:45 ubuntu etcd[79182]: Git SHA: c92fb80f3
Aug 12 05:41:45 ubuntu etcd[79182]: Go Version: go1.19.10
Aug 12 05:41:45 ubuntu etcd[79182]: Go OS/Arch: linux/amd64
Aug 12 05:41:45 ubuntu etcd[79182]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Aug 12 05:41:45 ubuntu etcd[79182]: Running http and grpc server on single port. This is not recommended for production.
Aug 12 05:41:45 ubuntu etcd[79182]: name = ubuntu
Aug 12 05:41:45 ubuntu etcd[79182]: data dir = /opt/stack/data/etcd
Aug 12 05:41:45 ubuntu etcd[79182]: member dir = /opt/stack/data/etcd/member
Aug 12 05:41:45 ubuntu etcd[79182]: heartbeat = 100ms
Aug 12 05:41:45 ubuntu etcd[79182]: election = 1000ms
Aug 12 05:41:45 ubuntu etcd[79182]: snapshot count = 100000
Aug 12 05:41:45 ubuntu etcd[79182]: advertise client URLs = http://10.201.5.82:2379
Aug 12 05:41:45 ubuntu etcd[79182]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Aug 12 05:41:45 ubuntu etcd[79182]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Aug 12 05:41:45 ubuntu etcd[79182]: raft2025/08/12 05:41:45 INFO: 43038365673ccf7b switched to configuration voters=()
Aug 12 05:41:45 ubuntu etcd[79182]: raft2025/08/12 05:41:45 INFO: 43038365673ccf7b became follower at term 0
Aug 12 05:41:45 ubuntu etcd[79182]: raft2025/08/12 05:41:45 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Aug 12 05:41:45 ubuntu etcd[79182]: raft2025/08/12 05:41:45 INFO: 43038365673ccf7b became follower at term 1
Aug 12 05:41:45 ubuntu etcd[79182]: raft2025/08/12 05:41:45 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Aug 12 05:41:45 ubuntu etcd[79182]: simple token is not cryptographically signed
Aug 12 05:41:45 ubuntu etcd[79182]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Aug 12 05:41:45 ubuntu etcd[79182]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Aug 12 05:41:45 ubuntu etcd[79182]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Aug 12 05:41:45 ubuntu etcd[79182]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Aug 12 05:41:45 ubuntu etcd[79182]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Aug 12 05:41:45 ubuntu etcd[79182]: raft2025/08/12 05:41:45 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Aug 12 05:41:45 ubuntu etcd[79182]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Aug 12 05:41:45 ubuntu etcd[79182]: listening for peers on [::]:2380
Aug 12 05:41:46 ubuntu etcd[79182]: raft2025/08/12 05:41:46 INFO: 43038365673ccf7b is starting a new election at term 1
Aug 12 05:41:46 ubuntu etcd[79182]: raft2025/08/12 05:41:46 INFO: 43038365673ccf7b became candidate at term 2
Aug 12 05:41:46 ubuntu etcd[79182]: raft2025/08/12 05:41:46 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Aug 12 05:41:46 ubuntu etcd[79182]: raft2025/08/12 05:41:46 INFO: 43038365673ccf7b became leader at term 2
Aug 12 05:41:46 ubuntu etcd[79182]: raft2025/08/12 05:41:46 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Aug 12 05:41:46 ubuntu etcd[79182]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Aug 12 05:41:46 ubuntu etcd[79182]: ready to serve client requests
Aug 12 05:41:46 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Aug 12 05:41:46 ubuntu etcd[79182]: setting up the initial cluster version to 3.4
Aug 12 05:41:46 ubuntu etcd[79182]: set the initial cluster version to 3.4
Aug 12 05:41:46 ubuntu etcd[79182]: enabled capabilities for version 3.4
Aug 12 05:41:46 ubuntu etcd[79182]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Aug 12 05:46:37 ubuntu etcd[79182]: start time = 2025-08-12 05:46:37.646021332 +0000 UTC m=+291.774625505, time spent = 730.977µs, remote = 10.201.5.82:52110, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 12 05:46:37 ubuntu etcd[79182]: start time = 2025-08-12 05:46:37.725753465 +0000 UTC m=+291.854357653, time spent = 403.217µs, remote = 10.201.5.82:52110, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 12 05:46:44 ubuntu etcd[79182]: start time = 2025-08-12 05:46:44.702432584 +0000 UTC m=+298.831036768, time spent = 348.838µs, remote = 10.201.5.82:52110, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 12 05:46:46 ubuntu etcd[79182]: start time = 2025-08-12 05:46:46.907990636 +0000 UTC m=+301.036594822, time spent = 578.53µs, remote = 10.201.5.82:52110, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 12 05:49:51 ubuntu etcd[79182]: start time = 2025-08-12 05:49:51.600660134 +0000 UTC m=+485.729264317, time spent = 363.058µs, remote = 10.201.5.82:52110, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 12 05:49:51 ubuntu etcd[79182]: start time = 2025-08-12 05:49:51.724028966 +0000 UTC m=+485.852633157, time spent = 260.922µs, remote = 10.201.5.82:52110, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 12 05:49:52 ubuntu etcd[79182]: start time = 2025-08-12 05:49:52.686232802 +0000 UTC m=+486.814836986, time spent = 259.413µs, remote = 10.201.5.82:52110, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 12 05:49:54 ubuntu etcd[79182]: start time = 2025-08-12 05:49:54.523101057 +0000 UTC m=+488.651705336, time spent = 348.673µs, remote = 10.201.5.82:52110, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 12 05:56:38 ubuntu etcd[79182]: start time = 2025-08-12 05:56:38.720355096 +0000 UTC m=+892.848959285, time spent = 282.615µs, remote = 10.201.5.82:52110, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 12 05:56:38 ubuntu etcd[79182]: start time = 2025-08-12 05:56:38.729017614 +0000 UTC m=+892.857621807, time spent = 3.490986ms, remote = 10.201.5.82:52110, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-37aedd84-e86f-4f77-8e47-2ece7f73b271" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-37aedd84-e86f-4f77-8e47-2ece7f73b271" value_size:16 lease:5727339150345327385 >> failure:<request_range:<key:"/tooz/lockscinder-37aedd84-e86f-4f77-8e47-2ece7f73b271" > >
Aug 12 05:56:41 ubuntu etcd[79182]: start time = 2025-08-12 05:56:41.512945556 +0000 UTC m=+895.641549740, time spent = 240.121µs, remote = 10.201.5.82:52110, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-37aedd84-e86f-4f77-8e47-2ece7f73b271" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-37aedd84-e86f-4f77-8e47-2ece7f73b271" > > failure:<>
Aug 12 05:56:41 ubuntu etcd[79182]: start time = 2025-08-12 05:56:41.738895234 +0000 UTC m=+895.867499418, time spent = 246.805µs, remote = 10.201.5.82:52110, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 12 05:56:41 ubuntu etcd[79182]: start time = 2025-08-12 05:56:41.740779525 +0000 UTC m=+895.869383707, time spent = 165.067µs, remote = 10.201.5.82:52110, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-37aedd84-e86f-4f77-8e47-2ece7f73b271" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-37aedd84-e86f-4f77-8e47-2ece7f73b271" value_size:16 lease:5727339150345327389 >> failure:<request_range:<key:"/tooz/lockscinder-37aedd84-e86f-4f77-8e47-2ece7f73b271" > >
Aug 12 05:56:44 ubuntu etcd[79182]: start time = 2025-08-12 05:56:44.232395798 +0000 UTC m=+898.360999984, time spent = 317.133µs, remote = 10.201.5.82:52110, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-37aedd84-e86f-4f77-8e47-2ece7f73b271" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-37aedd84-e86f-4f77-8e47-2ece7f73b271" > > failure:<>
Aug 12 05:56:44 ubuntu etcd[79182]: start time = 2025-08-12 05:56:44.447360841 +0000 UTC m=+898.575965140, time spent = 409.681µs, remote = 10.201.5.82:52110, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 12 05:56:44 ubuntu etcd[79182]: start time = 2025-08-12 05:56:44.450411706 +0000 UTC m=+898.579015890, time spent = 299.135µs, remote = 10.201.5.82:52110, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-37aedd84-e86f-4f77-8e47-2ece7f73b271" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-37aedd84-e86f-4f77-8e47-2ece7f73b271" value_size:16 lease:5727339150345327393 >> failure:<request_range:<key:"/tooz/lockscinder-37aedd84-e86f-4f77-8e47-2ece7f73b271" > >
Aug 12 05:56:46 ubuntu etcd[79182]: start time = 2025-08-12 05:56:46.331712733 +0000 UTC m=+900.460317030, time spent = 636.848µs, remote = 10.201.5.82:52110, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-37aedd84-e86f-4f77-8e47-2ece7f73b271" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-37aedd84-e86f-4f77-8e47-2ece7f73b271" > > failure:<>
