Dec 15 21:52:48 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 15 21:52:48 ubuntu etcd[68913]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 15 21:52:48 ubuntu etcd[68913]:         A future release of golang/protobuf will delete this package,
Dec 15 21:52:48 ubuntu etcd[68913]:         which has long been excluded from the compatibility promise.
Dec 15 21:52:48 ubuntu etcd[68913]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 15 21:52:48 ubuntu etcd[68913]: Running http and grpc server on single port. This is not recommended for production.
Dec 15 21:52:48 ubuntu etcd[68913]: etcd Version: 3.4.27
Dec 15 21:52:48 ubuntu etcd[68913]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 15 21:52:48 ubuntu etcd[68913]: Git SHA: c92fb80f3
Dec 15 21:52:48 ubuntu etcd[68913]: Go Version: go1.19.10
Dec 15 21:52:48 ubuntu etcd[68913]: Go OS/Arch: linux/amd64
Dec 15 21:52:48 ubuntu etcd[68913]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 15 21:52:48 ubuntu etcd[68913]: Running http and grpc server on single port. This is not recommended for production.
Dec 15 21:52:48 ubuntu etcd[68913]: name = ubuntu
Dec 15 21:52:48 ubuntu etcd[68913]: data dir = /opt/stack/data/etcd
Dec 15 21:52:48 ubuntu etcd[68913]: member dir = /opt/stack/data/etcd/member
Dec 15 21:52:48 ubuntu etcd[68913]: heartbeat = 100ms
Dec 15 21:52:48 ubuntu etcd[68913]: election = 1000ms
Dec 15 21:52:48 ubuntu etcd[68913]: snapshot count = 100000
Dec 15 21:52:48 ubuntu etcd[68913]: advertise client URLs = http://10.201.5.82:2379
Dec 15 21:52:48 ubuntu etcd[68913]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Dec 15 21:52:48 ubuntu etcd[68913]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Dec 15 21:52:48 ubuntu etcd[68913]: raft2024/12/15 21:52:48 INFO: 43038365673ccf7b switched to configuration voters=()
Dec 15 21:52:48 ubuntu etcd[68913]: raft2024/12/15 21:52:48 INFO: 43038365673ccf7b became follower at term 0
Dec 15 21:52:48 ubuntu etcd[68913]: raft2024/12/15 21:52:48 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Dec 15 21:52:48 ubuntu etcd[68913]: raft2024/12/15 21:52:48 INFO: 43038365673ccf7b became follower at term 1
Dec 15 21:52:48 ubuntu etcd[68913]: raft2024/12/15 21:52:48 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Dec 15 21:52:48 ubuntu etcd[68913]: simple token is not cryptographically signed
Dec 15 21:52:48 ubuntu etcd[68913]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Dec 15 21:52:48 ubuntu etcd[68913]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Dec 15 21:52:48 ubuntu etcd[68913]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Dec 15 21:52:48 ubuntu etcd[68913]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Dec 15 21:52:48 ubuntu etcd[68913]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Dec 15 21:52:48 ubuntu etcd[68913]: raft2024/12/15 21:52:48 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Dec 15 21:52:48 ubuntu etcd[68913]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Dec 15 21:52:48 ubuntu etcd[68913]: listening for peers on [::]:2380
Dec 15 21:52:49 ubuntu etcd[68913]: raft2024/12/15 21:52:49 INFO: 43038365673ccf7b is starting a new election at term 1
Dec 15 21:52:49 ubuntu etcd[68913]: raft2024/12/15 21:52:49 INFO: 43038365673ccf7b became candidate at term 2
Dec 15 21:52:49 ubuntu etcd[68913]: raft2024/12/15 21:52:49 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Dec 15 21:52:49 ubuntu etcd[68913]: raft2024/12/15 21:52:49 INFO: 43038365673ccf7b became leader at term 2
Dec 15 21:52:49 ubuntu etcd[68913]: raft2024/12/15 21:52:49 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Dec 15 21:52:49 ubuntu etcd[68913]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Dec 15 21:52:49 ubuntu etcd[68913]: setting up the initial cluster version to 3.4
Dec 15 21:52:49 ubuntu etcd[68913]: ready to serve client requests
Dec 15 21:52:49 ubuntu etcd[68913]: set the initial cluster version to 3.4
Dec 15 21:52:49 ubuntu etcd[68913]: enabled capabilities for version 3.4
Dec 15 21:52:49 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Dec 15 21:52:49 ubuntu etcd[68913]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Dec 15 21:57:44 ubuntu etcd[68913]: start time = 2024-12-15 21:57:44.363104413 +0000 UTC m=+295.484513823, time spent = 532.347µs, remote = 10.201.5.82:52170, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 15 21:57:44 ubuntu etcd[68913]: start time = 2024-12-15 21:57:44.363797908 +0000 UTC m=+295.485207328, time spent = 205.214µs, remote = 10.201.5.82:52170, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 15 21:57:51 ubuntu etcd[68913]: start time = 2024-12-15 21:57:51.36490065 +0000 UTC m=+302.486310072, time spent = 156.945µs, remote = 10.201.5.82:52170, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 15 21:57:53 ubuntu etcd[68913]: start time = 2024-12-15 21:57:53.353496316 +0000 UTC m=+304.474905739, time spent = 221.456µs, remote = 10.201.5.82:52170, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 15 22:00:39 ubuntu etcd[68913]: start time = 2024-12-15 22:00:39.473728521 +0000 UTC m=+470.595138038, time spent = 989.566µs, remote = 10.201.5.82:52170, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 15 22:00:39 ubuntu etcd[68913]: start time = 2024-12-15 22:00:39.516078261 +0000 UTC m=+470.637487766, time spent = 241.812µs, remote = 10.201.5.82:52170, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 15 22:00:41 ubuntu etcd[68913]: start time = 2024-12-15 22:00:41.0237261 +0000 UTC m=+472.145135616, time spent = 403.085µs, remote = 10.201.5.82:52170, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 15 22:00:43 ubuntu etcd[68913]: start time = 2024-12-15 22:00:43.615580208 +0000 UTC m=+474.736989723, time spent = 349.86µs, remote = 10.201.5.82:52170, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 15 22:02:37 ubuntu etcd[68913]: start time = 2024-12-15 22:02:37.667821852 +0000 UTC m=+588.789231304, time spent = 459.762µs, remote = 10.201.5.82:52170, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 15 22:02:37 ubuntu etcd[68913]: start time = 2024-12-15 22:02:37.671469851 +0000 UTC m=+588.792879337, time spent = 924.363µs, remote = 10.201.5.82:52170, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-c6bd1337-25a3-4b5e-89bb-027c77136923" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-c6bd1337-25a3-4b5e-89bb-027c77136923" value_size:16 lease:5727333856844649241 >> failure:<request_range:<key:"/tooz/lockscinder-c6bd1337-25a3-4b5e-89bb-027c77136923" > >
Dec 15 22:02:40 ubuntu etcd[68913]: start time = 2024-12-15 22:02:40.376296579 +0000 UTC m=+591.497706048, time spent = 392.624µs, remote = 10.201.5.82:52170, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-c6bd1337-25a3-4b5e-89bb-027c77136923" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-c6bd1337-25a3-4b5e-89bb-027c77136923" > > failure:<>
Dec 15 22:02:40 ubuntu etcd[68913]: start time = 2024-12-15 22:02:40.702746502 +0000 UTC m=+591.824155926, time spent = 236.569µs, remote = 10.201.5.82:52170, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 15 22:02:40 ubuntu etcd[68913]: start time = 2024-12-15 22:02:40.704832596 +0000 UTC m=+591.826242020, time spent = 160.602µs, remote = 10.201.5.82:52170, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-c6bd1337-25a3-4b5e-89bb-027c77136923" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-c6bd1337-25a3-4b5e-89bb-027c77136923" value_size:16 lease:5727333856844649245 >> failure:<request_range:<key:"/tooz/lockscinder-c6bd1337-25a3-4b5e-89bb-027c77136923" > >
Dec 15 22:02:41 ubuntu etcd[68913]: start time = 2024-12-15 22:02:41.523371652 +0000 UTC m=+592.644781089, time spent = 192.603µs, remote = 10.201.5.82:52170, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-c6bd1337-25a3-4b5e-89bb-027c77136923" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-c6bd1337-25a3-4b5e-89bb-027c77136923" > > failure:<>
Dec 15 22:02:41 ubuntu etcd[68913]: start time = 2024-12-15 22:02:41.734179672 +0000 UTC m=+592.855589098, time spent = 275.635µs, remote = 10.201.5.82:52170, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 15 22:02:41 ubuntu etcd[68913]: start time = 2024-12-15 22:02:41.736132889 +0000 UTC m=+592.857542316, time spent = 174.39µs, remote = 10.201.5.82:52170, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-c6bd1337-25a3-4b5e-89bb-027c77136923" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-c6bd1337-25a3-4b5e-89bb-027c77136923" value_size:16 lease:5727333856844649249 >> failure:<request_range:<key:"/tooz/lockscinder-c6bd1337-25a3-4b5e-89bb-027c77136923" > >
Dec 15 22:02:42 ubuntu etcd[68913]: start time = 2024-12-15 22:02:42.483798382 +0000 UTC m=+593.605207802, time spent = 307.384µs, remote = 10.201.5.82:52170, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-c6bd1337-25a3-4b5e-89bb-027c77136923" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-c6bd1337-25a3-4b5e-89bb-027c77136923" > > failure:<>
