Dec 17 15:54:28 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 17 15:54:28 ubuntu etcd[67541]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 17 15:54:28 ubuntu etcd[67541]:         A future release of golang/protobuf will delete this package,
Dec 17 15:54:28 ubuntu etcd[67541]:         which has long been excluded from the compatibility promise.
Dec 17 15:54:28 ubuntu etcd[67541]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 17 15:54:28 ubuntu etcd[67541]: Running http and grpc server on single port. This is not recommended for production.
Dec 17 15:54:28 ubuntu etcd[67541]: etcd Version: 3.4.27
Dec 17 15:54:28 ubuntu etcd[67541]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 17 15:54:28 ubuntu etcd[67541]: Git SHA: c92fb80f3
Dec 17 15:54:28 ubuntu etcd[67541]: Go Version: go1.19.10
Dec 17 15:54:28 ubuntu etcd[67541]: Go OS/Arch: linux/amd64
Dec 17 15:54:28 ubuntu etcd[67541]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 17 15:54:28 ubuntu etcd[67541]: Running http and grpc server on single port. This is not recommended for production.
Dec 17 15:54:28 ubuntu etcd[67541]: name = ubuntu
Dec 17 15:54:28 ubuntu etcd[67541]: data dir = /opt/stack/data/etcd
Dec 17 15:54:28 ubuntu etcd[67541]: member dir = /opt/stack/data/etcd/member
Dec 17 15:54:28 ubuntu etcd[67541]: heartbeat = 100ms
Dec 17 15:54:28 ubuntu etcd[67541]: election = 1000ms
Dec 17 15:54:28 ubuntu etcd[67541]: snapshot count = 100000
Dec 17 15:54:28 ubuntu etcd[67541]: advertise client URLs = http://10.201.5.82:2379
Dec 17 15:54:28 ubuntu etcd[67541]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Dec 17 15:54:28 ubuntu etcd[67541]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Dec 17 15:54:28 ubuntu etcd[67541]: raft2024/12/17 15:54:28 INFO: 43038365673ccf7b switched to configuration voters=()
Dec 17 15:54:28 ubuntu etcd[67541]: raft2024/12/17 15:54:28 INFO: 43038365673ccf7b became follower at term 0
Dec 17 15:54:28 ubuntu etcd[67541]: raft2024/12/17 15:54:28 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Dec 17 15:54:28 ubuntu etcd[67541]: raft2024/12/17 15:54:28 INFO: 43038365673ccf7b became follower at term 1
Dec 17 15:54:28 ubuntu etcd[67541]: raft2024/12/17 15:54:28 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Dec 17 15:54:28 ubuntu etcd[67541]: simple token is not cryptographically signed
Dec 17 15:54:28 ubuntu etcd[67541]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Dec 17 15:54:28 ubuntu etcd[67541]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Dec 17 15:54:28 ubuntu etcd[67541]: raft2024/12/17 15:54:28 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Dec 17 15:54:28 ubuntu etcd[67541]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Dec 17 15:54:28 ubuntu etcd[67541]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Dec 17 15:54:28 ubuntu etcd[67541]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Dec 17 15:54:28 ubuntu etcd[67541]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Dec 17 15:54:28 ubuntu etcd[67541]: listening for peers on [::]:2380
Dec 17 15:54:29 ubuntu etcd[67541]: raft2024/12/17 15:54:29 INFO: 43038365673ccf7b is starting a new election at term 1
Dec 17 15:54:29 ubuntu etcd[67541]: raft2024/12/17 15:54:29 INFO: 43038365673ccf7b became candidate at term 2
Dec 17 15:54:29 ubuntu etcd[67541]: raft2024/12/17 15:54:29 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Dec 17 15:54:29 ubuntu etcd[67541]: raft2024/12/17 15:54:29 INFO: 43038365673ccf7b became leader at term 2
Dec 17 15:54:29 ubuntu etcd[67541]: raft2024/12/17 15:54:29 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Dec 17 15:54:29 ubuntu etcd[67541]: setting up the initial cluster version to 3.4
Dec 17 15:54:29 ubuntu etcd[67541]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Dec 17 15:54:29 ubuntu etcd[67541]: ready to serve client requests
Dec 17 15:54:29 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Dec 17 15:54:29 ubuntu etcd[67541]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Dec 17 15:54:29 ubuntu etcd[67541]: set the initial cluster version to 3.4
Dec 17 15:54:29 ubuntu etcd[67541]: enabled capabilities for version 3.4
Dec 17 15:59:24 ubuntu etcd[67541]: start time = 2024-12-17 15:59:24.284480931 +0000 UTC m=+296.031330896, time spent = 1.393352ms, remote = 10.201.5.82:39628, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 17 15:59:24 ubuntu etcd[67541]: start time = 2024-12-17 15:59:24.340711757 +0000 UTC m=+296.087561730, time spent = 191.057µs, remote = 10.201.5.82:39628, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 17 15:59:31 ubuntu etcd[67541]: start time = 2024-12-17 15:59:31.226547638 +0000 UTC m=+302.973397614, time spent = 202.026µs, remote = 10.201.5.82:39628, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 17 15:59:33 ubuntu etcd[67541]: start time = 2024-12-17 15:59:33.613702795 +0000 UTC m=+305.360552771, time spent = 402.308µs, remote = 10.201.5.82:39628, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 17 16:02:37 ubuntu etcd[67541]: start time = 2024-12-17 16:02:37.877383631 +0000 UTC m=+489.624233607, time spent = 311.59µs, remote = 10.201.5.82:39628, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 17 16:02:37 ubuntu etcd[67541]: start time = 2024-12-17 16:02:37.907356317 +0000 UTC m=+489.654206286, time spent = 131.63µs, remote = 10.201.5.82:39628, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 17 16:02:38 ubuntu etcd[67541]: start time = 2024-12-17 16:02:38.339729271 +0000 UTC m=+490.086579253, time spent = 165.869µs, remote = 10.201.5.82:39628, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 17 16:02:41 ubuntu etcd[67541]: start time = 2024-12-17 16:02:41.094576952 +0000 UTC m=+492.841426924, time spent = 190.987µs, remote = 10.201.5.82:39628, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 17 16:04:28 ubuntu etcd[67541]: start time = 2024-12-17 16:04:28.306289555 +0000 UTC m=+600.053139581, time spent = 745.49µs, remote = 10.201.5.82:39628, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 17 16:04:28 ubuntu etcd[67541]: start time = 2024-12-17 16:04:28.310929556 +0000 UTC m=+600.057779518, time spent = 499.454µs, remote = 10.201.5.82:39628, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-b1f7b312-c3f9-477c-92e4-092da4790632" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-b1f7b312-c3f9-477c-92e4-092da4790632" value_size:16 lease:5727333895577288985 >> failure:<request_range:<key:"/tooz/lockscinder-b1f7b312-c3f9-477c-92e4-092da4790632" > >
Dec 17 16:04:31 ubuntu etcd[67541]: start time = 2024-12-17 16:04:31.185735245 +0000 UTC m=+602.932585233, time spent = 560.195µs, remote = 10.201.5.82:39628, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-b1f7b312-c3f9-477c-92e4-092da4790632" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-b1f7b312-c3f9-477c-92e4-092da4790632" > > failure:<>
Dec 17 16:04:31 ubuntu etcd[67541]: start time = 2024-12-17 16:04:31.529530355 +0000 UTC m=+603.276380330, time spent = 256.76µs, remote = 10.201.5.82:39628, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 17 16:04:31 ubuntu etcd[67541]: start time = 2024-12-17 16:04:31.531433906 +0000 UTC m=+603.278283896, time spent = 185.56µs, remote = 10.201.5.82:39628, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-b1f7b312-c3f9-477c-92e4-092da4790632" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-b1f7b312-c3f9-477c-92e4-092da4790632" value_size:16 lease:5727333895577288989 >> failure:<request_range:<key:"/tooz/lockscinder-b1f7b312-c3f9-477c-92e4-092da4790632" > >
Dec 17 16:04:32 ubuntu etcd[67541]: start time = 2024-12-17 16:04:32.322844564 +0000 UTC m=+604.069694568, time spent = 355.702µs, remote = 10.201.5.82:39628, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-b1f7b312-c3f9-477c-92e4-092da4790632" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-b1f7b312-c3f9-477c-92e4-092da4790632" > > failure:<>
Dec 17 16:04:32 ubuntu etcd[67541]: start time = 2024-12-17 16:04:32.538672972 +0000 UTC m=+604.285522946, time spent = 243.146µs, remote = 10.201.5.82:39628, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 17 16:04:32 ubuntu etcd[67541]: start time = 2024-12-17 16:04:32.540975416 +0000 UTC m=+604.287825390, time spent = 180.431µs, remote = 10.201.5.82:39628, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-b1f7b312-c3f9-477c-92e4-092da4790632" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-b1f7b312-c3f9-477c-92e4-092da4790632" value_size:16 lease:5727333895577288993 >> failure:<request_range:<key:"/tooz/lockscinder-b1f7b312-c3f9-477c-92e4-092da4790632" > >
Dec 17 16:04:33 ubuntu etcd[67541]: start time = 2024-12-17 16:04:33.328968672 +0000 UTC m=+605.075818649, time spent = 273.959µs, remote = 10.201.5.82:39628, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-b1f7b312-c3f9-477c-92e4-092da4790632" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-b1f7b312-c3f9-477c-92e4-092da4790632" > > failure:<>
