Jun 11 14:28:19 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 11 14:28:19 ubuntu etcd[79600]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 11 14:28:19 ubuntu etcd[79600]:         A future release of golang/protobuf will delete this package,
Jun 11 14:28:19 ubuntu etcd[79600]:         which has long been excluded from the compatibility promise.
Jun 11 14:28:19 ubuntu etcd[79600]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 11 14:28:19 ubuntu etcd[79600]: Running http and grpc server on single port. This is not recommended for production.
Jun 11 14:28:19 ubuntu etcd[79600]: etcd Version: 3.4.27
Jun 11 14:28:19 ubuntu etcd[79600]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 11 14:28:19 ubuntu etcd[79600]: Git SHA: c92fb80f3
Jun 11 14:28:19 ubuntu etcd[79600]: Go Version: go1.19.10
Jun 11 14:28:19 ubuntu etcd[79600]: Go OS/Arch: linux/amd64
Jun 11 14:28:19 ubuntu etcd[79600]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 11 14:28:19 ubuntu etcd[79600]: Running http and grpc server on single port. This is not recommended for production.
Jun 11 14:28:19 ubuntu etcd[79600]: name = ubuntu
Jun 11 14:28:19 ubuntu etcd[79600]: data dir = /opt/stack/data/etcd
Jun 11 14:28:19 ubuntu etcd[79600]: member dir = /opt/stack/data/etcd/member
Jun 11 14:28:19 ubuntu etcd[79600]: heartbeat = 100ms
Jun 11 14:28:19 ubuntu etcd[79600]: election = 1000ms
Jun 11 14:28:19 ubuntu etcd[79600]: snapshot count = 100000
Jun 11 14:28:19 ubuntu etcd[79600]: advertise client URLs = http://10.201.5.82:2379
Jun 11 14:28:19 ubuntu etcd[79600]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 11 14:28:19 ubuntu etcd[79600]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jun 11 14:28:19 ubuntu etcd[79600]: raft2025/06/11 14:28:19 INFO: 43038365673ccf7b switched to configuration voters=()
Jun 11 14:28:19 ubuntu etcd[79600]: raft2025/06/11 14:28:19 INFO: 43038365673ccf7b became follower at term 0
Jun 11 14:28:19 ubuntu etcd[79600]: raft2025/06/11 14:28:19 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 11 14:28:19 ubuntu etcd[79600]: raft2025/06/11 14:28:19 INFO: 43038365673ccf7b became follower at term 1
Jun 11 14:28:19 ubuntu etcd[79600]: raft2025/06/11 14:28:19 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 11 14:28:19 ubuntu etcd[79600]: simple token is not cryptographically signed
Jun 11 14:28:19 ubuntu etcd[79600]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 11 14:28:19 ubuntu etcd[79600]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 11 14:28:19 ubuntu etcd[79600]: raft2025/06/11 14:28:19 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 11 14:28:19 ubuntu etcd[79600]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jun 11 14:28:19 ubuntu etcd[79600]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 11 14:28:19 ubuntu etcd[79600]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 11 14:28:19 ubuntu etcd[79600]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 11 14:28:19 ubuntu etcd[79600]: listening for peers on [::]:2380
Jun 11 14:28:19 ubuntu etcd[79600]: raft2025/06/11 14:28:19 INFO: 43038365673ccf7b is starting a new election at term 1
Jun 11 14:28:19 ubuntu etcd[79600]: raft2025/06/11 14:28:19 INFO: 43038365673ccf7b became candidate at term 2
Jun 11 14:28:19 ubuntu etcd[79600]: raft2025/06/11 14:28:19 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jun 11 14:28:19 ubuntu etcd[79600]: raft2025/06/11 14:28:19 INFO: 43038365673ccf7b became leader at term 2
Jun 11 14:28:19 ubuntu etcd[79600]: raft2025/06/11 14:28:19 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jun 11 14:28:19 ubuntu etcd[79600]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jun 11 14:28:19 ubuntu etcd[79600]: ready to serve client requests
Jun 11 14:28:19 ubuntu etcd[79600]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jun 11 14:28:19 ubuntu etcd[79600]: setting up the initial cluster version to 3.4
Jun 11 14:28:19 ubuntu etcd[79600]: set the initial cluster version to 3.4
Jun 11 14:28:19 ubuntu etcd[79600]: enabled capabilities for version 3.4
Jun 11 14:28:19 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 11 14:32:58 ubuntu etcd[79600]: start time = 2025-06-11 14:32:58.389497842 +0000 UTC m=+279.326304514, time spent = 515.554µs, remote = 10.201.5.82:42786, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 14:32:58 ubuntu etcd[79600]: start time = 2025-06-11 14:32:58.394061129 +0000 UTC m=+279.330867811, time spent = 286.172µs, remote = 10.201.5.82:42786, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 14:33:05 ubuntu etcd[79600]: start time = 2025-06-11 14:33:05.463246008 +0000 UTC m=+286.400052687, time spent = 177.41µs, remote = 10.201.5.82:42786, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 14:33:07 ubuntu etcd[79600]: start time = 2025-06-11 14:33:07.481040144 +0000 UTC m=+288.417846820, time spent = 265.739µs, remote = 10.201.5.82:42786, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 14:36:22 ubuntu etcd[79600]: start time = 2025-06-11 14:36:22.927513601 +0000 UTC m=+483.864320275, time spent = 342.059µs, remote = 10.201.5.82:42786, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 14:36:22 ubuntu etcd[79600]: start time = 2025-06-11 14:36:22.955048764 +0000 UTC m=+483.891855442, time spent = 208.835µs, remote = 10.201.5.82:42786, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 14:36:24 ubuntu etcd[79600]: start time = 2025-06-11 14:36:24.962444521 +0000 UTC m=+485.899251200, time spent = 258.707µs, remote = 10.201.5.82:42786, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 14:36:27 ubuntu etcd[79600]: start time = 2025-06-11 14:36:27.028606243 +0000 UTC m=+487.965412976, time spent = 431.747µs, remote = 10.201.5.82:42786, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 14:38:11 ubuntu etcd[79600]: start time = 2025-06-11 14:38:11.087255017 +0000 UTC m=+592.024061744, time spent = 392.871µs, remote = 10.201.5.82:42786, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 14:38:11 ubuntu etcd[79600]: start time = 2025-06-11 14:38:11.09929333 +0000 UTC m=+592.036100040, time spent = 3.891635ms, remote = 10.201.5.82:42786, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-a5921f83-5438-4f0b-8728-e44b0c45ecb4" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-a5921f83-5438-4f0b-8728-e44b0c45ecb4" value_size:16 lease:5727337787092379929 >> failure:<request_range:<key:"/tooz/lockscinder-a5921f83-5438-4f0b-8728-e44b0c45ecb4" > >
Jun 11 14:38:13 ubuntu etcd[79600]: start time = 2025-06-11 14:38:13.535493356 +0000 UTC m=+594.472300145, time spent = 510.711µs, remote = 10.201.5.82:42786, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-a5921f83-5438-4f0b-8728-e44b0c45ecb4" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-a5921f83-5438-4f0b-8728-e44b0c45ecb4" > > failure:<>
Jun 11 14:38:13 ubuntu etcd[79600]: start time = 2025-06-11 14:38:13.758844502 +0000 UTC m=+594.695651184, time spent = 315.428µs, remote = 10.201.5.82:42786, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 14:38:13 ubuntu etcd[79600]: start time = 2025-06-11 14:38:13.761293716 +0000 UTC m=+594.698100401, time spent = 542.934µs, remote = 10.201.5.82:42786, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-a5921f83-5438-4f0b-8728-e44b0c45ecb4" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-a5921f83-5438-4f0b-8728-e44b0c45ecb4" value_size:16 lease:5727337787092379933 >> failure:<request_range:<key:"/tooz/lockscinder-a5921f83-5438-4f0b-8728-e44b0c45ecb4" > >
Jun 11 14:38:15 ubuntu etcd[79600]: start time = 2025-06-11 14:38:15.454747598 +0000 UTC m=+596.391554391, time spent = 1.553678ms, remote = 10.201.5.82:42786, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-a5921f83-5438-4f0b-8728-e44b0c45ecb4" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-a5921f83-5438-4f0b-8728-e44b0c45ecb4" > > failure:<>
Jun 11 14:38:15 ubuntu etcd[79600]: start time = 2025-06-11 14:38:15.676787938 +0000 UTC m=+596.613594643, time spent = 316.599µs, remote = 10.201.5.82:42786, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 14:38:15 ubuntu etcd[79600]: start time = 2025-06-11 14:38:15.678698801 +0000 UTC m=+596.615505508, time spent = 212.291µs, remote = 10.201.5.82:42786, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-a5921f83-5438-4f0b-8728-e44b0c45ecb4" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-a5921f83-5438-4f0b-8728-e44b0c45ecb4" value_size:16 lease:5727337787092379937 >> failure:<request_range:<key:"/tooz/lockscinder-a5921f83-5438-4f0b-8728-e44b0c45ecb4" > >
Jun 11 14:38:17 ubuntu etcd[79600]: start time = 2025-06-11 14:38:17.523856737 +0000 UTC m=+598.460663507, time spent = 626.258µs, remote = 10.201.5.82:42786, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-a5921f83-5438-4f0b-8728-e44b0c45ecb4" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-a5921f83-5438-4f0b-8728-e44b0c45ecb4" > > failure:<>
Jun 11 15:18:47 ubuntu etcd[79600]: start time = 2025-06-11 15:18:47.099136085 +0000 UTC m=+3028.035942813, time spent = 1.162114ms, remote = 10.201.5.82:42786, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 15:18:47 ubuntu etcd[79600]: start time = 2025-06-11 15:18:47.102751073 +0000 UTC m=+3028.039557748, time spent = 303.205µs, remote = 10.201.5.82:42786, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-33795f55-13e4-416c-95ed-f30839b1fcb8" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-33795f55-13e4-416c-95ed-f30839b1fcb8" value_size:16 lease:5727337787092379944 >> failure:<request_range:<key:"/tooz/lockscinder-33795f55-13e4-416c-95ed-f30839b1fcb8" > >
Jun 11 15:18:49 ubuntu etcd[79600]: start time = 2025-06-11 15:18:49.388630665 +0000 UTC m=+3030.325437375, time spent = 443.655µs, remote = 10.201.5.82:42786, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-33795f55-13e4-416c-95ed-f30839b1fcb8" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-33795f55-13e4-416c-95ed-f30839b1fcb8" > > failure:<>
Jun 11 15:18:49 ubuntu etcd[79600]: start time = 2025-06-11 15:18:49.596496121 +0000 UTC m=+3030.533302894, time spent = 641.24µs, remote = 10.201.5.82:42786, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 15:18:49 ubuntu etcd[79600]: start time = 2025-06-11 15:18:49.599345849 +0000 UTC m=+3030.536152529, time spent = 257.295µs, remote = 10.201.5.82:42786, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-33795f55-13e4-416c-95ed-f30839b1fcb8" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-33795f55-13e4-416c-95ed-f30839b1fcb8" value_size:16 lease:5727337787092379948 >> failure:<request_range:<key:"/tooz/lockscinder-33795f55-13e4-416c-95ed-f30839b1fcb8" > >
Jun 11 15:18:50 ubuntu etcd[79600]: start time = 2025-06-11 15:18:50.813431473 +0000 UTC m=+3031.750238257, time spent = 762.013µs, remote = 10.201.5.82:42786, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-33795f55-13e4-416c-95ed-f30839b1fcb8" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-33795f55-13e4-416c-95ed-f30839b1fcb8" > > failure:<>
Jun 11 15:18:51 ubuntu etcd[79600]: start time = 2025-06-11 15:18:51.036319095 +0000 UTC m=+3031.973125791, time spent = 620.594µs, remote = 10.201.5.82:42786, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 15:18:51 ubuntu etcd[79600]: start time = 2025-06-11 15:18:51.039236283 +0000 UTC m=+3031.976043012, time spent = 426.72µs, remote = 10.201.5.82:42786, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-33795f55-13e4-416c-95ed-f30839b1fcb8" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-33795f55-13e4-416c-95ed-f30839b1fcb8" value_size:16 lease:5727337787092379952 >> failure:<request_range:<key:"/tooz/lockscinder-33795f55-13e4-416c-95ed-f30839b1fcb8" > >
Jun 11 15:18:52 ubuntu etcd[79600]: start time = 2025-06-11 15:18:52.264075442 +0000 UTC m=+3033.200882216, time spent = 731.129µs, remote = 10.201.5.82:42786, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-33795f55-13e4-416c-95ed-f30839b1fcb8" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-33795f55-13e4-416c-95ed-f30839b1fcb8" > > failure:<>
