May 20 09:33:15 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 20 09:33:15 ubuntu etcd[79680]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 20 09:33:15 ubuntu etcd[79680]:         A future release of golang/protobuf will delete this package,
May 20 09:33:15 ubuntu etcd[79680]:         which has long been excluded from the compatibility promise.
May 20 09:33:15 ubuntu etcd[79680]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 20 09:33:15 ubuntu etcd[79680]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 20 09:33:15 ubuntu etcd[79680]: Running http and grpc server on single port. This is not recommended for production.
May 20 09:33:15 ubuntu etcd[79680]: etcd Version: 3.4.27
May 20 09:33:15 ubuntu etcd[79680]: Git SHA: c92fb80f3
May 20 09:33:15 ubuntu etcd[79680]: Go Version: go1.19.10
May 20 09:33:15 ubuntu etcd[79680]: Go OS/Arch: linux/amd64
May 20 09:33:15 ubuntu etcd[79680]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 20 09:33:15 ubuntu etcd[79680]: Running http and grpc server on single port. This is not recommended for production.
May 20 09:33:15 ubuntu etcd[79680]: name = ubuntu
May 20 09:33:15 ubuntu etcd[79680]: data dir = /opt/stack/data/etcd
May 20 09:33:15 ubuntu etcd[79680]: member dir = /opt/stack/data/etcd/member
May 20 09:33:15 ubuntu etcd[79680]: heartbeat = 100ms
May 20 09:33:15 ubuntu etcd[79680]: election = 1000ms
May 20 09:33:15 ubuntu etcd[79680]: snapshot count = 100000
May 20 09:33:15 ubuntu etcd[79680]: advertise client URLs = http://10.201.5.82:2379
May 20 09:33:15 ubuntu etcd[79680]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 20 09:33:15 ubuntu etcd[79680]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
May 20 09:33:15 ubuntu etcd[79680]: raft2025/05/20 09:33:15 INFO: 43038365673ccf7b switched to configuration voters=()
May 20 09:33:15 ubuntu etcd[79680]: raft2025/05/20 09:33:15 INFO: 43038365673ccf7b became follower at term 0
May 20 09:33:15 ubuntu etcd[79680]: raft2025/05/20 09:33:15 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 20 09:33:15 ubuntu etcd[79680]: raft2025/05/20 09:33:15 INFO: 43038365673ccf7b became follower at term 1
May 20 09:33:15 ubuntu etcd[79680]: raft2025/05/20 09:33:15 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
May 20 09:33:15 ubuntu etcd[79680]: simple token is not cryptographically signed
May 20 09:33:15 ubuntu etcd[79680]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 20 09:33:15 ubuntu etcd[79680]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
May 20 09:33:15 ubuntu etcd[79680]: raft2025/05/20 09:33:15 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
May 20 09:33:15 ubuntu etcd[79680]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 20 09:33:15 ubuntu etcd[79680]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 20 09:33:15 ubuntu etcd[79680]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
May 20 09:33:15 ubuntu etcd[79680]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 20 09:33:15 ubuntu etcd[79680]: listening for peers on [::]:2380
May 20 09:33:16 ubuntu etcd[79680]: raft2025/05/20 09:33:16 INFO: 43038365673ccf7b is starting a new election at term 1
May 20 09:33:16 ubuntu etcd[79680]: raft2025/05/20 09:33:16 INFO: 43038365673ccf7b became candidate at term 2
May 20 09:33:16 ubuntu etcd[79680]: raft2025/05/20 09:33:16 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
May 20 09:33:16 ubuntu etcd[79680]: raft2025/05/20 09:33:16 INFO: 43038365673ccf7b became leader at term 2
May 20 09:33:16 ubuntu etcd[79680]: raft2025/05/20 09:33:16 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
May 20 09:33:16 ubuntu etcd[79680]: ready to serve client requests
May 20 09:33:16 ubuntu etcd[79680]: setting up the initial cluster version to 3.4
May 20 09:33:16 ubuntu etcd[79680]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
May 20 09:33:16 ubuntu etcd[79680]: set the initial cluster version to 3.4
May 20 09:33:16 ubuntu etcd[79680]: enabled capabilities for version 3.4
May 20 09:33:16 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 20 09:33:16 ubuntu etcd[79680]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
May 20 09:38:03 ubuntu etcd[79680]: start time = 2025-05-20 09:38:03.997221641 +0000 UTC m=+288.428646080, time spent = 1.580511ms, remote = 10.201.5.82:54390, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 20 09:38:04 ubuntu etcd[79680]: start time = 2025-05-20 09:38:04.010669569 +0000 UTC m=+288.442094006, time spent = 306.412µs, remote = 10.201.5.82:54390, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 20 09:38:10 ubuntu etcd[79680]: start time = 2025-05-20 09:38:10.907040884 +0000 UTC m=+295.338465331, time spent = 241.396µs, remote = 10.201.5.82:54390, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 20 09:38:13 ubuntu etcd[79680]: start time = 2025-05-20 09:38:13.192097199 +0000 UTC m=+297.623521651, time spent = 285.332µs, remote = 10.201.5.82:54390, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 20 09:42:02 ubuntu etcd[79680]: start time = 2025-05-20 09:42:02.941413299 +0000 UTC m=+527.372837737, time spent = 532.97µs, remote = 10.201.5.82:54390, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 20 09:42:03 ubuntu etcd[79680]: start time = 2025-05-20 09:42:03.030418246 +0000 UTC m=+527.461842698, time spent = 224.872µs, remote = 10.201.5.82:54390, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 20 09:42:03 ubuntu etcd[79680]: start time = 2025-05-20 09:42:03.794680841 +0000 UTC m=+528.226105295, time spent = 358.589µs, remote = 10.201.5.82:54390, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 20 09:42:05 ubuntu etcd[79680]: start time = 2025-05-20 09:42:05.906003806 +0000 UTC m=+530.337428258, time spent = 663.379µs, remote = 10.201.5.82:54390, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 20 09:43:52 ubuntu etcd[79680]: start time = 2025-05-20 09:43:52.159772619 +0000 UTC m=+636.591197155, time spent = 483.376µs, remote = 10.201.5.82:54390, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 20 09:43:52 ubuntu etcd[79680]: start time = 2025-05-20 09:43:52.170525337 +0000 UTC m=+636.601949874, time spent = 3.546654ms, remote = 10.201.5.82:54390, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-f555ceff-7b6f-4244-880c-eba7e704ad47" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-f555ceff-7b6f-4244-880c-eba7e704ad47" value_size:16 lease:5727337295955489305 >> failure:<request_range:<key:"/tooz/lockscinder-f555ceff-7b6f-4244-880c-eba7e704ad47" > >
May 20 09:43:55 ubuntu etcd[79680]: start time = 2025-05-20 09:43:55.023006604 +0000 UTC m=+639.454431159, time spent = 634.153µs, remote = 10.201.5.82:54390, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-f555ceff-7b6f-4244-880c-eba7e704ad47" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-f555ceff-7b6f-4244-880c-eba7e704ad47" > > failure:<>
May 20 09:43:55 ubuntu etcd[79680]: start time = 2025-05-20 09:43:55.294713249 +0000 UTC m=+639.726137702, time spent = 320.633µs, remote = 10.201.5.82:54390, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 20 09:43:55 ubuntu etcd[79680]: start time = 2025-05-20 09:43:55.29699291 +0000 UTC m=+639.728417454, time spent = 1.231192ms, remote = 10.201.5.82:54390, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-f555ceff-7b6f-4244-880c-eba7e704ad47" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-f555ceff-7b6f-4244-880c-eba7e704ad47" value_size:16 lease:5727337295955489309 >> failure:<request_range:<key:"/tooz/lockscinder-f555ceff-7b6f-4244-880c-eba7e704ad47" > >
May 20 09:43:57 ubuntu etcd[79680]: start time = 2025-05-20 09:43:57.677435336 +0000 UTC m=+642.108859852, time spent = 782.461µs, remote = 10.201.5.82:54390, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-f555ceff-7b6f-4244-880c-eba7e704ad47" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-f555ceff-7b6f-4244-880c-eba7e704ad47" > > failure:<>
May 20 09:43:57 ubuntu etcd[79680]: start time = 2025-05-20 09:43:57.908071361 +0000 UTC m=+642.339495813, time spent = 391.131µs, remote = 10.201.5.82:54390, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 20 09:43:57 ubuntu etcd[79680]: start time = 2025-05-20 09:43:57.910056501 +0000 UTC m=+642.341480955, time spent = 229.532µs, remote = 10.201.5.82:54390, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-f555ceff-7b6f-4244-880c-eba7e704ad47" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-f555ceff-7b6f-4244-880c-eba7e704ad47" value_size:16 lease:5727337295955489313 >> failure:<request_range:<key:"/tooz/lockscinder-f555ceff-7b6f-4244-880c-eba7e704ad47" > >
May 20 09:43:59 ubuntu etcd[79680]: start time = 2025-05-20 09:43:59.739465721 +0000 UTC m=+644.170890215, time spent = 724.705µs, remote = 10.201.5.82:54390, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-f555ceff-7b6f-4244-880c-eba7e704ad47" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-f555ceff-7b6f-4244-880c-eba7e704ad47" > > failure:<>
