Jun 04 05:29:15 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 04 05:29:15 ubuntu etcd[79652]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 04 05:29:15 ubuntu etcd[79652]:         A future release of golang/protobuf will delete this package,
Jun 04 05:29:15 ubuntu etcd[79652]:         which has long been excluded from the compatibility promise.
Jun 04 05:29:15 ubuntu etcd[79652]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 04 05:29:15 ubuntu etcd[79652]: Running http and grpc server on single port. This is not recommended for production.
Jun 04 05:29:15 ubuntu etcd[79652]: etcd Version: 3.4.27
Jun 04 05:29:15 ubuntu etcd[79652]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 04 05:29:15 ubuntu etcd[79652]: Git SHA: c92fb80f3
Jun 04 05:29:15 ubuntu etcd[79652]: Go Version: go1.19.10
Jun 04 05:29:15 ubuntu etcd[79652]: Go OS/Arch: linux/amd64
Jun 04 05:29:15 ubuntu etcd[79652]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 04 05:29:15 ubuntu etcd[79652]: Running http and grpc server on single port. This is not recommended for production.
Jun 04 05:29:15 ubuntu etcd[79652]: name = ubuntu
Jun 04 05:29:15 ubuntu etcd[79652]: data dir = /opt/stack/data/etcd
Jun 04 05:29:15 ubuntu etcd[79652]: member dir = /opt/stack/data/etcd/member
Jun 04 05:29:15 ubuntu etcd[79652]: heartbeat = 100ms
Jun 04 05:29:15 ubuntu etcd[79652]: election = 1000ms
Jun 04 05:29:15 ubuntu etcd[79652]: snapshot count = 100000
Jun 04 05:29:15 ubuntu etcd[79652]: advertise client URLs = http://10.201.5.82:2379
Jun 04 05:29:15 ubuntu etcd[79652]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 04 05:29:15 ubuntu etcd[79652]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jun 04 05:29:15 ubuntu etcd[79652]: raft2025/06/04 05:29:15 INFO: 43038365673ccf7b switched to configuration voters=()
Jun 04 05:29:15 ubuntu etcd[79652]: raft2025/06/04 05:29:15 INFO: 43038365673ccf7b became follower at term 0
Jun 04 05:29:15 ubuntu etcd[79652]: raft2025/06/04 05:29:15 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 04 05:29:15 ubuntu etcd[79652]: raft2025/06/04 05:29:15 INFO: 43038365673ccf7b became follower at term 1
Jun 04 05:29:15 ubuntu etcd[79652]: raft2025/06/04 05:29:15 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 04 05:29:15 ubuntu etcd[79652]: simple token is not cryptographically signed
Jun 04 05:29:15 ubuntu etcd[79652]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 04 05:29:15 ubuntu etcd[79652]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 04 05:29:15 ubuntu etcd[79652]: raft2025/06/04 05:29:15 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 04 05:29:15 ubuntu etcd[79652]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 04 05:29:15 ubuntu etcd[79652]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 04 05:29:15 ubuntu etcd[79652]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 04 05:29:15 ubuntu etcd[79652]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jun 04 05:29:15 ubuntu etcd[79652]: listening for peers on [::]:2380
Jun 04 05:29:15 ubuntu etcd[79652]: raft2025/06/04 05:29:15 INFO: 43038365673ccf7b is starting a new election at term 1
Jun 04 05:29:15 ubuntu etcd[79652]: raft2025/06/04 05:29:15 INFO: 43038365673ccf7b became candidate at term 2
Jun 04 05:29:15 ubuntu etcd[79652]: raft2025/06/04 05:29:15 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jun 04 05:29:15 ubuntu etcd[79652]: raft2025/06/04 05:29:15 INFO: 43038365673ccf7b became leader at term 2
Jun 04 05:29:15 ubuntu etcd[79652]: raft2025/06/04 05:29:15 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jun 04 05:29:15 ubuntu etcd[79652]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jun 04 05:29:15 ubuntu etcd[79652]: setting up the initial cluster version to 3.4
Jun 04 05:29:15 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 04 05:29:15 ubuntu etcd[79652]: ready to serve client requests
Jun 04 05:29:15 ubuntu etcd[79652]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jun 04 05:29:15 ubuntu etcd[79652]: set the initial cluster version to 3.4
Jun 04 05:29:15 ubuntu etcd[79652]: enabled capabilities for version 3.4
Jun 04 05:33:58 ubuntu etcd[79652]: start time = 2025-06-04 05:33:58.403386841 +0000 UTC m=+283.177383535, time spent = 2.01204ms, remote = 10.201.5.82:48450, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 04 05:33:58 ubuntu etcd[79652]: start time = 2025-06-04 05:33:58.452508246 +0000 UTC m=+283.226504956, time spent = 239.969µs, remote = 10.201.5.82:48450, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 04 05:34:05 ubuntu etcd[79652]: start time = 2025-06-04 05:34:05.312012629 +0000 UTC m=+290.086009308, time spent = 258.711µs, remote = 10.201.5.82:48450, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 04 05:34:07 ubuntu etcd[79652]: start time = 2025-06-04 05:34:07.30064103 +0000 UTC m=+292.074637719, time spent = 462.27µs, remote = 10.201.5.82:48450, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 04 05:37:58 ubuntu etcd[79652]: start time = 2025-06-04 05:37:58.594443002 +0000 UTC m=+523.368439683, time spent = 298.323µs, remote = 10.201.5.82:48450, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 04 05:37:58 ubuntu etcd[79652]: start time = 2025-06-04 05:37:58.595042307 +0000 UTC m=+523.369039003, time spent = 103.909µs, remote = 10.201.5.82:48450, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 04 05:37:59 ubuntu etcd[79652]: start time = 2025-06-04 05:37:59.993165105 +0000 UTC m=+524.767161796, time spent = 210.859µs, remote = 10.201.5.82:48450, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 04 05:38:02 ubuntu etcd[79652]: start time = 2025-06-04 05:38:02.420767261 +0000 UTC m=+527.194763981, time spent = 255.345µs, remote = 10.201.5.82:48450, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 04 05:39:48 ubuntu etcd[79652]: start time = 2025-06-04 05:39:48.931392095 +0000 UTC m=+633.705388785, time spent = 322.467µs, remote = 10.201.5.82:48450, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 04 05:39:48 ubuntu etcd[79652]: start time = 2025-06-04 05:39:48.94145638 +0000 UTC m=+633.715453062, time spent = 4.284643ms, remote = 10.201.5.82:48450, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-23ce78b9-4f82-4b07-b2a5-fd5ebc702613" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-23ce78b9-4f82-4b07-b2a5-fd5ebc702613" value_size:16 lease:5727337623983563289 >> failure:<request_range:<key:"/tooz/lockscinder-23ce78b9-4f82-4b07-b2a5-fd5ebc702613" > >
Jun 04 05:39:51 ubuntu etcd[79652]: start time = 2025-06-04 05:39:51.703786502 +0000 UTC m=+636.477783289, time spent = 558.31µs, remote = 10.201.5.82:48450, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-23ce78b9-4f82-4b07-b2a5-fd5ebc702613" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-23ce78b9-4f82-4b07-b2a5-fd5ebc702613" > > failure:<>
Jun 04 05:39:51 ubuntu etcd[79652]: start time = 2025-06-04 05:39:51.949634891 +0000 UTC m=+636.723631571, time spent = 358.897µs, remote = 10.201.5.82:48450, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 04 05:39:51 ubuntu etcd[79652]: start time = 2025-06-04 05:39:51.951978539 +0000 UTC m=+636.725975338, time spent = 563.565µs, remote = 10.201.5.82:48450, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-23ce78b9-4f82-4b07-b2a5-fd5ebc702613" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-23ce78b9-4f82-4b07-b2a5-fd5ebc702613" value_size:16 lease:5727337623983563293 >> failure:<request_range:<key:"/tooz/lockscinder-23ce78b9-4f82-4b07-b2a5-fd5ebc702613" > >
Jun 04 05:39:54 ubuntu etcd[79652]: start time = 2025-06-04 05:39:54.435275019 +0000 UTC m=+639.209271724, time spent = 347.65µs, remote = 10.201.5.82:48450, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-23ce78b9-4f82-4b07-b2a5-fd5ebc702613" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-23ce78b9-4f82-4b07-b2a5-fd5ebc702613" > > failure:<>
Jun 04 05:39:54 ubuntu etcd[79652]: start time = 2025-06-04 05:39:54.667493289 +0000 UTC m=+639.441489982, time spent = 286.397µs, remote = 10.201.5.82:48450, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 04 05:39:54 ubuntu etcd[79652]: start time = 2025-06-04 05:39:54.673242023 +0000 UTC m=+639.447238821, time spent = 448.474µs, remote = 10.201.5.82:48450, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-23ce78b9-4f82-4b07-b2a5-fd5ebc702613" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-23ce78b9-4f82-4b07-b2a5-fd5ebc702613" value_size:16 lease:5727337623983563297 >> failure:<request_range:<key:"/tooz/lockscinder-23ce78b9-4f82-4b07-b2a5-fd5ebc702613" > >
Jun 04 05:39:56 ubuntu etcd[79652]: start time = 2025-06-04 05:39:56.577877521 +0000 UTC m=+641.351874328, time spent = 855.136µs, remote = 10.201.5.82:48450, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-23ce78b9-4f82-4b07-b2a5-fd5ebc702613" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-23ce78b9-4f82-4b07-b2a5-fd5ebc702613" > > failure:<>
