Jul 29 09:57:08 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 29 09:57:08 ubuntu etcd[79439]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 29 09:57:08 ubuntu etcd[79439]:         A future release of golang/protobuf will delete this package,
Jul 29 09:57:08 ubuntu etcd[79439]:         which has long been excluded from the compatibility promise.
Jul 29 09:57:08 ubuntu etcd[79439]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 29 09:57:08 ubuntu etcd[79439]: Running http and grpc server on single port. This is not recommended for production.
Jul 29 09:57:08 ubuntu etcd[79439]: etcd Version: 3.4.27
Jul 29 09:57:08 ubuntu etcd[79439]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 29 09:57:08 ubuntu etcd[79439]: Git SHA: c92fb80f3
Jul 29 09:57:08 ubuntu etcd[79439]: Go Version: go1.19.10
Jul 29 09:57:08 ubuntu etcd[79439]: Go OS/Arch: linux/amd64
Jul 29 09:57:08 ubuntu etcd[79439]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 29 09:57:08 ubuntu etcd[79439]: Running http and grpc server on single port. This is not recommended for production.
Jul 29 09:57:08 ubuntu etcd[79439]: name = ubuntu
Jul 29 09:57:08 ubuntu etcd[79439]: data dir = /opt/stack/data/etcd
Jul 29 09:57:08 ubuntu etcd[79439]: member dir = /opt/stack/data/etcd/member
Jul 29 09:57:08 ubuntu etcd[79439]: heartbeat = 100ms
Jul 29 09:57:08 ubuntu etcd[79439]: election = 1000ms
Jul 29 09:57:08 ubuntu etcd[79439]: snapshot count = 100000
Jul 29 09:57:08 ubuntu etcd[79439]: advertise client URLs = http://10.201.5.82:2379
Jul 29 09:57:08 ubuntu etcd[79439]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 29 09:57:08 ubuntu etcd[79439]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jul 29 09:57:08 ubuntu etcd[79439]: raft2025/07/29 09:57:08 INFO: 43038365673ccf7b switched to configuration voters=()
Jul 29 09:57:08 ubuntu etcd[79439]: raft2025/07/29 09:57:08 INFO: 43038365673ccf7b became follower at term 0
Jul 29 09:57:08 ubuntu etcd[79439]: raft2025/07/29 09:57:08 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 29 09:57:08 ubuntu etcd[79439]: raft2025/07/29 09:57:08 INFO: 43038365673ccf7b became follower at term 1
Jul 29 09:57:08 ubuntu etcd[79439]: raft2025/07/29 09:57:08 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 29 09:57:08 ubuntu etcd[79439]: simple token is not cryptographically signed
Jul 29 09:57:08 ubuntu etcd[79439]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 29 09:57:08 ubuntu etcd[79439]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 29 09:57:08 ubuntu etcd[79439]: raft2025/07/29 09:57:08 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 29 09:57:08 ubuntu etcd[79439]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jul 29 09:57:08 ubuntu etcd[79439]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 29 09:57:08 ubuntu etcd[79439]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 29 09:57:08 ubuntu etcd[79439]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 29 09:57:08 ubuntu etcd[79439]: listening for peers on [::]:2380
Jul 29 09:57:09 ubuntu etcd[79439]: raft2025/07/29 09:57:09 INFO: 43038365673ccf7b is starting a new election at term 1
Jul 29 09:57:09 ubuntu etcd[79439]: raft2025/07/29 09:57:09 INFO: 43038365673ccf7b became candidate at term 2
Jul 29 09:57:09 ubuntu etcd[79439]: raft2025/07/29 09:57:09 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jul 29 09:57:09 ubuntu etcd[79439]: raft2025/07/29 09:57:09 INFO: 43038365673ccf7b became leader at term 2
Jul 29 09:57:09 ubuntu etcd[79439]: raft2025/07/29 09:57:09 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jul 29 09:57:09 ubuntu etcd[79439]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jul 29 09:57:09 ubuntu etcd[79439]: setting up the initial cluster version to 3.4
Jul 29 09:57:09 ubuntu etcd[79439]: ready to serve client requests
Jul 29 09:57:09 ubuntu etcd[79439]: set the initial cluster version to 3.4
Jul 29 09:57:09 ubuntu etcd[79439]: enabled capabilities for version 3.4
Jul 29 09:57:09 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 29 09:57:09 ubuntu etcd[79439]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jul 29 10:01:50 ubuntu etcd[79439]: start time = 2025-07-29 10:01:50.386617388 +0000 UTC m=+281.717369838, time spent = 642.613µs, remote = 10.201.5.82:60546, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 29 10:01:50 ubuntu etcd[79439]: start time = 2025-07-29 10:01:50.411989737 +0000 UTC m=+281.742742197, time spent = 216.477µs, remote = 10.201.5.82:60546, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 29 10:01:57 ubuntu etcd[79439]: start time = 2025-07-29 10:01:57.267079387 +0000 UTC m=+288.597831843, time spent = 184.495µs, remote = 10.201.5.82:60546, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 29 10:01:59 ubuntu etcd[79439]: start time = 2025-07-29 10:01:59.32154863 +0000 UTC m=+290.652301090, time spent = 240.369µs, remote = 10.201.5.82:60546, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 29 10:05:21 ubuntu etcd[79439]: start time = 2025-07-29 10:05:21.586624332 +0000 UTC m=+492.917376775, time spent = 330.601µs, remote = 10.201.5.82:60546, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 29 10:05:21 ubuntu etcd[79439]: start time = 2025-07-29 10:05:21.616950716 +0000 UTC m=+492.947703171, time spent = 170.447µs, remote = 10.201.5.82:60546, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 29 10:05:21 ubuntu etcd[79439]: start time = 2025-07-29 10:05:21.940347062 +0000 UTC m=+493.271099524, time spent = 304.701µs, remote = 10.201.5.82:60546, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 29 10:05:24 ubuntu etcd[79439]: start time = 2025-07-29 10:05:24.162771122 +0000 UTC m=+495.493523579, time spent = 289.767µs, remote = 10.201.5.82:60546, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 29 10:12:09 ubuntu etcd[79439]: start time = 2025-07-29 10:12:09.036223168 +0000 UTC m=+900.366975613, time spent = 383.954µs, remote = 10.201.5.82:60546, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 29 10:12:09 ubuntu etcd[79439]: start time = 2025-07-29 10:12:09.045590071 +0000 UTC m=+900.376342515, time spent = 3.170824ms, remote = 10.201.5.82:60546, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-07c50993-7040-4a61-b615-7a67be073abf" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-07c50993-7040-4a61-b615-7a67be073abf" value_size:16 lease:5727338844610358553 >> failure:<request_range:<key:"/tooz/lockscinder-07c50993-7040-4a61-b615-7a67be073abf" > >
Jul 29 10:12:11 ubuntu etcd[79439]: start time = 2025-07-29 10:12:11.672050978 +0000 UTC m=+903.002803442, time spent = 365.56µs, remote = 10.201.5.82:60546, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-07c50993-7040-4a61-b615-7a67be073abf" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-07c50993-7040-4a61-b615-7a67be073abf" > > failure:<>
Jul 29 10:12:11 ubuntu etcd[79439]: start time = 2025-07-29 10:12:11.876884672 +0000 UTC m=+903.207637127, time spent = 316.796µs, remote = 10.201.5.82:60546, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 29 10:12:11 ubuntu etcd[79439]: start time = 2025-07-29 10:12:11.879279258 +0000 UTC m=+903.210031717, time spent = 216.322µs, remote = 10.201.5.82:60546, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-07c50993-7040-4a61-b615-7a67be073abf" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-07c50993-7040-4a61-b615-7a67be073abf" value_size:16 lease:5727338844610358557 >> failure:<request_range:<key:"/tooz/lockscinder-07c50993-7040-4a61-b615-7a67be073abf" > >
Jul 29 10:12:13 ubuntu etcd[79439]: start time = 2025-07-29 10:12:13.712210091 +0000 UTC m=+905.042962650, time spent = 573.222µs, remote = 10.201.5.82:60546, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-07c50993-7040-4a61-b615-7a67be073abf" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-07c50993-7040-4a61-b615-7a67be073abf" > > failure:<>
Jul 29 10:12:13 ubuntu etcd[79439]: start time = 2025-07-29 10:12:13.960982792 +0000 UTC m=+905.291735236, time spent = 289.594µs, remote = 10.201.5.82:60546, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 29 10:12:13 ubuntu etcd[79439]: start time = 2025-07-29 10:12:13.96290023 +0000 UTC m=+905.293652693, time spent = 215.237µs, remote = 10.201.5.82:60546, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-07c50993-7040-4a61-b615-7a67be073abf" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-07c50993-7040-4a61-b615-7a67be073abf" value_size:16 lease:5727338844610358561 >> failure:<request_range:<key:"/tooz/lockscinder-07c50993-7040-4a61-b615-7a67be073abf" > >
Jul 29 10:12:15 ubuntu etcd[79439]: start time = 2025-07-29 10:12:15.86523298 +0000 UTC m=+907.195985542, time spent = 533.412µs, remote = 10.201.5.82:60546, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-07c50993-7040-4a61-b615-7a67be073abf" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-07c50993-7040-4a61-b615-7a67be073abf" > > failure:<>
