Jul 28 20:54:36 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 28 20:54:36 ubuntu etcd[79216]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 28 20:54:36 ubuntu etcd[79216]:         A future release of golang/protobuf will delete this package,
Jul 28 20:54:36 ubuntu etcd[79216]:         which has long been excluded from the compatibility promise.
Jul 28 20:54:36 ubuntu etcd[79216]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 28 20:54:36 ubuntu etcd[79216]: Running http and grpc server on single port. This is not recommended for production.
Jul 28 20:54:36 ubuntu etcd[79216]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 28 20:54:36 ubuntu etcd[79216]: etcd Version: 3.4.27
Jul 28 20:54:36 ubuntu etcd[79216]: Git SHA: c92fb80f3
Jul 28 20:54:36 ubuntu etcd[79216]: Go Version: go1.19.10
Jul 28 20:54:36 ubuntu etcd[79216]: Go OS/Arch: linux/amd64
Jul 28 20:54:36 ubuntu etcd[79216]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 28 20:54:36 ubuntu etcd[79216]: Running http and grpc server on single port. This is not recommended for production.
Jul 28 20:54:36 ubuntu etcd[79216]: name = ubuntu
Jul 28 20:54:36 ubuntu etcd[79216]: data dir = /opt/stack/data/etcd
Jul 28 20:54:36 ubuntu etcd[79216]: member dir = /opt/stack/data/etcd/member
Jul 28 20:54:36 ubuntu etcd[79216]: heartbeat = 100ms
Jul 28 20:54:36 ubuntu etcd[79216]: election = 1000ms
Jul 28 20:54:36 ubuntu etcd[79216]: snapshot count = 100000
Jul 28 20:54:36 ubuntu etcd[79216]: advertise client URLs = http://10.201.5.82:2379
Jul 28 20:54:36 ubuntu etcd[79216]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 28 20:54:36 ubuntu etcd[79216]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jul 28 20:54:36 ubuntu etcd[79216]: raft2025/07/28 20:54:36 INFO: 43038365673ccf7b switched to configuration voters=()
Jul 28 20:54:36 ubuntu etcd[79216]: raft2025/07/28 20:54:36 INFO: 43038365673ccf7b became follower at term 0
Jul 28 20:54:36 ubuntu etcd[79216]: raft2025/07/28 20:54:36 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 28 20:54:36 ubuntu etcd[79216]: raft2025/07/28 20:54:36 INFO: 43038365673ccf7b became follower at term 1
Jul 28 20:54:36 ubuntu etcd[79216]: raft2025/07/28 20:54:36 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 28 20:54:36 ubuntu etcd[79216]: simple token is not cryptographically signed
Jul 28 20:54:36 ubuntu etcd[79216]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 28 20:54:36 ubuntu etcd[79216]: raft2025/07/28 20:54:36 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 28 20:54:36 ubuntu etcd[79216]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jul 28 20:54:36 ubuntu etcd[79216]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 28 20:54:36 ubuntu etcd[79216]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 28 20:54:36 ubuntu etcd[79216]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 28 20:54:36 ubuntu etcd[79216]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 28 20:54:36 ubuntu etcd[79216]: listening for peers on [::]:2380
Jul 28 20:54:36 ubuntu etcd[79216]: raft2025/07/28 20:54:36 INFO: 43038365673ccf7b is starting a new election at term 1
Jul 28 20:54:36 ubuntu etcd[79216]: raft2025/07/28 20:54:36 INFO: 43038365673ccf7b became candidate at term 2
Jul 28 20:54:36 ubuntu etcd[79216]: raft2025/07/28 20:54:36 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jul 28 20:54:36 ubuntu etcd[79216]: raft2025/07/28 20:54:36 INFO: 43038365673ccf7b became leader at term 2
Jul 28 20:54:36 ubuntu etcd[79216]: raft2025/07/28 20:54:36 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jul 28 20:54:36 ubuntu etcd[79216]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jul 28 20:54:36 ubuntu etcd[79216]: setting up the initial cluster version to 3.4
Jul 28 20:54:36 ubuntu etcd[79216]: ready to serve client requests
Jul 28 20:54:36 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 28 20:54:36 ubuntu etcd[79216]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jul 28 20:54:36 ubuntu etcd[79216]: set the initial cluster version to 3.4
Jul 28 20:54:36 ubuntu etcd[79216]: enabled capabilities for version 3.4
Jul 28 20:59:26 ubuntu etcd[79216]: start time = 2025-07-28 20:59:26.091053387 +0000 UTC m=+289.770773775, time spent = 658.645µs, remote = 10.201.5.82:56846, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 28 20:59:26 ubuntu etcd[79216]: start time = 2025-07-28 20:59:26.094131817 +0000 UTC m=+289.773852220, time spent = 294.235µs, remote = 10.201.5.82:56846, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 28 20:59:33 ubuntu etcd[79216]: start time = 2025-07-28 20:59:33.252061472 +0000 UTC m=+296.931781875, time spent = 260.231µs, remote = 10.201.5.82:56846, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 28 20:59:35 ubuntu etcd[79216]: start time = 2025-07-28 20:59:35.270687128 +0000 UTC m=+298.950407533, time spent = 212.479µs, remote = 10.201.5.82:56846, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 28 21:03:10 ubuntu etcd[79216]: start time = 2025-07-28 21:03:10.518807335 +0000 UTC m=+514.198527723, time spent = 358.134µs, remote = 10.201.5.82:56846, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 28 21:03:10 ubuntu etcd[79216]: start time = 2025-07-28 21:03:10.521705522 +0000 UTC m=+514.201425922, time spent = 147.858µs, remote = 10.201.5.82:56846, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 28 21:03:10 ubuntu etcd[79216]: start time = 2025-07-28 21:03:10.545366463 +0000 UTC m=+514.225086861, time spent = 169.252µs, remote = 10.201.5.82:56846, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 28 21:03:12 ubuntu etcd[79216]: start time = 2025-07-28 21:03:12.658685762 +0000 UTC m=+516.338406166, time spent = 364.564µs, remote = 10.201.5.82:56846, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 28 21:09:56 ubuntu etcd[79216]: start time = 2025-07-28 21:09:56.034252979 +0000 UTC m=+919.713973367, time spent = 415.177µs, remote = 10.201.5.82:56846, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 28 21:09:56 ubuntu etcd[79216]: start time = 2025-07-28 21:09:56.042281702 +0000 UTC m=+919.722002097, time spent = 2.062416ms, remote = 10.201.5.82:56846, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-923ed0d3-5b47-4e1a-b312-db09fa186e15" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-923ed0d3-5b47-4e1a-b312-db09fa186e15" value_size:16 lease:5727338832590558745 >> failure:<request_range:<key:"/tooz/lockscinder-923ed0d3-5b47-4e1a-b312-db09fa186e15" > >
Jul 28 21:09:58 ubuntu etcd[79216]: start time = 2025-07-28 21:09:58.704327803 +0000 UTC m=+922.384048299, time spent = 475.381µs, remote = 10.201.5.82:56846, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-923ed0d3-5b47-4e1a-b312-db09fa186e15" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-923ed0d3-5b47-4e1a-b312-db09fa186e15" > > failure:<>
Jul 28 21:09:58 ubuntu etcd[79216]: start time = 2025-07-28 21:09:58.942241383 +0000 UTC m=+922.621961779, time spent = 250.645µs, remote = 10.201.5.82:56846, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 28 21:09:58 ubuntu etcd[79216]: start time = 2025-07-28 21:09:58.944421151 +0000 UTC m=+922.624141563, time spent = 192.634µs, remote = 10.201.5.82:56846, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-923ed0d3-5b47-4e1a-b312-db09fa186e15" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-923ed0d3-5b47-4e1a-b312-db09fa186e15" value_size:16 lease:5727338832590558749 >> failure:<request_range:<key:"/tooz/lockscinder-923ed0d3-5b47-4e1a-b312-db09fa186e15" > >
Jul 28 21:10:00 ubuntu etcd[79216]: start time = 2025-07-28 21:10:00.858863927 +0000 UTC m=+924.538584329, time spent = 290.719µs, remote = 10.201.5.82:56846, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-923ed0d3-5b47-4e1a-b312-db09fa186e15" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-923ed0d3-5b47-4e1a-b312-db09fa186e15" > > failure:<>
Jul 28 21:10:01 ubuntu etcd[79216]: start time = 2025-07-28 21:10:01.083708523 +0000 UTC m=+924.763428934, time spent = 351.647µs, remote = 10.201.5.82:56846, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 28 21:10:01 ubuntu etcd[79216]: start time = 2025-07-28 21:10:01.086565038 +0000 UTC m=+924.766285446, time spent = 225.979µs, remote = 10.201.5.82:56846, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-923ed0d3-5b47-4e1a-b312-db09fa186e15" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-923ed0d3-5b47-4e1a-b312-db09fa186e15" value_size:16 lease:5727338832590558753 >> failure:<request_range:<key:"/tooz/lockscinder-923ed0d3-5b47-4e1a-b312-db09fa186e15" > >
Jul 28 21:10:02 ubuntu etcd[79216]: start time = 2025-07-28 21:10:02.899084081 +0000 UTC m=+926.578804585, time spent = 557.999µs, remote = 10.201.5.82:56846, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-923ed0d3-5b47-4e1a-b312-db09fa186e15" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-923ed0d3-5b47-4e1a-b312-db09fa186e15" > > failure:<>
