May 26 15:24:34 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 26 15:24:34 ubuntu etcd[79421]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 26 15:24:34 ubuntu etcd[79421]:         A future release of golang/protobuf will delete this package,
May 26 15:24:34 ubuntu etcd[79421]:         which has long been excluded from the compatibility promise.
May 26 15:24:34 ubuntu etcd[79421]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 26 15:24:34 ubuntu etcd[79421]: Running http and grpc server on single port. This is not recommended for production.
May 26 15:24:34 ubuntu etcd[79421]: etcd Version: 3.4.27
May 26 15:24:34 ubuntu etcd[79421]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 26 15:24:34 ubuntu etcd[79421]: Git SHA: c92fb80f3
May 26 15:24:34 ubuntu etcd[79421]: Go Version: go1.19.10
May 26 15:24:34 ubuntu etcd[79421]: Go OS/Arch: linux/amd64
May 26 15:24:34 ubuntu etcd[79421]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 26 15:24:34 ubuntu etcd[79421]: Running http and grpc server on single port. This is not recommended for production.
May 26 15:24:34 ubuntu etcd[79421]: name = ubuntu
May 26 15:24:34 ubuntu etcd[79421]: data dir = /opt/stack/data/etcd
May 26 15:24:34 ubuntu etcd[79421]: member dir = /opt/stack/data/etcd/member
May 26 15:24:34 ubuntu etcd[79421]: heartbeat = 100ms
May 26 15:24:34 ubuntu etcd[79421]: election = 1000ms
May 26 15:24:34 ubuntu etcd[79421]: snapshot count = 100000
May 26 15:24:34 ubuntu etcd[79421]: advertise client URLs = http://10.201.5.82:2379
May 26 15:24:34 ubuntu etcd[79421]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 26 15:24:34 ubuntu etcd[79421]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
May 26 15:24:34 ubuntu etcd[79421]: raft2025/05/26 15:24:34 INFO: 43038365673ccf7b switched to configuration voters=()
May 26 15:24:34 ubuntu etcd[79421]: raft2025/05/26 15:24:34 INFO: 43038365673ccf7b became follower at term 0
May 26 15:24:34 ubuntu etcd[79421]: raft2025/05/26 15:24:34 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 26 15:24:34 ubuntu etcd[79421]: raft2025/05/26 15:24:34 INFO: 43038365673ccf7b became follower at term 1
May 26 15:24:34 ubuntu etcd[79421]: raft2025/05/26 15:24:34 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
May 26 15:24:34 ubuntu etcd[79421]: simple token is not cryptographically signed
May 26 15:24:34 ubuntu etcd[79421]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 26 15:24:34 ubuntu etcd[79421]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
May 26 15:24:34 ubuntu etcd[79421]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 26 15:24:34 ubuntu etcd[79421]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 26 15:24:34 ubuntu etcd[79421]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 26 15:24:34 ubuntu etcd[79421]: raft2025/05/26 15:24:34 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
May 26 15:24:34 ubuntu etcd[79421]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
May 26 15:24:34 ubuntu etcd[79421]: listening for peers on [::]:2380
May 26 15:24:34 ubuntu etcd[79421]: raft2025/05/26 15:24:34 INFO: 43038365673ccf7b is starting a new election at term 1
May 26 15:24:34 ubuntu etcd[79421]: raft2025/05/26 15:24:34 INFO: 43038365673ccf7b became candidate at term 2
May 26 15:24:34 ubuntu etcd[79421]: raft2025/05/26 15:24:34 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
May 26 15:24:34 ubuntu etcd[79421]: raft2025/05/26 15:24:34 INFO: 43038365673ccf7b became leader at term 2
May 26 15:24:34 ubuntu etcd[79421]: raft2025/05/26 15:24:34 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
May 26 15:24:34 ubuntu etcd[79421]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
May 26 15:24:34 ubuntu etcd[79421]: ready to serve client requests
May 26 15:24:34 ubuntu etcd[79421]: setting up the initial cluster version to 3.4
May 26 15:24:34 ubuntu etcd[79421]: set the initial cluster version to 3.4
May 26 15:24:34 ubuntu etcd[79421]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
May 26 15:24:34 ubuntu etcd[79421]: enabled capabilities for version 3.4
May 26 15:24:34 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 26 15:29:16 ubuntu etcd[79421]: start time = 2025-05-26 15:29:16.23953128 +0000 UTC m=+282.234328143, time spent = 1.936105ms, remote = 10.201.5.82:42540, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 26 15:29:16 ubuntu etcd[79421]: start time = 2025-05-26 15:29:16.239491895 +0000 UTC m=+282.234288721, time spent = 1.972377ms, remote = 10.201.5.82:42540, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 26 15:29:23 ubuntu etcd[79421]: start time = 2025-05-26 15:29:23.358090944 +0000 UTC m=+289.352887766, time spent = 1.447677ms, remote = 10.201.5.82:42540, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 26 15:29:25 ubuntu etcd[79421]: start time = 2025-05-26 15:29:25.336879466 +0000 UTC m=+291.331676300, time spent = 225.372µs, remote = 10.201.5.82:42540, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
