Jul 23 12:57:26 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 23 12:57:26 ubuntu etcd[67356]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 23 12:57:26 ubuntu etcd[67356]:         A future release of golang/protobuf will delete this package,
Jul 23 12:57:26 ubuntu etcd[67356]:         which has long been excluded from the compatibility promise.
Jul 23 12:57:26 ubuntu etcd[67356]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 23 12:57:26 ubuntu etcd[67356]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 23 12:57:26 ubuntu etcd[67356]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 23 12:57:26 ubuntu etcd[67356]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 23 12:57:26 ubuntu etcd[67356]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 23 12:57:26 ubuntu etcd[67356]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 23 12:57:26 ubuntu etcd[67356]: Running http and grpc server on single port. This is not recommended for production.
Jul 23 12:57:26 ubuntu etcd[67356]: etcd Version: 3.4.27
Jul 23 12:57:26 ubuntu etcd[67356]: Git SHA: c92fb80f3
Jul 23 12:57:26 ubuntu etcd[67356]: Go Version: go1.19.10
Jul 23 12:57:26 ubuntu etcd[67356]: Go OS/Arch: linux/amd64
Jul 23 12:57:26 ubuntu etcd[67356]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 23 12:57:26 ubuntu etcd[67356]: Running http and grpc server on single port. This is not recommended for production.
Jul 23 12:57:26 ubuntu etcd[67356]: name = ubuntu
Jul 23 12:57:26 ubuntu etcd[67356]: data dir = /opt/stack/data/etcd
Jul 23 12:57:26 ubuntu etcd[67356]: member dir = /opt/stack/data/etcd/member
Jul 23 12:57:26 ubuntu etcd[67356]: heartbeat = 100ms
Jul 23 12:57:26 ubuntu etcd[67356]: election = 1000ms
Jul 23 12:57:26 ubuntu etcd[67356]: snapshot count = 100000
Jul 23 12:57:26 ubuntu etcd[67356]: advertise client URLs = http://10.201.5.82:2379
Jul 23 12:57:26 ubuntu etcd[67356]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 23 12:57:26 ubuntu etcd[67356]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jul 23 12:57:26 ubuntu etcd[67356]: raft2024/07/23 12:57:26 INFO: 43038365673ccf7b switched to configuration voters=()
Jul 23 12:57:26 ubuntu etcd[67356]: raft2024/07/23 12:57:26 INFO: 43038365673ccf7b became follower at term 0
Jul 23 12:57:26 ubuntu etcd[67356]: raft2024/07/23 12:57:26 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 23 12:57:26 ubuntu etcd[67356]: raft2024/07/23 12:57:26 INFO: 43038365673ccf7b became follower at term 1
Jul 23 12:57:26 ubuntu etcd[67356]: raft2024/07/23 12:57:26 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 23 12:57:26 ubuntu etcd[67356]: simple token is not cryptographically signed
Jul 23 12:57:26 ubuntu etcd[67356]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 23 12:57:26 ubuntu etcd[67356]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 23 12:57:26 ubuntu etcd[67356]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 23 12:57:26 ubuntu etcd[67356]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 23 12:57:26 ubuntu etcd[67356]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 23 12:57:26 ubuntu etcd[67356]: raft2024/07/23 12:57:26 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 23 12:57:26 ubuntu etcd[67356]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jul 23 12:57:26 ubuntu etcd[67356]: listening for peers on [::]:2380
Jul 23 12:57:26 ubuntu etcd[67356]: raft2024/07/23 12:57:26 INFO: 43038365673ccf7b is starting a new election at term 1
Jul 23 12:57:26 ubuntu etcd[67356]: raft2024/07/23 12:57:26 INFO: 43038365673ccf7b became candidate at term 2
Jul 23 12:57:26 ubuntu etcd[67356]: raft2024/07/23 12:57:26 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jul 23 12:57:26 ubuntu etcd[67356]: raft2024/07/23 12:57:26 INFO: 43038365673ccf7b became leader at term 2
Jul 23 12:57:26 ubuntu etcd[67356]: raft2024/07/23 12:57:26 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jul 23 12:57:26 ubuntu etcd[67356]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jul 23 12:57:26 ubuntu etcd[67356]: setting up the initial cluster version to 3.4
Jul 23 12:57:26 ubuntu etcd[67356]: set the initial cluster version to 3.4
Jul 23 12:57:26 ubuntu etcd[67356]: enabled capabilities for version 3.4
Jul 23 12:57:26 ubuntu etcd[67356]: INFO: 2024/07/23 12:57:26 parsed scheme: ""
Jul 23 12:57:26 ubuntu etcd[67356]: INFO: 2024/07/23 12:57:26 scheme "" not registered, fallback to default scheme
Jul 23 12:57:26 ubuntu etcd[67356]: INFO: 2024/07/23 12:57:26 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Jul 23 12:57:26 ubuntu etcd[67356]: INFO: 2024/07/23 12:57:26 ClientConn switching balancer to "pick_first"
Jul 23 12:57:26 ubuntu etcd[67356]: ready to serve client requests
Jul 23 12:57:26 ubuntu etcd[67356]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jul 23 12:57:26 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 23 13:02:34 ubuntu etcd[67356]: start time = 2024-07-23 13:02:34.140192229 +0000 UTC m=+307.772164865, time spent = 1.525891ms, remote = 10.201.5.82:53304, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 13:02:34 ubuntu etcd[67356]: start time = 2024-07-23 13:02:34.140353188 +0000 UTC m=+307.772325824, time spent = 1.688252ms, remote = 10.201.5.82:53304, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 13:02:41 ubuntu etcd[67356]: start time = 2024-07-23 13:02:41.284446731 +0000 UTC m=+314.916419363, time spent = 254.449µs, remote = 10.201.5.82:53304, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 13:02:43 ubuntu etcd[67356]: start time = 2024-07-23 13:02:43.562578343 +0000 UTC m=+317.194550987, time spent = 383.453µs, remote = 10.201.5.82:53304, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 13:05:32 ubuntu etcd[67356]: start time = 2024-07-23 13:05:32.004339462 +0000 UTC m=+485.636312096, time spent = 415.742µs, remote = 10.201.5.82:53304, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 13:05:32 ubuntu etcd[67356]: start time = 2024-07-23 13:05:32.021741197 +0000 UTC m=+485.653713842, time spent = 202.303µs, remote = 10.201.5.82:53304, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 13:05:34 ubuntu etcd[67356]: start time = 2024-07-23 13:05:34.006478026 +0000 UTC m=+487.638450660, time spent = 278.83µs, remote = 10.201.5.82:53304, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 13:05:36 ubuntu etcd[67356]: start time = 2024-07-23 13:05:36.152987748 +0000 UTC m=+489.784960391, time spent = 219.789µs, remote = 10.201.5.82:53304, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
