Jan 06 12:29:31 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jan 06 12:29:31 ubuntu etcd[67639]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jan 06 12:29:31 ubuntu etcd[67639]:         A future release of golang/protobuf will delete this package,
Jan 06 12:29:31 ubuntu etcd[67639]:         which has long been excluded from the compatibility promise.
Jan 06 12:29:31 ubuntu etcd[67639]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 06 12:29:31 ubuntu etcd[67639]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 06 12:29:31 ubuntu etcd[67639]: Running http and grpc server on single port. This is not recommended for production.
Jan 06 12:29:31 ubuntu etcd[67639]: etcd Version: 3.4.27
Jan 06 12:29:31 ubuntu etcd[67639]: Git SHA: c92fb80f3
Jan 06 12:29:31 ubuntu etcd[67639]: Go Version: go1.19.10
Jan 06 12:29:31 ubuntu etcd[67639]: Go OS/Arch: linux/amd64
Jan 06 12:29:31 ubuntu etcd[67639]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jan 06 12:29:31 ubuntu etcd[67639]: Running http and grpc server on single port. This is not recommended for production.
Jan 06 12:29:31 ubuntu etcd[67639]: name = ubuntu
Jan 06 12:29:31 ubuntu etcd[67639]: data dir = /opt/stack/data/etcd
Jan 06 12:29:31 ubuntu etcd[67639]: member dir = /opt/stack/data/etcd/member
Jan 06 12:29:31 ubuntu etcd[67639]: heartbeat = 100ms
Jan 06 12:29:31 ubuntu etcd[67639]: election = 1000ms
Jan 06 12:29:31 ubuntu etcd[67639]: snapshot count = 100000
Jan 06 12:29:31 ubuntu etcd[67639]: advertise client URLs = http://10.201.5.82:2379
Jan 06 12:29:31 ubuntu etcd[67639]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jan 06 12:29:31 ubuntu etcd[67639]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jan 06 12:29:31 ubuntu etcd[67639]: raft2025/01/06 12:29:31 INFO: 43038365673ccf7b switched to configuration voters=()
Jan 06 12:29:31 ubuntu etcd[67639]: raft2025/01/06 12:29:31 INFO: 43038365673ccf7b became follower at term 0
Jan 06 12:29:31 ubuntu etcd[67639]: raft2025/01/06 12:29:31 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jan 06 12:29:31 ubuntu etcd[67639]: raft2025/01/06 12:29:31 INFO: 43038365673ccf7b became follower at term 1
Jan 06 12:29:31 ubuntu etcd[67639]: raft2025/01/06 12:29:31 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jan 06 12:29:31 ubuntu etcd[67639]: simple token is not cryptographically signed
Jan 06 12:29:31 ubuntu etcd[67639]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jan 06 12:29:31 ubuntu etcd[67639]: raft2025/01/06 12:29:31 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jan 06 12:29:31 ubuntu etcd[67639]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jan 06 12:29:31 ubuntu etcd[67639]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jan 06 12:29:31 ubuntu etcd[67639]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jan 06 12:29:31 ubuntu etcd[67639]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jan 06 12:29:31 ubuntu etcd[67639]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jan 06 12:29:31 ubuntu etcd[67639]: listening for peers on [::]:2380
Jan 06 12:29:31 ubuntu etcd[67639]: raft2025/01/06 12:29:31 INFO: 43038365673ccf7b is starting a new election at term 1
Jan 06 12:29:31 ubuntu etcd[67639]: raft2025/01/06 12:29:31 INFO: 43038365673ccf7b became candidate at term 2
Jan 06 12:29:31 ubuntu etcd[67639]: raft2025/01/06 12:29:31 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jan 06 12:29:31 ubuntu etcd[67639]: raft2025/01/06 12:29:31 INFO: 43038365673ccf7b became leader at term 2
Jan 06 12:29:31 ubuntu etcd[67639]: raft2025/01/06 12:29:31 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jan 06 12:29:31 ubuntu etcd[67639]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jan 06 12:29:31 ubuntu etcd[67639]: ready to serve client requests
Jan 06 12:29:31 ubuntu etcd[67639]: setting up the initial cluster version to 3.4
Jan 06 12:29:31 ubuntu etcd[67639]: set the initial cluster version to 3.4
Jan 06 12:29:31 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jan 06 12:29:31 ubuntu etcd[67639]: enabled capabilities for version 3.4
Jan 06 12:29:31 ubuntu etcd[67639]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jan 06 12:34:27 ubuntu etcd[67639]: start time = 2025-01-06 12:34:27.738596145 +0000 UTC m=+296.402760043, time spent = 1.982073ms, remote = 10.201.5.82:59444, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 06 12:34:27 ubuntu etcd[67639]: start time = 2025-01-06 12:34:27.823469849 +0000 UTC m=+296.487633748, time spent = 235.051µs, remote = 10.201.5.82:59444, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 06 12:34:34 ubuntu etcd[67639]: start time = 2025-01-06 12:34:34.356957042 +0000 UTC m=+303.021120939, time spent = 251.313µs, remote = 10.201.5.82:59444, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 06 12:34:36 ubuntu etcd[67639]: start time = 2025-01-06 12:34:36.401572423 +0000 UTC m=+305.065736325, time spent = 254.849µs, remote = 10.201.5.82:59444, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 06 12:37:27 ubuntu etcd[67639]: start time = 2025-01-06 12:37:27.770517605 +0000 UTC m=+476.434681508, time spent = 374.678µs, remote = 10.201.5.82:59444, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 06 12:37:27 ubuntu etcd[67639]: start time = 2025-01-06 12:37:27.783284493 +0000 UTC m=+476.447448390, time spent = 165.881µs, remote = 10.201.5.82:59444, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 06 12:37:29 ubuntu etcd[67639]: start time = 2025-01-06 12:37:29.000657533 +0000 UTC m=+477.664821434, time spent = 239.077µs, remote = 10.201.5.82:59444, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 06 12:37:31 ubuntu etcd[67639]: start time = 2025-01-06 12:37:31.238608088 +0000 UTC m=+479.902771983, time spent = 253.775µs, remote = 10.201.5.82:59444, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
