May 13 16:57:41 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 13 16:57:41 ubuntu etcd[79858]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 13 16:57:41 ubuntu etcd[79858]:         A future release of golang/protobuf will delete this package,
May 13 16:57:41 ubuntu etcd[79858]:         which has long been excluded from the compatibility promise.
May 13 16:57:41 ubuntu etcd[79858]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 13 16:57:41 ubuntu etcd[79858]: Running http and grpc server on single port. This is not recommended for production.
May 13 16:57:41 ubuntu etcd[79858]: etcd Version: 3.4.27
May 13 16:57:41 ubuntu etcd[79858]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 13 16:57:41 ubuntu etcd[79858]: Git SHA: c92fb80f3
May 13 16:57:41 ubuntu etcd[79858]: Go Version: go1.19.10
May 13 16:57:41 ubuntu etcd[79858]: Go OS/Arch: linux/amd64
May 13 16:57:41 ubuntu etcd[79858]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 13 16:57:41 ubuntu etcd[79858]: Running http and grpc server on single port. This is not recommended for production.
May 13 16:57:41 ubuntu etcd[79858]: name = ubuntu
May 13 16:57:41 ubuntu etcd[79858]: data dir = /opt/stack/data/etcd
May 13 16:57:41 ubuntu etcd[79858]: member dir = /opt/stack/data/etcd/member
May 13 16:57:41 ubuntu etcd[79858]: heartbeat = 100ms
May 13 16:57:41 ubuntu etcd[79858]: election = 1000ms
May 13 16:57:41 ubuntu etcd[79858]: snapshot count = 100000
May 13 16:57:41 ubuntu etcd[79858]: advertise client URLs = http://10.201.5.82:2379
May 13 16:57:41 ubuntu etcd[79858]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 13 16:57:41 ubuntu etcd[79858]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
May 13 16:57:41 ubuntu etcd[79858]: raft2025/05/13 16:57:41 INFO: 43038365673ccf7b switched to configuration voters=()
May 13 16:57:41 ubuntu etcd[79858]: raft2025/05/13 16:57:41 INFO: 43038365673ccf7b became follower at term 0
May 13 16:57:41 ubuntu etcd[79858]: raft2025/05/13 16:57:41 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 13 16:57:41 ubuntu etcd[79858]: raft2025/05/13 16:57:41 INFO: 43038365673ccf7b became follower at term 1
May 13 16:57:41 ubuntu etcd[79858]: raft2025/05/13 16:57:41 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
May 13 16:57:41 ubuntu etcd[79858]: simple token is not cryptographically signed
May 13 16:57:41 ubuntu etcd[79858]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 13 16:57:41 ubuntu etcd[79858]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 13 16:57:41 ubuntu etcd[79858]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 13 16:57:41 ubuntu etcd[79858]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 13 16:57:41 ubuntu etcd[79858]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
May 13 16:57:41 ubuntu etcd[79858]: raft2025/05/13 16:57:41 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
May 13 16:57:41 ubuntu etcd[79858]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
May 13 16:57:41 ubuntu etcd[79858]: listening for peers on [::]:2380
May 13 16:57:41 ubuntu etcd[79858]: raft2025/05/13 16:57:41 INFO: 43038365673ccf7b is starting a new election at term 1
May 13 16:57:41 ubuntu etcd[79858]: raft2025/05/13 16:57:41 INFO: 43038365673ccf7b became candidate at term 2
May 13 16:57:41 ubuntu etcd[79858]: raft2025/05/13 16:57:41 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
May 13 16:57:41 ubuntu etcd[79858]: raft2025/05/13 16:57:41 INFO: 43038365673ccf7b became leader at term 2
May 13 16:57:41 ubuntu etcd[79858]: raft2025/05/13 16:57:41 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
May 13 16:57:41 ubuntu etcd[79858]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
May 13 16:57:41 ubuntu etcd[79858]: ready to serve client requests
May 13 16:57:41 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 13 16:57:41 ubuntu etcd[79858]: setting up the initial cluster version to 3.4
May 13 16:57:41 ubuntu etcd[79858]: set the initial cluster version to 3.4
May 13 16:57:41 ubuntu etcd[79858]: enabled capabilities for version 3.4
May 13 16:57:41 ubuntu etcd[79858]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
May 13 17:02:28 ubuntu etcd[79858]: start time = 2025-05-13 17:02:28.649183387 +0000 UTC m=+287.324010199, time spent = 1.377395ms, remote = 10.201.5.82:49928, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 13 17:02:28 ubuntu etcd[79858]: start time = 2025-05-13 17:02:28.728005152 +0000 UTC m=+287.402831958, time spent = 237.937µs, remote = 10.201.5.82:49928, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 13 17:02:35 ubuntu etcd[79858]: start time = 2025-05-13 17:02:35.581533863 +0000 UTC m=+294.256360684, time spent = 203.17µs, remote = 10.201.5.82:49928, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 13 17:02:37 ubuntu etcd[79858]: start time = 2025-05-13 17:02:37.724979447 +0000 UTC m=+296.399806266, time spent = 421.711µs, remote = 10.201.5.82:49928, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 13 17:06:16 ubuntu etcd[79858]: start time = 2025-05-13 17:06:16.609891485 +0000 UTC m=+515.284718300, time spent = 337.64µs, remote = 10.201.5.82:49928, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 13 17:06:16 ubuntu etcd[79858]: start time = 2025-05-13 17:06:16.638785359 +0000 UTC m=+515.313612177, time spent = 166.777µs, remote = 10.201.5.82:49928, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 13 17:06:17 ubuntu etcd[79858]: start time = 2025-05-13 17:06:17.663767402 +0000 UTC m=+516.338594218, time spent = 196.788µs, remote = 10.201.5.82:49928, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 13 17:06:20 ubuntu etcd[79858]: start time = 2025-05-13 17:06:20.30867521 +0000 UTC m=+518.983502030, time spent = 192.276µs, remote = 10.201.5.82:49928, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 13 17:08:16 ubuntu etcd[79858]: start time = 2025-05-13 17:08:16.390654075 +0000 UTC m=+635.065480898, time spent = 347.822µs, remote = 10.201.5.82:49928, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 13 17:08:16 ubuntu etcd[79858]: start time = 2025-05-13 17:08:16.393274129 +0000 UTC m=+635.068100935, time spent = 1.221517ms, remote = 10.201.5.82:49928, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-168f9fd8-1edb-446c-b8eb-32f37a66add9" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-168f9fd8-1edb-446c-b8eb-32f37a66add9" value_size:16 lease:5727337147953118745 >> failure:<request_range:<key:"/tooz/lockscinder-168f9fd8-1edb-446c-b8eb-32f37a66add9" > >
May 13 17:08:19 ubuntu etcd[79858]: start time = 2025-05-13 17:08:19.277989666 +0000 UTC m=+637.952816598, time spent = 2.042895ms, remote = 10.201.5.82:49928, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-168f9fd8-1edb-446c-b8eb-32f37a66add9" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-168f9fd8-1edb-446c-b8eb-32f37a66add9" > > failure:<>
May 13 17:08:19 ubuntu etcd[79858]: start time = 2025-05-13 17:08:19.542909711 +0000 UTC m=+638.217736517, time spent = 267.635µs, remote = 10.201.5.82:49928, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 13 17:08:19 ubuntu etcd[79858]: start time = 2025-05-13 17:08:19.548161223 +0000 UTC m=+638.222988044, time spent = 218.952µs, remote = 10.201.5.82:49928, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-168f9fd8-1edb-446c-b8eb-32f37a66add9" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-168f9fd8-1edb-446c-b8eb-32f37a66add9" value_size:16 lease:5727337147953118749 >> failure:<request_range:<key:"/tooz/lockscinder-168f9fd8-1edb-446c-b8eb-32f37a66add9" > >
May 13 17:08:21 ubuntu etcd[79858]: start time = 2025-05-13 17:08:21.461001118 +0000 UTC m=+640.135827993, time spent = 361.435µs, remote = 10.201.5.82:49928, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-168f9fd8-1edb-446c-b8eb-32f37a66add9" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-168f9fd8-1edb-446c-b8eb-32f37a66add9" > > failure:<>
May 13 17:08:21 ubuntu etcd[79858]: start time = 2025-05-13 17:08:21.733207473 +0000 UTC m=+640.408034393, time spent = 613.136µs, remote = 10.201.5.82:49928, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 13 17:08:21 ubuntu etcd[79858]: start time = 2025-05-13 17:08:21.7366903 +0000 UTC m=+640.411517240, time spent = 461.752µs, remote = 10.201.5.82:49928, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-168f9fd8-1edb-446c-b8eb-32f37a66add9" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-168f9fd8-1edb-446c-b8eb-32f37a66add9" value_size:16 lease:5727337147953118753 >> failure:<request_range:<key:"/tooz/lockscinder-168f9fd8-1edb-446c-b8eb-32f37a66add9" > >
May 13 17:08:23 ubuntu etcd[79858]: start time = 2025-05-13 17:08:23.605947334 +0000 UTC m=+642.280774306, time spent = 793.678µs, remote = 10.201.5.82:49928, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-168f9fd8-1edb-446c-b8eb-32f37a66add9" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-168f9fd8-1edb-446c-b8eb-32f37a66add9" > > failure:<>
