Jul 08 07:57:19 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 08 07:57:19 ubuntu etcd[67068]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 08 07:57:19 ubuntu etcd[67068]:         A future release of golang/protobuf will delete this package,
Jul 08 07:57:19 ubuntu etcd[67068]:         which has long been excluded from the compatibility promise.
Jul 08 07:57:19 ubuntu etcd[67068]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 08 07:57:19 ubuntu etcd[67068]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 08 07:57:19 ubuntu etcd[67068]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 08 07:57:19 ubuntu etcd[67068]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 08 07:57:19 ubuntu etcd[67068]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 08 07:57:19 ubuntu etcd[67068]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 08 07:57:19 ubuntu etcd[67068]: Running http and grpc server on single port. This is not recommended for production.
Jul 08 07:57:19 ubuntu etcd[67068]: etcd Version: 3.4.27
Jul 08 07:57:19 ubuntu etcd[67068]: Git SHA: c92fb80f3
Jul 08 07:57:19 ubuntu etcd[67068]: Go Version: go1.19.10
Jul 08 07:57:19 ubuntu etcd[67068]: Go OS/Arch: linux/amd64
Jul 08 07:57:19 ubuntu etcd[67068]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 08 07:57:19 ubuntu etcd[67068]: Running http and grpc server on single port. This is not recommended for production.
Jul 08 07:57:19 ubuntu etcd[67068]: name = ubuntu
Jul 08 07:57:19 ubuntu etcd[67068]: data dir = /opt/stack/data/etcd
Jul 08 07:57:19 ubuntu etcd[67068]: member dir = /opt/stack/data/etcd/member
Jul 08 07:57:19 ubuntu etcd[67068]: heartbeat = 100ms
Jul 08 07:57:19 ubuntu etcd[67068]: election = 1000ms
Jul 08 07:57:19 ubuntu etcd[67068]: snapshot count = 100000
Jul 08 07:57:19 ubuntu etcd[67068]: advertise client URLs = http://10.201.5.82:2379
Jul 08 07:57:19 ubuntu etcd[67068]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 08 07:57:19 ubuntu etcd[67068]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jul 08 07:57:19 ubuntu etcd[67068]: raft2024/07/08 07:57:19 INFO: 43038365673ccf7b switched to configuration voters=()
Jul 08 07:57:19 ubuntu etcd[67068]: raft2024/07/08 07:57:19 INFO: 43038365673ccf7b became follower at term 0
Jul 08 07:57:19 ubuntu etcd[67068]: raft2024/07/08 07:57:19 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 08 07:57:19 ubuntu etcd[67068]: raft2024/07/08 07:57:19 INFO: 43038365673ccf7b became follower at term 1
Jul 08 07:57:19 ubuntu etcd[67068]: raft2024/07/08 07:57:19 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 08 07:57:19 ubuntu etcd[67068]: simple token is not cryptographically signed
Jul 08 07:57:19 ubuntu etcd[67068]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 08 07:57:19 ubuntu etcd[67068]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 08 07:57:19 ubuntu etcd[67068]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 08 07:57:19 ubuntu etcd[67068]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 08 07:57:19 ubuntu etcd[67068]: raft2024/07/08 07:57:19 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 08 07:57:19 ubuntu etcd[67068]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jul 08 07:57:19 ubuntu etcd[67068]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 08 07:57:19 ubuntu etcd[67068]: listening for peers on [::]:2380
Jul 08 07:57:20 ubuntu etcd[67068]: raft2024/07/08 07:57:20 INFO: 43038365673ccf7b is starting a new election at term 1
Jul 08 07:57:20 ubuntu etcd[67068]: raft2024/07/08 07:57:20 INFO: 43038365673ccf7b became candidate at term 2
Jul 08 07:57:20 ubuntu etcd[67068]: raft2024/07/08 07:57:20 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jul 08 07:57:20 ubuntu etcd[67068]: raft2024/07/08 07:57:20 INFO: 43038365673ccf7b became leader at term 2
Jul 08 07:57:20 ubuntu etcd[67068]: raft2024/07/08 07:57:20 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jul 08 07:57:20 ubuntu etcd[67068]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jul 08 07:57:20 ubuntu etcd[67068]: setting up the initial cluster version to 3.4
Jul 08 07:57:20 ubuntu etcd[67068]: INFO: 2024/07/08 07:57:20 parsed scheme: ""
Jul 08 07:57:20 ubuntu etcd[67068]: INFO: 2024/07/08 07:57:20 scheme "" not registered, fallback to default scheme
Jul 08 07:57:20 ubuntu etcd[67068]: INFO: 2024/07/08 07:57:20 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Jul 08 07:57:20 ubuntu etcd[67068]: INFO: 2024/07/08 07:57:20 ClientConn switching balancer to "pick_first"
Jul 08 07:57:20 ubuntu etcd[67068]: ready to serve client requests
Jul 08 07:57:20 ubuntu etcd[67068]: set the initial cluster version to 3.4
Jul 08 07:57:20 ubuntu etcd[67068]: enabled capabilities for version 3.4
Jul 08 07:57:20 ubuntu etcd[67068]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jul 08 07:57:20 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 08 08:02:57 ubuntu etcd[67068]: start time = 2024-07-08 08:02:57.1575078 +0000 UTC m=+337.968459402, time spent = 1.657933ms, remote = 10.201.5.82:53390, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 08 08:02:57 ubuntu etcd[67068]: start time = 2024-07-08 08:02:57.22838314 +0000 UTC m=+338.039334749, time spent = 289.538µs, remote = 10.201.5.82:53390, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 08 08:03:03 ubuntu etcd[67068]: start time = 2024-07-08 08:03:03.792609854 +0000 UTC m=+344.603561464, time spent = 204.901µs, remote = 10.201.5.82:53390, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 08 08:03:05 ubuntu etcd[67068]: start time = 2024-07-08 08:03:05.777404656 +0000 UTC m=+346.588356256, time spent = 504.883µs, remote = 10.201.5.82:53390, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 08 08:03:05 ubuntu etcd[67068]: INFO: 2024/07/08 08:03:05 Failed to decode request: http: invalid Read on closed Body
