Jul 08 14:18:08 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 08 14:18:08 ubuntu etcd[66796]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 08 14:18:08 ubuntu etcd[66796]:         A future release of golang/protobuf will delete this package,
Jul 08 14:18:08 ubuntu etcd[66796]:         which has long been excluded from the compatibility promise.
Jul 08 14:18:08 ubuntu etcd[66796]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 08 14:18:08 ubuntu etcd[66796]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 08 14:18:08 ubuntu etcd[66796]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 08 14:18:08 ubuntu etcd[66796]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 08 14:18:08 ubuntu etcd[66796]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 08 14:18:08 ubuntu etcd[66796]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 08 14:18:08 ubuntu etcd[66796]: Running http and grpc server on single port. This is not recommended for production.
Jul 08 14:18:08 ubuntu etcd[66796]: etcd Version: 3.4.27
Jul 08 14:18:08 ubuntu etcd[66796]: Git SHA: c92fb80f3
Jul 08 14:18:08 ubuntu etcd[66796]: Go Version: go1.19.10
Jul 08 14:18:08 ubuntu etcd[66796]: Go OS/Arch: linux/amd64
Jul 08 14:18:08 ubuntu etcd[66796]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 08 14:18:08 ubuntu etcd[66796]: Running http and grpc server on single port. This is not recommended for production.
Jul 08 14:18:08 ubuntu etcd[66796]: name = ubuntu
Jul 08 14:18:08 ubuntu etcd[66796]: data dir = /opt/stack/data/etcd
Jul 08 14:18:08 ubuntu etcd[66796]: member dir = /opt/stack/data/etcd/member
Jul 08 14:18:08 ubuntu etcd[66796]: heartbeat = 100ms
Jul 08 14:18:08 ubuntu etcd[66796]: election = 1000ms
Jul 08 14:18:08 ubuntu etcd[66796]: snapshot count = 100000
Jul 08 14:18:08 ubuntu etcd[66796]: advertise client URLs = http://10.201.5.82:2379
Jul 08 14:18:08 ubuntu etcd[66796]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 08 14:18:08 ubuntu etcd[66796]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jul 08 14:18:08 ubuntu etcd[66796]: raft2024/07/08 14:18:08 INFO: 43038365673ccf7b switched to configuration voters=()
Jul 08 14:18:08 ubuntu etcd[66796]: raft2024/07/08 14:18:08 INFO: 43038365673ccf7b became follower at term 0
Jul 08 14:18:08 ubuntu etcd[66796]: raft2024/07/08 14:18:08 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 08 14:18:08 ubuntu etcd[66796]: raft2024/07/08 14:18:08 INFO: 43038365673ccf7b became follower at term 1
Jul 08 14:18:08 ubuntu etcd[66796]: raft2024/07/08 14:18:08 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 08 14:18:08 ubuntu etcd[66796]: simple token is not cryptographically signed
Jul 08 14:18:08 ubuntu etcd[66796]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 08 14:18:08 ubuntu etcd[66796]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 08 14:18:08 ubuntu etcd[66796]: raft2024/07/08 14:18:08 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 08 14:18:08 ubuntu etcd[66796]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 08 14:18:08 ubuntu etcd[66796]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 08 14:18:08 ubuntu etcd[66796]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 08 14:18:08 ubuntu etcd[66796]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jul 08 14:18:08 ubuntu etcd[66796]: listening for peers on [::]:2380
Jul 08 14:18:08 ubuntu etcd[66796]: raft2024/07/08 14:18:08 INFO: 43038365673ccf7b is starting a new election at term 1
Jul 08 14:18:08 ubuntu etcd[66796]: raft2024/07/08 14:18:08 INFO: 43038365673ccf7b became candidate at term 2
Jul 08 14:18:08 ubuntu etcd[66796]: raft2024/07/08 14:18:08 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jul 08 14:18:08 ubuntu etcd[66796]: raft2024/07/08 14:18:08 INFO: 43038365673ccf7b became leader at term 2
Jul 08 14:18:08 ubuntu etcd[66796]: raft2024/07/08 14:18:08 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jul 08 14:18:08 ubuntu etcd[66796]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jul 08 14:18:08 ubuntu etcd[66796]: setting up the initial cluster version to 3.4
Jul 08 14:18:08 ubuntu etcd[66796]: set the initial cluster version to 3.4
Jul 08 14:18:08 ubuntu etcd[66796]: enabled capabilities for version 3.4
Jul 08 14:18:08 ubuntu etcd[66796]: ready to serve client requests
Jul 08 14:18:08 ubuntu etcd[66796]: INFO: 2024/07/08 14:18:08 parsed scheme: ""
Jul 08 14:18:08 ubuntu etcd[66796]: INFO: 2024/07/08 14:18:08 scheme "" not registered, fallback to default scheme
Jul 08 14:18:08 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 08 14:18:08 ubuntu etcd[66796]: INFO: 2024/07/08 14:18:08 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Jul 08 14:18:08 ubuntu etcd[66796]: INFO: 2024/07/08 14:18:08 ClientConn switching balancer to "pick_first"
Jul 08 14:18:08 ubuntu etcd[66796]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jul 08 14:23:38 ubuntu etcd[66796]: start time = 2024-07-08 14:23:38.207578834 +0000 UTC m=+330.004997838, time spent = 495.727µs, remote = 10.201.5.82:56272, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 08 14:23:38 ubuntu etcd[66796]: start time = 2024-07-08 14:23:38.215544933 +0000 UTC m=+330.012963946, time spent = 142.129µs, remote = 10.201.5.82:56272, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 08 14:23:45 ubuntu etcd[66796]: start time = 2024-07-08 14:23:45.148382009 +0000 UTC m=+336.945801022, time spent = 170.859µs, remote = 10.201.5.82:56272, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 08 14:23:47 ubuntu etcd[66796]: start time = 2024-07-08 14:23:47.009547116 +0000 UTC m=+338.806966128, time spent = 299.845µs, remote = 10.201.5.82:56272, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 08 14:26:43 ubuntu etcd[66796]: start time = 2024-07-08 14:26:43.219653806 +0000 UTC m=+515.017072820, time spent = 230.308µs, remote = 10.201.5.82:56272, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 08 14:26:43 ubuntu etcd[66796]: start time = 2024-07-08 14:26:43.221678025 +0000 UTC m=+515.019097038, time spent = 126.207µs, remote = 10.201.5.82:56272, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 08 14:26:47 ubuntu etcd[66796]: start time = 2024-07-08 14:26:47.566709492 +0000 UTC m=+519.364128505, time spent = 181.432µs, remote = 10.201.5.82:56272, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 08 14:26:47 ubuntu etcd[66796]: start time = 2024-07-08 14:26:47.62695602 +0000 UTC m=+519.424375034, time spent = 149.965µs, remote = 10.201.5.82:56272, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
