Dec 12 17:08:51 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 12 17:08:51 ubuntu etcd[67500]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 12 17:08:51 ubuntu etcd[67500]:         A future release of golang/protobuf will delete this package,
Dec 12 17:08:51 ubuntu etcd[67500]:         which has long been excluded from the compatibility promise.
Dec 12 17:08:51 ubuntu etcd[67500]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 12 17:08:51 ubuntu etcd[67500]: Running http and grpc server on single port. This is not recommended for production.
Dec 12 17:08:51 ubuntu etcd[67500]: etcd Version: 3.4.27
Dec 12 17:08:51 ubuntu etcd[67500]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 12 17:08:51 ubuntu etcd[67500]: Git SHA: c92fb80f3
Dec 12 17:08:51 ubuntu etcd[67500]: Go Version: go1.19.10
Dec 12 17:08:51 ubuntu etcd[67500]: Go OS/Arch: linux/amd64
Dec 12 17:08:51 ubuntu etcd[67500]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 12 17:08:51 ubuntu etcd[67500]: Running http and grpc server on single port. This is not recommended for production.
Dec 12 17:08:51 ubuntu etcd[67500]: name = ubuntu
Dec 12 17:08:51 ubuntu etcd[67500]: data dir = /opt/stack/data/etcd
Dec 12 17:08:51 ubuntu etcd[67500]: member dir = /opt/stack/data/etcd/member
Dec 12 17:08:51 ubuntu etcd[67500]: heartbeat = 100ms
Dec 12 17:08:51 ubuntu etcd[67500]: election = 1000ms
Dec 12 17:08:51 ubuntu etcd[67500]: snapshot count = 100000
Dec 12 17:08:51 ubuntu etcd[67500]: advertise client URLs = http://10.201.5.82:2379
Dec 12 17:08:51 ubuntu etcd[67500]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Dec 12 17:08:51 ubuntu etcd[67500]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Dec 12 17:08:51 ubuntu etcd[67500]: raft2024/12/12 17:08:51 INFO: 43038365673ccf7b switched to configuration voters=()
Dec 12 17:08:51 ubuntu etcd[67500]: raft2024/12/12 17:08:51 INFO: 43038365673ccf7b became follower at term 0
Dec 12 17:08:51 ubuntu etcd[67500]: raft2024/12/12 17:08:51 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Dec 12 17:08:51 ubuntu etcd[67500]: raft2024/12/12 17:08:51 INFO: 43038365673ccf7b became follower at term 1
Dec 12 17:08:51 ubuntu etcd[67500]: raft2024/12/12 17:08:51 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Dec 12 17:08:51 ubuntu etcd[67500]: simple token is not cryptographically signed
Dec 12 17:08:51 ubuntu etcd[67500]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Dec 12 17:08:51 ubuntu etcd[67500]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Dec 12 17:08:51 ubuntu etcd[67500]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Dec 12 17:08:51 ubuntu etcd[67500]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Dec 12 17:08:51 ubuntu etcd[67500]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Dec 12 17:08:51 ubuntu etcd[67500]: raft2024/12/12 17:08:51 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Dec 12 17:08:51 ubuntu etcd[67500]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Dec 12 17:08:51 ubuntu etcd[67500]: listening for peers on [::]:2380
Dec 12 17:08:51 ubuntu etcd[67500]: raft2024/12/12 17:08:51 INFO: 43038365673ccf7b is starting a new election at term 1
Dec 12 17:08:51 ubuntu etcd[67500]: raft2024/12/12 17:08:51 INFO: 43038365673ccf7b became candidate at term 2
Dec 12 17:08:51 ubuntu etcd[67500]: raft2024/12/12 17:08:51 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Dec 12 17:08:51 ubuntu etcd[67500]: raft2024/12/12 17:08:51 INFO: 43038365673ccf7b became leader at term 2
Dec 12 17:08:51 ubuntu etcd[67500]: raft2024/12/12 17:08:51 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Dec 12 17:08:51 ubuntu etcd[67500]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Dec 12 17:08:51 ubuntu etcd[67500]: setting up the initial cluster version to 3.4
Dec 12 17:08:51 ubuntu etcd[67500]: ready to serve client requests
Dec 12 17:08:51 ubuntu etcd[67500]: set the initial cluster version to 3.4
Dec 12 17:08:51 ubuntu etcd[67500]: enabled capabilities for version 3.4
Dec 12 17:08:51 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Dec 12 17:08:51 ubuntu etcd[67500]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Dec 12 17:13:41 ubuntu etcd[67500]: start time = 2024-12-12 17:13:41.363505617 +0000 UTC m=+290.272466666, time spent = 557.741µs, remote = 10.201.5.82:36168, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 12 17:13:41 ubuntu etcd[67500]: start time = 2024-12-12 17:13:41.407218294 +0000 UTC m=+290.316179346, time spent = 222.619µs, remote = 10.201.5.82:36168, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 12 17:13:48 ubuntu etcd[67500]: start time = 2024-12-12 17:13:48.316245985 +0000 UTC m=+297.225207038, time spent = 166.65µs, remote = 10.201.5.82:36168, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 12 17:13:50 ubuntu etcd[67500]: start time = 2024-12-12 17:13:50.291215705 +0000 UTC m=+299.200176759, time spent = 181.841µs, remote = 10.201.5.82:36168, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 12 17:16:59 ubuntu etcd[67500]: start time = 2024-12-12 17:16:59.873869288 +0000 UTC m=+488.782830336, time spent = 339.482µs, remote = 10.201.5.82:36168, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 12 17:16:59 ubuntu etcd[67500]: start time = 2024-12-12 17:16:59.898043064 +0000 UTC m=+488.807004111, time spent = 167.686µs, remote = 10.201.5.82:36168, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 12 17:17:00 ubuntu etcd[67500]: start time = 2024-12-12 17:17:00.286651305 +0000 UTC m=+489.195612360, time spent = 172.794µs, remote = 10.201.5.82:36168, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 12 17:17:02 ubuntu etcd[67500]: start time = 2024-12-12 17:17:02.825428526 +0000 UTC m=+491.734389666, time spent = 379.581µs, remote = 10.201.5.82:36168, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 12 17:18:53 ubuntu etcd[67500]: start time = 2024-12-12 17:18:53.654000702 +0000 UTC m=+602.562961799, time spent = 690.516µs, remote = 10.201.5.82:36168, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 12 17:18:53 ubuntu etcd[67500]: start time = 2024-12-12 17:18:53.657877234 +0000 UTC m=+602.566838369, time spent = 784.345µs, remote = 10.201.5.82:36168, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-b1281bb3-f1ed-446b-a393-e362d360b5a7" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-b1281bb3-f1ed-446b-a393-e362d360b5a7" value_size:16 lease:5727333786127777049 >> failure:<request_range:<key:"/tooz/lockscinder-b1281bb3-f1ed-446b-a393-e362d360b5a7" > >
Dec 12 17:18:59 ubuntu etcd[67500]: start time = 2024-12-12 17:18:59.398961736 +0000 UTC m=+608.307922912, time spent = 735.211µs, remote = 10.201.5.82:36168, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-b1281bb3-f1ed-446b-a393-e362d360b5a7" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-b1281bb3-f1ed-446b-a393-e362d360b5a7" > > failure:<>
Dec 12 17:18:59 ubuntu etcd[67500]: start time = 2024-12-12 17:18:59.705029972 +0000 UTC m=+608.613991030, time spent = 295.025µs, remote = 10.201.5.82:36168, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 12 17:18:59 ubuntu etcd[67500]: start time = 2024-12-12 17:18:59.707159763 +0000 UTC m=+608.616120817, time spent = 223.949µs, remote = 10.201.5.82:36168, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-b1281bb3-f1ed-446b-a393-e362d360b5a7" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-b1281bb3-f1ed-446b-a393-e362d360b5a7" value_size:16 lease:5727333786127777053 >> failure:<request_range:<key:"/tooz/lockscinder-b1281bb3-f1ed-446b-a393-e362d360b5a7" > >
Dec 12 17:19:00 ubuntu etcd[67500]: start time = 2024-12-12 17:19:00.401295058 +0000 UTC m=+609.310256107, time spent = 190.683µs, remote = 10.201.5.82:36168, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-b1281bb3-f1ed-446b-a393-e362d360b5a7" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-b1281bb3-f1ed-446b-a393-e362d360b5a7" > > failure:<>
Dec 12 17:19:00 ubuntu etcd[67500]: start time = 2024-12-12 17:19:00.61672789 +0000 UTC m=+609.525688958, time spent = 291.632µs, remote = 10.201.5.82:36168, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 12 17:19:00 ubuntu etcd[67500]: start time = 2024-12-12 17:19:00.618776922 +0000 UTC m=+609.527737973, time spent = 172.717µs, remote = 10.201.5.82:36168, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-b1281bb3-f1ed-446b-a393-e362d360b5a7" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-b1281bb3-f1ed-446b-a393-e362d360b5a7" value_size:16 lease:5727333786127777057 >> failure:<request_range:<key:"/tooz/lockscinder-b1281bb3-f1ed-446b-a393-e362d360b5a7" > >
Dec 12 17:19:01 ubuntu etcd[67500]: start time = 2024-12-12 17:19:01.365485658 +0000 UTC m=+610.274446708, time spent = 236.066µs, remote = 10.201.5.82:36168, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-b1281bb3-f1ed-446b-a393-e362d360b5a7" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-b1281bb3-f1ed-446b-a393-e362d360b5a7" > > failure:<>
