Mar 26 17:58:23 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 26 17:58:23 ubuntu etcd[79363]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 26 17:58:23 ubuntu etcd[79363]:         A future release of golang/protobuf will delete this package,
Mar 26 17:58:23 ubuntu etcd[79363]:         which has long been excluded from the compatibility promise.
Mar 26 17:58:23 ubuntu etcd[79363]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 26 17:58:23 ubuntu etcd[79363]: Running http and grpc server on single port. This is not recommended for production.
Mar 26 17:58:23 ubuntu etcd[79363]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 26 17:58:23 ubuntu etcd[79363]: etcd Version: 3.4.27
Mar 26 17:58:23 ubuntu etcd[79363]: Git SHA: c92fb80f3
Mar 26 17:58:23 ubuntu etcd[79363]: Go Version: go1.19.10
Mar 26 17:58:23 ubuntu etcd[79363]: Go OS/Arch: linux/amd64
Mar 26 17:58:23 ubuntu etcd[79363]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 26 17:58:23 ubuntu etcd[79363]: Running http and grpc server on single port. This is not recommended for production.
Mar 26 17:58:23 ubuntu etcd[79363]: name = ubuntu
Mar 26 17:58:23 ubuntu etcd[79363]: data dir = /opt/stack/data/etcd
Mar 26 17:58:23 ubuntu etcd[79363]: member dir = /opt/stack/data/etcd/member
Mar 26 17:58:23 ubuntu etcd[79363]: heartbeat = 100ms
Mar 26 17:58:23 ubuntu etcd[79363]: election = 1000ms
Mar 26 17:58:23 ubuntu etcd[79363]: snapshot count = 100000
Mar 26 17:58:23 ubuntu etcd[79363]: advertise client URLs = http://10.201.5.82:2379
Mar 26 17:58:23 ubuntu etcd[79363]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 26 17:58:23 ubuntu etcd[79363]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Mar 26 17:58:23 ubuntu etcd[79363]: raft2025/03/26 17:58:23 INFO: 43038365673ccf7b switched to configuration voters=()
Mar 26 17:58:23 ubuntu etcd[79363]: raft2025/03/26 17:58:23 INFO: 43038365673ccf7b became follower at term 0
Mar 26 17:58:23 ubuntu etcd[79363]: raft2025/03/26 17:58:23 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 26 17:58:23 ubuntu etcd[79363]: raft2025/03/26 17:58:23 INFO: 43038365673ccf7b became follower at term 1
Mar 26 17:58:23 ubuntu etcd[79363]: raft2025/03/26 17:58:23 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 26 17:58:23 ubuntu etcd[79363]: simple token is not cryptographically signed
Mar 26 17:58:23 ubuntu etcd[79363]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 26 17:58:23 ubuntu etcd[79363]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 26 17:58:23 ubuntu etcd[79363]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 26 17:58:23 ubuntu etcd[79363]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 26 17:58:23 ubuntu etcd[79363]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 26 17:58:23 ubuntu etcd[79363]: raft2025/03/26 17:58:23 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 26 17:58:23 ubuntu etcd[79363]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Mar 26 17:58:23 ubuntu etcd[79363]: listening for peers on [::]:2380
Mar 26 17:58:24 ubuntu etcd[79363]: raft2025/03/26 17:58:24 INFO: 43038365673ccf7b is starting a new election at term 1
Mar 26 17:58:24 ubuntu etcd[79363]: raft2025/03/26 17:58:24 INFO: 43038365673ccf7b became candidate at term 2
Mar 26 17:58:24 ubuntu etcd[79363]: raft2025/03/26 17:58:24 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Mar 26 17:58:24 ubuntu etcd[79363]: raft2025/03/26 17:58:24 INFO: 43038365673ccf7b became leader at term 2
Mar 26 17:58:24 ubuntu etcd[79363]: raft2025/03/26 17:58:24 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Mar 26 17:58:24 ubuntu etcd[79363]: ready to serve client requests
Mar 26 17:58:24 ubuntu etcd[79363]: setting up the initial cluster version to 3.4
Mar 26 17:58:24 ubuntu etcd[79363]: set the initial cluster version to 3.4
Mar 26 17:58:24 ubuntu etcd[79363]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Mar 26 17:58:24 ubuntu etcd[79363]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Mar 26 17:58:24 ubuntu etcd[79363]: enabled capabilities for version 3.4
Mar 26 17:58:24 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 26 18:03:06 ubuntu etcd[79363]: start time = 2025-03-26 18:03:06.406841481 +0000 UTC m=+282.563455221, time spent = 515.633µs, remote = 10.201.5.82:58822, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 26 18:03:06 ubuntu etcd[79363]: start time = 2025-03-26 18:03:06.449712837 +0000 UTC m=+282.606326566, time spent = 158.401µs, remote = 10.201.5.82:58822, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 26 18:03:13 ubuntu etcd[79363]: start time = 2025-03-26 18:03:13.099628882 +0000 UTC m=+289.256242643, time spent = 224.614µs, remote = 10.201.5.82:58822, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 26 18:03:15 ubuntu etcd[79363]: start time = 2025-03-26 18:03:15.058417722 +0000 UTC m=+291.215031466, time spent = 192.996µs, remote = 10.201.5.82:58822, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 26 18:06:01 ubuntu etcd[79363]: start time = 2025-03-26 18:06:01.489669612 +0000 UTC m=+457.646283350, time spent = 482.304µs, remote = 10.201.5.82:58822, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 26 18:06:01 ubuntu etcd[79363]: start time = 2025-03-26 18:06:01.788844241 +0000 UTC m=+457.945458095, time spent = 465.197µs, remote = 10.201.5.82:58822, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 26 18:06:01 ubuntu etcd[79363]: start time = 2025-03-26 18:06:01.963437941 +0000 UTC m=+458.120051684, time spent = 209.151µs, remote = 10.201.5.82:58822, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 26 18:06:05 ubuntu etcd[79363]: start time = 2025-03-26 18:06:05.083419212 +0000 UTC m=+461.240033049, time spent = 398.166µs, remote = 10.201.5.82:58822, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
