May 09 16:14:53 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 09 16:14:53 ubuntu etcd[79422]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 09 16:14:53 ubuntu etcd[79422]:         A future release of golang/protobuf will delete this package,
May 09 16:14:53 ubuntu etcd[79422]:         which has long been excluded from the compatibility promise.
May 09 16:14:53 ubuntu etcd[79422]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 09 16:14:53 ubuntu etcd[79422]: Running http and grpc server on single port. This is not recommended for production.
May 09 16:14:53 ubuntu etcd[79422]: etcd Version: 3.4.27
May 09 16:14:53 ubuntu etcd[79422]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 09 16:14:53 ubuntu etcd[79422]: Git SHA: c92fb80f3
May 09 16:14:53 ubuntu etcd[79422]: Go Version: go1.19.10
May 09 16:14:53 ubuntu etcd[79422]: Go OS/Arch: linux/amd64
May 09 16:14:53 ubuntu etcd[79422]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 09 16:14:53 ubuntu etcd[79422]: Running http and grpc server on single port. This is not recommended for production.
May 09 16:14:53 ubuntu etcd[79422]: name = ubuntu
May 09 16:14:53 ubuntu etcd[79422]: data dir = /opt/stack/data/etcd
May 09 16:14:53 ubuntu etcd[79422]: member dir = /opt/stack/data/etcd/member
May 09 16:14:53 ubuntu etcd[79422]: heartbeat = 100ms
May 09 16:14:53 ubuntu etcd[79422]: election = 1000ms
May 09 16:14:53 ubuntu etcd[79422]: snapshot count = 100000
May 09 16:14:53 ubuntu etcd[79422]: advertise client URLs = http://10.201.5.82:2379
May 09 16:14:53 ubuntu etcd[79422]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 09 16:14:53 ubuntu etcd[79422]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
May 09 16:14:53 ubuntu etcd[79422]: raft2025/05/09 16:14:53 INFO: 43038365673ccf7b switched to configuration voters=()
May 09 16:14:53 ubuntu etcd[79422]: raft2025/05/09 16:14:53 INFO: 43038365673ccf7b became follower at term 0
May 09 16:14:53 ubuntu etcd[79422]: raft2025/05/09 16:14:53 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 09 16:14:53 ubuntu etcd[79422]: raft2025/05/09 16:14:53 INFO: 43038365673ccf7b became follower at term 1
May 09 16:14:53 ubuntu etcd[79422]: raft2025/05/09 16:14:53 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
May 09 16:14:53 ubuntu etcd[79422]: simple token is not cryptographically signed
May 09 16:14:53 ubuntu etcd[79422]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 09 16:14:53 ubuntu etcd[79422]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
May 09 16:14:53 ubuntu etcd[79422]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 09 16:14:53 ubuntu etcd[79422]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 09 16:14:53 ubuntu etcd[79422]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 09 16:14:53 ubuntu etcd[79422]: raft2025/05/09 16:14:53 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
May 09 16:14:53 ubuntu etcd[79422]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
May 09 16:14:53 ubuntu etcd[79422]: listening for peers on [::]:2380
May 09 16:14:54 ubuntu etcd[79422]: raft2025/05/09 16:14:54 INFO: 43038365673ccf7b is starting a new election at term 1
May 09 16:14:54 ubuntu etcd[79422]: raft2025/05/09 16:14:54 INFO: 43038365673ccf7b became candidate at term 2
May 09 16:14:54 ubuntu etcd[79422]: raft2025/05/09 16:14:54 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
May 09 16:14:54 ubuntu etcd[79422]: raft2025/05/09 16:14:54 INFO: 43038365673ccf7b became leader at term 2
May 09 16:14:54 ubuntu etcd[79422]: raft2025/05/09 16:14:54 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
May 09 16:14:54 ubuntu etcd[79422]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
May 09 16:14:54 ubuntu etcd[79422]: ready to serve client requests
May 09 16:14:54 ubuntu etcd[79422]: setting up the initial cluster version to 3.4
May 09 16:14:54 ubuntu etcd[79422]: set the initial cluster version to 3.4
May 09 16:14:54 ubuntu etcd[79422]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
May 09 16:14:54 ubuntu etcd[79422]: enabled capabilities for version 3.4
May 09 16:14:54 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 09 16:19:45 ubuntu etcd[79422]: start time = 2025-05-09 16:19:45.776560212 +0000 UTC m=+292.550233017, time spent = 2.282086ms, remote = 10.201.5.82:55712, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 09 16:19:45 ubuntu etcd[79422]: start time = 2025-05-09 16:19:45.802903723 +0000 UTC m=+292.576576538, time spent = 219.796µs, remote = 10.201.5.82:55712, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 09 16:19:52 ubuntu etcd[79422]: start time = 2025-05-09 16:19:52.565117255 +0000 UTC m=+299.338790070, time spent = 227.377µs, remote = 10.201.5.82:55712, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 09 16:19:54 ubuntu etcd[79422]: start time = 2025-05-09 16:19:54.690284405 +0000 UTC m=+301.463957219, time spent = 262.277µs, remote = 10.201.5.82:55712, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 09 16:23:36 ubuntu etcd[79422]: start time = 2025-05-09 16:23:36.058718649 +0000 UTC m=+522.832391460, time spent = 292.668µs, remote = 10.201.5.82:55712, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 09 16:23:36 ubuntu etcd[79422]: start time = 2025-05-09 16:23:36.11877299 +0000 UTC m=+522.892445803, time spent = 159.404µs, remote = 10.201.5.82:55712, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 09 16:23:37 ubuntu etcd[79422]: start time = 2025-05-09 16:23:37.349636592 +0000 UTC m=+524.123309430, time spent = 344.604µs, remote = 10.201.5.82:55712, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 09 16:23:38 ubuntu etcd[79422]: start time = 2025-05-09 16:23:38.307655183 +0000 UTC m=+525.081327997, time spent = 240.883µs, remote = 10.201.5.82:55712, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 09 16:25:27 ubuntu etcd[79422]: start time = 2025-05-09 16:25:27.541482405 +0000 UTC m=+634.315155313, time spent = 962.996µs, remote = 10.201.5.82:55712, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 09 16:25:27 ubuntu etcd[79422]: start time = 2025-05-09 16:25:27.546144153 +0000 UTC m=+634.319816965, time spent = 554.821µs, remote = 10.201.5.82:55712, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-d1f5a290-f8a6-4065-93b9-8379401a8d3c" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-d1f5a290-f8a6-4065-93b9-8379401a8d3c" value_size:16 lease:5727337058822087961 >> failure:<request_range:<key:"/tooz/lockscinder-d1f5a290-f8a6-4065-93b9-8379401a8d3c" > >
May 09 16:25:30 ubuntu etcd[79422]: start time = 2025-05-09 16:25:30.144018146 +0000 UTC m=+636.917691001, time spent = 420.474µs, remote = 10.201.5.82:55712, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-d1f5a290-f8a6-4065-93b9-8379401a8d3c" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-d1f5a290-f8a6-4065-93b9-8379401a8d3c" > > failure:<>
May 09 16:25:30 ubuntu etcd[79422]: start time = 2025-05-09 16:25:30.365572409 +0000 UTC m=+637.139245226, time spent = 225.427µs, remote = 10.201.5.82:55712, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 09 16:25:30 ubuntu etcd[79422]: start time = 2025-05-09 16:25:30.367883248 +0000 UTC m=+637.141556065, time spent = 183.522µs, remote = 10.201.5.82:55712, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-d1f5a290-f8a6-4065-93b9-8379401a8d3c" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-d1f5a290-f8a6-4065-93b9-8379401a8d3c" value_size:16 lease:5727337058822087965 >> failure:<request_range:<key:"/tooz/lockscinder-d1f5a290-f8a6-4065-93b9-8379401a8d3c" > >
May 09 16:25:33 ubuntu etcd[79422]: start time = 2025-05-09 16:25:33.434385488 +0000 UTC m=+640.208058416, time spent = 493.838µs, remote = 10.201.5.82:55712, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-d1f5a290-f8a6-4065-93b9-8379401a8d3c" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-d1f5a290-f8a6-4065-93b9-8379401a8d3c" > > failure:<>
May 09 16:25:33 ubuntu etcd[79422]: start time = 2025-05-09 16:25:33.658857427 +0000 UTC m=+640.432530240, time spent = 243.547µs, remote = 10.201.5.82:55712, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 09 16:25:33 ubuntu etcd[79422]: start time = 2025-05-09 16:25:33.661886796 +0000 UTC m=+640.435559713, time spent = 416.181µs, remote = 10.201.5.82:55712, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-d1f5a290-f8a6-4065-93b9-8379401a8d3c" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-d1f5a290-f8a6-4065-93b9-8379401a8d3c" value_size:16 lease:5727337058822087969 >> failure:<request_range:<key:"/tooz/lockscinder-d1f5a290-f8a6-4065-93b9-8379401a8d3c" > >
May 09 16:25:35 ubuntu etcd[79422]: start time = 2025-05-09 16:25:35.479141779 +0000 UTC m=+642.252814703, time spent = 525.237µs, remote = 10.201.5.82:55712, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-d1f5a290-f8a6-4065-93b9-8379401a8d3c" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-d1f5a290-f8a6-4065-93b9-8379401a8d3c" > > failure:<>
