Jul 18 18:05:23 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 18 18:05:23 ubuntu etcd[79410]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 18 18:05:23 ubuntu etcd[79410]:         A future release of golang/protobuf will delete this package,
Jul 18 18:05:23 ubuntu etcd[79410]:         which has long been excluded from the compatibility promise.
Jul 18 18:05:23 ubuntu etcd[79410]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 18 18:05:23 ubuntu etcd[79410]: Running http and grpc server on single port. This is not recommended for production.
Jul 18 18:05:23 ubuntu etcd[79410]: etcd Version: 3.4.27
Jul 18 18:05:23 ubuntu etcd[79410]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 18 18:05:23 ubuntu etcd[79410]: Git SHA: c92fb80f3
Jul 18 18:05:23 ubuntu etcd[79410]: Go Version: go1.19.10
Jul 18 18:05:23 ubuntu etcd[79410]: Go OS/Arch: linux/amd64
Jul 18 18:05:23 ubuntu etcd[79410]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 18 18:05:23 ubuntu etcd[79410]: Running http and grpc server on single port. This is not recommended for production.
Jul 18 18:05:23 ubuntu etcd[79410]: name = ubuntu
Jul 18 18:05:23 ubuntu etcd[79410]: data dir = /opt/stack/data/etcd
Jul 18 18:05:23 ubuntu etcd[79410]: member dir = /opt/stack/data/etcd/member
Jul 18 18:05:23 ubuntu etcd[79410]: heartbeat = 100ms
Jul 18 18:05:23 ubuntu etcd[79410]: election = 1000ms
Jul 18 18:05:23 ubuntu etcd[79410]: snapshot count = 100000
Jul 18 18:05:23 ubuntu etcd[79410]: advertise client URLs = http://10.201.5.82:2379
Jul 18 18:05:23 ubuntu etcd[79410]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 18 18:05:23 ubuntu etcd[79410]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jul 18 18:05:23 ubuntu etcd[79410]: raft2025/07/18 18:05:23 INFO: 43038365673ccf7b switched to configuration voters=()
Jul 18 18:05:23 ubuntu etcd[79410]: raft2025/07/18 18:05:23 INFO: 43038365673ccf7b became follower at term 0
Jul 18 18:05:23 ubuntu etcd[79410]: raft2025/07/18 18:05:23 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 18 18:05:23 ubuntu etcd[79410]: raft2025/07/18 18:05:23 INFO: 43038365673ccf7b became follower at term 1
Jul 18 18:05:23 ubuntu etcd[79410]: raft2025/07/18 18:05:23 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 18 18:05:23 ubuntu etcd[79410]: simple token is not cryptographically signed
Jul 18 18:05:23 ubuntu etcd[79410]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 18 18:05:23 ubuntu etcd[79410]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 18 18:05:23 ubuntu etcd[79410]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 18 18:05:23 ubuntu etcd[79410]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 18 18:05:23 ubuntu etcd[79410]: raft2025/07/18 18:05:23 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 18 18:05:23 ubuntu etcd[79410]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 18 18:05:23 ubuntu etcd[79410]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jul 18 18:05:23 ubuntu etcd[79410]: listening for peers on [::]:2380
Jul 18 18:05:23 ubuntu etcd[79410]: raft2025/07/18 18:05:23 INFO: 43038365673ccf7b is starting a new election at term 1
Jul 18 18:05:23 ubuntu etcd[79410]: raft2025/07/18 18:05:23 INFO: 43038365673ccf7b became candidate at term 2
Jul 18 18:05:23 ubuntu etcd[79410]: raft2025/07/18 18:05:23 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jul 18 18:05:23 ubuntu etcd[79410]: raft2025/07/18 18:05:23 INFO: 43038365673ccf7b became leader at term 2
Jul 18 18:05:23 ubuntu etcd[79410]: raft2025/07/18 18:05:23 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jul 18 18:05:23 ubuntu etcd[79410]: setting up the initial cluster version to 3.4
Jul 18 18:05:23 ubuntu etcd[79410]: set the initial cluster version to 3.4
Jul 18 18:05:23 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 18 18:05:23 ubuntu etcd[79410]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jul 18 18:05:23 ubuntu etcd[79410]: ready to serve client requests
Jul 18 18:05:23 ubuntu etcd[79410]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jul 18 18:05:23 ubuntu etcd[79410]: enabled capabilities for version 3.4
Jul 18 18:10:00 ubuntu etcd[79410]: start time = 2025-07-18 18:10:00.422142263 +0000 UTC m=+276.995031260, time spent = 585.825µs, remote = 10.201.5.82:33718, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 18 18:10:00 ubuntu etcd[79410]: start time = 2025-07-18 18:10:00.423166331 +0000 UTC m=+276.996055315, time spent = 178.101µs, remote = 10.201.5.82:33718, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 18 18:10:07 ubuntu etcd[79410]: start time = 2025-07-18 18:10:07.220662052 +0000 UTC m=+283.793551036, time spent = 198.822µs, remote = 10.201.5.82:33718, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 18 18:10:09 ubuntu etcd[79410]: start time = 2025-07-18 18:10:09.301678341 +0000 UTC m=+285.874567323, time spent = 203.658µs, remote = 10.201.5.82:33718, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
