Dec 17 03:50:18 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 17 03:50:18 ubuntu etcd[67654]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 17 03:50:18 ubuntu etcd[67654]:         A future release of golang/protobuf will delete this package,
Dec 17 03:50:18 ubuntu etcd[67654]:         which has long been excluded from the compatibility promise.
Dec 17 03:50:18 ubuntu etcd[67654]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 17 03:50:18 ubuntu etcd[67654]: Running http and grpc server on single port. This is not recommended for production.
Dec 17 03:50:18 ubuntu etcd[67654]: etcd Version: 3.4.27
Dec 17 03:50:18 ubuntu etcd[67654]: Git SHA: c92fb80f3
Dec 17 03:50:18 ubuntu etcd[67654]: Go Version: go1.19.10
Dec 17 03:50:18 ubuntu etcd[67654]: Go OS/Arch: linux/amd64
Dec 17 03:50:18 ubuntu etcd[67654]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 17 03:50:18 ubuntu etcd[67654]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 17 03:50:18 ubuntu etcd[67654]: Running http and grpc server on single port. This is not recommended for production.
Dec 17 03:50:18 ubuntu etcd[67654]: name = ubuntu
Dec 17 03:50:18 ubuntu etcd[67654]: data dir = /opt/stack/data/etcd
Dec 17 03:50:18 ubuntu etcd[67654]: member dir = /opt/stack/data/etcd/member
Dec 17 03:50:18 ubuntu etcd[67654]: heartbeat = 100ms
Dec 17 03:50:18 ubuntu etcd[67654]: election = 1000ms
Dec 17 03:50:18 ubuntu etcd[67654]: snapshot count = 100000
Dec 17 03:50:18 ubuntu etcd[67654]: advertise client URLs = http://10.201.5.82:2379
Dec 17 03:50:18 ubuntu etcd[67654]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Dec 17 03:50:18 ubuntu etcd[67654]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Dec 17 03:50:18 ubuntu etcd[67654]: raft2024/12/17 03:50:18 INFO: 43038365673ccf7b switched to configuration voters=()
Dec 17 03:50:18 ubuntu etcd[67654]: raft2024/12/17 03:50:18 INFO: 43038365673ccf7b became follower at term 0
Dec 17 03:50:18 ubuntu etcd[67654]: raft2024/12/17 03:50:18 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Dec 17 03:50:18 ubuntu etcd[67654]: raft2024/12/17 03:50:18 INFO: 43038365673ccf7b became follower at term 1
Dec 17 03:50:18 ubuntu etcd[67654]: raft2024/12/17 03:50:18 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Dec 17 03:50:18 ubuntu etcd[67654]: simple token is not cryptographically signed
Dec 17 03:50:18 ubuntu etcd[67654]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Dec 17 03:50:18 ubuntu etcd[67654]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Dec 17 03:50:18 ubuntu etcd[67654]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Dec 17 03:50:18 ubuntu etcd[67654]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Dec 17 03:50:18 ubuntu etcd[67654]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Dec 17 03:50:18 ubuntu etcd[67654]: raft2024/12/17 03:50:18 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Dec 17 03:50:18 ubuntu etcd[67654]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Dec 17 03:50:18 ubuntu etcd[67654]: listening for peers on [::]:2380
Dec 17 03:50:19 ubuntu etcd[67654]: raft2024/12/17 03:50:19 INFO: 43038365673ccf7b is starting a new election at term 1
Dec 17 03:50:19 ubuntu etcd[67654]: raft2024/12/17 03:50:19 INFO: 43038365673ccf7b became candidate at term 2
Dec 17 03:50:19 ubuntu etcd[67654]: raft2024/12/17 03:50:19 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Dec 17 03:50:19 ubuntu etcd[67654]: raft2024/12/17 03:50:19 INFO: 43038365673ccf7b became leader at term 2
Dec 17 03:50:19 ubuntu etcd[67654]: raft2024/12/17 03:50:19 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Dec 17 03:50:19 ubuntu etcd[67654]: setting up the initial cluster version to 3.4
Dec 17 03:50:19 ubuntu etcd[67654]: set the initial cluster version to 3.4
Dec 17 03:50:19 ubuntu etcd[67654]: enabled capabilities for version 3.4
Dec 17 03:50:19 ubuntu etcd[67654]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Dec 17 03:50:19 ubuntu etcd[67654]: ready to serve client requests
Dec 17 03:50:19 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Dec 17 03:50:19 ubuntu etcd[67654]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Dec 17 03:55:33 ubuntu etcd[67654]: start time = 2024-12-17 03:55:33.076128316 +0000 UTC m=+314.368341692, time spent = 2.316916ms, remote = 10.201.5.82:42950, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 17 03:55:33 ubuntu etcd[67654]: start time = 2024-12-17 03:55:33.192442905 +0000 UTC m=+314.484656293, time spent = 209.3µs, remote = 10.201.5.82:42950, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 17 03:55:39 ubuntu etcd[67654]: start time = 2024-12-17 03:55:39.707007497 +0000 UTC m=+320.999220881, time spent = 243.198µs, remote = 10.201.5.82:42950, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 17 03:55:41 ubuntu etcd[67654]: start time = 2024-12-17 03:55:41.591814987 +0000 UTC m=+322.884028368, time spent = 537.045µs, remote = 10.201.5.82:42950, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 17 03:58:40 ubuntu etcd[67654]: start time = 2024-12-17 03:58:40.852391524 +0000 UTC m=+502.144604897, time spent = 403.72µs, remote = 10.201.5.82:42950, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 17 03:58:40 ubuntu etcd[67654]: start time = 2024-12-17 03:58:40.906239977 +0000 UTC m=+502.198453364, time spent = 205.078µs, remote = 10.201.5.82:42950, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 17 03:58:43 ubuntu etcd[67654]: start time = 2024-12-17 03:58:43.856766234 +0000 UTC m=+505.148979675, time spent = 287.843µs, remote = 10.201.5.82:42950, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 17 03:58:45 ubuntu etcd[67654]: start time = 2024-12-17 03:58:45.270131868 +0000 UTC m=+506.562345256, time spent = 326.24µs, remote = 10.201.5.82:42950, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 17 04:00:32 ubuntu etcd[67654]: start time = 2024-12-17 04:00:32.332194506 +0000 UTC m=+613.624407922, time spent = 327.261µs, remote = 10.201.5.82:42950, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 17 04:00:32 ubuntu etcd[67654]: start time = 2024-12-17 04:00:32.335343676 +0000 UTC m=+613.627557145, time spent = 756.75µs, remote = 10.201.5.82:42950, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-f218cd67-fdf4-4c2d-ae66-e6a40c07be22" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-f218cd67-fdf4-4c2d-ae66-e6a40c07be22" value_size:16 lease:5727333884454209561 >> failure:<request_range:<key:"/tooz/lockscinder-f218cd67-fdf4-4c2d-ae66-e6a40c07be22" > >
Dec 17 04:00:35 ubuntu etcd[67654]: start time = 2024-12-17 04:00:35.115833282 +0000 UTC m=+616.408046772, time spent = 721.965µs, remote = 10.201.5.82:42950, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-f218cd67-fdf4-4c2d-ae66-e6a40c07be22" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-f218cd67-fdf4-4c2d-ae66-e6a40c07be22" > > failure:<>
Dec 17 04:00:35 ubuntu etcd[67654]: start time = 2024-12-17 04:00:35.336323387 +0000 UTC m=+616.628536883, time spent = 497.254µs, remote = 10.201.5.82:42950, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 17 04:00:35 ubuntu etcd[67654]: start time = 2024-12-17 04:00:35.338425317 +0000 UTC m=+616.630638704, time spent = 502.411µs, remote = 10.201.5.82:42950, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-f218cd67-fdf4-4c2d-ae66-e6a40c07be22" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-f218cd67-fdf4-4c2d-ae66-e6a40c07be22" value_size:16 lease:5727333884454209565 >> failure:<request_range:<key:"/tooz/lockscinder-f218cd67-fdf4-4c2d-ae66-e6a40c07be22" > >
Dec 17 04:00:36 ubuntu etcd[67654]: start time = 2024-12-17 04:00:36.114781623 +0000 UTC m=+617.406995009, time spent = 296.845µs, remote = 10.201.5.82:42950, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-f218cd67-fdf4-4c2d-ae66-e6a40c07be22" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-f218cd67-fdf4-4c2d-ae66-e6a40c07be22" > > failure:<>
Dec 17 04:00:36 ubuntu etcd[67654]: start time = 2024-12-17 04:00:36.319450227 +0000 UTC m=+617.611663633, time spent = 414.483µs, remote = 10.201.5.82:42950, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 17 04:00:36 ubuntu etcd[67654]: start time = 2024-12-17 04:00:36.321517342 +0000 UTC m=+617.613730746, time spent = 222.663µs, remote = 10.201.5.82:42950, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-f218cd67-fdf4-4c2d-ae66-e6a40c07be22" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-f218cd67-fdf4-4c2d-ae66-e6a40c07be22" value_size:16 lease:5727333884454209569 >> failure:<request_range:<key:"/tooz/lockscinder-f218cd67-fdf4-4c2d-ae66-e6a40c07be22" > >
Dec 17 04:00:37 ubuntu etcd[67654]: start time = 2024-12-17 04:00:37.105693007 +0000 UTC m=+618.397906496, time spent = 548.382µs, remote = 10.201.5.82:42950, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-f218cd67-fdf4-4c2d-ae66-e6a40c07be22" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-f218cd67-fdf4-4c2d-ae66-e6a40c07be22" > > failure:<>
