Jan 03 06:40:36 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jan 03 06:40:36 ubuntu etcd[67515]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jan 03 06:40:36 ubuntu etcd[67515]:         A future release of golang/protobuf will delete this package,
Jan 03 06:40:36 ubuntu etcd[67515]:         which has long been excluded from the compatibility promise.
Jan 03 06:40:36 ubuntu etcd[67515]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 03 06:40:36 ubuntu etcd[67515]: Running http and grpc server on single port. This is not recommended for production.
Jan 03 06:40:36 ubuntu etcd[67515]: etcd Version: 3.4.27
Jan 03 06:40:36 ubuntu etcd[67515]: Git SHA: c92fb80f3
Jan 03 06:40:36 ubuntu etcd[67515]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 03 06:40:36 ubuntu etcd[67515]: Go Version: go1.19.10
Jan 03 06:40:36 ubuntu etcd[67515]: Go OS/Arch: linux/amd64
Jan 03 06:40:36 ubuntu etcd[67515]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jan 03 06:40:36 ubuntu etcd[67515]: Running http and grpc server on single port. This is not recommended for production.
Jan 03 06:40:36 ubuntu etcd[67515]: name = ubuntu
Jan 03 06:40:36 ubuntu etcd[67515]: data dir = /opt/stack/data/etcd
Jan 03 06:40:36 ubuntu etcd[67515]: member dir = /opt/stack/data/etcd/member
Jan 03 06:40:36 ubuntu etcd[67515]: heartbeat = 100ms
Jan 03 06:40:36 ubuntu etcd[67515]: election = 1000ms
Jan 03 06:40:36 ubuntu etcd[67515]: snapshot count = 100000
Jan 03 06:40:36 ubuntu etcd[67515]: advertise client URLs = http://10.201.5.82:2379
Jan 03 06:40:36 ubuntu etcd[67515]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jan 03 06:40:36 ubuntu etcd[67515]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jan 03 06:40:36 ubuntu etcd[67515]: raft2025/01/03 06:40:36 INFO: 43038365673ccf7b switched to configuration voters=()
Jan 03 06:40:36 ubuntu etcd[67515]: raft2025/01/03 06:40:36 INFO: 43038365673ccf7b became follower at term 0
Jan 03 06:40:36 ubuntu etcd[67515]: raft2025/01/03 06:40:36 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jan 03 06:40:36 ubuntu etcd[67515]: raft2025/01/03 06:40:36 INFO: 43038365673ccf7b became follower at term 1
Jan 03 06:40:36 ubuntu etcd[67515]: raft2025/01/03 06:40:36 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jan 03 06:40:36 ubuntu etcd[67515]: simple token is not cryptographically signed
Jan 03 06:40:36 ubuntu etcd[67515]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jan 03 06:40:36 ubuntu etcd[67515]: raft2025/01/03 06:40:36 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jan 03 06:40:36 ubuntu etcd[67515]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jan 03 06:40:36 ubuntu etcd[67515]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jan 03 06:40:36 ubuntu etcd[67515]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jan 03 06:40:36 ubuntu etcd[67515]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jan 03 06:40:36 ubuntu etcd[67515]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jan 03 06:40:36 ubuntu etcd[67515]: listening for peers on [::]:2380
Jan 03 06:40:37 ubuntu etcd[67515]: raft2025/01/03 06:40:37 INFO: 43038365673ccf7b is starting a new election at term 1
Jan 03 06:40:37 ubuntu etcd[67515]: raft2025/01/03 06:40:37 INFO: 43038365673ccf7b became candidate at term 2
Jan 03 06:40:37 ubuntu etcd[67515]: raft2025/01/03 06:40:37 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jan 03 06:40:37 ubuntu etcd[67515]: raft2025/01/03 06:40:37 INFO: 43038365673ccf7b became leader at term 2
Jan 03 06:40:37 ubuntu etcd[67515]: raft2025/01/03 06:40:37 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jan 03 06:40:37 ubuntu etcd[67515]: setting up the initial cluster version to 3.4
Jan 03 06:40:37 ubuntu etcd[67515]: ready to serve client requests
Jan 03 06:40:37 ubuntu etcd[67515]: set the initial cluster version to 3.4
Jan 03 06:40:37 ubuntu etcd[67515]: enabled capabilities for version 3.4
Jan 03 06:40:37 ubuntu etcd[67515]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jan 03 06:40:37 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jan 03 06:40:37 ubuntu etcd[67515]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jan 03 06:45:43 ubuntu etcd[67515]: start time = 2025-01-03 06:45:43.67072921 +0000 UTC m=+307.372686278, time spent = 1.740504ms, remote = 10.201.5.82:41756, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 03 06:45:43 ubuntu etcd[67515]: start time = 2025-01-03 06:45:43.743092832 +0000 UTC m=+307.445049905, time spent = 294.018µs, remote = 10.201.5.82:41756, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 03 06:45:50 ubuntu etcd[67515]: start time = 2025-01-03 06:45:50.516797976 +0000 UTC m=+314.218755040, time spent = 213.694µs, remote = 10.201.5.82:41756, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 03 06:45:52 ubuntu etcd[67515]: start time = 2025-01-03 06:45:52.863670536 +0000 UTC m=+316.565627614, time spent = 369.245µs, remote = 10.201.5.82:41756, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
