Jul 24 11:17:08 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 24 11:17:08 ubuntu etcd[79183]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 24 11:17:08 ubuntu etcd[79183]:         A future release of golang/protobuf will delete this package,
Jul 24 11:17:08 ubuntu etcd[79183]:         which has long been excluded from the compatibility promise.
Jul 24 11:17:08 ubuntu etcd[79183]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 24 11:17:08 ubuntu etcd[79183]: Running http and grpc server on single port. This is not recommended for production.
Jul 24 11:17:08 ubuntu etcd[79183]: etcd Version: 3.4.27
Jul 24 11:17:08 ubuntu etcd[79183]: Git SHA: c92fb80f3
Jul 24 11:17:08 ubuntu etcd[79183]: Go Version: go1.19.10
Jul 24 11:17:08 ubuntu etcd[79183]: Go OS/Arch: linux/amd64
Jul 24 11:17:08 ubuntu etcd[79183]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 24 11:17:08 ubuntu etcd[79183]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 24 11:17:08 ubuntu etcd[79183]: Running http and grpc server on single port. This is not recommended for production.
Jul 24 11:17:08 ubuntu etcd[79183]: name = ubuntu
Jul 24 11:17:08 ubuntu etcd[79183]: data dir = /opt/stack/data/etcd
Jul 24 11:17:08 ubuntu etcd[79183]: member dir = /opt/stack/data/etcd/member
Jul 24 11:17:08 ubuntu etcd[79183]: heartbeat = 100ms
Jul 24 11:17:08 ubuntu etcd[79183]: election = 1000ms
Jul 24 11:17:08 ubuntu etcd[79183]: snapshot count = 100000
Jul 24 11:17:08 ubuntu etcd[79183]: advertise client URLs = http://10.201.5.82:2379
Jul 24 11:17:08 ubuntu etcd[79183]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 24 11:17:08 ubuntu etcd[79183]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jul 24 11:17:08 ubuntu etcd[79183]: raft2025/07/24 11:17:08 INFO: 43038365673ccf7b switched to configuration voters=()
Jul 24 11:17:08 ubuntu etcd[79183]: raft2025/07/24 11:17:08 INFO: 43038365673ccf7b became follower at term 0
Jul 24 11:17:08 ubuntu etcd[79183]: raft2025/07/24 11:17:08 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 24 11:17:08 ubuntu etcd[79183]: raft2025/07/24 11:17:08 INFO: 43038365673ccf7b became follower at term 1
Jul 24 11:17:08 ubuntu etcd[79183]: raft2025/07/24 11:17:08 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 24 11:17:08 ubuntu etcd[79183]: simple token is not cryptographically signed
Jul 24 11:17:08 ubuntu etcd[79183]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 24 11:17:08 ubuntu etcd[79183]: raft2025/07/24 11:17:08 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 24 11:17:08 ubuntu etcd[79183]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jul 24 11:17:08 ubuntu etcd[79183]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 24 11:17:08 ubuntu etcd[79183]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 24 11:17:08 ubuntu etcd[79183]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 24 11:17:08 ubuntu etcd[79183]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 24 11:17:08 ubuntu etcd[79183]: listening for peers on [::]:2380
Jul 24 11:17:08 ubuntu etcd[79183]: raft2025/07/24 11:17:08 INFO: 43038365673ccf7b is starting a new election at term 1
Jul 24 11:17:08 ubuntu etcd[79183]: raft2025/07/24 11:17:08 INFO: 43038365673ccf7b became candidate at term 2
Jul 24 11:17:08 ubuntu etcd[79183]: raft2025/07/24 11:17:08 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jul 24 11:17:08 ubuntu etcd[79183]: raft2025/07/24 11:17:08 INFO: 43038365673ccf7b became leader at term 2
Jul 24 11:17:08 ubuntu etcd[79183]: raft2025/07/24 11:17:08 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jul 24 11:17:08 ubuntu etcd[79183]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jul 24 11:17:08 ubuntu etcd[79183]: ready to serve client requests
Jul 24 11:17:08 ubuntu etcd[79183]: setting up the initial cluster version to 3.4
Jul 24 11:17:08 ubuntu etcd[79183]: set the initial cluster version to 3.4
Jul 24 11:17:08 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 24 11:17:08 ubuntu etcd[79183]: enabled capabilities for version 3.4
Jul 24 11:17:08 ubuntu etcd[79183]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jul 24 11:21:50 ubuntu etcd[79183]: start time = 2025-07-24 11:21:50.405331869 +0000 UTC m=+282.294273159, time spent = 1.319971ms, remote = 10.201.5.82:42562, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 24 11:21:50 ubuntu etcd[79183]: start time = 2025-07-24 11:21:50.42639707 +0000 UTC m=+282.315338369, time spent = 293.162µs, remote = 10.201.5.82:42562, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 24 11:21:57 ubuntu etcd[79183]: start time = 2025-07-24 11:21:57.417755459 +0000 UTC m=+289.306696743, time spent = 179.544µs, remote = 10.201.5.82:42562, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 24 11:21:59 ubuntu etcd[79183]: start time = 2025-07-24 11:21:59.577985433 +0000 UTC m=+291.466926726, time spent = 195.166µs, remote = 10.201.5.82:42562, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 24 11:25:18 ubuntu etcd[79183]: start time = 2025-07-24 11:25:18.635292652 +0000 UTC m=+490.524233945, time spent = 306.375µs, remote = 10.201.5.82:42562, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 24 11:25:18 ubuntu etcd[79183]: start time = 2025-07-24 11:25:18.643239592 +0000 UTC m=+490.532180888, time spent = 140.388µs, remote = 10.201.5.82:42562, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 24 11:25:19 ubuntu etcd[79183]: start time = 2025-07-24 11:25:19.598014302 +0000 UTC m=+491.486955599, time spent = 215.637µs, remote = 10.201.5.82:42562, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 24 11:25:22 ubuntu etcd[79183]: start time = 2025-07-24 11:25:22.07622288 +0000 UTC m=+493.965164175, time spent = 5.980367ms, remote = 10.201.5.82:42562, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 24 11:32:06 ubuntu etcd[79183]: start time = 2025-07-24 11:32:06.406692102 +0000 UTC m=+898.295633402, time spent = 393.857µs, remote = 10.201.5.82:42562, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 24 11:32:06 ubuntu etcd[79183]: start time = 2025-07-24 11:32:06.426495302 +0000 UTC m=+898.315436611, time spent = 2.134407ms, remote = 10.201.5.82:42562, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-07f0f33c-9d23-4fb2-80c7-862aa6264b62" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-07f0f33c-9d23-4fb2-80c7-862aa6264b62" value_size:16 lease:5727338735247016217 >> failure:<request_range:<key:"/tooz/lockscinder-07f0f33c-9d23-4fb2-80c7-862aa6264b62" > >
Jul 24 11:32:09 ubuntu etcd[79183]: start time = 2025-07-24 11:32:09.132979948 +0000 UTC m=+901.021921355, time spent = 506.43µs, remote = 10.201.5.82:42562, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-07f0f33c-9d23-4fb2-80c7-862aa6264b62" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-07f0f33c-9d23-4fb2-80c7-862aa6264b62" > > failure:<>
Jul 24 11:32:09 ubuntu etcd[79183]: start time = 2025-07-24 11:32:09.364007407 +0000 UTC m=+901.252948705, time spent = 245.446µs, remote = 10.201.5.82:42562, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 24 11:32:09 ubuntu etcd[79183]: start time = 2025-07-24 11:32:09.36706798 +0000 UTC m=+901.256009292, time spent = 367.116µs, remote = 10.201.5.82:42562, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-07f0f33c-9d23-4fb2-80c7-862aa6264b62" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-07f0f33c-9d23-4fb2-80c7-862aa6264b62" value_size:16 lease:5727338735247016221 >> failure:<request_range:<key:"/tooz/lockscinder-07f0f33c-9d23-4fb2-80c7-862aa6264b62" > >
Jul 24 11:32:11 ubuntu etcd[79183]: start time = 2025-07-24 11:32:11.955334673 +0000 UTC m=+903.844276053, time spent = 583.379µs, remote = 10.201.5.82:42562, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-07f0f33c-9d23-4fb2-80c7-862aa6264b62" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-07f0f33c-9d23-4fb2-80c7-862aa6264b62" > > failure:<>
Jul 24 11:32:12 ubuntu etcd[79183]: start time = 2025-07-24 11:32:12.200862409 +0000 UTC m=+904.089803751, time spent = 590.872µs, remote = 10.201.5.82:42562, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 24 11:32:12 ubuntu etcd[79183]: start time = 2025-07-24 11:32:12.204473626 +0000 UTC m=+904.093415034, time spent = 471.363µs, remote = 10.201.5.82:42562, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-07f0f33c-9d23-4fb2-80c7-862aa6264b62" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-07f0f33c-9d23-4fb2-80c7-862aa6264b62" value_size:16 lease:5727338735247016225 >> failure:<request_range:<key:"/tooz/lockscinder-07f0f33c-9d23-4fb2-80c7-862aa6264b62" > >
Jul 24 11:32:14 ubuntu etcd[79183]: start time = 2025-07-24 11:32:14.009489583 +0000 UTC m=+905.898430963, time spent = 668.979µs, remote = 10.201.5.82:42562, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-07f0f33c-9d23-4fb2-80c7-862aa6264b62" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-07f0f33c-9d23-4fb2-80c7-862aa6264b62" > > failure:<>
