Aug 06 20:34:22 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Aug 06 20:34:22 ubuntu etcd[79519]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Aug 06 20:34:22 ubuntu etcd[79519]:         A future release of golang/protobuf will delete this package,
Aug 06 20:34:22 ubuntu etcd[79519]:         which has long been excluded from the compatibility promise.
Aug 06 20:34:22 ubuntu etcd[79519]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 06 20:34:22 ubuntu etcd[79519]: Running http and grpc server on single port. This is not recommended for production.
Aug 06 20:34:22 ubuntu etcd[79519]: etcd Version: 3.4.27
Aug 06 20:34:22 ubuntu etcd[79519]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 06 20:34:22 ubuntu etcd[79519]: Git SHA: c92fb80f3
Aug 06 20:34:22 ubuntu etcd[79519]: Go Version: go1.19.10
Aug 06 20:34:22 ubuntu etcd[79519]: Go OS/Arch: linux/amd64
Aug 06 20:34:22 ubuntu etcd[79519]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Aug 06 20:34:22 ubuntu etcd[79519]: Running http and grpc server on single port. This is not recommended for production.
Aug 06 20:34:22 ubuntu etcd[79519]: name = ubuntu
Aug 06 20:34:22 ubuntu etcd[79519]: data dir = /opt/stack/data/etcd
Aug 06 20:34:22 ubuntu etcd[79519]: member dir = /opt/stack/data/etcd/member
Aug 06 20:34:22 ubuntu etcd[79519]: heartbeat = 100ms
Aug 06 20:34:22 ubuntu etcd[79519]: election = 1000ms
Aug 06 20:34:22 ubuntu etcd[79519]: snapshot count = 100000
Aug 06 20:34:22 ubuntu etcd[79519]: advertise client URLs = http://10.201.5.82:2379
Aug 06 20:34:22 ubuntu etcd[79519]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Aug 06 20:34:22 ubuntu etcd[79519]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Aug 06 20:34:22 ubuntu etcd[79519]: raft2025/08/06 20:34:22 INFO: 43038365673ccf7b switched to configuration voters=()
Aug 06 20:34:22 ubuntu etcd[79519]: raft2025/08/06 20:34:22 INFO: 43038365673ccf7b became follower at term 0
Aug 06 20:34:22 ubuntu etcd[79519]: raft2025/08/06 20:34:22 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Aug 06 20:34:22 ubuntu etcd[79519]: raft2025/08/06 20:34:22 INFO: 43038365673ccf7b became follower at term 1
Aug 06 20:34:22 ubuntu etcd[79519]: raft2025/08/06 20:34:22 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Aug 06 20:34:22 ubuntu etcd[79519]: simple token is not cryptographically signed
Aug 06 20:34:22 ubuntu etcd[79519]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Aug 06 20:34:22 ubuntu etcd[79519]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Aug 06 20:34:22 ubuntu etcd[79519]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Aug 06 20:34:22 ubuntu etcd[79519]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Aug 06 20:34:22 ubuntu etcd[79519]: raft2025/08/06 20:34:22 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Aug 06 20:34:22 ubuntu etcd[79519]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Aug 06 20:34:22 ubuntu etcd[79519]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Aug 06 20:34:22 ubuntu etcd[79519]: listening for peers on [::]:2380
Aug 06 20:34:22 ubuntu etcd[79519]: raft2025/08/06 20:34:22 INFO: 43038365673ccf7b is starting a new election at term 1
Aug 06 20:34:22 ubuntu etcd[79519]: raft2025/08/06 20:34:22 INFO: 43038365673ccf7b became candidate at term 2
Aug 06 20:34:22 ubuntu etcd[79519]: raft2025/08/06 20:34:22 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Aug 06 20:34:22 ubuntu etcd[79519]: raft2025/08/06 20:34:22 INFO: 43038365673ccf7b became leader at term 2
Aug 06 20:34:22 ubuntu etcd[79519]: raft2025/08/06 20:34:22 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Aug 06 20:34:22 ubuntu etcd[79519]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Aug 06 20:34:22 ubuntu etcd[79519]: setting up the initial cluster version to 3.4
Aug 06 20:34:22 ubuntu etcd[79519]: ready to serve client requests
Aug 06 20:34:22 ubuntu etcd[79519]: set the initial cluster version to 3.4
Aug 06 20:34:22 ubuntu etcd[79519]: enabled capabilities for version 3.4
Aug 06 20:34:22 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Aug 06 20:34:22 ubuntu etcd[79519]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Aug 06 20:39:04 ubuntu etcd[79519]: start time = 2025-08-06 20:39:04.561755584 +0000 UTC m=+282.414876665, time spent = 713.058µs, remote = 10.201.5.82:42308, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 06 20:39:04 ubuntu etcd[79519]: start time = 2025-08-06 20:39:04.586680178 +0000 UTC m=+282.439801271, time spent = 354.582µs, remote = 10.201.5.82:42308, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 06 20:39:11 ubuntu etcd[79519]: start time = 2025-08-06 20:39:11.772014364 +0000 UTC m=+289.625135451, time spent = 200.036µs, remote = 10.201.5.82:42308, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 06 20:39:13 ubuntu etcd[79519]: start time = 2025-08-06 20:39:13.913402645 +0000 UTC m=+291.766523736, time spent = 205.838µs, remote = 10.201.5.82:42308, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 06 20:42:25 ubuntu etcd[79519]: start time = 2025-08-06 20:42:25.607040936 +0000 UTC m=+483.460162008, time spent = 411.871µs, remote = 10.201.5.82:42308, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 06 20:42:25 ubuntu etcd[79519]: start time = 2025-08-06 20:42:25.609338243 +0000 UTC m=+483.462459328, time spent = 160.556µs, remote = 10.201.5.82:42308, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 06 20:42:26 ubuntu etcd[79519]: start time = 2025-08-06 20:42:26.730299401 +0000 UTC m=+484.583420491, time spent = 233.148µs, remote = 10.201.5.82:42308, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 06 20:42:28 ubuntu etcd[79519]: start time = 2025-08-06 20:42:28.182289415 +0000 UTC m=+486.035410505, time spent = 205.28µs, remote = 10.201.5.82:42308, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 06 20:49:13 ubuntu etcd[79519]: start time = 2025-08-06 20:49:13.941255899 +0000 UTC m=+891.794376984, time spent = 441.583µs, remote = 10.201.5.82:42308, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 06 20:49:13 ubuntu etcd[79519]: start time = 2025-08-06 20:49:13.951010646 +0000 UTC m=+891.804131778, time spent = 5.356286ms, remote = 10.201.5.82:42308, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-16bd4596-734e-4d59-aa6d-de9b0e3b706d" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-16bd4596-734e-4d59-aa6d-de9b0e3b706d" value_size:16 lease:5727339031345328153 >> failure:<request_range:<key:"/tooz/lockscinder-16bd4596-734e-4d59-aa6d-de9b0e3b706d" > >
Aug 06 20:49:16 ubuntu etcd[79519]: start time = 2025-08-06 20:49:16.574444476 +0000 UTC m=+894.427565667, time spent = 546.621µs, remote = 10.201.5.82:42308, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-16bd4596-734e-4d59-aa6d-de9b0e3b706d" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-16bd4596-734e-4d59-aa6d-de9b0e3b706d" > > failure:<>
Aug 06 20:49:16 ubuntu etcd[79519]: start time = 2025-08-06 20:49:16.798736776 +0000 UTC m=+894.651857893, time spent = 312.816µs, remote = 10.201.5.82:42308, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 06 20:49:16 ubuntu etcd[79519]: start time = 2025-08-06 20:49:16.800494276 +0000 UTC m=+894.653615367, time spent = 185.815µs, remote = 10.201.5.82:42308, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-16bd4596-734e-4d59-aa6d-de9b0e3b706d" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-16bd4596-734e-4d59-aa6d-de9b0e3b706d" value_size:16 lease:5727339031345328157 >> failure:<request_range:<key:"/tooz/lockscinder-16bd4596-734e-4d59-aa6d-de9b0e3b706d" > >
Aug 06 20:49:18 ubuntu etcd[79519]: start time = 2025-08-06 20:49:18.658322152 +0000 UTC m=+896.511443351, time spent = 364.503µs, remote = 10.201.5.82:42308, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-16bd4596-734e-4d59-aa6d-de9b0e3b706d" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-16bd4596-734e-4d59-aa6d-de9b0e3b706d" > > failure:<>
Aug 06 20:49:18 ubuntu etcd[79519]: start time = 2025-08-06 20:49:18.898060566 +0000 UTC m=+896.751181748, time spent = 525.154µs, remote = 10.201.5.82:42308, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 06 20:49:18 ubuntu etcd[79519]: start time = 2025-08-06 20:49:18.901032084 +0000 UTC m=+896.754153276, time spent = 466.357µs, remote = 10.201.5.82:42308, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-16bd4596-734e-4d59-aa6d-de9b0e3b706d" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-16bd4596-734e-4d59-aa6d-de9b0e3b706d" value_size:16 lease:5727339031345328161 >> failure:<request_range:<key:"/tooz/lockscinder-16bd4596-734e-4d59-aa6d-de9b0e3b706d" > >
Aug 06 20:49:20 ubuntu etcd[79519]: start time = 2025-08-06 20:49:20.712443821 +0000 UTC m=+898.565564965, time spent = 382.637µs, remote = 10.201.5.82:42308, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-16bd4596-734e-4d59-aa6d-de9b0e3b706d" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-16bd4596-734e-4d59-aa6d-de9b0e3b706d" > > failure:<>
