Dec 06 03:35:51 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 06 03:35:51 ubuntu etcd[68121]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 06 03:35:51 ubuntu etcd[68121]:         A future release of golang/protobuf will delete this package,
Dec 06 03:35:51 ubuntu etcd[68121]:         which has long been excluded from the compatibility promise.
Dec 06 03:35:51 ubuntu etcd[68121]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 03:35:51 ubuntu etcd[68121]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 03:35:51 ubuntu etcd[68121]: etcd Version: 3.4.27
Dec 06 03:35:51 ubuntu etcd[68121]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 03:35:51 ubuntu etcd[68121]: Git SHA: c92fb80f3
Dec 06 03:35:51 ubuntu etcd[68121]: Go Version: go1.19.10
Dec 06 03:35:51 ubuntu etcd[68121]: Go OS/Arch: linux/amd64
Dec 06 03:35:51 ubuntu etcd[68121]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 06 03:35:51 ubuntu etcd[68121]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 03:35:51 ubuntu etcd[68121]: name = ubuntu
Dec 06 03:35:51 ubuntu etcd[68121]: data dir = /opt/stack/data/etcd
Dec 06 03:35:51 ubuntu etcd[68121]: member dir = /opt/stack/data/etcd/member
Dec 06 03:35:51 ubuntu etcd[68121]: heartbeat = 100ms
Dec 06 03:35:51 ubuntu etcd[68121]: election = 1000ms
Dec 06 03:35:51 ubuntu etcd[68121]: snapshot count = 100000
Dec 06 03:35:51 ubuntu etcd[68121]: advertise client URLs = http://10.201.5.82:2379
Dec 06 03:35:51 ubuntu etcd[68121]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Dec 06 03:35:51 ubuntu etcd[68121]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Dec 06 03:35:51 ubuntu etcd[68121]: raft2024/12/06 03:35:51 INFO: 43038365673ccf7b switched to configuration voters=()
Dec 06 03:35:51 ubuntu etcd[68121]: raft2024/12/06 03:35:51 INFO: 43038365673ccf7b became follower at term 0
Dec 06 03:35:51 ubuntu etcd[68121]: raft2024/12/06 03:35:51 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Dec 06 03:35:51 ubuntu etcd[68121]: raft2024/12/06 03:35:51 INFO: 43038365673ccf7b became follower at term 1
Dec 06 03:35:51 ubuntu etcd[68121]: raft2024/12/06 03:35:51 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Dec 06 03:35:51 ubuntu etcd[68121]: simple token is not cryptographically signed
Dec 06 03:35:51 ubuntu etcd[68121]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Dec 06 03:35:51 ubuntu etcd[68121]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Dec 06 03:35:51 ubuntu etcd[68121]: raft2024/12/06 03:35:51 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Dec 06 03:35:51 ubuntu etcd[68121]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Dec 06 03:35:51 ubuntu etcd[68121]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Dec 06 03:35:51 ubuntu etcd[68121]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Dec 06 03:35:51 ubuntu etcd[68121]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Dec 06 03:35:51 ubuntu etcd[68121]: listening for peers on [::]:2380
Dec 06 03:35:52 ubuntu etcd[68121]: raft2024/12/06 03:35:52 INFO: 43038365673ccf7b is starting a new election at term 1
Dec 06 03:35:52 ubuntu etcd[68121]: raft2024/12/06 03:35:52 INFO: 43038365673ccf7b became candidate at term 2
Dec 06 03:35:52 ubuntu etcd[68121]: raft2024/12/06 03:35:52 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Dec 06 03:35:52 ubuntu etcd[68121]: raft2024/12/06 03:35:52 INFO: 43038365673ccf7b became leader at term 2
Dec 06 03:35:52 ubuntu etcd[68121]: raft2024/12/06 03:35:52 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Dec 06 03:35:52 ubuntu etcd[68121]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Dec 06 03:35:52 ubuntu etcd[68121]: setting up the initial cluster version to 3.4
Dec 06 03:35:52 ubuntu etcd[68121]: set the initial cluster version to 3.4
Dec 06 03:35:52 ubuntu etcd[68121]: enabled capabilities for version 3.4
Dec 06 03:35:52 ubuntu etcd[68121]: ready to serve client requests
Dec 06 03:35:52 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Dec 06 03:35:52 ubuntu etcd[68121]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Dec 06 03:40:57 ubuntu etcd[68121]: start time = 2024-12-06 03:40:57.572492993 +0000 UTC m=+305.877377771, time spent = 641.246µs, remote = 10.201.5.82:54310, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 06 03:40:57 ubuntu etcd[68121]: start time = 2024-12-06 03:40:57.586697037 +0000 UTC m=+305.891581827, time spent = 206.692µs, remote = 10.201.5.82:54310, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 06 03:41:04 ubuntu etcd[68121]: start time = 2024-12-06 03:41:04.222517257 +0000 UTC m=+312.527402042, time spent = 273.741µs, remote = 10.201.5.82:54310, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 06 03:41:06 ubuntu etcd[68121]: start time = 2024-12-06 03:41:06.540757132 +0000 UTC m=+314.845641919, time spent = 400.671µs, remote = 10.201.5.82:54310, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 06 03:44:04 ubuntu etcd[68121]: start time = 2024-12-06 03:44:04.047438946 +0000 UTC m=+492.352323720, time spent = 612.31µs, remote = 10.201.5.82:54310, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 06 03:44:04 ubuntu etcd[68121]: start time = 2024-12-06 03:44:04.082211359 +0000 UTC m=+492.387096148, time spent = 254.383µs, remote = 10.201.5.82:54310, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 06 03:44:04 ubuntu etcd[68121]: start time = 2024-12-06 03:44:04.121440922 +0000 UTC m=+492.426325707, time spent = 182.645µs, remote = 10.201.5.82:54310, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 06 03:44:07 ubuntu etcd[68121]: start time = 2024-12-06 03:44:07.045210254 +0000 UTC m=+495.350095045, time spent = 177.626µs, remote = 10.201.5.82:54310, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 06 03:45:57 ubuntu etcd[68121]: start time = 2024-12-06 03:45:57.746571699 +0000 UTC m=+606.051456474, time spent = 364.959µs, remote = 10.201.5.82:54310, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 06 03:45:57 ubuntu etcd[68121]: start time = 2024-12-06 03:45:57.752893164 +0000 UTC m=+606.057778045, time spent = 1.21035ms, remote = 10.201.5.82:54310, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-62e970e9-fcdb-4648-b392-40d2369cf907" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-62e970e9-fcdb-4648-b392-40d2369cf907" value_size:16 lease:5727333640929852185 >> failure:<request_range:<key:"/tooz/lockscinder-62e970e9-fcdb-4648-b392-40d2369cf907" > >
Dec 06 03:46:01 ubuntu etcd[68121]: start time = 2024-12-06 03:46:01.495275801 +0000 UTC m=+609.800160701, time spent = 909.845µs, remote = 10.201.5.82:54310, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-62e970e9-fcdb-4648-b392-40d2369cf907" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-62e970e9-fcdb-4648-b392-40d2369cf907" > > failure:<>
Dec 06 03:46:01 ubuntu etcd[68121]: start time = 2024-12-06 03:46:01.796683015 +0000 UTC m=+610.101567859, time spent = 791.523µs, remote = 10.201.5.82:54310, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 06 03:46:01 ubuntu etcd[68121]: start time = 2024-12-06 03:46:01.799877892 +0000 UTC m=+610.104762770, time spent = 429.53µs, remote = 10.201.5.82:54310, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-62e970e9-fcdb-4648-b392-40d2369cf907" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-62e970e9-fcdb-4648-b392-40d2369cf907" value_size:16 lease:5727333640929852189 >> failure:<request_range:<key:"/tooz/lockscinder-62e970e9-fcdb-4648-b392-40d2369cf907" > >
Dec 06 03:46:02 ubuntu etcd[68121]: start time = 2024-12-06 03:46:02.609549796 +0000 UTC m=+610.914434587, time spent = 279.77µs, remote = 10.201.5.82:54310, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-62e970e9-fcdb-4648-b392-40d2369cf907" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-62e970e9-fcdb-4648-b392-40d2369cf907" > > failure:<>
Dec 06 03:46:02 ubuntu etcd[68121]: start time = 2024-12-06 03:46:02.841935777 +0000 UTC m=+611.146820565, time spent = 347.961µs, remote = 10.201.5.82:54310, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 06 03:46:02 ubuntu etcd[68121]: start time = 2024-12-06 03:46:02.844265386 +0000 UTC m=+611.149150178, time spent = 181.37µs, remote = 10.201.5.82:54310, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-62e970e9-fcdb-4648-b392-40d2369cf907" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-62e970e9-fcdb-4648-b392-40d2369cf907" value_size:16 lease:5727333640929852193 >> failure:<request_range:<key:"/tooz/lockscinder-62e970e9-fcdb-4648-b392-40d2369cf907" > >
Dec 06 03:46:03 ubuntu etcd[68121]: start time = 2024-12-06 03:46:03.668239941 +0000 UTC m=+611.973124787, time spent = 434.135µs, remote = 10.201.5.82:54310, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-62e970e9-fcdb-4648-b392-40d2369cf907" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-62e970e9-fcdb-4648-b392-40d2369cf907" > > failure:<>
