Feb 20 06:47:47 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Feb 20 06:47:47 ubuntu etcd[65752]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Feb 20 06:47:47 ubuntu etcd[65752]:         A future release of golang/protobuf will delete this package,
Feb 20 06:47:47 ubuntu etcd[65752]:         which has long been excluded from the compatibility promise.
Feb 20 06:47:47 ubuntu etcd[65752]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 20 06:47:47 ubuntu etcd[65752]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 20 06:47:47 ubuntu etcd[65752]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 20 06:47:47 ubuntu etcd[65752]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 20 06:47:47 ubuntu etcd[65752]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 20 06:47:47 ubuntu etcd[65752]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 20 06:47:47 ubuntu etcd[65752]: Running http and grpc server on single port. This is not recommended for production.
Feb 20 06:47:47 ubuntu etcd[65752]: etcd Version: 3.4.27
Feb 20 06:47:47 ubuntu etcd[65752]: Git SHA: c92fb80f3
Feb 20 06:47:47 ubuntu etcd[65752]: Go Version: go1.19.10
Feb 20 06:47:47 ubuntu etcd[65752]: Go OS/Arch: linux/amd64
Feb 20 06:47:47 ubuntu etcd[65752]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Feb 20 06:47:47 ubuntu etcd[65752]: Running http and grpc server on single port. This is not recommended for production.
Feb 20 06:47:47 ubuntu etcd[65752]: name = ubuntu
Feb 20 06:47:47 ubuntu etcd[65752]: data dir = /opt/stack/data/etcd
Feb 20 06:47:47 ubuntu etcd[65752]: member dir = /opt/stack/data/etcd/member
Feb 20 06:47:47 ubuntu etcd[65752]: heartbeat = 100ms
Feb 20 06:47:47 ubuntu etcd[65752]: election = 1000ms
Feb 20 06:47:47 ubuntu etcd[65752]: snapshot count = 100000
Feb 20 06:47:47 ubuntu etcd[65752]: advertise client URLs = http://10.201.5.82:2379
Feb 20 06:47:47 ubuntu etcd[65752]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Feb 20 06:47:48 ubuntu etcd[65752]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Feb 20 06:47:48 ubuntu etcd[65752]: raft2024/02/20 06:47:48 INFO: 43038365673ccf7b switched to configuration voters=()
Feb 20 06:47:48 ubuntu etcd[65752]: raft2024/02/20 06:47:48 INFO: 43038365673ccf7b became follower at term 0
Feb 20 06:47:48 ubuntu etcd[65752]: raft2024/02/20 06:47:48 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Feb 20 06:47:48 ubuntu etcd[65752]: raft2024/02/20 06:47:48 INFO: 43038365673ccf7b became follower at term 1
Feb 20 06:47:48 ubuntu etcd[65752]: raft2024/02/20 06:47:48 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Feb 20 06:47:48 ubuntu etcd[65752]: simple token is not cryptographically signed
Feb 20 06:47:48 ubuntu etcd[65752]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Feb 20 06:47:48 ubuntu etcd[65752]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Feb 20 06:47:48 ubuntu etcd[65752]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Feb 20 06:47:48 ubuntu etcd[65752]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Feb 20 06:47:48 ubuntu etcd[65752]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Feb 20 06:47:48 ubuntu etcd[65752]: listening for peers on [::]:2380
Feb 20 06:47:48 ubuntu etcd[65752]: raft2024/02/20 06:47:48 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Feb 20 06:47:48 ubuntu etcd[65752]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Feb 20 06:47:48 ubuntu etcd[65752]: raft2024/02/20 06:47:48 INFO: 43038365673ccf7b is starting a new election at term 1
Feb 20 06:47:48 ubuntu etcd[65752]: raft2024/02/20 06:47:48 INFO: 43038365673ccf7b became candidate at term 2
Feb 20 06:47:48 ubuntu etcd[65752]: raft2024/02/20 06:47:48 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Feb 20 06:47:48 ubuntu etcd[65752]: raft2024/02/20 06:47:48 INFO: 43038365673ccf7b became leader at term 2
Feb 20 06:47:48 ubuntu etcd[65752]: raft2024/02/20 06:47:48 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Feb 20 06:47:48 ubuntu etcd[65752]: ready to serve client requests
Feb 20 06:47:48 ubuntu etcd[65752]: INFO: 2024/02/20 06:47:48 parsed scheme: ""
Feb 20 06:47:48 ubuntu etcd[65752]: INFO: 2024/02/20 06:47:48 scheme "" not registered, fallback to default scheme
Feb 20 06:47:48 ubuntu etcd[65752]: INFO: 2024/02/20 06:47:48 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Feb 20 06:47:48 ubuntu etcd[65752]: INFO: 2024/02/20 06:47:48 ClientConn switching balancer to "pick_first"
Feb 20 06:47:48 ubuntu etcd[65752]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Feb 20 06:47:48 ubuntu etcd[65752]: setting up the initial cluster version to 3.4
Feb 20 06:47:48 ubuntu etcd[65752]: set the initial cluster version to 3.4
Feb 20 06:47:48 ubuntu etcd[65752]: enabled capabilities for version 3.4
Feb 20 06:47:48 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Feb 20 06:47:48 ubuntu etcd[65752]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Feb 20 06:54:12 ubuntu etcd[65752]: start time = 2024-02-20 06:54:12.413145805 +0000 UTC m=+384.452141289, time spent = 1.400706ms, remote = 10.201.5.82:47240, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 20 06:54:12 ubuntu etcd[65752]: start time = 2024-02-20 06:54:12.462482519 +0000 UTC m=+384.501478003, time spent = 335.623µs, remote = 10.201.5.82:47240, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 20 06:54:19 ubuntu etcd[65752]: start time = 2024-02-20 06:54:19.770767286 +0000 UTC m=+391.809762770, time spent = 249.604µs, remote = 10.201.5.82:47240, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 20 06:54:21 ubuntu etcd[65752]: start time = 2024-02-20 06:54:21.843021116 +0000 UTC m=+393.882016612, time spent = 316.322µs, remote = 10.201.5.82:47240, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
