May 22 16:07:45 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 22 16:07:45 ubuntu etcd[79369]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 22 16:07:45 ubuntu etcd[79369]:         A future release of golang/protobuf will delete this package,
May 22 16:07:45 ubuntu etcd[79369]:         which has long been excluded from the compatibility promise.
May 22 16:07:45 ubuntu etcd[79369]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 22 16:07:45 ubuntu etcd[79369]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 22 16:07:45 ubuntu etcd[79369]: Running http and grpc server on single port. This is not recommended for production.
May 22 16:07:45 ubuntu etcd[79369]: etcd Version: 3.4.27
May 22 16:07:45 ubuntu etcd[79369]: Git SHA: c92fb80f3
May 22 16:07:45 ubuntu etcd[79369]: Go Version: go1.19.10
May 22 16:07:45 ubuntu etcd[79369]: Go OS/Arch: linux/amd64
May 22 16:07:45 ubuntu etcd[79369]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 22 16:07:45 ubuntu etcd[79369]: Running http and grpc server on single port. This is not recommended for production.
May 22 16:07:45 ubuntu etcd[79369]: name = ubuntu
May 22 16:07:45 ubuntu etcd[79369]: data dir = /opt/stack/data/etcd
May 22 16:07:45 ubuntu etcd[79369]: member dir = /opt/stack/data/etcd/member
May 22 16:07:45 ubuntu etcd[79369]: heartbeat = 100ms
May 22 16:07:45 ubuntu etcd[79369]: election = 1000ms
May 22 16:07:45 ubuntu etcd[79369]: snapshot count = 100000
May 22 16:07:45 ubuntu etcd[79369]: advertise client URLs = http://10.201.5.82:2379
May 22 16:07:45 ubuntu etcd[79369]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 22 16:07:45 ubuntu etcd[79369]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
May 22 16:07:45 ubuntu etcd[79369]: raft2025/05/22 16:07:45 INFO: 43038365673ccf7b switched to configuration voters=()
May 22 16:07:45 ubuntu etcd[79369]: raft2025/05/22 16:07:45 INFO: 43038365673ccf7b became follower at term 0
May 22 16:07:45 ubuntu etcd[79369]: raft2025/05/22 16:07:45 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 22 16:07:45 ubuntu etcd[79369]: raft2025/05/22 16:07:45 INFO: 43038365673ccf7b became follower at term 1
May 22 16:07:45 ubuntu etcd[79369]: raft2025/05/22 16:07:45 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
May 22 16:07:45 ubuntu etcd[79369]: simple token is not cryptographically signed
May 22 16:07:45 ubuntu etcd[79369]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 22 16:07:45 ubuntu etcd[79369]: raft2025/05/22 16:07:45 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
May 22 16:07:45 ubuntu etcd[79369]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 22 16:07:45 ubuntu etcd[79369]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 22 16:07:45 ubuntu etcd[79369]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 22 16:07:45 ubuntu etcd[79369]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
May 22 16:07:45 ubuntu etcd[79369]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
May 22 16:07:45 ubuntu etcd[79369]: listening for peers on [::]:2380
May 22 16:07:46 ubuntu etcd[79369]: raft2025/05/22 16:07:46 INFO: 43038365673ccf7b is starting a new election at term 1
May 22 16:07:46 ubuntu etcd[79369]: raft2025/05/22 16:07:46 INFO: 43038365673ccf7b became candidate at term 2
May 22 16:07:46 ubuntu etcd[79369]: raft2025/05/22 16:07:46 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
May 22 16:07:46 ubuntu etcd[79369]: raft2025/05/22 16:07:46 INFO: 43038365673ccf7b became leader at term 2
May 22 16:07:46 ubuntu etcd[79369]: raft2025/05/22 16:07:46 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
May 22 16:07:46 ubuntu etcd[79369]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
May 22 16:07:46 ubuntu etcd[79369]: setting up the initial cluster version to 3.4
May 22 16:07:46 ubuntu etcd[79369]: ready to serve client requests
May 22 16:07:46 ubuntu etcd[79369]: set the initial cluster version to 3.4
May 22 16:07:46 ubuntu etcd[79369]: enabled capabilities for version 3.4
May 22 16:07:46 ubuntu etcd[79369]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
May 22 16:07:46 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 22 16:12:28 ubuntu etcd[79369]: start time = 2025-05-22 16:12:28.123637204 +0000 UTC m=+282.667897837, time spent = 471.661µs, remote = 10.201.5.82:36228, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 22 16:12:28 ubuntu etcd[79369]: start time = 2025-05-22 16:12:28.157100481 +0000 UTC m=+282.701361125, time spent = 204.633µs, remote = 10.201.5.82:36228, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 22 16:12:35 ubuntu etcd[79369]: start time = 2025-05-22 16:12:35.016238744 +0000 UTC m=+289.560499376, time spent = 216.151µs, remote = 10.201.5.82:36228, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 22 16:12:36 ubuntu etcd[79369]: start time = 2025-05-22 16:12:36.992724405 +0000 UTC m=+291.536985043, time spent = 323.692µs, remote = 10.201.5.82:36228, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
