Apr 15 08:22:01 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Apr 15 08:22:01 ubuntu etcd[79189]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Apr 15 08:22:01 ubuntu etcd[79189]:         A future release of golang/protobuf will delete this package,
Apr 15 08:22:01 ubuntu etcd[79189]:         which has long been excluded from the compatibility promise.
Apr 15 08:22:01 ubuntu etcd[79189]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 15 08:22:01 ubuntu etcd[79189]: Running http and grpc server on single port. This is not recommended for production.
Apr 15 08:22:01 ubuntu etcd[79189]: etcd Version: 3.4.27
Apr 15 08:22:01 ubuntu etcd[79189]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 15 08:22:01 ubuntu etcd[79189]: Git SHA: c92fb80f3
Apr 15 08:22:01 ubuntu etcd[79189]: Go Version: go1.19.10
Apr 15 08:22:01 ubuntu etcd[79189]: Go OS/Arch: linux/amd64
Apr 15 08:22:01 ubuntu etcd[79189]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Apr 15 08:22:01 ubuntu etcd[79189]: Running http and grpc server on single port. This is not recommended for production.
Apr 15 08:22:01 ubuntu etcd[79189]: name = ubuntu
Apr 15 08:22:01 ubuntu etcd[79189]: data dir = /opt/stack/data/etcd
Apr 15 08:22:01 ubuntu etcd[79189]: member dir = /opt/stack/data/etcd/member
Apr 15 08:22:01 ubuntu etcd[79189]: heartbeat = 100ms
Apr 15 08:22:01 ubuntu etcd[79189]: election = 1000ms
Apr 15 08:22:01 ubuntu etcd[79189]: snapshot count = 100000
Apr 15 08:22:01 ubuntu etcd[79189]: advertise client URLs = http://10.201.5.82:2379
Apr 15 08:22:01 ubuntu etcd[79189]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Apr 15 08:22:01 ubuntu etcd[79189]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Apr 15 08:22:01 ubuntu etcd[79189]: raft2025/04/15 08:22:01 INFO: 43038365673ccf7b switched to configuration voters=()
Apr 15 08:22:01 ubuntu etcd[79189]: raft2025/04/15 08:22:01 INFO: 43038365673ccf7b became follower at term 0
Apr 15 08:22:01 ubuntu etcd[79189]: raft2025/04/15 08:22:01 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Apr 15 08:22:01 ubuntu etcd[79189]: raft2025/04/15 08:22:01 INFO: 43038365673ccf7b became follower at term 1
Apr 15 08:22:01 ubuntu etcd[79189]: raft2025/04/15 08:22:01 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Apr 15 08:22:01 ubuntu etcd[79189]: simple token is not cryptographically signed
Apr 15 08:22:01 ubuntu etcd[79189]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Apr 15 08:22:01 ubuntu etcd[79189]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Apr 15 08:22:01 ubuntu etcd[79189]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Apr 15 08:22:01 ubuntu etcd[79189]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Apr 15 08:22:01 ubuntu etcd[79189]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Apr 15 08:22:01 ubuntu etcd[79189]: raft2025/04/15 08:22:01 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Apr 15 08:22:01 ubuntu etcd[79189]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Apr 15 08:22:01 ubuntu etcd[79189]: listening for peers on [::]:2380
Apr 15 08:22:01 ubuntu etcd[79189]: raft2025/04/15 08:22:01 INFO: 43038365673ccf7b is starting a new election at term 1
Apr 15 08:22:01 ubuntu etcd[79189]: raft2025/04/15 08:22:01 INFO: 43038365673ccf7b became candidate at term 2
Apr 15 08:22:01 ubuntu etcd[79189]: raft2025/04/15 08:22:01 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Apr 15 08:22:01 ubuntu etcd[79189]: raft2025/04/15 08:22:01 INFO: 43038365673ccf7b became leader at term 2
Apr 15 08:22:01 ubuntu etcd[79189]: raft2025/04/15 08:22:01 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Apr 15 08:22:01 ubuntu etcd[79189]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Apr 15 08:22:01 ubuntu etcd[79189]: setting up the initial cluster version to 3.4
Apr 15 08:22:01 ubuntu etcd[79189]: ready to serve client requests
Apr 15 08:22:01 ubuntu etcd[79189]: set the initial cluster version to 3.4
Apr 15 08:22:01 ubuntu etcd[79189]: enabled capabilities for version 3.4
Apr 15 08:22:01 ubuntu etcd[79189]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Apr 15 08:22:01 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Apr 15 08:26:39 ubuntu etcd[79189]: start time = 2025-04-15 08:26:39.836269385 +0000 UTC m=+278.817144023, time spent = 1.459024ms, remote = 10.201.5.82:33568, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 15 08:26:39 ubuntu etcd[79189]: start time = 2025-04-15 08:26:39.93321371 +0000 UTC m=+278.914088357, time spent = 192.267µs, remote = 10.201.5.82:33568, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 15 08:26:46 ubuntu etcd[79189]: start time = 2025-04-15 08:26:46.683398697 +0000 UTC m=+285.664273339, time spent = 209.944µs, remote = 10.201.5.82:33568, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 15 08:26:48 ubuntu etcd[79189]: start time = 2025-04-15 08:26:48.55979843 +0000 UTC m=+287.540673079, time spent = 585.138µs, remote = 10.201.5.82:33568, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
