Jun 11 05:10:48 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 11 05:10:48 ubuntu etcd[79341]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 11 05:10:48 ubuntu etcd[79341]:         A future release of golang/protobuf will delete this package,
Jun 11 05:10:48 ubuntu etcd[79341]:         which has long been excluded from the compatibility promise.
Jun 11 05:10:48 ubuntu etcd[79341]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 11 05:10:48 ubuntu etcd[79341]: Running http and grpc server on single port. This is not recommended for production.
Jun 11 05:10:48 ubuntu etcd[79341]: etcd Version: 3.4.27
Jun 11 05:10:48 ubuntu etcd[79341]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 11 05:10:48 ubuntu etcd[79341]: Git SHA: c92fb80f3
Jun 11 05:10:48 ubuntu etcd[79341]: Go Version: go1.19.10
Jun 11 05:10:48 ubuntu etcd[79341]: Go OS/Arch: linux/amd64
Jun 11 05:10:48 ubuntu etcd[79341]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 11 05:10:48 ubuntu etcd[79341]: Running http and grpc server on single port. This is not recommended for production.
Jun 11 05:10:48 ubuntu etcd[79341]: name = ubuntu
Jun 11 05:10:48 ubuntu etcd[79341]: data dir = /opt/stack/data/etcd
Jun 11 05:10:48 ubuntu etcd[79341]: member dir = /opt/stack/data/etcd/member
Jun 11 05:10:48 ubuntu etcd[79341]: heartbeat = 100ms
Jun 11 05:10:48 ubuntu etcd[79341]: election = 1000ms
Jun 11 05:10:48 ubuntu etcd[79341]: snapshot count = 100000
Jun 11 05:10:48 ubuntu etcd[79341]: advertise client URLs = http://10.201.5.82:2379
Jun 11 05:10:48 ubuntu etcd[79341]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 11 05:10:48 ubuntu etcd[79341]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jun 11 05:10:48 ubuntu etcd[79341]: raft2025/06/11 05:10:48 INFO: 43038365673ccf7b switched to configuration voters=()
Jun 11 05:10:48 ubuntu etcd[79341]: raft2025/06/11 05:10:48 INFO: 43038365673ccf7b became follower at term 0
Jun 11 05:10:48 ubuntu etcd[79341]: raft2025/06/11 05:10:48 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 11 05:10:48 ubuntu etcd[79341]: raft2025/06/11 05:10:48 INFO: 43038365673ccf7b became follower at term 1
Jun 11 05:10:48 ubuntu etcd[79341]: raft2025/06/11 05:10:48 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 11 05:10:48 ubuntu etcd[79341]: simple token is not cryptographically signed
Jun 11 05:10:48 ubuntu etcd[79341]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 11 05:10:48 ubuntu etcd[79341]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 11 05:10:48 ubuntu etcd[79341]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 11 05:10:48 ubuntu etcd[79341]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 11 05:10:48 ubuntu etcd[79341]: raft2025/06/11 05:10:48 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 11 05:10:48 ubuntu etcd[79341]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jun 11 05:10:48 ubuntu etcd[79341]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 11 05:10:48 ubuntu etcd[79341]: listening for peers on [::]:2380
Jun 11 05:10:48 ubuntu etcd[79341]: raft2025/06/11 05:10:48 INFO: 43038365673ccf7b is starting a new election at term 1
Jun 11 05:10:48 ubuntu etcd[79341]: raft2025/06/11 05:10:48 INFO: 43038365673ccf7b became candidate at term 2
Jun 11 05:10:48 ubuntu etcd[79341]: raft2025/06/11 05:10:48 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jun 11 05:10:48 ubuntu etcd[79341]: raft2025/06/11 05:10:48 INFO: 43038365673ccf7b became leader at term 2
Jun 11 05:10:48 ubuntu etcd[79341]: raft2025/06/11 05:10:48 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jun 11 05:10:48 ubuntu etcd[79341]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jun 11 05:10:48 ubuntu etcd[79341]: setting up the initial cluster version to 3.4
Jun 11 05:10:48 ubuntu etcd[79341]: ready to serve client requests
Jun 11 05:10:48 ubuntu etcd[79341]: set the initial cluster version to 3.4
Jun 11 05:10:48 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 11 05:10:48 ubuntu etcd[79341]: enabled capabilities for version 3.4
Jun 11 05:10:48 ubuntu etcd[79341]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jun 11 05:15:24 ubuntu etcd[79341]: start time = 2025-06-11 05:15:24.480892312 +0000 UTC m=+275.881147144, time spent = 1.491238ms, remote = 10.201.5.82:45740, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 05:15:24 ubuntu etcd[79341]: start time = 2025-06-11 05:15:24.623598787 +0000 UTC m=+276.023853648, time spent = 210.47µs, remote = 10.201.5.82:45740, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 05:15:31 ubuntu etcd[79341]: start time = 2025-06-11 05:15:31.721762807 +0000 UTC m=+283.122017652, time spent = 225.173µs, remote = 10.201.5.82:45740, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 05:15:33 ubuntu etcd[79341]: start time = 2025-06-11 05:15:33.80479447 +0000 UTC m=+285.205049317, time spent = 461.878µs, remote = 10.201.5.82:45740, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
