May 28 23:47:35 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 28 23:47:35 ubuntu etcd[79520]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 28 23:47:35 ubuntu etcd[79520]:         A future release of golang/protobuf will delete this package,
May 28 23:47:35 ubuntu etcd[79520]:         which has long been excluded from the compatibility promise.
May 28 23:47:35 ubuntu etcd[79520]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 28 23:47:35 ubuntu etcd[79520]: Running http and grpc server on single port. This is not recommended for production.
May 28 23:47:35 ubuntu etcd[79520]: etcd Version: 3.4.27
May 28 23:47:35 ubuntu etcd[79520]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 28 23:47:35 ubuntu etcd[79520]: Git SHA: c92fb80f3
May 28 23:47:35 ubuntu etcd[79520]: Go Version: go1.19.10
May 28 23:47:35 ubuntu etcd[79520]: Go OS/Arch: linux/amd64
May 28 23:47:35 ubuntu etcd[79520]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 28 23:47:35 ubuntu etcd[79520]: Running http and grpc server on single port. This is not recommended for production.
May 28 23:47:35 ubuntu etcd[79520]: name = ubuntu
May 28 23:47:35 ubuntu etcd[79520]: data dir = /opt/stack/data/etcd
May 28 23:47:35 ubuntu etcd[79520]: member dir = /opt/stack/data/etcd/member
May 28 23:47:35 ubuntu etcd[79520]: heartbeat = 100ms
May 28 23:47:35 ubuntu etcd[79520]: election = 1000ms
May 28 23:47:35 ubuntu etcd[79520]: snapshot count = 100000
May 28 23:47:35 ubuntu etcd[79520]: advertise client URLs = http://10.201.5.82:2379
May 28 23:47:35 ubuntu etcd[79520]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 28 23:47:35 ubuntu etcd[79520]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
May 28 23:47:35 ubuntu etcd[79520]: raft2025/05/28 23:47:35 INFO: 43038365673ccf7b switched to configuration voters=()
May 28 23:47:35 ubuntu etcd[79520]: raft2025/05/28 23:47:35 INFO: 43038365673ccf7b became follower at term 0
May 28 23:47:35 ubuntu etcd[79520]: raft2025/05/28 23:47:35 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 28 23:47:35 ubuntu etcd[79520]: raft2025/05/28 23:47:35 INFO: 43038365673ccf7b became follower at term 1
May 28 23:47:35 ubuntu etcd[79520]: raft2025/05/28 23:47:35 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
May 28 23:47:35 ubuntu etcd[79520]: simple token is not cryptographically signed
May 28 23:47:35 ubuntu etcd[79520]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 28 23:47:35 ubuntu etcd[79520]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
May 28 23:47:35 ubuntu etcd[79520]: raft2025/05/28 23:47:35 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
May 28 23:47:35 ubuntu etcd[79520]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 28 23:47:35 ubuntu etcd[79520]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 28 23:47:35 ubuntu etcd[79520]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 28 23:47:35 ubuntu etcd[79520]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
May 28 23:47:35 ubuntu etcd[79520]: listening for peers on [::]:2380
May 28 23:47:36 ubuntu etcd[79520]: raft2025/05/28 23:47:36 INFO: 43038365673ccf7b is starting a new election at term 1
May 28 23:47:36 ubuntu etcd[79520]: raft2025/05/28 23:47:36 INFO: 43038365673ccf7b became candidate at term 2
May 28 23:47:36 ubuntu etcd[79520]: raft2025/05/28 23:47:36 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
May 28 23:47:36 ubuntu etcd[79520]: raft2025/05/28 23:47:36 INFO: 43038365673ccf7b became leader at term 2
May 28 23:47:36 ubuntu etcd[79520]: raft2025/05/28 23:47:36 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
May 28 23:47:36 ubuntu etcd[79520]: ready to serve client requests
May 28 23:47:36 ubuntu etcd[79520]: setting up the initial cluster version to 3.4
May 28 23:47:36 ubuntu etcd[79520]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
May 28 23:47:36 ubuntu etcd[79520]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
May 28 23:47:36 ubuntu etcd[79520]: set the initial cluster version to 3.4
May 28 23:47:36 ubuntu etcd[79520]: enabled capabilities for version 3.4
May 28 23:47:36 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 28 23:52:11 ubuntu etcd[79520]: start time = 2025-05-28 23:52:11.51624921 +0000 UTC m=+276.228986433, time spent = 1.674708ms, remote = 10.201.5.82:46808, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 28 23:52:11 ubuntu etcd[79520]: start time = 2025-05-28 23:52:11.516233122 +0000 UTC m=+276.228970397, time spent = 2.70161ms, remote = 10.201.5.82:46808, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 28 23:52:18 ubuntu etcd[79520]: start time = 2025-05-28 23:52:18.502877421 +0000 UTC m=+283.215614644, time spent = 193.071µs, remote = 10.201.5.82:46808, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 28 23:52:20 ubuntu etcd[79520]: start time = 2025-05-28 23:52:20.31541157 +0000 UTC m=+285.028148796, time spent = 329.969µs, remote = 10.201.5.82:46808, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 28 23:56:13 ubuntu etcd[79520]: start time = 2025-05-28 23:56:13.393923786 +0000 UTC m=+518.106661012, time spent = 283.681µs, remote = 10.201.5.82:46808, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 28 23:56:13 ubuntu etcd[79520]: start time = 2025-05-28 23:56:13.412764375 +0000 UTC m=+518.125501639, time spent = 160.895µs, remote = 10.201.5.82:46808, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 28 23:56:15 ubuntu etcd[79520]: start time = 2025-05-28 23:56:15.843534756 +0000 UTC m=+520.556271984, time spent = 222.849µs, remote = 10.201.5.82:46808, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 28 23:56:17 ubuntu etcd[79520]: start time = 2025-05-28 23:56:17.861298453 +0000 UTC m=+522.574035684, time spent = 239.615µs, remote = 10.201.5.82:46808, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 28 23:58:01 ubuntu etcd[79520]: start time = 2025-05-28 23:58:01.955587614 +0000 UTC m=+626.668324890, time spent = 546.967µs, remote = 10.201.5.82:46808, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 28 23:58:01 ubuntu etcd[79520]: start time = 2025-05-28 23:58:01.967454158 +0000 UTC m=+626.680191433, time spent = 3.889031ms, remote = 10.201.5.82:46808, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-c30974bb-023b-4a48-a584-df42dc2cf88f" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-c30974bb-023b-4a48-a584-df42dc2cf88f" value_size:16 lease:5727337486025173017 >> failure:<request_range:<key:"/tooz/lockscinder-c30974bb-023b-4a48-a584-df42dc2cf88f" > >
May 28 23:58:04 ubuntu etcd[79520]: start time = 2025-05-28 23:58:04.812591628 +0000 UTC m=+629.525328939, time spent = 596.24µs, remote = 10.201.5.82:46808, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-c30974bb-023b-4a48-a584-df42dc2cf88f" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-c30974bb-023b-4a48-a584-df42dc2cf88f" > > failure:<>
May 28 23:58:05 ubuntu etcd[79520]: start time = 2025-05-28 23:58:05.060954563 +0000 UTC m=+629.773691791, time spent = 201.935µs, remote = 10.201.5.82:46808, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 28 23:58:05 ubuntu etcd[79520]: start time = 2025-05-28 23:58:05.062784003 +0000 UTC m=+629.775521255, time spent = 242.035µs, remote = 10.201.5.82:46808, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-c30974bb-023b-4a48-a584-df42dc2cf88f" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-c30974bb-023b-4a48-a584-df42dc2cf88f" value_size:16 lease:5727337486025173021 >> failure:<request_range:<key:"/tooz/lockscinder-c30974bb-023b-4a48-a584-df42dc2cf88f" > >
May 28 23:58:06 ubuntu etcd[79520]: start time = 2025-05-28 23:58:06.959875458 +0000 UTC m=+631.672612685, time spent = 350.995µs, remote = 10.201.5.82:46808, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-c30974bb-023b-4a48-a584-df42dc2cf88f" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-c30974bb-023b-4a48-a584-df42dc2cf88f" > > failure:<>
May 28 23:58:07 ubuntu etcd[79520]: start time = 2025-05-28 23:58:07.208731877 +0000 UTC m=+631.921469110, time spent = 246.744µs, remote = 10.201.5.82:46808, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 28 23:58:07 ubuntu etcd[79520]: start time = 2025-05-28 23:58:07.210966574 +0000 UTC m=+631.923703805, time spent = 1.025783ms, remote = 10.201.5.82:46808, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-c30974bb-023b-4a48-a584-df42dc2cf88f" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-c30974bb-023b-4a48-a584-df42dc2cf88f" value_size:16 lease:5727337486025173025 >> failure:<request_range:<key:"/tooz/lockscinder-c30974bb-023b-4a48-a584-df42dc2cf88f" > >
May 28 23:58:09 ubuntu etcd[79520]: start time = 2025-05-28 23:58:09.137624175 +0000 UTC m=+633.850361491, time spent = 470.728µs, remote = 10.201.5.82:46808, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-c30974bb-023b-4a48-a584-df42dc2cf88f" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-c30974bb-023b-4a48-a584-df42dc2cf88f" > > failure:<>
