Jun 03 17:55:13 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 03 17:55:13 ubuntu etcd[79618]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 03 17:55:13 ubuntu etcd[79618]:         A future release of golang/protobuf will delete this package,
Jun 03 17:55:13 ubuntu etcd[79618]:         which has long been excluded from the compatibility promise.
Jun 03 17:55:13 ubuntu etcd[79618]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 03 17:55:13 ubuntu etcd[79618]: Running http and grpc server on single port. This is not recommended for production.
Jun 03 17:55:13 ubuntu etcd[79618]: etcd Version: 3.4.27
Jun 03 17:55:13 ubuntu etcd[79618]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 03 17:55:13 ubuntu etcd[79618]: Git SHA: c92fb80f3
Jun 03 17:55:13 ubuntu etcd[79618]: Go Version: go1.19.10
Jun 03 17:55:13 ubuntu etcd[79618]: Go OS/Arch: linux/amd64
Jun 03 17:55:13 ubuntu etcd[79618]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 03 17:55:13 ubuntu etcd[79618]: Running http and grpc server on single port. This is not recommended for production.
Jun 03 17:55:13 ubuntu etcd[79618]: name = ubuntu
Jun 03 17:55:13 ubuntu etcd[79618]: data dir = /opt/stack/data/etcd
Jun 03 17:55:13 ubuntu etcd[79618]: member dir = /opt/stack/data/etcd/member
Jun 03 17:55:13 ubuntu etcd[79618]: heartbeat = 100ms
Jun 03 17:55:13 ubuntu etcd[79618]: election = 1000ms
Jun 03 17:55:13 ubuntu etcd[79618]: snapshot count = 100000
Jun 03 17:55:13 ubuntu etcd[79618]: advertise client URLs = http://10.201.5.82:2379
Jun 03 17:55:13 ubuntu etcd[79618]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 03 17:55:13 ubuntu etcd[79618]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jun 03 17:55:13 ubuntu etcd[79618]: raft2025/06/03 17:55:13 INFO: 43038365673ccf7b switched to configuration voters=()
Jun 03 17:55:13 ubuntu etcd[79618]: raft2025/06/03 17:55:13 INFO: 43038365673ccf7b became follower at term 0
Jun 03 17:55:13 ubuntu etcd[79618]: raft2025/06/03 17:55:13 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 03 17:55:13 ubuntu etcd[79618]: raft2025/06/03 17:55:13 INFO: 43038365673ccf7b became follower at term 1
Jun 03 17:55:13 ubuntu etcd[79618]: raft2025/06/03 17:55:13 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 03 17:55:13 ubuntu etcd[79618]: simple token is not cryptographically signed
Jun 03 17:55:13 ubuntu etcd[79618]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 03 17:55:13 ubuntu etcd[79618]: raft2025/06/03 17:55:13 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 03 17:55:13 ubuntu etcd[79618]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jun 03 17:55:13 ubuntu etcd[79618]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 03 17:55:13 ubuntu etcd[79618]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 03 17:55:13 ubuntu etcd[79618]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 03 17:55:13 ubuntu etcd[79618]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 03 17:55:13 ubuntu etcd[79618]: listening for peers on [::]:2380
Jun 03 17:55:13 ubuntu etcd[79618]: raft2025/06/03 17:55:13 INFO: 43038365673ccf7b is starting a new election at term 1
Jun 03 17:55:13 ubuntu etcd[79618]: raft2025/06/03 17:55:13 INFO: 43038365673ccf7b became candidate at term 2
Jun 03 17:55:13 ubuntu etcd[79618]: raft2025/06/03 17:55:13 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jun 03 17:55:13 ubuntu etcd[79618]: raft2025/06/03 17:55:13 INFO: 43038365673ccf7b became leader at term 2
Jun 03 17:55:13 ubuntu etcd[79618]: raft2025/06/03 17:55:13 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jun 03 17:55:13 ubuntu etcd[79618]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jun 03 17:55:13 ubuntu etcd[79618]: setting up the initial cluster version to 3.4
Jun 03 17:55:13 ubuntu etcd[79618]: ready to serve client requests
Jun 03 17:55:13 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 03 17:55:13 ubuntu etcd[79618]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jun 03 17:55:13 ubuntu etcd[79618]: set the initial cluster version to 3.4
Jun 03 17:55:13 ubuntu etcd[79618]: enabled capabilities for version 3.4
Jun 03 17:59:50 ubuntu etcd[79618]: start time = 2025-06-03 17:59:50.530536474 +0000 UTC m=+277.500866520, time spent = 1.430884ms, remote = 10.201.5.82:34600, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 03 17:59:50 ubuntu etcd[79618]: start time = 2025-06-03 17:59:50.5870394 +0000 UTC m=+277.557369463, time spent = 243.648µs, remote = 10.201.5.82:34600, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 03 17:59:57 ubuntu etcd[79618]: start time = 2025-06-03 17:59:57.681156781 +0000 UTC m=+284.651486826, time spent = 266.561µs, remote = 10.201.5.82:34600, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 03 17:59:59 ubuntu etcd[79618]: start time = 2025-06-03 17:59:59.820785363 +0000 UTC m=+286.791115421, time spent = 1.19962ms, remote = 10.201.5.82:34600, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 03 18:03:45 ubuntu etcd[79618]: start time = 2025-06-03 18:03:45.899993724 +0000 UTC m=+512.870323768, time spent = 463.543µs, remote = 10.201.5.82:34600, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 03 18:03:45 ubuntu etcd[79618]: start time = 2025-06-03 18:03:45.915329348 +0000 UTC m=+512.885659406, time spent = 178.248µs, remote = 10.201.5.82:34600, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 03 18:03:47 ubuntu etcd[79618]: start time = 2025-06-03 18:03:47.47387994 +0000 UTC m=+514.444210071, time spent = 381.459µs, remote = 10.201.5.82:34600, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 03 18:03:49 ubuntu etcd[79618]: start time = 2025-06-03 18:03:49.791127601 +0000 UTC m=+516.761457774, time spent = 366.531µs, remote = 10.201.5.82:34600, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 03 18:05:37 ubuntu etcd[79618]: start time = 2025-06-03 18:05:37.050370794 +0000 UTC m=+624.020700849, time spent = 541.279µs, remote = 10.201.5.82:34600, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 03 18:05:37 ubuntu etcd[79618]: start time = 2025-06-03 18:05:37.061631273 +0000 UTC m=+624.031961445, time spent = 8.094337ms, remote = 10.201.5.82:34600, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-01243bd9-99a6-4d73-8af9-55c607fc198a" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-01243bd9-99a6-4d73-8af9-55c607fc198a" value_size:16 lease:5727337613323156249 >> failure:<request_range:<key:"/tooz/lockscinder-01243bd9-99a6-4d73-8af9-55c607fc198a" > >
Jun 03 18:05:39 ubuntu etcd[79618]: start time = 2025-06-03 18:05:39.879146229 +0000 UTC m=+626.849476399, time spent = 688.257µs, remote = 10.201.5.82:34600, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-01243bd9-99a6-4d73-8af9-55c607fc198a" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-01243bd9-99a6-4d73-8af9-55c607fc198a" > > failure:<>
Jun 03 18:05:40 ubuntu etcd[79618]: start time = 2025-06-03 18:05:40.113350808 +0000 UTC m=+627.083680952, time spent = 433.917µs, remote = 10.201.5.82:34600, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 03 18:05:40 ubuntu etcd[79618]: start time = 2025-06-03 18:05:40.116406808 +0000 UTC m=+627.086736869, time spent = 171.761µs, remote = 10.201.5.82:34600, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-01243bd9-99a6-4d73-8af9-55c607fc198a" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-01243bd9-99a6-4d73-8af9-55c607fc198a" value_size:16 lease:5727337613323156253 >> failure:<request_range:<key:"/tooz/lockscinder-01243bd9-99a6-4d73-8af9-55c607fc198a" > >
Jun 03 18:05:42 ubuntu etcd[79618]: start time = 2025-06-03 18:05:42.264852126 +0000 UTC m=+629.235182300, time spent = 508.208µs, remote = 10.201.5.82:34600, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-01243bd9-99a6-4d73-8af9-55c607fc198a" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-01243bd9-99a6-4d73-8af9-55c607fc198a" > > failure:<>
Jun 03 18:05:42 ubuntu etcd[79618]: start time = 2025-06-03 18:05:42.528696758 +0000 UTC m=+629.499026931, time spent = 587.768µs, remote = 10.201.5.82:34600, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 03 18:05:42 ubuntu etcd[79618]: start time = 2025-06-03 18:05:42.53151237 +0000 UTC m=+629.501842457, time spent = 244.837µs, remote = 10.201.5.82:34600, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-01243bd9-99a6-4d73-8af9-55c607fc198a" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-01243bd9-99a6-4d73-8af9-55c607fc198a" value_size:16 lease:5727337613323156257 >> failure:<request_range:<key:"/tooz/lockscinder-01243bd9-99a6-4d73-8af9-55c607fc198a" > >
Jun 03 18:05:44 ubuntu etcd[79618]: start time = 2025-06-03 18:05:44.438660113 +0000 UTC m=+631.408990191, time spent = 649.646µs, remote = 10.201.5.82:34600, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-01243bd9-99a6-4d73-8af9-55c607fc198a" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-01243bd9-99a6-4d73-8af9-55c607fc198a" > > failure:<>
