May 14 12:40:36 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 14 12:40:36 ubuntu etcd[79520]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 14 12:40:36 ubuntu etcd[79520]:         A future release of golang/protobuf will delete this package,
May 14 12:40:36 ubuntu etcd[79520]:         which has long been excluded from the compatibility promise.
May 14 12:40:36 ubuntu etcd[79520]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 14 12:40:36 ubuntu etcd[79520]: Running http and grpc server on single port. This is not recommended for production.
May 14 12:40:36 ubuntu etcd[79520]: etcd Version: 3.4.27
May 14 12:40:36 ubuntu etcd[79520]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 14 12:40:36 ubuntu etcd[79520]: Git SHA: c92fb80f3
May 14 12:40:36 ubuntu etcd[79520]: Go Version: go1.19.10
May 14 12:40:36 ubuntu etcd[79520]: Go OS/Arch: linux/amd64
May 14 12:40:36 ubuntu etcd[79520]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 14 12:40:36 ubuntu etcd[79520]: Running http and grpc server on single port. This is not recommended for production.
May 14 12:40:36 ubuntu etcd[79520]: name = ubuntu
May 14 12:40:36 ubuntu etcd[79520]: data dir = /opt/stack/data/etcd
May 14 12:40:36 ubuntu etcd[79520]: member dir = /opt/stack/data/etcd/member
May 14 12:40:36 ubuntu etcd[79520]: heartbeat = 100ms
May 14 12:40:36 ubuntu etcd[79520]: election = 1000ms
May 14 12:40:36 ubuntu etcd[79520]: snapshot count = 100000
May 14 12:40:36 ubuntu etcd[79520]: advertise client URLs = http://10.201.5.82:2379
May 14 12:40:36 ubuntu etcd[79520]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 14 12:40:36 ubuntu etcd[79520]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
May 14 12:40:36 ubuntu etcd[79520]: raft2025/05/14 12:40:36 INFO: 43038365673ccf7b switched to configuration voters=()
May 14 12:40:36 ubuntu etcd[79520]: raft2025/05/14 12:40:36 INFO: 43038365673ccf7b became follower at term 0
May 14 12:40:36 ubuntu etcd[79520]: raft2025/05/14 12:40:36 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 14 12:40:36 ubuntu etcd[79520]: raft2025/05/14 12:40:36 INFO: 43038365673ccf7b became follower at term 1
May 14 12:40:36 ubuntu etcd[79520]: raft2025/05/14 12:40:36 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
May 14 12:40:36 ubuntu etcd[79520]: simple token is not cryptographically signed
May 14 12:40:36 ubuntu etcd[79520]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 14 12:40:36 ubuntu etcd[79520]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 14 12:40:36 ubuntu etcd[79520]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 14 12:40:36 ubuntu etcd[79520]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 14 12:40:36 ubuntu etcd[79520]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
May 14 12:40:36 ubuntu etcd[79520]: raft2025/05/14 12:40:36 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
May 14 12:40:36 ubuntu etcd[79520]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
May 14 12:40:36 ubuntu etcd[79520]: listening for peers on [::]:2380
May 14 12:40:37 ubuntu etcd[79520]: raft2025/05/14 12:40:37 INFO: 43038365673ccf7b is starting a new election at term 1
May 14 12:40:37 ubuntu etcd[79520]: raft2025/05/14 12:40:37 INFO: 43038365673ccf7b became candidate at term 2
May 14 12:40:37 ubuntu etcd[79520]: raft2025/05/14 12:40:37 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
May 14 12:40:37 ubuntu etcd[79520]: raft2025/05/14 12:40:37 INFO: 43038365673ccf7b became leader at term 2
May 14 12:40:37 ubuntu etcd[79520]: raft2025/05/14 12:40:37 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
May 14 12:40:37 ubuntu etcd[79520]: setting up the initial cluster version to 3.4
May 14 12:40:37 ubuntu etcd[79520]: set the initial cluster version to 3.4
May 14 12:40:37 ubuntu etcd[79520]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
May 14 12:40:37 ubuntu etcd[79520]: ready to serve client requests
May 14 12:40:37 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 14 12:40:37 ubuntu etcd[79520]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
May 14 12:40:37 ubuntu etcd[79520]: enabled capabilities for version 3.4
May 14 12:45:25 ubuntu etcd[79520]: start time = 2025-05-14 12:45:25.586925101 +0000 UTC m=+288.826475790, time spent = 1.533481ms, remote = 10.201.5.82:48218, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 14 12:45:25 ubuntu etcd[79520]: start time = 2025-05-14 12:45:25.616108263 +0000 UTC m=+288.855658963, time spent = 230.284µs, remote = 10.201.5.82:48218, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 14 12:45:32 ubuntu etcd[79520]: start time = 2025-05-14 12:45:32.279960582 +0000 UTC m=+295.519511284, time spent = 184.009µs, remote = 10.201.5.82:48218, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 14 12:45:34 ubuntu etcd[79520]: start time = 2025-05-14 12:45:34.53413067 +0000 UTC m=+297.773681375, time spent = 368.861µs, remote = 10.201.5.82:48218, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 14 12:49:10 ubuntu etcd[79520]: start time = 2025-05-14 12:49:10.631800338 +0000 UTC m=+513.871351035, time spent = 425.594µs, remote = 10.201.5.82:48218, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 14 12:49:10 ubuntu etcd[79520]: start time = 2025-05-14 12:49:10.796938145 +0000 UTC m=+514.036488842, time spent = 211.439µs, remote = 10.201.5.82:48218, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 14 12:49:12 ubuntu etcd[79520]: start time = 2025-05-14 12:49:12.170994315 +0000 UTC m=+515.410545017, time spent = 183.398µs, remote = 10.201.5.82:48218, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 14 12:49:14 ubuntu etcd[79520]: start time = 2025-05-14 12:49:14.065434104 +0000 UTC m=+517.304984791, time spent = 253.751µs, remote = 10.201.5.82:48218, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 14 12:51:30 ubuntu etcd[79520]: start time = 2025-05-14 12:51:30.583823773 +0000 UTC m=+653.823374483, time spent = 370.197µs, remote = 10.201.5.82:48218, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 14 12:51:30 ubuntu etcd[79520]: start time = 2025-05-14 12:51:30.58745629 +0000 UTC m=+653.827006987, time spent = 440.021µs, remote = 10.201.5.82:48218, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-40dcbb04-7f88-4cb4-801a-45bdc9ffca01" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-40dcbb04-7f88-4cb4-801a-45bdc9ffca01" value_size:16 lease:5727337166122832409 >> failure:<request_range:<key:"/tooz/lockscinder-40dcbb04-7f88-4cb4-801a-45bdc9ffca01" > >
May 14 12:51:39 ubuntu etcd[79520]: start time = 2025-05-14 12:51:39.677872914 +0000 UTC m=+662.917423661, time spent = 2.342741ms, remote = 10.201.5.82:48218, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-40dcbb04-7f88-4cb4-801a-45bdc9ffca01" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-40dcbb04-7f88-4cb4-801a-45bdc9ffca01" > > failure:<>
May 14 12:51:39 ubuntu etcd[79520]: start time = 2025-05-14 12:51:39.932903995 +0000 UTC m=+663.172454745, time spent = 471.108µs, remote = 10.201.5.82:48218, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 14 12:51:39 ubuntu etcd[79520]: start time = 2025-05-14 12:51:39.935750867 +0000 UTC m=+663.175301566, time spent = 1.434269ms, remote = 10.201.5.82:48218, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-40dcbb04-7f88-4cb4-801a-45bdc9ffca01" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-40dcbb04-7f88-4cb4-801a-45bdc9ffca01" value_size:16 lease:5727337166122832413 >> failure:<request_range:<key:"/tooz/lockscinder-40dcbb04-7f88-4cb4-801a-45bdc9ffca01" > >
May 14 12:51:41 ubuntu etcd[79520]: start time = 2025-05-14 12:51:41.754762772 +0000 UTC m=+664.994313585, time spent = 490.573µs, remote = 10.201.5.82:48218, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-40dcbb04-7f88-4cb4-801a-45bdc9ffca01" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-40dcbb04-7f88-4cb4-801a-45bdc9ffca01" > > failure:<>
May 14 12:51:42 ubuntu etcd[79520]: start time = 2025-05-14 12:51:42.118636541 +0000 UTC m=+665.358187243, time spent = 286.223µs, remote = 10.201.5.82:48218, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 14 12:51:42 ubuntu etcd[79520]: start time = 2025-05-14 12:51:42.121329701 +0000 UTC m=+665.360880404, time spent = 201.836µs, remote = 10.201.5.82:48218, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-40dcbb04-7f88-4cb4-801a-45bdc9ffca01" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-40dcbb04-7f88-4cb4-801a-45bdc9ffca01" value_size:16 lease:5727337166122832417 >> failure:<request_range:<key:"/tooz/lockscinder-40dcbb04-7f88-4cb4-801a-45bdc9ffca01" > >
May 14 12:51:43 ubuntu etcd[79520]: start time = 2025-05-14 12:51:43.956711613 +0000 UTC m=+667.196262416, time spent = 428.028µs, remote = 10.201.5.82:48218, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-40dcbb04-7f88-4cb4-801a-45bdc9ffca01" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-40dcbb04-7f88-4cb4-801a-45bdc9ffca01" > > failure:<>
