Apr 02 03:43:00 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Apr 02 03:43:00 ubuntu etcd[79303]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Apr 02 03:43:00 ubuntu etcd[79303]:         A future release of golang/protobuf will delete this package,
Apr 02 03:43:00 ubuntu etcd[79303]:         which has long been excluded from the compatibility promise.
Apr 02 03:43:00 ubuntu etcd[79303]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 02 03:43:00 ubuntu etcd[79303]: Running http and grpc server on single port. This is not recommended for production.
Apr 02 03:43:00 ubuntu etcd[79303]: etcd Version: 3.4.27
Apr 02 03:43:00 ubuntu etcd[79303]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 02 03:43:00 ubuntu etcd[79303]: Git SHA: c92fb80f3
Apr 02 03:43:00 ubuntu etcd[79303]: Go Version: go1.19.10
Apr 02 03:43:00 ubuntu etcd[79303]: Go OS/Arch: linux/amd64
Apr 02 03:43:00 ubuntu etcd[79303]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Apr 02 03:43:00 ubuntu etcd[79303]: Running http and grpc server on single port. This is not recommended for production.
Apr 02 03:43:00 ubuntu etcd[79303]: name = ubuntu
Apr 02 03:43:00 ubuntu etcd[79303]: data dir = /opt/stack/data/etcd
Apr 02 03:43:00 ubuntu etcd[79303]: member dir = /opt/stack/data/etcd/member
Apr 02 03:43:00 ubuntu etcd[79303]: heartbeat = 100ms
Apr 02 03:43:00 ubuntu etcd[79303]: election = 1000ms
Apr 02 03:43:00 ubuntu etcd[79303]: snapshot count = 100000
Apr 02 03:43:00 ubuntu etcd[79303]: advertise client URLs = http://10.201.5.82:2379
Apr 02 03:43:00 ubuntu etcd[79303]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Apr 02 03:43:00 ubuntu etcd[79303]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Apr 02 03:43:00 ubuntu etcd[79303]: raft2025/04/02 03:43:00 INFO: 43038365673ccf7b switched to configuration voters=()
Apr 02 03:43:00 ubuntu etcd[79303]: raft2025/04/02 03:43:00 INFO: 43038365673ccf7b became follower at term 0
Apr 02 03:43:00 ubuntu etcd[79303]: raft2025/04/02 03:43:00 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Apr 02 03:43:00 ubuntu etcd[79303]: raft2025/04/02 03:43:00 INFO: 43038365673ccf7b became follower at term 1
Apr 02 03:43:00 ubuntu etcd[79303]: raft2025/04/02 03:43:00 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Apr 02 03:43:00 ubuntu etcd[79303]: simple token is not cryptographically signed
Apr 02 03:43:00 ubuntu etcd[79303]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Apr 02 03:43:00 ubuntu etcd[79303]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Apr 02 03:43:00 ubuntu etcd[79303]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Apr 02 03:43:00 ubuntu etcd[79303]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Apr 02 03:43:00 ubuntu etcd[79303]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Apr 02 03:43:00 ubuntu etcd[79303]: raft2025/04/02 03:43:00 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Apr 02 03:43:00 ubuntu etcd[79303]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Apr 02 03:43:00 ubuntu etcd[79303]: listening for peers on [::]:2380
Apr 02 03:43:00 ubuntu etcd[79303]: raft2025/04/02 03:43:00 INFO: 43038365673ccf7b is starting a new election at term 1
Apr 02 03:43:00 ubuntu etcd[79303]: raft2025/04/02 03:43:00 INFO: 43038365673ccf7b became candidate at term 2
Apr 02 03:43:00 ubuntu etcd[79303]: raft2025/04/02 03:43:00 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Apr 02 03:43:00 ubuntu etcd[79303]: raft2025/04/02 03:43:00 INFO: 43038365673ccf7b became leader at term 2
Apr 02 03:43:00 ubuntu etcd[79303]: raft2025/04/02 03:43:00 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Apr 02 03:43:00 ubuntu etcd[79303]: setting up the initial cluster version to 3.4
Apr 02 03:43:00 ubuntu etcd[79303]: set the initial cluster version to 3.4
Apr 02 03:43:00 ubuntu etcd[79303]: enabled capabilities for version 3.4
Apr 02 03:43:00 ubuntu etcd[79303]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Apr 02 03:43:00 ubuntu etcd[79303]: ready to serve client requests
Apr 02 03:43:00 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Apr 02 03:43:00 ubuntu etcd[79303]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Apr 02 03:47:39 ubuntu etcd[79303]: start time = 2025-04-02 03:47:39.192079267 +0000 UTC m=+278.683786626, time spent = 604.1µs, remote = 10.201.5.82:33146, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 02 03:47:39 ubuntu etcd[79303]: start time = 2025-04-02 03:47:39.266808702 +0000 UTC m=+278.758516182, time spent = 687.636µs, remote = 10.201.5.82:33146, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 02 03:47:46 ubuntu etcd[79303]: start time = 2025-04-02 03:47:46.031185502 +0000 UTC m=+285.522892871, time spent = 194.563µs, remote = 10.201.5.82:33146, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 02 03:47:48 ubuntu etcd[79303]: start time = 2025-04-02 03:47:48.10610203 +0000 UTC m=+287.597809396, time spent = 230.376µs, remote = 10.201.5.82:33146, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
