Jan 15 15:54:10 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jan 15 15:54:10 ubuntu etcd[67597]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jan 15 15:54:10 ubuntu etcd[67597]:         A future release of golang/protobuf will delete this package,
Jan 15 15:54:10 ubuntu etcd[67597]:         which has long been excluded from the compatibility promise.
Jan 15 15:54:10 ubuntu etcd[67597]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 15 15:54:10 ubuntu etcd[67597]: Running http and grpc server on single port. This is not recommended for production.
Jan 15 15:54:10 ubuntu etcd[67597]: etcd Version: 3.4.27
Jan 15 15:54:10 ubuntu etcd[67597]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 15 15:54:10 ubuntu etcd[67597]: Git SHA: c92fb80f3
Jan 15 15:54:10 ubuntu etcd[67597]: Go Version: go1.19.10
Jan 15 15:54:10 ubuntu etcd[67597]: Go OS/Arch: linux/amd64
Jan 15 15:54:10 ubuntu etcd[67597]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jan 15 15:54:10 ubuntu etcd[67597]: Running http and grpc server on single port. This is not recommended for production.
Jan 15 15:54:10 ubuntu etcd[67597]: name = ubuntu
Jan 15 15:54:10 ubuntu etcd[67597]: data dir = /opt/stack/data/etcd
Jan 15 15:54:10 ubuntu etcd[67597]: member dir = /opt/stack/data/etcd/member
Jan 15 15:54:10 ubuntu etcd[67597]: heartbeat = 100ms
Jan 15 15:54:10 ubuntu etcd[67597]: election = 1000ms
Jan 15 15:54:10 ubuntu etcd[67597]: snapshot count = 100000
Jan 15 15:54:10 ubuntu etcd[67597]: advertise client URLs = http://10.201.5.82:2379
Jan 15 15:54:10 ubuntu etcd[67597]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jan 15 15:54:10 ubuntu etcd[67597]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jan 15 15:54:10 ubuntu etcd[67597]: raft2025/01/15 15:54:10 INFO: 43038365673ccf7b switched to configuration voters=()
Jan 15 15:54:10 ubuntu etcd[67597]: raft2025/01/15 15:54:10 INFO: 43038365673ccf7b became follower at term 0
Jan 15 15:54:10 ubuntu etcd[67597]: raft2025/01/15 15:54:10 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jan 15 15:54:10 ubuntu etcd[67597]: raft2025/01/15 15:54:10 INFO: 43038365673ccf7b became follower at term 1
Jan 15 15:54:10 ubuntu etcd[67597]: raft2025/01/15 15:54:10 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jan 15 15:54:10 ubuntu etcd[67597]: simple token is not cryptographically signed
Jan 15 15:54:10 ubuntu etcd[67597]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jan 15 15:54:10 ubuntu etcd[67597]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jan 15 15:54:10 ubuntu etcd[67597]: raft2025/01/15 15:54:10 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jan 15 15:54:10 ubuntu etcd[67597]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jan 15 15:54:10 ubuntu etcd[67597]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jan 15 15:54:10 ubuntu etcd[67597]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jan 15 15:54:10 ubuntu etcd[67597]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jan 15 15:54:10 ubuntu etcd[67597]: listening for peers on [::]:2380
Jan 15 15:54:11 ubuntu etcd[67597]: raft2025/01/15 15:54:11 INFO: 43038365673ccf7b is starting a new election at term 1
Jan 15 15:54:11 ubuntu etcd[67597]: raft2025/01/15 15:54:11 INFO: 43038365673ccf7b became candidate at term 2
Jan 15 15:54:11 ubuntu etcd[67597]: raft2025/01/15 15:54:11 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jan 15 15:54:11 ubuntu etcd[67597]: raft2025/01/15 15:54:11 INFO: 43038365673ccf7b became leader at term 2
Jan 15 15:54:11 ubuntu etcd[67597]: raft2025/01/15 15:54:11 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jan 15 15:54:11 ubuntu etcd[67597]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jan 15 15:54:11 ubuntu etcd[67597]: setting up the initial cluster version to 3.4
Jan 15 15:54:11 ubuntu etcd[67597]: set the initial cluster version to 3.4
Jan 15 15:54:11 ubuntu etcd[67597]: enabled capabilities for version 3.4
Jan 15 15:54:11 ubuntu etcd[67597]: ready to serve client requests
Jan 15 15:54:11 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jan 15 15:54:11 ubuntu etcd[67597]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jan 15 15:59:16 ubuntu etcd[67597]: start time = 2025-01-15 15:59:16.096812091 +0000 UTC m=+305.515671996, time spent = 1.752914ms, remote = 10.201.5.82:41116, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 15 15:59:16 ubuntu etcd[67597]: start time = 2025-01-15 15:59:16.166852237 +0000 UTC m=+305.585712148, time spent = 282.994µs, remote = 10.201.5.82:41116, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 15 15:59:22 ubuntu etcd[67597]: start time = 2025-01-15 15:59:22.708282753 +0000 UTC m=+312.127142664, time spent = 207.182µs, remote = 10.201.5.82:41116, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 15 15:59:24 ubuntu etcd[67597]: start time = 2025-01-15 15:59:24.795020416 +0000 UTC m=+314.213880325, time spent = 201.234µs, remote = 10.201.5.82:41116, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
