Jul 08 18:27:50 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 08 18:27:50 ubuntu etcd[67001]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 08 18:27:50 ubuntu etcd[67001]:         A future release of golang/protobuf will delete this package,
Jul 08 18:27:50 ubuntu etcd[67001]:         which has long been excluded from the compatibility promise.
Jul 08 18:27:50 ubuntu etcd[67001]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 08 18:27:50 ubuntu etcd[67001]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 08 18:27:50 ubuntu etcd[67001]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 08 18:27:50 ubuntu etcd[67001]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 08 18:27:50 ubuntu etcd[67001]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 08 18:27:50 ubuntu etcd[67001]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 08 18:27:50 ubuntu etcd[67001]: Running http and grpc server on single port. This is not recommended for production.
Jul 08 18:27:50 ubuntu etcd[67001]: etcd Version: 3.4.27
Jul 08 18:27:50 ubuntu etcd[67001]: Git SHA: c92fb80f3
Jul 08 18:27:50 ubuntu etcd[67001]: Go Version: go1.19.10
Jul 08 18:27:50 ubuntu etcd[67001]: Go OS/Arch: linux/amd64
Jul 08 18:27:50 ubuntu etcd[67001]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 08 18:27:50 ubuntu etcd[67001]: Running http and grpc server on single port. This is not recommended for production.
Jul 08 18:27:50 ubuntu etcd[67001]: name = ubuntu
Jul 08 18:27:50 ubuntu etcd[67001]: data dir = /opt/stack/data/etcd
Jul 08 18:27:50 ubuntu etcd[67001]: member dir = /opt/stack/data/etcd/member
Jul 08 18:27:50 ubuntu etcd[67001]: heartbeat = 100ms
Jul 08 18:27:50 ubuntu etcd[67001]: election = 1000ms
Jul 08 18:27:50 ubuntu etcd[67001]: snapshot count = 100000
Jul 08 18:27:50 ubuntu etcd[67001]: advertise client URLs = http://10.201.5.82:2379
Jul 08 18:27:50 ubuntu etcd[67001]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 08 18:27:50 ubuntu etcd[67001]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jul 08 18:27:50 ubuntu etcd[67001]: raft2024/07/08 18:27:50 INFO: 43038365673ccf7b switched to configuration voters=()
Jul 08 18:27:50 ubuntu etcd[67001]: raft2024/07/08 18:27:50 INFO: 43038365673ccf7b became follower at term 0
Jul 08 18:27:50 ubuntu etcd[67001]: raft2024/07/08 18:27:50 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 08 18:27:50 ubuntu etcd[67001]: raft2024/07/08 18:27:50 INFO: 43038365673ccf7b became follower at term 1
Jul 08 18:27:50 ubuntu etcd[67001]: raft2024/07/08 18:27:50 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 08 18:27:50 ubuntu etcd[67001]: simple token is not cryptographically signed
Jul 08 18:27:50 ubuntu etcd[67001]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 08 18:27:50 ubuntu etcd[67001]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 08 18:27:50 ubuntu etcd[67001]: raft2024/07/08 18:27:50 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 08 18:27:50 ubuntu etcd[67001]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jul 08 18:27:50 ubuntu etcd[67001]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 08 18:27:50 ubuntu etcd[67001]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 08 18:27:50 ubuntu etcd[67001]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 08 18:27:50 ubuntu etcd[67001]: listening for peers on [::]:2380
Jul 08 18:27:51 ubuntu etcd[67001]: raft2024/07/08 18:27:51 INFO: 43038365673ccf7b is starting a new election at term 1
Jul 08 18:27:51 ubuntu etcd[67001]: raft2024/07/08 18:27:51 INFO: 43038365673ccf7b became candidate at term 2
Jul 08 18:27:51 ubuntu etcd[67001]: raft2024/07/08 18:27:51 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jul 08 18:27:51 ubuntu etcd[67001]: raft2024/07/08 18:27:51 INFO: 43038365673ccf7b became leader at term 2
Jul 08 18:27:51 ubuntu etcd[67001]: raft2024/07/08 18:27:51 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jul 08 18:27:51 ubuntu etcd[67001]: setting up the initial cluster version to 3.4
Jul 08 18:27:51 ubuntu etcd[67001]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jul 08 18:27:51 ubuntu etcd[67001]: ready to serve client requests
Jul 08 18:27:51 ubuntu etcd[67001]: set the initial cluster version to 3.4
Jul 08 18:27:51 ubuntu etcd[67001]: INFO: 2024/07/08 18:27:51 parsed scheme: ""
Jul 08 18:27:51 ubuntu etcd[67001]: enabled capabilities for version 3.4
Jul 08 18:27:51 ubuntu etcd[67001]: INFO: 2024/07/08 18:27:51 scheme "" not registered, fallback to default scheme
Jul 08 18:27:51 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 08 18:27:51 ubuntu etcd[67001]: INFO: 2024/07/08 18:27:51 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Jul 08 18:27:51 ubuntu etcd[67001]: INFO: 2024/07/08 18:27:51 ClientConn switching balancer to "pick_first"
Jul 08 18:27:51 ubuntu etcd[67001]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jul 08 18:33:24 ubuntu etcd[67001]: start time = 2024-07-08 18:33:24.125174115 +0000 UTC m=+333.902945051, time spent = 1.582402ms, remote = 10.201.5.82:46346, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 08 18:33:24 ubuntu etcd[67001]: start time = 2024-07-08 18:33:24.154125863 +0000 UTC m=+333.931896809, time spent = 192.207µs, remote = 10.201.5.82:46346, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 08 18:33:30 ubuntu etcd[67001]: start time = 2024-07-08 18:33:30.841081126 +0000 UTC m=+340.618852062, time spent = 245.445µs, remote = 10.201.5.82:46346, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 08 18:33:32 ubuntu etcd[67001]: start time = 2024-07-08 18:33:32.774673368 +0000 UTC m=+342.552444304, time spent = 1.750265ms, remote = 10.201.5.82:46346, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 08 18:36:14 ubuntu etcd[67001]: start time = 2024-07-08 18:36:14.538567548 +0000 UTC m=+504.316338495, time spent = 358.606µs, remote = 10.201.5.82:46346, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 08 18:36:14 ubuntu etcd[67001]: start time = 2024-07-08 18:36:14.54181693 +0000 UTC m=+504.319587878, time spent = 126.778µs, remote = 10.201.5.82:46346, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 08 18:36:18 ubuntu etcd[67001]: start time = 2024-07-08 18:36:18.013172013 +0000 UTC m=+507.790942951, time spent = 177.889µs, remote = 10.201.5.82:46346, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 08 18:36:18 ubuntu etcd[67001]: start time = 2024-07-08 18:36:18.017376385 +0000 UTC m=+507.795147338, time spent = 113.157µs, remote = 10.201.5.82:46346, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
