Jul 09 09:27:02 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 09 09:27:02 ubuntu etcd[67074]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 09 09:27:02 ubuntu etcd[67074]:         A future release of golang/protobuf will delete this package,
Jul 09 09:27:02 ubuntu etcd[67074]:         which has long been excluded from the compatibility promise.
Jul 09 09:27:02 ubuntu etcd[67074]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 09 09:27:02 ubuntu etcd[67074]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 09 09:27:02 ubuntu etcd[67074]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 09 09:27:02 ubuntu etcd[67074]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 09 09:27:02 ubuntu etcd[67074]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 09 09:27:02 ubuntu etcd[67074]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 09 09:27:02 ubuntu etcd[67074]: Running http and grpc server on single port. This is not recommended for production.
Jul 09 09:27:02 ubuntu etcd[67074]: etcd Version: 3.4.27
Jul 09 09:27:02 ubuntu etcd[67074]: Git SHA: c92fb80f3
Jul 09 09:27:02 ubuntu etcd[67074]: Go Version: go1.19.10
Jul 09 09:27:02 ubuntu etcd[67074]: Go OS/Arch: linux/amd64
Jul 09 09:27:02 ubuntu etcd[67074]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 09 09:27:02 ubuntu etcd[67074]: Running http and grpc server on single port. This is not recommended for production.
Jul 09 09:27:02 ubuntu etcd[67074]: name = ubuntu
Jul 09 09:27:02 ubuntu etcd[67074]: data dir = /opt/stack/data/etcd
Jul 09 09:27:02 ubuntu etcd[67074]: member dir = /opt/stack/data/etcd/member
Jul 09 09:27:02 ubuntu etcd[67074]: heartbeat = 100ms
Jul 09 09:27:02 ubuntu etcd[67074]: election = 1000ms
Jul 09 09:27:02 ubuntu etcd[67074]: snapshot count = 100000
Jul 09 09:27:02 ubuntu etcd[67074]: advertise client URLs = http://10.201.5.82:2379
Jul 09 09:27:02 ubuntu etcd[67074]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 09 09:27:02 ubuntu etcd[67074]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jul 09 09:27:02 ubuntu etcd[67074]: raft2024/07/09 09:27:02 INFO: 43038365673ccf7b switched to configuration voters=()
Jul 09 09:27:02 ubuntu etcd[67074]: raft2024/07/09 09:27:02 INFO: 43038365673ccf7b became follower at term 0
Jul 09 09:27:02 ubuntu etcd[67074]: raft2024/07/09 09:27:02 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 09 09:27:02 ubuntu etcd[67074]: raft2024/07/09 09:27:02 INFO: 43038365673ccf7b became follower at term 1
Jul 09 09:27:02 ubuntu etcd[67074]: raft2024/07/09 09:27:02 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 09 09:27:02 ubuntu etcd[67074]: simple token is not cryptographically signed
Jul 09 09:27:02 ubuntu etcd[67074]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 09 09:27:02 ubuntu etcd[67074]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 09 09:27:02 ubuntu etcd[67074]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 09 09:27:02 ubuntu etcd[67074]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 09 09:27:02 ubuntu etcd[67074]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 09 09:27:02 ubuntu etcd[67074]: raft2024/07/09 09:27:02 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 09 09:27:02 ubuntu etcd[67074]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jul 09 09:27:02 ubuntu etcd[67074]: listening for peers on [::]:2380
Jul 09 09:27:02 ubuntu etcd[67074]: raft2024/07/09 09:27:02 INFO: 43038365673ccf7b is starting a new election at term 1
Jul 09 09:27:02 ubuntu etcd[67074]: raft2024/07/09 09:27:02 INFO: 43038365673ccf7b became candidate at term 2
Jul 09 09:27:02 ubuntu etcd[67074]: raft2024/07/09 09:27:02 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jul 09 09:27:02 ubuntu etcd[67074]: raft2024/07/09 09:27:02 INFO: 43038365673ccf7b became leader at term 2
Jul 09 09:27:02 ubuntu etcd[67074]: raft2024/07/09 09:27:02 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jul 09 09:27:02 ubuntu etcd[67074]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jul 09 09:27:02 ubuntu etcd[67074]: ready to serve client requests
Jul 09 09:27:02 ubuntu etcd[67074]: INFO: 2024/07/09 09:27:02 parsed scheme: ""
Jul 09 09:27:02 ubuntu etcd[67074]: INFO: 2024/07/09 09:27:02 scheme "" not registered, fallback to default scheme
Jul 09 09:27:02 ubuntu etcd[67074]: setting up the initial cluster version to 3.4
Jul 09 09:27:02 ubuntu etcd[67074]: set the initial cluster version to 3.4
Jul 09 09:27:02 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 09 09:27:02 ubuntu etcd[67074]: enabled capabilities for version 3.4
Jul 09 09:27:02 ubuntu etcd[67074]: INFO: 2024/07/09 09:27:02 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Jul 09 09:27:02 ubuntu etcd[67074]: INFO: 2024/07/09 09:27:02 ClientConn switching balancer to "pick_first"
Jul 09 09:27:02 ubuntu etcd[67074]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jul 09 09:32:51 ubuntu etcd[67074]: start time = 2024-07-09 09:32:51.449411054 +0000 UTC m=+349.352023516, time spent = 1.510757ms, remote = 10.201.5.82:37624, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 09 09:32:51 ubuntu etcd[67074]: start time = 2024-07-09 09:32:51.616659001 +0000 UTC m=+349.519271463, time spent = 229.918µs, remote = 10.201.5.82:37624, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 09 09:32:58 ubuntu etcd[67074]: start time = 2024-07-09 09:32:58.585771876 +0000 UTC m=+356.488384427, time spent = 682.893µs, remote = 10.201.5.82:37624, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 09 09:33:00 ubuntu etcd[67074]: start time = 2024-07-09 09:33:00.841232847 +0000 UTC m=+358.743845300, time spent = 467.568µs, remote = 10.201.5.82:37624, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 09 09:35:50 ubuntu etcd[67074]: start time = 2024-07-09 09:35:50.814853007 +0000 UTC m=+528.717465470, time spent = 479.865µs, remote = 10.201.5.82:37624, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 09 09:35:51 ubuntu etcd[67074]: start time = 2024-07-09 09:35:51.047106949 +0000 UTC m=+528.949719413, time spent = 215.289µs, remote = 10.201.5.82:37624, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 09 09:35:51 ubuntu etcd[67074]: start time = 2024-07-09 09:35:51.554167373 +0000 UTC m=+529.456779836, time spent = 212.051µs, remote = 10.201.5.82:37624, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 09 09:35:54 ubuntu etcd[67074]: start time = 2024-07-09 09:35:54.499250371 +0000 UTC m=+532.401862834, time spent = 266.872µs, remote = 10.201.5.82:37624, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
