Oct 02 05:03:59 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Oct 02 05:03:59 ubuntu etcd[70338]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Oct 02 05:03:59 ubuntu etcd[70338]:         A future release of golang/protobuf will delete this package,
Oct 02 05:03:59 ubuntu etcd[70338]:         which has long been excluded from the compatibility promise.
Oct 02 05:03:59 ubuntu etcd[70338]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Oct 02 05:03:59 ubuntu etcd[70338]: Running http and grpc server on single port. This is not recommended for production.
Oct 02 05:03:59 ubuntu etcd[70338]: etcd Version: 3.4.27
Oct 02 05:03:59 ubuntu etcd[70338]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Oct 02 05:03:59 ubuntu etcd[70338]: Git SHA: c92fb80f3
Oct 02 05:03:59 ubuntu etcd[70338]: Go Version: go1.19.10
Oct 02 05:03:59 ubuntu etcd[70338]: Go OS/Arch: linux/amd64
Oct 02 05:03:59 ubuntu etcd[70338]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Oct 02 05:03:59 ubuntu etcd[70338]: Running http and grpc server on single port. This is not recommended for production.
Oct 02 05:03:59 ubuntu etcd[70338]: name = ubuntu
Oct 02 05:03:59 ubuntu etcd[70338]: data dir = /opt/stack/data/etcd
Oct 02 05:03:59 ubuntu etcd[70338]: member dir = /opt/stack/data/etcd/member
Oct 02 05:03:59 ubuntu etcd[70338]: heartbeat = 100ms
Oct 02 05:03:59 ubuntu etcd[70338]: election = 1000ms
Oct 02 05:03:59 ubuntu etcd[70338]: snapshot count = 100000
Oct 02 05:03:59 ubuntu etcd[70338]: advertise client URLs = http://10.201.5.82:2379
Oct 02 05:03:59 ubuntu etcd[70338]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Oct 02 05:03:59 ubuntu etcd[70338]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Oct 02 05:03:59 ubuntu etcd[70338]: raft2024/10/02 05:03:59 INFO: 43038365673ccf7b switched to configuration voters=()
Oct 02 05:03:59 ubuntu etcd[70338]: raft2024/10/02 05:03:59 INFO: 43038365673ccf7b became follower at term 0
Oct 02 05:03:59 ubuntu etcd[70338]: raft2024/10/02 05:03:59 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Oct 02 05:03:59 ubuntu etcd[70338]: raft2024/10/02 05:03:59 INFO: 43038365673ccf7b became follower at term 1
Oct 02 05:03:59 ubuntu etcd[70338]: raft2024/10/02 05:03:59 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Oct 02 05:03:59 ubuntu etcd[70338]: simple token is not cryptographically signed
Oct 02 05:03:59 ubuntu etcd[70338]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Oct 02 05:03:59 ubuntu etcd[70338]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Oct 02 05:03:59 ubuntu etcd[70338]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Oct 02 05:03:59 ubuntu etcd[70338]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Oct 02 05:03:59 ubuntu etcd[70338]: raft2024/10/02 05:03:59 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Oct 02 05:03:59 ubuntu etcd[70338]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Oct 02 05:03:59 ubuntu etcd[70338]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Oct 02 05:03:59 ubuntu etcd[70338]: listening for peers on [::]:2380
Oct 02 05:04:00 ubuntu etcd[70338]: raft2024/10/02 05:04:00 INFO: 43038365673ccf7b is starting a new election at term 1
Oct 02 05:04:00 ubuntu etcd[70338]: raft2024/10/02 05:04:00 INFO: 43038365673ccf7b became candidate at term 2
Oct 02 05:04:00 ubuntu etcd[70338]: raft2024/10/02 05:04:00 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Oct 02 05:04:00 ubuntu etcd[70338]: raft2024/10/02 05:04:00 INFO: 43038365673ccf7b became leader at term 2
Oct 02 05:04:00 ubuntu etcd[70338]: raft2024/10/02 05:04:00 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Oct 02 05:04:00 ubuntu etcd[70338]: setting up the initial cluster version to 3.4
Oct 02 05:04:00 ubuntu etcd[70338]: ready to serve client requests
Oct 02 05:04:00 ubuntu etcd[70338]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Oct 02 05:04:00 ubuntu etcd[70338]: set the initial cluster version to 3.4
Oct 02 05:04:00 ubuntu etcd[70338]: enabled capabilities for version 3.4
Oct 02 05:04:00 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Oct 02 05:04:00 ubuntu etcd[70338]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Oct 02 05:08:50 ubuntu etcd[70338]: start time = 2024-10-02 05:08:50.412083151 +0000 UTC m=+291.138859117, time spent = 1.514739ms, remote = 10.201.5.82:45522, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Oct 02 05:08:50 ubuntu etcd[70338]: start time = 2024-10-02 05:08:50.464571603 +0000 UTC m=+291.191347583, time spent = 253.578µs, remote = 10.201.5.82:45522, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Oct 02 05:08:57 ubuntu etcd[70338]: start time = 2024-10-02 05:08:57.445862569 +0000 UTC m=+298.172638546, time spent = 170.66µs, remote = 10.201.5.82:45522, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Oct 02 05:08:59 ubuntu etcd[70338]: start time = 2024-10-02 05:08:59.530784943 +0000 UTC m=+300.257560912, time spent = 215.873µs, remote = 10.201.5.82:45522, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
