Aug 08 21:16:58 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Aug 08 21:16:58 ubuntu etcd[67346]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Aug 08 21:16:58 ubuntu etcd[67346]:         A future release of golang/protobuf will delete this package,
Aug 08 21:16:58 ubuntu etcd[67346]:         which has long been excluded from the compatibility promise.
Aug 08 21:16:58 ubuntu etcd[67346]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Aug 08 21:16:58 ubuntu etcd[67346]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Aug 08 21:16:58 ubuntu etcd[67346]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 08 21:16:58 ubuntu etcd[67346]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Aug 08 21:16:58 ubuntu etcd[67346]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Aug 08 21:16:58 ubuntu etcd[67346]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 08 21:16:58 ubuntu etcd[67346]: Running http and grpc server on single port. This is not recommended for production.
Aug 08 21:16:58 ubuntu etcd[67346]: etcd Version: 3.4.27
Aug 08 21:16:58 ubuntu etcd[67346]: Git SHA: c92fb80f3
Aug 08 21:16:58 ubuntu etcd[67346]: Go Version: go1.19.10
Aug 08 21:16:58 ubuntu etcd[67346]: Go OS/Arch: linux/amd64
Aug 08 21:16:58 ubuntu etcd[67346]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Aug 08 21:16:58 ubuntu etcd[67346]: Running http and grpc server on single port. This is not recommended for production.
Aug 08 21:16:58 ubuntu etcd[67346]: name = ubuntu
Aug 08 21:16:58 ubuntu etcd[67346]: data dir = /opt/stack/data/etcd
Aug 08 21:16:58 ubuntu etcd[67346]: member dir = /opt/stack/data/etcd/member
Aug 08 21:16:58 ubuntu etcd[67346]: heartbeat = 100ms
Aug 08 21:16:58 ubuntu etcd[67346]: election = 1000ms
Aug 08 21:16:58 ubuntu etcd[67346]: snapshot count = 100000
Aug 08 21:16:58 ubuntu etcd[67346]: advertise client URLs = http://10.201.5.82:2379
Aug 08 21:16:58 ubuntu etcd[67346]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Aug 08 21:16:58 ubuntu etcd[67346]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Aug 08 21:16:58 ubuntu etcd[67346]: raft2024/08/08 21:16:58 INFO: 43038365673ccf7b switched to configuration voters=()
Aug 08 21:16:58 ubuntu etcd[67346]: raft2024/08/08 21:16:58 INFO: 43038365673ccf7b became follower at term 0
Aug 08 21:16:58 ubuntu etcd[67346]: raft2024/08/08 21:16:58 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Aug 08 21:16:58 ubuntu etcd[67346]: raft2024/08/08 21:16:58 INFO: 43038365673ccf7b became follower at term 1
Aug 08 21:16:58 ubuntu etcd[67346]: raft2024/08/08 21:16:58 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Aug 08 21:16:58 ubuntu etcd[67346]: simple token is not cryptographically signed
Aug 08 21:16:58 ubuntu etcd[67346]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Aug 08 21:16:58 ubuntu etcd[67346]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Aug 08 21:16:58 ubuntu etcd[67346]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Aug 08 21:16:58 ubuntu etcd[67346]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Aug 08 21:16:58 ubuntu etcd[67346]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Aug 08 21:16:58 ubuntu etcd[67346]: raft2024/08/08 21:16:58 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Aug 08 21:16:58 ubuntu etcd[67346]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Aug 08 21:16:58 ubuntu etcd[67346]: listening for peers on [::]:2380
Aug 08 21:16:59 ubuntu etcd[67346]: raft2024/08/08 21:16:59 INFO: 43038365673ccf7b is starting a new election at term 1
Aug 08 21:16:59 ubuntu etcd[67346]: raft2024/08/08 21:16:59 INFO: 43038365673ccf7b became candidate at term 2
Aug 08 21:16:59 ubuntu etcd[67346]: raft2024/08/08 21:16:59 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Aug 08 21:16:59 ubuntu etcd[67346]: raft2024/08/08 21:16:59 INFO: 43038365673ccf7b became leader at term 2
Aug 08 21:16:59 ubuntu etcd[67346]: raft2024/08/08 21:16:59 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Aug 08 21:16:59 ubuntu etcd[67346]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Aug 08 21:16:59 ubuntu etcd[67346]: ready to serve client requests
Aug 08 21:16:59 ubuntu etcd[67346]: INFO: 2024/08/08 21:16:59 parsed scheme: ""
Aug 08 21:16:59 ubuntu etcd[67346]: INFO: 2024/08/08 21:16:59 scheme "" not registered, fallback to default scheme
Aug 08 21:16:59 ubuntu etcd[67346]: INFO: 2024/08/08 21:16:59 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Aug 08 21:16:59 ubuntu etcd[67346]: INFO: 2024/08/08 21:16:59 ClientConn switching balancer to "pick_first"
Aug 08 21:16:59 ubuntu etcd[67346]: setting up the initial cluster version to 3.4
Aug 08 21:16:59 ubuntu etcd[67346]: set the initial cluster version to 3.4
Aug 08 21:16:59 ubuntu etcd[67346]: enabled capabilities for version 3.4
Aug 08 21:16:59 ubuntu etcd[67346]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Aug 08 21:16:59 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Aug 08 21:21:55 ubuntu etcd[67346]: start time = 2024-08-08 21:21:55.870185037 +0000 UTC m=+296.938946811, time spent = 2.002101ms, remote = 10.201.5.82:42810, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 08 21:21:55 ubuntu etcd[67346]: start time = 2024-08-08 21:21:55.936335474 +0000 UTC m=+297.005097257, time spent = 254.365µs, remote = 10.201.5.82:42810, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 08 21:22:02 ubuntu etcd[67346]: start time = 2024-08-08 21:22:02.839982921 +0000 UTC m=+303.908744695, time spent = 389.904µs, remote = 10.201.5.82:42810, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 08 21:22:05 ubuntu etcd[67346]: start time = 2024-08-08 21:22:05.206780417 +0000 UTC m=+306.275542199, time spent = 578.921µs, remote = 10.201.5.82:42810, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 08 21:24:50 ubuntu etcd[67346]: start time = 2024-08-08 21:24:50.431671174 +0000 UTC m=+471.500432955, time spent = 955.266µs, remote = 10.201.5.82:42810, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 08 21:24:50 ubuntu etcd[67346]: start time = 2024-08-08 21:24:50.77407008 +0000 UTC m=+471.842831910, time spent = 421.834µs, remote = 10.201.5.82:42810, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 08 21:24:50 ubuntu etcd[67346]: start time = 2024-08-08 21:24:50.792812662 +0000 UTC m=+471.861574446, time spent = 163.752µs, remote = 10.201.5.82:42810, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 08 21:24:55 ubuntu etcd[67346]: start time = 2024-08-08 21:24:55.028748873 +0000 UTC m=+476.097510654, time spent = 248.042µs, remote = 10.201.5.82:42810, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
