Jun 11 10:17:43 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 11 10:17:43 ubuntu etcd[79301]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 11 10:17:43 ubuntu etcd[79301]:         A future release of golang/protobuf will delete this package,
Jun 11 10:17:43 ubuntu etcd[79301]:         which has long been excluded from the compatibility promise.
Jun 11 10:17:43 ubuntu etcd[79301]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 11 10:17:43 ubuntu etcd[79301]: Running http and grpc server on single port. This is not recommended for production.
Jun 11 10:17:43 ubuntu etcd[79301]: etcd Version: 3.4.27
Jun 11 10:17:43 ubuntu etcd[79301]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 11 10:17:43 ubuntu etcd[79301]: Git SHA: c92fb80f3
Jun 11 10:17:43 ubuntu etcd[79301]: Go Version: go1.19.10
Jun 11 10:17:43 ubuntu etcd[79301]: Go OS/Arch: linux/amd64
Jun 11 10:17:43 ubuntu etcd[79301]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 11 10:17:43 ubuntu etcd[79301]: Running http and grpc server on single port. This is not recommended for production.
Jun 11 10:17:43 ubuntu etcd[79301]: name = ubuntu
Jun 11 10:17:43 ubuntu etcd[79301]: data dir = /opt/stack/data/etcd
Jun 11 10:17:43 ubuntu etcd[79301]: member dir = /opt/stack/data/etcd/member
Jun 11 10:17:43 ubuntu etcd[79301]: heartbeat = 100ms
Jun 11 10:17:43 ubuntu etcd[79301]: election = 1000ms
Jun 11 10:17:43 ubuntu etcd[79301]: snapshot count = 100000
Jun 11 10:17:43 ubuntu etcd[79301]: advertise client URLs = http://10.201.5.82:2379
Jun 11 10:17:43 ubuntu etcd[79301]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 11 10:17:43 ubuntu etcd[79301]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jun 11 10:17:43 ubuntu etcd[79301]: raft2025/06/11 10:17:43 INFO: 43038365673ccf7b switched to configuration voters=()
Jun 11 10:17:43 ubuntu etcd[79301]: raft2025/06/11 10:17:43 INFO: 43038365673ccf7b became follower at term 0
Jun 11 10:17:43 ubuntu etcd[79301]: raft2025/06/11 10:17:43 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 11 10:17:43 ubuntu etcd[79301]: raft2025/06/11 10:17:43 INFO: 43038365673ccf7b became follower at term 1
Jun 11 10:17:43 ubuntu etcd[79301]: raft2025/06/11 10:17:43 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 11 10:17:43 ubuntu etcd[79301]: simple token is not cryptographically signed
Jun 11 10:17:43 ubuntu etcd[79301]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 11 10:17:43 ubuntu etcd[79301]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 11 10:17:43 ubuntu etcd[79301]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 11 10:17:43 ubuntu etcd[79301]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 11 10:17:43 ubuntu etcd[79301]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 11 10:17:43 ubuntu etcd[79301]: listening for peers on [::]:2380
Jun 11 10:17:43 ubuntu etcd[79301]: raft2025/06/11 10:17:43 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 11 10:17:43 ubuntu etcd[79301]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jun 11 10:17:44 ubuntu etcd[79301]: raft2025/06/11 10:17:44 INFO: 43038365673ccf7b is starting a new election at term 1
Jun 11 10:17:44 ubuntu etcd[79301]: raft2025/06/11 10:17:44 INFO: 43038365673ccf7b became candidate at term 2
Jun 11 10:17:44 ubuntu etcd[79301]: raft2025/06/11 10:17:44 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jun 11 10:17:44 ubuntu etcd[79301]: raft2025/06/11 10:17:44 INFO: 43038365673ccf7b became leader at term 2
Jun 11 10:17:44 ubuntu etcd[79301]: raft2025/06/11 10:17:44 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jun 11 10:17:44 ubuntu etcd[79301]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jun 11 10:17:44 ubuntu etcd[79301]: setting up the initial cluster version to 3.4
Jun 11 10:17:44 ubuntu etcd[79301]: ready to serve client requests
Jun 11 10:17:44 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 11 10:17:44 ubuntu etcd[79301]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jun 11 10:17:44 ubuntu etcd[79301]: set the initial cluster version to 3.4
Jun 11 10:17:44 ubuntu etcd[79301]: enabled capabilities for version 3.4
Jun 11 10:22:24 ubuntu etcd[79301]: start time = 2025-06-11 10:22:24.787479014 +0000 UTC m=+280.888609681, time spent = 554.843µs, remote = 10.201.5.82:49282, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 10:22:24 ubuntu etcd[79301]: start time = 2025-06-11 10:22:24.844863377 +0000 UTC m=+280.945994041, time spent = 335.99µs, remote = 10.201.5.82:49282, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 10:22:31 ubuntu etcd[79301]: start time = 2025-06-11 10:22:31.912255456 +0000 UTC m=+288.013531714, time spent = 515.209µs, remote = 10.201.5.82:49282, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 10:22:34 ubuntu etcd[79301]: start time = 2025-06-11 10:22:34.093972521 +0000 UTC m=+290.195103187, time spent = 712.681µs, remote = 10.201.5.82:49282, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
