Dec 04 18:32:13 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 04 18:32:13 ubuntu etcd[67636]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 04 18:32:13 ubuntu etcd[67636]:         A future release of golang/protobuf will delete this package,
Dec 04 18:32:13 ubuntu etcd[67636]:         which has long been excluded from the compatibility promise.
Dec 04 18:32:13 ubuntu etcd[67636]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 04 18:32:13 ubuntu etcd[67636]: Running http and grpc server on single port. This is not recommended for production.
Dec 04 18:32:13 ubuntu etcd[67636]: etcd Version: 3.4.27
Dec 04 18:32:13 ubuntu etcd[67636]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 04 18:32:13 ubuntu etcd[67636]: Git SHA: c92fb80f3
Dec 04 18:32:13 ubuntu etcd[67636]: Go Version: go1.19.10
Dec 04 18:32:13 ubuntu etcd[67636]: Go OS/Arch: linux/amd64
Dec 04 18:32:13 ubuntu etcd[67636]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 04 18:32:13 ubuntu etcd[67636]: Running http and grpc server on single port. This is not recommended for production.
Dec 04 18:32:13 ubuntu etcd[67636]: name = ubuntu
Dec 04 18:32:13 ubuntu etcd[67636]: data dir = /opt/stack/data/etcd
Dec 04 18:32:13 ubuntu etcd[67636]: member dir = /opt/stack/data/etcd/member
Dec 04 18:32:13 ubuntu etcd[67636]: heartbeat = 100ms
Dec 04 18:32:13 ubuntu etcd[67636]: election = 1000ms
Dec 04 18:32:13 ubuntu etcd[67636]: snapshot count = 100000
Dec 04 18:32:13 ubuntu etcd[67636]: advertise client URLs = http://10.201.5.82:2379
Dec 04 18:32:13 ubuntu etcd[67636]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Dec 04 18:32:13 ubuntu etcd[67636]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Dec 04 18:32:13 ubuntu etcd[67636]: raft2024/12/04 18:32:13 INFO: 43038365673ccf7b switched to configuration voters=()
Dec 04 18:32:13 ubuntu etcd[67636]: raft2024/12/04 18:32:13 INFO: 43038365673ccf7b became follower at term 0
Dec 04 18:32:13 ubuntu etcd[67636]: raft2024/12/04 18:32:13 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Dec 04 18:32:13 ubuntu etcd[67636]: raft2024/12/04 18:32:13 INFO: 43038365673ccf7b became follower at term 1
Dec 04 18:32:13 ubuntu etcd[67636]: raft2024/12/04 18:32:13 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Dec 04 18:32:13 ubuntu etcd[67636]: simple token is not cryptographically signed
Dec 04 18:32:13 ubuntu etcd[67636]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Dec 04 18:32:13 ubuntu etcd[67636]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Dec 04 18:32:13 ubuntu etcd[67636]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Dec 04 18:32:13 ubuntu etcd[67636]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Dec 04 18:32:13 ubuntu etcd[67636]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Dec 04 18:32:13 ubuntu etcd[67636]: raft2024/12/04 18:32:13 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Dec 04 18:32:13 ubuntu etcd[67636]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Dec 04 18:32:13 ubuntu etcd[67636]: listening for peers on [::]:2380
Dec 04 18:32:13 ubuntu etcd[67636]: raft2024/12/04 18:32:13 INFO: 43038365673ccf7b is starting a new election at term 1
Dec 04 18:32:13 ubuntu etcd[67636]: raft2024/12/04 18:32:13 INFO: 43038365673ccf7b became candidate at term 2
Dec 04 18:32:13 ubuntu etcd[67636]: raft2024/12/04 18:32:13 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Dec 04 18:32:13 ubuntu etcd[67636]: raft2024/12/04 18:32:13 INFO: 43038365673ccf7b became leader at term 2
Dec 04 18:32:13 ubuntu etcd[67636]: raft2024/12/04 18:32:13 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Dec 04 18:32:13 ubuntu etcd[67636]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Dec 04 18:32:13 ubuntu etcd[67636]: setting up the initial cluster version to 3.4
Dec 04 18:32:13 ubuntu etcd[67636]: ready to serve client requests
Dec 04 18:32:13 ubuntu etcd[67636]: set the initial cluster version to 3.4
Dec 04 18:32:13 ubuntu etcd[67636]: enabled capabilities for version 3.4
Dec 04 18:32:13 ubuntu etcd[67636]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Dec 04 18:32:13 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Dec 04 18:37:12 ubuntu etcd[67636]: start time = 2024-12-04 18:37:12.517533674 +0000 UTC m=+299.502578041, time spent = 2.157328ms, remote = 10.201.5.82:53468, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 04 18:37:12 ubuntu etcd[67636]: start time = 2024-12-04 18:37:12.573171895 +0000 UTC m=+299.558216267, time spent = 333.424µs, remote = 10.201.5.82:53468, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 04 18:37:19 ubuntu etcd[67636]: start time = 2024-12-04 18:37:19.041497893 +0000 UTC m=+306.026542264, time spent = 202.274µs, remote = 10.201.5.82:53468, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 04 18:37:21 ubuntu etcd[67636]: start time = 2024-12-04 18:37:21.140821661 +0000 UTC m=+308.125866030, time spent = 519.166µs, remote = 10.201.5.82:53468, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 04 18:40:16 ubuntu etcd[67636]: start time = 2024-12-04 18:40:16.174784349 +0000 UTC m=+483.159828721, time spent = 912.862µs, remote = 10.201.5.82:53468, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 04 18:40:16 ubuntu etcd[67636]: start time = 2024-12-04 18:40:16.310790909 +0000 UTC m=+483.295835284, time spent = 181.97µs, remote = 10.201.5.82:53468, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 04 18:40:16 ubuntu etcd[67636]: start time = 2024-12-04 18:40:16.321833651 +0000 UTC m=+483.306878025, time spent = 146.766µs, remote = 10.201.5.82:53468, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 04 18:40:18 ubuntu etcd[67636]: start time = 2024-12-04 18:40:18.59178609 +0000 UTC m=+485.576830560, time spent = 392.435µs, remote = 10.201.5.82:53468, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 04 18:42:08 ubuntu etcd[67636]: start time = 2024-12-04 18:42:08.392220325 +0000 UTC m=+595.377264794, time spent = 530.721µs, remote = 10.201.5.82:53468, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 04 18:42:08 ubuntu etcd[67636]: start time = 2024-12-04 18:42:08.396469193 +0000 UTC m=+595.381513594, time spent = 845.567µs, remote = 10.201.5.82:53468, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-08c62def-0ca0-4739-a204-b44fe8c94f6d" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-08c62def-0ca0-4739-a204-b44fe8c94f6d" value_size:16 lease:5727333610461072921 >> failure:<request_range:<key:"/tooz/lockscinder-08c62def-0ca0-4739-a204-b44fe8c94f6d" > >
Dec 04 18:42:11 ubuntu etcd[67636]: start time = 2024-12-04 18:42:11.101398321 +0000 UTC m=+598.086442790, time spent = 729.934µs, remote = 10.201.5.82:53468, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-08c62def-0ca0-4739-a204-b44fe8c94f6d" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-08c62def-0ca0-4739-a204-b44fe8c94f6d" > > failure:<>
Dec 04 18:42:11 ubuntu etcd[67636]: start time = 2024-12-04 18:42:11.320525834 +0000 UTC m=+598.305570221, time spent = 302.232µs, remote = 10.201.5.82:53468, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 04 18:42:11 ubuntu etcd[67636]: start time = 2024-12-04 18:42:11.32251293 +0000 UTC m=+598.307557305, time spent = 252.553µs, remote = 10.201.5.82:53468, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-08c62def-0ca0-4739-a204-b44fe8c94f6d" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-08c62def-0ca0-4739-a204-b44fe8c94f6d" value_size:16 lease:5727333610461072925 >> failure:<request_range:<key:"/tooz/lockscinder-08c62def-0ca0-4739-a204-b44fe8c94f6d" > >
Dec 04 18:42:12 ubuntu etcd[67636]: start time = 2024-12-04 18:42:12.112426772 +0000 UTC m=+599.097471147, time spent = 311.15µs, remote = 10.201.5.82:53468, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-08c62def-0ca0-4739-a204-b44fe8c94f6d" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-08c62def-0ca0-4739-a204-b44fe8c94f6d" > > failure:<>
Dec 04 18:42:12 ubuntu etcd[67636]: start time = 2024-12-04 18:42:12.338080149 +0000 UTC m=+599.323124527, time spent = 291.534µs, remote = 10.201.5.82:53468, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 04 18:42:12 ubuntu etcd[67636]: start time = 2024-12-04 18:42:12.340747477 +0000 UTC m=+599.325791853, time spent = 193.544µs, remote = 10.201.5.82:53468, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-08c62def-0ca0-4739-a204-b44fe8c94f6d" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-08c62def-0ca0-4739-a204-b44fe8c94f6d" value_size:16 lease:5727333610461072929 >> failure:<request_range:<key:"/tooz/lockscinder-08c62def-0ca0-4739-a204-b44fe8c94f6d" > >
Dec 04 18:42:13 ubuntu etcd[67636]: start time = 2024-12-04 18:42:13.144327616 +0000 UTC m=+600.129372102, time spent = 651.764µs, remote = 10.201.5.82:53468, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-08c62def-0ca0-4739-a204-b44fe8c94f6d" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-08c62def-0ca0-4739-a204-b44fe8c94f6d" > > failure:<>
