May 28 13:40:43 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 28 13:40:43 ubuntu etcd[79423]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 28 13:40:43 ubuntu etcd[79423]:         A future release of golang/protobuf will delete this package,
May 28 13:40:43 ubuntu etcd[79423]:         which has long been excluded from the compatibility promise.
May 28 13:40:43 ubuntu etcd[79423]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 28 13:40:43 ubuntu etcd[79423]: Running http and grpc server on single port. This is not recommended for production.
May 28 13:40:43 ubuntu etcd[79423]: etcd Version: 3.4.27
May 28 13:40:43 ubuntu etcd[79423]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 28 13:40:43 ubuntu etcd[79423]: Git SHA: c92fb80f3
May 28 13:40:43 ubuntu etcd[79423]: Go Version: go1.19.10
May 28 13:40:43 ubuntu etcd[79423]: Go OS/Arch: linux/amd64
May 28 13:40:43 ubuntu etcd[79423]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 28 13:40:43 ubuntu etcd[79423]: Running http and grpc server on single port. This is not recommended for production.
May 28 13:40:43 ubuntu etcd[79423]: name = ubuntu
May 28 13:40:43 ubuntu etcd[79423]: data dir = /opt/stack/data/etcd
May 28 13:40:43 ubuntu etcd[79423]: member dir = /opt/stack/data/etcd/member
May 28 13:40:43 ubuntu etcd[79423]: heartbeat = 100ms
May 28 13:40:43 ubuntu etcd[79423]: election = 1000ms
May 28 13:40:43 ubuntu etcd[79423]: snapshot count = 100000
May 28 13:40:43 ubuntu etcd[79423]: advertise client URLs = http://10.201.5.82:2379
May 28 13:40:43 ubuntu etcd[79423]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 28 13:40:43 ubuntu etcd[79423]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
May 28 13:40:43 ubuntu etcd[79423]: raft2025/05/28 13:40:43 INFO: 43038365673ccf7b switched to configuration voters=()
May 28 13:40:43 ubuntu etcd[79423]: raft2025/05/28 13:40:43 INFO: 43038365673ccf7b became follower at term 0
May 28 13:40:43 ubuntu etcd[79423]: raft2025/05/28 13:40:43 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 28 13:40:43 ubuntu etcd[79423]: raft2025/05/28 13:40:43 INFO: 43038365673ccf7b became follower at term 1
May 28 13:40:43 ubuntu etcd[79423]: raft2025/05/28 13:40:43 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
May 28 13:40:43 ubuntu etcd[79423]: simple token is not cryptographically signed
May 28 13:40:43 ubuntu etcd[79423]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 28 13:40:43 ubuntu etcd[79423]: raft2025/05/28 13:40:43 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
May 28 13:40:43 ubuntu etcd[79423]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
May 28 13:40:43 ubuntu etcd[79423]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
May 28 13:40:43 ubuntu etcd[79423]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 28 13:40:43 ubuntu etcd[79423]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 28 13:40:43 ubuntu etcd[79423]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 28 13:40:43 ubuntu etcd[79423]: listening for peers on [::]:2380
May 28 13:40:43 ubuntu etcd[79423]: raft2025/05/28 13:40:43 INFO: 43038365673ccf7b is starting a new election at term 1
May 28 13:40:43 ubuntu etcd[79423]: raft2025/05/28 13:40:43 INFO: 43038365673ccf7b became candidate at term 2
May 28 13:40:43 ubuntu etcd[79423]: raft2025/05/28 13:40:43 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
May 28 13:40:43 ubuntu etcd[79423]: raft2025/05/28 13:40:43 INFO: 43038365673ccf7b became leader at term 2
May 28 13:40:43 ubuntu etcd[79423]: raft2025/05/28 13:40:43 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
May 28 13:40:43 ubuntu etcd[79423]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
May 28 13:40:43 ubuntu etcd[79423]: setting up the initial cluster version to 3.4
May 28 13:40:43 ubuntu etcd[79423]: ready to serve client requests
May 28 13:40:43 ubuntu etcd[79423]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
May 28 13:40:43 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 28 13:40:43 ubuntu etcd[79423]: set the initial cluster version to 3.4
May 28 13:40:43 ubuntu etcd[79423]: enabled capabilities for version 3.4
May 28 13:45:26 ubuntu etcd[79423]: start time = 2025-05-28 13:45:26.795136807 +0000 UTC m=+283.328563744, time spent = 1.870587ms, remote = 10.201.5.82:57342, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 28 13:45:26 ubuntu etcd[79423]: start time = 2025-05-28 13:45:26.869259537 +0000 UTC m=+283.402686481, time spent = 293.069µs, remote = 10.201.5.82:57342, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 28 13:45:33 ubuntu etcd[79423]: start time = 2025-05-28 13:45:33.681466749 +0000 UTC m=+290.214893678, time spent = 330.199µs, remote = 10.201.5.82:57342, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 28 13:45:35 ubuntu etcd[79423]: start time = 2025-05-28 13:45:35.827211923 +0000 UTC m=+292.360638864, time spent = 215.963µs, remote = 10.201.5.82:57342, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 28 13:49:28 ubuntu etcd[79423]: start time = 2025-05-28 13:49:28.170338769 +0000 UTC m=+524.703765711, time spent = 426.701µs, remote = 10.201.5.82:57342, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 28 13:49:28 ubuntu etcd[79423]: start time = 2025-05-28 13:49:28.212762065 +0000 UTC m=+524.746189009, time spent = 209.365µs, remote = 10.201.5.82:57342, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 28 13:49:28 ubuntu etcd[79423]: start time = 2025-05-28 13:49:28.460282558 +0000 UTC m=+524.993709498, time spent = 208.655µs, remote = 10.201.5.82:57342, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 28 13:49:30 ubuntu etcd[79423]: start time = 2025-05-28 13:49:30.851997432 +0000 UTC m=+527.385424372, time spent = 316.463µs, remote = 10.201.5.82:57342, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 28 13:51:17 ubuntu etcd[79423]: start time = 2025-05-28 13:51:17.133204369 +0000 UTC m=+633.666631404, time spent = 498.313µs, remote = 10.201.5.82:57342, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 28 13:51:17 ubuntu etcd[79423]: start time = 2025-05-28 13:51:17.144068068 +0000 UTC m=+633.677495093, time spent = 4.43305ms, remote = 10.201.5.82:57342, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-892d9a56-290c-47c3-9d8d-76bfcd7bc354" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-892d9a56-290c-47c3-9d8d-76bfcd7bc354" value_size:16 lease:5727337476703747097 >> failure:<request_range:<key:"/tooz/lockscinder-892d9a56-290c-47c3-9d8d-76bfcd7bc354" > >
May 28 13:51:22 ubuntu etcd[79423]: start time = 2025-05-28 13:51:22.294151673 +0000 UTC m=+638.827578677, time spent = 632.284µs, remote = 10.201.5.82:57342, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-892d9a56-290c-47c3-9d8d-76bfcd7bc354" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-892d9a56-290c-47c3-9d8d-76bfcd7bc354" > > failure:<>
May 28 13:51:22 ubuntu etcd[79423]: start time = 2025-05-28 13:51:22.55138511 +0000 UTC m=+639.084812135, time spent = 394.846µs, remote = 10.201.5.82:57342, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 28 13:51:22 ubuntu etcd[79423]: start time = 2025-05-28 13:51:22.553529606 +0000 UTC m=+639.086956547, time spent = 172.381µs, remote = 10.201.5.82:57342, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-892d9a56-290c-47c3-9d8d-76bfcd7bc354" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-892d9a56-290c-47c3-9d8d-76bfcd7bc354" value_size:16 lease:5727337476703747101 >> failure:<request_range:<key:"/tooz/lockscinder-892d9a56-290c-47c3-9d8d-76bfcd7bc354" > >
May 28 13:51:24 ubuntu etcd[79423]: start time = 2025-05-28 13:51:24.463771976 +0000 UTC m=+640.997198980, time spent = 563.783µs, remote = 10.201.5.82:57342, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-892d9a56-290c-47c3-9d8d-76bfcd7bc354" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-892d9a56-290c-47c3-9d8d-76bfcd7bc354" > > failure:<>
May 28 13:51:24 ubuntu etcd[79423]: start time = 2025-05-28 13:51:24.69262152 +0000 UTC m=+641.226048461, time spent = 344.722µs, remote = 10.201.5.82:57342, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 28 13:51:24 ubuntu etcd[79423]: start time = 2025-05-28 13:51:24.694753269 +0000 UTC m=+641.228180305, time spent = 490.294µs, remote = 10.201.5.82:57342, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-892d9a56-290c-47c3-9d8d-76bfcd7bc354" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-892d9a56-290c-47c3-9d8d-76bfcd7bc354" value_size:16 lease:5727337476703747105 >> failure:<request_range:<key:"/tooz/lockscinder-892d9a56-290c-47c3-9d8d-76bfcd7bc354" > >
May 28 13:51:26 ubuntu etcd[79423]: start time = 2025-05-28 13:51:26.52541098 +0000 UTC m=+643.058837957, time spent = 349.817µs, remote = 10.201.5.82:57342, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-892d9a56-290c-47c3-9d8d-76bfcd7bc354" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-892d9a56-290c-47c3-9d8d-76bfcd7bc354" > > failure:<>
