Aug 12 13:01:33 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Aug 12 13:01:33 ubuntu etcd[79425]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Aug 12 13:01:33 ubuntu etcd[79425]:         A future release of golang/protobuf will delete this package,
Aug 12 13:01:33 ubuntu etcd[79425]:         which has long been excluded from the compatibility promise.
Aug 12 13:01:33 ubuntu etcd[79425]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 12 13:01:33 ubuntu etcd[79425]: Running http and grpc server on single port. This is not recommended for production.
Aug 12 13:01:33 ubuntu etcd[79425]: etcd Version: 3.4.27
Aug 12 13:01:33 ubuntu etcd[79425]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 12 13:01:33 ubuntu etcd[79425]: Git SHA: c92fb80f3
Aug 12 13:01:33 ubuntu etcd[79425]: Go Version: go1.19.10
Aug 12 13:01:33 ubuntu etcd[79425]: Go OS/Arch: linux/amd64
Aug 12 13:01:33 ubuntu etcd[79425]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Aug 12 13:01:33 ubuntu etcd[79425]: Running http and grpc server on single port. This is not recommended for production.
Aug 12 13:01:33 ubuntu etcd[79425]: name = ubuntu
Aug 12 13:01:33 ubuntu etcd[79425]: data dir = /opt/stack/data/etcd
Aug 12 13:01:33 ubuntu etcd[79425]: member dir = /opt/stack/data/etcd/member
Aug 12 13:01:33 ubuntu etcd[79425]: heartbeat = 100ms
Aug 12 13:01:33 ubuntu etcd[79425]: election = 1000ms
Aug 12 13:01:33 ubuntu etcd[79425]: snapshot count = 100000
Aug 12 13:01:33 ubuntu etcd[79425]: advertise client URLs = http://10.201.5.82:2379
Aug 12 13:01:33 ubuntu etcd[79425]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Aug 12 13:01:33 ubuntu etcd[79425]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Aug 12 13:01:33 ubuntu etcd[79425]: raft2025/08/12 13:01:33 INFO: 43038365673ccf7b switched to configuration voters=()
Aug 12 13:01:33 ubuntu etcd[79425]: raft2025/08/12 13:01:33 INFO: 43038365673ccf7b became follower at term 0
Aug 12 13:01:33 ubuntu etcd[79425]: raft2025/08/12 13:01:33 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Aug 12 13:01:33 ubuntu etcd[79425]: raft2025/08/12 13:01:33 INFO: 43038365673ccf7b became follower at term 1
Aug 12 13:01:33 ubuntu etcd[79425]: raft2025/08/12 13:01:33 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Aug 12 13:01:33 ubuntu etcd[79425]: simple token is not cryptographically signed
Aug 12 13:01:33 ubuntu etcd[79425]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Aug 12 13:01:33 ubuntu etcd[79425]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Aug 12 13:01:33 ubuntu etcd[79425]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Aug 12 13:01:33 ubuntu etcd[79425]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Aug 12 13:01:33 ubuntu etcd[79425]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Aug 12 13:01:33 ubuntu etcd[79425]: raft2025/08/12 13:01:33 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Aug 12 13:01:33 ubuntu etcd[79425]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Aug 12 13:01:33 ubuntu etcd[79425]: listening for peers on [::]:2380
Aug 12 13:01:33 ubuntu etcd[79425]: raft2025/08/12 13:01:33 INFO: 43038365673ccf7b is starting a new election at term 1
Aug 12 13:01:33 ubuntu etcd[79425]: raft2025/08/12 13:01:33 INFO: 43038365673ccf7b became candidate at term 2
Aug 12 13:01:33 ubuntu etcd[79425]: raft2025/08/12 13:01:33 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Aug 12 13:01:33 ubuntu etcd[79425]: raft2025/08/12 13:01:33 INFO: 43038365673ccf7b became leader at term 2
Aug 12 13:01:33 ubuntu etcd[79425]: raft2025/08/12 13:01:33 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Aug 12 13:01:33 ubuntu etcd[79425]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Aug 12 13:01:33 ubuntu etcd[79425]: setting up the initial cluster version to 3.4
Aug 12 13:01:33 ubuntu etcd[79425]: ready to serve client requests
Aug 12 13:01:33 ubuntu etcd[79425]: set the initial cluster version to 3.4
Aug 12 13:01:33 ubuntu etcd[79425]: enabled capabilities for version 3.4
Aug 12 13:01:33 ubuntu etcd[79425]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Aug 12 13:01:33 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Aug 12 13:06:19 ubuntu etcd[79425]: start time = 2025-08-12 13:06:19.408370804 +0000 UTC m=+286.267711919, time spent = 1.9065ms, remote = 10.201.5.82:46640, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 12 13:06:19 ubuntu etcd[79425]: start time = 2025-08-12 13:06:19.491323246 +0000 UTC m=+286.350664371, time spent = 279.235µs, remote = 10.201.5.82:46640, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 12 13:06:26 ubuntu etcd[79425]: start time = 2025-08-12 13:06:26.549311306 +0000 UTC m=+293.408652423, time spent = 267.889µs, remote = 10.201.5.82:46640, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 12 13:06:28 ubuntu etcd[79425]: start time = 2025-08-12 13:06:28.538553328 +0000 UTC m=+295.397894446, time spent = 246.096µs, remote = 10.201.5.82:46640, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 12 13:09:46 ubuntu etcd[79425]: start time = 2025-08-12 13:09:46.360629269 +0000 UTC m=+493.219970390, time spent = 350.424µs, remote = 10.201.5.82:46640, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 12 13:09:46 ubuntu etcd[79425]: start time = 2025-08-12 13:09:46.51330335 +0000 UTC m=+493.372644468, time spent = 206.606µs, remote = 10.201.5.82:46640, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 12 13:09:46 ubuntu etcd[79425]: start time = 2025-08-12 13:09:46.530586597 +0000 UTC m=+493.389927754, time spent = 244.87µs, remote = 10.201.5.82:46640, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 12 13:09:48 ubuntu etcd[79425]: start time = 2025-08-12 13:09:48.714925306 +0000 UTC m=+495.574266428, time spent = 216.03µs, remote = 10.201.5.82:46640, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 12 13:16:35 ubuntu etcd[79425]: start time = 2025-08-12 13:16:35.04978698 +0000 UTC m=+901.909128097, time spent = 368.015µs, remote = 10.201.5.82:46640, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 12 13:16:35 ubuntu etcd[79425]: start time = 2025-08-12 13:16:35.058001066 +0000 UTC m=+901.917342198, time spent = 5.025293ms, remote = 10.201.5.82:46640, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-9b648774-ca6f-4835-af7e-a3e826fdb7f7" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-9b648774-ca6f-4835-af7e-a3e826fdb7f7" value_size:16 lease:5727339157100463385 >> failure:<request_range:<key:"/tooz/lockscinder-9b648774-ca6f-4835-af7e-a3e826fdb7f7" > >
Aug 12 13:16:37 ubuntu etcd[79425]: start time = 2025-08-12 13:16:37.83279339 +0000 UTC m=+904.692134601, time spent = 538.258µs, remote = 10.201.5.82:46640, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-9b648774-ca6f-4835-af7e-a3e826fdb7f7" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-9b648774-ca6f-4835-af7e-a3e826fdb7f7" > > failure:<>
Aug 12 13:16:38 ubuntu etcd[79425]: start time = 2025-08-12 13:16:38.038659877 +0000 UTC m=+904.898001000, time spent = 227.541µs, remote = 10.201.5.82:46640, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 12 13:16:38 ubuntu etcd[79425]: start time = 2025-08-12 13:16:38.040599149 +0000 UTC m=+904.899940266, time spent = 169.685µs, remote = 10.201.5.82:46640, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-9b648774-ca6f-4835-af7e-a3e826fdb7f7" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-9b648774-ca6f-4835-af7e-a3e826fdb7f7" value_size:16 lease:5727339157100463389 >> failure:<request_range:<key:"/tooz/lockscinder-9b648774-ca6f-4835-af7e-a3e826fdb7f7" > >
Aug 12 13:16:40 ubuntu etcd[79425]: start time = 2025-08-12 13:16:40.653568021 +0000 UTC m=+907.512909226, time spent = 744.283µs, remote = 10.201.5.82:46640, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-9b648774-ca6f-4835-af7e-a3e826fdb7f7" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-9b648774-ca6f-4835-af7e-a3e826fdb7f7" > > failure:<>
Aug 12 13:16:40 ubuntu etcd[79425]: start time = 2025-08-12 13:16:40.90511557 +0000 UTC m=+907.764456692, time spent = 315.143µs, remote = 10.201.5.82:46640, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 12 13:16:40 ubuntu etcd[79425]: start time = 2025-08-12 13:16:40.907765927 +0000 UTC m=+907.767107034, time spent = 282.578µs, remote = 10.201.5.82:46640, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-9b648774-ca6f-4835-af7e-a3e826fdb7f7" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-9b648774-ca6f-4835-af7e-a3e826fdb7f7" value_size:16 lease:5727339157100463393 >> failure:<request_range:<key:"/tooz/lockscinder-9b648774-ca6f-4835-af7e-a3e826fdb7f7" > >
Aug 12 13:16:42 ubuntu etcd[79425]: start time = 2025-08-12 13:16:42.737557876 +0000 UTC m=+909.596899099, time spent = 598.726µs, remote = 10.201.5.82:46640, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-9b648774-ca6f-4835-af7e-a3e826fdb7f7" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-9b648774-ca6f-4835-af7e-a3e826fdb7f7" > > failure:<>
