May 29 21:14:21 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 29 21:14:21 ubuntu etcd[79734]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 29 21:14:21 ubuntu etcd[79734]:         A future release of golang/protobuf will delete this package,
May 29 21:14:21 ubuntu etcd[79734]:         which has long been excluded from the compatibility promise.
May 29 21:14:21 ubuntu etcd[79734]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 29 21:14:21 ubuntu etcd[79734]: Running http and grpc server on single port. This is not recommended for production.
May 29 21:14:21 ubuntu etcd[79734]: etcd Version: 3.4.27
May 29 21:14:21 ubuntu etcd[79734]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 29 21:14:21 ubuntu etcd[79734]: Git SHA: c92fb80f3
May 29 21:14:21 ubuntu etcd[79734]: Go Version: go1.19.10
May 29 21:14:21 ubuntu etcd[79734]: Go OS/Arch: linux/amd64
May 29 21:14:21 ubuntu etcd[79734]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 29 21:14:21 ubuntu etcd[79734]: Running http and grpc server on single port. This is not recommended for production.
May 29 21:14:21 ubuntu etcd[79734]: name = ubuntu
May 29 21:14:21 ubuntu etcd[79734]: data dir = /opt/stack/data/etcd
May 29 21:14:21 ubuntu etcd[79734]: member dir = /opt/stack/data/etcd/member
May 29 21:14:21 ubuntu etcd[79734]: heartbeat = 100ms
May 29 21:14:21 ubuntu etcd[79734]: election = 1000ms
May 29 21:14:21 ubuntu etcd[79734]: snapshot count = 100000
May 29 21:14:21 ubuntu etcd[79734]: advertise client URLs = http://10.201.5.82:2379
May 29 21:14:21 ubuntu etcd[79734]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 29 21:14:21 ubuntu etcd[79734]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
May 29 21:14:21 ubuntu etcd[79734]: raft2025/05/29 21:14:21 INFO: 43038365673ccf7b switched to configuration voters=()
May 29 21:14:21 ubuntu etcd[79734]: raft2025/05/29 21:14:21 INFO: 43038365673ccf7b became follower at term 0
May 29 21:14:21 ubuntu etcd[79734]: raft2025/05/29 21:14:21 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 29 21:14:21 ubuntu etcd[79734]: raft2025/05/29 21:14:21 INFO: 43038365673ccf7b became follower at term 1
May 29 21:14:21 ubuntu etcd[79734]: raft2025/05/29 21:14:21 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
May 29 21:14:21 ubuntu etcd[79734]: simple token is not cryptographically signed
May 29 21:14:21 ubuntu etcd[79734]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 29 21:14:21 ubuntu etcd[79734]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
May 29 21:14:21 ubuntu etcd[79734]: raft2025/05/29 21:14:21 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
May 29 21:14:21 ubuntu etcd[79734]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
May 29 21:14:21 ubuntu etcd[79734]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 29 21:14:21 ubuntu etcd[79734]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 29 21:14:21 ubuntu etcd[79734]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 29 21:14:21 ubuntu etcd[79734]: listening for peers on [::]:2380
May 29 21:14:22 ubuntu etcd[79734]: raft2025/05/29 21:14:22 INFO: 43038365673ccf7b is starting a new election at term 1
May 29 21:14:22 ubuntu etcd[79734]: raft2025/05/29 21:14:22 INFO: 43038365673ccf7b became candidate at term 2
May 29 21:14:22 ubuntu etcd[79734]: raft2025/05/29 21:14:22 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
May 29 21:14:22 ubuntu etcd[79734]: raft2025/05/29 21:14:22 INFO: 43038365673ccf7b became leader at term 2
May 29 21:14:22 ubuntu etcd[79734]: raft2025/05/29 21:14:22 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
May 29 21:14:22 ubuntu etcd[79734]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
May 29 21:14:22 ubuntu etcd[79734]: ready to serve client requests
May 29 21:14:22 ubuntu etcd[79734]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
May 29 21:14:22 ubuntu etcd[79734]: setting up the initial cluster version to 3.4
May 29 21:14:22 ubuntu etcd[79734]: set the initial cluster version to 3.4
May 29 21:14:22 ubuntu etcd[79734]: enabled capabilities for version 3.4
May 29 21:14:22 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 29 21:19:03 ubuntu etcd[79734]: start time = 2025-05-29 21:19:03.168029809 +0000 UTC m=+281.378451992, time spent = 684.163µs, remote = 10.201.5.82:39258, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 29 21:19:03 ubuntu etcd[79734]: start time = 2025-05-29 21:19:03.211576018 +0000 UTC m=+281.421998216, time spent = 326.19µs, remote = 10.201.5.82:39258, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 29 21:19:10 ubuntu etcd[79734]: start time = 2025-05-29 21:19:10.510484563 +0000 UTC m=+288.720906769, time spent = 202.73µs, remote = 10.201.5.82:39258, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 29 21:19:12 ubuntu etcd[79734]: start time = 2025-05-29 21:19:12.368004734 +0000 UTC m=+290.578426917, time spent = 225.506µs, remote = 10.201.5.82:39258, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 29 21:22:58 ubuntu etcd[79734]: start time = 2025-05-29 21:22:58.20815783 +0000 UTC m=+516.418580027, time spent = 382.671µs, remote = 10.201.5.82:39258, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 29 21:22:58 ubuntu etcd[79734]: start time = 2025-05-29 21:22:58.226811703 +0000 UTC m=+516.437233896, time spent = 168.55µs, remote = 10.201.5.82:39258, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 29 21:22:59 ubuntu etcd[79734]: start time = 2025-05-29 21:22:59.859346573 +0000 UTC m=+518.069768769, time spent = 202.306µs, remote = 10.201.5.82:39258, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 29 21:23:02 ubuntu etcd[79734]: start time = 2025-05-29 21:23:02.51052065 +0000 UTC m=+520.720942943, time spent = 415.718µs, remote = 10.201.5.82:39258, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 29 21:24:49 ubuntu etcd[79734]: start time = 2025-05-29 21:24:49.009040661 +0000 UTC m=+627.219462953, time spent = 884.259µs, remote = 10.201.5.82:39258, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 29 21:24:49 ubuntu etcd[79734]: start time = 2025-05-29 21:24:49.019920625 +0000 UTC m=+627.230342857, time spent = 2.620535ms, remote = 10.201.5.82:39258, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-0005f9e2-d1c5-4515-8474-e88b8958d9e1" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-0005f9e2-d1c5-4515-8474-e88b8958d9e1" value_size:16 lease:5727337505790038297 >> failure:<request_range:<key:"/tooz/lockscinder-0005f9e2-d1c5-4515-8474-e88b8958d9e1" > >
May 29 21:24:54 ubuntu etcd[79734]: start time = 2025-05-29 21:24:54.694932374 +0000 UTC m=+632.905354628, time spent = 614.798µs, remote = 10.201.5.82:39258, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-0005f9e2-d1c5-4515-8474-e88b8958d9e1" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-0005f9e2-d1c5-4515-8474-e88b8958d9e1" > > failure:<>
May 29 21:24:54 ubuntu etcd[79734]: start time = 2025-05-29 21:24:54.943032823 +0000 UTC m=+633.153455023, time spent = 211.137µs, remote = 10.201.5.82:39258, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 29 21:24:54 ubuntu etcd[79734]: start time = 2025-05-29 21:24:54.944893936 +0000 UTC m=+633.155316136, time spent = 160.275µs, remote = 10.201.5.82:39258, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-0005f9e2-d1c5-4515-8474-e88b8958d9e1" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-0005f9e2-d1c5-4515-8474-e88b8958d9e1" value_size:16 lease:5727337505790038301 >> failure:<request_range:<key:"/tooz/lockscinder-0005f9e2-d1c5-4515-8474-e88b8958d9e1" > >
May 29 21:24:56 ubuntu etcd[79734]: start time = 2025-05-29 21:24:56.70432385 +0000 UTC m=+634.914746092, time spent = 585.07µs, remote = 10.201.5.82:39258, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-0005f9e2-d1c5-4515-8474-e88b8958d9e1" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-0005f9e2-d1c5-4515-8474-e88b8958d9e1" > > failure:<>
May 29 21:24:56 ubuntu etcd[79734]: start time = 2025-05-29 21:24:56.945039927 +0000 UTC m=+635.155462126, time spent = 257.444µs, remote = 10.201.5.82:39258, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 29 21:24:56 ubuntu etcd[79734]: start time = 2025-05-29 21:24:56.947024286 +0000 UTC m=+635.157446489, time spent = 217.444µs, remote = 10.201.5.82:39258, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-0005f9e2-d1c5-4515-8474-e88b8958d9e1" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-0005f9e2-d1c5-4515-8474-e88b8958d9e1" value_size:16 lease:5727337505790038305 >> failure:<request_range:<key:"/tooz/lockscinder-0005f9e2-d1c5-4515-8474-e88b8958d9e1" > >
May 29 21:24:58 ubuntu etcd[79734]: start time = 2025-05-29 21:24:58.691658115 +0000 UTC m=+636.902080413, time spent = 1.25694ms, remote = 10.201.5.82:39258, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-0005f9e2-d1c5-4515-8474-e88b8958d9e1" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-0005f9e2-d1c5-4515-8474-e88b8958d9e1" > > failure:<>
