May 28 15:03:14 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 28 15:03:14 ubuntu etcd[79622]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 28 15:03:14 ubuntu etcd[79622]:         A future release of golang/protobuf will delete this package,
May 28 15:03:14 ubuntu etcd[79622]:         which has long been excluded from the compatibility promise.
May 28 15:03:14 ubuntu etcd[79622]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 28 15:03:14 ubuntu etcd[79622]: Running http and grpc server on single port. This is not recommended for production.
May 28 15:03:14 ubuntu etcd[79622]: etcd Version: 3.4.27
May 28 15:03:14 ubuntu etcd[79622]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 28 15:03:14 ubuntu etcd[79622]: Git SHA: c92fb80f3
May 28 15:03:14 ubuntu etcd[79622]: Go Version: go1.19.10
May 28 15:03:14 ubuntu etcd[79622]: Go OS/Arch: linux/amd64
May 28 15:03:14 ubuntu etcd[79622]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 28 15:03:14 ubuntu etcd[79622]: Running http and grpc server on single port. This is not recommended for production.
May 28 15:03:14 ubuntu etcd[79622]: name = ubuntu
May 28 15:03:14 ubuntu etcd[79622]: data dir = /opt/stack/data/etcd
May 28 15:03:14 ubuntu etcd[79622]: member dir = /opt/stack/data/etcd/member
May 28 15:03:14 ubuntu etcd[79622]: heartbeat = 100ms
May 28 15:03:14 ubuntu etcd[79622]: election = 1000ms
May 28 15:03:14 ubuntu etcd[79622]: snapshot count = 100000
May 28 15:03:14 ubuntu etcd[79622]: advertise client URLs = http://10.201.5.82:2379
May 28 15:03:14 ubuntu etcd[79622]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 28 15:03:14 ubuntu etcd[79622]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
May 28 15:03:14 ubuntu etcd[79622]: raft2025/05/28 15:03:14 INFO: 43038365673ccf7b switched to configuration voters=()
May 28 15:03:14 ubuntu etcd[79622]: raft2025/05/28 15:03:14 INFO: 43038365673ccf7b became follower at term 0
May 28 15:03:14 ubuntu etcd[79622]: raft2025/05/28 15:03:14 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 28 15:03:14 ubuntu etcd[79622]: raft2025/05/28 15:03:14 INFO: 43038365673ccf7b became follower at term 1
May 28 15:03:14 ubuntu etcd[79622]: raft2025/05/28 15:03:14 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
May 28 15:03:14 ubuntu etcd[79622]: simple token is not cryptographically signed
May 28 15:03:14 ubuntu etcd[79622]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 28 15:03:14 ubuntu etcd[79622]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
May 28 15:03:14 ubuntu etcd[79622]: raft2025/05/28 15:03:14 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
May 28 15:03:14 ubuntu etcd[79622]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
May 28 15:03:14 ubuntu etcd[79622]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 28 15:03:14 ubuntu etcd[79622]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 28 15:03:14 ubuntu etcd[79622]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 28 15:03:14 ubuntu etcd[79622]: listening for peers on [::]:2380
May 28 15:03:14 ubuntu etcd[79622]: raft2025/05/28 15:03:14 INFO: 43038365673ccf7b is starting a new election at term 1
May 28 15:03:14 ubuntu etcd[79622]: raft2025/05/28 15:03:14 INFO: 43038365673ccf7b became candidate at term 2
May 28 15:03:14 ubuntu etcd[79622]: raft2025/05/28 15:03:14 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
May 28 15:03:14 ubuntu etcd[79622]: raft2025/05/28 15:03:14 INFO: 43038365673ccf7b became leader at term 2
May 28 15:03:14 ubuntu etcd[79622]: raft2025/05/28 15:03:14 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
May 28 15:03:14 ubuntu etcd[79622]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
May 28 15:03:14 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 28 15:03:14 ubuntu etcd[79622]: setting up the initial cluster version to 3.4
May 28 15:03:14 ubuntu etcd[79622]: ready to serve client requests
May 28 15:03:14 ubuntu etcd[79622]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
May 28 15:03:14 ubuntu etcd[79622]: set the initial cluster version to 3.4
May 28 15:03:14 ubuntu etcd[79622]: enabled capabilities for version 3.4
May 28 15:08:01 ubuntu etcd[79622]: start time = 2025-05-28 15:08:01.133103855 +0000 UTC m=+286.964594925, time spent = 1.973532ms, remote = 10.201.5.82:38566, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 28 15:08:01 ubuntu etcd[79622]: start time = 2025-05-28 15:08:01.141250924 +0000 UTC m=+286.972742013, time spent = 273.297µs, remote = 10.201.5.82:38566, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 28 15:08:08 ubuntu etcd[79622]: start time = 2025-05-28 15:08:08.156802801 +0000 UTC m=+293.988293888, time spent = 225.999µs, remote = 10.201.5.82:38566, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 28 15:08:10 ubuntu etcd[79622]: start time = 2025-05-28 15:08:10.189180895 +0000 UTC m=+296.020671981, time spent = 356.759µs, remote = 10.201.5.82:38566, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 28 15:11:57 ubuntu etcd[79622]: start time = 2025-05-28 15:11:57.041266255 +0000 UTC m=+522.872757384, time spent = 905.563µs, remote = 10.201.5.82:38566, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 28 15:11:57 ubuntu etcd[79622]: start time = 2025-05-28 15:11:57.046904715 +0000 UTC m=+522.878395798, time spent = 194.674µs, remote = 10.201.5.82:38566, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 28 15:11:57 ubuntu etcd[79622]: start time = 2025-05-28 15:11:57.705591852 +0000 UTC m=+523.537082936, time spent = 206.027µs, remote = 10.201.5.82:38566, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 28 15:12:00 ubuntu etcd[79622]: start time = 2025-05-28 15:12:00.204762895 +0000 UTC m=+526.036253977, time spent = 227.762µs, remote = 10.201.5.82:38566, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 28 15:13:48 ubuntu etcd[79622]: start time = 2025-05-28 15:13:48.273992713 +0000 UTC m=+634.105483784, time spent = 283.748µs, remote = 10.201.5.82:38566, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 28 15:13:48 ubuntu etcd[79622]: start time = 2025-05-28 15:13:48.283621015 +0000 UTC m=+634.115112155, time spent = 4.245606ms, remote = 10.201.5.82:38566, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-8d323d53-52d3-4df6-a35e-13f812a1484a" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-8d323d53-52d3-4df6-a35e-13f812a1484a" value_size:16 lease:5727337477971126553 >> failure:<request_range:<key:"/tooz/lockscinder-8d323d53-52d3-4df6-a35e-13f812a1484a" > >
May 28 15:13:52 ubuntu etcd[79622]: start time = 2025-05-28 15:13:52.417414085 +0000 UTC m=+638.248905298, time spent = 743.601µs, remote = 10.201.5.82:38566, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-8d323d53-52d3-4df6-a35e-13f812a1484a" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-8d323d53-52d3-4df6-a35e-13f812a1484a" > > failure:<>
May 28 15:13:52 ubuntu etcd[79622]: start time = 2025-05-28 15:13:52.649619408 +0000 UTC m=+638.481110536, time spent = 534.473µs, remote = 10.201.5.82:38566, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 28 15:13:52 ubuntu etcd[79622]: start time = 2025-05-28 15:13:52.652360332 +0000 UTC m=+638.483851420, time spent = 298.983µs, remote = 10.201.5.82:38566, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-8d323d53-52d3-4df6-a35e-13f812a1484a" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-8d323d53-52d3-4df6-a35e-13f812a1484a" value_size:16 lease:5727337477971126557 >> failure:<request_range:<key:"/tooz/lockscinder-8d323d53-52d3-4df6-a35e-13f812a1484a" > >
May 28 15:13:54 ubuntu etcd[79622]: start time = 2025-05-28 15:13:54.603303413 +0000 UTC m=+640.434794590, time spent = 792.321µs, remote = 10.201.5.82:38566, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-8d323d53-52d3-4df6-a35e-13f812a1484a" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-8d323d53-52d3-4df6-a35e-13f812a1484a" > > failure:<>
May 28 15:13:54 ubuntu etcd[79622]: start time = 2025-05-28 15:13:54.827232234 +0000 UTC m=+640.658723319, time spent = 278.23µs, remote = 10.201.5.82:38566, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 28 15:13:54 ubuntu etcd[79622]: start time = 2025-05-28 15:13:54.82960826 +0000 UTC m=+640.661099349, time spent = 163.937µs, remote = 10.201.5.82:38566, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-8d323d53-52d3-4df6-a35e-13f812a1484a" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-8d323d53-52d3-4df6-a35e-13f812a1484a" value_size:16 lease:5727337477971126561 >> failure:<request_range:<key:"/tooz/lockscinder-8d323d53-52d3-4df6-a35e-13f812a1484a" > >
May 28 15:13:56 ubuntu etcd[79622]: start time = 2025-05-28 15:13:56.661713564 +0000 UTC m=+642.493204732, time spent = 595.38µs, remote = 10.201.5.82:38566, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-8d323d53-52d3-4df6-a35e-13f812a1484a" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-8d323d53-52d3-4df6-a35e-13f812a1484a" > > failure:<>
