Sep 10 16:50:38 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Sep 10 16:50:38 ubuntu etcd[68097]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Sep 10 16:50:38 ubuntu etcd[68097]:         A future release of golang/protobuf will delete this package,
Sep 10 16:50:38 ubuntu etcd[68097]:         which has long been excluded from the compatibility promise.
Sep 10 16:50:38 ubuntu etcd[68097]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Sep 10 16:50:38 ubuntu etcd[68097]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Sep 10 16:50:38 ubuntu etcd[68097]: Running http and grpc server on single port. This is not recommended for production.
Sep 10 16:50:38 ubuntu etcd[68097]: etcd Version: 3.4.27
Sep 10 16:50:38 ubuntu etcd[68097]: Git SHA: c92fb80f3
Sep 10 16:50:38 ubuntu etcd[68097]: Go Version: go1.19.10
Sep 10 16:50:38 ubuntu etcd[68097]: Go OS/Arch: linux/amd64
Sep 10 16:50:38 ubuntu etcd[68097]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Sep 10 16:50:38 ubuntu etcd[68097]: Running http and grpc server on single port. This is not recommended for production.
Sep 10 16:50:38 ubuntu etcd[68097]: name = ubuntu
Sep 10 16:50:38 ubuntu etcd[68097]: data dir = /opt/stack/data/etcd
Sep 10 16:50:38 ubuntu etcd[68097]: member dir = /opt/stack/data/etcd/member
Sep 10 16:50:38 ubuntu etcd[68097]: heartbeat = 100ms
Sep 10 16:50:38 ubuntu etcd[68097]: election = 1000ms
Sep 10 16:50:38 ubuntu etcd[68097]: snapshot count = 100000
Sep 10 16:50:38 ubuntu etcd[68097]: advertise client URLs = http://10.201.5.82:2379
Sep 10 16:50:38 ubuntu etcd[68097]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Sep 10 16:50:38 ubuntu etcd[68097]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Sep 10 16:50:38 ubuntu etcd[68097]: raft2024/09/10 16:50:38 INFO: 43038365673ccf7b switched to configuration voters=()
Sep 10 16:50:38 ubuntu etcd[68097]: raft2024/09/10 16:50:38 INFO: 43038365673ccf7b became follower at term 0
Sep 10 16:50:38 ubuntu etcd[68097]: raft2024/09/10 16:50:38 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Sep 10 16:50:38 ubuntu etcd[68097]: raft2024/09/10 16:50:38 INFO: 43038365673ccf7b became follower at term 1
Sep 10 16:50:38 ubuntu etcd[68097]: raft2024/09/10 16:50:38 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Sep 10 16:50:38 ubuntu etcd[68097]: simple token is not cryptographically signed
Sep 10 16:50:38 ubuntu etcd[68097]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Sep 10 16:50:38 ubuntu etcd[68097]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Sep 10 16:50:38 ubuntu etcd[68097]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Sep 10 16:50:38 ubuntu etcd[68097]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Sep 10 16:50:38 ubuntu etcd[68097]: raft2024/09/10 16:50:38 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Sep 10 16:50:38 ubuntu etcd[68097]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Sep 10 16:50:38 ubuntu etcd[68097]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Sep 10 16:50:38 ubuntu etcd[68097]: listening for peers on [::]:2380
Sep 10 16:50:39 ubuntu etcd[68097]: raft2024/09/10 16:50:39 INFO: 43038365673ccf7b is starting a new election at term 1
Sep 10 16:50:39 ubuntu etcd[68097]: raft2024/09/10 16:50:39 INFO: 43038365673ccf7b became candidate at term 2
Sep 10 16:50:39 ubuntu etcd[68097]: raft2024/09/10 16:50:39 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Sep 10 16:50:39 ubuntu etcd[68097]: raft2024/09/10 16:50:39 INFO: 43038365673ccf7b became leader at term 2
Sep 10 16:50:39 ubuntu etcd[68097]: raft2024/09/10 16:50:39 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Sep 10 16:50:39 ubuntu etcd[68097]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Sep 10 16:50:39 ubuntu etcd[68097]: setting up the initial cluster version to 3.4
Sep 10 16:50:39 ubuntu etcd[68097]: set the initial cluster version to 3.4
Sep 10 16:50:39 ubuntu etcd[68097]: enabled capabilities for version 3.4
Sep 10 16:50:39 ubuntu etcd[68097]: ready to serve client requests
Sep 10 16:50:39 ubuntu etcd[68097]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Sep 10 16:50:39 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Sep 10 16:55:45 ubuntu etcd[68097]: start time = 2024-09-10 16:55:45.95473622 +0000 UTC m=+307.160308658, time spent = 632.657µs, remote = 10.201.5.82:51544, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 10 16:55:45 ubuntu etcd[68097]: start time = 2024-09-10 16:55:45.957281543 +0000 UTC m=+307.162853990, time spent = 319.355µs, remote = 10.201.5.82:51544, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 10 16:55:52 ubuntu etcd[68097]: start time = 2024-09-10 16:55:52.771883546 +0000 UTC m=+313.977455990, time spent = 253.836µs, remote = 10.201.5.82:51544, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 10 16:55:55 ubuntu etcd[68097]: start time = 2024-09-10 16:55:55.072059063 +0000 UTC m=+316.277631510, time spent = 239.302µs, remote = 10.201.5.82:51544, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
