Apr 29 08:10:52 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Apr 29 08:10:52 ubuntu etcd[79453]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Apr 29 08:10:52 ubuntu etcd[79453]:         A future release of golang/protobuf will delete this package,
Apr 29 08:10:52 ubuntu etcd[79453]:         which has long been excluded from the compatibility promise.
Apr 29 08:10:52 ubuntu etcd[79453]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 29 08:10:52 ubuntu etcd[79453]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 29 08:10:52 ubuntu etcd[79453]: Running http and grpc server on single port. This is not recommended for production.
Apr 29 08:10:52 ubuntu etcd[79453]: etcd Version: 3.4.27
Apr 29 08:10:52 ubuntu etcd[79453]: Git SHA: c92fb80f3
Apr 29 08:10:52 ubuntu etcd[79453]: Go Version: go1.19.10
Apr 29 08:10:52 ubuntu etcd[79453]: Go OS/Arch: linux/amd64
Apr 29 08:10:52 ubuntu etcd[79453]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Apr 29 08:10:52 ubuntu etcd[79453]: Running http and grpc server on single port. This is not recommended for production.
Apr 29 08:10:52 ubuntu etcd[79453]: name = ubuntu
Apr 29 08:10:52 ubuntu etcd[79453]: data dir = /opt/stack/data/etcd
Apr 29 08:10:52 ubuntu etcd[79453]: member dir = /opt/stack/data/etcd/member
Apr 29 08:10:52 ubuntu etcd[79453]: heartbeat = 100ms
Apr 29 08:10:52 ubuntu etcd[79453]: election = 1000ms
Apr 29 08:10:52 ubuntu etcd[79453]: snapshot count = 100000
Apr 29 08:10:52 ubuntu etcd[79453]: advertise client URLs = http://10.201.5.82:2379
Apr 29 08:10:52 ubuntu etcd[79453]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Apr 29 08:10:52 ubuntu etcd[79453]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Apr 29 08:10:52 ubuntu etcd[79453]: raft2025/04/29 08:10:52 INFO: 43038365673ccf7b switched to configuration voters=()
Apr 29 08:10:52 ubuntu etcd[79453]: raft2025/04/29 08:10:52 INFO: 43038365673ccf7b became follower at term 0
Apr 29 08:10:52 ubuntu etcd[79453]: raft2025/04/29 08:10:52 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Apr 29 08:10:52 ubuntu etcd[79453]: raft2025/04/29 08:10:52 INFO: 43038365673ccf7b became follower at term 1
Apr 29 08:10:52 ubuntu etcd[79453]: raft2025/04/29 08:10:52 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Apr 29 08:10:52 ubuntu etcd[79453]: simple token is not cryptographically signed
Apr 29 08:10:52 ubuntu etcd[79453]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Apr 29 08:10:52 ubuntu etcd[79453]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Apr 29 08:10:52 ubuntu etcd[79453]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Apr 29 08:10:52 ubuntu etcd[79453]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Apr 29 08:10:52 ubuntu etcd[79453]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Apr 29 08:10:52 ubuntu etcd[79453]: raft2025/04/29 08:10:52 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Apr 29 08:10:52 ubuntu etcd[79453]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Apr 29 08:10:52 ubuntu etcd[79453]: listening for peers on [::]:2380
Apr 29 08:10:53 ubuntu etcd[79453]: raft2025/04/29 08:10:53 INFO: 43038365673ccf7b is starting a new election at term 1
Apr 29 08:10:53 ubuntu etcd[79453]: raft2025/04/29 08:10:53 INFO: 43038365673ccf7b became candidate at term 2
Apr 29 08:10:53 ubuntu etcd[79453]: raft2025/04/29 08:10:53 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Apr 29 08:10:53 ubuntu etcd[79453]: raft2025/04/29 08:10:53 INFO: 43038365673ccf7b became leader at term 2
Apr 29 08:10:53 ubuntu etcd[79453]: raft2025/04/29 08:10:53 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Apr 29 08:10:53 ubuntu etcd[79453]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Apr 29 08:10:53 ubuntu etcd[79453]: setting up the initial cluster version to 3.4
Apr 29 08:10:53 ubuntu etcd[79453]: ready to serve client requests
Apr 29 08:10:53 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Apr 29 08:10:53 ubuntu etcd[79453]: set the initial cluster version to 3.4
Apr 29 08:10:53 ubuntu etcd[79453]: enabled capabilities for version 3.4
Apr 29 08:10:53 ubuntu etcd[79453]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Apr 29 08:15:34 ubuntu etcd[79453]: start time = 2025-04-29 08:15:34.201641704 +0000 UTC m=+281.892642265, time spent = 1.529442ms, remote = 10.201.5.82:42864, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 29 08:15:34 ubuntu etcd[79453]: start time = 2025-04-29 08:15:34.201764004 +0000 UTC m=+281.892764574, time spent = 2.50456ms, remote = 10.201.5.82:42864, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 29 08:15:41 ubuntu etcd[79453]: start time = 2025-04-29 08:15:41.047958091 +0000 UTC m=+288.738958651, time spent = 244.397µs, remote = 10.201.5.82:42864, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 29 08:15:43 ubuntu etcd[79453]: start time = 2025-04-29 08:15:43.200967808 +0000 UTC m=+290.891968385, time spent = 338.497µs, remote = 10.201.5.82:42864, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
