Mar 05 07:16:43 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 05 07:16:43 ubuntu etcd[79888]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 05 07:16:43 ubuntu etcd[79888]:         A future release of golang/protobuf will delete this package,
Mar 05 07:16:43 ubuntu etcd[79888]:         which has long been excluded from the compatibility promise.
Mar 05 07:16:43 ubuntu etcd[79888]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 05 07:16:43 ubuntu etcd[79888]: Running http and grpc server on single port. This is not recommended for production.
Mar 05 07:16:43 ubuntu etcd[79888]: etcd Version: 3.4.27
Mar 05 07:16:43 ubuntu etcd[79888]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 05 07:16:43 ubuntu etcd[79888]: Git SHA: c92fb80f3
Mar 05 07:16:43 ubuntu etcd[79888]: Go Version: go1.19.10
Mar 05 07:16:43 ubuntu etcd[79888]: Go OS/Arch: linux/amd64
Mar 05 07:16:43 ubuntu etcd[79888]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 05 07:16:43 ubuntu etcd[79888]: Running http and grpc server on single port. This is not recommended for production.
Mar 05 07:16:43 ubuntu etcd[79888]: name = ubuntu
Mar 05 07:16:43 ubuntu etcd[79888]: data dir = /opt/stack/data/etcd
Mar 05 07:16:43 ubuntu etcd[79888]: member dir = /opt/stack/data/etcd/member
Mar 05 07:16:43 ubuntu etcd[79888]: heartbeat = 100ms
Mar 05 07:16:43 ubuntu etcd[79888]: election = 1000ms
Mar 05 07:16:43 ubuntu etcd[79888]: snapshot count = 100000
Mar 05 07:16:43 ubuntu etcd[79888]: advertise client URLs = http://10.201.5.82:2379
Mar 05 07:16:43 ubuntu etcd[79888]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 05 07:16:43 ubuntu etcd[79888]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Mar 05 07:16:43 ubuntu etcd[79888]: raft2025/03/05 07:16:43 INFO: 43038365673ccf7b switched to configuration voters=()
Mar 05 07:16:43 ubuntu etcd[79888]: raft2025/03/05 07:16:43 INFO: 43038365673ccf7b became follower at term 0
Mar 05 07:16:43 ubuntu etcd[79888]: raft2025/03/05 07:16:43 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 05 07:16:43 ubuntu etcd[79888]: raft2025/03/05 07:16:43 INFO: 43038365673ccf7b became follower at term 1
Mar 05 07:16:43 ubuntu etcd[79888]: raft2025/03/05 07:16:43 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 05 07:16:43 ubuntu etcd[79888]: simple token is not cryptographically signed
Mar 05 07:16:43 ubuntu etcd[79888]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 05 07:16:43 ubuntu etcd[79888]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 05 07:16:43 ubuntu etcd[79888]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 05 07:16:43 ubuntu etcd[79888]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 05 07:16:43 ubuntu etcd[79888]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 05 07:16:43 ubuntu etcd[79888]: raft2025/03/05 07:16:43 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 05 07:16:43 ubuntu etcd[79888]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Mar 05 07:16:43 ubuntu etcd[79888]: listening for peers on [::]:2380
Mar 05 07:16:43 ubuntu etcd[79888]: raft2025/03/05 07:16:43 INFO: 43038365673ccf7b is starting a new election at term 1
Mar 05 07:16:43 ubuntu etcd[79888]: raft2025/03/05 07:16:43 INFO: 43038365673ccf7b became candidate at term 2
Mar 05 07:16:43 ubuntu etcd[79888]: raft2025/03/05 07:16:43 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Mar 05 07:16:43 ubuntu etcd[79888]: raft2025/03/05 07:16:43 INFO: 43038365673ccf7b became leader at term 2
Mar 05 07:16:43 ubuntu etcd[79888]: raft2025/03/05 07:16:43 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Mar 05 07:16:43 ubuntu etcd[79888]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Mar 05 07:16:43 ubuntu etcd[79888]: ready to serve client requests
Mar 05 07:16:43 ubuntu etcd[79888]: setting up the initial cluster version to 3.4
Mar 05 07:16:43 ubuntu etcd[79888]: set the initial cluster version to 3.4
Mar 05 07:16:43 ubuntu etcd[79888]: enabled capabilities for version 3.4
Mar 05 07:16:43 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 05 07:16:43 ubuntu etcd[79888]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Mar 05 07:21:28 ubuntu etcd[79888]: start time = 2025-03-05 07:21:28.772707888 +0000 UTC m=+285.388422815, time spent = 694.881µs, remote = 10.201.5.82:60166, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 05 07:21:28 ubuntu etcd[79888]: start time = 2025-03-05 07:21:28.784915764 +0000 UTC m=+285.400630697, time spent = 367.965µs, remote = 10.201.5.82:60166, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 05 07:21:35 ubuntu etcd[79888]: start time = 2025-03-05 07:21:35.701421721 +0000 UTC m=+292.317136639, time spent = 269.889µs, remote = 10.201.5.82:60166, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 05 07:21:37 ubuntu etcd[79888]: start time = 2025-03-05 07:21:37.849378682 +0000 UTC m=+294.465093618, time spent = 217.88µs, remote = 10.201.5.82:60166, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
