Jun 09 14:56:30 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 09 14:56:30 ubuntu etcd[79652]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 09 14:56:30 ubuntu etcd[79652]:         A future release of golang/protobuf will delete this package,
Jun 09 14:56:30 ubuntu etcd[79652]:         which has long been excluded from the compatibility promise.
Jun 09 14:56:30 ubuntu etcd[79652]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 09 14:56:30 ubuntu etcd[79652]: Running http and grpc server on single port. This is not recommended for production.
Jun 09 14:56:30 ubuntu etcd[79652]: etcd Version: 3.4.27
Jun 09 14:56:30 ubuntu etcd[79652]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 09 14:56:30 ubuntu etcd[79652]: Git SHA: c92fb80f3
Jun 09 14:56:30 ubuntu etcd[79652]: Go Version: go1.19.10
Jun 09 14:56:30 ubuntu etcd[79652]: Go OS/Arch: linux/amd64
Jun 09 14:56:30 ubuntu etcd[79652]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 09 14:56:30 ubuntu etcd[79652]: Running http and grpc server on single port. This is not recommended for production.
Jun 09 14:56:30 ubuntu etcd[79652]: name = ubuntu
Jun 09 14:56:30 ubuntu etcd[79652]: data dir = /opt/stack/data/etcd
Jun 09 14:56:30 ubuntu etcd[79652]: member dir = /opt/stack/data/etcd/member
Jun 09 14:56:30 ubuntu etcd[79652]: heartbeat = 100ms
Jun 09 14:56:30 ubuntu etcd[79652]: election = 1000ms
Jun 09 14:56:30 ubuntu etcd[79652]: snapshot count = 100000
Jun 09 14:56:30 ubuntu etcd[79652]: advertise client URLs = http://10.201.5.82:2379
Jun 09 14:56:30 ubuntu etcd[79652]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 09 14:56:30 ubuntu etcd[79652]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jun 09 14:56:30 ubuntu etcd[79652]: raft2025/06/09 14:56:30 INFO: 43038365673ccf7b switched to configuration voters=()
Jun 09 14:56:30 ubuntu etcd[79652]: raft2025/06/09 14:56:30 INFO: 43038365673ccf7b became follower at term 0
Jun 09 14:56:30 ubuntu etcd[79652]: raft2025/06/09 14:56:30 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 09 14:56:30 ubuntu etcd[79652]: raft2025/06/09 14:56:30 INFO: 43038365673ccf7b became follower at term 1
Jun 09 14:56:30 ubuntu etcd[79652]: raft2025/06/09 14:56:30 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 09 14:56:30 ubuntu etcd[79652]: simple token is not cryptographically signed
Jun 09 14:56:30 ubuntu etcd[79652]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 09 14:56:30 ubuntu etcd[79652]: raft2025/06/09 14:56:30 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 09 14:56:30 ubuntu etcd[79652]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jun 09 14:56:30 ubuntu etcd[79652]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 09 14:56:30 ubuntu etcd[79652]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 09 14:56:30 ubuntu etcd[79652]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 09 14:56:30 ubuntu etcd[79652]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 09 14:56:30 ubuntu etcd[79652]: listening for peers on [::]:2380
Jun 09 14:56:31 ubuntu etcd[79652]: raft2025/06/09 14:56:31 INFO: 43038365673ccf7b is starting a new election at term 1
Jun 09 14:56:31 ubuntu etcd[79652]: raft2025/06/09 14:56:31 INFO: 43038365673ccf7b became candidate at term 2
Jun 09 14:56:31 ubuntu etcd[79652]: raft2025/06/09 14:56:31 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jun 09 14:56:31 ubuntu etcd[79652]: raft2025/06/09 14:56:31 INFO: 43038365673ccf7b became leader at term 2
Jun 09 14:56:31 ubuntu etcd[79652]: raft2025/06/09 14:56:31 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jun 09 14:56:31 ubuntu etcd[79652]: setting up the initial cluster version to 3.4
Jun 09 14:56:31 ubuntu etcd[79652]: set the initial cluster version to 3.4
Jun 09 14:56:31 ubuntu etcd[79652]: enabled capabilities for version 3.4
Jun 09 14:56:31 ubuntu etcd[79652]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jun 09 14:56:31 ubuntu etcd[79652]: ready to serve client requests
Jun 09 14:56:31 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 09 14:56:31 ubuntu etcd[79652]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jun 09 15:01:04 ubuntu etcd[79652]: start time = 2025-06-09 15:01:04.47293653 +0000 UTC m=+274.048429299, time spent = 1.963215ms, remote = 10.201.5.82:41558, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 15:01:04 ubuntu etcd[79652]: start time = 2025-06-09 15:01:04.513704289 +0000 UTC m=+274.089197066, time spent = 353.388µs, remote = 10.201.5.82:41558, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 15:01:11 ubuntu etcd[79652]: start time = 2025-06-09 15:01:11.269409946 +0000 UTC m=+280.844902725, time spent = 194.499µs, remote = 10.201.5.82:41558, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 15:01:13 ubuntu etcd[79652]: start time = 2025-06-09 15:01:13.310648546 +0000 UTC m=+282.886141322, time spent = 371.951µs, remote = 10.201.5.82:41558, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
