Dec 29 12:51:00 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 29 12:51:00 ubuntu etcd[68748]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 29 12:51:00 ubuntu etcd[68748]:         A future release of golang/protobuf will delete this package,
Dec 29 12:51:00 ubuntu etcd[68748]:         which has long been excluded from the compatibility promise.
Dec 29 12:51:00 ubuntu etcd[68748]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 29 12:51:00 ubuntu etcd[68748]: Running http and grpc server on single port. This is not recommended for production.
Dec 29 12:51:00 ubuntu etcd[68748]: etcd Version: 3.4.27
Dec 29 12:51:00 ubuntu etcd[68748]: Git SHA: c92fb80f3
Dec 29 12:51:00 ubuntu etcd[68748]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 29 12:51:00 ubuntu etcd[68748]: Go Version: go1.19.10
Dec 29 12:51:00 ubuntu etcd[68748]: Go OS/Arch: linux/amd64
Dec 29 12:51:00 ubuntu etcd[68748]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 29 12:51:00 ubuntu etcd[68748]: Running http and grpc server on single port. This is not recommended for production.
Dec 29 12:51:00 ubuntu etcd[68748]: name = ubuntu
Dec 29 12:51:00 ubuntu etcd[68748]: data dir = /opt/stack/data/etcd
Dec 29 12:51:00 ubuntu etcd[68748]: member dir = /opt/stack/data/etcd/member
Dec 29 12:51:00 ubuntu etcd[68748]: heartbeat = 100ms
Dec 29 12:51:00 ubuntu etcd[68748]: election = 1000ms
Dec 29 12:51:00 ubuntu etcd[68748]: snapshot count = 100000
Dec 29 12:51:00 ubuntu etcd[68748]: advertise client URLs = http://10.201.5.82:2379
Dec 29 12:51:00 ubuntu etcd[68748]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Dec 29 12:51:00 ubuntu etcd[68748]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Dec 29 12:51:00 ubuntu etcd[68748]: raft2024/12/29 12:51:00 INFO: 43038365673ccf7b switched to configuration voters=()
Dec 29 12:51:00 ubuntu etcd[68748]: raft2024/12/29 12:51:00 INFO: 43038365673ccf7b became follower at term 0
Dec 29 12:51:00 ubuntu etcd[68748]: raft2024/12/29 12:51:00 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Dec 29 12:51:00 ubuntu etcd[68748]: raft2024/12/29 12:51:00 INFO: 43038365673ccf7b became follower at term 1
Dec 29 12:51:00 ubuntu etcd[68748]: raft2024/12/29 12:51:00 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Dec 29 12:51:00 ubuntu etcd[68748]: simple token is not cryptographically signed
Dec 29 12:51:00 ubuntu etcd[68748]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Dec 29 12:51:00 ubuntu etcd[68748]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Dec 29 12:51:00 ubuntu etcd[68748]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Dec 29 12:51:00 ubuntu etcd[68748]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Dec 29 12:51:00 ubuntu etcd[68748]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Dec 29 12:51:00 ubuntu etcd[68748]: raft2024/12/29 12:51:00 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Dec 29 12:51:00 ubuntu etcd[68748]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Dec 29 12:51:00 ubuntu etcd[68748]: listening for peers on [::]:2380
Dec 29 12:51:01 ubuntu etcd[68748]: raft2024/12/29 12:51:01 INFO: 43038365673ccf7b is starting a new election at term 1
Dec 29 12:51:01 ubuntu etcd[68748]: raft2024/12/29 12:51:01 INFO: 43038365673ccf7b became candidate at term 2
Dec 29 12:51:01 ubuntu etcd[68748]: raft2024/12/29 12:51:01 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Dec 29 12:51:01 ubuntu etcd[68748]: raft2024/12/29 12:51:01 INFO: 43038365673ccf7b became leader at term 2
Dec 29 12:51:01 ubuntu etcd[68748]: raft2024/12/29 12:51:01 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Dec 29 12:51:01 ubuntu etcd[68748]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Dec 29 12:51:01 ubuntu etcd[68748]: setting up the initial cluster version to 3.4
Dec 29 12:51:01 ubuntu etcd[68748]: set the initial cluster version to 3.4
Dec 29 12:51:01 ubuntu etcd[68748]: enabled capabilities for version 3.4
Dec 29 12:51:01 ubuntu etcd[68748]: ready to serve client requests
Dec 29 12:51:01 ubuntu etcd[68748]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Dec 29 12:51:01 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Dec 29 12:56:05 ubuntu etcd[68748]: start time = 2024-12-29 12:56:05.364862324 +0000 UTC m=+304.457403806, time spent = 1.853751ms, remote = 10.201.5.82:58802, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 29 12:56:05 ubuntu etcd[68748]: start time = 2024-12-29 12:56:05.398481982 +0000 UTC m=+304.491023475, time spent = 279.865µs, remote = 10.201.5.82:58802, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 29 12:56:12 ubuntu etcd[68748]: start time = 2024-12-29 12:56:12.191627605 +0000 UTC m=+311.284169103, time spent = 202.142µs, remote = 10.201.5.82:58802, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 29 12:56:14 ubuntu etcd[68748]: start time = 2024-12-29 12:56:14.271460958 +0000 UTC m=+313.364002452, time spent = 204.848µs, remote = 10.201.5.82:58802, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 29 12:59:17 ubuntu etcd[68748]: start time = 2024-12-29 12:59:17.111196173 +0000 UTC m=+496.203737768, time spent = 742.237µs, remote = 10.201.5.82:58802, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 29 12:59:17 ubuntu etcd[68748]: start time = 2024-12-29 12:59:17.114061255 +0000 UTC m=+496.206602862, time spent = 1.043435ms, remote = 10.201.5.82:58802, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 29 12:59:19 ubuntu etcd[68748]: start time = 2024-12-29 12:59:19.606364184 +0000 UTC m=+498.698905676, time spent = 220.773µs, remote = 10.201.5.82:58802, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 29 12:59:21 ubuntu etcd[68748]: start time = 2024-12-29 12:59:21.660008531 +0000 UTC m=+500.752550024, time spent = 193.376µs, remote = 10.201.5.82:58802, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 29 13:01:12 ubuntu etcd[68748]: start time = 2024-12-29 13:01:12.03686051 +0000 UTC m=+611.129402010, time spent = 472.852µs, remote = 10.201.5.82:58802, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 29 13:01:12 ubuntu etcd[68748]: start time = 2024-12-29 13:01:12.040724919 +0000 UTC m=+611.133266504, time spent = 997.337µs, remote = 10.201.5.82:58802, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-8b26a6a4-7ef7-44d2-be02-af71cef25a05" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-8b26a6a4-7ef7-44d2-be02-af71cef25a05" value_size:16 lease:5727334158180209689 >> failure:<request_range:<key:"/tooz/lockscinder-8b26a6a4-7ef7-44d2-be02-af71cef25a05" > >
Dec 29 13:01:14 ubuntu etcd[68748]: start time = 2024-12-29 13:01:14.666843436 +0000 UTC m=+613.759385032, time spent = 580.685µs, remote = 10.201.5.82:58802, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-8b26a6a4-7ef7-44d2-be02-af71cef25a05" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-8b26a6a4-7ef7-44d2-be02-af71cef25a05" > > failure:<>
Dec 29 13:01:14 ubuntu etcd[68748]: start time = 2024-12-29 13:01:14.908839249 +0000 UTC m=+614.001380745, time spent = 337.259µs, remote = 10.201.5.82:58802, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 29 13:01:14 ubuntu etcd[68748]: start time = 2024-12-29 13:01:14.911427403 +0000 UTC m=+614.003968949, time spent = 314.554µs, remote = 10.201.5.82:58802, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-8b26a6a4-7ef7-44d2-be02-af71cef25a05" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-8b26a6a4-7ef7-44d2-be02-af71cef25a05" value_size:16 lease:5727334158180209693 >> failure:<request_range:<key:"/tooz/lockscinder-8b26a6a4-7ef7-44d2-be02-af71cef25a05" > >
Dec 29 13:01:15 ubuntu etcd[68748]: start time = 2024-12-29 13:01:15.718482545 +0000 UTC m=+614.811024038, time spent = 346.613µs, remote = 10.201.5.82:58802, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-8b26a6a4-7ef7-44d2-be02-af71cef25a05" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-8b26a6a4-7ef7-44d2-be02-af71cef25a05" > > failure:<>
Dec 29 13:01:15 ubuntu etcd[68748]: start time = 2024-12-29 13:01:15.965349993 +0000 UTC m=+615.057891600, time spent = 635.225µs, remote = 10.201.5.82:58802, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 29 13:01:15 ubuntu etcd[68748]: start time = 2024-12-29 13:01:15.968146748 +0000 UTC m=+615.060688270, time spent = 355.988µs, remote = 10.201.5.82:58802, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-8b26a6a4-7ef7-44d2-be02-af71cef25a05" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-8b26a6a4-7ef7-44d2-be02-af71cef25a05" value_size:16 lease:5727334158180209697 >> failure:<request_range:<key:"/tooz/lockscinder-8b26a6a4-7ef7-44d2-be02-af71cef25a05" > >
Dec 29 13:01:16 ubuntu etcd[68748]: start time = 2024-12-29 13:01:16.776543102 +0000 UTC m=+615.869084599, time spent = 315.613µs, remote = 10.201.5.82:58802, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-8b26a6a4-7ef7-44d2-be02-af71cef25a05" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-8b26a6a4-7ef7-44d2-be02-af71cef25a05" > > failure:<>
