Feb 27 13:50:27 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Feb 27 13:50:27 ubuntu etcd[65524]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Feb 27 13:50:27 ubuntu etcd[65524]:         A future release of golang/protobuf will delete this package,
Feb 27 13:50:27 ubuntu etcd[65524]:         which has long been excluded from the compatibility promise.
Feb 27 13:50:27 ubuntu etcd[65524]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 27 13:50:27 ubuntu etcd[65524]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 27 13:50:27 ubuntu etcd[65524]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 27 13:50:27 ubuntu etcd[65524]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 27 13:50:27 ubuntu etcd[65524]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 27 13:50:27 ubuntu etcd[65524]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 27 13:50:27 ubuntu etcd[65524]: Running http and grpc server on single port. This is not recommended for production.
Feb 27 13:50:27 ubuntu etcd[65524]: etcd Version: 3.4.27
Feb 27 13:50:27 ubuntu etcd[65524]: Git SHA: c92fb80f3
Feb 27 13:50:27 ubuntu etcd[65524]: Go Version: go1.19.10
Feb 27 13:50:27 ubuntu etcd[65524]: Go OS/Arch: linux/amd64
Feb 27 13:50:27 ubuntu etcd[65524]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Feb 27 13:50:27 ubuntu etcd[65524]: Running http and grpc server on single port. This is not recommended for production.
Feb 27 13:50:27 ubuntu etcd[65524]: name = ubuntu
Feb 27 13:50:27 ubuntu etcd[65524]: data dir = /opt/stack/data/etcd
Feb 27 13:50:27 ubuntu etcd[65524]: member dir = /opt/stack/data/etcd/member
Feb 27 13:50:27 ubuntu etcd[65524]: heartbeat = 100ms
Feb 27 13:50:27 ubuntu etcd[65524]: election = 1000ms
Feb 27 13:50:27 ubuntu etcd[65524]: snapshot count = 100000
Feb 27 13:50:27 ubuntu etcd[65524]: advertise client URLs = http://10.201.5.82:2379
Feb 27 13:50:27 ubuntu etcd[65524]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Feb 27 13:50:28 ubuntu etcd[65524]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Feb 27 13:50:28 ubuntu etcd[65524]: raft2024/02/27 13:50:28 INFO: 43038365673ccf7b switched to configuration voters=()
Feb 27 13:50:28 ubuntu etcd[65524]: raft2024/02/27 13:50:28 INFO: 43038365673ccf7b became follower at term 0
Feb 27 13:50:28 ubuntu etcd[65524]: raft2024/02/27 13:50:28 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Feb 27 13:50:28 ubuntu etcd[65524]: raft2024/02/27 13:50:28 INFO: 43038365673ccf7b became follower at term 1
Feb 27 13:50:28 ubuntu etcd[65524]: raft2024/02/27 13:50:28 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Feb 27 13:50:28 ubuntu etcd[65524]: simple token is not cryptographically signed
Feb 27 13:50:28 ubuntu etcd[65524]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Feb 27 13:50:28 ubuntu etcd[65524]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Feb 27 13:50:28 ubuntu etcd[65524]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Feb 27 13:50:28 ubuntu etcd[65524]: raft2024/02/27 13:50:28 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Feb 27 13:50:28 ubuntu etcd[65524]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Feb 27 13:50:28 ubuntu etcd[65524]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Feb 27 13:50:28 ubuntu etcd[65524]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Feb 27 13:50:28 ubuntu etcd[65524]: listening for peers on [::]:2380
Feb 27 13:50:28 ubuntu etcd[65524]: raft2024/02/27 13:50:28 INFO: 43038365673ccf7b is starting a new election at term 1
Feb 27 13:50:28 ubuntu etcd[65524]: raft2024/02/27 13:50:28 INFO: 43038365673ccf7b became candidate at term 2
Feb 27 13:50:28 ubuntu etcd[65524]: raft2024/02/27 13:50:28 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Feb 27 13:50:28 ubuntu etcd[65524]: raft2024/02/27 13:50:28 INFO: 43038365673ccf7b became leader at term 2
Feb 27 13:50:28 ubuntu etcd[65524]: raft2024/02/27 13:50:28 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Feb 27 13:50:28 ubuntu etcd[65524]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Feb 27 13:50:28 ubuntu etcd[65524]: setting up the initial cluster version to 3.4
Feb 27 13:50:28 ubuntu etcd[65524]: ready to serve client requests
Feb 27 13:50:28 ubuntu etcd[65524]: INFO: 2024/02/27 13:50:28 parsed scheme: ""
Feb 27 13:50:28 ubuntu etcd[65524]: INFO: 2024/02/27 13:50:28 scheme "" not registered, fallback to default scheme
Feb 27 13:50:28 ubuntu etcd[65524]: INFO: 2024/02/27 13:50:28 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Feb 27 13:50:28 ubuntu etcd[65524]: INFO: 2024/02/27 13:50:28 ClientConn switching balancer to "pick_first"
Feb 27 13:50:28 ubuntu etcd[65524]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Feb 27 13:50:28 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Feb 27 13:50:28 ubuntu etcd[65524]: set the initial cluster version to 3.4
Feb 27 13:50:28 ubuntu etcd[65524]: enabled capabilities for version 3.4
Feb 27 13:57:08 ubuntu etcd[65524]: start time = 2024-02-27 13:57:08.036873849 +0000 UTC m=+400.074293072, time spent = 543.212µs, remote = 10.201.5.82:55336, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 27 13:57:08 ubuntu etcd[65524]: start time = 2024-02-27 13:57:08.036657713 +0000 UTC m=+400.074076925, time spent = 1.018723ms, remote = 10.201.5.82:55336, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 27 13:57:15 ubuntu etcd[65524]: start time = 2024-02-27 13:57:15.31419155 +0000 UTC m=+407.351610774, time spent = 241.829µs, remote = 10.201.5.82:55336, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 27 13:57:17 ubuntu etcd[65524]: start time = 2024-02-27 13:57:17.335380887 +0000 UTC m=+409.372800108, time spent = 195.419µs, remote = 10.201.5.82:55336, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 27 14:02:48 ubuntu etcd[65524]: start time = 2024-02-27 14:02:48.37204575 +0000 UTC m=+740.409464972, time spent = 357.146µs, remote = 10.201.5.82:55336, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 27 14:02:49 ubuntu etcd[65524]: start time = 2024-02-27 14:02:49.598049296 +0000 UTC m=+741.635468607, time spent = 352.445µs, remote = 10.201.5.82:55336, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 27 14:02:49 ubuntu etcd[65524]: start time = 2024-02-27 14:02:49.616695219 +0000 UTC m=+741.654114458, time spent = 171.985µs, remote = 10.201.5.82:55336, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 27 14:02:52 ubuntu etcd[65524]: start time = 2024-02-27 14:02:52.410471157 +0000 UTC m=+744.447890428, time spent = 376.484µs, remote = 10.201.5.82:55336, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
