Nov 19 05:19:51 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Nov 19 05:19:51 ubuntu etcd[67830]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Nov 19 05:19:51 ubuntu etcd[67830]:         A future release of golang/protobuf will delete this package,
Nov 19 05:19:51 ubuntu etcd[67830]:         which has long been excluded from the compatibility promise.
Nov 19 05:19:51 ubuntu etcd[67830]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Nov 19 05:19:51 ubuntu etcd[67830]: Running http and grpc server on single port. This is not recommended for production.
Nov 19 05:19:51 ubuntu etcd[67830]: etcd Version: 3.4.27
Nov 19 05:19:51 ubuntu etcd[67830]: Git SHA: c92fb80f3
Nov 19 05:19:51 ubuntu etcd[67830]: Go Version: go1.19.10
Nov 19 05:19:51 ubuntu etcd[67830]: Go OS/Arch: linux/amd64
Nov 19 05:19:51 ubuntu etcd[67830]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Nov 19 05:19:51 ubuntu etcd[67830]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Nov 19 05:19:51 ubuntu etcd[67830]: Running http and grpc server on single port. This is not recommended for production.
Nov 19 05:19:51 ubuntu etcd[67830]: name = ubuntu
Nov 19 05:19:51 ubuntu etcd[67830]: data dir = /opt/stack/data/etcd
Nov 19 05:19:51 ubuntu etcd[67830]: member dir = /opt/stack/data/etcd/member
Nov 19 05:19:51 ubuntu etcd[67830]: heartbeat = 100ms
Nov 19 05:19:51 ubuntu etcd[67830]: election = 1000ms
Nov 19 05:19:51 ubuntu etcd[67830]: snapshot count = 100000
Nov 19 05:19:51 ubuntu etcd[67830]: advertise client URLs = http://10.201.5.82:2379
Nov 19 05:19:51 ubuntu etcd[67830]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Nov 19 05:19:51 ubuntu etcd[67830]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Nov 19 05:19:51 ubuntu etcd[67830]: raft2024/11/19 05:19:51 INFO: 43038365673ccf7b switched to configuration voters=()
Nov 19 05:19:51 ubuntu etcd[67830]: raft2024/11/19 05:19:51 INFO: 43038365673ccf7b became follower at term 0
Nov 19 05:19:51 ubuntu etcd[67830]: raft2024/11/19 05:19:51 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Nov 19 05:19:51 ubuntu etcd[67830]: raft2024/11/19 05:19:51 INFO: 43038365673ccf7b became follower at term 1
Nov 19 05:19:51 ubuntu etcd[67830]: raft2024/11/19 05:19:51 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Nov 19 05:19:51 ubuntu etcd[67830]: simple token is not cryptographically signed
Nov 19 05:19:51 ubuntu etcd[67830]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Nov 19 05:19:51 ubuntu etcd[67830]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Nov 19 05:19:51 ubuntu etcd[67830]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Nov 19 05:19:51 ubuntu etcd[67830]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Nov 19 05:19:51 ubuntu etcd[67830]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Nov 19 05:19:51 ubuntu etcd[67830]: raft2024/11/19 05:19:51 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Nov 19 05:19:51 ubuntu etcd[67830]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Nov 19 05:19:51 ubuntu etcd[67830]: listening for peers on [::]:2380
Nov 19 05:19:51 ubuntu etcd[67830]: raft2024/11/19 05:19:51 INFO: 43038365673ccf7b is starting a new election at term 1
Nov 19 05:19:51 ubuntu etcd[67830]: raft2024/11/19 05:19:51 INFO: 43038365673ccf7b became candidate at term 2
Nov 19 05:19:51 ubuntu etcd[67830]: raft2024/11/19 05:19:51 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Nov 19 05:19:51 ubuntu etcd[67830]: raft2024/11/19 05:19:51 INFO: 43038365673ccf7b became leader at term 2
Nov 19 05:19:51 ubuntu etcd[67830]: raft2024/11/19 05:19:51 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Nov 19 05:19:51 ubuntu etcd[67830]: setting up the initial cluster version to 3.4
Nov 19 05:19:51 ubuntu etcd[67830]: set the initial cluster version to 3.4
Nov 19 05:19:51 ubuntu etcd[67830]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Nov 19 05:19:51 ubuntu etcd[67830]: enabled capabilities for version 3.4
Nov 19 05:19:51 ubuntu etcd[67830]: ready to serve client requests
Nov 19 05:19:51 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Nov 19 05:19:51 ubuntu etcd[67830]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Nov 19 05:24:50 ubuntu etcd[67830]: start time = 2024-11-19 05:24:50.321528773 +0000 UTC m=+298.734058046, time spent = 1.421609ms, remote = 10.201.5.82:44528, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 19 05:24:50 ubuntu etcd[67830]: start time = 2024-11-19 05:24:50.343196965 +0000 UTC m=+298.755726254, time spent = 274.153µs, remote = 10.201.5.82:44528, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 19 05:24:57 ubuntu etcd[67830]: start time = 2024-11-19 05:24:57.233769674 +0000 UTC m=+305.646298960, time spent = 203.423µs, remote = 10.201.5.82:44528, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 19 05:24:59 ubuntu etcd[67830]: start time = 2024-11-19 05:24:59.608734907 +0000 UTC m=+308.021264188, time spent = 231.93µs, remote = 10.201.5.82:44528, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
