Aug 19 02:31:11 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Aug 19 02:31:11 ubuntu etcd[69258]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Aug 19 02:31:11 ubuntu etcd[69258]:         A future release of golang/protobuf will delete this package,
Aug 19 02:31:11 ubuntu etcd[69258]:         which has long been excluded from the compatibility promise.
Aug 19 02:31:11 ubuntu etcd[69258]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Aug 19 02:31:11 ubuntu etcd[69258]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Aug 19 02:31:11 ubuntu etcd[69258]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 19 02:31:11 ubuntu etcd[69258]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Aug 19 02:31:11 ubuntu etcd[69258]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Aug 19 02:31:11 ubuntu etcd[69258]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 19 02:31:11 ubuntu etcd[69258]: Running http and grpc server on single port. This is not recommended for production.
Aug 19 02:31:11 ubuntu etcd[69258]: etcd Version: 3.4.27
Aug 19 02:31:11 ubuntu etcd[69258]: Git SHA: c92fb80f3
Aug 19 02:31:11 ubuntu etcd[69258]: Go Version: go1.19.10
Aug 19 02:31:11 ubuntu etcd[69258]: Go OS/Arch: linux/amd64
Aug 19 02:31:11 ubuntu etcd[69258]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Aug 19 02:31:11 ubuntu etcd[69258]: Running http and grpc server on single port. This is not recommended for production.
Aug 19 02:31:11 ubuntu etcd[69258]: name = ubuntu
Aug 19 02:31:11 ubuntu etcd[69258]: data dir = /opt/stack/data/etcd
Aug 19 02:31:11 ubuntu etcd[69258]: member dir = /opt/stack/data/etcd/member
Aug 19 02:31:11 ubuntu etcd[69258]: heartbeat = 100ms
Aug 19 02:31:11 ubuntu etcd[69258]: election = 1000ms
Aug 19 02:31:11 ubuntu etcd[69258]: snapshot count = 100000
Aug 19 02:31:11 ubuntu etcd[69258]: advertise client URLs = http://10.201.5.82:2379
Aug 19 02:31:11 ubuntu etcd[69258]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Aug 19 02:31:11 ubuntu etcd[69258]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Aug 19 02:31:11 ubuntu etcd[69258]: raft2024/08/19 02:31:11 INFO: 43038365673ccf7b switched to configuration voters=()
Aug 19 02:31:11 ubuntu etcd[69258]: raft2024/08/19 02:31:11 INFO: 43038365673ccf7b became follower at term 0
Aug 19 02:31:11 ubuntu etcd[69258]: raft2024/08/19 02:31:11 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Aug 19 02:31:11 ubuntu etcd[69258]: raft2024/08/19 02:31:11 INFO: 43038365673ccf7b became follower at term 1
Aug 19 02:31:11 ubuntu etcd[69258]: raft2024/08/19 02:31:11 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Aug 19 02:31:11 ubuntu etcd[69258]: simple token is not cryptographically signed
Aug 19 02:31:11 ubuntu etcd[69258]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Aug 19 02:31:11 ubuntu etcd[69258]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Aug 19 02:31:11 ubuntu etcd[69258]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Aug 19 02:31:11 ubuntu etcd[69258]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Aug 19 02:31:11 ubuntu etcd[69258]: raft2024/08/19 02:31:11 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Aug 19 02:31:11 ubuntu etcd[69258]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Aug 19 02:31:11 ubuntu etcd[69258]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Aug 19 02:31:11 ubuntu etcd[69258]: listening for peers on [::]:2380
Aug 19 02:31:11 ubuntu etcd[69258]: raft2024/08/19 02:31:11 INFO: 43038365673ccf7b is starting a new election at term 1
Aug 19 02:31:11 ubuntu etcd[69258]: raft2024/08/19 02:31:11 INFO: 43038365673ccf7b became candidate at term 2
Aug 19 02:31:11 ubuntu etcd[69258]: raft2024/08/19 02:31:11 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Aug 19 02:31:11 ubuntu etcd[69258]: raft2024/08/19 02:31:11 INFO: 43038365673ccf7b became leader at term 2
Aug 19 02:31:11 ubuntu etcd[69258]: raft2024/08/19 02:31:11 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Aug 19 02:31:11 ubuntu etcd[69258]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Aug 19 02:31:11 ubuntu etcd[69258]: setting up the initial cluster version to 3.4
Aug 19 02:31:11 ubuntu etcd[69258]: ready to serve client requests
Aug 19 02:31:11 ubuntu etcd[69258]: INFO: 2024/08/19 02:31:11 parsed scheme: ""
Aug 19 02:31:11 ubuntu etcd[69258]: INFO: 2024/08/19 02:31:11 scheme "" not registered, fallback to default scheme
Aug 19 02:31:11 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Aug 19 02:31:11 ubuntu etcd[69258]: INFO: 2024/08/19 02:31:11 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Aug 19 02:31:11 ubuntu etcd[69258]: INFO: 2024/08/19 02:31:11 ClientConn switching balancer to "pick_first"
Aug 19 02:31:11 ubuntu etcd[69258]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Aug 19 02:31:11 ubuntu etcd[69258]: set the initial cluster version to 3.4
Aug 19 02:31:11 ubuntu etcd[69258]: enabled capabilities for version 3.4
Aug 19 02:36:21 ubuntu etcd[69258]: start time = 2024-08-19 02:36:21.747301878 +0000 UTC m=+310.742022547, time spent = 1.40061ms, remote = 10.201.5.82:55228, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 19 02:36:21 ubuntu etcd[69258]: start time = 2024-08-19 02:36:21.768947785 +0000 UTC m=+310.763668463, time spent = 427.903µs, remote = 10.201.5.82:55228, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 19 02:36:28 ubuntu etcd[69258]: start time = 2024-08-19 02:36:28.804162809 +0000 UTC m=+317.798883486, time spent = 460.556µs, remote = 10.201.5.82:55228, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 19 02:36:30 ubuntu etcd[69258]: start time = 2024-08-19 02:36:30.906475114 +0000 UTC m=+319.901195792, time spent = 478.444µs, remote = 10.201.5.82:55228, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
