May 28 18:29:02 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 28 18:29:02 ubuntu etcd[79625]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 28 18:29:02 ubuntu etcd[79625]:         A future release of golang/protobuf will delete this package,
May 28 18:29:02 ubuntu etcd[79625]:         which has long been excluded from the compatibility promise.
May 28 18:29:02 ubuntu etcd[79625]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 28 18:29:02 ubuntu etcd[79625]: Running http and grpc server on single port. This is not recommended for production.
May 28 18:29:02 ubuntu etcd[79625]: etcd Version: 3.4.27
May 28 18:29:02 ubuntu etcd[79625]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 28 18:29:02 ubuntu etcd[79625]: Git SHA: c92fb80f3
May 28 18:29:02 ubuntu etcd[79625]: Go Version: go1.19.10
May 28 18:29:02 ubuntu etcd[79625]: Go OS/Arch: linux/amd64
May 28 18:29:02 ubuntu etcd[79625]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 28 18:29:02 ubuntu etcd[79625]: Running http and grpc server on single port. This is not recommended for production.
May 28 18:29:02 ubuntu etcd[79625]: name = ubuntu
May 28 18:29:02 ubuntu etcd[79625]: data dir = /opt/stack/data/etcd
May 28 18:29:02 ubuntu etcd[79625]: member dir = /opt/stack/data/etcd/member
May 28 18:29:02 ubuntu etcd[79625]: heartbeat = 100ms
May 28 18:29:02 ubuntu etcd[79625]: election = 1000ms
May 28 18:29:02 ubuntu etcd[79625]: snapshot count = 100000
May 28 18:29:02 ubuntu etcd[79625]: advertise client URLs = http://10.201.5.82:2379
May 28 18:29:02 ubuntu etcd[79625]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 28 18:29:02 ubuntu etcd[79625]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
May 28 18:29:02 ubuntu etcd[79625]: raft2025/05/28 18:29:02 INFO: 43038365673ccf7b switched to configuration voters=()
May 28 18:29:02 ubuntu etcd[79625]: raft2025/05/28 18:29:02 INFO: 43038365673ccf7b became follower at term 0
May 28 18:29:02 ubuntu etcd[79625]: raft2025/05/28 18:29:02 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 28 18:29:02 ubuntu etcd[79625]: raft2025/05/28 18:29:02 INFO: 43038365673ccf7b became follower at term 1
May 28 18:29:02 ubuntu etcd[79625]: raft2025/05/28 18:29:02 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
May 28 18:29:02 ubuntu etcd[79625]: simple token is not cryptographically signed
May 28 18:29:02 ubuntu etcd[79625]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 28 18:29:02 ubuntu etcd[79625]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
May 28 18:29:02 ubuntu etcd[79625]: raft2025/05/28 18:29:02 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
May 28 18:29:02 ubuntu etcd[79625]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
May 28 18:29:02 ubuntu etcd[79625]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 28 18:29:02 ubuntu etcd[79625]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 28 18:29:02 ubuntu etcd[79625]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 28 18:29:02 ubuntu etcd[79625]: listening for peers on [::]:2380
May 28 18:29:03 ubuntu etcd[79625]: raft2025/05/28 18:29:03 INFO: 43038365673ccf7b is starting a new election at term 1
May 28 18:29:03 ubuntu etcd[79625]: raft2025/05/28 18:29:03 INFO: 43038365673ccf7b became candidate at term 2
May 28 18:29:03 ubuntu etcd[79625]: raft2025/05/28 18:29:03 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
May 28 18:29:03 ubuntu etcd[79625]: raft2025/05/28 18:29:03 INFO: 43038365673ccf7b became leader at term 2
May 28 18:29:03 ubuntu etcd[79625]: raft2025/05/28 18:29:03 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
May 28 18:29:03 ubuntu etcd[79625]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
May 28 18:29:03 ubuntu etcd[79625]: setting up the initial cluster version to 3.4
May 28 18:29:03 ubuntu etcd[79625]: set the initial cluster version to 3.4
May 28 18:29:03 ubuntu etcd[79625]: enabled capabilities for version 3.4
May 28 18:29:03 ubuntu etcd[79625]: ready to serve client requests
May 28 18:29:03 ubuntu etcd[79625]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
May 28 18:29:03 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 28 18:33:44 ubuntu etcd[79625]: start time = 2025-05-28 18:33:44.449638516 +0000 UTC m=+281.909816497, time spent = 2.128767ms, remote = 10.201.5.82:41044, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 28 18:33:44 ubuntu etcd[79625]: start time = 2025-05-28 18:33:44.449641198 +0000 UTC m=+281.909819189, time spent = 2.295791ms, remote = 10.201.5.82:41044, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 28 18:33:51 ubuntu etcd[79625]: start time = 2025-05-28 18:33:51.492715507 +0000 UTC m=+288.952893502, time spent = 232.748µs, remote = 10.201.5.82:41044, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 28 18:33:53 ubuntu etcd[79625]: start time = 2025-05-28 18:33:53.491051679 +0000 UTC m=+290.951229672, time spent = 578.191µs, remote = 10.201.5.82:41044, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 28 18:37:29 ubuntu etcd[79625]: start time = 2025-05-28 18:37:29.092831566 +0000 UTC m=+506.553009547, time spent = 384.345µs, remote = 10.201.5.82:41044, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 28 18:37:29 ubuntu etcd[79625]: start time = 2025-05-28 18:37:29.099342426 +0000 UTC m=+506.559520422, time spent = 160.978µs, remote = 10.201.5.82:41044, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 28 18:37:31 ubuntu etcd[79625]: start time = 2025-05-28 18:37:31.083594109 +0000 UTC m=+508.543772104, time spent = 178.298µs, remote = 10.201.5.82:41044, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 28 18:37:33 ubuntu etcd[79625]: start time = 2025-05-28 18:37:33.424376701 +0000 UTC m=+510.884554694, time spent = 249.198µs, remote = 10.201.5.82:41044, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 28 18:39:19 ubuntu etcd[79625]: start time = 2025-05-28 18:39:19.726407478 +0000 UTC m=+617.186585575, time spent = 620.405µs, remote = 10.201.5.82:41044, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 28 18:39:19 ubuntu etcd[79625]: start time = 2025-05-28 18:39:19.737931338 +0000 UTC m=+617.198109318, time spent = 1.860318ms, remote = 10.201.5.82:41044, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-2271239f-0512-4cea-886c-08688921ecb9" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-2271239f-0512-4cea-886c-08688921ecb9" value_size:16 lease:5727337481132308249 >> failure:<request_range:<key:"/tooz/lockscinder-2271239f-0512-4cea-886c-08688921ecb9" > >
May 28 18:39:22 ubuntu etcd[79625]: start time = 2025-05-28 18:39:22.438012627 +0000 UTC m=+619.898190714, time spent = 654.806µs, remote = 10.201.5.82:41044, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-2271239f-0512-4cea-886c-08688921ecb9" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-2271239f-0512-4cea-886c-08688921ecb9" > > failure:<>
May 28 18:39:22 ubuntu etcd[79625]: start time = 2025-05-28 18:39:22.662524801 +0000 UTC m=+620.122702791, time spent = 207.593µs, remote = 10.201.5.82:41044, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 28 18:39:22 ubuntu etcd[79625]: start time = 2025-05-28 18:39:22.664711603 +0000 UTC m=+620.124889702, time spent = 433.102µs, remote = 10.201.5.82:41044, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-2271239f-0512-4cea-886c-08688921ecb9" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-2271239f-0512-4cea-886c-08688921ecb9" value_size:16 lease:5727337481132308253 >> failure:<request_range:<key:"/tooz/lockscinder-2271239f-0512-4cea-886c-08688921ecb9" > >
May 28 18:39:24 ubuntu etcd[79625]: start time = 2025-05-28 18:39:24.999524293 +0000 UTC m=+622.459702289, time spent = 334.364µs, remote = 10.201.5.82:41044, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-2271239f-0512-4cea-886c-08688921ecb9" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-2271239f-0512-4cea-886c-08688921ecb9" > > failure:<>
May 28 18:39:25 ubuntu etcd[79625]: start time = 2025-05-28 18:39:25.218101046 +0000 UTC m=+622.678279050, time spent = 746.459µs, remote = 10.201.5.82:41044, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 28 18:39:25 ubuntu etcd[79625]: start time = 2025-05-28 18:39:25.220913423 +0000 UTC m=+622.681091512, time spent = 424.651µs, remote = 10.201.5.82:41044, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-2271239f-0512-4cea-886c-08688921ecb9" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-2271239f-0512-4cea-886c-08688921ecb9" value_size:16 lease:5727337481132308257 >> failure:<request_range:<key:"/tooz/lockscinder-2271239f-0512-4cea-886c-08688921ecb9" > >
May 28 18:39:27 ubuntu etcd[79625]: start time = 2025-05-28 18:39:27.101885468 +0000 UTC m=+624.562063575, time spent = 700.808µs, remote = 10.201.5.82:41044, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-2271239f-0512-4cea-886c-08688921ecb9" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-2271239f-0512-4cea-886c-08688921ecb9" > > failure:<>
