Jul 01 13:37:37 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 01 13:37:37 ubuntu etcd[68741]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 01 13:37:37 ubuntu etcd[68741]:         A future release of golang/protobuf will delete this package,
Jul 01 13:37:37 ubuntu etcd[68741]:         which has long been excluded from the compatibility promise.
Jul 01 13:37:37 ubuntu etcd[68741]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 01 13:37:37 ubuntu etcd[68741]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 01 13:37:37 ubuntu etcd[68741]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 01 13:37:37 ubuntu etcd[68741]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 01 13:37:37 ubuntu etcd[68741]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 01 13:37:37 ubuntu etcd[68741]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 01 13:37:37 ubuntu etcd[68741]: Running http and grpc server on single port. This is not recommended for production.
Jul 01 13:37:37 ubuntu etcd[68741]: etcd Version: 3.4.27
Jul 01 13:37:37 ubuntu etcd[68741]: Git SHA: c92fb80f3
Jul 01 13:37:37 ubuntu etcd[68741]: Go Version: go1.19.10
Jul 01 13:37:37 ubuntu etcd[68741]: Go OS/Arch: linux/amd64
Jul 01 13:37:37 ubuntu etcd[68741]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 01 13:37:37 ubuntu etcd[68741]: Running http and grpc server on single port. This is not recommended for production.
Jul 01 13:37:37 ubuntu etcd[68741]: name = ubuntu
Jul 01 13:37:37 ubuntu etcd[68741]: data dir = /opt/stack/data/etcd
Jul 01 13:37:37 ubuntu etcd[68741]: member dir = /opt/stack/data/etcd/member
Jul 01 13:37:37 ubuntu etcd[68741]: heartbeat = 100ms
Jul 01 13:37:37 ubuntu etcd[68741]: election = 1000ms
Jul 01 13:37:37 ubuntu etcd[68741]: snapshot count = 100000
Jul 01 13:37:37 ubuntu etcd[68741]: advertise client URLs = http://10.201.5.82:2379
Jul 01 13:37:37 ubuntu etcd[68741]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 01 13:37:37 ubuntu etcd[68741]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jul 01 13:37:37 ubuntu etcd[68741]: raft2024/07/01 13:37:37 INFO: 43038365673ccf7b switched to configuration voters=()
Jul 01 13:37:37 ubuntu etcd[68741]: raft2024/07/01 13:37:37 INFO: 43038365673ccf7b became follower at term 0
Jul 01 13:37:37 ubuntu etcd[68741]: raft2024/07/01 13:37:37 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 01 13:37:37 ubuntu etcd[68741]: raft2024/07/01 13:37:37 INFO: 43038365673ccf7b became follower at term 1
Jul 01 13:37:37 ubuntu etcd[68741]: raft2024/07/01 13:37:37 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 01 13:37:37 ubuntu etcd[68741]: simple token is not cryptographically signed
Jul 01 13:37:37 ubuntu etcd[68741]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 01 13:37:37 ubuntu etcd[68741]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 01 13:37:37 ubuntu etcd[68741]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 01 13:37:37 ubuntu etcd[68741]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 01 13:37:37 ubuntu etcd[68741]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 01 13:37:37 ubuntu etcd[68741]: raft2024/07/01 13:37:37 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 01 13:37:37 ubuntu etcd[68741]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jul 01 13:37:37 ubuntu etcd[68741]: listening for peers on [::]:2380
Jul 01 13:37:38 ubuntu etcd[68741]: raft2024/07/01 13:37:38 INFO: 43038365673ccf7b is starting a new election at term 1
Jul 01 13:37:38 ubuntu etcd[68741]: raft2024/07/01 13:37:38 INFO: 43038365673ccf7b became candidate at term 2
Jul 01 13:37:38 ubuntu etcd[68741]: raft2024/07/01 13:37:38 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jul 01 13:37:38 ubuntu etcd[68741]: raft2024/07/01 13:37:38 INFO: 43038365673ccf7b became leader at term 2
Jul 01 13:37:38 ubuntu etcd[68741]: raft2024/07/01 13:37:38 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jul 01 13:37:38 ubuntu etcd[68741]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jul 01 13:37:38 ubuntu etcd[68741]: setting up the initial cluster version to 3.4
Jul 01 13:37:38 ubuntu etcd[68741]: set the initial cluster version to 3.4
Jul 01 13:37:38 ubuntu etcd[68741]: enabled capabilities for version 3.4
Jul 01 13:37:38 ubuntu etcd[68741]: INFO: 2024/07/01 13:37:38 parsed scheme: ""
Jul 01 13:37:38 ubuntu etcd[68741]: INFO: 2024/07/01 13:37:38 scheme "" not registered, fallback to default scheme
Jul 01 13:37:38 ubuntu etcd[68741]: ready to serve client requests
Jul 01 13:37:38 ubuntu etcd[68741]: INFO: 2024/07/01 13:37:38 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Jul 01 13:37:38 ubuntu etcd[68741]: INFO: 2024/07/01 13:37:38 ClientConn switching balancer to "pick_first"
Jul 01 13:37:38 ubuntu etcd[68741]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jul 01 13:37:38 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 01 13:43:09 ubuntu etcd[68741]: start time = 2024-07-01 13:43:09.455224744 +0000 UTC m=+331.880833668, time spent = 4.185681ms, remote = 10.201.5.82:59356, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 01 13:43:09 ubuntu etcd[68741]: start time = 2024-07-01 13:43:09.579423342 +0000 UTC m=+332.005032266, time spent = 198.139µs, remote = 10.201.5.82:59356, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 01 13:43:16 ubuntu etcd[68741]: start time = 2024-07-01 13:43:16.588680531 +0000 UTC m=+339.014289465, time spent = 224.322µs, remote = 10.201.5.82:59356, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 01 13:43:19 ubuntu etcd[68741]: start time = 2024-07-01 13:43:19.139081067 +0000 UTC m=+341.564689991, time spent = 319.679µs, remote = 10.201.5.82:59356, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 01 13:48:16 ubuntu etcd[68741]: start time = 2024-07-01 13:48:16.464750751 +0000 UTC m=+638.890359684, time spent = 415.198µs, remote = 10.201.5.82:59356, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 01 13:48:16 ubuntu etcd[68741]: start time = 2024-07-01 13:48:16.536198333 +0000 UTC m=+638.961807257, time spent = 188.636µs, remote = 10.201.5.82:59356, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 01 13:48:19 ubuntu etcd[68741]: start time = 2024-07-01 13:48:19.748583793 +0000 UTC m=+642.174192816, time spent = 330.384µs, remote = 10.201.5.82:59356, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 01 13:48:20 ubuntu etcd[68741]: start time = 2024-07-01 13:48:20.896200222 +0000 UTC m=+643.321809145, time spent = 240.92µs, remote = 10.201.5.82:59356, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
