Jun 26 21:42:09 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 26 21:42:09 ubuntu etcd[66957]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 26 21:42:09 ubuntu etcd[66957]:         A future release of golang/protobuf will delete this package,
Jun 26 21:42:09 ubuntu etcd[66957]:         which has long been excluded from the compatibility promise.
Jun 26 21:42:09 ubuntu etcd[66957]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jun 26 21:42:09 ubuntu etcd[66957]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jun 26 21:42:09 ubuntu etcd[66957]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 26 21:42:09 ubuntu etcd[66957]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jun 26 21:42:09 ubuntu etcd[66957]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jun 26 21:42:09 ubuntu etcd[66957]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 26 21:42:09 ubuntu etcd[66957]: Running http and grpc server on single port. This is not recommended for production.
Jun 26 21:42:09 ubuntu etcd[66957]: etcd Version: 3.4.27
Jun 26 21:42:09 ubuntu etcd[66957]: Git SHA: c92fb80f3
Jun 26 21:42:09 ubuntu etcd[66957]: Go Version: go1.19.10
Jun 26 21:42:09 ubuntu etcd[66957]: Go OS/Arch: linux/amd64
Jun 26 21:42:09 ubuntu etcd[66957]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 26 21:42:09 ubuntu etcd[66957]: Running http and grpc server on single port. This is not recommended for production.
Jun 26 21:42:09 ubuntu etcd[66957]: name = ubuntu
Jun 26 21:42:09 ubuntu etcd[66957]: data dir = /opt/stack/data/etcd
Jun 26 21:42:09 ubuntu etcd[66957]: member dir = /opt/stack/data/etcd/member
Jun 26 21:42:09 ubuntu etcd[66957]: heartbeat = 100ms
Jun 26 21:42:09 ubuntu etcd[66957]: election = 1000ms
Jun 26 21:42:09 ubuntu etcd[66957]: snapshot count = 100000
Jun 26 21:42:09 ubuntu etcd[66957]: advertise client URLs = http://10.201.5.82:2379
Jun 26 21:42:09 ubuntu etcd[66957]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 26 21:42:09 ubuntu etcd[66957]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jun 26 21:42:09 ubuntu etcd[66957]: raft2024/06/26 21:42:09 INFO: 43038365673ccf7b switched to configuration voters=()
Jun 26 21:42:09 ubuntu etcd[66957]: raft2024/06/26 21:42:09 INFO: 43038365673ccf7b became follower at term 0
Jun 26 21:42:09 ubuntu etcd[66957]: raft2024/06/26 21:42:09 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 26 21:42:09 ubuntu etcd[66957]: raft2024/06/26 21:42:09 INFO: 43038365673ccf7b became follower at term 1
Jun 26 21:42:09 ubuntu etcd[66957]: raft2024/06/26 21:42:09 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 26 21:42:09 ubuntu etcd[66957]: simple token is not cryptographically signed
Jun 26 21:42:09 ubuntu etcd[66957]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 26 21:42:09 ubuntu etcd[66957]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 26 21:42:09 ubuntu etcd[66957]: raft2024/06/26 21:42:09 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 26 21:42:09 ubuntu etcd[66957]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jun 26 21:42:09 ubuntu etcd[66957]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 26 21:42:09 ubuntu etcd[66957]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 26 21:42:09 ubuntu etcd[66957]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 26 21:42:09 ubuntu etcd[66957]: listening for peers on [::]:2380
Jun 26 21:42:09 ubuntu etcd[66957]: raft2024/06/26 21:42:09 INFO: 43038365673ccf7b is starting a new election at term 1
Jun 26 21:42:09 ubuntu etcd[66957]: raft2024/06/26 21:42:09 INFO: 43038365673ccf7b became candidate at term 2
Jun 26 21:42:09 ubuntu etcd[66957]: raft2024/06/26 21:42:09 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jun 26 21:42:09 ubuntu etcd[66957]: raft2024/06/26 21:42:09 INFO: 43038365673ccf7b became leader at term 2
Jun 26 21:42:09 ubuntu etcd[66957]: raft2024/06/26 21:42:09 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jun 26 21:42:09 ubuntu etcd[66957]: INFO: 2024/06/26 21:42:09 parsed scheme: ""
Jun 26 21:42:09 ubuntu etcd[66957]: INFO: 2024/06/26 21:42:09 scheme "" not registered, fallback to default scheme
Jun 26 21:42:09 ubuntu etcd[66957]: INFO: 2024/06/26 21:42:09 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Jun 26 21:42:09 ubuntu etcd[66957]: INFO: 2024/06/26 21:42:09 ClientConn switching balancer to "pick_first"
Jun 26 21:42:09 ubuntu etcd[66957]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jun 26 21:42:09 ubuntu etcd[66957]: setting up the initial cluster version to 3.4
Jun 26 21:42:09 ubuntu etcd[66957]: ready to serve client requests
Jun 26 21:42:09 ubuntu etcd[66957]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jun 26 21:42:09 ubuntu etcd[66957]: set the initial cluster version to 3.4
Jun 26 21:42:09 ubuntu etcd[66957]: enabled capabilities for version 3.4
Jun 26 21:42:09 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 26 21:47:53 ubuntu etcd[66957]: start time = 2024-06-26 21:47:53.458015993 +0000 UTC m=+344.203577261, time spent = 1.015104ms, remote = 10.201.5.82:47124, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 26 21:47:53 ubuntu etcd[66957]: start time = 2024-06-26 21:47:53.5312293 +0000 UTC m=+344.276790577, time spent = 234.391µs, remote = 10.201.5.82:47124, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 26 21:48:00 ubuntu etcd[66957]: start time = 2024-06-26 21:48:00.217782068 +0000 UTC m=+350.963343342, time spent = 154.696µs, remote = 10.201.5.82:47124, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 26 21:48:02 ubuntu etcd[66957]: start time = 2024-06-26 21:48:02.413239186 +0000 UTC m=+353.158800451, time spent = 1.222939ms, remote = 10.201.5.82:47124, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 26 21:51:24 ubuntu etcd[66957]: start time = 2024-06-26 21:51:24.355149549 +0000 UTC m=+555.100710823, time spent = 1.807913ms, remote = 10.201.5.82:47124, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 26 21:51:24 ubuntu etcd[66957]: start time = 2024-06-26 21:51:24.396434373 +0000 UTC m=+555.141995647, time spent = 215.39µs, remote = 10.201.5.82:47124, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 26 21:51:25 ubuntu etcd[66957]: start time = 2024-06-26 21:51:25.444229455 +0000 UTC m=+556.189790729, time spent = 205.551µs, remote = 10.201.5.82:47124, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 26 21:51:27 ubuntu etcd[66957]: start time = 2024-06-26 21:51:27.557387033 +0000 UTC m=+558.302948395, time spent = 594.062µs, remote = 10.201.5.82:47124, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
