Aug 07 12:31:27 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Aug 07 12:31:27 ubuntu etcd[79452]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Aug 07 12:31:27 ubuntu etcd[79452]:         A future release of golang/protobuf will delete this package,
Aug 07 12:31:27 ubuntu etcd[79452]:         which has long been excluded from the compatibility promise.
Aug 07 12:31:27 ubuntu etcd[79452]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 07 12:31:27 ubuntu etcd[79452]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 07 12:31:27 ubuntu etcd[79452]: Running http and grpc server on single port. This is not recommended for production.
Aug 07 12:31:27 ubuntu etcd[79452]: etcd Version: 3.4.27
Aug 07 12:31:27 ubuntu etcd[79452]: Git SHA: c92fb80f3
Aug 07 12:31:27 ubuntu etcd[79452]: Go Version: go1.19.10
Aug 07 12:31:27 ubuntu etcd[79452]: Go OS/Arch: linux/amd64
Aug 07 12:31:27 ubuntu etcd[79452]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Aug 07 12:31:27 ubuntu etcd[79452]: Running http and grpc server on single port. This is not recommended for production.
Aug 07 12:31:27 ubuntu etcd[79452]: name = ubuntu
Aug 07 12:31:27 ubuntu etcd[79452]: data dir = /opt/stack/data/etcd
Aug 07 12:31:27 ubuntu etcd[79452]: member dir = /opt/stack/data/etcd/member
Aug 07 12:31:27 ubuntu etcd[79452]: heartbeat = 100ms
Aug 07 12:31:27 ubuntu etcd[79452]: election = 1000ms
Aug 07 12:31:27 ubuntu etcd[79452]: snapshot count = 100000
Aug 07 12:31:27 ubuntu etcd[79452]: advertise client URLs = http://10.201.5.82:2379
Aug 07 12:31:27 ubuntu etcd[79452]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Aug 07 12:31:27 ubuntu etcd[79452]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Aug 07 12:31:27 ubuntu etcd[79452]: raft2025/08/07 12:31:27 INFO: 43038365673ccf7b switched to configuration voters=()
Aug 07 12:31:27 ubuntu etcd[79452]: raft2025/08/07 12:31:27 INFO: 43038365673ccf7b became follower at term 0
Aug 07 12:31:27 ubuntu etcd[79452]: raft2025/08/07 12:31:27 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Aug 07 12:31:27 ubuntu etcd[79452]: raft2025/08/07 12:31:27 INFO: 43038365673ccf7b became follower at term 1
Aug 07 12:31:27 ubuntu etcd[79452]: raft2025/08/07 12:31:27 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Aug 07 12:31:27 ubuntu etcd[79452]: simple token is not cryptographically signed
Aug 07 12:31:27 ubuntu etcd[79452]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Aug 07 12:31:27 ubuntu etcd[79452]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Aug 07 12:31:27 ubuntu etcd[79452]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Aug 07 12:31:27 ubuntu etcd[79452]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Aug 07 12:31:27 ubuntu etcd[79452]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Aug 07 12:31:27 ubuntu etcd[79452]: raft2025/08/07 12:31:27 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Aug 07 12:31:27 ubuntu etcd[79452]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Aug 07 12:31:27 ubuntu etcd[79452]: listening for peers on [::]:2380
Aug 07 12:31:28 ubuntu etcd[79452]: raft2025/08/07 12:31:28 INFO: 43038365673ccf7b is starting a new election at term 1
Aug 07 12:31:28 ubuntu etcd[79452]: raft2025/08/07 12:31:28 INFO: 43038365673ccf7b became candidate at term 2
Aug 07 12:31:28 ubuntu etcd[79452]: raft2025/08/07 12:31:28 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Aug 07 12:31:28 ubuntu etcd[79452]: raft2025/08/07 12:31:28 INFO: 43038365673ccf7b became leader at term 2
Aug 07 12:31:28 ubuntu etcd[79452]: raft2025/08/07 12:31:28 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Aug 07 12:31:28 ubuntu etcd[79452]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Aug 07 12:31:28 ubuntu etcd[79452]: setting up the initial cluster version to 3.4
Aug 07 12:31:28 ubuntu etcd[79452]: ready to serve client requests
Aug 07 12:31:28 ubuntu etcd[79452]: set the initial cluster version to 3.4
Aug 07 12:31:28 ubuntu etcd[79452]: enabled capabilities for version 3.4
Aug 07 12:31:28 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Aug 07 12:31:28 ubuntu etcd[79452]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Aug 07 12:36:13 ubuntu etcd[79452]: start time = 2025-08-07 12:36:13.652041315 +0000 UTC m=+285.862975327, time spent = 1.758877ms, remote = 10.201.5.82:40846, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 07 12:36:13 ubuntu etcd[79452]: start time = 2025-08-07 12:36:13.676861033 +0000 UTC m=+285.887795061, time spent = 229.776µs, remote = 10.201.5.82:40846, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 07 12:36:20 ubuntu etcd[79452]: start time = 2025-08-07 12:36:20.624866035 +0000 UTC m=+292.835800042, time spent = 222.717µs, remote = 10.201.5.82:40846, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 07 12:36:22 ubuntu etcd[79452]: start time = 2025-08-07 12:36:22.852072457 +0000 UTC m=+295.063006481, time spent = 242.128µs, remote = 10.201.5.82:40846, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 07 12:39:48 ubuntu etcd[79452]: start time = 2025-08-07 12:39:48.048752371 +0000 UTC m=+500.259686392, time spent = 301.712µs, remote = 10.201.5.82:40846, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 07 12:39:48 ubuntu etcd[79452]: start time = 2025-08-07 12:39:48.072121674 +0000 UTC m=+500.283055696, time spent = 119.15µs, remote = 10.201.5.82:40846, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 07 12:39:50 ubuntu etcd[79452]: start time = 2025-08-07 12:39:50.438289553 +0000 UTC m=+502.649223573, time spent = 239.493µs, remote = 10.201.5.82:40846, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 07 12:39:50 ubuntu etcd[79452]: start time = 2025-08-07 12:39:50.488839538 +0000 UTC m=+502.699773563, time spent = 166.491µs, remote = 10.201.5.82:40846, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 07 12:46:34 ubuntu etcd[79452]: start time = 2025-08-07 12:46:34.10392383 +0000 UTC m=+906.314857947, time spent = 789.902µs, remote = 10.201.5.82:40846, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 07 12:46:34 ubuntu etcd[79452]: start time = 2025-08-07 12:46:34.114435922 +0000 UTC m=+906.325369990, time spent = 4.641585ms, remote = 10.201.5.82:40846, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-e0a41a28-3daf-401a-b664-d154b3aa4d3a" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-e0a41a28-3daf-401a-b664-d154b3aa4d3a" value_size:16 lease:5727339046046295321 >> failure:<request_range:<key:"/tooz/lockscinder-e0a41a28-3daf-401a-b664-d154b3aa4d3a" > >
Aug 07 12:46:37 ubuntu etcd[79452]: start time = 2025-08-07 12:46:37.397325164 +0000 UTC m=+909.608259298, time spent = 740.271µs, remote = 10.201.5.82:40846, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-e0a41a28-3daf-401a-b664-d154b3aa4d3a" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-e0a41a28-3daf-401a-b664-d154b3aa4d3a" > > failure:<>
Aug 07 12:46:37 ubuntu etcd[79452]: start time = 2025-08-07 12:46:37.627056574 +0000 UTC m=+909.837990603, time spent = 305.499µs, remote = 10.201.5.82:40846, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 07 12:46:37 ubuntu etcd[79452]: start time = 2025-08-07 12:46:37.630385763 +0000 UTC m=+909.841319800, time spent = 247.902µs, remote = 10.201.5.82:40846, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-e0a41a28-3daf-401a-b664-d154b3aa4d3a" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-e0a41a28-3daf-401a-b664-d154b3aa4d3a" value_size:16 lease:5727339046046295325 >> failure:<request_range:<key:"/tooz/lockscinder-e0a41a28-3daf-401a-b664-d154b3aa4d3a" > >
Aug 07 12:46:39 ubuntu etcd[79452]: start time = 2025-08-07 12:46:39.55076106 +0000 UTC m=+911.761695080, time spent = 809.231µs, remote = 10.201.5.82:40846, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-e0a41a28-3daf-401a-b664-d154b3aa4d3a" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-e0a41a28-3daf-401a-b664-d154b3aa4d3a" > > failure:<>
Aug 07 12:46:39 ubuntu etcd[79452]: start time = 2025-08-07 12:46:39.774515168 +0000 UTC m=+911.985449179, time spent = 248.031µs, remote = 10.201.5.82:40846, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 07 12:46:39 ubuntu etcd[79452]: start time = 2025-08-07 12:46:39.776535318 +0000 UTC m=+911.987469343, time spent = 411.793µs, remote = 10.201.5.82:40846, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-e0a41a28-3daf-401a-b664-d154b3aa4d3a" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-e0a41a28-3daf-401a-b664-d154b3aa4d3a" value_size:16 lease:5727339046046295329 >> failure:<request_range:<key:"/tooz/lockscinder-e0a41a28-3daf-401a-b664-d154b3aa4d3a" > >
Aug 07 12:46:41 ubuntu etcd[79452]: start time = 2025-08-07 12:46:41.569113083 +0000 UTC m=+913.780047208, time spent = 558.356µs, remote = 10.201.5.82:40846, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-e0a41a28-3daf-401a-b664-d154b3aa4d3a" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-e0a41a28-3daf-401a-b664-d154b3aa4d3a" > > failure:<>
