Dec 27 08:50:21 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 27 08:50:21 ubuntu etcd[68048]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 27 08:50:21 ubuntu etcd[68048]:         A future release of golang/protobuf will delete this package,
Dec 27 08:50:21 ubuntu etcd[68048]:         which has long been excluded from the compatibility promise.
Dec 27 08:50:21 ubuntu etcd[68048]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 27 08:50:21 ubuntu etcd[68048]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 27 08:50:21 ubuntu etcd[68048]: Running http and grpc server on single port. This is not recommended for production.
Dec 27 08:50:21 ubuntu etcd[68048]: etcd Version: 3.4.27
Dec 27 08:50:21 ubuntu etcd[68048]: Git SHA: c92fb80f3
Dec 27 08:50:21 ubuntu etcd[68048]: Go Version: go1.19.10
Dec 27 08:50:21 ubuntu etcd[68048]: Go OS/Arch: linux/amd64
Dec 27 08:50:21 ubuntu etcd[68048]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 27 08:50:21 ubuntu etcd[68048]: Running http and grpc server on single port. This is not recommended for production.
Dec 27 08:50:21 ubuntu etcd[68048]: name = ubuntu
Dec 27 08:50:21 ubuntu etcd[68048]: data dir = /opt/stack/data/etcd
Dec 27 08:50:21 ubuntu etcd[68048]: member dir = /opt/stack/data/etcd/member
Dec 27 08:50:21 ubuntu etcd[68048]: heartbeat = 100ms
Dec 27 08:50:21 ubuntu etcd[68048]: election = 1000ms
Dec 27 08:50:21 ubuntu etcd[68048]: snapshot count = 100000
Dec 27 08:50:21 ubuntu etcd[68048]: advertise client URLs = http://10.201.5.82:2379
Dec 27 08:50:21 ubuntu etcd[68048]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Dec 27 08:50:21 ubuntu etcd[68048]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Dec 27 08:50:21 ubuntu etcd[68048]: raft2024/12/27 08:50:21 INFO: 43038365673ccf7b switched to configuration voters=()
Dec 27 08:50:21 ubuntu etcd[68048]: raft2024/12/27 08:50:21 INFO: 43038365673ccf7b became follower at term 0
Dec 27 08:50:21 ubuntu etcd[68048]: raft2024/12/27 08:50:21 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Dec 27 08:50:21 ubuntu etcd[68048]: raft2024/12/27 08:50:21 INFO: 43038365673ccf7b became follower at term 1
Dec 27 08:50:21 ubuntu etcd[68048]: raft2024/12/27 08:50:21 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Dec 27 08:50:21 ubuntu etcd[68048]: simple token is not cryptographically signed
Dec 27 08:50:21 ubuntu etcd[68048]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Dec 27 08:50:21 ubuntu etcd[68048]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Dec 27 08:50:21 ubuntu etcd[68048]: raft2024/12/27 08:50:21 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Dec 27 08:50:21 ubuntu etcd[68048]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Dec 27 08:50:21 ubuntu etcd[68048]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Dec 27 08:50:21 ubuntu etcd[68048]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Dec 27 08:50:21 ubuntu etcd[68048]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Dec 27 08:50:21 ubuntu etcd[68048]: listening for peers on [::]:2380
Dec 27 08:50:22 ubuntu etcd[68048]: raft2024/12/27 08:50:22 INFO: 43038365673ccf7b is starting a new election at term 1
Dec 27 08:50:22 ubuntu etcd[68048]: raft2024/12/27 08:50:22 INFO: 43038365673ccf7b became candidate at term 2
Dec 27 08:50:22 ubuntu etcd[68048]: raft2024/12/27 08:50:22 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Dec 27 08:50:22 ubuntu etcd[68048]: raft2024/12/27 08:50:22 INFO: 43038365673ccf7b became leader at term 2
Dec 27 08:50:22 ubuntu etcd[68048]: raft2024/12/27 08:50:22 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Dec 27 08:50:22 ubuntu etcd[68048]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Dec 27 08:50:22 ubuntu etcd[68048]: ready to serve client requests
Dec 27 08:50:22 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Dec 27 08:50:22 ubuntu etcd[68048]: setting up the initial cluster version to 3.4
Dec 27 08:50:22 ubuntu etcd[68048]: set the initial cluster version to 3.4
Dec 27 08:50:22 ubuntu etcd[68048]: enabled capabilities for version 3.4
Dec 27 08:50:22 ubuntu etcd[68048]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Dec 27 08:55:21 ubuntu etcd[68048]: start time = 2024-12-27 08:55:21.087316579 +0000 UTC m=+299.156267279, time spent = 578.018µs, remote = 10.201.5.82:53802, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 27 08:55:21 ubuntu etcd[68048]: start time = 2024-12-27 08:55:21.087111245 +0000 UTC m=+299.156061928, time spent = 1.502426ms, remote = 10.201.5.82:53802, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 27 08:55:28 ubuntu etcd[68048]: start time = 2024-12-27 08:55:28.355042248 +0000 UTC m=+306.423992941, time spent = 179.042µs, remote = 10.201.5.82:53802, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 27 08:55:30 ubuntu etcd[68048]: start time = 2024-12-27 08:55:30.360334484 +0000 UTC m=+308.429285181, time spent = 273.432µs, remote = 10.201.5.82:53802, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 27 08:58:22 ubuntu etcd[68048]: start time = 2024-12-27 08:58:22.939369784 +0000 UTC m=+481.008320467, time spent = 383.899µs, remote = 10.201.5.82:53802, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 27 08:58:22 ubuntu etcd[68048]: start time = 2024-12-27 08:58:22.947586588 +0000 UTC m=+481.016537284, time spent = 234.984µs, remote = 10.201.5.82:53802, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 27 08:58:23 ubuntu etcd[68048]: start time = 2024-12-27 08:58:23.411499109 +0000 UTC m=+481.480449805, time spent = 187.404µs, remote = 10.201.5.82:53802, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 27 08:58:25 ubuntu etcd[68048]: start time = 2024-12-27 08:58:25.514772376 +0000 UTC m=+483.583723072, time spent = 241.002µs, remote = 10.201.5.82:53802, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 27 09:00:15 ubuntu etcd[68048]: start time = 2024-12-27 09:00:15.368044334 +0000 UTC m=+593.436995034, time spent = 473.822µs, remote = 10.201.5.82:53802, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 27 09:00:15 ubuntu etcd[68048]: start time = 2024-12-27 09:00:15.371548261 +0000 UTC m=+593.440498955, time spent = 478.724µs, remote = 10.201.5.82:53802, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-fe24d167-9582-4ebe-a463-be74a28ff877" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-fe24d167-9582-4ebe-a463-be74a28ff877" value_size:16 lease:5727334110247033881 >> failure:<request_range:<key:"/tooz/lockscinder-fe24d167-9582-4ebe-a463-be74a28ff877" > >
Dec 27 09:00:18 ubuntu etcd[68048]: start time = 2024-12-27 09:00:18.057747836 +0000 UTC m=+596.126698616, time spent = 744.326µs, remote = 10.201.5.82:53802, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-fe24d167-9582-4ebe-a463-be74a28ff877" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-fe24d167-9582-4ebe-a463-be74a28ff877" > > failure:<>
Dec 27 09:00:18 ubuntu etcd[68048]: start time = 2024-12-27 09:00:18.313610378 +0000 UTC m=+596.382561077, time spent = 329.863µs, remote = 10.201.5.82:53802, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 27 09:00:18 ubuntu etcd[68048]: start time = 2024-12-27 09:00:18.315689589 +0000 UTC m=+596.384640289, time spent = 2.934658ms, remote = 10.201.5.82:53802, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-fe24d167-9582-4ebe-a463-be74a28ff877" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-fe24d167-9582-4ebe-a463-be74a28ff877" value_size:16 lease:5727334110247033885 >> failure:<request_range:<key:"/tooz/lockscinder-fe24d167-9582-4ebe-a463-be74a28ff877" > >
Dec 27 09:00:19 ubuntu etcd[68048]: start time = 2024-12-27 09:00:19.073563625 +0000 UTC m=+597.142514322, time spent = 284.855µs, remote = 10.201.5.82:53802, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-fe24d167-9582-4ebe-a463-be74a28ff877" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-fe24d167-9582-4ebe-a463-be74a28ff877" > > failure:<>
Dec 27 09:00:19 ubuntu etcd[68048]: start time = 2024-12-27 09:00:19.276738639 +0000 UTC m=+597.345689335, time spent = 234.435µs, remote = 10.201.5.82:53802, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 27 09:00:19 ubuntu etcd[68048]: start time = 2024-12-27 09:00:19.279076956 +0000 UTC m=+597.348027656, time spent = 161.29µs, remote = 10.201.5.82:53802, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-fe24d167-9582-4ebe-a463-be74a28ff877" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-fe24d167-9582-4ebe-a463-be74a28ff877" value_size:16 lease:5727334110247033889 >> failure:<request_range:<key:"/tooz/lockscinder-fe24d167-9582-4ebe-a463-be74a28ff877" > >
Dec 27 09:00:20 ubuntu etcd[68048]: start time = 2024-12-27 09:00:20.030152078 +0000 UTC m=+598.099102790, time spent = 278.058µs, remote = 10.201.5.82:53802, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-fe24d167-9582-4ebe-a463-be74a28ff877" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-fe24d167-9582-4ebe-a463-be74a28ff877" > > failure:<>
