Dec 30 07:26:24 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 30 07:26:24 ubuntu etcd[68258]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 30 07:26:24 ubuntu etcd[68258]:         A future release of golang/protobuf will delete this package,
Dec 30 07:26:24 ubuntu etcd[68258]:         which has long been excluded from the compatibility promise.
Dec 30 07:26:24 ubuntu etcd[68258]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 30 07:26:24 ubuntu etcd[68258]: Running http and grpc server on single port. This is not recommended for production.
Dec 30 07:26:24 ubuntu etcd[68258]: etcd Version: 3.4.27
Dec 30 07:26:24 ubuntu etcd[68258]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 30 07:26:24 ubuntu etcd[68258]: Git SHA: c92fb80f3
Dec 30 07:26:24 ubuntu etcd[68258]: Go Version: go1.19.10
Dec 30 07:26:24 ubuntu etcd[68258]: Go OS/Arch: linux/amd64
Dec 30 07:26:24 ubuntu etcd[68258]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 30 07:26:24 ubuntu etcd[68258]: Running http and grpc server on single port. This is not recommended for production.
Dec 30 07:26:24 ubuntu etcd[68258]: name = ubuntu
Dec 30 07:26:24 ubuntu etcd[68258]: data dir = /opt/stack/data/etcd
Dec 30 07:26:24 ubuntu etcd[68258]: member dir = /opt/stack/data/etcd/member
Dec 30 07:26:24 ubuntu etcd[68258]: heartbeat = 100ms
Dec 30 07:26:24 ubuntu etcd[68258]: election = 1000ms
Dec 30 07:26:24 ubuntu etcd[68258]: snapshot count = 100000
Dec 30 07:26:24 ubuntu etcd[68258]: advertise client URLs = http://10.201.5.82:2379
Dec 30 07:26:24 ubuntu etcd[68258]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Dec 30 07:26:24 ubuntu etcd[68258]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Dec 30 07:26:24 ubuntu etcd[68258]: raft2024/12/30 07:26:24 INFO: 43038365673ccf7b switched to configuration voters=()
Dec 30 07:26:24 ubuntu etcd[68258]: raft2024/12/30 07:26:24 INFO: 43038365673ccf7b became follower at term 0
Dec 30 07:26:24 ubuntu etcd[68258]: raft2024/12/30 07:26:24 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Dec 30 07:26:24 ubuntu etcd[68258]: raft2024/12/30 07:26:24 INFO: 43038365673ccf7b became follower at term 1
Dec 30 07:26:24 ubuntu etcd[68258]: raft2024/12/30 07:26:24 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Dec 30 07:26:24 ubuntu etcd[68258]: simple token is not cryptographically signed
Dec 30 07:26:24 ubuntu etcd[68258]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Dec 30 07:26:24 ubuntu etcd[68258]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Dec 30 07:26:24 ubuntu etcd[68258]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Dec 30 07:26:24 ubuntu etcd[68258]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Dec 30 07:26:24 ubuntu etcd[68258]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Dec 30 07:26:24 ubuntu etcd[68258]: raft2024/12/30 07:26:24 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Dec 30 07:26:24 ubuntu etcd[68258]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Dec 30 07:26:24 ubuntu etcd[68258]: listening for peers on [::]:2380
Dec 30 07:26:25 ubuntu etcd[68258]: raft2024/12/30 07:26:25 INFO: 43038365673ccf7b is starting a new election at term 1
Dec 30 07:26:25 ubuntu etcd[68258]: raft2024/12/30 07:26:25 INFO: 43038365673ccf7b became candidate at term 2
Dec 30 07:26:25 ubuntu etcd[68258]: raft2024/12/30 07:26:25 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Dec 30 07:26:25 ubuntu etcd[68258]: raft2024/12/30 07:26:25 INFO: 43038365673ccf7b became leader at term 2
Dec 30 07:26:25 ubuntu etcd[68258]: raft2024/12/30 07:26:25 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Dec 30 07:26:25 ubuntu etcd[68258]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Dec 30 07:26:25 ubuntu etcd[68258]: ready to serve client requests
Dec 30 07:26:25 ubuntu etcd[68258]: setting up the initial cluster version to 3.4
Dec 30 07:26:25 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Dec 30 07:26:25 ubuntu etcd[68258]: set the initial cluster version to 3.4
Dec 30 07:26:25 ubuntu etcd[68258]: enabled capabilities for version 3.4
Dec 30 07:26:25 ubuntu etcd[68258]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Dec 30 07:31:25 ubuntu etcd[68258]: start time = 2024-12-30 07:31:25.645754509 +0000 UTC m=+300.763820483, time spent = 1.470015ms, remote = 10.201.5.82:47794, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 30 07:31:25 ubuntu etcd[68258]: start time = 2024-12-30 07:31:25.653696469 +0000 UTC m=+300.771762447, time spent = 191.685µs, remote = 10.201.5.82:47794, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 30 07:31:32 ubuntu etcd[68258]: start time = 2024-12-30 07:31:32.48227723 +0000 UTC m=+307.600343207, time spent = 168.504µs, remote = 10.201.5.82:47794, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 30 07:31:34 ubuntu etcd[68258]: start time = 2024-12-30 07:31:34.439886827 +0000 UTC m=+309.557952808, time spent = 623.117µs, remote = 10.201.5.82:47794, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 30 07:34:36 ubuntu etcd[68258]: start time = 2024-12-30 07:34:36.106986433 +0000 UTC m=+491.225052415, time spent = 374.77µs, remote = 10.201.5.82:47794, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 30 07:34:36 ubuntu etcd[68258]: start time = 2024-12-30 07:34:36.113482861 +0000 UTC m=+491.231548838, time spent = 149.263µs, remote = 10.201.5.82:47794, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 30 07:34:39 ubuntu etcd[68258]: start time = 2024-12-30 07:34:39.391455728 +0000 UTC m=+494.509521774, time spent = 331.53µs, remote = 10.201.5.82:47794, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 30 07:34:40 ubuntu etcd[68258]: start time = 2024-12-30 07:34:40.686841207 +0000 UTC m=+495.804907184, time spent = 188.189µs, remote = 10.201.5.82:47794, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 30 07:36:29 ubuntu etcd[68258]: start time = 2024-12-30 07:36:29.688300788 +0000 UTC m=+604.806366765, time spent = 328.429µs, remote = 10.201.5.82:47794, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 30 07:36:29 ubuntu etcd[68258]: start time = 2024-12-30 07:36:29.690937307 +0000 UTC m=+604.809003278, time spent = 302.009µs, remote = 10.201.5.82:47794, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-5ff6507c-307c-412b-8e86-9a63d586dacd" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-5ff6507c-307c-412b-8e86-9a63d586dacd" value_size:16 lease:5727334175312749593 >> failure:<request_range:<key:"/tooz/lockscinder-5ff6507c-307c-412b-8e86-9a63d586dacd" > >
Dec 30 07:36:32 ubuntu etcd[68258]: start time = 2024-12-30 07:36:32.337579623 +0000 UTC m=+607.455645701, time spent = 597.682µs, remote = 10.201.5.82:47794, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-5ff6507c-307c-412b-8e86-9a63d586dacd" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-5ff6507c-307c-412b-8e86-9a63d586dacd" > > failure:<>
Dec 30 07:36:32 ubuntu etcd[68258]: start time = 2024-12-30 07:36:32.579065121 +0000 UTC m=+607.697131102, time spent = 285.738µs, remote = 10.201.5.82:47794, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 30 07:36:32 ubuntu etcd[68258]: start time = 2024-12-30 07:36:32.581386343 +0000 UTC m=+607.699452439, time spent = 614.068µs, remote = 10.201.5.82:47794, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-5ff6507c-307c-412b-8e86-9a63d586dacd" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-5ff6507c-307c-412b-8e86-9a63d586dacd" value_size:16 lease:5727334175312749597 >> failure:<request_range:<key:"/tooz/lockscinder-5ff6507c-307c-412b-8e86-9a63d586dacd" > >
Dec 30 07:36:33 ubuntu etcd[68258]: start time = 2024-12-30 07:36:33.376792988 +0000 UTC m=+608.494859067, time spent = 582.365µs, remote = 10.201.5.82:47794, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-5ff6507c-307c-412b-8e86-9a63d586dacd" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-5ff6507c-307c-412b-8e86-9a63d586dacd" > > failure:<>
Dec 30 07:36:33 ubuntu etcd[68258]: start time = 2024-12-30 07:36:33.623816926 +0000 UTC m=+608.741882996, time spent = 646.077µs, remote = 10.201.5.82:47794, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 30 07:36:33 ubuntu etcd[68258]: start time = 2024-12-30 07:36:33.626493171 +0000 UTC m=+608.744559259, time spent = 677.767µs, remote = 10.201.5.82:47794, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-5ff6507c-307c-412b-8e86-9a63d586dacd" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-5ff6507c-307c-412b-8e86-9a63d586dacd" value_size:16 lease:5727334175312749601 >> failure:<request_range:<key:"/tooz/lockscinder-5ff6507c-307c-412b-8e86-9a63d586dacd" > >
Dec 30 07:36:34 ubuntu etcd[68258]: start time = 2024-12-30 07:36:34.449612966 +0000 UTC m=+609.567679005, time spent = 433.636µs, remote = 10.201.5.82:47794, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-5ff6507c-307c-412b-8e86-9a63d586dacd" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-5ff6507c-307c-412b-8e86-9a63d586dacd" > > failure:<>
