Jul 04 09:58:54 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 04 09:58:54 ubuntu etcd[67109]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 04 09:58:54 ubuntu etcd[67109]:         A future release of golang/protobuf will delete this package,
Jul 04 09:58:54 ubuntu etcd[67109]:         which has long been excluded from the compatibility promise.
Jul 04 09:58:54 ubuntu etcd[67109]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 04 09:58:54 ubuntu etcd[67109]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 04 09:58:54 ubuntu etcd[67109]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 04 09:58:54 ubuntu etcd[67109]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 04 09:58:54 ubuntu etcd[67109]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 04 09:58:54 ubuntu etcd[67109]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 04 09:58:54 ubuntu etcd[67109]: Running http and grpc server on single port. This is not recommended for production.
Jul 04 09:58:54 ubuntu etcd[67109]: etcd Version: 3.4.27
Jul 04 09:58:54 ubuntu etcd[67109]: Git SHA: c92fb80f3
Jul 04 09:58:54 ubuntu etcd[67109]: Go Version: go1.19.10
Jul 04 09:58:54 ubuntu etcd[67109]: Go OS/Arch: linux/amd64
Jul 04 09:58:54 ubuntu etcd[67109]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 04 09:58:54 ubuntu etcd[67109]: Running http and grpc server on single port. This is not recommended for production.
Jul 04 09:58:54 ubuntu etcd[67109]: name = ubuntu
Jul 04 09:58:54 ubuntu etcd[67109]: data dir = /opt/stack/data/etcd
Jul 04 09:58:54 ubuntu etcd[67109]: member dir = /opt/stack/data/etcd/member
Jul 04 09:58:54 ubuntu etcd[67109]: heartbeat = 100ms
Jul 04 09:58:54 ubuntu etcd[67109]: election = 1000ms
Jul 04 09:58:54 ubuntu etcd[67109]: snapshot count = 100000
Jul 04 09:58:54 ubuntu etcd[67109]: advertise client URLs = http://10.201.5.82:2379
Jul 04 09:58:54 ubuntu etcd[67109]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 04 09:58:54 ubuntu etcd[67109]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jul 04 09:58:54 ubuntu etcd[67109]: raft2024/07/04 09:58:54 INFO: 43038365673ccf7b switched to configuration voters=()
Jul 04 09:58:54 ubuntu etcd[67109]: raft2024/07/04 09:58:54 INFO: 43038365673ccf7b became follower at term 0
Jul 04 09:58:54 ubuntu etcd[67109]: raft2024/07/04 09:58:54 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 04 09:58:54 ubuntu etcd[67109]: raft2024/07/04 09:58:54 INFO: 43038365673ccf7b became follower at term 1
Jul 04 09:58:54 ubuntu etcd[67109]: raft2024/07/04 09:58:54 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 04 09:58:54 ubuntu etcd[67109]: simple token is not cryptographically signed
Jul 04 09:58:54 ubuntu etcd[67109]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 04 09:58:54 ubuntu etcd[67109]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 04 09:58:54 ubuntu etcd[67109]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 04 09:58:54 ubuntu etcd[67109]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 04 09:58:54 ubuntu etcd[67109]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 04 09:58:54 ubuntu etcd[67109]: raft2024/07/04 09:58:54 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 04 09:58:54 ubuntu etcd[67109]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jul 04 09:58:54 ubuntu etcd[67109]: listening for peers on [::]:2380
Jul 04 09:58:54 ubuntu etcd[67109]: raft2024/07/04 09:58:54 INFO: 43038365673ccf7b is starting a new election at term 1
Jul 04 09:58:54 ubuntu etcd[67109]: raft2024/07/04 09:58:54 INFO: 43038365673ccf7b became candidate at term 2
Jul 04 09:58:54 ubuntu etcd[67109]: raft2024/07/04 09:58:54 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jul 04 09:58:54 ubuntu etcd[67109]: raft2024/07/04 09:58:54 INFO: 43038365673ccf7b became leader at term 2
Jul 04 09:58:54 ubuntu etcd[67109]: raft2024/07/04 09:58:54 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jul 04 09:58:54 ubuntu etcd[67109]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jul 04 09:58:54 ubuntu etcd[67109]: ready to serve client requests
Jul 04 09:58:54 ubuntu etcd[67109]: setting up the initial cluster version to 3.4
Jul 04 09:58:54 ubuntu etcd[67109]: INFO: 2024/07/04 09:58:54 parsed scheme: ""
Jul 04 09:58:54 ubuntu etcd[67109]: INFO: 2024/07/04 09:58:54 scheme "" not registered, fallback to default scheme
Jul 04 09:58:54 ubuntu etcd[67109]: set the initial cluster version to 3.4
Jul 04 09:58:54 ubuntu etcd[67109]: enabled capabilities for version 3.4
Jul 04 09:58:54 ubuntu etcd[67109]: INFO: 2024/07/04 09:58:54 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Jul 04 09:58:54 ubuntu etcd[67109]: INFO: 2024/07/04 09:58:54 ClientConn switching balancer to "pick_first"
Jul 04 09:58:54 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 04 09:58:54 ubuntu etcd[67109]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jul 04 10:04:31 ubuntu etcd[67109]: start time = 2024-07-04 10:04:31.954133983 +0000 UTC m=+337.547472133, time spent = 256.958µs, remote = 10.201.5.82:40972, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 04 10:04:31 ubuntu etcd[67109]: start time = 2024-07-04 10:04:31.952737006 +0000 UTC m=+337.546075158, time spent = 1.653811ms, remote = 10.201.5.82:40972, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 04 10:04:38 ubuntu etcd[67109]: start time = 2024-07-04 10:04:38.944545228 +0000 UTC m=+344.537883388, time spent = 199.935µs, remote = 10.201.5.82:40972, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 04 10:04:41 ubuntu etcd[67109]: start time = 2024-07-04 10:04:41.208212158 +0000 UTC m=+346.801550307, time spent = 427.343µs, remote = 10.201.5.82:40972, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 04 10:07:26 ubuntu etcd[67109]: start time = 2024-07-04 10:07:26.69426001 +0000 UTC m=+512.287598221, time spent = 1.143142ms, remote = 10.201.5.82:40972, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 04 10:07:26 ubuntu etcd[67109]: start time = 2024-07-04 10:07:26.785309698 +0000 UTC m=+512.378647858, time spent = 194.741µs, remote = 10.201.5.82:40972, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 04 10:07:30 ubuntu etcd[67109]: start time = 2024-07-04 10:07:30.052286516 +0000 UTC m=+515.645624666, time spent = 222.104µs, remote = 10.201.5.82:40972, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 04 10:07:31 ubuntu etcd[67109]: start time = 2024-07-04 10:07:31.145582835 +0000 UTC m=+516.738920986, time spent = 195.729µs, remote = 10.201.5.82:40972, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
