Jun 02 16:18:05 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 02 16:18:05 ubuntu etcd[79430]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 02 16:18:05 ubuntu etcd[79430]:         A future release of golang/protobuf will delete this package,
Jun 02 16:18:05 ubuntu etcd[79430]:         which has long been excluded from the compatibility promise.
Jun 02 16:18:05 ubuntu etcd[79430]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 02 16:18:05 ubuntu etcd[79430]: Running http and grpc server on single port. This is not recommended for production.
Jun 02 16:18:05 ubuntu etcd[79430]: etcd Version: 3.4.27
Jun 02 16:18:05 ubuntu etcd[79430]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 02 16:18:05 ubuntu etcd[79430]: Git SHA: c92fb80f3
Jun 02 16:18:05 ubuntu etcd[79430]: Go Version: go1.19.10
Jun 02 16:18:05 ubuntu etcd[79430]: Go OS/Arch: linux/amd64
Jun 02 16:18:05 ubuntu etcd[79430]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 02 16:18:05 ubuntu etcd[79430]: Running http and grpc server on single port. This is not recommended for production.
Jun 02 16:18:05 ubuntu etcd[79430]: name = ubuntu
Jun 02 16:18:05 ubuntu etcd[79430]: data dir = /opt/stack/data/etcd
Jun 02 16:18:05 ubuntu etcd[79430]: member dir = /opt/stack/data/etcd/member
Jun 02 16:18:05 ubuntu etcd[79430]: heartbeat = 100ms
Jun 02 16:18:05 ubuntu etcd[79430]: election = 1000ms
Jun 02 16:18:05 ubuntu etcd[79430]: snapshot count = 100000
Jun 02 16:18:05 ubuntu etcd[79430]: advertise client URLs = http://10.201.5.82:2379
Jun 02 16:18:05 ubuntu etcd[79430]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 02 16:18:05 ubuntu etcd[79430]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jun 02 16:18:05 ubuntu etcd[79430]: raft2025/06/02 16:18:05 INFO: 43038365673ccf7b switched to configuration voters=()
Jun 02 16:18:05 ubuntu etcd[79430]: raft2025/06/02 16:18:05 INFO: 43038365673ccf7b became follower at term 0
Jun 02 16:18:05 ubuntu etcd[79430]: raft2025/06/02 16:18:05 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 02 16:18:05 ubuntu etcd[79430]: raft2025/06/02 16:18:05 INFO: 43038365673ccf7b became follower at term 1
Jun 02 16:18:05 ubuntu etcd[79430]: raft2025/06/02 16:18:05 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 02 16:18:05 ubuntu etcd[79430]: simple token is not cryptographically signed
Jun 02 16:18:05 ubuntu etcd[79430]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 02 16:18:05 ubuntu etcd[79430]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 02 16:18:05 ubuntu etcd[79430]: raft2025/06/02 16:18:05 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 02 16:18:05 ubuntu etcd[79430]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jun 02 16:18:05 ubuntu etcd[79430]: listening for peers on [::]:2380
Jun 02 16:18:05 ubuntu etcd[79430]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 02 16:18:05 ubuntu etcd[79430]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 02 16:18:05 ubuntu etcd[79430]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 02 16:18:06 ubuntu etcd[79430]: raft2025/06/02 16:18:06 INFO: 43038365673ccf7b is starting a new election at term 1
Jun 02 16:18:06 ubuntu etcd[79430]: raft2025/06/02 16:18:06 INFO: 43038365673ccf7b became candidate at term 2
Jun 02 16:18:06 ubuntu etcd[79430]: raft2025/06/02 16:18:06 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jun 02 16:18:06 ubuntu etcd[79430]: raft2025/06/02 16:18:06 INFO: 43038365673ccf7b became leader at term 2
Jun 02 16:18:06 ubuntu etcd[79430]: raft2025/06/02 16:18:06 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jun 02 16:18:06 ubuntu etcd[79430]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jun 02 16:18:06 ubuntu etcd[79430]: ready to serve client requests
Jun 02 16:18:06 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 02 16:18:06 ubuntu etcd[79430]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jun 02 16:18:06 ubuntu etcd[79430]: setting up the initial cluster version to 3.4
Jun 02 16:18:06 ubuntu etcd[79430]: set the initial cluster version to 3.4
Jun 02 16:18:06 ubuntu etcd[79430]: enabled capabilities for version 3.4
Jun 02 16:22:53 ubuntu etcd[79430]: start time = 2025-06-02 16:22:53.441738256 +0000 UTC m=+287.679227407, time spent = 3.334483ms, remote = 10.201.5.82:33712, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 02 16:22:53 ubuntu etcd[79430]: start time = 2025-06-02 16:22:53.524452405 +0000 UTC m=+287.761941559, time spent = 336.304µs, remote = 10.201.5.82:33712, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 02 16:23:00 ubuntu etcd[79430]: start time = 2025-06-02 16:23:00.599613391 +0000 UTC m=+294.837102547, time spent = 222.475µs, remote = 10.201.5.82:33712, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 02 16:23:02 ubuntu etcd[79430]: start time = 2025-06-02 16:23:02.615128874 +0000 UTC m=+296.852618030, time spent = 359.292µs, remote = 10.201.5.82:33712, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 02 16:26:47 ubuntu etcd[79430]: start time = 2025-06-02 16:26:47.644779759 +0000 UTC m=+521.882268908, time spent = 325.478µs, remote = 10.201.5.82:33712, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 02 16:26:47 ubuntu etcd[79430]: start time = 2025-06-02 16:26:47.733435299 +0000 UTC m=+521.970924450, time spent = 167.474µs, remote = 10.201.5.82:33712, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 02 16:26:48 ubuntu etcd[79430]: start time = 2025-06-02 16:26:48.096934258 +0000 UTC m=+522.334423411, time spent = 2.480439ms, remote = 10.201.5.82:33712, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 02 16:26:50 ubuntu etcd[79430]: start time = 2025-06-02 16:26:50.065855357 +0000 UTC m=+524.303344504, time spent = 182.317µs, remote = 10.201.5.82:33712, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 02 16:28:37 ubuntu etcd[79430]: start time = 2025-06-02 16:28:37.463336139 +0000 UTC m=+631.700825394, time spent = 1.373596ms, remote = 10.201.5.82:33712, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 02 16:28:37 ubuntu etcd[79430]: start time = 2025-06-02 16:28:37.477475902 +0000 UTC m=+631.714965049, time spent = 2.618325ms, remote = 10.201.5.82:33712, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-fc703430-1e49-44c8-881b-21dcfddf3b52" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-fc703430-1e49-44c8-881b-21dcfddf3b52" value_size:16 lease:5727337589712979225 >> failure:<request_range:<key:"/tooz/lockscinder-fc703430-1e49-44c8-881b-21dcfddf3b52" > >
Jun 02 16:28:40 ubuntu etcd[79430]: start time = 2025-06-02 16:28:40.997751352 +0000 UTC m=+635.235240606, time spent = 661.777µs, remote = 10.201.5.82:33712, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-fc703430-1e49-44c8-881b-21dcfddf3b52" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-fc703430-1e49-44c8-881b-21dcfddf3b52" > > failure:<>
Jun 02 16:28:41 ubuntu etcd[79430]: start time = 2025-06-02 16:28:41.249742051 +0000 UTC m=+635.487231299, time spent = 511.512µs, remote = 10.201.5.82:33712, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 02 16:28:41 ubuntu etcd[79430]: start time = 2025-06-02 16:28:41.252228164 +0000 UTC m=+635.489717318, time spent = 269.809µs, remote = 10.201.5.82:33712, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-fc703430-1e49-44c8-881b-21dcfddf3b52" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-fc703430-1e49-44c8-881b-21dcfddf3b52" value_size:16 lease:5727337589712979229 >> failure:<request_range:<key:"/tooz/lockscinder-fc703430-1e49-44c8-881b-21dcfddf3b52" > >
Jun 02 16:28:43 ubuntu etcd[79430]: start time = 2025-06-02 16:28:43.138612974 +0000 UTC m=+637.376102239, time spent = 482.734µs, remote = 10.201.5.82:33712, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-fc703430-1e49-44c8-881b-21dcfddf3b52" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-fc703430-1e49-44c8-881b-21dcfddf3b52" > > failure:<>
Jun 02 16:28:43 ubuntu etcd[79430]: start time = 2025-06-02 16:28:43.385678888 +0000 UTC m=+637.623168041, time spent = 193.76µs, remote = 10.201.5.82:33712, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 02 16:28:43 ubuntu etcd[79430]: start time = 2025-06-02 16:28:43.387524933 +0000 UTC m=+637.625014087, time spent = 196.765µs, remote = 10.201.5.82:33712, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-fc703430-1e49-44c8-881b-21dcfddf3b52" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-fc703430-1e49-44c8-881b-21dcfddf3b52" value_size:16 lease:5727337589712979233 >> failure:<request_range:<key:"/tooz/lockscinder-fc703430-1e49-44c8-881b-21dcfddf3b52" > >
Jun 02 16:28:45 ubuntu etcd[79430]: start time = 2025-06-02 16:28:45.283437844 +0000 UTC m=+639.520927003, time spent = 1.030409ms, remote = 10.201.5.82:33712, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-fc703430-1e49-44c8-881b-21dcfddf3b52" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-fc703430-1e49-44c8-881b-21dcfddf3b52" > > failure:<>
