Jul 30 02:20:21 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 30 02:20:21 ubuntu etcd[79553]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 30 02:20:21 ubuntu etcd[79553]:         A future release of golang/protobuf will delete this package,
Jul 30 02:20:21 ubuntu etcd[79553]:         which has long been excluded from the compatibility promise.
Jul 30 02:20:21 ubuntu etcd[79553]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 30 02:20:21 ubuntu etcd[79553]: Running http and grpc server on single port. This is not recommended for production.
Jul 30 02:20:21 ubuntu etcd[79553]: etcd Version: 3.4.27
Jul 30 02:20:21 ubuntu etcd[79553]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 30 02:20:21 ubuntu etcd[79553]: Git SHA: c92fb80f3
Jul 30 02:20:21 ubuntu etcd[79553]: Go Version: go1.19.10
Jul 30 02:20:21 ubuntu etcd[79553]: Go OS/Arch: linux/amd64
Jul 30 02:20:21 ubuntu etcd[79553]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 30 02:20:21 ubuntu etcd[79553]: Running http and grpc server on single port. This is not recommended for production.
Jul 30 02:20:21 ubuntu etcd[79553]: name = ubuntu
Jul 30 02:20:21 ubuntu etcd[79553]: data dir = /opt/stack/data/etcd
Jul 30 02:20:21 ubuntu etcd[79553]: member dir = /opt/stack/data/etcd/member
Jul 30 02:20:21 ubuntu etcd[79553]: heartbeat = 100ms
Jul 30 02:20:21 ubuntu etcd[79553]: election = 1000ms
Jul 30 02:20:21 ubuntu etcd[79553]: snapshot count = 100000
Jul 30 02:20:21 ubuntu etcd[79553]: advertise client URLs = http://10.201.5.82:2379
Jul 30 02:20:21 ubuntu etcd[79553]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 30 02:20:21 ubuntu etcd[79553]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jul 30 02:20:21 ubuntu etcd[79553]: raft2025/07/30 02:20:21 INFO: 43038365673ccf7b switched to configuration voters=()
Jul 30 02:20:21 ubuntu etcd[79553]: raft2025/07/30 02:20:21 INFO: 43038365673ccf7b became follower at term 0
Jul 30 02:20:21 ubuntu etcd[79553]: raft2025/07/30 02:20:21 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 30 02:20:21 ubuntu etcd[79553]: raft2025/07/30 02:20:21 INFO: 43038365673ccf7b became follower at term 1
Jul 30 02:20:21 ubuntu etcd[79553]: raft2025/07/30 02:20:21 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 30 02:20:21 ubuntu etcd[79553]: simple token is not cryptographically signed
Jul 30 02:20:21 ubuntu etcd[79553]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 30 02:20:21 ubuntu etcd[79553]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 30 02:20:21 ubuntu etcd[79553]: raft2025/07/30 02:20:21 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 30 02:20:21 ubuntu etcd[79553]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 30 02:20:21 ubuntu etcd[79553]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jul 30 02:20:21 ubuntu etcd[79553]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 30 02:20:21 ubuntu etcd[79553]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 30 02:20:21 ubuntu etcd[79553]: listening for peers on [::]:2380
Jul 30 02:20:22 ubuntu etcd[79553]: raft2025/07/30 02:20:22 INFO: 43038365673ccf7b is starting a new election at term 1
Jul 30 02:20:22 ubuntu etcd[79553]: raft2025/07/30 02:20:22 INFO: 43038365673ccf7b became candidate at term 2
Jul 30 02:20:22 ubuntu etcd[79553]: raft2025/07/30 02:20:22 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jul 30 02:20:22 ubuntu etcd[79553]: raft2025/07/30 02:20:22 INFO: 43038365673ccf7b became leader at term 2
Jul 30 02:20:22 ubuntu etcd[79553]: raft2025/07/30 02:20:22 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jul 30 02:20:22 ubuntu etcd[79553]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jul 30 02:20:22 ubuntu etcd[79553]: setting up the initial cluster version to 3.4
Jul 30 02:20:22 ubuntu etcd[79553]: ready to serve client requests
Jul 30 02:20:22 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 30 02:20:23 ubuntu etcd[79553]: set the initial cluster version to 3.4
Jul 30 02:20:23 ubuntu etcd[79553]: enabled capabilities for version 3.4
Jul 30 02:20:23 ubuntu etcd[79553]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jul 30 02:25:07 ubuntu etcd[79553]: start time = 2025-07-30 02:25:07.445517166 +0000 UTC m=+285.514548623, time spent = 1.434767ms, remote = 10.201.5.82:53594, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 30 02:25:07 ubuntu etcd[79553]: start time = 2025-07-30 02:25:07.447426044 +0000 UTC m=+285.516457520, time spent = 512.362µs, remote = 10.201.5.82:53594, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 30 02:25:14 ubuntu etcd[79553]: start time = 2025-07-30 02:25:14.507649275 +0000 UTC m=+292.576680734, time spent = 261.669µs, remote = 10.201.5.82:53594, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 30 02:25:16 ubuntu etcd[79553]: start time = 2025-07-30 02:25:16.474080897 +0000 UTC m=+294.543112357, time spent = 457.814µs, remote = 10.201.5.82:53594, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 30 02:28:28 ubuntu etcd[79553]: start time = 2025-07-30 02:28:28.97626367 +0000 UTC m=+487.045295128, time spent = 381.353µs, remote = 10.201.5.82:53594, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 30 02:28:28 ubuntu etcd[79553]: start time = 2025-07-30 02:28:28.995883687 +0000 UTC m=+487.064915149, time spent = 189.347µs, remote = 10.201.5.82:53594, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 30 02:28:29 ubuntu etcd[79553]: start time = 2025-07-30 02:28:29.176660982 +0000 UTC m=+487.245692443, time spent = 197.454µs, remote = 10.201.5.82:53594, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 30 02:28:31 ubuntu etcd[79553]: start time = 2025-07-30 02:28:31.435544522 +0000 UTC m=+489.504575980, time spent = 195.968µs, remote = 10.201.5.82:53594, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 30 02:35:16 ubuntu etcd[79553]: start time = 2025-07-30 02:35:16.73833837 +0000 UTC m=+894.807369825, time spent = 421.728µs, remote = 10.201.5.82:53594, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 30 02:35:16 ubuntu etcd[79553]: start time = 2025-07-30 02:35:16.747789008 +0000 UTC m=+894.816820457, time spent = 5.010494ms, remote = 10.201.5.82:53594, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-3435e26b-de1f-4f28-99c4-edfaba9431f7" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-3435e26b-de1f-4f28-99c4-edfaba9431f7" value_size:16 lease:5727338859712637209 >> failure:<request_range:<key:"/tooz/lockscinder-3435e26b-de1f-4f28-99c4-edfaba9431f7" > >
Jul 30 02:35:19 ubuntu etcd[79553]: start time = 2025-07-30 02:35:19.612250088 +0000 UTC m=+897.681281646, time spent = 726.851µs, remote = 10.201.5.82:53594, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-3435e26b-de1f-4f28-99c4-edfaba9431f7" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-3435e26b-de1f-4f28-99c4-edfaba9431f7" > > failure:<>
Jul 30 02:35:19 ubuntu etcd[79553]: start time = 2025-07-30 02:35:19.837988179 +0000 UTC m=+897.907019641, time spent = 500.237µs, remote = 10.201.5.82:53594, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 30 02:35:19 ubuntu etcd[79553]: start time = 2025-07-30 02:35:19.841379529 +0000 UTC m=+897.910411044, time spent = 335.201µs, remote = 10.201.5.82:53594, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-3435e26b-de1f-4f28-99c4-edfaba9431f7" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-3435e26b-de1f-4f28-99c4-edfaba9431f7" value_size:16 lease:5727338859712637213 >> failure:<request_range:<key:"/tooz/lockscinder-3435e26b-de1f-4f28-99c4-edfaba9431f7" > >
Jul 30 02:35:22 ubuntu etcd[79553]: start time = 2025-07-30 02:35:22.348009937 +0000 UTC m=+900.417041398, time spent = 348.488µs, remote = 10.201.5.82:53594, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-3435e26b-de1f-4f28-99c4-edfaba9431f7" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-3435e26b-de1f-4f28-99c4-edfaba9431f7" > > failure:<>
Jul 30 02:35:22 ubuntu etcd[79553]: start time = 2025-07-30 02:35:22.586576447 +0000 UTC m=+900.655607947, time spent = 355.935µs, remote = 10.201.5.82:53594, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 30 02:35:22 ubuntu etcd[79553]: start time = 2025-07-30 02:35:22.588673065 +0000 UTC m=+900.657704569, time spent = 290.36µs, remote = 10.201.5.82:53594, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-3435e26b-de1f-4f28-99c4-edfaba9431f7" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-3435e26b-de1f-4f28-99c4-edfaba9431f7" value_size:16 lease:5727338859712637217 >> failure:<request_range:<key:"/tooz/lockscinder-3435e26b-de1f-4f28-99c4-edfaba9431f7" > >
Jul 30 02:35:24 ubuntu etcd[79553]: start time = 2025-07-30 02:35:24.554561154 +0000 UTC m=+902.623592618, time spent = 544.828µs, remote = 10.201.5.82:53594, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-3435e26b-de1f-4f28-99c4-edfaba9431f7" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-3435e26b-de1f-4f28-99c4-edfaba9431f7" > > failure:<>
