Mar 21 10:43:57 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 21 10:43:57 ubuntu etcd[79106]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 21 10:43:57 ubuntu etcd[79106]:         A future release of golang/protobuf will delete this package,
Mar 21 10:43:57 ubuntu etcd[79106]:         which has long been excluded from the compatibility promise.
Mar 21 10:43:57 ubuntu etcd[79106]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 21 10:43:57 ubuntu etcd[79106]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 21 10:43:57 ubuntu etcd[79106]: Running http and grpc server on single port. This is not recommended for production.
Mar 21 10:43:57 ubuntu etcd[79106]: etcd Version: 3.4.27
Mar 21 10:43:57 ubuntu etcd[79106]: Git SHA: c92fb80f3
Mar 21 10:43:57 ubuntu etcd[79106]: Go Version: go1.19.10
Mar 21 10:43:57 ubuntu etcd[79106]: Go OS/Arch: linux/amd64
Mar 21 10:43:57 ubuntu etcd[79106]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 21 10:43:57 ubuntu etcd[79106]: Running http and grpc server on single port. This is not recommended for production.
Mar 21 10:43:57 ubuntu etcd[79106]: name = ubuntu
Mar 21 10:43:57 ubuntu etcd[79106]: data dir = /opt/stack/data/etcd
Mar 21 10:43:57 ubuntu etcd[79106]: member dir = /opt/stack/data/etcd/member
Mar 21 10:43:57 ubuntu etcd[79106]: heartbeat = 100ms
Mar 21 10:43:57 ubuntu etcd[79106]: election = 1000ms
Mar 21 10:43:57 ubuntu etcd[79106]: snapshot count = 100000
Mar 21 10:43:57 ubuntu etcd[79106]: advertise client URLs = http://10.201.5.82:2379
Mar 21 10:43:57 ubuntu etcd[79106]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 21 10:43:57 ubuntu etcd[79106]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Mar 21 10:43:57 ubuntu etcd[79106]: raft2025/03/21 10:43:57 INFO: 43038365673ccf7b switched to configuration voters=()
Mar 21 10:43:57 ubuntu etcd[79106]: raft2025/03/21 10:43:57 INFO: 43038365673ccf7b became follower at term 0
Mar 21 10:43:57 ubuntu etcd[79106]: raft2025/03/21 10:43:57 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 21 10:43:57 ubuntu etcd[79106]: raft2025/03/21 10:43:57 INFO: 43038365673ccf7b became follower at term 1
Mar 21 10:43:57 ubuntu etcd[79106]: raft2025/03/21 10:43:57 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 21 10:43:57 ubuntu etcd[79106]: simple token is not cryptographically signed
Mar 21 10:43:57 ubuntu etcd[79106]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 21 10:43:57 ubuntu etcd[79106]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 21 10:43:57 ubuntu etcd[79106]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 21 10:43:57 ubuntu etcd[79106]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 21 10:43:57 ubuntu etcd[79106]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 21 10:43:57 ubuntu etcd[79106]: raft2025/03/21 10:43:57 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 21 10:43:57 ubuntu etcd[79106]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Mar 21 10:43:57 ubuntu etcd[79106]: listening for peers on [::]:2380
Mar 21 10:43:57 ubuntu etcd[79106]: raft2025/03/21 10:43:57 INFO: 43038365673ccf7b is starting a new election at term 1
Mar 21 10:43:57 ubuntu etcd[79106]: raft2025/03/21 10:43:57 INFO: 43038365673ccf7b became candidate at term 2
Mar 21 10:43:57 ubuntu etcd[79106]: raft2025/03/21 10:43:57 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Mar 21 10:43:57 ubuntu etcd[79106]: raft2025/03/21 10:43:57 INFO: 43038365673ccf7b became leader at term 2
Mar 21 10:43:57 ubuntu etcd[79106]: raft2025/03/21 10:43:57 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Mar 21 10:43:57 ubuntu etcd[79106]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Mar 21 10:43:57 ubuntu etcd[79106]: setting up the initial cluster version to 3.4
Mar 21 10:43:57 ubuntu etcd[79106]: ready to serve client requests
Mar 21 10:43:57 ubuntu etcd[79106]: set the initial cluster version to 3.4
Mar 21 10:43:57 ubuntu etcd[79106]: enabled capabilities for version 3.4
Mar 21 10:43:57 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 21 10:43:57 ubuntu etcd[79106]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Mar 21 10:48:37 ubuntu etcd[79106]: start time = 2025-03-21 10:48:37.029465603 +0000 UTC m=+279.997631768, time spent = 1.529238ms, remote = 10.201.5.82:36222, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 21 10:48:37 ubuntu etcd[79106]: start time = 2025-03-21 10:48:37.099873125 +0000 UTC m=+280.068039296, time spent = 214.879µs, remote = 10.201.5.82:36222, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 21 10:48:44 ubuntu etcd[79106]: start time = 2025-03-21 10:48:44.123017838 +0000 UTC m=+287.091184008, time spent = 207.701µs, remote = 10.201.5.82:36222, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 21 10:48:46 ubuntu etcd[79106]: start time = 2025-03-21 10:48:46.225364495 +0000 UTC m=+289.193530663, time spent = 592.902µs, remote = 10.201.5.82:36222, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
