May 27 14:00:22 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 27 14:00:22 ubuntu etcd[66922]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 27 14:00:22 ubuntu etcd[66922]:         A future release of golang/protobuf will delete this package,
May 27 14:00:22 ubuntu etcd[66922]:         which has long been excluded from the compatibility promise.
May 27 14:00:22 ubuntu etcd[66922]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
May 27 14:00:22 ubuntu etcd[66922]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
May 27 14:00:22 ubuntu etcd[66922]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 27 14:00:22 ubuntu etcd[66922]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
May 27 14:00:22 ubuntu etcd[66922]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
May 27 14:00:22 ubuntu etcd[66922]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 27 14:00:22 ubuntu etcd[66922]: Running http and grpc server on single port. This is not recommended for production.
May 27 14:00:22 ubuntu etcd[66922]: etcd Version: 3.4.27
May 27 14:00:22 ubuntu etcd[66922]: Git SHA: c92fb80f3
May 27 14:00:22 ubuntu etcd[66922]: Go Version: go1.19.10
May 27 14:00:22 ubuntu etcd[66922]: Go OS/Arch: linux/amd64
May 27 14:00:22 ubuntu etcd[66922]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 27 14:00:22 ubuntu etcd[66922]: Running http and grpc server on single port. This is not recommended for production.
May 27 14:00:22 ubuntu etcd[66922]: name = ubuntu
May 27 14:00:22 ubuntu etcd[66922]: data dir = /opt/stack/data/etcd
May 27 14:00:22 ubuntu etcd[66922]: member dir = /opt/stack/data/etcd/member
May 27 14:00:22 ubuntu etcd[66922]: heartbeat = 100ms
May 27 14:00:22 ubuntu etcd[66922]: election = 1000ms
May 27 14:00:22 ubuntu etcd[66922]: snapshot count = 100000
May 27 14:00:22 ubuntu etcd[66922]: advertise client URLs = http://10.201.5.82:2379
May 27 14:00:22 ubuntu etcd[66922]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 27 14:00:22 ubuntu etcd[66922]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
May 27 14:00:22 ubuntu etcd[66922]: raft2024/05/27 14:00:22 INFO: 43038365673ccf7b switched to configuration voters=()
May 27 14:00:22 ubuntu etcd[66922]: raft2024/05/27 14:00:22 INFO: 43038365673ccf7b became follower at term 0
May 27 14:00:22 ubuntu etcd[66922]: raft2024/05/27 14:00:22 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 27 14:00:22 ubuntu etcd[66922]: raft2024/05/27 14:00:22 INFO: 43038365673ccf7b became follower at term 1
May 27 14:00:22 ubuntu etcd[66922]: raft2024/05/27 14:00:22 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
May 27 14:00:22 ubuntu etcd[66922]: simple token is not cryptographically signed
May 27 14:00:22 ubuntu etcd[66922]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 27 14:00:22 ubuntu etcd[66922]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
May 27 14:00:22 ubuntu etcd[66922]: raft2024/05/27 14:00:22 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
May 27 14:00:22 ubuntu etcd[66922]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 27 14:00:22 ubuntu etcd[66922]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 27 14:00:22 ubuntu etcd[66922]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 27 14:00:22 ubuntu etcd[66922]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
May 27 14:00:22 ubuntu etcd[66922]: listening for peers on [::]:2380
May 27 14:00:23 ubuntu etcd[66922]: raft2024/05/27 14:00:23 INFO: 43038365673ccf7b is starting a new election at term 1
May 27 14:00:23 ubuntu etcd[66922]: raft2024/05/27 14:00:23 INFO: 43038365673ccf7b became candidate at term 2
May 27 14:00:23 ubuntu etcd[66922]: raft2024/05/27 14:00:23 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
May 27 14:00:23 ubuntu etcd[66922]: raft2024/05/27 14:00:23 INFO: 43038365673ccf7b became leader at term 2
May 27 14:00:23 ubuntu etcd[66922]: raft2024/05/27 14:00:23 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
May 27 14:00:23 ubuntu etcd[66922]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
May 27 14:00:23 ubuntu etcd[66922]: setting up the initial cluster version to 3.4
May 27 14:00:23 ubuntu etcd[66922]: ready to serve client requests
May 27 14:00:23 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 27 14:00:23 ubuntu etcd[66922]: INFO: 2024/05/27 14:00:23 parsed scheme: ""
May 27 14:00:23 ubuntu etcd[66922]: set the initial cluster version to 3.4
May 27 14:00:23 ubuntu etcd[66922]: enabled capabilities for version 3.4
May 27 14:00:23 ubuntu etcd[66922]: INFO: 2024/05/27 14:00:23 scheme "" not registered, fallback to default scheme
May 27 14:00:23 ubuntu etcd[66922]: INFO: 2024/05/27 14:00:23 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
May 27 14:00:23 ubuntu etcd[66922]: INFO: 2024/05/27 14:00:23 ClientConn switching balancer to "pick_first"
May 27 14:00:23 ubuntu etcd[66922]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
May 27 14:05:31 ubuntu etcd[66922]: start time = 2024-05-27 14:05:31.046723229 +0000 UTC m=+308.529438459, time spent = 2.651055ms, remote = 10.201.5.82:59232, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 27 14:05:31 ubuntu etcd[66922]: start time = 2024-05-27 14:05:31.114454374 +0000 UTC m=+308.597169587, time spent = 265.591µs, remote = 10.201.5.82:59232, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 27 14:05:38 ubuntu etcd[66922]: start time = 2024-05-27 14:05:38.185606888 +0000 UTC m=+315.668322102, time spent = 294.888µs, remote = 10.201.5.82:59232, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 27 14:05:39 ubuntu etcd[66922]: start time = 2024-05-27 14:05:39.978472115 +0000 UTC m=+317.461187318, time spent = 411.852µs, remote = 10.201.5.82:59232, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
