Nov 25 17:27:16 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Nov 25 17:27:16 ubuntu etcd[67770]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Nov 25 17:27:16 ubuntu etcd[67770]:         A future release of golang/protobuf will delete this package,
Nov 25 17:27:16 ubuntu etcd[67770]:         which has long been excluded from the compatibility promise.
Nov 25 17:27:16 ubuntu etcd[67770]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Nov 25 17:27:16 ubuntu etcd[67770]: Running http and grpc server on single port. This is not recommended for production.
Nov 25 17:27:16 ubuntu etcd[67770]: etcd Version: 3.4.27
Nov 25 17:27:16 ubuntu etcd[67770]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Nov 25 17:27:16 ubuntu etcd[67770]: Git SHA: c92fb80f3
Nov 25 17:27:16 ubuntu etcd[67770]: Go Version: go1.19.10
Nov 25 17:27:16 ubuntu etcd[67770]: Go OS/Arch: linux/amd64
Nov 25 17:27:16 ubuntu etcd[67770]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Nov 25 17:27:16 ubuntu etcd[67770]: Running http and grpc server on single port. This is not recommended for production.
Nov 25 17:27:16 ubuntu etcd[67770]: name = ubuntu
Nov 25 17:27:16 ubuntu etcd[67770]: data dir = /opt/stack/data/etcd
Nov 25 17:27:16 ubuntu etcd[67770]: member dir = /opt/stack/data/etcd/member
Nov 25 17:27:16 ubuntu etcd[67770]: heartbeat = 100ms
Nov 25 17:27:16 ubuntu etcd[67770]: election = 1000ms
Nov 25 17:27:16 ubuntu etcd[67770]: snapshot count = 100000
Nov 25 17:27:16 ubuntu etcd[67770]: advertise client URLs = http://10.201.5.82:2379
Nov 25 17:27:16 ubuntu etcd[67770]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Nov 25 17:27:16 ubuntu etcd[67770]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Nov 25 17:27:16 ubuntu etcd[67770]: raft2024/11/25 17:27:16 INFO: 43038365673ccf7b switched to configuration voters=()
Nov 25 17:27:16 ubuntu etcd[67770]: raft2024/11/25 17:27:16 INFO: 43038365673ccf7b became follower at term 0
Nov 25 17:27:16 ubuntu etcd[67770]: raft2024/11/25 17:27:16 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Nov 25 17:27:16 ubuntu etcd[67770]: raft2024/11/25 17:27:16 INFO: 43038365673ccf7b became follower at term 1
Nov 25 17:27:16 ubuntu etcd[67770]: raft2024/11/25 17:27:16 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Nov 25 17:27:16 ubuntu etcd[67770]: simple token is not cryptographically signed
Nov 25 17:27:16 ubuntu etcd[67770]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Nov 25 17:27:16 ubuntu etcd[67770]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Nov 25 17:27:16 ubuntu etcd[67770]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Nov 25 17:27:16 ubuntu etcd[67770]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Nov 25 17:27:16 ubuntu etcd[67770]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Nov 25 17:27:16 ubuntu etcd[67770]: listening for peers on [::]:2380
Nov 25 17:27:16 ubuntu etcd[67770]: raft2024/11/25 17:27:16 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Nov 25 17:27:16 ubuntu etcd[67770]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Nov 25 17:27:16 ubuntu etcd[67770]: raft2024/11/25 17:27:16 INFO: 43038365673ccf7b is starting a new election at term 1
Nov 25 17:27:16 ubuntu etcd[67770]: raft2024/11/25 17:27:16 INFO: 43038365673ccf7b became candidate at term 2
Nov 25 17:27:16 ubuntu etcd[67770]: raft2024/11/25 17:27:16 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Nov 25 17:27:16 ubuntu etcd[67770]: raft2024/11/25 17:27:16 INFO: 43038365673ccf7b became leader at term 2
Nov 25 17:27:16 ubuntu etcd[67770]: raft2024/11/25 17:27:16 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Nov 25 17:27:16 ubuntu etcd[67770]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Nov 25 17:27:16 ubuntu etcd[67770]: ready to serve client requests
Nov 25 17:27:16 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Nov 25 17:27:16 ubuntu etcd[67770]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Nov 25 17:27:16 ubuntu etcd[67770]: setting up the initial cluster version to 3.4
Nov 25 17:27:16 ubuntu etcd[67770]: set the initial cluster version to 3.4
Nov 25 17:27:16 ubuntu etcd[67770]: enabled capabilities for version 3.4
Nov 25 17:32:17 ubuntu etcd[67770]: start time = 2024-11-25 17:32:17.328415807 +0000 UTC m=+301.323463269, time spent = 1.486683ms, remote = 10.201.5.82:55092, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 25 17:32:17 ubuntu etcd[67770]: start time = 2024-11-25 17:32:17.36796601 +0000 UTC m=+301.363013472, time spent = 254.163µs, remote = 10.201.5.82:55092, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 25 17:32:24 ubuntu etcd[67770]: start time = 2024-11-25 17:32:24.050157576 +0000 UTC m=+308.045205043, time spent = 175.986µs, remote = 10.201.5.82:55092, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 25 17:32:26 ubuntu etcd[67770]: start time = 2024-11-25 17:32:26.056879681 +0000 UTC m=+310.051927146, time spent = 459.134µs, remote = 10.201.5.82:55092, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 25 17:35:37 ubuntu etcd[67770]: start time = 2024-11-25 17:35:37.166723129 +0000 UTC m=+501.161770581, time spent = 356.617µs, remote = 10.201.5.82:55092, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 25 17:35:37 ubuntu etcd[67770]: start time = 2024-11-25 17:35:37.172255857 +0000 UTC m=+501.167303320, time spent = 234.029µs, remote = 10.201.5.82:55092, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 25 17:35:38 ubuntu etcd[67770]: start time = 2024-11-25 17:35:38.595489285 +0000 UTC m=+502.590536753, time spent = 646.559µs, remote = 10.201.5.82:55092, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 25 17:35:41 ubuntu etcd[67770]: start time = 2024-11-25 17:35:41.022780231 +0000 UTC m=+505.017827702, time spent = 192.113µs, remote = 10.201.5.82:55092, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 25 17:37:39 ubuntu etcd[67770]: start time = 2024-11-25 17:37:39.976133267 +0000 UTC m=+623.971180734, time spent = 301.508µs, remote = 10.201.5.82:55092, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 25 17:37:39 ubuntu etcd[67770]: start time = 2024-11-25 17:37:39.981690169 +0000 UTC m=+623.976737620, time spent = 316.176µs, remote = 10.201.5.82:55092, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-53dd5a2d-0ea0-47ac-bc2d-b2a9129d9fb6" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-53dd5a2d-0ea0-47ac-bc2d-b2a9129d9fb6" value_size:16 lease:5727333410397839641 >> failure:<request_range:<key:"/tooz/lockscinder-53dd5a2d-0ea0-47ac-bc2d-b2a9129d9fb6" > >
Nov 25 17:37:42 ubuntu etcd[67770]: start time = 2024-11-25 17:37:42.734362865 +0000 UTC m=+626.729410431, time spent = 665.222µs, remote = 10.201.5.82:55092, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-53dd5a2d-0ea0-47ac-bc2d-b2a9129d9fb6" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-53dd5a2d-0ea0-47ac-bc2d-b2a9129d9fb6" > > failure:<>
Nov 25 17:37:43 ubuntu etcd[67770]: start time = 2024-11-25 17:37:43.093189683 +0000 UTC m=+627.088237149, time spent = 267.046µs, remote = 10.201.5.82:55092, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 25 17:37:43 ubuntu etcd[67770]: start time = 2024-11-25 17:37:43.095211924 +0000 UTC m=+627.090259477, time spent = 509.674µs, remote = 10.201.5.82:55092, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-53dd5a2d-0ea0-47ac-bc2d-b2a9129d9fb6" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-53dd5a2d-0ea0-47ac-bc2d-b2a9129d9fb6" value_size:16 lease:5727333410397839645 >> failure:<request_range:<key:"/tooz/lockscinder-53dd5a2d-0ea0-47ac-bc2d-b2a9129d9fb6" > >
Nov 25 17:37:43 ubuntu etcd[67770]: start time = 2024-11-25 17:37:43.918576319 +0000 UTC m=+627.913623807, time spent = 311.458µs, remote = 10.201.5.82:55092, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-53dd5a2d-0ea0-47ac-bc2d-b2a9129d9fb6" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-53dd5a2d-0ea0-47ac-bc2d-b2a9129d9fb6" > > failure:<>
Nov 25 17:37:44 ubuntu etcd[67770]: start time = 2024-11-25 17:37:44.137685952 +0000 UTC m=+628.132733420, time spent = 252.486µs, remote = 10.201.5.82:55092, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 25 17:37:44 ubuntu etcd[67770]: start time = 2024-11-25 17:37:44.142814569 +0000 UTC m=+628.137862135, time spent = 401.862µs, remote = 10.201.5.82:55092, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-53dd5a2d-0ea0-47ac-bc2d-b2a9129d9fb6" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-53dd5a2d-0ea0-47ac-bc2d-b2a9129d9fb6" value_size:16 lease:5727333410397839649 >> failure:<request_range:<key:"/tooz/lockscinder-53dd5a2d-0ea0-47ac-bc2d-b2a9129d9fb6" > >
Nov 25 17:37:44 ubuntu etcd[67770]: start time = 2024-11-25 17:37:44.971124397 +0000 UTC m=+628.966171879, time spent = 253.214µs, remote = 10.201.5.82:55092, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-53dd5a2d-0ea0-47ac-bc2d-b2a9129d9fb6" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-53dd5a2d-0ea0-47ac-bc2d-b2a9129d9fb6" > > failure:<>
