Jun 28 03:59:32 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 28 03:59:32 ubuntu etcd[67279]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 28 03:59:32 ubuntu etcd[67279]:         A future release of golang/protobuf will delete this package,
Jun 28 03:59:32 ubuntu etcd[67279]:         which has long been excluded from the compatibility promise.
Jun 28 03:59:32 ubuntu etcd[67279]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jun 28 03:59:32 ubuntu etcd[67279]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jun 28 03:59:32 ubuntu etcd[67279]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 28 03:59:32 ubuntu etcd[67279]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jun 28 03:59:32 ubuntu etcd[67279]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jun 28 03:59:32 ubuntu etcd[67279]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 28 03:59:32 ubuntu etcd[67279]: Running http and grpc server on single port. This is not recommended for production.
Jun 28 03:59:32 ubuntu etcd[67279]: etcd Version: 3.4.27
Jun 28 03:59:32 ubuntu etcd[67279]: Git SHA: c92fb80f3
Jun 28 03:59:32 ubuntu etcd[67279]: Go Version: go1.19.10
Jun 28 03:59:32 ubuntu etcd[67279]: Go OS/Arch: linux/amd64
Jun 28 03:59:32 ubuntu etcd[67279]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 28 03:59:32 ubuntu etcd[67279]: Running http and grpc server on single port. This is not recommended for production.
Jun 28 03:59:32 ubuntu etcd[67279]: name = ubuntu
Jun 28 03:59:32 ubuntu etcd[67279]: data dir = /opt/stack/data/etcd
Jun 28 03:59:32 ubuntu etcd[67279]: member dir = /opt/stack/data/etcd/member
Jun 28 03:59:32 ubuntu etcd[67279]: heartbeat = 100ms
Jun 28 03:59:32 ubuntu etcd[67279]: election = 1000ms
Jun 28 03:59:32 ubuntu etcd[67279]: snapshot count = 100000
Jun 28 03:59:32 ubuntu etcd[67279]: advertise client URLs = http://10.201.5.82:2379
Jun 28 03:59:32 ubuntu etcd[67279]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 28 03:59:32 ubuntu etcd[67279]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jun 28 03:59:32 ubuntu etcd[67279]: raft2024/06/28 03:59:32 INFO: 43038365673ccf7b switched to configuration voters=()
Jun 28 03:59:32 ubuntu etcd[67279]: raft2024/06/28 03:59:32 INFO: 43038365673ccf7b became follower at term 0
Jun 28 03:59:32 ubuntu etcd[67279]: raft2024/06/28 03:59:32 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 28 03:59:32 ubuntu etcd[67279]: raft2024/06/28 03:59:32 INFO: 43038365673ccf7b became follower at term 1
Jun 28 03:59:32 ubuntu etcd[67279]: raft2024/06/28 03:59:32 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 28 03:59:32 ubuntu etcd[67279]: simple token is not cryptographically signed
Jun 28 03:59:32 ubuntu etcd[67279]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 28 03:59:32 ubuntu etcd[67279]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 28 03:59:32 ubuntu etcd[67279]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 28 03:59:32 ubuntu etcd[67279]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 28 03:59:32 ubuntu etcd[67279]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 28 03:59:32 ubuntu etcd[67279]: raft2024/06/28 03:59:32 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 28 03:59:32 ubuntu etcd[67279]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jun 28 03:59:32 ubuntu etcd[67279]: listening for peers on [::]:2380
Jun 28 03:59:33 ubuntu etcd[67279]: raft2024/06/28 03:59:33 INFO: 43038365673ccf7b is starting a new election at term 1
Jun 28 03:59:33 ubuntu etcd[67279]: raft2024/06/28 03:59:33 INFO: 43038365673ccf7b became candidate at term 2
Jun 28 03:59:33 ubuntu etcd[67279]: raft2024/06/28 03:59:33 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jun 28 03:59:33 ubuntu etcd[67279]: raft2024/06/28 03:59:33 INFO: 43038365673ccf7b became leader at term 2
Jun 28 03:59:33 ubuntu etcd[67279]: raft2024/06/28 03:59:33 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jun 28 03:59:33 ubuntu etcd[67279]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jun 28 03:59:33 ubuntu etcd[67279]: setting up the initial cluster version to 3.4
Jun 28 03:59:33 ubuntu etcd[67279]: set the initial cluster version to 3.4
Jun 28 03:59:33 ubuntu etcd[67279]: enabled capabilities for version 3.4
Jun 28 03:59:33 ubuntu etcd[67279]: ready to serve client requests
Jun 28 03:59:33 ubuntu etcd[67279]: INFO: 2024/06/28 03:59:33 parsed scheme: ""
Jun 28 03:59:33 ubuntu etcd[67279]: INFO: 2024/06/28 03:59:33 scheme "" not registered, fallback to default scheme
Jun 28 03:59:33 ubuntu etcd[67279]: INFO: 2024/06/28 03:59:33 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Jun 28 03:59:33 ubuntu etcd[67279]: INFO: 2024/06/28 03:59:33 ClientConn switching balancer to "pick_first"
Jun 28 03:59:33 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 28 03:59:33 ubuntu etcd[67279]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jun 28 04:05:18 ubuntu etcd[67279]: start time = 2024-06-28 04:05:18.499137442 +0000 UTC m=+345.989083455, time spent = 1.829155ms, remote = 10.201.5.82:55560, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 28 04:05:18 ubuntu etcd[67279]: start time = 2024-06-28 04:05:18.51042074 +0000 UTC m=+346.000366764, time spent = 222.487µs, remote = 10.201.5.82:55560, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 28 04:05:25 ubuntu etcd[67279]: start time = 2024-06-28 04:05:25.344623376 +0000 UTC m=+352.834569391, time spent = 384.619µs, remote = 10.201.5.82:55560, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 28 04:05:27 ubuntu etcd[67279]: start time = 2024-06-28 04:05:27.621997994 +0000 UTC m=+355.111944017, time spent = 597.235µs, remote = 10.201.5.82:55560, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 28 04:08:24 ubuntu etcd[67279]: start time = 2024-06-28 04:08:24.676829779 +0000 UTC m=+532.166775793, time spent = 396.139µs, remote = 10.201.5.82:55560, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 28 04:08:24 ubuntu etcd[67279]: start time = 2024-06-28 04:08:24.712646106 +0000 UTC m=+532.202592117, time spent = 152.183µs, remote = 10.201.5.82:55560, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 28 04:08:27 ubuntu etcd[67279]: start time = 2024-06-28 04:08:27.351025594 +0000 UTC m=+534.840971672, time spent = 362.012µs, remote = 10.201.5.82:55560, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 28 04:08:29 ubuntu etcd[67279]: start time = 2024-06-28 04:08:29.046914173 +0000 UTC m=+536.536860198, time spent = 241.082µs, remote = 10.201.5.82:55560, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
