Jul 02 06:16:46 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 02 06:16:46 ubuntu etcd[66712]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 02 06:16:46 ubuntu etcd[66712]:         A future release of golang/protobuf will delete this package,
Jul 02 06:16:46 ubuntu etcd[66712]:         which has long been excluded from the compatibility promise.
Jul 02 06:16:46 ubuntu etcd[66712]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 02 06:16:46 ubuntu etcd[66712]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 02 06:16:46 ubuntu etcd[66712]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 02 06:16:46 ubuntu etcd[66712]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 02 06:16:46 ubuntu etcd[66712]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 02 06:16:46 ubuntu etcd[66712]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 02 06:16:46 ubuntu etcd[66712]: Running http and grpc server on single port. This is not recommended for production.
Jul 02 06:16:46 ubuntu etcd[66712]: etcd Version: 3.4.27
Jul 02 06:16:46 ubuntu etcd[66712]: Git SHA: c92fb80f3
Jul 02 06:16:46 ubuntu etcd[66712]: Go Version: go1.19.10
Jul 02 06:16:46 ubuntu etcd[66712]: Go OS/Arch: linux/amd64
Jul 02 06:16:46 ubuntu etcd[66712]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 02 06:16:46 ubuntu etcd[66712]: Running http and grpc server on single port. This is not recommended for production.
Jul 02 06:16:46 ubuntu etcd[66712]: name = ubuntu
Jul 02 06:16:46 ubuntu etcd[66712]: data dir = /opt/stack/data/etcd
Jul 02 06:16:46 ubuntu etcd[66712]: member dir = /opt/stack/data/etcd/member
Jul 02 06:16:46 ubuntu etcd[66712]: heartbeat = 100ms
Jul 02 06:16:46 ubuntu etcd[66712]: election = 1000ms
Jul 02 06:16:46 ubuntu etcd[66712]: snapshot count = 100000
Jul 02 06:16:46 ubuntu etcd[66712]: advertise client URLs = http://10.201.5.82:2379
Jul 02 06:16:46 ubuntu etcd[66712]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 02 06:16:46 ubuntu etcd[66712]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jul 02 06:16:46 ubuntu etcd[66712]: raft2024/07/02 06:16:46 INFO: 43038365673ccf7b switched to configuration voters=()
Jul 02 06:16:46 ubuntu etcd[66712]: raft2024/07/02 06:16:46 INFO: 43038365673ccf7b became follower at term 0
Jul 02 06:16:46 ubuntu etcd[66712]: raft2024/07/02 06:16:46 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 02 06:16:46 ubuntu etcd[66712]: raft2024/07/02 06:16:46 INFO: 43038365673ccf7b became follower at term 1
Jul 02 06:16:46 ubuntu etcd[66712]: raft2024/07/02 06:16:46 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 02 06:16:46 ubuntu etcd[66712]: simple token is not cryptographically signed
Jul 02 06:16:46 ubuntu etcd[66712]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 02 06:16:46 ubuntu etcd[66712]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 02 06:16:46 ubuntu etcd[66712]: raft2024/07/02 06:16:46 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 02 06:16:46 ubuntu etcd[66712]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jul 02 06:16:46 ubuntu etcd[66712]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 02 06:16:46 ubuntu etcd[66712]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 02 06:16:46 ubuntu etcd[66712]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 02 06:16:46 ubuntu etcd[66712]: listening for peers on [::]:2380
Jul 02 06:16:47 ubuntu etcd[66712]: raft2024/07/02 06:16:47 INFO: 43038365673ccf7b is starting a new election at term 1
Jul 02 06:16:47 ubuntu etcd[66712]: raft2024/07/02 06:16:47 INFO: 43038365673ccf7b became candidate at term 2
Jul 02 06:16:47 ubuntu etcd[66712]: raft2024/07/02 06:16:47 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jul 02 06:16:47 ubuntu etcd[66712]: raft2024/07/02 06:16:47 INFO: 43038365673ccf7b became leader at term 2
Jul 02 06:16:47 ubuntu etcd[66712]: raft2024/07/02 06:16:47 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jul 02 06:16:47 ubuntu etcd[66712]: INFO: 2024/07/02 06:16:47 parsed scheme: ""
Jul 02 06:16:47 ubuntu etcd[66712]: INFO: 2024/07/02 06:16:47 scheme "" not registered, fallback to default scheme
Jul 02 06:16:47 ubuntu etcd[66712]: INFO: 2024/07/02 06:16:47 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Jul 02 06:16:47 ubuntu etcd[66712]: INFO: 2024/07/02 06:16:47 ClientConn switching balancer to "pick_first"
Jul 02 06:16:47 ubuntu etcd[66712]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jul 02 06:16:47 ubuntu etcd[66712]: ready to serve client requests
Jul 02 06:16:47 ubuntu etcd[66712]: setting up the initial cluster version to 3.4
Jul 02 06:16:47 ubuntu etcd[66712]: set the initial cluster version to 3.4
Jul 02 06:16:47 ubuntu etcd[66712]: enabled capabilities for version 3.4
Jul 02 06:16:47 ubuntu etcd[66712]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jul 02 06:16:47 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 02 06:22:17 ubuntu etcd[66712]: start time = 2024-07-02 06:22:17.873606847 +0000 UTC m=+330.977335103, time spent = 473.152µs, remote = 10.201.5.82:39546, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 02 06:22:17 ubuntu etcd[66712]: start time = 2024-07-02 06:22:17.872276933 +0000 UTC m=+330.976005177, time spent = 2.683549ms, remote = 10.201.5.82:39546, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 02 06:22:24 ubuntu etcd[66712]: start time = 2024-07-02 06:22:24.873849055 +0000 UTC m=+337.977577398, time spent = 440.363µs, remote = 10.201.5.82:39546, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 02 06:22:27 ubuntu etcd[66712]: start time = 2024-07-02 06:22:27.088409012 +0000 UTC m=+340.192137265, time spent = 717.146µs, remote = 10.201.5.82:39546, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 02 06:25:18 ubuntu etcd[66712]: start time = 2024-07-02 06:25:18.658661519 +0000 UTC m=+511.762389771, time spent = 300.326µs, remote = 10.201.5.82:39546, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 02 06:25:18 ubuntu etcd[66712]: start time = 2024-07-02 06:25:18.679835975 +0000 UTC m=+511.783564217, time spent = 184.554µs, remote = 10.201.5.82:39546, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 02 06:25:20 ubuntu etcd[66712]: start time = 2024-07-02 06:25:20.981737846 +0000 UTC m=+514.085466100, time spent = 231.286µs, remote = 10.201.5.82:39546, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 02 06:25:21 ubuntu etcd[66712]: start time = 2024-07-02 06:25:21.771777102 +0000 UTC m=+514.875505409, time spent = 336.295µs, remote = 10.201.5.82:39546, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
