Jul 04 01:22:52 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 04 01:22:52 ubuntu etcd[67062]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 04 01:22:52 ubuntu etcd[67062]:         A future release of golang/protobuf will delete this package,
Jul 04 01:22:52 ubuntu etcd[67062]:         which has long been excluded from the compatibility promise.
Jul 04 01:22:52 ubuntu etcd[67062]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 04 01:22:52 ubuntu etcd[67062]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 04 01:22:52 ubuntu etcd[67062]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 04 01:22:52 ubuntu etcd[67062]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 04 01:22:52 ubuntu etcd[67062]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 04 01:22:52 ubuntu etcd[67062]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 04 01:22:52 ubuntu etcd[67062]: Running http and grpc server on single port. This is not recommended for production.
Jul 04 01:22:52 ubuntu etcd[67062]: etcd Version: 3.4.27
Jul 04 01:22:52 ubuntu etcd[67062]: Git SHA: c92fb80f3
Jul 04 01:22:52 ubuntu etcd[67062]: Go Version: go1.19.10
Jul 04 01:22:52 ubuntu etcd[67062]: Go OS/Arch: linux/amd64
Jul 04 01:22:52 ubuntu etcd[67062]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 04 01:22:52 ubuntu etcd[67062]: Running http and grpc server on single port. This is not recommended for production.
Jul 04 01:22:52 ubuntu etcd[67062]: name = ubuntu
Jul 04 01:22:52 ubuntu etcd[67062]: data dir = /opt/stack/data/etcd
Jul 04 01:22:52 ubuntu etcd[67062]: member dir = /opt/stack/data/etcd/member
Jul 04 01:22:52 ubuntu etcd[67062]: heartbeat = 100ms
Jul 04 01:22:52 ubuntu etcd[67062]: election = 1000ms
Jul 04 01:22:52 ubuntu etcd[67062]: snapshot count = 100000
Jul 04 01:22:52 ubuntu etcd[67062]: advertise client URLs = http://10.201.5.82:2379
Jul 04 01:22:52 ubuntu etcd[67062]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 04 01:22:53 ubuntu etcd[67062]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jul 04 01:22:53 ubuntu etcd[67062]: raft2024/07/04 01:22:53 INFO: 43038365673ccf7b switched to configuration voters=()
Jul 04 01:22:53 ubuntu etcd[67062]: raft2024/07/04 01:22:53 INFO: 43038365673ccf7b became follower at term 0
Jul 04 01:22:53 ubuntu etcd[67062]: raft2024/07/04 01:22:53 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 04 01:22:53 ubuntu etcd[67062]: raft2024/07/04 01:22:53 INFO: 43038365673ccf7b became follower at term 1
Jul 04 01:22:53 ubuntu etcd[67062]: raft2024/07/04 01:22:53 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 04 01:22:53 ubuntu etcd[67062]: simple token is not cryptographically signed
Jul 04 01:22:53 ubuntu etcd[67062]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 04 01:22:53 ubuntu etcd[67062]: raft2024/07/04 01:22:53 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 04 01:22:53 ubuntu etcd[67062]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 04 01:22:53 ubuntu etcd[67062]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jul 04 01:22:53 ubuntu etcd[67062]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 04 01:22:53 ubuntu etcd[67062]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 04 01:22:53 ubuntu etcd[67062]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 04 01:22:53 ubuntu etcd[67062]: listening for peers on [::]:2380
Jul 04 01:22:53 ubuntu etcd[67062]: raft2024/07/04 01:22:53 INFO: 43038365673ccf7b is starting a new election at term 1
Jul 04 01:22:53 ubuntu etcd[67062]: raft2024/07/04 01:22:53 INFO: 43038365673ccf7b became candidate at term 2
Jul 04 01:22:53 ubuntu etcd[67062]: raft2024/07/04 01:22:53 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jul 04 01:22:53 ubuntu etcd[67062]: raft2024/07/04 01:22:53 INFO: 43038365673ccf7b became leader at term 2
Jul 04 01:22:53 ubuntu etcd[67062]: raft2024/07/04 01:22:53 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jul 04 01:22:53 ubuntu etcd[67062]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jul 04 01:22:53 ubuntu etcd[67062]: setting up the initial cluster version to 3.4
Jul 04 01:22:53 ubuntu etcd[67062]: ready to serve client requests
Jul 04 01:22:53 ubuntu etcd[67062]: INFO: 2024/07/04 01:22:53 parsed scheme: ""
Jul 04 01:22:53 ubuntu etcd[67062]: INFO: 2024/07/04 01:22:53 scheme "" not registered, fallback to default scheme
Jul 04 01:22:53 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 04 01:22:53 ubuntu etcd[67062]: set the initial cluster version to 3.4
Jul 04 01:22:53 ubuntu etcd[67062]: INFO: 2024/07/04 01:22:53 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Jul 04 01:22:53 ubuntu etcd[67062]: INFO: 2024/07/04 01:22:53 ClientConn switching balancer to "pick_first"
Jul 04 01:22:53 ubuntu etcd[67062]: enabled capabilities for version 3.4
Jul 04 01:22:53 ubuntu etcd[67062]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jul 04 01:28:33 ubuntu etcd[67062]: start time = 2024-07-04 01:28:33.969020264 +0000 UTC m=+341.004737144, time spent = 463.653µs, remote = 10.201.5.82:42684, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 04 01:28:34 ubuntu etcd[67062]: start time = 2024-07-04 01:28:34.005575709 +0000 UTC m=+341.041292592, time spent = 186.78µs, remote = 10.201.5.82:42684, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 04 01:28:41 ubuntu etcd[67062]: start time = 2024-07-04 01:28:41.153806273 +0000 UTC m=+348.189523153, time spent = 210.123µs, remote = 10.201.5.82:42684, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 04 01:28:43 ubuntu etcd[67062]: start time = 2024-07-04 01:28:43.067088689 +0000 UTC m=+350.102805559, time spent = 270.527µs, remote = 10.201.5.82:42684, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 04 01:31:36 ubuntu etcd[67062]: start time = 2024-07-04 01:31:36.509652335 +0000 UTC m=+523.545369214, time spent = 298.697µs, remote = 10.201.5.82:42684, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 04 01:31:36 ubuntu etcd[67062]: start time = 2024-07-04 01:31:36.589837668 +0000 UTC m=+523.625554548, time spent = 160.72µs, remote = 10.201.5.82:42684, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 04 01:31:37 ubuntu etcd[67062]: start time = 2024-07-04 01:31:37.193996448 +0000 UTC m=+524.229713326, time spent = 236.946µs, remote = 10.201.5.82:42684, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 04 01:31:38 ubuntu etcd[67062]: start time = 2024-07-04 01:31:38.653111029 +0000 UTC m=+525.688827997, time spent = 316.332µs, remote = 10.201.5.82:42684, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
