Mar 07 01:15:53 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 07 01:15:53 ubuntu etcd[65765]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 07 01:15:53 ubuntu etcd[65765]:         A future release of golang/protobuf will delete this package,
Mar 07 01:15:53 ubuntu etcd[65765]:         which has long been excluded from the compatibility promise.
Mar 07 01:15:53 ubuntu etcd[65765]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 07 01:15:53 ubuntu etcd[65765]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 07 01:15:53 ubuntu etcd[65765]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 07 01:15:53 ubuntu etcd[65765]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 07 01:15:53 ubuntu etcd[65765]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 07 01:15:53 ubuntu etcd[65765]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 07 01:15:53 ubuntu etcd[65765]: Running http and grpc server on single port. This is not recommended for production.
Mar 07 01:15:53 ubuntu etcd[65765]: etcd Version: 3.4.27
Mar 07 01:15:53 ubuntu etcd[65765]: Git SHA: c92fb80f3
Mar 07 01:15:53 ubuntu etcd[65765]: Go Version: go1.19.10
Mar 07 01:15:53 ubuntu etcd[65765]: Go OS/Arch: linux/amd64
Mar 07 01:15:53 ubuntu etcd[65765]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 07 01:15:53 ubuntu etcd[65765]: Running http and grpc server on single port. This is not recommended for production.
Mar 07 01:15:53 ubuntu etcd[65765]: name = ubuntu
Mar 07 01:15:53 ubuntu etcd[65765]: data dir = /opt/stack/data/etcd
Mar 07 01:15:53 ubuntu etcd[65765]: member dir = /opt/stack/data/etcd/member
Mar 07 01:15:53 ubuntu etcd[65765]: heartbeat = 100ms
Mar 07 01:15:53 ubuntu etcd[65765]: election = 1000ms
Mar 07 01:15:53 ubuntu etcd[65765]: snapshot count = 100000
Mar 07 01:15:53 ubuntu etcd[65765]: advertise client URLs = http://10.201.5.82:2379
Mar 07 01:15:53 ubuntu etcd[65765]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 07 01:15:53 ubuntu etcd[65765]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Mar 07 01:15:53 ubuntu etcd[65765]: raft2024/03/07 01:15:53 INFO: 43038365673ccf7b switched to configuration voters=()
Mar 07 01:15:53 ubuntu etcd[65765]: raft2024/03/07 01:15:53 INFO: 43038365673ccf7b became follower at term 0
Mar 07 01:15:53 ubuntu etcd[65765]: raft2024/03/07 01:15:53 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 07 01:15:53 ubuntu etcd[65765]: raft2024/03/07 01:15:53 INFO: 43038365673ccf7b became follower at term 1
Mar 07 01:15:53 ubuntu etcd[65765]: raft2024/03/07 01:15:53 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 07 01:15:53 ubuntu etcd[65765]: simple token is not cryptographically signed
Mar 07 01:15:53 ubuntu etcd[65765]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 07 01:15:53 ubuntu etcd[65765]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 07 01:15:53 ubuntu etcd[65765]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 07 01:15:53 ubuntu etcd[65765]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 07 01:15:53 ubuntu etcd[65765]: raft2024/03/07 01:15:53 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 07 01:15:53 ubuntu etcd[65765]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 07 01:15:53 ubuntu etcd[65765]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Mar 07 01:15:53 ubuntu etcd[65765]: listening for peers on [::]:2380
Mar 07 01:15:53 ubuntu etcd[65765]: raft2024/03/07 01:15:53 INFO: 43038365673ccf7b is starting a new election at term 1
Mar 07 01:15:53 ubuntu etcd[65765]: raft2024/03/07 01:15:53 INFO: 43038365673ccf7b became candidate at term 2
Mar 07 01:15:53 ubuntu etcd[65765]: raft2024/03/07 01:15:53 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Mar 07 01:15:53 ubuntu etcd[65765]: raft2024/03/07 01:15:53 INFO: 43038365673ccf7b became leader at term 2
Mar 07 01:15:53 ubuntu etcd[65765]: raft2024/03/07 01:15:53 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Mar 07 01:15:53 ubuntu etcd[65765]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Mar 07 01:15:53 ubuntu etcd[65765]: ready to serve client requests
Mar 07 01:15:53 ubuntu etcd[65765]: INFO: 2024/03/07 01:15:53 parsed scheme: ""
Mar 07 01:15:53 ubuntu etcd[65765]: INFO: 2024/03/07 01:15:53 scheme "" not registered, fallback to default scheme
Mar 07 01:15:53 ubuntu etcd[65765]: INFO: 2024/03/07 01:15:53 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Mar 07 01:15:53 ubuntu etcd[65765]: INFO: 2024/03/07 01:15:53 ClientConn switching balancer to "pick_first"
Mar 07 01:15:53 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 07 01:15:53 ubuntu etcd[65765]: setting up the initial cluster version to 3.4
Mar 07 01:15:53 ubuntu etcd[65765]: set the initial cluster version to 3.4
Mar 07 01:15:53 ubuntu etcd[65765]: enabled capabilities for version 3.4
Mar 07 01:15:53 ubuntu etcd[65765]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Mar 07 01:25:31 ubuntu etcd[65765]: start time = 2024-03-07 01:25:31.302455271 +0000 UTC m=+578.260303633, time spent = 723.404µs, remote = 10.201.5.82:42338, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 07 01:25:31 ubuntu etcd[65765]: start time = 2024-03-07 01:25:31.314172899 +0000 UTC m=+578.272021260, time spent = 294.847µs, remote = 10.201.5.82:42338, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 07 01:25:38 ubuntu etcd[65765]: start time = 2024-03-07 01:25:38.06273537 +0000 UTC m=+585.020583720, time spent = 164.058µs, remote = 10.201.5.82:42338, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 07 01:25:40 ubuntu etcd[65765]: start time = 2024-03-07 01:25:40.069954506 +0000 UTC m=+587.027802867, time spent = 799.991µs, remote = 10.201.5.82:42338, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
