Jun 03 15:08:55 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 03 15:08:55 ubuntu etcd[79425]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 03 15:08:55 ubuntu etcd[79425]:         A future release of golang/protobuf will delete this package,
Jun 03 15:08:55 ubuntu etcd[79425]:         which has long been excluded from the compatibility promise.
Jun 03 15:08:55 ubuntu etcd[79425]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 03 15:08:55 ubuntu etcd[79425]: Running http and grpc server on single port. This is not recommended for production.
Jun 03 15:08:55 ubuntu etcd[79425]: etcd Version: 3.4.27
Jun 03 15:08:55 ubuntu etcd[79425]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 03 15:08:55 ubuntu etcd[79425]: Git SHA: c92fb80f3
Jun 03 15:08:55 ubuntu etcd[79425]: Go Version: go1.19.10
Jun 03 15:08:55 ubuntu etcd[79425]: Go OS/Arch: linux/amd64
Jun 03 15:08:55 ubuntu etcd[79425]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 03 15:08:55 ubuntu etcd[79425]: Running http and grpc server on single port. This is not recommended for production.
Jun 03 15:08:55 ubuntu etcd[79425]: name = ubuntu
Jun 03 15:08:55 ubuntu etcd[79425]: data dir = /opt/stack/data/etcd
Jun 03 15:08:55 ubuntu etcd[79425]: member dir = /opt/stack/data/etcd/member
Jun 03 15:08:55 ubuntu etcd[79425]: heartbeat = 100ms
Jun 03 15:08:55 ubuntu etcd[79425]: election = 1000ms
Jun 03 15:08:55 ubuntu etcd[79425]: snapshot count = 100000
Jun 03 15:08:55 ubuntu etcd[79425]: advertise client URLs = http://10.201.5.82:2379
Jun 03 15:08:55 ubuntu etcd[79425]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 03 15:08:55 ubuntu etcd[79425]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jun 03 15:08:55 ubuntu etcd[79425]: raft2025/06/03 15:08:55 INFO: 43038365673ccf7b switched to configuration voters=()
Jun 03 15:08:55 ubuntu etcd[79425]: raft2025/06/03 15:08:55 INFO: 43038365673ccf7b became follower at term 0
Jun 03 15:08:55 ubuntu etcd[79425]: raft2025/06/03 15:08:55 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 03 15:08:55 ubuntu etcd[79425]: raft2025/06/03 15:08:55 INFO: 43038365673ccf7b became follower at term 1
Jun 03 15:08:55 ubuntu etcd[79425]: raft2025/06/03 15:08:55 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 03 15:08:55 ubuntu etcd[79425]: simple token is not cryptographically signed
Jun 03 15:08:55 ubuntu etcd[79425]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 03 15:08:55 ubuntu etcd[79425]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 03 15:08:55 ubuntu etcd[79425]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 03 15:08:55 ubuntu etcd[79425]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 03 15:08:55 ubuntu etcd[79425]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 03 15:08:55 ubuntu etcd[79425]: listening for peers on [::]:2380
Jun 03 15:08:55 ubuntu etcd[79425]: raft2025/06/03 15:08:55 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 03 15:08:55 ubuntu etcd[79425]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jun 03 15:08:56 ubuntu etcd[79425]: raft2025/06/03 15:08:56 INFO: 43038365673ccf7b is starting a new election at term 1
Jun 03 15:08:56 ubuntu etcd[79425]: raft2025/06/03 15:08:56 INFO: 43038365673ccf7b became candidate at term 2
Jun 03 15:08:56 ubuntu etcd[79425]: raft2025/06/03 15:08:56 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jun 03 15:08:56 ubuntu etcd[79425]: raft2025/06/03 15:08:56 INFO: 43038365673ccf7b became leader at term 2
Jun 03 15:08:56 ubuntu etcd[79425]: raft2025/06/03 15:08:56 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jun 03 15:08:56 ubuntu etcd[79425]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jun 03 15:08:56 ubuntu etcd[79425]: ready to serve client requests
Jun 03 15:08:56 ubuntu etcd[79425]: setting up the initial cluster version to 3.4
Jun 03 15:08:56 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 03 15:08:56 ubuntu etcd[79425]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jun 03 15:08:56 ubuntu etcd[79425]: set the initial cluster version to 3.4
Jun 03 15:08:56 ubuntu etcd[79425]: enabled capabilities for version 3.4
Jun 03 15:13:32 ubuntu etcd[79425]: start time = 2025-06-03 15:13:32.722892765 +0000 UTC m=+276.877599799, time spent = 1.682715ms, remote = 10.201.5.82:45446, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 03 15:13:32 ubuntu etcd[79425]: start time = 2025-06-03 15:13:32.89088104 +0000 UTC m=+277.045588071, time spent = 268.337µs, remote = 10.201.5.82:45446, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 03 15:13:39 ubuntu etcd[79425]: start time = 2025-06-03 15:13:39.478900845 +0000 UTC m=+283.633607876, time spent = 208.342µs, remote = 10.201.5.82:45446, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 03 15:13:41 ubuntu etcd[79425]: start time = 2025-06-03 15:13:41.719429023 +0000 UTC m=+285.874136047, time spent = 245.128µs, remote = 10.201.5.82:45446, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 03 15:17:13 ubuntu etcd[79425]: start time = 2025-06-03 15:17:13.639297762 +0000 UTC m=+497.794004774, time spent = 431.264µs, remote = 10.201.5.82:45446, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 03 15:17:13 ubuntu etcd[79425]: start time = 2025-06-03 15:17:13.641836887 +0000 UTC m=+497.796543918, time spent = 157.523µs, remote = 10.201.5.82:45446, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 03 15:17:16 ubuntu etcd[79425]: start time = 2025-06-03 15:17:16.527648513 +0000 UTC m=+500.682355631, time spent = 433.58µs, remote = 10.201.5.82:45446, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 03 15:17:18 ubuntu etcd[79425]: start time = 2025-06-03 15:17:18.25166144 +0000 UTC m=+502.406368471, time spent = 200.009µs, remote = 10.201.5.82:45446, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 03 15:19:05 ubuntu etcd[79425]: start time = 2025-06-03 15:19:05.451761196 +0000 UTC m=+609.606468248, time spent = 266.257µs, remote = 10.201.5.82:45446, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 03 15:19:05 ubuntu etcd[79425]: start time = 2025-06-03 15:19:05.460793315 +0000 UTC m=+609.615500387, time spent = 4.419548ms, remote = 10.201.5.82:45446, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-c9b6696e-3535-4660-be26-e885be9aa09f" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-c9b6696e-3535-4660-be26-e885be9aa09f" value_size:16 lease:5727337610768995097 >> failure:<request_range:<key:"/tooz/lockscinder-c9b6696e-3535-4660-be26-e885be9aa09f" > >
Jun 03 15:19:08 ubuntu etcd[79425]: start time = 2025-06-03 15:19:08.080275633 +0000 UTC m=+612.234982754, time spent = 599.19µs, remote = 10.201.5.82:45446, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-c9b6696e-3535-4660-be26-e885be9aa09f" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-c9b6696e-3535-4660-be26-e885be9aa09f" > > failure:<>
Jun 03 15:19:08 ubuntu etcd[79425]: start time = 2025-06-03 15:19:08.345401238 +0000 UTC m=+612.500108264, time spent = 377.336µs, remote = 10.201.5.82:45446, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 03 15:19:08 ubuntu etcd[79425]: start time = 2025-06-03 15:19:08.347642342 +0000 UTC m=+612.502349380, time spent = 246.609µs, remote = 10.201.5.82:45446, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-c9b6696e-3535-4660-be26-e885be9aa09f" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-c9b6696e-3535-4660-be26-e885be9aa09f" value_size:16 lease:5727337610768995101 >> failure:<request_range:<key:"/tooz/lockscinder-c9b6696e-3535-4660-be26-e885be9aa09f" > >
Jun 03 15:19:10 ubuntu etcd[79425]: start time = 2025-06-03 15:19:10.182166832 +0000 UTC m=+614.336873962, time spent = 686.449µs, remote = 10.201.5.82:45446, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-c9b6696e-3535-4660-be26-e885be9aa09f" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-c9b6696e-3535-4660-be26-e885be9aa09f" > > failure:<>
Jun 03 15:19:10 ubuntu etcd[79425]: start time = 2025-06-03 15:19:10.431950377 +0000 UTC m=+614.586657433, time spent = 264.981µs, remote = 10.201.5.82:45446, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 03 15:19:10 ubuntu etcd[79425]: start time = 2025-06-03 15:19:10.436259034 +0000 UTC m=+614.590966172, time spent = 486.104µs, remote = 10.201.5.82:45446, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-c9b6696e-3535-4660-be26-e885be9aa09f" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-c9b6696e-3535-4660-be26-e885be9aa09f" value_size:16 lease:5727337610768995105 >> failure:<request_range:<key:"/tooz/lockscinder-c9b6696e-3535-4660-be26-e885be9aa09f" > >
Jun 03 15:19:12 ubuntu etcd[79425]: start time = 2025-06-03 15:19:12.213951561 +0000 UTC m=+616.368658699, time spent = 1.371438ms, remote = 10.201.5.82:45446, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-c9b6696e-3535-4660-be26-e885be9aa09f" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-c9b6696e-3535-4660-be26-e885be9aa09f" > > failure:<>
