Dec 11 14:23:29 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 11 14:23:29 ubuntu etcd[67475]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 11 14:23:29 ubuntu etcd[67475]:         A future release of golang/protobuf will delete this package,
Dec 11 14:23:29 ubuntu etcd[67475]:         which has long been excluded from the compatibility promise.
Dec 11 14:23:29 ubuntu etcd[67475]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 11 14:23:29 ubuntu etcd[67475]: Running http and grpc server on single port. This is not recommended for production.
Dec 11 14:23:29 ubuntu etcd[67475]: etcd Version: 3.4.27
Dec 11 14:23:29 ubuntu etcd[67475]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 11 14:23:29 ubuntu etcd[67475]: Git SHA: c92fb80f3
Dec 11 14:23:29 ubuntu etcd[67475]: Go Version: go1.19.10
Dec 11 14:23:29 ubuntu etcd[67475]: Go OS/Arch: linux/amd64
Dec 11 14:23:29 ubuntu etcd[67475]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 11 14:23:29 ubuntu etcd[67475]: Running http and grpc server on single port. This is not recommended for production.
Dec 11 14:23:29 ubuntu etcd[67475]: name = ubuntu
Dec 11 14:23:29 ubuntu etcd[67475]: data dir = /opt/stack/data/etcd
Dec 11 14:23:29 ubuntu etcd[67475]: member dir = /opt/stack/data/etcd/member
Dec 11 14:23:29 ubuntu etcd[67475]: heartbeat = 100ms
Dec 11 14:23:29 ubuntu etcd[67475]: election = 1000ms
Dec 11 14:23:29 ubuntu etcd[67475]: snapshot count = 100000
Dec 11 14:23:29 ubuntu etcd[67475]: advertise client URLs = http://10.201.5.82:2379
Dec 11 14:23:29 ubuntu etcd[67475]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Dec 11 14:23:29 ubuntu etcd[67475]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Dec 11 14:23:29 ubuntu etcd[67475]: raft2024/12/11 14:23:29 INFO: 43038365673ccf7b switched to configuration voters=()
Dec 11 14:23:29 ubuntu etcd[67475]: raft2024/12/11 14:23:29 INFO: 43038365673ccf7b became follower at term 0
Dec 11 14:23:29 ubuntu etcd[67475]: raft2024/12/11 14:23:29 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Dec 11 14:23:29 ubuntu etcd[67475]: raft2024/12/11 14:23:29 INFO: 43038365673ccf7b became follower at term 1
Dec 11 14:23:29 ubuntu etcd[67475]: raft2024/12/11 14:23:29 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Dec 11 14:23:29 ubuntu etcd[67475]: simple token is not cryptographically signed
Dec 11 14:23:29 ubuntu etcd[67475]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Dec 11 14:23:29 ubuntu etcd[67475]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Dec 11 14:23:29 ubuntu etcd[67475]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Dec 11 14:23:29 ubuntu etcd[67475]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Dec 11 14:23:29 ubuntu etcd[67475]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Dec 11 14:23:29 ubuntu etcd[67475]: raft2024/12/11 14:23:29 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Dec 11 14:23:29 ubuntu etcd[67475]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Dec 11 14:23:29 ubuntu etcd[67475]: listening for peers on [::]:2380
Dec 11 14:23:29 ubuntu etcd[67475]: raft2024/12/11 14:23:29 INFO: 43038365673ccf7b is starting a new election at term 1
Dec 11 14:23:29 ubuntu etcd[67475]: raft2024/12/11 14:23:29 INFO: 43038365673ccf7b became candidate at term 2
Dec 11 14:23:29 ubuntu etcd[67475]: raft2024/12/11 14:23:29 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Dec 11 14:23:29 ubuntu etcd[67475]: raft2024/12/11 14:23:29 INFO: 43038365673ccf7b became leader at term 2
Dec 11 14:23:29 ubuntu etcd[67475]: raft2024/12/11 14:23:29 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Dec 11 14:23:29 ubuntu etcd[67475]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Dec 11 14:23:29 ubuntu etcd[67475]: setting up the initial cluster version to 3.4
Dec 11 14:23:29 ubuntu etcd[67475]: ready to serve client requests
Dec 11 14:23:29 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Dec 11 14:23:29 ubuntu etcd[67475]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Dec 11 14:23:29 ubuntu etcd[67475]: set the initial cluster version to 3.4
Dec 11 14:23:29 ubuntu etcd[67475]: enabled capabilities for version 3.4
Dec 11 14:28:12 ubuntu etcd[67475]: start time = 2024-12-11 14:28:12.869697964 +0000 UTC m=+283.659260492, time spent = 931.682µs, remote = 10.201.5.82:38426, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 11 14:28:12 ubuntu etcd[67475]: start time = 2024-12-11 14:28:12.95768493 +0000 UTC m=+283.747247469, time spent = 185.707µs, remote = 10.201.5.82:38426, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 11 14:28:19 ubuntu etcd[67475]: start time = 2024-12-11 14:28:19.604380492 +0000 UTC m=+290.393943025, time spent = 154.263µs, remote = 10.201.5.82:38426, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 11 14:28:21 ubuntu etcd[67475]: start time = 2024-12-11 14:28:21.969893565 +0000 UTC m=+292.759456108, time spent = 201.438µs, remote = 10.201.5.82:38426, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 11 14:31:26 ubuntu etcd[67475]: start time = 2024-12-11 14:31:26.280593117 +0000 UTC m=+477.070155651, time spent = 382.537µs, remote = 10.201.5.82:38426, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 11 14:31:26 ubuntu etcd[67475]: start time = 2024-12-11 14:31:26.366001096 +0000 UTC m=+477.155563632, time spent = 251.334µs, remote = 10.201.5.82:38426, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 11 14:31:26 ubuntu etcd[67475]: start time = 2024-12-11 14:31:26.84250287 +0000 UTC m=+477.632065393, time spent = 322.872µs, remote = 10.201.5.82:38426, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 11 14:31:29 ubuntu etcd[67475]: start time = 2024-12-11 14:31:29.524847754 +0000 UTC m=+480.314410290, time spent = 222.93µs, remote = 10.201.5.82:38426, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 11 14:33:15 ubuntu etcd[67475]: start time = 2024-12-11 14:33:15.659003771 +0000 UTC m=+586.448566311, time spent = 448.716µs, remote = 10.201.5.82:38426, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 11 14:33:15 ubuntu etcd[67475]: start time = 2024-12-11 14:33:15.66393557 +0000 UTC m=+586.453498105, time spent = 604.645µs, remote = 10.201.5.82:38426, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-c059bedf-951e-4f40-8763-74a8cfd09345" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-c059bedf-951e-4f40-8763-74a8cfd09345" value_size:16 lease:5727333761469374233 >> failure:<request_range:<key:"/tooz/lockscinder-c059bedf-951e-4f40-8763-74a8cfd09345" > >
Dec 11 14:33:18 ubuntu etcd[67475]: start time = 2024-12-11 14:33:18.338066752 +0000 UTC m=+589.127629337, time spent = 718.518µs, remote = 10.201.5.82:38426, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-c059bedf-951e-4f40-8763-74a8cfd09345" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-c059bedf-951e-4f40-8763-74a8cfd09345" > > failure:<>
Dec 11 14:33:18 ubuntu etcd[67475]: start time = 2024-12-11 14:33:18.68328467 +0000 UTC m=+589.472847208, time spent = 243.088µs, remote = 10.201.5.82:38426, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 11 14:33:18 ubuntu etcd[67475]: start time = 2024-12-11 14:33:18.686089499 +0000 UTC m=+589.475652041, time spent = 161.01µs, remote = 10.201.5.82:38426, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-c059bedf-951e-4f40-8763-74a8cfd09345" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-c059bedf-951e-4f40-8763-74a8cfd09345" value_size:16 lease:5727333761469374237 >> failure:<request_range:<key:"/tooz/lockscinder-c059bedf-951e-4f40-8763-74a8cfd09345" > >
Dec 11 14:33:19 ubuntu etcd[67475]: start time = 2024-12-11 14:33:19.496129011 +0000 UTC m=+590.285691651, time spent = 553.699µs, remote = 10.201.5.82:38426, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-c059bedf-951e-4f40-8763-74a8cfd09345" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-c059bedf-951e-4f40-8763-74a8cfd09345" > > failure:<>
Dec 11 14:33:19 ubuntu etcd[67475]: start time = 2024-12-11 14:33:19.706770368 +0000 UTC m=+590.496332911, time spent = 507.353µs, remote = 10.201.5.82:38426, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 11 14:33:19 ubuntu etcd[67475]: start time = 2024-12-11 14:33:19.710387743 +0000 UTC m=+590.499950298, time spent = 243.353µs, remote = 10.201.5.82:38426, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-c059bedf-951e-4f40-8763-74a8cfd09345" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-c059bedf-951e-4f40-8763-74a8cfd09345" value_size:16 lease:5727333761469374241 >> failure:<request_range:<key:"/tooz/lockscinder-c059bedf-951e-4f40-8763-74a8cfd09345" > >
Dec 11 14:33:20 ubuntu etcd[67475]: start time = 2024-12-11 14:33:20.467850836 +0000 UTC m=+591.257413493, time spent = 519.844µs, remote = 10.201.5.82:38426, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-c059bedf-951e-4f40-8763-74a8cfd09345" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-c059bedf-951e-4f40-8763-74a8cfd09345" > > failure:<>
