May 21 15:37:40 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 21 15:37:40 ubuntu etcd[79356]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 21 15:37:40 ubuntu etcd[79356]:         A future release of golang/protobuf will delete this package,
May 21 15:37:40 ubuntu etcd[79356]:         which has long been excluded from the compatibility promise.
May 21 15:37:40 ubuntu etcd[79356]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 21 15:37:40 ubuntu etcd[79356]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 21 15:37:40 ubuntu etcd[79356]: Running http and grpc server on single port. This is not recommended for production.
May 21 15:37:40 ubuntu etcd[79356]: etcd Version: 3.4.27
May 21 15:37:40 ubuntu etcd[79356]: Git SHA: c92fb80f3
May 21 15:37:40 ubuntu etcd[79356]: Go Version: go1.19.10
May 21 15:37:40 ubuntu etcd[79356]: Go OS/Arch: linux/amd64
May 21 15:37:40 ubuntu etcd[79356]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 21 15:37:40 ubuntu etcd[79356]: Running http and grpc server on single port. This is not recommended for production.
May 21 15:37:40 ubuntu etcd[79356]: name = ubuntu
May 21 15:37:40 ubuntu etcd[79356]: data dir = /opt/stack/data/etcd
May 21 15:37:40 ubuntu etcd[79356]: member dir = /opt/stack/data/etcd/member
May 21 15:37:40 ubuntu etcd[79356]: heartbeat = 100ms
May 21 15:37:40 ubuntu etcd[79356]: election = 1000ms
May 21 15:37:40 ubuntu etcd[79356]: snapshot count = 100000
May 21 15:37:40 ubuntu etcd[79356]: advertise client URLs = http://10.201.5.82:2379
May 21 15:37:40 ubuntu etcd[79356]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 21 15:37:40 ubuntu etcd[79356]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
May 21 15:37:40 ubuntu etcd[79356]: raft2025/05/21 15:37:40 INFO: 43038365673ccf7b switched to configuration voters=()
May 21 15:37:40 ubuntu etcd[79356]: raft2025/05/21 15:37:40 INFO: 43038365673ccf7b became follower at term 0
May 21 15:37:40 ubuntu etcd[79356]: raft2025/05/21 15:37:40 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 21 15:37:40 ubuntu etcd[79356]: raft2025/05/21 15:37:40 INFO: 43038365673ccf7b became follower at term 1
May 21 15:37:40 ubuntu etcd[79356]: raft2025/05/21 15:37:40 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
May 21 15:37:40 ubuntu etcd[79356]: simple token is not cryptographically signed
May 21 15:37:40 ubuntu etcd[79356]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 21 15:37:40 ubuntu etcd[79356]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 21 15:37:40 ubuntu etcd[79356]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 21 15:37:40 ubuntu etcd[79356]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 21 15:37:40 ubuntu etcd[79356]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
May 21 15:37:40 ubuntu etcd[79356]: raft2025/05/21 15:37:40 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
May 21 15:37:40 ubuntu etcd[79356]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
May 21 15:37:40 ubuntu etcd[79356]: listening for peers on [::]:2380
May 21 15:37:40 ubuntu etcd[79356]: raft2025/05/21 15:37:40 INFO: 43038365673ccf7b is starting a new election at term 1
May 21 15:37:40 ubuntu etcd[79356]: raft2025/05/21 15:37:40 INFO: 43038365673ccf7b became candidate at term 2
May 21 15:37:40 ubuntu etcd[79356]: raft2025/05/21 15:37:40 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
May 21 15:37:40 ubuntu etcd[79356]: raft2025/05/21 15:37:40 INFO: 43038365673ccf7b became leader at term 2
May 21 15:37:40 ubuntu etcd[79356]: raft2025/05/21 15:37:40 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
May 21 15:37:40 ubuntu etcd[79356]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
May 21 15:37:40 ubuntu etcd[79356]: ready to serve client requests
May 21 15:37:40 ubuntu etcd[79356]: setting up the initial cluster version to 3.4
May 21 15:37:40 ubuntu etcd[79356]: set the initial cluster version to 3.4
May 21 15:37:40 ubuntu etcd[79356]: enabled capabilities for version 3.4
May 21 15:37:40 ubuntu etcd[79356]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
May 21 15:37:40 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 21 15:42:26 ubuntu etcd[79356]: start time = 2025-05-21 15:42:26.492458961 +0000 UTC m=+285.988531157, time spent = 568.19µs, remote = 10.201.5.82:36638, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 21 15:42:26 ubuntu etcd[79356]: start time = 2025-05-21 15:42:26.531564288 +0000 UTC m=+286.027636510, time spent = 484.538µs, remote = 10.201.5.82:36638, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 21 15:42:33 ubuntu etcd[79356]: start time = 2025-05-21 15:42:33.532198571 +0000 UTC m=+293.028270780, time spent = 237.999µs, remote = 10.201.5.82:36638, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 21 15:42:35 ubuntu etcd[79356]: start time = 2025-05-21 15:42:35.839903572 +0000 UTC m=+295.335975791, time spent = 281.574µs, remote = 10.201.5.82:36638, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 21 15:46:22 ubuntu etcd[79356]: start time = 2025-05-21 15:46:22.753314364 +0000 UTC m=+522.249386627, time spent = 749.496µs, remote = 10.201.5.82:36638, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 21 15:46:22 ubuntu etcd[79356]: start time = 2025-05-21 15:46:22.759016907 +0000 UTC m=+522.255089209, time spent = 283.327µs, remote = 10.201.5.82:36638, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 21 15:46:23 ubuntu etcd[79356]: start time = 2025-05-21 15:46:23.429445076 +0000 UTC m=+522.925517287, time spent = 756.937µs, remote = 10.201.5.82:36638, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 21 15:46:25 ubuntu etcd[79356]: start time = 2025-05-21 15:46:25.525605003 +0000 UTC m=+525.021677289, time spent = 1.233164ms, remote = 10.201.5.82:36638, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 21 15:48:10 ubuntu etcd[79356]: start time = 2025-05-21 15:48:10.13609252 +0000 UTC m=+629.632164725, time spent = 335.371µs, remote = 10.201.5.82:36638, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 21 15:48:10 ubuntu etcd[79356]: start time = 2025-05-21 15:48:10.146012138 +0000 UTC m=+629.642084337, time spent = 4.457159ms, remote = 10.201.5.82:36638, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-b64c65f4-cde1-4ce9-b4b1-4089428c8b4d" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-b64c65f4-cde1-4ce9-b4b1-4089428c8b4d" value_size:16 lease:5727337323671312409 >> failure:<request_range:<key:"/tooz/lockscinder-b64c65f4-cde1-4ce9-b4b1-4089428c8b4d" > >
May 21 15:48:12 ubuntu etcd[79356]: start time = 2025-05-21 15:48:12.737428363 +0000 UTC m=+632.233500671, time spent = 538.63µs, remote = 10.201.5.82:36638, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-b64c65f4-cde1-4ce9-b4b1-4089428c8b4d" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-b64c65f4-cde1-4ce9-b4b1-4089428c8b4d" > > failure:<>
May 21 15:48:12 ubuntu etcd[79356]: start time = 2025-05-21 15:48:12.98891372 +0000 UTC m=+632.484986015, time spent = 487.533µs, remote = 10.201.5.82:36638, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 21 15:48:12 ubuntu etcd[79356]: start time = 2025-05-21 15:48:12.991167799 +0000 UTC m=+632.487240038, time spent = 359.786µs, remote = 10.201.5.82:36638, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-b64c65f4-cde1-4ce9-b4b1-4089428c8b4d" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-b64c65f4-cde1-4ce9-b4b1-4089428c8b4d" value_size:16 lease:5727337323671312413 >> failure:<request_range:<key:"/tooz/lockscinder-b64c65f4-cde1-4ce9-b4b1-4089428c8b4d" > >
May 21 15:48:14 ubuntu etcd[79356]: start time = 2025-05-21 15:48:14.801629673 +0000 UTC m=+634.297701965, time spent = 719.145µs, remote = 10.201.5.82:36638, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-b64c65f4-cde1-4ce9-b4b1-4089428c8b4d" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-b64c65f4-cde1-4ce9-b4b1-4089428c8b4d" > > failure:<>
May 21 15:48:15 ubuntu etcd[79356]: start time = 2025-05-21 15:48:15.050536428 +0000 UTC m=+634.546608632, time spent = 298.305µs, remote = 10.201.5.82:36638, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 21 15:48:15 ubuntu etcd[79356]: start time = 2025-05-21 15:48:15.053259378 +0000 UTC m=+634.549331635, time spent = 570.067µs, remote = 10.201.5.82:36638, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-b64c65f4-cde1-4ce9-b4b1-4089428c8b4d" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-b64c65f4-cde1-4ce9-b4b1-4089428c8b4d" value_size:16 lease:5727337323671312417 >> failure:<request_range:<key:"/tooz/lockscinder-b64c65f4-cde1-4ce9-b4b1-4089428c8b4d" > >
May 21 15:48:17 ubuntu etcd[79356]: start time = 2025-05-21 15:48:17.011213356 +0000 UTC m=+636.507285679, time spent = 863.528µs, remote = 10.201.5.82:36638, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-b64c65f4-cde1-4ce9-b4b1-4089428c8b4d" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-b64c65f4-cde1-4ce9-b4b1-4089428c8b4d" > > failure:<>
