Jul 28 07:20:25 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 28 07:20:25 ubuntu etcd[80353]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 28 07:20:25 ubuntu etcd[80353]:         A future release of golang/protobuf will delete this package,
Jul 28 07:20:25 ubuntu etcd[80353]:         which has long been excluded from the compatibility promise.
Jul 28 07:20:25 ubuntu etcd[80353]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 28 07:20:25 ubuntu etcd[80353]: Running http and grpc server on single port. This is not recommended for production.
Jul 28 07:20:25 ubuntu etcd[80353]: etcd Version: 3.4.27
Jul 28 07:20:25 ubuntu etcd[80353]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 28 07:20:25 ubuntu etcd[80353]: Git SHA: c92fb80f3
Jul 28 07:20:25 ubuntu etcd[80353]: Go Version: go1.19.10
Jul 28 07:20:25 ubuntu etcd[80353]: Go OS/Arch: linux/amd64
Jul 28 07:20:25 ubuntu etcd[80353]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 28 07:20:25 ubuntu etcd[80353]: Running http and grpc server on single port. This is not recommended for production.
Jul 28 07:20:25 ubuntu etcd[80353]: name = ubuntu
Jul 28 07:20:25 ubuntu etcd[80353]: data dir = /opt/stack/data/etcd
Jul 28 07:20:25 ubuntu etcd[80353]: member dir = /opt/stack/data/etcd/member
Jul 28 07:20:25 ubuntu etcd[80353]: heartbeat = 100ms
Jul 28 07:20:25 ubuntu etcd[80353]: election = 1000ms
Jul 28 07:20:25 ubuntu etcd[80353]: snapshot count = 100000
Jul 28 07:20:25 ubuntu etcd[80353]: advertise client URLs = http://10.201.5.82:2379
Jul 28 07:20:25 ubuntu etcd[80353]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 28 07:20:25 ubuntu etcd[80353]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jul 28 07:20:25 ubuntu etcd[80353]: raft2025/07/28 07:20:25 INFO: 43038365673ccf7b switched to configuration voters=()
Jul 28 07:20:25 ubuntu etcd[80353]: raft2025/07/28 07:20:25 INFO: 43038365673ccf7b became follower at term 0
Jul 28 07:20:25 ubuntu etcd[80353]: raft2025/07/28 07:20:25 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 28 07:20:25 ubuntu etcd[80353]: raft2025/07/28 07:20:25 INFO: 43038365673ccf7b became follower at term 1
Jul 28 07:20:25 ubuntu etcd[80353]: raft2025/07/28 07:20:25 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 28 07:20:25 ubuntu etcd[80353]: simple token is not cryptographically signed
Jul 28 07:20:25 ubuntu etcd[80353]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 28 07:20:25 ubuntu etcd[80353]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 28 07:20:25 ubuntu etcd[80353]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 28 07:20:25 ubuntu etcd[80353]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 28 07:20:25 ubuntu etcd[80353]: raft2025/07/28 07:20:25 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 28 07:20:25 ubuntu etcd[80353]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 28 07:20:25 ubuntu etcd[80353]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jul 28 07:20:25 ubuntu etcd[80353]: listening for peers on [::]:2380
Jul 28 07:20:26 ubuntu etcd[80353]: raft2025/07/28 07:20:26 INFO: 43038365673ccf7b is starting a new election at term 1
Jul 28 07:20:26 ubuntu etcd[80353]: raft2025/07/28 07:20:26 INFO: 43038365673ccf7b became candidate at term 2
Jul 28 07:20:26 ubuntu etcd[80353]: raft2025/07/28 07:20:26 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jul 28 07:20:26 ubuntu etcd[80353]: raft2025/07/28 07:20:26 INFO: 43038365673ccf7b became leader at term 2
Jul 28 07:20:26 ubuntu etcd[80353]: raft2025/07/28 07:20:26 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jul 28 07:20:26 ubuntu etcd[80353]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jul 28 07:20:26 ubuntu etcd[80353]: setting up the initial cluster version to 3.4
Jul 28 07:20:26 ubuntu etcd[80353]: set the initial cluster version to 3.4
Jul 28 07:20:26 ubuntu etcd[80353]: enabled capabilities for version 3.4
Jul 28 07:20:26 ubuntu etcd[80353]: ready to serve client requests
Jul 28 07:20:26 ubuntu etcd[80353]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jul 28 07:20:26 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 28 07:25:07 ubuntu etcd[80353]: start time = 2025-07-28 07:25:07.041387727 +0000 UTC m=+281.167920517, time spent = 577.635µs, remote = 10.201.5.82:46876, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 28 07:25:07 ubuntu etcd[80353]: start time = 2025-07-28 07:25:07.06881514 +0000 UTC m=+281.195347962, time spent = 234.511µs, remote = 10.201.5.82:46876, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 28 07:25:14 ubuntu etcd[80353]: start time = 2025-07-28 07:25:14.261447355 +0000 UTC m=+288.387980162, time spent = 201.585µs, remote = 10.201.5.82:46876, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 28 07:25:16 ubuntu etcd[80353]: start time = 2025-07-28 07:25:16.434052482 +0000 UTC m=+290.560585281, time spent = 540.936µs, remote = 10.201.5.82:46876, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 28 07:28:47 ubuntu etcd[80353]: start time = 2025-07-28 07:28:47.893036981 +0000 UTC m=+502.019569798, time spent = 399.863µs, remote = 10.201.5.82:46876, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 28 07:28:47 ubuntu etcd[80353]: start time = 2025-07-28 07:28:47.918694046 +0000 UTC m=+502.045226850, time spent = 170.928µs, remote = 10.201.5.82:46876, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 28 07:28:50 ubuntu etcd[80353]: start time = 2025-07-28 07:28:50.324069433 +0000 UTC m=+504.450602337, time spent = 448.885µs, remote = 10.201.5.82:46876, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 28 07:28:52 ubuntu etcd[80353]: start time = 2025-07-28 07:28:52.429741476 +0000 UTC m=+506.556274278, time spent = 198.646µs, remote = 10.201.5.82:46876, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 28 07:35:36 ubuntu etcd[80353]: start time = 2025-07-28 07:35:36.283996293 +0000 UTC m=+910.410529126, time spent = 946.451µs, remote = 10.201.5.82:46876, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 28 07:35:36 ubuntu etcd[80353]: start time = 2025-07-28 07:35:36.294237811 +0000 UTC m=+910.420770602, time spent = 1.641501ms, remote = 10.201.5.82:46876, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-2bcb934d-4c05-46f4-860f-366dab101ba4" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-2bcb934d-4c05-46f4-860f-366dab101ba4" value_size:16 lease:5727338820084841753 >> failure:<request_range:<key:"/tooz/lockscinder-2bcb934d-4c05-46f4-860f-366dab101ba4" > >
Jul 28 07:35:39 ubuntu etcd[80353]: start time = 2025-07-28 07:35:39.374196992 +0000 UTC m=+913.500729825, time spent = 450.734µs, remote = 10.201.5.82:46876, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-2bcb934d-4c05-46f4-860f-366dab101ba4" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-2bcb934d-4c05-46f4-860f-366dab101ba4" > > failure:<>
Jul 28 07:35:39 ubuntu etcd[80353]: start time = 2025-07-28 07:35:39.594737583 +0000 UTC m=+913.721270387, time spent = 291.365µs, remote = 10.201.5.82:46876, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 28 07:35:39 ubuntu etcd[80353]: start time = 2025-07-28 07:35:39.597069673 +0000 UTC m=+913.723602478, time spent = 208.487µs, remote = 10.201.5.82:46876, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-2bcb934d-4c05-46f4-860f-366dab101ba4" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-2bcb934d-4c05-46f4-860f-366dab101ba4" value_size:16 lease:5727338820084841757 >> failure:<request_range:<key:"/tooz/lockscinder-2bcb934d-4c05-46f4-860f-366dab101ba4" > >
Jul 28 07:35:41 ubuntu etcd[80353]: start time = 2025-07-28 07:35:41.479533257 +0000 UTC m=+915.606066063, time spent = 632.597µs, remote = 10.201.5.82:46876, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-2bcb934d-4c05-46f4-860f-366dab101ba4" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-2bcb934d-4c05-46f4-860f-366dab101ba4" > > failure:<>
Jul 28 07:35:41 ubuntu etcd[80353]: start time = 2025-07-28 07:35:41.724408464 +0000 UTC m=+915.850941371, time spent = 587.659µs, remote = 10.201.5.82:46876, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 28 07:35:41 ubuntu etcd[80353]: start time = 2025-07-28 07:35:41.727169602 +0000 UTC m=+915.853702404, time spent = 287.01µs, remote = 10.201.5.82:46876, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-2bcb934d-4c05-46f4-860f-366dab101ba4" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-2bcb934d-4c05-46f4-860f-366dab101ba4" value_size:16 lease:5727338820084841761 >> failure:<request_range:<key:"/tooz/lockscinder-2bcb934d-4c05-46f4-860f-366dab101ba4" > >
Jul 28 07:35:43 ubuntu etcd[80353]: start time = 2025-07-28 07:35:43.712842728 +0000 UTC m=+917.839375533, time spent = 312.071µs, remote = 10.201.5.82:46876, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-2bcb934d-4c05-46f4-860f-366dab101ba4" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-2bcb934d-4c05-46f4-860f-366dab101ba4" > > failure:<>
