Nov 21 08:01:14 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Nov 21 08:01:14 ubuntu etcd[67794]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Nov 21 08:01:14 ubuntu etcd[67794]:         A future release of golang/protobuf will delete this package,
Nov 21 08:01:14 ubuntu etcd[67794]:         which has long been excluded from the compatibility promise.
Nov 21 08:01:14 ubuntu etcd[67794]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Nov 21 08:01:14 ubuntu etcd[67794]: Running http and grpc server on single port. This is not recommended for production.
Nov 21 08:01:14 ubuntu etcd[67794]: etcd Version: 3.4.27
Nov 21 08:01:14 ubuntu etcd[67794]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Nov 21 08:01:14 ubuntu etcd[67794]: Git SHA: c92fb80f3
Nov 21 08:01:14 ubuntu etcd[67794]: Go Version: go1.19.10
Nov 21 08:01:14 ubuntu etcd[67794]: Go OS/Arch: linux/amd64
Nov 21 08:01:14 ubuntu etcd[67794]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Nov 21 08:01:14 ubuntu etcd[67794]: Running http and grpc server on single port. This is not recommended for production.
Nov 21 08:01:14 ubuntu etcd[67794]: name = ubuntu
Nov 21 08:01:14 ubuntu etcd[67794]: data dir = /opt/stack/data/etcd
Nov 21 08:01:14 ubuntu etcd[67794]: member dir = /opt/stack/data/etcd/member
Nov 21 08:01:14 ubuntu etcd[67794]: heartbeat = 100ms
Nov 21 08:01:14 ubuntu etcd[67794]: election = 1000ms
Nov 21 08:01:14 ubuntu etcd[67794]: snapshot count = 100000
Nov 21 08:01:14 ubuntu etcd[67794]: advertise client URLs = http://10.201.5.82:2379
Nov 21 08:01:14 ubuntu etcd[67794]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Nov 21 08:01:14 ubuntu etcd[67794]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Nov 21 08:01:14 ubuntu etcd[67794]: raft2024/11/21 08:01:14 INFO: 43038365673ccf7b switched to configuration voters=()
Nov 21 08:01:14 ubuntu etcd[67794]: raft2024/11/21 08:01:14 INFO: 43038365673ccf7b became follower at term 0
Nov 21 08:01:14 ubuntu etcd[67794]: raft2024/11/21 08:01:14 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Nov 21 08:01:14 ubuntu etcd[67794]: raft2024/11/21 08:01:14 INFO: 43038365673ccf7b became follower at term 1
Nov 21 08:01:14 ubuntu etcd[67794]: raft2024/11/21 08:01:14 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Nov 21 08:01:14 ubuntu etcd[67794]: simple token is not cryptographically signed
Nov 21 08:01:14 ubuntu etcd[67794]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Nov 21 08:01:14 ubuntu etcd[67794]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Nov 21 08:01:14 ubuntu etcd[67794]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Nov 21 08:01:14 ubuntu etcd[67794]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Nov 21 08:01:14 ubuntu etcd[67794]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Nov 21 08:01:14 ubuntu etcd[67794]: raft2024/11/21 08:01:14 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Nov 21 08:01:14 ubuntu etcd[67794]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Nov 21 08:01:14 ubuntu etcd[67794]: listening for peers on [::]:2380
Nov 21 08:01:14 ubuntu etcd[67794]: raft2024/11/21 08:01:14 INFO: 43038365673ccf7b is starting a new election at term 1
Nov 21 08:01:14 ubuntu etcd[67794]: raft2024/11/21 08:01:14 INFO: 43038365673ccf7b became candidate at term 2
Nov 21 08:01:14 ubuntu etcd[67794]: raft2024/11/21 08:01:14 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Nov 21 08:01:14 ubuntu etcd[67794]: raft2024/11/21 08:01:14 INFO: 43038365673ccf7b became leader at term 2
Nov 21 08:01:14 ubuntu etcd[67794]: raft2024/11/21 08:01:14 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Nov 21 08:01:14 ubuntu etcd[67794]: setting up the initial cluster version to 3.4
Nov 21 08:01:14 ubuntu etcd[67794]: set the initial cluster version to 3.4
Nov 21 08:01:14 ubuntu etcd[67794]: enabled capabilities for version 3.4
Nov 21 08:01:14 ubuntu etcd[67794]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Nov 21 08:01:14 ubuntu etcd[67794]: ready to serve client requests
Nov 21 08:01:14 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Nov 21 08:01:14 ubuntu etcd[67794]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Nov 21 08:06:15 ubuntu etcd[67794]: start time = 2024-11-21 08:06:15.131790798 +0000 UTC m=+300.642756407, time spent = 1.638169ms, remote = 10.201.5.82:57322, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 21 08:06:15 ubuntu etcd[67794]: start time = 2024-11-21 08:06:15.291547051 +0000 UTC m=+300.802512665, time spent = 228.091µs, remote = 10.201.5.82:57322, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 21 08:06:22 ubuntu etcd[67794]: start time = 2024-11-21 08:06:22.062172227 +0000 UTC m=+307.573137831, time spent = 437.886µs, remote = 10.201.5.82:57322, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 21 08:06:24 ubuntu etcd[67794]: start time = 2024-11-21 08:06:24.279860611 +0000 UTC m=+309.790826230, time spent = 262.233µs, remote = 10.201.5.82:57322, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
