Dec 18 08:40:19 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 18 08:40:19 ubuntu etcd[67703]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 18 08:40:19 ubuntu etcd[67703]:         A future release of golang/protobuf will delete this package,
Dec 18 08:40:19 ubuntu etcd[67703]:         which has long been excluded from the compatibility promise.
Dec 18 08:40:19 ubuntu etcd[67703]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 18 08:40:19 ubuntu etcd[67703]: Running http and grpc server on single port. This is not recommended for production.
Dec 18 08:40:19 ubuntu etcd[67703]: etcd Version: 3.4.27
Dec 18 08:40:19 ubuntu etcd[67703]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 18 08:40:19 ubuntu etcd[67703]: Git SHA: c92fb80f3
Dec 18 08:40:19 ubuntu etcd[67703]: Go Version: go1.19.10
Dec 18 08:40:19 ubuntu etcd[67703]: Go OS/Arch: linux/amd64
Dec 18 08:40:19 ubuntu etcd[67703]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 18 08:40:19 ubuntu etcd[67703]: Running http and grpc server on single port. This is not recommended for production.
Dec 18 08:40:19 ubuntu etcd[67703]: name = ubuntu
Dec 18 08:40:19 ubuntu etcd[67703]: data dir = /opt/stack/data/etcd
Dec 18 08:40:19 ubuntu etcd[67703]: member dir = /opt/stack/data/etcd/member
Dec 18 08:40:19 ubuntu etcd[67703]: heartbeat = 100ms
Dec 18 08:40:19 ubuntu etcd[67703]: election = 1000ms
Dec 18 08:40:19 ubuntu etcd[67703]: snapshot count = 100000
Dec 18 08:40:19 ubuntu etcd[67703]: advertise client URLs = http://10.201.5.82:2379
Dec 18 08:40:19 ubuntu etcd[67703]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Dec 18 08:40:19 ubuntu etcd[67703]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Dec 18 08:40:19 ubuntu etcd[67703]: raft2024/12/18 08:40:19 INFO: 43038365673ccf7b switched to configuration voters=()
Dec 18 08:40:19 ubuntu etcd[67703]: raft2024/12/18 08:40:19 INFO: 43038365673ccf7b became follower at term 0
Dec 18 08:40:19 ubuntu etcd[67703]: raft2024/12/18 08:40:19 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Dec 18 08:40:19 ubuntu etcd[67703]: raft2024/12/18 08:40:19 INFO: 43038365673ccf7b became follower at term 1
Dec 18 08:40:19 ubuntu etcd[67703]: raft2024/12/18 08:40:19 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Dec 18 08:40:19 ubuntu etcd[67703]: simple token is not cryptographically signed
Dec 18 08:40:19 ubuntu etcd[67703]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Dec 18 08:40:19 ubuntu etcd[67703]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Dec 18 08:40:19 ubuntu etcd[67703]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Dec 18 08:40:19 ubuntu etcd[67703]: raft2024/12/18 08:40:19 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Dec 18 08:40:19 ubuntu etcd[67703]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Dec 18 08:40:19 ubuntu etcd[67703]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Dec 18 08:40:19 ubuntu etcd[67703]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Dec 18 08:40:19 ubuntu etcd[67703]: listening for peers on [::]:2380
Dec 18 08:40:19 ubuntu etcd[67703]: raft2024/12/18 08:40:19 INFO: 43038365673ccf7b is starting a new election at term 1
Dec 18 08:40:19 ubuntu etcd[67703]: raft2024/12/18 08:40:19 INFO: 43038365673ccf7b became candidate at term 2
Dec 18 08:40:19 ubuntu etcd[67703]: raft2024/12/18 08:40:19 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Dec 18 08:40:19 ubuntu etcd[67703]: raft2024/12/18 08:40:19 INFO: 43038365673ccf7b became leader at term 2
Dec 18 08:40:19 ubuntu etcd[67703]: raft2024/12/18 08:40:19 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Dec 18 08:40:19 ubuntu etcd[67703]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Dec 18 08:40:19 ubuntu etcd[67703]: setting up the initial cluster version to 3.4
Dec 18 08:40:19 ubuntu etcd[67703]: ready to serve client requests
Dec 18 08:40:19 ubuntu etcd[67703]: set the initial cluster version to 3.4
Dec 18 08:40:19 ubuntu etcd[67703]: enabled capabilities for version 3.4
Dec 18 08:40:19 ubuntu etcd[67703]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Dec 18 08:40:19 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Dec 18 08:45:16 ubuntu etcd[67703]: start time = 2024-12-18 08:45:16.968463738 +0000 UTC m=+297.426488592, time spent = 949.517µs, remote = 10.201.5.82:43466, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 18 08:45:16 ubuntu etcd[67703]: start time = 2024-12-18 08:45:16.96856901 +0000 UTC m=+297.426593871, time spent = 850.329µs, remote = 10.201.5.82:43466, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 18 08:45:23 ubuntu etcd[67703]: start time = 2024-12-18 08:45:23.793969832 +0000 UTC m=+304.251994697, time spent = 214.102µs, remote = 10.201.5.82:43466, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 18 08:45:25 ubuntu etcd[67703]: start time = 2024-12-18 08:45:25.748935268 +0000 UTC m=+306.206960128, time spent = 322.882µs, remote = 10.201.5.82:43466, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 18 08:48:13 ubuntu etcd[67703]: start time = 2024-12-18 08:48:13.877926511 +0000 UTC m=+474.335951372, time spent = 388.24µs, remote = 10.201.5.82:43466, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 18 08:48:13 ubuntu etcd[67703]: start time = 2024-12-18 08:48:13.895909885 +0000 UTC m=+474.353934745, time spent = 207.387µs, remote = 10.201.5.82:43466, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 18 08:48:16 ubuntu etcd[67703]: start time = 2024-12-18 08:48:16.096261125 +0000 UTC m=+476.554285982, time spent = 192.914µs, remote = 10.201.5.82:43466, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 18 08:48:18 ubuntu etcd[67703]: start time = 2024-12-18 08:48:18.203786859 +0000 UTC m=+478.661811714, time spent = 187.384µs, remote = 10.201.5.82:43466, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 18 08:50:14 ubuntu etcd[67703]: start time = 2024-12-18 08:50:14.613767545 +0000 UTC m=+595.071792414, time spent = 508.868µs, remote = 10.201.5.82:43466, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 18 08:50:14 ubuntu etcd[67703]: start time = 2024-12-18 08:50:14.618814365 +0000 UTC m=+595.076839209, time spent = 1.152748ms, remote = 10.201.5.82:43466, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-96fa94a4-c2a6-4cf2-92ea-1669978664b7" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-96fa94a4-c2a6-4cf2-92ea-1669978664b7" value_size:16 lease:5727333911027221529 >> failure:<request_range:<key:"/tooz/lockscinder-96fa94a4-c2a6-4cf2-92ea-1669978664b7" > >
Dec 18 08:50:17 ubuntu etcd[67703]: start time = 2024-12-18 08:50:17.393959246 +0000 UTC m=+597.851984197, time spent = 530.346µs, remote = 10.201.5.82:43466, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-96fa94a4-c2a6-4cf2-92ea-1669978664b7" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-96fa94a4-c2a6-4cf2-92ea-1669978664b7" > > failure:<>
Dec 18 08:50:17 ubuntu etcd[67703]: start time = 2024-12-18 08:50:17.622842924 +0000 UTC m=+598.080867786, time spent = 289.324µs, remote = 10.201.5.82:43466, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 18 08:50:17 ubuntu etcd[67703]: start time = 2024-12-18 08:50:17.624819837 +0000 UTC m=+598.082844693, time spent = 183.268µs, remote = 10.201.5.82:43466, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-96fa94a4-c2a6-4cf2-92ea-1669978664b7" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-96fa94a4-c2a6-4cf2-92ea-1669978664b7" value_size:16 lease:5727333911027221533 >> failure:<request_range:<key:"/tooz/lockscinder-96fa94a4-c2a6-4cf2-92ea-1669978664b7" > >
Dec 18 08:50:18 ubuntu etcd[67703]: start time = 2024-12-18 08:50:18.406502448 +0000 UTC m=+598.864527324, time spent = 216.574µs, remote = 10.201.5.82:43466, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-96fa94a4-c2a6-4cf2-92ea-1669978664b7" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-96fa94a4-c2a6-4cf2-92ea-1669978664b7" > > failure:<>
Dec 18 08:50:18 ubuntu etcd[67703]: start time = 2024-12-18 08:50:18.60643172 +0000 UTC m=+599.064456579, time spent = 259.533µs, remote = 10.201.5.82:43466, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 18 08:50:18 ubuntu etcd[67703]: start time = 2024-12-18 08:50:18.608393506 +0000 UTC m=+599.066418367, time spent = 185.949µs, remote = 10.201.5.82:43466, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-96fa94a4-c2a6-4cf2-92ea-1669978664b7" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-96fa94a4-c2a6-4cf2-92ea-1669978664b7" value_size:16 lease:5727333911027221537 >> failure:<request_range:<key:"/tooz/lockscinder-96fa94a4-c2a6-4cf2-92ea-1669978664b7" > >
Dec 18 08:50:19 ubuntu etcd[67703]: start time = 2024-12-18 08:50:19.372917407 +0000 UTC m=+599.830942316, time spent = 386.694µs, remote = 10.201.5.82:43466, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-96fa94a4-c2a6-4cf2-92ea-1669978664b7" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-96fa94a4-c2a6-4cf2-92ea-1669978664b7" > > failure:<>
