Mar 26 03:00:55 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 26 03:00:55 ubuntu etcd[79497]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 26 03:00:55 ubuntu etcd[79497]:         A future release of golang/protobuf will delete this package,
Mar 26 03:00:55 ubuntu etcd[79497]:         which has long been excluded from the compatibility promise.
Mar 26 03:00:55 ubuntu etcd[79497]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 26 03:00:55 ubuntu etcd[79497]: Running http and grpc server on single port. This is not recommended for production.
Mar 26 03:00:55 ubuntu etcd[79497]: etcd Version: 3.4.27
Mar 26 03:00:55 ubuntu etcd[79497]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 26 03:00:55 ubuntu etcd[79497]: Git SHA: c92fb80f3
Mar 26 03:00:55 ubuntu etcd[79497]: Go Version: go1.19.10
Mar 26 03:00:55 ubuntu etcd[79497]: Go OS/Arch: linux/amd64
Mar 26 03:00:55 ubuntu etcd[79497]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 26 03:00:55 ubuntu etcd[79497]: Running http and grpc server on single port. This is not recommended for production.
Mar 26 03:00:55 ubuntu etcd[79497]: name = ubuntu
Mar 26 03:00:55 ubuntu etcd[79497]: data dir = /opt/stack/data/etcd
Mar 26 03:00:55 ubuntu etcd[79497]: member dir = /opt/stack/data/etcd/member
Mar 26 03:00:55 ubuntu etcd[79497]: heartbeat = 100ms
Mar 26 03:00:55 ubuntu etcd[79497]: election = 1000ms
Mar 26 03:00:55 ubuntu etcd[79497]: snapshot count = 100000
Mar 26 03:00:55 ubuntu etcd[79497]: advertise client URLs = http://10.201.5.82:2379
Mar 26 03:00:55 ubuntu etcd[79497]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 26 03:00:55 ubuntu etcd[79497]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Mar 26 03:00:55 ubuntu etcd[79497]: raft2025/03/26 03:00:55 INFO: 43038365673ccf7b switched to configuration voters=()
Mar 26 03:00:55 ubuntu etcd[79497]: raft2025/03/26 03:00:55 INFO: 43038365673ccf7b became follower at term 0
Mar 26 03:00:55 ubuntu etcd[79497]: raft2025/03/26 03:00:55 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 26 03:00:55 ubuntu etcd[79497]: raft2025/03/26 03:00:55 INFO: 43038365673ccf7b became follower at term 1
Mar 26 03:00:55 ubuntu etcd[79497]: raft2025/03/26 03:00:55 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 26 03:00:55 ubuntu etcd[79497]: simple token is not cryptographically signed
Mar 26 03:00:55 ubuntu etcd[79497]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 26 03:00:55 ubuntu etcd[79497]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 26 03:00:55 ubuntu etcd[79497]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 26 03:00:55 ubuntu etcd[79497]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 26 03:00:55 ubuntu etcd[79497]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 26 03:00:55 ubuntu etcd[79497]: raft2025/03/26 03:00:55 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 26 03:00:55 ubuntu etcd[79497]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Mar 26 03:00:55 ubuntu etcd[79497]: listening for peers on [::]:2380
Mar 26 03:00:55 ubuntu etcd[79497]: raft2025/03/26 03:00:55 INFO: 43038365673ccf7b is starting a new election at term 1
Mar 26 03:00:55 ubuntu etcd[79497]: raft2025/03/26 03:00:55 INFO: 43038365673ccf7b became candidate at term 2
Mar 26 03:00:55 ubuntu etcd[79497]: raft2025/03/26 03:00:55 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Mar 26 03:00:55 ubuntu etcd[79497]: raft2025/03/26 03:00:55 INFO: 43038365673ccf7b became leader at term 2
Mar 26 03:00:55 ubuntu etcd[79497]: raft2025/03/26 03:00:55 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Mar 26 03:00:55 ubuntu etcd[79497]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Mar 26 03:00:55 ubuntu etcd[79497]: ready to serve client requests
Mar 26 03:00:55 ubuntu etcd[79497]: setting up the initial cluster version to 3.4
Mar 26 03:00:55 ubuntu etcd[79497]: set the initial cluster version to 3.4
Mar 26 03:00:55 ubuntu etcd[79497]: enabled capabilities for version 3.4
Mar 26 03:00:55 ubuntu etcd[79497]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Mar 26 03:00:55 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 26 03:05:40 ubuntu etcd[79497]: start time = 2025-03-26 03:05:40.649510235 +0000 UTC m=+285.171259079, time spent = 608.904µs, remote = 10.201.5.82:50118, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 26 03:05:40 ubuntu etcd[79497]: start time = 2025-03-26 03:05:40.663361636 +0000 UTC m=+285.185110491, time spent = 202.179µs, remote = 10.201.5.82:50118, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 26 03:05:47 ubuntu etcd[79497]: start time = 2025-03-26 03:05:47.329114836 +0000 UTC m=+291.850863679, time spent = 300.839µs, remote = 10.201.5.82:50118, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 26 03:05:49 ubuntu etcd[79497]: start time = 2025-03-26 03:05:49.306038377 +0000 UTC m=+293.827787233, time spent = 1.126639ms, remote = 10.201.5.82:50118, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 26 03:08:41 ubuntu etcd[79497]: start time = 2025-03-26 03:08:41.519488392 +0000 UTC m=+466.041237247, time spent = 542.818µs, remote = 10.201.5.82:50118, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 26 03:08:41 ubuntu etcd[79497]: start time = 2025-03-26 03:08:41.885170566 +0000 UTC m=+466.406919473, time spent = 304.126µs, remote = 10.201.5.82:50118, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 26 03:08:41 ubuntu etcd[79497]: start time = 2025-03-26 03:08:41.934946477 +0000 UTC m=+466.456695330, time spent = 229.083µs, remote = 10.201.5.82:50118, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 26 03:08:44 ubuntu etcd[79497]: start time = 2025-03-26 03:08:44.45948123 +0000 UTC m=+468.981230086, time spent = 193.085µs, remote = 10.201.5.82:50118, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
