Dec 12 06:15:31 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 12 06:15:31 ubuntu etcd[67776]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 12 06:15:31 ubuntu etcd[67776]:         A future release of golang/protobuf will delete this package,
Dec 12 06:15:31 ubuntu etcd[67776]:         which has long been excluded from the compatibility promise.
Dec 12 06:15:31 ubuntu etcd[67776]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 12 06:15:31 ubuntu etcd[67776]: Running http and grpc server on single port. This is not recommended for production.
Dec 12 06:15:31 ubuntu etcd[67776]: etcd Version: 3.4.27
Dec 12 06:15:31 ubuntu etcd[67776]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 12 06:15:31 ubuntu etcd[67776]: Git SHA: c92fb80f3
Dec 12 06:15:31 ubuntu etcd[67776]: Go Version: go1.19.10
Dec 12 06:15:31 ubuntu etcd[67776]: Go OS/Arch: linux/amd64
Dec 12 06:15:31 ubuntu etcd[67776]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 12 06:15:31 ubuntu etcd[67776]: Running http and grpc server on single port. This is not recommended for production.
Dec 12 06:15:31 ubuntu etcd[67776]: name = ubuntu
Dec 12 06:15:31 ubuntu etcd[67776]: data dir = /opt/stack/data/etcd
Dec 12 06:15:31 ubuntu etcd[67776]: member dir = /opt/stack/data/etcd/member
Dec 12 06:15:31 ubuntu etcd[67776]: heartbeat = 100ms
Dec 12 06:15:31 ubuntu etcd[67776]: election = 1000ms
Dec 12 06:15:31 ubuntu etcd[67776]: snapshot count = 100000
Dec 12 06:15:31 ubuntu etcd[67776]: advertise client URLs = http://10.201.5.82:2379
Dec 12 06:15:31 ubuntu etcd[67776]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Dec 12 06:15:31 ubuntu etcd[67776]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Dec 12 06:15:31 ubuntu etcd[67776]: raft2024/12/12 06:15:31 INFO: 43038365673ccf7b switched to configuration voters=()
Dec 12 06:15:31 ubuntu etcd[67776]: raft2024/12/12 06:15:31 INFO: 43038365673ccf7b became follower at term 0
Dec 12 06:15:31 ubuntu etcd[67776]: raft2024/12/12 06:15:31 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Dec 12 06:15:31 ubuntu etcd[67776]: raft2024/12/12 06:15:31 INFO: 43038365673ccf7b became follower at term 1
Dec 12 06:15:31 ubuntu etcd[67776]: raft2024/12/12 06:15:31 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Dec 12 06:15:31 ubuntu etcd[67776]: simple token is not cryptographically signed
Dec 12 06:15:31 ubuntu etcd[67776]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Dec 12 06:15:31 ubuntu etcd[67776]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Dec 12 06:15:31 ubuntu etcd[67776]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Dec 12 06:15:31 ubuntu etcd[67776]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Dec 12 06:15:31 ubuntu etcd[67776]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Dec 12 06:15:31 ubuntu etcd[67776]: raft2024/12/12 06:15:31 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Dec 12 06:15:31 ubuntu etcd[67776]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Dec 12 06:15:31 ubuntu etcd[67776]: listening for peers on [::]:2380
Dec 12 06:15:31 ubuntu etcd[67776]: raft2024/12/12 06:15:31 INFO: 43038365673ccf7b is starting a new election at term 1
Dec 12 06:15:31 ubuntu etcd[67776]: raft2024/12/12 06:15:31 INFO: 43038365673ccf7b became candidate at term 2
Dec 12 06:15:31 ubuntu etcd[67776]: raft2024/12/12 06:15:31 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Dec 12 06:15:31 ubuntu etcd[67776]: raft2024/12/12 06:15:31 INFO: 43038365673ccf7b became leader at term 2
Dec 12 06:15:31 ubuntu etcd[67776]: raft2024/12/12 06:15:31 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Dec 12 06:15:31 ubuntu etcd[67776]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Dec 12 06:15:31 ubuntu etcd[67776]: ready to serve client requests
Dec 12 06:15:31 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Dec 12 06:15:31 ubuntu etcd[67776]: setting up the initial cluster version to 3.4
Dec 12 06:15:31 ubuntu etcd[67776]: set the initial cluster version to 3.4
Dec 12 06:15:31 ubuntu etcd[67776]: enabled capabilities for version 3.4
Dec 12 06:15:31 ubuntu etcd[67776]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Dec 12 06:20:27 ubuntu etcd[67776]: start time = 2024-12-12 06:20:27.522754258 +0000 UTC m=+296.505820151, time spent = 1.787786ms, remote = 10.201.5.82:45892, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 12 06:20:27 ubuntu etcd[67776]: start time = 2024-12-12 06:20:27.574372973 +0000 UTC m=+296.557438867, time spent = 245.678µs, remote = 10.201.5.82:45892, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 12 06:20:35 ubuntu etcd[67776]: start time = 2024-12-12 06:20:35.005173845 +0000 UTC m=+303.988239739, time spent = 204.531µs, remote = 10.201.5.82:45892, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 12 06:20:37 ubuntu etcd[67776]: start time = 2024-12-12 06:20:37.098757201 +0000 UTC m=+306.081823095, time spent = 187.415µs, remote = 10.201.5.82:45892, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
