Jul 10 13:40:42 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 10 13:40:42 ubuntu etcd[67048]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 10 13:40:42 ubuntu etcd[67048]:         A future release of golang/protobuf will delete this package,
Jul 10 13:40:42 ubuntu etcd[67048]:         which has long been excluded from the compatibility promise.
Jul 10 13:40:42 ubuntu etcd[67048]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 10 13:40:42 ubuntu etcd[67048]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 10 13:40:42 ubuntu etcd[67048]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 10 13:40:42 ubuntu etcd[67048]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 10 13:40:42 ubuntu etcd[67048]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 10 13:40:42 ubuntu etcd[67048]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 10 13:40:42 ubuntu etcd[67048]: Running http and grpc server on single port. This is not recommended for production.
Jul 10 13:40:42 ubuntu etcd[67048]: etcd Version: 3.4.27
Jul 10 13:40:42 ubuntu etcd[67048]: Git SHA: c92fb80f3
Jul 10 13:40:42 ubuntu etcd[67048]: Go Version: go1.19.10
Jul 10 13:40:42 ubuntu etcd[67048]: Go OS/Arch: linux/amd64
Jul 10 13:40:42 ubuntu etcd[67048]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 10 13:40:42 ubuntu etcd[67048]: Running http and grpc server on single port. This is not recommended for production.
Jul 10 13:40:42 ubuntu etcd[67048]: name = ubuntu
Jul 10 13:40:42 ubuntu etcd[67048]: data dir = /opt/stack/data/etcd
Jul 10 13:40:42 ubuntu etcd[67048]: member dir = /opt/stack/data/etcd/member
Jul 10 13:40:42 ubuntu etcd[67048]: heartbeat = 100ms
Jul 10 13:40:42 ubuntu etcd[67048]: election = 1000ms
Jul 10 13:40:42 ubuntu etcd[67048]: snapshot count = 100000
Jul 10 13:40:42 ubuntu etcd[67048]: advertise client URLs = http://10.201.5.82:2379
Jul 10 13:40:42 ubuntu etcd[67048]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 10 13:40:42 ubuntu etcd[67048]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jul 10 13:40:42 ubuntu etcd[67048]: raft2024/07/10 13:40:42 INFO: 43038365673ccf7b switched to configuration voters=()
Jul 10 13:40:42 ubuntu etcd[67048]: raft2024/07/10 13:40:42 INFO: 43038365673ccf7b became follower at term 0
Jul 10 13:40:42 ubuntu etcd[67048]: raft2024/07/10 13:40:42 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 10 13:40:42 ubuntu etcd[67048]: raft2024/07/10 13:40:42 INFO: 43038365673ccf7b became follower at term 1
Jul 10 13:40:42 ubuntu etcd[67048]: raft2024/07/10 13:40:42 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 10 13:40:42 ubuntu etcd[67048]: simple token is not cryptographically signed
Jul 10 13:40:42 ubuntu etcd[67048]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 10 13:40:42 ubuntu etcd[67048]: raft2024/07/10 13:40:42 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 10 13:40:42 ubuntu etcd[67048]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jul 10 13:40:42 ubuntu etcd[67048]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 10 13:40:42 ubuntu etcd[67048]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 10 13:40:42 ubuntu etcd[67048]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 10 13:40:42 ubuntu etcd[67048]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 10 13:40:42 ubuntu etcd[67048]: listening for peers on [::]:2380
Jul 10 13:40:43 ubuntu etcd[67048]: raft2024/07/10 13:40:43 INFO: 43038365673ccf7b is starting a new election at term 1
Jul 10 13:40:43 ubuntu etcd[67048]: raft2024/07/10 13:40:43 INFO: 43038365673ccf7b became candidate at term 2
Jul 10 13:40:43 ubuntu etcd[67048]: raft2024/07/10 13:40:43 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jul 10 13:40:43 ubuntu etcd[67048]: raft2024/07/10 13:40:43 INFO: 43038365673ccf7b became leader at term 2
Jul 10 13:40:43 ubuntu etcd[67048]: raft2024/07/10 13:40:43 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jul 10 13:40:43 ubuntu etcd[67048]: INFO: 2024/07/10 13:40:43 parsed scheme: ""
Jul 10 13:40:43 ubuntu etcd[67048]: INFO: 2024/07/10 13:40:43 scheme "" not registered, fallback to default scheme
Jul 10 13:40:43 ubuntu etcd[67048]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jul 10 13:40:43 ubuntu etcd[67048]: INFO: 2024/07/10 13:40:43 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Jul 10 13:40:43 ubuntu etcd[67048]: INFO: 2024/07/10 13:40:43 ClientConn switching balancer to "pick_first"
Jul 10 13:40:43 ubuntu etcd[67048]: ready to serve client requests
Jul 10 13:40:43 ubuntu etcd[67048]: setting up the initial cluster version to 3.4
Jul 10 13:40:43 ubuntu etcd[67048]: set the initial cluster version to 3.4
Jul 10 13:40:43 ubuntu etcd[67048]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jul 10 13:40:43 ubuntu etcd[67048]: enabled capabilities for version 3.4
Jul 10 13:40:43 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 10 13:46:30 ubuntu etcd[67048]: start time = 2024-07-10 13:46:30.934427126 +0000 UTC m=+348.026385094, time spent = 2.00226ms, remote = 10.201.5.82:58042, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 10 13:46:30 ubuntu etcd[67048]: start time = 2024-07-10 13:46:30.976299698 +0000 UTC m=+348.068257675, time spent = 247.368µs, remote = 10.201.5.82:58042, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 10 13:46:38 ubuntu etcd[67048]: start time = 2024-07-10 13:46:38.09301669 +0000 UTC m=+355.184974670, time spent = 209.347µs, remote = 10.201.5.82:58042, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 10 13:46:40 ubuntu etcd[67048]: start time = 2024-07-10 13:46:40.02228842 +0000 UTC m=+357.114246398, time spent = 964.428µs, remote = 10.201.5.82:58042, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
