Feb 27 12:49:55 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Feb 27 12:49:55 ubuntu etcd[65535]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Feb 27 12:49:55 ubuntu etcd[65535]:         A future release of golang/protobuf will delete this package,
Feb 27 12:49:55 ubuntu etcd[65535]:         which has long been excluded from the compatibility promise.
Feb 27 12:49:55 ubuntu etcd[65535]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 27 12:49:55 ubuntu etcd[65535]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 27 12:49:55 ubuntu etcd[65535]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 27 12:49:55 ubuntu etcd[65535]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 27 12:49:55 ubuntu etcd[65535]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 27 12:49:55 ubuntu etcd[65535]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 27 12:49:55 ubuntu etcd[65535]: Running http and grpc server on single port. This is not recommended for production.
Feb 27 12:49:55 ubuntu etcd[65535]: etcd Version: 3.4.27
Feb 27 12:49:55 ubuntu etcd[65535]: Git SHA: c92fb80f3
Feb 27 12:49:55 ubuntu etcd[65535]: Go Version: go1.19.10
Feb 27 12:49:55 ubuntu etcd[65535]: Go OS/Arch: linux/amd64
Feb 27 12:49:55 ubuntu etcd[65535]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Feb 27 12:49:55 ubuntu etcd[65535]: Running http and grpc server on single port. This is not recommended for production.
Feb 27 12:49:55 ubuntu etcd[65535]: name = ubuntu
Feb 27 12:49:55 ubuntu etcd[65535]: data dir = /opt/stack/data/etcd
Feb 27 12:49:55 ubuntu etcd[65535]: member dir = /opt/stack/data/etcd/member
Feb 27 12:49:55 ubuntu etcd[65535]: heartbeat = 100ms
Feb 27 12:49:55 ubuntu etcd[65535]: election = 1000ms
Feb 27 12:49:55 ubuntu etcd[65535]: snapshot count = 100000
Feb 27 12:49:55 ubuntu etcd[65535]: advertise client URLs = http://10.201.5.82:2379
Feb 27 12:49:55 ubuntu etcd[65535]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Feb 27 12:49:55 ubuntu etcd[65535]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Feb 27 12:49:55 ubuntu etcd[65535]: raft2024/02/27 12:49:55 INFO: 43038365673ccf7b switched to configuration voters=()
Feb 27 12:49:55 ubuntu etcd[65535]: raft2024/02/27 12:49:55 INFO: 43038365673ccf7b became follower at term 0
Feb 27 12:49:55 ubuntu etcd[65535]: raft2024/02/27 12:49:55 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Feb 27 12:49:55 ubuntu etcd[65535]: raft2024/02/27 12:49:55 INFO: 43038365673ccf7b became follower at term 1
Feb 27 12:49:55 ubuntu etcd[65535]: raft2024/02/27 12:49:55 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Feb 27 12:49:55 ubuntu etcd[65535]: simple token is not cryptographically signed
Feb 27 12:49:55 ubuntu etcd[65535]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Feb 27 12:49:55 ubuntu etcd[65535]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Feb 27 12:49:55 ubuntu etcd[65535]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Feb 27 12:49:55 ubuntu etcd[65535]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Feb 27 12:49:55 ubuntu etcd[65535]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Feb 27 12:49:55 ubuntu etcd[65535]: raft2024/02/27 12:49:55 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Feb 27 12:49:55 ubuntu etcd[65535]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Feb 27 12:49:55 ubuntu etcd[65535]: listening for peers on [::]:2380
Feb 27 12:49:56 ubuntu etcd[65535]: raft2024/02/27 12:49:56 INFO: 43038365673ccf7b is starting a new election at term 1
Feb 27 12:49:56 ubuntu etcd[65535]: raft2024/02/27 12:49:56 INFO: 43038365673ccf7b became candidate at term 2
Feb 27 12:49:56 ubuntu etcd[65535]: raft2024/02/27 12:49:56 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Feb 27 12:49:56 ubuntu etcd[65535]: raft2024/02/27 12:49:56 INFO: 43038365673ccf7b became leader at term 2
Feb 27 12:49:56 ubuntu etcd[65535]: raft2024/02/27 12:49:56 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Feb 27 12:49:56 ubuntu etcd[65535]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Feb 27 12:49:56 ubuntu etcd[65535]: setting up the initial cluster version to 3.4
Feb 27 12:49:56 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Feb 27 12:49:56 ubuntu etcd[65535]: ready to serve client requests
Feb 27 12:49:56 ubuntu etcd[65535]: INFO: 2024/02/27 12:49:56 parsed scheme: ""
Feb 27 12:49:56 ubuntu etcd[65535]: INFO: 2024/02/27 12:49:56 scheme "" not registered, fallback to default scheme
Feb 27 12:49:56 ubuntu etcd[65535]: INFO: 2024/02/27 12:49:56 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Feb 27 12:49:56 ubuntu etcd[65535]: INFO: 2024/02/27 12:49:56 ClientConn switching balancer to "pick_first"
Feb 27 12:49:56 ubuntu etcd[65535]: set the initial cluster version to 3.4
Feb 27 12:49:56 ubuntu etcd[65535]: enabled capabilities for version 3.4
Feb 27 12:49:56 ubuntu etcd[65535]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Feb 27 12:56:13 ubuntu etcd[65535]: start time = 2024-02-27 12:56:13.078623827 +0000 UTC m=+377.850805430, time spent = 3.317634ms, remote = 10.201.5.82:43912, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 27 12:56:13 ubuntu etcd[65535]: start time = 2024-02-27 12:56:13.078623587 +0000 UTC m=+377.850805181, time spent = 3.370388ms, remote = 10.201.5.82:43912, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 27 12:56:20 ubuntu etcd[65535]: start time = 2024-02-27 12:56:20.007051777 +0000 UTC m=+384.779233428, time spent = 545.07µs, remote = 10.201.5.82:43912, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 27 12:56:22 ubuntu etcd[65535]: start time = 2024-02-27 12:56:22.1300376 +0000 UTC m=+386.902219192, time spent = 516.82µs, remote = 10.201.5.82:43912, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 27 13:01:48 ubuntu etcd[65535]: start time = 2024-02-27 13:01:48.129845517 +0000 UTC m=+712.902027120, time spent = 509.404µs, remote = 10.201.5.82:43912, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 27 13:01:49 ubuntu etcd[65535]: start time = 2024-02-27 13:01:49.403510152 +0000 UTC m=+714.175691807, time spent = 381.057µs, remote = 10.201.5.82:43912, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 27 13:01:49 ubuntu etcd[65535]: start time = 2024-02-27 13:01:49.431371552 +0000 UTC m=+714.203553176, time spent = 256.696µs, remote = 10.201.5.82:43912, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 27 13:01:51 ubuntu etcd[65535]: start time = 2024-02-27 13:01:51.119532102 +0000 UTC m=+715.891713792, time spent = 458.526µs, remote = 10.201.5.82:43912, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
