Feb 27 11:49:21 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Feb 27 11:49:21 ubuntu etcd[65580]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Feb 27 11:49:21 ubuntu etcd[65580]:         A future release of golang/protobuf will delete this package,
Feb 27 11:49:21 ubuntu etcd[65580]:         which has long been excluded from the compatibility promise.
Feb 27 11:49:21 ubuntu etcd[65580]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 27 11:49:21 ubuntu etcd[65580]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 27 11:49:21 ubuntu etcd[65580]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 27 11:49:21 ubuntu etcd[65580]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 27 11:49:21 ubuntu etcd[65580]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 27 11:49:21 ubuntu etcd[65580]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 27 11:49:21 ubuntu etcd[65580]: Running http and grpc server on single port. This is not recommended for production.
Feb 27 11:49:21 ubuntu etcd[65580]: etcd Version: 3.4.27
Feb 27 11:49:21 ubuntu etcd[65580]: Git SHA: c92fb80f3
Feb 27 11:49:21 ubuntu etcd[65580]: Go Version: go1.19.10
Feb 27 11:49:21 ubuntu etcd[65580]: Go OS/Arch: linux/amd64
Feb 27 11:49:21 ubuntu etcd[65580]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Feb 27 11:49:21 ubuntu etcd[65580]: Running http and grpc server on single port. This is not recommended for production.
Feb 27 11:49:21 ubuntu etcd[65580]: name = ubuntu
Feb 27 11:49:21 ubuntu etcd[65580]: data dir = /opt/stack/data/etcd
Feb 27 11:49:21 ubuntu etcd[65580]: member dir = /opt/stack/data/etcd/member
Feb 27 11:49:21 ubuntu etcd[65580]: heartbeat = 100ms
Feb 27 11:49:21 ubuntu etcd[65580]: election = 1000ms
Feb 27 11:49:21 ubuntu etcd[65580]: snapshot count = 100000
Feb 27 11:49:21 ubuntu etcd[65580]: advertise client URLs = http://10.201.5.82:2379
Feb 27 11:49:21 ubuntu etcd[65580]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Feb 27 11:49:21 ubuntu etcd[65580]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Feb 27 11:49:21 ubuntu etcd[65580]: raft2024/02/27 11:49:21 INFO: 43038365673ccf7b switched to configuration voters=()
Feb 27 11:49:21 ubuntu etcd[65580]: raft2024/02/27 11:49:21 INFO: 43038365673ccf7b became follower at term 0
Feb 27 11:49:21 ubuntu etcd[65580]: raft2024/02/27 11:49:21 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Feb 27 11:49:21 ubuntu etcd[65580]: raft2024/02/27 11:49:21 INFO: 43038365673ccf7b became follower at term 1
Feb 27 11:49:21 ubuntu etcd[65580]: raft2024/02/27 11:49:21 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Feb 27 11:49:21 ubuntu etcd[65580]: simple token is not cryptographically signed
Feb 27 11:49:21 ubuntu etcd[65580]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Feb 27 11:49:21 ubuntu etcd[65580]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Feb 27 11:49:21 ubuntu etcd[65580]: raft2024/02/27 11:49:21 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Feb 27 11:49:21 ubuntu etcd[65580]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Feb 27 11:49:21 ubuntu etcd[65580]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Feb 27 11:49:21 ubuntu etcd[65580]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Feb 27 11:49:21 ubuntu etcd[65580]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Feb 27 11:49:21 ubuntu etcd[65580]: listening for peers on [::]:2380
Feb 27 11:49:21 ubuntu etcd[65580]: raft2024/02/27 11:49:21 INFO: 43038365673ccf7b is starting a new election at term 1
Feb 27 11:49:21 ubuntu etcd[65580]: raft2024/02/27 11:49:21 INFO: 43038365673ccf7b became candidate at term 2
Feb 27 11:49:21 ubuntu etcd[65580]: raft2024/02/27 11:49:21 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Feb 27 11:49:21 ubuntu etcd[65580]: raft2024/02/27 11:49:21 INFO: 43038365673ccf7b became leader at term 2
Feb 27 11:49:21 ubuntu etcd[65580]: raft2024/02/27 11:49:21 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Feb 27 11:49:21 ubuntu etcd[65580]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Feb 27 11:49:21 ubuntu etcd[65580]: INFO: 2024/02/27 11:49:21 parsed scheme: ""
Feb 27 11:49:21 ubuntu etcd[65580]: INFO: 2024/02/27 11:49:21 scheme "" not registered, fallback to default scheme
Feb 27 11:49:21 ubuntu etcd[65580]: INFO: 2024/02/27 11:49:21 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Feb 27 11:49:21 ubuntu etcd[65580]: INFO: 2024/02/27 11:49:21 ClientConn switching balancer to "pick_first"
Feb 27 11:49:21 ubuntu etcd[65580]: ready to serve client requests
Feb 27 11:49:21 ubuntu etcd[65580]: setting up the initial cluster version to 3.4
Feb 27 11:49:21 ubuntu etcd[65580]: set the initial cluster version to 3.4
Feb 27 11:49:21 ubuntu etcd[65580]: enabled capabilities for version 3.4
Feb 27 11:49:21 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Feb 27 11:49:21 ubuntu etcd[65580]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Feb 27 11:55:55 ubuntu etcd[65580]: start time = 2024-02-27 11:55:55.186179718 +0000 UTC m=+394.080041488, time spent = 2.054606ms, remote = 10.201.5.82:46682, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 27 11:55:55 ubuntu etcd[65580]: start time = 2024-02-27 11:55:55.334903012 +0000 UTC m=+394.228764780, time spent = 263.331µs, remote = 10.201.5.82:46682, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 27 11:56:02 ubuntu etcd[65580]: start time = 2024-02-27 11:56:02.188891967 +0000 UTC m=+401.082753738, time spent = 188.833µs, remote = 10.201.5.82:46682, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 27 11:56:03 ubuntu etcd[65580]: start time = 2024-02-27 11:56:03.97393752 +0000 UTC m=+402.867799290, time spent = 381.416µs, remote = 10.201.5.82:46682, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 27 12:01:22 ubuntu etcd[65580]: start time = 2024-02-27 12:01:22.747255783 +0000 UTC m=+721.641117551, time spent = 315.503µs, remote = 10.201.5.82:46682, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 27 12:01:23 ubuntu etcd[65580]: start time = 2024-02-27 12:01:23.963266063 +0000 UTC m=+722.857127921, time spent = 355.57µs, remote = 10.201.5.82:46682, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 27 12:01:23 ubuntu etcd[65580]: start time = 2024-02-27 12:01:23.989477886 +0000 UTC m=+722.883339686, time spent = 202.736µs, remote = 10.201.5.82:46682, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 27 12:01:24 ubuntu etcd[65580]: start time = 2024-02-27 12:01:24.328721256 +0000 UTC m=+723.222583027, time spent = 163.384µs, remote = 10.201.5.82:46682, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
