Dec 12 20:42:06 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 12 20:42:06 ubuntu etcd[67472]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 12 20:42:06 ubuntu etcd[67472]:         A future release of golang/protobuf will delete this package,
Dec 12 20:42:06 ubuntu etcd[67472]:         which has long been excluded from the compatibility promise.
Dec 12 20:42:06 ubuntu etcd[67472]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 12 20:42:06 ubuntu etcd[67472]: Running http and grpc server on single port. This is not recommended for production.
Dec 12 20:42:06 ubuntu etcd[67472]: etcd Version: 3.4.27
Dec 12 20:42:06 ubuntu etcd[67472]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 12 20:42:06 ubuntu etcd[67472]: Git SHA: c92fb80f3
Dec 12 20:42:06 ubuntu etcd[67472]: Go Version: go1.19.10
Dec 12 20:42:06 ubuntu etcd[67472]: Go OS/Arch: linux/amd64
Dec 12 20:42:06 ubuntu etcd[67472]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 12 20:42:06 ubuntu etcd[67472]: Running http and grpc server on single port. This is not recommended for production.
Dec 12 20:42:06 ubuntu etcd[67472]: name = ubuntu
Dec 12 20:42:06 ubuntu etcd[67472]: data dir = /opt/stack/data/etcd
Dec 12 20:42:06 ubuntu etcd[67472]: member dir = /opt/stack/data/etcd/member
Dec 12 20:42:06 ubuntu etcd[67472]: heartbeat = 100ms
Dec 12 20:42:06 ubuntu etcd[67472]: election = 1000ms
Dec 12 20:42:06 ubuntu etcd[67472]: snapshot count = 100000
Dec 12 20:42:06 ubuntu etcd[67472]: advertise client URLs = http://10.201.5.82:2379
Dec 12 20:42:06 ubuntu etcd[67472]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Dec 12 20:42:06 ubuntu etcd[67472]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Dec 12 20:42:06 ubuntu etcd[67472]: raft2024/12/12 20:42:06 INFO: 43038365673ccf7b switched to configuration voters=()
Dec 12 20:42:06 ubuntu etcd[67472]: raft2024/12/12 20:42:06 INFO: 43038365673ccf7b became follower at term 0
Dec 12 20:42:06 ubuntu etcd[67472]: raft2024/12/12 20:42:06 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Dec 12 20:42:06 ubuntu etcd[67472]: raft2024/12/12 20:42:06 INFO: 43038365673ccf7b became follower at term 1
Dec 12 20:42:06 ubuntu etcd[67472]: raft2024/12/12 20:42:06 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Dec 12 20:42:06 ubuntu etcd[67472]: simple token is not cryptographically signed
Dec 12 20:42:06 ubuntu etcd[67472]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Dec 12 20:42:06 ubuntu etcd[67472]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Dec 12 20:42:06 ubuntu etcd[67472]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Dec 12 20:42:06 ubuntu etcd[67472]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Dec 12 20:42:06 ubuntu etcd[67472]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Dec 12 20:42:06 ubuntu etcd[67472]: listening for peers on [::]:2380
Dec 12 20:42:06 ubuntu etcd[67472]: raft2024/12/12 20:42:06 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Dec 12 20:42:06 ubuntu etcd[67472]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Dec 12 20:42:07 ubuntu etcd[67472]: raft2024/12/12 20:42:07 INFO: 43038365673ccf7b is starting a new election at term 1
Dec 12 20:42:07 ubuntu etcd[67472]: raft2024/12/12 20:42:07 INFO: 43038365673ccf7b became candidate at term 2
Dec 12 20:42:07 ubuntu etcd[67472]: raft2024/12/12 20:42:07 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Dec 12 20:42:07 ubuntu etcd[67472]: raft2024/12/12 20:42:07 INFO: 43038365673ccf7b became leader at term 2
Dec 12 20:42:07 ubuntu etcd[67472]: raft2024/12/12 20:42:07 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Dec 12 20:42:07 ubuntu etcd[67472]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Dec 12 20:42:07 ubuntu etcd[67472]: ready to serve client requests
Dec 12 20:42:07 ubuntu etcd[67472]: setting up the initial cluster version to 3.4
Dec 12 20:42:07 ubuntu etcd[67472]: set the initial cluster version to 3.4
Dec 12 20:42:07 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Dec 12 20:42:07 ubuntu etcd[67472]: enabled capabilities for version 3.4
Dec 12 20:42:07 ubuntu etcd[67472]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Dec 12 20:47:06 ubuntu etcd[67472]: start time = 2024-12-12 20:47:06.809575328 +0000 UTC m=+299.942359779, time spent = 1.075719ms, remote = 10.201.5.82:50880, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 12 20:47:06 ubuntu etcd[67472]: start time = 2024-12-12 20:47:06.829802316 +0000 UTC m=+299.962586773, time spent = 251.29µs, remote = 10.201.5.82:50880, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 12 20:47:13 ubuntu etcd[67472]: start time = 2024-12-12 20:47:13.755582197 +0000 UTC m=+306.888366656, time spent = 483.932µs, remote = 10.201.5.82:50880, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 12 20:47:16 ubuntu etcd[67472]: start time = 2024-12-12 20:47:16.079993264 +0000 UTC m=+309.212777725, time spent = 220.435µs, remote = 10.201.5.82:50880, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 12 20:50:32 ubuntu etcd[67472]: start time = 2024-12-12 20:50:32.595710696 +0000 UTC m=+505.728495144, time spent = 377.708µs, remote = 10.201.5.82:50880, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 12 20:50:32 ubuntu etcd[67472]: start time = 2024-12-12 20:50:32.606362442 +0000 UTC m=+505.739146908, time spent = 236.427µs, remote = 10.201.5.82:50880, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 12 20:50:33 ubuntu etcd[67472]: start time = 2024-12-12 20:50:33.598647131 +0000 UTC m=+506.731431596, time spent = 216.22µs, remote = 10.201.5.82:50880, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 12 20:50:35 ubuntu etcd[67472]: start time = 2024-12-12 20:50:35.798457596 +0000 UTC m=+508.931242160, time spent = 456.757µs, remote = 10.201.5.82:50880, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 12 20:52:22 ubuntu etcd[67472]: start time = 2024-12-12 20:52:22.862032181 +0000 UTC m=+615.994816691, time spent = 628.963µs, remote = 10.201.5.82:50880, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 12 20:52:22 ubuntu etcd[67472]: start time = 2024-12-12 20:52:22.866974443 +0000 UTC m=+615.999758989, time spent = 569.287µs, remote = 10.201.5.82:50880, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-bad412e4-f7d6-4a44-a539-d406b80ed080" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-bad412e4-f7d6-4a44-a539-d406b80ed080" value_size:16 lease:5727333789403494937 >> failure:<request_range:<key:"/tooz/lockscinder-bad412e4-f7d6-4a44-a539-d406b80ed080" > >
Dec 12 20:52:25 ubuntu etcd[67472]: start time = 2024-12-12 20:52:25.625156311 +0000 UTC m=+618.757940908, time spent = 828.677µs, remote = 10.201.5.82:50880, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-bad412e4-f7d6-4a44-a539-d406b80ed080" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-bad412e4-f7d6-4a44-a539-d406b80ed080" > > failure:<>
Dec 12 20:52:25 ubuntu etcd[67472]: start time = 2024-12-12 20:52:25.984136051 +0000 UTC m=+619.116920510, time spent = 257.302µs, remote = 10.201.5.82:50880, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 12 20:52:25 ubuntu etcd[67472]: start time = 2024-12-12 20:52:25.987821658 +0000 UTC m=+619.120606215, time spent = 417.203µs, remote = 10.201.5.82:50880, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-bad412e4-f7d6-4a44-a539-d406b80ed080" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-bad412e4-f7d6-4a44-a539-d406b80ed080" value_size:16 lease:5727333789403494941 >> failure:<request_range:<key:"/tooz/lockscinder-bad412e4-f7d6-4a44-a539-d406b80ed080" > >
Dec 12 20:52:26 ubuntu etcd[67472]: start time = 2024-12-12 20:52:26.77578394 +0000 UTC m=+619.908568462, time spent = 392.383µs, remote = 10.201.5.82:50880, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-bad412e4-f7d6-4a44-a539-d406b80ed080" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-bad412e4-f7d6-4a44-a539-d406b80ed080" > > failure:<>
Dec 12 20:52:26 ubuntu etcd[67472]: start time = 2024-12-12 20:52:26.983496892 +0000 UTC m=+620.116281359, time spent = 319.557µs, remote = 10.201.5.82:50880, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 12 20:52:26 ubuntu etcd[67472]: start time = 2024-12-12 20:52:26.985625833 +0000 UTC m=+620.118410389, time spent = 515.844µs, remote = 10.201.5.82:50880, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-bad412e4-f7d6-4a44-a539-d406b80ed080" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-bad412e4-f7d6-4a44-a539-d406b80ed080" value_size:16 lease:5727333789403494945 >> failure:<request_range:<key:"/tooz/lockscinder-bad412e4-f7d6-4a44-a539-d406b80ed080" > >
Dec 12 20:52:27 ubuntu etcd[67472]: start time = 2024-12-12 20:52:27.759008338 +0000 UTC m=+620.891792803, time spent = 272.689µs, remote = 10.201.5.82:50880, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-bad412e4-f7d6-4a44-a539-d406b80ed080" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-bad412e4-f7d6-4a44-a539-d406b80ed080" > > failure:<>
