Mar 28 15:02:40 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 28 15:02:40 ubuntu etcd[66086]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 28 15:02:40 ubuntu etcd[66086]:         A future release of golang/protobuf will delete this package,
Mar 28 15:02:40 ubuntu etcd[66086]:         which has long been excluded from the compatibility promise.
Mar 28 15:02:40 ubuntu etcd[66086]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 28 15:02:40 ubuntu etcd[66086]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 28 15:02:40 ubuntu etcd[66086]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 28 15:02:40 ubuntu etcd[66086]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 28 15:02:40 ubuntu etcd[66086]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 28 15:02:40 ubuntu etcd[66086]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 28 15:02:40 ubuntu etcd[66086]: Running http and grpc server on single port. This is not recommended for production.
Mar 28 15:02:40 ubuntu etcd[66086]: etcd Version: 3.4.27
Mar 28 15:02:40 ubuntu etcd[66086]: Git SHA: c92fb80f3
Mar 28 15:02:40 ubuntu etcd[66086]: Go Version: go1.19.10
Mar 28 15:02:40 ubuntu etcd[66086]: Go OS/Arch: linux/amd64
Mar 28 15:02:40 ubuntu etcd[66086]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 28 15:02:40 ubuntu etcd[66086]: Running http and grpc server on single port. This is not recommended for production.
Mar 28 15:02:40 ubuntu etcd[66086]: name = ubuntu
Mar 28 15:02:40 ubuntu etcd[66086]: data dir = /opt/stack/data/etcd
Mar 28 15:02:40 ubuntu etcd[66086]: member dir = /opt/stack/data/etcd/member
Mar 28 15:02:40 ubuntu etcd[66086]: heartbeat = 100ms
Mar 28 15:02:40 ubuntu etcd[66086]: election = 1000ms
Mar 28 15:02:40 ubuntu etcd[66086]: snapshot count = 100000
Mar 28 15:02:40 ubuntu etcd[66086]: advertise client URLs = http://10.201.5.82:2379
Mar 28 15:02:40 ubuntu etcd[66086]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 28 15:02:40 ubuntu etcd[66086]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Mar 28 15:02:40 ubuntu etcd[66086]: raft2024/03/28 15:02:40 INFO: 43038365673ccf7b switched to configuration voters=()
Mar 28 15:02:40 ubuntu etcd[66086]: raft2024/03/28 15:02:40 INFO: 43038365673ccf7b became follower at term 0
Mar 28 15:02:40 ubuntu etcd[66086]: raft2024/03/28 15:02:40 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 28 15:02:40 ubuntu etcd[66086]: raft2024/03/28 15:02:40 INFO: 43038365673ccf7b became follower at term 1
Mar 28 15:02:40 ubuntu etcd[66086]: raft2024/03/28 15:02:40 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 28 15:02:40 ubuntu etcd[66086]: simple token is not cryptographically signed
Mar 28 15:02:40 ubuntu etcd[66086]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 28 15:02:40 ubuntu etcd[66086]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 28 15:02:40 ubuntu etcd[66086]: raft2024/03/28 15:02:40 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 28 15:02:40 ubuntu etcd[66086]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 28 15:02:40 ubuntu etcd[66086]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 28 15:02:40 ubuntu etcd[66086]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 28 15:02:40 ubuntu etcd[66086]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Mar 28 15:02:40 ubuntu etcd[66086]: listening for peers on [::]:2380
Mar 28 15:02:40 ubuntu etcd[66086]: raft2024/03/28 15:02:40 INFO: 43038365673ccf7b is starting a new election at term 1
Mar 28 15:02:40 ubuntu etcd[66086]: raft2024/03/28 15:02:40 INFO: 43038365673ccf7b became candidate at term 2
Mar 28 15:02:40 ubuntu etcd[66086]: raft2024/03/28 15:02:40 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Mar 28 15:02:40 ubuntu etcd[66086]: raft2024/03/28 15:02:40 INFO: 43038365673ccf7b became leader at term 2
Mar 28 15:02:40 ubuntu etcd[66086]: raft2024/03/28 15:02:40 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Mar 28 15:02:40 ubuntu etcd[66086]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Mar 28 15:02:40 ubuntu etcd[66086]: ready to serve client requests
Mar 28 15:02:40 ubuntu etcd[66086]: INFO: 2024/03/28 15:02:40 parsed scheme: ""
Mar 28 15:02:40 ubuntu etcd[66086]: setting up the initial cluster version to 3.4
Mar 28 15:02:40 ubuntu etcd[66086]: set the initial cluster version to 3.4
Mar 28 15:02:40 ubuntu etcd[66086]: enabled capabilities for version 3.4
Mar 28 15:02:40 ubuntu etcd[66086]: INFO: 2024/03/28 15:02:40 scheme "" not registered, fallback to default scheme
Mar 28 15:02:40 ubuntu etcd[66086]: INFO: 2024/03/28 15:02:40 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Mar 28 15:02:40 ubuntu etcd[66086]: INFO: 2024/03/28 15:02:40 ClientConn switching balancer to "pick_first"
Mar 28 15:02:40 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 28 15:02:40 ubuntu etcd[66086]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Mar 28 15:09:11 ubuntu etcd[66086]: start time = 2024-03-28 15:09:11.473032074 +0000 UTC m=+390.865524940, time spent = 559.007µs, remote = 10.201.5.82:41086, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 28 15:09:11 ubuntu etcd[66086]: start time = 2024-03-28 15:09:11.502752481 +0000 UTC m=+390.895245358, time spent = 205.265µs, remote = 10.201.5.82:41086, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 28 15:09:18 ubuntu etcd[66086]: start time = 2024-03-28 15:09:18.706922873 +0000 UTC m=+398.099415749, time spent = 235.411µs, remote = 10.201.5.82:41086, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 28 15:09:20 ubuntu etcd[66086]: start time = 2024-03-28 15:09:20.707184681 +0000 UTC m=+400.099677558, time spent = 219.885µs, remote = 10.201.5.82:41086, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 28 15:14:42 ubuntu etcd[66086]: start time = 2024-03-28 15:14:42.564552151 +0000 UTC m=+721.957045028, time spent = 444.035µs, remote = 10.201.5.82:41086, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 28 15:14:43 ubuntu etcd[66086]: start time = 2024-03-28 15:14:43.912552273 +0000 UTC m=+723.305045151, time spent = 247.284µs, remote = 10.201.5.82:41086, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 28 15:14:43 ubuntu etcd[66086]: start time = 2024-03-28 15:14:43.976307004 +0000 UTC m=+723.368799879, time spent = 193.772µs, remote = 10.201.5.82:41086, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 28 15:14:45 ubuntu etcd[66086]: start time = 2024-03-28 15:14:45.950422053 +0000 UTC m=+725.342914961, time spent = 287.64µs, remote = 10.201.5.82:41086, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
