Jul 18 12:56:00 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 18 12:56:00 ubuntu etcd[79404]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 18 12:56:00 ubuntu etcd[79404]:         A future release of golang/protobuf will delete this package,
Jul 18 12:56:00 ubuntu etcd[79404]:         which has long been excluded from the compatibility promise.
Jul 18 12:56:00 ubuntu etcd[79404]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 18 12:56:00 ubuntu etcd[79404]: Running http and grpc server on single port. This is not recommended for production.
Jul 18 12:56:00 ubuntu etcd[79404]: etcd Version: 3.4.27
Jul 18 12:56:00 ubuntu etcd[79404]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 18 12:56:00 ubuntu etcd[79404]: Git SHA: c92fb80f3
Jul 18 12:56:00 ubuntu etcd[79404]: Go Version: go1.19.10
Jul 18 12:56:00 ubuntu etcd[79404]: Go OS/Arch: linux/amd64
Jul 18 12:56:00 ubuntu etcd[79404]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 18 12:56:00 ubuntu etcd[79404]: Running http and grpc server on single port. This is not recommended for production.
Jul 18 12:56:00 ubuntu etcd[79404]: name = ubuntu
Jul 18 12:56:00 ubuntu etcd[79404]: data dir = /opt/stack/data/etcd
Jul 18 12:56:00 ubuntu etcd[79404]: member dir = /opt/stack/data/etcd/member
Jul 18 12:56:00 ubuntu etcd[79404]: heartbeat = 100ms
Jul 18 12:56:00 ubuntu etcd[79404]: election = 1000ms
Jul 18 12:56:00 ubuntu etcd[79404]: snapshot count = 100000
Jul 18 12:56:00 ubuntu etcd[79404]: advertise client URLs = http://10.201.5.82:2379
Jul 18 12:56:00 ubuntu etcd[79404]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 18 12:56:00 ubuntu etcd[79404]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jul 18 12:56:00 ubuntu etcd[79404]: raft2025/07/18 12:56:00 INFO: 43038365673ccf7b switched to configuration voters=()
Jul 18 12:56:00 ubuntu etcd[79404]: raft2025/07/18 12:56:00 INFO: 43038365673ccf7b became follower at term 0
Jul 18 12:56:00 ubuntu etcd[79404]: raft2025/07/18 12:56:00 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 18 12:56:00 ubuntu etcd[79404]: raft2025/07/18 12:56:00 INFO: 43038365673ccf7b became follower at term 1
Jul 18 12:56:00 ubuntu etcd[79404]: raft2025/07/18 12:56:00 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 18 12:56:00 ubuntu etcd[79404]: simple token is not cryptographically signed
Jul 18 12:56:00 ubuntu etcd[79404]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 18 12:56:00 ubuntu etcd[79404]: listening for peers on [::]:2380
Jul 18 12:56:00 ubuntu etcd[79404]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 18 12:56:00 ubuntu etcd[79404]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 18 12:56:00 ubuntu etcd[79404]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 18 12:56:00 ubuntu etcd[79404]: raft2025/07/18 12:56:00 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 18 12:56:00 ubuntu etcd[79404]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 18 12:56:00 ubuntu etcd[79404]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jul 18 12:56:01 ubuntu etcd[79404]: raft2025/07/18 12:56:01 INFO: 43038365673ccf7b is starting a new election at term 1
Jul 18 12:56:01 ubuntu etcd[79404]: raft2025/07/18 12:56:01 INFO: 43038365673ccf7b became candidate at term 2
Jul 18 12:56:01 ubuntu etcd[79404]: raft2025/07/18 12:56:01 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jul 18 12:56:01 ubuntu etcd[79404]: raft2025/07/18 12:56:01 INFO: 43038365673ccf7b became leader at term 2
Jul 18 12:56:01 ubuntu etcd[79404]: raft2025/07/18 12:56:01 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jul 18 12:56:01 ubuntu etcd[79404]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jul 18 12:56:01 ubuntu etcd[79404]: ready to serve client requests
Jul 18 12:56:01 ubuntu etcd[79404]: setting up the initial cluster version to 3.4
Jul 18 12:56:01 ubuntu etcd[79404]: set the initial cluster version to 3.4
Jul 18 12:56:01 ubuntu etcd[79404]: enabled capabilities for version 3.4
Jul 18 12:56:01 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 18 12:56:01 ubuntu etcd[79404]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jul 18 13:00:42 ubuntu etcd[79404]: start time = 2025-07-18 13:00:42.057403657 +0000 UTC m=+281.459896880, time spent = 2.228756ms, remote = 10.201.5.82:48044, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 18 13:00:42 ubuntu etcd[79404]: start time = 2025-07-18 13:00:42.089818265 +0000 UTC m=+281.492311492, time spent = 180.362µs, remote = 10.201.5.82:48044, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 18 13:00:49 ubuntu etcd[79404]: start time = 2025-07-18 13:00:49.085740823 +0000 UTC m=+288.488234053, time spent = 178.552µs, remote = 10.201.5.82:48044, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 18 13:00:51 ubuntu etcd[79404]: start time = 2025-07-18 13:00:51.184411264 +0000 UTC m=+290.586904494, time spent = 391.761µs, remote = 10.201.5.82:48044, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
