Nov 25 13:17:33 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Nov 25 13:17:33 ubuntu etcd[67739]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Nov 25 13:17:33 ubuntu etcd[67739]:         A future release of golang/protobuf will delete this package,
Nov 25 13:17:33 ubuntu etcd[67739]:         which has long been excluded from the compatibility promise.
Nov 25 13:17:33 ubuntu etcd[67739]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Nov 25 13:17:33 ubuntu etcd[67739]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Nov 25 13:17:33 ubuntu etcd[67739]: Running http and grpc server on single port. This is not recommended for production.
Nov 25 13:17:33 ubuntu etcd[67739]: etcd Version: 3.4.27
Nov 25 13:17:33 ubuntu etcd[67739]: Git SHA: c92fb80f3
Nov 25 13:17:33 ubuntu etcd[67739]: Go Version: go1.19.10
Nov 25 13:17:33 ubuntu etcd[67739]: Go OS/Arch: linux/amd64
Nov 25 13:17:33 ubuntu etcd[67739]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Nov 25 13:17:33 ubuntu etcd[67739]: Running http and grpc server on single port. This is not recommended for production.
Nov 25 13:17:33 ubuntu etcd[67739]: name = ubuntu
Nov 25 13:17:33 ubuntu etcd[67739]: data dir = /opt/stack/data/etcd
Nov 25 13:17:33 ubuntu etcd[67739]: member dir = /opt/stack/data/etcd/member
Nov 25 13:17:33 ubuntu etcd[67739]: heartbeat = 100ms
Nov 25 13:17:33 ubuntu etcd[67739]: election = 1000ms
Nov 25 13:17:33 ubuntu etcd[67739]: snapshot count = 100000
Nov 25 13:17:33 ubuntu etcd[67739]: advertise client URLs = http://10.201.5.82:2379
Nov 25 13:17:33 ubuntu etcd[67739]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Nov 25 13:17:33 ubuntu etcd[67739]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Nov 25 13:17:33 ubuntu etcd[67739]: raft2024/11/25 13:17:33 INFO: 43038365673ccf7b switched to configuration voters=()
Nov 25 13:17:33 ubuntu etcd[67739]: raft2024/11/25 13:17:33 INFO: 43038365673ccf7b became follower at term 0
Nov 25 13:17:33 ubuntu etcd[67739]: raft2024/11/25 13:17:33 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Nov 25 13:17:33 ubuntu etcd[67739]: raft2024/11/25 13:17:33 INFO: 43038365673ccf7b became follower at term 1
Nov 25 13:17:33 ubuntu etcd[67739]: raft2024/11/25 13:17:33 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Nov 25 13:17:33 ubuntu etcd[67739]: simple token is not cryptographically signed
Nov 25 13:17:33 ubuntu etcd[67739]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Nov 25 13:17:33 ubuntu etcd[67739]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Nov 25 13:17:33 ubuntu etcd[67739]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Nov 25 13:17:33 ubuntu etcd[67739]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Nov 25 13:17:33 ubuntu etcd[67739]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Nov 25 13:17:33 ubuntu etcd[67739]: raft2024/11/25 13:17:33 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Nov 25 13:17:33 ubuntu etcd[67739]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Nov 25 13:17:33 ubuntu etcd[67739]: listening for peers on [::]:2380
Nov 25 13:17:34 ubuntu etcd[67739]: raft2024/11/25 13:17:34 INFO: 43038365673ccf7b is starting a new election at term 1
Nov 25 13:17:34 ubuntu etcd[67739]: raft2024/11/25 13:17:34 INFO: 43038365673ccf7b became candidate at term 2
Nov 25 13:17:34 ubuntu etcd[67739]: raft2024/11/25 13:17:34 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Nov 25 13:17:34 ubuntu etcd[67739]: raft2024/11/25 13:17:34 INFO: 43038365673ccf7b became leader at term 2
Nov 25 13:17:34 ubuntu etcd[67739]: raft2024/11/25 13:17:34 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Nov 25 13:17:34 ubuntu etcd[67739]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Nov 25 13:17:34 ubuntu etcd[67739]: setting up the initial cluster version to 3.4
Nov 25 13:17:34 ubuntu etcd[67739]: ready to serve client requests
Nov 25 13:17:34 ubuntu etcd[67739]: set the initial cluster version to 3.4
Nov 25 13:17:34 ubuntu etcd[67739]: enabled capabilities for version 3.4
Nov 25 13:17:34 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Nov 25 13:17:34 ubuntu etcd[67739]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Nov 25 13:23:15 ubuntu etcd[67739]: start time = 2024-11-25 13:23:15.907724761 +0000 UTC m=+342.532443970, time spent = 1.739265ms, remote = 10.201.5.82:33456, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 25 13:23:15 ubuntu etcd[67739]: start time = 2024-11-25 13:23:15.940940369 +0000 UTC m=+342.565659592, time spent = 230.41µs, remote = 10.201.5.82:33456, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 25 13:23:22 ubuntu etcd[67739]: start time = 2024-11-25 13:23:22.964135751 +0000 UTC m=+349.588854968, time spent = 243.268µs, remote = 10.201.5.82:33456, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 25 13:23:24 ubuntu etcd[67739]: start time = 2024-11-25 13:23:24.590606263 +0000 UTC m=+351.215325481, time spent = 792.524µs, remote = 10.201.5.82:33456, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 25 13:30:22 ubuntu etcd[67739]: start time = 2024-11-25 13:30:22.45252372 +0000 UTC m=+769.077242938, time spent = 344.405µs, remote = 10.201.5.82:33456, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 25 13:30:22 ubuntu etcd[67739]: start time = 2024-11-25 13:30:22.561605495 +0000 UTC m=+769.186324717, time spent = 225.243µs, remote = 10.201.5.82:33456, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 25 13:30:24 ubuntu etcd[67739]: start time = 2024-11-25 13:30:24.930928827 +0000 UTC m=+771.555648047, time spent = 250.161µs, remote = 10.201.5.82:33456, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 25 13:30:26 ubuntu etcd[67739]: start time = 2024-11-25 13:30:26.945670041 +0000 UTC m=+773.570389258, time spent = 785.983µs, remote = 10.201.5.82:33456, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 25 13:32:26 ubuntu etcd[67739]: start time = 2024-11-25 13:32:26.422875459 +0000 UTC m=+893.047594663, time spent = 269.043µs, remote = 10.201.5.82:33456, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 25 13:32:26 ubuntu etcd[67739]: start time = 2024-11-25 13:32:26.430180023 +0000 UTC m=+893.054899332, time spent = 577.293µs, remote = 10.201.5.82:33456, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-78117a8e-4268-4d6e-acc3-7c7d9c0ad93d" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-78117a8e-4268-4d6e-acc3-7c7d9c0ad93d" value_size:16 lease:5727333406562283801 >> failure:<request_range:<key:"/tooz/lockscinder-78117a8e-4268-4d6e-acc3-7c7d9c0ad93d" > >
Nov 25 13:32:29 ubuntu etcd[67739]: start time = 2024-11-25 13:32:29.104649147 +0000 UTC m=+895.729368469, time spent = 612.86µs, remote = 10.201.5.82:33456, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-78117a8e-4268-4d6e-acc3-7c7d9c0ad93d" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-78117a8e-4268-4d6e-acc3-7c7d9c0ad93d" > > failure:<>
Nov 25 13:32:29 ubuntu etcd[67739]: start time = 2024-11-25 13:32:29.346703969 +0000 UTC m=+895.971423288, time spent = 601.278µs, remote = 10.201.5.82:33456, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 25 13:32:29 ubuntu etcd[67739]: start time = 2024-11-25 13:32:29.352658101 +0000 UTC m=+895.977377414, time spent = 394.802µs, remote = 10.201.5.82:33456, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-78117a8e-4268-4d6e-acc3-7c7d9c0ad93d" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-78117a8e-4268-4d6e-acc3-7c7d9c0ad93d" value_size:16 lease:5727333406562283805 >> failure:<request_range:<key:"/tooz/lockscinder-78117a8e-4268-4d6e-acc3-7c7d9c0ad93d" > >
Nov 25 13:32:30 ubuntu etcd[67739]: start time = 2024-11-25 13:32:30.165983933 +0000 UTC m=+896.790703203, time spent = 483.267µs, remote = 10.201.5.82:33456, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-78117a8e-4268-4d6e-acc3-7c7d9c0ad93d" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-78117a8e-4268-4d6e-acc3-7c7d9c0ad93d" > > failure:<>
Nov 25 13:32:30 ubuntu etcd[67739]: start time = 2024-11-25 13:32:30.41862182 +0000 UTC m=+897.043341132, time spent = 478.448µs, remote = 10.201.5.82:33456, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 25 13:32:30 ubuntu etcd[67739]: start time = 2024-11-25 13:32:30.421544737 +0000 UTC m=+897.046264069, time spent = 535.449µs, remote = 10.201.5.82:33456, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-78117a8e-4268-4d6e-acc3-7c7d9c0ad93d" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-78117a8e-4268-4d6e-acc3-7c7d9c0ad93d" value_size:16 lease:5727333406562283809 >> failure:<request_range:<key:"/tooz/lockscinder-78117a8e-4268-4d6e-acc3-7c7d9c0ad93d" > >
Nov 25 13:32:31 ubuntu etcd[67739]: start time = 2024-11-25 13:32:31.220401137 +0000 UTC m=+897.845120449, time spent = 478.328µs, remote = 10.201.5.82:33456, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-78117a8e-4268-4d6e-acc3-7c7d9c0ad93d" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-78117a8e-4268-4d6e-acc3-7c7d9c0ad93d" > > failure:<>
