Jan 02 13:15:02 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jan 02 13:15:02 ubuntu etcd[67638]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jan 02 13:15:02 ubuntu etcd[67638]:         A future release of golang/protobuf will delete this package,
Jan 02 13:15:02 ubuntu etcd[67638]:         which has long been excluded from the compatibility promise.
Jan 02 13:15:02 ubuntu etcd[67638]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 02 13:15:02 ubuntu etcd[67638]: Running http and grpc server on single port. This is not recommended for production.
Jan 02 13:15:02 ubuntu etcd[67638]: etcd Version: 3.4.27
Jan 02 13:15:02 ubuntu etcd[67638]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 02 13:15:02 ubuntu etcd[67638]: Git SHA: c92fb80f3
Jan 02 13:15:02 ubuntu etcd[67638]: Go Version: go1.19.10
Jan 02 13:15:02 ubuntu etcd[67638]: Go OS/Arch: linux/amd64
Jan 02 13:15:02 ubuntu etcd[67638]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jan 02 13:15:02 ubuntu etcd[67638]: Running http and grpc server on single port. This is not recommended for production.
Jan 02 13:15:02 ubuntu etcd[67638]: name = ubuntu
Jan 02 13:15:02 ubuntu etcd[67638]: data dir = /opt/stack/data/etcd
Jan 02 13:15:02 ubuntu etcd[67638]: member dir = /opt/stack/data/etcd/member
Jan 02 13:15:02 ubuntu etcd[67638]: heartbeat = 100ms
Jan 02 13:15:02 ubuntu etcd[67638]: election = 1000ms
Jan 02 13:15:02 ubuntu etcd[67638]: snapshot count = 100000
Jan 02 13:15:02 ubuntu etcd[67638]: advertise client URLs = http://10.201.5.82:2379
Jan 02 13:15:02 ubuntu etcd[67638]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jan 02 13:15:02 ubuntu etcd[67638]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jan 02 13:15:02 ubuntu etcd[67638]: raft2025/01/02 13:15:02 INFO: 43038365673ccf7b switched to configuration voters=()
Jan 02 13:15:02 ubuntu etcd[67638]: raft2025/01/02 13:15:02 INFO: 43038365673ccf7b became follower at term 0
Jan 02 13:15:02 ubuntu etcd[67638]: raft2025/01/02 13:15:02 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jan 02 13:15:02 ubuntu etcd[67638]: raft2025/01/02 13:15:02 INFO: 43038365673ccf7b became follower at term 1
Jan 02 13:15:02 ubuntu etcd[67638]: raft2025/01/02 13:15:02 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jan 02 13:15:02 ubuntu etcd[67638]: simple token is not cryptographically signed
Jan 02 13:15:02 ubuntu etcd[67638]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jan 02 13:15:02 ubuntu etcd[67638]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jan 02 13:15:02 ubuntu etcd[67638]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jan 02 13:15:02 ubuntu etcd[67638]: raft2025/01/02 13:15:02 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jan 02 13:15:02 ubuntu etcd[67638]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jan 02 13:15:02 ubuntu etcd[67638]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jan 02 13:15:02 ubuntu etcd[67638]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jan 02 13:15:02 ubuntu etcd[67638]: listening for peers on [::]:2380
Jan 02 13:15:03 ubuntu etcd[67638]: raft2025/01/02 13:15:03 INFO: 43038365673ccf7b is starting a new election at term 1
Jan 02 13:15:03 ubuntu etcd[67638]: raft2025/01/02 13:15:03 INFO: 43038365673ccf7b became candidate at term 2
Jan 02 13:15:03 ubuntu etcd[67638]: raft2025/01/02 13:15:03 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jan 02 13:15:03 ubuntu etcd[67638]: raft2025/01/02 13:15:03 INFO: 43038365673ccf7b became leader at term 2
Jan 02 13:15:03 ubuntu etcd[67638]: raft2025/01/02 13:15:03 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jan 02 13:15:03 ubuntu etcd[67638]: setting up the initial cluster version to 3.4
Jan 02 13:15:03 ubuntu etcd[67638]: set the initial cluster version to 3.4
Jan 02 13:15:03 ubuntu etcd[67638]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jan 02 13:15:03 ubuntu etcd[67638]: ready to serve client requests
Jan 02 13:15:03 ubuntu etcd[67638]: enabled capabilities for version 3.4
Jan 02 13:15:03 ubuntu etcd[67638]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jan 02 13:15:03 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jan 02 13:20:06 ubuntu etcd[67638]: start time = 2025-01-02 13:20:06.169199068 +0000 UTC m=+303.337134310, time spent = 624.019µs, remote = 10.201.5.82:51968, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 02 13:20:06 ubuntu etcd[67638]: start time = 2025-01-02 13:20:06.308596295 +0000 UTC m=+303.476531557, time spent = 216.119µs, remote = 10.201.5.82:51968, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 02 13:20:13 ubuntu etcd[67638]: start time = 2025-01-02 13:20:13.214936761 +0000 UTC m=+310.382872018, time spent = 234.938µs, remote = 10.201.5.82:51968, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 02 13:20:15 ubuntu etcd[67638]: start time = 2025-01-02 13:20:15.290440878 +0000 UTC m=+312.458376136, time spent = 519.852µs, remote = 10.201.5.82:51968, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 02 13:23:09 ubuntu etcd[67638]: start time = 2025-01-02 13:23:09.021252636 +0000 UTC m=+486.189187877, time spent = 369.959µs, remote = 10.201.5.82:51968, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 02 13:23:09 ubuntu etcd[67638]: start time = 2025-01-02 13:23:09.071533888 +0000 UTC m=+486.239469139, time spent = 172.748µs, remote = 10.201.5.82:51968, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 02 13:23:10 ubuntu etcd[67638]: start time = 2025-01-02 13:23:10.537731024 +0000 UTC m=+487.705666382, time spent = 346.86µs, remote = 10.201.5.82:51968, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 02 13:23:12 ubuntu etcd[67638]: start time = 2025-01-02 13:23:12.814966703 +0000 UTC m=+489.982901958, time spent = 193.624µs, remote = 10.201.5.82:51968, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 02 13:25:01 ubuntu etcd[67638]: start time = 2025-01-02 13:25:01.391721363 +0000 UTC m=+598.559656604, time spent = 400.161µs, remote = 10.201.5.82:51968, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 02 13:25:01 ubuntu etcd[67638]: start time = 2025-01-02 13:25:01.396379605 +0000 UTC m=+598.564314844, time spent = 454.409µs, remote = 10.201.5.82:51968, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-d7545b1f-edd2-424f-aaf8-a719ae9df92f" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-d7545b1f-edd2-424f-aaf8-a719ae9df92f" value_size:16 lease:5727334247022943513 >> failure:<request_range:<key:"/tooz/lockscinder-d7545b1f-edd2-424f-aaf8-a719ae9df92f" > >
Jan 02 13:25:04 ubuntu etcd[67638]: start time = 2025-01-02 13:25:04.146132675 +0000 UTC m=+601.314067976, time spent = 788.297µs, remote = 10.201.5.82:51968, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-d7545b1f-edd2-424f-aaf8-a719ae9df92f" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-d7545b1f-edd2-424f-aaf8-a719ae9df92f" > > failure:<>
Jan 02 13:25:04 ubuntu etcd[67638]: start time = 2025-01-02 13:25:04.404366103 +0000 UTC m=+601.572301375, time spent = 260.423µs, remote = 10.201.5.82:51968, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 02 13:25:04 ubuntu etcd[67638]: start time = 2025-01-02 13:25:04.406490637 +0000 UTC m=+601.574425930, time spent = 343.989µs, remote = 10.201.5.82:51968, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-d7545b1f-edd2-424f-aaf8-a719ae9df92f" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-d7545b1f-edd2-424f-aaf8-a719ae9df92f" value_size:16 lease:5727334247022943517 >> failure:<request_range:<key:"/tooz/lockscinder-d7545b1f-edd2-424f-aaf8-a719ae9df92f" > >
Jan 02 13:25:05 ubuntu etcd[67638]: start time = 2025-01-02 13:25:05.211289783 +0000 UTC m=+602.379225051, time spent = 326.729µs, remote = 10.201.5.82:51968, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-d7545b1f-edd2-424f-aaf8-a719ae9df92f" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-d7545b1f-edd2-424f-aaf8-a719ae9df92f" > > failure:<>
Jan 02 13:25:05 ubuntu etcd[67638]: start time = 2025-01-02 13:25:05.439983472 +0000 UTC m=+602.607918740, time spent = 250.708µs, remote = 10.201.5.82:51968, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 02 13:25:05 ubuntu etcd[67638]: start time = 2025-01-02 13:25:05.444291766 +0000 UTC m=+602.612227055, time spent = 276.02µs, remote = 10.201.5.82:51968, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-d7545b1f-edd2-424f-aaf8-a719ae9df92f" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-d7545b1f-edd2-424f-aaf8-a719ae9df92f" value_size:16 lease:5727334247022943521 >> failure:<request_range:<key:"/tooz/lockscinder-d7545b1f-edd2-424f-aaf8-a719ae9df92f" > >
Jan 02 13:25:06 ubuntu etcd[67638]: start time = 2025-01-02 13:25:06.259937964 +0000 UTC m=+603.427873228, time spent = 332.527µs, remote = 10.201.5.82:51968, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-d7545b1f-edd2-424f-aaf8-a719ae9df92f" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-d7545b1f-edd2-424f-aaf8-a719ae9df92f" > > failure:<>
