Jul 08 09:15:45 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 08 09:15:45 ubuntu etcd[66726]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 08 09:15:45 ubuntu etcd[66726]:         A future release of golang/protobuf will delete this package,
Jul 08 09:15:45 ubuntu etcd[66726]:         which has long been excluded from the compatibility promise.
Jul 08 09:15:45 ubuntu etcd[66726]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 08 09:15:45 ubuntu etcd[66726]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 08 09:15:45 ubuntu etcd[66726]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 08 09:15:45 ubuntu etcd[66726]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 08 09:15:45 ubuntu etcd[66726]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 08 09:15:45 ubuntu etcd[66726]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 08 09:15:45 ubuntu etcd[66726]: Running http and grpc server on single port. This is not recommended for production.
Jul 08 09:15:45 ubuntu etcd[66726]: etcd Version: 3.4.27
Jul 08 09:15:45 ubuntu etcd[66726]: Git SHA: c92fb80f3
Jul 08 09:15:45 ubuntu etcd[66726]: Go Version: go1.19.10
Jul 08 09:15:45 ubuntu etcd[66726]: Go OS/Arch: linux/amd64
Jul 08 09:15:45 ubuntu etcd[66726]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 08 09:15:45 ubuntu etcd[66726]: Running http and grpc server on single port. This is not recommended for production.
Jul 08 09:15:45 ubuntu etcd[66726]: name = ubuntu
Jul 08 09:15:45 ubuntu etcd[66726]: data dir = /opt/stack/data/etcd
Jul 08 09:15:45 ubuntu etcd[66726]: member dir = /opt/stack/data/etcd/member
Jul 08 09:15:45 ubuntu etcd[66726]: heartbeat = 100ms
Jul 08 09:15:45 ubuntu etcd[66726]: election = 1000ms
Jul 08 09:15:45 ubuntu etcd[66726]: snapshot count = 100000
Jul 08 09:15:45 ubuntu etcd[66726]: advertise client URLs = http://10.201.5.82:2379
Jul 08 09:15:45 ubuntu etcd[66726]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 08 09:15:45 ubuntu etcd[66726]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jul 08 09:15:45 ubuntu etcd[66726]: raft2024/07/08 09:15:45 INFO: 43038365673ccf7b switched to configuration voters=()
Jul 08 09:15:45 ubuntu etcd[66726]: raft2024/07/08 09:15:45 INFO: 43038365673ccf7b became follower at term 0
Jul 08 09:15:45 ubuntu etcd[66726]: raft2024/07/08 09:15:45 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 08 09:15:45 ubuntu etcd[66726]: raft2024/07/08 09:15:45 INFO: 43038365673ccf7b became follower at term 1
Jul 08 09:15:45 ubuntu etcd[66726]: raft2024/07/08 09:15:45 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 08 09:15:45 ubuntu etcd[66726]: simple token is not cryptographically signed
Jul 08 09:15:45 ubuntu etcd[66726]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 08 09:15:45 ubuntu etcd[66726]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 08 09:15:45 ubuntu etcd[66726]: raft2024/07/08 09:15:45 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 08 09:15:45 ubuntu etcd[66726]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 08 09:15:45 ubuntu etcd[66726]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 08 09:15:45 ubuntu etcd[66726]: listening for peers on [::]:2380
Jul 08 09:15:45 ubuntu etcd[66726]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jul 08 09:15:45 ubuntu etcd[66726]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 08 09:15:46 ubuntu etcd[66726]: raft2024/07/08 09:15:46 INFO: 43038365673ccf7b is starting a new election at term 1
Jul 08 09:15:46 ubuntu etcd[66726]: raft2024/07/08 09:15:46 INFO: 43038365673ccf7b became candidate at term 2
Jul 08 09:15:46 ubuntu etcd[66726]: raft2024/07/08 09:15:46 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jul 08 09:15:46 ubuntu etcd[66726]: raft2024/07/08 09:15:46 INFO: 43038365673ccf7b became leader at term 2
Jul 08 09:15:46 ubuntu etcd[66726]: raft2024/07/08 09:15:46 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jul 08 09:15:46 ubuntu etcd[66726]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jul 08 09:15:46 ubuntu etcd[66726]: setting up the initial cluster version to 3.4
Jul 08 09:15:46 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 08 09:15:46 ubuntu etcd[66726]: ready to serve client requests
Jul 08 09:15:46 ubuntu etcd[66726]: INFO: 2024/07/08 09:15:46 parsed scheme: ""
Jul 08 09:15:46 ubuntu etcd[66726]: INFO: 2024/07/08 09:15:46 scheme "" not registered, fallback to default scheme
Jul 08 09:15:46 ubuntu etcd[66726]: INFO: 2024/07/08 09:15:46 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Jul 08 09:15:46 ubuntu etcd[66726]: INFO: 2024/07/08 09:15:46 ClientConn switching balancer to "pick_first"
Jul 08 09:15:46 ubuntu etcd[66726]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jul 08 09:15:46 ubuntu etcd[66726]: set the initial cluster version to 3.4
Jul 08 09:15:46 ubuntu etcd[66726]: enabled capabilities for version 3.4
Jul 08 09:21:42 ubuntu etcd[66726]: start time = 2024-07-08 09:21:42.882284463 +0000 UTC m=+357.618313098, time spent = 603.899µs, remote = 10.201.5.82:53924, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 08 09:21:42 ubuntu etcd[66726]: start time = 2024-07-08 09:21:42.903202428 +0000 UTC m=+357.639231062, time spent = 213.222µs, remote = 10.201.5.82:53924, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 08 09:21:49 ubuntu etcd[66726]: start time = 2024-07-08 09:21:49.638673191 +0000 UTC m=+364.374701835, time spent = 190.209µs, remote = 10.201.5.82:53924, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 08 09:21:51 ubuntu etcd[66726]: start time = 2024-07-08 09:21:51.666497177 +0000 UTC m=+366.402525812, time spent = 189.6µs, remote = 10.201.5.82:53924, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 08 09:26:36 ubuntu etcd[66726]: start time = 2024-07-08 09:26:36.833854976 +0000 UTC m=+651.569883611, time spent = 348.409µs, remote = 10.201.5.82:53924, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 08 09:26:37 ubuntu etcd[66726]: start time = 2024-07-08 09:26:37.014085094 +0000 UTC m=+651.750113729, time spent = 196.433µs, remote = 10.201.5.82:53924, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 08 09:26:37 ubuntu etcd[66726]: start time = 2024-07-08 09:26:37.042936401 +0000 UTC m=+651.778965044, time spent = 193.163µs, remote = 10.201.5.82:53924, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 08 09:26:37 ubuntu etcd[66726]: start time = 2024-07-08 09:26:37.497081455 +0000 UTC m=+652.233110098, time spent = 265.087µs, remote = 10.201.5.82:53924, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
