Jul 08 12:55:14 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 08 12:55:14 ubuntu etcd[66975]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 08 12:55:14 ubuntu etcd[66975]:         A future release of golang/protobuf will delete this package,
Jul 08 12:55:14 ubuntu etcd[66975]:         which has long been excluded from the compatibility promise.
Jul 08 12:55:14 ubuntu etcd[66975]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 08 12:55:14 ubuntu etcd[66975]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 08 12:55:14 ubuntu etcd[66975]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 08 12:55:14 ubuntu etcd[66975]: Running http and grpc server on single port. This is not recommended for production.
Jul 08 12:55:14 ubuntu etcd[66975]: etcd Version: 3.4.27
Jul 08 12:55:14 ubuntu etcd[66975]: Git SHA: c92fb80f3
Jul 08 12:55:14 ubuntu etcd[66975]: Go Version: go1.19.10
Jul 08 12:55:14 ubuntu etcd[66975]: Go OS/Arch: linux/amd64
Jul 08 12:55:14 ubuntu etcd[66975]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 08 12:55:14 ubuntu etcd[66975]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 08 12:55:14 ubuntu etcd[66975]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 08 12:55:14 ubuntu etcd[66975]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 08 12:55:14 ubuntu etcd[66975]: Running http and grpc server on single port. This is not recommended for production.
Jul 08 12:55:14 ubuntu etcd[66975]: name = ubuntu
Jul 08 12:55:14 ubuntu etcd[66975]: data dir = /opt/stack/data/etcd
Jul 08 12:55:14 ubuntu etcd[66975]: member dir = /opt/stack/data/etcd/member
Jul 08 12:55:14 ubuntu etcd[66975]: heartbeat = 100ms
Jul 08 12:55:14 ubuntu etcd[66975]: election = 1000ms
Jul 08 12:55:14 ubuntu etcd[66975]: snapshot count = 100000
Jul 08 12:55:14 ubuntu etcd[66975]: advertise client URLs = http://10.201.5.82:2379
Jul 08 12:55:14 ubuntu etcd[66975]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 08 12:55:14 ubuntu etcd[66975]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jul 08 12:55:14 ubuntu etcd[66975]: raft2024/07/08 12:55:14 INFO: 43038365673ccf7b switched to configuration voters=()
Jul 08 12:55:14 ubuntu etcd[66975]: raft2024/07/08 12:55:14 INFO: 43038365673ccf7b became follower at term 0
Jul 08 12:55:14 ubuntu etcd[66975]: raft2024/07/08 12:55:14 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 08 12:55:14 ubuntu etcd[66975]: raft2024/07/08 12:55:14 INFO: 43038365673ccf7b became follower at term 1
Jul 08 12:55:14 ubuntu etcd[66975]: raft2024/07/08 12:55:14 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 08 12:55:14 ubuntu etcd[66975]: simple token is not cryptographically signed
Jul 08 12:55:14 ubuntu etcd[66975]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 08 12:55:14 ubuntu etcd[66975]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 08 12:55:14 ubuntu etcd[66975]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 08 12:55:14 ubuntu etcd[66975]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 08 12:55:14 ubuntu etcd[66975]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 08 12:55:14 ubuntu etcd[66975]: raft2024/07/08 12:55:14 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 08 12:55:14 ubuntu etcd[66975]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jul 08 12:55:14 ubuntu etcd[66975]: listening for peers on [::]:2380
Jul 08 12:55:15 ubuntu etcd[66975]: raft2024/07/08 12:55:15 INFO: 43038365673ccf7b is starting a new election at term 1
Jul 08 12:55:15 ubuntu etcd[66975]: raft2024/07/08 12:55:15 INFO: 43038365673ccf7b became candidate at term 2
Jul 08 12:55:15 ubuntu etcd[66975]: raft2024/07/08 12:55:15 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jul 08 12:55:15 ubuntu etcd[66975]: raft2024/07/08 12:55:15 INFO: 43038365673ccf7b became leader at term 2
Jul 08 12:55:15 ubuntu etcd[66975]: raft2024/07/08 12:55:15 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jul 08 12:55:15 ubuntu etcd[66975]: setting up the initial cluster version to 3.4
Jul 08 12:55:15 ubuntu etcd[66975]: set the initial cluster version to 3.4
Jul 08 12:55:15 ubuntu etcd[66975]: enabled capabilities for version 3.4
Jul 08 12:55:15 ubuntu etcd[66975]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jul 08 12:55:15 ubuntu etcd[66975]: ready to serve client requests
Jul 08 12:55:15 ubuntu etcd[66975]: INFO: 2024/07/08 12:55:15 parsed scheme: ""
Jul 08 12:55:15 ubuntu etcd[66975]: INFO: 2024/07/08 12:55:15 scheme "" not registered, fallback to default scheme
Jul 08 12:55:15 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 08 12:55:15 ubuntu etcd[66975]: INFO: 2024/07/08 12:55:15 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Jul 08 12:55:15 ubuntu etcd[66975]: INFO: 2024/07/08 12:55:15 ClientConn switching balancer to "pick_first"
Jul 08 12:55:15 ubuntu etcd[66975]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jul 08 13:00:54 ubuntu etcd[66975]: start time = 2024-07-08 13:00:54.376680698 +0000 UTC m=+339.680021164, time spent = 563.12µs, remote = 10.201.5.82:38958, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 08 13:00:54 ubuntu etcd[66975]: start time = 2024-07-08 13:00:54.502766637 +0000 UTC m=+339.806107100, time spent = 217.551µs, remote = 10.201.5.82:38958, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 08 13:01:01 ubuntu etcd[66975]: start time = 2024-07-08 13:01:01.225653657 +0000 UTC m=+346.528994121, time spent = 202.126µs, remote = 10.201.5.82:38958, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 08 13:01:03 ubuntu etcd[66975]: start time = 2024-07-08 13:01:03.241237445 +0000 UTC m=+348.544577911, time spent = 261.443µs, remote = 10.201.5.82:38958, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 08 13:03:50 ubuntu etcd[66975]: start time = 2024-07-08 13:03:50.584709107 +0000 UTC m=+515.888049573, time spent = 349.672µs, remote = 10.201.5.82:38958, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 08 13:03:50 ubuntu etcd[66975]: start time = 2024-07-08 13:03:50.602628108 +0000 UTC m=+515.905968565, time spent = 209.618µs, remote = 10.201.5.82:38958, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 08 13:03:52 ubuntu etcd[66975]: start time = 2024-07-08 13:03:52.349653597 +0000 UTC m=+517.652994064, time spent = 274.747µs, remote = 10.201.5.82:38958, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 08 13:03:53 ubuntu etcd[66975]: start time = 2024-07-08 13:03:53.480576588 +0000 UTC m=+518.783917141, time spent = 454.998µs, remote = 10.201.5.82:38958, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
