Mar 07 07:59:04 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 07 07:59:04 ubuntu etcd[65825]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 07 07:59:04 ubuntu etcd[65825]:         A future release of golang/protobuf will delete this package,
Mar 07 07:59:04 ubuntu etcd[65825]:         which has long been excluded from the compatibility promise.
Mar 07 07:59:04 ubuntu etcd[65825]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 07 07:59:04 ubuntu etcd[65825]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 07 07:59:04 ubuntu etcd[65825]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 07 07:59:04 ubuntu etcd[65825]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 07 07:59:04 ubuntu etcd[65825]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 07 07:59:04 ubuntu etcd[65825]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 07 07:59:04 ubuntu etcd[65825]: Running http and grpc server on single port. This is not recommended for production.
Mar 07 07:59:04 ubuntu etcd[65825]: etcd Version: 3.4.27
Mar 07 07:59:04 ubuntu etcd[65825]: Git SHA: c92fb80f3
Mar 07 07:59:04 ubuntu etcd[65825]: Go Version: go1.19.10
Mar 07 07:59:04 ubuntu etcd[65825]: Go OS/Arch: linux/amd64
Mar 07 07:59:04 ubuntu etcd[65825]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 07 07:59:04 ubuntu etcd[65825]: Running http and grpc server on single port. This is not recommended for production.
Mar 07 07:59:04 ubuntu etcd[65825]: name = ubuntu
Mar 07 07:59:04 ubuntu etcd[65825]: data dir = /opt/stack/data/etcd
Mar 07 07:59:04 ubuntu etcd[65825]: member dir = /opt/stack/data/etcd/member
Mar 07 07:59:04 ubuntu etcd[65825]: heartbeat = 100ms
Mar 07 07:59:04 ubuntu etcd[65825]: election = 1000ms
Mar 07 07:59:04 ubuntu etcd[65825]: snapshot count = 100000
Mar 07 07:59:04 ubuntu etcd[65825]: advertise client URLs = http://10.201.5.82:2379
Mar 07 07:59:04 ubuntu etcd[65825]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 07 07:59:04 ubuntu etcd[65825]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Mar 07 07:59:04 ubuntu etcd[65825]: raft2024/03/07 07:59:04 INFO: 43038365673ccf7b switched to configuration voters=()
Mar 07 07:59:04 ubuntu etcd[65825]: raft2024/03/07 07:59:04 INFO: 43038365673ccf7b became follower at term 0
Mar 07 07:59:04 ubuntu etcd[65825]: raft2024/03/07 07:59:04 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 07 07:59:04 ubuntu etcd[65825]: raft2024/03/07 07:59:04 INFO: 43038365673ccf7b became follower at term 1
Mar 07 07:59:04 ubuntu etcd[65825]: raft2024/03/07 07:59:04 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 07 07:59:04 ubuntu etcd[65825]: simple token is not cryptographically signed
Mar 07 07:59:04 ubuntu etcd[65825]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 07 07:59:04 ubuntu etcd[65825]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 07 07:59:04 ubuntu etcd[65825]: raft2024/03/07 07:59:04 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 07 07:59:04 ubuntu etcd[65825]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Mar 07 07:59:04 ubuntu etcd[65825]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 07 07:59:04 ubuntu etcd[65825]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 07 07:59:04 ubuntu etcd[65825]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 07 07:59:04 ubuntu etcd[65825]: listening for peers on [::]:2380
Mar 07 07:59:04 ubuntu etcd[65825]: raft2024/03/07 07:59:04 INFO: 43038365673ccf7b is starting a new election at term 1
Mar 07 07:59:04 ubuntu etcd[65825]: raft2024/03/07 07:59:04 INFO: 43038365673ccf7b became candidate at term 2
Mar 07 07:59:04 ubuntu etcd[65825]: raft2024/03/07 07:59:04 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Mar 07 07:59:04 ubuntu etcd[65825]: raft2024/03/07 07:59:04 INFO: 43038365673ccf7b became leader at term 2
Mar 07 07:59:04 ubuntu etcd[65825]: raft2024/03/07 07:59:04 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Mar 07 07:59:04 ubuntu etcd[65825]: setting up the initial cluster version to 3.4
Mar 07 07:59:04 ubuntu etcd[65825]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Mar 07 07:59:04 ubuntu etcd[65825]: ready to serve client requests
Mar 07 07:59:04 ubuntu etcd[65825]: INFO: 2024/03/07 07:59:04 parsed scheme: ""
Mar 07 07:59:04 ubuntu etcd[65825]: INFO: 2024/03/07 07:59:04 scheme "" not registered, fallback to default scheme
Mar 07 07:59:04 ubuntu etcd[65825]: set the initial cluster version to 3.4
Mar 07 07:59:04 ubuntu etcd[65825]: INFO: 2024/03/07 07:59:04 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Mar 07 07:59:04 ubuntu etcd[65825]: INFO: 2024/03/07 07:59:04 ClientConn switching balancer to "pick_first"
Mar 07 07:59:04 ubuntu etcd[65825]: enabled capabilities for version 3.4
Mar 07 07:59:04 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 07 07:59:04 ubuntu etcd[65825]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Mar 07 08:06:18 ubuntu etcd[65825]: start time = 2024-03-07 08:06:18.946860613 +0000 UTC m=+434.855827148, time spent = 1.48747ms, remote = 10.201.5.82:36952, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 07 08:06:19 ubuntu etcd[65825]: start time = 2024-03-07 08:06:19.085958307 +0000 UTC m=+434.994924854, time spent = 198.041µs, remote = 10.201.5.82:36952, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 07 08:06:26 ubuntu etcd[65825]: start time = 2024-03-07 08:06:26.075564686 +0000 UTC m=+441.984531230, time spent = 210.632µs, remote = 10.201.5.82:36952, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 07 08:06:27 ubuntu etcd[65825]: start time = 2024-03-07 08:06:27.898311431 +0000 UTC m=+443.807277975, time spent = 375.032µs, remote = 10.201.5.82:36952, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
