May 12 17:21:07 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 12 17:21:07 ubuntu etcd[79656]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 12 17:21:07 ubuntu etcd[79656]:         A future release of golang/protobuf will delete this package,
May 12 17:21:07 ubuntu etcd[79656]:         which has long been excluded from the compatibility promise.
May 12 17:21:07 ubuntu etcd[79656]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 12 17:21:07 ubuntu etcd[79656]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 12 17:21:07 ubuntu etcd[79656]: Running http and grpc server on single port. This is not recommended for production.
May 12 17:21:07 ubuntu etcd[79656]: etcd Version: 3.4.27
May 12 17:21:07 ubuntu etcd[79656]: Git SHA: c92fb80f3
May 12 17:21:07 ubuntu etcd[79656]: Go Version: go1.19.10
May 12 17:21:07 ubuntu etcd[79656]: Go OS/Arch: linux/amd64
May 12 17:21:07 ubuntu etcd[79656]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 12 17:21:07 ubuntu etcd[79656]: Running http and grpc server on single port. This is not recommended for production.
May 12 17:21:07 ubuntu etcd[79656]: name = ubuntu
May 12 17:21:07 ubuntu etcd[79656]: data dir = /opt/stack/data/etcd
May 12 17:21:07 ubuntu etcd[79656]: member dir = /opt/stack/data/etcd/member
May 12 17:21:07 ubuntu etcd[79656]: heartbeat = 100ms
May 12 17:21:07 ubuntu etcd[79656]: election = 1000ms
May 12 17:21:07 ubuntu etcd[79656]: snapshot count = 100000
May 12 17:21:07 ubuntu etcd[79656]: advertise client URLs = http://10.201.5.82:2379
May 12 17:21:07 ubuntu etcd[79656]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 12 17:21:07 ubuntu etcd[79656]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
May 12 17:21:07 ubuntu etcd[79656]: raft2025/05/12 17:21:07 INFO: 43038365673ccf7b switched to configuration voters=()
May 12 17:21:07 ubuntu etcd[79656]: raft2025/05/12 17:21:07 INFO: 43038365673ccf7b became follower at term 0
May 12 17:21:07 ubuntu etcd[79656]: raft2025/05/12 17:21:07 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 12 17:21:07 ubuntu etcd[79656]: raft2025/05/12 17:21:07 INFO: 43038365673ccf7b became follower at term 1
May 12 17:21:07 ubuntu etcd[79656]: raft2025/05/12 17:21:07 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
May 12 17:21:07 ubuntu etcd[79656]: simple token is not cryptographically signed
May 12 17:21:07 ubuntu etcd[79656]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 12 17:21:07 ubuntu etcd[79656]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
May 12 17:21:07 ubuntu etcd[79656]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 12 17:21:07 ubuntu etcd[79656]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 12 17:21:07 ubuntu etcd[79656]: raft2025/05/12 17:21:07 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
May 12 17:21:07 ubuntu etcd[79656]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 12 17:21:07 ubuntu etcd[79656]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
May 12 17:21:07 ubuntu etcd[79656]: listening for peers on [::]:2380
May 12 17:21:08 ubuntu etcd[79656]: raft2025/05/12 17:21:08 INFO: 43038365673ccf7b is starting a new election at term 1
May 12 17:21:08 ubuntu etcd[79656]: raft2025/05/12 17:21:08 INFO: 43038365673ccf7b became candidate at term 2
May 12 17:21:08 ubuntu etcd[79656]: raft2025/05/12 17:21:08 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
May 12 17:21:08 ubuntu etcd[79656]: raft2025/05/12 17:21:08 INFO: 43038365673ccf7b became leader at term 2
May 12 17:21:08 ubuntu etcd[79656]: raft2025/05/12 17:21:08 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
May 12 17:21:08 ubuntu etcd[79656]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
May 12 17:21:08 ubuntu etcd[79656]: setting up the initial cluster version to 3.4
May 12 17:21:08 ubuntu etcd[79656]: ready to serve client requests
May 12 17:21:08 ubuntu etcd[79656]: set the initial cluster version to 3.4
May 12 17:21:08 ubuntu etcd[79656]: enabled capabilities for version 3.4
May 12 17:21:08 ubuntu etcd[79656]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
May 12 17:21:08 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 12 17:26:05 ubuntu etcd[79656]: start time = 2025-05-12 17:26:05.468982548 +0000 UTC m=+297.980801080, time spent = 2.287277ms, remote = 10.201.5.82:33038, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 12 17:26:05 ubuntu etcd[79656]: start time = 2025-05-12 17:26:05.532739417 +0000 UTC m=+298.044557966, time spent = 274.908µs, remote = 10.201.5.82:33038, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 12 17:26:12 ubuntu etcd[79656]: start time = 2025-05-12 17:26:12.122025505 +0000 UTC m=+304.633844047, time spent = 281.986µs, remote = 10.201.5.82:33038, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 12 17:26:14 ubuntu etcd[79656]: start time = 2025-05-12 17:26:14.22371857 +0000 UTC m=+306.735537117, time spent = 1.049358ms, remote = 10.201.5.82:33038, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 12 17:29:49 ubuntu etcd[79656]: start time = 2025-05-12 17:29:49.55309982 +0000 UTC m=+522.064918372, time spent = 869.192µs, remote = 10.201.5.82:33038, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 12 17:29:49 ubuntu etcd[79656]: start time = 2025-05-12 17:29:49.58394691 +0000 UTC m=+522.095765455, time spent = 165.316µs, remote = 10.201.5.82:33038, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 12 17:29:51 ubuntu etcd[79656]: start time = 2025-05-12 17:29:51.971177282 +0000 UTC m=+524.482995830, time spent = 490.686µs, remote = 10.201.5.82:33038, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 12 17:29:53 ubuntu etcd[79656]: start time = 2025-05-12 17:29:53.950329543 +0000 UTC m=+526.462148192, time spent = 430.29µs, remote = 10.201.5.82:33038, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 12 17:31:45 ubuntu etcd[79656]: start time = 2025-05-12 17:31:45.393456389 +0000 UTC m=+637.905274940, time spent = 275.6µs, remote = 10.201.5.82:33038, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 12 17:31:45 ubuntu etcd[79656]: start time = 2025-05-12 17:31:45.397158274 +0000 UTC m=+637.908976807, time spent = 707.796µs, remote = 10.201.5.82:33038, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-b68a7b3c-c3d3-4143-ac71-c15b862fa6f6" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-b68a7b3c-c3d3-4143-ac71-c15b862fa6f6" value_size:16 lease:5727337126194696985 >> failure:<request_range:<key:"/tooz/lockscinder-b68a7b3c-c3d3-4143-ac71-c15b862fa6f6" > >
May 12 17:31:47 ubuntu etcd[79656]: start time = 2025-05-12 17:31:47.990255645 +0000 UTC m=+640.502074260, time spent = 2.249805ms, remote = 10.201.5.82:33038, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-b68a7b3c-c3d3-4143-ac71-c15b862fa6f6" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-b68a7b3c-c3d3-4143-ac71-c15b862fa6f6" > > failure:<>
May 12 17:31:48 ubuntu etcd[79656]: start time = 2025-05-12 17:31:48.201619595 +0000 UTC m=+640.713438208, time spent = 527.742µs, remote = 10.201.5.82:33038, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 12 17:31:48 ubuntu etcd[79656]: start time = 2025-05-12 17:31:48.204427117 +0000 UTC m=+640.716245680, time spent = 210.205µs, remote = 10.201.5.82:33038, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-b68a7b3c-c3d3-4143-ac71-c15b862fa6f6" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-b68a7b3c-c3d3-4143-ac71-c15b862fa6f6" value_size:16 lease:5727337126194696989 >> failure:<request_range:<key:"/tooz/lockscinder-b68a7b3c-c3d3-4143-ac71-c15b862fa6f6" > >
May 12 17:31:51 ubuntu etcd[79656]: start time = 2025-05-12 17:31:51.367472398 +0000 UTC m=+643.879291028, time spent = 526.59µs, remote = 10.201.5.82:33038, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-b68a7b3c-c3d3-4143-ac71-c15b862fa6f6" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-b68a7b3c-c3d3-4143-ac71-c15b862fa6f6" > > failure:<>
May 12 17:31:51 ubuntu etcd[79656]: start time = 2025-05-12 17:31:51.604895032 +0000 UTC m=+644.116713582, time spent = 241.373µs, remote = 10.201.5.82:33038, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 12 17:31:51 ubuntu etcd[79656]: start time = 2025-05-12 17:31:51.606947128 +0000 UTC m=+644.118765720, time spent = 537.639µs, remote = 10.201.5.82:33038, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-b68a7b3c-c3d3-4143-ac71-c15b862fa6f6" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-b68a7b3c-c3d3-4143-ac71-c15b862fa6f6" value_size:16 lease:5727337126194696993 >> failure:<request_range:<key:"/tooz/lockscinder-b68a7b3c-c3d3-4143-ac71-c15b862fa6f6" > >
May 12 17:31:53 ubuntu etcd[79656]: start time = 2025-05-12 17:31:53.452139942 +0000 UTC m=+645.963958539, time spent = 328.771µs, remote = 10.201.5.82:33038, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-b68a7b3c-c3d3-4143-ac71-c15b862fa6f6" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-b68a7b3c-c3d3-4143-ac71-c15b862fa6f6" > > failure:<>
