Jul 09 14:02:48 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 09 14:02:48 ubuntu etcd[67120]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 09 14:02:48 ubuntu etcd[67120]:         A future release of golang/protobuf will delete this package,
Jul 09 14:02:48 ubuntu etcd[67120]:         which has long been excluded from the compatibility promise.
Jul 09 14:02:48 ubuntu etcd[67120]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 09 14:02:48 ubuntu etcd[67120]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 09 14:02:48 ubuntu etcd[67120]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 09 14:02:48 ubuntu etcd[67120]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 09 14:02:48 ubuntu etcd[67120]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 09 14:02:48 ubuntu etcd[67120]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 09 14:02:48 ubuntu etcd[67120]: Running http and grpc server on single port. This is not recommended for production.
Jul 09 14:02:48 ubuntu etcd[67120]: etcd Version: 3.4.27
Jul 09 14:02:48 ubuntu etcd[67120]: Git SHA: c92fb80f3
Jul 09 14:02:48 ubuntu etcd[67120]: Go Version: go1.19.10
Jul 09 14:02:48 ubuntu etcd[67120]: Go OS/Arch: linux/amd64
Jul 09 14:02:48 ubuntu etcd[67120]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 09 14:02:48 ubuntu etcd[67120]: Running http and grpc server on single port. This is not recommended for production.
Jul 09 14:02:48 ubuntu etcd[67120]: name = ubuntu
Jul 09 14:02:48 ubuntu etcd[67120]: data dir = /opt/stack/data/etcd
Jul 09 14:02:48 ubuntu etcd[67120]: member dir = /opt/stack/data/etcd/member
Jul 09 14:02:48 ubuntu etcd[67120]: heartbeat = 100ms
Jul 09 14:02:48 ubuntu etcd[67120]: election = 1000ms
Jul 09 14:02:48 ubuntu etcd[67120]: snapshot count = 100000
Jul 09 14:02:48 ubuntu etcd[67120]: advertise client URLs = http://10.201.5.82:2379
Jul 09 14:02:48 ubuntu etcd[67120]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 09 14:02:48 ubuntu etcd[67120]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jul 09 14:02:48 ubuntu etcd[67120]: raft2024/07/09 14:02:48 INFO: 43038365673ccf7b switched to configuration voters=()
Jul 09 14:02:48 ubuntu etcd[67120]: raft2024/07/09 14:02:48 INFO: 43038365673ccf7b became follower at term 0
Jul 09 14:02:48 ubuntu etcd[67120]: raft2024/07/09 14:02:48 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 09 14:02:48 ubuntu etcd[67120]: raft2024/07/09 14:02:48 INFO: 43038365673ccf7b became follower at term 1
Jul 09 14:02:48 ubuntu etcd[67120]: raft2024/07/09 14:02:48 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 09 14:02:48 ubuntu etcd[67120]: simple token is not cryptographically signed
Jul 09 14:02:48 ubuntu etcd[67120]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 09 14:02:48 ubuntu etcd[67120]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 09 14:02:48 ubuntu etcd[67120]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 09 14:02:48 ubuntu etcd[67120]: raft2024/07/09 14:02:48 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 09 14:02:48 ubuntu etcd[67120]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 09 14:02:48 ubuntu etcd[67120]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 09 14:02:48 ubuntu etcd[67120]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jul 09 14:02:48 ubuntu etcd[67120]: listening for peers on [::]:2380
Jul 09 14:02:48 ubuntu etcd[67120]: raft2024/07/09 14:02:48 INFO: 43038365673ccf7b is starting a new election at term 1
Jul 09 14:02:48 ubuntu etcd[67120]: raft2024/07/09 14:02:48 INFO: 43038365673ccf7b became candidate at term 2
Jul 09 14:02:48 ubuntu etcd[67120]: raft2024/07/09 14:02:48 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jul 09 14:02:48 ubuntu etcd[67120]: raft2024/07/09 14:02:48 INFO: 43038365673ccf7b became leader at term 2
Jul 09 14:02:48 ubuntu etcd[67120]: raft2024/07/09 14:02:48 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jul 09 14:02:48 ubuntu etcd[67120]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jul 09 14:02:48 ubuntu etcd[67120]: ready to serve client requests
Jul 09 14:02:48 ubuntu etcd[67120]: INFO: 2024/07/09 14:02:48 parsed scheme: ""
Jul 09 14:02:48 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 09 14:02:48 ubuntu etcd[67120]: INFO: 2024/07/09 14:02:48 scheme "" not registered, fallback to default scheme
Jul 09 14:02:48 ubuntu etcd[67120]: INFO: 2024/07/09 14:02:48 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Jul 09 14:02:48 ubuntu etcd[67120]: INFO: 2024/07/09 14:02:48 ClientConn switching balancer to "pick_first"
Jul 09 14:02:48 ubuntu etcd[67120]: setting up the initial cluster version to 3.4
Jul 09 14:02:48 ubuntu etcd[67120]: set the initial cluster version to 3.4
Jul 09 14:02:48 ubuntu etcd[67120]: enabled capabilities for version 3.4
Jul 09 14:02:48 ubuntu etcd[67120]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jul 09 14:08:32 ubuntu etcd[67120]: start time = 2024-07-09 14:08:32.581490886 +0000 UTC m=+344.507749417, time spent = 602.533µs, remote = 10.201.5.82:53936, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 09 14:08:32 ubuntu etcd[67120]: start time = 2024-07-09 14:08:32.602530201 +0000 UTC m=+344.528788731, time spent = 171.745µs, remote = 10.201.5.82:53936, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 09 14:08:39 ubuntu etcd[67120]: start time = 2024-07-09 14:08:39.858610164 +0000 UTC m=+351.784868694, time spent = 209.246µs, remote = 10.201.5.82:53936, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 09 14:08:41 ubuntu etcd[67120]: start time = 2024-07-09 14:08:41.922814545 +0000 UTC m=+353.849073086, time spent = 182.699µs, remote = 10.201.5.82:53936, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 09 14:11:30 ubuntu etcd[67120]: start time = 2024-07-09 14:11:30.333200519 +0000 UTC m=+522.259459060, time spent = 319.595µs, remote = 10.201.5.82:53936, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 09 14:11:30 ubuntu etcd[67120]: start time = 2024-07-09 14:11:30.352457599 +0000 UTC m=+522.278716142, time spent = 141.624µs, remote = 10.201.5.82:53936, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 09 14:11:32 ubuntu etcd[67120]: start time = 2024-07-09 14:11:32.625669975 +0000 UTC m=+524.551928516, time spent = 206.706µs, remote = 10.201.5.82:53936, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 09 14:11:34 ubuntu etcd[67120]: start time = 2024-07-09 14:11:34.168591322 +0000 UTC m=+526.094849864, time spent = 198.134µs, remote = 10.201.5.82:53936, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
