Jul 08 15:01:05 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 08 15:01:05 ubuntu etcd[66943]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 08 15:01:05 ubuntu etcd[66943]:         A future release of golang/protobuf will delete this package,
Jul 08 15:01:05 ubuntu etcd[66943]:         which has long been excluded from the compatibility promise.
Jul 08 15:01:05 ubuntu etcd[66943]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 08 15:01:05 ubuntu etcd[66943]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 08 15:01:05 ubuntu etcd[66943]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 08 15:01:05 ubuntu etcd[66943]: Running http and grpc server on single port. This is not recommended for production.
Jul 08 15:01:05 ubuntu etcd[66943]: etcd Version: 3.4.27
Jul 08 15:01:05 ubuntu etcd[66943]: Git SHA: c92fb80f3
Jul 08 15:01:05 ubuntu etcd[66943]: Go Version: go1.19.10
Jul 08 15:01:05 ubuntu etcd[66943]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 08 15:01:05 ubuntu etcd[66943]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 08 15:01:05 ubuntu etcd[66943]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 08 15:01:05 ubuntu etcd[66943]: Go OS/Arch: linux/amd64
Jul 08 15:01:05 ubuntu etcd[66943]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 08 15:01:05 ubuntu etcd[66943]: Running http and grpc server on single port. This is not recommended for production.
Jul 08 15:01:05 ubuntu etcd[66943]: name = ubuntu
Jul 08 15:01:05 ubuntu etcd[66943]: data dir = /opt/stack/data/etcd
Jul 08 15:01:05 ubuntu etcd[66943]: member dir = /opt/stack/data/etcd/member
Jul 08 15:01:05 ubuntu etcd[66943]: heartbeat = 100ms
Jul 08 15:01:05 ubuntu etcd[66943]: election = 1000ms
Jul 08 15:01:05 ubuntu etcd[66943]: snapshot count = 100000
Jul 08 15:01:05 ubuntu etcd[66943]: advertise client URLs = http://10.201.5.82:2379
Jul 08 15:01:05 ubuntu etcd[66943]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 08 15:01:05 ubuntu etcd[66943]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jul 08 15:01:05 ubuntu etcd[66943]: raft2024/07/08 15:01:05 INFO: 43038365673ccf7b switched to configuration voters=()
Jul 08 15:01:05 ubuntu etcd[66943]: raft2024/07/08 15:01:05 INFO: 43038365673ccf7b became follower at term 0
Jul 08 15:01:05 ubuntu etcd[66943]: raft2024/07/08 15:01:05 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 08 15:01:05 ubuntu etcd[66943]: raft2024/07/08 15:01:05 INFO: 43038365673ccf7b became follower at term 1
Jul 08 15:01:05 ubuntu etcd[66943]: raft2024/07/08 15:01:05 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 08 15:01:05 ubuntu etcd[66943]: simple token is not cryptographically signed
Jul 08 15:01:05 ubuntu etcd[66943]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 08 15:01:05 ubuntu etcd[66943]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 08 15:01:05 ubuntu etcd[66943]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 08 15:01:05 ubuntu etcd[66943]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 08 15:01:05 ubuntu etcd[66943]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 08 15:01:05 ubuntu etcd[66943]: raft2024/07/08 15:01:05 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 08 15:01:05 ubuntu etcd[66943]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jul 08 15:01:05 ubuntu etcd[66943]: listening for peers on [::]:2380
Jul 08 15:01:06 ubuntu etcd[66943]: raft2024/07/08 15:01:06 INFO: 43038365673ccf7b is starting a new election at term 1
Jul 08 15:01:06 ubuntu etcd[66943]: raft2024/07/08 15:01:06 INFO: 43038365673ccf7b became candidate at term 2
Jul 08 15:01:06 ubuntu etcd[66943]: raft2024/07/08 15:01:06 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jul 08 15:01:06 ubuntu etcd[66943]: raft2024/07/08 15:01:06 INFO: 43038365673ccf7b became leader at term 2
Jul 08 15:01:06 ubuntu etcd[66943]: raft2024/07/08 15:01:06 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jul 08 15:01:06 ubuntu etcd[66943]: setting up the initial cluster version to 3.4
Jul 08 15:01:06 ubuntu etcd[66943]: set the initial cluster version to 3.4
Jul 08 15:01:06 ubuntu etcd[66943]: enabled capabilities for version 3.4
Jul 08 15:01:06 ubuntu etcd[66943]: ready to serve client requests
Jul 08 15:01:06 ubuntu etcd[66943]: INFO: 2024/07/08 15:01:06 parsed scheme: ""
Jul 08 15:01:06 ubuntu etcd[66943]: INFO: 2024/07/08 15:01:06 scheme "" not registered, fallback to default scheme
Jul 08 15:01:06 ubuntu etcd[66943]: INFO: 2024/07/08 15:01:06 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Jul 08 15:01:06 ubuntu etcd[66943]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jul 08 15:01:06 ubuntu etcd[66943]: INFO: 2024/07/08 15:01:06 ClientConn switching balancer to "pick_first"
Jul 08 15:01:06 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 08 15:01:06 ubuntu etcd[66943]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jul 08 15:06:40 ubuntu etcd[66943]: start time = 2024-07-08 15:06:40.031059175 +0000 UTC m=+334.501028891, time spent = 1.459809ms, remote = 10.201.5.82:40464, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 08 15:06:40 ubuntu etcd[66943]: start time = 2024-07-08 15:06:40.063957998 +0000 UTC m=+334.533927703, time spent = 220.046µs, remote = 10.201.5.82:40464, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 08 15:06:46 ubuntu etcd[66943]: start time = 2024-07-08 15:06:46.81322934 +0000 UTC m=+341.283199054, time spent = 547.628µs, remote = 10.201.5.82:40464, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 08 15:06:49 ubuntu etcd[66943]: start time = 2024-07-08 15:06:49.015594794 +0000 UTC m=+343.485564498, time spent = 236.401µs, remote = 10.201.5.82:40464, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 08 15:09:44 ubuntu etcd[66943]: start time = 2024-07-08 15:09:44.635738403 +0000 UTC m=+519.105708107, time spent = 506.594µs, remote = 10.201.5.82:40464, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 08 15:09:44 ubuntu etcd[66943]: start time = 2024-07-08 15:09:44.677455332 +0000 UTC m=+519.147425037, time spent = 248.256µs, remote = 10.201.5.82:40464, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 08 15:09:46 ubuntu etcd[66943]: start time = 2024-07-08 15:09:46.768650943 +0000 UTC m=+521.238620699, time spent = 376.852µs, remote = 10.201.5.82:40464, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 08 15:09:48 ubuntu etcd[66943]: start time = 2024-07-08 15:09:48.873945218 +0000 UTC m=+523.343914984, time spent = 338.577µs, remote = 10.201.5.82:40464, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
