Aug 21 12:31:48 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Aug 21 12:31:48 ubuntu etcd[68014]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Aug 21 12:31:48 ubuntu etcd[68014]:         A future release of golang/protobuf will delete this package,
Aug 21 12:31:48 ubuntu etcd[68014]:         which has long been excluded from the compatibility promise.
Aug 21 12:31:48 ubuntu etcd[68014]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 21 12:31:48 ubuntu etcd[68014]: Running http and grpc server on single port. This is not recommended for production.
Aug 21 12:31:48 ubuntu etcd[68014]: etcd Version: 3.4.27
Aug 21 12:31:48 ubuntu etcd[68014]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 21 12:31:48 ubuntu etcd[68014]: Git SHA: c92fb80f3
Aug 21 12:31:48 ubuntu etcd[68014]: Go Version: go1.19.10
Aug 21 12:31:48 ubuntu etcd[68014]: Go OS/Arch: linux/amd64
Aug 21 12:31:48 ubuntu etcd[68014]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Aug 21 12:31:48 ubuntu etcd[68014]: Running http and grpc server on single port. This is not recommended for production.
Aug 21 12:31:48 ubuntu etcd[68014]: name = ubuntu
Aug 21 12:31:48 ubuntu etcd[68014]: data dir = /opt/stack/data/etcd
Aug 21 12:31:48 ubuntu etcd[68014]: member dir = /opt/stack/data/etcd/member
Aug 21 12:31:48 ubuntu etcd[68014]: heartbeat = 100ms
Aug 21 12:31:48 ubuntu etcd[68014]: election = 1000ms
Aug 21 12:31:48 ubuntu etcd[68014]: snapshot count = 100000
Aug 21 12:31:48 ubuntu etcd[68014]: advertise client URLs = http://10.201.5.82:2379
Aug 21 12:31:48 ubuntu etcd[68014]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Aug 21 12:31:48 ubuntu etcd[68014]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Aug 21 12:31:48 ubuntu etcd[68014]: raft2024/08/21 12:31:48 INFO: 43038365673ccf7b switched to configuration voters=()
Aug 21 12:31:48 ubuntu etcd[68014]: raft2024/08/21 12:31:48 INFO: 43038365673ccf7b became follower at term 0
Aug 21 12:31:48 ubuntu etcd[68014]: raft2024/08/21 12:31:48 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Aug 21 12:31:48 ubuntu etcd[68014]: raft2024/08/21 12:31:48 INFO: 43038365673ccf7b became follower at term 1
Aug 21 12:31:48 ubuntu etcd[68014]: raft2024/08/21 12:31:48 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Aug 21 12:31:48 ubuntu etcd[68014]: simple token is not cryptographically signed
Aug 21 12:31:48 ubuntu etcd[68014]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Aug 21 12:31:48 ubuntu etcd[68014]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Aug 21 12:31:48 ubuntu etcd[68014]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Aug 21 12:31:48 ubuntu etcd[68014]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Aug 21 12:31:48 ubuntu etcd[68014]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Aug 21 12:31:48 ubuntu etcd[68014]: raft2024/08/21 12:31:48 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Aug 21 12:31:48 ubuntu etcd[68014]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Aug 21 12:31:48 ubuntu etcd[68014]: listening for peers on [::]:2380
Aug 21 12:31:49 ubuntu etcd[68014]: raft2024/08/21 12:31:49 INFO: 43038365673ccf7b is starting a new election at term 1
Aug 21 12:31:49 ubuntu etcd[68014]: raft2024/08/21 12:31:49 INFO: 43038365673ccf7b became candidate at term 2
Aug 21 12:31:49 ubuntu etcd[68014]: raft2024/08/21 12:31:49 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Aug 21 12:31:49 ubuntu etcd[68014]: raft2024/08/21 12:31:49 INFO: 43038365673ccf7b became leader at term 2
Aug 21 12:31:49 ubuntu etcd[68014]: raft2024/08/21 12:31:49 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Aug 21 12:31:49 ubuntu etcd[68014]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Aug 21 12:31:49 ubuntu etcd[68014]: ready to serve client requests
Aug 21 12:31:49 ubuntu etcd[68014]: setting up the initial cluster version to 3.4
Aug 21 12:31:49 ubuntu etcd[68014]: set the initial cluster version to 3.4
Aug 21 12:31:49 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Aug 21 12:31:49 ubuntu etcd[68014]: enabled capabilities for version 3.4
Aug 21 12:31:49 ubuntu etcd[68014]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Aug 21 12:36:47 ubuntu etcd[68014]: start time = 2024-08-21 12:36:47.986282304 +0000 UTC m=+299.500206393, time spent = 1.698429ms, remote = 10.201.5.82:56576, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 21 12:36:48 ubuntu etcd[68014]: start time = 2024-08-21 12:36:48.003308916 +0000 UTC m=+299.517233017, time spent = 206.615µs, remote = 10.201.5.82:56576, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 21 12:36:55 ubuntu etcd[68014]: start time = 2024-08-21 12:36:55.036108968 +0000 UTC m=+306.550033057, time spent = 289.564µs, remote = 10.201.5.82:56576, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 21 12:36:57 ubuntu etcd[68014]: start time = 2024-08-21 12:36:57.305614502 +0000 UTC m=+308.819538599, time spent = 370.981µs, remote = 10.201.5.82:56576, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
