Feb 28 08:10:08 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Feb 28 08:10:08 ubuntu etcd[65809]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Feb 28 08:10:08 ubuntu etcd[65809]:         A future release of golang/protobuf will delete this package,
Feb 28 08:10:08 ubuntu etcd[65809]:         which has long been excluded from the compatibility promise.
Feb 28 08:10:08 ubuntu etcd[65809]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 28 08:10:08 ubuntu etcd[65809]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 28 08:10:08 ubuntu etcd[65809]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 28 08:10:08 ubuntu etcd[65809]: Running http and grpc server on single port. This is not recommended for production.
Feb 28 08:10:08 ubuntu etcd[65809]: etcd Version: 3.4.27
Feb 28 08:10:08 ubuntu etcd[65809]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 28 08:10:08 ubuntu etcd[65809]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 28 08:10:08 ubuntu etcd[65809]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 28 08:10:08 ubuntu etcd[65809]: Git SHA: c92fb80f3
Feb 28 08:10:08 ubuntu etcd[65809]: Go Version: go1.19.10
Feb 28 08:10:08 ubuntu etcd[65809]: Go OS/Arch: linux/amd64
Feb 28 08:10:08 ubuntu etcd[65809]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Feb 28 08:10:08 ubuntu etcd[65809]: Running http and grpc server on single port. This is not recommended for production.
Feb 28 08:10:08 ubuntu etcd[65809]: name = ubuntu
Feb 28 08:10:08 ubuntu etcd[65809]: data dir = /opt/stack/data/etcd
Feb 28 08:10:08 ubuntu etcd[65809]: member dir = /opt/stack/data/etcd/member
Feb 28 08:10:08 ubuntu etcd[65809]: heartbeat = 100ms
Feb 28 08:10:08 ubuntu etcd[65809]: election = 1000ms
Feb 28 08:10:08 ubuntu etcd[65809]: snapshot count = 100000
Feb 28 08:10:08 ubuntu etcd[65809]: advertise client URLs = http://10.201.5.82:2379
Feb 28 08:10:08 ubuntu etcd[65809]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Feb 28 08:10:08 ubuntu etcd[65809]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Feb 28 08:10:08 ubuntu etcd[65809]: raft2024/02/28 08:10:08 INFO: 43038365673ccf7b switched to configuration voters=()
Feb 28 08:10:08 ubuntu etcd[65809]: raft2024/02/28 08:10:08 INFO: 43038365673ccf7b became follower at term 0
Feb 28 08:10:08 ubuntu etcd[65809]: raft2024/02/28 08:10:08 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Feb 28 08:10:08 ubuntu etcd[65809]: raft2024/02/28 08:10:08 INFO: 43038365673ccf7b became follower at term 1
Feb 28 08:10:08 ubuntu etcd[65809]: raft2024/02/28 08:10:08 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Feb 28 08:10:08 ubuntu etcd[65809]: simple token is not cryptographically signed
Feb 28 08:10:08 ubuntu etcd[65809]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Feb 28 08:10:08 ubuntu etcd[65809]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Feb 28 08:10:08 ubuntu etcd[65809]: raft2024/02/28 08:10:08 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Feb 28 08:10:08 ubuntu etcd[65809]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Feb 28 08:10:08 ubuntu etcd[65809]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Feb 28 08:10:08 ubuntu etcd[65809]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Feb 28 08:10:08 ubuntu etcd[65809]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Feb 28 08:10:08 ubuntu etcd[65809]: listening for peers on [::]:2380
Feb 28 08:10:09 ubuntu etcd[65809]: raft2024/02/28 08:10:09 INFO: 43038365673ccf7b is starting a new election at term 1
Feb 28 08:10:09 ubuntu etcd[65809]: raft2024/02/28 08:10:09 INFO: 43038365673ccf7b became candidate at term 2
Feb 28 08:10:09 ubuntu etcd[65809]: raft2024/02/28 08:10:09 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Feb 28 08:10:09 ubuntu etcd[65809]: raft2024/02/28 08:10:09 INFO: 43038365673ccf7b became leader at term 2
Feb 28 08:10:09 ubuntu etcd[65809]: raft2024/02/28 08:10:09 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Feb 28 08:10:09 ubuntu etcd[65809]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Feb 28 08:10:09 ubuntu etcd[65809]: setting up the initial cluster version to 3.4
Feb 28 08:10:09 ubuntu etcd[65809]: ready to serve client requests
Feb 28 08:10:09 ubuntu etcd[65809]: INFO: 2024/02/28 08:10:09 parsed scheme: ""
Feb 28 08:10:09 ubuntu etcd[65809]: INFO: 2024/02/28 08:10:09 scheme "" not registered, fallback to default scheme
Feb 28 08:10:09 ubuntu etcd[65809]: INFO: 2024/02/28 08:10:09 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Feb 28 08:10:09 ubuntu etcd[65809]: INFO: 2024/02/28 08:10:09 ClientConn switching balancer to "pick_first"
Feb 28 08:10:09 ubuntu etcd[65809]: set the initial cluster version to 3.4
Feb 28 08:10:09 ubuntu etcd[65809]: enabled capabilities for version 3.4
Feb 28 08:10:09 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Feb 28 08:10:09 ubuntu etcd[65809]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Feb 28 08:16:40 ubuntu etcd[65809]: start time = 2024-02-28 08:16:40.610618371 +0000 UTC m=+392.047489036, time spent = 1.562531ms, remote = 10.201.5.82:35532, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 28 08:16:40 ubuntu etcd[65809]: start time = 2024-02-28 08:16:40.674579227 +0000 UTC m=+392.111449892, time spent = 212.773µs, remote = 10.201.5.82:35532, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 28 08:16:47 ubuntu etcd[65809]: start time = 2024-02-28 08:16:47.306561383 +0000 UTC m=+398.743432057, time spent = 208.986µs, remote = 10.201.5.82:35532, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 28 08:16:49 ubuntu etcd[65809]: start time = 2024-02-28 08:16:49.576664408 +0000 UTC m=+401.013535074, time spent = 203.668µs, remote = 10.201.5.82:35532, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 28 08:22:08 ubuntu etcd[65809]: start time = 2024-02-28 08:22:08.249496442 +0000 UTC m=+719.686367117, time spent = 303.562µs, remote = 10.201.5.82:35532, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 28 08:22:09 ubuntu etcd[65809]: start time = 2024-02-28 08:22:09.539188499 +0000 UTC m=+720.976059175, time spent = 175.472µs, remote = 10.201.5.82:35532, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 28 08:22:09 ubuntu etcd[65809]: start time = 2024-02-28 08:22:09.553925982 +0000 UTC m=+720.990796655, time spent = 98.564µs, remote = 10.201.5.82:35532, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 28 08:22:09 ubuntu etcd[65809]: start time = 2024-02-28 08:22:09.656163067 +0000 UTC m=+721.093033732, time spent = 279.108µs, remote = 10.201.5.82:35532, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
