Jun 20 06:43:30 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 20 06:43:30 ubuntu etcd[67281]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 20 06:43:30 ubuntu etcd[67281]:         A future release of golang/protobuf will delete this package,
Jun 20 06:43:30 ubuntu etcd[67281]:         which has long been excluded from the compatibility promise.
Jun 20 06:43:30 ubuntu etcd[67281]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jun 20 06:43:30 ubuntu etcd[67281]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jun 20 06:43:30 ubuntu etcd[67281]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 20 06:43:30 ubuntu etcd[67281]: Running http and grpc server on single port. This is not recommended for production.
Jun 20 06:43:30 ubuntu etcd[67281]: etcd Version: 3.4.27
Jun 20 06:43:30 ubuntu etcd[67281]: Git SHA: c92fb80f3
Jun 20 06:43:30 ubuntu etcd[67281]: Go Version: go1.19.10
Jun 20 06:43:30 ubuntu etcd[67281]: Go OS/Arch: linux/amd64
Jun 20 06:43:30 ubuntu etcd[67281]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 20 06:43:30 ubuntu etcd[67281]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jun 20 06:43:30 ubuntu etcd[67281]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jun 20 06:43:30 ubuntu etcd[67281]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 20 06:43:30 ubuntu etcd[67281]: Running http and grpc server on single port. This is not recommended for production.
Jun 20 06:43:30 ubuntu etcd[67281]: name = ubuntu
Jun 20 06:43:30 ubuntu etcd[67281]: data dir = /opt/stack/data/etcd
Jun 20 06:43:30 ubuntu etcd[67281]: member dir = /opt/stack/data/etcd/member
Jun 20 06:43:30 ubuntu etcd[67281]: heartbeat = 100ms
Jun 20 06:43:30 ubuntu etcd[67281]: election = 1000ms
Jun 20 06:43:30 ubuntu etcd[67281]: snapshot count = 100000
Jun 20 06:43:30 ubuntu etcd[67281]: advertise client URLs = http://10.201.5.82:2379
Jun 20 06:43:30 ubuntu etcd[67281]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 20 06:43:30 ubuntu etcd[67281]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jun 20 06:43:30 ubuntu etcd[67281]: raft2024/06/20 06:43:30 INFO: 43038365673ccf7b switched to configuration voters=()
Jun 20 06:43:30 ubuntu etcd[67281]: raft2024/06/20 06:43:30 INFO: 43038365673ccf7b became follower at term 0
Jun 20 06:43:30 ubuntu etcd[67281]: raft2024/06/20 06:43:30 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 20 06:43:30 ubuntu etcd[67281]: raft2024/06/20 06:43:30 INFO: 43038365673ccf7b became follower at term 1
Jun 20 06:43:30 ubuntu etcd[67281]: raft2024/06/20 06:43:30 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 20 06:43:30 ubuntu etcd[67281]: simple token is not cryptographically signed
Jun 20 06:43:30 ubuntu etcd[67281]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 20 06:43:30 ubuntu etcd[67281]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 20 06:43:30 ubuntu etcd[67281]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 20 06:43:30 ubuntu etcd[67281]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 20 06:43:30 ubuntu etcd[67281]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 20 06:43:30 ubuntu etcd[67281]: raft2024/06/20 06:43:30 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 20 06:43:30 ubuntu etcd[67281]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jun 20 06:43:30 ubuntu etcd[67281]: listening for peers on [::]:2380
Jun 20 06:43:30 ubuntu etcd[67281]: raft2024/06/20 06:43:30 INFO: 43038365673ccf7b is starting a new election at term 1
Jun 20 06:43:30 ubuntu etcd[67281]: raft2024/06/20 06:43:30 INFO: 43038365673ccf7b became candidate at term 2
Jun 20 06:43:30 ubuntu etcd[67281]: raft2024/06/20 06:43:30 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jun 20 06:43:30 ubuntu etcd[67281]: raft2024/06/20 06:43:30 INFO: 43038365673ccf7b became leader at term 2
Jun 20 06:43:30 ubuntu etcd[67281]: raft2024/06/20 06:43:30 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jun 20 06:43:30 ubuntu etcd[67281]: INFO: 2024/06/20 06:43:30 parsed scheme: ""
Jun 20 06:43:30 ubuntu etcd[67281]: INFO: 2024/06/20 06:43:30 scheme "" not registered, fallback to default scheme
Jun 20 06:43:30 ubuntu etcd[67281]: INFO: 2024/06/20 06:43:30 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Jun 20 06:43:30 ubuntu etcd[67281]: setting up the initial cluster version to 3.4
Jun 20 06:43:30 ubuntu etcd[67281]: INFO: 2024/06/20 06:43:30 ClientConn switching balancer to "pick_first"
Jun 20 06:43:30 ubuntu etcd[67281]: ready to serve client requests
Jun 20 06:43:30 ubuntu etcd[67281]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jun 20 06:43:30 ubuntu etcd[67281]: set the initial cluster version to 3.4
Jun 20 06:43:30 ubuntu etcd[67281]: enabled capabilities for version 3.4
Jun 20 06:43:30 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 20 06:43:30 ubuntu etcd[67281]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jun 20 06:48:42 ubuntu etcd[67281]: start time = 2024-06-20 06:48:42.635699937 +0000 UTC m=+312.308011080, time spent = 1.772224ms, remote = 10.201.5.82:55844, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 20 06:48:42 ubuntu etcd[67281]: start time = 2024-06-20 06:48:42.643523081 +0000 UTC m=+312.315834203, time spent = 260.786µs, remote = 10.201.5.82:55844, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 20 06:48:49 ubuntu etcd[67281]: start time = 2024-06-20 06:48:49.756486903 +0000 UTC m=+319.428798035, time spent = 208.035µs, remote = 10.201.5.82:55844, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 20 06:48:51 ubuntu etcd[67281]: start time = 2024-06-20 06:48:51.539392645 +0000 UTC m=+321.211703825, time spent = 352.062µs, remote = 10.201.5.82:55844, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 20 06:51:37 ubuntu etcd[67281]: start time = 2024-06-20 06:51:37.259974834 +0000 UTC m=+486.932285955, time spent = 406.451µs, remote = 10.201.5.82:55844, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 20 06:51:37 ubuntu etcd[67281]: start time = 2024-06-20 06:51:37.346448981 +0000 UTC m=+487.018760112, time spent = 207.168µs, remote = 10.201.5.82:55844, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 20 06:51:37 ubuntu etcd[67281]: start time = 2024-06-20 06:51:37.372684412 +0000 UTC m=+487.044995534, time spent = 162.111µs, remote = 10.201.5.82:55844, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 20 06:51:41 ubuntu etcd[67281]: start time = 2024-06-20 06:51:41.482118895 +0000 UTC m=+491.154430029, time spent = 1.064424ms, remote = 10.201.5.82:55844, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
