Jun 18 15:20:39 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 18 15:20:39 ubuntu etcd[66837]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 18 15:20:39 ubuntu etcd[66837]:         A future release of golang/protobuf will delete this package,
Jun 18 15:20:39 ubuntu etcd[66837]:         which has long been excluded from the compatibility promise.
Jun 18 15:20:39 ubuntu etcd[66837]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jun 18 15:20:39 ubuntu etcd[66837]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jun 18 15:20:39 ubuntu etcd[66837]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 18 15:20:39 ubuntu etcd[66837]: Running http and grpc server on single port. This is not recommended for production.
Jun 18 15:20:39 ubuntu etcd[66837]: etcd Version: 3.4.27
Jun 18 15:20:39 ubuntu etcd[66837]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jun 18 15:20:39 ubuntu etcd[66837]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jun 18 15:20:39 ubuntu etcd[66837]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 18 15:20:39 ubuntu etcd[66837]: Git SHA: c92fb80f3
Jun 18 15:20:39 ubuntu etcd[66837]: Go Version: go1.19.10
Jun 18 15:20:39 ubuntu etcd[66837]: Go OS/Arch: linux/amd64
Jun 18 15:20:39 ubuntu etcd[66837]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 18 15:20:39 ubuntu etcd[66837]: Running http and grpc server on single port. This is not recommended for production.
Jun 18 15:20:39 ubuntu etcd[66837]: name = ubuntu
Jun 18 15:20:39 ubuntu etcd[66837]: data dir = /opt/stack/data/etcd
Jun 18 15:20:39 ubuntu etcd[66837]: member dir = /opt/stack/data/etcd/member
Jun 18 15:20:39 ubuntu etcd[66837]: heartbeat = 100ms
Jun 18 15:20:39 ubuntu etcd[66837]: election = 1000ms
Jun 18 15:20:39 ubuntu etcd[66837]: snapshot count = 100000
Jun 18 15:20:39 ubuntu etcd[66837]: advertise client URLs = http://10.201.5.82:2379
Jun 18 15:20:39 ubuntu etcd[66837]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 18 15:20:39 ubuntu etcd[66837]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jun 18 15:20:39 ubuntu etcd[66837]: raft2024/06/18 15:20:39 INFO: 43038365673ccf7b switched to configuration voters=()
Jun 18 15:20:39 ubuntu etcd[66837]: raft2024/06/18 15:20:39 INFO: 43038365673ccf7b became follower at term 0
Jun 18 15:20:39 ubuntu etcd[66837]: raft2024/06/18 15:20:39 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 18 15:20:39 ubuntu etcd[66837]: raft2024/06/18 15:20:39 INFO: 43038365673ccf7b became follower at term 1
Jun 18 15:20:39 ubuntu etcd[66837]: raft2024/06/18 15:20:39 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 18 15:20:39 ubuntu etcd[66837]: simple token is not cryptographically signed
Jun 18 15:20:39 ubuntu etcd[66837]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 18 15:20:39 ubuntu etcd[66837]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 18 15:20:39 ubuntu etcd[66837]: raft2024/06/18 15:20:39 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 18 15:20:39 ubuntu etcd[66837]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jun 18 15:20:39 ubuntu etcd[66837]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 18 15:20:39 ubuntu etcd[66837]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 18 15:20:39 ubuntu etcd[66837]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 18 15:20:39 ubuntu etcd[66837]: listening for peers on [::]:2380
Jun 18 15:20:39 ubuntu etcd[66837]: raft2024/06/18 15:20:39 INFO: 43038365673ccf7b is starting a new election at term 1
Jun 18 15:20:39 ubuntu etcd[66837]: raft2024/06/18 15:20:39 INFO: 43038365673ccf7b became candidate at term 2
Jun 18 15:20:39 ubuntu etcd[66837]: raft2024/06/18 15:20:39 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jun 18 15:20:39 ubuntu etcd[66837]: raft2024/06/18 15:20:39 INFO: 43038365673ccf7b became leader at term 2
Jun 18 15:20:39 ubuntu etcd[66837]: raft2024/06/18 15:20:39 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jun 18 15:20:39 ubuntu etcd[66837]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jun 18 15:20:39 ubuntu etcd[66837]: ready to serve client requests
Jun 18 15:20:39 ubuntu etcd[66837]: INFO: 2024/06/18 15:20:39 parsed scheme: ""
Jun 18 15:20:39 ubuntu etcd[66837]: INFO: 2024/06/18 15:20:39 scheme "" not registered, fallback to default scheme
Jun 18 15:20:39 ubuntu etcd[66837]: INFO: 2024/06/18 15:20:39 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Jun 18 15:20:39 ubuntu etcd[66837]: INFO: 2024/06/18 15:20:39 ClientConn switching balancer to "pick_first"
Jun 18 15:20:39 ubuntu etcd[66837]: setting up the initial cluster version to 3.4
Jun 18 15:20:39 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 18 15:20:39 ubuntu etcd[66837]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jun 18 15:20:39 ubuntu etcd[66837]: set the initial cluster version to 3.4
Jun 18 15:20:39 ubuntu etcd[66837]: enabled capabilities for version 3.4
Jun 18 15:25:56 ubuntu etcd[66837]: start time = 2024-06-18 15:25:56.367829275 +0000 UTC m=+317.198709934, time spent = 839.045µs, remote = 10.201.5.82:35216, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 18 15:25:56 ubuntu etcd[66837]: start time = 2024-06-18 15:25:56.369294043 +0000 UTC m=+317.200174717, time spent = 336.261µs, remote = 10.201.5.82:35216, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 18 15:26:03 ubuntu etcd[66837]: start time = 2024-06-18 15:26:03.245627166 +0000 UTC m=+324.076507821, time spent = 265.184µs, remote = 10.201.5.82:35216, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 18 15:26:05 ubuntu etcd[66837]: start time = 2024-06-18 15:26:05.367728496 +0000 UTC m=+326.198609150, time spent = 385.307µs, remote = 10.201.5.82:35216, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 18 15:29:08 ubuntu etcd[66837]: start time = 2024-06-18 15:29:08.332601346 +0000 UTC m=+509.163482001, time spent = 329.87µs, remote = 10.201.5.82:35216, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 18 15:29:08 ubuntu etcd[66837]: start time = 2024-06-18 15:29:08.556022312 +0000 UTC m=+509.386903015, time spent = 524.321µs, remote = 10.201.5.82:35216, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 18 15:29:08 ubuntu etcd[66837]: start time = 2024-06-18 15:29:08.671423421 +0000 UTC m=+509.502304165, time spent = 370.176µs, remote = 10.201.5.82:35216, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 18 15:29:10 ubuntu etcd[66837]: start time = 2024-06-18 15:29:10.595830426 +0000 UTC m=+511.426711101, time spent = 204µs, remote = 10.201.5.82:35216, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
