Jun 19 01:51:44 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 19 01:51:44 ubuntu etcd[67031]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 19 01:51:44 ubuntu etcd[67031]:         A future release of golang/protobuf will delete this package,
Jun 19 01:51:44 ubuntu etcd[67031]:         which has long been excluded from the compatibility promise.
Jun 19 01:51:44 ubuntu etcd[67031]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jun 19 01:51:44 ubuntu etcd[67031]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jun 19 01:51:44 ubuntu etcd[67031]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 19 01:51:44 ubuntu etcd[67031]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jun 19 01:51:44 ubuntu etcd[67031]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jun 19 01:51:44 ubuntu etcd[67031]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 19 01:51:44 ubuntu etcd[67031]: Running http and grpc server on single port. This is not recommended for production.
Jun 19 01:51:44 ubuntu etcd[67031]: etcd Version: 3.4.27
Jun 19 01:51:44 ubuntu etcd[67031]: Git SHA: c92fb80f3
Jun 19 01:51:44 ubuntu etcd[67031]: Go Version: go1.19.10
Jun 19 01:51:44 ubuntu etcd[67031]: Go OS/Arch: linux/amd64
Jun 19 01:51:44 ubuntu etcd[67031]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 19 01:51:44 ubuntu etcd[67031]: Running http and grpc server on single port. This is not recommended for production.
Jun 19 01:51:44 ubuntu etcd[67031]: name = ubuntu
Jun 19 01:51:44 ubuntu etcd[67031]: data dir = /opt/stack/data/etcd
Jun 19 01:51:44 ubuntu etcd[67031]: member dir = /opt/stack/data/etcd/member
Jun 19 01:51:44 ubuntu etcd[67031]: heartbeat = 100ms
Jun 19 01:51:44 ubuntu etcd[67031]: election = 1000ms
Jun 19 01:51:44 ubuntu etcd[67031]: snapshot count = 100000
Jun 19 01:51:44 ubuntu etcd[67031]: advertise client URLs = http://10.201.5.82:2379
Jun 19 01:51:44 ubuntu etcd[67031]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 19 01:51:44 ubuntu etcd[67031]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jun 19 01:51:44 ubuntu etcd[67031]: raft2024/06/19 01:51:44 INFO: 43038365673ccf7b switched to configuration voters=()
Jun 19 01:51:44 ubuntu etcd[67031]: raft2024/06/19 01:51:44 INFO: 43038365673ccf7b became follower at term 0
Jun 19 01:51:44 ubuntu etcd[67031]: raft2024/06/19 01:51:44 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 19 01:51:44 ubuntu etcd[67031]: raft2024/06/19 01:51:44 INFO: 43038365673ccf7b became follower at term 1
Jun 19 01:51:44 ubuntu etcd[67031]: raft2024/06/19 01:51:44 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 19 01:51:44 ubuntu etcd[67031]: simple token is not cryptographically signed
Jun 19 01:51:44 ubuntu etcd[67031]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 19 01:51:44 ubuntu etcd[67031]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 19 01:51:44 ubuntu etcd[67031]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 19 01:51:44 ubuntu etcd[67031]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 19 01:51:44 ubuntu etcd[67031]: raft2024/06/19 01:51:44 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 19 01:51:44 ubuntu etcd[67031]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 19 01:51:44 ubuntu etcd[67031]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jun 19 01:51:44 ubuntu etcd[67031]: listening for peers on [::]:2380
Jun 19 01:51:44 ubuntu etcd[67031]: raft2024/06/19 01:51:44 INFO: 43038365673ccf7b is starting a new election at term 1
Jun 19 01:51:44 ubuntu etcd[67031]: raft2024/06/19 01:51:44 INFO: 43038365673ccf7b became candidate at term 2
Jun 19 01:51:44 ubuntu etcd[67031]: raft2024/06/19 01:51:44 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jun 19 01:51:44 ubuntu etcd[67031]: raft2024/06/19 01:51:44 INFO: 43038365673ccf7b became leader at term 2
Jun 19 01:51:44 ubuntu etcd[67031]: raft2024/06/19 01:51:44 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jun 19 01:51:44 ubuntu etcd[67031]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jun 19 01:51:44 ubuntu etcd[67031]: setting up the initial cluster version to 3.4
Jun 19 01:51:44 ubuntu etcd[67031]: ready to serve client requests
Jun 19 01:51:44 ubuntu etcd[67031]: INFO: 2024/06/19 01:51:44 parsed scheme: ""
Jun 19 01:51:44 ubuntu etcd[67031]: INFO: 2024/06/19 01:51:44 scheme "" not registered, fallback to default scheme
Jun 19 01:51:44 ubuntu etcd[67031]: INFO: 2024/06/19 01:51:44 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Jun 19 01:51:44 ubuntu etcd[67031]: INFO: 2024/06/19 01:51:44 ClientConn switching balancer to "pick_first"
Jun 19 01:51:44 ubuntu etcd[67031]: set the initial cluster version to 3.4
Jun 19 01:51:44 ubuntu etcd[67031]: enabled capabilities for version 3.4
Jun 19 01:51:44 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 19 01:51:44 ubuntu etcd[67031]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jun 19 01:56:47 ubuntu etcd[67031]: start time = 2024-06-19 01:56:47.65240912 +0000 UTC m=+303.388418162, time spent = 1.648039ms, remote = 10.201.5.82:35528, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 19 01:56:47 ubuntu etcd[67031]: start time = 2024-06-19 01:56:47.68637314 +0000 UTC m=+303.422382191, time spent = 229.619µs, remote = 10.201.5.82:35528, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 19 01:56:54 ubuntu etcd[67031]: start time = 2024-06-19 01:56:54.795542344 +0000 UTC m=+310.531551397, time spent = 199.677µs, remote = 10.201.5.82:35528, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 19 01:56:56 ubuntu etcd[67031]: start time = 2024-06-19 01:56:56.849594548 +0000 UTC m=+312.585603600, time spent = 291.995µs, remote = 10.201.5.82:35528, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 19 01:59:43 ubuntu etcd[67031]: start time = 2024-06-19 01:59:43.867692549 +0000 UTC m=+479.603701601, time spent = 396.968µs, remote = 10.201.5.82:35528, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 19 01:59:43 ubuntu etcd[67031]: start time = 2024-06-19 01:59:43.871472386 +0000 UTC m=+479.607481437, time spent = 184.233µs, remote = 10.201.5.82:35528, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 19 01:59:47 ubuntu etcd[67031]: start time = 2024-06-19 01:59:47.110260123 +0000 UTC m=+482.846269174, time spent = 223.183µs, remote = 10.201.5.82:35528, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 19 01:59:47 ubuntu etcd[67031]: start time = 2024-06-19 01:59:47.716567803 +0000 UTC m=+483.452576854, time spent = 185.027µs, remote = 10.201.5.82:35528, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
