Apr 10 17:14:45 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Apr 10 17:14:45 ubuntu etcd[79264]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Apr 10 17:14:45 ubuntu etcd[79264]:         A future release of golang/protobuf will delete this package,
Apr 10 17:14:45 ubuntu etcd[79264]:         which has long been excluded from the compatibility promise.
Apr 10 17:14:45 ubuntu etcd[79264]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 10 17:14:45 ubuntu etcd[79264]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 10 17:14:45 ubuntu etcd[79264]: Running http and grpc server on single port. This is not recommended for production.
Apr 10 17:14:45 ubuntu etcd[79264]: etcd Version: 3.4.27
Apr 10 17:14:45 ubuntu etcd[79264]: Git SHA: c92fb80f3
Apr 10 17:14:45 ubuntu etcd[79264]: Go Version: go1.19.10
Apr 10 17:14:45 ubuntu etcd[79264]: Go OS/Arch: linux/amd64
Apr 10 17:14:45 ubuntu etcd[79264]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Apr 10 17:14:45 ubuntu etcd[79264]: Running http and grpc server on single port. This is not recommended for production.
Apr 10 17:14:45 ubuntu etcd[79264]: name = ubuntu
Apr 10 17:14:45 ubuntu etcd[79264]: data dir = /opt/stack/data/etcd
Apr 10 17:14:45 ubuntu etcd[79264]: member dir = /opt/stack/data/etcd/member
Apr 10 17:14:45 ubuntu etcd[79264]: heartbeat = 100ms
Apr 10 17:14:45 ubuntu etcd[79264]: election = 1000ms
Apr 10 17:14:45 ubuntu etcd[79264]: snapshot count = 100000
Apr 10 17:14:45 ubuntu etcd[79264]: advertise client URLs = http://10.201.5.82:2379
Apr 10 17:14:45 ubuntu etcd[79264]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Apr 10 17:14:45 ubuntu etcd[79264]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Apr 10 17:14:45 ubuntu etcd[79264]: raft2025/04/10 17:14:45 INFO: 43038365673ccf7b switched to configuration voters=()
Apr 10 17:14:45 ubuntu etcd[79264]: raft2025/04/10 17:14:45 INFO: 43038365673ccf7b became follower at term 0
Apr 10 17:14:45 ubuntu etcd[79264]: raft2025/04/10 17:14:45 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Apr 10 17:14:45 ubuntu etcd[79264]: raft2025/04/10 17:14:45 INFO: 43038365673ccf7b became follower at term 1
Apr 10 17:14:45 ubuntu etcd[79264]: raft2025/04/10 17:14:45 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Apr 10 17:14:45 ubuntu etcd[79264]: simple token is not cryptographically signed
Apr 10 17:14:45 ubuntu etcd[79264]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Apr 10 17:14:45 ubuntu etcd[79264]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Apr 10 17:14:45 ubuntu etcd[79264]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Apr 10 17:14:45 ubuntu etcd[79264]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Apr 10 17:14:45 ubuntu etcd[79264]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Apr 10 17:14:45 ubuntu etcd[79264]: listening for peers on [::]:2380
Apr 10 17:14:45 ubuntu etcd[79264]: raft2025/04/10 17:14:45 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Apr 10 17:14:45 ubuntu etcd[79264]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Apr 10 17:14:45 ubuntu etcd[79264]: raft2025/04/10 17:14:45 INFO: 43038365673ccf7b is starting a new election at term 1
Apr 10 17:14:45 ubuntu etcd[79264]: raft2025/04/10 17:14:45 INFO: 43038365673ccf7b became candidate at term 2
Apr 10 17:14:45 ubuntu etcd[79264]: raft2025/04/10 17:14:45 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Apr 10 17:14:45 ubuntu etcd[79264]: raft2025/04/10 17:14:45 INFO: 43038365673ccf7b became leader at term 2
Apr 10 17:14:45 ubuntu etcd[79264]: raft2025/04/10 17:14:45 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Apr 10 17:14:45 ubuntu etcd[79264]: setting up the initial cluster version to 3.4
Apr 10 17:14:45 ubuntu etcd[79264]: set the initial cluster version to 3.4
Apr 10 17:14:45 ubuntu etcd[79264]: enabled capabilities for version 3.4
Apr 10 17:14:45 ubuntu etcd[79264]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Apr 10 17:14:45 ubuntu etcd[79264]: ready to serve client requests
Apr 10 17:14:45 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Apr 10 17:14:45 ubuntu etcd[79264]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Apr 10 17:19:34 ubuntu etcd[79264]: start time = 2025-04-10 17:19:34.38797447 +0000 UTC m=+288.945116070, time spent = 3.438468ms, remote = 10.201.5.82:53652, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 10 17:19:34 ubuntu etcd[79264]: start time = 2025-04-10 17:19:34.410994124 +0000 UTC m=+288.968135740, time spent = 454.994µs, remote = 10.201.5.82:53652, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 10 17:19:41 ubuntu etcd[79264]: start time = 2025-04-10 17:19:41.06168043 +0000 UTC m=+295.618822028, time spent = 523.7µs, remote = 10.201.5.82:53652, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 10 17:19:43 ubuntu etcd[79264]: start time = 2025-04-10 17:19:43.2930009 +0000 UTC m=+297.850142514, time spent = 888.912µs, remote = 10.201.5.82:53652, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
