Dec 12 22:44:27 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 12 22:44:27 ubuntu etcd[67562]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 12 22:44:27 ubuntu etcd[67562]:         A future release of golang/protobuf will delete this package,
Dec 12 22:44:27 ubuntu etcd[67562]:         which has long been excluded from the compatibility promise.
Dec 12 22:44:27 ubuntu etcd[67562]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 12 22:44:27 ubuntu etcd[67562]: Running http and grpc server on single port. This is not recommended for production.
Dec 12 22:44:27 ubuntu etcd[67562]: etcd Version: 3.4.27
Dec 12 22:44:27 ubuntu etcd[67562]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 12 22:44:27 ubuntu etcd[67562]: Git SHA: c92fb80f3
Dec 12 22:44:27 ubuntu etcd[67562]: Go Version: go1.19.10
Dec 12 22:44:27 ubuntu etcd[67562]: Go OS/Arch: linux/amd64
Dec 12 22:44:27 ubuntu etcd[67562]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 12 22:44:27 ubuntu etcd[67562]: Running http and grpc server on single port. This is not recommended for production.
Dec 12 22:44:27 ubuntu etcd[67562]: name = ubuntu
Dec 12 22:44:27 ubuntu etcd[67562]: data dir = /opt/stack/data/etcd
Dec 12 22:44:27 ubuntu etcd[67562]: member dir = /opt/stack/data/etcd/member
Dec 12 22:44:27 ubuntu etcd[67562]: heartbeat = 100ms
Dec 12 22:44:27 ubuntu etcd[67562]: election = 1000ms
Dec 12 22:44:27 ubuntu etcd[67562]: snapshot count = 100000
Dec 12 22:44:27 ubuntu etcd[67562]: advertise client URLs = http://10.201.5.82:2379
Dec 12 22:44:27 ubuntu etcd[67562]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Dec 12 22:44:27 ubuntu etcd[67562]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Dec 12 22:44:27 ubuntu etcd[67562]: raft2024/12/12 22:44:27 INFO: 43038365673ccf7b switched to configuration voters=()
Dec 12 22:44:27 ubuntu etcd[67562]: raft2024/12/12 22:44:27 INFO: 43038365673ccf7b became follower at term 0
Dec 12 22:44:27 ubuntu etcd[67562]: raft2024/12/12 22:44:27 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Dec 12 22:44:27 ubuntu etcd[67562]: raft2024/12/12 22:44:27 INFO: 43038365673ccf7b became follower at term 1
Dec 12 22:44:27 ubuntu etcd[67562]: raft2024/12/12 22:44:27 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Dec 12 22:44:27 ubuntu etcd[67562]: simple token is not cryptographically signed
Dec 12 22:44:27 ubuntu etcd[67562]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Dec 12 22:44:27 ubuntu etcd[67562]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Dec 12 22:44:27 ubuntu etcd[67562]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Dec 12 22:44:27 ubuntu etcd[67562]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Dec 12 22:44:27 ubuntu etcd[67562]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Dec 12 22:44:27 ubuntu etcd[67562]: raft2024/12/12 22:44:27 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Dec 12 22:44:27 ubuntu etcd[67562]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Dec 12 22:44:27 ubuntu etcd[67562]: listening for peers on [::]:2380
Dec 12 22:44:27 ubuntu etcd[67562]: raft2024/12/12 22:44:27 INFO: 43038365673ccf7b is starting a new election at term 1
Dec 12 22:44:27 ubuntu etcd[67562]: raft2024/12/12 22:44:27 INFO: 43038365673ccf7b became candidate at term 2
Dec 12 22:44:27 ubuntu etcd[67562]: raft2024/12/12 22:44:27 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Dec 12 22:44:27 ubuntu etcd[67562]: raft2024/12/12 22:44:27 INFO: 43038365673ccf7b became leader at term 2
Dec 12 22:44:27 ubuntu etcd[67562]: raft2024/12/12 22:44:27 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Dec 12 22:44:27 ubuntu etcd[67562]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Dec 12 22:44:27 ubuntu etcd[67562]: ready to serve client requests
Dec 12 22:44:27 ubuntu etcd[67562]: setting up the initial cluster version to 3.4
Dec 12 22:44:27 ubuntu etcd[67562]: set the initial cluster version to 3.4
Dec 12 22:44:27 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Dec 12 22:44:27 ubuntu etcd[67562]: enabled capabilities for version 3.4
Dec 12 22:44:27 ubuntu etcd[67562]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Dec 12 22:49:23 ubuntu etcd[67562]: start time = 2024-12-12 22:49:23.756866241 +0000 UTC m=+296.520546656, time spent = 1.511185ms, remote = 10.201.5.82:42040, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 12 22:49:23 ubuntu etcd[67562]: start time = 2024-12-12 22:49:23.80305346 +0000 UTC m=+296.566733883, time spent = 260.077µs, remote = 10.201.5.82:42040, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 12 22:49:30 ubuntu etcd[67562]: start time = 2024-12-12 22:49:30.600314081 +0000 UTC m=+303.363994500, time spent = 185.389µs, remote = 10.201.5.82:42040, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 12 22:49:32 ubuntu etcd[67562]: start time = 2024-12-12 22:49:32.918858523 +0000 UTC m=+305.682538942, time spent = 176.338µs, remote = 10.201.5.82:42040, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
