Mar 25 14:49:55 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 25 14:49:55 ubuntu etcd[79161]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 25 14:49:55 ubuntu etcd[79161]:         A future release of golang/protobuf will delete this package,
Mar 25 14:49:55 ubuntu etcd[79161]:         which has long been excluded from the compatibility promise.
Mar 25 14:49:55 ubuntu etcd[79161]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 25 14:49:55 ubuntu etcd[79161]: Running http and grpc server on single port. This is not recommended for production.
Mar 25 14:49:55 ubuntu etcd[79161]: etcd Version: 3.4.27
Mar 25 14:49:55 ubuntu etcd[79161]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 25 14:49:55 ubuntu etcd[79161]: Git SHA: c92fb80f3
Mar 25 14:49:55 ubuntu etcd[79161]: Go Version: go1.19.10
Mar 25 14:49:55 ubuntu etcd[79161]: Go OS/Arch: linux/amd64
Mar 25 14:49:55 ubuntu etcd[79161]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 25 14:49:55 ubuntu etcd[79161]: Running http and grpc server on single port. This is not recommended for production.
Mar 25 14:49:55 ubuntu etcd[79161]: name = ubuntu
Mar 25 14:49:55 ubuntu etcd[79161]: data dir = /opt/stack/data/etcd
Mar 25 14:49:55 ubuntu etcd[79161]: member dir = /opt/stack/data/etcd/member
Mar 25 14:49:55 ubuntu etcd[79161]: heartbeat = 100ms
Mar 25 14:49:55 ubuntu etcd[79161]: election = 1000ms
Mar 25 14:49:55 ubuntu etcd[79161]: snapshot count = 100000
Mar 25 14:49:55 ubuntu etcd[79161]: advertise client URLs = http://10.201.5.82:2379
Mar 25 14:49:55 ubuntu etcd[79161]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 25 14:49:55 ubuntu etcd[79161]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Mar 25 14:49:55 ubuntu etcd[79161]: raft2025/03/25 14:49:55 INFO: 43038365673ccf7b switched to configuration voters=()
Mar 25 14:49:55 ubuntu etcd[79161]: raft2025/03/25 14:49:55 INFO: 43038365673ccf7b became follower at term 0
Mar 25 14:49:55 ubuntu etcd[79161]: raft2025/03/25 14:49:55 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 25 14:49:55 ubuntu etcd[79161]: raft2025/03/25 14:49:55 INFO: 43038365673ccf7b became follower at term 1
Mar 25 14:49:55 ubuntu etcd[79161]: raft2025/03/25 14:49:55 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 25 14:49:55 ubuntu etcd[79161]: simple token is not cryptographically signed
Mar 25 14:49:55 ubuntu etcd[79161]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 25 14:49:55 ubuntu etcd[79161]: raft2025/03/25 14:49:55 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 25 14:49:55 ubuntu etcd[79161]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Mar 25 14:49:55 ubuntu etcd[79161]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 25 14:49:55 ubuntu etcd[79161]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 25 14:49:55 ubuntu etcd[79161]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 25 14:49:55 ubuntu etcd[79161]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 25 14:49:55 ubuntu etcd[79161]: listening for peers on [::]:2380
Mar 25 14:49:56 ubuntu etcd[79161]: raft2025/03/25 14:49:56 INFO: 43038365673ccf7b is starting a new election at term 1
Mar 25 14:49:56 ubuntu etcd[79161]: raft2025/03/25 14:49:56 INFO: 43038365673ccf7b became candidate at term 2
Mar 25 14:49:56 ubuntu etcd[79161]: raft2025/03/25 14:49:56 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Mar 25 14:49:56 ubuntu etcd[79161]: raft2025/03/25 14:49:56 INFO: 43038365673ccf7b became leader at term 2
Mar 25 14:49:56 ubuntu etcd[79161]: raft2025/03/25 14:49:56 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Mar 25 14:49:56 ubuntu etcd[79161]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Mar 25 14:49:56 ubuntu etcd[79161]: setting up the initial cluster version to 3.4
Mar 25 14:49:56 ubuntu etcd[79161]: ready to serve client requests
Mar 25 14:49:56 ubuntu etcd[79161]: set the initial cluster version to 3.4
Mar 25 14:49:56 ubuntu etcd[79161]: enabled capabilities for version 3.4
Mar 25 14:49:56 ubuntu etcd[79161]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Mar 25 14:49:56 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 25 14:54:42 ubuntu etcd[79161]: start time = 2025-03-25 14:54:42.105972849 +0000 UTC m=+286.641030642, time spent = 1.433923ms, remote = 10.201.5.82:39600, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 25 14:54:42 ubuntu etcd[79161]: start time = 2025-03-25 14:54:42.198838867 +0000 UTC m=+286.733896665, time spent = 218.546µs, remote = 10.201.5.82:39600, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 25 14:54:49 ubuntu etcd[79161]: start time = 2025-03-25 14:54:49.118851157 +0000 UTC m=+293.653908948, time spent = 192.137µs, remote = 10.201.5.82:39600, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 25 14:54:51 ubuntu etcd[79161]: start time = 2025-03-25 14:54:51.185027738 +0000 UTC m=+295.720085534, time spent = 314.515µs, remote = 10.201.5.82:39600, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 25 14:57:50 ubuntu etcd[79161]: start time = 2025-03-25 14:57:50.320290484 +0000 UTC m=+474.855348281, time spent = 428.718µs, remote = 10.201.5.82:39600, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 25 14:57:50 ubuntu etcd[79161]: start time = 2025-03-25 14:57:50.730040843 +0000 UTC m=+475.265098646, time spent = 209.858µs, remote = 10.201.5.82:39600, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 25 14:57:50 ubuntu etcd[79161]: start time = 2025-03-25 14:57:50.755753191 +0000 UTC m=+475.290811065, time spent = 303.48µs, remote = 10.201.5.82:39600, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 25 14:57:55 ubuntu etcd[79161]: start time = 2025-03-25 14:57:55.062996247 +0000 UTC m=+479.598054142, time spent = 396.787µs, remote = 10.201.5.82:39600, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
