May 19 03:07:21 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 19 03:07:21 ubuntu etcd[80721]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 19 03:07:21 ubuntu etcd[80721]:         A future release of golang/protobuf will delete this package,
May 19 03:07:21 ubuntu etcd[80721]:         which has long been excluded from the compatibility promise.
May 19 03:07:21 ubuntu etcd[80721]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 19 03:07:21 ubuntu etcd[80721]: Running http and grpc server on single port. This is not recommended for production.
May 19 03:07:21 ubuntu etcd[80721]: etcd Version: 3.4.27
May 19 03:07:21 ubuntu etcd[80721]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 19 03:07:21 ubuntu etcd[80721]: Git SHA: c92fb80f3
May 19 03:07:21 ubuntu etcd[80721]: Go Version: go1.19.10
May 19 03:07:21 ubuntu etcd[80721]: Go OS/Arch: linux/amd64
May 19 03:07:21 ubuntu etcd[80721]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 19 03:07:21 ubuntu etcd[80721]: Running http and grpc server on single port. This is not recommended for production.
May 19 03:07:21 ubuntu etcd[80721]: name = ubuntu
May 19 03:07:21 ubuntu etcd[80721]: data dir = /opt/stack/data/etcd
May 19 03:07:21 ubuntu etcd[80721]: member dir = /opt/stack/data/etcd/member
May 19 03:07:21 ubuntu etcd[80721]: heartbeat = 100ms
May 19 03:07:21 ubuntu etcd[80721]: election = 1000ms
May 19 03:07:21 ubuntu etcd[80721]: snapshot count = 100000
May 19 03:07:21 ubuntu etcd[80721]: advertise client URLs = http://10.201.5.82:2379
May 19 03:07:21 ubuntu etcd[80721]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 19 03:07:21 ubuntu etcd[80721]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
May 19 03:07:21 ubuntu etcd[80721]: raft2025/05/19 03:07:21 INFO: 43038365673ccf7b switched to configuration voters=()
May 19 03:07:21 ubuntu etcd[80721]: raft2025/05/19 03:07:21 INFO: 43038365673ccf7b became follower at term 0
May 19 03:07:21 ubuntu etcd[80721]: raft2025/05/19 03:07:21 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 19 03:07:21 ubuntu etcd[80721]: raft2025/05/19 03:07:21 INFO: 43038365673ccf7b became follower at term 1
May 19 03:07:21 ubuntu etcd[80721]: raft2025/05/19 03:07:21 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
May 19 03:07:21 ubuntu etcd[80721]: simple token is not cryptographically signed
May 19 03:07:21 ubuntu etcd[80721]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 19 03:07:21 ubuntu etcd[80721]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 19 03:07:21 ubuntu etcd[80721]: raft2025/05/19 03:07:21 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
May 19 03:07:21 ubuntu etcd[80721]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 19 03:07:21 ubuntu etcd[80721]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 19 03:07:21 ubuntu etcd[80721]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
May 19 03:07:21 ubuntu etcd[80721]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
May 19 03:07:21 ubuntu etcd[80721]: listening for peers on [::]:2380
May 19 03:07:22 ubuntu etcd[80721]: raft2025/05/19 03:07:22 INFO: 43038365673ccf7b is starting a new election at term 1
May 19 03:07:22 ubuntu etcd[80721]: raft2025/05/19 03:07:22 INFO: 43038365673ccf7b became candidate at term 2
May 19 03:07:22 ubuntu etcd[80721]: raft2025/05/19 03:07:22 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
May 19 03:07:22 ubuntu etcd[80721]: raft2025/05/19 03:07:22 INFO: 43038365673ccf7b became leader at term 2
May 19 03:07:22 ubuntu etcd[80721]: raft2025/05/19 03:07:22 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
May 19 03:07:22 ubuntu etcd[80721]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
May 19 03:07:22 ubuntu etcd[80721]: ready to serve client requests
May 19 03:07:22 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 19 03:07:22 ubuntu etcd[80721]: setting up the initial cluster version to 3.4
May 19 03:07:22 ubuntu etcd[80721]: set the initial cluster version to 3.4
May 19 03:07:22 ubuntu etcd[80721]: enabled capabilities for version 3.4
May 19 03:07:22 ubuntu etcd[80721]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
May 19 03:11:58 ubuntu etcd[80721]: start time = 2025-05-19 03:11:58.391309405 +0000 UTC m=+276.681264167, time spent = 977.977µs, remote = 10.201.5.82:45330, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 19 03:11:58 ubuntu etcd[80721]: start time = 2025-05-19 03:11:58.444971811 +0000 UTC m=+276.734926573, time spent = 212.685µs, remote = 10.201.5.82:45330, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 19 03:12:05 ubuntu etcd[80721]: start time = 2025-05-19 03:12:05.381472695 +0000 UTC m=+283.671427458, time spent = 219.122µs, remote = 10.201.5.82:45330, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 19 03:12:07 ubuntu etcd[80721]: start time = 2025-05-19 03:12:07.343804176 +0000 UTC m=+285.633758933, time spent = 284.74µs, remote = 10.201.5.82:45330, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 19 03:16:02 ubuntu etcd[80721]: start time = 2025-05-19 03:16:02.833132051 +0000 UTC m=+521.123086797, time spent = 386.643µs, remote = 10.201.5.82:45330, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 19 03:16:02 ubuntu etcd[80721]: start time = 2025-05-19 03:16:02.84847097 +0000 UTC m=+521.138425731, time spent = 144.933µs, remote = 10.201.5.82:45330, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 19 03:16:04 ubuntu etcd[80721]: start time = 2025-05-19 03:16:04.928940627 +0000 UTC m=+523.218895387, time spent = 196.947µs, remote = 10.201.5.82:45330, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 19 03:16:06 ubuntu etcd[80721]: start time = 2025-05-19 03:16:06.43740285 +0000 UTC m=+524.727357710, time spent = 403.476µs, remote = 10.201.5.82:45330, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 19 03:17:56 ubuntu etcd[80721]: start time = 2025-05-19 03:17:56.178411647 +0000 UTC m=+634.468366451, time spent = 654.424µs, remote = 10.201.5.82:45330, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 19 03:17:56 ubuntu etcd[80721]: start time = 2025-05-19 03:17:56.18934598 +0000 UTC m=+634.479300739, time spent = 4.585344ms, remote = 10.201.5.82:45330, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-e61604bf-380d-450a-95fa-dde70f1fb4fb" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-e61604bf-380d-450a-95fa-dde70f1fb4fb" value_size:16 lease:5727337267909696025 >> failure:<request_range:<key:"/tooz/lockscinder-e61604bf-380d-450a-95fa-dde70f1fb4fb" > >
May 19 03:17:58 ubuntu etcd[80721]: start time = 2025-05-19 03:17:58.828750758 +0000 UTC m=+637.118705568, time spent = 529.831µs, remote = 10.201.5.82:45330, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-e61604bf-380d-450a-95fa-dde70f1fb4fb" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-e61604bf-380d-450a-95fa-dde70f1fb4fb" > > failure:<>
May 19 03:17:59 ubuntu etcd[80721]: start time = 2025-05-19 03:17:59.080056704 +0000 UTC m=+637.370011467, time spent = 257.601µs, remote = 10.201.5.82:45330, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 19 03:17:59 ubuntu etcd[80721]: start time = 2025-05-19 03:17:59.081894656 +0000 UTC m=+637.371849421, time spent = 161.022µs, remote = 10.201.5.82:45330, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-e61604bf-380d-450a-95fa-dde70f1fb4fb" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-e61604bf-380d-450a-95fa-dde70f1fb4fb" value_size:16 lease:5727337267909696029 >> failure:<request_range:<key:"/tooz/lockscinder-e61604bf-380d-450a-95fa-dde70f1fb4fb" > >
May 19 03:18:01 ubuntu etcd[80721]: start time = 2025-05-19 03:18:01.215814332 +0000 UTC m=+639.505769088, time spent = 356.599µs, remote = 10.201.5.82:45330, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-e61604bf-380d-450a-95fa-dde70f1fb4fb" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-e61604bf-380d-450a-95fa-dde70f1fb4fb" > > failure:<>
May 19 03:18:01 ubuntu etcd[80721]: start time = 2025-05-19 03:18:01.452369729 +0000 UTC m=+639.742324484, time spent = 225.462µs, remote = 10.201.5.82:45330, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 19 03:18:01 ubuntu etcd[80721]: start time = 2025-05-19 03:18:01.455048153 +0000 UTC m=+639.745002908, time spent = 706.833µs, remote = 10.201.5.82:45330, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-e61604bf-380d-450a-95fa-dde70f1fb4fb" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-e61604bf-380d-450a-95fa-dde70f1fb4fb" value_size:16 lease:5727337267909696033 >> failure:<request_range:<key:"/tooz/lockscinder-e61604bf-380d-450a-95fa-dde70f1fb4fb" > >
May 19 03:18:03 ubuntu etcd[80721]: start time = 2025-05-19 03:18:03.34419773 +0000 UTC m=+641.634152603, time spent = 529.541µs, remote = 10.201.5.82:45330, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-e61604bf-380d-450a-95fa-dde70f1fb4fb" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-e61604bf-380d-450a-95fa-dde70f1fb4fb" > > failure:<>
