Jul 30 13:58:55 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 30 13:58:55 ubuntu etcd[79492]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 30 13:58:55 ubuntu etcd[79492]:         A future release of golang/protobuf will delete this package,
Jul 30 13:58:55 ubuntu etcd[79492]:         which has long been excluded from the compatibility promise.
Jul 30 13:58:55 ubuntu etcd[79492]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 30 13:58:55 ubuntu etcd[79492]: Running http and grpc server on single port. This is not recommended for production.
Jul 30 13:58:55 ubuntu etcd[79492]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 30 13:58:55 ubuntu etcd[79492]: etcd Version: 3.4.27
Jul 30 13:58:55 ubuntu etcd[79492]: Git SHA: c92fb80f3
Jul 30 13:58:55 ubuntu etcd[79492]: Go Version: go1.19.10
Jul 30 13:58:55 ubuntu etcd[79492]: Go OS/Arch: linux/amd64
Jul 30 13:58:55 ubuntu etcd[79492]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 30 13:58:55 ubuntu etcd[79492]: Running http and grpc server on single port. This is not recommended for production.
Jul 30 13:58:55 ubuntu etcd[79492]: name = ubuntu
Jul 30 13:58:55 ubuntu etcd[79492]: data dir = /opt/stack/data/etcd
Jul 30 13:58:55 ubuntu etcd[79492]: member dir = /opt/stack/data/etcd/member
Jul 30 13:58:55 ubuntu etcd[79492]: heartbeat = 100ms
Jul 30 13:58:55 ubuntu etcd[79492]: election = 1000ms
Jul 30 13:58:55 ubuntu etcd[79492]: snapshot count = 100000
Jul 30 13:58:55 ubuntu etcd[79492]: advertise client URLs = http://10.201.5.82:2379
Jul 30 13:58:55 ubuntu etcd[79492]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 30 13:58:55 ubuntu etcd[79492]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jul 30 13:58:55 ubuntu etcd[79492]: raft2025/07/30 13:58:55 INFO: 43038365673ccf7b switched to configuration voters=()
Jul 30 13:58:55 ubuntu etcd[79492]: raft2025/07/30 13:58:55 INFO: 43038365673ccf7b became follower at term 0
Jul 30 13:58:55 ubuntu etcd[79492]: raft2025/07/30 13:58:55 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 30 13:58:55 ubuntu etcd[79492]: raft2025/07/30 13:58:55 INFO: 43038365673ccf7b became follower at term 1
Jul 30 13:58:55 ubuntu etcd[79492]: raft2025/07/30 13:58:55 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 30 13:58:55 ubuntu etcd[79492]: simple token is not cryptographically signed
Jul 30 13:58:55 ubuntu etcd[79492]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 30 13:58:55 ubuntu etcd[79492]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 30 13:58:55 ubuntu etcd[79492]: raft2025/07/30 13:58:55 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 30 13:58:55 ubuntu etcd[79492]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jul 30 13:58:55 ubuntu etcd[79492]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 30 13:58:55 ubuntu etcd[79492]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 30 13:58:55 ubuntu etcd[79492]: listening for peers on [::]:2380
Jul 30 13:58:55 ubuntu etcd[79492]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 30 13:58:56 ubuntu etcd[79492]: raft2025/07/30 13:58:56 INFO: 43038365673ccf7b is starting a new election at term 1
Jul 30 13:58:56 ubuntu etcd[79492]: raft2025/07/30 13:58:56 INFO: 43038365673ccf7b became candidate at term 2
Jul 30 13:58:56 ubuntu etcd[79492]: raft2025/07/30 13:58:56 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jul 30 13:58:56 ubuntu etcd[79492]: raft2025/07/30 13:58:56 INFO: 43038365673ccf7b became leader at term 2
Jul 30 13:58:56 ubuntu etcd[79492]: raft2025/07/30 13:58:56 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jul 30 13:58:56 ubuntu etcd[79492]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jul 30 13:58:56 ubuntu etcd[79492]: setting up the initial cluster version to 3.4
Jul 30 13:58:56 ubuntu etcd[79492]: ready to serve client requests
Jul 30 13:58:56 ubuntu etcd[79492]: set the initial cluster version to 3.4
Jul 30 13:58:56 ubuntu etcd[79492]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jul 30 13:58:56 ubuntu etcd[79492]: enabled capabilities for version 3.4
Jul 30 13:58:56 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 30 14:03:39 ubuntu etcd[79492]: start time = 2025-07-30 14:03:39.904320542 +0000 UTC m=+284.650758143, time spent = 627.258µs, remote = 10.201.5.82:41706, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 30 14:03:39 ubuntu etcd[79492]: start time = 2025-07-30 14:03:39.968054466 +0000 UTC m=+284.714492074, time spent = 317.608µs, remote = 10.201.5.82:41706, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 30 14:03:46 ubuntu etcd[79492]: start time = 2025-07-30 14:03:46.872135506 +0000 UTC m=+291.618573121, time spent = 193.649µs, remote = 10.201.5.82:41706, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 30 14:03:49 ubuntu etcd[79492]: start time = 2025-07-30 14:03:49.180182266 +0000 UTC m=+293.926619882, time spent = 292.587µs, remote = 10.201.5.82:41706, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
