Aug 12 15:15:45 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Aug 12 15:15:45 ubuntu etcd[79279]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Aug 12 15:15:45 ubuntu etcd[79279]:         A future release of golang/protobuf will delete this package,
Aug 12 15:15:45 ubuntu etcd[79279]:         which has long been excluded from the compatibility promise.
Aug 12 15:15:45 ubuntu etcd[79279]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 12 15:15:45 ubuntu etcd[79279]: Running http and grpc server on single port. This is not recommended for production.
Aug 12 15:15:45 ubuntu etcd[79279]: etcd Version: 3.4.27
Aug 12 15:15:45 ubuntu etcd[79279]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 12 15:15:45 ubuntu etcd[79279]: Git SHA: c92fb80f3
Aug 12 15:15:45 ubuntu etcd[79279]: Go Version: go1.19.10
Aug 12 15:15:45 ubuntu etcd[79279]: Go OS/Arch: linux/amd64
Aug 12 15:15:45 ubuntu etcd[79279]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Aug 12 15:15:45 ubuntu etcd[79279]: Running http and grpc server on single port. This is not recommended for production.
Aug 12 15:15:45 ubuntu etcd[79279]: name = ubuntu
Aug 12 15:15:45 ubuntu etcd[79279]: data dir = /opt/stack/data/etcd
Aug 12 15:15:45 ubuntu etcd[79279]: member dir = /opt/stack/data/etcd/member
Aug 12 15:15:45 ubuntu etcd[79279]: heartbeat = 100ms
Aug 12 15:15:45 ubuntu etcd[79279]: election = 1000ms
Aug 12 15:15:45 ubuntu etcd[79279]: snapshot count = 100000
Aug 12 15:15:45 ubuntu etcd[79279]: advertise client URLs = http://10.201.5.82:2379
Aug 12 15:15:45 ubuntu etcd[79279]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Aug 12 15:15:45 ubuntu etcd[79279]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Aug 12 15:15:45 ubuntu etcd[79279]: raft2025/08/12 15:15:45 INFO: 43038365673ccf7b switched to configuration voters=()
Aug 12 15:15:45 ubuntu etcd[79279]: raft2025/08/12 15:15:45 INFO: 43038365673ccf7b became follower at term 0
Aug 12 15:15:45 ubuntu etcd[79279]: raft2025/08/12 15:15:45 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Aug 12 15:15:45 ubuntu etcd[79279]: raft2025/08/12 15:15:45 INFO: 43038365673ccf7b became follower at term 1
Aug 12 15:15:45 ubuntu etcd[79279]: raft2025/08/12 15:15:45 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Aug 12 15:15:45 ubuntu etcd[79279]: simple token is not cryptographically signed
Aug 12 15:15:45 ubuntu etcd[79279]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Aug 12 15:15:45 ubuntu etcd[79279]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Aug 12 15:15:45 ubuntu etcd[79279]: raft2025/08/12 15:15:45 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Aug 12 15:15:45 ubuntu etcd[79279]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Aug 12 15:15:45 ubuntu etcd[79279]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Aug 12 15:15:45 ubuntu etcd[79279]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Aug 12 15:15:45 ubuntu etcd[79279]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Aug 12 15:15:45 ubuntu etcd[79279]: listening for peers on [::]:2380
Aug 12 15:15:45 ubuntu etcd[79279]: raft2025/08/12 15:15:45 INFO: 43038365673ccf7b is starting a new election at term 1
Aug 12 15:15:45 ubuntu etcd[79279]: raft2025/08/12 15:15:45 INFO: 43038365673ccf7b became candidate at term 2
Aug 12 15:15:45 ubuntu etcd[79279]: raft2025/08/12 15:15:45 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Aug 12 15:15:45 ubuntu etcd[79279]: raft2025/08/12 15:15:45 INFO: 43038365673ccf7b became leader at term 2
Aug 12 15:15:45 ubuntu etcd[79279]: raft2025/08/12 15:15:45 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Aug 12 15:15:45 ubuntu etcd[79279]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Aug 12 15:15:45 ubuntu etcd[79279]: setting up the initial cluster version to 3.4
Aug 12 15:15:45 ubuntu etcd[79279]: ready to serve client requests
Aug 12 15:15:45 ubuntu etcd[79279]: set the initial cluster version to 3.4
Aug 12 15:15:45 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Aug 12 15:15:45 ubuntu etcd[79279]: enabled capabilities for version 3.4
Aug 12 15:15:45 ubuntu etcd[79279]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Aug 12 15:20:33 ubuntu etcd[79279]: start time = 2025-08-12 15:20:33.714928627 +0000 UTC m=+288.689797857, time spent = 618.094µs, remote = 10.201.5.82:51076, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 12 15:20:33 ubuntu etcd[79279]: start time = 2025-08-12 15:20:33.850019557 +0000 UTC m=+288.824888795, time spent = 339.881µs, remote = 10.201.5.82:51076, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 12 15:20:40 ubuntu etcd[79279]: start time = 2025-08-12 15:20:40.967791449 +0000 UTC m=+295.942660686, time spent = 349.888µs, remote = 10.201.5.82:51076, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 12 15:20:42 ubuntu etcd[79279]: start time = 2025-08-12 15:20:42.791761814 +0000 UTC m=+297.766631053, time spent = 205.209µs, remote = 10.201.5.82:51076, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 12 15:23:55 ubuntu etcd[79279]: start time = 2025-08-12 15:23:55.392945274 +0000 UTC m=+490.367814499, time spent = 3.884421ms, remote = 10.201.5.82:51076, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 12 15:23:55 ubuntu etcd[79279]: start time = 2025-08-12 15:23:55.68017423 +0000 UTC m=+490.655043469, time spent = 270.678µs, remote = 10.201.5.82:51076, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 12 15:23:55 ubuntu etcd[79279]: start time = 2025-08-12 15:23:55.744962915 +0000 UTC m=+490.719832160, time spent = 203.888µs, remote = 10.201.5.82:51076, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 12 15:23:57 ubuntu etcd[79279]: start time = 2025-08-12 15:23:57.895851003 +0000 UTC m=+492.870720238, time spent = 222.166µs, remote = 10.201.5.82:51076, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 12 15:30:43 ubuntu etcd[79279]: start time = 2025-08-12 15:30:43.69840358 +0000 UTC m=+898.673272817, time spent = 423.625µs, remote = 10.201.5.82:51076, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 12 15:30:43 ubuntu etcd[79279]: start time = 2025-08-12 15:30:43.707357105 +0000 UTC m=+898.682226343, time spent = 2.188967ms, remote = 10.201.5.82:51076, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-4323173e-0f54-4076-9a0b-1106d3e30012" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-4323173e-0f54-4076-9a0b-1106d3e30012" value_size:16 lease:5727339159161744665 >> failure:<request_range:<key:"/tooz/lockscinder-4323173e-0f54-4076-9a0b-1106d3e30012" > >
Aug 12 15:30:46 ubuntu etcd[79279]: start time = 2025-08-12 15:30:46.390567187 +0000 UTC m=+901.365436541, time spent = 629.034µs, remote = 10.201.5.82:51076, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-4323173e-0f54-4076-9a0b-1106d3e30012" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-4323173e-0f54-4076-9a0b-1106d3e30012" > > failure:<>
Aug 12 15:30:46 ubuntu etcd[79279]: start time = 2025-08-12 15:30:46.61213174 +0000 UTC m=+901.587000980, time spent = 250.911µs, remote = 10.201.5.82:51076, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 12 15:30:46 ubuntu etcd[79279]: start time = 2025-08-12 15:30:46.614113542 +0000 UTC m=+901.588982779, time spent = 297.865µs, remote = 10.201.5.82:51076, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-4323173e-0f54-4076-9a0b-1106d3e30012" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-4323173e-0f54-4076-9a0b-1106d3e30012" value_size:16 lease:5727339159161744669 >> failure:<request_range:<key:"/tooz/lockscinder-4323173e-0f54-4076-9a0b-1106d3e30012" > >
Aug 12 15:30:48 ubuntu etcd[79279]: start time = 2025-08-12 15:30:48.445975719 +0000 UTC m=+903.420845072, time spent = 673.874µs, remote = 10.201.5.82:51076, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-4323173e-0f54-4076-9a0b-1106d3e30012" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-4323173e-0f54-4076-9a0b-1106d3e30012" > > failure:<>
Aug 12 15:30:48 ubuntu etcd[79279]: start time = 2025-08-12 15:30:48.655709787 +0000 UTC m=+903.630579044, time spent = 273.874µs, remote = 10.201.5.82:51076, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 12 15:30:48 ubuntu etcd[79279]: start time = 2025-08-12 15:30:48.65822303 +0000 UTC m=+903.633092287, time spent = 170.197µs, remote = 10.201.5.82:51076, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-4323173e-0f54-4076-9a0b-1106d3e30012" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-4323173e-0f54-4076-9a0b-1106d3e30012" value_size:16 lease:5727339159161744673 >> failure:<request_range:<key:"/tooz/lockscinder-4323173e-0f54-4076-9a0b-1106d3e30012" > >
Aug 12 15:30:50 ubuntu etcd[79279]: start time = 2025-08-12 15:30:50.558486482 +0000 UTC m=+905.533355798, time spent = 437.217µs, remote = 10.201.5.82:51076, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-4323173e-0f54-4076-9a0b-1106d3e30012" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-4323173e-0f54-4076-9a0b-1106d3e30012" > > failure:<>
