Aug 08 18:11:45 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Aug 08 18:11:45 ubuntu etcd[79217]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Aug 08 18:11:45 ubuntu etcd[79217]:         A future release of golang/protobuf will delete this package,
Aug 08 18:11:45 ubuntu etcd[79217]:         which has long been excluded from the compatibility promise.
Aug 08 18:11:45 ubuntu etcd[79217]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 08 18:11:45 ubuntu etcd[79217]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 08 18:11:45 ubuntu etcd[79217]: Running http and grpc server on single port. This is not recommended for production.
Aug 08 18:11:45 ubuntu etcd[79217]: etcd Version: 3.4.27
Aug 08 18:11:45 ubuntu etcd[79217]: Git SHA: c92fb80f3
Aug 08 18:11:45 ubuntu etcd[79217]: Go Version: go1.19.10
Aug 08 18:11:45 ubuntu etcd[79217]: Go OS/Arch: linux/amd64
Aug 08 18:11:45 ubuntu etcd[79217]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Aug 08 18:11:45 ubuntu etcd[79217]: Running http and grpc server on single port. This is not recommended for production.
Aug 08 18:11:45 ubuntu etcd[79217]: name = ubuntu
Aug 08 18:11:45 ubuntu etcd[79217]: data dir = /opt/stack/data/etcd
Aug 08 18:11:45 ubuntu etcd[79217]: member dir = /opt/stack/data/etcd/member
Aug 08 18:11:45 ubuntu etcd[79217]: heartbeat = 100ms
Aug 08 18:11:45 ubuntu etcd[79217]: election = 1000ms
Aug 08 18:11:45 ubuntu etcd[79217]: snapshot count = 100000
Aug 08 18:11:45 ubuntu etcd[79217]: advertise client URLs = http://10.201.5.82:2379
Aug 08 18:11:45 ubuntu etcd[79217]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Aug 08 18:11:45 ubuntu etcd[79217]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Aug 08 18:11:45 ubuntu etcd[79217]: raft2025/08/08 18:11:45 INFO: 43038365673ccf7b switched to configuration voters=()
Aug 08 18:11:45 ubuntu etcd[79217]: raft2025/08/08 18:11:45 INFO: 43038365673ccf7b became follower at term 0
Aug 08 18:11:45 ubuntu etcd[79217]: raft2025/08/08 18:11:45 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Aug 08 18:11:45 ubuntu etcd[79217]: raft2025/08/08 18:11:45 INFO: 43038365673ccf7b became follower at term 1
Aug 08 18:11:45 ubuntu etcd[79217]: raft2025/08/08 18:11:45 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Aug 08 18:11:45 ubuntu etcd[79217]: simple token is not cryptographically signed
Aug 08 18:11:45 ubuntu etcd[79217]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Aug 08 18:11:45 ubuntu etcd[79217]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Aug 08 18:11:45 ubuntu etcd[79217]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Aug 08 18:11:45 ubuntu etcd[79217]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Aug 08 18:11:45 ubuntu etcd[79217]: raft2025/08/08 18:11:45 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Aug 08 18:11:45 ubuntu etcd[79217]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Aug 08 18:11:45 ubuntu etcd[79217]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Aug 08 18:11:45 ubuntu etcd[79217]: listening for peers on [::]:2380
Aug 08 18:11:46 ubuntu etcd[79217]: raft2025/08/08 18:11:46 INFO: 43038365673ccf7b is starting a new election at term 1
Aug 08 18:11:46 ubuntu etcd[79217]: raft2025/08/08 18:11:46 INFO: 43038365673ccf7b became candidate at term 2
Aug 08 18:11:46 ubuntu etcd[79217]: raft2025/08/08 18:11:46 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Aug 08 18:11:46 ubuntu etcd[79217]: raft2025/08/08 18:11:46 INFO: 43038365673ccf7b became leader at term 2
Aug 08 18:11:46 ubuntu etcd[79217]: raft2025/08/08 18:11:46 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Aug 08 18:11:46 ubuntu etcd[79217]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Aug 08 18:11:46 ubuntu etcd[79217]: setting up the initial cluster version to 3.4
Aug 08 18:11:46 ubuntu etcd[79217]: ready to serve client requests
Aug 08 18:11:46 ubuntu etcd[79217]: set the initial cluster version to 3.4
Aug 08 18:11:46 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Aug 08 18:11:46 ubuntu etcd[79217]: enabled capabilities for version 3.4
Aug 08 18:11:46 ubuntu etcd[79217]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Aug 08 18:16:26 ubuntu etcd[79217]: start time = 2025-08-08 18:16:26.889982506 +0000 UTC m=+281.702138735, time spent = 1.750383ms, remote = 10.201.5.82:42638, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 08 18:16:26 ubuntu etcd[79217]: start time = 2025-08-08 18:16:26.88978698 +0000 UTC m=+281.701943214, time spent = 2.11366ms, remote = 10.201.5.82:42638, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 08 18:16:33 ubuntu etcd[79217]: start time = 2025-08-08 18:16:33.995726977 +0000 UTC m=+288.807883197, time spent = 302.813µs, remote = 10.201.5.82:42638, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 08 18:16:35 ubuntu etcd[79217]: start time = 2025-08-08 18:16:35.986625532 +0000 UTC m=+290.798781760, time spent = 682.373µs, remote = 10.201.5.82:42638, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 08 18:20:19 ubuntu etcd[79217]: start time = 2025-08-08 18:20:19.871978584 +0000 UTC m=+514.684134804, time spent = 423.642µs, remote = 10.201.5.82:42638, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 08 18:20:19 ubuntu etcd[79217]: start time = 2025-08-08 18:20:19.931748018 +0000 UTC m=+514.743904252, time spent = 162.267µs, remote = 10.201.5.82:42638, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 08 18:20:21 ubuntu etcd[79217]: start time = 2025-08-08 18:20:21.456869309 +0000 UTC m=+516.269025548, time spent = 188.136µs, remote = 10.201.5.82:42638, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 08 18:20:23 ubuntu etcd[79217]: start time = 2025-08-08 18:20:23.903467051 +0000 UTC m=+518.715623289, time spent = 207.416µs, remote = 10.201.5.82:42638, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 08 18:27:09 ubuntu etcd[79217]: start time = 2025-08-08 18:27:09.838230837 +0000 UTC m=+924.650387061, time spent = 578.893µs, remote = 10.201.5.82:42638, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 08 18:27:09 ubuntu etcd[79217]: start time = 2025-08-08 18:27:09.846773838 +0000 UTC m=+924.658930059, time spent = 2.041767ms, remote = 10.201.5.82:42638, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-cfc24528-9d59-4b65-aada-d0ecb2af64e7" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-cfc24528-9d59-4b65-aada-d0ecb2af64e7" value_size:16 lease:5727339073391545881 >> failure:<request_range:<key:"/tooz/lockscinder-cfc24528-9d59-4b65-aada-d0ecb2af64e7" > >
Aug 08 18:27:12 ubuntu etcd[79217]: start time = 2025-08-08 18:27:12.652644525 +0000 UTC m=+927.464800771, time spent = 476.256µs, remote = 10.201.5.82:42638, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-cfc24528-9d59-4b65-aada-d0ecb2af64e7" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-cfc24528-9d59-4b65-aada-d0ecb2af64e7" > > failure:<>
Aug 08 18:27:12 ubuntu etcd[79217]: start time = 2025-08-08 18:27:12.882011777 +0000 UTC m=+927.694168015, time spent = 303.799µs, remote = 10.201.5.82:42638, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 08 18:27:12 ubuntu etcd[79217]: start time = 2025-08-08 18:27:12.884522301 +0000 UTC m=+927.696678542, time spent = 205.618µs, remote = 10.201.5.82:42638, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-cfc24528-9d59-4b65-aada-d0ecb2af64e7" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-cfc24528-9d59-4b65-aada-d0ecb2af64e7" value_size:16 lease:5727339073391545885 >> failure:<request_range:<key:"/tooz/lockscinder-cfc24528-9d59-4b65-aada-d0ecb2af64e7" > >
Aug 08 18:27:14 ubuntu etcd[79217]: start time = 2025-08-08 18:27:14.763472007 +0000 UTC m=+929.575628288, time spent = 752.867µs, remote = 10.201.5.82:42638, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-cfc24528-9d59-4b65-aada-d0ecb2af64e7" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-cfc24528-9d59-4b65-aada-d0ecb2af64e7" > > failure:<>
Aug 08 18:27:15 ubuntu etcd[79217]: start time = 2025-08-08 18:27:15.006458869 +0000 UTC m=+929.818615213, time spent = 344.305µs, remote = 10.201.5.82:42638, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 08 18:27:15 ubuntu etcd[79217]: start time = 2025-08-08 18:27:15.008821454 +0000 UTC m=+929.820977745, time spent = 426.064µs, remote = 10.201.5.82:42638, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-cfc24528-9d59-4b65-aada-d0ecb2af64e7" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-cfc24528-9d59-4b65-aada-d0ecb2af64e7" value_size:16 lease:5727339073391545889 >> failure:<request_range:<key:"/tooz/lockscinder-cfc24528-9d59-4b65-aada-d0ecb2af64e7" > >
Aug 08 18:27:17 ubuntu etcd[79217]: start time = 2025-08-08 18:27:17.01761582 +0000 UTC m=+931.829772154, time spent = 611.409µs, remote = 10.201.5.82:42638, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-cfc24528-9d59-4b65-aada-d0ecb2af64e7" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-cfc24528-9d59-4b65-aada-d0ecb2af64e7" > > failure:<>
