Jul 09 13:17:58 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 09 13:17:58 ubuntu etcd[66934]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 09 13:17:58 ubuntu etcd[66934]:         A future release of golang/protobuf will delete this package,
Jul 09 13:17:58 ubuntu etcd[66934]:         which has long been excluded from the compatibility promise.
Jul 09 13:17:58 ubuntu etcd[66934]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 09 13:17:58 ubuntu etcd[66934]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 09 13:17:58 ubuntu etcd[66934]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 09 13:17:58 ubuntu etcd[66934]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 09 13:17:58 ubuntu etcd[66934]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 09 13:17:58 ubuntu etcd[66934]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 09 13:17:58 ubuntu etcd[66934]: Running http and grpc server on single port. This is not recommended for production.
Jul 09 13:17:58 ubuntu etcd[66934]: etcd Version: 3.4.27
Jul 09 13:17:58 ubuntu etcd[66934]: Git SHA: c92fb80f3
Jul 09 13:17:58 ubuntu etcd[66934]: Go Version: go1.19.10
Jul 09 13:17:58 ubuntu etcd[66934]: Go OS/Arch: linux/amd64
Jul 09 13:17:58 ubuntu etcd[66934]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 09 13:17:58 ubuntu etcd[66934]: Running http and grpc server on single port. This is not recommended for production.
Jul 09 13:17:58 ubuntu etcd[66934]: name = ubuntu
Jul 09 13:17:58 ubuntu etcd[66934]: data dir = /opt/stack/data/etcd
Jul 09 13:17:58 ubuntu etcd[66934]: member dir = /opt/stack/data/etcd/member
Jul 09 13:17:58 ubuntu etcd[66934]: heartbeat = 100ms
Jul 09 13:17:58 ubuntu etcd[66934]: election = 1000ms
Jul 09 13:17:58 ubuntu etcd[66934]: snapshot count = 100000
Jul 09 13:17:58 ubuntu etcd[66934]: advertise client URLs = http://10.201.5.82:2379
Jul 09 13:17:58 ubuntu etcd[66934]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 09 13:17:58 ubuntu etcd[66934]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jul 09 13:17:58 ubuntu etcd[66934]: raft2024/07/09 13:17:58 INFO: 43038365673ccf7b switched to configuration voters=()
Jul 09 13:17:58 ubuntu etcd[66934]: raft2024/07/09 13:17:58 INFO: 43038365673ccf7b became follower at term 0
Jul 09 13:17:58 ubuntu etcd[66934]: raft2024/07/09 13:17:58 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 09 13:17:58 ubuntu etcd[66934]: raft2024/07/09 13:17:58 INFO: 43038365673ccf7b became follower at term 1
Jul 09 13:17:58 ubuntu etcd[66934]: raft2024/07/09 13:17:58 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 09 13:17:58 ubuntu etcd[66934]: simple token is not cryptographically signed
Jul 09 13:17:58 ubuntu etcd[66934]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 09 13:17:58 ubuntu etcd[66934]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 09 13:17:58 ubuntu etcd[66934]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 09 13:17:58 ubuntu etcd[66934]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 09 13:17:58 ubuntu etcd[66934]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 09 13:17:58 ubuntu etcd[66934]: raft2024/07/09 13:17:58 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 09 13:17:58 ubuntu etcd[66934]: listening for peers on [::]:2380
Jul 09 13:17:58 ubuntu etcd[66934]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jul 09 13:17:58 ubuntu etcd[66934]: raft2024/07/09 13:17:58 INFO: 43038365673ccf7b is starting a new election at term 1
Jul 09 13:17:58 ubuntu etcd[66934]: raft2024/07/09 13:17:58 INFO: 43038365673ccf7b became candidate at term 2
Jul 09 13:17:58 ubuntu etcd[66934]: raft2024/07/09 13:17:58 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jul 09 13:17:58 ubuntu etcd[66934]: raft2024/07/09 13:17:58 INFO: 43038365673ccf7b became leader at term 2
Jul 09 13:17:58 ubuntu etcd[66934]: raft2024/07/09 13:17:58 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jul 09 13:17:58 ubuntu etcd[66934]: setting up the initial cluster version to 3.4
Jul 09 13:17:58 ubuntu etcd[66934]: ready to serve client requests
Jul 09 13:17:58 ubuntu etcd[66934]: INFO: 2024/07/09 13:17:58 parsed scheme: ""
Jul 09 13:17:58 ubuntu etcd[66934]: INFO: 2024/07/09 13:17:58 scheme "" not registered, fallback to default scheme
Jul 09 13:17:58 ubuntu etcd[66934]: INFO: 2024/07/09 13:17:58 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Jul 09 13:17:58 ubuntu etcd[66934]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jul 09 13:17:58 ubuntu etcd[66934]: set the initial cluster version to 3.4
Jul 09 13:17:58 ubuntu etcd[66934]: INFO: 2024/07/09 13:17:58 ClientConn switching balancer to "pick_first"
Jul 09 13:17:58 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 09 13:17:58 ubuntu etcd[66934]: enabled capabilities for version 3.4
Jul 09 13:17:58 ubuntu etcd[66934]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jul 09 13:23:33 ubuntu etcd[66934]: start time = 2024-07-09 13:23:33.504850784 +0000 UTC m=+335.378873040, time spent = 902.865µs, remote = 10.201.5.82:44916, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 09 13:23:33 ubuntu etcd[66934]: start time = 2024-07-09 13:23:33.572748263 +0000 UTC m=+335.446770528, time spent = 244.56µs, remote = 10.201.5.82:44916, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 09 13:23:40 ubuntu etcd[66934]: start time = 2024-07-09 13:23:40.749898761 +0000 UTC m=+342.623921026, time spent = 176.895µs, remote = 10.201.5.82:44916, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 09 13:23:43 ubuntu etcd[66934]: start time = 2024-07-09 13:23:43.297495858 +0000 UTC m=+345.171518113, time spent = 298.293µs, remote = 10.201.5.82:44916, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 09 13:26:25 ubuntu etcd[66934]: start time = 2024-07-09 13:26:25.682139242 +0000 UTC m=+507.556161498, time spent = 369.561µs, remote = 10.201.5.82:44916, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 09 13:26:25 ubuntu etcd[66934]: start time = 2024-07-09 13:26:25.760277233 +0000 UTC m=+507.634299500, time spent = 220.696µs, remote = 10.201.5.82:44916, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 09 13:26:25 ubuntu etcd[66934]: start time = 2024-07-09 13:26:25.977596417 +0000 UTC m=+507.851618685, time spent = 250.974µs, remote = 10.201.5.82:44916, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 09 13:26:28 ubuntu etcd[66934]: start time = 2024-07-09 13:26:28.177743911 +0000 UTC m=+510.051766168, time spent = 268.983µs, remote = 10.201.5.82:44916, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
