Apr 22 14:33:02 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Apr 22 14:33:02 ubuntu etcd[79553]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Apr 22 14:33:02 ubuntu etcd[79553]:         A future release of golang/protobuf will delete this package,
Apr 22 14:33:02 ubuntu etcd[79553]:         which has long been excluded from the compatibility promise.
Apr 22 14:33:02 ubuntu etcd[79553]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 22 14:33:02 ubuntu etcd[79553]: Running http and grpc server on single port. This is not recommended for production.
Apr 22 14:33:02 ubuntu etcd[79553]: etcd Version: 3.4.27
Apr 22 14:33:02 ubuntu etcd[79553]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 22 14:33:02 ubuntu etcd[79553]: Git SHA: c92fb80f3
Apr 22 14:33:02 ubuntu etcd[79553]: Go Version: go1.19.10
Apr 22 14:33:02 ubuntu etcd[79553]: Go OS/Arch: linux/amd64
Apr 22 14:33:02 ubuntu etcd[79553]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Apr 22 14:33:02 ubuntu etcd[79553]: Running http and grpc server on single port. This is not recommended for production.
Apr 22 14:33:02 ubuntu etcd[79553]: name = ubuntu
Apr 22 14:33:02 ubuntu etcd[79553]: data dir = /opt/stack/data/etcd
Apr 22 14:33:02 ubuntu etcd[79553]: member dir = /opt/stack/data/etcd/member
Apr 22 14:33:02 ubuntu etcd[79553]: heartbeat = 100ms
Apr 22 14:33:02 ubuntu etcd[79553]: election = 1000ms
Apr 22 14:33:02 ubuntu etcd[79553]: snapshot count = 100000
Apr 22 14:33:02 ubuntu etcd[79553]: advertise client URLs = http://10.201.5.82:2379
Apr 22 14:33:02 ubuntu etcd[79553]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Apr 22 14:33:02 ubuntu etcd[79553]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Apr 22 14:33:02 ubuntu etcd[79553]: raft2025/04/22 14:33:02 INFO: 43038365673ccf7b switched to configuration voters=()
Apr 22 14:33:02 ubuntu etcd[79553]: raft2025/04/22 14:33:02 INFO: 43038365673ccf7b became follower at term 0
Apr 22 14:33:02 ubuntu etcd[79553]: raft2025/04/22 14:33:02 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Apr 22 14:33:02 ubuntu etcd[79553]: raft2025/04/22 14:33:02 INFO: 43038365673ccf7b became follower at term 1
Apr 22 14:33:02 ubuntu etcd[79553]: raft2025/04/22 14:33:02 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Apr 22 14:33:02 ubuntu etcd[79553]: simple token is not cryptographically signed
Apr 22 14:33:02 ubuntu etcd[79553]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Apr 22 14:33:02 ubuntu etcd[79553]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Apr 22 14:33:02 ubuntu etcd[79553]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Apr 22 14:33:02 ubuntu etcd[79553]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Apr 22 14:33:02 ubuntu etcd[79553]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Apr 22 14:33:02 ubuntu etcd[79553]: raft2025/04/22 14:33:02 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Apr 22 14:33:02 ubuntu etcd[79553]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Apr 22 14:33:02 ubuntu etcd[79553]: listening for peers on [::]:2380
Apr 22 14:33:02 ubuntu etcd[79553]: raft2025/04/22 14:33:02 INFO: 43038365673ccf7b is starting a new election at term 1
Apr 22 14:33:02 ubuntu etcd[79553]: raft2025/04/22 14:33:02 INFO: 43038365673ccf7b became candidate at term 2
Apr 22 14:33:02 ubuntu etcd[79553]: raft2025/04/22 14:33:02 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Apr 22 14:33:02 ubuntu etcd[79553]: raft2025/04/22 14:33:02 INFO: 43038365673ccf7b became leader at term 2
Apr 22 14:33:02 ubuntu etcd[79553]: raft2025/04/22 14:33:02 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Apr 22 14:33:02 ubuntu etcd[79553]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Apr 22 14:33:02 ubuntu etcd[79553]: setting up the initial cluster version to 3.4
Apr 22 14:33:02 ubuntu etcd[79553]: ready to serve client requests
Apr 22 14:33:02 ubuntu etcd[79553]: set the initial cluster version to 3.4
Apr 22 14:33:02 ubuntu etcd[79553]: enabled capabilities for version 3.4
Apr 22 14:33:02 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Apr 22 14:33:02 ubuntu etcd[79553]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Apr 22 14:37:55 ubuntu etcd[79553]: start time = 2025-04-22 14:37:55.527425077 +0000 UTC m=+293.297645982, time spent = 1.420695ms, remote = 10.201.5.82:50672, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 22 14:37:55 ubuntu etcd[79553]: start time = 2025-04-22 14:37:55.541421355 +0000 UTC m=+293.311642278, time spent = 297.104µs, remote = 10.201.5.82:50672, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 22 14:38:02 ubuntu etcd[79553]: start time = 2025-04-22 14:38:02.129933056 +0000 UTC m=+299.900153973, time spent = 322.351µs, remote = 10.201.5.82:50672, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 22 14:38:03 ubuntu etcd[79553]: start time = 2025-04-22 14:38:03.971315893 +0000 UTC m=+301.741536810, time spent = 273.045µs, remote = 10.201.5.82:50672, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
