May 15 13:00:16 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 15 13:00:16 ubuntu etcd[79789]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 15 13:00:16 ubuntu etcd[79789]:         A future release of golang/protobuf will delete this package,
May 15 13:00:16 ubuntu etcd[79789]:         which has long been excluded from the compatibility promise.
May 15 13:00:16 ubuntu etcd[79789]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 15 13:00:16 ubuntu etcd[79789]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 15 13:00:16 ubuntu etcd[79789]: Running http and grpc server on single port. This is not recommended for production.
May 15 13:00:16 ubuntu etcd[79789]: etcd Version: 3.4.27
May 15 13:00:16 ubuntu etcd[79789]: Git SHA: c92fb80f3
May 15 13:00:16 ubuntu etcd[79789]: Go Version: go1.19.10
May 15 13:00:16 ubuntu etcd[79789]: Go OS/Arch: linux/amd64
May 15 13:00:16 ubuntu etcd[79789]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 15 13:00:16 ubuntu etcd[79789]: Running http and grpc server on single port. This is not recommended for production.
May 15 13:00:16 ubuntu etcd[79789]: name = ubuntu
May 15 13:00:16 ubuntu etcd[79789]: data dir = /opt/stack/data/etcd
May 15 13:00:16 ubuntu etcd[79789]: member dir = /opt/stack/data/etcd/member
May 15 13:00:16 ubuntu etcd[79789]: heartbeat = 100ms
May 15 13:00:16 ubuntu etcd[79789]: election = 1000ms
May 15 13:00:16 ubuntu etcd[79789]: snapshot count = 100000
May 15 13:00:16 ubuntu etcd[79789]: advertise client URLs = http://10.201.5.82:2379
May 15 13:00:16 ubuntu etcd[79789]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 15 13:00:16 ubuntu etcd[79789]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
May 15 13:00:16 ubuntu etcd[79789]: raft2025/05/15 13:00:16 INFO: 43038365673ccf7b switched to configuration voters=()
May 15 13:00:16 ubuntu etcd[79789]: raft2025/05/15 13:00:16 INFO: 43038365673ccf7b became follower at term 0
May 15 13:00:16 ubuntu etcd[79789]: raft2025/05/15 13:00:16 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 15 13:00:16 ubuntu etcd[79789]: raft2025/05/15 13:00:16 INFO: 43038365673ccf7b became follower at term 1
May 15 13:00:16 ubuntu etcd[79789]: raft2025/05/15 13:00:16 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
May 15 13:00:16 ubuntu etcd[79789]: simple token is not cryptographically signed
May 15 13:00:16 ubuntu etcd[79789]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 15 13:00:16 ubuntu etcd[79789]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 15 13:00:16 ubuntu etcd[79789]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 15 13:00:16 ubuntu etcd[79789]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 15 13:00:16 ubuntu etcd[79789]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
May 15 13:00:16 ubuntu etcd[79789]: raft2025/05/15 13:00:16 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
May 15 13:00:16 ubuntu etcd[79789]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
May 15 13:00:16 ubuntu etcd[79789]: listening for peers on [::]:2380
May 15 13:00:16 ubuntu etcd[79789]: raft2025/05/15 13:00:16 INFO: 43038365673ccf7b is starting a new election at term 1
May 15 13:00:16 ubuntu etcd[79789]: raft2025/05/15 13:00:16 INFO: 43038365673ccf7b became candidate at term 2
May 15 13:00:16 ubuntu etcd[79789]: raft2025/05/15 13:00:16 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
May 15 13:00:16 ubuntu etcd[79789]: raft2025/05/15 13:00:16 INFO: 43038365673ccf7b became leader at term 2
May 15 13:00:16 ubuntu etcd[79789]: raft2025/05/15 13:00:16 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
May 15 13:00:16 ubuntu etcd[79789]: setting up the initial cluster version to 3.4
May 15 13:00:16 ubuntu etcd[79789]: set the initial cluster version to 3.4
May 15 13:00:16 ubuntu etcd[79789]: enabled capabilities for version 3.4
May 15 13:00:16 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 15 13:00:16 ubuntu etcd[79789]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
May 15 13:00:16 ubuntu etcd[79789]: ready to serve client requests
May 15 13:00:16 ubuntu etcd[79789]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
May 15 13:04:59 ubuntu etcd[79789]: start time = 2025-05-15 13:04:59.245685545 +0000 UTC m=+283.145774300, time spent = 1.823046ms, remote = 10.201.5.82:49816, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 15 13:04:59 ubuntu etcd[79789]: start time = 2025-05-15 13:04:59.248699177 +0000 UTC m=+283.148787942, time spent = 201.272µs, remote = 10.201.5.82:49816, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 15 13:05:05 ubuntu etcd[79789]: start time = 2025-05-15 13:05:05.816797193 +0000 UTC m=+289.716885943, time spent = 226.924µs, remote = 10.201.5.82:49816, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 15 13:05:07 ubuntu etcd[79789]: start time = 2025-05-15 13:05:07.660126462 +0000 UTC m=+291.560215227, time spent = 219.187µs, remote = 10.201.5.82:49816, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 15 13:08:45 ubuntu etcd[79789]: start time = 2025-05-15 13:08:45.736558251 +0000 UTC m=+509.636646999, time spent = 445.77µs, remote = 10.201.5.82:49816, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 15 13:08:45 ubuntu etcd[79789]: start time = 2025-05-15 13:08:45.739517039 +0000 UTC m=+509.639605804, time spent = 235.344µs, remote = 10.201.5.82:49816, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 15 13:08:48 ubuntu etcd[79789]: start time = 2025-05-15 13:08:48.080707837 +0000 UTC m=+511.980796601, time spent = 245.049µs, remote = 10.201.5.82:49816, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 15 13:08:50 ubuntu etcd[79789]: start time = 2025-05-15 13:08:50.14421726 +0000 UTC m=+514.044306023, time spent = 282.675µs, remote = 10.201.5.82:49816, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 15 13:10:38 ubuntu etcd[79789]: start time = 2025-05-15 13:10:38.163183873 +0000 UTC m=+622.063272651, time spent = 353.016µs, remote = 10.201.5.82:49816, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 15 13:10:38 ubuntu etcd[79789]: start time = 2025-05-15 13:10:38.16615996 +0000 UTC m=+622.066248717, time spent = 415.863µs, remote = 10.201.5.82:49816, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-7a26077a-023b-49a5-b31b-085f02470d87" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-7a26077a-023b-49a5-b31b-085f02470d87" value_size:16 lease:5727337188543140889 >> failure:<request_range:<key:"/tooz/lockscinder-7a26077a-023b-49a5-b31b-085f02470d87" > >
May 15 13:10:40 ubuntu etcd[79789]: start time = 2025-05-15 13:10:40.85830628 +0000 UTC m=+624.758395157, time spent = 908.798µs, remote = 10.201.5.82:49816, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-7a26077a-023b-49a5-b31b-085f02470d87" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-7a26077a-023b-49a5-b31b-085f02470d87" > > failure:<>
May 15 13:10:41 ubuntu etcd[79789]: start time = 2025-05-15 13:10:41.08154618 +0000 UTC m=+624.981634947, time spent = 276.003µs, remote = 10.201.5.82:49816, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 15 13:10:41 ubuntu etcd[79789]: start time = 2025-05-15 13:10:41.083510811 +0000 UTC m=+624.983599576, time spent = 215.944µs, remote = 10.201.5.82:49816, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-7a26077a-023b-49a5-b31b-085f02470d87" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-7a26077a-023b-49a5-b31b-085f02470d87" value_size:16 lease:5727337188543140893 >> failure:<request_range:<key:"/tooz/lockscinder-7a26077a-023b-49a5-b31b-085f02470d87" > >
May 15 13:10:43 ubuntu etcd[79789]: start time = 2025-05-15 13:10:43.044373265 +0000 UTC m=+626.944462141, time spent = 654.157µs, remote = 10.201.5.82:49816, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-7a26077a-023b-49a5-b31b-085f02470d87" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-7a26077a-023b-49a5-b31b-085f02470d87" > > failure:<>
May 15 13:10:43 ubuntu etcd[79789]: start time = 2025-05-15 13:10:43.256303292 +0000 UTC m=+627.156392086, time spent = 420.845µs, remote = 10.201.5.82:49816, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 15 13:10:43 ubuntu etcd[79789]: start time = 2025-05-15 13:10:43.258754254 +0000 UTC m=+627.158843121, time spent = 329.68µs, remote = 10.201.5.82:49816, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-7a26077a-023b-49a5-b31b-085f02470d87" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-7a26077a-023b-49a5-b31b-085f02470d87" value_size:16 lease:5727337188543140897 >> failure:<request_range:<key:"/tooz/lockscinder-7a26077a-023b-49a5-b31b-085f02470d87" > >
May 15 13:10:45 ubuntu etcd[79789]: start time = 2025-05-15 13:10:45.137955071 +0000 UTC m=+629.038043935, time spent = 632.578µs, remote = 10.201.5.82:49816, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-7a26077a-023b-49a5-b31b-085f02470d87" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-7a26077a-023b-49a5-b31b-085f02470d87" > > failure:<>
