Jun 11 08:55:01 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 11 08:55:01 ubuntu etcd[79462]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 11 08:55:01 ubuntu etcd[79462]:         A future release of golang/protobuf will delete this package,
Jun 11 08:55:01 ubuntu etcd[79462]:         which has long been excluded from the compatibility promise.
Jun 11 08:55:01 ubuntu etcd[79462]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 11 08:55:01 ubuntu etcd[79462]: Running http and grpc server on single port. This is not recommended for production.
Jun 11 08:55:01 ubuntu etcd[79462]: etcd Version: 3.4.27
Jun 11 08:55:01 ubuntu etcd[79462]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 11 08:55:01 ubuntu etcd[79462]: Git SHA: c92fb80f3
Jun 11 08:55:01 ubuntu etcd[79462]: Go Version: go1.19.10
Jun 11 08:55:01 ubuntu etcd[79462]: Go OS/Arch: linux/amd64
Jun 11 08:55:01 ubuntu etcd[79462]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 11 08:55:01 ubuntu etcd[79462]: Running http and grpc server on single port. This is not recommended for production.
Jun 11 08:55:01 ubuntu etcd[79462]: name = ubuntu
Jun 11 08:55:01 ubuntu etcd[79462]: data dir = /opt/stack/data/etcd
Jun 11 08:55:01 ubuntu etcd[79462]: member dir = /opt/stack/data/etcd/member
Jun 11 08:55:01 ubuntu etcd[79462]: heartbeat = 100ms
Jun 11 08:55:01 ubuntu etcd[79462]: election = 1000ms
Jun 11 08:55:01 ubuntu etcd[79462]: snapshot count = 100000
Jun 11 08:55:01 ubuntu etcd[79462]: advertise client URLs = http://10.201.5.82:2379
Jun 11 08:55:01 ubuntu etcd[79462]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 11 08:55:01 ubuntu etcd[79462]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jun 11 08:55:01 ubuntu etcd[79462]: raft2025/06/11 08:55:01 INFO: 43038365673ccf7b switched to configuration voters=()
Jun 11 08:55:01 ubuntu etcd[79462]: raft2025/06/11 08:55:01 INFO: 43038365673ccf7b became follower at term 0
Jun 11 08:55:01 ubuntu etcd[79462]: raft2025/06/11 08:55:01 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 11 08:55:01 ubuntu etcd[79462]: raft2025/06/11 08:55:01 INFO: 43038365673ccf7b became follower at term 1
Jun 11 08:55:01 ubuntu etcd[79462]: raft2025/06/11 08:55:01 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 11 08:55:01 ubuntu etcd[79462]: simple token is not cryptographically signed
Jun 11 08:55:01 ubuntu etcd[79462]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 11 08:55:01 ubuntu etcd[79462]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 11 08:55:01 ubuntu etcd[79462]: raft2025/06/11 08:55:01 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 11 08:55:01 ubuntu etcd[79462]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 11 08:55:01 ubuntu etcd[79462]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 11 08:55:01 ubuntu etcd[79462]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 11 08:55:01 ubuntu etcd[79462]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jun 11 08:55:01 ubuntu etcd[79462]: listening for peers on [::]:2380
Jun 11 08:55:02 ubuntu etcd[79462]: raft2025/06/11 08:55:02 INFO: 43038365673ccf7b is starting a new election at term 1
Jun 11 08:55:02 ubuntu etcd[79462]: raft2025/06/11 08:55:02 INFO: 43038365673ccf7b became candidate at term 2
Jun 11 08:55:02 ubuntu etcd[79462]: raft2025/06/11 08:55:02 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jun 11 08:55:02 ubuntu etcd[79462]: raft2025/06/11 08:55:02 INFO: 43038365673ccf7b became leader at term 2
Jun 11 08:55:02 ubuntu etcd[79462]: raft2025/06/11 08:55:02 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jun 11 08:55:02 ubuntu etcd[79462]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jun 11 08:55:02 ubuntu etcd[79462]: setting up the initial cluster version to 3.4
Jun 11 08:55:02 ubuntu etcd[79462]: ready to serve client requests
Jun 11 08:55:02 ubuntu etcd[79462]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jun 11 08:55:02 ubuntu etcd[79462]: set the initial cluster version to 3.4
Jun 11 08:55:02 ubuntu etcd[79462]: enabled capabilities for version 3.4
Jun 11 08:55:02 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 11 08:59:42 ubuntu etcd[79462]: start time = 2025-06-11 08:59:42.205819632 +0000 UTC m=+280.957480086, time spent = 1.878411ms, remote = 10.201.5.82:54342, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 08:59:42 ubuntu etcd[79462]: start time = 2025-06-11 08:59:42.296730734 +0000 UTC m=+281.048391190, time spent = 170.316µs, remote = 10.201.5.82:54342, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 08:59:49 ubuntu etcd[79462]: start time = 2025-06-11 08:59:49.212870063 +0000 UTC m=+287.964530521, time spent = 210.596µs, remote = 10.201.5.82:54342, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 08:59:51 ubuntu etcd[79462]: start time = 2025-06-11 08:59:51.249649822 +0000 UTC m=+290.001310263, time spent = 266.404µs, remote = 10.201.5.82:54342, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 09:02:55 ubuntu etcd[79462]: start time = 2025-06-11 09:02:55.895119134 +0000 UTC m=+474.646779578, time spent = 1.897809ms, remote = 10.201.5.82:54342, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 09:02:55 ubuntu etcd[79462]: start time = 2025-06-11 09:02:55.955549136 +0000 UTC m=+474.707209592, time spent = 215.712µs, remote = 10.201.5.82:54342, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 09:02:56 ubuntu etcd[79462]: start time = 2025-06-11 09:02:56.259687668 +0000 UTC m=+475.011348126, time spent = 238.833µs, remote = 10.201.5.82:54342, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 09:02:58 ubuntu etcd[79462]: start time = 2025-06-11 09:02:58.649353122 +0000 UTC m=+477.401013575, time spent = 329.413µs, remote = 10.201.5.82:54342, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 09:04:44 ubuntu etcd[79462]: start time = 2025-06-11 09:04:44.810917079 +0000 UTC m=+583.562577523, time spent = 287.977µs, remote = 10.201.5.82:54342, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 09:04:44 ubuntu etcd[79462]: start time = 2025-06-11 09:04:44.81981322 +0000 UTC m=+583.571473681, time spent = 1.842932ms, remote = 10.201.5.82:54342, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-dcaad6f4-a61d-4a1f-a623-6f70395f6c38" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-dcaad6f4-a61d-4a1f-a623-6f70395f6c38" value_size:16 lease:5727337781972938009 >> failure:<request_range:<key:"/tooz/lockscinder-dcaad6f4-a61d-4a1f-a623-6f70395f6c38" > >
Jun 11 09:04:47 ubuntu etcd[79462]: start time = 2025-06-11 09:04:47.443112959 +0000 UTC m=+586.194773519, time spent = 741.688µs, remote = 10.201.5.82:54342, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-dcaad6f4-a61d-4a1f-a623-6f70395f6c38" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-dcaad6f4-a61d-4a1f-a623-6f70395f6c38" > > failure:<>
Jun 11 09:04:47 ubuntu etcd[79462]: start time = 2025-06-11 09:04:47.670554489 +0000 UTC m=+586.422214946, time spent = 298.888µs, remote = 10.201.5.82:54342, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 09:04:47 ubuntu etcd[79462]: start time = 2025-06-11 09:04:47.672657771 +0000 UTC m=+586.424318227, time spent = 206.732µs, remote = 10.201.5.82:54342, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-dcaad6f4-a61d-4a1f-a623-6f70395f6c38" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-dcaad6f4-a61d-4a1f-a623-6f70395f6c38" value_size:16 lease:5727337781972938013 >> failure:<request_range:<key:"/tooz/lockscinder-dcaad6f4-a61d-4a1f-a623-6f70395f6c38" > >
Jun 11 09:04:50 ubuntu etcd[79462]: start time = 2025-06-11 09:04:50.423467212 +0000 UTC m=+589.175127669, time spent = 287.128µs, remote = 10.201.5.82:54342, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-dcaad6f4-a61d-4a1f-a623-6f70395f6c38" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-dcaad6f4-a61d-4a1f-a623-6f70395f6c38" > > failure:<>
Jun 11 09:04:50 ubuntu etcd[79462]: start time = 2025-06-11 09:04:50.637651692 +0000 UTC m=+589.389312251, time spent = 1.167411ms, remote = 10.201.5.82:54342, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 09:04:50 ubuntu etcd[79462]: start time = 2025-06-11 09:04:50.640748333 +0000 UTC m=+589.392408883, time spent = 419.73µs, remote = 10.201.5.82:54342, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-dcaad6f4-a61d-4a1f-a623-6f70395f6c38" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-dcaad6f4-a61d-4a1f-a623-6f70395f6c38" value_size:16 lease:5727337781972938017 >> failure:<request_range:<key:"/tooz/lockscinder-dcaad6f4-a61d-4a1f-a623-6f70395f6c38" > >
Jun 11 09:04:52 ubuntu etcd[79462]: start time = 2025-06-11 09:04:52.40067869 +0000 UTC m=+591.152339249, time spent = 641.233µs, remote = 10.201.5.82:54342, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-dcaad6f4-a61d-4a1f-a623-6f70395f6c38" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-dcaad6f4-a61d-4a1f-a623-6f70395f6c38" > > failure:<>
Jun 11 09:45:05 ubuntu etcd[79462]: start time = 2025-06-11 09:45:05.525505195 +0000 UTC m=+3004.277165648, time spent = 408.623µs, remote = 10.201.5.82:54342, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 09:45:05 ubuntu etcd[79462]: start time = 2025-06-11 09:45:05.527670094 +0000 UTC m=+3004.279330548, time spent = 368.631µs, remote = 10.201.5.82:54342, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-0009e0ad-6721-4fe3-9037-39d4a1697fd3" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-0009e0ad-6721-4fe3-9037-39d4a1697fd3" value_size:16 lease:5727337781972938024 >> failure:<request_range:<key:"/tooz/lockscinder-0009e0ad-6721-4fe3-9037-39d4a1697fd3" > >
Jun 11 09:45:07 ubuntu etcd[79462]: start time = 2025-06-11 09:45:07.514338684 +0000 UTC m=+3006.265999158, time spent = 295.714µs, remote = 10.201.5.82:54342, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-0009e0ad-6721-4fe3-9037-39d4a1697fd3" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-0009e0ad-6721-4fe3-9037-39d4a1697fd3" > > failure:<>
Jun 11 09:45:07 ubuntu etcd[79462]: start time = 2025-06-11 09:45:07.733591053 +0000 UTC m=+3006.485251511, time spent = 307.984µs, remote = 10.201.5.82:54342, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 09:45:07 ubuntu etcd[79462]: start time = 2025-06-11 09:45:07.736238342 +0000 UTC m=+3006.487898876, time spent = 338.383µs, remote = 10.201.5.82:54342, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-0009e0ad-6721-4fe3-9037-39d4a1697fd3" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-0009e0ad-6721-4fe3-9037-39d4a1697fd3" value_size:16 lease:5727337781972938028 >> failure:<request_range:<key:"/tooz/lockscinder-0009e0ad-6721-4fe3-9037-39d4a1697fd3" > >
Jun 11 09:45:09 ubuntu etcd[79462]: start time = 2025-06-11 09:45:09.143098985 +0000 UTC m=+3007.894759525, time spent = 640.15µs, remote = 10.201.5.82:54342, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-0009e0ad-6721-4fe3-9037-39d4a1697fd3" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-0009e0ad-6721-4fe3-9037-39d4a1697fd3" > > failure:<>
Jun 11 09:45:09 ubuntu etcd[79462]: start time = 2025-06-11 09:45:09.352722922 +0000 UTC m=+3008.104383391, time spent = 292.942µs, remote = 10.201.5.82:54342, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 09:45:09 ubuntu etcd[79462]: start time = 2025-06-11 09:45:09.354988848 +0000 UTC m=+3008.106649418, time spent = 495.486µs, remote = 10.201.5.82:54342, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-0009e0ad-6721-4fe3-9037-39d4a1697fd3" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-0009e0ad-6721-4fe3-9037-39d4a1697fd3" value_size:16 lease:5727337781972938032 >> failure:<request_range:<key:"/tooz/lockscinder-0009e0ad-6721-4fe3-9037-39d4a1697fd3" > >
Jun 11 09:45:10 ubuntu etcd[79462]: start time = 2025-06-11 09:45:10.639812346 +0000 UTC m=+3009.391472887, time spent = 690.134µs, remote = 10.201.5.82:54342, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-0009e0ad-6721-4fe3-9037-39d4a1697fd3" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-0009e0ad-6721-4fe3-9037-39d4a1697fd3" > > failure:<>
