May 19 16:21:57 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 19 16:21:57 ubuntu etcd[79445]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 19 16:21:57 ubuntu etcd[79445]:         A future release of golang/protobuf will delete this package,
May 19 16:21:57 ubuntu etcd[79445]:         which has long been excluded from the compatibility promise.
May 19 16:21:57 ubuntu etcd[79445]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 19 16:21:57 ubuntu etcd[79445]: Running http and grpc server on single port. This is not recommended for production.
May 19 16:21:57 ubuntu etcd[79445]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 19 16:21:57 ubuntu etcd[79445]: etcd Version: 3.4.27
May 19 16:21:57 ubuntu etcd[79445]: Git SHA: c92fb80f3
May 19 16:21:57 ubuntu etcd[79445]: Go Version: go1.19.10
May 19 16:21:57 ubuntu etcd[79445]: Go OS/Arch: linux/amd64
May 19 16:21:57 ubuntu etcd[79445]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 19 16:21:57 ubuntu etcd[79445]: Running http and grpc server on single port. This is not recommended for production.
May 19 16:21:57 ubuntu etcd[79445]: name = ubuntu
May 19 16:21:57 ubuntu etcd[79445]: data dir = /opt/stack/data/etcd
May 19 16:21:57 ubuntu etcd[79445]: member dir = /opt/stack/data/etcd/member
May 19 16:21:57 ubuntu etcd[79445]: heartbeat = 100ms
May 19 16:21:57 ubuntu etcd[79445]: election = 1000ms
May 19 16:21:57 ubuntu etcd[79445]: snapshot count = 100000
May 19 16:21:57 ubuntu etcd[79445]: advertise client URLs = http://10.201.5.82:2379
May 19 16:21:57 ubuntu etcd[79445]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 19 16:21:57 ubuntu etcd[79445]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
May 19 16:21:57 ubuntu etcd[79445]: raft2025/05/19 16:21:57 INFO: 43038365673ccf7b switched to configuration voters=()
May 19 16:21:57 ubuntu etcd[79445]: raft2025/05/19 16:21:57 INFO: 43038365673ccf7b became follower at term 0
May 19 16:21:57 ubuntu etcd[79445]: raft2025/05/19 16:21:57 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 19 16:21:57 ubuntu etcd[79445]: raft2025/05/19 16:21:57 INFO: 43038365673ccf7b became follower at term 1
May 19 16:21:57 ubuntu etcd[79445]: raft2025/05/19 16:21:57 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
May 19 16:21:57 ubuntu etcd[79445]: simple token is not cryptographically signed
May 19 16:21:57 ubuntu etcd[79445]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 19 16:21:57 ubuntu etcd[79445]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
May 19 16:21:57 ubuntu etcd[79445]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 19 16:21:57 ubuntu etcd[79445]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 19 16:21:57 ubuntu etcd[79445]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 19 16:21:57 ubuntu etcd[79445]: raft2025/05/19 16:21:57 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
May 19 16:21:57 ubuntu etcd[79445]: listening for peers on [::]:2380
May 19 16:21:57 ubuntu etcd[79445]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
May 19 16:21:57 ubuntu etcd[79445]: raft2025/05/19 16:21:57 INFO: 43038365673ccf7b is starting a new election at term 1
May 19 16:21:57 ubuntu etcd[79445]: raft2025/05/19 16:21:57 INFO: 43038365673ccf7b became candidate at term 2
May 19 16:21:57 ubuntu etcd[79445]: raft2025/05/19 16:21:57 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
May 19 16:21:57 ubuntu etcd[79445]: raft2025/05/19 16:21:57 INFO: 43038365673ccf7b became leader at term 2
May 19 16:21:57 ubuntu etcd[79445]: raft2025/05/19 16:21:57 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
May 19 16:21:57 ubuntu etcd[79445]: ready to serve client requests
May 19 16:21:57 ubuntu etcd[79445]: setting up the initial cluster version to 3.4
May 19 16:21:57 ubuntu etcd[79445]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
May 19 16:21:57 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 19 16:21:57 ubuntu etcd[79445]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
May 19 16:21:57 ubuntu etcd[79445]: set the initial cluster version to 3.4
May 19 16:21:57 ubuntu etcd[79445]: enabled capabilities for version 3.4
May 19 16:26:32 ubuntu etcd[79445]: start time = 2025-05-19 16:26:32.634830162 +0000 UTC m=+275.476241351, time spent = 2.268044ms, remote = 10.201.5.82:32862, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 19 16:26:32 ubuntu etcd[79445]: start time = 2025-05-19 16:26:32.634722913 +0000 UTC m=+275.476134119, time spent = 2.581617ms, remote = 10.201.5.82:32862, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 19 16:26:39 ubuntu etcd[79445]: start time = 2025-05-19 16:26:39.692997942 +0000 UTC m=+282.534409122, time spent = 414.326µs, remote = 10.201.5.82:32862, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 19 16:26:41 ubuntu etcd[79445]: start time = 2025-05-19 16:26:41.591818355 +0000 UTC m=+284.433229551, time spent = 237.663µs, remote = 10.201.5.82:32862, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 19 16:30:22 ubuntu etcd[79445]: start time = 2025-05-19 16:30:22.339407465 +0000 UTC m=+505.180818642, time spent = 487.344µs, remote = 10.201.5.82:32862, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 19 16:30:22 ubuntu etcd[79445]: start time = 2025-05-19 16:30:22.370116925 +0000 UTC m=+505.211528118, time spent = 251.866µs, remote = 10.201.5.82:32862, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 19 16:30:24 ubuntu etcd[79445]: start time = 2025-05-19 16:30:24.30344295 +0000 UTC m=+507.144854145, time spent = 389.944µs, remote = 10.201.5.82:32862, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 19 16:30:24 ubuntu etcd[79445]: start time = 2025-05-19 16:30:24.961799043 +0000 UTC m=+507.803210338, time spent = 274.532µs, remote = 10.201.5.82:32862, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 19 16:32:12 ubuntu etcd[79445]: start time = 2025-05-19 16:32:12.672598496 +0000 UTC m=+615.514009679, time spent = 332.213µs, remote = 10.201.5.82:32862, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 19 16:32:12 ubuntu etcd[79445]: start time = 2025-05-19 16:32:12.67510012 +0000 UTC m=+615.516511324, time spent = 383.359µs, remote = 10.201.5.82:32862, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-69375fb6-58d9-4dce-a5be-2aa10137eacf" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-69375fb6-58d9-4dce-a5be-2aa10137eacf" value_size:16 lease:5727337280114611225 >> failure:<request_range:<key:"/tooz/lockscinder-69375fb6-58d9-4dce-a5be-2aa10137eacf" > >
May 19 16:32:15 ubuntu etcd[79445]: start time = 2025-05-19 16:32:15.318991234 +0000 UTC m=+618.160402531, time spent = 621.052µs, remote = 10.201.5.82:32862, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-69375fb6-58d9-4dce-a5be-2aa10137eacf" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-69375fb6-58d9-4dce-a5be-2aa10137eacf" > > failure:<>
May 19 16:32:15 ubuntu etcd[79445]: start time = 2025-05-19 16:32:15.597675988 +0000 UTC m=+618.439087186, time spent = 228.769µs, remote = 10.201.5.82:32862, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 19 16:32:15 ubuntu etcd[79445]: start time = 2025-05-19 16:32:15.599814541 +0000 UTC m=+618.441225734, time spent = 165.429µs, remote = 10.201.5.82:32862, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-69375fb6-58d9-4dce-a5be-2aa10137eacf" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-69375fb6-58d9-4dce-a5be-2aa10137eacf" value_size:16 lease:5727337280114611229 >> failure:<request_range:<key:"/tooz/lockscinder-69375fb6-58d9-4dce-a5be-2aa10137eacf" > >
May 19 16:32:17 ubuntu etcd[79445]: start time = 2025-05-19 16:32:17.41018371 +0000 UTC m=+620.251595014, time spent = 702.253µs, remote = 10.201.5.82:32862, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-69375fb6-58d9-4dce-a5be-2aa10137eacf" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-69375fb6-58d9-4dce-a5be-2aa10137eacf" > > failure:<>
May 19 16:32:17 ubuntu etcd[79445]: start time = 2025-05-19 16:32:17.641618695 +0000 UTC m=+620.483029928, time spent = 367.937µs, remote = 10.201.5.82:32862, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 19 16:32:17 ubuntu etcd[79445]: start time = 2025-05-19 16:32:17.644124024 +0000 UTC m=+620.485535240, time spent = 227.659µs, remote = 10.201.5.82:32862, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-69375fb6-58d9-4dce-a5be-2aa10137eacf" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-69375fb6-58d9-4dce-a5be-2aa10137eacf" value_size:16 lease:5727337280114611233 >> failure:<request_range:<key:"/tooz/lockscinder-69375fb6-58d9-4dce-a5be-2aa10137eacf" > >
May 19 16:32:19 ubuntu etcd[79445]: start time = 2025-05-19 16:32:19.571859753 +0000 UTC m=+622.413271083, time spent = 953.335µs, remote = 10.201.5.82:32862, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-69375fb6-58d9-4dce-a5be-2aa10137eacf" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-69375fb6-58d9-4dce-a5be-2aa10137eacf" > > failure:<>
