Sep 05 03:43:32 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Sep 05 03:43:32 ubuntu etcd[68136]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Sep 05 03:43:32 ubuntu etcd[68136]:         A future release of golang/protobuf will delete this package,
Sep 05 03:43:32 ubuntu etcd[68136]:         which has long been excluded from the compatibility promise.
Sep 05 03:43:32 ubuntu etcd[68136]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Sep 05 03:43:32 ubuntu etcd[68136]: Running http and grpc server on single port. This is not recommended for production.
Sep 05 03:43:32 ubuntu etcd[68136]: etcd Version: 3.4.27
Sep 05 03:43:32 ubuntu etcd[68136]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Sep 05 03:43:32 ubuntu etcd[68136]: Git SHA: c92fb80f3
Sep 05 03:43:32 ubuntu etcd[68136]: Go Version: go1.19.10
Sep 05 03:43:32 ubuntu etcd[68136]: Go OS/Arch: linux/amd64
Sep 05 03:43:32 ubuntu etcd[68136]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Sep 05 03:43:32 ubuntu etcd[68136]: Running http and grpc server on single port. This is not recommended for production.
Sep 05 03:43:32 ubuntu etcd[68136]: name = ubuntu
Sep 05 03:43:32 ubuntu etcd[68136]: data dir = /opt/stack/data/etcd
Sep 05 03:43:32 ubuntu etcd[68136]: member dir = /opt/stack/data/etcd/member
Sep 05 03:43:32 ubuntu etcd[68136]: heartbeat = 100ms
Sep 05 03:43:32 ubuntu etcd[68136]: election = 1000ms
Sep 05 03:43:32 ubuntu etcd[68136]: snapshot count = 100000
Sep 05 03:43:32 ubuntu etcd[68136]: advertise client URLs = http://10.201.5.82:2379
Sep 05 03:43:32 ubuntu etcd[68136]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Sep 05 03:43:32 ubuntu etcd[68136]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Sep 05 03:43:32 ubuntu etcd[68136]: raft2024/09/05 03:43:32 INFO: 43038365673ccf7b switched to configuration voters=()
Sep 05 03:43:32 ubuntu etcd[68136]: raft2024/09/05 03:43:32 INFO: 43038365673ccf7b became follower at term 0
Sep 05 03:43:32 ubuntu etcd[68136]: raft2024/09/05 03:43:32 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Sep 05 03:43:32 ubuntu etcd[68136]: raft2024/09/05 03:43:32 INFO: 43038365673ccf7b became follower at term 1
Sep 05 03:43:32 ubuntu etcd[68136]: raft2024/09/05 03:43:32 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Sep 05 03:43:32 ubuntu etcd[68136]: simple token is not cryptographically signed
Sep 05 03:43:32 ubuntu etcd[68136]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Sep 05 03:43:32 ubuntu etcd[68136]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Sep 05 03:43:32 ubuntu etcd[68136]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Sep 05 03:43:32 ubuntu etcd[68136]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Sep 05 03:43:32 ubuntu etcd[68136]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Sep 05 03:43:32 ubuntu etcd[68136]: raft2024/09/05 03:43:32 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Sep 05 03:43:32 ubuntu etcd[68136]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Sep 05 03:43:32 ubuntu etcd[68136]: listening for peers on [::]:2380
Sep 05 03:43:33 ubuntu etcd[68136]: raft2024/09/05 03:43:33 INFO: 43038365673ccf7b is starting a new election at term 1
Sep 05 03:43:33 ubuntu etcd[68136]: raft2024/09/05 03:43:33 INFO: 43038365673ccf7b became candidate at term 2
Sep 05 03:43:33 ubuntu etcd[68136]: raft2024/09/05 03:43:33 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Sep 05 03:43:33 ubuntu etcd[68136]: raft2024/09/05 03:43:33 INFO: 43038365673ccf7b became leader at term 2
Sep 05 03:43:33 ubuntu etcd[68136]: raft2024/09/05 03:43:33 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Sep 05 03:43:33 ubuntu etcd[68136]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Sep 05 03:43:33 ubuntu etcd[68136]: ready to serve client requests
Sep 05 03:43:33 ubuntu etcd[68136]: setting up the initial cluster version to 3.4
Sep 05 03:43:33 ubuntu etcd[68136]: set the initial cluster version to 3.4
Sep 05 03:43:33 ubuntu etcd[68136]: enabled capabilities for version 3.4
Sep 05 03:43:33 ubuntu etcd[68136]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Sep 05 03:43:33 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Sep 05 03:48:39 ubuntu etcd[68136]: start time = 2024-09-05 03:48:39.658064544 +0000 UTC m=+306.808756023, time spent = 1.770844ms, remote = 10.201.5.82:45710, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 05 03:48:39 ubuntu etcd[68136]: start time = 2024-09-05 03:48:39.658064141 +0000 UTC m=+306.808755604, time spent = 1.921969ms, remote = 10.201.5.82:45710, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 05 03:48:46 ubuntu etcd[68136]: start time = 2024-09-05 03:48:46.824373359 +0000 UTC m=+313.975064833, time spent = 202.664µs, remote = 10.201.5.82:45710, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 05 03:48:48 ubuntu etcd[68136]: start time = 2024-09-05 03:48:48.934842499 +0000 UTC m=+316.085533972, time spent = 253.003µs, remote = 10.201.5.82:45710, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
