May 12 18:47:11 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 12 18:47:11 ubuntu etcd[79568]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 12 18:47:11 ubuntu etcd[79568]:         A future release of golang/protobuf will delete this package,
May 12 18:47:11 ubuntu etcd[79568]:         which has long been excluded from the compatibility promise.
May 12 18:47:11 ubuntu etcd[79568]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 12 18:47:11 ubuntu etcd[79568]: Running http and grpc server on single port. This is not recommended for production.
May 12 18:47:11 ubuntu etcd[79568]: etcd Version: 3.4.27
May 12 18:47:11 ubuntu etcd[79568]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 12 18:47:11 ubuntu etcd[79568]: Git SHA: c92fb80f3
May 12 18:47:11 ubuntu etcd[79568]: Go Version: go1.19.10
May 12 18:47:11 ubuntu etcd[79568]: Go OS/Arch: linux/amd64
May 12 18:47:11 ubuntu etcd[79568]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 12 18:47:11 ubuntu etcd[79568]: Running http and grpc server on single port. This is not recommended for production.
May 12 18:47:11 ubuntu etcd[79568]: name = ubuntu
May 12 18:47:11 ubuntu etcd[79568]: data dir = /opt/stack/data/etcd
May 12 18:47:11 ubuntu etcd[79568]: member dir = /opt/stack/data/etcd/member
May 12 18:47:11 ubuntu etcd[79568]: heartbeat = 100ms
May 12 18:47:11 ubuntu etcd[79568]: election = 1000ms
May 12 18:47:11 ubuntu etcd[79568]: snapshot count = 100000
May 12 18:47:11 ubuntu etcd[79568]: advertise client URLs = http://10.201.5.82:2379
May 12 18:47:11 ubuntu etcd[79568]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 12 18:47:11 ubuntu etcd[79568]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
May 12 18:47:11 ubuntu etcd[79568]: raft2025/05/12 18:47:11 INFO: 43038365673ccf7b switched to configuration voters=()
May 12 18:47:11 ubuntu etcd[79568]: raft2025/05/12 18:47:11 INFO: 43038365673ccf7b became follower at term 0
May 12 18:47:11 ubuntu etcd[79568]: raft2025/05/12 18:47:11 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 12 18:47:11 ubuntu etcd[79568]: raft2025/05/12 18:47:11 INFO: 43038365673ccf7b became follower at term 1
May 12 18:47:11 ubuntu etcd[79568]: raft2025/05/12 18:47:11 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
May 12 18:47:11 ubuntu etcd[79568]: simple token is not cryptographically signed
May 12 18:47:11 ubuntu etcd[79568]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 12 18:47:11 ubuntu etcd[79568]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 12 18:47:11 ubuntu etcd[79568]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 12 18:47:11 ubuntu etcd[79568]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 12 18:47:11 ubuntu etcd[79568]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
May 12 18:47:11 ubuntu etcd[79568]: raft2025/05/12 18:47:11 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
May 12 18:47:11 ubuntu etcd[79568]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
May 12 18:47:11 ubuntu etcd[79568]: listening for peers on [::]:2380
May 12 18:47:11 ubuntu etcd[79568]: raft2025/05/12 18:47:11 INFO: 43038365673ccf7b is starting a new election at term 1
May 12 18:47:11 ubuntu etcd[79568]: raft2025/05/12 18:47:11 INFO: 43038365673ccf7b became candidate at term 2
May 12 18:47:11 ubuntu etcd[79568]: raft2025/05/12 18:47:11 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
May 12 18:47:11 ubuntu etcd[79568]: raft2025/05/12 18:47:11 INFO: 43038365673ccf7b became leader at term 2
May 12 18:47:11 ubuntu etcd[79568]: raft2025/05/12 18:47:11 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
May 12 18:47:11 ubuntu etcd[79568]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
May 12 18:47:11 ubuntu etcd[79568]: ready to serve client requests
May 12 18:47:11 ubuntu etcd[79568]: setting up the initial cluster version to 3.4
May 12 18:47:11 ubuntu etcd[79568]: set the initial cluster version to 3.4
May 12 18:47:11 ubuntu etcd[79568]: enabled capabilities for version 3.4
May 12 18:47:11 ubuntu etcd[79568]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
May 12 18:47:11 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 12 18:52:02 ubuntu etcd[79568]: start time = 2025-05-12 18:52:02.669471224 +0000 UTC m=+291.325223046, time spent = 1.52245ms, remote = 10.201.5.82:53932, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 12 18:52:02 ubuntu etcd[79568]: start time = 2025-05-12 18:52:02.701219904 +0000 UTC m=+291.356971735, time spent = 167.928µs, remote = 10.201.5.82:53932, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 12 18:52:09 ubuntu etcd[79568]: start time = 2025-05-12 18:52:09.172963206 +0000 UTC m=+297.828715043, time spent = 290.053µs, remote = 10.201.5.82:53932, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 12 18:52:11 ubuntu etcd[79568]: start time = 2025-05-12 18:52:11.489305676 +0000 UTC m=+300.145057509, time spent = 324.186µs, remote = 10.201.5.82:53932, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 12 18:55:47 ubuntu etcd[79568]: start time = 2025-05-12 18:55:47.250005428 +0000 UTC m=+515.905757345, time spent = 1.366699ms, remote = 10.201.5.82:53932, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 12 18:55:47 ubuntu etcd[79568]: start time = 2025-05-12 18:55:47.258560062 +0000 UTC m=+515.914311956, time spent = 253.374µs, remote = 10.201.5.82:53932, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 12 18:55:49 ubuntu etcd[79568]: start time = 2025-05-12 18:55:49.035554557 +0000 UTC m=+517.691306391, time spent = 196.484µs, remote = 10.201.5.82:53932, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 12 18:55:51 ubuntu etcd[79568]: start time = 2025-05-12 18:55:51.23977521 +0000 UTC m=+519.895527044, time spent = 277.504µs, remote = 10.201.5.82:53932, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 12 18:57:36 ubuntu etcd[79568]: start time = 2025-05-12 18:57:36.591638698 +0000 UTC m=+625.247390538, time spent = 425.475µs, remote = 10.201.5.82:53932, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 12 18:57:36 ubuntu etcd[79568]: start time = 2025-05-12 18:57:36.594554907 +0000 UTC m=+625.250306747, time spent = 385.02µs, remote = 10.201.5.82:53932, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-b4a36baa-8cf8-439a-a6df-e8adf806574b" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-b4a36baa-8cf8-439a-a6df-e8adf806574b" value_size:16 lease:5727337127516642841 >> failure:<request_range:<key:"/tooz/lockscinder-b4a36baa-8cf8-439a-a6df-e8adf806574b" > >
May 12 18:57:39 ubuntu etcd[79568]: start time = 2025-05-12 18:57:39.251454968 +0000 UTC m=+627.907206846, time spent = 2.183051ms, remote = 10.201.5.82:53932, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-b4a36baa-8cf8-439a-a6df-e8adf806574b" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-b4a36baa-8cf8-439a-a6df-e8adf806574b" > > failure:<>
May 12 18:57:39 ubuntu etcd[79568]: start time = 2025-05-12 18:57:39.504374584 +0000 UTC m=+628.160126458, time spent = 313.643µs, remote = 10.201.5.82:53932, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 12 18:57:39 ubuntu etcd[79568]: start time = 2025-05-12 18:57:39.50679685 +0000 UTC m=+628.162548716, time spent = 1.165161ms, remote = 10.201.5.82:53932, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-b4a36baa-8cf8-439a-a6df-e8adf806574b" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-b4a36baa-8cf8-439a-a6df-e8adf806574b" value_size:16 lease:5727337127516642845 >> failure:<request_range:<key:"/tooz/lockscinder-b4a36baa-8cf8-439a-a6df-e8adf806574b" > >
May 12 18:57:41 ubuntu etcd[79568]: start time = 2025-05-12 18:57:41.398205046 +0000 UTC m=+630.053956982, time spent = 1.657638ms, remote = 10.201.5.82:53932, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-b4a36baa-8cf8-439a-a6df-e8adf806574b" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-b4a36baa-8cf8-439a-a6df-e8adf806574b" > > failure:<>
May 12 18:57:41 ubuntu etcd[79568]: start time = 2025-05-12 18:57:41.626160581 +0000 UTC m=+630.281912414, time spent = 266.871µs, remote = 10.201.5.82:53932, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 12 18:57:41 ubuntu etcd[79568]: start time = 2025-05-12 18:57:41.628270875 +0000 UTC m=+630.284022711, time spent = 187.151µs, remote = 10.201.5.82:53932, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-b4a36baa-8cf8-439a-a6df-e8adf806574b" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-b4a36baa-8cf8-439a-a6df-e8adf806574b" value_size:16 lease:5727337127516642849 >> failure:<request_range:<key:"/tooz/lockscinder-b4a36baa-8cf8-439a-a6df-e8adf806574b" > >
May 12 18:57:43 ubuntu etcd[79568]: start time = 2025-05-12 18:57:43.639178701 +0000 UTC m=+632.294930608, time spent = 592.643µs, remote = 10.201.5.82:53932, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-b4a36baa-8cf8-439a-a6df-e8adf806574b" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-b4a36baa-8cf8-439a-a6df-e8adf806574b" > > failure:<>
