Mar 07 20:23:49 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 07 20:23:49 ubuntu etcd[65630]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 07 20:23:49 ubuntu etcd[65630]:         A future release of golang/protobuf will delete this package,
Mar 07 20:23:49 ubuntu etcd[65630]:         which has long been excluded from the compatibility promise.
Mar 07 20:23:49 ubuntu etcd[65630]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 07 20:23:49 ubuntu etcd[65630]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 07 20:23:49 ubuntu etcd[65630]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 07 20:23:49 ubuntu etcd[65630]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 07 20:23:49 ubuntu etcd[65630]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 07 20:23:49 ubuntu etcd[65630]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 07 20:23:49 ubuntu etcd[65630]: Running http and grpc server on single port. This is not recommended for production.
Mar 07 20:23:49 ubuntu etcd[65630]: etcd Version: 3.4.27
Mar 07 20:23:49 ubuntu etcd[65630]: Git SHA: c92fb80f3
Mar 07 20:23:49 ubuntu etcd[65630]: Go Version: go1.19.10
Mar 07 20:23:49 ubuntu etcd[65630]: Go OS/Arch: linux/amd64
Mar 07 20:23:49 ubuntu etcd[65630]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 07 20:23:49 ubuntu etcd[65630]: Running http and grpc server on single port. This is not recommended for production.
Mar 07 20:23:49 ubuntu etcd[65630]: name = ubuntu
Mar 07 20:23:49 ubuntu etcd[65630]: data dir = /opt/stack/data/etcd
Mar 07 20:23:49 ubuntu etcd[65630]: member dir = /opt/stack/data/etcd/member
Mar 07 20:23:49 ubuntu etcd[65630]: heartbeat = 100ms
Mar 07 20:23:49 ubuntu etcd[65630]: election = 1000ms
Mar 07 20:23:49 ubuntu etcd[65630]: snapshot count = 100000
Mar 07 20:23:49 ubuntu etcd[65630]: advertise client URLs = http://10.201.5.82:2379
Mar 07 20:23:49 ubuntu etcd[65630]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 07 20:23:49 ubuntu etcd[65630]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Mar 07 20:23:49 ubuntu etcd[65630]: raft2024/03/07 20:23:49 INFO: 43038365673ccf7b switched to configuration voters=()
Mar 07 20:23:49 ubuntu etcd[65630]: raft2024/03/07 20:23:49 INFO: 43038365673ccf7b became follower at term 0
Mar 07 20:23:49 ubuntu etcd[65630]: raft2024/03/07 20:23:49 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 07 20:23:49 ubuntu etcd[65630]: raft2024/03/07 20:23:49 INFO: 43038365673ccf7b became follower at term 1
Mar 07 20:23:49 ubuntu etcd[65630]: raft2024/03/07 20:23:49 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 07 20:23:49 ubuntu etcd[65630]: simple token is not cryptographically signed
Mar 07 20:23:49 ubuntu etcd[65630]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 07 20:23:49 ubuntu etcd[65630]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 07 20:23:49 ubuntu etcd[65630]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 07 20:23:49 ubuntu etcd[65630]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 07 20:23:49 ubuntu etcd[65630]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 07 20:23:49 ubuntu etcd[65630]: raft2024/03/07 20:23:49 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 07 20:23:49 ubuntu etcd[65630]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Mar 07 20:23:49 ubuntu etcd[65630]: listening for peers on [::]:2380
Mar 07 20:23:49 ubuntu etcd[65630]: raft2024/03/07 20:23:49 INFO: 43038365673ccf7b is starting a new election at term 1
Mar 07 20:23:49 ubuntu etcd[65630]: raft2024/03/07 20:23:49 INFO: 43038365673ccf7b became candidate at term 2
Mar 07 20:23:49 ubuntu etcd[65630]: raft2024/03/07 20:23:49 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Mar 07 20:23:49 ubuntu etcd[65630]: raft2024/03/07 20:23:49 INFO: 43038365673ccf7b became leader at term 2
Mar 07 20:23:49 ubuntu etcd[65630]: raft2024/03/07 20:23:49 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Mar 07 20:23:49 ubuntu etcd[65630]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Mar 07 20:23:49 ubuntu etcd[65630]: setting up the initial cluster version to 3.4
Mar 07 20:23:49 ubuntu etcd[65630]: ready to serve client requests
Mar 07 20:23:49 ubuntu etcd[65630]: set the initial cluster version to 3.4
Mar 07 20:23:49 ubuntu etcd[65630]: INFO: 2024/03/07 20:23:49 parsed scheme: ""
Mar 07 20:23:49 ubuntu etcd[65630]: INFO: 2024/03/07 20:23:49 scheme "" not registered, fallback to default scheme
Mar 07 20:23:49 ubuntu etcd[65630]: INFO: 2024/03/07 20:23:49 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Mar 07 20:23:49 ubuntu etcd[65630]: INFO: 2024/03/07 20:23:49 ClientConn switching balancer to "pick_first"
Mar 07 20:23:49 ubuntu etcd[65630]: enabled capabilities for version 3.4
Mar 07 20:23:49 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 07 20:23:49 ubuntu etcd[65630]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Mar 07 20:30:11 ubuntu etcd[65630]: start time = 2024-03-07 20:30:11.072686952 +0000 UTC m=+382.030142000, time spent = 1.733626ms, remote = 10.201.5.82:56914, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 07 20:30:11 ubuntu etcd[65630]: start time = 2024-03-07 20:30:11.198920753 +0000 UTC m=+382.156375799, time spent = 241.5µs, remote = 10.201.5.82:56914, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 07 20:30:17 ubuntu etcd[65630]: start time = 2024-03-07 20:30:17.995679846 +0000 UTC m=+388.953134892, time spent = 212.226µs, remote = 10.201.5.82:56914, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 07 20:30:19 ubuntu etcd[65630]: start time = 2024-03-07 20:30:19.995835684 +0000 UTC m=+390.953290742, time spent = 304.607µs, remote = 10.201.5.82:56914, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
