May 13 09:48:44 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 13 09:48:45 ubuntu etcd[79814]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 13 09:48:45 ubuntu etcd[79814]:         A future release of golang/protobuf will delete this package,
May 13 09:48:45 ubuntu etcd[79814]:         which has long been excluded from the compatibility promise.
May 13 09:48:45 ubuntu etcd[79814]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 13 09:48:45 ubuntu etcd[79814]: Running http and grpc server on single port. This is not recommended for production.
May 13 09:48:45 ubuntu etcd[79814]: etcd Version: 3.4.27
May 13 09:48:45 ubuntu etcd[79814]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 13 09:48:45 ubuntu etcd[79814]: Git SHA: c92fb80f3
May 13 09:48:45 ubuntu etcd[79814]: Go Version: go1.19.10
May 13 09:48:45 ubuntu etcd[79814]: Go OS/Arch: linux/amd64
May 13 09:48:45 ubuntu etcd[79814]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 13 09:48:45 ubuntu etcd[79814]: Running http and grpc server on single port. This is not recommended for production.
May 13 09:48:45 ubuntu etcd[79814]: name = ubuntu
May 13 09:48:45 ubuntu etcd[79814]: data dir = /opt/stack/data/etcd
May 13 09:48:45 ubuntu etcd[79814]: member dir = /opt/stack/data/etcd/member
May 13 09:48:45 ubuntu etcd[79814]: heartbeat = 100ms
May 13 09:48:45 ubuntu etcd[79814]: election = 1000ms
May 13 09:48:45 ubuntu etcd[79814]: snapshot count = 100000
May 13 09:48:45 ubuntu etcd[79814]: advertise client URLs = http://10.201.5.82:2379
May 13 09:48:45 ubuntu etcd[79814]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 13 09:48:45 ubuntu etcd[79814]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
May 13 09:48:45 ubuntu etcd[79814]: raft2025/05/13 09:48:45 INFO: 43038365673ccf7b switched to configuration voters=()
May 13 09:48:45 ubuntu etcd[79814]: raft2025/05/13 09:48:45 INFO: 43038365673ccf7b became follower at term 0
May 13 09:48:45 ubuntu etcd[79814]: raft2025/05/13 09:48:45 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 13 09:48:45 ubuntu etcd[79814]: raft2025/05/13 09:48:45 INFO: 43038365673ccf7b became follower at term 1
May 13 09:48:45 ubuntu etcd[79814]: raft2025/05/13 09:48:45 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
May 13 09:48:45 ubuntu etcd[79814]: simple token is not cryptographically signed
May 13 09:48:45 ubuntu etcd[79814]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 13 09:48:45 ubuntu etcd[79814]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 13 09:48:45 ubuntu etcd[79814]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 13 09:48:45 ubuntu etcd[79814]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 13 09:48:45 ubuntu etcd[79814]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
May 13 09:48:45 ubuntu etcd[79814]: raft2025/05/13 09:48:45 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
May 13 09:48:45 ubuntu etcd[79814]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
May 13 09:48:45 ubuntu etcd[79814]: listening for peers on [::]:2380
May 13 09:48:45 ubuntu etcd[79814]: raft2025/05/13 09:48:45 INFO: 43038365673ccf7b is starting a new election at term 1
May 13 09:48:45 ubuntu etcd[79814]: raft2025/05/13 09:48:45 INFO: 43038365673ccf7b became candidate at term 2
May 13 09:48:45 ubuntu etcd[79814]: raft2025/05/13 09:48:45 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
May 13 09:48:45 ubuntu etcd[79814]: raft2025/05/13 09:48:45 INFO: 43038365673ccf7b became leader at term 2
May 13 09:48:45 ubuntu etcd[79814]: raft2025/05/13 09:48:45 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
May 13 09:48:45 ubuntu etcd[79814]: ready to serve client requests
May 13 09:48:45 ubuntu etcd[79814]: setting up the initial cluster version to 3.4
May 13 09:48:45 ubuntu etcd[79814]: set the initial cluster version to 3.4
May 13 09:48:45 ubuntu etcd[79814]: enabled capabilities for version 3.4
May 13 09:48:45 ubuntu etcd[79814]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
May 13 09:48:45 ubuntu etcd[79814]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
May 13 09:48:45 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 13 09:53:22 ubuntu etcd[79814]: start time = 2025-05-13 09:53:22.627541164 +0000 UTC m=+277.641643978, time spent = 567.648µs, remote = 10.201.5.82:37160, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 13 09:53:22 ubuntu etcd[79814]: start time = 2025-05-13 09:53:22.669014974 +0000 UTC m=+277.683117820, time spent = 317.009µs, remote = 10.201.5.82:37160, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 13 09:53:29 ubuntu etcd[79814]: start time = 2025-05-13 09:53:29.43935791 +0000 UTC m=+284.453460740, time spent = 198.498µs, remote = 10.201.5.82:37160, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 13 09:53:31 ubuntu etcd[79814]: start time = 2025-05-13 09:53:31.849953422 +0000 UTC m=+286.864056249, time spent = 214.704µs, remote = 10.201.5.82:37160, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
