Apr 23 17:43:57 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Apr 23 17:43:57 ubuntu etcd[79185]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Apr 23 17:43:57 ubuntu etcd[79185]:         A future release of golang/protobuf will delete this package,
Apr 23 17:43:57 ubuntu etcd[79185]:         which has long been excluded from the compatibility promise.
Apr 23 17:43:57 ubuntu etcd[79185]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 23 17:43:57 ubuntu etcd[79185]: Running http and grpc server on single port. This is not recommended for production.
Apr 23 17:43:57 ubuntu etcd[79185]: etcd Version: 3.4.27
Apr 23 17:43:57 ubuntu etcd[79185]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 23 17:43:57 ubuntu etcd[79185]: Git SHA: c92fb80f3
Apr 23 17:43:57 ubuntu etcd[79185]: Go Version: go1.19.10
Apr 23 17:43:57 ubuntu etcd[79185]: Go OS/Arch: linux/amd64
Apr 23 17:43:57 ubuntu etcd[79185]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Apr 23 17:43:57 ubuntu etcd[79185]: Running http and grpc server on single port. This is not recommended for production.
Apr 23 17:43:57 ubuntu etcd[79185]: name = ubuntu
Apr 23 17:43:57 ubuntu etcd[79185]: data dir = /opt/stack/data/etcd
Apr 23 17:43:57 ubuntu etcd[79185]: member dir = /opt/stack/data/etcd/member
Apr 23 17:43:57 ubuntu etcd[79185]: heartbeat = 100ms
Apr 23 17:43:57 ubuntu etcd[79185]: election = 1000ms
Apr 23 17:43:57 ubuntu etcd[79185]: snapshot count = 100000
Apr 23 17:43:57 ubuntu etcd[79185]: advertise client URLs = http://10.201.5.82:2379
Apr 23 17:43:57 ubuntu etcd[79185]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Apr 23 17:43:57 ubuntu etcd[79185]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Apr 23 17:43:57 ubuntu etcd[79185]: raft2025/04/23 17:43:57 INFO: 43038365673ccf7b switched to configuration voters=()
Apr 23 17:43:57 ubuntu etcd[79185]: raft2025/04/23 17:43:57 INFO: 43038365673ccf7b became follower at term 0
Apr 23 17:43:57 ubuntu etcd[79185]: raft2025/04/23 17:43:57 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Apr 23 17:43:57 ubuntu etcd[79185]: raft2025/04/23 17:43:57 INFO: 43038365673ccf7b became follower at term 1
Apr 23 17:43:57 ubuntu etcd[79185]: raft2025/04/23 17:43:57 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Apr 23 17:43:57 ubuntu etcd[79185]: simple token is not cryptographically signed
Apr 23 17:43:57 ubuntu etcd[79185]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Apr 23 17:43:57 ubuntu etcd[79185]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Apr 23 17:43:57 ubuntu etcd[79185]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Apr 23 17:43:57 ubuntu etcd[79185]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Apr 23 17:43:57 ubuntu etcd[79185]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Apr 23 17:43:57 ubuntu etcd[79185]: raft2025/04/23 17:43:57 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Apr 23 17:43:57 ubuntu etcd[79185]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Apr 23 17:43:57 ubuntu etcd[79185]: listening for peers on [::]:2380
Apr 23 17:43:58 ubuntu etcd[79185]: raft2025/04/23 17:43:58 INFO: 43038365673ccf7b is starting a new election at term 1
Apr 23 17:43:58 ubuntu etcd[79185]: raft2025/04/23 17:43:58 INFO: 43038365673ccf7b became candidate at term 2
Apr 23 17:43:58 ubuntu etcd[79185]: raft2025/04/23 17:43:58 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Apr 23 17:43:58 ubuntu etcd[79185]: raft2025/04/23 17:43:58 INFO: 43038365673ccf7b became leader at term 2
Apr 23 17:43:58 ubuntu etcd[79185]: raft2025/04/23 17:43:58 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Apr 23 17:43:58 ubuntu etcd[79185]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Apr 23 17:43:58 ubuntu etcd[79185]: setting up the initial cluster version to 3.4
Apr 23 17:43:58 ubuntu etcd[79185]: ready to serve client requests
Apr 23 17:43:58 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Apr 23 17:43:58 ubuntu etcd[79185]: set the initial cluster version to 3.4
Apr 23 17:43:58 ubuntu etcd[79185]: enabled capabilities for version 3.4
Apr 23 17:43:58 ubuntu etcd[79185]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Apr 23 17:48:41 ubuntu etcd[79185]: start time = 2025-04-23 17:48:41.192449386 +0000 UTC m=+283.848262214, time spent = 1.632955ms, remote = 10.201.5.82:49540, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 23 17:48:41 ubuntu etcd[79185]: start time = 2025-04-23 17:48:41.252934866 +0000 UTC m=+283.908747705, time spent = 416.166µs, remote = 10.201.5.82:49540, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 23 17:48:47 ubuntu etcd[79185]: start time = 2025-04-23 17:48:47.637411165 +0000 UTC m=+290.293224007, time spent = 223.891µs, remote = 10.201.5.82:49540, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 23 17:48:49 ubuntu etcd[79185]: start time = 2025-04-23 17:48:49.832974227 +0000 UTC m=+292.488787064, time spent = 276.965µs, remote = 10.201.5.82:49540, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
