Jul 23 13:44:33 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 23 13:44:33 ubuntu etcd[79234]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 23 13:44:33 ubuntu etcd[79234]:         A future release of golang/protobuf will delete this package,
Jul 23 13:44:33 ubuntu etcd[79234]:         which has long been excluded from the compatibility promise.
Jul 23 13:44:33 ubuntu etcd[79234]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 23 13:44:33 ubuntu etcd[79234]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 23 13:44:33 ubuntu etcd[79234]: Running http and grpc server on single port. This is not recommended for production.
Jul 23 13:44:33 ubuntu etcd[79234]: etcd Version: 3.4.27
Jul 23 13:44:33 ubuntu etcd[79234]: Git SHA: c92fb80f3
Jul 23 13:44:33 ubuntu etcd[79234]: Go Version: go1.19.10
Jul 23 13:44:33 ubuntu etcd[79234]: Go OS/Arch: linux/amd64
Jul 23 13:44:33 ubuntu etcd[79234]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 23 13:44:33 ubuntu etcd[79234]: Running http and grpc server on single port. This is not recommended for production.
Jul 23 13:44:33 ubuntu etcd[79234]: name = ubuntu
Jul 23 13:44:33 ubuntu etcd[79234]: data dir = /opt/stack/data/etcd
Jul 23 13:44:33 ubuntu etcd[79234]: member dir = /opt/stack/data/etcd/member
Jul 23 13:44:33 ubuntu etcd[79234]: heartbeat = 100ms
Jul 23 13:44:33 ubuntu etcd[79234]: election = 1000ms
Jul 23 13:44:33 ubuntu etcd[79234]: snapshot count = 100000
Jul 23 13:44:33 ubuntu etcd[79234]: advertise client URLs = http://10.201.5.82:2379
Jul 23 13:44:33 ubuntu etcd[79234]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 23 13:44:33 ubuntu etcd[79234]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jul 23 13:44:33 ubuntu etcd[79234]: raft2025/07/23 13:44:33 INFO: 43038365673ccf7b switched to configuration voters=()
Jul 23 13:44:33 ubuntu etcd[79234]: raft2025/07/23 13:44:33 INFO: 43038365673ccf7b became follower at term 0
Jul 23 13:44:33 ubuntu etcd[79234]: raft2025/07/23 13:44:33 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 23 13:44:33 ubuntu etcd[79234]: raft2025/07/23 13:44:33 INFO: 43038365673ccf7b became follower at term 1
Jul 23 13:44:33 ubuntu etcd[79234]: raft2025/07/23 13:44:33 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 23 13:44:33 ubuntu etcd[79234]: simple token is not cryptographically signed
Jul 23 13:44:33 ubuntu etcd[79234]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 23 13:44:33 ubuntu etcd[79234]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 23 13:44:33 ubuntu etcd[79234]: listening for peers on [::]:2380
Jul 23 13:44:33 ubuntu etcd[79234]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 23 13:44:33 ubuntu etcd[79234]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 23 13:44:33 ubuntu etcd[79234]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 23 13:44:33 ubuntu etcd[79234]: raft2025/07/23 13:44:33 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 23 13:44:33 ubuntu etcd[79234]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jul 23 13:44:34 ubuntu etcd[79234]: raft2025/07/23 13:44:34 INFO: 43038365673ccf7b is starting a new election at term 1
Jul 23 13:44:34 ubuntu etcd[79234]: raft2025/07/23 13:44:34 INFO: 43038365673ccf7b became candidate at term 2
Jul 23 13:44:34 ubuntu etcd[79234]: raft2025/07/23 13:44:34 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jul 23 13:44:34 ubuntu etcd[79234]: raft2025/07/23 13:44:34 INFO: 43038365673ccf7b became leader at term 2
Jul 23 13:44:34 ubuntu etcd[79234]: raft2025/07/23 13:44:34 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jul 23 13:44:34 ubuntu etcd[79234]: setting up the initial cluster version to 3.4
Jul 23 13:44:34 ubuntu etcd[79234]: set the initial cluster version to 3.4
Jul 23 13:44:34 ubuntu etcd[79234]: ready to serve client requests
Jul 23 13:44:34 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 23 13:44:34 ubuntu etcd[79234]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jul 23 13:44:34 ubuntu etcd[79234]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jul 23 13:44:34 ubuntu etcd[79234]: enabled capabilities for version 3.4
Jul 23 13:49:22 ubuntu etcd[79234]: start time = 2025-07-23 13:49:22.877033659 +0000 UTC m=+289.187296707, time spent = 763.141µs, remote = 10.201.5.82:55050, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 13:49:22 ubuntu etcd[79234]: start time = 2025-07-23 13:49:22.877006496 +0000 UTC m=+289.187269447, time spent = 1.008693ms, remote = 10.201.5.82:55050, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 13:49:29 ubuntu etcd[79234]: start time = 2025-07-23 13:49:29.82972206 +0000 UTC m=+296.139985021, time spent = 349.409µs, remote = 10.201.5.82:55050, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 13:49:31 ubuntu etcd[79234]: start time = 2025-07-23 13:49:31.912010939 +0000 UTC m=+298.222273900, time spent = 283.465µs, remote = 10.201.5.82:55050, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 13:52:52 ubuntu etcd[79234]: start time = 2025-07-23 13:52:52.63330814 +0000 UTC m=+498.943571100, time spent = 492.805µs, remote = 10.201.5.82:55050, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 13:52:52 ubuntu etcd[79234]: start time = 2025-07-23 13:52:52.651994678 +0000 UTC m=+498.962257648, time spent = 178.49µs, remote = 10.201.5.82:55050, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 13:52:54 ubuntu etcd[79234]: start time = 2025-07-23 13:52:54.524890822 +0000 UTC m=+500.835153787, time spent = 318.623µs, remote = 10.201.5.82:55050, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 13:52:55 ubuntu etcd[79234]: start time = 2025-07-23 13:52:55.677047369 +0000 UTC m=+501.987310330, time spent = 206.13µs, remote = 10.201.5.82:55050, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 13:59:38 ubuntu etcd[79234]: start time = 2025-07-23 13:59:38.813118324 +0000 UTC m=+905.123381293, time spent = 495.263µs, remote = 10.201.5.82:55050, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 13:59:38 ubuntu etcd[79234]: start time = 2025-07-23 13:59:38.820846424 +0000 UTC m=+905.131109390, time spent = 781.978µs, remote = 10.201.5.82:55050, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-dbe04c1e-d8e4-48e5-9967-be70582855b3" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-dbe04c1e-d8e4-48e5-9967-be70582855b3" value_size:16 lease:5727338715393084441 >> failure:<request_range:<key:"/tooz/lockscinder-dbe04c1e-d8e4-48e5-9967-be70582855b3" > >
Jul 23 13:59:42 ubuntu etcd[79234]: start time = 2025-07-23 13:59:42.200174913 +0000 UTC m=+908.510437881, time spent = 344.292µs, remote = 10.201.5.82:55050, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-dbe04c1e-d8e4-48e5-9967-be70582855b3" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-dbe04c1e-d8e4-48e5-9967-be70582855b3" > > failure:<>
Jul 23 13:59:42 ubuntu etcd[79234]: start time = 2025-07-23 13:59:42.419205318 +0000 UTC m=+908.729468288, time spent = 309.62µs, remote = 10.201.5.82:55050, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 13:59:42 ubuntu etcd[79234]: start time = 2025-07-23 13:59:42.421255377 +0000 UTC m=+908.731518349, time spent = 295.885µs, remote = 10.201.5.82:55050, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-dbe04c1e-d8e4-48e5-9967-be70582855b3" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-dbe04c1e-d8e4-48e5-9967-be70582855b3" value_size:16 lease:5727338715393084445 >> failure:<request_range:<key:"/tooz/lockscinder-dbe04c1e-d8e4-48e5-9967-be70582855b3" > >
Jul 23 13:59:44 ubuntu etcd[79234]: start time = 2025-07-23 13:59:44.475221318 +0000 UTC m=+910.785484393, time spent = 675.296µs, remote = 10.201.5.82:55050, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-dbe04c1e-d8e4-48e5-9967-be70582855b3" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-dbe04c1e-d8e4-48e5-9967-be70582855b3" > > failure:<>
Jul 23 13:59:44 ubuntu etcd[79234]: start time = 2025-07-23 13:59:44.703980177 +0000 UTC m=+911.014243145, time spent = 465.741µs, remote = 10.201.5.82:55050, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 13:59:44 ubuntu etcd[79234]: start time = 2025-07-23 13:59:44.706345219 +0000 UTC m=+911.016608169, time spent = 670.204µs, remote = 10.201.5.82:55050, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-dbe04c1e-d8e4-48e5-9967-be70582855b3" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-dbe04c1e-d8e4-48e5-9967-be70582855b3" value_size:16 lease:5727338715393084449 >> failure:<request_range:<key:"/tooz/lockscinder-dbe04c1e-d8e4-48e5-9967-be70582855b3" > >
Jul 23 13:59:46 ubuntu etcd[79234]: start time = 2025-07-23 13:59:46.623563939 +0000 UTC m=+912.933826996, time spent = 650.468µs, remote = 10.201.5.82:55050, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-dbe04c1e-d8e4-48e5-9967-be70582855b3" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-dbe04c1e-d8e4-48e5-9967-be70582855b3" > > failure:<>
