Jul 31 16:52:39 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 31 16:52:39 ubuntu etcd[79198]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 31 16:52:39 ubuntu etcd[79198]:         A future release of golang/protobuf will delete this package,
Jul 31 16:52:39 ubuntu etcd[79198]:         which has long been excluded from the compatibility promise.
Jul 31 16:52:39 ubuntu etcd[79198]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 31 16:52:39 ubuntu etcd[79198]: Running http and grpc server on single port. This is not recommended for production.
Jul 31 16:52:39 ubuntu etcd[79198]: etcd Version: 3.4.27
Jul 31 16:52:39 ubuntu etcd[79198]: Git SHA: c92fb80f3
Jul 31 16:52:39 ubuntu etcd[79198]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 31 16:52:39 ubuntu etcd[79198]: Go Version: go1.19.10
Jul 31 16:52:39 ubuntu etcd[79198]: Go OS/Arch: linux/amd64
Jul 31 16:52:39 ubuntu etcd[79198]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 31 16:52:39 ubuntu etcd[79198]: Running http and grpc server on single port. This is not recommended for production.
Jul 31 16:52:39 ubuntu etcd[79198]: name = ubuntu
Jul 31 16:52:39 ubuntu etcd[79198]: data dir = /opt/stack/data/etcd
Jul 31 16:52:39 ubuntu etcd[79198]: member dir = /opt/stack/data/etcd/member
Jul 31 16:52:39 ubuntu etcd[79198]: heartbeat = 100ms
Jul 31 16:52:39 ubuntu etcd[79198]: election = 1000ms
Jul 31 16:52:39 ubuntu etcd[79198]: snapshot count = 100000
Jul 31 16:52:39 ubuntu etcd[79198]: advertise client URLs = http://10.201.5.82:2379
Jul 31 16:52:39 ubuntu etcd[79198]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 31 16:52:39 ubuntu etcd[79198]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jul 31 16:52:39 ubuntu etcd[79198]: raft2025/07/31 16:52:39 INFO: 43038365673ccf7b switched to configuration voters=()
Jul 31 16:52:39 ubuntu etcd[79198]: raft2025/07/31 16:52:39 INFO: 43038365673ccf7b became follower at term 0
Jul 31 16:52:39 ubuntu etcd[79198]: raft2025/07/31 16:52:39 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 31 16:52:39 ubuntu etcd[79198]: raft2025/07/31 16:52:39 INFO: 43038365673ccf7b became follower at term 1
Jul 31 16:52:39 ubuntu etcd[79198]: raft2025/07/31 16:52:39 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 31 16:52:39 ubuntu etcd[79198]: simple token is not cryptographically signed
Jul 31 16:52:39 ubuntu etcd[79198]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 31 16:52:39 ubuntu etcd[79198]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 31 16:52:39 ubuntu etcd[79198]: raft2025/07/31 16:52:39 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 31 16:52:39 ubuntu etcd[79198]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jul 31 16:52:39 ubuntu etcd[79198]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 31 16:52:39 ubuntu etcd[79198]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 31 16:52:39 ubuntu etcd[79198]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 31 16:52:39 ubuntu etcd[79198]: listening for peers on [::]:2380
Jul 31 16:52:40 ubuntu etcd[79198]: raft2025/07/31 16:52:40 INFO: 43038365673ccf7b is starting a new election at term 1
Jul 31 16:52:40 ubuntu etcd[79198]: raft2025/07/31 16:52:40 INFO: 43038365673ccf7b became candidate at term 2
Jul 31 16:52:40 ubuntu etcd[79198]: raft2025/07/31 16:52:40 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jul 31 16:52:40 ubuntu etcd[79198]: raft2025/07/31 16:52:40 INFO: 43038365673ccf7b became leader at term 2
Jul 31 16:52:40 ubuntu etcd[79198]: raft2025/07/31 16:52:40 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jul 31 16:52:40 ubuntu etcd[79198]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jul 31 16:52:40 ubuntu etcd[79198]: setting up the initial cluster version to 3.4
Jul 31 16:52:40 ubuntu etcd[79198]: ready to serve client requests
Jul 31 16:52:40 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 31 16:52:40 ubuntu etcd[79198]: set the initial cluster version to 3.4
Jul 31 16:52:40 ubuntu etcd[79198]: enabled capabilities for version 3.4
Jul 31 16:52:40 ubuntu etcd[79198]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jul 31 16:57:32 ubuntu etcd[79198]: start time = 2025-07-31 16:57:32.478863099 +0000 UTC m=+293.118660352, time spent = 533.309µs, remote = 10.201.5.82:39020, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 31 16:57:32 ubuntu etcd[79198]: start time = 2025-07-31 16:57:32.496021299 +0000 UTC m=+293.135818568, time spent = 214.545µs, remote = 10.201.5.82:39020, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 31 16:57:39 ubuntu etcd[79198]: start time = 2025-07-31 16:57:39.656355506 +0000 UTC m=+300.296152769, time spent = 418.401µs, remote = 10.201.5.82:39020, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 31 16:57:41 ubuntu etcd[79198]: start time = 2025-07-31 16:57:41.495855784 +0000 UTC m=+302.135653039, time spent = 1.51006ms, remote = 10.201.5.82:39020, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 31 17:01:21 ubuntu etcd[79198]: start time = 2025-07-31 17:01:21.524530977 +0000 UTC m=+522.164328229, time spent = 326.292µs, remote = 10.201.5.82:39020, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 31 17:01:21 ubuntu etcd[79198]: start time = 2025-07-31 17:01:21.561207239 +0000 UTC m=+522.201004504, time spent = 188.36µs, remote = 10.201.5.82:39020, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 31 17:01:21 ubuntu etcd[79198]: start time = 2025-07-31 17:01:21.749373358 +0000 UTC m=+522.389170623, time spent = 183.945µs, remote = 10.201.5.82:39020, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 31 17:01:24 ubuntu etcd[79198]: start time = 2025-07-31 17:01:24.206004323 +0000 UTC m=+524.845801588, time spent = 180.223µs, remote = 10.201.5.82:39020, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 31 17:08:08 ubuntu etcd[79198]: start time = 2025-07-31 17:08:08.294571714 +0000 UTC m=+928.934368966, time spent = 503.029µs, remote = 10.201.5.82:39020, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 31 17:08:08 ubuntu etcd[79198]: start time = 2025-07-31 17:08:08.304185152 +0000 UTC m=+928.943982407, time spent = 4.784359ms, remote = 10.201.5.82:39020, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-17e5cbf1-a5c6-4945-a9de-1f8e40ec3ce1" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-17e5cbf1-a5c6-4945-a9de-1f8e40ec3ce1" value_size:16 lease:5727338895229412889 >> failure:<request_range:<key:"/tooz/lockscinder-17e5cbf1-a5c6-4945-a9de-1f8e40ec3ce1" > >
Jul 31 17:08:14 ubuntu etcd[79198]: start time = 2025-07-31 17:08:14.189264931 +0000 UTC m=+934.829062298, time spent = 504.02µs, remote = 10.201.5.82:39020, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-17e5cbf1-a5c6-4945-a9de-1f8e40ec3ce1" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-17e5cbf1-a5c6-4945-a9de-1f8e40ec3ce1" > > failure:<>
Jul 31 17:08:14 ubuntu etcd[79198]: start time = 2025-07-31 17:08:14.386421274 +0000 UTC m=+935.026218540, time spent = 431.987µs, remote = 10.201.5.82:39020, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 31 17:08:14 ubuntu etcd[79198]: start time = 2025-07-31 17:08:14.388483829 +0000 UTC m=+935.028281093, time spent = 200.16µs, remote = 10.201.5.82:39020, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-17e5cbf1-a5c6-4945-a9de-1f8e40ec3ce1" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-17e5cbf1-a5c6-4945-a9de-1f8e40ec3ce1" value_size:16 lease:5727338895229412893 >> failure:<request_range:<key:"/tooz/lockscinder-17e5cbf1-a5c6-4945-a9de-1f8e40ec3ce1" > >
Jul 31 17:08:16 ubuntu etcd[79198]: start time = 2025-07-31 17:08:16.367334706 +0000 UTC m=+937.007131972, time spent = 365.401µs, remote = 10.201.5.82:39020, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-17e5cbf1-a5c6-4945-a9de-1f8e40ec3ce1" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-17e5cbf1-a5c6-4945-a9de-1f8e40ec3ce1" > > failure:<>
Jul 31 17:08:16 ubuntu etcd[79198]: start time = 2025-07-31 17:08:16.613732544 +0000 UTC m=+937.253529893, time spent = 549.959µs, remote = 10.201.5.82:39020, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 31 17:08:16 ubuntu etcd[79198]: start time = 2025-07-31 17:08:16.616427755 +0000 UTC m=+937.256225104, time spent = 1.292792ms, remote = 10.201.5.82:39020, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-17e5cbf1-a5c6-4945-a9de-1f8e40ec3ce1" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-17e5cbf1-a5c6-4945-a9de-1f8e40ec3ce1" value_size:16 lease:5727338895229412897 >> failure:<request_range:<key:"/tooz/lockscinder-17e5cbf1-a5c6-4945-a9de-1f8e40ec3ce1" > >
Jul 31 17:08:18 ubuntu etcd[79198]: start time = 2025-07-31 17:08:18.531342334 +0000 UTC m=+939.171139691, time spent = 772.956µs, remote = 10.201.5.82:39020, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-17e5cbf1-a5c6-4945-a9de-1f8e40ec3ce1" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-17e5cbf1-a5c6-4945-a9de-1f8e40ec3ce1" > > failure:<>
