Jun 09 03:12:15 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 09 03:12:15 ubuntu etcd[80620]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 09 03:12:15 ubuntu etcd[80620]:         A future release of golang/protobuf will delete this package,
Jun 09 03:12:15 ubuntu etcd[80620]:         which has long been excluded from the compatibility promise.
Jun 09 03:12:15 ubuntu etcd[80620]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 09 03:12:15 ubuntu etcd[80620]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 09 03:12:15 ubuntu etcd[80620]: Running http and grpc server on single port. This is not recommended for production.
Jun 09 03:12:15 ubuntu etcd[80620]: etcd Version: 3.4.27
Jun 09 03:12:15 ubuntu etcd[80620]: Git SHA: c92fb80f3
Jun 09 03:12:15 ubuntu etcd[80620]: Go Version: go1.19.10
Jun 09 03:12:15 ubuntu etcd[80620]: Go OS/Arch: linux/amd64
Jun 09 03:12:15 ubuntu etcd[80620]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 09 03:12:15 ubuntu etcd[80620]: Running http and grpc server on single port. This is not recommended for production.
Jun 09 03:12:15 ubuntu etcd[80620]: name = ubuntu
Jun 09 03:12:15 ubuntu etcd[80620]: data dir = /opt/stack/data/etcd
Jun 09 03:12:15 ubuntu etcd[80620]: member dir = /opt/stack/data/etcd/member
Jun 09 03:12:15 ubuntu etcd[80620]: heartbeat = 100ms
Jun 09 03:12:15 ubuntu etcd[80620]: election = 1000ms
Jun 09 03:12:15 ubuntu etcd[80620]: snapshot count = 100000
Jun 09 03:12:15 ubuntu etcd[80620]: advertise client URLs = http://10.201.5.82:2379
Jun 09 03:12:15 ubuntu etcd[80620]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 09 03:12:15 ubuntu etcd[80620]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jun 09 03:12:15 ubuntu etcd[80620]: raft2025/06/09 03:12:15 INFO: 43038365673ccf7b switched to configuration voters=()
Jun 09 03:12:15 ubuntu etcd[80620]: raft2025/06/09 03:12:15 INFO: 43038365673ccf7b became follower at term 0
Jun 09 03:12:15 ubuntu etcd[80620]: raft2025/06/09 03:12:15 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 09 03:12:15 ubuntu etcd[80620]: raft2025/06/09 03:12:15 INFO: 43038365673ccf7b became follower at term 1
Jun 09 03:12:15 ubuntu etcd[80620]: raft2025/06/09 03:12:15 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 09 03:12:15 ubuntu etcd[80620]: simple token is not cryptographically signed
Jun 09 03:12:15 ubuntu etcd[80620]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 09 03:12:15 ubuntu etcd[80620]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 09 03:12:15 ubuntu etcd[80620]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 09 03:12:15 ubuntu etcd[80620]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 09 03:12:15 ubuntu etcd[80620]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 09 03:12:15 ubuntu etcd[80620]: raft2025/06/09 03:12:15 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 09 03:12:15 ubuntu etcd[80620]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jun 09 03:12:15 ubuntu etcd[80620]: listening for peers on [::]:2380
Jun 09 03:12:15 ubuntu etcd[80620]: raft2025/06/09 03:12:15 INFO: 43038365673ccf7b is starting a new election at term 1
Jun 09 03:12:15 ubuntu etcd[80620]: raft2025/06/09 03:12:15 INFO: 43038365673ccf7b became candidate at term 2
Jun 09 03:12:15 ubuntu etcd[80620]: raft2025/06/09 03:12:15 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jun 09 03:12:15 ubuntu etcd[80620]: raft2025/06/09 03:12:15 INFO: 43038365673ccf7b became leader at term 2
Jun 09 03:12:15 ubuntu etcd[80620]: raft2025/06/09 03:12:15 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jun 09 03:12:15 ubuntu etcd[80620]: setting up the initial cluster version to 3.4
Jun 09 03:12:15 ubuntu etcd[80620]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jun 09 03:12:15 ubuntu etcd[80620]: ready to serve client requests
Jun 09 03:12:15 ubuntu etcd[80620]: set the initial cluster version to 3.4
Jun 09 03:12:15 ubuntu etcd[80620]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jun 09 03:12:15 ubuntu etcd[80620]: enabled capabilities for version 3.4
Jun 09 03:12:15 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 09 03:17:00 ubuntu etcd[80620]: start time = 2025-06-09 03:17:00.262165781 +0000 UTC m=+284.936004418, time spent = 642.475µs, remote = 10.201.5.82:42192, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 03:17:00 ubuntu etcd[80620]: start time = 2025-06-09 03:17:00.346231701 +0000 UTC m=+285.020070351, time spent = 277.903µs, remote = 10.201.5.82:42192, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 03:17:07 ubuntu etcd[80620]: start time = 2025-06-09 03:17:07.412856328 +0000 UTC m=+292.086694978, time spent = 251.355µs, remote = 10.201.5.82:42192, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 03:17:09 ubuntu etcd[80620]: start time = 2025-06-09 03:17:09.626599661 +0000 UTC m=+294.300438308, time spent = 259.269µs, remote = 10.201.5.82:42192, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 03:20:28 ubuntu etcd[80620]: start time = 2025-06-09 03:20:28.092219089 +0000 UTC m=+492.766057737, time spent = 281.819µs, remote = 10.201.5.82:42192, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 03:20:28 ubuntu etcd[80620]: start time = 2025-06-09 03:20:28.130855169 +0000 UTC m=+492.804693819, time spent = 131.344µs, remote = 10.201.5.82:42192, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 03:20:29 ubuntu etcd[80620]: start time = 2025-06-09 03:20:29.872974154 +0000 UTC m=+494.546812791, time spent = 178.548µs, remote = 10.201.5.82:42192, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 03:20:32 ubuntu etcd[80620]: start time = 2025-06-09 03:20:32.104130849 +0000 UTC m=+496.777969496, time spent = 180.868µs, remote = 10.201.5.82:42192, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 03:22:18 ubuntu etcd[80620]: start time = 2025-06-09 03:22:18.717275056 +0000 UTC m=+603.391113709, time spent = 246.712µs, remote = 10.201.5.82:42192, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 03:22:18 ubuntu etcd[80620]: start time = 2025-06-09 03:22:18.727236539 +0000 UTC m=+603.401075186, time spent = 571.64µs, remote = 10.201.5.82:42192, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-bb885c3e-259c-4df3-b588-b814d4af2a9b" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-bb885c3e-259c-4df3-b588-b814d4af2a9b" value_size:16 lease:5727337732471260441 >> failure:<request_range:<key:"/tooz/lockscinder-bb885c3e-259c-4df3-b588-b814d4af2a9b" > >
Jun 09 03:22:21 ubuntu etcd[80620]: start time = 2025-06-09 03:22:21.288214994 +0000 UTC m=+605.962053647, time spent = 330.7µs, remote = 10.201.5.82:42192, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-bb885c3e-259c-4df3-b588-b814d4af2a9b" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-bb885c3e-259c-4df3-b588-b814d4af2a9b" > > failure:<>
Jun 09 03:22:21 ubuntu etcd[80620]: start time = 2025-06-09 03:22:21.514071278 +0000 UTC m=+606.187909925, time spent = 178.351µs, remote = 10.201.5.82:42192, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 03:22:21 ubuntu etcd[80620]: start time = 2025-06-09 03:22:21.516342668 +0000 UTC m=+606.190181412, time spent = 410.091µs, remote = 10.201.5.82:42192, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-bb885c3e-259c-4df3-b588-b814d4af2a9b" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-bb885c3e-259c-4df3-b588-b814d4af2a9b" value_size:16 lease:5727337732471260445 >> failure:<request_range:<key:"/tooz/lockscinder-bb885c3e-259c-4df3-b588-b814d4af2a9b" > >
Jun 09 03:22:23 ubuntu etcd[80620]: start time = 2025-06-09 03:22:23.360802314 +0000 UTC m=+608.034641066, time spent = 546.477µs, remote = 10.201.5.82:42192, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-bb885c3e-259c-4df3-b588-b814d4af2a9b" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-bb885c3e-259c-4df3-b588-b814d4af2a9b" > > failure:<>
Jun 09 03:22:23 ubuntu etcd[80620]: start time = 2025-06-09 03:22:23.594263893 +0000 UTC m=+608.268102551, time spent = 200.246µs, remote = 10.201.5.82:42192, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 03:22:23 ubuntu etcd[80620]: start time = 2025-06-09 03:22:23.596776986 +0000 UTC m=+608.270615730, time spent = 516.417µs, remote = 10.201.5.82:42192, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-bb885c3e-259c-4df3-b588-b814d4af2a9b" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-bb885c3e-259c-4df3-b588-b814d4af2a9b" value_size:16 lease:5727337732471260449 >> failure:<request_range:<key:"/tooz/lockscinder-bb885c3e-259c-4df3-b588-b814d4af2a9b" > >
Jun 09 03:22:25 ubuntu etcd[80620]: start time = 2025-06-09 03:22:25.378806414 +0000 UTC m=+610.052645169, time spent = 518.161µs, remote = 10.201.5.82:42192, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-bb885c3e-259c-4df3-b588-b814d4af2a9b" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-bb885c3e-259c-4df3-b588-b814d4af2a9b" > > failure:<>
Jun 09 04:02:32 ubuntu etcd[80620]: start time = 2025-06-09 04:02:32.381278467 +0000 UTC m=+3017.055117117, time spent = 323.654µs, remote = 10.201.5.82:42192, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 04:02:32 ubuntu etcd[80620]: start time = 2025-06-09 04:02:32.384281833 +0000 UTC m=+3017.058120479, time spent = 303.82µs, remote = 10.201.5.82:42192, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-5b30992c-cd32-4e70-a2d3-5be8457e425b" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-5b30992c-cd32-4e70-a2d3-5be8457e425b" value_size:16 lease:5727337732471260456 >> failure:<request_range:<key:"/tooz/lockscinder-5b30992c-cd32-4e70-a2d3-5be8457e425b" > >
Jun 09 04:02:34 ubuntu etcd[80620]: start time = 2025-06-09 04:02:34.674875848 +0000 UTC m=+3019.348714498, time spent = 296.688µs, remote = 10.201.5.82:42192, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-5b30992c-cd32-4e70-a2d3-5be8457e425b" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-5b30992c-cd32-4e70-a2d3-5be8457e425b" > > failure:<>
Jun 09 04:02:34 ubuntu etcd[80620]: start time = 2025-06-09 04:02:34.878865919 +0000 UTC m=+3019.552704569, time spent = 235.7µs, remote = 10.201.5.82:42192, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 04:02:34 ubuntu etcd[80620]: start time = 2025-06-09 04:02:34.880598817 +0000 UTC m=+3019.554437469, time spent = 148.504µs, remote = 10.201.5.82:42192, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-5b30992c-cd32-4e70-a2d3-5be8457e425b" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-5b30992c-cd32-4e70-a2d3-5be8457e425b" value_size:16 lease:5727337732471260460 >> failure:<request_range:<key:"/tooz/lockscinder-5b30992c-cd32-4e70-a2d3-5be8457e425b" > >
Jun 09 04:02:36 ubuntu etcd[80620]: start time = 2025-06-09 04:02:36.26975712 +0000 UTC m=+3020.943595777, time spent = 296.315µs, remote = 10.201.5.82:42192, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-5b30992c-cd32-4e70-a2d3-5be8457e425b" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-5b30992c-cd32-4e70-a2d3-5be8457e425b" > > failure:<>
Jun 09 04:02:36 ubuntu etcd[80620]: start time = 2025-06-09 04:02:36.493336285 +0000 UTC m=+3021.167175049, time spent = 824.92µs, remote = 10.201.5.82:42192, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 04:02:36 ubuntu etcd[80620]: start time = 2025-06-09 04:02:36.49645306 +0000 UTC m=+3021.170291824, time spent = 529.153µs, remote = 10.201.5.82:42192, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-5b30992c-cd32-4e70-a2d3-5be8457e425b" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-5b30992c-cd32-4e70-a2d3-5be8457e425b" value_size:16 lease:5727337732471260464 >> failure:<request_range:<key:"/tooz/lockscinder-5b30992c-cd32-4e70-a2d3-5be8457e425b" > >
Jun 09 04:02:37 ubuntu etcd[80620]: start time = 2025-06-09 04:02:37.814450262 +0000 UTC m=+3022.488288996, time spent = 679.309µs, remote = 10.201.5.82:42192, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-5b30992c-cd32-4e70-a2d3-5be8457e425b" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-5b30992c-cd32-4e70-a2d3-5be8457e425b" > > failure:<>
