May 27 07:02:06 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 27 07:02:06 ubuntu etcd[79629]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 27 07:02:06 ubuntu etcd[79629]:         A future release of golang/protobuf will delete this package,
May 27 07:02:06 ubuntu etcd[79629]:         which has long been excluded from the compatibility promise.
May 27 07:02:06 ubuntu etcd[79629]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 27 07:02:06 ubuntu etcd[79629]: Running http and grpc server on single port. This is not recommended for production.
May 27 07:02:06 ubuntu etcd[79629]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 27 07:02:06 ubuntu etcd[79629]: etcd Version: 3.4.27
May 27 07:02:06 ubuntu etcd[79629]: Git SHA: c92fb80f3
May 27 07:02:06 ubuntu etcd[79629]: Go Version: go1.19.10
May 27 07:02:06 ubuntu etcd[79629]: Go OS/Arch: linux/amd64
May 27 07:02:06 ubuntu etcd[79629]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 27 07:02:06 ubuntu etcd[79629]: Running http and grpc server on single port. This is not recommended for production.
May 27 07:02:06 ubuntu etcd[79629]: name = ubuntu
May 27 07:02:06 ubuntu etcd[79629]: data dir = /opt/stack/data/etcd
May 27 07:02:06 ubuntu etcd[79629]: member dir = /opt/stack/data/etcd/member
May 27 07:02:06 ubuntu etcd[79629]: heartbeat = 100ms
May 27 07:02:06 ubuntu etcd[79629]: election = 1000ms
May 27 07:02:06 ubuntu etcd[79629]: snapshot count = 100000
May 27 07:02:06 ubuntu etcd[79629]: advertise client URLs = http://10.201.5.82:2379
May 27 07:02:06 ubuntu etcd[79629]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 27 07:02:06 ubuntu etcd[79629]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
May 27 07:02:06 ubuntu etcd[79629]: raft2025/05/27 07:02:06 INFO: 43038365673ccf7b switched to configuration voters=()
May 27 07:02:06 ubuntu etcd[79629]: raft2025/05/27 07:02:06 INFO: 43038365673ccf7b became follower at term 0
May 27 07:02:06 ubuntu etcd[79629]: raft2025/05/27 07:02:06 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 27 07:02:06 ubuntu etcd[79629]: raft2025/05/27 07:02:06 INFO: 43038365673ccf7b became follower at term 1
May 27 07:02:06 ubuntu etcd[79629]: raft2025/05/27 07:02:06 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
May 27 07:02:06 ubuntu etcd[79629]: simple token is not cryptographically signed
May 27 07:02:06 ubuntu etcd[79629]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 27 07:02:06 ubuntu etcd[79629]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 27 07:02:06 ubuntu etcd[79629]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 27 07:02:06 ubuntu etcd[79629]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 27 07:02:06 ubuntu etcd[79629]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
May 27 07:02:06 ubuntu etcd[79629]: raft2025/05/27 07:02:06 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
May 27 07:02:06 ubuntu etcd[79629]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
May 27 07:02:06 ubuntu etcd[79629]: listening for peers on [::]:2380
May 27 07:02:06 ubuntu etcd[79629]: raft2025/05/27 07:02:06 INFO: 43038365673ccf7b is starting a new election at term 1
May 27 07:02:06 ubuntu etcd[79629]: raft2025/05/27 07:02:06 INFO: 43038365673ccf7b became candidate at term 2
May 27 07:02:06 ubuntu etcd[79629]: raft2025/05/27 07:02:06 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
May 27 07:02:06 ubuntu etcd[79629]: raft2025/05/27 07:02:06 INFO: 43038365673ccf7b became leader at term 2
May 27 07:02:06 ubuntu etcd[79629]: raft2025/05/27 07:02:06 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
May 27 07:02:06 ubuntu etcd[79629]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
May 27 07:02:06 ubuntu etcd[79629]: ready to serve client requests
May 27 07:02:06 ubuntu etcd[79629]: setting up the initial cluster version to 3.4
May 27 07:02:06 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 27 07:02:06 ubuntu etcd[79629]: set the initial cluster version to 3.4
May 27 07:02:06 ubuntu etcd[79629]: enabled capabilities for version 3.4
May 27 07:02:06 ubuntu etcd[79629]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
May 27 07:06:49 ubuntu etcd[79629]: start time = 2025-05-27 07:06:49.923369472 +0000 UTC m=+283.437128228, time spent = 2.186813ms, remote = 10.201.5.82:38468, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 27 07:06:49 ubuntu etcd[79629]: start time = 2025-05-27 07:06:49.927855829 +0000 UTC m=+283.441614599, time spent = 294.766µs, remote = 10.201.5.82:38468, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 27 07:06:57 ubuntu etcd[79629]: start time = 2025-05-27 07:06:57.038995958 +0000 UTC m=+290.552754724, time spent = 201.645µs, remote = 10.201.5.82:38468, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 27 07:06:58 ubuntu etcd[79629]: start time = 2025-05-27 07:06:58.870909847 +0000 UTC m=+292.384668613, time spent = 197.818µs, remote = 10.201.5.82:38468, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 27 07:10:39 ubuntu etcd[79629]: start time = 2025-05-27 07:10:39.554985357 +0000 UTC m=+513.068744119, time spent = 301.836µs, remote = 10.201.5.82:38468, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 27 07:10:39 ubuntu etcd[79629]: start time = 2025-05-27 07:10:39.557012236 +0000 UTC m=+513.070771005, time spent = 120.677µs, remote = 10.201.5.82:38468, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 27 07:10:41 ubuntu etcd[79629]: start time = 2025-05-27 07:10:41.55697175 +0000 UTC m=+515.070730516, time spent = 443.529µs, remote = 10.201.5.82:38468, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 27 07:10:42 ubuntu etcd[79629]: start time = 2025-05-27 07:10:42.084322091 +0000 UTC m=+515.598080959, time spent = 279.817µs, remote = 10.201.5.82:38468, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 27 07:12:27 ubuntu etcd[79629]: start time = 2025-05-27 07:12:27.697832759 +0000 UTC m=+621.211591526, time spent = 366.996µs, remote = 10.201.5.82:38468, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 27 07:12:27 ubuntu etcd[79629]: start time = 2025-05-27 07:12:27.709108936 +0000 UTC m=+621.222867701, time spent = 5.028675ms, remote = 10.201.5.82:38468, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-1588db8f-34dd-4b74-bcf9-fdb23d10d21a" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-1588db8f-34dd-4b74-bcf9-fdb23d10d21a" value_size:16 lease:5727337448462600729 >> failure:<request_range:<key:"/tooz/lockscinder-1588db8f-34dd-4b74-bcf9-fdb23d10d21a" > >
May 27 07:12:33 ubuntu etcd[79629]: start time = 2025-05-27 07:12:33.256807911 +0000 UTC m=+626.770566727, time spent = 469.056µs, remote = 10.201.5.82:38468, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-1588db8f-34dd-4b74-bcf9-fdb23d10d21a" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-1588db8f-34dd-4b74-bcf9-fdb23d10d21a" > > failure:<>
May 27 07:12:33 ubuntu etcd[79629]: start time = 2025-05-27 07:12:33.476412798 +0000 UTC m=+626.990171569, time spent = 278.082µs, remote = 10.201.5.82:38468, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 27 07:12:33 ubuntu etcd[79629]: start time = 2025-05-27 07:12:33.479352411 +0000 UTC m=+626.993111270, time spent = 380.607µs, remote = 10.201.5.82:38468, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-1588db8f-34dd-4b74-bcf9-fdb23d10d21a" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-1588db8f-34dd-4b74-bcf9-fdb23d10d21a" value_size:16 lease:5727337448462600733 >> failure:<request_range:<key:"/tooz/lockscinder-1588db8f-34dd-4b74-bcf9-fdb23d10d21a" > >
May 27 07:12:35 ubuntu etcd[79629]: start time = 2025-05-27 07:12:35.261564194 +0000 UTC m=+628.775323099, time spent = 772.938µs, remote = 10.201.5.82:38468, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-1588db8f-34dd-4b74-bcf9-fdb23d10d21a" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-1588db8f-34dd-4b74-bcf9-fdb23d10d21a" > > failure:<>
May 27 07:12:35 ubuntu etcd[79629]: start time = 2025-05-27 07:12:35.492110149 +0000 UTC m=+629.005868916, time spent = 290.909µs, remote = 10.201.5.82:38468, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 27 07:12:35 ubuntu etcd[79629]: start time = 2025-05-27 07:12:35.494687298 +0000 UTC m=+629.008446089, time spent = 702.895µs, remote = 10.201.5.82:38468, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-1588db8f-34dd-4b74-bcf9-fdb23d10d21a" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-1588db8f-34dd-4b74-bcf9-fdb23d10d21a" value_size:16 lease:5727337448462600737 >> failure:<request_range:<key:"/tooz/lockscinder-1588db8f-34dd-4b74-bcf9-fdb23d10d21a" > >
May 27 07:12:37 ubuntu etcd[79629]: start time = 2025-05-27 07:12:37.451435645 +0000 UTC m=+630.965194513, time spent = 761.824µs, remote = 10.201.5.82:38468, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-1588db8f-34dd-4b74-bcf9-fdb23d10d21a" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-1588db8f-34dd-4b74-bcf9-fdb23d10d21a" > > failure:<>
