Jul 24 09:49:24 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 24 09:49:24 ubuntu etcd[79457]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 24 09:49:24 ubuntu etcd[79457]:         A future release of golang/protobuf will delete this package,
Jul 24 09:49:24 ubuntu etcd[79457]:         which has long been excluded from the compatibility promise.
Jul 24 09:49:24 ubuntu etcd[79457]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 24 09:49:24 ubuntu etcd[79457]: Running http and grpc server on single port. This is not recommended for production.
Jul 24 09:49:24 ubuntu etcd[79457]: etcd Version: 3.4.27
Jul 24 09:49:24 ubuntu etcd[79457]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 24 09:49:24 ubuntu etcd[79457]: Git SHA: c92fb80f3
Jul 24 09:49:24 ubuntu etcd[79457]: Go Version: go1.19.10
Jul 24 09:49:24 ubuntu etcd[79457]: Go OS/Arch: linux/amd64
Jul 24 09:49:24 ubuntu etcd[79457]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 24 09:49:24 ubuntu etcd[79457]: Running http and grpc server on single port. This is not recommended for production.
Jul 24 09:49:24 ubuntu etcd[79457]: name = ubuntu
Jul 24 09:49:24 ubuntu etcd[79457]: data dir = /opt/stack/data/etcd
Jul 24 09:49:24 ubuntu etcd[79457]: member dir = /opt/stack/data/etcd/member
Jul 24 09:49:24 ubuntu etcd[79457]: heartbeat = 100ms
Jul 24 09:49:24 ubuntu etcd[79457]: election = 1000ms
Jul 24 09:49:24 ubuntu etcd[79457]: snapshot count = 100000
Jul 24 09:49:24 ubuntu etcd[79457]: advertise client URLs = http://10.201.5.82:2379
Jul 24 09:49:24 ubuntu etcd[79457]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 24 09:49:24 ubuntu etcd[79457]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jul 24 09:49:24 ubuntu etcd[79457]: raft2025/07/24 09:49:24 INFO: 43038365673ccf7b switched to configuration voters=()
Jul 24 09:49:24 ubuntu etcd[79457]: raft2025/07/24 09:49:24 INFO: 43038365673ccf7b became follower at term 0
Jul 24 09:49:24 ubuntu etcd[79457]: raft2025/07/24 09:49:24 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 24 09:49:24 ubuntu etcd[79457]: raft2025/07/24 09:49:24 INFO: 43038365673ccf7b became follower at term 1
Jul 24 09:49:24 ubuntu etcd[79457]: raft2025/07/24 09:49:24 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 24 09:49:24 ubuntu etcd[79457]: simple token is not cryptographically signed
Jul 24 09:49:24 ubuntu etcd[79457]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 24 09:49:24 ubuntu etcd[79457]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 24 09:49:24 ubuntu etcd[79457]: raft2025/07/24 09:49:24 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 24 09:49:24 ubuntu etcd[79457]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jul 24 09:49:24 ubuntu etcd[79457]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 24 09:49:24 ubuntu etcd[79457]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 24 09:49:24 ubuntu etcd[79457]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 24 09:49:24 ubuntu etcd[79457]: listening for peers on [::]:2380
Jul 24 09:49:25 ubuntu etcd[79457]: raft2025/07/24 09:49:25 INFO: 43038365673ccf7b is starting a new election at term 1
Jul 24 09:49:25 ubuntu etcd[79457]: raft2025/07/24 09:49:25 INFO: 43038365673ccf7b became candidate at term 2
Jul 24 09:49:25 ubuntu etcd[79457]: raft2025/07/24 09:49:25 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jul 24 09:49:25 ubuntu etcd[79457]: raft2025/07/24 09:49:25 INFO: 43038365673ccf7b became leader at term 2
Jul 24 09:49:25 ubuntu etcd[79457]: raft2025/07/24 09:49:25 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jul 24 09:49:25 ubuntu etcd[79457]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jul 24 09:49:25 ubuntu etcd[79457]: ready to serve client requests
Jul 24 09:49:25 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 24 09:49:25 ubuntu etcd[79457]: setting up the initial cluster version to 3.4
Jul 24 09:49:25 ubuntu etcd[79457]: set the initial cluster version to 3.4
Jul 24 09:49:25 ubuntu etcd[79457]: enabled capabilities for version 3.4
Jul 24 09:49:25 ubuntu etcd[79457]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jul 24 09:54:22 ubuntu etcd[79457]: start time = 2025-07-24 09:54:22.486469852 +0000 UTC m=+297.702893525, time spent = 1.556242ms, remote = 10.201.5.82:46042, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 24 09:54:22 ubuntu etcd[79457]: start time = 2025-07-24 09:54:22.513525398 +0000 UTC m=+297.729949084, time spent = 269.536µs, remote = 10.201.5.82:46042, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 24 09:54:29 ubuntu etcd[79457]: start time = 2025-07-24 09:54:29.665031613 +0000 UTC m=+304.881455296, time spent = 305.706µs, remote = 10.201.5.82:46042, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 24 09:54:31 ubuntu etcd[79457]: start time = 2025-07-24 09:54:31.647681948 +0000 UTC m=+306.864105630, time spent = 239.309µs, remote = 10.201.5.82:46042, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 24 09:57:41 ubuntu etcd[79457]: start time = 2025-07-24 09:57:41.344401139 +0000 UTC m=+496.560824819, time spent = 352.59µs, remote = 10.201.5.82:46042, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 24 09:57:41 ubuntu etcd[79457]: start time = 2025-07-24 09:57:41.368787131 +0000 UTC m=+496.585210814, time spent = 309.985µs, remote = 10.201.5.82:46042, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 24 09:57:42 ubuntu etcd[79457]: start time = 2025-07-24 09:57:42.49790912 +0000 UTC m=+497.714332849, time spent = 387.714µs, remote = 10.201.5.82:46042, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 24 09:57:44 ubuntu etcd[79457]: start time = 2025-07-24 09:57:44.169561741 +0000 UTC m=+499.385985469, time spent = 308.154µs, remote = 10.201.5.82:46042, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 24 10:04:28 ubuntu etcd[79457]: start time = 2025-07-24 10:04:28.039178604 +0000 UTC m=+903.255602369, time spent = 1.009478ms, remote = 10.201.5.82:46042, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 24 10:04:28 ubuntu etcd[79457]: start time = 2025-07-24 10:04:28.050004732 +0000 UTC m=+903.266428400, time spent = 3.125729ms, remote = 10.201.5.82:46042, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-4ddf111f-6ea1-4fba-a16c-11491e437e46" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-4ddf111f-6ea1-4fba-a16c-11491e437e46" value_size:16 lease:5727338733899601177 >> failure:<request_range:<key:"/tooz/lockscinder-4ddf111f-6ea1-4fba-a16c-11491e437e46" > >
Jul 24 10:04:30 ubuntu etcd[79457]: start time = 2025-07-24 10:04:30.761121422 +0000 UTC m=+905.977545190, time spent = 437.569µs, remote = 10.201.5.82:46042, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-4ddf111f-6ea1-4fba-a16c-11491e437e46" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-4ddf111f-6ea1-4fba-a16c-11491e437e46" > > failure:<>
Jul 24 10:04:30 ubuntu etcd[79457]: start time = 2025-07-24 10:04:30.975937462 +0000 UTC m=+906.192361130, time spent = 302.955µs, remote = 10.201.5.82:46042, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 24 10:04:30 ubuntu etcd[79457]: start time = 2025-07-24 10:04:30.978355717 +0000 UTC m=+906.194779383, time spent = 1.129463ms, remote = 10.201.5.82:46042, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-4ddf111f-6ea1-4fba-a16c-11491e437e46" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-4ddf111f-6ea1-4fba-a16c-11491e437e46" value_size:16 lease:5727338733899601181 >> failure:<request_range:<key:"/tooz/lockscinder-4ddf111f-6ea1-4fba-a16c-11491e437e46" > >
Jul 24 10:04:32 ubuntu etcd[79457]: start time = 2025-07-24 10:04:32.787172915 +0000 UTC m=+908.003596582, time spent = 271.646µs, remote = 10.201.5.82:46042, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-4ddf111f-6ea1-4fba-a16c-11491e437e46" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-4ddf111f-6ea1-4fba-a16c-11491e437e46" > > failure:<>
Jul 24 10:04:33 ubuntu etcd[79457]: start time = 2025-07-24 10:04:33.025242781 +0000 UTC m=+908.241666466, time spent = 410.483µs, remote = 10.201.5.82:46042, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 24 10:04:33 ubuntu etcd[79457]: start time = 2025-07-24 10:04:33.027322596 +0000 UTC m=+908.243746280, time spent = 252.215µs, remote = 10.201.5.82:46042, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-4ddf111f-6ea1-4fba-a16c-11491e437e46" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-4ddf111f-6ea1-4fba-a16c-11491e437e46" value_size:16 lease:5727338733899601185 >> failure:<request_range:<key:"/tooz/lockscinder-4ddf111f-6ea1-4fba-a16c-11491e437e46" > >
Jul 24 10:04:34 ubuntu etcd[79457]: start time = 2025-07-24 10:04:34.811408295 +0000 UTC m=+910.027832010, time spent = 422.128µs, remote = 10.201.5.82:46042, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-4ddf111f-6ea1-4fba-a16c-11491e437e46" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-4ddf111f-6ea1-4fba-a16c-11491e437e46" > > failure:<>
