Jun 12 15:10:49 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 12 15:10:49 ubuntu etcd[79327]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 12 15:10:49 ubuntu etcd[79327]:         A future release of golang/protobuf will delete this package,
Jun 12 15:10:49 ubuntu etcd[79327]:         which has long been excluded from the compatibility promise.
Jun 12 15:10:49 ubuntu etcd[79327]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 12 15:10:49 ubuntu etcd[79327]: Running http and grpc server on single port. This is not recommended for production.
Jun 12 15:10:49 ubuntu etcd[79327]: etcd Version: 3.4.27
Jun 12 15:10:49 ubuntu etcd[79327]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 12 15:10:49 ubuntu etcd[79327]: Git SHA: c92fb80f3
Jun 12 15:10:49 ubuntu etcd[79327]: Go Version: go1.19.10
Jun 12 15:10:49 ubuntu etcd[79327]: Go OS/Arch: linux/amd64
Jun 12 15:10:49 ubuntu etcd[79327]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 12 15:10:49 ubuntu etcd[79327]: Running http and grpc server on single port. This is not recommended for production.
Jun 12 15:10:49 ubuntu etcd[79327]: name = ubuntu
Jun 12 15:10:49 ubuntu etcd[79327]: data dir = /opt/stack/data/etcd
Jun 12 15:10:49 ubuntu etcd[79327]: member dir = /opt/stack/data/etcd/member
Jun 12 15:10:49 ubuntu etcd[79327]: heartbeat = 100ms
Jun 12 15:10:49 ubuntu etcd[79327]: election = 1000ms
Jun 12 15:10:49 ubuntu etcd[79327]: snapshot count = 100000
Jun 12 15:10:49 ubuntu etcd[79327]: advertise client URLs = http://10.201.5.82:2379
Jun 12 15:10:49 ubuntu etcd[79327]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 12 15:10:49 ubuntu etcd[79327]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jun 12 15:10:49 ubuntu etcd[79327]: raft2025/06/12 15:10:49 INFO: 43038365673ccf7b switched to configuration voters=()
Jun 12 15:10:49 ubuntu etcd[79327]: raft2025/06/12 15:10:49 INFO: 43038365673ccf7b became follower at term 0
Jun 12 15:10:49 ubuntu etcd[79327]: raft2025/06/12 15:10:49 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 12 15:10:49 ubuntu etcd[79327]: raft2025/06/12 15:10:49 INFO: 43038365673ccf7b became follower at term 1
Jun 12 15:10:49 ubuntu etcd[79327]: raft2025/06/12 15:10:49 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 12 15:10:49 ubuntu etcd[79327]: simple token is not cryptographically signed
Jun 12 15:10:49 ubuntu etcd[79327]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 12 15:10:49 ubuntu etcd[79327]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 12 15:10:49 ubuntu etcd[79327]: raft2025/06/12 15:10:49 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 12 15:10:49 ubuntu etcd[79327]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jun 12 15:10:49 ubuntu etcd[79327]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 12 15:10:49 ubuntu etcd[79327]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 12 15:10:49 ubuntu etcd[79327]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 12 15:10:49 ubuntu etcd[79327]: listening for peers on [::]:2380
Jun 12 15:10:50 ubuntu etcd[79327]: raft2025/06/12 15:10:50 INFO: 43038365673ccf7b is starting a new election at term 1
Jun 12 15:10:50 ubuntu etcd[79327]: raft2025/06/12 15:10:50 INFO: 43038365673ccf7b became candidate at term 2
Jun 12 15:10:50 ubuntu etcd[79327]: raft2025/06/12 15:10:50 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jun 12 15:10:50 ubuntu etcd[79327]: raft2025/06/12 15:10:50 INFO: 43038365673ccf7b became leader at term 2
Jun 12 15:10:50 ubuntu etcd[79327]: raft2025/06/12 15:10:50 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jun 12 15:10:50 ubuntu etcd[79327]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jun 12 15:10:50 ubuntu etcd[79327]: setting up the initial cluster version to 3.4
Jun 12 15:10:50 ubuntu etcd[79327]: ready to serve client requests
Jun 12 15:10:50 ubuntu etcd[79327]: set the initial cluster version to 3.4
Jun 12 15:10:50 ubuntu etcd[79327]: enabled capabilities for version 3.4
Jun 12 15:10:50 ubuntu etcd[79327]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jun 12 15:10:50 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 12 15:15:36 ubuntu etcd[79327]: start time = 2025-06-12 15:15:36.262671757 +0000 UTC m=+287.202242050, time spent = 1.334035ms, remote = 10.201.5.82:48058, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 12 15:15:36 ubuntu etcd[79327]: start time = 2025-06-12 15:15:36.322124002 +0000 UTC m=+287.261694307, time spent = 317.907µs, remote = 10.201.5.82:48058, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 12 15:15:43 ubuntu etcd[79327]: start time = 2025-06-12 15:15:43.245914154 +0000 UTC m=+294.185484455, time spent = 327.504µs, remote = 10.201.5.82:48058, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 12 15:15:45 ubuntu etcd[79327]: start time = 2025-06-12 15:15:45.428544129 +0000 UTC m=+296.368114434, time spent = 441.533µs, remote = 10.201.5.82:48058, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 12 15:19:11 ubuntu etcd[79327]: start time = 2025-06-12 15:19:11.696530488 +0000 UTC m=+502.636100878, time spent = 764.981µs, remote = 10.201.5.82:48058, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 12 15:19:11 ubuntu etcd[79327]: start time = 2025-06-12 15:19:11.69814114 +0000 UTC m=+502.637711533, time spent = 263.137µs, remote = 10.201.5.82:48058, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 12 15:19:12 ubuntu etcd[79327]: start time = 2025-06-12 15:19:12.9195907 +0000 UTC m=+503.859161006, time spent = 214.94µs, remote = 10.201.5.82:48058, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 12 15:19:16 ubuntu etcd[79327]: start time = 2025-06-12 15:19:16.008312023 +0000 UTC m=+506.947882414, time spent = 584.675µs, remote = 10.201.5.82:48058, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 12 15:21:02 ubuntu etcd[79327]: start time = 2025-06-12 15:21:02.94579077 +0000 UTC m=+613.885361077, time spent = 442.19µs, remote = 10.201.5.82:48058, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 12 15:21:02 ubuntu etcd[79327]: start time = 2025-06-12 15:21:02.954892169 +0000 UTC m=+613.894462476, time spent = 1.185848ms, remote = 10.201.5.82:48058, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-cd9d1b76-98ca-4bd0-b8ca-855fb7ce737d" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-cd9d1b76-98ca-4bd0-b8ca-855fb7ce737d" value_size:16 lease:5727337809863583769 >> failure:<request_range:<key:"/tooz/lockscinder-cd9d1b76-98ca-4bd0-b8ca-855fb7ce737d" > >
Jun 12 15:21:06 ubuntu etcd[79327]: start time = 2025-06-12 15:21:06.076191448 +0000 UTC m=+617.015761799, time spent = 608.255µs, remote = 10.201.5.82:48058, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-cd9d1b76-98ca-4bd0-b8ca-855fb7ce737d" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-cd9d1b76-98ca-4bd0-b8ca-855fb7ce737d" > > failure:<>
Jun 12 15:21:06 ubuntu etcd[79327]: start time = 2025-06-12 15:21:06.339545619 +0000 UTC m=+617.279115922, time spent = 240.158µs, remote = 10.201.5.82:48058, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 12 15:21:06 ubuntu etcd[79327]: start time = 2025-06-12 15:21:06.345868115 +0000 UTC m=+617.285438533, time spent = 438.978µs, remote = 10.201.5.82:48058, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-cd9d1b76-98ca-4bd0-b8ca-855fb7ce737d" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-cd9d1b76-98ca-4bd0-b8ca-855fb7ce737d" value_size:16 lease:5727337809863583773 >> failure:<request_range:<key:"/tooz/lockscinder-cd9d1b76-98ca-4bd0-b8ca-855fb7ce737d" > >
Jun 12 15:21:08 ubuntu etcd[79327]: start time = 2025-06-12 15:21:08.418873002 +0000 UTC m=+619.358443400, time spent = 546.204µs, remote = 10.201.5.82:48058, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-cd9d1b76-98ca-4bd0-b8ca-855fb7ce737d" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-cd9d1b76-98ca-4bd0-b8ca-855fb7ce737d" > > failure:<>
Jun 12 15:21:08 ubuntu etcd[79327]: start time = 2025-06-12 15:21:08.639598262 +0000 UTC m=+619.579168569, time spent = 264.877µs, remote = 10.201.5.82:48058, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 12 15:21:08 ubuntu etcd[79327]: start time = 2025-06-12 15:21:08.642508935 +0000 UTC m=+619.582079288, time spent = 448.779µs, remote = 10.201.5.82:48058, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-cd9d1b76-98ca-4bd0-b8ca-855fb7ce737d" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-cd9d1b76-98ca-4bd0-b8ca-855fb7ce737d" value_size:16 lease:5727337809863583777 >> failure:<request_range:<key:"/tooz/lockscinder-cd9d1b76-98ca-4bd0-b8ca-855fb7ce737d" > >
Jun 12 15:21:10 ubuntu etcd[79327]: start time = 2025-06-12 15:21:10.45577312 +0000 UTC m=+621.395343530, time spent = 762.998µs, remote = 10.201.5.82:48058, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-cd9d1b76-98ca-4bd0-b8ca-855fb7ce737d" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-cd9d1b76-98ca-4bd0-b8ca-855fb7ce737d" > > failure:<>
Jun 12 16:01:26 ubuntu etcd[79327]: start time = 2025-06-12 16:01:26.756824967 +0000 UTC m=+3037.696395260, time spent = 496.9µs, remote = 10.201.5.82:48058, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 12 16:01:26 ubuntu etcd[79327]: start time = 2025-06-12 16:01:26.760939499 +0000 UTC m=+3037.700509889, time spent = 935.341µs, remote = 10.201.5.82:48058, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-5401049a-63d7-4fe1-bde1-b257441e73be" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-5401049a-63d7-4fe1-bde1-b257441e73be" value_size:16 lease:5727337809863583784 >> failure:<request_range:<key:"/tooz/lockscinder-5401049a-63d7-4fe1-bde1-b257441e73be" > >
Jun 12 16:01:29 ubuntu etcd[79327]: start time = 2025-06-12 16:01:29.062137338 +0000 UTC m=+3040.001707642, time spent = 418.021µs, remote = 10.201.5.82:48058, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-5401049a-63d7-4fe1-bde1-b257441e73be" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-5401049a-63d7-4fe1-bde1-b257441e73be" > > failure:<>
Jun 12 16:01:29 ubuntu etcd[79327]: start time = 2025-06-12 16:01:29.314212846 +0000 UTC m=+3040.253783157, time spent = 311.136µs, remote = 10.201.5.82:48058, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 12 16:01:29 ubuntu etcd[79327]: start time = 2025-06-12 16:01:29.317497492 +0000 UTC m=+3040.257067801, time spent = 217.683µs, remote = 10.201.5.82:48058, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-5401049a-63d7-4fe1-bde1-b257441e73be" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-5401049a-63d7-4fe1-bde1-b257441e73be" value_size:16 lease:5727337809863583788 >> failure:<request_range:<key:"/tooz/lockscinder-5401049a-63d7-4fe1-bde1-b257441e73be" > >
Jun 12 16:01:30 ubuntu etcd[79327]: start time = 2025-06-12 16:01:30.598446488 +0000 UTC m=+3041.538016817, time spent = 624.19µs, remote = 10.201.5.82:48058, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-5401049a-63d7-4fe1-bde1-b257441e73be" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-5401049a-63d7-4fe1-bde1-b257441e73be" > > failure:<>
Jun 12 16:01:30 ubuntu etcd[79327]: start time = 2025-06-12 16:01:30.82468093 +0000 UTC m=+3041.764251320, time spent = 549.962µs, remote = 10.201.5.82:48058, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 12 16:01:30 ubuntu etcd[79327]: start time = 2025-06-12 16:01:30.827746809 +0000 UTC m=+3041.767317219, time spent = 1.080526ms, remote = 10.201.5.82:48058, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-5401049a-63d7-4fe1-bde1-b257441e73be" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-5401049a-63d7-4fe1-bde1-b257441e73be" value_size:16 lease:5727337809863583792 >> failure:<request_range:<key:"/tooz/lockscinder-5401049a-63d7-4fe1-bde1-b257441e73be" > >
Jun 12 16:01:32 ubuntu etcd[79327]: start time = 2025-06-12 16:01:32.129299016 +0000 UTC m=+3043.068869372, time spent = 511.062µs, remote = 10.201.5.82:48058, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-5401049a-63d7-4fe1-bde1-b257441e73be" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-5401049a-63d7-4fe1-bde1-b257441e73be" > > failure:<>
