Dec 06 19:50:08 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 06 19:50:08 ubuntu etcd[67473]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 06 19:50:08 ubuntu etcd[67473]:         A future release of golang/protobuf will delete this package,
Dec 06 19:50:08 ubuntu etcd[67473]:         which has long been excluded from the compatibility promise.
Dec 06 19:50:08 ubuntu etcd[67473]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 19:50:08 ubuntu etcd[67473]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 06 19:50:08 ubuntu etcd[67473]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 19:50:08 ubuntu etcd[67473]: etcd Version: 3.4.27
Dec 06 19:50:08 ubuntu etcd[67473]: Git SHA: c92fb80f3
Dec 06 19:50:08 ubuntu etcd[67473]: Go Version: go1.19.10
Dec 06 19:50:08 ubuntu etcd[67473]: Go OS/Arch: linux/amd64
Dec 06 19:50:08 ubuntu etcd[67473]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 06 19:50:08 ubuntu etcd[67473]: Running http and grpc server on single port. This is not recommended for production.
Dec 06 19:50:08 ubuntu etcd[67473]: name = ubuntu
Dec 06 19:50:08 ubuntu etcd[67473]: data dir = /opt/stack/data/etcd
Dec 06 19:50:08 ubuntu etcd[67473]: member dir = /opt/stack/data/etcd/member
Dec 06 19:50:08 ubuntu etcd[67473]: heartbeat = 100ms
Dec 06 19:50:08 ubuntu etcd[67473]: election = 1000ms
Dec 06 19:50:08 ubuntu etcd[67473]: snapshot count = 100000
Dec 06 19:50:08 ubuntu etcd[67473]: advertise client URLs = http://10.201.5.82:2379
Dec 06 19:50:08 ubuntu etcd[67473]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Dec 06 19:50:08 ubuntu etcd[67473]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Dec 06 19:50:08 ubuntu etcd[67473]: raft2024/12/06 19:50:08 INFO: 43038365673ccf7b switched to configuration voters=()
Dec 06 19:50:08 ubuntu etcd[67473]: raft2024/12/06 19:50:08 INFO: 43038365673ccf7b became follower at term 0
Dec 06 19:50:08 ubuntu etcd[67473]: raft2024/12/06 19:50:08 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Dec 06 19:50:08 ubuntu etcd[67473]: raft2024/12/06 19:50:08 INFO: 43038365673ccf7b became follower at term 1
Dec 06 19:50:08 ubuntu etcd[67473]: raft2024/12/06 19:50:08 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Dec 06 19:50:08 ubuntu etcd[67473]: simple token is not cryptographically signed
Dec 06 19:50:08 ubuntu etcd[67473]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Dec 06 19:50:08 ubuntu etcd[67473]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Dec 06 19:50:08 ubuntu etcd[67473]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Dec 06 19:50:08 ubuntu etcd[67473]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Dec 06 19:50:08 ubuntu etcd[67473]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Dec 06 19:50:08 ubuntu etcd[67473]: raft2024/12/06 19:50:08 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Dec 06 19:50:08 ubuntu etcd[67473]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Dec 06 19:50:08 ubuntu etcd[67473]: listening for peers on [::]:2380
Dec 06 19:50:09 ubuntu etcd[67473]: raft2024/12/06 19:50:09 INFO: 43038365673ccf7b is starting a new election at term 1
Dec 06 19:50:09 ubuntu etcd[67473]: raft2024/12/06 19:50:09 INFO: 43038365673ccf7b became candidate at term 2
Dec 06 19:50:09 ubuntu etcd[67473]: raft2024/12/06 19:50:09 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Dec 06 19:50:09 ubuntu etcd[67473]: raft2024/12/06 19:50:09 INFO: 43038365673ccf7b became leader at term 2
Dec 06 19:50:09 ubuntu etcd[67473]: raft2024/12/06 19:50:09 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Dec 06 19:50:09 ubuntu etcd[67473]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Dec 06 19:50:09 ubuntu etcd[67473]: setting up the initial cluster version to 3.4
Dec 06 19:50:09 ubuntu etcd[67473]: ready to serve client requests
Dec 06 19:50:09 ubuntu etcd[67473]: set the initial cluster version to 3.4
Dec 06 19:50:09 ubuntu etcd[67473]: enabled capabilities for version 3.4
Dec 06 19:50:09 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Dec 06 19:50:09 ubuntu etcd[67473]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Dec 06 19:55:11 ubuntu etcd[67473]: start time = 2024-12-06 19:55:11.311991019 +0000 UTC m=+302.897962089, time spent = 1.799692ms, remote = 10.201.5.82:59642, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 06 19:55:11 ubuntu etcd[67473]: start time = 2024-12-06 19:55:11.338636736 +0000 UTC m=+302.924607820, time spent = 220.045µs, remote = 10.201.5.82:59642, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 06 19:55:18 ubuntu etcd[67473]: start time = 2024-12-06 19:55:18.107076339 +0000 UTC m=+309.693047417, time spent = 186.946µs, remote = 10.201.5.82:59642, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 06 19:55:19 ubuntu etcd[67473]: start time = 2024-12-06 19:55:19.839968006 +0000 UTC m=+311.425939086, time spent = 446.155µs, remote = 10.201.5.82:59642, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
