Mar 26 07:12:14 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 26 07:12:14 ubuntu etcd[79098]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 26 07:12:14 ubuntu etcd[79098]:         A future release of golang/protobuf will delete this package,
Mar 26 07:12:14 ubuntu etcd[79098]:         which has long been excluded from the compatibility promise.
Mar 26 07:12:14 ubuntu etcd[79098]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 26 07:12:14 ubuntu etcd[79098]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 26 07:12:14 ubuntu etcd[79098]: Running http and grpc server on single port. This is not recommended for production.
Mar 26 07:12:14 ubuntu etcd[79098]: etcd Version: 3.4.27
Mar 26 07:12:14 ubuntu etcd[79098]: Git SHA: c92fb80f3
Mar 26 07:12:14 ubuntu etcd[79098]: Go Version: go1.19.10
Mar 26 07:12:14 ubuntu etcd[79098]: Go OS/Arch: linux/amd64
Mar 26 07:12:14 ubuntu etcd[79098]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 26 07:12:14 ubuntu etcd[79098]: Running http and grpc server on single port. This is not recommended for production.
Mar 26 07:12:14 ubuntu etcd[79098]: name = ubuntu
Mar 26 07:12:14 ubuntu etcd[79098]: data dir = /opt/stack/data/etcd
Mar 26 07:12:14 ubuntu etcd[79098]: member dir = /opt/stack/data/etcd/member
Mar 26 07:12:14 ubuntu etcd[79098]: heartbeat = 100ms
Mar 26 07:12:14 ubuntu etcd[79098]: election = 1000ms
Mar 26 07:12:14 ubuntu etcd[79098]: snapshot count = 100000
Mar 26 07:12:14 ubuntu etcd[79098]: advertise client URLs = http://10.201.5.82:2379
Mar 26 07:12:14 ubuntu etcd[79098]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 26 07:12:14 ubuntu etcd[79098]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Mar 26 07:12:14 ubuntu etcd[79098]: raft2025/03/26 07:12:14 INFO: 43038365673ccf7b switched to configuration voters=()
Mar 26 07:12:14 ubuntu etcd[79098]: raft2025/03/26 07:12:14 INFO: 43038365673ccf7b became follower at term 0
Mar 26 07:12:14 ubuntu etcd[79098]: raft2025/03/26 07:12:14 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 26 07:12:14 ubuntu etcd[79098]: raft2025/03/26 07:12:14 INFO: 43038365673ccf7b became follower at term 1
Mar 26 07:12:14 ubuntu etcd[79098]: raft2025/03/26 07:12:14 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 26 07:12:14 ubuntu etcd[79098]: simple token is not cryptographically signed
Mar 26 07:12:14 ubuntu etcd[79098]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 26 07:12:14 ubuntu etcd[79098]: raft2025/03/26 07:12:14 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 26 07:12:14 ubuntu etcd[79098]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Mar 26 07:12:14 ubuntu etcd[79098]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 26 07:12:14 ubuntu etcd[79098]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 26 07:12:14 ubuntu etcd[79098]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 26 07:12:14 ubuntu etcd[79098]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 26 07:12:14 ubuntu etcd[79098]: listening for peers on [::]:2380
Mar 26 07:12:15 ubuntu etcd[79098]: raft2025/03/26 07:12:15 INFO: 43038365673ccf7b is starting a new election at term 1
Mar 26 07:12:15 ubuntu etcd[79098]: raft2025/03/26 07:12:15 INFO: 43038365673ccf7b became candidate at term 2
Mar 26 07:12:15 ubuntu etcd[79098]: raft2025/03/26 07:12:15 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Mar 26 07:12:15 ubuntu etcd[79098]: raft2025/03/26 07:12:15 INFO: 43038365673ccf7b became leader at term 2
Mar 26 07:12:15 ubuntu etcd[79098]: raft2025/03/26 07:12:15 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Mar 26 07:12:15 ubuntu etcd[79098]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Mar 26 07:12:15 ubuntu etcd[79098]: ready to serve client requests
Mar 26 07:12:15 ubuntu etcd[79098]: setting up the initial cluster version to 3.4
Mar 26 07:12:15 ubuntu etcd[79098]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Mar 26 07:12:15 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 26 07:12:15 ubuntu etcd[79098]: set the initial cluster version to 3.4
Mar 26 07:12:15 ubuntu etcd[79098]: enabled capabilities for version 3.4
Mar 26 07:17:04 ubuntu etcd[79098]: start time = 2025-03-26 07:17:04.144544587 +0000 UTC m=+289.323930003, time spent = 646.728µs, remote = 10.201.5.82:34244, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 26 07:17:04 ubuntu etcd[79098]: start time = 2025-03-26 07:17:04.18085272 +0000 UTC m=+289.360238142, time spent = 290.851µs, remote = 10.201.5.82:34244, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 26 07:17:11 ubuntu etcd[79098]: start time = 2025-03-26 07:17:11.140601384 +0000 UTC m=+296.319986804, time spent = 170.14µs, remote = 10.201.5.82:34244, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 26 07:17:13 ubuntu etcd[79098]: start time = 2025-03-26 07:17:13.132221182 +0000 UTC m=+298.311606587, time spent = 519.392µs, remote = 10.201.5.82:34244, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
