Mar 27 04:07:32 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 27 04:07:32 ubuntu etcd[79130]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 27 04:07:32 ubuntu etcd[79130]:         A future release of golang/protobuf will delete this package,
Mar 27 04:07:32 ubuntu etcd[79130]:         which has long been excluded from the compatibility promise.
Mar 27 04:07:32 ubuntu etcd[79130]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 27 04:07:32 ubuntu etcd[79130]: Running http and grpc server on single port. This is not recommended for production.
Mar 27 04:07:32 ubuntu etcd[79130]: etcd Version: 3.4.27
Mar 27 04:07:32 ubuntu etcd[79130]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 27 04:07:32 ubuntu etcd[79130]: Git SHA: c92fb80f3
Mar 27 04:07:32 ubuntu etcd[79130]: Go Version: go1.19.10
Mar 27 04:07:32 ubuntu etcd[79130]: Go OS/Arch: linux/amd64
Mar 27 04:07:32 ubuntu etcd[79130]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 27 04:07:32 ubuntu etcd[79130]: Running http and grpc server on single port. This is not recommended for production.
Mar 27 04:07:32 ubuntu etcd[79130]: name = ubuntu
Mar 27 04:07:32 ubuntu etcd[79130]: data dir = /opt/stack/data/etcd
Mar 27 04:07:32 ubuntu etcd[79130]: member dir = /opt/stack/data/etcd/member
Mar 27 04:07:32 ubuntu etcd[79130]: heartbeat = 100ms
Mar 27 04:07:32 ubuntu etcd[79130]: election = 1000ms
Mar 27 04:07:32 ubuntu etcd[79130]: snapshot count = 100000
Mar 27 04:07:32 ubuntu etcd[79130]: advertise client URLs = http://10.201.5.82:2379
Mar 27 04:07:32 ubuntu etcd[79130]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 27 04:07:32 ubuntu etcd[79130]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Mar 27 04:07:32 ubuntu etcd[79130]: raft2025/03/27 04:07:32 INFO: 43038365673ccf7b switched to configuration voters=()
Mar 27 04:07:32 ubuntu etcd[79130]: raft2025/03/27 04:07:32 INFO: 43038365673ccf7b became follower at term 0
Mar 27 04:07:32 ubuntu etcd[79130]: raft2025/03/27 04:07:32 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 27 04:07:32 ubuntu etcd[79130]: raft2025/03/27 04:07:32 INFO: 43038365673ccf7b became follower at term 1
Mar 27 04:07:32 ubuntu etcd[79130]: raft2025/03/27 04:07:32 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 27 04:07:32 ubuntu etcd[79130]: simple token is not cryptographically signed
Mar 27 04:07:32 ubuntu etcd[79130]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 27 04:07:32 ubuntu etcd[79130]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 27 04:07:32 ubuntu etcd[79130]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 27 04:07:32 ubuntu etcd[79130]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 27 04:07:32 ubuntu etcd[79130]: raft2025/03/27 04:07:32 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 27 04:07:32 ubuntu etcd[79130]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 27 04:07:32 ubuntu etcd[79130]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Mar 27 04:07:32 ubuntu etcd[79130]: listening for peers on [::]:2380
Mar 27 04:07:33 ubuntu etcd[79130]: raft2025/03/27 04:07:33 INFO: 43038365673ccf7b is starting a new election at term 1
Mar 27 04:07:33 ubuntu etcd[79130]: raft2025/03/27 04:07:33 INFO: 43038365673ccf7b became candidate at term 2
Mar 27 04:07:33 ubuntu etcd[79130]: raft2025/03/27 04:07:33 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Mar 27 04:07:33 ubuntu etcd[79130]: raft2025/03/27 04:07:33 INFO: 43038365673ccf7b became leader at term 2
Mar 27 04:07:33 ubuntu etcd[79130]: raft2025/03/27 04:07:33 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Mar 27 04:07:33 ubuntu etcd[79130]: setting up the initial cluster version to 3.4
Mar 27 04:07:33 ubuntu etcd[79130]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Mar 27 04:07:33 ubuntu etcd[79130]: ready to serve client requests
Mar 27 04:07:33 ubuntu etcd[79130]: set the initial cluster version to 3.4
Mar 27 04:07:33 ubuntu etcd[79130]: enabled capabilities for version 3.4
Mar 27 04:07:33 ubuntu etcd[79130]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Mar 27 04:07:33 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 27 04:12:24 ubuntu etcd[79130]: start time = 2025-03-27 04:12:24.783755804 +0000 UTC m=+292.744308410, time spent = 583.129µs, remote = 10.201.5.82:55722, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 27 04:12:24 ubuntu etcd[79130]: start time = 2025-03-27 04:12:24.847918033 +0000 UTC m=+292.808470649, time spent = 272.797µs, remote = 10.201.5.82:55722, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 27 04:12:31 ubuntu etcd[79130]: start time = 2025-03-27 04:12:31.954380649 +0000 UTC m=+299.914933267, time spent = 156.216µs, remote = 10.201.5.82:55722, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 27 04:12:34 ubuntu etcd[79130]: start time = 2025-03-27 04:12:34.202880095 +0000 UTC m=+302.163432712, time spent = 425.66µs, remote = 10.201.5.82:55722, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 27 04:15:32 ubuntu etcd[79130]: start time = 2025-03-27 04:15:32.11978042 +0000 UTC m=+480.080333030, time spent = 696.407µs, remote = 10.201.5.82:55722, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 27 04:15:32 ubuntu etcd[79130]: start time = 2025-03-27 04:15:32.48278369 +0000 UTC m=+480.443336405, time spent = 377.838µs, remote = 10.201.5.82:55722, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 27 04:15:32 ubuntu etcd[79130]: start time = 2025-03-27 04:15:32.485366266 +0000 UTC m=+480.445918876, time spent = 248.422µs, remote = 10.201.5.82:55722, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 27 04:15:36 ubuntu etcd[79130]: start time = 2025-03-27 04:15:36.94699202 +0000 UTC m=+484.907544660, time spent = 275.393µs, remote = 10.201.5.82:55722, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
