Mar 26 15:47:05 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 26 15:47:05 ubuntu etcd[79126]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 26 15:47:05 ubuntu etcd[79126]:         A future release of golang/protobuf will delete this package,
Mar 26 15:47:05 ubuntu etcd[79126]:         which has long been excluded from the compatibility promise.
Mar 26 15:47:05 ubuntu etcd[79126]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 26 15:47:05 ubuntu etcd[79126]: Running http and grpc server on single port. This is not recommended for production.
Mar 26 15:47:05 ubuntu etcd[79126]: etcd Version: 3.4.27
Mar 26 15:47:05 ubuntu etcd[79126]: Git SHA: c92fb80f3
Mar 26 15:47:05 ubuntu etcd[79126]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 26 15:47:05 ubuntu etcd[79126]: Go Version: go1.19.10
Mar 26 15:47:05 ubuntu etcd[79126]: Go OS/Arch: linux/amd64
Mar 26 15:47:05 ubuntu etcd[79126]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 26 15:47:05 ubuntu etcd[79126]: Running http and grpc server on single port. This is not recommended for production.
Mar 26 15:47:05 ubuntu etcd[79126]: name = ubuntu
Mar 26 15:47:05 ubuntu etcd[79126]: data dir = /opt/stack/data/etcd
Mar 26 15:47:05 ubuntu etcd[79126]: member dir = /opt/stack/data/etcd/member
Mar 26 15:47:05 ubuntu etcd[79126]: heartbeat = 100ms
Mar 26 15:47:05 ubuntu etcd[79126]: election = 1000ms
Mar 26 15:47:05 ubuntu etcd[79126]: snapshot count = 100000
Mar 26 15:47:05 ubuntu etcd[79126]: advertise client URLs = http://10.201.5.82:2379
Mar 26 15:47:05 ubuntu etcd[79126]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 26 15:47:05 ubuntu etcd[79126]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Mar 26 15:47:05 ubuntu etcd[79126]: raft2025/03/26 15:47:05 INFO: 43038365673ccf7b switched to configuration voters=()
Mar 26 15:47:05 ubuntu etcd[79126]: raft2025/03/26 15:47:05 INFO: 43038365673ccf7b became follower at term 0
Mar 26 15:47:05 ubuntu etcd[79126]: raft2025/03/26 15:47:05 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 26 15:47:05 ubuntu etcd[79126]: raft2025/03/26 15:47:05 INFO: 43038365673ccf7b became follower at term 1
Mar 26 15:47:05 ubuntu etcd[79126]: raft2025/03/26 15:47:05 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 26 15:47:05 ubuntu etcd[79126]: simple token is not cryptographically signed
Mar 26 15:47:05 ubuntu etcd[79126]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 26 15:47:05 ubuntu etcd[79126]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 26 15:47:05 ubuntu etcd[79126]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 26 15:47:05 ubuntu etcd[79126]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 26 15:47:05 ubuntu etcd[79126]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 26 15:47:05 ubuntu etcd[79126]: raft2025/03/26 15:47:05 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 26 15:47:05 ubuntu etcd[79126]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Mar 26 15:47:05 ubuntu etcd[79126]: listening for peers on [::]:2380
Mar 26 15:47:06 ubuntu etcd[79126]: raft2025/03/26 15:47:06 INFO: 43038365673ccf7b is starting a new election at term 1
Mar 26 15:47:06 ubuntu etcd[79126]: raft2025/03/26 15:47:06 INFO: 43038365673ccf7b became candidate at term 2
Mar 26 15:47:06 ubuntu etcd[79126]: raft2025/03/26 15:47:06 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Mar 26 15:47:06 ubuntu etcd[79126]: raft2025/03/26 15:47:06 INFO: 43038365673ccf7b became leader at term 2
Mar 26 15:47:06 ubuntu etcd[79126]: raft2025/03/26 15:47:06 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Mar 26 15:47:06 ubuntu etcd[79126]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Mar 26 15:47:06 ubuntu etcd[79126]: setting up the initial cluster version to 3.4
Mar 26 15:47:06 ubuntu etcd[79126]: ready to serve client requests
Mar 26 15:47:06 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 26 15:47:06 ubuntu etcd[79126]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Mar 26 15:47:06 ubuntu etcd[79126]: set the initial cluster version to 3.4
Mar 26 15:47:06 ubuntu etcd[79126]: enabled capabilities for version 3.4
Mar 26 15:51:47 ubuntu etcd[79126]: start time = 2025-03-26 15:51:47.261566186 +0000 UTC m=+281.453979286, time spent = 1.713625ms, remote = 10.201.5.82:37998, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 26 15:51:47 ubuntu etcd[79126]: start time = 2025-03-26 15:51:47.281293299 +0000 UTC m=+281.473706412, time spent = 146.803µs, remote = 10.201.5.82:37998, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 26 15:51:54 ubuntu etcd[79126]: start time = 2025-03-26 15:51:54.233496984 +0000 UTC m=+288.425910094, time spent = 200.701µs, remote = 10.201.5.82:37998, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 26 15:51:56 ubuntu etcd[79126]: start time = 2025-03-26 15:51:56.280806233 +0000 UTC m=+290.473219347, time spent = 710.99µs, remote = 10.201.5.82:37998, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 26 15:54:31 ubuntu etcd[79126]: start time = 2025-03-26 15:54:31.791540915 +0000 UTC m=+445.983954010, time spent = 676.957µs, remote = 10.201.5.82:37998, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 26 15:54:32 ubuntu etcd[79126]: start time = 2025-03-26 15:54:32.261023691 +0000 UTC m=+446.453436921, time spent = 539.511µs, remote = 10.201.5.82:37998, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 26 15:54:32 ubuntu etcd[79126]: start time = 2025-03-26 15:54:32.293534624 +0000 UTC m=+446.485947805, time spent = 262.579µs, remote = 10.201.5.82:37998, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 26 15:54:36 ubuntu etcd[79126]: start time = 2025-03-26 15:54:36.205229116 +0000 UTC m=+450.397642225, time spent = 192.484µs, remote = 10.201.5.82:37998, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
