Feb 18 08:39:06 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Feb 18 08:39:06 ubuntu etcd[65771]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Feb 18 08:39:06 ubuntu etcd[65771]:         A future release of golang/protobuf will delete this package,
Feb 18 08:39:06 ubuntu etcd[65771]:         which has long been excluded from the compatibility promise.
Feb 18 08:39:06 ubuntu etcd[65771]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 18 08:39:06 ubuntu etcd[65771]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 18 08:39:06 ubuntu etcd[65771]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 18 08:39:06 ubuntu etcd[65771]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 18 08:39:06 ubuntu etcd[65771]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 18 08:39:06 ubuntu etcd[65771]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 18 08:39:06 ubuntu etcd[65771]: Running http and grpc server on single port. This is not recommended for production.
Feb 18 08:39:06 ubuntu etcd[65771]: etcd Version: 3.4.27
Feb 18 08:39:06 ubuntu etcd[65771]: Git SHA: c92fb80f3
Feb 18 08:39:06 ubuntu etcd[65771]: Go Version: go1.19.10
Feb 18 08:39:06 ubuntu etcd[65771]: Go OS/Arch: linux/amd64
Feb 18 08:39:06 ubuntu etcd[65771]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Feb 18 08:39:06 ubuntu etcd[65771]: Running http and grpc server on single port. This is not recommended for production.
Feb 18 08:39:06 ubuntu etcd[65771]: name = ubuntu
Feb 18 08:39:06 ubuntu etcd[65771]: data dir = /opt/stack/data/etcd
Feb 18 08:39:06 ubuntu etcd[65771]: member dir = /opt/stack/data/etcd/member
Feb 18 08:39:06 ubuntu etcd[65771]: heartbeat = 100ms
Feb 18 08:39:06 ubuntu etcd[65771]: election = 1000ms
Feb 18 08:39:06 ubuntu etcd[65771]: snapshot count = 100000
Feb 18 08:39:06 ubuntu etcd[65771]: advertise client URLs = http://10.201.5.82:2379
Feb 18 08:39:06 ubuntu etcd[65771]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Feb 18 08:39:06 ubuntu etcd[65771]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Feb 18 08:39:06 ubuntu etcd[65771]: raft2024/02/18 08:39:06 INFO: 43038365673ccf7b switched to configuration voters=()
Feb 18 08:39:06 ubuntu etcd[65771]: raft2024/02/18 08:39:06 INFO: 43038365673ccf7b became follower at term 0
Feb 18 08:39:06 ubuntu etcd[65771]: raft2024/02/18 08:39:06 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Feb 18 08:39:06 ubuntu etcd[65771]: raft2024/02/18 08:39:06 INFO: 43038365673ccf7b became follower at term 1
Feb 18 08:39:06 ubuntu etcd[65771]: raft2024/02/18 08:39:06 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Feb 18 08:39:06 ubuntu etcd[65771]: simple token is not cryptographically signed
Feb 18 08:39:06 ubuntu etcd[65771]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Feb 18 08:39:06 ubuntu etcd[65771]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Feb 18 08:39:06 ubuntu etcd[65771]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Feb 18 08:39:06 ubuntu etcd[65771]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Feb 18 08:39:06 ubuntu etcd[65771]: raft2024/02/18 08:39:06 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Feb 18 08:39:06 ubuntu etcd[65771]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Feb 18 08:39:06 ubuntu etcd[65771]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Feb 18 08:39:06 ubuntu etcd[65771]: listening for peers on [::]:2380
Feb 18 08:39:06 ubuntu etcd[65771]: raft2024/02/18 08:39:06 INFO: 43038365673ccf7b is starting a new election at term 1
Feb 18 08:39:06 ubuntu etcd[65771]: raft2024/02/18 08:39:06 INFO: 43038365673ccf7b became candidate at term 2
Feb 18 08:39:06 ubuntu etcd[65771]: raft2024/02/18 08:39:06 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Feb 18 08:39:06 ubuntu etcd[65771]: raft2024/02/18 08:39:06 INFO: 43038365673ccf7b became leader at term 2
Feb 18 08:39:06 ubuntu etcd[65771]: raft2024/02/18 08:39:06 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Feb 18 08:39:06 ubuntu etcd[65771]: setting up the initial cluster version to 3.4
Feb 18 08:39:06 ubuntu etcd[65771]: set the initial cluster version to 3.4
Feb 18 08:39:06 ubuntu etcd[65771]: enabled capabilities for version 3.4
Feb 18 08:39:06 ubuntu etcd[65771]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Feb 18 08:39:06 ubuntu etcd[65771]: ready to serve client requests
Feb 18 08:39:06 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Feb 18 08:39:06 ubuntu etcd[65771]: INFO: 2024/02/18 08:39:06 parsed scheme: ""
Feb 18 08:39:06 ubuntu etcd[65771]: INFO: 2024/02/18 08:39:06 scheme "" not registered, fallback to default scheme
Feb 18 08:39:06 ubuntu etcd[65771]: INFO: 2024/02/18 08:39:06 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Feb 18 08:39:06 ubuntu etcd[65771]: INFO: 2024/02/18 08:39:06 ClientConn switching balancer to "pick_first"
Feb 18 08:39:06 ubuntu etcd[65771]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Feb 18 08:45:29 ubuntu etcd[65771]: start time = 2024-02-18 08:45:29.267775218 +0000 UTC m=+382.743433869, time spent = 582.192µs, remote = 10.201.5.82:51498, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 18 08:45:29 ubuntu etcd[65771]: start time = 2024-02-18 08:45:29.30742666 +0000 UTC m=+382.783085311, time spent = 215.817µs, remote = 10.201.5.82:51498, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 18 08:45:35 ubuntu etcd[65771]: start time = 2024-02-18 08:45:35.778337594 +0000 UTC m=+389.253996242, time spent = 263.472µs, remote = 10.201.5.82:51498, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 18 08:45:37 ubuntu etcd[65771]: start time = 2024-02-18 08:45:37.83454716 +0000 UTC m=+391.310205809, time spent = 260.255µs, remote = 10.201.5.82:51498, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
