Jul 10 12:45:36 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 10 12:45:36 ubuntu etcd[79176]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 10 12:45:36 ubuntu etcd[79176]:         A future release of golang/protobuf will delete this package,
Jul 10 12:45:36 ubuntu etcd[79176]:         which has long been excluded from the compatibility promise.
Jul 10 12:45:36 ubuntu etcd[79176]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 10 12:45:36 ubuntu etcd[79176]: Running http and grpc server on single port. This is not recommended for production.
Jul 10 12:45:36 ubuntu etcd[79176]: etcd Version: 3.4.27
Jul 10 12:45:36 ubuntu etcd[79176]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 10 12:45:36 ubuntu etcd[79176]: Git SHA: c92fb80f3
Jul 10 12:45:36 ubuntu etcd[79176]: Go Version: go1.19.10
Jul 10 12:45:36 ubuntu etcd[79176]: Go OS/Arch: linux/amd64
Jul 10 12:45:36 ubuntu etcd[79176]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 10 12:45:36 ubuntu etcd[79176]: Running http and grpc server on single port. This is not recommended for production.
Jul 10 12:45:36 ubuntu etcd[79176]: name = ubuntu
Jul 10 12:45:36 ubuntu etcd[79176]: data dir = /opt/stack/data/etcd
Jul 10 12:45:36 ubuntu etcd[79176]: member dir = /opt/stack/data/etcd/member
Jul 10 12:45:36 ubuntu etcd[79176]: heartbeat = 100ms
Jul 10 12:45:36 ubuntu etcd[79176]: election = 1000ms
Jul 10 12:45:36 ubuntu etcd[79176]: snapshot count = 100000
Jul 10 12:45:36 ubuntu etcd[79176]: advertise client URLs = http://10.201.5.82:2379
Jul 10 12:45:36 ubuntu etcd[79176]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 10 12:45:36 ubuntu etcd[79176]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jul 10 12:45:36 ubuntu etcd[79176]: raft2025/07/10 12:45:36 INFO: 43038365673ccf7b switched to configuration voters=()
Jul 10 12:45:36 ubuntu etcd[79176]: raft2025/07/10 12:45:36 INFO: 43038365673ccf7b became follower at term 0
Jul 10 12:45:36 ubuntu etcd[79176]: raft2025/07/10 12:45:36 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 10 12:45:36 ubuntu etcd[79176]: raft2025/07/10 12:45:36 INFO: 43038365673ccf7b became follower at term 1
Jul 10 12:45:36 ubuntu etcd[79176]: raft2025/07/10 12:45:36 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 10 12:45:36 ubuntu etcd[79176]: simple token is not cryptographically signed
Jul 10 12:45:36 ubuntu etcd[79176]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 10 12:45:36 ubuntu etcd[79176]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 10 12:45:36 ubuntu etcd[79176]: raft2025/07/10 12:45:36 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 10 12:45:36 ubuntu etcd[79176]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jul 10 12:45:36 ubuntu etcd[79176]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 10 12:45:36 ubuntu etcd[79176]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 10 12:45:36 ubuntu etcd[79176]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 10 12:45:36 ubuntu etcd[79176]: listening for peers on [::]:2380
Jul 10 12:45:37 ubuntu etcd[79176]: raft2025/07/10 12:45:37 INFO: 43038365673ccf7b is starting a new election at term 1
Jul 10 12:45:37 ubuntu etcd[79176]: raft2025/07/10 12:45:37 INFO: 43038365673ccf7b became candidate at term 2
Jul 10 12:45:37 ubuntu etcd[79176]: raft2025/07/10 12:45:37 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jul 10 12:45:37 ubuntu etcd[79176]: raft2025/07/10 12:45:37 INFO: 43038365673ccf7b became leader at term 2
Jul 10 12:45:37 ubuntu etcd[79176]: raft2025/07/10 12:45:37 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jul 10 12:45:37 ubuntu etcd[79176]: setting up the initial cluster version to 3.4
Jul 10 12:45:37 ubuntu etcd[79176]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jul 10 12:45:37 ubuntu etcd[79176]: ready to serve client requests
Jul 10 12:45:37 ubuntu etcd[79176]: set the initial cluster version to 3.4
Jul 10 12:45:37 ubuntu etcd[79176]: enabled capabilities for version 3.4
Jul 10 12:45:37 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 10 12:45:37 ubuntu etcd[79176]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jul 10 12:50:29 ubuntu etcd[79176]: start time = 2025-07-10 12:50:29.083358751 +0000 UTC m=+292.730287250, time spent = 2.89591ms, remote = 10.201.5.82:40876, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 10 12:50:29 ubuntu etcd[79176]: start time = 2025-07-10 12:50:29.141571894 +0000 UTC m=+292.788500396, time spent = 243.696µs, remote = 10.201.5.82:40876, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 10 12:50:36 ubuntu etcd[79176]: start time = 2025-07-10 12:50:36.057456025 +0000 UTC m=+299.704384526, time spent = 187.154µs, remote = 10.201.5.82:40876, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 10 12:50:38 ubuntu etcd[79176]: start time = 2025-07-10 12:50:38.05784637 +0000 UTC m=+301.704774870, time spent = 179.226µs, remote = 10.201.5.82:40876, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
