Jun 27 12:20:40 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 27 12:20:40 ubuntu etcd[66823]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 27 12:20:40 ubuntu etcd[66823]:         A future release of golang/protobuf will delete this package,
Jun 27 12:20:40 ubuntu etcd[66823]:         which has long been excluded from the compatibility promise.
Jun 27 12:20:40 ubuntu etcd[66823]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jun 27 12:20:40 ubuntu etcd[66823]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jun 27 12:20:40 ubuntu etcd[66823]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 27 12:20:40 ubuntu etcd[66823]: Running http and grpc server on single port. This is not recommended for production.
Jun 27 12:20:40 ubuntu etcd[66823]: etcd Version: 3.4.27
Jun 27 12:20:40 ubuntu etcd[66823]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jun 27 12:20:40 ubuntu etcd[66823]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jun 27 12:20:40 ubuntu etcd[66823]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 27 12:20:40 ubuntu etcd[66823]: Git SHA: c92fb80f3
Jun 27 12:20:40 ubuntu etcd[66823]: Go Version: go1.19.10
Jun 27 12:20:40 ubuntu etcd[66823]: Go OS/Arch: linux/amd64
Jun 27 12:20:40 ubuntu etcd[66823]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 27 12:20:40 ubuntu etcd[66823]: Running http and grpc server on single port. This is not recommended for production.
Jun 27 12:20:40 ubuntu etcd[66823]: name = ubuntu
Jun 27 12:20:40 ubuntu etcd[66823]: data dir = /opt/stack/data/etcd
Jun 27 12:20:40 ubuntu etcd[66823]: member dir = /opt/stack/data/etcd/member
Jun 27 12:20:40 ubuntu etcd[66823]: heartbeat = 100ms
Jun 27 12:20:40 ubuntu etcd[66823]: election = 1000ms
Jun 27 12:20:40 ubuntu etcd[66823]: snapshot count = 100000
Jun 27 12:20:40 ubuntu etcd[66823]: advertise client URLs = http://10.201.5.82:2379
Jun 27 12:20:40 ubuntu etcd[66823]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 27 12:20:40 ubuntu etcd[66823]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jun 27 12:20:40 ubuntu etcd[66823]: raft2024/06/27 12:20:40 INFO: 43038365673ccf7b switched to configuration voters=()
Jun 27 12:20:40 ubuntu etcd[66823]: raft2024/06/27 12:20:40 INFO: 43038365673ccf7b became follower at term 0
Jun 27 12:20:40 ubuntu etcd[66823]: raft2024/06/27 12:20:40 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 27 12:20:40 ubuntu etcd[66823]: raft2024/06/27 12:20:40 INFO: 43038365673ccf7b became follower at term 1
Jun 27 12:20:40 ubuntu etcd[66823]: raft2024/06/27 12:20:40 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 27 12:20:40 ubuntu etcd[66823]: simple token is not cryptographically signed
Jun 27 12:20:40 ubuntu etcd[66823]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 27 12:20:40 ubuntu etcd[66823]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 27 12:20:40 ubuntu etcd[66823]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 27 12:20:40 ubuntu etcd[66823]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 27 12:20:40 ubuntu etcd[66823]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 27 12:20:40 ubuntu etcd[66823]: listening for peers on [::]:2380
Jun 27 12:20:40 ubuntu etcd[66823]: raft2024/06/27 12:20:40 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 27 12:20:40 ubuntu etcd[66823]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jun 27 12:20:40 ubuntu etcd[66823]: raft2024/06/27 12:20:40 INFO: 43038365673ccf7b is starting a new election at term 1
Jun 27 12:20:40 ubuntu etcd[66823]: raft2024/06/27 12:20:40 INFO: 43038365673ccf7b became candidate at term 2
Jun 27 12:20:40 ubuntu etcd[66823]: raft2024/06/27 12:20:40 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jun 27 12:20:40 ubuntu etcd[66823]: raft2024/06/27 12:20:40 INFO: 43038365673ccf7b became leader at term 2
Jun 27 12:20:40 ubuntu etcd[66823]: raft2024/06/27 12:20:40 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jun 27 12:20:40 ubuntu etcd[66823]: ready to serve client requests
Jun 27 12:20:40 ubuntu etcd[66823]: INFO: 2024/06/27 12:20:40 parsed scheme: ""
Jun 27 12:20:40 ubuntu etcd[66823]: INFO: 2024/06/27 12:20:40 scheme "" not registered, fallback to default scheme
Jun 27 12:20:40 ubuntu etcd[66823]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jun 27 12:20:40 ubuntu etcd[66823]: INFO: 2024/06/27 12:20:40 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Jun 27 12:20:40 ubuntu etcd[66823]: INFO: 2024/06/27 12:20:40 ClientConn switching balancer to "pick_first"
Jun 27 12:20:40 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 27 12:20:40 ubuntu etcd[66823]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jun 27 12:20:40 ubuntu etcd[66823]: setting up the initial cluster version to 3.4
Jun 27 12:20:40 ubuntu etcd[66823]: set the initial cluster version to 3.4
Jun 27 12:20:40 ubuntu etcd[66823]: enabled capabilities for version 3.4
Jun 27 12:26:20 ubuntu etcd[66823]: start time = 2024-06-27 12:26:20.606738152 +0000 UTC m=+340.434262814, time spent = 1.688299ms, remote = 10.201.5.82:39974, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 27 12:26:20 ubuntu etcd[66823]: start time = 2024-06-27 12:26:20.709537278 +0000 UTC m=+340.537061939, time spent = 281.793µs, remote = 10.201.5.82:39974, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 27 12:26:27 ubuntu etcd[66823]: start time = 2024-06-27 12:26:27.365210566 +0000 UTC m=+347.192735237, time spent = 200.583µs, remote = 10.201.5.82:39974, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 27 12:26:29 ubuntu etcd[66823]: start time = 2024-06-27 12:26:29.324722272 +0000 UTC m=+349.152246942, time spent = 257.083µs, remote = 10.201.5.82:39974, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 27 12:29:23 ubuntu etcd[66823]: start time = 2024-06-27 12:29:23.929296013 +0000 UTC m=+523.756820674, time spent = 477.735µs, remote = 10.201.5.82:39974, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 27 12:29:23 ubuntu etcd[66823]: start time = 2024-06-27 12:29:23.939677287 +0000 UTC m=+523.767201955, time spent = 183.057µs, remote = 10.201.5.82:39974, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 27 12:29:25 ubuntu etcd[66823]: start time = 2024-06-27 12:29:25.591545687 +0000 UTC m=+525.419070346, time spent = 330.785µs, remote = 10.201.5.82:39974, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 27 12:29:25 ubuntu etcd[66823]: start time = 2024-06-27 12:29:25.733872756 +0000 UTC m=+525.561397513, time spent = 421.525µs, remote = 10.201.5.82:39974, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
