Jun 26 14:46:17 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 26 14:46:17 ubuntu etcd[67344]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 26 14:46:17 ubuntu etcd[67344]:         A future release of golang/protobuf will delete this package,
Jun 26 14:46:17 ubuntu etcd[67344]:         which has long been excluded from the compatibility promise.
Jun 26 14:46:17 ubuntu etcd[67344]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jun 26 14:46:17 ubuntu etcd[67344]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jun 26 14:46:17 ubuntu etcd[67344]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 26 14:46:17 ubuntu etcd[67344]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jun 26 14:46:17 ubuntu etcd[67344]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jun 26 14:46:17 ubuntu etcd[67344]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 26 14:46:17 ubuntu etcd[67344]: Running http and grpc server on single port. This is not recommended for production.
Jun 26 14:46:17 ubuntu etcd[67344]: etcd Version: 3.4.27
Jun 26 14:46:17 ubuntu etcd[67344]: Git SHA: c92fb80f3
Jun 26 14:46:17 ubuntu etcd[67344]: Go Version: go1.19.10
Jun 26 14:46:17 ubuntu etcd[67344]: Go OS/Arch: linux/amd64
Jun 26 14:46:17 ubuntu etcd[67344]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 26 14:46:17 ubuntu etcd[67344]: Running http and grpc server on single port. This is not recommended for production.
Jun 26 14:46:17 ubuntu etcd[67344]: name = ubuntu
Jun 26 14:46:17 ubuntu etcd[67344]: data dir = /opt/stack/data/etcd
Jun 26 14:46:17 ubuntu etcd[67344]: member dir = /opt/stack/data/etcd/member
Jun 26 14:46:17 ubuntu etcd[67344]: heartbeat = 100ms
Jun 26 14:46:17 ubuntu etcd[67344]: election = 1000ms
Jun 26 14:46:17 ubuntu etcd[67344]: snapshot count = 100000
Jun 26 14:46:17 ubuntu etcd[67344]: advertise client URLs = http://10.201.5.82:2379
Jun 26 14:46:17 ubuntu etcd[67344]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 26 14:46:17 ubuntu etcd[67344]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jun 26 14:46:17 ubuntu etcd[67344]: raft2024/06/26 14:46:17 INFO: 43038365673ccf7b switched to configuration voters=()
Jun 26 14:46:17 ubuntu etcd[67344]: raft2024/06/26 14:46:17 INFO: 43038365673ccf7b became follower at term 0
Jun 26 14:46:17 ubuntu etcd[67344]: raft2024/06/26 14:46:17 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 26 14:46:17 ubuntu etcd[67344]: raft2024/06/26 14:46:17 INFO: 43038365673ccf7b became follower at term 1
Jun 26 14:46:17 ubuntu etcd[67344]: raft2024/06/26 14:46:17 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 26 14:46:17 ubuntu etcd[67344]: simple token is not cryptographically signed
Jun 26 14:46:17 ubuntu etcd[67344]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 26 14:46:17 ubuntu etcd[67344]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 26 14:46:17 ubuntu etcd[67344]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 26 14:46:17 ubuntu etcd[67344]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 26 14:46:17 ubuntu etcd[67344]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 26 14:46:17 ubuntu etcd[67344]: listening for peers on [::]:2380
Jun 26 14:46:17 ubuntu etcd[67344]: raft2024/06/26 14:46:17 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 26 14:46:17 ubuntu etcd[67344]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jun 26 14:46:18 ubuntu etcd[67344]: raft2024/06/26 14:46:18 INFO: 43038365673ccf7b is starting a new election at term 1
Jun 26 14:46:18 ubuntu etcd[67344]: raft2024/06/26 14:46:18 INFO: 43038365673ccf7b became candidate at term 2
Jun 26 14:46:18 ubuntu etcd[67344]: raft2024/06/26 14:46:18 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jun 26 14:46:18 ubuntu etcd[67344]: raft2024/06/26 14:46:18 INFO: 43038365673ccf7b became leader at term 2
Jun 26 14:46:18 ubuntu etcd[67344]: raft2024/06/26 14:46:18 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jun 26 14:46:18 ubuntu etcd[67344]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jun 26 14:46:18 ubuntu etcd[67344]: ready to serve client requests
Jun 26 14:46:18 ubuntu etcd[67344]: INFO: 2024/06/26 14:46:18 parsed scheme: ""
Jun 26 14:46:18 ubuntu etcd[67344]: INFO: 2024/06/26 14:46:18 scheme "" not registered, fallback to default scheme
Jun 26 14:46:18 ubuntu etcd[67344]: setting up the initial cluster version to 3.4
Jun 26 14:46:18 ubuntu etcd[67344]: INFO: 2024/06/26 14:46:18 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Jun 26 14:46:18 ubuntu etcd[67344]: INFO: 2024/06/26 14:46:18 ClientConn switching balancer to "pick_first"
Jun 26 14:46:18 ubuntu etcd[67344]: set the initial cluster version to 3.4
Jun 26 14:46:18 ubuntu etcd[67344]: enabled capabilities for version 3.4
Jun 26 14:46:18 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 26 14:46:18 ubuntu etcd[67344]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jun 26 14:51:48 ubuntu etcd[67344]: start time = 2024-06-26 14:51:48.771983455 +0000 UTC m=+331.277341455, time spent = 633.863µs, remote = 10.201.5.82:48566, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 26 14:51:48 ubuntu etcd[67344]: start time = 2024-06-26 14:51:48.918022064 +0000 UTC m=+331.423380063, time spent = 199.864µs, remote = 10.201.5.82:48566, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 26 14:51:55 ubuntu etcd[67344]: start time = 2024-06-26 14:51:55.579200217 +0000 UTC m=+338.084558224, time spent = 202.793µs, remote = 10.201.5.82:48566, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 26 14:51:57 ubuntu etcd[67344]: start time = 2024-06-26 14:51:57.759610976 +0000 UTC m=+340.264968975, time spent = 332.722µs, remote = 10.201.5.82:48566, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 26 14:55:03 ubuntu etcd[67344]: start time = 2024-06-26 14:55:03.615553915 +0000 UTC m=+526.120911978, time spent = 384.839µs, remote = 10.201.5.82:48566, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 26 14:55:03 ubuntu etcd[67344]: start time = 2024-06-26 14:55:03.618477546 +0000 UTC m=+526.123835603, time spent = 251.172µs, remote = 10.201.5.82:48566, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 26 14:55:06 ubuntu etcd[67344]: start time = 2024-06-26 14:55:06.421937762 +0000 UTC m=+528.927295760, time spent = 189.263µs, remote = 10.201.5.82:48566, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 26 14:55:07 ubuntu etcd[67344]: start time = 2024-06-26 14:55:07.991980325 +0000 UTC m=+530.497338324, time spent = 164.123µs, remote = 10.201.5.82:48566, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
