May 21 23:39:54 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 21 23:39:54 ubuntu etcd[79446]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 21 23:39:54 ubuntu etcd[79446]:         A future release of golang/protobuf will delete this package,
May 21 23:39:54 ubuntu etcd[79446]:         which has long been excluded from the compatibility promise.
May 21 23:39:54 ubuntu etcd[79446]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 21 23:39:54 ubuntu etcd[79446]: Running http and grpc server on single port. This is not recommended for production.
May 21 23:39:54 ubuntu etcd[79446]: etcd Version: 3.4.27
May 21 23:39:54 ubuntu etcd[79446]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 21 23:39:54 ubuntu etcd[79446]: Git SHA: c92fb80f3
May 21 23:39:54 ubuntu etcd[79446]: Go Version: go1.19.10
May 21 23:39:54 ubuntu etcd[79446]: Go OS/Arch: linux/amd64
May 21 23:39:54 ubuntu etcd[79446]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 21 23:39:54 ubuntu etcd[79446]: Running http and grpc server on single port. This is not recommended for production.
May 21 23:39:54 ubuntu etcd[79446]: name = ubuntu
May 21 23:39:54 ubuntu etcd[79446]: data dir = /opt/stack/data/etcd
May 21 23:39:54 ubuntu etcd[79446]: member dir = /opt/stack/data/etcd/member
May 21 23:39:54 ubuntu etcd[79446]: heartbeat = 100ms
May 21 23:39:54 ubuntu etcd[79446]: election = 1000ms
May 21 23:39:54 ubuntu etcd[79446]: snapshot count = 100000
May 21 23:39:54 ubuntu etcd[79446]: advertise client URLs = http://10.201.5.82:2379
May 21 23:39:54 ubuntu etcd[79446]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 21 23:39:54 ubuntu etcd[79446]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
May 21 23:39:54 ubuntu etcd[79446]: raft2025/05/21 23:39:54 INFO: 43038365673ccf7b switched to configuration voters=()
May 21 23:39:54 ubuntu etcd[79446]: raft2025/05/21 23:39:54 INFO: 43038365673ccf7b became follower at term 0
May 21 23:39:54 ubuntu etcd[79446]: raft2025/05/21 23:39:54 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 21 23:39:54 ubuntu etcd[79446]: raft2025/05/21 23:39:54 INFO: 43038365673ccf7b became follower at term 1
May 21 23:39:54 ubuntu etcd[79446]: raft2025/05/21 23:39:54 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
May 21 23:39:54 ubuntu etcd[79446]: simple token is not cryptographically signed
May 21 23:39:54 ubuntu etcd[79446]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 21 23:39:54 ubuntu etcd[79446]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
May 21 23:39:54 ubuntu etcd[79446]: raft2025/05/21 23:39:54 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
May 21 23:39:54 ubuntu etcd[79446]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
May 21 23:39:54 ubuntu etcd[79446]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 21 23:39:54 ubuntu etcd[79446]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 21 23:39:54 ubuntu etcd[79446]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 21 23:39:54 ubuntu etcd[79446]: listening for peers on [::]:2380
May 21 23:39:55 ubuntu etcd[79446]: raft2025/05/21 23:39:55 INFO: 43038365673ccf7b is starting a new election at term 1
May 21 23:39:55 ubuntu etcd[79446]: raft2025/05/21 23:39:55 INFO: 43038365673ccf7b became candidate at term 2
May 21 23:39:55 ubuntu etcd[79446]: raft2025/05/21 23:39:55 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
May 21 23:39:55 ubuntu etcd[79446]: raft2025/05/21 23:39:55 INFO: 43038365673ccf7b became leader at term 2
May 21 23:39:55 ubuntu etcd[79446]: raft2025/05/21 23:39:55 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
May 21 23:39:55 ubuntu etcd[79446]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
May 21 23:39:55 ubuntu etcd[79446]: setting up the initial cluster version to 3.4
May 21 23:39:55 ubuntu etcd[79446]: set the initial cluster version to 3.4
May 21 23:39:55 ubuntu etcd[79446]: ready to serve client requests
May 21 23:39:55 ubuntu etcd[79446]: enabled capabilities for version 3.4
May 21 23:39:55 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 21 23:39:55 ubuntu etcd[79446]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
May 21 23:44:40 ubuntu etcd[79446]: start time = 2025-05-21 23:44:40.196543619 +0000 UTC m=+285.740784167, time spent = 1.614815ms, remote = 10.201.5.82:44478, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 21 23:44:40 ubuntu etcd[79446]: start time = 2025-05-21 23:44:40.214278105 +0000 UTC m=+285.758518662, time spent = 210.16µs, remote = 10.201.5.82:44478, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 21 23:44:46 ubuntu etcd[79446]: start time = 2025-05-21 23:44:46.96132223 +0000 UTC m=+292.505562797, time spent = 248.363µs, remote = 10.201.5.82:44478, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 21 23:44:49 ubuntu etcd[79446]: start time = 2025-05-21 23:44:49.077764797 +0000 UTC m=+294.622005349, time spent = 209.539µs, remote = 10.201.5.82:44478, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 21 23:48:33 ubuntu etcd[79446]: start time = 2025-05-21 23:48:33.824640496 +0000 UTC m=+519.368881036, time spent = 452.097µs, remote = 10.201.5.82:44478, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 21 23:48:33 ubuntu etcd[79446]: start time = 2025-05-21 23:48:33.89286835 +0000 UTC m=+519.437108901, time spent = 1.003385ms, remote = 10.201.5.82:44478, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 21 23:48:34 ubuntu etcd[79446]: start time = 2025-05-21 23:48:34.043948065 +0000 UTC m=+519.588188619, time spent = 237.259µs, remote = 10.201.5.82:44478, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 21 23:48:36 ubuntu etcd[79446]: start time = 2025-05-21 23:48:36.662242528 +0000 UTC m=+522.206483080, time spent = 474.534µs, remote = 10.201.5.82:44478, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 21 23:50:21 ubuntu etcd[79446]: start time = 2025-05-21 23:50:21.973822357 +0000 UTC m=+627.518062916, time spent = 255.958µs, remote = 10.201.5.82:44478, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 21 23:50:21 ubuntu etcd[79446]: start time = 2025-05-21 23:50:21.98151883 +0000 UTC m=+627.525759382, time spent = 5.40328ms, remote = 10.201.5.82:44478, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-e312d2dc-6a29-42b9-af11-a505e96e9031" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-e312d2dc-6a29-42b9-af11-a505e96e9031" value_size:16 lease:5727337331078399001 >> failure:<request_range:<key:"/tooz/lockscinder-e312d2dc-6a29-42b9-af11-a505e96e9031" > >
May 21 23:50:24 ubuntu etcd[79446]: start time = 2025-05-21 23:50:24.718455669 +0000 UTC m=+630.262696335, time spent = 1.280073ms, remote = 10.201.5.82:44478, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-e312d2dc-6a29-42b9-af11-a505e96e9031" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-e312d2dc-6a29-42b9-af11-a505e96e9031" > > failure:<>
May 21 23:50:24 ubuntu etcd[79446]: start time = 2025-05-21 23:50:24.93210779 +0000 UTC m=+630.476348362, time spent = 294.637µs, remote = 10.201.5.82:44478, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 21 23:50:24 ubuntu etcd[79446]: start time = 2025-05-21 23:50:24.934047153 +0000 UTC m=+630.478287707, time spent = 202.298µs, remote = 10.201.5.82:44478, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-e312d2dc-6a29-42b9-af11-a505e96e9031" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-e312d2dc-6a29-42b9-af11-a505e96e9031" value_size:16 lease:5727337331078399005 >> failure:<request_range:<key:"/tooz/lockscinder-e312d2dc-6a29-42b9-af11-a505e96e9031" > >
May 21 23:50:28 ubuntu etcd[79446]: start time = 2025-05-21 23:50:28.107932036 +0000 UTC m=+633.652172695, time spent = 527.38µs, remote = 10.201.5.82:44478, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-e312d2dc-6a29-42b9-af11-a505e96e9031" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-e312d2dc-6a29-42b9-af11-a505e96e9031" > > failure:<>
May 21 23:50:28 ubuntu etcd[79446]: start time = 2025-05-21 23:50:28.332663928 +0000 UTC m=+633.876904512, time spent = 331.449µs, remote = 10.201.5.82:44478, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 21 23:50:28 ubuntu etcd[79446]: start time = 2025-05-21 23:50:28.334915851 +0000 UTC m=+633.879156439, time spent = 244.418µs, remote = 10.201.5.82:44478, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-e312d2dc-6a29-42b9-af11-a505e96e9031" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-e312d2dc-6a29-42b9-af11-a505e96e9031" value_size:16 lease:5727337331078399009 >> failure:<request_range:<key:"/tooz/lockscinder-e312d2dc-6a29-42b9-af11-a505e96e9031" > >
May 21 23:50:30 ubuntu etcd[79446]: start time = 2025-05-21 23:50:30.081233955 +0000 UTC m=+635.625474601, time spent = 606.047µs, remote = 10.201.5.82:44478, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-e312d2dc-6a29-42b9-af11-a505e96e9031" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-e312d2dc-6a29-42b9-af11-a505e96e9031" > > failure:<>
