Dec 12 13:14:15 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 12 13:14:16 ubuntu etcd[67422]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 12 13:14:16 ubuntu etcd[67422]:         A future release of golang/protobuf will delete this package,
Dec 12 13:14:16 ubuntu etcd[67422]:         which has long been excluded from the compatibility promise.
Dec 12 13:14:16 ubuntu etcd[67422]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 12 13:14:16 ubuntu etcd[67422]: Running http and grpc server on single port. This is not recommended for production.
Dec 12 13:14:16 ubuntu etcd[67422]: etcd Version: 3.4.27
Dec 12 13:14:16 ubuntu etcd[67422]: Git SHA: c92fb80f3
Dec 12 13:14:16 ubuntu etcd[67422]: Go Version: go1.19.10
Dec 12 13:14:16 ubuntu etcd[67422]: Go OS/Arch: linux/amd64
Dec 12 13:14:16 ubuntu etcd[67422]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 12 13:14:16 ubuntu etcd[67422]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 12 13:14:16 ubuntu etcd[67422]: Running http and grpc server on single port. This is not recommended for production.
Dec 12 13:14:16 ubuntu etcd[67422]: name = ubuntu
Dec 12 13:14:16 ubuntu etcd[67422]: data dir = /opt/stack/data/etcd
Dec 12 13:14:16 ubuntu etcd[67422]: member dir = /opt/stack/data/etcd/member
Dec 12 13:14:16 ubuntu etcd[67422]: heartbeat = 100ms
Dec 12 13:14:16 ubuntu etcd[67422]: election = 1000ms
Dec 12 13:14:16 ubuntu etcd[67422]: snapshot count = 100000
Dec 12 13:14:16 ubuntu etcd[67422]: advertise client URLs = http://10.201.5.82:2379
Dec 12 13:14:16 ubuntu etcd[67422]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Dec 12 13:14:16 ubuntu etcd[67422]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Dec 12 13:14:16 ubuntu etcd[67422]: raft2024/12/12 13:14:16 INFO: 43038365673ccf7b switched to configuration voters=()
Dec 12 13:14:16 ubuntu etcd[67422]: raft2024/12/12 13:14:16 INFO: 43038365673ccf7b became follower at term 0
Dec 12 13:14:16 ubuntu etcd[67422]: raft2024/12/12 13:14:16 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Dec 12 13:14:16 ubuntu etcd[67422]: raft2024/12/12 13:14:16 INFO: 43038365673ccf7b became follower at term 1
Dec 12 13:14:16 ubuntu etcd[67422]: raft2024/12/12 13:14:16 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Dec 12 13:14:16 ubuntu etcd[67422]: simple token is not cryptographically signed
Dec 12 13:14:16 ubuntu etcd[67422]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Dec 12 13:14:16 ubuntu etcd[67422]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Dec 12 13:14:16 ubuntu etcd[67422]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Dec 12 13:14:16 ubuntu etcd[67422]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Dec 12 13:14:16 ubuntu etcd[67422]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Dec 12 13:14:16 ubuntu etcd[67422]: listening for peers on [::]:2380
Dec 12 13:14:16 ubuntu etcd[67422]: raft2024/12/12 13:14:16 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Dec 12 13:14:16 ubuntu etcd[67422]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Dec 12 13:14:16 ubuntu etcd[67422]: raft2024/12/12 13:14:16 INFO: 43038365673ccf7b is starting a new election at term 1
Dec 12 13:14:16 ubuntu etcd[67422]: raft2024/12/12 13:14:16 INFO: 43038365673ccf7b became candidate at term 2
Dec 12 13:14:16 ubuntu etcd[67422]: raft2024/12/12 13:14:16 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Dec 12 13:14:16 ubuntu etcd[67422]: raft2024/12/12 13:14:16 INFO: 43038365673ccf7b became leader at term 2
Dec 12 13:14:16 ubuntu etcd[67422]: raft2024/12/12 13:14:16 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Dec 12 13:14:16 ubuntu etcd[67422]: setting up the initial cluster version to 3.4
Dec 12 13:14:16 ubuntu etcd[67422]: set the initial cluster version to 3.4
Dec 12 13:14:16 ubuntu etcd[67422]: enabled capabilities for version 3.4
Dec 12 13:14:16 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Dec 12 13:14:16 ubuntu etcd[67422]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Dec 12 13:14:16 ubuntu etcd[67422]: ready to serve client requests
Dec 12 13:14:16 ubuntu etcd[67422]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Dec 12 13:19:09 ubuntu etcd[67422]: start time = 2024-12-12 13:19:09.955234769 +0000 UTC m=+293.959239598, time spent = 570.518µs, remote = 10.201.5.82:33558, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 12 13:19:10 ubuntu etcd[67422]: start time = 2024-12-12 13:19:10.042479439 +0000 UTC m=+294.046484280, time spent = 279.306µs, remote = 10.201.5.82:33558, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 12 13:19:16 ubuntu etcd[67422]: start time = 2024-12-12 13:19:16.83331014 +0000 UTC m=+300.837314984, time spent = 239.571µs, remote = 10.201.5.82:33558, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 12 13:19:18 ubuntu etcd[67422]: start time = 2024-12-12 13:19:18.824288489 +0000 UTC m=+302.828293327, time spent = 222.532µs, remote = 10.201.5.82:33558, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
