Aug 13 03:43:46 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Aug 13 03:43:46 ubuntu etcd[79200]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Aug 13 03:43:46 ubuntu etcd[79200]:         A future release of golang/protobuf will delete this package,
Aug 13 03:43:46 ubuntu etcd[79200]:         which has long been excluded from the compatibility promise.
Aug 13 03:43:46 ubuntu etcd[79200]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 13 03:43:46 ubuntu etcd[79200]: Running http and grpc server on single port. This is not recommended for production.
Aug 13 03:43:46 ubuntu etcd[79200]: etcd Version: 3.4.27
Aug 13 03:43:46 ubuntu etcd[79200]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 13 03:43:46 ubuntu etcd[79200]: Git SHA: c92fb80f3
Aug 13 03:43:46 ubuntu etcd[79200]: Go Version: go1.19.10
Aug 13 03:43:46 ubuntu etcd[79200]: Go OS/Arch: linux/amd64
Aug 13 03:43:46 ubuntu etcd[79200]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Aug 13 03:43:46 ubuntu etcd[79200]: Running http and grpc server on single port. This is not recommended for production.
Aug 13 03:43:46 ubuntu etcd[79200]: name = ubuntu
Aug 13 03:43:46 ubuntu etcd[79200]: data dir = /opt/stack/data/etcd
Aug 13 03:43:46 ubuntu etcd[79200]: member dir = /opt/stack/data/etcd/member
Aug 13 03:43:46 ubuntu etcd[79200]: heartbeat = 100ms
Aug 13 03:43:46 ubuntu etcd[79200]: election = 1000ms
Aug 13 03:43:46 ubuntu etcd[79200]: snapshot count = 100000
Aug 13 03:43:46 ubuntu etcd[79200]: advertise client URLs = http://10.201.5.82:2379
Aug 13 03:43:46 ubuntu etcd[79200]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Aug 13 03:43:46 ubuntu etcd[79200]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Aug 13 03:43:46 ubuntu etcd[79200]: raft2025/08/13 03:43:46 INFO: 43038365673ccf7b switched to configuration voters=()
Aug 13 03:43:46 ubuntu etcd[79200]: raft2025/08/13 03:43:46 INFO: 43038365673ccf7b became follower at term 0
Aug 13 03:43:46 ubuntu etcd[79200]: raft2025/08/13 03:43:46 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Aug 13 03:43:46 ubuntu etcd[79200]: raft2025/08/13 03:43:46 INFO: 43038365673ccf7b became follower at term 1
Aug 13 03:43:46 ubuntu etcd[79200]: raft2025/08/13 03:43:46 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Aug 13 03:43:46 ubuntu etcd[79200]: simple token is not cryptographically signed
Aug 13 03:43:46 ubuntu etcd[79200]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Aug 13 03:43:46 ubuntu etcd[79200]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Aug 13 03:43:46 ubuntu etcd[79200]: raft2025/08/13 03:43:46 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Aug 13 03:43:46 ubuntu etcd[79200]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Aug 13 03:43:46 ubuntu etcd[79200]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Aug 13 03:43:46 ubuntu etcd[79200]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Aug 13 03:43:46 ubuntu etcd[79200]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Aug 13 03:43:46 ubuntu etcd[79200]: listening for peers on [::]:2380
Aug 13 03:43:46 ubuntu etcd[79200]: raft2025/08/13 03:43:46 INFO: 43038365673ccf7b is starting a new election at term 1
Aug 13 03:43:46 ubuntu etcd[79200]: raft2025/08/13 03:43:46 INFO: 43038365673ccf7b became candidate at term 2
Aug 13 03:43:46 ubuntu etcd[79200]: raft2025/08/13 03:43:46 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Aug 13 03:43:46 ubuntu etcd[79200]: raft2025/08/13 03:43:46 INFO: 43038365673ccf7b became leader at term 2
Aug 13 03:43:46 ubuntu etcd[79200]: raft2025/08/13 03:43:46 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Aug 13 03:43:46 ubuntu etcd[79200]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Aug 13 03:43:46 ubuntu etcd[79200]: setting up the initial cluster version to 3.4
Aug 13 03:43:46 ubuntu etcd[79200]: ready to serve client requests
Aug 13 03:43:46 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Aug 13 03:43:46 ubuntu etcd[79200]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Aug 13 03:43:46 ubuntu etcd[79200]: set the initial cluster version to 3.4
Aug 13 03:43:46 ubuntu etcd[79200]: enabled capabilities for version 3.4
Aug 13 03:48:33 ubuntu etcd[79200]: start time = 2025-08-13 03:48:33.349921503 +0000 UTC m=+286.534658692, time spent = 696.008µs, remote = 10.201.5.82:48984, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 13 03:48:33 ubuntu etcd[79200]: start time = 2025-08-13 03:48:33.362727513 +0000 UTC m=+286.547464714, time spent = 280.366µs, remote = 10.201.5.82:48984, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 13 03:48:40 ubuntu etcd[79200]: start time = 2025-08-13 03:48:40.386599745 +0000 UTC m=+293.571336946, time spent = 190.71µs, remote = 10.201.5.82:48984, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 13 03:48:42 ubuntu etcd[79200]: start time = 2025-08-13 03:48:42.135195418 +0000 UTC m=+295.319932615, time spent = 218.483µs, remote = 10.201.5.82:48984, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 13 03:51:57 ubuntu etcd[79200]: start time = 2025-08-13 03:51:57.284668905 +0000 UTC m=+490.469406089, time spent = 368.482µs, remote = 10.201.5.82:48984, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 13 03:51:57 ubuntu etcd[79200]: start time = 2025-08-13 03:51:57.320208264 +0000 UTC m=+490.504945460, time spent = 131.16µs, remote = 10.201.5.82:48984, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 13 03:51:57 ubuntu etcd[79200]: start time = 2025-08-13 03:51:57.681727892 +0000 UTC m=+490.866465086, time spent = 188.264µs, remote = 10.201.5.82:48984, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 13 03:51:59 ubuntu etcd[79200]: start time = 2025-08-13 03:51:59.792211485 +0000 UTC m=+492.976948683, time spent = 208.464µs, remote = 10.201.5.82:48984, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 13 03:58:45 ubuntu etcd[79200]: start time = 2025-08-13 03:58:45.13620988 +0000 UTC m=+898.320947067, time spent = 423.424µs, remote = 10.201.5.82:48984, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 13 03:58:45 ubuntu etcd[79200]: start time = 2025-08-13 03:58:45.146624203 +0000 UTC m=+898.331361398, time spent = 3.358901ms, remote = 10.201.5.82:48984, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-af74fa8a-5fbc-4edf-aa76-085056b6ad98" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-af74fa8a-5fbc-4edf-aa76-085056b6ad98" value_size:16 lease:5727339170651483929 >> failure:<request_range:<key:"/tooz/lockscinder-af74fa8a-5fbc-4edf-aa76-085056b6ad98" > >
Aug 13 03:58:47 ubuntu etcd[79200]: start time = 2025-08-13 03:58:47.845138177 +0000 UTC m=+901.029875421, time spent = 438.934µs, remote = 10.201.5.82:48984, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-af74fa8a-5fbc-4edf-aa76-085056b6ad98" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-af74fa8a-5fbc-4edf-aa76-085056b6ad98" > > failure:<>
Aug 13 03:58:48 ubuntu etcd[79200]: start time = 2025-08-13 03:58:48.110310441 +0000 UTC m=+901.295047648, time spent = 354.547µs, remote = 10.201.5.82:48984, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 13 03:58:48 ubuntu etcd[79200]: start time = 2025-08-13 03:58:48.112446254 +0000 UTC m=+901.297183470, time spent = 210.241µs, remote = 10.201.5.82:48984, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-af74fa8a-5fbc-4edf-aa76-085056b6ad98" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-af74fa8a-5fbc-4edf-aa76-085056b6ad98" value_size:16 lease:5727339170651483933 >> failure:<request_range:<key:"/tooz/lockscinder-af74fa8a-5fbc-4edf-aa76-085056b6ad98" > >
Aug 13 03:58:50 ubuntu etcd[79200]: start time = 2025-08-13 03:58:50.014833979 +0000 UTC m=+903.199571176, time spent = 339.92µs, remote = 10.201.5.82:48984, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-af74fa8a-5fbc-4edf-aa76-085056b6ad98" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-af74fa8a-5fbc-4edf-aa76-085056b6ad98" > > failure:<>
Aug 13 03:58:50 ubuntu etcd[79200]: start time = 2025-08-13 03:58:50.258471043 +0000 UTC m=+903.443208341, time spent = 819.412µs, remote = 10.201.5.82:48984, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 13 03:58:50 ubuntu etcd[79200]: start time = 2025-08-13 03:58:50.261678749 +0000 UTC m=+903.446416056, time spent = 477.29µs, remote = 10.201.5.82:48984, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-af74fa8a-5fbc-4edf-aa76-085056b6ad98" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-af74fa8a-5fbc-4edf-aa76-085056b6ad98" value_size:16 lease:5727339170651483937 >> failure:<request_range:<key:"/tooz/lockscinder-af74fa8a-5fbc-4edf-aa76-085056b6ad98" > >
Aug 13 03:58:52 ubuntu etcd[79200]: start time = 2025-08-13 03:58:52.093461806 +0000 UTC m=+905.278199005, time spent = 328.973µs, remote = 10.201.5.82:48984, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-af74fa8a-5fbc-4edf-aa76-085056b6ad98" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-af74fa8a-5fbc-4edf-aa76-085056b6ad98" > > failure:<>
