Jun 11 03:48:30 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 11 03:48:30 ubuntu etcd[79326]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 11 03:48:30 ubuntu etcd[79326]:         A future release of golang/protobuf will delete this package,
Jun 11 03:48:30 ubuntu etcd[79326]:         which has long been excluded from the compatibility promise.
Jun 11 03:48:30 ubuntu etcd[79326]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 11 03:48:30 ubuntu etcd[79326]: Running http and grpc server on single port. This is not recommended for production.
Jun 11 03:48:30 ubuntu etcd[79326]: etcd Version: 3.4.27
Jun 11 03:48:30 ubuntu etcd[79326]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 11 03:48:30 ubuntu etcd[79326]: Git SHA: c92fb80f3
Jun 11 03:48:30 ubuntu etcd[79326]: Go Version: go1.19.10
Jun 11 03:48:30 ubuntu etcd[79326]: Go OS/Arch: linux/amd64
Jun 11 03:48:30 ubuntu etcd[79326]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 11 03:48:30 ubuntu etcd[79326]: Running http and grpc server on single port. This is not recommended for production.
Jun 11 03:48:30 ubuntu etcd[79326]: name = ubuntu
Jun 11 03:48:30 ubuntu etcd[79326]: data dir = /opt/stack/data/etcd
Jun 11 03:48:30 ubuntu etcd[79326]: member dir = /opt/stack/data/etcd/member
Jun 11 03:48:30 ubuntu etcd[79326]: heartbeat = 100ms
Jun 11 03:48:30 ubuntu etcd[79326]: election = 1000ms
Jun 11 03:48:30 ubuntu etcd[79326]: snapshot count = 100000
Jun 11 03:48:30 ubuntu etcd[79326]: advertise client URLs = http://10.201.5.82:2379
Jun 11 03:48:30 ubuntu etcd[79326]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 11 03:48:30 ubuntu etcd[79326]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jun 11 03:48:30 ubuntu etcd[79326]: raft2025/06/11 03:48:30 INFO: 43038365673ccf7b switched to configuration voters=()
Jun 11 03:48:30 ubuntu etcd[79326]: raft2025/06/11 03:48:30 INFO: 43038365673ccf7b became follower at term 0
Jun 11 03:48:30 ubuntu etcd[79326]: raft2025/06/11 03:48:30 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 11 03:48:30 ubuntu etcd[79326]: raft2025/06/11 03:48:30 INFO: 43038365673ccf7b became follower at term 1
Jun 11 03:48:30 ubuntu etcd[79326]: raft2025/06/11 03:48:30 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 11 03:48:30 ubuntu etcd[79326]: simple token is not cryptographically signed
Jun 11 03:48:30 ubuntu etcd[79326]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 11 03:48:30 ubuntu etcd[79326]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 11 03:48:30 ubuntu etcd[79326]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 11 03:48:30 ubuntu etcd[79326]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 11 03:48:30 ubuntu etcd[79326]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 11 03:48:30 ubuntu etcd[79326]: raft2025/06/11 03:48:30 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 11 03:48:30 ubuntu etcd[79326]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jun 11 03:48:30 ubuntu etcd[79326]: listening for peers on [::]:2380
Jun 11 03:48:30 ubuntu etcd[79326]: raft2025/06/11 03:48:30 INFO: 43038365673ccf7b is starting a new election at term 1
Jun 11 03:48:30 ubuntu etcd[79326]: raft2025/06/11 03:48:30 INFO: 43038365673ccf7b became candidate at term 2
Jun 11 03:48:30 ubuntu etcd[79326]: raft2025/06/11 03:48:30 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jun 11 03:48:30 ubuntu etcd[79326]: raft2025/06/11 03:48:30 INFO: 43038365673ccf7b became leader at term 2
Jun 11 03:48:30 ubuntu etcd[79326]: raft2025/06/11 03:48:30 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jun 11 03:48:30 ubuntu etcd[79326]: setting up the initial cluster version to 3.4
Jun 11 03:48:30 ubuntu etcd[79326]: set the initial cluster version to 3.4
Jun 11 03:48:31 ubuntu etcd[79326]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jun 11 03:48:31 ubuntu etcd[79326]: enabled capabilities for version 3.4
Jun 11 03:48:31 ubuntu etcd[79326]: ready to serve client requests
Jun 11 03:48:31 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 11 03:48:31 ubuntu etcd[79326]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jun 11 03:53:07 ubuntu etcd[79326]: start time = 2025-06-11 03:53:07.667471695 +0000 UTC m=+277.618943054, time spent = 1.942425ms, remote = 10.201.5.82:60278, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 03:53:07 ubuntu etcd[79326]: start time = 2025-06-11 03:53:07.676538675 +0000 UTC m=+277.628010032, time spent = 190.616µs, remote = 10.201.5.82:60278, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 03:53:14 ubuntu etcd[79326]: start time = 2025-06-11 03:53:14.777429454 +0000 UTC m=+284.728900794, time spent = 310.715µs, remote = 10.201.5.82:60278, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 03:53:17 ubuntu etcd[79326]: start time = 2025-06-11 03:53:17.102323855 +0000 UTC m=+287.053795209, time spent = 296.925µs, remote = 10.201.5.82:60278, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 03:56:34 ubuntu etcd[79326]: start time = 2025-06-11 03:56:34.136565597 +0000 UTC m=+484.088036949, time spent = 465.988µs, remote = 10.201.5.82:60278, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 03:56:34 ubuntu etcd[79326]: start time = 2025-06-11 03:56:34.178282185 +0000 UTC m=+484.129753542, time spent = 220.874µs, remote = 10.201.5.82:60278, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 03:56:34 ubuntu etcd[79326]: start time = 2025-06-11 03:56:34.563647752 +0000 UTC m=+484.515119108, time spent = 669.822µs, remote = 10.201.5.82:60278, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 03:56:36 ubuntu etcd[79326]: start time = 2025-06-11 03:56:36.939931502 +0000 UTC m=+486.891402844, time spent = 4.135706ms, remote = 10.201.5.82:60278, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 03:58:23 ubuntu etcd[79326]: start time = 2025-06-11 03:58:23.948993979 +0000 UTC m=+593.900465338, time spent = 297.676µs, remote = 10.201.5.82:60278, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 03:58:23 ubuntu etcd[79326]: start time = 2025-06-11 03:58:23.961109771 +0000 UTC m=+593.912581122, time spent = 4.105165ms, remote = 10.201.5.82:60278, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-8b68f102-9f94-4e9b-a59a-a4a58242e883" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-8b68f102-9f94-4e9b-a59a-a4a58242e883" value_size:16 lease:5727337777264792089 >> failure:<request_range:<key:"/tooz/lockscinder-8b68f102-9f94-4e9b-a59a-a4a58242e883" > >
Jun 11 03:58:28 ubuntu etcd[79326]: start time = 2025-06-11 03:58:28.943595514 +0000 UTC m=+598.895066963, time spent = 898.098µs, remote = 10.201.5.82:60278, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-8b68f102-9f94-4e9b-a59a-a4a58242e883" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-8b68f102-9f94-4e9b-a59a-a4a58242e883" > > failure:<>
Jun 11 03:58:29 ubuntu etcd[79326]: start time = 2025-06-11 03:58:29.176010612 +0000 UTC m=+599.127481970, time spent = 340.831µs, remote = 10.201.5.82:60278, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 03:58:29 ubuntu etcd[79326]: start time = 2025-06-11 03:58:29.178098135 +0000 UTC m=+599.129569514, time spent = 223.68µs, remote = 10.201.5.82:60278, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-8b68f102-9f94-4e9b-a59a-a4a58242e883" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-8b68f102-9f94-4e9b-a59a-a4a58242e883" value_size:16 lease:5727337777264792093 >> failure:<request_range:<key:"/tooz/lockscinder-8b68f102-9f94-4e9b-a59a-a4a58242e883" > >
Jun 11 03:58:30 ubuntu etcd[79326]: start time = 2025-06-11 03:58:30.93269642 +0000 UTC m=+600.884167879, time spent = 649.152µs, remote = 10.201.5.82:60278, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-8b68f102-9f94-4e9b-a59a-a4a58242e883" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-8b68f102-9f94-4e9b-a59a-a4a58242e883" > > failure:<>
Jun 11 03:58:31 ubuntu etcd[79326]: start time = 2025-06-11 03:58:31.169714809 +0000 UTC m=+601.121186165, time spent = 231.935µs, remote = 10.201.5.82:60278, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 03:58:31 ubuntu etcd[79326]: start time = 2025-06-11 03:58:31.171833574 +0000 UTC m=+601.123304931, time spent = 159.042µs, remote = 10.201.5.82:60278, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-8b68f102-9f94-4e9b-a59a-a4a58242e883" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-8b68f102-9f94-4e9b-a59a-a4a58242e883" value_size:16 lease:5727337777264792097 >> failure:<request_range:<key:"/tooz/lockscinder-8b68f102-9f94-4e9b-a59a-a4a58242e883" > >
Jun 11 03:58:33 ubuntu etcd[79326]: start time = 2025-06-11 03:58:33.090114549 +0000 UTC m=+603.041586015, time spent = 623.856µs, remote = 10.201.5.82:60278, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-8b68f102-9f94-4e9b-a59a-a4a58242e883" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-8b68f102-9f94-4e9b-a59a-a4a58242e883" > > failure:<>
Jun 11 04:38:45 ubuntu etcd[79326]: start time = 2025-06-11 04:38:45.992370717 +0000 UTC m=+3015.943842067, time spent = 485.593µs, remote = 10.201.5.82:60278, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 04:38:45 ubuntu etcd[79326]: start time = 2025-06-11 04:38:45.994924837 +0000 UTC m=+3015.946396186, time spent = 316.412µs, remote = 10.201.5.82:60278, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-a79c0145-44ed-47ca-bb47-20dee844875f" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-a79c0145-44ed-47ca-bb47-20dee844875f" value_size:16 lease:5727337777264792104 >> failure:<request_range:<key:"/tooz/lockscinder-a79c0145-44ed-47ca-bb47-20dee844875f" > >
Jun 11 04:38:48 ubuntu etcd[79326]: start time = 2025-06-11 04:38:48.158495838 +0000 UTC m=+3018.109967197, time spent = 330.515µs, remote = 10.201.5.82:60278, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-a79c0145-44ed-47ca-bb47-20dee844875f" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-a79c0145-44ed-47ca-bb47-20dee844875f" > > failure:<>
Jun 11 04:38:48 ubuntu etcd[79326]: start time = 2025-06-11 04:38:48.413132831 +0000 UTC m=+3018.364604188, time spent = 353.327µs, remote = 10.201.5.82:60278, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 04:38:48 ubuntu etcd[79326]: start time = 2025-06-11 04:38:48.415509099 +0000 UTC m=+3018.366980557, time spent = 599.074µs, remote = 10.201.5.82:60278, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-a79c0145-44ed-47ca-bb47-20dee844875f" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-a79c0145-44ed-47ca-bb47-20dee844875f" value_size:16 lease:5727337777264792108 >> failure:<request_range:<key:"/tooz/lockscinder-a79c0145-44ed-47ca-bb47-20dee844875f" > >
Jun 11 04:38:49 ubuntu etcd[79326]: start time = 2025-06-11 04:38:49.711148881 +0000 UTC m=+3019.662620237, time spent = 240.342µs, remote = 10.201.5.82:60278, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-a79c0145-44ed-47ca-bb47-20dee844875f" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-a79c0145-44ed-47ca-bb47-20dee844875f" > > failure:<>
Jun 11 04:38:49 ubuntu etcd[79326]: start time = 2025-06-11 04:38:49.952961643 +0000 UTC m=+3019.904432996, time spent = 367.206µs, remote = 10.201.5.82:60278, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 04:38:49 ubuntu etcd[79326]: start time = 2025-06-11 04:38:49.955568828 +0000 UTC m=+3019.907040181, time spent = 289.381µs, remote = 10.201.5.82:60278, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-a79c0145-44ed-47ca-bb47-20dee844875f" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-a79c0145-44ed-47ca-bb47-20dee844875f" value_size:16 lease:5727337777264792112 >> failure:<request_range:<key:"/tooz/lockscinder-a79c0145-44ed-47ca-bb47-20dee844875f" > >
Jun 11 04:38:51 ubuntu etcd[79326]: start time = 2025-06-11 04:38:51.182339508 +0000 UTC m=+3021.133810880, time spent = 252.566µs, remote = 10.201.5.82:60278, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-a79c0145-44ed-47ca-bb47-20dee844875f" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-a79c0145-44ed-47ca-bb47-20dee844875f" > > failure:<>
