Aug 28 14:16:53 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Aug 28 14:16:53 ubuntu etcd[67977]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Aug 28 14:16:53 ubuntu etcd[67977]:         A future release of golang/protobuf will delete this package,
Aug 28 14:16:53 ubuntu etcd[67977]:         which has long been excluded from the compatibility promise.
Aug 28 14:16:53 ubuntu etcd[67977]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 28 14:16:53 ubuntu etcd[67977]: Running http and grpc server on single port. This is not recommended for production.
Aug 28 14:16:53 ubuntu etcd[67977]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 28 14:16:53 ubuntu etcd[67977]: etcd Version: 3.4.27
Aug 28 14:16:53 ubuntu etcd[67977]: Git SHA: c92fb80f3
Aug 28 14:16:53 ubuntu etcd[67977]: Go Version: go1.19.10
Aug 28 14:16:53 ubuntu etcd[67977]: Go OS/Arch: linux/amd64
Aug 28 14:16:53 ubuntu etcd[67977]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Aug 28 14:16:53 ubuntu etcd[67977]: Running http and grpc server on single port. This is not recommended for production.
Aug 28 14:16:53 ubuntu etcd[67977]: name = ubuntu
Aug 28 14:16:53 ubuntu etcd[67977]: data dir = /opt/stack/data/etcd
Aug 28 14:16:53 ubuntu etcd[67977]: member dir = /opt/stack/data/etcd/member
Aug 28 14:16:53 ubuntu etcd[67977]: heartbeat = 100ms
Aug 28 14:16:53 ubuntu etcd[67977]: election = 1000ms
Aug 28 14:16:53 ubuntu etcd[67977]: snapshot count = 100000
Aug 28 14:16:53 ubuntu etcd[67977]: advertise client URLs = http://10.201.5.82:2379
Aug 28 14:16:53 ubuntu etcd[67977]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Aug 28 14:16:53 ubuntu etcd[67977]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Aug 28 14:16:53 ubuntu etcd[67977]: raft2024/08/28 14:16:53 INFO: 43038365673ccf7b switched to configuration voters=()
Aug 28 14:16:53 ubuntu etcd[67977]: raft2024/08/28 14:16:53 INFO: 43038365673ccf7b became follower at term 0
Aug 28 14:16:53 ubuntu etcd[67977]: raft2024/08/28 14:16:53 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Aug 28 14:16:53 ubuntu etcd[67977]: raft2024/08/28 14:16:53 INFO: 43038365673ccf7b became follower at term 1
Aug 28 14:16:53 ubuntu etcd[67977]: raft2024/08/28 14:16:53 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Aug 28 14:16:53 ubuntu etcd[67977]: simple token is not cryptographically signed
Aug 28 14:16:53 ubuntu etcd[67977]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Aug 28 14:16:53 ubuntu etcd[67977]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Aug 28 14:16:53 ubuntu etcd[67977]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Aug 28 14:16:53 ubuntu etcd[67977]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Aug 28 14:16:53 ubuntu etcd[67977]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Aug 28 14:16:53 ubuntu etcd[67977]: raft2024/08/28 14:16:53 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Aug 28 14:16:53 ubuntu etcd[67977]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Aug 28 14:16:53 ubuntu etcd[67977]: listening for peers on [::]:2380
Aug 28 14:16:54 ubuntu etcd[67977]: raft2024/08/28 14:16:54 INFO: 43038365673ccf7b is starting a new election at term 1
Aug 28 14:16:54 ubuntu etcd[67977]: raft2024/08/28 14:16:54 INFO: 43038365673ccf7b became candidate at term 2
Aug 28 14:16:54 ubuntu etcd[67977]: raft2024/08/28 14:16:54 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Aug 28 14:16:54 ubuntu etcd[67977]: raft2024/08/28 14:16:54 INFO: 43038365673ccf7b became leader at term 2
Aug 28 14:16:54 ubuntu etcd[67977]: raft2024/08/28 14:16:54 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Aug 28 14:16:54 ubuntu etcd[67977]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Aug 28 14:16:54 ubuntu etcd[67977]: ready to serve client requests
Aug 28 14:16:54 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Aug 28 14:16:54 ubuntu etcd[67977]: setting up the initial cluster version to 3.4
Aug 28 14:16:54 ubuntu etcd[67977]: set the initial cluster version to 3.4
Aug 28 14:16:54 ubuntu etcd[67977]: enabled capabilities for version 3.4
Aug 28 14:16:54 ubuntu etcd[67977]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Aug 28 14:21:59 ubuntu etcd[67977]: start time = 2024-08-28 14:21:59.089475306 +0000 UTC m=+305.563646660, time spent = 1.425403ms, remote = 10.201.5.82:48364, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 28 14:21:59 ubuntu etcd[67977]: start time = 2024-08-28 14:21:59.089475342 +0000 UTC m=+305.563646677, time spent = 1.591784ms, remote = 10.201.5.82:48364, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 28 14:22:05 ubuntu etcd[67977]: start time = 2024-08-28 14:22:05.971875947 +0000 UTC m=+312.446047223, time spent = 230.513µs, remote = 10.201.5.82:48364, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 28 14:22:08 ubuntu etcd[67977]: start time = 2024-08-28 14:22:08.072221738 +0000 UTC m=+314.546393027, time spent = 429.809µs, remote = 10.201.5.82:48364, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
