Aug 08 12:08:35 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Aug 08 12:08:35 ubuntu etcd[67280]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Aug 08 12:08:35 ubuntu etcd[67280]:         A future release of golang/protobuf will delete this package,
Aug 08 12:08:35 ubuntu etcd[67280]:         which has long been excluded from the compatibility promise.
Aug 08 12:08:35 ubuntu etcd[67280]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Aug 08 12:08:35 ubuntu etcd[67280]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Aug 08 12:08:35 ubuntu etcd[67280]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 08 12:08:35 ubuntu etcd[67280]: Running http and grpc server on single port. This is not recommended for production.
Aug 08 12:08:35 ubuntu etcd[67280]: etcd Version: 3.4.27
Aug 08 12:08:35 ubuntu etcd[67280]: Git SHA: c92fb80f3
Aug 08 12:08:35 ubuntu etcd[67280]: Go Version: go1.19.10
Aug 08 12:08:35 ubuntu etcd[67280]: Go OS/Arch: linux/amd64
Aug 08 12:08:35 ubuntu etcd[67280]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Aug 08 12:08:35 ubuntu etcd[67280]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Aug 08 12:08:35 ubuntu etcd[67280]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Aug 08 12:08:35 ubuntu etcd[67280]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 08 12:08:35 ubuntu etcd[67280]: Running http and grpc server on single port. This is not recommended for production.
Aug 08 12:08:35 ubuntu etcd[67280]: name = ubuntu
Aug 08 12:08:35 ubuntu etcd[67280]: data dir = /opt/stack/data/etcd
Aug 08 12:08:35 ubuntu etcd[67280]: member dir = /opt/stack/data/etcd/member
Aug 08 12:08:35 ubuntu etcd[67280]: heartbeat = 100ms
Aug 08 12:08:35 ubuntu etcd[67280]: election = 1000ms
Aug 08 12:08:35 ubuntu etcd[67280]: snapshot count = 100000
Aug 08 12:08:35 ubuntu etcd[67280]: advertise client URLs = http://10.201.5.82:2379
Aug 08 12:08:35 ubuntu etcd[67280]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Aug 08 12:08:35 ubuntu etcd[67280]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Aug 08 12:08:35 ubuntu etcd[67280]: raft2024/08/08 12:08:35 INFO: 43038365673ccf7b switched to configuration voters=()
Aug 08 12:08:35 ubuntu etcd[67280]: raft2024/08/08 12:08:35 INFO: 43038365673ccf7b became follower at term 0
Aug 08 12:08:35 ubuntu etcd[67280]: raft2024/08/08 12:08:35 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Aug 08 12:08:35 ubuntu etcd[67280]: raft2024/08/08 12:08:35 INFO: 43038365673ccf7b became follower at term 1
Aug 08 12:08:35 ubuntu etcd[67280]: raft2024/08/08 12:08:35 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Aug 08 12:08:35 ubuntu etcd[67280]: simple token is not cryptographically signed
Aug 08 12:08:35 ubuntu etcd[67280]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Aug 08 12:08:35 ubuntu etcd[67280]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Aug 08 12:08:35 ubuntu etcd[67280]: raft2024/08/08 12:08:35 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Aug 08 12:08:35 ubuntu etcd[67280]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Aug 08 12:08:35 ubuntu etcd[67280]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Aug 08 12:08:35 ubuntu etcd[67280]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Aug 08 12:08:35 ubuntu etcd[67280]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Aug 08 12:08:35 ubuntu etcd[67280]: listening for peers on [::]:2380
Aug 08 12:08:36 ubuntu etcd[67280]: raft2024/08/08 12:08:36 INFO: 43038365673ccf7b is starting a new election at term 1
Aug 08 12:08:36 ubuntu etcd[67280]: raft2024/08/08 12:08:36 INFO: 43038365673ccf7b became candidate at term 2
Aug 08 12:08:36 ubuntu etcd[67280]: raft2024/08/08 12:08:36 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Aug 08 12:08:36 ubuntu etcd[67280]: raft2024/08/08 12:08:36 INFO: 43038365673ccf7b became leader at term 2
Aug 08 12:08:36 ubuntu etcd[67280]: raft2024/08/08 12:08:36 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Aug 08 12:08:36 ubuntu etcd[67280]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Aug 08 12:08:36 ubuntu etcd[67280]: setting up the initial cluster version to 3.4
Aug 08 12:08:36 ubuntu etcd[67280]: ready to serve client requests
Aug 08 12:08:36 ubuntu etcd[67280]: INFO: 2024/08/08 12:08:36 parsed scheme: ""
Aug 08 12:08:36 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Aug 08 12:08:36 ubuntu etcd[67280]: INFO: 2024/08/08 12:08:36 scheme "" not registered, fallback to default scheme
Aug 08 12:08:36 ubuntu etcd[67280]: INFO: 2024/08/08 12:08:36 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Aug 08 12:08:36 ubuntu etcd[67280]: INFO: 2024/08/08 12:08:36 ClientConn switching balancer to "pick_first"
Aug 08 12:08:36 ubuntu etcd[67280]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Aug 08 12:08:36 ubuntu etcd[67280]: set the initial cluster version to 3.4
Aug 08 12:08:36 ubuntu etcd[67280]: enabled capabilities for version 3.4
Aug 08 12:13:44 ubuntu etcd[67280]: start time = 2024-08-08 12:13:44.748550573 +0000 UTC m=+308.912263540, time spent = 2.091188ms, remote = 10.201.5.82:51538, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 08 12:13:44 ubuntu etcd[67280]: start time = 2024-08-08 12:13:44.832802482 +0000 UTC m=+308.996515396, time spent = 243.47µs, remote = 10.201.5.82:51538, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 08 12:13:51 ubuntu etcd[67280]: start time = 2024-08-08 12:13:51.800669253 +0000 UTC m=+315.964382166, time spent = 185.303µs, remote = 10.201.5.82:51538, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 08 12:13:54 ubuntu etcd[67280]: start time = 2024-08-08 12:13:54.147831154 +0000 UTC m=+318.311544065, time spent = 355.548µs, remote = 10.201.5.82:51538, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 08 12:19:55 ubuntu etcd[67280]: start time = 2024-08-08 12:19:55.610887063 +0000 UTC m=+679.774599966, time spent = 404.222µs, remote = 10.201.5.82:51538, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 08 12:19:55 ubuntu etcd[67280]: start time = 2024-08-08 12:19:55.992222823 +0000 UTC m=+680.155935739, time spent = 281.105µs, remote = 10.201.5.82:51538, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 08 12:19:56 ubuntu etcd[67280]: start time = 2024-08-08 12:19:56.028368043 +0000 UTC m=+680.192080946, time spent = 231.543µs, remote = 10.201.5.82:51538, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 08 12:19:59 ubuntu etcd[67280]: start time = 2024-08-08 12:19:59.018157356 +0000 UTC m=+683.181870259, time spent = 222.63µs, remote = 10.201.5.82:51538, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
