Dec 26 09:11:49 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 26 09:11:49 ubuntu etcd[69358]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 26 09:11:49 ubuntu etcd[69358]:         A future release of golang/protobuf will delete this package,
Dec 26 09:11:49 ubuntu etcd[69358]:         which has long been excluded from the compatibility promise.
Dec 26 09:11:49 ubuntu etcd[69358]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 26 09:11:49 ubuntu etcd[69358]: Running http and grpc server on single port. This is not recommended for production.
Dec 26 09:11:49 ubuntu etcd[69358]: etcd Version: 3.4.27
Dec 26 09:11:49 ubuntu etcd[69358]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 26 09:11:49 ubuntu etcd[69358]: Git SHA: c92fb80f3
Dec 26 09:11:49 ubuntu etcd[69358]: Go Version: go1.19.10
Dec 26 09:11:49 ubuntu etcd[69358]: Go OS/Arch: linux/amd64
Dec 26 09:11:49 ubuntu etcd[69358]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 26 09:11:49 ubuntu etcd[69358]: Running http and grpc server on single port. This is not recommended for production.
Dec 26 09:11:49 ubuntu etcd[69358]: name = ubuntu
Dec 26 09:11:49 ubuntu etcd[69358]: data dir = /opt/stack/data/etcd
Dec 26 09:11:49 ubuntu etcd[69358]: member dir = /opt/stack/data/etcd/member
Dec 26 09:11:49 ubuntu etcd[69358]: heartbeat = 100ms
Dec 26 09:11:49 ubuntu etcd[69358]: election = 1000ms
Dec 26 09:11:49 ubuntu etcd[69358]: snapshot count = 100000
Dec 26 09:11:49 ubuntu etcd[69358]: advertise client URLs = http://10.201.5.82:2379
Dec 26 09:11:49 ubuntu etcd[69358]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Dec 26 09:11:49 ubuntu etcd[69358]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Dec 26 09:11:49 ubuntu etcd[69358]: raft2024/12/26 09:11:49 INFO: 43038365673ccf7b switched to configuration voters=()
Dec 26 09:11:49 ubuntu etcd[69358]: raft2024/12/26 09:11:49 INFO: 43038365673ccf7b became follower at term 0
Dec 26 09:11:49 ubuntu etcd[69358]: raft2024/12/26 09:11:49 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Dec 26 09:11:49 ubuntu etcd[69358]: raft2024/12/26 09:11:49 INFO: 43038365673ccf7b became follower at term 1
Dec 26 09:11:49 ubuntu etcd[69358]: raft2024/12/26 09:11:49 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Dec 26 09:11:49 ubuntu etcd[69358]: simple token is not cryptographically signed
Dec 26 09:11:49 ubuntu etcd[69358]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Dec 26 09:11:49 ubuntu etcd[69358]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Dec 26 09:11:49 ubuntu etcd[69358]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Dec 26 09:11:49 ubuntu etcd[69358]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Dec 26 09:11:49 ubuntu etcd[69358]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Dec 26 09:11:49 ubuntu etcd[69358]: raft2024/12/26 09:11:49 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Dec 26 09:11:49 ubuntu etcd[69358]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Dec 26 09:11:49 ubuntu etcd[69358]: listening for peers on [::]:2380
Dec 26 09:11:49 ubuntu etcd[69358]: raft2024/12/26 09:11:49 INFO: 43038365673ccf7b is starting a new election at term 1
Dec 26 09:11:49 ubuntu etcd[69358]: raft2024/12/26 09:11:49 INFO: 43038365673ccf7b became candidate at term 2
Dec 26 09:11:49 ubuntu etcd[69358]: raft2024/12/26 09:11:49 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Dec 26 09:11:49 ubuntu etcd[69358]: raft2024/12/26 09:11:49 INFO: 43038365673ccf7b became leader at term 2
Dec 26 09:11:49 ubuntu etcd[69358]: raft2024/12/26 09:11:49 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Dec 26 09:11:49 ubuntu etcd[69358]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Dec 26 09:11:49 ubuntu etcd[69358]: setting up the initial cluster version to 3.4
Dec 26 09:11:49 ubuntu etcd[69358]: ready to serve client requests
Dec 26 09:11:49 ubuntu etcd[69358]: set the initial cluster version to 3.4
Dec 26 09:11:49 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Dec 26 09:11:49 ubuntu etcd[69358]: enabled capabilities for version 3.4
Dec 26 09:11:49 ubuntu etcd[69358]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Dec 26 09:16:46 ubuntu etcd[69358]: start time = 2024-12-26 09:16:46.972244314 +0000 UTC m=+297.717496675, time spent = 2.087982ms, remote = 10.201.5.82:54756, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 26 09:16:46 ubuntu etcd[69358]: start time = 2024-12-26 09:16:46.981031442 +0000 UTC m=+297.726283813, time spent = 287.71µs, remote = 10.201.5.82:54756, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 26 09:16:53 ubuntu etcd[69358]: start time = 2024-12-26 09:16:53.904810213 +0000 UTC m=+304.650062580, time spent = 231.269µs, remote = 10.201.5.82:54756, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 26 09:16:56 ubuntu etcd[69358]: start time = 2024-12-26 09:16:56.320606765 +0000 UTC m=+307.065859132, time spent = 192.984µs, remote = 10.201.5.82:54756, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 26 09:19:54 ubuntu etcd[69358]: start time = 2024-12-26 09:19:54.229134197 +0000 UTC m=+484.974386572, time spent = 284.418µs, remote = 10.201.5.82:54756, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 26 09:19:54 ubuntu etcd[69358]: start time = 2024-12-26 09:19:54.293031446 +0000 UTC m=+485.038283814, time spent = 194.657µs, remote = 10.201.5.82:54756, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 26 09:19:56 ubuntu etcd[69358]: start time = 2024-12-26 09:19:56.573156238 +0000 UTC m=+487.318408608, time spent = 201.515µs, remote = 10.201.5.82:54756, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 26 09:19:58 ubuntu etcd[69358]: start time = 2024-12-26 09:19:58.673187172 +0000 UTC m=+489.418439541, time spent = 181.217µs, remote = 10.201.5.82:54756, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 26 09:21:46 ubuntu etcd[69358]: start time = 2024-12-26 09:21:46.726983502 +0000 UTC m=+597.472235995, time spent = 842.121µs, remote = 10.201.5.82:54756, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 26 09:21:46 ubuntu etcd[69358]: start time = 2024-12-26 09:21:46.730770093 +0000 UTC m=+597.476022474, time spent = 684.884µs, remote = 10.201.5.82:54756, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-83107f53-dfe9-486a-ad70-d907a0a0a195" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-83107f53-dfe9-486a-ad70-d907a0a0a195" value_size:16 lease:5727334088458188569 >> failure:<request_range:<key:"/tooz/lockscinder-83107f53-dfe9-486a-ad70-d907a0a0a195" > >
Dec 26 09:21:49 ubuntu etcd[69358]: start time = 2024-12-26 09:21:49.600096847 +0000 UTC m=+600.345349320, time spent = 855.812µs, remote = 10.201.5.82:54756, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-83107f53-dfe9-486a-ad70-d907a0a0a195" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-83107f53-dfe9-486a-ad70-d907a0a0a195" > > failure:<>
Dec 26 09:21:49 ubuntu etcd[69358]: start time = 2024-12-26 09:21:49.835789828 +0000 UTC m=+600.581042204, time spent = 200.262µs, remote = 10.201.5.82:54756, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 26 09:21:49 ubuntu etcd[69358]: start time = 2024-12-26 09:21:49.83851631 +0000 UTC m=+600.583768793, time spent = 557.829µs, remote = 10.201.5.82:54756, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-83107f53-dfe9-486a-ad70-d907a0a0a195" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-83107f53-dfe9-486a-ad70-d907a0a0a195" value_size:16 lease:5727334088458188573 >> failure:<request_range:<key:"/tooz/lockscinder-83107f53-dfe9-486a-ad70-d907a0a0a195" > >
Dec 26 09:21:50 ubuntu etcd[69358]: start time = 2024-12-26 09:21:50.61239298 +0000 UTC m=+601.357645365, time spent = 323.625µs, remote = 10.201.5.82:54756, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-83107f53-dfe9-486a-ad70-d907a0a0a195" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-83107f53-dfe9-486a-ad70-d907a0a0a195" > > failure:<>
Dec 26 09:21:50 ubuntu etcd[69358]: start time = 2024-12-26 09:21:50.82500987 +0000 UTC m=+601.570262335, time spent = 416.888µs, remote = 10.201.5.82:54756, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 26 09:21:50 ubuntu etcd[69358]: start time = 2024-12-26 09:21:50.827417698 +0000 UTC m=+601.572670073, time spent = 230.516µs, remote = 10.201.5.82:54756, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-83107f53-dfe9-486a-ad70-d907a0a0a195" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-83107f53-dfe9-486a-ad70-d907a0a0a195" value_size:16 lease:5727334088458188577 >> failure:<request_range:<key:"/tooz/lockscinder-83107f53-dfe9-486a-ad70-d907a0a0a195" > >
Dec 26 09:21:51 ubuntu etcd[69358]: start time = 2024-12-26 09:21:51.638859833 +0000 UTC m=+602.384112254, time spent = 397.437µs, remote = 10.201.5.82:54756, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-83107f53-dfe9-486a-ad70-d907a0a0a195" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-83107f53-dfe9-486a-ad70-d907a0a0a195" > > failure:<>
