Mar 14 13:06:42 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 14 13:06:42 ubuntu etcd[65877]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 14 13:06:42 ubuntu etcd[65877]:         A future release of golang/protobuf will delete this package,
Mar 14 13:06:42 ubuntu etcd[65877]:         which has long been excluded from the compatibility promise.
Mar 14 13:06:42 ubuntu etcd[65877]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 14 13:06:42 ubuntu etcd[65877]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 14 13:06:42 ubuntu etcd[65877]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 14 13:06:42 ubuntu etcd[65877]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 14 13:06:42 ubuntu etcd[65877]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 14 13:06:42 ubuntu etcd[65877]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 14 13:06:42 ubuntu etcd[65877]: Running http and grpc server on single port. This is not recommended for production.
Mar 14 13:06:42 ubuntu etcd[65877]: etcd Version: 3.4.27
Mar 14 13:06:42 ubuntu etcd[65877]: Git SHA: c92fb80f3
Mar 14 13:06:42 ubuntu etcd[65877]: Go Version: go1.19.10
Mar 14 13:06:42 ubuntu etcd[65877]: Go OS/Arch: linux/amd64
Mar 14 13:06:42 ubuntu etcd[65877]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 14 13:06:42 ubuntu etcd[65877]: Running http and grpc server on single port. This is not recommended for production.
Mar 14 13:06:42 ubuntu etcd[65877]: name = ubuntu
Mar 14 13:06:42 ubuntu etcd[65877]: data dir = /opt/stack/data/etcd
Mar 14 13:06:42 ubuntu etcd[65877]: member dir = /opt/stack/data/etcd/member
Mar 14 13:06:42 ubuntu etcd[65877]: heartbeat = 100ms
Mar 14 13:06:42 ubuntu etcd[65877]: election = 1000ms
Mar 14 13:06:42 ubuntu etcd[65877]: snapshot count = 100000
Mar 14 13:06:42 ubuntu etcd[65877]: advertise client URLs = http://10.201.5.82:2379
Mar 14 13:06:42 ubuntu etcd[65877]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 14 13:06:42 ubuntu etcd[65877]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Mar 14 13:06:42 ubuntu etcd[65877]: raft2024/03/14 13:06:42 INFO: 43038365673ccf7b switched to configuration voters=()
Mar 14 13:06:42 ubuntu etcd[65877]: raft2024/03/14 13:06:42 INFO: 43038365673ccf7b became follower at term 0
Mar 14 13:06:42 ubuntu etcd[65877]: raft2024/03/14 13:06:42 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 14 13:06:42 ubuntu etcd[65877]: raft2024/03/14 13:06:42 INFO: 43038365673ccf7b became follower at term 1
Mar 14 13:06:42 ubuntu etcd[65877]: raft2024/03/14 13:06:42 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 14 13:06:42 ubuntu etcd[65877]: simple token is not cryptographically signed
Mar 14 13:06:42 ubuntu etcd[65877]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 14 13:06:42 ubuntu etcd[65877]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 14 13:06:42 ubuntu etcd[65877]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 14 13:06:42 ubuntu etcd[65877]: raft2024/03/14 13:06:42 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 14 13:06:42 ubuntu etcd[65877]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 14 13:06:42 ubuntu etcd[65877]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 14 13:06:42 ubuntu etcd[65877]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Mar 14 13:06:42 ubuntu etcd[65877]: listening for peers on [::]:2380
Mar 14 13:06:43 ubuntu etcd[65877]: raft2024/03/14 13:06:43 INFO: 43038365673ccf7b is starting a new election at term 1
Mar 14 13:06:43 ubuntu etcd[65877]: raft2024/03/14 13:06:43 INFO: 43038365673ccf7b became candidate at term 2
Mar 14 13:06:43 ubuntu etcd[65877]: raft2024/03/14 13:06:43 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Mar 14 13:06:43 ubuntu etcd[65877]: raft2024/03/14 13:06:43 INFO: 43038365673ccf7b became leader at term 2
Mar 14 13:06:43 ubuntu etcd[65877]: raft2024/03/14 13:06:43 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Mar 14 13:06:43 ubuntu etcd[65877]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Mar 14 13:06:43 ubuntu etcd[65877]: setting up the initial cluster version to 3.4
Mar 14 13:06:43 ubuntu etcd[65877]: ready to serve client requests
Mar 14 13:06:43 ubuntu etcd[65877]: set the initial cluster version to 3.4
Mar 14 13:06:43 ubuntu etcd[65877]: INFO: 2024/03/14 13:06:43 parsed scheme: ""
Mar 14 13:06:43 ubuntu etcd[65877]: INFO: 2024/03/14 13:06:43 scheme "" not registered, fallback to default scheme
Mar 14 13:06:43 ubuntu etcd[65877]: INFO: 2024/03/14 13:06:43 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Mar 14 13:06:43 ubuntu etcd[65877]: enabled capabilities for version 3.4
Mar 14 13:06:43 ubuntu etcd[65877]: INFO: 2024/03/14 13:06:43 ClientConn switching balancer to "pick_first"
Mar 14 13:06:43 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 14 13:06:43 ubuntu etcd[65877]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Mar 14 13:15:19 ubuntu etcd[65877]: start time = 2024-03-14 13:15:19.387976046 +0000 UTC m=+516.833523371, time spent = 1.729469ms, remote = 10.201.5.82:39564, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 14 13:15:19 ubuntu etcd[65877]: start time = 2024-03-14 13:15:19.45194334 +0000 UTC m=+516.897490674, time spent = 340.976µs, remote = 10.201.5.82:39564, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 14 13:15:26 ubuntu etcd[65877]: start time = 2024-03-14 13:15:26.516462042 +0000 UTC m=+523.962009376, time spent = 217.853µs, remote = 10.201.5.82:39564, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 14 13:15:28 ubuntu etcd[65877]: start time = 2024-03-14 13:15:28.732787213 +0000 UTC m=+526.178334536, time spent = 203.13µs, remote = 10.201.5.82:39564, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
