Jun 11 11:39:36 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 11 11:39:36 ubuntu etcd[79742]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 11 11:39:36 ubuntu etcd[79742]:         A future release of golang/protobuf will delete this package,
Jun 11 11:39:36 ubuntu etcd[79742]:         which has long been excluded from the compatibility promise.
Jun 11 11:39:36 ubuntu etcd[79742]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 11 11:39:36 ubuntu etcd[79742]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 11 11:39:36 ubuntu etcd[79742]: Running http and grpc server on single port. This is not recommended for production.
Jun 11 11:39:36 ubuntu etcd[79742]: etcd Version: 3.4.27
Jun 11 11:39:36 ubuntu etcd[79742]: Git SHA: c92fb80f3
Jun 11 11:39:36 ubuntu etcd[79742]: Go Version: go1.19.10
Jun 11 11:39:36 ubuntu etcd[79742]: Go OS/Arch: linux/amd64
Jun 11 11:39:36 ubuntu etcd[79742]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 11 11:39:36 ubuntu etcd[79742]: Running http and grpc server on single port. This is not recommended for production.
Jun 11 11:39:36 ubuntu etcd[79742]: name = ubuntu
Jun 11 11:39:36 ubuntu etcd[79742]: data dir = /opt/stack/data/etcd
Jun 11 11:39:36 ubuntu etcd[79742]: member dir = /opt/stack/data/etcd/member
Jun 11 11:39:36 ubuntu etcd[79742]: heartbeat = 100ms
Jun 11 11:39:36 ubuntu etcd[79742]: election = 1000ms
Jun 11 11:39:36 ubuntu etcd[79742]: snapshot count = 100000
Jun 11 11:39:36 ubuntu etcd[79742]: advertise client URLs = http://10.201.5.82:2379
Jun 11 11:39:36 ubuntu etcd[79742]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 11 11:39:36 ubuntu etcd[79742]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jun 11 11:39:36 ubuntu etcd[79742]: raft2025/06/11 11:39:36 INFO: 43038365673ccf7b switched to configuration voters=()
Jun 11 11:39:36 ubuntu etcd[79742]: raft2025/06/11 11:39:36 INFO: 43038365673ccf7b became follower at term 0
Jun 11 11:39:36 ubuntu etcd[79742]: raft2025/06/11 11:39:36 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 11 11:39:36 ubuntu etcd[79742]: raft2025/06/11 11:39:36 INFO: 43038365673ccf7b became follower at term 1
Jun 11 11:39:36 ubuntu etcd[79742]: raft2025/06/11 11:39:36 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 11 11:39:36 ubuntu etcd[79742]: simple token is not cryptographically signed
Jun 11 11:39:36 ubuntu etcd[79742]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 11 11:39:36 ubuntu etcd[79742]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 11 11:39:36 ubuntu etcd[79742]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 11 11:39:36 ubuntu etcd[79742]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 11 11:39:36 ubuntu etcd[79742]: raft2025/06/11 11:39:36 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 11 11:39:36 ubuntu etcd[79742]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 11 11:39:36 ubuntu etcd[79742]: listening for peers on [::]:2380
Jun 11 11:39:36 ubuntu etcd[79742]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jun 11 11:39:36 ubuntu etcd[79742]: raft2025/06/11 11:39:36 INFO: 43038365673ccf7b is starting a new election at term 1
Jun 11 11:39:36 ubuntu etcd[79742]: raft2025/06/11 11:39:36 INFO: 43038365673ccf7b became candidate at term 2
Jun 11 11:39:36 ubuntu etcd[79742]: raft2025/06/11 11:39:36 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jun 11 11:39:36 ubuntu etcd[79742]: raft2025/06/11 11:39:36 INFO: 43038365673ccf7b became leader at term 2
Jun 11 11:39:36 ubuntu etcd[79742]: raft2025/06/11 11:39:36 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jun 11 11:39:36 ubuntu etcd[79742]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jun 11 11:39:36 ubuntu etcd[79742]: ready to serve client requests
Jun 11 11:39:36 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 11 11:39:36 ubuntu etcd[79742]: setting up the initial cluster version to 3.4
Jun 11 11:39:36 ubuntu etcd[79742]: set the initial cluster version to 3.4
Jun 11 11:39:36 ubuntu etcd[79742]: enabled capabilities for version 3.4
Jun 11 11:39:36 ubuntu etcd[79742]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jun 11 11:44:16 ubuntu etcd[79742]: start time = 2025-06-11 11:44:16.806414455 +0000 UTC m=+280.404786954, time spent = 2.597442ms, remote = 10.201.5.82:38016, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 11:44:16 ubuntu etcd[79742]: start time = 2025-06-11 11:44:16.928126122 +0000 UTC m=+280.526498613, time spent = 248.308µs, remote = 10.201.5.82:38016, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 11:44:23 ubuntu etcd[79742]: start time = 2025-06-11 11:44:23.763020717 +0000 UTC m=+287.361393220, time spent = 191.682µs, remote = 10.201.5.82:38016, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 11:44:26 ubuntu etcd[79742]: start time = 2025-06-11 11:44:26.021548866 +0000 UTC m=+289.619921373, time spent = 225.597µs, remote = 10.201.5.82:38016, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
