Apr 22 12:49:19 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Apr 22 12:49:19 ubuntu etcd[79233]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Apr 22 12:49:19 ubuntu etcd[79233]:         A future release of golang/protobuf will delete this package,
Apr 22 12:49:19 ubuntu etcd[79233]:         which has long been excluded from the compatibility promise.
Apr 22 12:49:19 ubuntu etcd[79233]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 22 12:49:19 ubuntu etcd[79233]: Running http and grpc server on single port. This is not recommended for production.
Apr 22 12:49:19 ubuntu etcd[79233]: etcd Version: 3.4.27
Apr 22 12:49:19 ubuntu etcd[79233]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 22 12:49:19 ubuntu etcd[79233]: Git SHA: c92fb80f3
Apr 22 12:49:19 ubuntu etcd[79233]: Go Version: go1.19.10
Apr 22 12:49:19 ubuntu etcd[79233]: Go OS/Arch: linux/amd64
Apr 22 12:49:19 ubuntu etcd[79233]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Apr 22 12:49:19 ubuntu etcd[79233]: Running http and grpc server on single port. This is not recommended for production.
Apr 22 12:49:19 ubuntu etcd[79233]: name = ubuntu
Apr 22 12:49:19 ubuntu etcd[79233]: data dir = /opt/stack/data/etcd
Apr 22 12:49:19 ubuntu etcd[79233]: member dir = /opt/stack/data/etcd/member
Apr 22 12:49:19 ubuntu etcd[79233]: heartbeat = 100ms
Apr 22 12:49:19 ubuntu etcd[79233]: election = 1000ms
Apr 22 12:49:19 ubuntu etcd[79233]: snapshot count = 100000
Apr 22 12:49:19 ubuntu etcd[79233]: advertise client URLs = http://10.201.5.82:2379
Apr 22 12:49:19 ubuntu etcd[79233]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Apr 22 12:49:19 ubuntu etcd[79233]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Apr 22 12:49:19 ubuntu etcd[79233]: raft2025/04/22 12:49:19 INFO: 43038365673ccf7b switched to configuration voters=()
Apr 22 12:49:19 ubuntu etcd[79233]: raft2025/04/22 12:49:19 INFO: 43038365673ccf7b became follower at term 0
Apr 22 12:49:19 ubuntu etcd[79233]: raft2025/04/22 12:49:19 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Apr 22 12:49:19 ubuntu etcd[79233]: raft2025/04/22 12:49:19 INFO: 43038365673ccf7b became follower at term 1
Apr 22 12:49:19 ubuntu etcd[79233]: raft2025/04/22 12:49:19 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Apr 22 12:49:19 ubuntu etcd[79233]: simple token is not cryptographically signed
Apr 22 12:49:19 ubuntu etcd[79233]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Apr 22 12:49:19 ubuntu etcd[79233]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Apr 22 12:49:19 ubuntu etcd[79233]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Apr 22 12:49:19 ubuntu etcd[79233]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Apr 22 12:49:19 ubuntu etcd[79233]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Apr 22 12:49:19 ubuntu etcd[79233]: raft2025/04/22 12:49:19 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Apr 22 12:49:19 ubuntu etcd[79233]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Apr 22 12:49:19 ubuntu etcd[79233]: listening for peers on [::]:2380
Apr 22 12:49:20 ubuntu etcd[79233]: raft2025/04/22 12:49:20 INFO: 43038365673ccf7b is starting a new election at term 1
Apr 22 12:49:20 ubuntu etcd[79233]: raft2025/04/22 12:49:20 INFO: 43038365673ccf7b became candidate at term 2
Apr 22 12:49:20 ubuntu etcd[79233]: raft2025/04/22 12:49:20 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Apr 22 12:49:20 ubuntu etcd[79233]: raft2025/04/22 12:49:20 INFO: 43038365673ccf7b became leader at term 2
Apr 22 12:49:20 ubuntu etcd[79233]: raft2025/04/22 12:49:20 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Apr 22 12:49:20 ubuntu etcd[79233]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Apr 22 12:49:20 ubuntu etcd[79233]: ready to serve client requests
Apr 22 12:49:20 ubuntu etcd[79233]: setting up the initial cluster version to 3.4
Apr 22 12:49:20 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Apr 22 12:49:20 ubuntu etcd[79233]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Apr 22 12:49:20 ubuntu etcd[79233]: set the initial cluster version to 3.4
Apr 22 12:49:20 ubuntu etcd[79233]: enabled capabilities for version 3.4
Apr 22 12:54:13 ubuntu etcd[79233]: start time = 2025-04-22 12:54:13.210298731 +0000 UTC m=+293.659295717, time spent = 1.587759ms, remote = 10.201.5.82:49516, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 22 12:54:13 ubuntu etcd[79233]: start time = 2025-04-22 12:54:13.216531836 +0000 UTC m=+293.665528834, time spent = 190.633µs, remote = 10.201.5.82:49516, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 22 12:54:20 ubuntu etcd[79233]: start time = 2025-04-22 12:54:20.30035924 +0000 UTC m=+300.749356235, time spent = 198.812µs, remote = 10.201.5.82:49516, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 22 12:54:22 ubuntu etcd[79233]: start time = 2025-04-22 12:54:22.578432276 +0000 UTC m=+303.027429275, time spent = 228.632µs, remote = 10.201.5.82:49516, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
