Dec 18 13:41:09 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 18 13:41:09 ubuntu etcd[67634]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 18 13:41:09 ubuntu etcd[67634]:         A future release of golang/protobuf will delete this package,
Dec 18 13:41:09 ubuntu etcd[67634]:         which has long been excluded from the compatibility promise.
Dec 18 13:41:09 ubuntu etcd[67634]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 18 13:41:09 ubuntu etcd[67634]: Running http and grpc server on single port. This is not recommended for production.
Dec 18 13:41:09 ubuntu etcd[67634]: etcd Version: 3.4.27
Dec 18 13:41:09 ubuntu etcd[67634]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 18 13:41:09 ubuntu etcd[67634]: Git SHA: c92fb80f3
Dec 18 13:41:09 ubuntu etcd[67634]: Go Version: go1.19.10
Dec 18 13:41:09 ubuntu etcd[67634]: Go OS/Arch: linux/amd64
Dec 18 13:41:09 ubuntu etcd[67634]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 18 13:41:09 ubuntu etcd[67634]: Running http and grpc server on single port. This is not recommended for production.
Dec 18 13:41:09 ubuntu etcd[67634]: name = ubuntu
Dec 18 13:41:09 ubuntu etcd[67634]: data dir = /opt/stack/data/etcd
Dec 18 13:41:09 ubuntu etcd[67634]: member dir = /opt/stack/data/etcd/member
Dec 18 13:41:09 ubuntu etcd[67634]: heartbeat = 100ms
Dec 18 13:41:09 ubuntu etcd[67634]: election = 1000ms
Dec 18 13:41:09 ubuntu etcd[67634]: snapshot count = 100000
Dec 18 13:41:09 ubuntu etcd[67634]: advertise client URLs = http://10.201.5.82:2379
Dec 18 13:41:09 ubuntu etcd[67634]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Dec 18 13:41:09 ubuntu etcd[67634]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Dec 18 13:41:09 ubuntu etcd[67634]: raft2024/12/18 13:41:09 INFO: 43038365673ccf7b switched to configuration voters=()
Dec 18 13:41:09 ubuntu etcd[67634]: raft2024/12/18 13:41:09 INFO: 43038365673ccf7b became follower at term 0
Dec 18 13:41:09 ubuntu etcd[67634]: raft2024/12/18 13:41:09 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Dec 18 13:41:09 ubuntu etcd[67634]: raft2024/12/18 13:41:09 INFO: 43038365673ccf7b became follower at term 1
Dec 18 13:41:09 ubuntu etcd[67634]: raft2024/12/18 13:41:09 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Dec 18 13:41:09 ubuntu etcd[67634]: simple token is not cryptographically signed
Dec 18 13:41:09 ubuntu etcd[67634]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Dec 18 13:41:09 ubuntu etcd[67634]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Dec 18 13:41:09 ubuntu etcd[67634]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Dec 18 13:41:09 ubuntu etcd[67634]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Dec 18 13:41:09 ubuntu etcd[67634]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Dec 18 13:41:09 ubuntu etcd[67634]: raft2024/12/18 13:41:09 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Dec 18 13:41:09 ubuntu etcd[67634]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Dec 18 13:41:09 ubuntu etcd[67634]: listening for peers on [::]:2380
Dec 18 13:41:09 ubuntu etcd[67634]: raft2024/12/18 13:41:09 INFO: 43038365673ccf7b is starting a new election at term 1
Dec 18 13:41:09 ubuntu etcd[67634]: raft2024/12/18 13:41:09 INFO: 43038365673ccf7b became candidate at term 2
Dec 18 13:41:09 ubuntu etcd[67634]: raft2024/12/18 13:41:09 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Dec 18 13:41:09 ubuntu etcd[67634]: raft2024/12/18 13:41:09 INFO: 43038365673ccf7b became leader at term 2
Dec 18 13:41:09 ubuntu etcd[67634]: raft2024/12/18 13:41:09 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Dec 18 13:41:09 ubuntu etcd[67634]: setting up the initial cluster version to 3.4
Dec 18 13:41:09 ubuntu etcd[67634]: set the initial cluster version to 3.4
Dec 18 13:41:09 ubuntu etcd[67634]: ready to serve client requests
Dec 18 13:41:09 ubuntu etcd[67634]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Dec 18 13:41:09 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Dec 18 13:41:09 ubuntu etcd[67634]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Dec 18 13:41:09 ubuntu etcd[67634]: enabled capabilities for version 3.4
Dec 18 13:46:00 ubuntu etcd[67634]: start time = 2024-12-18 13:46:00.260424766 +0000 UTC m=+291.140663224, time spent = 1.446659ms, remote = 10.201.5.82:42390, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 18 13:46:00 ubuntu etcd[67634]: start time = 2024-12-18 13:46:00.328152266 +0000 UTC m=+291.208390737, time spent = 213.179µs, remote = 10.201.5.82:42390, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 18 13:46:06 ubuntu etcd[67634]: start time = 2024-12-18 13:46:06.87905003 +0000 UTC m=+297.759288491, time spent = 213.576µs, remote = 10.201.5.82:42390, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 18 13:46:08 ubuntu etcd[67634]: start time = 2024-12-18 13:46:08.969422795 +0000 UTC m=+299.849661247, time spent = 1.640008ms, remote = 10.201.5.82:42390, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 18 13:49:04 ubuntu etcd[67634]: start time = 2024-12-18 13:49:04.119854404 +0000 UTC m=+475.000092868, time spent = 360.285µs, remote = 10.201.5.82:42390, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 18 13:49:04 ubuntu etcd[67634]: start time = 2024-12-18 13:49:04.286386714 +0000 UTC m=+475.166625176, time spent = 211.43µs, remote = 10.201.5.82:42390, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 18 13:49:04 ubuntu etcd[67634]: start time = 2024-12-18 13:49:04.37488165 +0000 UTC m=+475.255120118, time spent = 240.533µs, remote = 10.201.5.82:42390, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 18 13:49:08 ubuntu etcd[67634]: start time = 2024-12-18 13:49:08.651082514 +0000 UTC m=+479.531320974, time spent = 226.418µs, remote = 10.201.5.82:42390, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 18 13:50:54 ubuntu etcd[67634]: start time = 2024-12-18 13:50:54.298272795 +0000 UTC m=+585.178511357, time spent = 444.562µs, remote = 10.201.5.82:42390, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 18 13:50:54 ubuntu etcd[67634]: start time = 2024-12-18 13:50:54.302972885 +0000 UTC m=+585.183211413, time spent = 846.082µs, remote = 10.201.5.82:42390, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-726274ab-bbaa-4c33-81ad-7cc238a7417d" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-726274ab-bbaa-4c33-81ad-7cc238a7417d" value_size:16 lease:5727333915647912985 >> failure:<request_range:<key:"/tooz/lockscinder-726274ab-bbaa-4c33-81ad-7cc238a7417d" > >
Dec 18 13:50:57 ubuntu etcd[67634]: start time = 2024-12-18 13:50:57.041842662 +0000 UTC m=+587.922081222, time spent = 865.646µs, remote = 10.201.5.82:42390, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-726274ab-bbaa-4c33-81ad-7cc238a7417d" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-726274ab-bbaa-4c33-81ad-7cc238a7417d" > > failure:<>
Dec 18 13:50:57 ubuntu etcd[67634]: start time = 2024-12-18 13:50:57.351149029 +0000 UTC m=+588.231387494, time spent = 338.566µs, remote = 10.201.5.82:42390, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 18 13:50:57 ubuntu etcd[67634]: start time = 2024-12-18 13:50:57.353833595 +0000 UTC m=+588.234072061, time spent = 199.662µs, remote = 10.201.5.82:42390, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-726274ab-bbaa-4c33-81ad-7cc238a7417d" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-726274ab-bbaa-4c33-81ad-7cc238a7417d" value_size:16 lease:5727333915647912989 >> failure:<request_range:<key:"/tooz/lockscinder-726274ab-bbaa-4c33-81ad-7cc238a7417d" > >
Dec 18 13:50:58 ubuntu etcd[67634]: start time = 2024-12-18 13:50:58.125024278 +0000 UTC m=+589.005262756, time spent = 288.131µs, remote = 10.201.5.82:42390, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-726274ab-bbaa-4c33-81ad-7cc238a7417d" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-726274ab-bbaa-4c33-81ad-7cc238a7417d" > > failure:<>
Dec 18 13:50:58 ubuntu etcd[67634]: start time = 2024-12-18 13:50:58.31622376 +0000 UTC m=+589.196462229, time spent = 254.107µs, remote = 10.201.5.82:42390, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 18 13:50:58 ubuntu etcd[67634]: start time = 2024-12-18 13:50:58.319823313 +0000 UTC m=+589.200061776, time spent = 155.354µs, remote = 10.201.5.82:42390, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-726274ab-bbaa-4c33-81ad-7cc238a7417d" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-726274ab-bbaa-4c33-81ad-7cc238a7417d" value_size:16 lease:5727333915647912993 >> failure:<request_range:<key:"/tooz/lockscinder-726274ab-bbaa-4c33-81ad-7cc238a7417d" > >
Dec 18 13:50:59 ubuntu etcd[67634]: start time = 2024-12-18 13:50:59.110089751 +0000 UTC m=+589.990328302, time spent = 1.632347ms, remote = 10.201.5.82:42390, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-726274ab-bbaa-4c33-81ad-7cc238a7417d" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-726274ab-bbaa-4c33-81ad-7cc238a7417d" > > failure:<>
