Jun 12 09:01:59 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 12 09:01:59 ubuntu etcd[79585]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 12 09:01:59 ubuntu etcd[79585]:         A future release of golang/protobuf will delete this package,
Jun 12 09:01:59 ubuntu etcd[79585]:         which has long been excluded from the compatibility promise.
Jun 12 09:01:59 ubuntu etcd[79585]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 12 09:01:59 ubuntu etcd[79585]: Running http and grpc server on single port. This is not recommended for production.
Jun 12 09:01:59 ubuntu etcd[79585]: etcd Version: 3.4.27
Jun 12 09:01:59 ubuntu etcd[79585]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 12 09:01:59 ubuntu etcd[79585]: Git SHA: c92fb80f3
Jun 12 09:01:59 ubuntu etcd[79585]: Go Version: go1.19.10
Jun 12 09:01:59 ubuntu etcd[79585]: Go OS/Arch: linux/amd64
Jun 12 09:01:59 ubuntu etcd[79585]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 12 09:01:59 ubuntu etcd[79585]: Running http and grpc server on single port. This is not recommended for production.
Jun 12 09:01:59 ubuntu etcd[79585]: name = ubuntu
Jun 12 09:01:59 ubuntu etcd[79585]: data dir = /opt/stack/data/etcd
Jun 12 09:01:59 ubuntu etcd[79585]: member dir = /opt/stack/data/etcd/member
Jun 12 09:01:59 ubuntu etcd[79585]: heartbeat = 100ms
Jun 12 09:01:59 ubuntu etcd[79585]: election = 1000ms
Jun 12 09:01:59 ubuntu etcd[79585]: snapshot count = 100000
Jun 12 09:01:59 ubuntu etcd[79585]: advertise client URLs = http://10.201.5.82:2379
Jun 12 09:01:59 ubuntu etcd[79585]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 12 09:01:59 ubuntu etcd[79585]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jun 12 09:01:59 ubuntu etcd[79585]: raft2025/06/12 09:01:59 INFO: 43038365673ccf7b switched to configuration voters=()
Jun 12 09:01:59 ubuntu etcd[79585]: raft2025/06/12 09:01:59 INFO: 43038365673ccf7b became follower at term 0
Jun 12 09:01:59 ubuntu etcd[79585]: raft2025/06/12 09:01:59 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 12 09:01:59 ubuntu etcd[79585]: raft2025/06/12 09:01:59 INFO: 43038365673ccf7b became follower at term 1
Jun 12 09:01:59 ubuntu etcd[79585]: raft2025/06/12 09:01:59 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 12 09:01:59 ubuntu etcd[79585]: simple token is not cryptographically signed
Jun 12 09:01:59 ubuntu etcd[79585]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 12 09:01:59 ubuntu etcd[79585]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 12 09:01:59 ubuntu etcd[79585]: raft2025/06/12 09:01:59 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 12 09:01:59 ubuntu etcd[79585]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jun 12 09:01:59 ubuntu etcd[79585]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 12 09:01:59 ubuntu etcd[79585]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 12 09:01:59 ubuntu etcd[79585]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 12 09:01:59 ubuntu etcd[79585]: listening for peers on [::]:2380
Jun 12 09:02:00 ubuntu etcd[79585]: raft2025/06/12 09:02:00 INFO: 43038365673ccf7b is starting a new election at term 1
Jun 12 09:02:00 ubuntu etcd[79585]: raft2025/06/12 09:02:00 INFO: 43038365673ccf7b became candidate at term 2
Jun 12 09:02:00 ubuntu etcd[79585]: raft2025/06/12 09:02:00 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jun 12 09:02:00 ubuntu etcd[79585]: raft2025/06/12 09:02:00 INFO: 43038365673ccf7b became leader at term 2
Jun 12 09:02:00 ubuntu etcd[79585]: raft2025/06/12 09:02:00 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jun 12 09:02:00 ubuntu etcd[79585]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jun 12 09:02:00 ubuntu etcd[79585]: setting up the initial cluster version to 3.4
Jun 12 09:02:00 ubuntu etcd[79585]: ready to serve client requests
Jun 12 09:02:00 ubuntu etcd[79585]: set the initial cluster version to 3.4
Jun 12 09:02:00 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 12 09:02:00 ubuntu etcd[79585]: enabled capabilities for version 3.4
Jun 12 09:02:00 ubuntu etcd[79585]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jun 12 09:06:51 ubuntu etcd[79585]: start time = 2025-06-12 09:06:51.186851309 +0000 UTC m=+291.730666133, time spent = 2.204401ms, remote = 10.201.5.82:44420, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 12 09:06:51 ubuntu etcd[79585]: start time = 2025-06-12 09:06:51.193532827 +0000 UTC m=+291.737347670, time spent = 196.536µs, remote = 10.201.5.82:44420, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 12 09:06:58 ubuntu etcd[79585]: start time = 2025-06-12 09:06:58.315056376 +0000 UTC m=+298.858871217, time spent = 209.435µs, remote = 10.201.5.82:44420, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 12 09:07:00 ubuntu etcd[79585]: start time = 2025-06-12 09:07:00.301097815 +0000 UTC m=+300.844912650, time spent = 553.854µs, remote = 10.201.5.82:44420, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 12 09:10:22 ubuntu etcd[79585]: start time = 2025-06-12 09:10:22.282098599 +0000 UTC m=+502.825913540, time spent = 815.481µs, remote = 10.201.5.82:44420, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 12 09:10:22 ubuntu etcd[79585]: start time = 2025-06-12 09:10:22.33586848 +0000 UTC m=+502.879683419, time spent = 269.426µs, remote = 10.201.5.82:44420, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 12 09:10:23 ubuntu etcd[79585]: start time = 2025-06-12 09:10:23.001150328 +0000 UTC m=+503.544965169, time spent = 222.139µs, remote = 10.201.5.82:44420, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 12 09:10:25 ubuntu etcd[79585]: start time = 2025-06-12 09:10:25.553781096 +0000 UTC m=+506.097595942, time spent = 268.901µs, remote = 10.201.5.82:44420, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 12 09:12:10 ubuntu etcd[79585]: start time = 2025-06-12 09:12:10.629566523 +0000 UTC m=+611.173381347, time spent = 334.756µs, remote = 10.201.5.82:44420, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 12 09:12:10 ubuntu etcd[79585]: start time = 2025-06-12 09:12:10.637971338 +0000 UTC m=+611.181786260, time spent = 4.067182ms, remote = 10.201.5.82:44420, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-ac311e17-54d9-4ac3-b07a-90e9300231b1" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-ac311e17-54d9-4ac3-b07a-90e9300231b1" value_size:16 lease:5727337804198404121 >> failure:<request_range:<key:"/tooz/lockscinder-ac311e17-54d9-4ac3-b07a-90e9300231b1" > >
Jun 12 09:12:13 ubuntu etcd[79585]: start time = 2025-06-12 09:12:13.391007836 +0000 UTC m=+613.934822790, time spent = 1.010131ms, remote = 10.201.5.82:44420, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-ac311e17-54d9-4ac3-b07a-90e9300231b1" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-ac311e17-54d9-4ac3-b07a-90e9300231b1" > > failure:<>
Jun 12 09:12:13 ubuntu etcd[79585]: start time = 2025-06-12 09:12:13.641413858 +0000 UTC m=+614.185228697, time spent = 310.406µs, remote = 10.201.5.82:44420, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 12 09:12:13 ubuntu etcd[79585]: start time = 2025-06-12 09:12:13.643433511 +0000 UTC m=+614.187248344, time spent = 249.641µs, remote = 10.201.5.82:44420, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-ac311e17-54d9-4ac3-b07a-90e9300231b1" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-ac311e17-54d9-4ac3-b07a-90e9300231b1" value_size:16 lease:5727337804198404125 >> failure:<request_range:<key:"/tooz/lockscinder-ac311e17-54d9-4ac3-b07a-90e9300231b1" > >
Jun 12 09:12:15 ubuntu etcd[79585]: start time = 2025-06-12 09:12:15.506111742 +0000 UTC m=+616.049926682, time spent = 703.849µs, remote = 10.201.5.82:44420, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-ac311e17-54d9-4ac3-b07a-90e9300231b1" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-ac311e17-54d9-4ac3-b07a-90e9300231b1" > > failure:<>
Jun 12 09:12:15 ubuntu etcd[79585]: start time = 2025-06-12 09:12:15.773572793 +0000 UTC m=+616.317387744, time spent = 564.314µs, remote = 10.201.5.82:44420, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 12 09:12:15 ubuntu etcd[79585]: start time = 2025-06-12 09:12:15.777066199 +0000 UTC m=+616.320881039, time spent = 374.181µs, remote = 10.201.5.82:44420, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-ac311e17-54d9-4ac3-b07a-90e9300231b1" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-ac311e17-54d9-4ac3-b07a-90e9300231b1" value_size:16 lease:5727337804198404129 >> failure:<request_range:<key:"/tooz/lockscinder-ac311e17-54d9-4ac3-b07a-90e9300231b1" > >
Jun 12 09:12:17 ubuntu etcd[79585]: start time = 2025-06-12 09:12:17.743218679 +0000 UTC m=+618.287033565, time spent = 1.255727ms, remote = 10.201.5.82:44420, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-ac311e17-54d9-4ac3-b07a-90e9300231b1" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-ac311e17-54d9-4ac3-b07a-90e9300231b1" > > failure:<>
Jun 12 09:52:38 ubuntu etcd[79585]: start time = 2025-06-12 09:52:38.175699124 +0000 UTC m=+3038.719514008, time spent = 846.899µs, remote = 10.201.5.82:44420, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 12 09:52:38 ubuntu etcd[79585]: start time = 2025-06-12 09:52:38.180338864 +0000 UTC m=+3038.724153733, time spent = 566.744µs, remote = 10.201.5.82:44420, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-cc2f7a33-b5a3-46b6-af80-a7cd1194e21e" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-cc2f7a33-b5a3-46b6-af80-a7cd1194e21e" value_size:16 lease:5727337804198404136 >> failure:<request_range:<key:"/tooz/lockscinder-cc2f7a33-b5a3-46b6-af80-a7cd1194e21e" > >
Jun 12 09:52:40 ubuntu etcd[79585]: start time = 2025-06-12 09:52:40.118220037 +0000 UTC m=+3040.662034875, time spent = 314.847µs, remote = 10.201.5.82:44420, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-cc2f7a33-b5a3-46b6-af80-a7cd1194e21e" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-cc2f7a33-b5a3-46b6-af80-a7cd1194e21e" > > failure:<>
Jun 12 09:52:40 ubuntu etcd[79585]: start time = 2025-06-12 09:52:40.330993148 +0000 UTC m=+3040.874807988, time spent = 294.214µs, remote = 10.201.5.82:44420, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 12 09:52:40 ubuntu etcd[79585]: start time = 2025-06-12 09:52:40.334979088 +0000 UTC m=+3040.878793927, time spent = 199.471µs, remote = 10.201.5.82:44420, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-cc2f7a33-b5a3-46b6-af80-a7cd1194e21e" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-cc2f7a33-b5a3-46b6-af80-a7cd1194e21e" value_size:16 lease:5727337804198404140 >> failure:<request_range:<key:"/tooz/lockscinder-cc2f7a33-b5a3-46b6-af80-a7cd1194e21e" > >
Jun 12 09:52:41 ubuntu etcd[79585]: start time = 2025-06-12 09:52:41.744111727 +0000 UTC m=+3042.287926636, time spent = 282.597µs, remote = 10.201.5.82:44420, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-cc2f7a33-b5a3-46b6-af80-a7cd1194e21e" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-cc2f7a33-b5a3-46b6-af80-a7cd1194e21e" > > failure:<>
Jun 12 09:52:41 ubuntu etcd[79585]: start time = 2025-06-12 09:52:41.98322263 +0000 UTC m=+3042.527037468, time spent = 320.87µs, remote = 10.201.5.82:44420, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 12 09:52:41 ubuntu etcd[79585]: start time = 2025-06-12 09:52:41.985136387 +0000 UTC m=+3042.528951227, time spent = 210.836µs, remote = 10.201.5.82:44420, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-cc2f7a33-b5a3-46b6-af80-a7cd1194e21e" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-cc2f7a33-b5a3-46b6-af80-a7cd1194e21e" value_size:16 lease:5727337804198404144 >> failure:<request_range:<key:"/tooz/lockscinder-cc2f7a33-b5a3-46b6-af80-a7cd1194e21e" > >
Jun 12 09:52:43 ubuntu etcd[79585]: start time = 2025-06-12 09:52:43.210304995 +0000 UTC m=+3043.754119825, time spent = 450.539µs, remote = 10.201.5.82:44420, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-cc2f7a33-b5a3-46b6-af80-a7cd1194e21e" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-cc2f7a33-b5a3-46b6-af80-a7cd1194e21e" > > failure:<>
