Mar 27 23:40:21 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 27 23:40:21 ubuntu etcd[79220]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 27 23:40:21 ubuntu etcd[79220]:         A future release of golang/protobuf will delete this package,
Mar 27 23:40:21 ubuntu etcd[79220]:         which has long been excluded from the compatibility promise.
Mar 27 23:40:21 ubuntu etcd[79220]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 27 23:40:21 ubuntu etcd[79220]: Running http and grpc server on single port. This is not recommended for production.
Mar 27 23:40:21 ubuntu etcd[79220]: etcd Version: 3.4.27
Mar 27 23:40:21 ubuntu etcd[79220]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 27 23:40:21 ubuntu etcd[79220]: Git SHA: c92fb80f3
Mar 27 23:40:21 ubuntu etcd[79220]: Go Version: go1.19.10
Mar 27 23:40:21 ubuntu etcd[79220]: Go OS/Arch: linux/amd64
Mar 27 23:40:21 ubuntu etcd[79220]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 27 23:40:21 ubuntu etcd[79220]: Running http and grpc server on single port. This is not recommended for production.
Mar 27 23:40:21 ubuntu etcd[79220]: name = ubuntu
Mar 27 23:40:21 ubuntu etcd[79220]: data dir = /opt/stack/data/etcd
Mar 27 23:40:21 ubuntu etcd[79220]: member dir = /opt/stack/data/etcd/member
Mar 27 23:40:21 ubuntu etcd[79220]: heartbeat = 100ms
Mar 27 23:40:21 ubuntu etcd[79220]: election = 1000ms
Mar 27 23:40:21 ubuntu etcd[79220]: snapshot count = 100000
Mar 27 23:40:21 ubuntu etcd[79220]: advertise client URLs = http://10.201.5.82:2379
Mar 27 23:40:21 ubuntu etcd[79220]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 27 23:40:21 ubuntu etcd[79220]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Mar 27 23:40:21 ubuntu etcd[79220]: raft2025/03/27 23:40:21 INFO: 43038365673ccf7b switched to configuration voters=()
Mar 27 23:40:21 ubuntu etcd[79220]: raft2025/03/27 23:40:21 INFO: 43038365673ccf7b became follower at term 0
Mar 27 23:40:21 ubuntu etcd[79220]: raft2025/03/27 23:40:21 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 27 23:40:21 ubuntu etcd[79220]: raft2025/03/27 23:40:21 INFO: 43038365673ccf7b became follower at term 1
Mar 27 23:40:21 ubuntu etcd[79220]: raft2025/03/27 23:40:21 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 27 23:40:21 ubuntu etcd[79220]: simple token is not cryptographically signed
Mar 27 23:40:21 ubuntu etcd[79220]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 27 23:40:21 ubuntu etcd[79220]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 27 23:40:21 ubuntu etcd[79220]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 27 23:40:21 ubuntu etcd[79220]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 27 23:40:21 ubuntu etcd[79220]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 27 23:40:21 ubuntu etcd[79220]: raft2025/03/27 23:40:21 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 27 23:40:21 ubuntu etcd[79220]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Mar 27 23:40:21 ubuntu etcd[79220]: listening for peers on [::]:2380
Mar 27 23:40:22 ubuntu etcd[79220]: raft2025/03/27 23:40:22 INFO: 43038365673ccf7b is starting a new election at term 1
Mar 27 23:40:22 ubuntu etcd[79220]: raft2025/03/27 23:40:22 INFO: 43038365673ccf7b became candidate at term 2
Mar 27 23:40:22 ubuntu etcd[79220]: raft2025/03/27 23:40:22 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Mar 27 23:40:22 ubuntu etcd[79220]: raft2025/03/27 23:40:22 INFO: 43038365673ccf7b became leader at term 2
Mar 27 23:40:22 ubuntu etcd[79220]: raft2025/03/27 23:40:22 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Mar 27 23:40:22 ubuntu etcd[79220]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Mar 27 23:40:22 ubuntu etcd[79220]: setting up the initial cluster version to 3.4
Mar 27 23:40:22 ubuntu etcd[79220]: ready to serve client requests
Mar 27 23:40:22 ubuntu etcd[79220]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Mar 27 23:40:22 ubuntu etcd[79220]: set the initial cluster version to 3.4
Mar 27 23:40:22 ubuntu etcd[79220]: enabled capabilities for version 3.4
Mar 27 23:40:22 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 27 23:45:02 ubuntu etcd[79220]: start time = 2025-03-27 23:45:02.908856226 +0000 UTC m=+281.736331772, time spent = 690.977µs, remote = 10.201.5.82:42152, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 27 23:45:02 ubuntu etcd[79220]: start time = 2025-03-27 23:45:02.927692833 +0000 UTC m=+281.755168380, time spent = 268.587µs, remote = 10.201.5.82:42152, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 27 23:45:09 ubuntu etcd[79220]: start time = 2025-03-27 23:45:09.677875973 +0000 UTC m=+288.505351548, time spent = 281.331µs, remote = 10.201.5.82:42152, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 27 23:45:11 ubuntu etcd[79220]: start time = 2025-03-27 23:45:11.848796614 +0000 UTC m=+290.676272161, time spent = 380.482µs, remote = 10.201.5.82:42152, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
