Aug 08 03:29:14 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Aug 08 03:29:14 ubuntu etcd[67163]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Aug 08 03:29:14 ubuntu etcd[67163]:         A future release of golang/protobuf will delete this package,
Aug 08 03:29:14 ubuntu etcd[67163]:         which has long been excluded from the compatibility promise.
Aug 08 03:29:14 ubuntu etcd[67163]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Aug 08 03:29:14 ubuntu etcd[67163]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Aug 08 03:29:14 ubuntu etcd[67163]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 08 03:29:14 ubuntu etcd[67163]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Aug 08 03:29:14 ubuntu etcd[67163]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Aug 08 03:29:14 ubuntu etcd[67163]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 08 03:29:14 ubuntu etcd[67163]: Running http and grpc server on single port. This is not recommended for production.
Aug 08 03:29:14 ubuntu etcd[67163]: etcd Version: 3.4.27
Aug 08 03:29:14 ubuntu etcd[67163]: Git SHA: c92fb80f3
Aug 08 03:29:14 ubuntu etcd[67163]: Go Version: go1.19.10
Aug 08 03:29:14 ubuntu etcd[67163]: Go OS/Arch: linux/amd64
Aug 08 03:29:14 ubuntu etcd[67163]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Aug 08 03:29:14 ubuntu etcd[67163]: Running http and grpc server on single port. This is not recommended for production.
Aug 08 03:29:14 ubuntu etcd[67163]: name = ubuntu
Aug 08 03:29:14 ubuntu etcd[67163]: data dir = /opt/stack/data/etcd
Aug 08 03:29:14 ubuntu etcd[67163]: member dir = /opt/stack/data/etcd/member
Aug 08 03:29:14 ubuntu etcd[67163]: heartbeat = 100ms
Aug 08 03:29:14 ubuntu etcd[67163]: election = 1000ms
Aug 08 03:29:14 ubuntu etcd[67163]: snapshot count = 100000
Aug 08 03:29:14 ubuntu etcd[67163]: advertise client URLs = http://10.201.5.82:2379
Aug 08 03:29:14 ubuntu etcd[67163]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Aug 08 03:29:14 ubuntu etcd[67163]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Aug 08 03:29:14 ubuntu etcd[67163]: raft2024/08/08 03:29:14 INFO: 43038365673ccf7b switched to configuration voters=()
Aug 08 03:29:14 ubuntu etcd[67163]: raft2024/08/08 03:29:14 INFO: 43038365673ccf7b became follower at term 0
Aug 08 03:29:14 ubuntu etcd[67163]: raft2024/08/08 03:29:14 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Aug 08 03:29:14 ubuntu etcd[67163]: raft2024/08/08 03:29:14 INFO: 43038365673ccf7b became follower at term 1
Aug 08 03:29:14 ubuntu etcd[67163]: raft2024/08/08 03:29:14 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Aug 08 03:29:14 ubuntu etcd[67163]: simple token is not cryptographically signed
Aug 08 03:29:14 ubuntu etcd[67163]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Aug 08 03:29:14 ubuntu etcd[67163]: raft2024/08/08 03:29:14 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Aug 08 03:29:14 ubuntu etcd[67163]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Aug 08 03:29:14 ubuntu etcd[67163]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Aug 08 03:29:14 ubuntu etcd[67163]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Aug 08 03:29:14 ubuntu etcd[67163]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Aug 08 03:29:14 ubuntu etcd[67163]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Aug 08 03:29:14 ubuntu etcd[67163]: listening for peers on [::]:2380
Aug 08 03:29:14 ubuntu etcd[67163]: raft2024/08/08 03:29:14 INFO: 43038365673ccf7b is starting a new election at term 1
Aug 08 03:29:14 ubuntu etcd[67163]: raft2024/08/08 03:29:14 INFO: 43038365673ccf7b became candidate at term 2
Aug 08 03:29:14 ubuntu etcd[67163]: raft2024/08/08 03:29:14 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Aug 08 03:29:14 ubuntu etcd[67163]: raft2024/08/08 03:29:14 INFO: 43038365673ccf7b became leader at term 2
Aug 08 03:29:14 ubuntu etcd[67163]: raft2024/08/08 03:29:14 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Aug 08 03:29:14 ubuntu etcd[67163]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Aug 08 03:29:14 ubuntu etcd[67163]: ready to serve client requests
Aug 08 03:29:14 ubuntu etcd[67163]: INFO: 2024/08/08 03:29:14 parsed scheme: ""
Aug 08 03:29:14 ubuntu etcd[67163]: INFO: 2024/08/08 03:29:14 scheme "" not registered, fallback to default scheme
Aug 08 03:29:14 ubuntu etcd[67163]: setting up the initial cluster version to 3.4
Aug 08 03:29:14 ubuntu etcd[67163]: INFO: 2024/08/08 03:29:14 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Aug 08 03:29:14 ubuntu etcd[67163]: INFO: 2024/08/08 03:29:14 ClientConn switching balancer to "pick_first"
Aug 08 03:29:14 ubuntu etcd[67163]: set the initial cluster version to 3.4
Aug 08 03:29:14 ubuntu etcd[67163]: enabled capabilities for version 3.4
Aug 08 03:29:14 ubuntu etcd[67163]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Aug 08 03:29:14 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Aug 08 03:34:23 ubuntu etcd[67163]: start time = 2024-08-08 03:34:23.829319764 +0000 UTC m=+309.228058265, time spent = 1.651378ms, remote = 10.201.5.82:51952, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 08 03:34:23 ubuntu etcd[67163]: start time = 2024-08-08 03:34:23.855360309 +0000 UTC m=+309.254098811, time spent = 237.694µs, remote = 10.201.5.82:51952, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 08 03:34:30 ubuntu etcd[67163]: start time = 2024-08-08 03:34:30.84847401 +0000 UTC m=+316.247212521, time spent = 260.887µs, remote = 10.201.5.82:51952, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 08 03:34:33 ubuntu etcd[67163]: start time = 2024-08-08 03:34:33.143341859 +0000 UTC m=+318.542080370, time spent = 326.036µs, remote = 10.201.5.82:51952, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 08 03:37:35 ubuntu etcd[67163]: start time = 2024-08-08 03:37:35.555526271 +0000 UTC m=+500.954264783, time spent = 544.885µs, remote = 10.201.5.82:51952, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 08 03:37:35 ubuntu etcd[67163]: start time = 2024-08-08 03:37:35.73303979 +0000 UTC m=+501.131778291, time spent = 214.452µs, remote = 10.201.5.82:51952, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 08 03:37:35 ubuntu etcd[67163]: start time = 2024-08-08 03:37:35.782381009 +0000 UTC m=+501.181119599, time spent = 315.794µs, remote = 10.201.5.82:51952, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 08 03:37:38 ubuntu etcd[67163]: start time = 2024-08-08 03:37:38.305072925 +0000 UTC m=+503.703811524, time spent = 553.349µs, remote = 10.201.5.82:51952, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
