Jan 20 09:14:04 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jan 20 09:14:04 ubuntu etcd[67678]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jan 20 09:14:04 ubuntu etcd[67678]:         A future release of golang/protobuf will delete this package,
Jan 20 09:14:04 ubuntu etcd[67678]:         which has long been excluded from the compatibility promise.
Jan 20 09:14:04 ubuntu etcd[67678]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 20 09:14:04 ubuntu etcd[67678]: Running http and grpc server on single port. This is not recommended for production.
Jan 20 09:14:04 ubuntu etcd[67678]: etcd Version: 3.4.27
Jan 20 09:14:04 ubuntu etcd[67678]: Git SHA: c92fb80f3
Jan 20 09:14:04 ubuntu etcd[67678]: Go Version: go1.19.10
Jan 20 09:14:04 ubuntu etcd[67678]: Go OS/Arch: linux/amd64
Jan 20 09:14:04 ubuntu etcd[67678]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jan 20 09:14:04 ubuntu etcd[67678]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 20 09:14:04 ubuntu etcd[67678]: Running http and grpc server on single port. This is not recommended for production.
Jan 20 09:14:04 ubuntu etcd[67678]: name = ubuntu
Jan 20 09:14:04 ubuntu etcd[67678]: data dir = /opt/stack/data/etcd
Jan 20 09:14:04 ubuntu etcd[67678]: member dir = /opt/stack/data/etcd/member
Jan 20 09:14:04 ubuntu etcd[67678]: heartbeat = 100ms
Jan 20 09:14:04 ubuntu etcd[67678]: election = 1000ms
Jan 20 09:14:04 ubuntu etcd[67678]: snapshot count = 100000
Jan 20 09:14:04 ubuntu etcd[67678]: advertise client URLs = http://10.201.5.82:2379
Jan 20 09:14:04 ubuntu etcd[67678]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jan 20 09:14:04 ubuntu etcd[67678]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jan 20 09:14:04 ubuntu etcd[67678]: raft2025/01/20 09:14:04 INFO: 43038365673ccf7b switched to configuration voters=()
Jan 20 09:14:04 ubuntu etcd[67678]: raft2025/01/20 09:14:04 INFO: 43038365673ccf7b became follower at term 0
Jan 20 09:14:04 ubuntu etcd[67678]: raft2025/01/20 09:14:04 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jan 20 09:14:04 ubuntu etcd[67678]: raft2025/01/20 09:14:04 INFO: 43038365673ccf7b became follower at term 1
Jan 20 09:14:04 ubuntu etcd[67678]: raft2025/01/20 09:14:04 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jan 20 09:14:04 ubuntu etcd[67678]: simple token is not cryptographically signed
Jan 20 09:14:04 ubuntu etcd[67678]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jan 20 09:14:04 ubuntu etcd[67678]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jan 20 09:14:04 ubuntu etcd[67678]: raft2025/01/20 09:14:04 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jan 20 09:14:04 ubuntu etcd[67678]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jan 20 09:14:04 ubuntu etcd[67678]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jan 20 09:14:04 ubuntu etcd[67678]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jan 20 09:14:04 ubuntu etcd[67678]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jan 20 09:14:04 ubuntu etcd[67678]: listening for peers on [::]:2380
Jan 20 09:14:05 ubuntu etcd[67678]: raft2025/01/20 09:14:05 INFO: 43038365673ccf7b is starting a new election at term 1
Jan 20 09:14:05 ubuntu etcd[67678]: raft2025/01/20 09:14:05 INFO: 43038365673ccf7b became candidate at term 2
Jan 20 09:14:05 ubuntu etcd[67678]: raft2025/01/20 09:14:05 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jan 20 09:14:05 ubuntu etcd[67678]: raft2025/01/20 09:14:05 INFO: 43038365673ccf7b became leader at term 2
Jan 20 09:14:05 ubuntu etcd[67678]: raft2025/01/20 09:14:05 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jan 20 09:14:05 ubuntu etcd[67678]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jan 20 09:14:05 ubuntu etcd[67678]: setting up the initial cluster version to 3.4
Jan 20 09:14:05 ubuntu etcd[67678]: ready to serve client requests
Jan 20 09:14:05 ubuntu etcd[67678]: set the initial cluster version to 3.4
Jan 20 09:14:05 ubuntu etcd[67678]: enabled capabilities for version 3.4
Jan 20 09:14:05 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jan 20 09:14:05 ubuntu etcd[67678]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jan 20 09:19:10 ubuntu etcd[67678]: start time = 2025-01-20 09:19:10.74987182 +0000 UTC m=+306.228438259, time spent = 1.723832ms, remote = 10.201.5.82:33136, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 20 09:19:10 ubuntu etcd[67678]: start time = 2025-01-20 09:19:10.766767782 +0000 UTC m=+306.245334238, time spent = 308.62µs, remote = 10.201.5.82:33136, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 20 09:19:17 ubuntu etcd[67678]: start time = 2025-01-20 09:19:17.66061418 +0000 UTC m=+313.139180636, time spent = 180.6µs, remote = 10.201.5.82:33136, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 20 09:19:19 ubuntu etcd[67678]: start time = 2025-01-20 09:19:19.546804095 +0000 UTC m=+315.025370547, time spent = 207.833µs, remote = 10.201.5.82:33136, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
