Aug 12 23:17:32 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Aug 12 23:17:32 ubuntu etcd[79201]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Aug 12 23:17:32 ubuntu etcd[79201]:         A future release of golang/protobuf will delete this package,
Aug 12 23:17:32 ubuntu etcd[79201]:         which has long been excluded from the compatibility promise.
Aug 12 23:17:32 ubuntu etcd[79201]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 12 23:17:32 ubuntu etcd[79201]: Running http and grpc server on single port. This is not recommended for production.
Aug 12 23:17:32 ubuntu etcd[79201]: etcd Version: 3.4.27
Aug 12 23:17:32 ubuntu etcd[79201]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 12 23:17:32 ubuntu etcd[79201]: Git SHA: c92fb80f3
Aug 12 23:17:32 ubuntu etcd[79201]: Go Version: go1.19.10
Aug 12 23:17:32 ubuntu etcd[79201]: Go OS/Arch: linux/amd64
Aug 12 23:17:32 ubuntu etcd[79201]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Aug 12 23:17:32 ubuntu etcd[79201]: Running http and grpc server on single port. This is not recommended for production.
Aug 12 23:17:32 ubuntu etcd[79201]: name = ubuntu
Aug 12 23:17:32 ubuntu etcd[79201]: data dir = /opt/stack/data/etcd
Aug 12 23:17:32 ubuntu etcd[79201]: member dir = /opt/stack/data/etcd/member
Aug 12 23:17:32 ubuntu etcd[79201]: heartbeat = 100ms
Aug 12 23:17:32 ubuntu etcd[79201]: election = 1000ms
Aug 12 23:17:32 ubuntu etcd[79201]: snapshot count = 100000
Aug 12 23:17:32 ubuntu etcd[79201]: advertise client URLs = http://10.201.5.82:2379
Aug 12 23:17:32 ubuntu etcd[79201]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Aug 12 23:17:32 ubuntu etcd[79201]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Aug 12 23:17:32 ubuntu etcd[79201]: raft2025/08/12 23:17:32 INFO: 43038365673ccf7b switched to configuration voters=()
Aug 12 23:17:32 ubuntu etcd[79201]: raft2025/08/12 23:17:32 INFO: 43038365673ccf7b became follower at term 0
Aug 12 23:17:32 ubuntu etcd[79201]: raft2025/08/12 23:17:32 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Aug 12 23:17:32 ubuntu etcd[79201]: raft2025/08/12 23:17:32 INFO: 43038365673ccf7b became follower at term 1
Aug 12 23:17:32 ubuntu etcd[79201]: raft2025/08/12 23:17:32 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Aug 12 23:17:32 ubuntu etcd[79201]: simple token is not cryptographically signed
Aug 12 23:17:32 ubuntu etcd[79201]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Aug 12 23:17:32 ubuntu etcd[79201]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Aug 12 23:17:32 ubuntu etcd[79201]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Aug 12 23:17:32 ubuntu etcd[79201]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Aug 12 23:17:32 ubuntu etcd[79201]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Aug 12 23:17:32 ubuntu etcd[79201]: raft2025/08/12 23:17:32 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Aug 12 23:17:32 ubuntu etcd[79201]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Aug 12 23:17:32 ubuntu etcd[79201]: listening for peers on [::]:2380
Aug 12 23:17:33 ubuntu etcd[79201]: raft2025/08/12 23:17:33 INFO: 43038365673ccf7b is starting a new election at term 1
Aug 12 23:17:33 ubuntu etcd[79201]: raft2025/08/12 23:17:33 INFO: 43038365673ccf7b became candidate at term 2
Aug 12 23:17:33 ubuntu etcd[79201]: raft2025/08/12 23:17:33 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Aug 12 23:17:33 ubuntu etcd[79201]: raft2025/08/12 23:17:33 INFO: 43038365673ccf7b became leader at term 2
Aug 12 23:17:33 ubuntu etcd[79201]: raft2025/08/12 23:17:33 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Aug 12 23:17:33 ubuntu etcd[79201]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Aug 12 23:17:33 ubuntu etcd[79201]: setting up the initial cluster version to 3.4
Aug 12 23:17:33 ubuntu etcd[79201]: ready to serve client requests
Aug 12 23:17:33 ubuntu etcd[79201]: set the initial cluster version to 3.4
Aug 12 23:17:33 ubuntu etcd[79201]: enabled capabilities for version 3.4
Aug 12 23:17:33 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Aug 12 23:17:33 ubuntu etcd[79201]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Aug 12 23:22:09 ubuntu etcd[79201]: start time = 2025-08-12 23:22:09.298937816 +0000 UTC m=+276.825141637, time spent = 2.93248ms, remote = 10.201.5.82:50788, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 12 23:22:09 ubuntu etcd[79201]: start time = 2025-08-12 23:22:09.383464054 +0000 UTC m=+276.909667877, time spent = 272.266µs, remote = 10.201.5.82:50788, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 12 23:22:16 ubuntu etcd[79201]: start time = 2025-08-12 23:22:16.288906453 +0000 UTC m=+283.815110285, time spent = 225.432µs, remote = 10.201.5.82:50788, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 12 23:22:18 ubuntu etcd[79201]: start time = 2025-08-12 23:22:18.292319851 +0000 UTC m=+285.818523672, time spent = 348.712µs, remote = 10.201.5.82:50788, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 12 23:25:24 ubuntu etcd[79201]: start time = 2025-08-12 23:25:24.113591702 +0000 UTC m=+471.639795519, time spent = 448.97µs, remote = 10.201.5.82:50788, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 12 23:25:24 ubuntu etcd[79201]: start time = 2025-08-12 23:25:24.184637869 +0000 UTC m=+471.710841694, time spent = 217.023µs, remote = 10.201.5.82:50788, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 12 23:25:25 ubuntu etcd[79201]: start time = 2025-08-12 23:25:25.925199851 +0000 UTC m=+473.451403671, time spent = 365.618µs, remote = 10.201.5.82:50788, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 12 23:25:28 ubuntu etcd[79201]: start time = 2025-08-12 23:25:28.41204424 +0000 UTC m=+475.938248172, time spent = 350.91µs, remote = 10.201.5.82:50788, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 12 23:32:11 ubuntu etcd[79201]: start time = 2025-08-12 23:32:11.069665243 +0000 UTC m=+878.595869049, time spent = 508.724µs, remote = 10.201.5.82:50788, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 12 23:32:11 ubuntu etcd[79201]: start time = 2025-08-12 23:32:11.083017173 +0000 UTC m=+878.609220990, time spent = 7.104307ms, remote = 10.201.5.82:50788, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-897c9f99-7262-4bf8-b0f6-3272b62e6442" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-897c9f99-7262-4bf8-b0f6-3272b62e6442" value_size:16 lease:5727339166562052121 >> failure:<request_range:<key:"/tooz/lockscinder-897c9f99-7262-4bf8-b0f6-3272b62e6442" > >
Aug 12 23:32:14 ubuntu etcd[79201]: start time = 2025-08-12 23:32:14.67228846 +0000 UTC m=+882.198492369, time spent = 501.971µs, remote = 10.201.5.82:50788, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-897c9f99-7262-4bf8-b0f6-3272b62e6442" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-897c9f99-7262-4bf8-b0f6-3272b62e6442" > > failure:<>
Aug 12 23:32:14 ubuntu etcd[79201]: start time = 2025-08-12 23:32:14.926384267 +0000 UTC m=+882.452588084, time spent = 275.206µs, remote = 10.201.5.82:50788, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 12 23:32:14 ubuntu etcd[79201]: start time = 2025-08-12 23:32:14.930339889 +0000 UTC m=+882.456543722, time spent = 361.619µs, remote = 10.201.5.82:50788, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-897c9f99-7262-4bf8-b0f6-3272b62e6442" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-897c9f99-7262-4bf8-b0f6-3272b62e6442" value_size:16 lease:5727339166562052125 >> failure:<request_range:<key:"/tooz/lockscinder-897c9f99-7262-4bf8-b0f6-3272b62e6442" > >
Aug 12 23:32:16 ubuntu etcd[79201]: start time = 2025-08-12 23:32:16.726945638 +0000 UTC m=+884.253149553, time spent = 673.783µs, remote = 10.201.5.82:50788, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-897c9f99-7262-4bf8-b0f6-3272b62e6442" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-897c9f99-7262-4bf8-b0f6-3272b62e6442" > > failure:<>
Aug 12 23:32:16 ubuntu etcd[79201]: start time = 2025-08-12 23:32:16.976148807 +0000 UTC m=+884.502352657, time spent = 419.784µs, remote = 10.201.5.82:50788, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 12 23:32:16 ubuntu etcd[79201]: start time = 2025-08-12 23:32:16.978683759 +0000 UTC m=+884.504887579, time spent = 245.383µs, remote = 10.201.5.82:50788, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-897c9f99-7262-4bf8-b0f6-3272b62e6442" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-897c9f99-7262-4bf8-b0f6-3272b62e6442" value_size:16 lease:5727339166562052129 >> failure:<request_range:<key:"/tooz/lockscinder-897c9f99-7262-4bf8-b0f6-3272b62e6442" > >
Aug 12 23:32:18 ubuntu etcd[79201]: start time = 2025-08-12 23:32:18.738747768 +0000 UTC m=+886.264951583, time spent = 1.388645ms, remote = 10.201.5.82:50788, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-897c9f99-7262-4bf8-b0f6-3272b62e6442" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-897c9f99-7262-4bf8-b0f6-3272b62e6442" > > failure:<>
