Dec 26 15:43:00 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 26 15:43:00 ubuntu etcd[67536]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 26 15:43:00 ubuntu etcd[67536]:         A future release of golang/protobuf will delete this package,
Dec 26 15:43:00 ubuntu etcd[67536]:         which has long been excluded from the compatibility promise.
Dec 26 15:43:00 ubuntu etcd[67536]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 26 15:43:00 ubuntu etcd[67536]: Running http and grpc server on single port. This is not recommended for production.
Dec 26 15:43:00 ubuntu etcd[67536]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 26 15:43:00 ubuntu etcd[67536]: etcd Version: 3.4.27
Dec 26 15:43:00 ubuntu etcd[67536]: Git SHA: c92fb80f3
Dec 26 15:43:00 ubuntu etcd[67536]: Go Version: go1.19.10
Dec 26 15:43:00 ubuntu etcd[67536]: Go OS/Arch: linux/amd64
Dec 26 15:43:00 ubuntu etcd[67536]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 26 15:43:00 ubuntu etcd[67536]: Running http and grpc server on single port. This is not recommended for production.
Dec 26 15:43:00 ubuntu etcd[67536]: name = ubuntu
Dec 26 15:43:00 ubuntu etcd[67536]: data dir = /opt/stack/data/etcd
Dec 26 15:43:00 ubuntu etcd[67536]: member dir = /opt/stack/data/etcd/member
Dec 26 15:43:00 ubuntu etcd[67536]: heartbeat = 100ms
Dec 26 15:43:00 ubuntu etcd[67536]: election = 1000ms
Dec 26 15:43:00 ubuntu etcd[67536]: snapshot count = 100000
Dec 26 15:43:00 ubuntu etcd[67536]: advertise client URLs = http://10.201.5.82:2379
Dec 26 15:43:00 ubuntu etcd[67536]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Dec 26 15:43:00 ubuntu etcd[67536]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Dec 26 15:43:00 ubuntu etcd[67536]: raft2024/12/26 15:43:00 INFO: 43038365673ccf7b switched to configuration voters=()
Dec 26 15:43:00 ubuntu etcd[67536]: raft2024/12/26 15:43:00 INFO: 43038365673ccf7b became follower at term 0
Dec 26 15:43:00 ubuntu etcd[67536]: raft2024/12/26 15:43:00 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Dec 26 15:43:00 ubuntu etcd[67536]: raft2024/12/26 15:43:00 INFO: 43038365673ccf7b became follower at term 1
Dec 26 15:43:00 ubuntu etcd[67536]: raft2024/12/26 15:43:00 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Dec 26 15:43:00 ubuntu etcd[67536]: simple token is not cryptographically signed
Dec 26 15:43:00 ubuntu etcd[67536]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Dec 26 15:43:00 ubuntu etcd[67536]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Dec 26 15:43:00 ubuntu etcd[67536]: raft2024/12/26 15:43:00 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Dec 26 15:43:00 ubuntu etcd[67536]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Dec 26 15:43:00 ubuntu etcd[67536]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Dec 26 15:43:00 ubuntu etcd[67536]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Dec 26 15:43:00 ubuntu etcd[67536]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Dec 26 15:43:00 ubuntu etcd[67536]: listening for peers on [::]:2380
Dec 26 15:43:00 ubuntu etcd[67536]: raft2024/12/26 15:43:00 INFO: 43038365673ccf7b is starting a new election at term 1
Dec 26 15:43:00 ubuntu etcd[67536]: raft2024/12/26 15:43:00 INFO: 43038365673ccf7b became candidate at term 2
Dec 26 15:43:00 ubuntu etcd[67536]: raft2024/12/26 15:43:00 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Dec 26 15:43:00 ubuntu etcd[67536]: raft2024/12/26 15:43:00 INFO: 43038365673ccf7b became leader at term 2
Dec 26 15:43:00 ubuntu etcd[67536]: raft2024/12/26 15:43:00 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Dec 26 15:43:00 ubuntu etcd[67536]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Dec 26 15:43:00 ubuntu etcd[67536]: setting up the initial cluster version to 3.4
Dec 26 15:43:00 ubuntu etcd[67536]: ready to serve client requests
Dec 26 15:43:00 ubuntu etcd[67536]: set the initial cluster version to 3.4
Dec 26 15:43:00 ubuntu etcd[67536]: enabled capabilities for version 3.4
Dec 26 15:43:00 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Dec 26 15:43:00 ubuntu etcd[67536]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Dec 26 15:48:08 ubuntu etcd[67536]: start time = 2024-12-26 15:48:08.824736293 +0000 UTC m=+308.434019092, time spent = 643.075µs, remote = 10.201.5.82:60056, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 26 15:48:08 ubuntu etcd[67536]: start time = 2024-12-26 15:48:08.834112527 +0000 UTC m=+308.443395334, time spent = 140.716µs, remote = 10.201.5.82:60056, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 26 15:48:15 ubuntu etcd[67536]: start time = 2024-12-26 15:48:15.615364445 +0000 UTC m=+315.224647260, time spent = 203.713µs, remote = 10.201.5.82:60056, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 26 15:48:17 ubuntu etcd[67536]: start time = 2024-12-26 15:48:17.595924793 +0000 UTC m=+317.205207602, time spent = 221.289µs, remote = 10.201.5.82:60056, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 26 15:51:28 ubuntu etcd[67536]: start time = 2024-12-26 15:51:28.279122017 +0000 UTC m=+507.888404825, time spent = 359.64µs, remote = 10.201.5.82:60056, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 26 15:51:28 ubuntu etcd[67536]: start time = 2024-12-26 15:51:28.285413419 +0000 UTC m=+507.894696218, time spent = 123.072µs, remote = 10.201.5.82:60056, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 26 15:51:30 ubuntu etcd[67536]: start time = 2024-12-26 15:51:30.136172725 +0000 UTC m=+509.745455540, time spent = 263.211µs, remote = 10.201.5.82:60056, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 26 15:51:32 ubuntu etcd[67536]: start time = 2024-12-26 15:51:32.656085006 +0000 UTC m=+512.265367902, time spent = 410.473µs, remote = 10.201.5.82:60056, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 26 15:53:23 ubuntu etcd[67536]: start time = 2024-12-26 15:53:23.222916051 +0000 UTC m=+622.832198864, time spent = 263.193µs, remote = 10.201.5.82:60056, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 26 15:53:23 ubuntu etcd[67536]: start time = 2024-12-26 15:53:23.225548992 +0000 UTC m=+622.834831791, time spent = 501.845µs, remote = 10.201.5.82:60056, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-29c49f40-cee6-41ea-a856-9d7bebc25ab9" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-29c49f40-cee6-41ea-a856-9d7bebc25ab9" value_size:16 lease:5727334094466799129 >> failure:<request_range:<key:"/tooz/lockscinder-29c49f40-cee6-41ea-a856-9d7bebc25ab9" > >
Dec 26 15:53:25 ubuntu etcd[67536]: start time = 2024-12-26 15:53:25.866820151 +0000 UTC m=+625.476103008, time spent = 518.204µs, remote = 10.201.5.82:60056, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-29c49f40-cee6-41ea-a856-9d7bebc25ab9" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-29c49f40-cee6-41ea-a856-9d7bebc25ab9" > > failure:<>
Dec 26 15:53:26 ubuntu etcd[67536]: start time = 2024-12-26 15:53:26.11209173 +0000 UTC m=+625.721374548, time spent = 289.022µs, remote = 10.201.5.82:60056, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 26 15:53:26 ubuntu etcd[67536]: start time = 2024-12-26 15:53:26.117556665 +0000 UTC m=+625.726839570, time spent = 401.055µs, remote = 10.201.5.82:60056, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-29c49f40-cee6-41ea-a856-9d7bebc25ab9" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-29c49f40-cee6-41ea-a856-9d7bebc25ab9" value_size:16 lease:5727334094466799133 >> failure:<request_range:<key:"/tooz/lockscinder-29c49f40-cee6-41ea-a856-9d7bebc25ab9" > >
Dec 26 15:53:26 ubuntu etcd[67536]: start time = 2024-12-26 15:53:26.901989896 +0000 UTC m=+626.511272704, time spent = 298.895µs, remote = 10.201.5.82:60056, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-29c49f40-cee6-41ea-a856-9d7bebc25ab9" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-29c49f40-cee6-41ea-a856-9d7bebc25ab9" > > failure:<>
Dec 26 15:53:27 ubuntu etcd[67536]: start time = 2024-12-26 15:53:27.137797656 +0000 UTC m=+626.747080552, time spent = 756.911µs, remote = 10.201.5.82:60056, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 26 15:53:27 ubuntu etcd[67536]: start time = 2024-12-26 15:53:27.140744468 +0000 UTC m=+626.750027375, time spent = 458.834µs, remote = 10.201.5.82:60056, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-29c49f40-cee6-41ea-a856-9d7bebc25ab9" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-29c49f40-cee6-41ea-a856-9d7bebc25ab9" value_size:16 lease:5727334094466799137 >> failure:<request_range:<key:"/tooz/lockscinder-29c49f40-cee6-41ea-a856-9d7bebc25ab9" > >
Dec 26 15:53:27 ubuntu etcd[67536]: start time = 2024-12-26 15:53:27.925786113 +0000 UTC m=+627.535068960, time spent = 349.331µs, remote = 10.201.5.82:60056, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-29c49f40-cee6-41ea-a856-9d7bebc25ab9" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-29c49f40-cee6-41ea-a856-9d7bebc25ab9" > > failure:<>
