May 26 16:03:06 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 26 16:03:06 ubuntu etcd[79607]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 26 16:03:06 ubuntu etcd[79607]:         A future release of golang/protobuf will delete this package,
May 26 16:03:06 ubuntu etcd[79607]:         which has long been excluded from the compatibility promise.
May 26 16:03:06 ubuntu etcd[79607]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 26 16:03:06 ubuntu etcd[79607]: Running http and grpc server on single port. This is not recommended for production.
May 26 16:03:06 ubuntu etcd[79607]: etcd Version: 3.4.27
May 26 16:03:06 ubuntu etcd[79607]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 26 16:03:06 ubuntu etcd[79607]: Git SHA: c92fb80f3
May 26 16:03:06 ubuntu etcd[79607]: Go Version: go1.19.10
May 26 16:03:06 ubuntu etcd[79607]: Go OS/Arch: linux/amd64
May 26 16:03:06 ubuntu etcd[79607]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 26 16:03:06 ubuntu etcd[79607]: Running http and grpc server on single port. This is not recommended for production.
May 26 16:03:06 ubuntu etcd[79607]: name = ubuntu
May 26 16:03:06 ubuntu etcd[79607]: data dir = /opt/stack/data/etcd
May 26 16:03:06 ubuntu etcd[79607]: member dir = /opt/stack/data/etcd/member
May 26 16:03:06 ubuntu etcd[79607]: heartbeat = 100ms
May 26 16:03:06 ubuntu etcd[79607]: election = 1000ms
May 26 16:03:06 ubuntu etcd[79607]: snapshot count = 100000
May 26 16:03:06 ubuntu etcd[79607]: advertise client URLs = http://10.201.5.82:2379
May 26 16:03:06 ubuntu etcd[79607]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 26 16:03:06 ubuntu etcd[79607]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
May 26 16:03:06 ubuntu etcd[79607]: raft2025/05/26 16:03:06 INFO: 43038365673ccf7b switched to configuration voters=()
May 26 16:03:06 ubuntu etcd[79607]: raft2025/05/26 16:03:06 INFO: 43038365673ccf7b became follower at term 0
May 26 16:03:06 ubuntu etcd[79607]: raft2025/05/26 16:03:06 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 26 16:03:06 ubuntu etcd[79607]: raft2025/05/26 16:03:06 INFO: 43038365673ccf7b became follower at term 1
May 26 16:03:06 ubuntu etcd[79607]: raft2025/05/26 16:03:06 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
May 26 16:03:06 ubuntu etcd[79607]: simple token is not cryptographically signed
May 26 16:03:06 ubuntu etcd[79607]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 26 16:03:06 ubuntu etcd[79607]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 26 16:03:06 ubuntu etcd[79607]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 26 16:03:06 ubuntu etcd[79607]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 26 16:03:06 ubuntu etcd[79607]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
May 26 16:03:06 ubuntu etcd[79607]: raft2025/05/26 16:03:06 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
May 26 16:03:06 ubuntu etcd[79607]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
May 26 16:03:06 ubuntu etcd[79607]: listening for peers on [::]:2380
May 26 16:03:06 ubuntu etcd[79607]: raft2025/05/26 16:03:06 INFO: 43038365673ccf7b is starting a new election at term 1
May 26 16:03:06 ubuntu etcd[79607]: raft2025/05/26 16:03:06 INFO: 43038365673ccf7b became candidate at term 2
May 26 16:03:06 ubuntu etcd[79607]: raft2025/05/26 16:03:06 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
May 26 16:03:06 ubuntu etcd[79607]: raft2025/05/26 16:03:06 INFO: 43038365673ccf7b became leader at term 2
May 26 16:03:06 ubuntu etcd[79607]: raft2025/05/26 16:03:06 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
May 26 16:03:06 ubuntu etcd[79607]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
May 26 16:03:06 ubuntu etcd[79607]: setting up the initial cluster version to 3.4
May 26 16:03:06 ubuntu etcd[79607]: ready to serve client requests
May 26 16:03:06 ubuntu etcd[79607]: set the initial cluster version to 3.4
May 26 16:03:06 ubuntu etcd[79607]: enabled capabilities for version 3.4
May 26 16:03:06 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 26 16:03:06 ubuntu etcd[79607]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
May 26 16:07:47 ubuntu etcd[79607]: start time = 2025-05-26 16:07:47.711640479 +0000 UTC m=+281.228397708, time spent = 455.969µs, remote = 10.201.5.82:43920, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 26 16:07:47 ubuntu etcd[79607]: start time = 2025-05-26 16:07:47.710250573 +0000 UTC m=+281.227007784, time spent = 2.605978ms, remote = 10.201.5.82:43920, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 26 16:07:54 ubuntu etcd[79607]: start time = 2025-05-26 16:07:54.602207136 +0000 UTC m=+288.118964347, time spent = 511.951µs, remote = 10.201.5.82:43920, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 26 16:07:57 ubuntu etcd[79607]: start time = 2025-05-26 16:07:57.162944276 +0000 UTC m=+290.679701497, time spent = 227.254µs, remote = 10.201.5.82:43920, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 26 16:11:23 ubuntu etcd[79607]: start time = 2025-05-26 16:11:23.665283133 +0000 UTC m=+497.182040344, time spent = 436.106µs, remote = 10.201.5.82:43920, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 26 16:11:23 ubuntu etcd[79607]: start time = 2025-05-26 16:11:23.674708339 +0000 UTC m=+497.191465565, time spent = 252.528µs, remote = 10.201.5.82:43920, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 26 16:11:24 ubuntu etcd[79607]: start time = 2025-05-26 16:11:24.9630011 +0000 UTC m=+498.479758323, time spent = 225.766µs, remote = 10.201.5.82:43920, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 26 16:11:26 ubuntu etcd[79607]: start time = 2025-05-26 16:11:26.279049813 +0000 UTC m=+499.795807141, time spent = 358.791µs, remote = 10.201.5.82:43920, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 26 16:13:11 ubuntu etcd[79607]: start time = 2025-05-26 16:13:11.212059985 +0000 UTC m=+604.728817210, time spent = 348.087µs, remote = 10.201.5.82:43920, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 26 16:13:11 ubuntu etcd[79607]: start time = 2025-05-26 16:13:11.221470656 +0000 UTC m=+604.738227946, time spent = 14.277017ms, remote = 10.201.5.82:43920, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-221756a7-1a9e-423f-824e-eed574d71365" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-221756a7-1a9e-423f-824e-eed574d71365" value_size:16 lease:5727337434653957657 >> failure:<request_range:<key:"/tooz/lockscinder-221756a7-1a9e-423f-824e-eed574d71365" > >
May 26 16:13:13 ubuntu etcd[79607]: start time = 2025-05-26 16:13:13.777531933 +0000 UTC m=+607.294289205, time spent = 620.229µs, remote = 10.201.5.82:43920, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-221756a7-1a9e-423f-824e-eed574d71365" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-221756a7-1a9e-423f-824e-eed574d71365" > > failure:<>
May 26 16:13:14 ubuntu etcd[79607]: start time = 2025-05-26 16:13:14.025648758 +0000 UTC m=+607.542406083, time spent = 523.122µs, remote = 10.201.5.82:43920, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 26 16:13:14 ubuntu etcd[79607]: start time = 2025-05-26 16:13:14.028441056 +0000 UTC m=+607.545198350, time spent = 308.384µs, remote = 10.201.5.82:43920, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-221756a7-1a9e-423f-824e-eed574d71365" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-221756a7-1a9e-423f-824e-eed574d71365" value_size:16 lease:5727337434653957661 >> failure:<request_range:<key:"/tooz/lockscinder-221756a7-1a9e-423f-824e-eed574d71365" > >
May 26 16:13:16 ubuntu etcd[79607]: start time = 2025-05-26 16:13:16.93413855 +0000 UTC m=+610.450895824, time spent = 601.755µs, remote = 10.201.5.82:43920, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-221756a7-1a9e-423f-824e-eed574d71365" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-221756a7-1a9e-423f-824e-eed574d71365" > > failure:<>
May 26 16:13:17 ubuntu etcd[79607]: start time = 2025-05-26 16:13:17.165864326 +0000 UTC m=+610.682621558, time spent = 345.262µs, remote = 10.201.5.82:43920, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 26 16:13:17 ubuntu etcd[79607]: start time = 2025-05-26 16:13:17.167983225 +0000 UTC m=+610.684740453, time spent = 215.455µs, remote = 10.201.5.82:43920, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-221756a7-1a9e-423f-824e-eed574d71365" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-221756a7-1a9e-423f-824e-eed574d71365" value_size:16 lease:5727337434653957665 >> failure:<request_range:<key:"/tooz/lockscinder-221756a7-1a9e-423f-824e-eed574d71365" > >
May 26 16:13:18 ubuntu etcd[79607]: start time = 2025-05-26 16:13:18.979872178 +0000 UTC m=+612.496629486, time spent = 609.569µs, remote = 10.201.5.82:43920, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-221756a7-1a9e-423f-824e-eed574d71365" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-221756a7-1a9e-423f-824e-eed574d71365" > > failure:<>
