Sep 12 12:36:38 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Sep 12 12:36:38 ubuntu etcd[67948]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Sep 12 12:36:38 ubuntu etcd[67948]:         A future release of golang/protobuf will delete this package,
Sep 12 12:36:38 ubuntu etcd[67948]:         which has long been excluded from the compatibility promise.
Sep 12 12:36:38 ubuntu etcd[67948]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Sep 12 12:36:38 ubuntu etcd[67948]: Running http and grpc server on single port. This is not recommended for production.
Sep 12 12:36:38 ubuntu etcd[67948]: etcd Version: 3.4.27
Sep 12 12:36:38 ubuntu etcd[67948]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Sep 12 12:36:38 ubuntu etcd[67948]: Git SHA: c92fb80f3
Sep 12 12:36:38 ubuntu etcd[67948]: Go Version: go1.19.10
Sep 12 12:36:38 ubuntu etcd[67948]: Go OS/Arch: linux/amd64
Sep 12 12:36:38 ubuntu etcd[67948]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Sep 12 12:36:38 ubuntu etcd[67948]: Running http and grpc server on single port. This is not recommended for production.
Sep 12 12:36:38 ubuntu etcd[67948]: name = ubuntu
Sep 12 12:36:38 ubuntu etcd[67948]: data dir = /opt/stack/data/etcd
Sep 12 12:36:38 ubuntu etcd[67948]: member dir = /opt/stack/data/etcd/member
Sep 12 12:36:38 ubuntu etcd[67948]: heartbeat = 100ms
Sep 12 12:36:38 ubuntu etcd[67948]: election = 1000ms
Sep 12 12:36:38 ubuntu etcd[67948]: snapshot count = 100000
Sep 12 12:36:38 ubuntu etcd[67948]: advertise client URLs = http://10.201.5.82:2379
Sep 12 12:36:38 ubuntu etcd[67948]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Sep 12 12:36:38 ubuntu etcd[67948]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Sep 12 12:36:38 ubuntu etcd[67948]: raft2024/09/12 12:36:38 INFO: 43038365673ccf7b switched to configuration voters=()
Sep 12 12:36:38 ubuntu etcd[67948]: raft2024/09/12 12:36:38 INFO: 43038365673ccf7b became follower at term 0
Sep 12 12:36:38 ubuntu etcd[67948]: raft2024/09/12 12:36:38 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Sep 12 12:36:38 ubuntu etcd[67948]: raft2024/09/12 12:36:38 INFO: 43038365673ccf7b became follower at term 1
Sep 12 12:36:38 ubuntu etcd[67948]: raft2024/09/12 12:36:38 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Sep 12 12:36:38 ubuntu etcd[67948]: simple token is not cryptographically signed
Sep 12 12:36:38 ubuntu etcd[67948]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Sep 12 12:36:38 ubuntu etcd[67948]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Sep 12 12:36:38 ubuntu etcd[67948]: raft2024/09/12 12:36:38 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Sep 12 12:36:38 ubuntu etcd[67948]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Sep 12 12:36:38 ubuntu etcd[67948]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Sep 12 12:36:38 ubuntu etcd[67948]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Sep 12 12:36:38 ubuntu etcd[67948]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Sep 12 12:36:38 ubuntu etcd[67948]: listening for peers on [::]:2380
Sep 12 12:36:39 ubuntu etcd[67948]: raft2024/09/12 12:36:39 INFO: 43038365673ccf7b is starting a new election at term 1
Sep 12 12:36:39 ubuntu etcd[67948]: raft2024/09/12 12:36:39 INFO: 43038365673ccf7b became candidate at term 2
Sep 12 12:36:39 ubuntu etcd[67948]: raft2024/09/12 12:36:39 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Sep 12 12:36:39 ubuntu etcd[67948]: raft2024/09/12 12:36:39 INFO: 43038365673ccf7b became leader at term 2
Sep 12 12:36:39 ubuntu etcd[67948]: raft2024/09/12 12:36:39 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Sep 12 12:36:39 ubuntu etcd[67948]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Sep 12 12:36:39 ubuntu etcd[67948]: setting up the initial cluster version to 3.4
Sep 12 12:36:39 ubuntu etcd[67948]: ready to serve client requests
Sep 12 12:36:39 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Sep 12 12:36:39 ubuntu etcd[67948]: set the initial cluster version to 3.4
Sep 12 12:36:39 ubuntu etcd[67948]: enabled capabilities for version 3.4
Sep 12 12:36:39 ubuntu etcd[67948]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Sep 12 12:41:39 ubuntu etcd[67948]: start time = 2024-09-12 12:41:39.669630171 +0000 UTC m=+301.376378904, time spent = 1.460512ms, remote = 10.201.5.82:51004, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 12 12:41:39 ubuntu etcd[67948]: start time = 2024-09-12 12:41:39.789788666 +0000 UTC m=+301.496537415, time spent = 283.755µs, remote = 10.201.5.82:51004, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 12 12:41:46 ubuntu etcd[67948]: start time = 2024-09-12 12:41:46.726707262 +0000 UTC m=+308.433456008, time spent = 244.002µs, remote = 10.201.5.82:51004, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 12 12:41:48 ubuntu etcd[67948]: start time = 2024-09-12 12:41:48.899735888 +0000 UTC m=+310.606484635, time spent = 202.857µs, remote = 10.201.5.82:51004, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
