May 21 18:24:13 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 21 18:24:13 ubuntu etcd[79402]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 21 18:24:13 ubuntu etcd[79402]:         A future release of golang/protobuf will delete this package,
May 21 18:24:13 ubuntu etcd[79402]:         which has long been excluded from the compatibility promise.
May 21 18:24:13 ubuntu etcd[79402]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 21 18:24:13 ubuntu etcd[79402]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 21 18:24:13 ubuntu etcd[79402]: Running http and grpc server on single port. This is not recommended for production.
May 21 18:24:13 ubuntu etcd[79402]: etcd Version: 3.4.27
May 21 18:24:13 ubuntu etcd[79402]: Git SHA: c92fb80f3
May 21 18:24:13 ubuntu etcd[79402]: Go Version: go1.19.10
May 21 18:24:13 ubuntu etcd[79402]: Go OS/Arch: linux/amd64
May 21 18:24:13 ubuntu etcd[79402]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 21 18:24:13 ubuntu etcd[79402]: Running http and grpc server on single port. This is not recommended for production.
May 21 18:24:13 ubuntu etcd[79402]: name = ubuntu
May 21 18:24:13 ubuntu etcd[79402]: data dir = /opt/stack/data/etcd
May 21 18:24:13 ubuntu etcd[79402]: member dir = /opt/stack/data/etcd/member
May 21 18:24:13 ubuntu etcd[79402]: heartbeat = 100ms
May 21 18:24:13 ubuntu etcd[79402]: election = 1000ms
May 21 18:24:13 ubuntu etcd[79402]: snapshot count = 100000
May 21 18:24:13 ubuntu etcd[79402]: advertise client URLs = http://10.201.5.82:2379
May 21 18:24:13 ubuntu etcd[79402]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 21 18:24:13 ubuntu etcd[79402]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
May 21 18:24:13 ubuntu etcd[79402]: raft2025/05/21 18:24:13 INFO: 43038365673ccf7b switched to configuration voters=()
May 21 18:24:13 ubuntu etcd[79402]: raft2025/05/21 18:24:13 INFO: 43038365673ccf7b became follower at term 0
May 21 18:24:13 ubuntu etcd[79402]: raft2025/05/21 18:24:13 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 21 18:24:13 ubuntu etcd[79402]: raft2025/05/21 18:24:13 INFO: 43038365673ccf7b became follower at term 1
May 21 18:24:13 ubuntu etcd[79402]: raft2025/05/21 18:24:13 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
May 21 18:24:13 ubuntu etcd[79402]: simple token is not cryptographically signed
May 21 18:24:13 ubuntu etcd[79402]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 21 18:24:13 ubuntu etcd[79402]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
May 21 18:24:13 ubuntu etcd[79402]: raft2025/05/21 18:24:13 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
May 21 18:24:13 ubuntu etcd[79402]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
May 21 18:24:13 ubuntu etcd[79402]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 21 18:24:13 ubuntu etcd[79402]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 21 18:24:13 ubuntu etcd[79402]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 21 18:24:13 ubuntu etcd[79402]: listening for peers on [::]:2380
May 21 18:24:13 ubuntu etcd[79402]: raft2025/05/21 18:24:13 INFO: 43038365673ccf7b is starting a new election at term 1
May 21 18:24:13 ubuntu etcd[79402]: raft2025/05/21 18:24:13 INFO: 43038365673ccf7b became candidate at term 2
May 21 18:24:13 ubuntu etcd[79402]: raft2025/05/21 18:24:13 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
May 21 18:24:13 ubuntu etcd[79402]: raft2025/05/21 18:24:13 INFO: 43038365673ccf7b became leader at term 2
May 21 18:24:13 ubuntu etcd[79402]: raft2025/05/21 18:24:13 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
May 21 18:24:13 ubuntu etcd[79402]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
May 21 18:24:13 ubuntu etcd[79402]: ready to serve client requests
May 21 18:24:13 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 21 18:24:13 ubuntu etcd[79402]: setting up the initial cluster version to 3.4
May 21 18:24:13 ubuntu etcd[79402]: set the initial cluster version to 3.4
May 21 18:24:13 ubuntu etcd[79402]: enabled capabilities for version 3.4
May 21 18:24:13 ubuntu etcd[79402]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
May 21 18:28:59 ubuntu etcd[79402]: start time = 2025-05-21 18:28:59.139450441 +0000 UTC m=+285.805301510, time spent = 763.73µs, remote = 10.201.5.82:43638, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 21 18:28:59 ubuntu etcd[79402]: start time = 2025-05-21 18:28:59.178117499 +0000 UTC m=+285.843968550, time spent = 593.987µs, remote = 10.201.5.82:43638, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 21 18:29:06 ubuntu etcd[79402]: start time = 2025-05-21 18:29:06.147448245 +0000 UTC m=+292.813299294, time spent = 347.492µs, remote = 10.201.5.82:43638, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 21 18:29:08 ubuntu etcd[79402]: start time = 2025-05-21 18:29:08.20254543 +0000 UTC m=+294.868396481, time spent = 240.24µs, remote = 10.201.5.82:43638, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
