Jun 13 06:33:05 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 13 06:33:05 ubuntu etcd[67264]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 13 06:33:05 ubuntu etcd[67264]:         A future release of golang/protobuf will delete this package,
Jun 13 06:33:05 ubuntu etcd[67264]:         which has long been excluded from the compatibility promise.
Jun 13 06:33:05 ubuntu etcd[67264]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jun 13 06:33:05 ubuntu etcd[67264]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jun 13 06:33:05 ubuntu etcd[67264]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 13 06:33:05 ubuntu etcd[67264]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jun 13 06:33:05 ubuntu etcd[67264]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jun 13 06:33:05 ubuntu etcd[67264]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 13 06:33:05 ubuntu etcd[67264]: Running http and grpc server on single port. This is not recommended for production.
Jun 13 06:33:05 ubuntu etcd[67264]: etcd Version: 3.4.27
Jun 13 06:33:05 ubuntu etcd[67264]: Git SHA: c92fb80f3
Jun 13 06:33:05 ubuntu etcd[67264]: Go Version: go1.19.10
Jun 13 06:33:05 ubuntu etcd[67264]: Go OS/Arch: linux/amd64
Jun 13 06:33:05 ubuntu etcd[67264]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 13 06:33:05 ubuntu etcd[67264]: Running http and grpc server on single port. This is not recommended for production.
Jun 13 06:33:05 ubuntu etcd[67264]: name = ubuntu
Jun 13 06:33:05 ubuntu etcd[67264]: data dir = /opt/stack/data/etcd
Jun 13 06:33:05 ubuntu etcd[67264]: member dir = /opt/stack/data/etcd/member
Jun 13 06:33:05 ubuntu etcd[67264]: heartbeat = 100ms
Jun 13 06:33:05 ubuntu etcd[67264]: election = 1000ms
Jun 13 06:33:05 ubuntu etcd[67264]: snapshot count = 100000
Jun 13 06:33:05 ubuntu etcd[67264]: advertise client URLs = http://10.201.5.82:2379
Jun 13 06:33:05 ubuntu etcd[67264]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 13 06:33:05 ubuntu etcd[67264]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jun 13 06:33:05 ubuntu etcd[67264]: raft2024/06/13 06:33:05 INFO: 43038365673ccf7b switched to configuration voters=()
Jun 13 06:33:05 ubuntu etcd[67264]: raft2024/06/13 06:33:05 INFO: 43038365673ccf7b became follower at term 0
Jun 13 06:33:05 ubuntu etcd[67264]: raft2024/06/13 06:33:05 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 13 06:33:05 ubuntu etcd[67264]: raft2024/06/13 06:33:05 INFO: 43038365673ccf7b became follower at term 1
Jun 13 06:33:05 ubuntu etcd[67264]: raft2024/06/13 06:33:05 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 13 06:33:05 ubuntu etcd[67264]: simple token is not cryptographically signed
Jun 13 06:33:05 ubuntu etcd[67264]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 13 06:33:05 ubuntu etcd[67264]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 13 06:33:05 ubuntu etcd[67264]: raft2024/06/13 06:33:05 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 13 06:33:05 ubuntu etcd[67264]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jun 13 06:33:05 ubuntu etcd[67264]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 13 06:33:05 ubuntu etcd[67264]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 13 06:33:05 ubuntu etcd[67264]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 13 06:33:05 ubuntu etcd[67264]: listening for peers on [::]:2380
Jun 13 06:33:06 ubuntu etcd[67264]: raft2024/06/13 06:33:06 INFO: 43038365673ccf7b is starting a new election at term 1
Jun 13 06:33:06 ubuntu etcd[67264]: raft2024/06/13 06:33:06 INFO: 43038365673ccf7b became candidate at term 2
Jun 13 06:33:06 ubuntu etcd[67264]: raft2024/06/13 06:33:06 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jun 13 06:33:06 ubuntu etcd[67264]: raft2024/06/13 06:33:06 INFO: 43038365673ccf7b became leader at term 2
Jun 13 06:33:06 ubuntu etcd[67264]: raft2024/06/13 06:33:06 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jun 13 06:33:06 ubuntu etcd[67264]: setting up the initial cluster version to 3.4
Jun 13 06:33:06 ubuntu etcd[67264]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jun 13 06:33:06 ubuntu etcd[67264]: ready to serve client requests
Jun 13 06:33:06 ubuntu etcd[67264]: INFO: 2024/06/13 06:33:06 parsed scheme: ""
Jun 13 06:33:06 ubuntu etcd[67264]: INFO: 2024/06/13 06:33:06 scheme "" not registered, fallback to default scheme
Jun 13 06:33:06 ubuntu etcd[67264]: INFO: 2024/06/13 06:33:06 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Jun 13 06:33:06 ubuntu etcd[67264]: INFO: 2024/06/13 06:33:06 ClientConn switching balancer to "pick_first"
Jun 13 06:33:06 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 13 06:33:06 ubuntu etcd[67264]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jun 13 06:33:06 ubuntu etcd[67264]: set the initial cluster version to 3.4
Jun 13 06:33:06 ubuntu etcd[67264]: enabled capabilities for version 3.4
Jun 13 06:38:21 ubuntu etcd[67264]: start time = 2024-06-13 06:38:21.053778325 +0000 UTC m=+315.659966265, time spent = 661.209µs, remote = 10.201.5.82:56452, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 13 06:38:21 ubuntu etcd[67264]: start time = 2024-06-13 06:38:21.056129094 +0000 UTC m=+315.662317033, time spent = 245.134µs, remote = 10.201.5.82:56452, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 13 06:38:28 ubuntu etcd[67264]: start time = 2024-06-13 06:38:28.072446017 +0000 UTC m=+322.678633955, time spent = 274.037µs, remote = 10.201.5.82:56452, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 13 06:38:30 ubuntu etcd[67264]: start time = 2024-06-13 06:38:30.25872475 +0000 UTC m=+324.864912688, time spent = 835.437µs, remote = 10.201.5.82:56452, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
