Feb 27 22:03:44 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Feb 27 22:03:44 ubuntu etcd[65757]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Feb 27 22:03:44 ubuntu etcd[65757]:         A future release of golang/protobuf will delete this package,
Feb 27 22:03:44 ubuntu etcd[65757]:         which has long been excluded from the compatibility promise.
Feb 27 22:03:44 ubuntu etcd[65757]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 27 22:03:44 ubuntu etcd[65757]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 27 22:03:44 ubuntu etcd[65757]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 27 22:03:44 ubuntu etcd[65757]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 27 22:03:44 ubuntu etcd[65757]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 27 22:03:44 ubuntu etcd[65757]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 27 22:03:44 ubuntu etcd[65757]: Running http and grpc server on single port. This is not recommended for production.
Feb 27 22:03:44 ubuntu etcd[65757]: etcd Version: 3.4.27
Feb 27 22:03:44 ubuntu etcd[65757]: Git SHA: c92fb80f3
Feb 27 22:03:44 ubuntu etcd[65757]: Go Version: go1.19.10
Feb 27 22:03:44 ubuntu etcd[65757]: Go OS/Arch: linux/amd64
Feb 27 22:03:44 ubuntu etcd[65757]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Feb 27 22:03:44 ubuntu etcd[65757]: Running http and grpc server on single port. This is not recommended for production.
Feb 27 22:03:44 ubuntu etcd[65757]: name = ubuntu
Feb 27 22:03:44 ubuntu etcd[65757]: data dir = /opt/stack/data/etcd
Feb 27 22:03:44 ubuntu etcd[65757]: member dir = /opt/stack/data/etcd/member
Feb 27 22:03:44 ubuntu etcd[65757]: heartbeat = 100ms
Feb 27 22:03:44 ubuntu etcd[65757]: election = 1000ms
Feb 27 22:03:44 ubuntu etcd[65757]: snapshot count = 100000
Feb 27 22:03:44 ubuntu etcd[65757]: advertise client URLs = http://10.201.5.82:2379
Feb 27 22:03:44 ubuntu etcd[65757]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Feb 27 22:03:44 ubuntu etcd[65757]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Feb 27 22:03:44 ubuntu etcd[65757]: raft2024/02/27 22:03:44 INFO: 43038365673ccf7b switched to configuration voters=()
Feb 27 22:03:44 ubuntu etcd[65757]: raft2024/02/27 22:03:44 INFO: 43038365673ccf7b became follower at term 0
Feb 27 22:03:44 ubuntu etcd[65757]: raft2024/02/27 22:03:44 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Feb 27 22:03:44 ubuntu etcd[65757]: raft2024/02/27 22:03:44 INFO: 43038365673ccf7b became follower at term 1
Feb 27 22:03:44 ubuntu etcd[65757]: raft2024/02/27 22:03:44 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Feb 27 22:03:44 ubuntu etcd[65757]: simple token is not cryptographically signed
Feb 27 22:03:44 ubuntu etcd[65757]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Feb 27 22:03:44 ubuntu etcd[65757]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Feb 27 22:03:44 ubuntu etcd[65757]: raft2024/02/27 22:03:44 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Feb 27 22:03:44 ubuntu etcd[65757]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Feb 27 22:03:44 ubuntu etcd[65757]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Feb 27 22:03:44 ubuntu etcd[65757]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Feb 27 22:03:44 ubuntu etcd[65757]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Feb 27 22:03:44 ubuntu etcd[65757]: listening for peers on [::]:2380
Feb 27 22:03:44 ubuntu etcd[65757]: raft2024/02/27 22:03:44 INFO: 43038365673ccf7b is starting a new election at term 1
Feb 27 22:03:44 ubuntu etcd[65757]: raft2024/02/27 22:03:44 INFO: 43038365673ccf7b became candidate at term 2
Feb 27 22:03:44 ubuntu etcd[65757]: raft2024/02/27 22:03:44 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Feb 27 22:03:44 ubuntu etcd[65757]: raft2024/02/27 22:03:44 INFO: 43038365673ccf7b became leader at term 2
Feb 27 22:03:44 ubuntu etcd[65757]: raft2024/02/27 22:03:44 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Feb 27 22:03:44 ubuntu etcd[65757]: INFO: 2024/02/27 22:03:44 parsed scheme: ""
Feb 27 22:03:44 ubuntu etcd[65757]: INFO: 2024/02/27 22:03:44 scheme "" not registered, fallback to default scheme
Feb 27 22:03:44 ubuntu etcd[65757]: INFO: 2024/02/27 22:03:44 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Feb 27 22:03:44 ubuntu etcd[65757]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Feb 27 22:03:44 ubuntu etcd[65757]: INFO: 2024/02/27 22:03:44 ClientConn switching balancer to "pick_first"
Feb 27 22:03:44 ubuntu etcd[65757]: ready to serve client requests
Feb 27 22:03:44 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Feb 27 22:03:44 ubuntu etcd[65757]: setting up the initial cluster version to 3.4
Feb 27 22:03:44 ubuntu etcd[65757]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Feb 27 22:03:44 ubuntu etcd[65757]: set the initial cluster version to 3.4
Feb 27 22:03:44 ubuntu etcd[65757]: enabled capabilities for version 3.4
Feb 27 22:10:12 ubuntu etcd[65757]: start time = 2024-02-27 22:10:12.226865742 +0000 UTC m=+388.205122842, time spent = 1.146203ms, remote = 10.201.5.82:43502, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 27 22:10:12 ubuntu etcd[65757]: start time = 2024-02-27 22:10:12.387441313 +0000 UTC m=+388.365698422, time spent = 219.878µs, remote = 10.201.5.82:43502, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 27 22:10:19 ubuntu etcd[65757]: start time = 2024-02-27 22:10:19.602813417 +0000 UTC m=+395.581070527, time spent = 214.064µs, remote = 10.201.5.82:43502, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 27 22:10:21 ubuntu etcd[65757]: start time = 2024-02-27 22:10:21.391435896 +0000 UTC m=+397.369693003, time spent = 243.431µs, remote = 10.201.5.82:43502, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 27 22:15:42 ubuntu etcd[65757]: start time = 2024-02-27 22:15:42.62809494 +0000 UTC m=+718.606352039, time spent = 338.379µs, remote = 10.201.5.82:43502, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 27 22:15:43 ubuntu etcd[65757]: start time = 2024-02-27 22:15:43.822591312 +0000 UTC m=+719.800848421, time spent = 194.021µs, remote = 10.201.5.82:43502, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 27 22:15:43 ubuntu etcd[65757]: start time = 2024-02-27 22:15:43.83517475 +0000 UTC m=+719.813431911, time spent = 326.907µs, remote = 10.201.5.82:43502, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 27 22:15:46 ubuntu etcd[65757]: start time = 2024-02-27 22:15:46.955603993 +0000 UTC m=+722.933861109, time spent = 211.708µs, remote = 10.201.5.82:43502, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
