Jan 06 16:15:36 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jan 06 16:15:36 ubuntu etcd[67459]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jan 06 16:15:36 ubuntu etcd[67459]:         A future release of golang/protobuf will delete this package,
Jan 06 16:15:36 ubuntu etcd[67459]:         which has long been excluded from the compatibility promise.
Jan 06 16:15:36 ubuntu etcd[67459]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 06 16:15:36 ubuntu etcd[67459]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 06 16:15:36 ubuntu etcd[67459]: Running http and grpc server on single port. This is not recommended for production.
Jan 06 16:15:36 ubuntu etcd[67459]: etcd Version: 3.4.27
Jan 06 16:15:36 ubuntu etcd[67459]: Git SHA: c92fb80f3
Jan 06 16:15:36 ubuntu etcd[67459]: Go Version: go1.19.10
Jan 06 16:15:36 ubuntu etcd[67459]: Go OS/Arch: linux/amd64
Jan 06 16:15:36 ubuntu etcd[67459]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jan 06 16:15:36 ubuntu etcd[67459]: Running http and grpc server on single port. This is not recommended for production.
Jan 06 16:15:36 ubuntu etcd[67459]: name = ubuntu
Jan 06 16:15:36 ubuntu etcd[67459]: data dir = /opt/stack/data/etcd
Jan 06 16:15:36 ubuntu etcd[67459]: member dir = /opt/stack/data/etcd/member
Jan 06 16:15:36 ubuntu etcd[67459]: heartbeat = 100ms
Jan 06 16:15:36 ubuntu etcd[67459]: election = 1000ms
Jan 06 16:15:36 ubuntu etcd[67459]: snapshot count = 100000
Jan 06 16:15:36 ubuntu etcd[67459]: advertise client URLs = http://10.201.5.82:2379
Jan 06 16:15:36 ubuntu etcd[67459]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jan 06 16:15:36 ubuntu etcd[67459]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jan 06 16:15:36 ubuntu etcd[67459]: raft2025/01/06 16:15:36 INFO: 43038365673ccf7b switched to configuration voters=()
Jan 06 16:15:36 ubuntu etcd[67459]: raft2025/01/06 16:15:36 INFO: 43038365673ccf7b became follower at term 0
Jan 06 16:15:36 ubuntu etcd[67459]: raft2025/01/06 16:15:36 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jan 06 16:15:36 ubuntu etcd[67459]: raft2025/01/06 16:15:36 INFO: 43038365673ccf7b became follower at term 1
Jan 06 16:15:36 ubuntu etcd[67459]: raft2025/01/06 16:15:36 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jan 06 16:15:36 ubuntu etcd[67459]: simple token is not cryptographically signed
Jan 06 16:15:36 ubuntu etcd[67459]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jan 06 16:15:36 ubuntu etcd[67459]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jan 06 16:15:36 ubuntu etcd[67459]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jan 06 16:15:36 ubuntu etcd[67459]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jan 06 16:15:36 ubuntu etcd[67459]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jan 06 16:15:36 ubuntu etcd[67459]: raft2025/01/06 16:15:36 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jan 06 16:15:36 ubuntu etcd[67459]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jan 06 16:15:36 ubuntu etcd[67459]: listening for peers on [::]:2380
Jan 06 16:15:37 ubuntu etcd[67459]: raft2025/01/06 16:15:37 INFO: 43038365673ccf7b is starting a new election at term 1
Jan 06 16:15:37 ubuntu etcd[67459]: raft2025/01/06 16:15:37 INFO: 43038365673ccf7b became candidate at term 2
Jan 06 16:15:37 ubuntu etcd[67459]: raft2025/01/06 16:15:37 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jan 06 16:15:37 ubuntu etcd[67459]: raft2025/01/06 16:15:37 INFO: 43038365673ccf7b became leader at term 2
Jan 06 16:15:37 ubuntu etcd[67459]: raft2025/01/06 16:15:37 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jan 06 16:15:37 ubuntu etcd[67459]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jan 06 16:15:37 ubuntu etcd[67459]: setting up the initial cluster version to 3.4
Jan 06 16:15:37 ubuntu etcd[67459]: ready to serve client requests
Jan 06 16:15:37 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jan 06 16:15:37 ubuntu etcd[67459]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jan 06 16:15:37 ubuntu etcd[67459]: set the initial cluster version to 3.4
Jan 06 16:15:37 ubuntu etcd[67459]: enabled capabilities for version 3.4
Jan 06 16:20:40 ubuntu etcd[67459]: start time = 2025-01-06 16:20:40.486509739 +0000 UTC m=+303.999654306, time spent = 775.229µs, remote = 10.201.5.82:52818, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 06 16:20:40 ubuntu etcd[67459]: start time = 2025-01-06 16:20:40.486510345 +0000 UTC m=+303.999654908, time spent = 1.836311ms, remote = 10.201.5.82:52818, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 06 16:20:47 ubuntu etcd[67459]: start time = 2025-01-06 16:20:47.215083314 +0000 UTC m=+310.728227871, time spent = 248.255µs, remote = 10.201.5.82:52818, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 06 16:20:49 ubuntu etcd[67459]: start time = 2025-01-06 16:20:49.709637886 +0000 UTC m=+313.222782437, time spent = 800.867µs, remote = 10.201.5.82:52818, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
