Feb 14 16:44:30 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Feb 14 16:44:30 ubuntu etcd[78542]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Feb 14 16:44:30 ubuntu etcd[78542]:         A future release of golang/protobuf will delete this package,
Feb 14 16:44:30 ubuntu etcd[78542]:         which has long been excluded from the compatibility promise.
Feb 14 16:44:30 ubuntu etcd[78542]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 14 16:44:30 ubuntu etcd[78542]: Running http and grpc server on single port. This is not recommended for production.
Feb 14 16:44:30 ubuntu etcd[78542]: etcd Version: 3.4.27
Feb 14 16:44:30 ubuntu etcd[78542]: Git SHA: c92fb80f3
Feb 14 16:44:30 ubuntu etcd[78542]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 14 16:44:30 ubuntu etcd[78542]: Go Version: go1.19.10
Feb 14 16:44:30 ubuntu etcd[78542]: Go OS/Arch: linux/amd64
Feb 14 16:44:30 ubuntu etcd[78542]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Feb 14 16:44:30 ubuntu etcd[78542]: Running http and grpc server on single port. This is not recommended for production.
Feb 14 16:44:30 ubuntu etcd[78542]: name = ubuntu
Feb 14 16:44:30 ubuntu etcd[78542]: data dir = /opt/stack/data/etcd
Feb 14 16:44:30 ubuntu etcd[78542]: member dir = /opt/stack/data/etcd/member
Feb 14 16:44:30 ubuntu etcd[78542]: heartbeat = 100ms
Feb 14 16:44:30 ubuntu etcd[78542]: election = 1000ms
Feb 14 16:44:30 ubuntu etcd[78542]: snapshot count = 100000
Feb 14 16:44:30 ubuntu etcd[78542]: advertise client URLs = http://10.201.5.82:2379
Feb 14 16:44:30 ubuntu etcd[78542]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Feb 14 16:44:30 ubuntu etcd[78542]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Feb 14 16:44:30 ubuntu etcd[78542]: raft2025/02/14 16:44:30 INFO: 43038365673ccf7b switched to configuration voters=()
Feb 14 16:44:30 ubuntu etcd[78542]: raft2025/02/14 16:44:30 INFO: 43038365673ccf7b became follower at term 0
Feb 14 16:44:30 ubuntu etcd[78542]: raft2025/02/14 16:44:30 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Feb 14 16:44:30 ubuntu etcd[78542]: raft2025/02/14 16:44:30 INFO: 43038365673ccf7b became follower at term 1
Feb 14 16:44:30 ubuntu etcd[78542]: raft2025/02/14 16:44:30 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Feb 14 16:44:30 ubuntu etcd[78542]: simple token is not cryptographically signed
Feb 14 16:44:30 ubuntu etcd[78542]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Feb 14 16:44:30 ubuntu etcd[78542]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Feb 14 16:44:30 ubuntu etcd[78542]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Feb 14 16:44:30 ubuntu etcd[78542]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Feb 14 16:44:30 ubuntu etcd[78542]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Feb 14 16:44:30 ubuntu etcd[78542]: raft2025/02/14 16:44:30 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Feb 14 16:44:30 ubuntu etcd[78542]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Feb 14 16:44:30 ubuntu etcd[78542]: listening for peers on [::]:2380
Feb 14 16:44:31 ubuntu etcd[78542]: raft2025/02/14 16:44:31 INFO: 43038365673ccf7b is starting a new election at term 1
Feb 14 16:44:31 ubuntu etcd[78542]: raft2025/02/14 16:44:31 INFO: 43038365673ccf7b became candidate at term 2
Feb 14 16:44:31 ubuntu etcd[78542]: raft2025/02/14 16:44:31 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Feb 14 16:44:31 ubuntu etcd[78542]: raft2025/02/14 16:44:31 INFO: 43038365673ccf7b became leader at term 2
Feb 14 16:44:31 ubuntu etcd[78542]: raft2025/02/14 16:44:31 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Feb 14 16:44:31 ubuntu etcd[78542]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Feb 14 16:44:31 ubuntu etcd[78542]: ready to serve client requests
Feb 14 16:44:31 ubuntu etcd[78542]: setting up the initial cluster version to 3.4
Feb 14 16:44:31 ubuntu etcd[78542]: set the initial cluster version to 3.4
Feb 14 16:44:31 ubuntu etcd[78542]: enabled capabilities for version 3.4
Feb 14 16:44:31 ubuntu etcd[78542]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Feb 14 16:44:31 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Feb 14 16:49:20 ubuntu etcd[78542]: start time = 2025-02-14 16:49:20.879693713 +0000 UTC m=+290.352396904, time spent = 666.459µs, remote = 10.201.5.82:44192, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 14 16:49:20 ubuntu etcd[78542]: start time = 2025-02-14 16:49:20.879686991 +0000 UTC m=+290.352390176, time spent = 1.827849ms, remote = 10.201.5.82:44192, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 14 16:49:27 ubuntu etcd[78542]: start time = 2025-02-14 16:49:27.572276812 +0000 UTC m=+297.044980004, time spent = 280.328µs, remote = 10.201.5.82:44192, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 14 16:49:29 ubuntu etcd[78542]: start time = 2025-02-14 16:49:29.443108369 +0000 UTC m=+298.915811562, time spent = 249.117µs, remote = 10.201.5.82:44192, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 14 16:52:19 ubuntu etcd[78542]: start time = 2025-02-14 16:52:19.773825139 +0000 UTC m=+469.246528317, time spent = 389.794µs, remote = 10.201.5.82:44192, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 14 16:52:19 ubuntu etcd[78542]: start time = 2025-02-14 16:52:19.947232402 +0000 UTC m=+469.419935580, time spent = 439.478µs, remote = 10.201.5.82:44192, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 14 16:52:20 ubuntu etcd[78542]: start time = 2025-02-14 16:52:20.083713507 +0000 UTC m=+469.556416704, time spent = 203.821µs, remote = 10.201.5.82:44192, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 14 16:52:24 ubuntu etcd[78542]: start time = 2025-02-14 16:52:24.111546495 +0000 UTC m=+473.584249732, time spent = 664.226µs, remote = 10.201.5.82:44192, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 14 16:54:17 ubuntu etcd[78542]: start time = 2025-02-14 16:54:17.638416668 +0000 UTC m=+587.111119847, time spent = 323.72µs, remote = 10.201.5.82:44192, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 14 16:54:17 ubuntu etcd[78542]: start time = 2025-02-14 16:54:17.641762914 +0000 UTC m=+587.114466093, time spent = 501.253µs, remote = 10.201.5.82:44192, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-c2436be3-f1b3-481a-bd43-9be5d545014e" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-c2436be3-f1b3-481a-bd43-9be5d545014e" value_size:16 lease:5727335201331476505 >> failure:<request_range:<key:"/tooz/lockscinder-c2436be3-f1b3-481a-bd43-9be5d545014e" > >
Feb 14 16:54:20 ubuntu etcd[78542]: start time = 2025-02-14 16:54:20.429701895 +0000 UTC m=+589.902405180, time spent = 633.88µs, remote = 10.201.5.82:44192, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-c2436be3-f1b3-481a-bd43-9be5d545014e" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-c2436be3-f1b3-481a-bd43-9be5d545014e" > > failure:<>
Feb 14 16:54:20 ubuntu etcd[78542]: start time = 2025-02-14 16:54:20.816855381 +0000 UTC m=+590.289558573, time spent = 349.847µs, remote = 10.201.5.82:44192, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 14 16:54:20 ubuntu etcd[78542]: start time = 2025-02-14 16:54:20.819292412 +0000 UTC m=+590.291995714, time spent = 675.654µs, remote = 10.201.5.82:44192, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-c2436be3-f1b3-481a-bd43-9be5d545014e" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-c2436be3-f1b3-481a-bd43-9be5d545014e" value_size:16 lease:5727335201331476509 >> failure:<request_range:<key:"/tooz/lockscinder-c2436be3-f1b3-481a-bd43-9be5d545014e" > >
Feb 14 16:54:21 ubuntu etcd[78542]: start time = 2025-02-14 16:54:21.625712403 +0000 UTC m=+591.098415726, time spent = 564.065µs, remote = 10.201.5.82:44192, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-c2436be3-f1b3-481a-bd43-9be5d545014e" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-c2436be3-f1b3-481a-bd43-9be5d545014e" > > failure:<>
Feb 14 16:54:21 ubuntu etcd[78542]: start time = 2025-02-14 16:54:21.834679792 +0000 UTC m=+591.307382987, time spent = 285.629µs, remote = 10.201.5.82:44192, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 14 16:54:21 ubuntu etcd[78542]: start time = 2025-02-14 16:54:21.836563125 +0000 UTC m=+591.309266321, time spent = 232.16µs, remote = 10.201.5.82:44192, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-c2436be3-f1b3-481a-bd43-9be5d545014e" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-c2436be3-f1b3-481a-bd43-9be5d545014e" value_size:16 lease:5727335201331476513 >> failure:<request_range:<key:"/tooz/lockscinder-c2436be3-f1b3-481a-bd43-9be5d545014e" > >
Feb 14 16:54:22 ubuntu etcd[78542]: start time = 2025-02-14 16:54:22.608491661 +0000 UTC m=+592.081194976, time spent = 644.914µs, remote = 10.201.5.82:44192, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-c2436be3-f1b3-481a-bd43-9be5d545014e" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-c2436be3-f1b3-481a-bd43-9be5d545014e" > > failure:<>
Feb 14 17:34:33 ubuntu etcd[78542]: start time = 2025-02-14 17:34:33.595552215 +0000 UTC m=+3003.068255406, time spent = 412.302µs, remote = 10.201.5.82:44192, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 14 17:34:33 ubuntu etcd[78542]: start time = 2025-02-14 17:34:33.597763555 +0000 UTC m=+3003.070466745, time spent = 233.643µs, remote = 10.201.5.82:44192, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-532be30a-6a7d-4af5-aeca-59417cc49868" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-532be30a-6a7d-4af5-aeca-59417cc49868" value_size:16 lease:5727335201331476520 >> failure:<request_range:<key:"/tooz/lockscinder-532be30a-6a7d-4af5-aeca-59417cc49868" > >
Feb 14 17:34:35 ubuntu etcd[78542]: start time = 2025-02-14 17:34:35.970142714 +0000 UTC m=+3005.442845916, time spent = 330.003µs, remote = 10.201.5.82:44192, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-532be30a-6a7d-4af5-aeca-59417cc49868" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-532be30a-6a7d-4af5-aeca-59417cc49868" > > failure:<>
Feb 14 17:34:36 ubuntu etcd[78542]: start time = 2025-02-14 17:34:36.225949593 +0000 UTC m=+3005.698652782, time spent = 406.193µs, remote = 10.201.5.82:44192, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 14 17:34:36 ubuntu etcd[78542]: start time = 2025-02-14 17:34:36.228360287 +0000 UTC m=+3005.701063480, time spent = 219.858µs, remote = 10.201.5.82:44192, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-532be30a-6a7d-4af5-aeca-59417cc49868" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-532be30a-6a7d-4af5-aeca-59417cc49868" value_size:16 lease:5727335201331476524 >> failure:<request_range:<key:"/tooz/lockscinder-532be30a-6a7d-4af5-aeca-59417cc49868" > >
Feb 14 17:34:36 ubuntu etcd[78542]: start time = 2025-02-14 17:34:36.825898399 +0000 UTC m=+3006.298601589, time spent = 299.05µs, remote = 10.201.5.82:44192, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-532be30a-6a7d-4af5-aeca-59417cc49868" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-532be30a-6a7d-4af5-aeca-59417cc49868" > > failure:<>
Feb 14 17:34:37 ubuntu etcd[78542]: start time = 2025-02-14 17:34:37.117141878 +0000 UTC m=+3006.589845181, time spent = 530.331µs, remote = 10.201.5.82:44192, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 14 17:34:37 ubuntu etcd[78542]: start time = 2025-02-14 17:34:37.119682014 +0000 UTC m=+3006.592385217, time spent = 198.052µs, remote = 10.201.5.82:44192, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-532be30a-6a7d-4af5-aeca-59417cc49868" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-532be30a-6a7d-4af5-aeca-59417cc49868" value_size:16 lease:5727335201331476528 >> failure:<request_range:<key:"/tooz/lockscinder-532be30a-6a7d-4af5-aeca-59417cc49868" > >
Feb 14 17:34:37 ubuntu etcd[78542]: start time = 2025-02-14 17:34:37.766528707 +0000 UTC m=+3007.239232002, time spent = 628.301µs, remote = 10.201.5.82:44192, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-532be30a-6a7d-4af5-aeca-59417cc49868" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-532be30a-6a7d-4af5-aeca-59417cc49868" > > failure:<>
