Feb 13 07:11:33 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Feb 13 07:11:33 ubuntu etcd[78749]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Feb 13 07:11:33 ubuntu etcd[78749]:         A future release of golang/protobuf will delete this package,
Feb 13 07:11:33 ubuntu etcd[78749]:         which has long been excluded from the compatibility promise.
Feb 13 07:11:33 ubuntu etcd[78749]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 13 07:11:33 ubuntu etcd[78749]: Running http and grpc server on single port. This is not recommended for production.
Feb 13 07:11:33 ubuntu etcd[78749]: etcd Version: 3.4.27
Feb 13 07:11:33 ubuntu etcd[78749]: Git SHA: c92fb80f3
Feb 13 07:11:33 ubuntu etcd[78749]: Go Version: go1.19.10
Feb 13 07:11:33 ubuntu etcd[78749]: Go OS/Arch: linux/amd64
Feb 13 07:11:33 ubuntu etcd[78749]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Feb 13 07:11:33 ubuntu etcd[78749]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 13 07:11:33 ubuntu etcd[78749]: Running http and grpc server on single port. This is not recommended for production.
Feb 13 07:11:33 ubuntu etcd[78749]: name = ubuntu
Feb 13 07:11:33 ubuntu etcd[78749]: data dir = /opt/stack/data/etcd
Feb 13 07:11:33 ubuntu etcd[78749]: member dir = /opt/stack/data/etcd/member
Feb 13 07:11:33 ubuntu etcd[78749]: heartbeat = 100ms
Feb 13 07:11:33 ubuntu etcd[78749]: election = 1000ms
Feb 13 07:11:33 ubuntu etcd[78749]: snapshot count = 100000
Feb 13 07:11:33 ubuntu etcd[78749]: advertise client URLs = http://10.201.5.82:2379
Feb 13 07:11:33 ubuntu etcd[78749]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Feb 13 07:11:33 ubuntu etcd[78749]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Feb 13 07:11:33 ubuntu etcd[78749]: raft2025/02/13 07:11:33 INFO: 43038365673ccf7b switched to configuration voters=()
Feb 13 07:11:33 ubuntu etcd[78749]: raft2025/02/13 07:11:33 INFO: 43038365673ccf7b became follower at term 0
Feb 13 07:11:33 ubuntu etcd[78749]: raft2025/02/13 07:11:33 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Feb 13 07:11:33 ubuntu etcd[78749]: raft2025/02/13 07:11:33 INFO: 43038365673ccf7b became follower at term 1
Feb 13 07:11:33 ubuntu etcd[78749]: raft2025/02/13 07:11:33 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Feb 13 07:11:33 ubuntu etcd[78749]: simple token is not cryptographically signed
Feb 13 07:11:33 ubuntu etcd[78749]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Feb 13 07:11:33 ubuntu etcd[78749]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Feb 13 07:11:33 ubuntu etcd[78749]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Feb 13 07:11:33 ubuntu etcd[78749]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Feb 13 07:11:33 ubuntu etcd[78749]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Feb 13 07:11:33 ubuntu etcd[78749]: raft2025/02/13 07:11:33 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Feb 13 07:11:33 ubuntu etcd[78749]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Feb 13 07:11:33 ubuntu etcd[78749]: listening for peers on [::]:2380
Feb 13 07:11:34 ubuntu etcd[78749]: raft2025/02/13 07:11:34 INFO: 43038365673ccf7b is starting a new election at term 1
Feb 13 07:11:34 ubuntu etcd[78749]: raft2025/02/13 07:11:34 INFO: 43038365673ccf7b became candidate at term 2
Feb 13 07:11:34 ubuntu etcd[78749]: raft2025/02/13 07:11:34 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Feb 13 07:11:34 ubuntu etcd[78749]: raft2025/02/13 07:11:34 INFO: 43038365673ccf7b became leader at term 2
Feb 13 07:11:34 ubuntu etcd[78749]: raft2025/02/13 07:11:34 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Feb 13 07:11:34 ubuntu etcd[78749]: setting up the initial cluster version to 3.4
Feb 13 07:11:34 ubuntu etcd[78749]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Feb 13 07:11:34 ubuntu etcd[78749]: set the initial cluster version to 3.4
Feb 13 07:11:34 ubuntu etcd[78749]: ready to serve client requests
Feb 13 07:11:34 ubuntu etcd[78749]: enabled capabilities for version 3.4
Feb 13 07:11:34 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Feb 13 07:11:34 ubuntu etcd[78749]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Feb 13 07:16:25 ubuntu etcd[78749]: start time = 2025-02-13 07:16:25.043151528 +0000 UTC m=+291.119720462, time spent = 1.655666ms, remote = 10.201.5.82:50950, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 13 07:16:25 ubuntu etcd[78749]: start time = 2025-02-13 07:16:25.114230678 +0000 UTC m=+291.190799624, time spent = 236.132µs, remote = 10.201.5.82:50950, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 13 07:16:31 ubuntu etcd[78749]: start time = 2025-02-13 07:16:31.886580365 +0000 UTC m=+297.963149312, time spent = 200.32µs, remote = 10.201.5.82:50950, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 13 07:16:33 ubuntu etcd[78749]: start time = 2025-02-13 07:16:33.971514407 +0000 UTC m=+300.048083358, time spent = 225.821µs, remote = 10.201.5.82:50950, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 13 07:19:32 ubuntu etcd[78749]: start time = 2025-02-13 07:19:32.137112399 +0000 UTC m=+478.213681433, time spent = 1.125755ms, remote = 10.201.5.82:50950, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 13 07:19:32 ubuntu etcd[78749]: start time = 2025-02-13 07:19:32.146102108 +0000 UTC m=+478.222671079, time spent = 172.009µs, remote = 10.201.5.82:50950, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 13 07:19:36 ubuntu etcd[78749]: start time = 2025-02-13 07:19:36.594564405 +0000 UTC m=+482.671133347, time spent = 220.014µs, remote = 10.201.5.82:50950, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 13 07:19:36 ubuntu etcd[78749]: start time = 2025-02-13 07:19:36.653632305 +0000 UTC m=+482.730201249, time spent = 185.562µs, remote = 10.201.5.82:50950, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 13 07:21:25 ubuntu etcd[78749]: start time = 2025-02-13 07:21:25.614929548 +0000 UTC m=+591.691498481, time spent = 316.436µs, remote = 10.201.5.82:50950, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 13 07:21:25 ubuntu etcd[78749]: start time = 2025-02-13 07:21:25.619656844 +0000 UTC m=+591.696225834, time spent = 925.553µs, remote = 10.201.5.82:50950, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-3b485faf-1560-4773-adb0-6a7fbb4ec506" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-3b485faf-1560-4773-adb0-6a7fbb4ec506" value_size:16 lease:5727335170412664089 >> failure:<request_range:<key:"/tooz/lockscinder-3b485faf-1560-4773-adb0-6a7fbb4ec506" > >
Feb 13 07:21:28 ubuntu etcd[78749]: start time = 2025-02-13 07:21:28.493047077 +0000 UTC m=+594.569616053, time spent = 1.252414ms, remote = 10.201.5.82:50950, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-3b485faf-1560-4773-adb0-6a7fbb4ec506" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-3b485faf-1560-4773-adb0-6a7fbb4ec506" > > failure:<>
Feb 13 07:21:28 ubuntu etcd[78749]: start time = 2025-02-13 07:21:28.764921823 +0000 UTC m=+594.841490864, time spent = 685.005µs, remote = 10.201.5.82:50950, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 13 07:21:28 ubuntu etcd[78749]: start time = 2025-02-13 07:21:28.767869172 +0000 UTC m=+594.844438222, time spent = 497.872µs, remote = 10.201.5.82:50950, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-3b485faf-1560-4773-adb0-6a7fbb4ec506" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-3b485faf-1560-4773-adb0-6a7fbb4ec506" value_size:16 lease:5727335170412664093 >> failure:<request_range:<key:"/tooz/lockscinder-3b485faf-1560-4773-adb0-6a7fbb4ec506" > >
Feb 13 07:21:29 ubuntu etcd[78749]: start time = 2025-02-13 07:21:29.597612261 +0000 UTC m=+595.674181312, time spent = 545.293µs, remote = 10.201.5.82:50950, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-3b485faf-1560-4773-adb0-6a7fbb4ec506" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-3b485faf-1560-4773-adb0-6a7fbb4ec506" > > failure:<>
Feb 13 07:21:29 ubuntu etcd[78749]: start time = 2025-02-13 07:21:29.98081082 +0000 UTC m=+596.057379764, time spent = 304.833µs, remote = 10.201.5.82:50950, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 13 07:21:29 ubuntu etcd[78749]: start time = 2025-02-13 07:21:29.983802846 +0000 UTC m=+596.060371847, time spent = 392.595µs, remote = 10.201.5.82:50950, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-3b485faf-1560-4773-adb0-6a7fbb4ec506" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-3b485faf-1560-4773-adb0-6a7fbb4ec506" value_size:16 lease:5727335170412664097 >> failure:<request_range:<key:"/tooz/lockscinder-3b485faf-1560-4773-adb0-6a7fbb4ec506" > >
Feb 13 07:21:30 ubuntu etcd[78749]: start time = 2025-02-13 07:21:30.803354734 +0000 UTC m=+596.879923678, time spent = 314.313µs, remote = 10.201.5.82:50950, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-3b485faf-1560-4773-adb0-6a7fbb4ec506" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-3b485faf-1560-4773-adb0-6a7fbb4ec506" > > failure:<>
Feb 13 08:01:36 ubuntu etcd[78749]: start time = 2025-02-13 08:01:36.94949514 +0000 UTC m=+3003.026064072, time spent = 390.267µs, remote = 10.201.5.82:50950, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 13 08:01:36 ubuntu etcd[78749]: start time = 2025-02-13 08:01:36.953151013 +0000 UTC m=+3003.029720043, time spent = 584.711µs, remote = 10.201.5.82:50950, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-17a09ab1-0823-4ce9-bf0e-80ab01d2709f" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-17a09ab1-0823-4ce9-bf0e-80ab01d2709f" value_size:16 lease:5727335170412664104 >> failure:<request_range:<key:"/tooz/lockscinder-17a09ab1-0823-4ce9-bf0e-80ab01d2709f" > >
Feb 13 08:01:39 ubuntu etcd[78749]: start time = 2025-02-13 08:01:39.416530915 +0000 UTC m=+3005.493099972, time spent = 647.886µs, remote = 10.201.5.82:50950, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-17a09ab1-0823-4ce9-bf0e-80ab01d2709f" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-17a09ab1-0823-4ce9-bf0e-80ab01d2709f" > > failure:<>
Feb 13 08:01:39 ubuntu etcd[78749]: start time = 2025-02-13 08:01:39.667079222 +0000 UTC m=+3005.743648169, time spent = 293.82µs, remote = 10.201.5.82:50950, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 13 08:01:39 ubuntu etcd[78749]: start time = 2025-02-13 08:01:39.669684193 +0000 UTC m=+3005.746253242, time spent = 633.184µs, remote = 10.201.5.82:50950, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-17a09ab1-0823-4ce9-bf0e-80ab01d2709f" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-17a09ab1-0823-4ce9-bf0e-80ab01d2709f" value_size:16 lease:5727335170412664108 >> failure:<request_range:<key:"/tooz/lockscinder-17a09ab1-0823-4ce9-bf0e-80ab01d2709f" > >
Feb 13 08:01:40 ubuntu etcd[78749]: start time = 2025-02-13 08:01:40.252912036 +0000 UTC m=+3006.329481023, time spent = 443.294µs, remote = 10.201.5.82:50950, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-17a09ab1-0823-4ce9-bf0e-80ab01d2709f" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-17a09ab1-0823-4ce9-bf0e-80ab01d2709f" > > failure:<>
Feb 13 08:01:40 ubuntu etcd[78749]: start time = 2025-02-13 08:01:40.474908204 +0000 UTC m=+3006.551477263, time spent = 598.069µs, remote = 10.201.5.82:50950, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 13 08:01:40 ubuntu etcd[78749]: start time = 2025-02-13 08:01:40.477575395 +0000 UTC m=+3006.554144335, time spent = 241.371µs, remote = 10.201.5.82:50950, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-17a09ab1-0823-4ce9-bf0e-80ab01d2709f" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-17a09ab1-0823-4ce9-bf0e-80ab01d2709f" value_size:16 lease:5727335170412664112 >> failure:<request_range:<key:"/tooz/lockscinder-17a09ab1-0823-4ce9-bf0e-80ab01d2709f" > >
Feb 13 08:01:41 ubuntu etcd[78749]: start time = 2025-02-13 08:01:41.091975926 +0000 UTC m=+3007.168544906, time spent = 455.736µs, remote = 10.201.5.82:50950, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-17a09ab1-0823-4ce9-bf0e-80ab01d2709f" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-17a09ab1-0823-4ce9-bf0e-80ab01d2709f" > > failure:<>
