Jun 03 16:32:20 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 03 16:32:20 ubuntu etcd[79641]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 03 16:32:20 ubuntu etcd[79641]:         A future release of golang/protobuf will delete this package,
Jun 03 16:32:20 ubuntu etcd[79641]:         which has long been excluded from the compatibility promise.
Jun 03 16:32:20 ubuntu etcd[79641]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 03 16:32:20 ubuntu etcd[79641]: Running http and grpc server on single port. This is not recommended for production.
Jun 03 16:32:20 ubuntu etcd[79641]: etcd Version: 3.4.27
Jun 03 16:32:20 ubuntu etcd[79641]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 03 16:32:20 ubuntu etcd[79641]: Git SHA: c92fb80f3
Jun 03 16:32:20 ubuntu etcd[79641]: Go Version: go1.19.10
Jun 03 16:32:20 ubuntu etcd[79641]: Go OS/Arch: linux/amd64
Jun 03 16:32:20 ubuntu etcd[79641]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 03 16:32:20 ubuntu etcd[79641]: Running http and grpc server on single port. This is not recommended for production.
Jun 03 16:32:20 ubuntu etcd[79641]: name = ubuntu
Jun 03 16:32:20 ubuntu etcd[79641]: data dir = /opt/stack/data/etcd
Jun 03 16:32:20 ubuntu etcd[79641]: member dir = /opt/stack/data/etcd/member
Jun 03 16:32:20 ubuntu etcd[79641]: heartbeat = 100ms
Jun 03 16:32:20 ubuntu etcd[79641]: election = 1000ms
Jun 03 16:32:20 ubuntu etcd[79641]: snapshot count = 100000
Jun 03 16:32:20 ubuntu etcd[79641]: advertise client URLs = http://10.201.5.82:2379
Jun 03 16:32:20 ubuntu etcd[79641]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 03 16:32:20 ubuntu etcd[79641]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jun 03 16:32:20 ubuntu etcd[79641]: raft2025/06/03 16:32:20 INFO: 43038365673ccf7b switched to configuration voters=()
Jun 03 16:32:20 ubuntu etcd[79641]: raft2025/06/03 16:32:20 INFO: 43038365673ccf7b became follower at term 0
Jun 03 16:32:20 ubuntu etcd[79641]: raft2025/06/03 16:32:20 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 03 16:32:20 ubuntu etcd[79641]: raft2025/06/03 16:32:20 INFO: 43038365673ccf7b became follower at term 1
Jun 03 16:32:20 ubuntu etcd[79641]: raft2025/06/03 16:32:20 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 03 16:32:20 ubuntu etcd[79641]: simple token is not cryptographically signed
Jun 03 16:32:20 ubuntu etcd[79641]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 03 16:32:20 ubuntu etcd[79641]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 03 16:32:20 ubuntu etcd[79641]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 03 16:32:20 ubuntu etcd[79641]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 03 16:32:20 ubuntu etcd[79641]: raft2025/06/03 16:32:20 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 03 16:32:20 ubuntu etcd[79641]: listening for peers on [::]:2380
Jun 03 16:32:20 ubuntu etcd[79641]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jun 03 16:32:20 ubuntu etcd[79641]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 03 16:32:21 ubuntu etcd[79641]: raft2025/06/03 16:32:21 INFO: 43038365673ccf7b is starting a new election at term 1
Jun 03 16:32:21 ubuntu etcd[79641]: raft2025/06/03 16:32:21 INFO: 43038365673ccf7b became candidate at term 2
Jun 03 16:32:21 ubuntu etcd[79641]: raft2025/06/03 16:32:21 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jun 03 16:32:21 ubuntu etcd[79641]: raft2025/06/03 16:32:21 INFO: 43038365673ccf7b became leader at term 2
Jun 03 16:32:21 ubuntu etcd[79641]: raft2025/06/03 16:32:21 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jun 03 16:32:21 ubuntu etcd[79641]: setting up the initial cluster version to 3.4
Jun 03 16:32:21 ubuntu etcd[79641]: ready to serve client requests
Jun 03 16:32:21 ubuntu etcd[79641]: set the initial cluster version to 3.4
Jun 03 16:32:21 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 03 16:32:21 ubuntu etcd[79641]: enabled capabilities for version 3.4
Jun 03 16:32:21 ubuntu etcd[79641]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jun 03 16:32:21 ubuntu etcd[79641]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jun 03 16:37:03 ubuntu etcd[79641]: start time = 2025-06-03 16:37:03.195717711 +0000 UTC m=+282.577725268, time spent = 568.008µs, remote = 10.201.5.82:39194, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 03 16:37:03 ubuntu etcd[79641]: start time = 2025-06-03 16:37:03.229458808 +0000 UTC m=+282.611466365, time spent = 292.113µs, remote = 10.201.5.82:39194, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 03 16:37:10 ubuntu etcd[79641]: start time = 2025-06-03 16:37:10.108775453 +0000 UTC m=+289.490783010, time spent = 199.197µs, remote = 10.201.5.82:39194, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 03 16:37:12 ubuntu etcd[79641]: start time = 2025-06-03 16:37:12.159505061 +0000 UTC m=+291.541512633, time spent = 266.079µs, remote = 10.201.5.82:39194, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 03 16:41:02 ubuntu etcd[79641]: start time = 2025-06-03 16:41:02.583602439 +0000 UTC m=+521.965610053, time spent = 583.521µs, remote = 10.201.5.82:39194, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 03 16:41:02 ubuntu etcd[79641]: start time = 2025-06-03 16:41:02.583789556 +0000 UTC m=+521.965797129, time spent = 417.637µs, remote = 10.201.5.82:39194, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 03 16:41:04 ubuntu etcd[79641]: start time = 2025-06-03 16:41:04.522188833 +0000 UTC m=+523.904196407, time spent = 655.265µs, remote = 10.201.5.82:39194, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 03 16:41:06 ubuntu etcd[79641]: start time = 2025-06-03 16:41:06.806857869 +0000 UTC m=+526.188865552, time spent = 324.654µs, remote = 10.201.5.82:39194, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 03 16:42:51 ubuntu etcd[79641]: start time = 2025-06-03 16:42:51.563990979 +0000 UTC m=+630.945998653, time spent = 357.985µs, remote = 10.201.5.82:39194, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 03 16:42:51 ubuntu etcd[79641]: start time = 2025-06-03 16:42:51.574059568 +0000 UTC m=+630.956067124, time spent = 3.758218ms, remote = 10.201.5.82:39194, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-c1e39470-e7a3-4d93-8aac-c7efa8412e93" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-c1e39470-e7a3-4d93-8aac-c7efa8412e93" value_size:16 lease:5727337612050216217 >> failure:<request_range:<key:"/tooz/lockscinder-c1e39470-e7a3-4d93-8aac-c7efa8412e93" > >
Jun 03 16:42:54 ubuntu etcd[79641]: start time = 2025-06-03 16:42:54.305102035 +0000 UTC m=+633.687109700, time spent = 526.926µs, remote = 10.201.5.82:39194, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-c1e39470-e7a3-4d93-8aac-c7efa8412e93" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-c1e39470-e7a3-4d93-8aac-c7efa8412e93" > > failure:<>
Jun 03 16:42:54 ubuntu etcd[79641]: start time = 2025-06-03 16:42:54.538840886 +0000 UTC m=+633.920848458, time spent = 279.038µs, remote = 10.201.5.82:39194, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 03 16:42:54 ubuntu etcd[79641]: start time = 2025-06-03 16:42:54.541611659 +0000 UTC m=+633.923619231, time spent = 174.465µs, remote = 10.201.5.82:39194, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-c1e39470-e7a3-4d93-8aac-c7efa8412e93" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-c1e39470-e7a3-4d93-8aac-c7efa8412e93" value_size:16 lease:5727337612050216221 >> failure:<request_range:<key:"/tooz/lockscinder-c1e39470-e7a3-4d93-8aac-c7efa8412e93" > >
Jun 03 16:42:56 ubuntu etcd[79641]: start time = 2025-06-03 16:42:56.405037332 +0000 UTC m=+635.787044996, time spent = 836.028µs, remote = 10.201.5.82:39194, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-c1e39470-e7a3-4d93-8aac-c7efa8412e93" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-c1e39470-e7a3-4d93-8aac-c7efa8412e93" > > failure:<>
Jun 03 16:42:56 ubuntu etcd[79641]: start time = 2025-06-03 16:42:56.620692791 +0000 UTC m=+636.002700432, time spent = 505.615µs, remote = 10.201.5.82:39194, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 03 16:42:56 ubuntu etcd[79641]: start time = 2025-06-03 16:42:56.623388227 +0000 UTC m=+636.005395838, time spent = 290.612µs, remote = 10.201.5.82:39194, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-c1e39470-e7a3-4d93-8aac-c7efa8412e93" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-c1e39470-e7a3-4d93-8aac-c7efa8412e93" value_size:16 lease:5727337612050216225 >> failure:<request_range:<key:"/tooz/lockscinder-c1e39470-e7a3-4d93-8aac-c7efa8412e93" > >
Jun 03 16:42:58 ubuntu etcd[79641]: start time = 2025-06-03 16:42:58.530753036 +0000 UTC m=+637.912760623, time spent = 425.822µs, remote = 10.201.5.82:39194, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-c1e39470-e7a3-4d93-8aac-c7efa8412e93" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-c1e39470-e7a3-4d93-8aac-c7efa8412e93" > > failure:<>
