Jun 02 21:16:54 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 02 21:16:54 ubuntu etcd[79443]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 02 21:16:54 ubuntu etcd[79443]:         A future release of golang/protobuf will delete this package,
Jun 02 21:16:54 ubuntu etcd[79443]:         which has long been excluded from the compatibility promise.
Jun 02 21:16:54 ubuntu etcd[79443]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 02 21:16:54 ubuntu etcd[79443]: Running http and grpc server on single port. This is not recommended for production.
Jun 02 21:16:54 ubuntu etcd[79443]: etcd Version: 3.4.27
Jun 02 21:16:54 ubuntu etcd[79443]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 02 21:16:54 ubuntu etcd[79443]: Git SHA: c92fb80f3
Jun 02 21:16:54 ubuntu etcd[79443]: Go Version: go1.19.10
Jun 02 21:16:54 ubuntu etcd[79443]: Go OS/Arch: linux/amd64
Jun 02 21:16:54 ubuntu etcd[79443]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 02 21:16:54 ubuntu etcd[79443]: Running http and grpc server on single port. This is not recommended for production.
Jun 02 21:16:54 ubuntu etcd[79443]: name = ubuntu
Jun 02 21:16:54 ubuntu etcd[79443]: data dir = /opt/stack/data/etcd
Jun 02 21:16:54 ubuntu etcd[79443]: member dir = /opt/stack/data/etcd/member
Jun 02 21:16:54 ubuntu etcd[79443]: heartbeat = 100ms
Jun 02 21:16:54 ubuntu etcd[79443]: election = 1000ms
Jun 02 21:16:54 ubuntu etcd[79443]: snapshot count = 100000
Jun 02 21:16:54 ubuntu etcd[79443]: advertise client URLs = http://10.201.5.82:2379
Jun 02 21:16:54 ubuntu etcd[79443]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 02 21:16:54 ubuntu etcd[79443]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jun 02 21:16:54 ubuntu etcd[79443]: raft2025/06/02 21:16:54 INFO: 43038365673ccf7b switched to configuration voters=()
Jun 02 21:16:54 ubuntu etcd[79443]: raft2025/06/02 21:16:54 INFO: 43038365673ccf7b became follower at term 0
Jun 02 21:16:54 ubuntu etcd[79443]: raft2025/06/02 21:16:54 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 02 21:16:54 ubuntu etcd[79443]: raft2025/06/02 21:16:54 INFO: 43038365673ccf7b became follower at term 1
Jun 02 21:16:54 ubuntu etcd[79443]: raft2025/06/02 21:16:54 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 02 21:16:54 ubuntu etcd[79443]: simple token is not cryptographically signed
Jun 02 21:16:54 ubuntu etcd[79443]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 02 21:16:54 ubuntu etcd[79443]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 02 21:16:54 ubuntu etcd[79443]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 02 21:16:54 ubuntu etcd[79443]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 02 21:16:54 ubuntu etcd[79443]: raft2025/06/02 21:16:54 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 02 21:16:54 ubuntu etcd[79443]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jun 02 21:16:54 ubuntu etcd[79443]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 02 21:16:54 ubuntu etcd[79443]: listening for peers on [::]:2380
Jun 02 21:16:55 ubuntu etcd[79443]: raft2025/06/02 21:16:55 INFO: 43038365673ccf7b is starting a new election at term 1
Jun 02 21:16:55 ubuntu etcd[79443]: raft2025/06/02 21:16:55 INFO: 43038365673ccf7b became candidate at term 2
Jun 02 21:16:55 ubuntu etcd[79443]: raft2025/06/02 21:16:55 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jun 02 21:16:55 ubuntu etcd[79443]: raft2025/06/02 21:16:55 INFO: 43038365673ccf7b became leader at term 2
Jun 02 21:16:55 ubuntu etcd[79443]: raft2025/06/02 21:16:55 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jun 02 21:16:55 ubuntu etcd[79443]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jun 02 21:16:55 ubuntu etcd[79443]: setting up the initial cluster version to 3.4
Jun 02 21:16:55 ubuntu etcd[79443]: set the initial cluster version to 3.4
Jun 02 21:16:55 ubuntu etcd[79443]: enabled capabilities for version 3.4
Jun 02 21:16:55 ubuntu etcd[79443]: ready to serve client requests
Jun 02 21:16:55 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 02 21:16:55 ubuntu etcd[79443]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jun 02 21:21:35 ubuntu etcd[79443]: start time = 2025-06-02 21:21:35.551068503 +0000 UTC m=+281.204625753, time spent = 2.503765ms, remote = 10.201.5.82:53194, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 02 21:21:35 ubuntu etcd[79443]: start time = 2025-06-02 21:21:35.551178977 +0000 UTC m=+281.204736238, time spent = 2.762487ms, remote = 10.201.5.82:53194, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 02 21:21:42 ubuntu etcd[79443]: start time = 2025-06-02 21:21:42.650150594 +0000 UTC m=+288.303707860, time spent = 179.311µs, remote = 10.201.5.82:53194, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 02 21:21:44 ubuntu etcd[79443]: start time = 2025-06-02 21:21:44.590543489 +0000 UTC m=+290.244100749, time spent = 223.106µs, remote = 10.201.5.82:53194, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 02 21:25:43 ubuntu etcd[79443]: start time = 2025-06-02 21:25:43.016611028 +0000 UTC m=+528.670168289, time spent = 121.728µs, remote = 10.201.5.82:53194, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 02 21:25:43 ubuntu etcd[79443]: start time = 2025-06-02 21:25:43.016380476 +0000 UTC m=+528.669937737, time spent = 439.58µs, remote = 10.201.5.82:53194, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 02 21:25:47 ubuntu etcd[79443]: start time = 2025-06-02 21:25:47.364054883 +0000 UTC m=+533.017612144, time spent = 164.65µs, remote = 10.201.5.82:53194, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 02 21:25:47 ubuntu etcd[79443]: start time = 2025-06-02 21:25:47.512676877 +0000 UTC m=+533.166234140, time spent = 333.548µs, remote = 10.201.5.82:53194, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 02 21:27:32 ubuntu etcd[79443]: start time = 2025-06-02 21:27:32.380137095 +0000 UTC m=+638.033694367, time spent = 227.763µs, remote = 10.201.5.82:53194, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 02 21:27:32 ubuntu etcd[79443]: start time = 2025-06-02 21:27:32.389202803 +0000 UTC m=+638.042760054, time spent = 2.134479ms, remote = 10.201.5.82:53194, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-5d2c48b6-c6dd-4253-9b05-54701cc3f6e6" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-5d2c48b6-c6dd-4253-9b05-54701cc3f6e6" value_size:16 lease:5727337594302694681 >> failure:<request_range:<key:"/tooz/lockscinder-5d2c48b6-c6dd-4253-9b05-54701cc3f6e6" > >
Jun 02 21:27:35 ubuntu etcd[79443]: start time = 2025-06-02 21:27:35.003465372 +0000 UTC m=+640.657022746, time spent = 583.152µs, remote = 10.201.5.82:53194, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-5d2c48b6-c6dd-4253-9b05-54701cc3f6e6" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-5d2c48b6-c6dd-4253-9b05-54701cc3f6e6" > > failure:<>
Jun 02 21:27:35 ubuntu etcd[79443]: start time = 2025-06-02 21:27:35.249626783 +0000 UTC m=+640.903184051, time spent = 320.824µs, remote = 10.201.5.82:53194, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 02 21:27:35 ubuntu etcd[79443]: start time = 2025-06-02 21:27:35.252017081 +0000 UTC m=+640.905574347, time spent = 1.306864ms, remote = 10.201.5.82:53194, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-5d2c48b6-c6dd-4253-9b05-54701cc3f6e6" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-5d2c48b6-c6dd-4253-9b05-54701cc3f6e6" value_size:16 lease:5727337594302694685 >> failure:<request_range:<key:"/tooz/lockscinder-5d2c48b6-c6dd-4253-9b05-54701cc3f6e6" > >
Jun 02 21:27:37 ubuntu etcd[79443]: start time = 2025-06-02 21:27:37.333451591 +0000 UTC m=+642.987008965, time spent = 596.964µs, remote = 10.201.5.82:53194, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-5d2c48b6-c6dd-4253-9b05-54701cc3f6e6" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-5d2c48b6-c6dd-4253-9b05-54701cc3f6e6" > > failure:<>
Jun 02 21:27:37 ubuntu etcd[79443]: start time = 2025-06-02 21:27:37.589624246 +0000 UTC m=+643.243181507, time spent = 218.757µs, remote = 10.201.5.82:53194, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 02 21:27:37 ubuntu etcd[79443]: start time = 2025-06-02 21:27:37.592050577 +0000 UTC m=+643.245607891, time spent = 489.424µs, remote = 10.201.5.82:53194, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-5d2c48b6-c6dd-4253-9b05-54701cc3f6e6" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-5d2c48b6-c6dd-4253-9b05-54701cc3f6e6" value_size:16 lease:5727337594302694689 >> failure:<request_range:<key:"/tooz/lockscinder-5d2c48b6-c6dd-4253-9b05-54701cc3f6e6" > >
Jun 02 21:27:39 ubuntu etcd[79443]: start time = 2025-06-02 21:27:39.485420832 +0000 UTC m=+645.138978143, time spent = 478.648µs, remote = 10.201.5.82:53194, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-5d2c48b6-c6dd-4253-9b05-54701cc3f6e6" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-5d2c48b6-c6dd-4253-9b05-54701cc3f6e6" > > failure:<>
