Dec 23 06:37:59 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 23 06:37:59 ubuntu etcd[69091]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 23 06:37:59 ubuntu etcd[69091]:         A future release of golang/protobuf will delete this package,
Dec 23 06:37:59 ubuntu etcd[69091]:         which has long been excluded from the compatibility promise.
Dec 23 06:37:59 ubuntu etcd[69091]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 23 06:37:59 ubuntu etcd[69091]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 23 06:37:59 ubuntu etcd[69091]: Running http and grpc server on single port. This is not recommended for production.
Dec 23 06:37:59 ubuntu etcd[69091]: etcd Version: 3.4.27
Dec 23 06:37:59 ubuntu etcd[69091]: Git SHA: c92fb80f3
Dec 23 06:37:59 ubuntu etcd[69091]: Go Version: go1.19.10
Dec 23 06:37:59 ubuntu etcd[69091]: Go OS/Arch: linux/amd64
Dec 23 06:37:59 ubuntu etcd[69091]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 23 06:37:59 ubuntu etcd[69091]: Running http and grpc server on single port. This is not recommended for production.
Dec 23 06:37:59 ubuntu etcd[69091]: name = ubuntu
Dec 23 06:37:59 ubuntu etcd[69091]: data dir = /opt/stack/data/etcd
Dec 23 06:37:59 ubuntu etcd[69091]: member dir = /opt/stack/data/etcd/member
Dec 23 06:37:59 ubuntu etcd[69091]: heartbeat = 100ms
Dec 23 06:37:59 ubuntu etcd[69091]: election = 1000ms
Dec 23 06:37:59 ubuntu etcd[69091]: snapshot count = 100000
Dec 23 06:37:59 ubuntu etcd[69091]: advertise client URLs = http://10.201.5.82:2379
Dec 23 06:37:59 ubuntu etcd[69091]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Dec 23 06:37:59 ubuntu etcd[69091]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Dec 23 06:37:59 ubuntu etcd[69091]: raft2024/12/23 06:37:59 INFO: 43038365673ccf7b switched to configuration voters=()
Dec 23 06:37:59 ubuntu etcd[69091]: raft2024/12/23 06:37:59 INFO: 43038365673ccf7b became follower at term 0
Dec 23 06:37:59 ubuntu etcd[69091]: raft2024/12/23 06:37:59 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Dec 23 06:37:59 ubuntu etcd[69091]: raft2024/12/23 06:37:59 INFO: 43038365673ccf7b became follower at term 1
Dec 23 06:37:59 ubuntu etcd[69091]: raft2024/12/23 06:37:59 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Dec 23 06:37:59 ubuntu etcd[69091]: simple token is not cryptographically signed
Dec 23 06:37:59 ubuntu etcd[69091]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Dec 23 06:37:59 ubuntu etcd[69091]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Dec 23 06:37:59 ubuntu etcd[69091]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Dec 23 06:37:59 ubuntu etcd[69091]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Dec 23 06:37:59 ubuntu etcd[69091]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Dec 23 06:37:59 ubuntu etcd[69091]: raft2024/12/23 06:37:59 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Dec 23 06:37:59 ubuntu etcd[69091]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Dec 23 06:37:59 ubuntu etcd[69091]: listening for peers on [::]:2380
Dec 23 06:37:59 ubuntu etcd[69091]: raft2024/12/23 06:37:59 INFO: 43038365673ccf7b is starting a new election at term 1
Dec 23 06:37:59 ubuntu etcd[69091]: raft2024/12/23 06:37:59 INFO: 43038365673ccf7b became candidate at term 2
Dec 23 06:37:59 ubuntu etcd[69091]: raft2024/12/23 06:37:59 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Dec 23 06:37:59 ubuntu etcd[69091]: raft2024/12/23 06:37:59 INFO: 43038365673ccf7b became leader at term 2
Dec 23 06:37:59 ubuntu etcd[69091]: raft2024/12/23 06:37:59 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Dec 23 06:37:59 ubuntu etcd[69091]: setting up the initial cluster version to 3.4
Dec 23 06:37:59 ubuntu etcd[69091]: set the initial cluster version to 3.4
Dec 23 06:37:59 ubuntu etcd[69091]: enabled capabilities for version 3.4
Dec 23 06:37:59 ubuntu etcd[69091]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Dec 23 06:37:59 ubuntu etcd[69091]: ready to serve client requests
Dec 23 06:37:59 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Dec 23 06:37:59 ubuntu etcd[69091]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Dec 23 06:42:56 ubuntu etcd[69091]: start time = 2024-12-23 06:42:56.889827262 +0000 UTC m=+297.504230165, time spent = 1.466939ms, remote = 10.201.5.82:37360, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 23 06:42:56 ubuntu etcd[69091]: start time = 2024-12-23 06:42:56.896323979 +0000 UTC m=+297.510726894, time spent = 255.503µs, remote = 10.201.5.82:37360, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 23 06:43:03 ubuntu etcd[69091]: start time = 2024-12-23 06:43:03.780401474 +0000 UTC m=+304.394804391, time spent = 183.04µs, remote = 10.201.5.82:37360, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 23 06:43:05 ubuntu etcd[69091]: start time = 2024-12-23 06:43:05.672250544 +0000 UTC m=+306.286653461, time spent = 214.412µs, remote = 10.201.5.82:37360, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 23 06:46:04 ubuntu etcd[69091]: start time = 2024-12-23 06:46:04.589394294 +0000 UTC m=+485.203797195, time spent = 535.673µs, remote = 10.201.5.82:37360, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 23 06:46:04 ubuntu etcd[69091]: start time = 2024-12-23 06:46:04.625890293 +0000 UTC m=+485.240293209, time spent = 149.114µs, remote = 10.201.5.82:37360, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 23 06:46:07 ubuntu etcd[69091]: start time = 2024-12-23 06:46:07.314720609 +0000 UTC m=+487.929123523, time spent = 235.764µs, remote = 10.201.5.82:37360, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 23 06:46:09 ubuntu etcd[69091]: start time = 2024-12-23 06:46:09.052611415 +0000 UTC m=+489.667014414, time spent = 387.523µs, remote = 10.201.5.82:37360, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 23 06:47:56 ubuntu etcd[69091]: start time = 2024-12-23 06:47:56.513429552 +0000 UTC m=+597.127832465, time spent = 365.488µs, remote = 10.201.5.82:37360, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 23 06:47:56 ubuntu etcd[69091]: start time = 2024-12-23 06:47:56.516620535 +0000 UTC m=+597.131023543, time spent = 1.320467ms, remote = 10.201.5.82:37360, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-7f1868cc-29d1-4f0d-a85f-8a58c876c539" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-7f1868cc-29d1-4f0d-a85f-8a58c876c539" value_size:16 lease:5727334019740141337 >> failure:<request_range:<key:"/tooz/lockscinder-7f1868cc-29d1-4f0d-a85f-8a58c876c539" > >
Dec 23 06:47:59 ubuntu etcd[69091]: start time = 2024-12-23 06:47:59.139332464 +0000 UTC m=+599.753735449, time spent = 654.616µs, remote = 10.201.5.82:37360, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-7f1868cc-29d1-4f0d-a85f-8a58c876c539" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-7f1868cc-29d1-4f0d-a85f-8a58c876c539" > > failure:<>
Dec 23 06:47:59 ubuntu etcd[69091]: start time = 2024-12-23 06:47:59.370114187 +0000 UTC m=+599.984517104, time spent = 277.688µs, remote = 10.201.5.82:37360, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 23 06:47:59 ubuntu etcd[69091]: start time = 2024-12-23 06:47:59.372106615 +0000 UTC m=+599.986509549, time spent = 1.131143ms, remote = 10.201.5.82:37360, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-7f1868cc-29d1-4f0d-a85f-8a58c876c539" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-7f1868cc-29d1-4f0d-a85f-8a58c876c539" value_size:16 lease:5727334019740141341 >> failure:<request_range:<key:"/tooz/lockscinder-7f1868cc-29d1-4f0d-a85f-8a58c876c539" > >
Dec 23 06:48:00 ubuntu etcd[69091]: start time = 2024-12-23 06:48:00.134613976 +0000 UTC m=+600.749016892, time spent = 237.613µs, remote = 10.201.5.82:37360, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-7f1868cc-29d1-4f0d-a85f-8a58c876c539" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-7f1868cc-29d1-4f0d-a85f-8a58c876c539" > > failure:<>
Dec 23 06:48:00 ubuntu etcd[69091]: start time = 2024-12-23 06:48:00.356234391 +0000 UTC m=+600.970637304, time spent = 265.428µs, remote = 10.201.5.82:37360, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 23 06:48:00 ubuntu etcd[69091]: start time = 2024-12-23 06:48:00.358609836 +0000 UTC m=+600.973012749, time spent = 160.497µs, remote = 10.201.5.82:37360, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-7f1868cc-29d1-4f0d-a85f-8a58c876c539" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-7f1868cc-29d1-4f0d-a85f-8a58c876c539" value_size:16 lease:5727334019740141345 >> failure:<request_range:<key:"/tooz/lockscinder-7f1868cc-29d1-4f0d-a85f-8a58c876c539" > >
Dec 23 06:48:01 ubuntu etcd[69091]: start time = 2024-12-23 06:48:01.133187029 +0000 UTC m=+601.747589948, time spent = 244.732µs, remote = 10.201.5.82:37360, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-7f1868cc-29d1-4f0d-a85f-8a58c876c539" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-7f1868cc-29d1-4f0d-a85f-8a58c876c539" > > failure:<>
