Mar 13 07:25:54 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 13 07:25:54 ubuntu etcd[65922]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 13 07:25:54 ubuntu etcd[65922]:         A future release of golang/protobuf will delete this package,
Mar 13 07:25:54 ubuntu etcd[65922]:         which has long been excluded from the compatibility promise.
Mar 13 07:25:54 ubuntu etcd[65922]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 13 07:25:54 ubuntu etcd[65922]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 13 07:25:54 ubuntu etcd[65922]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 13 07:25:54 ubuntu etcd[65922]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 13 07:25:54 ubuntu etcd[65922]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 13 07:25:54 ubuntu etcd[65922]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 13 07:25:54 ubuntu etcd[65922]: Running http and grpc server on single port. This is not recommended for production.
Mar 13 07:25:54 ubuntu etcd[65922]: etcd Version: 3.4.27
Mar 13 07:25:54 ubuntu etcd[65922]: Git SHA: c92fb80f3
Mar 13 07:25:54 ubuntu etcd[65922]: Go Version: go1.19.10
Mar 13 07:25:54 ubuntu etcd[65922]: Go OS/Arch: linux/amd64
Mar 13 07:25:54 ubuntu etcd[65922]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 13 07:25:54 ubuntu etcd[65922]: Running http and grpc server on single port. This is not recommended for production.
Mar 13 07:25:54 ubuntu etcd[65922]: name = ubuntu
Mar 13 07:25:54 ubuntu etcd[65922]: data dir = /opt/stack/data/etcd
Mar 13 07:25:54 ubuntu etcd[65922]: member dir = /opt/stack/data/etcd/member
Mar 13 07:25:54 ubuntu etcd[65922]: heartbeat = 100ms
Mar 13 07:25:54 ubuntu etcd[65922]: election = 1000ms
Mar 13 07:25:54 ubuntu etcd[65922]: snapshot count = 100000
Mar 13 07:25:54 ubuntu etcd[65922]: advertise client URLs = http://10.201.5.82:2379
Mar 13 07:25:54 ubuntu etcd[65922]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 13 07:25:54 ubuntu etcd[65922]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Mar 13 07:25:54 ubuntu etcd[65922]: raft2024/03/13 07:25:54 INFO: 43038365673ccf7b switched to configuration voters=()
Mar 13 07:25:54 ubuntu etcd[65922]: raft2024/03/13 07:25:54 INFO: 43038365673ccf7b became follower at term 0
Mar 13 07:25:54 ubuntu etcd[65922]: raft2024/03/13 07:25:54 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 13 07:25:54 ubuntu etcd[65922]: raft2024/03/13 07:25:54 INFO: 43038365673ccf7b became follower at term 1
Mar 13 07:25:54 ubuntu etcd[65922]: raft2024/03/13 07:25:54 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 13 07:25:54 ubuntu etcd[65922]: simple token is not cryptographically signed
Mar 13 07:25:54 ubuntu etcd[65922]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 13 07:25:54 ubuntu etcd[65922]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 13 07:25:54 ubuntu etcd[65922]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 13 07:25:54 ubuntu etcd[65922]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 13 07:25:54 ubuntu etcd[65922]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 13 07:25:54 ubuntu etcd[65922]: raft2024/03/13 07:25:54 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 13 07:25:54 ubuntu etcd[65922]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Mar 13 07:25:54 ubuntu etcd[65922]: listening for peers on [::]:2380
Mar 13 07:25:55 ubuntu etcd[65922]: raft2024/03/13 07:25:55 INFO: 43038365673ccf7b is starting a new election at term 1
Mar 13 07:25:55 ubuntu etcd[65922]: raft2024/03/13 07:25:55 INFO: 43038365673ccf7b became candidate at term 2
Mar 13 07:25:55 ubuntu etcd[65922]: raft2024/03/13 07:25:55 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Mar 13 07:25:55 ubuntu etcd[65922]: raft2024/03/13 07:25:55 INFO: 43038365673ccf7b became leader at term 2
Mar 13 07:25:55 ubuntu etcd[65922]: raft2024/03/13 07:25:55 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Mar 13 07:25:55 ubuntu etcd[65922]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Mar 13 07:25:55 ubuntu etcd[65922]: ready to serve client requests
Mar 13 07:25:55 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 13 07:25:55 ubuntu etcd[65922]: INFO: 2024/03/13 07:25:55 parsed scheme: ""
Mar 13 07:25:55 ubuntu etcd[65922]: INFO: 2024/03/13 07:25:55 scheme "" not registered, fallback to default scheme
Mar 13 07:25:55 ubuntu etcd[65922]: setting up the initial cluster version to 3.4
Mar 13 07:25:55 ubuntu etcd[65922]: set the initial cluster version to 3.4
Mar 13 07:25:55 ubuntu etcd[65922]: enabled capabilities for version 3.4
Mar 13 07:25:55 ubuntu etcd[65922]: INFO: 2024/03/13 07:25:55 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Mar 13 07:25:55 ubuntu etcd[65922]: INFO: 2024/03/13 07:25:55 ClientConn switching balancer to "pick_first"
Mar 13 07:25:55 ubuntu etcd[65922]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Mar 13 07:32:29 ubuntu etcd[65922]: start time = 2024-03-13 07:32:29.943306976 +0000 UTC m=+395.188262236, time spent = 619.994µs, remote = 10.201.5.82:41418, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 13 07:32:30 ubuntu etcd[65922]: start time = 2024-03-13 07:32:30.027916517 +0000 UTC m=+395.272871789, time spent = 224.991µs, remote = 10.201.5.82:41418, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 13 07:32:36 ubuntu etcd[65922]: start time = 2024-03-13 07:32:36.935075401 +0000 UTC m=+402.180030669, time spent = 185.257µs, remote = 10.201.5.82:41418, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 13 07:32:39 ubuntu etcd[65922]: start time = 2024-03-13 07:32:39.124525425 +0000 UTC m=+404.369480697, time spent = 298.823µs, remote = 10.201.5.82:41418, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
