Mar 26 09:50:30 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 26 09:50:31 ubuntu etcd[79132]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 26 09:50:31 ubuntu etcd[79132]:         A future release of golang/protobuf will delete this package,
Mar 26 09:50:31 ubuntu etcd[79132]:         which has long been excluded from the compatibility promise.
Mar 26 09:50:31 ubuntu etcd[79132]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 26 09:50:31 ubuntu etcd[79132]: Running http and grpc server on single port. This is not recommended for production.
Mar 26 09:50:31 ubuntu etcd[79132]: etcd Version: 3.4.27
Mar 26 09:50:31 ubuntu etcd[79132]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 26 09:50:31 ubuntu etcd[79132]: Git SHA: c92fb80f3
Mar 26 09:50:31 ubuntu etcd[79132]: Go Version: go1.19.10
Mar 26 09:50:31 ubuntu etcd[79132]: Go OS/Arch: linux/amd64
Mar 26 09:50:31 ubuntu etcd[79132]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 26 09:50:31 ubuntu etcd[79132]: Running http and grpc server on single port. This is not recommended for production.
Mar 26 09:50:31 ubuntu etcd[79132]: name = ubuntu
Mar 26 09:50:31 ubuntu etcd[79132]: data dir = /opt/stack/data/etcd
Mar 26 09:50:31 ubuntu etcd[79132]: member dir = /opt/stack/data/etcd/member
Mar 26 09:50:31 ubuntu etcd[79132]: heartbeat = 100ms
Mar 26 09:50:31 ubuntu etcd[79132]: election = 1000ms
Mar 26 09:50:31 ubuntu etcd[79132]: snapshot count = 100000
Mar 26 09:50:31 ubuntu etcd[79132]: advertise client URLs = http://10.201.5.82:2379
Mar 26 09:50:31 ubuntu etcd[79132]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 26 09:50:31 ubuntu etcd[79132]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Mar 26 09:50:31 ubuntu etcd[79132]: raft2025/03/26 09:50:31 INFO: 43038365673ccf7b switched to configuration voters=()
Mar 26 09:50:31 ubuntu etcd[79132]: raft2025/03/26 09:50:31 INFO: 43038365673ccf7b became follower at term 0
Mar 26 09:50:31 ubuntu etcd[79132]: raft2025/03/26 09:50:31 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 26 09:50:31 ubuntu etcd[79132]: raft2025/03/26 09:50:31 INFO: 43038365673ccf7b became follower at term 1
Mar 26 09:50:31 ubuntu etcd[79132]: raft2025/03/26 09:50:31 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 26 09:50:31 ubuntu etcd[79132]: simple token is not cryptographically signed
Mar 26 09:50:31 ubuntu etcd[79132]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 26 09:50:31 ubuntu etcd[79132]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 26 09:50:31 ubuntu etcd[79132]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 26 09:50:31 ubuntu etcd[79132]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 26 09:50:31 ubuntu etcd[79132]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 26 09:50:31 ubuntu etcd[79132]: raft2025/03/26 09:50:31 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 26 09:50:31 ubuntu etcd[79132]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Mar 26 09:50:31 ubuntu etcd[79132]: listening for peers on [::]:2380
Mar 26 09:50:31 ubuntu etcd[79132]: raft2025/03/26 09:50:31 INFO: 43038365673ccf7b is starting a new election at term 1
Mar 26 09:50:31 ubuntu etcd[79132]: raft2025/03/26 09:50:31 INFO: 43038365673ccf7b became candidate at term 2
Mar 26 09:50:31 ubuntu etcd[79132]: raft2025/03/26 09:50:31 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Mar 26 09:50:31 ubuntu etcd[79132]: raft2025/03/26 09:50:31 INFO: 43038365673ccf7b became leader at term 2
Mar 26 09:50:31 ubuntu etcd[79132]: raft2025/03/26 09:50:31 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Mar 26 09:50:31 ubuntu etcd[79132]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Mar 26 09:50:31 ubuntu etcd[79132]: setting up the initial cluster version to 3.4
Mar 26 09:50:31 ubuntu etcd[79132]: ready to serve client requests
Mar 26 09:50:31 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 26 09:50:31 ubuntu etcd[79132]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Mar 26 09:50:31 ubuntu etcd[79132]: set the initial cluster version to 3.4
Mar 26 09:50:31 ubuntu etcd[79132]: enabled capabilities for version 3.4
Mar 26 09:55:10 ubuntu etcd[79132]: start time = 2025-03-26 09:55:10.891868115 +0000 UTC m=+279.890245378, time spent = 1.266922ms, remote = 10.201.5.82:49260, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 26 09:55:10 ubuntu etcd[79132]: start time = 2025-03-26 09:55:10.918626434 +0000 UTC m=+279.917003713, time spent = 378.756µs, remote = 10.201.5.82:49260, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 26 09:55:17 ubuntu etcd[79132]: start time = 2025-03-26 09:55:17.592153869 +0000 UTC m=+286.590531129, time spent = 223.726µs, remote = 10.201.5.82:49260, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 26 09:55:19 ubuntu etcd[79132]: start time = 2025-03-26 09:55:19.966050376 +0000 UTC m=+288.964427649, time spent = 440.604µs, remote = 10.201.5.82:49260, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
