May 27 15:21:51 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 27 15:21:51 ubuntu etcd[66744]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 27 15:21:51 ubuntu etcd[66744]:         A future release of golang/protobuf will delete this package,
May 27 15:21:51 ubuntu etcd[66744]:         which has long been excluded from the compatibility promise.
May 27 15:21:51 ubuntu etcd[66744]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
May 27 15:21:51 ubuntu etcd[66744]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
May 27 15:21:51 ubuntu etcd[66744]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 27 15:21:51 ubuntu etcd[66744]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
May 27 15:21:51 ubuntu etcd[66744]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
May 27 15:21:51 ubuntu etcd[66744]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 27 15:21:51 ubuntu etcd[66744]: Running http and grpc server on single port. This is not recommended for production.
May 27 15:21:51 ubuntu etcd[66744]: etcd Version: 3.4.27
May 27 15:21:51 ubuntu etcd[66744]: Git SHA: c92fb80f3
May 27 15:21:51 ubuntu etcd[66744]: Go Version: go1.19.10
May 27 15:21:51 ubuntu etcd[66744]: Go OS/Arch: linux/amd64
May 27 15:21:51 ubuntu etcd[66744]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 27 15:21:51 ubuntu etcd[66744]: Running http and grpc server on single port. This is not recommended for production.
May 27 15:21:51 ubuntu etcd[66744]: name = ubuntu
May 27 15:21:51 ubuntu etcd[66744]: data dir = /opt/stack/data/etcd
May 27 15:21:51 ubuntu etcd[66744]: member dir = /opt/stack/data/etcd/member
May 27 15:21:51 ubuntu etcd[66744]: heartbeat = 100ms
May 27 15:21:51 ubuntu etcd[66744]: election = 1000ms
May 27 15:21:51 ubuntu etcd[66744]: snapshot count = 100000
May 27 15:21:51 ubuntu etcd[66744]: advertise client URLs = http://10.201.5.82:2379
May 27 15:21:51 ubuntu etcd[66744]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 27 15:21:51 ubuntu etcd[66744]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
May 27 15:21:52 ubuntu etcd[66744]: raft2024/05/27 15:21:52 INFO: 43038365673ccf7b switched to configuration voters=()
May 27 15:21:52 ubuntu etcd[66744]: raft2024/05/27 15:21:52 INFO: 43038365673ccf7b became follower at term 0
May 27 15:21:52 ubuntu etcd[66744]: raft2024/05/27 15:21:52 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 27 15:21:52 ubuntu etcd[66744]: raft2024/05/27 15:21:52 INFO: 43038365673ccf7b became follower at term 1
May 27 15:21:52 ubuntu etcd[66744]: raft2024/05/27 15:21:52 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
May 27 15:21:52 ubuntu etcd[66744]: simple token is not cryptographically signed
May 27 15:21:52 ubuntu etcd[66744]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 27 15:21:52 ubuntu etcd[66744]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
May 27 15:21:52 ubuntu etcd[66744]: raft2024/05/27 15:21:52 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
May 27 15:21:52 ubuntu etcd[66744]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
May 27 15:21:52 ubuntu etcd[66744]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 27 15:21:52 ubuntu etcd[66744]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 27 15:21:52 ubuntu etcd[66744]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 27 15:21:52 ubuntu etcd[66744]: listening for peers on [::]:2380
May 27 15:21:52 ubuntu etcd[66744]: raft2024/05/27 15:21:52 INFO: 43038365673ccf7b is starting a new election at term 1
May 27 15:21:52 ubuntu etcd[66744]: raft2024/05/27 15:21:52 INFO: 43038365673ccf7b became candidate at term 2
May 27 15:21:52 ubuntu etcd[66744]: raft2024/05/27 15:21:52 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
May 27 15:21:52 ubuntu etcd[66744]: raft2024/05/27 15:21:52 INFO: 43038365673ccf7b became leader at term 2
May 27 15:21:52 ubuntu etcd[66744]: raft2024/05/27 15:21:52 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
May 27 15:21:52 ubuntu etcd[66744]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
May 27 15:21:52 ubuntu etcd[66744]: setting up the initial cluster version to 3.4
May 27 15:21:52 ubuntu etcd[66744]: ready to serve client requests
May 27 15:21:52 ubuntu etcd[66744]: INFO: 2024/05/27 15:21:52 parsed scheme: ""
May 27 15:21:52 ubuntu etcd[66744]: INFO: 2024/05/27 15:21:52 scheme "" not registered, fallback to default scheme
May 27 15:21:52 ubuntu etcd[66744]: INFO: 2024/05/27 15:21:52 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
May 27 15:21:52 ubuntu etcd[66744]: INFO: 2024/05/27 15:21:52 ClientConn switching balancer to "pick_first"
May 27 15:21:52 ubuntu etcd[66744]: set the initial cluster version to 3.4
May 27 15:21:52 ubuntu etcd[66744]: enabled capabilities for version 3.4
May 27 15:21:52 ubuntu etcd[66744]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
May 27 15:21:52 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 27 15:26:56 ubuntu etcd[66744]: start time = 2024-05-27 15:26:56.304461335 +0000 UTC m=+304.348294792, time spent = 1.740867ms, remote = 10.201.5.82:37406, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 27 15:26:56 ubuntu etcd[66744]: start time = 2024-05-27 15:26:56.314810954 +0000 UTC m=+304.358644418, time spent = 270.944µs, remote = 10.201.5.82:37406, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 27 15:27:03 ubuntu etcd[66744]: start time = 2024-05-27 15:27:03.503230543 +0000 UTC m=+311.547063989, time spent = 427.351µs, remote = 10.201.5.82:37406, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 27 15:27:05 ubuntu etcd[66744]: start time = 2024-05-27 15:27:05.517956206 +0000 UTC m=+313.561789651, time spent = 305.197µs, remote = 10.201.5.82:37406, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
