Aug 14 15:58:20 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Aug 14 15:58:20 ubuntu etcd[67438]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Aug 14 15:58:20 ubuntu etcd[67438]:         A future release of golang/protobuf will delete this package,
Aug 14 15:58:20 ubuntu etcd[67438]:         which has long been excluded from the compatibility promise.
Aug 14 15:58:20 ubuntu etcd[67438]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Aug 14 15:58:20 ubuntu etcd[67438]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Aug 14 15:58:20 ubuntu etcd[67438]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 14 15:58:20 ubuntu etcd[67438]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Aug 14 15:58:20 ubuntu etcd[67438]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Aug 14 15:58:20 ubuntu etcd[67438]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 14 15:58:20 ubuntu etcd[67438]: Running http and grpc server on single port. This is not recommended for production.
Aug 14 15:58:20 ubuntu etcd[67438]: etcd Version: 3.4.27
Aug 14 15:58:20 ubuntu etcd[67438]: Git SHA: c92fb80f3
Aug 14 15:58:20 ubuntu etcd[67438]: Go Version: go1.19.10
Aug 14 15:58:20 ubuntu etcd[67438]: Go OS/Arch: linux/amd64
Aug 14 15:58:20 ubuntu etcd[67438]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Aug 14 15:58:20 ubuntu etcd[67438]: Running http and grpc server on single port. This is not recommended for production.
Aug 14 15:58:20 ubuntu etcd[67438]: name = ubuntu
Aug 14 15:58:20 ubuntu etcd[67438]: data dir = /opt/stack/data/etcd
Aug 14 15:58:20 ubuntu etcd[67438]: member dir = /opt/stack/data/etcd/member
Aug 14 15:58:20 ubuntu etcd[67438]: heartbeat = 100ms
Aug 14 15:58:20 ubuntu etcd[67438]: election = 1000ms
Aug 14 15:58:20 ubuntu etcd[67438]: snapshot count = 100000
Aug 14 15:58:20 ubuntu etcd[67438]: advertise client URLs = http://10.201.5.82:2379
Aug 14 15:58:20 ubuntu etcd[67438]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Aug 14 15:58:20 ubuntu etcd[67438]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Aug 14 15:58:20 ubuntu etcd[67438]: raft2024/08/14 15:58:20 INFO: 43038365673ccf7b switched to configuration voters=()
Aug 14 15:58:20 ubuntu etcd[67438]: raft2024/08/14 15:58:20 INFO: 43038365673ccf7b became follower at term 0
Aug 14 15:58:20 ubuntu etcd[67438]: raft2024/08/14 15:58:20 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Aug 14 15:58:20 ubuntu etcd[67438]: raft2024/08/14 15:58:20 INFO: 43038365673ccf7b became follower at term 1
Aug 14 15:58:20 ubuntu etcd[67438]: raft2024/08/14 15:58:20 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Aug 14 15:58:20 ubuntu etcd[67438]: simple token is not cryptographically signed
Aug 14 15:58:20 ubuntu etcd[67438]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Aug 14 15:58:20 ubuntu etcd[67438]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Aug 14 15:58:20 ubuntu etcd[67438]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Aug 14 15:58:20 ubuntu etcd[67438]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Aug 14 15:58:20 ubuntu etcd[67438]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Aug 14 15:58:20 ubuntu etcd[67438]: raft2024/08/14 15:58:20 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Aug 14 15:58:20 ubuntu etcd[67438]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Aug 14 15:58:20 ubuntu etcd[67438]: listening for peers on [::]:2380
Aug 14 15:58:21 ubuntu etcd[67438]: raft2024/08/14 15:58:21 INFO: 43038365673ccf7b is starting a new election at term 1
Aug 14 15:58:21 ubuntu etcd[67438]: raft2024/08/14 15:58:21 INFO: 43038365673ccf7b became candidate at term 2
Aug 14 15:58:21 ubuntu etcd[67438]: raft2024/08/14 15:58:21 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Aug 14 15:58:21 ubuntu etcd[67438]: raft2024/08/14 15:58:21 INFO: 43038365673ccf7b became leader at term 2
Aug 14 15:58:21 ubuntu etcd[67438]: raft2024/08/14 15:58:21 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Aug 14 15:58:21 ubuntu etcd[67438]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Aug 14 15:58:21 ubuntu etcd[67438]: setting up the initial cluster version to 3.4
Aug 14 15:58:21 ubuntu etcd[67438]: ready to serve client requests
Aug 14 15:58:21 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Aug 14 15:58:21 ubuntu etcd[67438]: INFO: 2024/08/14 15:58:21 parsed scheme: ""
Aug 14 15:58:21 ubuntu etcd[67438]: INFO: 2024/08/14 15:58:21 scheme "" not registered, fallback to default scheme
Aug 14 15:58:21 ubuntu etcd[67438]: INFO: 2024/08/14 15:58:21 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Aug 14 15:58:21 ubuntu etcd[67438]: INFO: 2024/08/14 15:58:21 ClientConn switching balancer to "pick_first"
Aug 14 15:58:21 ubuntu etcd[67438]: set the initial cluster version to 3.4
Aug 14 15:58:21 ubuntu etcd[67438]: enabled capabilities for version 3.4
Aug 14 15:58:21 ubuntu etcd[67438]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Aug 14 16:03:29 ubuntu etcd[67438]: start time = 2024-08-14 16:03:29.06005394 +0000 UTC m=+308.122984129, time spent = 1.735447ms, remote = 10.201.5.82:41220, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 14 16:03:29 ubuntu etcd[67438]: start time = 2024-08-14 16:03:29.060053722 +0000 UTC m=+308.122983910, time spent = 2.008804ms, remote = 10.201.5.82:41220, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 14 16:03:36 ubuntu etcd[67438]: start time = 2024-08-14 16:03:36.278755456 +0000 UTC m=+315.341685654, time spent = 346.436µs, remote = 10.201.5.82:41220, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 14 16:03:38 ubuntu etcd[67438]: start time = 2024-08-14 16:03:38.287112116 +0000 UTC m=+317.350042314, time spent = 313.334µs, remote = 10.201.5.82:41220, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
