Apr 25 17:24:56 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Apr 25 17:24:56 ubuntu etcd[79868]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Apr 25 17:24:56 ubuntu etcd[79868]:         A future release of golang/protobuf will delete this package,
Apr 25 17:24:56 ubuntu etcd[79868]:         which has long been excluded from the compatibility promise.
Apr 25 17:24:56 ubuntu etcd[79868]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 25 17:24:56 ubuntu etcd[79868]: Running http and grpc server on single port. This is not recommended for production.
Apr 25 17:24:56 ubuntu etcd[79868]: etcd Version: 3.4.27
Apr 25 17:24:56 ubuntu etcd[79868]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 25 17:24:56 ubuntu etcd[79868]: Git SHA: c92fb80f3
Apr 25 17:24:56 ubuntu etcd[79868]: Go Version: go1.19.10
Apr 25 17:24:56 ubuntu etcd[79868]: Go OS/Arch: linux/amd64
Apr 25 17:24:56 ubuntu etcd[79868]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Apr 25 17:24:56 ubuntu etcd[79868]: Running http and grpc server on single port. This is not recommended for production.
Apr 25 17:24:56 ubuntu etcd[79868]: name = ubuntu
Apr 25 17:24:56 ubuntu etcd[79868]: data dir = /opt/stack/data/etcd
Apr 25 17:24:56 ubuntu etcd[79868]: member dir = /opt/stack/data/etcd/member
Apr 25 17:24:56 ubuntu etcd[79868]: heartbeat = 100ms
Apr 25 17:24:56 ubuntu etcd[79868]: election = 1000ms
Apr 25 17:24:56 ubuntu etcd[79868]: snapshot count = 100000
Apr 25 17:24:56 ubuntu etcd[79868]: advertise client URLs = http://10.201.5.82:2379
Apr 25 17:24:56 ubuntu etcd[79868]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Apr 25 17:24:56 ubuntu etcd[79868]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Apr 25 17:24:56 ubuntu etcd[79868]: raft2025/04/25 17:24:56 INFO: 43038365673ccf7b switched to configuration voters=()
Apr 25 17:24:56 ubuntu etcd[79868]: raft2025/04/25 17:24:56 INFO: 43038365673ccf7b became follower at term 0
Apr 25 17:24:56 ubuntu etcd[79868]: raft2025/04/25 17:24:56 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Apr 25 17:24:56 ubuntu etcd[79868]: raft2025/04/25 17:24:56 INFO: 43038365673ccf7b became follower at term 1
Apr 25 17:24:56 ubuntu etcd[79868]: raft2025/04/25 17:24:56 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Apr 25 17:24:56 ubuntu etcd[79868]: simple token is not cryptographically signed
Apr 25 17:24:56 ubuntu etcd[79868]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Apr 25 17:24:56 ubuntu etcd[79868]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Apr 25 17:24:56 ubuntu etcd[79868]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Apr 25 17:24:56 ubuntu etcd[79868]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Apr 25 17:24:56 ubuntu etcd[79868]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Apr 25 17:24:56 ubuntu etcd[79868]: raft2025/04/25 17:24:56 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Apr 25 17:24:56 ubuntu etcd[79868]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Apr 25 17:24:56 ubuntu etcd[79868]: listening for peers on [::]:2380
Apr 25 17:24:56 ubuntu etcd[79868]: raft2025/04/25 17:24:56 INFO: 43038365673ccf7b is starting a new election at term 1
Apr 25 17:24:56 ubuntu etcd[79868]: raft2025/04/25 17:24:56 INFO: 43038365673ccf7b became candidate at term 2
Apr 25 17:24:56 ubuntu etcd[79868]: raft2025/04/25 17:24:56 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Apr 25 17:24:56 ubuntu etcd[79868]: raft2025/04/25 17:24:56 INFO: 43038365673ccf7b became leader at term 2
Apr 25 17:24:56 ubuntu etcd[79868]: raft2025/04/25 17:24:56 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Apr 25 17:24:56 ubuntu etcd[79868]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Apr 25 17:24:56 ubuntu etcd[79868]: setting up the initial cluster version to 3.4
Apr 25 17:24:56 ubuntu etcd[79868]: ready to serve client requests
Apr 25 17:24:56 ubuntu etcd[79868]: set the initial cluster version to 3.4
Apr 25 17:24:56 ubuntu etcd[79868]: enabled capabilities for version 3.4
Apr 25 17:24:56 ubuntu etcd[79868]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Apr 25 17:24:56 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Apr 25 17:29:43 ubuntu etcd[79868]: start time = 2025-04-25 17:29:43.938373237 +0000 UTC m=+287.727296232, time spent = 567.517µs, remote = 10.201.5.82:42300, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 25 17:29:43 ubuntu etcd[79868]: start time = 2025-04-25 17:29:43.970368335 +0000 UTC m=+287.759291346, time spent = 192.559µs, remote = 10.201.5.82:42300, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 25 17:29:50 ubuntu etcd[79868]: start time = 2025-04-25 17:29:50.723482773 +0000 UTC m=+294.512405780, time spent = 230.338µs, remote = 10.201.5.82:42300, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 25 17:29:52 ubuntu etcd[79868]: start time = 2025-04-25 17:29:52.8717658 +0000 UTC m=+296.660688809, time spent = 213.897µs, remote = 10.201.5.82:42300, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
