Mar 21 20:03:56 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 21 20:03:56 ubuntu etcd[66004]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 21 20:03:56 ubuntu etcd[66004]:         A future release of golang/protobuf will delete this package,
Mar 21 20:03:56 ubuntu etcd[66004]:         which has long been excluded from the compatibility promise.
Mar 21 20:03:56 ubuntu etcd[66004]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 21 20:03:56 ubuntu etcd[66004]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 21 20:03:56 ubuntu etcd[66004]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 21 20:03:56 ubuntu etcd[66004]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 21 20:03:56 ubuntu etcd[66004]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 21 20:03:56 ubuntu etcd[66004]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 21 20:03:56 ubuntu etcd[66004]: Running http and grpc server on single port. This is not recommended for production.
Mar 21 20:03:56 ubuntu etcd[66004]: etcd Version: 3.4.27
Mar 21 20:03:56 ubuntu etcd[66004]: Git SHA: c92fb80f3
Mar 21 20:03:56 ubuntu etcd[66004]: Go Version: go1.19.10
Mar 21 20:03:56 ubuntu etcd[66004]: Go OS/Arch: linux/amd64
Mar 21 20:03:56 ubuntu etcd[66004]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 21 20:03:56 ubuntu etcd[66004]: Running http and grpc server on single port. This is not recommended for production.
Mar 21 20:03:56 ubuntu etcd[66004]: name = ubuntu
Mar 21 20:03:56 ubuntu etcd[66004]: data dir = /opt/stack/data/etcd
Mar 21 20:03:56 ubuntu etcd[66004]: member dir = /opt/stack/data/etcd/member
Mar 21 20:03:56 ubuntu etcd[66004]: heartbeat = 100ms
Mar 21 20:03:56 ubuntu etcd[66004]: election = 1000ms
Mar 21 20:03:56 ubuntu etcd[66004]: snapshot count = 100000
Mar 21 20:03:56 ubuntu etcd[66004]: advertise client URLs = http://10.201.5.82:2379
Mar 21 20:03:56 ubuntu etcd[66004]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 21 20:03:56 ubuntu etcd[66004]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Mar 21 20:03:56 ubuntu etcd[66004]: raft2024/03/21 20:03:56 INFO: 43038365673ccf7b switched to configuration voters=()
Mar 21 20:03:56 ubuntu etcd[66004]: raft2024/03/21 20:03:56 INFO: 43038365673ccf7b became follower at term 0
Mar 21 20:03:56 ubuntu etcd[66004]: raft2024/03/21 20:03:56 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 21 20:03:56 ubuntu etcd[66004]: raft2024/03/21 20:03:56 INFO: 43038365673ccf7b became follower at term 1
Mar 21 20:03:56 ubuntu etcd[66004]: raft2024/03/21 20:03:56 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 21 20:03:56 ubuntu etcd[66004]: simple token is not cryptographically signed
Mar 21 20:03:56 ubuntu etcd[66004]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 21 20:03:56 ubuntu etcd[66004]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 21 20:03:56 ubuntu etcd[66004]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 21 20:03:56 ubuntu etcd[66004]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 21 20:03:56 ubuntu etcd[66004]: raft2024/03/21 20:03:56 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 21 20:03:56 ubuntu etcd[66004]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 21 20:03:56 ubuntu etcd[66004]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Mar 21 20:03:56 ubuntu etcd[66004]: listening for peers on [::]:2380
Mar 21 20:03:57 ubuntu etcd[66004]: raft2024/03/21 20:03:57 INFO: 43038365673ccf7b is starting a new election at term 1
Mar 21 20:03:57 ubuntu etcd[66004]: raft2024/03/21 20:03:57 INFO: 43038365673ccf7b became candidate at term 2
Mar 21 20:03:57 ubuntu etcd[66004]: raft2024/03/21 20:03:57 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Mar 21 20:03:57 ubuntu etcd[66004]: raft2024/03/21 20:03:57 INFO: 43038365673ccf7b became leader at term 2
Mar 21 20:03:57 ubuntu etcd[66004]: raft2024/03/21 20:03:57 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Mar 21 20:03:57 ubuntu etcd[66004]: INFO: 2024/03/21 20:03:57 parsed scheme: ""
Mar 21 20:03:57 ubuntu etcd[66004]: INFO: 2024/03/21 20:03:57 scheme "" not registered, fallback to default scheme
Mar 21 20:03:57 ubuntu etcd[66004]: INFO: 2024/03/21 20:03:57 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Mar 21 20:03:57 ubuntu etcd[66004]: INFO: 2024/03/21 20:03:57 ClientConn switching balancer to "pick_first"
Mar 21 20:03:57 ubuntu etcd[66004]: setting up the initial cluster version to 3.4
Mar 21 20:03:57 ubuntu etcd[66004]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Mar 21 20:03:57 ubuntu etcd[66004]: set the initial cluster version to 3.4
Mar 21 20:03:57 ubuntu etcd[66004]: enabled capabilities for version 3.4
Mar 21 20:03:57 ubuntu etcd[66004]: ready to serve client requests
Mar 21 20:03:57 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 21 20:03:57 ubuntu etcd[66004]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Mar 21 20:10:36 ubuntu etcd[66004]: start time = 2024-03-21 20:10:36.726613309 +0000 UTC m=+400.002628655, time spent = 1.801461ms, remote = 10.201.5.82:46786, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 21 20:10:36 ubuntu etcd[66004]: start time = 2024-03-21 20:10:36.726613373 +0000 UTC m=+400.002628717, time spent = 1.765444ms, remote = 10.201.5.82:46786, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 21 20:10:43 ubuntu etcd[66004]: start time = 2024-03-21 20:10:43.822225117 +0000 UTC m=+407.098240472, time spent = 192.208µs, remote = 10.201.5.82:46786, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 21 20:10:45 ubuntu etcd[66004]: start time = 2024-03-21 20:10:45.903111809 +0000 UTC m=+409.179127165, time spent = 915.849µs, remote = 10.201.5.82:46786, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
