Sep 16 15:07:27 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Sep 16 15:07:27 ubuntu etcd[67713]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Sep 16 15:07:27 ubuntu etcd[67713]:         A future release of golang/protobuf will delete this package,
Sep 16 15:07:27 ubuntu etcd[67713]:         which has long been excluded from the compatibility promise.
Sep 16 15:07:27 ubuntu etcd[67713]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Sep 16 15:07:27 ubuntu etcd[67713]: Running http and grpc server on single port. This is not recommended for production.
Sep 16 15:07:27 ubuntu etcd[67713]: etcd Version: 3.4.27
Sep 16 15:07:27 ubuntu etcd[67713]: Git SHA: c92fb80f3
Sep 16 15:07:27 ubuntu etcd[67713]: Go Version: go1.19.10
Sep 16 15:07:27 ubuntu etcd[67713]: Go OS/Arch: linux/amd64
Sep 16 15:07:27 ubuntu etcd[67713]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Sep 16 15:07:27 ubuntu etcd[67713]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Sep 16 15:07:27 ubuntu etcd[67713]: Running http and grpc server on single port. This is not recommended for production.
Sep 16 15:07:27 ubuntu etcd[67713]: name = ubuntu
Sep 16 15:07:27 ubuntu etcd[67713]: data dir = /opt/stack/data/etcd
Sep 16 15:07:27 ubuntu etcd[67713]: member dir = /opt/stack/data/etcd/member
Sep 16 15:07:27 ubuntu etcd[67713]: heartbeat = 100ms
Sep 16 15:07:27 ubuntu etcd[67713]: election = 1000ms
Sep 16 15:07:27 ubuntu etcd[67713]: snapshot count = 100000
Sep 16 15:07:27 ubuntu etcd[67713]: advertise client URLs = http://10.201.5.82:2379
Sep 16 15:07:27 ubuntu etcd[67713]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Sep 16 15:07:27 ubuntu etcd[67713]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Sep 16 15:07:27 ubuntu etcd[67713]: raft2024/09/16 15:07:27 INFO: 43038365673ccf7b switched to configuration voters=()
Sep 16 15:07:27 ubuntu etcd[67713]: raft2024/09/16 15:07:27 INFO: 43038365673ccf7b became follower at term 0
Sep 16 15:07:27 ubuntu etcd[67713]: raft2024/09/16 15:07:27 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Sep 16 15:07:27 ubuntu etcd[67713]: raft2024/09/16 15:07:27 INFO: 43038365673ccf7b became follower at term 1
Sep 16 15:07:27 ubuntu etcd[67713]: raft2024/09/16 15:07:27 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Sep 16 15:07:27 ubuntu etcd[67713]: simple token is not cryptographically signed
Sep 16 15:07:27 ubuntu etcd[67713]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Sep 16 15:07:27 ubuntu etcd[67713]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Sep 16 15:07:27 ubuntu etcd[67713]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Sep 16 15:07:27 ubuntu etcd[67713]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Sep 16 15:07:27 ubuntu etcd[67713]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Sep 16 15:07:27 ubuntu etcd[67713]: raft2024/09/16 15:07:27 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Sep 16 15:07:27 ubuntu etcd[67713]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Sep 16 15:07:27 ubuntu etcd[67713]: listening for peers on [::]:2380
Sep 16 15:07:27 ubuntu etcd[67713]: raft2024/09/16 15:07:27 INFO: 43038365673ccf7b is starting a new election at term 1
Sep 16 15:07:27 ubuntu etcd[67713]: raft2024/09/16 15:07:27 INFO: 43038365673ccf7b became candidate at term 2
Sep 16 15:07:27 ubuntu etcd[67713]: raft2024/09/16 15:07:27 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Sep 16 15:07:27 ubuntu etcd[67713]: raft2024/09/16 15:07:27 INFO: 43038365673ccf7b became leader at term 2
Sep 16 15:07:27 ubuntu etcd[67713]: raft2024/09/16 15:07:27 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Sep 16 15:07:27 ubuntu etcd[67713]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Sep 16 15:07:27 ubuntu etcd[67713]: ready to serve client requests
Sep 16 15:07:27 ubuntu etcd[67713]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Sep 16 15:07:27 ubuntu etcd[67713]: setting up the initial cluster version to 3.4
Sep 16 15:07:27 ubuntu etcd[67713]: set the initial cluster version to 3.4
Sep 16 15:07:27 ubuntu etcd[67713]: enabled capabilities for version 3.4
Sep 16 15:07:27 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Sep 16 15:12:21 ubuntu etcd[67713]: start time = 2024-09-16 15:12:21.498516524 +0000 UTC m=+294.012871095, time spent = 607.569µs, remote = 10.201.5.82:34706, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 16 15:12:21 ubuntu etcd[67713]: start time = 2024-09-16 15:12:21.510314869 +0000 UTC m=+294.024669455, time spent = 190.65µs, remote = 10.201.5.82:34706, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 16 15:12:28 ubuntu etcd[67713]: start time = 2024-09-16 15:12:28.664542684 +0000 UTC m=+301.178897269, time spent = 200.322µs, remote = 10.201.5.82:34706, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 16 15:12:30 ubuntu etcd[67713]: start time = 2024-09-16 15:12:30.705002469 +0000 UTC m=+303.219357048, time spent = 242.381µs, remote = 10.201.5.82:34706, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
