Apr 24 04:33:20 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Apr 24 04:33:20 ubuntu etcd[79465]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Apr 24 04:33:20 ubuntu etcd[79465]:         A future release of golang/protobuf will delete this package,
Apr 24 04:33:20 ubuntu etcd[79465]:         which has long been excluded from the compatibility promise.
Apr 24 04:33:20 ubuntu etcd[79465]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 24 04:33:20 ubuntu etcd[79465]: Running http and grpc server on single port. This is not recommended for production.
Apr 24 04:33:20 ubuntu etcd[79465]: etcd Version: 3.4.27
Apr 24 04:33:20 ubuntu etcd[79465]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 24 04:33:20 ubuntu etcd[79465]: Git SHA: c92fb80f3
Apr 24 04:33:20 ubuntu etcd[79465]: Go Version: go1.19.10
Apr 24 04:33:20 ubuntu etcd[79465]: Go OS/Arch: linux/amd64
Apr 24 04:33:20 ubuntu etcd[79465]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Apr 24 04:33:20 ubuntu etcd[79465]: Running http and grpc server on single port. This is not recommended for production.
Apr 24 04:33:20 ubuntu etcd[79465]: name = ubuntu
Apr 24 04:33:20 ubuntu etcd[79465]: data dir = /opt/stack/data/etcd
Apr 24 04:33:20 ubuntu etcd[79465]: member dir = /opt/stack/data/etcd/member
Apr 24 04:33:20 ubuntu etcd[79465]: heartbeat = 100ms
Apr 24 04:33:20 ubuntu etcd[79465]: election = 1000ms
Apr 24 04:33:20 ubuntu etcd[79465]: snapshot count = 100000
Apr 24 04:33:20 ubuntu etcd[79465]: advertise client URLs = http://10.201.5.82:2379
Apr 24 04:33:20 ubuntu etcd[79465]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Apr 24 04:33:20 ubuntu etcd[79465]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Apr 24 04:33:20 ubuntu etcd[79465]: raft2025/04/24 04:33:20 INFO: 43038365673ccf7b switched to configuration voters=()
Apr 24 04:33:20 ubuntu etcd[79465]: raft2025/04/24 04:33:20 INFO: 43038365673ccf7b became follower at term 0
Apr 24 04:33:20 ubuntu etcd[79465]: raft2025/04/24 04:33:20 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Apr 24 04:33:20 ubuntu etcd[79465]: raft2025/04/24 04:33:20 INFO: 43038365673ccf7b became follower at term 1
Apr 24 04:33:20 ubuntu etcd[79465]: raft2025/04/24 04:33:20 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Apr 24 04:33:20 ubuntu etcd[79465]: simple token is not cryptographically signed
Apr 24 04:33:20 ubuntu etcd[79465]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Apr 24 04:33:20 ubuntu etcd[79465]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Apr 24 04:33:20 ubuntu etcd[79465]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Apr 24 04:33:20 ubuntu etcd[79465]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Apr 24 04:33:20 ubuntu etcd[79465]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Apr 24 04:33:20 ubuntu etcd[79465]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Apr 24 04:33:20 ubuntu etcd[79465]: raft2025/04/24 04:33:20 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Apr 24 04:33:20 ubuntu etcd[79465]: listening for peers on [::]:2380
Apr 24 04:33:21 ubuntu etcd[79465]: raft2025/04/24 04:33:21 INFO: 43038365673ccf7b is starting a new election at term 1
Apr 24 04:33:21 ubuntu etcd[79465]: raft2025/04/24 04:33:21 INFO: 43038365673ccf7b became candidate at term 2
Apr 24 04:33:21 ubuntu etcd[79465]: raft2025/04/24 04:33:21 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Apr 24 04:33:21 ubuntu etcd[79465]: raft2025/04/24 04:33:21 INFO: 43038365673ccf7b became leader at term 2
Apr 24 04:33:21 ubuntu etcd[79465]: raft2025/04/24 04:33:21 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Apr 24 04:33:21 ubuntu etcd[79465]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Apr 24 04:33:21 ubuntu etcd[79465]: ready to serve client requests
Apr 24 04:33:21 ubuntu etcd[79465]: setting up the initial cluster version to 3.4
Apr 24 04:33:21 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Apr 24 04:33:21 ubuntu etcd[79465]: set the initial cluster version to 3.4
Apr 24 04:33:21 ubuntu etcd[79465]: enabled capabilities for version 3.4
Apr 24 04:33:21 ubuntu etcd[79465]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Apr 24 04:38:19 ubuntu etcd[79465]: start time = 2025-04-24 04:38:19.43610487 +0000 UTC m=+299.046737262, time spent = 564.102µs, remote = 10.201.5.82:43870, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 24 04:38:19 ubuntu etcd[79465]: start time = 2025-04-24 04:38:19.659329339 +0000 UTC m=+299.269961745, time spent = 244.948µs, remote = 10.201.5.82:43870, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 24 04:38:26 ubuntu etcd[79465]: start time = 2025-04-24 04:38:26.265952806 +0000 UTC m=+305.876585211, time spent = 188.213µs, remote = 10.201.5.82:43870, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 24 04:38:28 ubuntu etcd[79465]: start time = 2025-04-24 04:38:28.384318707 +0000 UTC m=+307.994951116, time spent = 373.252µs, remote = 10.201.5.82:43870, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
