Jan 03 20:22:42 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jan 03 20:22:42 ubuntu etcd[67824]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jan 03 20:22:42 ubuntu etcd[67824]:         A future release of golang/protobuf will delete this package,
Jan 03 20:22:42 ubuntu etcd[67824]:         which has long been excluded from the compatibility promise.
Jan 03 20:22:42 ubuntu etcd[67824]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 03 20:22:42 ubuntu etcd[67824]: Running http and grpc server on single port. This is not recommended for production.
Jan 03 20:22:42 ubuntu etcd[67824]: etcd Version: 3.4.27
Jan 03 20:22:42 ubuntu etcd[67824]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 03 20:22:42 ubuntu etcd[67824]: Git SHA: c92fb80f3
Jan 03 20:22:42 ubuntu etcd[67824]: Go Version: go1.19.10
Jan 03 20:22:42 ubuntu etcd[67824]: Go OS/Arch: linux/amd64
Jan 03 20:22:42 ubuntu etcd[67824]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jan 03 20:22:42 ubuntu etcd[67824]: Running http and grpc server on single port. This is not recommended for production.
Jan 03 20:22:42 ubuntu etcd[67824]: name = ubuntu
Jan 03 20:22:42 ubuntu etcd[67824]: data dir = /opt/stack/data/etcd
Jan 03 20:22:42 ubuntu etcd[67824]: member dir = /opt/stack/data/etcd/member
Jan 03 20:22:42 ubuntu etcd[67824]: heartbeat = 100ms
Jan 03 20:22:42 ubuntu etcd[67824]: election = 1000ms
Jan 03 20:22:42 ubuntu etcd[67824]: snapshot count = 100000
Jan 03 20:22:42 ubuntu etcd[67824]: advertise client URLs = http://10.201.5.82:2379
Jan 03 20:22:42 ubuntu etcd[67824]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jan 03 20:22:42 ubuntu etcd[67824]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jan 03 20:22:42 ubuntu etcd[67824]: raft2025/01/03 20:22:42 INFO: 43038365673ccf7b switched to configuration voters=()
Jan 03 20:22:42 ubuntu etcd[67824]: raft2025/01/03 20:22:42 INFO: 43038365673ccf7b became follower at term 0
Jan 03 20:22:42 ubuntu etcd[67824]: raft2025/01/03 20:22:42 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jan 03 20:22:42 ubuntu etcd[67824]: raft2025/01/03 20:22:42 INFO: 43038365673ccf7b became follower at term 1
Jan 03 20:22:42 ubuntu etcd[67824]: raft2025/01/03 20:22:42 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jan 03 20:22:42 ubuntu etcd[67824]: simple token is not cryptographically signed
Jan 03 20:22:42 ubuntu etcd[67824]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jan 03 20:22:42 ubuntu etcd[67824]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jan 03 20:22:42 ubuntu etcd[67824]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jan 03 20:22:42 ubuntu etcd[67824]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jan 03 20:22:42 ubuntu etcd[67824]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jan 03 20:22:42 ubuntu etcd[67824]: raft2025/01/03 20:22:42 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jan 03 20:22:42 ubuntu etcd[67824]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jan 03 20:22:42 ubuntu etcd[67824]: listening for peers on [::]:2380
Jan 03 20:22:42 ubuntu etcd[67824]: raft2025/01/03 20:22:42 INFO: 43038365673ccf7b is starting a new election at term 1
Jan 03 20:22:42 ubuntu etcd[67824]: raft2025/01/03 20:22:42 INFO: 43038365673ccf7b became candidate at term 2
Jan 03 20:22:42 ubuntu etcd[67824]: raft2025/01/03 20:22:42 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jan 03 20:22:42 ubuntu etcd[67824]: raft2025/01/03 20:22:42 INFO: 43038365673ccf7b became leader at term 2
Jan 03 20:22:42 ubuntu etcd[67824]: raft2025/01/03 20:22:42 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jan 03 20:22:42 ubuntu etcd[67824]: setting up the initial cluster version to 3.4
Jan 03 20:22:42 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jan 03 20:22:42 ubuntu etcd[67824]: set the initial cluster version to 3.4
Jan 03 20:22:42 ubuntu etcd[67824]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jan 03 20:22:42 ubuntu etcd[67824]: ready to serve client requests
Jan 03 20:22:42 ubuntu etcd[67824]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jan 03 20:22:42 ubuntu etcd[67824]: enabled capabilities for version 3.4
Jan 03 20:27:38 ubuntu etcd[67824]: start time = 2025-01-03 20:27:38.003286293 +0000 UTC m=+295.783161157, time spent = 995.233µs, remote = 10.201.5.82:60232, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 03 20:27:38 ubuntu etcd[67824]: start time = 2025-01-03 20:27:38.083661311 +0000 UTC m=+295.863536178, time spent = 207.854µs, remote = 10.201.5.82:60232, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 03 20:27:44 ubuntu etcd[67824]: start time = 2025-01-03 20:27:44.740938309 +0000 UTC m=+302.520813160, time spent = 280.54µs, remote = 10.201.5.82:60232, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 03 20:27:47 ubuntu etcd[67824]: start time = 2025-01-03 20:27:47.280914222 +0000 UTC m=+305.060789088, time spent = 359.837µs, remote = 10.201.5.82:60232, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 03 20:30:44 ubuntu etcd[67824]: start time = 2025-01-03 20:30:44.727949188 +0000 UTC m=+482.507824050, time spent = 404.497µs, remote = 10.201.5.82:60232, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 03 20:30:44 ubuntu etcd[67824]: start time = 2025-01-03 20:30:44.734899641 +0000 UTC m=+482.514774506, time spent = 150.697µs, remote = 10.201.5.82:60232, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 03 20:30:45 ubuntu etcd[67824]: start time = 2025-01-03 20:30:45.02250354 +0000 UTC m=+482.802378406, time spent = 332.015µs, remote = 10.201.5.82:60232, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 03 20:30:49 ubuntu etcd[67824]: start time = 2025-01-03 20:30:49.165480944 +0000 UTC m=+486.945355810, time spent = 206.55µs, remote = 10.201.5.82:60232, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 03 20:32:37 ubuntu etcd[67824]: start time = 2025-01-03 20:32:37.688105615 +0000 UTC m=+595.467980530, time spent = 536.109µs, remote = 10.201.5.82:60232, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 03 20:32:37 ubuntu etcd[67824]: start time = 2025-01-03 20:32:37.692344304 +0000 UTC m=+595.472219155, time spent = 636.744µs, remote = 10.201.5.82:60232, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-8fbcd0e5-e3a5-4967-806f-475232aaaa48" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-8fbcd0e5-e3a5-4967-806f-475232aaaa48" value_size:16 lease:5727334275710152729 >> failure:<request_range:<key:"/tooz/lockscinder-8fbcd0e5-e3a5-4967-806f-475232aaaa48" > >
Jan 03 20:32:40 ubuntu etcd[67824]: start time = 2025-01-03 20:32:40.497735819 +0000 UTC m=+598.277610789, time spent = 848.412µs, remote = 10.201.5.82:60232, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-8fbcd0e5-e3a5-4967-806f-475232aaaa48" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-8fbcd0e5-e3a5-4967-806f-475232aaaa48" > > failure:<>
Jan 03 20:32:40 ubuntu etcd[67824]: start time = 2025-01-03 20:32:40.702935302 +0000 UTC m=+598.482810198, time spent = 380.353µs, remote = 10.201.5.82:60232, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 03 20:32:40 ubuntu etcd[67824]: start time = 2025-01-03 20:32:40.705886985 +0000 UTC m=+598.485761844, time spent = 222.209µs, remote = 10.201.5.82:60232, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-8fbcd0e5-e3a5-4967-806f-475232aaaa48" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-8fbcd0e5-e3a5-4967-806f-475232aaaa48" value_size:16 lease:5727334275710152733 >> failure:<request_range:<key:"/tooz/lockscinder-8fbcd0e5-e3a5-4967-806f-475232aaaa48" > >
Jan 03 20:32:41 ubuntu etcd[67824]: start time = 2025-01-03 20:32:41.461727882 +0000 UTC m=+599.241602858, time spent = 738.791µs, remote = 10.201.5.82:60232, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-8fbcd0e5-e3a5-4967-806f-475232aaaa48" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-8fbcd0e5-e3a5-4967-806f-475232aaaa48" > > failure:<>
Jan 03 20:32:41 ubuntu etcd[67824]: start time = 2025-01-03 20:32:41.666260698 +0000 UTC m=+599.446135566, time spent = 246.491µs, remote = 10.201.5.82:60232, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 03 20:32:41 ubuntu etcd[67824]: start time = 2025-01-03 20:32:41.668661118 +0000 UTC m=+599.448535985, time spent = 185.027µs, remote = 10.201.5.82:60232, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-8fbcd0e5-e3a5-4967-806f-475232aaaa48" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-8fbcd0e5-e3a5-4967-806f-475232aaaa48" value_size:16 lease:5727334275710152737 >> failure:<request_range:<key:"/tooz/lockscinder-8fbcd0e5-e3a5-4967-806f-475232aaaa48" > >
Jan 03 20:32:42 ubuntu etcd[67824]: start time = 2025-01-03 20:32:42.439590241 +0000 UTC m=+600.219465105, time spent = 260.022µs, remote = 10.201.5.82:60232, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-8fbcd0e5-e3a5-4967-806f-475232aaaa48" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-8fbcd0e5-e3a5-4967-806f-475232aaaa48" > > failure:<>
