Jan 07 10:02:53 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jan 07 10:02:53 ubuntu etcd[67713]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jan 07 10:02:53 ubuntu etcd[67713]:         A future release of golang/protobuf will delete this package,
Jan 07 10:02:53 ubuntu etcd[67713]:         which has long been excluded from the compatibility promise.
Jan 07 10:02:53 ubuntu etcd[67713]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 07 10:02:53 ubuntu etcd[67713]: Running http and grpc server on single port. This is not recommended for production.
Jan 07 10:02:53 ubuntu etcd[67713]: etcd Version: 3.4.27
Jan 07 10:02:53 ubuntu etcd[67713]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 07 10:02:53 ubuntu etcd[67713]: Git SHA: c92fb80f3
Jan 07 10:02:53 ubuntu etcd[67713]: Go Version: go1.19.10
Jan 07 10:02:53 ubuntu etcd[67713]: Go OS/Arch: linux/amd64
Jan 07 10:02:53 ubuntu etcd[67713]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jan 07 10:02:53 ubuntu etcd[67713]: Running http and grpc server on single port. This is not recommended for production.
Jan 07 10:02:53 ubuntu etcd[67713]: name = ubuntu
Jan 07 10:02:53 ubuntu etcd[67713]: data dir = /opt/stack/data/etcd
Jan 07 10:02:53 ubuntu etcd[67713]: member dir = /opt/stack/data/etcd/member
Jan 07 10:02:53 ubuntu etcd[67713]: heartbeat = 100ms
Jan 07 10:02:53 ubuntu etcd[67713]: election = 1000ms
Jan 07 10:02:53 ubuntu etcd[67713]: snapshot count = 100000
Jan 07 10:02:53 ubuntu etcd[67713]: advertise client URLs = http://10.201.5.82:2379
Jan 07 10:02:53 ubuntu etcd[67713]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jan 07 10:02:53 ubuntu etcd[67713]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jan 07 10:02:53 ubuntu etcd[67713]: raft2025/01/07 10:02:53 INFO: 43038365673ccf7b switched to configuration voters=()
Jan 07 10:02:53 ubuntu etcd[67713]: raft2025/01/07 10:02:53 INFO: 43038365673ccf7b became follower at term 0
Jan 07 10:02:53 ubuntu etcd[67713]: raft2025/01/07 10:02:53 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jan 07 10:02:53 ubuntu etcd[67713]: raft2025/01/07 10:02:53 INFO: 43038365673ccf7b became follower at term 1
Jan 07 10:02:53 ubuntu etcd[67713]: raft2025/01/07 10:02:53 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jan 07 10:02:53 ubuntu etcd[67713]: simple token is not cryptographically signed
Jan 07 10:02:53 ubuntu etcd[67713]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jan 07 10:02:53 ubuntu etcd[67713]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jan 07 10:02:53 ubuntu etcd[67713]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jan 07 10:02:53 ubuntu etcd[67713]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jan 07 10:02:53 ubuntu etcd[67713]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jan 07 10:02:53 ubuntu etcd[67713]: raft2025/01/07 10:02:53 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jan 07 10:02:53 ubuntu etcd[67713]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jan 07 10:02:53 ubuntu etcd[67713]: listening for peers on [::]:2380
Jan 07 10:02:54 ubuntu etcd[67713]: raft2025/01/07 10:02:54 INFO: 43038365673ccf7b is starting a new election at term 1
Jan 07 10:02:54 ubuntu etcd[67713]: raft2025/01/07 10:02:54 INFO: 43038365673ccf7b became candidate at term 2
Jan 07 10:02:54 ubuntu etcd[67713]: raft2025/01/07 10:02:54 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jan 07 10:02:54 ubuntu etcd[67713]: raft2025/01/07 10:02:54 INFO: 43038365673ccf7b became leader at term 2
Jan 07 10:02:54 ubuntu etcd[67713]: raft2025/01/07 10:02:54 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jan 07 10:02:54 ubuntu etcd[67713]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jan 07 10:02:54 ubuntu etcd[67713]: setting up the initial cluster version to 3.4
Jan 07 10:02:54 ubuntu etcd[67713]: ready to serve client requests
Jan 07 10:02:54 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jan 07 10:02:54 ubuntu etcd[67713]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jan 07 10:02:54 ubuntu etcd[67713]: set the initial cluster version to 3.4
Jan 07 10:02:54 ubuntu etcd[67713]: enabled capabilities for version 3.4
Jan 07 10:07:50 ubuntu etcd[67713]: start time = 2025-01-07 10:07:50.906696714 +0000 UTC m=+297.106649039, time spent = 514.715µs, remote = 10.201.5.82:52642, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 07 10:07:50 ubuntu etcd[67713]: start time = 2025-01-07 10:07:50.961723107 +0000 UTC m=+297.161675441, time spent = 263.844µs, remote = 10.201.5.82:52642, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 07 10:07:58 ubuntu etcd[67713]: start time = 2025-01-07 10:07:58.261345916 +0000 UTC m=+304.461298237, time spent = 259.268µs, remote = 10.201.5.82:52642, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 07 10:08:00 ubuntu etcd[67713]: start time = 2025-01-07 10:08:00.048586436 +0000 UTC m=+306.248538768, time spent = 291.733µs, remote = 10.201.5.82:52642, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
