Mar 25 11:02:01 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 25 11:02:01 ubuntu etcd[79400]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 25 11:02:01 ubuntu etcd[79400]:         A future release of golang/protobuf will delete this package,
Mar 25 11:02:01 ubuntu etcd[79400]:         which has long been excluded from the compatibility promise.
Mar 25 11:02:01 ubuntu etcd[79400]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 25 11:02:01 ubuntu etcd[79400]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 25 11:02:01 ubuntu etcd[79400]: Running http and grpc server on single port. This is not recommended for production.
Mar 25 11:02:01 ubuntu etcd[79400]: etcd Version: 3.4.27
Mar 25 11:02:01 ubuntu etcd[79400]: Git SHA: c92fb80f3
Mar 25 11:02:01 ubuntu etcd[79400]: Go Version: go1.19.10
Mar 25 11:02:01 ubuntu etcd[79400]: Go OS/Arch: linux/amd64
Mar 25 11:02:01 ubuntu etcd[79400]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 25 11:02:01 ubuntu etcd[79400]: Running http and grpc server on single port. This is not recommended for production.
Mar 25 11:02:01 ubuntu etcd[79400]: name = ubuntu
Mar 25 11:02:01 ubuntu etcd[79400]: data dir = /opt/stack/data/etcd
Mar 25 11:02:01 ubuntu etcd[79400]: member dir = /opt/stack/data/etcd/member
Mar 25 11:02:01 ubuntu etcd[79400]: heartbeat = 100ms
Mar 25 11:02:01 ubuntu etcd[79400]: election = 1000ms
Mar 25 11:02:01 ubuntu etcd[79400]: snapshot count = 100000
Mar 25 11:02:01 ubuntu etcd[79400]: advertise client URLs = http://10.201.5.82:2379
Mar 25 11:02:01 ubuntu etcd[79400]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 25 11:02:01 ubuntu etcd[79400]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Mar 25 11:02:01 ubuntu etcd[79400]: raft2025/03/25 11:02:01 INFO: 43038365673ccf7b switched to configuration voters=()
Mar 25 11:02:01 ubuntu etcd[79400]: raft2025/03/25 11:02:01 INFO: 43038365673ccf7b became follower at term 0
Mar 25 11:02:01 ubuntu etcd[79400]: raft2025/03/25 11:02:01 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 25 11:02:01 ubuntu etcd[79400]: raft2025/03/25 11:02:01 INFO: 43038365673ccf7b became follower at term 1
Mar 25 11:02:01 ubuntu etcd[79400]: raft2025/03/25 11:02:01 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 25 11:02:01 ubuntu etcd[79400]: simple token is not cryptographically signed
Mar 25 11:02:01 ubuntu etcd[79400]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 25 11:02:01 ubuntu etcd[79400]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 25 11:02:01 ubuntu etcd[79400]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 25 11:02:01 ubuntu etcd[79400]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 25 11:02:01 ubuntu etcd[79400]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 25 11:02:01 ubuntu etcd[79400]: listening for peers on [::]:2380
Mar 25 11:02:01 ubuntu etcd[79400]: raft2025/03/25 11:02:01 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 25 11:02:01 ubuntu etcd[79400]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Mar 25 11:02:02 ubuntu etcd[79400]: raft2025/03/25 11:02:02 INFO: 43038365673ccf7b is starting a new election at term 1
Mar 25 11:02:02 ubuntu etcd[79400]: raft2025/03/25 11:02:02 INFO: 43038365673ccf7b became candidate at term 2
Mar 25 11:02:02 ubuntu etcd[79400]: raft2025/03/25 11:02:02 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Mar 25 11:02:02 ubuntu etcd[79400]: raft2025/03/25 11:02:02 INFO: 43038365673ccf7b became leader at term 2
Mar 25 11:02:02 ubuntu etcd[79400]: raft2025/03/25 11:02:02 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Mar 25 11:02:02 ubuntu etcd[79400]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Mar 25 11:02:02 ubuntu etcd[79400]: ready to serve client requests
Mar 25 11:02:02 ubuntu etcd[79400]: setting up the initial cluster version to 3.4
Mar 25 11:02:02 ubuntu etcd[79400]: set the initial cluster version to 3.4
Mar 25 11:02:02 ubuntu etcd[79400]: enabled capabilities for version 3.4
Mar 25 11:02:02 ubuntu etcd[79400]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Mar 25 11:02:02 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 25 11:06:45 ubuntu etcd[79400]: start time = 2025-03-25 11:06:45.932586262 +0000 UTC m=+284.338347886, time spent = 1.294096ms, remote = 10.201.5.82:60392, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 25 11:06:45 ubuntu etcd[79400]: start time = 2025-03-25 11:06:45.931626785 +0000 UTC m=+284.337388394, time spent = 2.413532ms, remote = 10.201.5.82:60392, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 25 11:06:52 ubuntu etcd[79400]: start time = 2025-03-25 11:06:52.872641978 +0000 UTC m=+291.278403589, time spent = 340.013µs, remote = 10.201.5.82:60392, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 25 11:06:54 ubuntu etcd[79400]: start time = 2025-03-25 11:06:54.956129457 +0000 UTC m=+293.361891079, time spent = 217.94µs, remote = 10.201.5.82:60392, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 25 11:09:53 ubuntu etcd[79400]: start time = 2025-03-25 11:09:53.071281796 +0000 UTC m=+471.477043416, time spent = 627.547µs, remote = 10.201.5.82:60392, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 25 11:09:53 ubuntu etcd[79400]: start time = 2025-03-25 11:09:53.423112343 +0000 UTC m=+471.828873968, time spent = 194.784µs, remote = 10.201.5.82:60392, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 25 11:09:53 ubuntu etcd[79400]: start time = 2025-03-25 11:09:53.460478577 +0000 UTC m=+471.866240311, time spent = 350.468µs, remote = 10.201.5.82:60392, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 25 11:09:57 ubuntu etcd[79400]: start time = 2025-03-25 11:09:57.432102177 +0000 UTC m=+475.837863797, time spent = 219.621µs, remote = 10.201.5.82:60392, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
