Mar 26 13:43:04 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 26 13:43:04 ubuntu etcd[66055]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 26 13:43:04 ubuntu etcd[66055]:         A future release of golang/protobuf will delete this package,
Mar 26 13:43:04 ubuntu etcd[66055]:         which has long been excluded from the compatibility promise.
Mar 26 13:43:04 ubuntu etcd[66055]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 26 13:43:04 ubuntu etcd[66055]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 26 13:43:04 ubuntu etcd[66055]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 26 13:43:04 ubuntu etcd[66055]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 26 13:43:04 ubuntu etcd[66055]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 26 13:43:04 ubuntu etcd[66055]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 26 13:43:04 ubuntu etcd[66055]: Running http and grpc server on single port. This is not recommended for production.
Mar 26 13:43:04 ubuntu etcd[66055]: etcd Version: 3.4.27
Mar 26 13:43:04 ubuntu etcd[66055]: Git SHA: c92fb80f3
Mar 26 13:43:04 ubuntu etcd[66055]: Go Version: go1.19.10
Mar 26 13:43:04 ubuntu etcd[66055]: Go OS/Arch: linux/amd64
Mar 26 13:43:04 ubuntu etcd[66055]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 26 13:43:04 ubuntu etcd[66055]: Running http and grpc server on single port. This is not recommended for production.
Mar 26 13:43:04 ubuntu etcd[66055]: name = ubuntu
Mar 26 13:43:04 ubuntu etcd[66055]: data dir = /opt/stack/data/etcd
Mar 26 13:43:04 ubuntu etcd[66055]: member dir = /opt/stack/data/etcd/member
Mar 26 13:43:04 ubuntu etcd[66055]: heartbeat = 100ms
Mar 26 13:43:04 ubuntu etcd[66055]: election = 1000ms
Mar 26 13:43:04 ubuntu etcd[66055]: snapshot count = 100000
Mar 26 13:43:04 ubuntu etcd[66055]: advertise client URLs = http://10.201.5.82:2379
Mar 26 13:43:04 ubuntu etcd[66055]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 26 13:43:04 ubuntu etcd[66055]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Mar 26 13:43:04 ubuntu etcd[66055]: raft2024/03/26 13:43:04 INFO: 43038365673ccf7b switched to configuration voters=()
Mar 26 13:43:04 ubuntu etcd[66055]: raft2024/03/26 13:43:04 INFO: 43038365673ccf7b became follower at term 0
Mar 26 13:43:04 ubuntu etcd[66055]: raft2024/03/26 13:43:04 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 26 13:43:04 ubuntu etcd[66055]: raft2024/03/26 13:43:04 INFO: 43038365673ccf7b became follower at term 1
Mar 26 13:43:04 ubuntu etcd[66055]: raft2024/03/26 13:43:04 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 26 13:43:04 ubuntu etcd[66055]: simple token is not cryptographically signed
Mar 26 13:43:04 ubuntu etcd[66055]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 26 13:43:04 ubuntu etcd[66055]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 26 13:43:04 ubuntu etcd[66055]: raft2024/03/26 13:43:04 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 26 13:43:04 ubuntu etcd[66055]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Mar 26 13:43:04 ubuntu etcd[66055]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 26 13:43:04 ubuntu etcd[66055]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 26 13:43:04 ubuntu etcd[66055]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 26 13:43:04 ubuntu etcd[66055]: listening for peers on [::]:2380
Mar 26 13:43:05 ubuntu etcd[66055]: raft2024/03/26 13:43:05 INFO: 43038365673ccf7b is starting a new election at term 1
Mar 26 13:43:05 ubuntu etcd[66055]: raft2024/03/26 13:43:05 INFO: 43038365673ccf7b became candidate at term 2
Mar 26 13:43:05 ubuntu etcd[66055]: raft2024/03/26 13:43:05 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Mar 26 13:43:05 ubuntu etcd[66055]: raft2024/03/26 13:43:05 INFO: 43038365673ccf7b became leader at term 2
Mar 26 13:43:05 ubuntu etcd[66055]: raft2024/03/26 13:43:05 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Mar 26 13:43:05 ubuntu etcd[66055]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Mar 26 13:43:05 ubuntu etcd[66055]: setting up the initial cluster version to 3.4
Mar 26 13:43:05 ubuntu etcd[66055]: set the initial cluster version to 3.4
Mar 26 13:43:05 ubuntu etcd[66055]: enabled capabilities for version 3.4
Mar 26 13:43:05 ubuntu etcd[66055]: ready to serve client requests
Mar 26 13:43:05 ubuntu etcd[66055]: INFO: 2024/03/26 13:43:05 parsed scheme: ""
Mar 26 13:43:05 ubuntu etcd[66055]: INFO: 2024/03/26 13:43:05 scheme "" not registered, fallback to default scheme
Mar 26 13:43:05 ubuntu etcd[66055]: INFO: 2024/03/26 13:43:05 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Mar 26 13:43:05 ubuntu etcd[66055]: INFO: 2024/03/26 13:43:05 ClientConn switching balancer to "pick_first"
Mar 26 13:43:05 ubuntu etcd[66055]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Mar 26 13:43:05 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 26 13:51:08 ubuntu etcd[66055]: start time = 2024-03-26 13:51:08.559754327 +0000 UTC m=+483.810195185, time spent = 1.516624ms, remote = 10.201.5.82:59012, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 26 13:51:08 ubuntu etcd[66055]: start time = 2024-03-26 13:51:08.603298686 +0000 UTC m=+483.853739533, time spent = 353.392µs, remote = 10.201.5.82:59012, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 26 13:51:15 ubuntu etcd[66055]: start time = 2024-03-26 13:51:15.734786212 +0000 UTC m=+490.985227068, time spent = 182.25µs, remote = 10.201.5.82:59012, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 26 13:51:17 ubuntu etcd[66055]: start time = 2024-03-26 13:51:17.705194082 +0000 UTC m=+492.955634940, time spent = 230.428µs, remote = 10.201.5.82:59012, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
