Feb 12 19:11:17 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Feb 12 19:11:17 ubuntu etcd[78465]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Feb 12 19:11:17 ubuntu etcd[78465]:         A future release of golang/protobuf will delete this package,
Feb 12 19:11:17 ubuntu etcd[78465]:         which has long been excluded from the compatibility promise.
Feb 12 19:11:17 ubuntu etcd[78465]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 12 19:11:17 ubuntu etcd[78465]: Running http and grpc server on single port. This is not recommended for production.
Feb 12 19:11:17 ubuntu etcd[78465]: etcd Version: 3.4.27
Feb 12 19:11:17 ubuntu etcd[78465]: Git SHA: c92fb80f3
Feb 12 19:11:17 ubuntu etcd[78465]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 12 19:11:17 ubuntu etcd[78465]: Go Version: go1.19.10
Feb 12 19:11:17 ubuntu etcd[78465]: Go OS/Arch: linux/amd64
Feb 12 19:11:17 ubuntu etcd[78465]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Feb 12 19:11:17 ubuntu etcd[78465]: Running http and grpc server on single port. This is not recommended for production.
Feb 12 19:11:17 ubuntu etcd[78465]: name = ubuntu
Feb 12 19:11:17 ubuntu etcd[78465]: data dir = /opt/stack/data/etcd
Feb 12 19:11:17 ubuntu etcd[78465]: member dir = /opt/stack/data/etcd/member
Feb 12 19:11:17 ubuntu etcd[78465]: heartbeat = 100ms
Feb 12 19:11:17 ubuntu etcd[78465]: election = 1000ms
Feb 12 19:11:17 ubuntu etcd[78465]: snapshot count = 100000
Feb 12 19:11:17 ubuntu etcd[78465]: advertise client URLs = http://10.201.5.82:2379
Feb 12 19:11:17 ubuntu etcd[78465]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Feb 12 19:11:17 ubuntu etcd[78465]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Feb 12 19:11:17 ubuntu etcd[78465]: raft2025/02/12 19:11:17 INFO: 43038365673ccf7b switched to configuration voters=()
Feb 12 19:11:17 ubuntu etcd[78465]: raft2025/02/12 19:11:17 INFO: 43038365673ccf7b became follower at term 0
Feb 12 19:11:17 ubuntu etcd[78465]: raft2025/02/12 19:11:17 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Feb 12 19:11:17 ubuntu etcd[78465]: raft2025/02/12 19:11:17 INFO: 43038365673ccf7b became follower at term 1
Feb 12 19:11:17 ubuntu etcd[78465]: raft2025/02/12 19:11:17 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Feb 12 19:11:17 ubuntu etcd[78465]: simple token is not cryptographically signed
Feb 12 19:11:17 ubuntu etcd[78465]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Feb 12 19:11:17 ubuntu etcd[78465]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Feb 12 19:11:17 ubuntu etcd[78465]: raft2025/02/12 19:11:17 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Feb 12 19:11:17 ubuntu etcd[78465]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Feb 12 19:11:17 ubuntu etcd[78465]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Feb 12 19:11:17 ubuntu etcd[78465]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Feb 12 19:11:17 ubuntu etcd[78465]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Feb 12 19:11:17 ubuntu etcd[78465]: listening for peers on [::]:2380
Feb 12 19:11:17 ubuntu etcd[78465]: raft2025/02/12 19:11:17 INFO: 43038365673ccf7b is starting a new election at term 1
Feb 12 19:11:17 ubuntu etcd[78465]: raft2025/02/12 19:11:17 INFO: 43038365673ccf7b became candidate at term 2
Feb 12 19:11:17 ubuntu etcd[78465]: raft2025/02/12 19:11:17 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Feb 12 19:11:17 ubuntu etcd[78465]: raft2025/02/12 19:11:17 INFO: 43038365673ccf7b became leader at term 2
Feb 12 19:11:17 ubuntu etcd[78465]: raft2025/02/12 19:11:17 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Feb 12 19:11:17 ubuntu etcd[78465]: setting up the initial cluster version to 3.4
Feb 12 19:11:17 ubuntu etcd[78465]: set the initial cluster version to 3.4
Feb 12 19:11:17 ubuntu etcd[78465]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Feb 12 19:11:17 ubuntu etcd[78465]: enabled capabilities for version 3.4
Feb 12 19:11:17 ubuntu etcd[78465]: ready to serve client requests
Feb 12 19:11:17 ubuntu etcd[78465]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Feb 12 19:11:17 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Feb 12 19:16:06 ubuntu etcd[78465]: start time = 2025-02-12 19:16:06.506918678 +0000 UTC m=+289.051736724, time spent = 615.476µs, remote = 10.201.5.82:40736, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 12 19:16:06 ubuntu etcd[78465]: start time = 2025-02-12 19:16:06.540034124 +0000 UTC m=+289.084852182, time spent = 238.167µs, remote = 10.201.5.82:40736, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 12 19:16:13 ubuntu etcd[78465]: start time = 2025-02-12 19:16:13.175340749 +0000 UTC m=+295.720158803, time spent = 245.78µs, remote = 10.201.5.82:40736, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 12 19:16:15 ubuntu etcd[78465]: start time = 2025-02-12 19:16:15.232923312 +0000 UTC m=+297.777741367, time spent = 233.942µs, remote = 10.201.5.82:40736, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 12 19:19:25 ubuntu etcd[78465]: start time = 2025-02-12 19:19:25.903431073 +0000 UTC m=+488.448249128, time spent = 288.234µs, remote = 10.201.5.82:40736, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 12 19:19:25 ubuntu etcd[78465]: start time = 2025-02-12 19:19:25.937005126 +0000 UTC m=+488.481823180, time spent = 139.369µs, remote = 10.201.5.82:40736, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 12 19:19:27 ubuntu etcd[78465]: start time = 2025-02-12 19:19:27.931325094 +0000 UTC m=+490.476143148, time spent = 247.143µs, remote = 10.201.5.82:40736, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 12 19:21:17 ubuntu etcd[78465]: start time = 2025-02-12 19:21:17.272413574 +0000 UTC m=+599.817231713, time spent = 959.494µs, remote = 10.201.5.82:40736, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 12 19:21:17 ubuntu etcd[78465]: start time = 2025-02-12 19:21:17.277602013 +0000 UTC m=+599.822420150, time spent = 872.456µs, remote = 10.201.5.82:40736, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-29135b56-9a56-4a05-8aaf-1e95d84afa5b" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-29135b56-9a56-4a05-8aaf-1e95d84afa5b" value_size:16 lease:5727335159349246231 >> failure:<request_range:<key:"/tooz/lockscinder-29135b56-9a56-4a05-8aaf-1e95d84afa5b" > >
Feb 12 19:21:20 ubuntu etcd[78465]: start time = 2025-02-12 19:21:20.314825658 +0000 UTC m=+602.859643797, time spent = 786.565µs, remote = 10.201.5.82:40736, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-29135b56-9a56-4a05-8aaf-1e95d84afa5b" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-29135b56-9a56-4a05-8aaf-1e95d84afa5b" > > failure:<>
Feb 12 19:21:20 ubuntu etcd[78465]: start time = 2025-02-12 19:21:20.535828288 +0000 UTC m=+603.080646416, time spent = 373.451µs, remote = 10.201.5.82:40736, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 12 19:21:20 ubuntu etcd[78465]: start time = 2025-02-12 19:21:20.53777679 +0000 UTC m=+603.082594851, time spent = 168.169µs, remote = 10.201.5.82:40736, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-29135b56-9a56-4a05-8aaf-1e95d84afa5b" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-29135b56-9a56-4a05-8aaf-1e95d84afa5b" value_size:16 lease:5727335159349246235 >> failure:<request_range:<key:"/tooz/lockscinder-29135b56-9a56-4a05-8aaf-1e95d84afa5b" > >
Feb 12 19:21:21 ubuntu etcd[78465]: start time = 2025-02-12 19:21:21.351585185 +0000 UTC m=+603.896403235, time spent = 302.147µs, remote = 10.201.5.82:40736, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-29135b56-9a56-4a05-8aaf-1e95d84afa5b" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-29135b56-9a56-4a05-8aaf-1e95d84afa5b" > > failure:<>
Feb 12 19:21:21 ubuntu etcd[78465]: start time = 2025-02-12 19:21:21.611073848 +0000 UTC m=+604.155891904, time spent = 268.248µs, remote = 10.201.5.82:40736, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 12 19:21:21 ubuntu etcd[78465]: start time = 2025-02-12 19:21:21.613467746 +0000 UTC m=+604.158285904, time spent = 576.842µs, remote = 10.201.5.82:40736, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-29135b56-9a56-4a05-8aaf-1e95d84afa5b" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-29135b56-9a56-4a05-8aaf-1e95d84afa5b" value_size:16 lease:5727335159349246239 >> failure:<request_range:<key:"/tooz/lockscinder-29135b56-9a56-4a05-8aaf-1e95d84afa5b" > >
Feb 12 19:21:22 ubuntu etcd[78465]: start time = 2025-02-12 19:21:22.413616474 +0000 UTC m=+604.958434525, time spent = 283.486µs, remote = 10.201.5.82:40736, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-29135b56-9a56-4a05-8aaf-1e95d84afa5b" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-29135b56-9a56-4a05-8aaf-1e95d84afa5b" > > failure:<>
Feb 12 20:01:29 ubuntu etcd[78465]: start time = 2025-02-12 20:01:29.799646559 +0000 UTC m=+3012.344464633, time spent = 554.728µs, remote = 10.201.5.82:40736, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 12 20:01:29 ubuntu etcd[78465]: start time = 2025-02-12 20:01:29.802854488 +0000 UTC m=+3012.347672589, time spent = 821.434µs, remote = 10.201.5.82:40736, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-67a0955b-e73e-4580-a7c9-a25e459cee45" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-67a0955b-e73e-4580-a7c9-a25e459cee45" value_size:16 lease:5727335159349246246 >> failure:<request_range:<key:"/tooz/lockscinder-67a0955b-e73e-4580-a7c9-a25e459cee45" > >
Feb 12 20:01:32 ubuntu etcd[78465]: start time = 2025-02-12 20:01:32.291961874 +0000 UTC m=+3014.836780023, time spent = 971.825µs, remote = 10.201.5.82:40736, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-67a0955b-e73e-4580-a7c9-a25e459cee45" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-67a0955b-e73e-4580-a7c9-a25e459cee45" > > failure:<>
Feb 12 20:01:32 ubuntu etcd[78465]: start time = 2025-02-12 20:01:32.61909523 +0000 UTC m=+3015.163913282, time spent = 304.176µs, remote = 10.201.5.82:40736, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 12 20:01:32 ubuntu etcd[78465]: start time = 2025-02-12 20:01:32.624439979 +0000 UTC m=+3015.169258075, time spent = 1.746734ms, remote = 10.201.5.82:40736, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-67a0955b-e73e-4580-a7c9-a25e459cee45" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-67a0955b-e73e-4580-a7c9-a25e459cee45" value_size:16 lease:5727335159349246250 >> failure:<request_range:<key:"/tooz/lockscinder-67a0955b-e73e-4580-a7c9-a25e459cee45" > >
Feb 12 20:01:33 ubuntu etcd[78465]: start time = 2025-02-12 20:01:33.242855402 +0000 UTC m=+3015.787673456, time spent = 289.551µs, remote = 10.201.5.82:40736, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-67a0955b-e73e-4580-a7c9-a25e459cee45" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-67a0955b-e73e-4580-a7c9-a25e459cee45" > > failure:<>
Feb 12 20:01:33 ubuntu etcd[78465]: start time = 2025-02-12 20:01:33.484925697 +0000 UTC m=+3016.029743752, time spent = 328.755µs, remote = 10.201.5.82:40736, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 12 20:01:33 ubuntu etcd[78465]: start time = 2025-02-12 20:01:33.489792638 +0000 UTC m=+3016.034610787, time spent = 190.776µs, remote = 10.201.5.82:40736, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-67a0955b-e73e-4580-a7c9-a25e459cee45" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-67a0955b-e73e-4580-a7c9-a25e459cee45" value_size:16 lease:5727335159349246254 >> failure:<request_range:<key:"/tooz/lockscinder-67a0955b-e73e-4580-a7c9-a25e459cee45" > >
Feb 12 20:01:34 ubuntu etcd[78465]: start time = 2025-02-12 20:01:34.112925869 +0000 UTC m=+3016.657743926, time spent = 339.099µs, remote = 10.201.5.82:40736, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-67a0955b-e73e-4580-a7c9-a25e459cee45" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-67a0955b-e73e-4580-a7c9-a25e459cee45" > > failure:<>
