Jun 09 15:56:06 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 09 15:56:06 ubuntu etcd[79625]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 09 15:56:06 ubuntu etcd[79625]:         A future release of golang/protobuf will delete this package,
Jun 09 15:56:06 ubuntu etcd[79625]:         which has long been excluded from the compatibility promise.
Jun 09 15:56:06 ubuntu etcd[79625]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 09 15:56:06 ubuntu etcd[79625]: Running http and grpc server on single port. This is not recommended for production.
Jun 09 15:56:06 ubuntu etcd[79625]: etcd Version: 3.4.27
Jun 09 15:56:06 ubuntu etcd[79625]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 09 15:56:06 ubuntu etcd[79625]: Git SHA: c92fb80f3
Jun 09 15:56:06 ubuntu etcd[79625]: Go Version: go1.19.10
Jun 09 15:56:06 ubuntu etcd[79625]: Go OS/Arch: linux/amd64
Jun 09 15:56:06 ubuntu etcd[79625]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 09 15:56:06 ubuntu etcd[79625]: Running http and grpc server on single port. This is not recommended for production.
Jun 09 15:56:06 ubuntu etcd[79625]: name = ubuntu
Jun 09 15:56:06 ubuntu etcd[79625]: data dir = /opt/stack/data/etcd
Jun 09 15:56:06 ubuntu etcd[79625]: member dir = /opt/stack/data/etcd/member
Jun 09 15:56:06 ubuntu etcd[79625]: heartbeat = 100ms
Jun 09 15:56:06 ubuntu etcd[79625]: election = 1000ms
Jun 09 15:56:06 ubuntu etcd[79625]: snapshot count = 100000
Jun 09 15:56:06 ubuntu etcd[79625]: advertise client URLs = http://10.201.5.82:2379
Jun 09 15:56:06 ubuntu etcd[79625]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 09 15:56:06 ubuntu etcd[79625]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jun 09 15:56:06 ubuntu etcd[79625]: raft2025/06/09 15:56:06 INFO: 43038365673ccf7b switched to configuration voters=()
Jun 09 15:56:06 ubuntu etcd[79625]: raft2025/06/09 15:56:06 INFO: 43038365673ccf7b became follower at term 0
Jun 09 15:56:06 ubuntu etcd[79625]: raft2025/06/09 15:56:06 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 09 15:56:06 ubuntu etcd[79625]: raft2025/06/09 15:56:06 INFO: 43038365673ccf7b became follower at term 1
Jun 09 15:56:06 ubuntu etcd[79625]: raft2025/06/09 15:56:06 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 09 15:56:06 ubuntu etcd[79625]: simple token is not cryptographically signed
Jun 09 15:56:06 ubuntu etcd[79625]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 09 15:56:06 ubuntu etcd[79625]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 09 15:56:06 ubuntu etcd[79625]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 09 15:56:06 ubuntu etcd[79625]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 09 15:56:06 ubuntu etcd[79625]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 09 15:56:06 ubuntu etcd[79625]: listening for peers on [::]:2380
Jun 09 15:56:06 ubuntu etcd[79625]: raft2025/06/09 15:56:06 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 09 15:56:06 ubuntu etcd[79625]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jun 09 15:56:07 ubuntu etcd[79625]: raft2025/06/09 15:56:07 INFO: 43038365673ccf7b is starting a new election at term 1
Jun 09 15:56:07 ubuntu etcd[79625]: raft2025/06/09 15:56:07 INFO: 43038365673ccf7b became candidate at term 2
Jun 09 15:56:07 ubuntu etcd[79625]: raft2025/06/09 15:56:07 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jun 09 15:56:07 ubuntu etcd[79625]: raft2025/06/09 15:56:07 INFO: 43038365673ccf7b became leader at term 2
Jun 09 15:56:07 ubuntu etcd[79625]: raft2025/06/09 15:56:07 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jun 09 15:56:07 ubuntu etcd[79625]: setting up the initial cluster version to 3.4
Jun 09 15:56:07 ubuntu etcd[79625]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jun 09 15:56:07 ubuntu etcd[79625]: set the initial cluster version to 3.4
Jun 09 15:56:07 ubuntu etcd[79625]: enabled capabilities for version 3.4
Jun 09 15:56:07 ubuntu etcd[79625]: ready to serve client requests
Jun 09 15:56:07 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 09 15:56:07 ubuntu etcd[79625]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jun 09 16:00:49 ubuntu etcd[79625]: start time = 2025-06-09 16:00:49.875141599 +0000 UTC m=+283.738389009, time spent = 584.749µs, remote = 10.201.5.82:44320, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 16:00:49 ubuntu etcd[79625]: start time = 2025-06-09 16:00:49.915390498 +0000 UTC m=+283.778637917, time spent = 243.256µs, remote = 10.201.5.82:44320, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 16:00:56 ubuntu etcd[79625]: start time = 2025-06-09 16:00:56.71585537 +0000 UTC m=+290.579102789, time spent = 215.143µs, remote = 10.201.5.82:44320, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 16:00:58 ubuntu etcd[79625]: start time = 2025-06-09 16:00:58.783719676 +0000 UTC m=+292.646967096, time spent = 255.649µs, remote = 10.201.5.82:44320, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 16:04:31 ubuntu etcd[79625]: start time = 2025-06-09 16:04:31.314014572 +0000 UTC m=+505.177261988, time spent = 474.109µs, remote = 10.201.5.82:44320, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 16:04:31 ubuntu etcd[79625]: start time = 2025-06-09 16:04:31.328363676 +0000 UTC m=+505.191611096, time spent = 213.16µs, remote = 10.201.5.82:44320, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 16:04:33 ubuntu etcd[79625]: start time = 2025-06-09 16:04:33.822104053 +0000 UTC m=+507.685351521, time spent = 451.878µs, remote = 10.201.5.82:44320, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 16:04:35 ubuntu etcd[79625]: start time = 2025-06-09 16:04:35.864260403 +0000 UTC m=+509.727507826, time spent = 449.312µs, remote = 10.201.5.82:44320, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 16:06:22 ubuntu etcd[79625]: start time = 2025-06-09 16:06:22.835665949 +0000 UTC m=+616.698913399, time spent = 481.985µs, remote = 10.201.5.82:44320, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 16:06:22 ubuntu etcd[79625]: start time = 2025-06-09 16:06:22.846461958 +0000 UTC m=+616.709709364, time spent = 3.887635ms, remote = 10.201.5.82:44320, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-7a0a63b2-5b6a-4a26-8a91-ba911f1931bc" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-7a0a63b2-5b6a-4a26-8a91-ba911f1931bc" value_size:16 lease:5727337744203954201 >> failure:<request_range:<key:"/tooz/lockscinder-7a0a63b2-5b6a-4a26-8a91-ba911f1931bc" > >
Jun 09 16:06:25 ubuntu etcd[79625]: start time = 2025-06-09 16:06:25.493558528 +0000 UTC m=+619.356806033, time spent = 600.091µs, remote = 10.201.5.82:44320, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-7a0a63b2-5b6a-4a26-8a91-ba911f1931bc" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-7a0a63b2-5b6a-4a26-8a91-ba911f1931bc" > > failure:<>
Jun 09 16:06:25 ubuntu etcd[79625]: start time = 2025-06-09 16:06:25.736792784 +0000 UTC m=+619.600040192, time spent = 323.391µs, remote = 10.201.5.82:44320, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 16:06:25 ubuntu etcd[79625]: start time = 2025-06-09 16:06:25.738734569 +0000 UTC m=+619.601981990, time spent = 826.575µs, remote = 10.201.5.82:44320, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-7a0a63b2-5b6a-4a26-8a91-ba911f1931bc" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-7a0a63b2-5b6a-4a26-8a91-ba911f1931bc" value_size:16 lease:5727337744203954205 >> failure:<request_range:<key:"/tooz/lockscinder-7a0a63b2-5b6a-4a26-8a91-ba911f1931bc" > >
Jun 09 16:06:27 ubuntu etcd[79625]: start time = 2025-06-09 16:06:27.585514247 +0000 UTC m=+621.448761767, time spent = 701.059µs, remote = 10.201.5.82:44320, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-7a0a63b2-5b6a-4a26-8a91-ba911f1931bc" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-7a0a63b2-5b6a-4a26-8a91-ba911f1931bc" > > failure:<>
Jun 09 16:06:27 ubuntu etcd[79625]: start time = 2025-06-09 16:06:27.837540661 +0000 UTC m=+621.700788099, time spent = 605.704µs, remote = 10.201.5.82:44320, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 16:06:27 ubuntu etcd[79625]: start time = 2025-06-09 16:06:27.839792817 +0000 UTC m=+621.703040255, time spent = 452.986µs, remote = 10.201.5.82:44320, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-7a0a63b2-5b6a-4a26-8a91-ba911f1931bc" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-7a0a63b2-5b6a-4a26-8a91-ba911f1931bc" value_size:16 lease:5727337744203954209 >> failure:<request_range:<key:"/tooz/lockscinder-7a0a63b2-5b6a-4a26-8a91-ba911f1931bc" > >
Jun 09 16:06:29 ubuntu etcd[79625]: start time = 2025-06-09 16:06:29.793597447 +0000 UTC m=+623.656844967, time spent = 647.658µs, remote = 10.201.5.82:44320, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-7a0a63b2-5b6a-4a26-8a91-ba911f1931bc" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-7a0a63b2-5b6a-4a26-8a91-ba911f1931bc" > > failure:<>
Jun 09 16:46:46 ubuntu etcd[79625]: start time = 2025-06-09 16:46:46.642477455 +0000 UTC m=+3040.505724954, time spent = 1.045583ms, remote = 10.201.5.82:44320, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 16:46:46 ubuntu etcd[79625]: start time = 2025-06-09 16:46:46.646461806 +0000 UTC m=+3040.509709269, time spent = 664.561µs, remote = 10.201.5.82:44320, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-dc9a5d0f-2df8-472e-826d-90259fe087f9" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-dc9a5d0f-2df8-472e-826d-90259fe087f9" value_size:16 lease:5727337744203954216 >> failure:<request_range:<key:"/tooz/lockscinder-dc9a5d0f-2df8-472e-826d-90259fe087f9" > >
Jun 09 16:46:48 ubuntu etcd[79625]: start time = 2025-06-09 16:46:48.847721636 +0000 UTC m=+3042.710969068, time spent = 336.462µs, remote = 10.201.5.82:44320, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-dc9a5d0f-2df8-472e-826d-90259fe087f9" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-dc9a5d0f-2df8-472e-826d-90259fe087f9" > > failure:<>
Jun 09 16:46:49 ubuntu etcd[79625]: start time = 2025-06-09 16:46:49.084529595 +0000 UTC m=+3042.947777023, time spent = 279.957µs, remote = 10.201.5.82:44320, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 16:46:49 ubuntu etcd[79625]: start time = 2025-06-09 16:46:49.087138138 +0000 UTC m=+3042.950385573, time spent = 212.859µs, remote = 10.201.5.82:44320, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-dc9a5d0f-2df8-472e-826d-90259fe087f9" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-dc9a5d0f-2df8-472e-826d-90259fe087f9" value_size:16 lease:5727337744203954220 >> failure:<request_range:<key:"/tooz/lockscinder-dc9a5d0f-2df8-472e-826d-90259fe087f9" > >
Jun 09 16:46:50 ubuntu etcd[79625]: start time = 2025-06-09 16:46:50.29911552 +0000 UTC m=+3044.162362949, time spent = 257.059µs, remote = 10.201.5.82:44320, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-dc9a5d0f-2df8-472e-826d-90259fe087f9" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-dc9a5d0f-2df8-472e-826d-90259fe087f9" > > failure:<>
Jun 09 16:46:50 ubuntu etcd[79625]: start time = 2025-06-09 16:46:50.51758729 +0000 UTC m=+3044.380834804, time spent = 656.189µs, remote = 10.201.5.82:44320, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 16:46:50 ubuntu etcd[79625]: start time = 2025-06-09 16:46:50.520559627 +0000 UTC m=+3044.383807147, time spent = 452.501µs, remote = 10.201.5.82:44320, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-dc9a5d0f-2df8-472e-826d-90259fe087f9" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-dc9a5d0f-2df8-472e-826d-90259fe087f9" value_size:16 lease:5727337744203954224 >> failure:<request_range:<key:"/tooz/lockscinder-dc9a5d0f-2df8-472e-826d-90259fe087f9" > >
Jun 09 16:46:51 ubuntu etcd[79625]: start time = 2025-06-09 16:46:51.753190344 +0000 UTC m=+3045.616437847, time spent = 422.254µs, remote = 10.201.5.82:44320, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-dc9a5d0f-2df8-472e-826d-90259fe087f9" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-dc9a5d0f-2df8-472e-826d-90259fe087f9" > > failure:<>
