Aug 19 08:23:16 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Aug 19 08:23:16 ubuntu etcd[67838]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Aug 19 08:23:16 ubuntu etcd[67838]:         A future release of golang/protobuf will delete this package,
Aug 19 08:23:16 ubuntu etcd[67838]:         which has long been excluded from the compatibility promise.
Aug 19 08:23:16 ubuntu etcd[67838]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Aug 19 08:23:16 ubuntu etcd[67838]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Aug 19 08:23:16 ubuntu etcd[67838]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 19 08:23:16 ubuntu etcd[67838]: Running http and grpc server on single port. This is not recommended for production.
Aug 19 08:23:16 ubuntu etcd[67838]: etcd Version: 3.4.27
Aug 19 08:23:16 ubuntu etcd[67838]: Git SHA: c92fb80f3
Aug 19 08:23:16 ubuntu etcd[67838]: Go Version: go1.19.10
Aug 19 08:23:16 ubuntu etcd[67838]: Go OS/Arch: linux/amd64
Aug 19 08:23:16 ubuntu etcd[67838]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Aug 19 08:23:16 ubuntu etcd[67838]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Aug 19 08:23:16 ubuntu etcd[67838]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Aug 19 08:23:16 ubuntu etcd[67838]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 19 08:23:16 ubuntu etcd[67838]: Running http and grpc server on single port. This is not recommended for production.
Aug 19 08:23:16 ubuntu etcd[67838]: name = ubuntu
Aug 19 08:23:16 ubuntu etcd[67838]: data dir = /opt/stack/data/etcd
Aug 19 08:23:16 ubuntu etcd[67838]: member dir = /opt/stack/data/etcd/member
Aug 19 08:23:16 ubuntu etcd[67838]: heartbeat = 100ms
Aug 19 08:23:16 ubuntu etcd[67838]: election = 1000ms
Aug 19 08:23:16 ubuntu etcd[67838]: snapshot count = 100000
Aug 19 08:23:16 ubuntu etcd[67838]: advertise client URLs = http://10.201.5.82:2379
Aug 19 08:23:16 ubuntu etcd[67838]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Aug 19 08:23:16 ubuntu etcd[67838]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Aug 19 08:23:16 ubuntu etcd[67838]: raft2024/08/19 08:23:16 INFO: 43038365673ccf7b switched to configuration voters=()
Aug 19 08:23:16 ubuntu etcd[67838]: raft2024/08/19 08:23:16 INFO: 43038365673ccf7b became follower at term 0
Aug 19 08:23:16 ubuntu etcd[67838]: raft2024/08/19 08:23:16 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Aug 19 08:23:16 ubuntu etcd[67838]: raft2024/08/19 08:23:16 INFO: 43038365673ccf7b became follower at term 1
Aug 19 08:23:16 ubuntu etcd[67838]: raft2024/08/19 08:23:16 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Aug 19 08:23:16 ubuntu etcd[67838]: simple token is not cryptographically signed
Aug 19 08:23:16 ubuntu etcd[67838]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Aug 19 08:23:16 ubuntu etcd[67838]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Aug 19 08:23:16 ubuntu etcd[67838]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Aug 19 08:23:16 ubuntu etcd[67838]: raft2024/08/19 08:23:16 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Aug 19 08:23:16 ubuntu etcd[67838]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Aug 19 08:23:16 ubuntu etcd[67838]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Aug 19 08:23:16 ubuntu etcd[67838]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Aug 19 08:23:16 ubuntu etcd[67838]: listening for peers on [::]:2380
Aug 19 08:23:17 ubuntu etcd[67838]: raft2024/08/19 08:23:17 INFO: 43038365673ccf7b is starting a new election at term 1
Aug 19 08:23:17 ubuntu etcd[67838]: raft2024/08/19 08:23:17 INFO: 43038365673ccf7b became candidate at term 2
Aug 19 08:23:17 ubuntu etcd[67838]: raft2024/08/19 08:23:17 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Aug 19 08:23:17 ubuntu etcd[67838]: raft2024/08/19 08:23:17 INFO: 43038365673ccf7b became leader at term 2
Aug 19 08:23:17 ubuntu etcd[67838]: raft2024/08/19 08:23:17 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Aug 19 08:23:17 ubuntu etcd[67838]: setting up the initial cluster version to 3.4
Aug 19 08:23:17 ubuntu etcd[67838]: ready to serve client requests
Aug 19 08:23:17 ubuntu etcd[67838]: INFO: 2024/08/19 08:23:17 parsed scheme: ""
Aug 19 08:23:17 ubuntu etcd[67838]: INFO: 2024/08/19 08:23:17 scheme "" not registered, fallback to default scheme
Aug 19 08:23:17 ubuntu etcd[67838]: INFO: 2024/08/19 08:23:17 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Aug 19 08:23:17 ubuntu etcd[67838]: INFO: 2024/08/19 08:23:17 ClientConn switching balancer to "pick_first"
Aug 19 08:23:17 ubuntu etcd[67838]: set the initial cluster version to 3.4
Aug 19 08:23:17 ubuntu etcd[67838]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Aug 19 08:23:17 ubuntu etcd[67838]: enabled capabilities for version 3.4
Aug 19 08:23:17 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Aug 19 08:23:17 ubuntu etcd[67838]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Aug 19 08:28:26 ubuntu etcd[67838]: start time = 2024-08-19 08:28:26.438281265 +0000 UTC m=+309.574829250, time spent = 830.599µs, remote = 10.201.5.82:33076, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 19 08:28:26 ubuntu etcd[67838]: start time = 2024-08-19 08:28:26.455127282 +0000 UTC m=+309.591675268, time spent = 201.602µs, remote = 10.201.5.82:33076, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 19 08:28:33 ubuntu etcd[67838]: start time = 2024-08-19 08:28:33.711773315 +0000 UTC m=+316.848321311, time spent = 250.902µs, remote = 10.201.5.82:33076, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 19 08:28:35 ubuntu etcd[67838]: start time = 2024-08-19 08:28:35.688804618 +0000 UTC m=+318.825352615, time spent = 272.875µs, remote = 10.201.5.82:33076, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
