Nov 21 20:43:26 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Nov 21 20:43:26 ubuntu etcd[67499]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Nov 21 20:43:26 ubuntu etcd[67499]:         A future release of golang/protobuf will delete this package,
Nov 21 20:43:26 ubuntu etcd[67499]:         which has long been excluded from the compatibility promise.
Nov 21 20:43:26 ubuntu etcd[67499]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Nov 21 20:43:26 ubuntu etcd[67499]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Nov 21 20:43:26 ubuntu etcd[67499]: Running http and grpc server on single port. This is not recommended for production.
Nov 21 20:43:26 ubuntu etcd[67499]: etcd Version: 3.4.27
Nov 21 20:43:26 ubuntu etcd[67499]: Git SHA: c92fb80f3
Nov 21 20:43:26 ubuntu etcd[67499]: Go Version: go1.19.10
Nov 21 20:43:26 ubuntu etcd[67499]: Go OS/Arch: linux/amd64
Nov 21 20:43:26 ubuntu etcd[67499]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Nov 21 20:43:26 ubuntu etcd[67499]: Running http and grpc server on single port. This is not recommended for production.
Nov 21 20:43:26 ubuntu etcd[67499]: name = ubuntu
Nov 21 20:43:26 ubuntu etcd[67499]: data dir = /opt/stack/data/etcd
Nov 21 20:43:26 ubuntu etcd[67499]: member dir = /opt/stack/data/etcd/member
Nov 21 20:43:26 ubuntu etcd[67499]: heartbeat = 100ms
Nov 21 20:43:26 ubuntu etcd[67499]: election = 1000ms
Nov 21 20:43:26 ubuntu etcd[67499]: snapshot count = 100000
Nov 21 20:43:26 ubuntu etcd[67499]: advertise client URLs = http://10.201.5.82:2379
Nov 21 20:43:26 ubuntu etcd[67499]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Nov 21 20:43:26 ubuntu etcd[67499]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Nov 21 20:43:26 ubuntu etcd[67499]: raft2024/11/21 20:43:26 INFO: 43038365673ccf7b switched to configuration voters=()
Nov 21 20:43:26 ubuntu etcd[67499]: raft2024/11/21 20:43:26 INFO: 43038365673ccf7b became follower at term 0
Nov 21 20:43:26 ubuntu etcd[67499]: raft2024/11/21 20:43:26 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Nov 21 20:43:26 ubuntu etcd[67499]: raft2024/11/21 20:43:26 INFO: 43038365673ccf7b became follower at term 1
Nov 21 20:43:26 ubuntu etcd[67499]: raft2024/11/21 20:43:26 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Nov 21 20:43:26 ubuntu etcd[67499]: simple token is not cryptographically signed
Nov 21 20:43:26 ubuntu etcd[67499]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Nov 21 20:43:26 ubuntu etcd[67499]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Nov 21 20:43:26 ubuntu etcd[67499]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Nov 21 20:43:26 ubuntu etcd[67499]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Nov 21 20:43:26 ubuntu etcd[67499]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Nov 21 20:43:26 ubuntu etcd[67499]: raft2024/11/21 20:43:26 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Nov 21 20:43:26 ubuntu etcd[67499]: listening for peers on [::]:2380
Nov 21 20:43:26 ubuntu etcd[67499]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Nov 21 20:43:27 ubuntu etcd[67499]: raft2024/11/21 20:43:27 INFO: 43038365673ccf7b is starting a new election at term 1
Nov 21 20:43:27 ubuntu etcd[67499]: raft2024/11/21 20:43:27 INFO: 43038365673ccf7b became candidate at term 2
Nov 21 20:43:27 ubuntu etcd[67499]: raft2024/11/21 20:43:27 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Nov 21 20:43:27 ubuntu etcd[67499]: raft2024/11/21 20:43:27 INFO: 43038365673ccf7b became leader at term 2
Nov 21 20:43:27 ubuntu etcd[67499]: raft2024/11/21 20:43:27 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Nov 21 20:43:27 ubuntu etcd[67499]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Nov 21 20:43:27 ubuntu etcd[67499]: setting up the initial cluster version to 3.4
Nov 21 20:43:27 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Nov 21 20:43:27 ubuntu etcd[67499]: ready to serve client requests
Nov 21 20:43:27 ubuntu etcd[67499]: set the initial cluster version to 3.4
Nov 21 20:43:27 ubuntu etcd[67499]: enabled capabilities for version 3.4
Nov 21 20:43:27 ubuntu etcd[67499]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Nov 21 20:48:20 ubuntu etcd[67499]: start time = 2024-11-21 20:48:20.991433732 +0000 UTC m=+294.271424505, time spent = 1.854116ms, remote = 10.201.5.82:49360, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 21 20:48:21 ubuntu etcd[67499]: start time = 2024-11-21 20:48:21.044240538 +0000 UTC m=+294.324231316, time spent = 219.401µs, remote = 10.201.5.82:49360, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 21 20:48:27 ubuntu etcd[67499]: start time = 2024-11-21 20:48:27.704166988 +0000 UTC m=+300.984157745, time spent = 234.297µs, remote = 10.201.5.82:49360, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 21 20:48:29 ubuntu etcd[67499]: start time = 2024-11-21 20:48:29.804652054 +0000 UTC m=+303.084642824, time spent = 322.181µs, remote = 10.201.5.82:49360, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
