Apr 04 14:12:25 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Apr 04 14:12:25 ubuntu etcd[66476]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Apr 04 14:12:25 ubuntu etcd[66476]:         A future release of golang/protobuf will delete this package,
Apr 04 14:12:25 ubuntu etcd[66476]:         which has long been excluded from the compatibility promise.
Apr 04 14:12:25 ubuntu etcd[66476]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Apr 04 14:12:25 ubuntu etcd[66476]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Apr 04 14:12:25 ubuntu etcd[66476]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 04 14:12:25 ubuntu etcd[66476]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Apr 04 14:12:25 ubuntu etcd[66476]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Apr 04 14:12:25 ubuntu etcd[66476]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 04 14:12:25 ubuntu etcd[66476]: Running http and grpc server on single port. This is not recommended for production.
Apr 04 14:12:25 ubuntu etcd[66476]: etcd Version: 3.4.27
Apr 04 14:12:25 ubuntu etcd[66476]: Git SHA: c92fb80f3
Apr 04 14:12:25 ubuntu etcd[66476]: Go Version: go1.19.10
Apr 04 14:12:25 ubuntu etcd[66476]: Go OS/Arch: linux/amd64
Apr 04 14:12:25 ubuntu etcd[66476]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Apr 04 14:12:25 ubuntu etcd[66476]: Running http and grpc server on single port. This is not recommended for production.
Apr 04 14:12:25 ubuntu etcd[66476]: name = ubuntu
Apr 04 14:12:25 ubuntu etcd[66476]: data dir = /opt/stack/data/etcd
Apr 04 14:12:25 ubuntu etcd[66476]: member dir = /opt/stack/data/etcd/member
Apr 04 14:12:25 ubuntu etcd[66476]: heartbeat = 100ms
Apr 04 14:12:25 ubuntu etcd[66476]: election = 1000ms
Apr 04 14:12:25 ubuntu etcd[66476]: snapshot count = 100000
Apr 04 14:12:25 ubuntu etcd[66476]: advertise client URLs = http://10.201.5.82:2379
Apr 04 14:12:25 ubuntu etcd[66476]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Apr 04 14:12:25 ubuntu etcd[66476]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Apr 04 14:12:25 ubuntu etcd[66476]: raft2024/04/04 14:12:25 INFO: 43038365673ccf7b switched to configuration voters=()
Apr 04 14:12:25 ubuntu etcd[66476]: raft2024/04/04 14:12:25 INFO: 43038365673ccf7b became follower at term 0
Apr 04 14:12:25 ubuntu etcd[66476]: raft2024/04/04 14:12:25 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Apr 04 14:12:25 ubuntu etcd[66476]: raft2024/04/04 14:12:25 INFO: 43038365673ccf7b became follower at term 1
Apr 04 14:12:25 ubuntu etcd[66476]: raft2024/04/04 14:12:25 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Apr 04 14:12:25 ubuntu etcd[66476]: simple token is not cryptographically signed
Apr 04 14:12:25 ubuntu etcd[66476]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Apr 04 14:12:25 ubuntu etcd[66476]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Apr 04 14:12:25 ubuntu etcd[66476]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Apr 04 14:12:25 ubuntu etcd[66476]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Apr 04 14:12:25 ubuntu etcd[66476]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Apr 04 14:12:25 ubuntu etcd[66476]: raft2024/04/04 14:12:25 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Apr 04 14:12:25 ubuntu etcd[66476]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Apr 04 14:12:25 ubuntu etcd[66476]: listening for peers on [::]:2380
Apr 04 14:12:26 ubuntu etcd[66476]: raft2024/04/04 14:12:26 INFO: 43038365673ccf7b is starting a new election at term 1
Apr 04 14:12:26 ubuntu etcd[66476]: raft2024/04/04 14:12:26 INFO: 43038365673ccf7b became candidate at term 2
Apr 04 14:12:26 ubuntu etcd[66476]: raft2024/04/04 14:12:26 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Apr 04 14:12:26 ubuntu etcd[66476]: raft2024/04/04 14:12:26 INFO: 43038365673ccf7b became leader at term 2
Apr 04 14:12:26 ubuntu etcd[66476]: raft2024/04/04 14:12:26 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Apr 04 14:12:26 ubuntu etcd[66476]: setting up the initial cluster version to 3.4
Apr 04 14:12:26 ubuntu etcd[66476]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Apr 04 14:12:26 ubuntu etcd[66476]: ready to serve client requests
Apr 04 14:12:26 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Apr 04 14:12:26 ubuntu etcd[66476]: INFO: 2024/04/04 14:12:26 parsed scheme: ""
Apr 04 14:12:26 ubuntu etcd[66476]: INFO: 2024/04/04 14:12:26 scheme "" not registered, fallback to default scheme
Apr 04 14:12:26 ubuntu etcd[66476]: INFO: 2024/04/04 14:12:26 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Apr 04 14:12:26 ubuntu etcd[66476]: INFO: 2024/04/04 14:12:26 ClientConn switching balancer to "pick_first"
Apr 04 14:12:26 ubuntu etcd[66476]: set the initial cluster version to 3.4
Apr 04 14:12:26 ubuntu etcd[66476]: enabled capabilities for version 3.4
Apr 04 14:12:26 ubuntu etcd[66476]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Apr 04 14:18:34 ubuntu etcd[66476]: start time = 2024-04-04 14:18:34.928369448 +0000 UTC m=+369.131962166, time spent = 2.88308ms, remote = 10.201.5.82:48392, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 04 14:18:34 ubuntu etcd[66476]: start time = 2024-04-04 14:18:34.937326816 +0000 UTC m=+369.140919535, time spent = 289.829µs, remote = 10.201.5.82:48392, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 04 14:18:42 ubuntu etcd[66476]: start time = 2024-04-04 14:18:42.007180651 +0000 UTC m=+376.210773382, time spent = 214.462µs, remote = 10.201.5.82:48392, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 04 14:18:43 ubuntu etcd[66476]: start time = 2024-04-04 14:18:43.867927513 +0000 UTC m=+378.071520240, time spent = 203.564µs, remote = 10.201.5.82:48392, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 04 14:22:20 ubuntu etcd[66476]: start time = 2024-04-04 14:22:20.931236016 +0000 UTC m=+595.134828746, time spent = 355.623µs, remote = 10.201.5.82:48392, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 04 14:22:20 ubuntu etcd[66476]: start time = 2024-04-04 14:22:20.945609716 +0000 UTC m=+595.149202494, time spent = 412.985µs, remote = 10.201.5.82:48392, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 04 14:22:24 ubuntu etcd[66476]: start time = 2024-04-04 14:22:24.106014196 +0000 UTC m=+598.309606916, time spent = 222.536µs, remote = 10.201.5.82:48392, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 04 14:22:25 ubuntu etcd[66476]: start time = 2024-04-04 14:22:25.458381976 +0000 UTC m=+599.661974696, time spent = 226.175µs, remote = 10.201.5.82:48392, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
