Apr 04 15:04:48 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Apr 04 15:04:48 ubuntu etcd[66218]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Apr 04 15:04:48 ubuntu etcd[66218]:         A future release of golang/protobuf will delete this package,
Apr 04 15:04:48 ubuntu etcd[66218]:         which has long been excluded from the compatibility promise.
Apr 04 15:04:48 ubuntu etcd[66218]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Apr 04 15:04:48 ubuntu etcd[66218]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Apr 04 15:04:48 ubuntu etcd[66218]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 04 15:04:48 ubuntu etcd[66218]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Apr 04 15:04:48 ubuntu etcd[66218]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Apr 04 15:04:48 ubuntu etcd[66218]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 04 15:04:48 ubuntu etcd[66218]: Running http and grpc server on single port. This is not recommended for production.
Apr 04 15:04:48 ubuntu etcd[66218]: etcd Version: 3.4.27
Apr 04 15:04:48 ubuntu etcd[66218]: Git SHA: c92fb80f3
Apr 04 15:04:48 ubuntu etcd[66218]: Go Version: go1.19.10
Apr 04 15:04:48 ubuntu etcd[66218]: Go OS/Arch: linux/amd64
Apr 04 15:04:48 ubuntu etcd[66218]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Apr 04 15:04:48 ubuntu etcd[66218]: Running http and grpc server on single port. This is not recommended for production.
Apr 04 15:04:48 ubuntu etcd[66218]: name = ubuntu
Apr 04 15:04:48 ubuntu etcd[66218]: data dir = /opt/stack/data/etcd
Apr 04 15:04:48 ubuntu etcd[66218]: member dir = /opt/stack/data/etcd/member
Apr 04 15:04:48 ubuntu etcd[66218]: heartbeat = 100ms
Apr 04 15:04:48 ubuntu etcd[66218]: election = 1000ms
Apr 04 15:04:48 ubuntu etcd[66218]: snapshot count = 100000
Apr 04 15:04:48 ubuntu etcd[66218]: advertise client URLs = http://10.201.5.82:2379
Apr 04 15:04:48 ubuntu etcd[66218]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Apr 04 15:04:48 ubuntu etcd[66218]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Apr 04 15:04:48 ubuntu etcd[66218]: raft2024/04/04 15:04:48 INFO: 43038365673ccf7b switched to configuration voters=()
Apr 04 15:04:48 ubuntu etcd[66218]: raft2024/04/04 15:04:48 INFO: 43038365673ccf7b became follower at term 0
Apr 04 15:04:48 ubuntu etcd[66218]: raft2024/04/04 15:04:48 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Apr 04 15:04:48 ubuntu etcd[66218]: raft2024/04/04 15:04:48 INFO: 43038365673ccf7b became follower at term 1
Apr 04 15:04:48 ubuntu etcd[66218]: raft2024/04/04 15:04:48 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Apr 04 15:04:48 ubuntu etcd[66218]: simple token is not cryptographically signed
Apr 04 15:04:48 ubuntu etcd[66218]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Apr 04 15:04:48 ubuntu etcd[66218]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Apr 04 15:04:48 ubuntu etcd[66218]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Apr 04 15:04:48 ubuntu etcd[66218]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Apr 04 15:04:48 ubuntu etcd[66218]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Apr 04 15:04:48 ubuntu etcd[66218]: raft2024/04/04 15:04:48 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Apr 04 15:04:48 ubuntu etcd[66218]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Apr 04 15:04:48 ubuntu etcd[66218]: listening for peers on [::]:2380
Apr 04 15:04:49 ubuntu etcd[66218]: raft2024/04/04 15:04:49 INFO: 43038365673ccf7b is starting a new election at term 1
Apr 04 15:04:49 ubuntu etcd[66218]: raft2024/04/04 15:04:49 INFO: 43038365673ccf7b became candidate at term 2
Apr 04 15:04:49 ubuntu etcd[66218]: raft2024/04/04 15:04:49 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Apr 04 15:04:49 ubuntu etcd[66218]: raft2024/04/04 15:04:49 INFO: 43038365673ccf7b became leader at term 2
Apr 04 15:04:49 ubuntu etcd[66218]: raft2024/04/04 15:04:49 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Apr 04 15:04:49 ubuntu etcd[66218]: setting up the initial cluster version to 3.4
Apr 04 15:04:49 ubuntu etcd[66218]: set the initial cluster version to 3.4
Apr 04 15:04:49 ubuntu etcd[66218]: ready to serve client requests
Apr 04 15:04:49 ubuntu etcd[66218]: INFO: 2024/04/04 15:04:49 parsed scheme: ""
Apr 04 15:04:49 ubuntu etcd[66218]: INFO: 2024/04/04 15:04:49 scheme "" not registered, fallback to default scheme
Apr 04 15:04:49 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Apr 04 15:04:49 ubuntu etcd[66218]: INFO: 2024/04/04 15:04:49 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Apr 04 15:04:49 ubuntu etcd[66218]: INFO: 2024/04/04 15:04:49 ClientConn switching balancer to "pick_first"
Apr 04 15:04:49 ubuntu etcd[66218]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Apr 04 15:04:49 ubuntu etcd[66218]: enabled capabilities for version 3.4
Apr 04 15:04:49 ubuntu etcd[66218]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Apr 04 15:10:54 ubuntu etcd[66218]: start time = 2024-04-04 15:10:54.961791848 +0000 UTC m=+366.228234652, time spent = 1.534851ms, remote = 10.201.5.82:60244, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 04 15:10:54 ubuntu etcd[66218]: start time = 2024-04-04 15:10:54.961748768 +0000 UTC m=+366.228191562, time spent = 1.713093ms, remote = 10.201.5.82:60244, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 04 15:11:01 ubuntu etcd[66218]: start time = 2024-04-04 15:11:01.787423869 +0000 UTC m=+373.053866662, time spent = 238.323µs, remote = 10.201.5.82:60244, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 04 15:11:04 ubuntu etcd[66218]: start time = 2024-04-04 15:11:04.033327573 +0000 UTC m=+375.299770377, time spent = 411.725µs, remote = 10.201.5.82:60244, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 04 15:14:52 ubuntu etcd[66218]: start time = 2024-04-04 15:14:52.767624163 +0000 UTC m=+604.034066967, time spent = 491.558µs, remote = 10.201.5.82:60244, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 04 15:14:52 ubuntu etcd[66218]: start time = 2024-04-04 15:14:52.830558848 +0000 UTC m=+604.097001650, time spent = 237.42µs, remote = 10.201.5.82:60244, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 04 15:14:53 ubuntu etcd[66218]: start time = 2024-04-04 15:14:53.506623436 +0000 UTC m=+604.773066241, time spent = 203.284µs, remote = 10.201.5.82:60244, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 04 15:14:53 ubuntu etcd[66218]: start time = 2024-04-04 15:14:53.965112381 +0000 UTC m=+605.231555185, time spent = 192.867µs, remote = 10.201.5.82:60244, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
