Mar 30 12:46:22 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 30 12:46:22 ubuntu etcd[66024]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 30 12:46:22 ubuntu etcd[66024]:         A future release of golang/protobuf will delete this package,
Mar 30 12:46:22 ubuntu etcd[66024]:         which has long been excluded from the compatibility promise.
Mar 30 12:46:22 ubuntu etcd[66024]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 30 12:46:22 ubuntu etcd[66024]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 30 12:46:22 ubuntu etcd[66024]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 30 12:46:22 ubuntu etcd[66024]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 30 12:46:22 ubuntu etcd[66024]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 30 12:46:22 ubuntu etcd[66024]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 30 12:46:22 ubuntu etcd[66024]: Running http and grpc server on single port. This is not recommended for production.
Mar 30 12:46:22 ubuntu etcd[66024]: etcd Version: 3.4.27
Mar 30 12:46:22 ubuntu etcd[66024]: Git SHA: c92fb80f3
Mar 30 12:46:22 ubuntu etcd[66024]: Go Version: go1.19.10
Mar 30 12:46:22 ubuntu etcd[66024]: Go OS/Arch: linux/amd64
Mar 30 12:46:22 ubuntu etcd[66024]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 30 12:46:22 ubuntu etcd[66024]: Running http and grpc server on single port. This is not recommended for production.
Mar 30 12:46:22 ubuntu etcd[66024]: name = ubuntu
Mar 30 12:46:22 ubuntu etcd[66024]: data dir = /opt/stack/data/etcd
Mar 30 12:46:22 ubuntu etcd[66024]: member dir = /opt/stack/data/etcd/member
Mar 30 12:46:22 ubuntu etcd[66024]: heartbeat = 100ms
Mar 30 12:46:22 ubuntu etcd[66024]: election = 1000ms
Mar 30 12:46:22 ubuntu etcd[66024]: snapshot count = 100000
Mar 30 12:46:22 ubuntu etcd[66024]: advertise client URLs = http://10.201.5.82:2379
Mar 30 12:46:22 ubuntu etcd[66024]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 30 12:46:22 ubuntu etcd[66024]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Mar 30 12:46:22 ubuntu etcd[66024]: raft2024/03/30 12:46:22 INFO: 43038365673ccf7b switched to configuration voters=()
Mar 30 12:46:22 ubuntu etcd[66024]: raft2024/03/30 12:46:22 INFO: 43038365673ccf7b became follower at term 0
Mar 30 12:46:22 ubuntu etcd[66024]: raft2024/03/30 12:46:22 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 30 12:46:22 ubuntu etcd[66024]: raft2024/03/30 12:46:22 INFO: 43038365673ccf7b became follower at term 1
Mar 30 12:46:22 ubuntu etcd[66024]: raft2024/03/30 12:46:22 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 30 12:46:22 ubuntu etcd[66024]: simple token is not cryptographically signed
Mar 30 12:46:22 ubuntu etcd[66024]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 30 12:46:22 ubuntu etcd[66024]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 30 12:46:22 ubuntu etcd[66024]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 30 12:46:22 ubuntu etcd[66024]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 30 12:46:22 ubuntu etcd[66024]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 30 12:46:22 ubuntu etcd[66024]: raft2024/03/30 12:46:22 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 30 12:46:22 ubuntu etcd[66024]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Mar 30 12:46:22 ubuntu etcd[66024]: listening for peers on [::]:2380
Mar 30 12:46:22 ubuntu etcd[66024]: raft2024/03/30 12:46:22 INFO: 43038365673ccf7b is starting a new election at term 1
Mar 30 12:46:22 ubuntu etcd[66024]: raft2024/03/30 12:46:22 INFO: 43038365673ccf7b became candidate at term 2
Mar 30 12:46:22 ubuntu etcd[66024]: raft2024/03/30 12:46:22 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Mar 30 12:46:22 ubuntu etcd[66024]: raft2024/03/30 12:46:22 INFO: 43038365673ccf7b became leader at term 2
Mar 30 12:46:22 ubuntu etcd[66024]: raft2024/03/30 12:46:22 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Mar 30 12:46:22 ubuntu etcd[66024]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Mar 30 12:46:22 ubuntu etcd[66024]: setting up the initial cluster version to 3.4
Mar 30 12:46:22 ubuntu etcd[66024]: set the initial cluster version to 3.4
Mar 30 12:46:22 ubuntu etcd[66024]: enabled capabilities for version 3.4
Mar 30 12:46:22 ubuntu etcd[66024]: ready to serve client requests
Mar 30 12:46:22 ubuntu etcd[66024]: INFO: 2024/03/30 12:46:22 parsed scheme: ""
Mar 30 12:46:22 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 30 12:46:22 ubuntu etcd[66024]: INFO: 2024/03/30 12:46:22 scheme "" not registered, fallback to default scheme
Mar 30 12:46:22 ubuntu etcd[66024]: INFO: 2024/03/30 12:46:22 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Mar 30 12:46:22 ubuntu etcd[66024]: INFO: 2024/03/30 12:46:22 ClientConn switching balancer to "pick_first"
Mar 30 12:46:22 ubuntu etcd[66024]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Mar 30 12:53:00 ubuntu etcd[66024]: start time = 2024-03-30 12:53:00.747292286 +0000 UTC m=+398.482472564, time spent = 1.577618ms, remote = 10.201.5.82:44914, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 30 12:53:00 ubuntu etcd[66024]: start time = 2024-03-30 12:53:00.758155128 +0000 UTC m=+398.493335407, time spent = 235.514µs, remote = 10.201.5.82:44914, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 30 12:53:07 ubuntu etcd[66024]: start time = 2024-03-30 12:53:07.57112841 +0000 UTC m=+405.306308687, time spent = 184.889µs, remote = 10.201.5.82:44914, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 30 12:53:09 ubuntu etcd[66024]: start time = 2024-03-30 12:53:09.718486437 +0000 UTC m=+407.453666702, time spent = 245.652µs, remote = 10.201.5.82:44914, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 30 12:58:34 ubuntu etcd[66024]: start time = 2024-03-30 12:58:34.054322069 +0000 UTC m=+731.789502345, time spent = 485.586µs, remote = 10.201.5.82:44914, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 30 12:58:34 ubuntu etcd[66024]: start time = 2024-03-30 12:58:34.691397264 +0000 UTC m=+732.426577542, time spent = 248.239µs, remote = 10.201.5.82:44914, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 30 12:58:35 ubuntu etcd[66024]: start time = 2024-03-30 12:58:35.305644507 +0000 UTC m=+733.040824784, time spent = 187.386µs, remote = 10.201.5.82:44914, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 30 12:58:35 ubuntu etcd[66024]: start time = 2024-03-30 12:58:35.350616224 +0000 UTC m=+733.085796502, time spent = 164.07µs, remote = 10.201.5.82:44914, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
