Mar 30 04:49:39 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 30 04:49:39 ubuntu etcd[65933]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 30 04:49:39 ubuntu etcd[65933]:         A future release of golang/protobuf will delete this package,
Mar 30 04:49:39 ubuntu etcd[65933]:         which has long been excluded from the compatibility promise.
Mar 30 04:49:39 ubuntu etcd[65933]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 30 04:49:39 ubuntu etcd[65933]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 30 04:49:39 ubuntu etcd[65933]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 30 04:49:39 ubuntu etcd[65933]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 30 04:49:39 ubuntu etcd[65933]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 30 04:49:39 ubuntu etcd[65933]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 30 04:49:39 ubuntu etcd[65933]: Running http and grpc server on single port. This is not recommended for production.
Mar 30 04:49:39 ubuntu etcd[65933]: etcd Version: 3.4.27
Mar 30 04:49:39 ubuntu etcd[65933]: Git SHA: c92fb80f3
Mar 30 04:49:39 ubuntu etcd[65933]: Go Version: go1.19.10
Mar 30 04:49:39 ubuntu etcd[65933]: Go OS/Arch: linux/amd64
Mar 30 04:49:39 ubuntu etcd[65933]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 30 04:49:39 ubuntu etcd[65933]: Running http and grpc server on single port. This is not recommended for production.
Mar 30 04:49:39 ubuntu etcd[65933]: name = ubuntu
Mar 30 04:49:39 ubuntu etcd[65933]: data dir = /opt/stack/data/etcd
Mar 30 04:49:39 ubuntu etcd[65933]: member dir = /opt/stack/data/etcd/member
Mar 30 04:49:39 ubuntu etcd[65933]: heartbeat = 100ms
Mar 30 04:49:39 ubuntu etcd[65933]: election = 1000ms
Mar 30 04:49:39 ubuntu etcd[65933]: snapshot count = 100000
Mar 30 04:49:39 ubuntu etcd[65933]: advertise client URLs = http://10.201.5.82:2379
Mar 30 04:49:39 ubuntu etcd[65933]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 30 04:49:39 ubuntu etcd[65933]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Mar 30 04:49:39 ubuntu etcd[65933]: raft2024/03/30 04:49:39 INFO: 43038365673ccf7b switched to configuration voters=()
Mar 30 04:49:39 ubuntu etcd[65933]: raft2024/03/30 04:49:39 INFO: 43038365673ccf7b became follower at term 0
Mar 30 04:49:39 ubuntu etcd[65933]: raft2024/03/30 04:49:39 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 30 04:49:39 ubuntu etcd[65933]: raft2024/03/30 04:49:39 INFO: 43038365673ccf7b became follower at term 1
Mar 30 04:49:39 ubuntu etcd[65933]: raft2024/03/30 04:49:39 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 30 04:49:39 ubuntu etcd[65933]: simple token is not cryptographically signed
Mar 30 04:49:39 ubuntu etcd[65933]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 30 04:49:39 ubuntu etcd[65933]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 30 04:49:39 ubuntu etcd[65933]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 30 04:49:39 ubuntu etcd[65933]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 30 04:49:39 ubuntu etcd[65933]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 30 04:49:39 ubuntu etcd[65933]: raft2024/03/30 04:49:39 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 30 04:49:39 ubuntu etcd[65933]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Mar 30 04:49:39 ubuntu etcd[65933]: listening for peers on [::]:2380
Mar 30 04:49:39 ubuntu etcd[65933]: raft2024/03/30 04:49:39 INFO: 43038365673ccf7b is starting a new election at term 1
Mar 30 04:49:39 ubuntu etcd[65933]: raft2024/03/30 04:49:39 INFO: 43038365673ccf7b became candidate at term 2
Mar 30 04:49:39 ubuntu etcd[65933]: raft2024/03/30 04:49:39 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Mar 30 04:49:39 ubuntu etcd[65933]: raft2024/03/30 04:49:39 INFO: 43038365673ccf7b became leader at term 2
Mar 30 04:49:39 ubuntu etcd[65933]: raft2024/03/30 04:49:39 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Mar 30 04:49:39 ubuntu etcd[65933]: ready to serve client requests
Mar 30 04:49:39 ubuntu etcd[65933]: INFO: 2024/03/30 04:49:39 parsed scheme: ""
Mar 30 04:49:39 ubuntu etcd[65933]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Mar 30 04:49:39 ubuntu etcd[65933]: setting up the initial cluster version to 3.4
Mar 30 04:49:39 ubuntu etcd[65933]: set the initial cluster version to 3.4
Mar 30 04:49:39 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 30 04:49:39 ubuntu etcd[65933]: enabled capabilities for version 3.4
Mar 30 04:49:39 ubuntu etcd[65933]: INFO: 2024/03/30 04:49:39 scheme "" not registered, fallback to default scheme
Mar 30 04:49:39 ubuntu etcd[65933]: INFO: 2024/03/30 04:49:39 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Mar 30 04:49:39 ubuntu etcd[65933]: INFO: 2024/03/30 04:49:39 ClientConn switching balancer to "pick_first"
Mar 30 04:49:39 ubuntu etcd[65933]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Mar 30 04:56:10 ubuntu etcd[65933]: start time = 2024-03-30 04:56:10.830043264 +0000 UTC m=+391.350240496, time spent = 1.632627ms, remote = 10.201.5.82:41434, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 30 04:56:10 ubuntu etcd[65933]: start time = 2024-03-30 04:56:10.935188347 +0000 UTC m=+391.455385577, time spent = 223.371µs, remote = 10.201.5.82:41434, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 30 04:56:17 ubuntu etcd[65933]: start time = 2024-03-30 04:56:17.574893739 +0000 UTC m=+398.095090981, time spent = 201.328µs, remote = 10.201.5.82:41434, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 30 04:56:19 ubuntu etcd[65933]: start time = 2024-03-30 04:56:19.910175786 +0000 UTC m=+400.430373028, time spent = 407.411µs, remote = 10.201.5.82:41434, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 30 05:01:44 ubuntu etcd[65933]: start time = 2024-03-30 05:01:44.054155968 +0000 UTC m=+724.574353209, time spent = 742.921µs, remote = 10.201.5.82:41434, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 30 05:01:44 ubuntu etcd[65933]: start time = 2024-03-30 05:01:44.802828585 +0000 UTC m=+725.323025817, time spent = 191.566µs, remote = 10.201.5.82:41434, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 30 05:01:45 ubuntu etcd[65933]: start time = 2024-03-30 05:01:45.422686683 +0000 UTC m=+725.942883942, time spent = 479.907µs, remote = 10.201.5.82:41434, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 30 05:01:45 ubuntu etcd[65933]: start time = 2024-03-30 05:01:45.435592101 +0000 UTC m=+725.955789348, time spent = 170.085µs, remote = 10.201.5.82:41434, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
