Mar 30 11:42:00 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 30 11:42:00 ubuntu etcd[66312]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 30 11:42:00 ubuntu etcd[66312]:         A future release of golang/protobuf will delete this package,
Mar 30 11:42:00 ubuntu etcd[66312]:         which has long been excluded from the compatibility promise.
Mar 30 11:42:00 ubuntu etcd[66312]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 30 11:42:00 ubuntu etcd[66312]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 30 11:42:00 ubuntu etcd[66312]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 30 11:42:00 ubuntu etcd[66312]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 30 11:42:00 ubuntu etcd[66312]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 30 11:42:00 ubuntu etcd[66312]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 30 11:42:00 ubuntu etcd[66312]: Running http and grpc server on single port. This is not recommended for production.
Mar 30 11:42:00 ubuntu etcd[66312]: etcd Version: 3.4.27
Mar 30 11:42:00 ubuntu etcd[66312]: Git SHA: c92fb80f3
Mar 30 11:42:00 ubuntu etcd[66312]: Go Version: go1.19.10
Mar 30 11:42:00 ubuntu etcd[66312]: Go OS/Arch: linux/amd64
Mar 30 11:42:00 ubuntu etcd[66312]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 30 11:42:00 ubuntu etcd[66312]: Running http and grpc server on single port. This is not recommended for production.
Mar 30 11:42:00 ubuntu etcd[66312]: name = ubuntu
Mar 30 11:42:00 ubuntu etcd[66312]: data dir = /opt/stack/data/etcd
Mar 30 11:42:00 ubuntu etcd[66312]: member dir = /opt/stack/data/etcd/member
Mar 30 11:42:00 ubuntu etcd[66312]: heartbeat = 100ms
Mar 30 11:42:00 ubuntu etcd[66312]: election = 1000ms
Mar 30 11:42:00 ubuntu etcd[66312]: snapshot count = 100000
Mar 30 11:42:00 ubuntu etcd[66312]: advertise client URLs = http://10.201.5.82:2379
Mar 30 11:42:00 ubuntu etcd[66312]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 30 11:42:00 ubuntu etcd[66312]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Mar 30 11:42:00 ubuntu etcd[66312]: raft2024/03/30 11:42:00 INFO: 43038365673ccf7b switched to configuration voters=()
Mar 30 11:42:00 ubuntu etcd[66312]: raft2024/03/30 11:42:00 INFO: 43038365673ccf7b became follower at term 0
Mar 30 11:42:00 ubuntu etcd[66312]: raft2024/03/30 11:42:00 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 30 11:42:00 ubuntu etcd[66312]: raft2024/03/30 11:42:00 INFO: 43038365673ccf7b became follower at term 1
Mar 30 11:42:00 ubuntu etcd[66312]: raft2024/03/30 11:42:00 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 30 11:42:00 ubuntu etcd[66312]: simple token is not cryptographically signed
Mar 30 11:42:00 ubuntu etcd[66312]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 30 11:42:00 ubuntu etcd[66312]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 30 11:42:00 ubuntu etcd[66312]: raft2024/03/30 11:42:00 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 30 11:42:00 ubuntu etcd[66312]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 30 11:42:00 ubuntu etcd[66312]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 30 11:42:00 ubuntu etcd[66312]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 30 11:42:00 ubuntu etcd[66312]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Mar 30 11:42:00 ubuntu etcd[66312]: listening for peers on [::]:2380
Mar 30 11:42:01 ubuntu etcd[66312]: raft2024/03/30 11:42:01 INFO: 43038365673ccf7b is starting a new election at term 1
Mar 30 11:42:01 ubuntu etcd[66312]: raft2024/03/30 11:42:01 INFO: 43038365673ccf7b became candidate at term 2
Mar 30 11:42:01 ubuntu etcd[66312]: raft2024/03/30 11:42:01 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Mar 30 11:42:01 ubuntu etcd[66312]: raft2024/03/30 11:42:01 INFO: 43038365673ccf7b became leader at term 2
Mar 30 11:42:01 ubuntu etcd[66312]: raft2024/03/30 11:42:01 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Mar 30 11:42:01 ubuntu etcd[66312]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Mar 30 11:42:01 ubuntu etcd[66312]: INFO: 2024/03/30 11:42:01 parsed scheme: ""
Mar 30 11:42:01 ubuntu etcd[66312]: INFO: 2024/03/30 11:42:01 scheme "" not registered, fallback to default scheme
Mar 30 11:42:01 ubuntu etcd[66312]: INFO: 2024/03/30 11:42:01 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Mar 30 11:42:01 ubuntu etcd[66312]: INFO: 2024/03/30 11:42:01 ClientConn switching balancer to "pick_first"
Mar 30 11:42:01 ubuntu etcd[66312]: ready to serve client requests
Mar 30 11:42:01 ubuntu etcd[66312]: setting up the initial cluster version to 3.4
Mar 30 11:42:01 ubuntu etcd[66312]: set the initial cluster version to 3.4
Mar 30 11:42:01 ubuntu etcd[66312]: enabled capabilities for version 3.4
Mar 30 11:42:01 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 30 11:42:01 ubuntu etcd[66312]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Mar 30 11:48:26 ubuntu etcd[66312]: start time = 2024-03-30 11:48:26.857474505 +0000 UTC m=+386.204987614, time spent = 1.513208ms, remote = 10.201.5.82:58748, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 30 11:48:26 ubuntu etcd[66312]: start time = 2024-03-30 11:48:26.859313573 +0000 UTC m=+386.206826691, time spent = 251.098µs, remote = 10.201.5.82:58748, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 30 11:48:33 ubuntu etcd[66312]: start time = 2024-03-30 11:48:33.458547821 +0000 UTC m=+392.806060929, time spent = 218.974µs, remote = 10.201.5.82:58748, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 30 11:48:35 ubuntu etcd[66312]: start time = 2024-03-30 11:48:35.466692719 +0000 UTC m=+394.814205826, time spent = 523.283µs, remote = 10.201.5.82:58748, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 30 11:53:53 ubuntu etcd[66312]: start time = 2024-03-30 11:53:53.599393834 +0000 UTC m=+712.946906943, time spent = 397.513µs, remote = 10.201.5.82:58748, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 30 11:53:54 ubuntu etcd[66312]: start time = 2024-03-30 11:53:54.889540463 +0000 UTC m=+714.237053657, time spent = 581.719µs, remote = 10.201.5.82:58748, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 30 11:53:54 ubuntu etcd[66312]: start time = 2024-03-30 11:53:54.96787723 +0000 UTC m=+714.315390361, time spent = 249.123µs, remote = 10.201.5.82:58748, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 30 11:53:55 ubuntu etcd[66312]: start time = 2024-03-30 11:53:55.616241969 +0000 UTC m=+714.963755086, time spent = 176.185µs, remote = 10.201.5.82:58748, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
