Jul 02 15:55:48 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 02 15:55:48 ubuntu etcd[66864]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 02 15:55:48 ubuntu etcd[66864]:         A future release of golang/protobuf will delete this package,
Jul 02 15:55:48 ubuntu etcd[66864]:         which has long been excluded from the compatibility promise.
Jul 02 15:55:48 ubuntu etcd[66864]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 02 15:55:48 ubuntu etcd[66864]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 02 15:55:48 ubuntu etcd[66864]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 02 15:55:48 ubuntu etcd[66864]: Running http and grpc server on single port. This is not recommended for production.
Jul 02 15:55:48 ubuntu etcd[66864]: etcd Version: 3.4.27
Jul 02 15:55:48 ubuntu etcd[66864]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 02 15:55:48 ubuntu etcd[66864]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 02 15:55:48 ubuntu etcd[66864]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 02 15:55:48 ubuntu etcd[66864]: Git SHA: c92fb80f3
Jul 02 15:55:48 ubuntu etcd[66864]: Go Version: go1.19.10
Jul 02 15:55:48 ubuntu etcd[66864]: Go OS/Arch: linux/amd64
Jul 02 15:55:48 ubuntu etcd[66864]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 02 15:55:48 ubuntu etcd[66864]: Running http and grpc server on single port. This is not recommended for production.
Jul 02 15:55:48 ubuntu etcd[66864]: name = ubuntu
Jul 02 15:55:48 ubuntu etcd[66864]: data dir = /opt/stack/data/etcd
Jul 02 15:55:48 ubuntu etcd[66864]: member dir = /opt/stack/data/etcd/member
Jul 02 15:55:48 ubuntu etcd[66864]: heartbeat = 100ms
Jul 02 15:55:48 ubuntu etcd[66864]: election = 1000ms
Jul 02 15:55:48 ubuntu etcd[66864]: snapshot count = 100000
Jul 02 15:55:48 ubuntu etcd[66864]: advertise client URLs = http://10.201.5.82:2379
Jul 02 15:55:48 ubuntu etcd[66864]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 02 15:55:48 ubuntu etcd[66864]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jul 02 15:55:48 ubuntu etcd[66864]: raft2024/07/02 15:55:48 INFO: 43038365673ccf7b switched to configuration voters=()
Jul 02 15:55:48 ubuntu etcd[66864]: raft2024/07/02 15:55:48 INFO: 43038365673ccf7b became follower at term 0
Jul 02 15:55:48 ubuntu etcd[66864]: raft2024/07/02 15:55:48 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 02 15:55:48 ubuntu etcd[66864]: raft2024/07/02 15:55:48 INFO: 43038365673ccf7b became follower at term 1
Jul 02 15:55:48 ubuntu etcd[66864]: raft2024/07/02 15:55:48 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 02 15:55:48 ubuntu etcd[66864]: simple token is not cryptographically signed
Jul 02 15:55:48 ubuntu etcd[66864]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 02 15:55:48 ubuntu etcd[66864]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 02 15:55:48 ubuntu etcd[66864]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 02 15:55:48 ubuntu etcd[66864]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 02 15:55:48 ubuntu etcd[66864]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 02 15:55:48 ubuntu etcd[66864]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jul 02 15:55:48 ubuntu etcd[66864]: raft2024/07/02 15:55:48 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 02 15:55:48 ubuntu etcd[66864]: listening for peers on [::]:2380
Jul 02 15:55:48 ubuntu etcd[66864]: raft2024/07/02 15:55:48 INFO: 43038365673ccf7b is starting a new election at term 1
Jul 02 15:55:48 ubuntu etcd[66864]: raft2024/07/02 15:55:48 INFO: 43038365673ccf7b became candidate at term 2
Jul 02 15:55:48 ubuntu etcd[66864]: raft2024/07/02 15:55:48 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jul 02 15:55:48 ubuntu etcd[66864]: raft2024/07/02 15:55:48 INFO: 43038365673ccf7b became leader at term 2
Jul 02 15:55:48 ubuntu etcd[66864]: raft2024/07/02 15:55:48 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jul 02 15:55:48 ubuntu etcd[66864]: setting up the initial cluster version to 3.4
Jul 02 15:55:48 ubuntu etcd[66864]: ready to serve client requests
Jul 02 15:55:48 ubuntu etcd[66864]: INFO: 2024/07/02 15:55:48 parsed scheme: ""
Jul 02 15:55:48 ubuntu etcd[66864]: INFO: 2024/07/02 15:55:48 scheme "" not registered, fallback to default scheme
Jul 02 15:55:48 ubuntu etcd[66864]: INFO: 2024/07/02 15:55:48 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Jul 02 15:55:48 ubuntu etcd[66864]: INFO: 2024/07/02 15:55:48 ClientConn switching balancer to "pick_first"
Jul 02 15:55:48 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 02 15:55:48 ubuntu etcd[66864]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jul 02 15:55:48 ubuntu etcd[66864]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jul 02 15:55:48 ubuntu etcd[66864]: set the initial cluster version to 3.4
Jul 02 15:55:48 ubuntu etcd[66864]: enabled capabilities for version 3.4
Jul 02 16:01:55 ubuntu etcd[66864]: start time = 2024-07-02 16:01:55.733264109 +0000 UTC m=+367.530010086, time spent = 1.996196ms, remote = 10.201.5.82:40926, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 02 16:01:55 ubuntu etcd[66864]: start time = 2024-07-02 16:01:55.825117956 +0000 UTC m=+367.621863942, time spent = 229.59µs, remote = 10.201.5.82:40926, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 02 16:02:02 ubuntu etcd[66864]: start time = 2024-07-02 16:02:02.971664037 +0000 UTC m=+374.768410015, time spent = 211.789µs, remote = 10.201.5.82:40926, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 02 16:02:04 ubuntu etcd[66864]: start time = 2024-07-02 16:02:04.799644415 +0000 UTC m=+376.596390401, time spent = 407.924µs, remote = 10.201.5.82:40926, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 02 16:05:02 ubuntu etcd[66864]: start time = 2024-07-02 16:05:02.978500653 +0000 UTC m=+554.775246628, time spent = 246.097µs, remote = 10.201.5.82:40926, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 02 16:05:02 ubuntu etcd[66864]: start time = 2024-07-02 16:05:02.978312934 +0000 UTC m=+554.775058910, time spent = 1.265774ms, remote = 10.201.5.82:40926, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 02 16:05:07 ubuntu etcd[66864]: start time = 2024-07-02 16:05:07.423175375 +0000 UTC m=+559.219921351, time spent = 226.201µs, remote = 10.201.5.82:40926, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 02 16:05:07 ubuntu etcd[66864]: start time = 2024-07-02 16:05:07.522592925 +0000 UTC m=+559.319338902, time spent = 393.21µs, remote = 10.201.5.82:40926, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
