Feb 13 17:42:23 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Feb 13 17:42:23 ubuntu etcd[78609]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Feb 13 17:42:23 ubuntu etcd[78609]:         A future release of golang/protobuf will delete this package,
Feb 13 17:42:23 ubuntu etcd[78609]:         which has long been excluded from the compatibility promise.
Feb 13 17:42:23 ubuntu etcd[78609]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 13 17:42:23 ubuntu etcd[78609]: Running http and grpc server on single port. This is not recommended for production.
Feb 13 17:42:23 ubuntu etcd[78609]: etcd Version: 3.4.27
Feb 13 17:42:23 ubuntu etcd[78609]: Git SHA: c92fb80f3
Feb 13 17:42:23 ubuntu etcd[78609]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 13 17:42:23 ubuntu etcd[78609]: Go Version: go1.19.10
Feb 13 17:42:23 ubuntu etcd[78609]: Go OS/Arch: linux/amd64
Feb 13 17:42:23 ubuntu etcd[78609]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Feb 13 17:42:23 ubuntu etcd[78609]: Running http and grpc server on single port. This is not recommended for production.
Feb 13 17:42:23 ubuntu etcd[78609]: name = ubuntu
Feb 13 17:42:23 ubuntu etcd[78609]: data dir = /opt/stack/data/etcd
Feb 13 17:42:23 ubuntu etcd[78609]: member dir = /opt/stack/data/etcd/member
Feb 13 17:42:23 ubuntu etcd[78609]: heartbeat = 100ms
Feb 13 17:42:23 ubuntu etcd[78609]: election = 1000ms
Feb 13 17:42:23 ubuntu etcd[78609]: snapshot count = 100000
Feb 13 17:42:23 ubuntu etcd[78609]: advertise client URLs = http://10.201.5.82:2379
Feb 13 17:42:23 ubuntu etcd[78609]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Feb 13 17:42:23 ubuntu etcd[78609]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Feb 13 17:42:23 ubuntu etcd[78609]: raft2025/02/13 17:42:23 INFO: 43038365673ccf7b switched to configuration voters=()
Feb 13 17:42:23 ubuntu etcd[78609]: raft2025/02/13 17:42:23 INFO: 43038365673ccf7b became follower at term 0
Feb 13 17:42:23 ubuntu etcd[78609]: raft2025/02/13 17:42:23 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Feb 13 17:42:23 ubuntu etcd[78609]: raft2025/02/13 17:42:23 INFO: 43038365673ccf7b became follower at term 1
Feb 13 17:42:23 ubuntu etcd[78609]: raft2025/02/13 17:42:23 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Feb 13 17:42:23 ubuntu etcd[78609]: simple token is not cryptographically signed
Feb 13 17:42:23 ubuntu etcd[78609]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Feb 13 17:42:23 ubuntu etcd[78609]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Feb 13 17:42:23 ubuntu etcd[78609]: raft2025/02/13 17:42:23 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Feb 13 17:42:23 ubuntu etcd[78609]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Feb 13 17:42:23 ubuntu etcd[78609]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Feb 13 17:42:23 ubuntu etcd[78609]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Feb 13 17:42:23 ubuntu etcd[78609]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Feb 13 17:42:23 ubuntu etcd[78609]: listening for peers on [::]:2380
Feb 13 17:42:23 ubuntu etcd[78609]: raft2025/02/13 17:42:23 INFO: 43038365673ccf7b is starting a new election at term 1
Feb 13 17:42:23 ubuntu etcd[78609]: raft2025/02/13 17:42:23 INFO: 43038365673ccf7b became candidate at term 2
Feb 13 17:42:23 ubuntu etcd[78609]: raft2025/02/13 17:42:23 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Feb 13 17:42:23 ubuntu etcd[78609]: raft2025/02/13 17:42:23 INFO: 43038365673ccf7b became leader at term 2
Feb 13 17:42:23 ubuntu etcd[78609]: raft2025/02/13 17:42:23 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Feb 13 17:42:23 ubuntu etcd[78609]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Feb 13 17:42:23 ubuntu etcd[78609]: ready to serve client requests
Feb 13 17:42:23 ubuntu etcd[78609]: setting up the initial cluster version to 3.4
Feb 13 17:42:23 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Feb 13 17:42:23 ubuntu etcd[78609]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Feb 13 17:42:23 ubuntu etcd[78609]: set the initial cluster version to 3.4
Feb 13 17:42:23 ubuntu etcd[78609]: enabled capabilities for version 3.4
Feb 13 17:47:17 ubuntu etcd[78609]: start time = 2025-02-13 17:47:17.174602125 +0000 UTC m=+294.032574242, time spent = 8.19797ms, remote = 10.201.5.82:51294, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 13 17:47:17 ubuntu etcd[78609]: start time = 2025-02-13 17:47:17.226676031 +0000 UTC m=+294.084648146, time spent = 216.903µs, remote = 10.201.5.82:51294, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 13 17:47:23 ubuntu etcd[78609]: start time = 2025-02-13 17:47:23.95770635 +0000 UTC m=+300.815678450, time spent = 219.573µs, remote = 10.201.5.82:51294, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 13 17:47:25 ubuntu etcd[78609]: start time = 2025-02-13 17:47:25.919244291 +0000 UTC m=+302.777216410, time spent = 541.55µs, remote = 10.201.5.82:51294, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 13 17:50:21 ubuntu etcd[78609]: start time = 2025-02-13 17:50:21.198878653 +0000 UTC m=+478.056850753, time spent = 441.295µs, remote = 10.201.5.82:51294, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 13 17:50:21 ubuntu etcd[78609]: start time = 2025-02-13 17:50:21.320628318 +0000 UTC m=+478.178600432, time spent = 192.407µs, remote = 10.201.5.82:51294, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 13 17:50:21 ubuntu etcd[78609]: start time = 2025-02-13 17:50:21.494037918 +0000 UTC m=+478.352010034, time spent = 167.912µs, remote = 10.201.5.82:51294, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 13 17:50:23 ubuntu etcd[78609]: start time = 2025-02-13 17:50:23.757395923 +0000 UTC m=+480.615368042, time spent = 248.953µs, remote = 10.201.5.82:51294, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 13 17:52:11 ubuntu etcd[78609]: start time = 2025-02-13 17:52:11.44574602 +0000 UTC m=+588.303718230, time spent = 711.722µs, remote = 10.201.5.82:51294, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 13 17:52:11 ubuntu etcd[78609]: start time = 2025-02-13 17:52:11.449683821 +0000 UTC m=+588.307655979, time spent = 960.666µs, remote = 10.201.5.82:51294, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-bb65ba22-9400-42c4-8d0f-f533a4d24e63" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-bb65ba22-9400-42c4-8d0f-f533a4d24e63" value_size:16 lease:5727335180102064153 >> failure:<request_range:<key:"/tooz/lockscinder-bb65ba22-9400-42c4-8d0f-f533a4d24e63" > >
Feb 13 17:52:14 ubuntu etcd[78609]: start time = 2025-02-13 17:52:14.181161316 +0000 UTC m=+591.039133522, time spent = 1.240155ms, remote = 10.201.5.82:51294, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-bb65ba22-9400-42c4-8d0f-f533a4d24e63" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-bb65ba22-9400-42c4-8d0f-f533a4d24e63" > > failure:<>
Feb 13 17:52:14 ubuntu etcd[78609]: start time = 2025-02-13 17:52:14.563896015 +0000 UTC m=+591.421868130, time spent = 335.378µs, remote = 10.201.5.82:51294, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 13 17:52:14 ubuntu etcd[78609]: start time = 2025-02-13 17:52:14.566598072 +0000 UTC m=+591.424570210, time spent = 260.37µs, remote = 10.201.5.82:51294, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-bb65ba22-9400-42c4-8d0f-f533a4d24e63" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-bb65ba22-9400-42c4-8d0f-f533a4d24e63" value_size:16 lease:5727335180102064157 >> failure:<request_range:<key:"/tooz/lockscinder-bb65ba22-9400-42c4-8d0f-f533a4d24e63" > >
Feb 13 17:52:15 ubuntu etcd[78609]: start time = 2025-02-13 17:52:15.407344057 +0000 UTC m=+592.265316294, time spent = 901.075µs, remote = 10.201.5.82:51294, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-bb65ba22-9400-42c4-8d0f-f533a4d24e63" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-bb65ba22-9400-42c4-8d0f-f533a4d24e63" > > failure:<>
Feb 13 17:52:15 ubuntu etcd[78609]: start time = 2025-02-13 17:52:15.663689641 +0000 UTC m=+592.521661848, time spent = 562.617µs, remote = 10.201.5.82:51294, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 13 17:52:15 ubuntu etcd[78609]: start time = 2025-02-13 17:52:15.667351272 +0000 UTC m=+592.525323449, time spent = 326.897µs, remote = 10.201.5.82:51294, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-bb65ba22-9400-42c4-8d0f-f533a4d24e63" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-bb65ba22-9400-42c4-8d0f-f533a4d24e63" value_size:16 lease:5727335180102064161 >> failure:<request_range:<key:"/tooz/lockscinder-bb65ba22-9400-42c4-8d0f-f533a4d24e63" > >
Feb 13 17:52:16 ubuntu etcd[78609]: start time = 2025-02-13 17:52:16.520233833 +0000 UTC m=+593.378206060, time spent = 599.807µs, remote = 10.201.5.82:51294, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-bb65ba22-9400-42c4-8d0f-f533a4d24e63" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-bb65ba22-9400-42c4-8d0f-f533a4d24e63" > > failure:<>
Feb 13 18:32:22 ubuntu etcd[78609]: start time = 2025-02-13 18:32:22.229076322 +0000 UTC m=+2999.087048452, time spent = 589.899µs, remote = 10.201.5.82:51294, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 13 18:32:22 ubuntu etcd[78609]: start time = 2025-02-13 18:32:22.231604001 +0000 UTC m=+2999.089576111, time spent = 335.923µs, remote = 10.201.5.82:51294, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-6d755353-19ac-4029-83ef-56da7b0a58a8" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-6d755353-19ac-4029-83ef-56da7b0a58a8" value_size:16 lease:5727335180102064168 >> failure:<request_range:<key:"/tooz/lockscinder-6d755353-19ac-4029-83ef-56da7b0a58a8" > >
Feb 13 18:32:24 ubuntu etcd[78609]: start time = 2025-02-13 18:32:24.859340158 +0000 UTC m=+3001.717312383, time spent = 655.987µs, remote = 10.201.5.82:51294, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-6d755353-19ac-4029-83ef-56da7b0a58a8" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-6d755353-19ac-4029-83ef-56da7b0a58a8" > > failure:<>
Feb 13 18:32:25 ubuntu etcd[78609]: start time = 2025-02-13 18:32:25.073044134 +0000 UTC m=+3001.931016234, time spent = 317.719µs, remote = 10.201.5.82:51294, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 13 18:32:25 ubuntu etcd[78609]: start time = 2025-02-13 18:32:25.075530174 +0000 UTC m=+3001.933502398, time spent = 456.721µs, remote = 10.201.5.82:51294, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-6d755353-19ac-4029-83ef-56da7b0a58a8" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-6d755353-19ac-4029-83ef-56da7b0a58a8" value_size:16 lease:5727335180102064172 >> failure:<request_range:<key:"/tooz/lockscinder-6d755353-19ac-4029-83ef-56da7b0a58a8" > >
Feb 13 18:32:25 ubuntu etcd[78609]: start time = 2025-02-13 18:32:25.671396229 +0000 UTC m=+3002.529368446, time spent = 688.936µs, remote = 10.201.5.82:51294, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-6d755353-19ac-4029-83ef-56da7b0a58a8" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-6d755353-19ac-4029-83ef-56da7b0a58a8" > > failure:<>
Feb 13 18:32:25 ubuntu etcd[78609]: start time = 2025-02-13 18:32:25.928920823 +0000 UTC m=+3002.786893031, time spent = 541.253µs, remote = 10.201.5.82:51294, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 13 18:32:25 ubuntu etcd[78609]: start time = 2025-02-13 18:32:25.93212375 +0000 UTC m=+3002.790095948, time spent = 444.094µs, remote = 10.201.5.82:51294, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-6d755353-19ac-4029-83ef-56da7b0a58a8" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-6d755353-19ac-4029-83ef-56da7b0a58a8" value_size:16 lease:5727335180102064176 >> failure:<request_range:<key:"/tooz/lockscinder-6d755353-19ac-4029-83ef-56da7b0a58a8" > >
Feb 13 18:32:26 ubuntu etcd[78609]: start time = 2025-02-13 18:32:26.553749324 +0000 UTC m=+3003.411721473, time spent = 361.331µs, remote = 10.201.5.82:51294, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-6d755353-19ac-4029-83ef-56da7b0a58a8" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-6d755353-19ac-4029-83ef-56da7b0a58a8" > > failure:<>
