Aug 01 20:54:15 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Aug 01 20:54:15 ubuntu etcd[66865]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Aug 01 20:54:15 ubuntu etcd[66865]:         A future release of golang/protobuf will delete this package,
Aug 01 20:54:15 ubuntu etcd[66865]:         which has long been excluded from the compatibility promise.
Aug 01 20:54:15 ubuntu etcd[66865]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Aug 01 20:54:15 ubuntu etcd[66865]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Aug 01 20:54:15 ubuntu etcd[66865]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 01 20:54:15 ubuntu etcd[66865]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Aug 01 20:54:15 ubuntu etcd[66865]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Aug 01 20:54:15 ubuntu etcd[66865]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 01 20:54:15 ubuntu etcd[66865]: Running http and grpc server on single port. This is not recommended for production.
Aug 01 20:54:15 ubuntu etcd[66865]: etcd Version: 3.4.27
Aug 01 20:54:15 ubuntu etcd[66865]: Git SHA: c92fb80f3
Aug 01 20:54:15 ubuntu etcd[66865]: Go Version: go1.19.10
Aug 01 20:54:15 ubuntu etcd[66865]: Go OS/Arch: linux/amd64
Aug 01 20:54:15 ubuntu etcd[66865]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Aug 01 20:54:15 ubuntu etcd[66865]: Running http and grpc server on single port. This is not recommended for production.
Aug 01 20:54:15 ubuntu etcd[66865]: name = ubuntu
Aug 01 20:54:15 ubuntu etcd[66865]: data dir = /opt/stack/data/etcd
Aug 01 20:54:15 ubuntu etcd[66865]: member dir = /opt/stack/data/etcd/member
Aug 01 20:54:15 ubuntu etcd[66865]: heartbeat = 100ms
Aug 01 20:54:15 ubuntu etcd[66865]: election = 1000ms
Aug 01 20:54:15 ubuntu etcd[66865]: snapshot count = 100000
Aug 01 20:54:15 ubuntu etcd[66865]: advertise client URLs = http://10.201.5.82:2379
Aug 01 20:54:15 ubuntu etcd[66865]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Aug 01 20:54:16 ubuntu etcd[66865]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Aug 01 20:54:16 ubuntu etcd[66865]: raft2024/08/01 20:54:16 INFO: 43038365673ccf7b switched to configuration voters=()
Aug 01 20:54:16 ubuntu etcd[66865]: raft2024/08/01 20:54:16 INFO: 43038365673ccf7b became follower at term 0
Aug 01 20:54:16 ubuntu etcd[66865]: raft2024/08/01 20:54:16 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Aug 01 20:54:16 ubuntu etcd[66865]: raft2024/08/01 20:54:16 INFO: 43038365673ccf7b became follower at term 1
Aug 01 20:54:16 ubuntu etcd[66865]: raft2024/08/01 20:54:16 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Aug 01 20:54:16 ubuntu etcd[66865]: simple token is not cryptographically signed
Aug 01 20:54:16 ubuntu etcd[66865]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Aug 01 20:54:16 ubuntu etcd[66865]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Aug 01 20:54:16 ubuntu etcd[66865]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Aug 01 20:54:16 ubuntu etcd[66865]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Aug 01 20:54:16 ubuntu etcd[66865]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Aug 01 20:54:16 ubuntu etcd[66865]: raft2024/08/01 20:54:16 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Aug 01 20:54:16 ubuntu etcd[66865]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Aug 01 20:54:16 ubuntu etcd[66865]: listening for peers on [::]:2380
Aug 01 20:54:16 ubuntu etcd[66865]: raft2024/08/01 20:54:16 INFO: 43038365673ccf7b is starting a new election at term 1
Aug 01 20:54:16 ubuntu etcd[66865]: raft2024/08/01 20:54:16 INFO: 43038365673ccf7b became candidate at term 2
Aug 01 20:54:16 ubuntu etcd[66865]: raft2024/08/01 20:54:16 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Aug 01 20:54:16 ubuntu etcd[66865]: raft2024/08/01 20:54:16 INFO: 43038365673ccf7b became leader at term 2
Aug 01 20:54:16 ubuntu etcd[66865]: raft2024/08/01 20:54:16 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Aug 01 20:54:16 ubuntu etcd[66865]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Aug 01 20:54:16 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Aug 01 20:54:16 ubuntu etcd[66865]: setting up the initial cluster version to 3.4
Aug 01 20:54:16 ubuntu etcd[66865]: ready to serve client requests
Aug 01 20:54:16 ubuntu etcd[66865]: INFO: 2024/08/01 20:54:16 parsed scheme: ""
Aug 01 20:54:16 ubuntu etcd[66865]: INFO: 2024/08/01 20:54:16 scheme "" not registered, fallback to default scheme
Aug 01 20:54:16 ubuntu etcd[66865]: set the initial cluster version to 3.4
Aug 01 20:54:16 ubuntu etcd[66865]: INFO: 2024/08/01 20:54:16 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Aug 01 20:54:16 ubuntu etcd[66865]: INFO: 2024/08/01 20:54:16 ClientConn switching balancer to "pick_first"
Aug 01 20:54:16 ubuntu etcd[66865]: enabled capabilities for version 3.4
Aug 01 20:54:16 ubuntu etcd[66865]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Aug 01 20:59:25 ubuntu etcd[66865]: start time = 2024-08-01 20:59:25.035732854 +0000 UTC m=+309.061259719, time spent = 606.436µs, remote = 10.201.5.82:54736, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 01 20:59:25 ubuntu etcd[66865]: start time = 2024-08-01 20:59:25.037363258 +0000 UTC m=+309.062890138, time spent = 254.791µs, remote = 10.201.5.82:54736, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 01 20:59:31 ubuntu etcd[66865]: start time = 2024-08-01 20:59:31.880395752 +0000 UTC m=+315.905922652, time spent = 400.814µs, remote = 10.201.5.82:54736, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 01 20:59:33 ubuntu etcd[66865]: start time = 2024-08-01 20:59:33.95775997 +0000 UTC m=+317.983286835, time spent = 344.874µs, remote = 10.201.5.82:54736, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
