Aug 11 14:14:34 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Aug 11 14:14:34 ubuntu etcd[79212]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Aug 11 14:14:34 ubuntu etcd[79212]:         A future release of golang/protobuf will delete this package,
Aug 11 14:14:34 ubuntu etcd[79212]:         which has long been excluded from the compatibility promise.
Aug 11 14:14:34 ubuntu etcd[79212]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 11 14:14:34 ubuntu etcd[79212]: Running http and grpc server on single port. This is not recommended for production.
Aug 11 14:14:34 ubuntu etcd[79212]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 11 14:14:34 ubuntu etcd[79212]: etcd Version: 3.4.27
Aug 11 14:14:34 ubuntu etcd[79212]: Git SHA: c92fb80f3
Aug 11 14:14:34 ubuntu etcd[79212]: Go Version: go1.19.10
Aug 11 14:14:34 ubuntu etcd[79212]: Go OS/Arch: linux/amd64
Aug 11 14:14:34 ubuntu etcd[79212]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Aug 11 14:14:34 ubuntu etcd[79212]: Running http and grpc server on single port. This is not recommended for production.
Aug 11 14:14:34 ubuntu etcd[79212]: name = ubuntu
Aug 11 14:14:34 ubuntu etcd[79212]: data dir = /opt/stack/data/etcd
Aug 11 14:14:34 ubuntu etcd[79212]: member dir = /opt/stack/data/etcd/member
Aug 11 14:14:34 ubuntu etcd[79212]: heartbeat = 100ms
Aug 11 14:14:34 ubuntu etcd[79212]: election = 1000ms
Aug 11 14:14:34 ubuntu etcd[79212]: snapshot count = 100000
Aug 11 14:14:34 ubuntu etcd[79212]: advertise client URLs = http://10.201.5.82:2379
Aug 11 14:14:34 ubuntu etcd[79212]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Aug 11 14:14:34 ubuntu etcd[79212]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Aug 11 14:14:34 ubuntu etcd[79212]: raft2025/08/11 14:14:34 INFO: 43038365673ccf7b switched to configuration voters=()
Aug 11 14:14:34 ubuntu etcd[79212]: raft2025/08/11 14:14:34 INFO: 43038365673ccf7b became follower at term 0
Aug 11 14:14:34 ubuntu etcd[79212]: raft2025/08/11 14:14:34 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Aug 11 14:14:34 ubuntu etcd[79212]: raft2025/08/11 14:14:34 INFO: 43038365673ccf7b became follower at term 1
Aug 11 14:14:34 ubuntu etcd[79212]: raft2025/08/11 14:14:34 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Aug 11 14:14:34 ubuntu etcd[79212]: simple token is not cryptographically signed
Aug 11 14:14:34 ubuntu etcd[79212]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Aug 11 14:14:34 ubuntu etcd[79212]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Aug 11 14:14:34 ubuntu etcd[79212]: raft2025/08/11 14:14:34 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Aug 11 14:14:34 ubuntu etcd[79212]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Aug 11 14:14:34 ubuntu etcd[79212]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Aug 11 14:14:34 ubuntu etcd[79212]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Aug 11 14:14:34 ubuntu etcd[79212]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Aug 11 14:14:34 ubuntu etcd[79212]: listening for peers on [::]:2380
Aug 11 14:14:34 ubuntu etcd[79212]: raft2025/08/11 14:14:34 INFO: 43038365673ccf7b is starting a new election at term 1
Aug 11 14:14:34 ubuntu etcd[79212]: raft2025/08/11 14:14:34 INFO: 43038365673ccf7b became candidate at term 2
Aug 11 14:14:34 ubuntu etcd[79212]: raft2025/08/11 14:14:34 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Aug 11 14:14:34 ubuntu etcd[79212]: raft2025/08/11 14:14:34 INFO: 43038365673ccf7b became leader at term 2
Aug 11 14:14:34 ubuntu etcd[79212]: raft2025/08/11 14:14:34 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Aug 11 14:14:34 ubuntu etcd[79212]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Aug 11 14:14:34 ubuntu etcd[79212]: setting up the initial cluster version to 3.4
Aug 11 14:14:34 ubuntu etcd[79212]: ready to serve client requests
Aug 11 14:14:34 ubuntu etcd[79212]: set the initial cluster version to 3.4
Aug 11 14:14:34 ubuntu etcd[79212]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Aug 11 14:14:34 ubuntu etcd[79212]: enabled capabilities for version 3.4
Aug 11 14:14:34 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Aug 11 14:19:19 ubuntu etcd[79212]: start time = 2025-08-11 14:19:19.815827119 +0000 UTC m=+285.244738679, time spent = 1.796728ms, remote = 10.201.5.82:40628, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 11 14:19:20 ubuntu etcd[79212]: start time = 2025-08-11 14:19:20.022623766 +0000 UTC m=+285.451535342, time spent = 227.748µs, remote = 10.201.5.82:40628, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 11 14:19:26 ubuntu etcd[79212]: start time = 2025-08-11 14:19:26.810866828 +0000 UTC m=+292.239778414, time spent = 209.627µs, remote = 10.201.5.82:40628, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 11 14:19:28 ubuntu etcd[79212]: start time = 2025-08-11 14:19:28.678117694 +0000 UTC m=+294.107029267, time spent = 439.487µs, remote = 10.201.5.82:40628, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 11 14:23:18 ubuntu etcd[79212]: start time = 2025-08-11 14:23:18.262427579 +0000 UTC m=+523.691339138, time spent = 405.695µs, remote = 10.201.5.82:40628, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 11 14:23:18 ubuntu etcd[79212]: start time = 2025-08-11 14:23:18.355736397 +0000 UTC m=+523.784647974, time spent = 185.213µs, remote = 10.201.5.82:40628, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 11 14:23:19 ubuntu etcd[79212]: start time = 2025-08-11 14:23:19.227585443 +0000 UTC m=+524.656497021, time spent = 230.756µs, remote = 10.201.5.82:40628, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 11 14:23:21 ubuntu etcd[79212]: start time = 2025-08-11 14:23:21.311864298 +0000 UTC m=+526.740775872, time spent = 224.065µs, remote = 10.201.5.82:40628, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 11 14:30:05 ubuntu etcd[79212]: start time = 2025-08-11 14:30:05.453947435 +0000 UTC m=+930.882859004, time spent = 506.473µs, remote = 10.201.5.82:40628, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 11 14:30:05 ubuntu etcd[79212]: start time = 2025-08-11 14:30:05.463165875 +0000 UTC m=+930.892077435, time spent = 6.881015ms, remote = 10.201.5.82:40628, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-24b494bb-ddbe-4566-890a-f8be903c25b0" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-24b494bb-ddbe-4566-890a-f8be903c25b0" value_size:16 lease:5727339136103708441 >> failure:<request_range:<key:"/tooz/lockscinder-24b494bb-ddbe-4566-890a-f8be903c25b0" > >
Aug 11 14:30:08 ubuntu etcd[79212]: start time = 2025-08-11 14:30:08.122992627 +0000 UTC m=+933.551904310, time spent = 561.528µs, remote = 10.201.5.82:40628, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-24b494bb-ddbe-4566-890a-f8be903c25b0" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-24b494bb-ddbe-4566-890a-f8be903c25b0" > > failure:<>
Aug 11 14:30:08 ubuntu etcd[79212]: start time = 2025-08-11 14:30:08.343763622 +0000 UTC m=+933.772675199, time spent = 597.209µs, remote = 10.201.5.82:40628, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 11 14:30:08 ubuntu etcd[79212]: start time = 2025-08-11 14:30:08.34648949 +0000 UTC m=+933.775401067, time spent = 252.316µs, remote = 10.201.5.82:40628, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-24b494bb-ddbe-4566-890a-f8be903c25b0" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-24b494bb-ddbe-4566-890a-f8be903c25b0" value_size:16 lease:5727339136103708445 >> failure:<request_range:<key:"/tooz/lockscinder-24b494bb-ddbe-4566-890a-f8be903c25b0" > >
Aug 11 14:30:11 ubuntu etcd[79212]: start time = 2025-08-11 14:30:11.051803158 +0000 UTC m=+936.480714835, time spent = 848.257µs, remote = 10.201.5.82:40628, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-24b494bb-ddbe-4566-890a-f8be903c25b0" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-24b494bb-ddbe-4566-890a-f8be903c25b0" > > failure:<>
Aug 11 14:30:11 ubuntu etcd[79212]: start time = 2025-08-11 14:30:11.278047354 +0000 UTC m=+936.706958928, time spent = 263.647µs, remote = 10.201.5.82:40628, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 11 14:30:11 ubuntu etcd[79212]: start time = 2025-08-11 14:30:11.279749633 +0000 UTC m=+936.708661206, time spent = 172.442µs, remote = 10.201.5.82:40628, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-24b494bb-ddbe-4566-890a-f8be903c25b0" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-24b494bb-ddbe-4566-890a-f8be903c25b0" value_size:16 lease:5727339136103708449 >> failure:<request_range:<key:"/tooz/lockscinder-24b494bb-ddbe-4566-890a-f8be903c25b0" > >
Aug 11 14:30:13 ubuntu etcd[79212]: start time = 2025-08-11 14:30:13.284417672 +0000 UTC m=+938.713329347, time spent = 578.315µs, remote = 10.201.5.82:40628, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-24b494bb-ddbe-4566-890a-f8be903c25b0" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-24b494bb-ddbe-4566-890a-f8be903c25b0" > > failure:<>
