Jun 09 04:37:02 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 09 04:37:02 ubuntu etcd[79682]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 09 04:37:02 ubuntu etcd[79682]:         A future release of golang/protobuf will delete this package,
Jun 09 04:37:02 ubuntu etcd[79682]:         which has long been excluded from the compatibility promise.
Jun 09 04:37:02 ubuntu etcd[79682]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 09 04:37:02 ubuntu etcd[79682]: Running http and grpc server on single port. This is not recommended for production.
Jun 09 04:37:02 ubuntu etcd[79682]: etcd Version: 3.4.27
Jun 09 04:37:02 ubuntu etcd[79682]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 09 04:37:02 ubuntu etcd[79682]: Git SHA: c92fb80f3
Jun 09 04:37:02 ubuntu etcd[79682]: Go Version: go1.19.10
Jun 09 04:37:02 ubuntu etcd[79682]: Go OS/Arch: linux/amd64
Jun 09 04:37:02 ubuntu etcd[79682]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 09 04:37:02 ubuntu etcd[79682]: Running http and grpc server on single port. This is not recommended for production.
Jun 09 04:37:02 ubuntu etcd[79682]: name = ubuntu
Jun 09 04:37:02 ubuntu etcd[79682]: data dir = /opt/stack/data/etcd
Jun 09 04:37:02 ubuntu etcd[79682]: member dir = /opt/stack/data/etcd/member
Jun 09 04:37:02 ubuntu etcd[79682]: heartbeat = 100ms
Jun 09 04:37:02 ubuntu etcd[79682]: election = 1000ms
Jun 09 04:37:02 ubuntu etcd[79682]: snapshot count = 100000
Jun 09 04:37:02 ubuntu etcd[79682]: advertise client URLs = http://10.201.5.82:2379
Jun 09 04:37:02 ubuntu etcd[79682]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 09 04:37:02 ubuntu etcd[79682]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jun 09 04:37:02 ubuntu etcd[79682]: raft2025/06/09 04:37:02 INFO: 43038365673ccf7b switched to configuration voters=()
Jun 09 04:37:02 ubuntu etcd[79682]: raft2025/06/09 04:37:02 INFO: 43038365673ccf7b became follower at term 0
Jun 09 04:37:02 ubuntu etcd[79682]: raft2025/06/09 04:37:02 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 09 04:37:02 ubuntu etcd[79682]: raft2025/06/09 04:37:02 INFO: 43038365673ccf7b became follower at term 1
Jun 09 04:37:02 ubuntu etcd[79682]: raft2025/06/09 04:37:02 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 09 04:37:02 ubuntu etcd[79682]: simple token is not cryptographically signed
Jun 09 04:37:02 ubuntu etcd[79682]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 09 04:37:02 ubuntu etcd[79682]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 09 04:37:02 ubuntu etcd[79682]: raft2025/06/09 04:37:02 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 09 04:37:02 ubuntu etcd[79682]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 09 04:37:02 ubuntu etcd[79682]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 09 04:37:02 ubuntu etcd[79682]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 09 04:37:02 ubuntu etcd[79682]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jun 09 04:37:02 ubuntu etcd[79682]: listening for peers on [::]:2380
Jun 09 04:37:03 ubuntu etcd[79682]: raft2025/06/09 04:37:03 INFO: 43038365673ccf7b is starting a new election at term 1
Jun 09 04:37:03 ubuntu etcd[79682]: raft2025/06/09 04:37:03 INFO: 43038365673ccf7b became candidate at term 2
Jun 09 04:37:03 ubuntu etcd[79682]: raft2025/06/09 04:37:03 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jun 09 04:37:03 ubuntu etcd[79682]: raft2025/06/09 04:37:03 INFO: 43038365673ccf7b became leader at term 2
Jun 09 04:37:03 ubuntu etcd[79682]: raft2025/06/09 04:37:03 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jun 09 04:37:03 ubuntu etcd[79682]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jun 09 04:37:03 ubuntu etcd[79682]: setting up the initial cluster version to 3.4
Jun 09 04:37:03 ubuntu etcd[79682]: ready to serve client requests
Jun 09 04:37:03 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 09 04:37:03 ubuntu etcd[79682]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jun 09 04:37:03 ubuntu etcd[79682]: set the initial cluster version to 3.4
Jun 09 04:37:03 ubuntu etcd[79682]: enabled capabilities for version 3.4
Jun 09 04:41:43 ubuntu etcd[79682]: start time = 2025-06-09 04:41:43.626349212 +0000 UTC m=+281.344898771, time spent = 2.032165ms, remote = 10.201.5.82:40764, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 04:41:43 ubuntu etcd[79682]: start time = 2025-06-09 04:41:43.630170936 +0000 UTC m=+281.348720500, time spent = 225.645µs, remote = 10.201.5.82:40764, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 04:41:50 ubuntu etcd[79682]: start time = 2025-06-09 04:41:50.453617458 +0000 UTC m=+288.172167016, time spent = 192.657µs, remote = 10.201.5.82:40764, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 04:41:52 ubuntu etcd[79682]: start time = 2025-06-09 04:41:52.479571359 +0000 UTC m=+290.198120918, time spent = 314.86µs, remote = 10.201.5.82:40764, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 04:45:26 ubuntu etcd[79682]: start time = 2025-06-09 04:45:26.649373059 +0000 UTC m=+504.367922613, time spent = 396.771µs, remote = 10.201.5.82:40764, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 04:45:26 ubuntu etcd[79682]: start time = 2025-06-09 04:45:26.65940812 +0000 UTC m=+504.377957681, time spent = 187.152µs, remote = 10.201.5.82:40764, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 04:45:27 ubuntu etcd[79682]: start time = 2025-06-09 04:45:27.920104355 +0000 UTC m=+505.638653911, time spent = 200.309µs, remote = 10.201.5.82:40764, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 04:45:29 ubuntu etcd[79682]: start time = 2025-06-09 04:45:29.99089052 +0000 UTC m=+507.709440077, time spent = 194.594µs, remote = 10.201.5.82:40764, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 04:47:16 ubuntu etcd[79682]: start time = 2025-06-09 04:47:16.552297091 +0000 UTC m=+614.270846754, time spent = 820.247µs, remote = 10.201.5.82:40764, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 04:47:16 ubuntu etcd[79682]: start time = 2025-06-09 04:47:16.562531843 +0000 UTC m=+614.281081386, time spent = 1.020304ms, remote = 10.201.5.82:40764, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-9082ce74-91d7-45ba-9a3d-e99a3a419757" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-9082ce74-91d7-45ba-9a3d-e99a3a419757" value_size:16 lease:5727337733773522201 >> failure:<request_range:<key:"/tooz/lockscinder-9082ce74-91d7-45ba-9a3d-e99a3a419757" > >
Jun 09 04:47:19 ubuntu etcd[79682]: start time = 2025-06-09 04:47:19.230051945 +0000 UTC m=+616.948601548, time spent = 1.276932ms, remote = 10.201.5.82:40764, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-9082ce74-91d7-45ba-9a3d-e99a3a419757" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-9082ce74-91d7-45ba-9a3d-e99a3a419757" > > failure:<>
Jun 09 04:47:19 ubuntu etcd[79682]: start time = 2025-06-09 04:47:19.458817048 +0000 UTC m=+617.177366593, time spent = 400.139µs, remote = 10.201.5.82:40764, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 04:47:19 ubuntu etcd[79682]: start time = 2025-06-09 04:47:19.461112351 +0000 UTC m=+617.179662022, time spent = 461.929µs, remote = 10.201.5.82:40764, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-9082ce74-91d7-45ba-9a3d-e99a3a419757" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-9082ce74-91d7-45ba-9a3d-e99a3a419757" value_size:16 lease:5727337733773522205 >> failure:<request_range:<key:"/tooz/lockscinder-9082ce74-91d7-45ba-9a3d-e99a3a419757" > >
Jun 09 04:47:21 ubuntu etcd[79682]: start time = 2025-06-09 04:47:21.728528263 +0000 UTC m=+619.447077867, time spent = 628.835µs, remote = 10.201.5.82:40764, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-9082ce74-91d7-45ba-9a3d-e99a3a419757" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-9082ce74-91d7-45ba-9a3d-e99a3a419757" > > failure:<>
Jun 09 04:47:22 ubuntu etcd[79682]: start time = 2025-06-09 04:47:22.005423796 +0000 UTC m=+619.723973375, time spent = 330.753µs, remote = 10.201.5.82:40764, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 04:47:22 ubuntu etcd[79682]: start time = 2025-06-09 04:47:22.007628779 +0000 UTC m=+619.726178342, time spent = 211.555µs, remote = 10.201.5.82:40764, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-9082ce74-91d7-45ba-9a3d-e99a3a419757" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-9082ce74-91d7-45ba-9a3d-e99a3a419757" value_size:16 lease:5727337733773522209 >> failure:<request_range:<key:"/tooz/lockscinder-9082ce74-91d7-45ba-9a3d-e99a3a419757" > >
Jun 09 04:47:23 ubuntu etcd[79682]: start time = 2025-06-09 04:47:23.812188154 +0000 UTC m=+621.530737791, time spent = 485.494µs, remote = 10.201.5.82:40764, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-9082ce74-91d7-45ba-9a3d-e99a3a419757" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-9082ce74-91d7-45ba-9a3d-e99a3a419757" > > failure:<>
Jun 09 05:27:36 ubuntu etcd[79682]: start time = 2025-06-09 05:27:36.355255994 +0000 UTC m=+3034.073805537, time spent = 461.792µs, remote = 10.201.5.82:40764, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 05:27:36 ubuntu etcd[79682]: start time = 2025-06-09 05:27:36.358637182 +0000 UTC m=+3034.077186824, time spent = 2.033496ms, remote = 10.201.5.82:40764, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-5a7bf10d-4ff1-4fa1-a3ec-8b9c7eb596fb" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-5a7bf10d-4ff1-4fa1-a3ec-8b9c7eb596fb" value_size:16 lease:5727337733773522216 >> failure:<request_range:<key:"/tooz/lockscinder-5a7bf10d-4ff1-4fa1-a3ec-8b9c7eb596fb" > >
Jun 09 05:27:38 ubuntu etcd[79682]: start time = 2025-06-09 05:27:38.480859953 +0000 UTC m=+3036.199409521, time spent = 378.934µs, remote = 10.201.5.82:40764, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-5a7bf10d-4ff1-4fa1-a3ec-8b9c7eb596fb" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-5a7bf10d-4ff1-4fa1-a3ec-8b9c7eb596fb" > > failure:<>
Jun 09 05:27:38 ubuntu etcd[79682]: start time = 2025-06-09 05:27:38.678623136 +0000 UTC m=+3036.397172696, time spent = 247.801µs, remote = 10.201.5.82:40764, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 05:27:38 ubuntu etcd[79682]: start time = 2025-06-09 05:27:38.68060008 +0000 UTC m=+3036.399149641, time spent = 150.743µs, remote = 10.201.5.82:40764, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-5a7bf10d-4ff1-4fa1-a3ec-8b9c7eb596fb" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-5a7bf10d-4ff1-4fa1-a3ec-8b9c7eb596fb" value_size:16 lease:5727337733773522220 >> failure:<request_range:<key:"/tooz/lockscinder-5a7bf10d-4ff1-4fa1-a3ec-8b9c7eb596fb" > >
Jun 09 05:27:40 ubuntu etcd[79682]: start time = 2025-06-09 05:27:40.216415955 +0000 UTC m=+3037.934965576, time spent = 500.335µs, remote = 10.201.5.82:40764, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-5a7bf10d-4ff1-4fa1-a3ec-8b9c7eb596fb" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-5a7bf10d-4ff1-4fa1-a3ec-8b9c7eb596fb" > > failure:<>
Jun 09 05:27:40 ubuntu etcd[79682]: start time = 2025-06-09 05:27:40.441703938 +0000 UTC m=+3038.160253498, time spent = 244.041µs, remote = 10.201.5.82:40764, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 05:27:40 ubuntu etcd[79682]: start time = 2025-06-09 05:27:40.44426322 +0000 UTC m=+3038.162812869, time spent = 639.322µs, remote = 10.201.5.82:40764, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-5a7bf10d-4ff1-4fa1-a3ec-8b9c7eb596fb" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-5a7bf10d-4ff1-4fa1-a3ec-8b9c7eb596fb" value_size:16 lease:5727337733773522224 >> failure:<request_range:<key:"/tooz/lockscinder-5a7bf10d-4ff1-4fa1-a3ec-8b9c7eb596fb" > >
Jun 09 05:27:41 ubuntu etcd[79682]: start time = 2025-06-09 05:27:41.761695528 +0000 UTC m=+3039.480245104, time spent = 414.55µs, remote = 10.201.5.82:40764, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-5a7bf10d-4ff1-4fa1-a3ec-8b9c7eb596fb" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-5a7bf10d-4ff1-4fa1-a3ec-8b9c7eb596fb" > > failure:<>
