Dec 03 10:20:46 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 03 10:20:46 ubuntu etcd[67430]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 03 10:20:46 ubuntu etcd[67430]:         A future release of golang/protobuf will delete this package,
Dec 03 10:20:46 ubuntu etcd[67430]:         which has long been excluded from the compatibility promise.
Dec 03 10:20:46 ubuntu etcd[67430]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 03 10:20:46 ubuntu etcd[67430]: Running http and grpc server on single port. This is not recommended for production.
Dec 03 10:20:46 ubuntu etcd[67430]: etcd Version: 3.4.27
Dec 03 10:20:46 ubuntu etcd[67430]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 03 10:20:46 ubuntu etcd[67430]: Git SHA: c92fb80f3
Dec 03 10:20:46 ubuntu etcd[67430]: Go Version: go1.19.10
Dec 03 10:20:46 ubuntu etcd[67430]: Go OS/Arch: linux/amd64
Dec 03 10:20:46 ubuntu etcd[67430]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 03 10:20:46 ubuntu etcd[67430]: Running http and grpc server on single port. This is not recommended for production.
Dec 03 10:20:46 ubuntu etcd[67430]: name = ubuntu
Dec 03 10:20:46 ubuntu etcd[67430]: data dir = /opt/stack/data/etcd
Dec 03 10:20:46 ubuntu etcd[67430]: member dir = /opt/stack/data/etcd/member
Dec 03 10:20:46 ubuntu etcd[67430]: heartbeat = 100ms
Dec 03 10:20:46 ubuntu etcd[67430]: election = 1000ms
Dec 03 10:20:46 ubuntu etcd[67430]: snapshot count = 100000
Dec 03 10:20:46 ubuntu etcd[67430]: advertise client URLs = http://10.201.5.82:2379
Dec 03 10:20:46 ubuntu etcd[67430]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Dec 03 10:20:46 ubuntu etcd[67430]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Dec 03 10:20:46 ubuntu etcd[67430]: raft2024/12/03 10:20:46 INFO: 43038365673ccf7b switched to configuration voters=()
Dec 03 10:20:46 ubuntu etcd[67430]: raft2024/12/03 10:20:46 INFO: 43038365673ccf7b became follower at term 0
Dec 03 10:20:46 ubuntu etcd[67430]: raft2024/12/03 10:20:46 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Dec 03 10:20:46 ubuntu etcd[67430]: raft2024/12/03 10:20:46 INFO: 43038365673ccf7b became follower at term 1
Dec 03 10:20:46 ubuntu etcd[67430]: raft2024/12/03 10:20:46 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Dec 03 10:20:46 ubuntu etcd[67430]: simple token is not cryptographically signed
Dec 03 10:20:46 ubuntu etcd[67430]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Dec 03 10:20:46 ubuntu etcd[67430]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Dec 03 10:20:46 ubuntu etcd[67430]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Dec 03 10:20:46 ubuntu etcd[67430]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Dec 03 10:20:46 ubuntu etcd[67430]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Dec 03 10:20:46 ubuntu etcd[67430]: raft2024/12/03 10:20:46 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Dec 03 10:20:46 ubuntu etcd[67430]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Dec 03 10:20:46 ubuntu etcd[67430]: listening for peers on [::]:2380
Dec 03 10:20:46 ubuntu etcd[67430]: raft2024/12/03 10:20:46 INFO: 43038365673ccf7b is starting a new election at term 1
Dec 03 10:20:46 ubuntu etcd[67430]: raft2024/12/03 10:20:46 INFO: 43038365673ccf7b became candidate at term 2
Dec 03 10:20:46 ubuntu etcd[67430]: raft2024/12/03 10:20:46 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Dec 03 10:20:46 ubuntu etcd[67430]: raft2024/12/03 10:20:46 INFO: 43038365673ccf7b became leader at term 2
Dec 03 10:20:46 ubuntu etcd[67430]: raft2024/12/03 10:20:46 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Dec 03 10:20:46 ubuntu etcd[67430]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Dec 03 10:20:46 ubuntu etcd[67430]: ready to serve client requests
Dec 03 10:20:46 ubuntu etcd[67430]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Dec 03 10:20:46 ubuntu etcd[67430]: setting up the initial cluster version to 3.4
Dec 03 10:20:46 ubuntu etcd[67430]: set the initial cluster version to 3.4
Dec 03 10:20:46 ubuntu etcd[67430]: enabled capabilities for version 3.4
Dec 03 10:20:46 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Dec 03 10:25:47 ubuntu etcd[67430]: start time = 2024-12-03 10:25:47.49977135 +0000 UTC m=+301.374692766, time spent = 680.57µs, remote = 10.201.5.82:40402, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 03 10:25:47 ubuntu etcd[67430]: start time = 2024-12-03 10:25:47.506058659 +0000 UTC m=+301.380980096, time spent = 341.253µs, remote = 10.201.5.82:40402, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 03 10:25:54 ubuntu etcd[67430]: start time = 2024-12-03 10:25:54.37583416 +0000 UTC m=+308.250755590, time spent = 193.862µs, remote = 10.201.5.82:40402, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 03 10:25:56 ubuntu etcd[67430]: start time = 2024-12-03 10:25:56.731439974 +0000 UTC m=+310.606361407, time spent = 271.508µs, remote = 10.201.5.82:40402, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 03 10:29:00 ubuntu etcd[67430]: start time = 2024-12-03 10:29:00.028314962 +0000 UTC m=+493.903236390, time spent = 197.705µs, remote = 10.201.5.82:40402, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 03 10:29:00 ubuntu etcd[67430]: start time = 2024-12-03 10:29:00.13588886 +0000 UTC m=+494.010810295, time spent = 388.295µs, remote = 10.201.5.82:40402, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 03 10:29:01 ubuntu etcd[67430]: start time = 2024-12-03 10:29:01.786743949 +0000 UTC m=+495.661665377, time spent = 162.318µs, remote = 10.201.5.82:40402, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 03 10:29:04 ubuntu etcd[67430]: start time = 2024-12-03 10:29:04.28154551 +0000 UTC m=+498.156466943, time spent = 208.427µs, remote = 10.201.5.82:40402, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 03 10:30:54 ubuntu etcd[67430]: start time = 2024-12-03 10:30:54.280226857 +0000 UTC m=+608.155148290, time spent = 390.279µs, remote = 10.201.5.82:40402, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 03 10:30:54 ubuntu etcd[67430]: start time = 2024-12-03 10:30:54.283671733 +0000 UTC m=+608.158593164, time spent = 422.601µs, remote = 10.201.5.82:40402, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-e9d4a6f8-e98e-40cb-a425-3638676bc2de" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-e9d4a6f8-e98e-40cb-a425-3638676bc2de" value_size:16 lease:5727333580794029337 >> failure:<request_range:<key:"/tooz/lockscinder-e9d4a6f8-e98e-40cb-a425-3638676bc2de" > >
Dec 03 10:30:57 ubuntu etcd[67430]: start time = 2024-12-03 10:30:57.102714523 +0000 UTC m=+610.977636066, time spent = 683.556µs, remote = 10.201.5.82:40402, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-e9d4a6f8-e98e-40cb-a425-3638676bc2de" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-e9d4a6f8-e98e-40cb-a425-3638676bc2de" > > failure:<>
Dec 03 10:30:57 ubuntu etcd[67430]: start time = 2024-12-03 10:30:57.361312715 +0000 UTC m=+611.236234241, time spent = 453.049µs, remote = 10.201.5.82:40402, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 03 10:30:57 ubuntu etcd[67430]: start time = 2024-12-03 10:30:57.364537259 +0000 UTC m=+611.239458704, time spent = 221.004µs, remote = 10.201.5.82:40402, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-e9d4a6f8-e98e-40cb-a425-3638676bc2de" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-e9d4a6f8-e98e-40cb-a425-3638676bc2de" value_size:16 lease:5727333580794029341 >> failure:<request_range:<key:"/tooz/lockscinder-e9d4a6f8-e98e-40cb-a425-3638676bc2de" > >
Dec 03 10:30:58 ubuntu etcd[67430]: start time = 2024-12-03 10:30:58.167499296 +0000 UTC m=+612.042420838, time spent = 630.909µs, remote = 10.201.5.82:40402, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-e9d4a6f8-e98e-40cb-a425-3638676bc2de" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-e9d4a6f8-e98e-40cb-a425-3638676bc2de" > > failure:<>
Dec 03 10:30:58 ubuntu etcd[67430]: start time = 2024-12-03 10:30:58.399802372 +0000 UTC m=+612.274723914, time spent = 530.232µs, remote = 10.201.5.82:40402, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 03 10:30:58 ubuntu etcd[67430]: start time = 2024-12-03 10:30:58.402422951 +0000 UTC m=+612.277344386, time spent = 222.974µs, remote = 10.201.5.82:40402, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-e9d4a6f8-e98e-40cb-a425-3638676bc2de" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-e9d4a6f8-e98e-40cb-a425-3638676bc2de" value_size:16 lease:5727333580794029345 >> failure:<request_range:<key:"/tooz/lockscinder-e9d4a6f8-e98e-40cb-a425-3638676bc2de" > >
Dec 03 10:30:59 ubuntu etcd[67430]: start time = 2024-12-03 10:30:59.252405663 +0000 UTC m=+613.127327093, time spent = 587.902µs, remote = 10.201.5.82:40402, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-e9d4a6f8-e98e-40cb-a425-3638676bc2de" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-e9d4a6f8-e98e-40cb-a425-3638676bc2de" > > failure:<>
