Sep 18 23:27:53 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Sep 18 23:27:53 ubuntu etcd[68256]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Sep 18 23:27:53 ubuntu etcd[68256]:         A future release of golang/protobuf will delete this package,
Sep 18 23:27:53 ubuntu etcd[68256]:         which has long been excluded from the compatibility promise.
Sep 18 23:27:53 ubuntu etcd[68256]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Sep 18 23:27:53 ubuntu etcd[68256]: Running http and grpc server on single port. This is not recommended for production.
Sep 18 23:27:53 ubuntu etcd[68256]: etcd Version: 3.4.27
Sep 18 23:27:53 ubuntu etcd[68256]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Sep 18 23:27:53 ubuntu etcd[68256]: Git SHA: c92fb80f3
Sep 18 23:27:53 ubuntu etcd[68256]: Go Version: go1.19.10
Sep 18 23:27:53 ubuntu etcd[68256]: Go OS/Arch: linux/amd64
Sep 18 23:27:53 ubuntu etcd[68256]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Sep 18 23:27:53 ubuntu etcd[68256]: Running http and grpc server on single port. This is not recommended for production.
Sep 18 23:27:53 ubuntu etcd[68256]: name = ubuntu
Sep 18 23:27:53 ubuntu etcd[68256]: data dir = /opt/stack/data/etcd
Sep 18 23:27:53 ubuntu etcd[68256]: member dir = /opt/stack/data/etcd/member
Sep 18 23:27:53 ubuntu etcd[68256]: heartbeat = 100ms
Sep 18 23:27:53 ubuntu etcd[68256]: election = 1000ms
Sep 18 23:27:53 ubuntu etcd[68256]: snapshot count = 100000
Sep 18 23:27:53 ubuntu etcd[68256]: advertise client URLs = http://10.201.5.82:2379
Sep 18 23:27:53 ubuntu etcd[68256]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Sep 18 23:27:54 ubuntu etcd[68256]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Sep 18 23:27:54 ubuntu etcd[68256]: raft2024/09/18 23:27:54 INFO: 43038365673ccf7b switched to configuration voters=()
Sep 18 23:27:54 ubuntu etcd[68256]: raft2024/09/18 23:27:54 INFO: 43038365673ccf7b became follower at term 0
Sep 18 23:27:54 ubuntu etcd[68256]: raft2024/09/18 23:27:54 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Sep 18 23:27:54 ubuntu etcd[68256]: raft2024/09/18 23:27:54 INFO: 43038365673ccf7b became follower at term 1
Sep 18 23:27:54 ubuntu etcd[68256]: raft2024/09/18 23:27:54 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Sep 18 23:27:54 ubuntu etcd[68256]: simple token is not cryptographically signed
Sep 18 23:27:54 ubuntu etcd[68256]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Sep 18 23:27:54 ubuntu etcd[68256]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Sep 18 23:27:54 ubuntu etcd[68256]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Sep 18 23:27:54 ubuntu etcd[68256]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Sep 18 23:27:54 ubuntu etcd[68256]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Sep 18 23:27:54 ubuntu etcd[68256]: raft2024/09/18 23:27:54 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Sep 18 23:27:54 ubuntu etcd[68256]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Sep 18 23:27:54 ubuntu etcd[68256]: listening for peers on [::]:2380
Sep 18 23:27:54 ubuntu etcd[68256]: raft2024/09/18 23:27:54 INFO: 43038365673ccf7b is starting a new election at term 1
Sep 18 23:27:54 ubuntu etcd[68256]: raft2024/09/18 23:27:54 INFO: 43038365673ccf7b became candidate at term 2
Sep 18 23:27:54 ubuntu etcd[68256]: raft2024/09/18 23:27:54 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Sep 18 23:27:54 ubuntu etcd[68256]: raft2024/09/18 23:27:54 INFO: 43038365673ccf7b became leader at term 2
Sep 18 23:27:54 ubuntu etcd[68256]: raft2024/09/18 23:27:54 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Sep 18 23:27:54 ubuntu etcd[68256]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Sep 18 23:27:54 ubuntu etcd[68256]: setting up the initial cluster version to 3.4
Sep 18 23:27:54 ubuntu etcd[68256]: ready to serve client requests
Sep 18 23:27:54 ubuntu etcd[68256]: set the initial cluster version to 3.4
Sep 18 23:27:54 ubuntu etcd[68256]: enabled capabilities for version 3.4
Sep 18 23:27:54 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Sep 18 23:27:54 ubuntu etcd[68256]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Sep 18 23:32:55 ubuntu etcd[68256]: start time = 2024-09-18 23:32:55.026299375 +0000 UTC m=+301.050105340, time spent = 600.486µs, remote = 10.201.5.82:44086, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 18 23:32:55 ubuntu etcd[68256]: start time = 2024-09-18 23:32:55.051290637 +0000 UTC m=+301.075096611, time spent = 245.56µs, remote = 10.201.5.82:44086, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 18 23:33:01 ubuntu etcd[68256]: start time = 2024-09-18 23:33:01.799018318 +0000 UTC m=+307.822824288, time spent = 189.542µs, remote = 10.201.5.82:44086, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 18 23:33:03 ubuntu etcd[68256]: start time = 2024-09-18 23:33:03.779273969 +0000 UTC m=+309.803079937, time spent = 234.954µs, remote = 10.201.5.82:44086, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
