Apr 01 07:25:15 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Apr 01 07:25:15 ubuntu etcd[66784]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Apr 01 07:25:15 ubuntu etcd[66784]:         A future release of golang/protobuf will delete this package,
Apr 01 07:25:15 ubuntu etcd[66784]:         which has long been excluded from the compatibility promise.
Apr 01 07:25:15 ubuntu etcd[66784]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Apr 01 07:25:15 ubuntu etcd[66784]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Apr 01 07:25:15 ubuntu etcd[66784]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 01 07:25:15 ubuntu etcd[66784]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Apr 01 07:25:15 ubuntu etcd[66784]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Apr 01 07:25:15 ubuntu etcd[66784]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 01 07:25:15 ubuntu etcd[66784]: Running http and grpc server on single port. This is not recommended for production.
Apr 01 07:25:15 ubuntu etcd[66784]: etcd Version: 3.4.27
Apr 01 07:25:15 ubuntu etcd[66784]: Git SHA: c92fb80f3
Apr 01 07:25:15 ubuntu etcd[66784]: Go Version: go1.19.10
Apr 01 07:25:15 ubuntu etcd[66784]: Go OS/Arch: linux/amd64
Apr 01 07:25:15 ubuntu etcd[66784]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Apr 01 07:25:15 ubuntu etcd[66784]: Running http and grpc server on single port. This is not recommended for production.
Apr 01 07:25:15 ubuntu etcd[66784]: name = ubuntu
Apr 01 07:25:15 ubuntu etcd[66784]: data dir = /opt/stack/data/etcd
Apr 01 07:25:15 ubuntu etcd[66784]: member dir = /opt/stack/data/etcd/member
Apr 01 07:25:15 ubuntu etcd[66784]: heartbeat = 100ms
Apr 01 07:25:15 ubuntu etcd[66784]: election = 1000ms
Apr 01 07:25:15 ubuntu etcd[66784]: snapshot count = 100000
Apr 01 07:25:15 ubuntu etcd[66784]: advertise client URLs = http://10.201.5.82:2379
Apr 01 07:25:15 ubuntu etcd[66784]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Apr 01 07:25:15 ubuntu etcd[66784]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Apr 01 07:25:15 ubuntu etcd[66784]: raft2024/04/01 07:25:15 INFO: 43038365673ccf7b switched to configuration voters=()
Apr 01 07:25:15 ubuntu etcd[66784]: raft2024/04/01 07:25:15 INFO: 43038365673ccf7b became follower at term 0
Apr 01 07:25:15 ubuntu etcd[66784]: raft2024/04/01 07:25:15 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Apr 01 07:25:15 ubuntu etcd[66784]: raft2024/04/01 07:25:15 INFO: 43038365673ccf7b became follower at term 1
Apr 01 07:25:15 ubuntu etcd[66784]: raft2024/04/01 07:25:15 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Apr 01 07:25:15 ubuntu etcd[66784]: simple token is not cryptographically signed
Apr 01 07:25:15 ubuntu etcd[66784]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Apr 01 07:25:15 ubuntu etcd[66784]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Apr 01 07:25:15 ubuntu etcd[66784]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Apr 01 07:25:15 ubuntu etcd[66784]: raft2024/04/01 07:25:15 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Apr 01 07:25:15 ubuntu etcd[66784]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Apr 01 07:25:15 ubuntu etcd[66784]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Apr 01 07:25:15 ubuntu etcd[66784]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Apr 01 07:25:15 ubuntu etcd[66784]: listening for peers on [::]:2380
Apr 01 07:25:16 ubuntu etcd[66784]: raft2024/04/01 07:25:16 INFO: 43038365673ccf7b is starting a new election at term 1
Apr 01 07:25:16 ubuntu etcd[66784]: raft2024/04/01 07:25:16 INFO: 43038365673ccf7b became candidate at term 2
Apr 01 07:25:16 ubuntu etcd[66784]: raft2024/04/01 07:25:16 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Apr 01 07:25:16 ubuntu etcd[66784]: raft2024/04/01 07:25:16 INFO: 43038365673ccf7b became leader at term 2
Apr 01 07:25:16 ubuntu etcd[66784]: raft2024/04/01 07:25:16 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Apr 01 07:25:16 ubuntu etcd[66784]: setting up the initial cluster version to 3.4
Apr 01 07:25:16 ubuntu etcd[66784]: set the initial cluster version to 3.4
Apr 01 07:25:16 ubuntu etcd[66784]: enabled capabilities for version 3.4
Apr 01 07:25:16 ubuntu etcd[66784]: ready to serve client requests
Apr 01 07:25:16 ubuntu etcd[66784]: INFO: 2024/04/01 07:25:16 parsed scheme: ""
Apr 01 07:25:16 ubuntu etcd[66784]: INFO: 2024/04/01 07:25:16 scheme "" not registered, fallback to default scheme
Apr 01 07:25:16 ubuntu etcd[66784]: INFO: 2024/04/01 07:25:16 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Apr 01 07:25:16 ubuntu etcd[66784]: INFO: 2024/04/01 07:25:16 ClientConn switching balancer to "pick_first"
Apr 01 07:25:16 ubuntu etcd[66784]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Apr 01 07:25:16 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Apr 01 07:25:16 ubuntu etcd[66784]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Apr 01 07:31:48 ubuntu etcd[66784]: start time = 2024-04-01 07:31:48.837938741 +0000 UTC m=+392.968915654, time spent = 551.122µs, remote = 10.201.5.82:36380, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 01 07:31:48 ubuntu etcd[66784]: start time = 2024-04-01 07:31:48.859148796 +0000 UTC m=+392.990125719, time spent = 255.481µs, remote = 10.201.5.82:36380, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 01 07:31:56 ubuntu etcd[66784]: start time = 2024-04-01 07:31:56.122709346 +0000 UTC m=+400.253686270, time spent = 185.605µs, remote = 10.201.5.82:36380, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 01 07:31:58 ubuntu etcd[66784]: start time = 2024-04-01 07:31:58.318452114 +0000 UTC m=+402.449429041, time spent = 939.612µs, remote = 10.201.5.82:36380, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
