Mar 28 12:54:27 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 28 12:54:27 ubuntu etcd[65932]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 28 12:54:27 ubuntu etcd[65932]:         A future release of golang/protobuf will delete this package,
Mar 28 12:54:27 ubuntu etcd[65932]:         which has long been excluded from the compatibility promise.
Mar 28 12:54:27 ubuntu etcd[65932]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 28 12:54:27 ubuntu etcd[65932]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 28 12:54:27 ubuntu etcd[65932]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 28 12:54:27 ubuntu etcd[65932]: Running http and grpc server on single port. This is not recommended for production.
Mar 28 12:54:27 ubuntu etcd[65932]: etcd Version: 3.4.27
Mar 28 12:54:27 ubuntu etcd[65932]: Git SHA: c92fb80f3
Mar 28 12:54:27 ubuntu etcd[65932]: Go Version: go1.19.10
Mar 28 12:54:27 ubuntu etcd[65932]: Go OS/Arch: linux/amd64
Mar 28 12:54:27 ubuntu etcd[65932]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 28 12:54:27 ubuntu etcd[65932]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 28 12:54:27 ubuntu etcd[65932]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 28 12:54:27 ubuntu etcd[65932]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 28 12:54:27 ubuntu etcd[65932]: Running http and grpc server on single port. This is not recommended for production.
Mar 28 12:54:27 ubuntu etcd[65932]: name = ubuntu
Mar 28 12:54:27 ubuntu etcd[65932]: data dir = /opt/stack/data/etcd
Mar 28 12:54:27 ubuntu etcd[65932]: member dir = /opt/stack/data/etcd/member
Mar 28 12:54:27 ubuntu etcd[65932]: heartbeat = 100ms
Mar 28 12:54:27 ubuntu etcd[65932]: election = 1000ms
Mar 28 12:54:27 ubuntu etcd[65932]: snapshot count = 100000
Mar 28 12:54:27 ubuntu etcd[65932]: advertise client URLs = http://10.201.5.82:2379
Mar 28 12:54:27 ubuntu etcd[65932]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 28 12:54:27 ubuntu etcd[65932]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Mar 28 12:54:27 ubuntu etcd[65932]: raft2024/03/28 12:54:27 INFO: 43038365673ccf7b switched to configuration voters=()
Mar 28 12:54:27 ubuntu etcd[65932]: raft2024/03/28 12:54:27 INFO: 43038365673ccf7b became follower at term 0
Mar 28 12:54:27 ubuntu etcd[65932]: raft2024/03/28 12:54:27 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 28 12:54:27 ubuntu etcd[65932]: raft2024/03/28 12:54:27 INFO: 43038365673ccf7b became follower at term 1
Mar 28 12:54:27 ubuntu etcd[65932]: raft2024/03/28 12:54:27 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 28 12:54:27 ubuntu etcd[65932]: simple token is not cryptographically signed
Mar 28 12:54:27 ubuntu etcd[65932]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 28 12:54:27 ubuntu etcd[65932]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 28 12:54:27 ubuntu etcd[65932]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 28 12:54:27 ubuntu etcd[65932]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 28 12:54:27 ubuntu etcd[65932]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 28 12:54:27 ubuntu etcd[65932]: raft2024/03/28 12:54:27 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 28 12:54:27 ubuntu etcd[65932]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Mar 28 12:54:27 ubuntu etcd[65932]: listening for peers on [::]:2380
Mar 28 12:54:27 ubuntu etcd[65932]: raft2024/03/28 12:54:27 INFO: 43038365673ccf7b is starting a new election at term 1
Mar 28 12:54:27 ubuntu etcd[65932]: raft2024/03/28 12:54:27 INFO: 43038365673ccf7b became candidate at term 2
Mar 28 12:54:27 ubuntu etcd[65932]: raft2024/03/28 12:54:27 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Mar 28 12:54:27 ubuntu etcd[65932]: raft2024/03/28 12:54:27 INFO: 43038365673ccf7b became leader at term 2
Mar 28 12:54:27 ubuntu etcd[65932]: raft2024/03/28 12:54:27 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Mar 28 12:54:27 ubuntu etcd[65932]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Mar 28 12:54:27 ubuntu etcd[65932]: ready to serve client requests
Mar 28 12:54:27 ubuntu etcd[65932]: INFO: 2024/03/28 12:54:27 parsed scheme: ""
Mar 28 12:54:27 ubuntu etcd[65932]: INFO: 2024/03/28 12:54:27 scheme "" not registered, fallback to default scheme
Mar 28 12:54:27 ubuntu etcd[65932]: INFO: 2024/03/28 12:54:27 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Mar 28 12:54:27 ubuntu etcd[65932]: INFO: 2024/03/28 12:54:27 ClientConn switching balancer to "pick_first"
Mar 28 12:54:27 ubuntu etcd[65932]: setting up the initial cluster version to 3.4
Mar 28 12:54:27 ubuntu etcd[65932]: set the initial cluster version to 3.4
Mar 28 12:54:27 ubuntu etcd[65932]: enabled capabilities for version 3.4
Mar 28 12:54:27 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 28 12:54:27 ubuntu etcd[65932]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Mar 28 13:00:58 ubuntu etcd[65932]: start time = 2024-03-28 13:00:58.854033832 +0000 UTC m=+391.517647546, time spent = 663.055µs, remote = 10.201.5.82:46112, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 28 13:00:58 ubuntu etcd[65932]: start time = 2024-03-28 13:00:58.886051443 +0000 UTC m=+391.549665167, time spent = 262.2µs, remote = 10.201.5.82:46112, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 28 13:01:05 ubuntu etcd[65932]: start time = 2024-03-28 13:01:05.782602706 +0000 UTC m=+398.446216430, time spent = 238.394µs, remote = 10.201.5.82:46112, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 28 13:01:07 ubuntu etcd[65932]: start time = 2024-03-28 13:01:07.906505301 +0000 UTC m=+400.570119015, time spent = 206.426µs, remote = 10.201.5.82:46112, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 28 13:06:34 ubuntu etcd[65932]: start time = 2024-03-28 13:06:34.651683629 +0000 UTC m=+727.315297354, time spent = 316.093µs, remote = 10.201.5.82:46112, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 28 13:06:35 ubuntu etcd[65932]: start time = 2024-03-28 13:06:35.959524416 +0000 UTC m=+728.623138190, time spent = 339.502µs, remote = 10.201.5.82:46112, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 28 13:06:36 ubuntu etcd[65932]: start time = 2024-03-28 13:06:36.012426045 +0000 UTC m=+728.676039854, time spent = 253.249µs, remote = 10.201.5.82:46112, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 28 13:06:39 ubuntu etcd[65932]: start time = 2024-03-28 13:06:39.348312179 +0000 UTC m=+732.011925893, time spent = 214.636µs, remote = 10.201.5.82:46112, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
