Apr 05 05:48:09 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Apr 05 05:48:09 ubuntu etcd[66418]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Apr 05 05:48:09 ubuntu etcd[66418]:         A future release of golang/protobuf will delete this package,
Apr 05 05:48:09 ubuntu etcd[66418]:         which has long been excluded from the compatibility promise.
Apr 05 05:48:09 ubuntu etcd[66418]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Apr 05 05:48:09 ubuntu etcd[66418]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Apr 05 05:48:09 ubuntu etcd[66418]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 05 05:48:09 ubuntu etcd[66418]: Running http and grpc server on single port. This is not recommended for production.
Apr 05 05:48:09 ubuntu etcd[66418]: etcd Version: 3.4.27
Apr 05 05:48:09 ubuntu etcd[66418]: Git SHA: c92fb80f3
Apr 05 05:48:09 ubuntu etcd[66418]: Go Version: go1.19.10
Apr 05 05:48:09 ubuntu etcd[66418]: Go OS/Arch: linux/amd64
Apr 05 05:48:09 ubuntu etcd[66418]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Apr 05 05:48:09 ubuntu etcd[66418]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Apr 05 05:48:09 ubuntu etcd[66418]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Apr 05 05:48:09 ubuntu etcd[66418]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 05 05:48:09 ubuntu etcd[66418]: Running http and grpc server on single port. This is not recommended for production.
Apr 05 05:48:09 ubuntu etcd[66418]: name = ubuntu
Apr 05 05:48:09 ubuntu etcd[66418]: data dir = /opt/stack/data/etcd
Apr 05 05:48:09 ubuntu etcd[66418]: member dir = /opt/stack/data/etcd/member
Apr 05 05:48:09 ubuntu etcd[66418]: heartbeat = 100ms
Apr 05 05:48:09 ubuntu etcd[66418]: election = 1000ms
Apr 05 05:48:09 ubuntu etcd[66418]: snapshot count = 100000
Apr 05 05:48:09 ubuntu etcd[66418]: advertise client URLs = http://10.201.5.82:2379
Apr 05 05:48:09 ubuntu etcd[66418]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Apr 05 05:48:09 ubuntu etcd[66418]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Apr 05 05:48:09 ubuntu etcd[66418]: raft2024/04/05 05:48:09 INFO: 43038365673ccf7b switched to configuration voters=()
Apr 05 05:48:09 ubuntu etcd[66418]: raft2024/04/05 05:48:09 INFO: 43038365673ccf7b became follower at term 0
Apr 05 05:48:09 ubuntu etcd[66418]: raft2024/04/05 05:48:09 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Apr 05 05:48:09 ubuntu etcd[66418]: raft2024/04/05 05:48:09 INFO: 43038365673ccf7b became follower at term 1
Apr 05 05:48:09 ubuntu etcd[66418]: raft2024/04/05 05:48:09 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Apr 05 05:48:09 ubuntu etcd[66418]: simple token is not cryptographically signed
Apr 05 05:48:09 ubuntu etcd[66418]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Apr 05 05:48:09 ubuntu etcd[66418]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Apr 05 05:48:09 ubuntu etcd[66418]: raft2024/04/05 05:48:09 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Apr 05 05:48:09 ubuntu etcd[66418]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Apr 05 05:48:09 ubuntu etcd[66418]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Apr 05 05:48:09 ubuntu etcd[66418]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Apr 05 05:48:09 ubuntu etcd[66418]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Apr 05 05:48:09 ubuntu etcd[66418]: listening for peers on [::]:2380
Apr 05 05:48:09 ubuntu etcd[66418]: raft2024/04/05 05:48:09 INFO: 43038365673ccf7b is starting a new election at term 1
Apr 05 05:48:09 ubuntu etcd[66418]: raft2024/04/05 05:48:09 INFO: 43038365673ccf7b became candidate at term 2
Apr 05 05:48:09 ubuntu etcd[66418]: raft2024/04/05 05:48:09 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Apr 05 05:48:09 ubuntu etcd[66418]: raft2024/04/05 05:48:09 INFO: 43038365673ccf7b became leader at term 2
Apr 05 05:48:09 ubuntu etcd[66418]: raft2024/04/05 05:48:09 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Apr 05 05:48:09 ubuntu etcd[66418]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Apr 05 05:48:09 ubuntu etcd[66418]: setting up the initial cluster version to 3.4
Apr 05 05:48:09 ubuntu etcd[66418]: ready to serve client requests
Apr 05 05:48:09 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Apr 05 05:48:09 ubuntu etcd[66418]: INFO: 2024/04/05 05:48:09 parsed scheme: ""
Apr 05 05:48:09 ubuntu etcd[66418]: INFO: 2024/04/05 05:48:09 scheme "" not registered, fallback to default scheme
Apr 05 05:48:09 ubuntu etcd[66418]: INFO: 2024/04/05 05:48:09 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Apr 05 05:48:09 ubuntu etcd[66418]: set the initial cluster version to 3.4
Apr 05 05:48:09 ubuntu etcd[66418]: INFO: 2024/04/05 05:48:09 ClientConn switching balancer to "pick_first"
Apr 05 05:48:09 ubuntu etcd[66418]: enabled capabilities for version 3.4
Apr 05 05:48:09 ubuntu etcd[66418]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Apr 05 05:54:18 ubuntu etcd[66418]: start time = 2024-04-05 05:54:18.139738041 +0000 UTC m=+368.782638147, time spent = 661.742µs, remote = 10.201.5.82:51232, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 05 05:54:18 ubuntu etcd[66418]: start time = 2024-04-05 05:54:18.261033873 +0000 UTC m=+368.903933980, time spent = 192.432µs, remote = 10.201.5.82:51232, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 05 05:54:24 ubuntu etcd[66418]: start time = 2024-04-05 05:54:24.899643067 +0000 UTC m=+375.542543171, time spent = 349.843µs, remote = 10.201.5.82:51232, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 05 05:54:26 ubuntu etcd[66418]: start time = 2024-04-05 05:54:26.763047277 +0000 UTC m=+377.405947382, time spent = 548.326µs, remote = 10.201.5.82:51232, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 05 05:57:46 ubuntu etcd[66418]: start time = 2024-04-05 05:57:46.637439932 +0000 UTC m=+577.280340037, time spent = 445.292µs, remote = 10.201.5.82:51232, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 05 05:57:46 ubuntu etcd[66418]: start time = 2024-04-05 05:57:46.676909958 +0000 UTC m=+577.319810063, time spent = 159.579µs, remote = 10.201.5.82:51232, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 05 05:57:46 ubuntu etcd[66418]: start time = 2024-04-05 05:57:46.934839117 +0000 UTC m=+577.577739222, time spent = 200.162µs, remote = 10.201.5.82:51232, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 05 05:57:50 ubuntu etcd[66418]: start time = 2024-04-05 05:57:50.938194684 +0000 UTC m=+581.581094789, time spent = 265.039µs, remote = 10.201.5.82:51232, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
