Jul 23 21:08:49 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 23 21:08:49 ubuntu etcd[79188]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 23 21:08:49 ubuntu etcd[79188]:         A future release of golang/protobuf will delete this package,
Jul 23 21:08:49 ubuntu etcd[79188]:         which has long been excluded from the compatibility promise.
Jul 23 21:08:49 ubuntu etcd[79188]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 23 21:08:49 ubuntu etcd[79188]: Running http and grpc server on single port. This is not recommended for production.
Jul 23 21:08:49 ubuntu etcd[79188]: etcd Version: 3.4.27
Jul 23 21:08:49 ubuntu etcd[79188]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 23 21:08:49 ubuntu etcd[79188]: Git SHA: c92fb80f3
Jul 23 21:08:49 ubuntu etcd[79188]: Go Version: go1.19.10
Jul 23 21:08:49 ubuntu etcd[79188]: Go OS/Arch: linux/amd64
Jul 23 21:08:49 ubuntu etcd[79188]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 23 21:08:49 ubuntu etcd[79188]: Running http and grpc server on single port. This is not recommended for production.
Jul 23 21:08:49 ubuntu etcd[79188]: name = ubuntu
Jul 23 21:08:49 ubuntu etcd[79188]: data dir = /opt/stack/data/etcd
Jul 23 21:08:49 ubuntu etcd[79188]: member dir = /opt/stack/data/etcd/member
Jul 23 21:08:49 ubuntu etcd[79188]: heartbeat = 100ms
Jul 23 21:08:49 ubuntu etcd[79188]: election = 1000ms
Jul 23 21:08:49 ubuntu etcd[79188]: snapshot count = 100000
Jul 23 21:08:49 ubuntu etcd[79188]: advertise client URLs = http://10.201.5.82:2379
Jul 23 21:08:49 ubuntu etcd[79188]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 23 21:08:49 ubuntu etcd[79188]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jul 23 21:08:49 ubuntu etcd[79188]: raft2025/07/23 21:08:49 INFO: 43038365673ccf7b switched to configuration voters=()
Jul 23 21:08:49 ubuntu etcd[79188]: raft2025/07/23 21:08:49 INFO: 43038365673ccf7b became follower at term 0
Jul 23 21:08:49 ubuntu etcd[79188]: raft2025/07/23 21:08:49 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 23 21:08:49 ubuntu etcd[79188]: raft2025/07/23 21:08:49 INFO: 43038365673ccf7b became follower at term 1
Jul 23 21:08:49 ubuntu etcd[79188]: raft2025/07/23 21:08:49 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 23 21:08:49 ubuntu etcd[79188]: simple token is not cryptographically signed
Jul 23 21:08:49 ubuntu etcd[79188]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 23 21:08:49 ubuntu etcd[79188]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 23 21:08:49 ubuntu etcd[79188]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 23 21:08:49 ubuntu etcd[79188]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 23 21:08:49 ubuntu etcd[79188]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 23 21:08:49 ubuntu etcd[79188]: raft2025/07/23 21:08:49 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 23 21:08:49 ubuntu etcd[79188]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jul 23 21:08:49 ubuntu etcd[79188]: listening for peers on [::]:2380
Jul 23 21:08:50 ubuntu etcd[79188]: raft2025/07/23 21:08:50 INFO: 43038365673ccf7b is starting a new election at term 1
Jul 23 21:08:50 ubuntu etcd[79188]: raft2025/07/23 21:08:50 INFO: 43038365673ccf7b became candidate at term 2
Jul 23 21:08:50 ubuntu etcd[79188]: raft2025/07/23 21:08:50 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jul 23 21:08:50 ubuntu etcd[79188]: raft2025/07/23 21:08:50 INFO: 43038365673ccf7b became leader at term 2
Jul 23 21:08:50 ubuntu etcd[79188]: raft2025/07/23 21:08:50 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jul 23 21:08:50 ubuntu etcd[79188]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jul 23 21:08:50 ubuntu etcd[79188]: setting up the initial cluster version to 3.4
Jul 23 21:08:50 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 23 21:08:50 ubuntu etcd[79188]: ready to serve client requests
Jul 23 21:08:50 ubuntu etcd[79188]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jul 23 21:08:50 ubuntu etcd[79188]: set the initial cluster version to 3.4
Jul 23 21:08:50 ubuntu etcd[79188]: enabled capabilities for version 3.4
Jul 23 21:13:41 ubuntu etcd[79188]: start time = 2025-07-23 21:13:41.716682502 +0000 UTC m=+292.392370492, time spent = 1.589268ms, remote = 10.201.5.82:48564, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 21:13:41 ubuntu etcd[79188]: start time = 2025-07-23 21:13:41.828910847 +0000 UTC m=+292.504598847, time spent = 211.552µs, remote = 10.201.5.82:48564, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 21:13:48 ubuntu etcd[79188]: start time = 2025-07-23 21:13:48.9339552 +0000 UTC m=+299.609643200, time spent = 167.36µs, remote = 10.201.5.82:48564, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 21:13:50 ubuntu etcd[79188]: start time = 2025-07-23 21:13:50.845849345 +0000 UTC m=+301.521537350, time spent = 233.653µs, remote = 10.201.5.82:48564, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 21:17:19 ubuntu etcd[79188]: start time = 2025-07-23 21:17:19.440908928 +0000 UTC m=+510.116596917, time spent = 3.807142ms, remote = 10.201.5.82:48564, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 21:17:19 ubuntu etcd[79188]: start time = 2025-07-23 21:17:19.446100785 +0000 UTC m=+510.121788786, time spent = 158.161µs, remote = 10.201.5.82:48564, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 21:17:23 ubuntu etcd[79188]: start time = 2025-07-23 21:17:23.703893407 +0000 UTC m=+514.379581414, time spent = 227.012µs, remote = 10.201.5.82:48564, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 21:17:23 ubuntu etcd[79188]: start time = 2025-07-23 21:17:23.960539014 +0000 UTC m=+514.636227021, time spent = 211.228µs, remote = 10.201.5.82:48564, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 21:24:07 ubuntu etcd[79188]: start time = 2025-07-23 21:24:07.63687554 +0000 UTC m=+918.312563538, time spent = 244.63µs, remote = 10.201.5.82:48564, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 21:24:07 ubuntu etcd[79188]: start time = 2025-07-23 21:24:07.645536837 +0000 UTC m=+918.321224827, time spent = 3.184145ms, remote = 10.201.5.82:48564, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-76b535ff-2dbf-4d3d-a78c-b876edfd3ac5" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-76b535ff-2dbf-4d3d-a78c-b876edfd3ac5" value_size:16 lease:5727338722216924185 >> failure:<request_range:<key:"/tooz/lockscinder-76b535ff-2dbf-4d3d-a78c-b876edfd3ac5" > >
Jul 23 21:24:10 ubuntu etcd[79188]: start time = 2025-07-23 21:24:10.326662936 +0000 UTC m=+921.002350938, time spent = 273.615µs, remote = 10.201.5.82:48564, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-76b535ff-2dbf-4d3d-a78c-b876edfd3ac5" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-76b535ff-2dbf-4d3d-a78c-b876edfd3ac5" > > failure:<>
Jul 23 21:24:10 ubuntu etcd[79188]: start time = 2025-07-23 21:24:10.55380795 +0000 UTC m=+921.229496048, time spent = 596.169µs, remote = 10.201.5.82:48564, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 21:24:10 ubuntu etcd[79188]: start time = 2025-07-23 21:24:10.556749272 +0000 UTC m=+921.232437320, time spent = 664.449µs, remote = 10.201.5.82:48564, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-76b535ff-2dbf-4d3d-a78c-b876edfd3ac5" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-76b535ff-2dbf-4d3d-a78c-b876edfd3ac5" value_size:16 lease:5727338722216924189 >> failure:<request_range:<key:"/tooz/lockscinder-76b535ff-2dbf-4d3d-a78c-b876edfd3ac5" > >
Jul 23 21:24:13 ubuntu etcd[79188]: start time = 2025-07-23 21:24:13.217387786 +0000 UTC m=+923.893075890, time spent = 489.751µs, remote = 10.201.5.82:48564, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-76b535ff-2dbf-4d3d-a78c-b876edfd3ac5" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-76b535ff-2dbf-4d3d-a78c-b876edfd3ac5" > > failure:<>
Jul 23 21:24:13 ubuntu etcd[79188]: start time = 2025-07-23 21:24:13.438960308 +0000 UTC m=+924.114648309, time spent = 298.551µs, remote = 10.201.5.82:48564, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 21:24:13 ubuntu etcd[79188]: start time = 2025-07-23 21:24:13.440747479 +0000 UTC m=+924.116435486, time spent = 182.441µs, remote = 10.201.5.82:48564, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-76b535ff-2dbf-4d3d-a78c-b876edfd3ac5" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-76b535ff-2dbf-4d3d-a78c-b876edfd3ac5" value_size:16 lease:5727338722216924193 >> failure:<request_range:<key:"/tooz/lockscinder-76b535ff-2dbf-4d3d-a78c-b876edfd3ac5" > >
Jul 23 21:24:15 ubuntu etcd[79188]: start time = 2025-07-23 21:24:15.433426349 +0000 UTC m=+926.109114453, time spent = 602.027µs, remote = 10.201.5.82:48564, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-76b535ff-2dbf-4d3d-a78c-b876edfd3ac5" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-76b535ff-2dbf-4d3d-a78c-b876edfd3ac5" > > failure:<>
