Jul 30 12:26:22 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 30 12:26:22 ubuntu etcd[79417]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 30 12:26:22 ubuntu etcd[79417]:         A future release of golang/protobuf will delete this package,
Jul 30 12:26:22 ubuntu etcd[79417]:         which has long been excluded from the compatibility promise.
Jul 30 12:26:22 ubuntu etcd[79417]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 30 12:26:22 ubuntu etcd[79417]: Running http and grpc server on single port. This is not recommended for production.
Jul 30 12:26:22 ubuntu etcd[79417]: etcd Version: 3.4.27
Jul 30 12:26:22 ubuntu etcd[79417]: Git SHA: c92fb80f3
Jul 30 12:26:22 ubuntu etcd[79417]: Go Version: go1.19.10
Jul 30 12:26:22 ubuntu etcd[79417]: Go OS/Arch: linux/amd64
Jul 30 12:26:22 ubuntu etcd[79417]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 30 12:26:22 ubuntu etcd[79417]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 30 12:26:22 ubuntu etcd[79417]: Running http and grpc server on single port. This is not recommended for production.
Jul 30 12:26:22 ubuntu etcd[79417]: name = ubuntu
Jul 30 12:26:22 ubuntu etcd[79417]: data dir = /opt/stack/data/etcd
Jul 30 12:26:22 ubuntu etcd[79417]: member dir = /opt/stack/data/etcd/member
Jul 30 12:26:22 ubuntu etcd[79417]: heartbeat = 100ms
Jul 30 12:26:22 ubuntu etcd[79417]: election = 1000ms
Jul 30 12:26:22 ubuntu etcd[79417]: snapshot count = 100000
Jul 30 12:26:22 ubuntu etcd[79417]: advertise client URLs = http://10.201.5.82:2379
Jul 30 12:26:22 ubuntu etcd[79417]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 30 12:26:22 ubuntu etcd[79417]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jul 30 12:26:22 ubuntu etcd[79417]: raft2025/07/30 12:26:22 INFO: 43038365673ccf7b switched to configuration voters=()
Jul 30 12:26:22 ubuntu etcd[79417]: raft2025/07/30 12:26:22 INFO: 43038365673ccf7b became follower at term 0
Jul 30 12:26:22 ubuntu etcd[79417]: raft2025/07/30 12:26:22 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 30 12:26:22 ubuntu etcd[79417]: raft2025/07/30 12:26:22 INFO: 43038365673ccf7b became follower at term 1
Jul 30 12:26:22 ubuntu etcd[79417]: raft2025/07/30 12:26:22 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 30 12:26:22 ubuntu etcd[79417]: simple token is not cryptographically signed
Jul 30 12:26:22 ubuntu etcd[79417]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 30 12:26:22 ubuntu etcd[79417]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 30 12:26:22 ubuntu etcd[79417]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 30 12:26:22 ubuntu etcd[79417]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 30 12:26:22 ubuntu etcd[79417]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 30 12:26:22 ubuntu etcd[79417]: raft2025/07/30 12:26:22 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 30 12:26:22 ubuntu etcd[79417]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jul 30 12:26:22 ubuntu etcd[79417]: listening for peers on [::]:2380
Jul 30 12:26:22 ubuntu etcd[79417]: raft2025/07/30 12:26:22 INFO: 43038365673ccf7b is starting a new election at term 1
Jul 30 12:26:22 ubuntu etcd[79417]: raft2025/07/30 12:26:22 INFO: 43038365673ccf7b became candidate at term 2
Jul 30 12:26:22 ubuntu etcd[79417]: raft2025/07/30 12:26:22 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jul 30 12:26:22 ubuntu etcd[79417]: raft2025/07/30 12:26:22 INFO: 43038365673ccf7b became leader at term 2
Jul 30 12:26:22 ubuntu etcd[79417]: raft2025/07/30 12:26:22 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jul 30 12:26:22 ubuntu etcd[79417]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jul 30 12:26:22 ubuntu etcd[79417]: ready to serve client requests
Jul 30 12:26:22 ubuntu etcd[79417]: setting up the initial cluster version to 3.4
Jul 30 12:26:22 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 30 12:26:22 ubuntu etcd[79417]: set the initial cluster version to 3.4
Jul 30 12:26:22 ubuntu etcd[79417]: enabled capabilities for version 3.4
Jul 30 12:26:22 ubuntu etcd[79417]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jul 30 12:31:11 ubuntu etcd[79417]: start time = 2025-07-30 12:31:11.50923664 +0000 UTC m=+289.052543711, time spent = 2.147086ms, remote = 10.201.5.82:40914, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 30 12:31:11 ubuntu etcd[79417]: start time = 2025-07-30 12:31:11.610873007 +0000 UTC m=+289.154180082, time spent = 328.905µs, remote = 10.201.5.82:40914, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 30 12:31:18 ubuntu etcd[79417]: start time = 2025-07-30 12:31:18.89032515 +0000 UTC m=+296.433632224, time spent = 225.22µs, remote = 10.201.5.82:40914, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 30 12:31:21 ubuntu etcd[79417]: start time = 2025-07-30 12:31:21.009219915 +0000 UTC m=+298.552526991, time spent = 236.788µs, remote = 10.201.5.82:40914, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 30 12:34:41 ubuntu etcd[79417]: start time = 2025-07-30 12:34:41.836357203 +0000 UTC m=+499.379664269, time spent = 432.247µs, remote = 10.201.5.82:40914, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 30 12:34:41 ubuntu etcd[79417]: start time = 2025-07-30 12:34:41.863559212 +0000 UTC m=+499.406866289, time spent = 237.996µs, remote = 10.201.5.82:40914, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 30 12:34:43 ubuntu etcd[79417]: start time = 2025-07-30 12:34:43.735475423 +0000 UTC m=+501.278782594, time spent = 498.749µs, remote = 10.201.5.82:40914, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 30 12:34:44 ubuntu etcd[79417]: start time = 2025-07-30 12:34:44.458758888 +0000 UTC m=+502.002065967, time spent = 182.401µs, remote = 10.201.5.82:40914, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 30 12:41:29 ubuntu etcd[79417]: start time = 2025-07-30 12:41:29.318208379 +0000 UTC m=+906.861515542, time spent = 864.743µs, remote = 10.201.5.82:40914, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 30 12:41:29 ubuntu etcd[79417]: start time = 2025-07-30 12:41:29.330516689 +0000 UTC m=+906.873823754, time spent = 4.179053ms, remote = 10.201.5.82:40914, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-ce27f109-2889-4094-9fd9-d4750822da5c" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-ce27f109-2889-4094-9fd9-d4750822da5c" value_size:16 lease:5727338869020928025 >> failure:<request_range:<key:"/tooz/lockscinder-ce27f109-2889-4094-9fd9-d4750822da5c" > >
Jul 30 12:41:32 ubuntu etcd[79417]: start time = 2025-07-30 12:41:32.003648776 +0000 UTC m=+909.546955943, time spent = 502.559µs, remote = 10.201.5.82:40914, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-ce27f109-2889-4094-9fd9-d4750822da5c" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-ce27f109-2889-4094-9fd9-d4750822da5c" > > failure:<>
Jul 30 12:41:32 ubuntu etcd[79417]: start time = 2025-07-30 12:41:32.265379844 +0000 UTC m=+909.808686922, time spent = 282.814µs, remote = 10.201.5.82:40914, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 30 12:41:32 ubuntu etcd[79417]: start time = 2025-07-30 12:41:32.267215594 +0000 UTC m=+909.810522671, time spent = 157.773µs, remote = 10.201.5.82:40914, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-ce27f109-2889-4094-9fd9-d4750822da5c" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-ce27f109-2889-4094-9fd9-d4750822da5c" value_size:16 lease:5727338869020928029 >> failure:<request_range:<key:"/tooz/lockscinder-ce27f109-2889-4094-9fd9-d4750822da5c" > >
Jul 30 12:41:34 ubuntu etcd[79417]: start time = 2025-07-30 12:41:34.164963828 +0000 UTC m=+911.708271018, time spent = 648.892µs, remote = 10.201.5.82:40914, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-ce27f109-2889-4094-9fd9-d4750822da5c" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-ce27f109-2889-4094-9fd9-d4750822da5c" > > failure:<>
Jul 30 12:41:34 ubuntu etcd[79417]: start time = 2025-07-30 12:41:34.418771442 +0000 UTC m=+911.962078519, time spent = 286.062µs, remote = 10.201.5.82:40914, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 30 12:41:34 ubuntu etcd[79417]: start time = 2025-07-30 12:41:34.420597979 +0000 UTC m=+911.963905053, time spent = 190.651µs, remote = 10.201.5.82:40914, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-ce27f109-2889-4094-9fd9-d4750822da5c" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-ce27f109-2889-4094-9fd9-d4750822da5c" value_size:16 lease:5727338869020928033 >> failure:<request_range:<key:"/tooz/lockscinder-ce27f109-2889-4094-9fd9-d4750822da5c" > >
Jul 30 12:41:36 ubuntu etcd[79417]: start time = 2025-07-30 12:41:36.259612603 +0000 UTC m=+913.802919775, time spent = 593.545µs, remote = 10.201.5.82:40914, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-ce27f109-2889-4094-9fd9-d4750822da5c" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-ce27f109-2889-4094-9fd9-d4750822da5c" > > failure:<>
