Feb 11 01:40:36 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Feb 11 01:40:36 ubuntu etcd[78449]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Feb 11 01:40:36 ubuntu etcd[78449]:         A future release of golang/protobuf will delete this package,
Feb 11 01:40:36 ubuntu etcd[78449]:         which has long been excluded from the compatibility promise.
Feb 11 01:40:36 ubuntu etcd[78449]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 11 01:40:36 ubuntu etcd[78449]: Running http and grpc server on single port. This is not recommended for production.
Feb 11 01:40:36 ubuntu etcd[78449]: etcd Version: 3.4.27
Feb 11 01:40:36 ubuntu etcd[78449]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 11 01:40:36 ubuntu etcd[78449]: Git SHA: c92fb80f3
Feb 11 01:40:36 ubuntu etcd[78449]: Go Version: go1.19.10
Feb 11 01:40:36 ubuntu etcd[78449]: Go OS/Arch: linux/amd64
Feb 11 01:40:36 ubuntu etcd[78449]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Feb 11 01:40:36 ubuntu etcd[78449]: Running http and grpc server on single port. This is not recommended for production.
Feb 11 01:40:36 ubuntu etcd[78449]: name = ubuntu
Feb 11 01:40:36 ubuntu etcd[78449]: data dir = /opt/stack/data/etcd
Feb 11 01:40:36 ubuntu etcd[78449]: member dir = /opt/stack/data/etcd/member
Feb 11 01:40:36 ubuntu etcd[78449]: heartbeat = 100ms
Feb 11 01:40:36 ubuntu etcd[78449]: election = 1000ms
Feb 11 01:40:36 ubuntu etcd[78449]: snapshot count = 100000
Feb 11 01:40:36 ubuntu etcd[78449]: advertise client URLs = http://10.201.5.82:2379
Feb 11 01:40:36 ubuntu etcd[78449]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Feb 11 01:40:36 ubuntu etcd[78449]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Feb 11 01:40:36 ubuntu etcd[78449]: raft2025/02/11 01:40:36 INFO: 43038365673ccf7b switched to configuration voters=()
Feb 11 01:40:36 ubuntu etcd[78449]: raft2025/02/11 01:40:36 INFO: 43038365673ccf7b became follower at term 0
Feb 11 01:40:36 ubuntu etcd[78449]: raft2025/02/11 01:40:36 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Feb 11 01:40:36 ubuntu etcd[78449]: raft2025/02/11 01:40:36 INFO: 43038365673ccf7b became follower at term 1
Feb 11 01:40:36 ubuntu etcd[78449]: raft2025/02/11 01:40:36 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Feb 11 01:40:36 ubuntu etcd[78449]: simple token is not cryptographically signed
Feb 11 01:40:36 ubuntu etcd[78449]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Feb 11 01:40:36 ubuntu etcd[78449]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Feb 11 01:40:36 ubuntu etcd[78449]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Feb 11 01:40:36 ubuntu etcd[78449]: raft2025/02/11 01:40:36 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Feb 11 01:40:36 ubuntu etcd[78449]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Feb 11 01:40:36 ubuntu etcd[78449]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Feb 11 01:40:36 ubuntu etcd[78449]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Feb 11 01:40:36 ubuntu etcd[78449]: listening for peers on [::]:2380
Feb 11 01:40:36 ubuntu etcd[78449]: raft2025/02/11 01:40:36 INFO: 43038365673ccf7b is starting a new election at term 1
Feb 11 01:40:36 ubuntu etcd[78449]: raft2025/02/11 01:40:36 INFO: 43038365673ccf7b became candidate at term 2
Feb 11 01:40:36 ubuntu etcd[78449]: raft2025/02/11 01:40:36 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Feb 11 01:40:36 ubuntu etcd[78449]: raft2025/02/11 01:40:36 INFO: 43038365673ccf7b became leader at term 2
Feb 11 01:40:36 ubuntu etcd[78449]: raft2025/02/11 01:40:36 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Feb 11 01:40:36 ubuntu etcd[78449]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Feb 11 01:40:36 ubuntu etcd[78449]: setting up the initial cluster version to 3.4
Feb 11 01:40:36 ubuntu etcd[78449]: ready to serve client requests
Feb 11 01:40:36 ubuntu etcd[78449]: set the initial cluster version to 3.4
Feb 11 01:40:36 ubuntu etcd[78449]: enabled capabilities for version 3.4
Feb 11 01:40:36 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Feb 11 01:40:36 ubuntu etcd[78449]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Feb 11 01:45:19 ubuntu etcd[78449]: start time = 2025-02-11 01:45:19.51399158 +0000 UTC m=+283.236247882, time spent = 1.815893ms, remote = 10.201.5.82:45302, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 11 01:45:19 ubuntu etcd[78449]: start time = 2025-02-11 01:45:19.525302885 +0000 UTC m=+283.247559199, time spent = 137.553µs, remote = 10.201.5.82:45302, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 11 01:45:26 ubuntu etcd[78449]: start time = 2025-02-11 01:45:26.674123131 +0000 UTC m=+290.396379447, time spent = 192.181µs, remote = 10.201.5.82:45302, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 11 01:45:28 ubuntu etcd[78449]: start time = 2025-02-11 01:45:28.54434566 +0000 UTC m=+292.266601974, time spent = 401.974µs, remote = 10.201.5.82:45302, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 11 01:48:28 ubuntu etcd[78449]: start time = 2025-02-11 01:48:28.63851527 +0000 UTC m=+472.360771570, time spent = 326.604µs, remote = 10.201.5.82:45302, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 11 01:48:28 ubuntu etcd[78449]: start time = 2025-02-11 01:48:28.679583074 +0000 UTC m=+472.401839385, time spent = 213.465µs, remote = 10.201.5.82:45302, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 11 01:48:32 ubuntu etcd[78449]: start time = 2025-02-11 01:48:32.506572821 +0000 UTC m=+476.228829237, time spent = 416.402µs, remote = 10.201.5.82:45302, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 11 01:48:33 ubuntu etcd[78449]: start time = 2025-02-11 01:48:33.147810578 +0000 UTC m=+476.870066879, time spent = 257.752µs, remote = 10.201.5.82:45302, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 11 01:50:20 ubuntu etcd[78449]: start time = 2025-02-11 01:50:20.869360249 +0000 UTC m=+584.591616577, time spent = 252.511µs, remote = 10.201.5.82:45302, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 11 01:50:20 ubuntu etcd[78449]: start time = 2025-02-11 01:50:20.87292273 +0000 UTC m=+584.595179082, time spent = 726.869µs, remote = 10.201.5.82:45302, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-0e51324d-fe87-43e4-8f54-56d404e0b19d" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-0e51324d-fe87-43e4-8f54-56d404e0b19d" value_size:16 lease:5727335121092304921 >> failure:<request_range:<key:"/tooz/lockscinder-0e51324d-fe87-43e4-8f54-56d404e0b19d" > >
Feb 11 01:50:23 ubuntu etcd[78449]: start time = 2025-02-11 01:50:23.614736452 +0000 UTC m=+587.336992877, time spent = 558.182µs, remote = 10.201.5.82:45302, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-0e51324d-fe87-43e4-8f54-56d404e0b19d" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-0e51324d-fe87-43e4-8f54-56d404e0b19d" > > failure:<>
Feb 11 01:50:23 ubuntu etcd[78449]: start time = 2025-02-11 01:50:23.814167625 +0000 UTC m=+587.536423936, time spent = 213.56µs, remote = 10.201.5.82:45302, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 11 01:50:23 ubuntu etcd[78449]: start time = 2025-02-11 01:50:23.815954255 +0000 UTC m=+587.538210567, time spent = 200.234µs, remote = 10.201.5.82:45302, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-0e51324d-fe87-43e4-8f54-56d404e0b19d" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-0e51324d-fe87-43e4-8f54-56d404e0b19d" value_size:16 lease:5727335121092304925 >> failure:<request_range:<key:"/tooz/lockscinder-0e51324d-fe87-43e4-8f54-56d404e0b19d" > >
Feb 11 01:50:24 ubuntu etcd[78449]: start time = 2025-02-11 01:50:24.570599889 +0000 UTC m=+588.292856230, time spent = 359.949µs, remote = 10.201.5.82:45302, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-0e51324d-fe87-43e4-8f54-56d404e0b19d" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-0e51324d-fe87-43e4-8f54-56d404e0b19d" > > failure:<>
Feb 11 01:50:24 ubuntu etcd[78449]: start time = 2025-02-11 01:50:24.842359344 +0000 UTC m=+588.564615655, time spent = 238.053µs, remote = 10.201.5.82:45302, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 11 01:50:24 ubuntu etcd[78449]: start time = 2025-02-11 01:50:24.846811383 +0000 UTC m=+588.569067694, time spent = 154.675µs, remote = 10.201.5.82:45302, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-0e51324d-fe87-43e4-8f54-56d404e0b19d" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-0e51324d-fe87-43e4-8f54-56d404e0b19d" value_size:16 lease:5727335121092304929 >> failure:<request_range:<key:"/tooz/lockscinder-0e51324d-fe87-43e4-8f54-56d404e0b19d" > >
Feb 11 01:50:25 ubuntu etcd[78449]: start time = 2025-02-11 01:50:25.680617121 +0000 UTC m=+589.402873539, time spent = 688.745µs, remote = 10.201.5.82:45302, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-0e51324d-fe87-43e4-8f54-56d404e0b19d" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-0e51324d-fe87-43e4-8f54-56d404e0b19d" > > failure:<>
Feb 11 02:30:29 ubuntu etcd[78449]: start time = 2025-02-11 02:30:29.103520427 +0000 UTC m=+2992.825776788, time spent = 910.481µs, remote = 10.201.5.82:45302, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 11 02:30:29 ubuntu etcd[78449]: start time = 2025-02-11 02:30:29.10749045 +0000 UTC m=+2992.829746850, time spent = 694.121µs, remote = 10.201.5.82:45302, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-0500c9d4-d388-410f-ae3a-0d8baeee7286" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-0500c9d4-d388-410f-ae3a-0d8baeee7286" value_size:16 lease:5727335121092304936 >> failure:<request_range:<key:"/tooz/lockscinder-0500c9d4-d388-410f-ae3a-0d8baeee7286" > >
Feb 11 02:30:31 ubuntu etcd[78449]: start time = 2025-02-11 02:30:31.743062811 +0000 UTC m=+2995.465319229, time spent = 505.632µs, remote = 10.201.5.82:45302, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-0500c9d4-d388-410f-ae3a-0d8baeee7286" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-0500c9d4-d388-410f-ae3a-0d8baeee7286" > > failure:<>
Feb 11 02:30:32 ubuntu etcd[78449]: start time = 2025-02-11 02:30:32.019544528 +0000 UTC m=+2995.741800838, time spent = 321.681µs, remote = 10.201.5.82:45302, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 11 02:30:32 ubuntu etcd[78449]: start time = 2025-02-11 02:30:32.021541308 +0000 UTC m=+2995.743797621, time spent = 198.949µs, remote = 10.201.5.82:45302, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-0500c9d4-d388-410f-ae3a-0d8baeee7286" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-0500c9d4-d388-410f-ae3a-0d8baeee7286" value_size:16 lease:5727335121092304940 >> failure:<request_range:<key:"/tooz/lockscinder-0500c9d4-d388-410f-ae3a-0d8baeee7286" > >
Feb 11 02:30:32 ubuntu etcd[78449]: start time = 2025-02-11 02:30:32.588552992 +0000 UTC m=+2996.310809351, time spent = 444.979µs, remote = 10.201.5.82:45302, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-0500c9d4-d388-410f-ae3a-0d8baeee7286" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-0500c9d4-d388-410f-ae3a-0d8baeee7286" > > failure:<>
Feb 11 02:30:32 ubuntu etcd[78449]: start time = 2025-02-11 02:30:32.845593295 +0000 UTC m=+2996.567849594, time spent = 268.267µs, remote = 10.201.5.82:45302, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 11 02:30:32 ubuntu etcd[78449]: start time = 2025-02-11 02:30:32.848047796 +0000 UTC m=+2996.570304140, time spent = 956.496µs, remote = 10.201.5.82:45302, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-0500c9d4-d388-410f-ae3a-0d8baeee7286" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-0500c9d4-d388-410f-ae3a-0d8baeee7286" value_size:16 lease:5727335121092304944 >> failure:<request_range:<key:"/tooz/lockscinder-0500c9d4-d388-410f-ae3a-0d8baeee7286" > >
Feb 11 02:30:33 ubuntu etcd[78449]: start time = 2025-02-11 02:30:33.436314593 +0000 UTC m=+2997.158571011, time spent = 397.671µs, remote = 10.201.5.82:45302, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-0500c9d4-d388-410f-ae3a-0d8baeee7286" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-0500c9d4-d388-410f-ae3a-0d8baeee7286" > > failure:<>
