Jul 28 11:48:23 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 28 11:48:23 ubuntu etcd[79491]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 28 11:48:23 ubuntu etcd[79491]:         A future release of golang/protobuf will delete this package,
Jul 28 11:48:23 ubuntu etcd[79491]:         which has long been excluded from the compatibility promise.
Jul 28 11:48:23 ubuntu etcd[79491]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 28 11:48:23 ubuntu etcd[79491]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 28 11:48:23 ubuntu etcd[79491]: Running http and grpc server on single port. This is not recommended for production.
Jul 28 11:48:23 ubuntu etcd[79491]: etcd Version: 3.4.27
Jul 28 11:48:23 ubuntu etcd[79491]: Git SHA: c92fb80f3
Jul 28 11:48:23 ubuntu etcd[79491]: Go Version: go1.19.10
Jul 28 11:48:23 ubuntu etcd[79491]: Go OS/Arch: linux/amd64
Jul 28 11:48:23 ubuntu etcd[79491]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 28 11:48:23 ubuntu etcd[79491]: Running http and grpc server on single port. This is not recommended for production.
Jul 28 11:48:23 ubuntu etcd[79491]: name = ubuntu
Jul 28 11:48:23 ubuntu etcd[79491]: data dir = /opt/stack/data/etcd
Jul 28 11:48:23 ubuntu etcd[79491]: member dir = /opt/stack/data/etcd/member
Jul 28 11:48:23 ubuntu etcd[79491]: heartbeat = 100ms
Jul 28 11:48:23 ubuntu etcd[79491]: election = 1000ms
Jul 28 11:48:23 ubuntu etcd[79491]: snapshot count = 100000
Jul 28 11:48:23 ubuntu etcd[79491]: advertise client URLs = http://10.201.5.82:2379
Jul 28 11:48:23 ubuntu etcd[79491]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 28 11:48:23 ubuntu etcd[79491]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jul 28 11:48:23 ubuntu etcd[79491]: raft2025/07/28 11:48:23 INFO: 43038365673ccf7b switched to configuration voters=()
Jul 28 11:48:23 ubuntu etcd[79491]: raft2025/07/28 11:48:23 INFO: 43038365673ccf7b became follower at term 0
Jul 28 11:48:23 ubuntu etcd[79491]: raft2025/07/28 11:48:23 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 28 11:48:23 ubuntu etcd[79491]: raft2025/07/28 11:48:23 INFO: 43038365673ccf7b became follower at term 1
Jul 28 11:48:23 ubuntu etcd[79491]: raft2025/07/28 11:48:23 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 28 11:48:23 ubuntu etcd[79491]: simple token is not cryptographically signed
Jul 28 11:48:23 ubuntu etcd[79491]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 28 11:48:23 ubuntu etcd[79491]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 28 11:48:23 ubuntu etcd[79491]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 28 11:48:23 ubuntu etcd[79491]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 28 11:48:23 ubuntu etcd[79491]: raft2025/07/28 11:48:23 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 28 11:48:23 ubuntu etcd[79491]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 28 11:48:23 ubuntu etcd[79491]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jul 28 11:48:23 ubuntu etcd[79491]: listening for peers on [::]:2380
Jul 28 11:48:24 ubuntu etcd[79491]: raft2025/07/28 11:48:24 INFO: 43038365673ccf7b is starting a new election at term 1
Jul 28 11:48:24 ubuntu etcd[79491]: raft2025/07/28 11:48:24 INFO: 43038365673ccf7b became candidate at term 2
Jul 28 11:48:24 ubuntu etcd[79491]: raft2025/07/28 11:48:24 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jul 28 11:48:24 ubuntu etcd[79491]: raft2025/07/28 11:48:24 INFO: 43038365673ccf7b became leader at term 2
Jul 28 11:48:24 ubuntu etcd[79491]: raft2025/07/28 11:48:24 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jul 28 11:48:24 ubuntu etcd[79491]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jul 28 11:48:24 ubuntu etcd[79491]: ready to serve client requests
Jul 28 11:48:24 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 28 11:48:24 ubuntu etcd[79491]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jul 28 11:48:24 ubuntu etcd[79491]: setting up the initial cluster version to 3.4
Jul 28 11:48:24 ubuntu etcd[79491]: set the initial cluster version to 3.4
Jul 28 11:48:24 ubuntu etcd[79491]: enabled capabilities for version 3.4
Jul 28 11:53:14 ubuntu etcd[79491]: start time = 2025-07-28 11:53:14.235955356 +0000 UTC m=+290.726653383, time spent = 1.52442ms, remote = 10.201.5.82:39842, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 28 11:53:14 ubuntu etcd[79491]: start time = 2025-07-28 11:53:14.253272304 +0000 UTC m=+290.743970346, time spent = 209.979µs, remote = 10.201.5.82:39842, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 28 11:53:21 ubuntu etcd[79491]: start time = 2025-07-28 11:53:21.389018765 +0000 UTC m=+297.879716809, time spent = 169.181µs, remote = 10.201.5.82:39842, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 28 11:53:23 ubuntu etcd[79491]: start time = 2025-07-28 11:53:23.182750696 +0000 UTC m=+299.673448722, time spent = 289.082µs, remote = 10.201.5.82:39842, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 28 11:56:34 ubuntu etcd[79491]: start time = 2025-07-28 11:56:34.900790326 +0000 UTC m=+491.391488362, time spent = 395.356µs, remote = 10.201.5.82:39842, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 28 11:56:34 ubuntu etcd[79491]: start time = 2025-07-28 11:56:34.908093048 +0000 UTC m=+491.398791092, time spent = 229.614µs, remote = 10.201.5.82:39842, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 28 11:56:36 ubuntu etcd[79491]: start time = 2025-07-28 11:56:36.108024719 +0000 UTC m=+492.598722763, time spent = 791.46µs, remote = 10.201.5.82:39842, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 28 11:56:37 ubuntu etcd[79491]: start time = 2025-07-28 11:56:37.159247033 +0000 UTC m=+493.649945075, time spent = 203.977µs, remote = 10.201.5.82:39842, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 28 12:03:22 ubuntu etcd[79491]: start time = 2025-07-28 12:03:22.960340029 +0000 UTC m=+899.451038070, time spent = 370.725µs, remote = 10.201.5.82:39842, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 28 12:03:22 ubuntu etcd[79491]: start time = 2025-07-28 12:03:22.968757522 +0000 UTC m=+899.459455549, time spent = 5.056301ms, remote = 10.201.5.82:39842, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-763fe3fc-37be-4540-9376-f1108c147361" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-763fe3fc-37be-4540-9376-f1108c147361" value_size:16 lease:5727338824200718617 >> failure:<request_range:<key:"/tooz/lockscinder-763fe3fc-37be-4540-9376-f1108c147361" > >
Jul 28 12:03:25 ubuntu etcd[79491]: start time = 2025-07-28 12:03:25.655421416 +0000 UTC m=+902.146119493, time spent = 883.894µs, remote = 10.201.5.82:39842, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-763fe3fc-37be-4540-9376-f1108c147361" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-763fe3fc-37be-4540-9376-f1108c147361" > > failure:<>
Jul 28 12:03:25 ubuntu etcd[79491]: start time = 2025-07-28 12:03:25.879071534 +0000 UTC m=+902.369769575, time spent = 230.074µs, remote = 10.201.5.82:39842, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 28 12:03:25 ubuntu etcd[79491]: start time = 2025-07-28 12:03:25.881179699 +0000 UTC m=+902.371877741, time spent = 179.109µs, remote = 10.201.5.82:39842, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-763fe3fc-37be-4540-9376-f1108c147361" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-763fe3fc-37be-4540-9376-f1108c147361" value_size:16 lease:5727338824200718621 >> failure:<request_range:<key:"/tooz/lockscinder-763fe3fc-37be-4540-9376-f1108c147361" > >
Jul 28 12:03:27 ubuntu etcd[79491]: start time = 2025-07-28 12:03:27.798909231 +0000 UTC m=+904.289607270, time spent = 316.191µs, remote = 10.201.5.82:39842, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-763fe3fc-37be-4540-9376-f1108c147361" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-763fe3fc-37be-4540-9376-f1108c147361" > > failure:<>
Jul 28 12:03:28 ubuntu etcd[79491]: start time = 2025-07-28 12:03:28.036608875 +0000 UTC m=+904.527306914, time spent = 323.637µs, remote = 10.201.5.82:39842, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 28 12:03:28 ubuntu etcd[79491]: start time = 2025-07-28 12:03:28.038704355 +0000 UTC m=+904.529402396, time spent = 345.108µs, remote = 10.201.5.82:39842, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-763fe3fc-37be-4540-9376-f1108c147361" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-763fe3fc-37be-4540-9376-f1108c147361" value_size:16 lease:5727338824200718625 >> failure:<request_range:<key:"/tooz/lockscinder-763fe3fc-37be-4540-9376-f1108c147361" > >
Jul 28 12:03:29 ubuntu etcd[79491]: start time = 2025-07-28 12:03:29.897389336 +0000 UTC m=+906.388087477, time spent = 567.279µs, remote = 10.201.5.82:39842, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-763fe3fc-37be-4540-9376-f1108c147361" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-763fe3fc-37be-4540-9376-f1108c147361" > > failure:<>
