Jul 23 19:40:13 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 23 19:40:13 ubuntu etcd[79215]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 23 19:40:13 ubuntu etcd[79215]:         A future release of golang/protobuf will delete this package,
Jul 23 19:40:13 ubuntu etcd[79215]:         which has long been excluded from the compatibility promise.
Jul 23 19:40:13 ubuntu etcd[79215]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 23 19:40:13 ubuntu etcd[79215]: Running http and grpc server on single port. This is not recommended for production.
Jul 23 19:40:13 ubuntu etcd[79215]: etcd Version: 3.4.27
Jul 23 19:40:13 ubuntu etcd[79215]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 23 19:40:13 ubuntu etcd[79215]: Git SHA: c92fb80f3
Jul 23 19:40:13 ubuntu etcd[79215]: Go Version: go1.19.10
Jul 23 19:40:13 ubuntu etcd[79215]: Go OS/Arch: linux/amd64
Jul 23 19:40:13 ubuntu etcd[79215]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 23 19:40:13 ubuntu etcd[79215]: Running http and grpc server on single port. This is not recommended for production.
Jul 23 19:40:13 ubuntu etcd[79215]: name = ubuntu
Jul 23 19:40:13 ubuntu etcd[79215]: data dir = /opt/stack/data/etcd
Jul 23 19:40:13 ubuntu etcd[79215]: member dir = /opt/stack/data/etcd/member
Jul 23 19:40:13 ubuntu etcd[79215]: heartbeat = 100ms
Jul 23 19:40:13 ubuntu etcd[79215]: election = 1000ms
Jul 23 19:40:13 ubuntu etcd[79215]: snapshot count = 100000
Jul 23 19:40:13 ubuntu etcd[79215]: advertise client URLs = http://10.201.5.82:2379
Jul 23 19:40:13 ubuntu etcd[79215]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 23 19:40:13 ubuntu etcd[79215]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jul 23 19:40:13 ubuntu etcd[79215]: raft2025/07/23 19:40:13 INFO: 43038365673ccf7b switched to configuration voters=()
Jul 23 19:40:13 ubuntu etcd[79215]: raft2025/07/23 19:40:13 INFO: 43038365673ccf7b became follower at term 0
Jul 23 19:40:13 ubuntu etcd[79215]: raft2025/07/23 19:40:13 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 23 19:40:13 ubuntu etcd[79215]: raft2025/07/23 19:40:13 INFO: 43038365673ccf7b became follower at term 1
Jul 23 19:40:13 ubuntu etcd[79215]: raft2025/07/23 19:40:13 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 23 19:40:13 ubuntu etcd[79215]: simple token is not cryptographically signed
Jul 23 19:40:13 ubuntu etcd[79215]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 23 19:40:13 ubuntu etcd[79215]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 23 19:40:13 ubuntu etcd[79215]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 23 19:40:13 ubuntu etcd[79215]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 23 19:40:13 ubuntu etcd[79215]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 23 19:40:13 ubuntu etcd[79215]: raft2025/07/23 19:40:13 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 23 19:40:13 ubuntu etcd[79215]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jul 23 19:40:13 ubuntu etcd[79215]: listening for peers on [::]:2380
Jul 23 19:40:13 ubuntu etcd[79215]: raft2025/07/23 19:40:13 INFO: 43038365673ccf7b is starting a new election at term 1
Jul 23 19:40:13 ubuntu etcd[79215]: raft2025/07/23 19:40:13 INFO: 43038365673ccf7b became candidate at term 2
Jul 23 19:40:13 ubuntu etcd[79215]: raft2025/07/23 19:40:13 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jul 23 19:40:13 ubuntu etcd[79215]: raft2025/07/23 19:40:13 INFO: 43038365673ccf7b became leader at term 2
Jul 23 19:40:13 ubuntu etcd[79215]: raft2025/07/23 19:40:13 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jul 23 19:40:13 ubuntu etcd[79215]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jul 23 19:40:13 ubuntu etcd[79215]: setting up the initial cluster version to 3.4
Jul 23 19:40:13 ubuntu etcd[79215]: ready to serve client requests
Jul 23 19:40:13 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 23 19:40:13 ubuntu etcd[79215]: set the initial cluster version to 3.4
Jul 23 19:40:13 ubuntu etcd[79215]: enabled capabilities for version 3.4
Jul 23 19:40:13 ubuntu etcd[79215]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jul 23 19:44:57 ubuntu etcd[79215]: start time = 2025-07-23 19:44:57.300951251 +0000 UTC m=+283.912029225, time spent = 594.351µs, remote = 10.201.5.82:42594, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 19:44:57 ubuntu etcd[79215]: start time = 2025-07-23 19:44:57.377571396 +0000 UTC m=+283.988649449, time spent = 519.721µs, remote = 10.201.5.82:42594, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 19:45:03 ubuntu etcd[79215]: start time = 2025-07-23 19:45:03.933005968 +0000 UTC m=+290.544083961, time spent = 172.148µs, remote = 10.201.5.82:42594, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 19:45:05 ubuntu etcd[79215]: start time = 2025-07-23 19:45:05.913518295 +0000 UTC m=+292.524596288, time spent = 469.743µs, remote = 10.201.5.82:42594, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 19:48:34 ubuntu etcd[79215]: start time = 2025-07-23 19:48:34.769553289 +0000 UTC m=+501.380631265, time spent = 256.089µs, remote = 10.201.5.82:42594, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 19:48:34 ubuntu etcd[79215]: start time = 2025-07-23 19:48:34.807868644 +0000 UTC m=+501.418946632, time spent = 380.686µs, remote = 10.201.5.82:42594, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 19:48:39 ubuntu etcd[79215]: start time = 2025-07-23 19:48:39.16026172 +0000 UTC m=+505.771339717, time spent = 239.634µs, remote = 10.201.5.82:42594, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 19:48:39 ubuntu etcd[79215]: start time = 2025-07-23 19:48:39.369744187 +0000 UTC m=+505.980822176, time spent = 322.038µs, remote = 10.201.5.82:42594, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 19:55:23 ubuntu etcd[79215]: start time = 2025-07-23 19:55:23.588735469 +0000 UTC m=+910.199813455, time spent = 324.602µs, remote = 10.201.5.82:42594, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 19:55:23 ubuntu etcd[79215]: start time = 2025-07-23 19:55:23.599652906 +0000 UTC m=+910.210730939, time spent = 3.873683ms, remote = 10.201.5.82:42594, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-e2e95ef7-b282-4adb-92cd-81af0a98bf3b" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-e2e95ef7-b282-4adb-92cd-81af0a98bf3b" value_size:16 lease:5727338720856044313 >> failure:<request_range:<key:"/tooz/lockscinder-e2e95ef7-b282-4adb-92cd-81af0a98bf3b" > >
Jul 23 19:55:26 ubuntu etcd[79215]: start time = 2025-07-23 19:55:26.319481255 +0000 UTC m=+912.930559346, time spent = 859.995µs, remote = 10.201.5.82:42594, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-e2e95ef7-b282-4adb-92cd-81af0a98bf3b" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-e2e95ef7-b282-4adb-92cd-81af0a98bf3b" > > failure:<>
Jul 23 19:55:26 ubuntu etcd[79215]: start time = 2025-07-23 19:55:26.53384764 +0000 UTC m=+913.144925635, time spent = 268.265µs, remote = 10.201.5.82:42594, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 19:55:26 ubuntu etcd[79215]: start time = 2025-07-23 19:55:26.536234235 +0000 UTC m=+913.147312224, time spent = 263.963µs, remote = 10.201.5.82:42594, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-e2e95ef7-b282-4adb-92cd-81af0a98bf3b" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-e2e95ef7-b282-4adb-92cd-81af0a98bf3b" value_size:16 lease:5727338720856044317 >> failure:<request_range:<key:"/tooz/lockscinder-e2e95ef7-b282-4adb-92cd-81af0a98bf3b" > >
Jul 23 19:55:28 ubuntu etcd[79215]: start time = 2025-07-23 19:55:28.393856426 +0000 UTC m=+915.004934518, time spent = 701.363µs, remote = 10.201.5.82:42594, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-e2e95ef7-b282-4adb-92cd-81af0a98bf3b" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-e2e95ef7-b282-4adb-92cd-81af0a98bf3b" > > failure:<>
Jul 23 19:55:28 ubuntu etcd[79215]: start time = 2025-07-23 19:55:28.659584332 +0000 UTC m=+915.270662325, time spent = 256.588µs, remote = 10.201.5.82:42594, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 19:55:28 ubuntu etcd[79215]: start time = 2025-07-23 19:55:28.662526063 +0000 UTC m=+915.273604052, time spent = 234.103µs, remote = 10.201.5.82:42594, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-e2e95ef7-b282-4adb-92cd-81af0a98bf3b" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-e2e95ef7-b282-4adb-92cd-81af0a98bf3b" value_size:16 lease:5727338720856044321 >> failure:<request_range:<key:"/tooz/lockscinder-e2e95ef7-b282-4adb-92cd-81af0a98bf3b" > >
Jul 23 19:55:30 ubuntu etcd[79215]: start time = 2025-07-23 19:55:30.50175266 +0000 UTC m=+917.112830754, time spent = 1.183513ms, remote = 10.201.5.82:42594, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-e2e95ef7-b282-4adb-92cd-81af0a98bf3b" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-e2e95ef7-b282-4adb-92cd-81af0a98bf3b" > > failure:<>
