Mar 27 22:55:01 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 27 22:55:01 ubuntu etcd[79367]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 27 22:55:01 ubuntu etcd[79367]:         A future release of golang/protobuf will delete this package,
Mar 27 22:55:01 ubuntu etcd[79367]:         which has long been excluded from the compatibility promise.
Mar 27 22:55:01 ubuntu etcd[79367]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 27 22:55:01 ubuntu etcd[79367]: Running http and grpc server on single port. This is not recommended for production.
Mar 27 22:55:01 ubuntu etcd[79367]: etcd Version: 3.4.27
Mar 27 22:55:01 ubuntu etcd[79367]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 27 22:55:01 ubuntu etcd[79367]: Git SHA: c92fb80f3
Mar 27 22:55:01 ubuntu etcd[79367]: Go Version: go1.19.10
Mar 27 22:55:01 ubuntu etcd[79367]: Go OS/Arch: linux/amd64
Mar 27 22:55:01 ubuntu etcd[79367]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 27 22:55:01 ubuntu etcd[79367]: Running http and grpc server on single port. This is not recommended for production.
Mar 27 22:55:01 ubuntu etcd[79367]: name = ubuntu
Mar 27 22:55:01 ubuntu etcd[79367]: data dir = /opt/stack/data/etcd
Mar 27 22:55:01 ubuntu etcd[79367]: member dir = /opt/stack/data/etcd/member
Mar 27 22:55:01 ubuntu etcd[79367]: heartbeat = 100ms
Mar 27 22:55:01 ubuntu etcd[79367]: election = 1000ms
Mar 27 22:55:01 ubuntu etcd[79367]: snapshot count = 100000
Mar 27 22:55:01 ubuntu etcd[79367]: advertise client URLs = http://10.201.5.82:2379
Mar 27 22:55:01 ubuntu etcd[79367]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 27 22:55:01 ubuntu etcd[79367]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Mar 27 22:55:01 ubuntu etcd[79367]: raft2025/03/27 22:55:01 INFO: 43038365673ccf7b switched to configuration voters=()
Mar 27 22:55:01 ubuntu etcd[79367]: raft2025/03/27 22:55:01 INFO: 43038365673ccf7b became follower at term 0
Mar 27 22:55:01 ubuntu etcd[79367]: raft2025/03/27 22:55:01 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 27 22:55:01 ubuntu etcd[79367]: raft2025/03/27 22:55:01 INFO: 43038365673ccf7b became follower at term 1
Mar 27 22:55:01 ubuntu etcd[79367]: raft2025/03/27 22:55:01 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 27 22:55:01 ubuntu etcd[79367]: simple token is not cryptographically signed
Mar 27 22:55:01 ubuntu etcd[79367]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 27 22:55:01 ubuntu etcd[79367]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 27 22:55:01 ubuntu etcd[79367]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 27 22:55:01 ubuntu etcd[79367]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 27 22:55:01 ubuntu etcd[79367]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 27 22:55:01 ubuntu etcd[79367]: raft2025/03/27 22:55:01 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 27 22:55:01 ubuntu etcd[79367]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Mar 27 22:55:01 ubuntu etcd[79367]: listening for peers on [::]:2380
Mar 27 22:55:01 ubuntu etcd[79367]: raft2025/03/27 22:55:01 INFO: 43038365673ccf7b is starting a new election at term 1
Mar 27 22:55:01 ubuntu etcd[79367]: raft2025/03/27 22:55:01 INFO: 43038365673ccf7b became candidate at term 2
Mar 27 22:55:01 ubuntu etcd[79367]: raft2025/03/27 22:55:01 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Mar 27 22:55:01 ubuntu etcd[79367]: raft2025/03/27 22:55:01 INFO: 43038365673ccf7b became leader at term 2
Mar 27 22:55:01 ubuntu etcd[79367]: raft2025/03/27 22:55:01 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Mar 27 22:55:01 ubuntu etcd[79367]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Mar 27 22:55:01 ubuntu etcd[79367]: setting up the initial cluster version to 3.4
Mar 27 22:55:01 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 27 22:55:01 ubuntu etcd[79367]: ready to serve client requests
Mar 27 22:55:01 ubuntu etcd[79367]: set the initial cluster version to 3.4
Mar 27 22:55:01 ubuntu etcd[79367]: enabled capabilities for version 3.4
Mar 27 22:55:01 ubuntu etcd[79367]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Mar 27 22:59:41 ubuntu etcd[79367]: start time = 2025-03-27 22:59:41.484447028 +0000 UTC m=+279.976430173, time spent = 3.26128ms, remote = 10.201.5.82:59476, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 27 22:59:41 ubuntu etcd[79367]: start time = 2025-03-27 22:59:41.509583106 +0000 UTC m=+280.001566269, time spent = 266.702µs, remote = 10.201.5.82:59476, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 27 22:59:48 ubuntu etcd[79367]: start time = 2025-03-27 22:59:48.388965784 +0000 UTC m=+286.880948942, time spent = 221.419µs, remote = 10.201.5.82:59476, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 27 22:59:50 ubuntu etcd[79367]: start time = 2025-03-27 22:59:50.350356723 +0000 UTC m=+288.842339882, time spent = 423.8µs, remote = 10.201.5.82:59476, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 27 23:02:46 ubuntu etcd[79367]: start time = 2025-03-27 23:02:46.494021251 +0000 UTC m=+464.986004405, time spent = 356.735µs, remote = 10.201.5.82:59476, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 27 23:02:46 ubuntu etcd[79367]: start time = 2025-03-27 23:02:46.921552748 +0000 UTC m=+465.413536000, time spent = 380.222µs, remote = 10.201.5.82:59476, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 27 23:02:46 ubuntu etcd[79367]: start time = 2025-03-27 23:02:46.949952232 +0000 UTC m=+465.441935424, time spent = 226.087µs, remote = 10.201.5.82:59476, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 27 23:02:51 ubuntu etcd[79367]: start time = 2025-03-27 23:02:51.263798017 +0000 UTC m=+469.755781221, time spent = 435.498µs, remote = 10.201.5.82:59476, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
