May 12 10:38:28 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 12 10:38:28 ubuntu etcd[79328]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 12 10:38:28 ubuntu etcd[79328]:         A future release of golang/protobuf will delete this package,
May 12 10:38:28 ubuntu etcd[79328]:         which has long been excluded from the compatibility promise.
May 12 10:38:28 ubuntu etcd[79328]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 12 10:38:28 ubuntu etcd[79328]: Running http and grpc server on single port. This is not recommended for production.
May 12 10:38:28 ubuntu etcd[79328]: etcd Version: 3.4.27
May 12 10:38:28 ubuntu etcd[79328]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 12 10:38:28 ubuntu etcd[79328]: Git SHA: c92fb80f3
May 12 10:38:28 ubuntu etcd[79328]: Go Version: go1.19.10
May 12 10:38:28 ubuntu etcd[79328]: Go OS/Arch: linux/amd64
May 12 10:38:28 ubuntu etcd[79328]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 12 10:38:28 ubuntu etcd[79328]: Running http and grpc server on single port. This is not recommended for production.
May 12 10:38:28 ubuntu etcd[79328]: name = ubuntu
May 12 10:38:28 ubuntu etcd[79328]: data dir = /opt/stack/data/etcd
May 12 10:38:28 ubuntu etcd[79328]: member dir = /opt/stack/data/etcd/member
May 12 10:38:28 ubuntu etcd[79328]: heartbeat = 100ms
May 12 10:38:28 ubuntu etcd[79328]: election = 1000ms
May 12 10:38:28 ubuntu etcd[79328]: snapshot count = 100000
May 12 10:38:28 ubuntu etcd[79328]: advertise client URLs = http://10.201.5.82:2379
May 12 10:38:28 ubuntu etcd[79328]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 12 10:38:28 ubuntu etcd[79328]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
May 12 10:38:28 ubuntu etcd[79328]: raft2025/05/12 10:38:28 INFO: 43038365673ccf7b switched to configuration voters=()
May 12 10:38:28 ubuntu etcd[79328]: raft2025/05/12 10:38:28 INFO: 43038365673ccf7b became follower at term 0
May 12 10:38:28 ubuntu etcd[79328]: raft2025/05/12 10:38:28 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 12 10:38:28 ubuntu etcd[79328]: raft2025/05/12 10:38:28 INFO: 43038365673ccf7b became follower at term 1
May 12 10:38:28 ubuntu etcd[79328]: raft2025/05/12 10:38:28 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
May 12 10:38:28 ubuntu etcd[79328]: simple token is not cryptographically signed
May 12 10:38:28 ubuntu etcd[79328]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 12 10:38:28 ubuntu etcd[79328]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 12 10:38:28 ubuntu etcd[79328]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 12 10:38:28 ubuntu etcd[79328]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 12 10:38:28 ubuntu etcd[79328]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
May 12 10:38:28 ubuntu etcd[79328]: raft2025/05/12 10:38:28 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
May 12 10:38:28 ubuntu etcd[79328]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
May 12 10:38:28 ubuntu etcd[79328]: listening for peers on [::]:2380
May 12 10:38:28 ubuntu etcd[79328]: raft2025/05/12 10:38:28 INFO: 43038365673ccf7b is starting a new election at term 1
May 12 10:38:28 ubuntu etcd[79328]: raft2025/05/12 10:38:28 INFO: 43038365673ccf7b became candidate at term 2
May 12 10:38:28 ubuntu etcd[79328]: raft2025/05/12 10:38:28 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
May 12 10:38:28 ubuntu etcd[79328]: raft2025/05/12 10:38:28 INFO: 43038365673ccf7b became leader at term 2
May 12 10:38:28 ubuntu etcd[79328]: raft2025/05/12 10:38:28 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
May 12 10:38:28 ubuntu etcd[79328]: setting up the initial cluster version to 3.4
May 12 10:38:28 ubuntu etcd[79328]: ready to serve client requests
May 12 10:38:28 ubuntu etcd[79328]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
May 12 10:38:28 ubuntu etcd[79328]: set the initial cluster version to 3.4
May 12 10:38:28 ubuntu etcd[79328]: enabled capabilities for version 3.4
May 12 10:38:28 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 12 10:38:28 ubuntu etcd[79328]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
May 12 10:43:12 ubuntu etcd[79328]: start time = 2025-05-12 10:43:12.540243196 +0000 UTC m=+284.389109786, time spent = 715.275µs, remote = 10.201.5.82:56522, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 12 10:43:12 ubuntu etcd[79328]: start time = 2025-05-12 10:43:12.622595368 +0000 UTC m=+284.471461970, time spent = 395.096µs, remote = 10.201.5.82:56522, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 12 10:43:19 ubuntu etcd[79328]: start time = 2025-05-12 10:43:19.235499867 +0000 UTC m=+291.084366453, time spent = 288.315µs, remote = 10.201.5.82:56522, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 12 10:43:21 ubuntu etcd[79328]: start time = 2025-05-12 10:43:21.338283466 +0000 UTC m=+293.187150052, time spent = 255.222µs, remote = 10.201.5.82:56522, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 12 10:46:45 ubuntu etcd[79328]: start time = 2025-05-12 10:46:45.028915424 +0000 UTC m=+496.877782010, time spent = 929.116µs, remote = 10.201.5.82:56522, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 12 10:46:45 ubuntu etcd[79328]: start time = 2025-05-12 10:46:45.055220542 +0000 UTC m=+496.904087146, time spent = 174.457µs, remote = 10.201.5.82:56522, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 12 10:46:46 ubuntu etcd[79328]: start time = 2025-05-12 10:46:46.972278245 +0000 UTC m=+498.821144872, time spent = 237.642µs, remote = 10.201.5.82:56522, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 12 10:46:48 ubuntu etcd[79328]: start time = 2025-05-12 10:46:48.705871235 +0000 UTC m=+500.554737837, time spent = 263.554µs, remote = 10.201.5.82:56522, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 12 10:48:37 ubuntu etcd[79328]: start time = 2025-05-12 10:48:37.447591077 +0000 UTC m=+609.296457685, time spent = 401.796µs, remote = 10.201.5.82:56522, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 12 10:48:37 ubuntu etcd[79328]: start time = 2025-05-12 10:48:37.453131544 +0000 UTC m=+609.301998231, time spent = 936.088µs, remote = 10.201.5.82:56522, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-fb1e1ab2-e6a4-4e58-a15b-9f0a1bab0533" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-fb1e1ab2-e6a4-4e58-a15b-9f0a1bab0533" value_size:16 lease:5727337120009905433 >> failure:<request_range:<key:"/tooz/lockscinder-fb1e1ab2-e6a4-4e58-a15b-9f0a1bab0533" > >
May 12 10:48:40 ubuntu etcd[79328]: start time = 2025-05-12 10:48:40.083444229 +0000 UTC m=+611.932310886, time spent = 460.627µs, remote = 10.201.5.82:56522, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-fb1e1ab2-e6a4-4e58-a15b-9f0a1bab0533" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-fb1e1ab2-e6a4-4e58-a15b-9f0a1bab0533" > > failure:<>
May 12 10:48:40 ubuntu etcd[79328]: start time = 2025-05-12 10:48:40.299606769 +0000 UTC m=+612.148473403, time spent = 404.556µs, remote = 10.201.5.82:56522, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 12 10:48:40 ubuntu etcd[79328]: start time = 2025-05-12 10:48:40.301674932 +0000 UTC m=+612.150541566, time spent = 200.113µs, remote = 10.201.5.82:56522, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-fb1e1ab2-e6a4-4e58-a15b-9f0a1bab0533" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-fb1e1ab2-e6a4-4e58-a15b-9f0a1bab0533" value_size:16 lease:5727337120009905437 >> failure:<request_range:<key:"/tooz/lockscinder-fb1e1ab2-e6a4-4e58-a15b-9f0a1bab0533" > >
May 12 10:48:42 ubuntu etcd[79328]: start time = 2025-05-12 10:48:42.145842407 +0000 UTC m=+613.994709110, time spent = 545.902µs, remote = 10.201.5.82:56522, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-fb1e1ab2-e6a4-4e58-a15b-9f0a1bab0533" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-fb1e1ab2-e6a4-4e58-a15b-9f0a1bab0533" > > failure:<>
May 12 10:48:42 ubuntu etcd[79328]: start time = 2025-05-12 10:48:42.362317529 +0000 UTC m=+614.211184158, time spent = 320.081µs, remote = 10.201.5.82:56522, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 12 10:48:42 ubuntu etcd[79328]: start time = 2025-05-12 10:48:42.364613815 +0000 UTC m=+614.213480528, time spent = 401.402µs, remote = 10.201.5.82:56522, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-fb1e1ab2-e6a4-4e58-a15b-9f0a1bab0533" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-fb1e1ab2-e6a4-4e58-a15b-9f0a1bab0533" value_size:16 lease:5727337120009905441 >> failure:<request_range:<key:"/tooz/lockscinder-fb1e1ab2-e6a4-4e58-a15b-9f0a1bab0533" > >
May 12 10:48:44 ubuntu etcd[79328]: start time = 2025-05-12 10:48:44.277118227 +0000 UTC m=+616.125984918, time spent = 590.038µs, remote = 10.201.5.82:56522, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-fb1e1ab2-e6a4-4e58-a15b-9f0a1bab0533" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-fb1e1ab2-e6a4-4e58-a15b-9f0a1bab0533" > > failure:<>
