Dec 26 10:34:07 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 26 10:34:07 ubuntu etcd[67757]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 26 10:34:07 ubuntu etcd[67757]:         A future release of golang/protobuf will delete this package,
Dec 26 10:34:07 ubuntu etcd[67757]:         which has long been excluded from the compatibility promise.
Dec 26 10:34:07 ubuntu etcd[67757]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 26 10:34:07 ubuntu etcd[67757]: Running http and grpc server on single port. This is not recommended for production.
Dec 26 10:34:07 ubuntu etcd[67757]: etcd Version: 3.4.27
Dec 26 10:34:07 ubuntu etcd[67757]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 26 10:34:07 ubuntu etcd[67757]: Git SHA: c92fb80f3
Dec 26 10:34:07 ubuntu etcd[67757]: Go Version: go1.19.10
Dec 26 10:34:07 ubuntu etcd[67757]: Go OS/Arch: linux/amd64
Dec 26 10:34:07 ubuntu etcd[67757]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 26 10:34:07 ubuntu etcd[67757]: Running http and grpc server on single port. This is not recommended for production.
Dec 26 10:34:07 ubuntu etcd[67757]: name = ubuntu
Dec 26 10:34:07 ubuntu etcd[67757]: data dir = /opt/stack/data/etcd
Dec 26 10:34:07 ubuntu etcd[67757]: member dir = /opt/stack/data/etcd/member
Dec 26 10:34:07 ubuntu etcd[67757]: heartbeat = 100ms
Dec 26 10:34:07 ubuntu etcd[67757]: election = 1000ms
Dec 26 10:34:07 ubuntu etcd[67757]: snapshot count = 100000
Dec 26 10:34:07 ubuntu etcd[67757]: advertise client URLs = http://10.201.5.82:2379
Dec 26 10:34:07 ubuntu etcd[67757]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Dec 26 10:34:07 ubuntu etcd[67757]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Dec 26 10:34:07 ubuntu etcd[67757]: raft2024/12/26 10:34:07 INFO: 43038365673ccf7b switched to configuration voters=()
Dec 26 10:34:07 ubuntu etcd[67757]: raft2024/12/26 10:34:07 INFO: 43038365673ccf7b became follower at term 0
Dec 26 10:34:07 ubuntu etcd[67757]: raft2024/12/26 10:34:07 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Dec 26 10:34:07 ubuntu etcd[67757]: raft2024/12/26 10:34:07 INFO: 43038365673ccf7b became follower at term 1
Dec 26 10:34:07 ubuntu etcd[67757]: raft2024/12/26 10:34:07 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Dec 26 10:34:07 ubuntu etcd[67757]: simple token is not cryptographically signed
Dec 26 10:34:07 ubuntu etcd[67757]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Dec 26 10:34:07 ubuntu etcd[67757]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Dec 26 10:34:07 ubuntu etcd[67757]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Dec 26 10:34:07 ubuntu etcd[67757]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Dec 26 10:34:07 ubuntu etcd[67757]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Dec 26 10:34:07 ubuntu etcd[67757]: raft2024/12/26 10:34:07 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Dec 26 10:34:07 ubuntu etcd[67757]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Dec 26 10:34:07 ubuntu etcd[67757]: listening for peers on [::]:2380
Dec 26 10:34:08 ubuntu etcd[67757]: raft2024/12/26 10:34:08 INFO: 43038365673ccf7b is starting a new election at term 1
Dec 26 10:34:08 ubuntu etcd[67757]: raft2024/12/26 10:34:08 INFO: 43038365673ccf7b became candidate at term 2
Dec 26 10:34:08 ubuntu etcd[67757]: raft2024/12/26 10:34:08 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Dec 26 10:34:08 ubuntu etcd[67757]: raft2024/12/26 10:34:08 INFO: 43038365673ccf7b became leader at term 2
Dec 26 10:34:08 ubuntu etcd[67757]: raft2024/12/26 10:34:08 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Dec 26 10:34:08 ubuntu etcd[67757]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Dec 26 10:34:08 ubuntu etcd[67757]: setting up the initial cluster version to 3.4
Dec 26 10:34:08 ubuntu etcd[67757]: set the initial cluster version to 3.4
Dec 26 10:34:08 ubuntu etcd[67757]: enabled capabilities for version 3.4
Dec 26 10:34:08 ubuntu etcd[67757]: ready to serve client requests
Dec 26 10:34:08 ubuntu etcd[67757]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Dec 26 10:34:08 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Dec 26 10:38:56 ubuntu etcd[67757]: start time = 2024-12-26 10:38:56.513806321 +0000 UTC m=+288.971064176, time spent = 2.577267ms, remote = 10.201.5.82:59670, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 26 10:38:56 ubuntu etcd[67757]: start time = 2024-12-26 10:38:56.520564139 +0000 UTC m=+288.977822000, time spent = 434.183µs, remote = 10.201.5.82:59670, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 26 10:39:03 ubuntu etcd[67757]: start time = 2024-12-26 10:39:03.436510456 +0000 UTC m=+295.893768309, time spent = 228.102µs, remote = 10.201.5.82:59670, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 26 10:39:05 ubuntu etcd[67757]: start time = 2024-12-26 10:39:05.586008916 +0000 UTC m=+298.043266770, time spent = 223.262µs, remote = 10.201.5.82:59670, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 26 10:42:20 ubuntu etcd[67757]: start time = 2024-12-26 10:42:20.314488063 +0000 UTC m=+492.771745908, time spent = 438.424µs, remote = 10.201.5.82:59670, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 26 10:42:20 ubuntu etcd[67757]: start time = 2024-12-26 10:42:20.330255493 +0000 UTC m=+492.787513349, time spent = 164.047µs, remote = 10.201.5.82:59670, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 26 10:42:21 ubuntu etcd[67757]: start time = 2024-12-26 10:42:21.250077538 +0000 UTC m=+493.707335390, time spent = 175.721µs, remote = 10.201.5.82:59670, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 26 10:42:23 ubuntu etcd[67757]: start time = 2024-12-26 10:42:23.163510591 +0000 UTC m=+495.620768439, time spent = 187.033µs, remote = 10.201.5.82:59670, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 26 10:44:21 ubuntu etcd[67757]: start time = 2024-12-26 10:44:21.735347949 +0000 UTC m=+614.192605835, time spent = 453.79µs, remote = 10.201.5.82:59670, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 26 10:44:21 ubuntu etcd[67757]: start time = 2024-12-26 10:44:21.740329608 +0000 UTC m=+614.197587510, time spent = 650.058µs, remote = 10.201.5.82:59670, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-60fa6618-8baf-4193-8dc8-e223b78d0571" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-60fa6618-8baf-4193-8dc8-e223b78d0571" value_size:16 lease:5727334089722393369 >> failure:<request_range:<key:"/tooz/lockscinder-60fa6618-8baf-4193-8dc8-e223b78d0571" > >
Dec 26 10:44:24 ubuntu etcd[67757]: start time = 2024-12-26 10:44:24.495289176 +0000 UTC m=+616.952547134, time spent = 685.644µs, remote = 10.201.5.82:59670, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-60fa6618-8baf-4193-8dc8-e223b78d0571" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-60fa6618-8baf-4193-8dc8-e223b78d0571" > > failure:<>
Dec 26 10:44:24 ubuntu etcd[67757]: start time = 2024-12-26 10:44:24.730028548 +0000 UTC m=+617.187286419, time spent = 284.8µs, remote = 10.201.5.82:59670, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 26 10:44:24 ubuntu etcd[67757]: start time = 2024-12-26 10:44:24.733103501 +0000 UTC m=+617.190361356, time spent = 255.318µs, remote = 10.201.5.82:59670, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-60fa6618-8baf-4193-8dc8-e223b78d0571" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-60fa6618-8baf-4193-8dc8-e223b78d0571" value_size:16 lease:5727334089722393373 >> failure:<request_range:<key:"/tooz/lockscinder-60fa6618-8baf-4193-8dc8-e223b78d0571" > >
Dec 26 10:44:25 ubuntu etcd[67757]: start time = 2024-12-26 10:44:25.540026563 +0000 UTC m=+617.997284421, time spent = 267.87µs, remote = 10.201.5.82:59670, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-60fa6618-8baf-4193-8dc8-e223b78d0571" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-60fa6618-8baf-4193-8dc8-e223b78d0571" > > failure:<>
Dec 26 10:44:25 ubuntu etcd[67757]: start time = 2024-12-26 10:44:25.752112543 +0000 UTC m=+618.209370508, time spent = 508.693µs, remote = 10.201.5.82:59670, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 26 10:44:25 ubuntu etcd[67757]: start time = 2024-12-26 10:44:25.754602899 +0000 UTC m=+618.211860805, time spent = 316.093µs, remote = 10.201.5.82:59670, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-60fa6618-8baf-4193-8dc8-e223b78d0571" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-60fa6618-8baf-4193-8dc8-e223b78d0571" value_size:16 lease:5727334089722393377 >> failure:<request_range:<key:"/tooz/lockscinder-60fa6618-8baf-4193-8dc8-e223b78d0571" > >
Dec 26 10:44:26 ubuntu etcd[67757]: start time = 2024-12-26 10:44:26.522333098 +0000 UTC m=+618.979591037, time spent = 1.07134ms, remote = 10.201.5.82:59670, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-60fa6618-8baf-4193-8dc8-e223b78d0571" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-60fa6618-8baf-4193-8dc8-e223b78d0571" > > failure:<>
