Feb 18 23:00:55 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Feb 18 23:00:55 ubuntu etcd[79262]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Feb 18 23:00:55 ubuntu etcd[79262]:         A future release of golang/protobuf will delete this package,
Feb 18 23:00:55 ubuntu etcd[79262]:         which has long been excluded from the compatibility promise.
Feb 18 23:00:55 ubuntu etcd[79262]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 18 23:00:55 ubuntu etcd[79262]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 18 23:00:55 ubuntu etcd[79262]: Running http and grpc server on single port. This is not recommended for production.
Feb 18 23:00:55 ubuntu etcd[79262]: etcd Version: 3.4.27
Feb 18 23:00:55 ubuntu etcd[79262]: Git SHA: c92fb80f3
Feb 18 23:00:55 ubuntu etcd[79262]: Go Version: go1.19.10
Feb 18 23:00:55 ubuntu etcd[79262]: Go OS/Arch: linux/amd64
Feb 18 23:00:55 ubuntu etcd[79262]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Feb 18 23:00:55 ubuntu etcd[79262]: Running http and grpc server on single port. This is not recommended for production.
Feb 18 23:00:55 ubuntu etcd[79262]: name = ubuntu
Feb 18 23:00:55 ubuntu etcd[79262]: data dir = /opt/stack/data/etcd
Feb 18 23:00:55 ubuntu etcd[79262]: member dir = /opt/stack/data/etcd/member
Feb 18 23:00:55 ubuntu etcd[79262]: heartbeat = 100ms
Feb 18 23:00:55 ubuntu etcd[79262]: election = 1000ms
Feb 18 23:00:55 ubuntu etcd[79262]: snapshot count = 100000
Feb 18 23:00:55 ubuntu etcd[79262]: advertise client URLs = http://10.201.5.82:2379
Feb 18 23:00:55 ubuntu etcd[79262]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Feb 18 23:00:55 ubuntu etcd[79262]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Feb 18 23:00:55 ubuntu etcd[79262]: raft2025/02/18 23:00:55 INFO: 43038365673ccf7b switched to configuration voters=()
Feb 18 23:00:55 ubuntu etcd[79262]: raft2025/02/18 23:00:55 INFO: 43038365673ccf7b became follower at term 0
Feb 18 23:00:55 ubuntu etcd[79262]: raft2025/02/18 23:00:55 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Feb 18 23:00:55 ubuntu etcd[79262]: raft2025/02/18 23:00:55 INFO: 43038365673ccf7b became follower at term 1
Feb 18 23:00:55 ubuntu etcd[79262]: raft2025/02/18 23:00:55 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Feb 18 23:00:55 ubuntu etcd[79262]: simple token is not cryptographically signed
Feb 18 23:00:55 ubuntu etcd[79262]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Feb 18 23:00:55 ubuntu etcd[79262]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Feb 18 23:00:55 ubuntu etcd[79262]: raft2025/02/18 23:00:55 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Feb 18 23:00:55 ubuntu etcd[79262]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Feb 18 23:00:55 ubuntu etcd[79262]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Feb 18 23:00:55 ubuntu etcd[79262]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Feb 18 23:00:55 ubuntu etcd[79262]: listening for peers on [::]:2380
Feb 18 23:00:55 ubuntu etcd[79262]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Feb 18 23:00:55 ubuntu etcd[79262]: raft2025/02/18 23:00:55 INFO: 43038365673ccf7b is starting a new election at term 1
Feb 18 23:00:55 ubuntu etcd[79262]: raft2025/02/18 23:00:55 INFO: 43038365673ccf7b became candidate at term 2
Feb 18 23:00:55 ubuntu etcd[79262]: raft2025/02/18 23:00:55 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Feb 18 23:00:55 ubuntu etcd[79262]: raft2025/02/18 23:00:55 INFO: 43038365673ccf7b became leader at term 2
Feb 18 23:00:55 ubuntu etcd[79262]: raft2025/02/18 23:00:55 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Feb 18 23:00:55 ubuntu etcd[79262]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Feb 18 23:00:55 ubuntu etcd[79262]: setting up the initial cluster version to 3.4
Feb 18 23:00:55 ubuntu etcd[79262]: ready to serve client requests
Feb 18 23:00:55 ubuntu etcd[79262]: set the initial cluster version to 3.4
Feb 18 23:00:55 ubuntu etcd[79262]: enabled capabilities for version 3.4
Feb 18 23:00:55 ubuntu etcd[79262]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Feb 18 23:00:55 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Feb 18 23:05:41 ubuntu etcd[79262]: start time = 2025-02-18 23:05:41.978913934 +0000 UTC m=+286.604224683, time spent = 1.570982ms, remote = 10.201.5.82:56290, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 18 23:05:42 ubuntu etcd[79262]: start time = 2025-02-18 23:05:42.01285124 +0000 UTC m=+286.638162003, time spent = 382.539µs, remote = 10.201.5.82:56290, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 18 23:05:48 ubuntu etcd[79262]: start time = 2025-02-18 23:05:48.816662603 +0000 UTC m=+293.441973359, time spent = 215.856µs, remote = 10.201.5.82:56290, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 18 23:05:50 ubuntu etcd[79262]: start time = 2025-02-18 23:05:50.929064253 +0000 UTC m=+295.554375002, time spent = 372.435µs, remote = 10.201.5.82:56290, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 18 23:08:36 ubuntu etcd[79262]: start time = 2025-02-18 23:08:36.588077212 +0000 UTC m=+461.213387960, time spent = 584.653µs, remote = 10.201.5.82:56290, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 18 23:08:36 ubuntu etcd[79262]: start time = 2025-02-18 23:08:36.629768442 +0000 UTC m=+461.255079202, time spent = 282.527µs, remote = 10.201.5.82:56290, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 18 23:08:36 ubuntu etcd[79262]: start time = 2025-02-18 23:08:36.685666361 +0000 UTC m=+461.310977122, time spent = 314.341µs, remote = 10.201.5.82:56290, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 18 23:08:38 ubuntu etcd[79262]: start time = 2025-02-18 23:08:38.471610676 +0000 UTC m=+463.096921447, time spent = 313.829µs, remote = 10.201.5.82:56290, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 18 23:10:27 ubuntu etcd[79262]: start time = 2025-02-18 23:10:27.246165897 +0000 UTC m=+571.871476644, time spent = 314.304µs, remote = 10.201.5.82:56290, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 18 23:10:27 ubuntu etcd[79262]: start time = 2025-02-18 23:10:27.255038464 +0000 UTC m=+571.880349222, time spent = 705.673µs, remote = 10.201.5.82:56290, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-1171f643-aa73-443c-8a02-fabdb3350d18" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-1171f643-aa73-443c-8a02-fabdb3350d18" value_size:16 lease:5727335295586795801 >> failure:<request_range:<key:"/tooz/lockscinder-1171f643-aa73-443c-8a02-fabdb3350d18" > >
Feb 18 23:10:30 ubuntu etcd[79262]: start time = 2025-02-18 23:10:30.057649811 +0000 UTC m=+574.682960629, time spent = 2.141076ms, remote = 10.201.5.82:56290, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-1171f643-aa73-443c-8a02-fabdb3350d18" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-1171f643-aa73-443c-8a02-fabdb3350d18" > > failure:<>
Feb 18 23:10:30 ubuntu etcd[79262]: start time = 2025-02-18 23:10:30.388454503 +0000 UTC m=+575.013765366, time spent = 533.91µs, remote = 10.201.5.82:56290, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 18 23:10:30 ubuntu etcd[79262]: start time = 2025-02-18 23:10:30.391145821 +0000 UTC m=+575.016456582, time spent = 182.508µs, remote = 10.201.5.82:56290, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-1171f643-aa73-443c-8a02-fabdb3350d18" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-1171f643-aa73-443c-8a02-fabdb3350d18" value_size:16 lease:5727335295586795805 >> failure:<request_range:<key:"/tooz/lockscinder-1171f643-aa73-443c-8a02-fabdb3350d18" > >
Feb 18 23:10:32 ubuntu etcd[79262]: start time = 2025-02-18 23:10:32.306709622 +0000 UTC m=+576.932020445, time spent = 476.958µs, remote = 10.201.5.82:56290, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-1171f643-aa73-443c-8a02-fabdb3350d18" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-1171f643-aa73-443c-8a02-fabdb3350d18" > > failure:<>
Feb 18 23:10:32 ubuntu etcd[79262]: start time = 2025-02-18 23:10:32.63457646 +0000 UTC m=+577.259887323, time spent = 597.954µs, remote = 10.201.5.82:56290, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 18 23:10:32 ubuntu etcd[79262]: start time = 2025-02-18 23:10:32.637762919 +0000 UTC m=+577.263073783, time spent = 468.253µs, remote = 10.201.5.82:56290, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-1171f643-aa73-443c-8a02-fabdb3350d18" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-1171f643-aa73-443c-8a02-fabdb3350d18" value_size:16 lease:5727335295586795809 >> failure:<request_range:<key:"/tooz/lockscinder-1171f643-aa73-443c-8a02-fabdb3350d18" > >
Feb 18 23:10:34 ubuntu etcd[79262]: start time = 2025-02-18 23:10:34.653024937 +0000 UTC m=+579.278335801, time spent = 2.113364ms, remote = 10.201.5.82:56290, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-1171f643-aa73-443c-8a02-fabdb3350d18" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-1171f643-aa73-443c-8a02-fabdb3350d18" > > failure:<>
Feb 18 23:50:37 ubuntu etcd[79262]: start time = 2025-02-18 23:50:37.827198226 +0000 UTC m=+2982.452508982, time spent = 550.835µs, remote = 10.201.5.82:56290, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 18 23:50:37 ubuntu etcd[79262]: start time = 2025-02-18 23:50:37.830968993 +0000 UTC m=+2982.456279839, time spent = 801.789µs, remote = 10.201.5.82:56290, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-ff9a61ad-1461-44d0-b0e5-a272e5c25e79" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-ff9a61ad-1461-44d0-b0e5-a272e5c25e79" value_size:16 lease:5727335295586795816 >> failure:<request_range:<key:"/tooz/lockscinder-ff9a61ad-1461-44d0-b0e5-a272e5c25e79" > >
Feb 18 23:50:40 ubuntu etcd[79262]: start time = 2025-02-18 23:50:40.425677526 +0000 UTC m=+2985.050988381, time spent = 606.953µs, remote = 10.201.5.82:56290, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-ff9a61ad-1461-44d0-b0e5-a272e5c25e79" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-ff9a61ad-1461-44d0-b0e5-a272e5c25e79" > > failure:<>
Feb 18 23:50:40 ubuntu etcd[79262]: start time = 2025-02-18 23:50:40.629733772 +0000 UTC m=+2985.255044577, time spent = 1.135005ms, remote = 10.201.5.82:56290, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 18 23:50:40 ubuntu etcd[79262]: start time = 2025-02-18 23:50:40.634588873 +0000 UTC m=+2985.259899685, time spent = 742.462µs, remote = 10.201.5.82:56290, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-ff9a61ad-1461-44d0-b0e5-a272e5c25e79" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-ff9a61ad-1461-44d0-b0e5-a272e5c25e79" value_size:16 lease:5727335295586795820 >> failure:<request_range:<key:"/tooz/lockscinder-ff9a61ad-1461-44d0-b0e5-a272e5c25e79" > >
Feb 18 23:50:42 ubuntu etcd[79262]: start time = 2025-02-18 23:50:42.036636834 +0000 UTC m=+2986.661947602, time spent = 350.15µs, remote = 10.201.5.82:56290, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-ff9a61ad-1461-44d0-b0e5-a272e5c25e79" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-ff9a61ad-1461-44d0-b0e5-a272e5c25e79" > > failure:<>
Feb 18 23:50:42 ubuntu etcd[79262]: start time = 2025-02-18 23:50:42.293522229 +0000 UTC m=+2986.918833101, time spent = 449.498µs, remote = 10.201.5.82:56290, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 18 23:50:42 ubuntu etcd[79262]: start time = 2025-02-18 23:50:42.295841006 +0000 UTC m=+2986.921151764, time spent = 232.3µs, remote = 10.201.5.82:56290, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-ff9a61ad-1461-44d0-b0e5-a272e5c25e79" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-ff9a61ad-1461-44d0-b0e5-a272e5c25e79" value_size:16 lease:5727335295586795824 >> failure:<request_range:<key:"/tooz/lockscinder-ff9a61ad-1461-44d0-b0e5-a272e5c25e79" > >
Feb 18 23:50:55 ubuntu etcd[79262]: start time = 2025-02-18 23:50:55.086605512 +0000 UTC m=+2999.711916364, time spent = 553.04µs, remote = 10.201.5.82:56290, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-ff9a61ad-1461-44d0-b0e5-a272e5c25e79" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-ff9a61ad-1461-44d0-b0e5-a272e5c25e79" > > failure:<>
