Jan 15 14:36:05 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jan 15 14:36:05 ubuntu etcd[67895]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jan 15 14:36:05 ubuntu etcd[67895]:         A future release of golang/protobuf will delete this package,
Jan 15 14:36:05 ubuntu etcd[67895]:         which has long been excluded from the compatibility promise.
Jan 15 14:36:05 ubuntu etcd[67895]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 15 14:36:05 ubuntu etcd[67895]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 15 14:36:05 ubuntu etcd[67895]: Running http and grpc server on single port. This is not recommended for production.
Jan 15 14:36:05 ubuntu etcd[67895]: etcd Version: 3.4.27
Jan 15 14:36:05 ubuntu etcd[67895]: Git SHA: c92fb80f3
Jan 15 14:36:05 ubuntu etcd[67895]: Go Version: go1.19.10
Jan 15 14:36:05 ubuntu etcd[67895]: Go OS/Arch: linux/amd64
Jan 15 14:36:05 ubuntu etcd[67895]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jan 15 14:36:05 ubuntu etcd[67895]: Running http and grpc server on single port. This is not recommended for production.
Jan 15 14:36:05 ubuntu etcd[67895]: name = ubuntu
Jan 15 14:36:05 ubuntu etcd[67895]: data dir = /opt/stack/data/etcd
Jan 15 14:36:05 ubuntu etcd[67895]: member dir = /opt/stack/data/etcd/member
Jan 15 14:36:05 ubuntu etcd[67895]: heartbeat = 100ms
Jan 15 14:36:05 ubuntu etcd[67895]: election = 1000ms
Jan 15 14:36:05 ubuntu etcd[67895]: snapshot count = 100000
Jan 15 14:36:05 ubuntu etcd[67895]: advertise client URLs = http://10.201.5.82:2379
Jan 15 14:36:05 ubuntu etcd[67895]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jan 15 14:36:05 ubuntu etcd[67895]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jan 15 14:36:05 ubuntu etcd[67895]: raft2025/01/15 14:36:05 INFO: 43038365673ccf7b switched to configuration voters=()
Jan 15 14:36:05 ubuntu etcd[67895]: raft2025/01/15 14:36:05 INFO: 43038365673ccf7b became follower at term 0
Jan 15 14:36:05 ubuntu etcd[67895]: raft2025/01/15 14:36:05 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jan 15 14:36:05 ubuntu etcd[67895]: raft2025/01/15 14:36:05 INFO: 43038365673ccf7b became follower at term 1
Jan 15 14:36:05 ubuntu etcd[67895]: raft2025/01/15 14:36:05 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jan 15 14:36:05 ubuntu etcd[67895]: simple token is not cryptographically signed
Jan 15 14:36:05 ubuntu etcd[67895]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jan 15 14:36:05 ubuntu etcd[67895]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jan 15 14:36:05 ubuntu etcd[67895]: raft2025/01/15 14:36:05 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jan 15 14:36:05 ubuntu etcd[67895]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jan 15 14:36:05 ubuntu etcd[67895]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jan 15 14:36:05 ubuntu etcd[67895]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jan 15 14:36:05 ubuntu etcd[67895]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jan 15 14:36:05 ubuntu etcd[67895]: listening for peers on [::]:2380
Jan 15 14:36:06 ubuntu etcd[67895]: raft2025/01/15 14:36:06 INFO: 43038365673ccf7b is starting a new election at term 1
Jan 15 14:36:06 ubuntu etcd[67895]: raft2025/01/15 14:36:06 INFO: 43038365673ccf7b became candidate at term 2
Jan 15 14:36:06 ubuntu etcd[67895]: raft2025/01/15 14:36:06 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jan 15 14:36:06 ubuntu etcd[67895]: raft2025/01/15 14:36:06 INFO: 43038365673ccf7b became leader at term 2
Jan 15 14:36:06 ubuntu etcd[67895]: raft2025/01/15 14:36:06 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jan 15 14:36:06 ubuntu etcd[67895]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jan 15 14:36:06 ubuntu etcd[67895]: setting up the initial cluster version to 3.4
Jan 15 14:36:06 ubuntu etcd[67895]: ready to serve client requests
Jan 15 14:36:06 ubuntu etcd[67895]: set the initial cluster version to 3.4
Jan 15 14:36:06 ubuntu etcd[67895]: enabled capabilities for version 3.4
Jan 15 14:36:06 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jan 15 14:36:06 ubuntu etcd[67895]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jan 15 14:40:58 ubuntu etcd[67895]: start time = 2025-01-15 14:40:58.704766852 +0000 UTC m=+293.078160302, time spent = 1.026249ms, remote = 10.201.5.82:36688, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 15 14:40:58 ubuntu etcd[67895]: start time = 2025-01-15 14:40:58.878777866 +0000 UTC m=+293.252171306, time spent = 195.997µs, remote = 10.201.5.82:36688, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 15 14:41:05 ubuntu etcd[67895]: start time = 2025-01-15 14:41:05.564180319 +0000 UTC m=+299.937573755, time spent = 274.225µs, remote = 10.201.5.82:36688, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 15 14:41:07 ubuntu etcd[67895]: start time = 2025-01-15 14:41:07.633432731 +0000 UTC m=+302.006826184, time spent = 192.037µs, remote = 10.201.5.82:36688, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
