Mar 06 09:19:44 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 06 09:19:45 ubuntu etcd[65047]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 06 09:19:45 ubuntu etcd[65047]:         A future release of golang/protobuf will delete this package,
Mar 06 09:19:45 ubuntu etcd[65047]:         which has long been excluded from the compatibility promise.
Mar 06 09:19:45 ubuntu etcd[65047]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 06 09:19:45 ubuntu etcd[65047]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 06 09:19:45 ubuntu etcd[65047]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 06 09:19:45 ubuntu etcd[65047]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 06 09:19:45 ubuntu etcd[65047]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 06 09:19:45 ubuntu etcd[65047]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 06 09:19:45 ubuntu etcd[65047]: Running http and grpc server on single port. This is not recommended for production.
Mar 06 09:19:45 ubuntu etcd[65047]: etcd Version: 3.4.27
Mar 06 09:19:45 ubuntu etcd[65047]: Git SHA: c92fb80f3
Mar 06 09:19:45 ubuntu etcd[65047]: Go Version: go1.19.10
Mar 06 09:19:45 ubuntu etcd[65047]: Go OS/Arch: linux/amd64
Mar 06 09:19:45 ubuntu etcd[65047]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 06 09:19:45 ubuntu etcd[65047]: Running http and grpc server on single port. This is not recommended for production.
Mar 06 09:19:45 ubuntu etcd[65047]: name = ubuntu
Mar 06 09:19:45 ubuntu etcd[65047]: data dir = /opt/stack/data/etcd
Mar 06 09:19:45 ubuntu etcd[65047]: member dir = /opt/stack/data/etcd/member
Mar 06 09:19:45 ubuntu etcd[65047]: heartbeat = 100ms
Mar 06 09:19:45 ubuntu etcd[65047]: election = 1000ms
Mar 06 09:19:45 ubuntu etcd[65047]: snapshot count = 100000
Mar 06 09:19:45 ubuntu etcd[65047]: advertise client URLs = http://10.201.5.82:2379
Mar 06 09:19:45 ubuntu etcd[65047]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 06 09:19:45 ubuntu etcd[65047]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Mar 06 09:19:45 ubuntu etcd[65047]: raft2024/03/06 09:19:45 INFO: 43038365673ccf7b switched to configuration voters=()
Mar 06 09:19:45 ubuntu etcd[65047]: raft2024/03/06 09:19:45 INFO: 43038365673ccf7b became follower at term 0
Mar 06 09:19:45 ubuntu etcd[65047]: raft2024/03/06 09:19:45 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 06 09:19:45 ubuntu etcd[65047]: raft2024/03/06 09:19:45 INFO: 43038365673ccf7b became follower at term 1
Mar 06 09:19:45 ubuntu etcd[65047]: raft2024/03/06 09:19:45 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 06 09:19:45 ubuntu etcd[65047]: simple token is not cryptographically signed
Mar 06 09:19:45 ubuntu etcd[65047]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 06 09:19:45 ubuntu etcd[65047]: raft2024/03/06 09:19:45 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 06 09:19:45 ubuntu etcd[65047]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 06 09:19:45 ubuntu etcd[65047]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 06 09:19:45 ubuntu etcd[65047]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 06 09:19:45 ubuntu etcd[65047]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 06 09:19:45 ubuntu etcd[65047]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Mar 06 09:19:45 ubuntu etcd[65047]: listening for peers on [::]:2380
Mar 06 09:19:45 ubuntu etcd[65047]: raft2024/03/06 09:19:45 INFO: 43038365673ccf7b is starting a new election at term 1
Mar 06 09:19:45 ubuntu etcd[65047]: raft2024/03/06 09:19:45 INFO: 43038365673ccf7b became candidate at term 2
Mar 06 09:19:45 ubuntu etcd[65047]: raft2024/03/06 09:19:45 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Mar 06 09:19:45 ubuntu etcd[65047]: raft2024/03/06 09:19:45 INFO: 43038365673ccf7b became leader at term 2
Mar 06 09:19:45 ubuntu etcd[65047]: raft2024/03/06 09:19:45 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Mar 06 09:19:45 ubuntu etcd[65047]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Mar 06 09:19:45 ubuntu etcd[65047]: setting up the initial cluster version to 3.4
Mar 06 09:19:45 ubuntu etcd[65047]: INFO: 2024/03/06 09:19:45 parsed scheme: ""
Mar 06 09:19:45 ubuntu etcd[65047]: INFO: 2024/03/06 09:19:45 scheme "" not registered, fallback to default scheme
Mar 06 09:19:45 ubuntu etcd[65047]: INFO: 2024/03/06 09:19:45 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Mar 06 09:19:45 ubuntu etcd[65047]: INFO: 2024/03/06 09:19:45 ClientConn switching balancer to "pick_first"
Mar 06 09:19:45 ubuntu etcd[65047]: ready to serve client requests
Mar 06 09:19:45 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 06 09:19:45 ubuntu etcd[65047]: set the initial cluster version to 3.4
Mar 06 09:19:45 ubuntu etcd[65047]: enabled capabilities for version 3.4
Mar 06 09:19:45 ubuntu etcd[65047]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Mar 06 09:27:52 ubuntu etcd[65047]: start time = 2024-03-06 09:27:52.902201769 +0000 UTC m=+487.911226730, time spent = 867.793µs, remote = 10.201.5.82:58456, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 06 09:27:52 ubuntu etcd[65047]: start time = 2024-03-06 09:27:52.988455772 +0000 UTC m=+487.997480723, time spent = 185.137µs, remote = 10.201.5.82:58456, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 06 09:27:59 ubuntu etcd[65047]: start time = 2024-03-06 09:27:59.578225209 +0000 UTC m=+494.587250164, time spent = 265.452µs, remote = 10.201.5.82:58456, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 06 09:28:01 ubuntu etcd[65047]: start time = 2024-03-06 09:28:01.55366108 +0000 UTC m=+496.562686033, time spent = 352.393µs, remote = 10.201.5.82:58456, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
