Sep 26 06:28:13 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Sep 26 06:28:14 ubuntu etcd[68622]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Sep 26 06:28:14 ubuntu etcd[68622]:         A future release of golang/protobuf will delete this package,
Sep 26 06:28:14 ubuntu etcd[68622]:         which has long been excluded from the compatibility promise.
Sep 26 06:28:14 ubuntu etcd[68622]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Sep 26 06:28:14 ubuntu etcd[68622]: Running http and grpc server on single port. This is not recommended for production.
Sep 26 06:28:14 ubuntu etcd[68622]: etcd Version: 3.4.27
Sep 26 06:28:14 ubuntu etcd[68622]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Sep 26 06:28:14 ubuntu etcd[68622]: Git SHA: c92fb80f3
Sep 26 06:28:14 ubuntu etcd[68622]: Go Version: go1.19.10
Sep 26 06:28:14 ubuntu etcd[68622]: Go OS/Arch: linux/amd64
Sep 26 06:28:14 ubuntu etcd[68622]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Sep 26 06:28:14 ubuntu etcd[68622]: Running http and grpc server on single port. This is not recommended for production.
Sep 26 06:28:14 ubuntu etcd[68622]: name = ubuntu
Sep 26 06:28:14 ubuntu etcd[68622]: data dir = /opt/stack/data/etcd
Sep 26 06:28:14 ubuntu etcd[68622]: member dir = /opt/stack/data/etcd/member
Sep 26 06:28:14 ubuntu etcd[68622]: heartbeat = 100ms
Sep 26 06:28:14 ubuntu etcd[68622]: election = 1000ms
Sep 26 06:28:14 ubuntu etcd[68622]: snapshot count = 100000
Sep 26 06:28:14 ubuntu etcd[68622]: advertise client URLs = http://10.201.5.82:2379
Sep 26 06:28:14 ubuntu etcd[68622]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Sep 26 06:28:14 ubuntu etcd[68622]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Sep 26 06:28:14 ubuntu etcd[68622]: raft2024/09/26 06:28:14 INFO: 43038365673ccf7b switched to configuration voters=()
Sep 26 06:28:14 ubuntu etcd[68622]: raft2024/09/26 06:28:14 INFO: 43038365673ccf7b became follower at term 0
Sep 26 06:28:14 ubuntu etcd[68622]: raft2024/09/26 06:28:14 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Sep 26 06:28:14 ubuntu etcd[68622]: raft2024/09/26 06:28:14 INFO: 43038365673ccf7b became follower at term 1
Sep 26 06:28:14 ubuntu etcd[68622]: raft2024/09/26 06:28:14 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Sep 26 06:28:14 ubuntu etcd[68622]: simple token is not cryptographically signed
Sep 26 06:28:14 ubuntu etcd[68622]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Sep 26 06:28:14 ubuntu etcd[68622]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Sep 26 06:28:14 ubuntu etcd[68622]: raft2024/09/26 06:28:14 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Sep 26 06:28:14 ubuntu etcd[68622]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Sep 26 06:28:14 ubuntu etcd[68622]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Sep 26 06:28:14 ubuntu etcd[68622]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Sep 26 06:28:14 ubuntu etcd[68622]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Sep 26 06:28:14 ubuntu etcd[68622]: listening for peers on [::]:2380
Sep 26 06:28:14 ubuntu etcd[68622]: raft2024/09/26 06:28:14 INFO: 43038365673ccf7b is starting a new election at term 1
Sep 26 06:28:14 ubuntu etcd[68622]: raft2024/09/26 06:28:14 INFO: 43038365673ccf7b became candidate at term 2
Sep 26 06:28:14 ubuntu etcd[68622]: raft2024/09/26 06:28:14 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Sep 26 06:28:14 ubuntu etcd[68622]: raft2024/09/26 06:28:14 INFO: 43038365673ccf7b became leader at term 2
Sep 26 06:28:14 ubuntu etcd[68622]: raft2024/09/26 06:28:14 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Sep 26 06:28:14 ubuntu etcd[68622]: setting up the initial cluster version to 3.4
Sep 26 06:28:14 ubuntu etcd[68622]: set the initial cluster version to 3.4
Sep 26 06:28:14 ubuntu etcd[68622]: enabled capabilities for version 3.4
Sep 26 06:28:14 ubuntu etcd[68622]: ready to serve client requests
Sep 26 06:28:14 ubuntu etcd[68622]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Sep 26 06:28:14 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Sep 26 06:28:14 ubuntu etcd[68622]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Sep 26 06:33:05 ubuntu etcd[68622]: start time = 2024-09-26 06:33:05.97745998 +0000 UTC m=+291.987962901, time spent = 1.172242ms, remote = 10.201.5.82:55100, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 26 06:33:06 ubuntu etcd[68622]: start time = 2024-09-26 06:33:06.02027923 +0000 UTC m=+292.030782150, time spent = 226.914µs, remote = 10.201.5.82:55100, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 26 06:33:13 ubuntu etcd[68622]: start time = 2024-09-26 06:33:13.175037152 +0000 UTC m=+299.185540075, time spent = 313.967µs, remote = 10.201.5.82:55100, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 26 06:33:15 ubuntu etcd[68622]: start time = 2024-09-26 06:33:15.205539339 +0000 UTC m=+301.216042264, time spent = 219.38µs, remote = 10.201.5.82:55100, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
