Mar 11 10:18:09 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 11 10:18:09 ubuntu etcd[79117]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 11 10:18:09 ubuntu etcd[79117]:         A future release of golang/protobuf will delete this package,
Mar 11 10:18:09 ubuntu etcd[79117]:         which has long been excluded from the compatibility promise.
Mar 11 10:18:09 ubuntu etcd[79117]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 11 10:18:09 ubuntu etcd[79117]: Running http and grpc server on single port. This is not recommended for production.
Mar 11 10:18:09 ubuntu etcd[79117]: etcd Version: 3.4.27
Mar 11 10:18:09 ubuntu etcd[79117]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 11 10:18:09 ubuntu etcd[79117]: Git SHA: c92fb80f3
Mar 11 10:18:09 ubuntu etcd[79117]: Go Version: go1.19.10
Mar 11 10:18:09 ubuntu etcd[79117]: Go OS/Arch: linux/amd64
Mar 11 10:18:09 ubuntu etcd[79117]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 11 10:18:09 ubuntu etcd[79117]: Running http and grpc server on single port. This is not recommended for production.
Mar 11 10:18:09 ubuntu etcd[79117]: name = ubuntu
Mar 11 10:18:09 ubuntu etcd[79117]: data dir = /opt/stack/data/etcd
Mar 11 10:18:09 ubuntu etcd[79117]: member dir = /opt/stack/data/etcd/member
Mar 11 10:18:09 ubuntu etcd[79117]: heartbeat = 100ms
Mar 11 10:18:09 ubuntu etcd[79117]: election = 1000ms
Mar 11 10:18:09 ubuntu etcd[79117]: snapshot count = 100000
Mar 11 10:18:09 ubuntu etcd[79117]: advertise client URLs = http://10.201.5.82:2379
Mar 11 10:18:09 ubuntu etcd[79117]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 11 10:18:09 ubuntu etcd[79117]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Mar 11 10:18:09 ubuntu etcd[79117]: raft2025/03/11 10:18:09 INFO: 43038365673ccf7b switched to configuration voters=()
Mar 11 10:18:09 ubuntu etcd[79117]: raft2025/03/11 10:18:09 INFO: 43038365673ccf7b became follower at term 0
Mar 11 10:18:09 ubuntu etcd[79117]: raft2025/03/11 10:18:09 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 11 10:18:09 ubuntu etcd[79117]: raft2025/03/11 10:18:09 INFO: 43038365673ccf7b became follower at term 1
Mar 11 10:18:09 ubuntu etcd[79117]: raft2025/03/11 10:18:09 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 11 10:18:09 ubuntu etcd[79117]: simple token is not cryptographically signed
Mar 11 10:18:09 ubuntu etcd[79117]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 11 10:18:09 ubuntu etcd[79117]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 11 10:18:09 ubuntu etcd[79117]: raft2025/03/11 10:18:09 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 11 10:18:09 ubuntu etcd[79117]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Mar 11 10:18:09 ubuntu etcd[79117]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 11 10:18:09 ubuntu etcd[79117]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 11 10:18:09 ubuntu etcd[79117]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 11 10:18:09 ubuntu etcd[79117]: listening for peers on [::]:2380
Mar 11 10:18:09 ubuntu etcd[79117]: raft2025/03/11 10:18:09 INFO: 43038365673ccf7b is starting a new election at term 1
Mar 11 10:18:09 ubuntu etcd[79117]: raft2025/03/11 10:18:09 INFO: 43038365673ccf7b became candidate at term 2
Mar 11 10:18:09 ubuntu etcd[79117]: raft2025/03/11 10:18:09 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Mar 11 10:18:09 ubuntu etcd[79117]: raft2025/03/11 10:18:09 INFO: 43038365673ccf7b became leader at term 2
Mar 11 10:18:09 ubuntu etcd[79117]: raft2025/03/11 10:18:09 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Mar 11 10:18:09 ubuntu etcd[79117]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Mar 11 10:18:09 ubuntu etcd[79117]: ready to serve client requests
Mar 11 10:18:09 ubuntu etcd[79117]: setting up the initial cluster version to 3.4
Mar 11 10:18:09 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 11 10:18:09 ubuntu etcd[79117]: set the initial cluster version to 3.4
Mar 11 10:18:09 ubuntu etcd[79117]: enabled capabilities for version 3.4
Mar 11 10:18:09 ubuntu etcd[79117]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Mar 11 10:23:00 ubuntu etcd[79117]: start time = 2025-03-11 10:23:00.177499348 +0000 UTC m=+290.716257689, time spent = 1.262018ms, remote = 10.201.5.82:57970, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 11 10:23:00 ubuntu etcd[79117]: start time = 2025-03-11 10:23:00.17676219 +0000 UTC m=+290.715520522, time spent = 2.17097ms, remote = 10.201.5.82:57970, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 11 10:23:06 ubuntu etcd[79117]: start time = 2025-03-11 10:23:06.938048387 +0000 UTC m=+297.476806736, time spent = 213.195µs, remote = 10.201.5.82:57970, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 11 10:23:08 ubuntu etcd[79117]: start time = 2025-03-11 10:23:08.924089499 +0000 UTC m=+299.462847831, time spent = 415.444µs, remote = 10.201.5.82:57970, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
