Mar 11 18:15:51 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 11 18:15:51 ubuntu etcd[79086]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 11 18:15:51 ubuntu etcd[79086]:         A future release of golang/protobuf will delete this package,
Mar 11 18:15:51 ubuntu etcd[79086]:         which has long been excluded from the compatibility promise.
Mar 11 18:15:51 ubuntu etcd[79086]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 11 18:15:51 ubuntu etcd[79086]: Running http and grpc server on single port. This is not recommended for production.
Mar 11 18:15:51 ubuntu etcd[79086]: etcd Version: 3.4.27
Mar 11 18:15:51 ubuntu etcd[79086]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 11 18:15:51 ubuntu etcd[79086]: Git SHA: c92fb80f3
Mar 11 18:15:51 ubuntu etcd[79086]: Go Version: go1.19.10
Mar 11 18:15:51 ubuntu etcd[79086]: Go OS/Arch: linux/amd64
Mar 11 18:15:51 ubuntu etcd[79086]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 11 18:15:51 ubuntu etcd[79086]: Running http and grpc server on single port. This is not recommended for production.
Mar 11 18:15:51 ubuntu etcd[79086]: name = ubuntu
Mar 11 18:15:51 ubuntu etcd[79086]: data dir = /opt/stack/data/etcd
Mar 11 18:15:51 ubuntu etcd[79086]: member dir = /opt/stack/data/etcd/member
Mar 11 18:15:51 ubuntu etcd[79086]: heartbeat = 100ms
Mar 11 18:15:51 ubuntu etcd[79086]: election = 1000ms
Mar 11 18:15:51 ubuntu etcd[79086]: snapshot count = 100000
Mar 11 18:15:51 ubuntu etcd[79086]: advertise client URLs = http://10.201.5.82:2379
Mar 11 18:15:51 ubuntu etcd[79086]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 11 18:15:51 ubuntu etcd[79086]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Mar 11 18:15:51 ubuntu etcd[79086]: raft2025/03/11 18:15:51 INFO: 43038365673ccf7b switched to configuration voters=()
Mar 11 18:15:51 ubuntu etcd[79086]: raft2025/03/11 18:15:51 INFO: 43038365673ccf7b became follower at term 0
Mar 11 18:15:51 ubuntu etcd[79086]: raft2025/03/11 18:15:51 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 11 18:15:51 ubuntu etcd[79086]: raft2025/03/11 18:15:51 INFO: 43038365673ccf7b became follower at term 1
Mar 11 18:15:51 ubuntu etcd[79086]: raft2025/03/11 18:15:51 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 11 18:15:51 ubuntu etcd[79086]: simple token is not cryptographically signed
Mar 11 18:15:51 ubuntu etcd[79086]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 11 18:15:51 ubuntu etcd[79086]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 11 18:15:51 ubuntu etcd[79086]: listening for peers on [::]:2380
Mar 11 18:15:51 ubuntu etcd[79086]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 11 18:15:51 ubuntu etcd[79086]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 11 18:15:51 ubuntu etcd[79086]: raft2025/03/11 18:15:51 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 11 18:15:51 ubuntu etcd[79086]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 11 18:15:51 ubuntu etcd[79086]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Mar 11 18:15:52 ubuntu etcd[79086]: raft2025/03/11 18:15:52 INFO: 43038365673ccf7b is starting a new election at term 1
Mar 11 18:15:52 ubuntu etcd[79086]: raft2025/03/11 18:15:52 INFO: 43038365673ccf7b became candidate at term 2
Mar 11 18:15:52 ubuntu etcd[79086]: raft2025/03/11 18:15:52 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Mar 11 18:15:52 ubuntu etcd[79086]: raft2025/03/11 18:15:52 INFO: 43038365673ccf7b became leader at term 2
Mar 11 18:15:52 ubuntu etcd[79086]: raft2025/03/11 18:15:52 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Mar 11 18:15:52 ubuntu etcd[79086]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Mar 11 18:15:52 ubuntu etcd[79086]: setting up the initial cluster version to 3.4
Mar 11 18:15:52 ubuntu etcd[79086]: ready to serve client requests
Mar 11 18:15:52 ubuntu etcd[79086]: set the initial cluster version to 3.4
Mar 11 18:15:52 ubuntu etcd[79086]: enabled capabilities for version 3.4
Mar 11 18:15:52 ubuntu etcd[79086]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Mar 11 18:15:52 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 11 18:20:33 ubuntu etcd[79086]: start time = 2025-03-11 18:20:33.480136961 +0000 UTC m=+281.648551081, time spent = 1.950445ms, remote = 10.201.5.82:42950, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 11 18:20:33 ubuntu etcd[79086]: start time = 2025-03-11 18:20:33.502252516 +0000 UTC m=+281.670666642, time spent = 189.737µs, remote = 10.201.5.82:42950, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 11 18:20:40 ubuntu etcd[79086]: start time = 2025-03-11 18:20:40.44526219 +0000 UTC m=+288.613676321, time spent = 702.884µs, remote = 10.201.5.82:42950, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 11 18:20:42 ubuntu etcd[79086]: start time = 2025-03-11 18:20:42.293674818 +0000 UTC m=+290.462088944, time spent = 179.126µs, remote = 10.201.5.82:42950, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
