Sep 02 01:48:34 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Sep 02 01:48:34 ubuntu etcd[68159]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Sep 02 01:48:34 ubuntu etcd[68159]:         A future release of golang/protobuf will delete this package,
Sep 02 01:48:34 ubuntu etcd[68159]:         which has long been excluded from the compatibility promise.
Sep 02 01:48:34 ubuntu etcd[68159]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Sep 02 01:48:34 ubuntu etcd[68159]: Running http and grpc server on single port. This is not recommended for production.
Sep 02 01:48:34 ubuntu etcd[68159]: etcd Version: 3.4.27
Sep 02 01:48:34 ubuntu etcd[68159]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Sep 02 01:48:34 ubuntu etcd[68159]: Git SHA: c92fb80f3
Sep 02 01:48:34 ubuntu etcd[68159]: Go Version: go1.19.10
Sep 02 01:48:34 ubuntu etcd[68159]: Go OS/Arch: linux/amd64
Sep 02 01:48:34 ubuntu etcd[68159]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Sep 02 01:48:34 ubuntu etcd[68159]: Running http and grpc server on single port. This is not recommended for production.
Sep 02 01:48:34 ubuntu etcd[68159]: name = ubuntu
Sep 02 01:48:34 ubuntu etcd[68159]: data dir = /opt/stack/data/etcd
Sep 02 01:48:34 ubuntu etcd[68159]: member dir = /opt/stack/data/etcd/member
Sep 02 01:48:34 ubuntu etcd[68159]: heartbeat = 100ms
Sep 02 01:48:34 ubuntu etcd[68159]: election = 1000ms
Sep 02 01:48:34 ubuntu etcd[68159]: snapshot count = 100000
Sep 02 01:48:34 ubuntu etcd[68159]: advertise client URLs = http://10.201.5.82:2379
Sep 02 01:48:34 ubuntu etcd[68159]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Sep 02 01:48:34 ubuntu etcd[68159]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Sep 02 01:48:34 ubuntu etcd[68159]: raft2024/09/02 01:48:34 INFO: 43038365673ccf7b switched to configuration voters=()
Sep 02 01:48:34 ubuntu etcd[68159]: raft2024/09/02 01:48:34 INFO: 43038365673ccf7b became follower at term 0
Sep 02 01:48:34 ubuntu etcd[68159]: raft2024/09/02 01:48:34 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Sep 02 01:48:34 ubuntu etcd[68159]: raft2024/09/02 01:48:34 INFO: 43038365673ccf7b became follower at term 1
Sep 02 01:48:34 ubuntu etcd[68159]: raft2024/09/02 01:48:34 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Sep 02 01:48:34 ubuntu etcd[68159]: simple token is not cryptographically signed
Sep 02 01:48:34 ubuntu etcd[68159]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Sep 02 01:48:34 ubuntu etcd[68159]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Sep 02 01:48:34 ubuntu etcd[68159]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Sep 02 01:48:34 ubuntu etcd[68159]: raft2024/09/02 01:48:34 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Sep 02 01:48:34 ubuntu etcd[68159]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Sep 02 01:48:34 ubuntu etcd[68159]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Sep 02 01:48:34 ubuntu etcd[68159]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Sep 02 01:48:34 ubuntu etcd[68159]: listening for peers on [::]:2380
Sep 02 01:48:35 ubuntu etcd[68159]: raft2024/09/02 01:48:35 INFO: 43038365673ccf7b is starting a new election at term 1
Sep 02 01:48:35 ubuntu etcd[68159]: raft2024/09/02 01:48:35 INFO: 43038365673ccf7b became candidate at term 2
Sep 02 01:48:35 ubuntu etcd[68159]: raft2024/09/02 01:48:35 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Sep 02 01:48:35 ubuntu etcd[68159]: raft2024/09/02 01:48:35 INFO: 43038365673ccf7b became leader at term 2
Sep 02 01:48:35 ubuntu etcd[68159]: raft2024/09/02 01:48:35 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Sep 02 01:48:35 ubuntu etcd[68159]: setting up the initial cluster version to 3.4
Sep 02 01:48:35 ubuntu etcd[68159]: ready to serve client requests
Sep 02 01:48:35 ubuntu etcd[68159]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Sep 02 01:48:35 ubuntu etcd[68159]: set the initial cluster version to 3.4
Sep 02 01:48:35 ubuntu etcd[68159]: enabled capabilities for version 3.4
Sep 02 01:48:35 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Sep 02 01:48:35 ubuntu etcd[68159]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Sep 02 01:53:36 ubuntu etcd[68159]: start time = 2024-09-02 01:53:36.20605586 +0000 UTC m=+301.304158199, time spent = 1.367808ms, remote = 10.201.5.82:41234, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 02 01:53:36 ubuntu etcd[68159]: start time = 2024-09-02 01:53:36.217075542 +0000 UTC m=+301.315177881, time spent = 278.609µs, remote = 10.201.5.82:41234, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 02 01:53:43 ubuntu etcd[68159]: start time = 2024-09-02 01:53:43.302750538 +0000 UTC m=+308.400852878, time spent = 228.174µs, remote = 10.201.5.82:41234, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 02 01:53:45 ubuntu etcd[68159]: start time = 2024-09-02 01:53:45.611799038 +0000 UTC m=+310.709901376, time spent = 511.418µs, remote = 10.201.5.82:41234, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
