Mar 20 01:45:02 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 20 01:45:02 ubuntu etcd[66035]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 20 01:45:02 ubuntu etcd[66035]:         A future release of golang/protobuf will delete this package,
Mar 20 01:45:02 ubuntu etcd[66035]:         which has long been excluded from the compatibility promise.
Mar 20 01:45:02 ubuntu etcd[66035]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 20 01:45:02 ubuntu etcd[66035]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 20 01:45:02 ubuntu etcd[66035]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 20 01:45:02 ubuntu etcd[66035]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 20 01:45:02 ubuntu etcd[66035]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 20 01:45:02 ubuntu etcd[66035]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 20 01:45:02 ubuntu etcd[66035]: Running http and grpc server on single port. This is not recommended for production.
Mar 20 01:45:02 ubuntu etcd[66035]: etcd Version: 3.4.27
Mar 20 01:45:02 ubuntu etcd[66035]: Git SHA: c92fb80f3
Mar 20 01:45:02 ubuntu etcd[66035]: Go Version: go1.19.10
Mar 20 01:45:02 ubuntu etcd[66035]: Go OS/Arch: linux/amd64
Mar 20 01:45:02 ubuntu etcd[66035]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 20 01:45:02 ubuntu etcd[66035]: Running http and grpc server on single port. This is not recommended for production.
Mar 20 01:45:02 ubuntu etcd[66035]: name = ubuntu
Mar 20 01:45:02 ubuntu etcd[66035]: data dir = /opt/stack/data/etcd
Mar 20 01:45:02 ubuntu etcd[66035]: member dir = /opt/stack/data/etcd/member
Mar 20 01:45:02 ubuntu etcd[66035]: heartbeat = 100ms
Mar 20 01:45:02 ubuntu etcd[66035]: election = 1000ms
Mar 20 01:45:02 ubuntu etcd[66035]: snapshot count = 100000
Mar 20 01:45:02 ubuntu etcd[66035]: advertise client URLs = http://10.201.5.82:2379
Mar 20 01:45:02 ubuntu etcd[66035]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 20 01:45:02 ubuntu etcd[66035]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Mar 20 01:45:02 ubuntu etcd[66035]: raft2024/03/20 01:45:02 INFO: 43038365673ccf7b switched to configuration voters=()
Mar 20 01:45:02 ubuntu etcd[66035]: raft2024/03/20 01:45:02 INFO: 43038365673ccf7b became follower at term 0
Mar 20 01:45:02 ubuntu etcd[66035]: raft2024/03/20 01:45:02 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 20 01:45:02 ubuntu etcd[66035]: raft2024/03/20 01:45:02 INFO: 43038365673ccf7b became follower at term 1
Mar 20 01:45:02 ubuntu etcd[66035]: raft2024/03/20 01:45:02 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 20 01:45:02 ubuntu etcd[66035]: simple token is not cryptographically signed
Mar 20 01:45:02 ubuntu etcd[66035]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 20 01:45:02 ubuntu etcd[66035]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 20 01:45:02 ubuntu etcd[66035]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 20 01:45:02 ubuntu etcd[66035]: raft2024/03/20 01:45:02 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 20 01:45:02 ubuntu etcd[66035]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 20 01:45:02 ubuntu etcd[66035]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 20 01:45:02 ubuntu etcd[66035]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Mar 20 01:45:02 ubuntu etcd[66035]: listening for peers on [::]:2380
Mar 20 01:45:02 ubuntu etcd[66035]: raft2024/03/20 01:45:02 INFO: 43038365673ccf7b is starting a new election at term 1
Mar 20 01:45:02 ubuntu etcd[66035]: raft2024/03/20 01:45:02 INFO: 43038365673ccf7b became candidate at term 2
Mar 20 01:45:02 ubuntu etcd[66035]: raft2024/03/20 01:45:02 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Mar 20 01:45:02 ubuntu etcd[66035]: raft2024/03/20 01:45:02 INFO: 43038365673ccf7b became leader at term 2
Mar 20 01:45:02 ubuntu etcd[66035]: raft2024/03/20 01:45:02 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Mar 20 01:45:02 ubuntu etcd[66035]: setting up the initial cluster version to 3.4
Mar 20 01:45:02 ubuntu etcd[66035]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Mar 20 01:45:02 ubuntu etcd[66035]: set the initial cluster version to 3.4
Mar 20 01:45:02 ubuntu etcd[66035]: INFO: 2024/03/20 01:45:02 parsed scheme: ""
Mar 20 01:45:02 ubuntu etcd[66035]: INFO: 2024/03/20 01:45:02 scheme "" not registered, fallback to default scheme
Mar 20 01:45:02 ubuntu etcd[66035]: ready to serve client requests
Mar 20 01:45:02 ubuntu etcd[66035]: INFO: 2024/03/20 01:45:02 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Mar 20 01:45:02 ubuntu etcd[66035]: INFO: 2024/03/20 01:45:02 ClientConn switching balancer to "pick_first"
Mar 20 01:45:02 ubuntu etcd[66035]: enabled capabilities for version 3.4
Mar 20 01:45:02 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 20 01:45:02 ubuntu etcd[66035]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Mar 20 01:51:33 ubuntu etcd[66035]: start time = 2024-03-20 01:51:33.565835804 +0000 UTC m=+391.369279174, time spent = 1.603461ms, remote = 10.201.5.82:56414, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 20 01:51:33 ubuntu etcd[66035]: start time = 2024-03-20 01:51:33.62411061 +0000 UTC m=+391.427553991, time spent = 221.6µs, remote = 10.201.5.82:56414, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 20 01:51:40 ubuntu etcd[66035]: start time = 2024-03-20 01:51:40.772093553 +0000 UTC m=+398.575536933, time spent = 172.743µs, remote = 10.201.5.82:56414, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 20 01:51:43 ubuntu etcd[66035]: start time = 2024-03-20 01:51:42.999972077 +0000 UTC m=+400.803415457, time spent = 401.686µs, remote = 10.201.5.82:56414, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
