Nov 22 10:49:48 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Nov 22 10:49:49 ubuntu etcd[67473]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Nov 22 10:49:49 ubuntu etcd[67473]:         A future release of golang/protobuf will delete this package,
Nov 22 10:49:49 ubuntu etcd[67473]:         which has long been excluded from the compatibility promise.
Nov 22 10:49:49 ubuntu etcd[67473]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Nov 22 10:49:49 ubuntu etcd[67473]: Running http and grpc server on single port. This is not recommended for production.
Nov 22 10:49:49 ubuntu etcd[67473]: etcd Version: 3.4.27
Nov 22 10:49:49 ubuntu etcd[67473]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Nov 22 10:49:49 ubuntu etcd[67473]: Git SHA: c92fb80f3
Nov 22 10:49:49 ubuntu etcd[67473]: Go Version: go1.19.10
Nov 22 10:49:49 ubuntu etcd[67473]: Go OS/Arch: linux/amd64
Nov 22 10:49:49 ubuntu etcd[67473]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Nov 22 10:49:49 ubuntu etcd[67473]: Running http and grpc server on single port. This is not recommended for production.
Nov 22 10:49:49 ubuntu etcd[67473]: name = ubuntu
Nov 22 10:49:49 ubuntu etcd[67473]: data dir = /opt/stack/data/etcd
Nov 22 10:49:49 ubuntu etcd[67473]: member dir = /opt/stack/data/etcd/member
Nov 22 10:49:49 ubuntu etcd[67473]: heartbeat = 100ms
Nov 22 10:49:49 ubuntu etcd[67473]: election = 1000ms
Nov 22 10:49:49 ubuntu etcd[67473]: snapshot count = 100000
Nov 22 10:49:49 ubuntu etcd[67473]: advertise client URLs = http://10.201.5.82:2379
Nov 22 10:49:49 ubuntu etcd[67473]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Nov 22 10:49:49 ubuntu etcd[67473]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Nov 22 10:49:49 ubuntu etcd[67473]: raft2024/11/22 10:49:49 INFO: 43038365673ccf7b switched to configuration voters=()
Nov 22 10:49:49 ubuntu etcd[67473]: raft2024/11/22 10:49:49 INFO: 43038365673ccf7b became follower at term 0
Nov 22 10:49:49 ubuntu etcd[67473]: raft2024/11/22 10:49:49 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Nov 22 10:49:49 ubuntu etcd[67473]: raft2024/11/22 10:49:49 INFO: 43038365673ccf7b became follower at term 1
Nov 22 10:49:49 ubuntu etcd[67473]: raft2024/11/22 10:49:49 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Nov 22 10:49:49 ubuntu etcd[67473]: simple token is not cryptographically signed
Nov 22 10:49:49 ubuntu etcd[67473]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Nov 22 10:49:49 ubuntu etcd[67473]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Nov 22 10:49:49 ubuntu etcd[67473]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Nov 22 10:49:49 ubuntu etcd[67473]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Nov 22 10:49:49 ubuntu etcd[67473]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Nov 22 10:49:49 ubuntu etcd[67473]: raft2024/11/22 10:49:49 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Nov 22 10:49:49 ubuntu etcd[67473]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Nov 22 10:49:49 ubuntu etcd[67473]: listening for peers on [::]:2380
Nov 22 10:49:49 ubuntu etcd[67473]: raft2024/11/22 10:49:49 INFO: 43038365673ccf7b is starting a new election at term 1
Nov 22 10:49:49 ubuntu etcd[67473]: raft2024/11/22 10:49:49 INFO: 43038365673ccf7b became candidate at term 2
Nov 22 10:49:49 ubuntu etcd[67473]: raft2024/11/22 10:49:49 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Nov 22 10:49:49 ubuntu etcd[67473]: raft2024/11/22 10:49:49 INFO: 43038365673ccf7b became leader at term 2
Nov 22 10:49:49 ubuntu etcd[67473]: raft2024/11/22 10:49:49 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Nov 22 10:49:49 ubuntu etcd[67473]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Nov 22 10:49:49 ubuntu etcd[67473]: ready to serve client requests
Nov 22 10:49:49 ubuntu etcd[67473]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Nov 22 10:49:49 ubuntu etcd[67473]: setting up the initial cluster version to 3.4
Nov 22 10:49:49 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Nov 22 10:49:49 ubuntu etcd[67473]: set the initial cluster version to 3.4
Nov 22 10:49:49 ubuntu etcd[67473]: enabled capabilities for version 3.4
Nov 22 10:54:48 ubuntu etcd[67473]: start time = 2024-11-22 10:54:48.899942196 +0000 UTC m=+299.910911202, time spent = 1.349914ms, remote = 10.201.5.82:40842, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 22 10:54:48 ubuntu etcd[67473]: start time = 2024-11-22 10:54:48.899559919 +0000 UTC m=+299.910528924, time spent = 1.863011ms, remote = 10.201.5.82:40842, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 22 10:54:55 ubuntu etcd[67473]: start time = 2024-11-22 10:54:55.611678291 +0000 UTC m=+306.622647298, time spent = 166.366µs, remote = 10.201.5.82:40842, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 22 10:54:57 ubuntu etcd[67473]: start time = 2024-11-22 10:54:57.428346659 +0000 UTC m=+308.439315668, time spent = 171.108µs, remote = 10.201.5.82:40842, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
