Aug 20 20:03:37 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Aug 20 20:03:37 ubuntu etcd[67924]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Aug 20 20:03:37 ubuntu etcd[67924]:         A future release of golang/protobuf will delete this package,
Aug 20 20:03:37 ubuntu etcd[67924]:         which has long been excluded from the compatibility promise.
Aug 20 20:03:37 ubuntu etcd[67924]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 20 20:03:37 ubuntu etcd[67924]: Running http and grpc server on single port. This is not recommended for production.
Aug 20 20:03:37 ubuntu etcd[67924]: etcd Version: 3.4.27
Aug 20 20:03:37 ubuntu etcd[67924]: Git SHA: c92fb80f3
Aug 20 20:03:37 ubuntu etcd[67924]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 20 20:03:37 ubuntu etcd[67924]: Go Version: go1.19.10
Aug 20 20:03:37 ubuntu etcd[67924]: Go OS/Arch: linux/amd64
Aug 20 20:03:37 ubuntu etcd[67924]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Aug 20 20:03:37 ubuntu etcd[67924]: Running http and grpc server on single port. This is not recommended for production.
Aug 20 20:03:37 ubuntu etcd[67924]: name = ubuntu
Aug 20 20:03:37 ubuntu etcd[67924]: data dir = /opt/stack/data/etcd
Aug 20 20:03:37 ubuntu etcd[67924]: member dir = /opt/stack/data/etcd/member
Aug 20 20:03:37 ubuntu etcd[67924]: heartbeat = 100ms
Aug 20 20:03:37 ubuntu etcd[67924]: election = 1000ms
Aug 20 20:03:37 ubuntu etcd[67924]: snapshot count = 100000
Aug 20 20:03:37 ubuntu etcd[67924]: advertise client URLs = http://10.201.5.82:2379
Aug 20 20:03:37 ubuntu etcd[67924]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Aug 20 20:03:37 ubuntu etcd[67924]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Aug 20 20:03:37 ubuntu etcd[67924]: raft2024/08/20 20:03:37 INFO: 43038365673ccf7b switched to configuration voters=()
Aug 20 20:03:37 ubuntu etcd[67924]: raft2024/08/20 20:03:37 INFO: 43038365673ccf7b became follower at term 0
Aug 20 20:03:37 ubuntu etcd[67924]: raft2024/08/20 20:03:37 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Aug 20 20:03:37 ubuntu etcd[67924]: raft2024/08/20 20:03:37 INFO: 43038365673ccf7b became follower at term 1
Aug 20 20:03:37 ubuntu etcd[67924]: raft2024/08/20 20:03:37 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Aug 20 20:03:37 ubuntu etcd[67924]: simple token is not cryptographically signed
Aug 20 20:03:37 ubuntu etcd[67924]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Aug 20 20:03:37 ubuntu etcd[67924]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Aug 20 20:03:37 ubuntu etcd[67924]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Aug 20 20:03:37 ubuntu etcd[67924]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Aug 20 20:03:37 ubuntu etcd[67924]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Aug 20 20:03:37 ubuntu etcd[67924]: raft2024/08/20 20:03:37 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Aug 20 20:03:37 ubuntu etcd[67924]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Aug 20 20:03:37 ubuntu etcd[67924]: listening for peers on [::]:2380
Aug 20 20:03:38 ubuntu etcd[67924]: raft2024/08/20 20:03:38 INFO: 43038365673ccf7b is starting a new election at term 1
Aug 20 20:03:38 ubuntu etcd[67924]: raft2024/08/20 20:03:38 INFO: 43038365673ccf7b became candidate at term 2
Aug 20 20:03:38 ubuntu etcd[67924]: raft2024/08/20 20:03:38 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Aug 20 20:03:38 ubuntu etcd[67924]: raft2024/08/20 20:03:38 INFO: 43038365673ccf7b became leader at term 2
Aug 20 20:03:38 ubuntu etcd[67924]: raft2024/08/20 20:03:38 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Aug 20 20:03:38 ubuntu etcd[67924]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Aug 20 20:03:38 ubuntu etcd[67924]: setting up the initial cluster version to 3.4
Aug 20 20:03:38 ubuntu etcd[67924]: ready to serve client requests
Aug 20 20:03:38 ubuntu etcd[67924]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Aug 20 20:03:38 ubuntu etcd[67924]: set the initial cluster version to 3.4
Aug 20 20:03:38 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Aug 20 20:03:38 ubuntu etcd[67924]: enabled capabilities for version 3.4
Aug 20 20:08:37 ubuntu etcd[67924]: start time = 2024-08-20 20:08:37.612149051 +0000 UTC m=+300.303073623, time spent = 1.441041ms, remote = 10.201.5.82:52814, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 20 20:08:37 ubuntu etcd[67924]: start time = 2024-08-20 20:08:37.647297953 +0000 UTC m=+300.338222541, time spent = 186.095µs, remote = 10.201.5.82:52814, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 20 20:08:44 ubuntu etcd[67924]: start time = 2024-08-20 20:08:44.710494273 +0000 UTC m=+307.401418861, time spent = 178.183µs, remote = 10.201.5.82:52814, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 20 20:08:46 ubuntu etcd[67924]: start time = 2024-08-20 20:08:46.866281551 +0000 UTC m=+309.557206135, time spent = 317.973µs, remote = 10.201.5.82:52814, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
