Feb 12 17:47:46 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Feb 12 17:47:46 ubuntu etcd[79009]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Feb 12 17:47:46 ubuntu etcd[79009]:         A future release of golang/protobuf will delete this package,
Feb 12 17:47:46 ubuntu etcd[79009]:         which has long been excluded from the compatibility promise.
Feb 12 17:47:46 ubuntu etcd[79009]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 12 17:47:46 ubuntu etcd[79009]: Running http and grpc server on single port. This is not recommended for production.
Feb 12 17:47:46 ubuntu etcd[79009]: etcd Version: 3.4.27
Feb 12 17:47:46 ubuntu etcd[79009]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 12 17:47:46 ubuntu etcd[79009]: Git SHA: c92fb80f3
Feb 12 17:47:46 ubuntu etcd[79009]: Go Version: go1.19.10
Feb 12 17:47:46 ubuntu etcd[79009]: Go OS/Arch: linux/amd64
Feb 12 17:47:46 ubuntu etcd[79009]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Feb 12 17:47:46 ubuntu etcd[79009]: Running http and grpc server on single port. This is not recommended for production.
Feb 12 17:47:46 ubuntu etcd[79009]: name = ubuntu
Feb 12 17:47:46 ubuntu etcd[79009]: data dir = /opt/stack/data/etcd
Feb 12 17:47:46 ubuntu etcd[79009]: member dir = /opt/stack/data/etcd/member
Feb 12 17:47:46 ubuntu etcd[79009]: heartbeat = 100ms
Feb 12 17:47:46 ubuntu etcd[79009]: election = 1000ms
Feb 12 17:47:46 ubuntu etcd[79009]: snapshot count = 100000
Feb 12 17:47:46 ubuntu etcd[79009]: advertise client URLs = http://10.201.5.82:2379
Feb 12 17:47:46 ubuntu etcd[79009]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Feb 12 17:47:46 ubuntu etcd[79009]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Feb 12 17:47:46 ubuntu etcd[79009]: raft2025/02/12 17:47:46 INFO: 43038365673ccf7b switched to configuration voters=()
Feb 12 17:47:46 ubuntu etcd[79009]: raft2025/02/12 17:47:46 INFO: 43038365673ccf7b became follower at term 0
Feb 12 17:47:46 ubuntu etcd[79009]: raft2025/02/12 17:47:46 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Feb 12 17:47:46 ubuntu etcd[79009]: raft2025/02/12 17:47:46 INFO: 43038365673ccf7b became follower at term 1
Feb 12 17:47:46 ubuntu etcd[79009]: raft2025/02/12 17:47:46 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Feb 12 17:47:46 ubuntu etcd[79009]: simple token is not cryptographically signed
Feb 12 17:47:46 ubuntu etcd[79009]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Feb 12 17:47:46 ubuntu etcd[79009]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Feb 12 17:47:46 ubuntu etcd[79009]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Feb 12 17:47:46 ubuntu etcd[79009]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Feb 12 17:47:46 ubuntu etcd[79009]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Feb 12 17:47:46 ubuntu etcd[79009]: raft2025/02/12 17:47:46 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Feb 12 17:47:46 ubuntu etcd[79009]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Feb 12 17:47:46 ubuntu etcd[79009]: listening for peers on [::]:2380
Feb 12 17:47:47 ubuntu etcd[79009]: raft2025/02/12 17:47:47 INFO: 43038365673ccf7b is starting a new election at term 1
Feb 12 17:47:47 ubuntu etcd[79009]: raft2025/02/12 17:47:47 INFO: 43038365673ccf7b became candidate at term 2
Feb 12 17:47:47 ubuntu etcd[79009]: raft2025/02/12 17:47:47 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Feb 12 17:47:47 ubuntu etcd[79009]: raft2025/02/12 17:47:47 INFO: 43038365673ccf7b became leader at term 2
Feb 12 17:47:47 ubuntu etcd[79009]: raft2025/02/12 17:47:47 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Feb 12 17:47:47 ubuntu etcd[79009]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Feb 12 17:47:47 ubuntu etcd[79009]: setting up the initial cluster version to 3.4
Feb 12 17:47:47 ubuntu etcd[79009]: ready to serve client requests
Feb 12 17:47:47 ubuntu etcd[79009]: set the initial cluster version to 3.4
Feb 12 17:47:47 ubuntu etcd[79009]: enabled capabilities for version 3.4
Feb 12 17:47:47 ubuntu etcd[79009]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Feb 12 17:47:47 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Feb 12 17:52:40 ubuntu etcd[79009]: start time = 2025-02-12 17:52:40.228002258 +0000 UTC m=+293.516560332, time spent = 658.231µs, remote = 10.201.5.82:46584, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 12 17:52:40 ubuntu etcd[79009]: start time = 2025-02-12 17:52:40.241341597 +0000 UTC m=+293.529899678, time spent = 347.849µs, remote = 10.201.5.82:46584, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 12 17:52:47 ubuntu etcd[79009]: start time = 2025-02-12 17:52:47.003489294 +0000 UTC m=+300.292047380, time spent = 186.606µs, remote = 10.201.5.82:46584, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 12 17:52:49 ubuntu etcd[79009]: start time = 2025-02-12 17:52:49.003485948 +0000 UTC m=+302.292044033, time spent = 264.374µs, remote = 10.201.5.82:46584, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 12 17:55:39 ubuntu etcd[79009]: start time = 2025-02-12 17:55:39.866960054 +0000 UTC m=+473.155518184, time spent = 877.183µs, remote = 10.201.5.82:46584, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 12 17:55:39 ubuntu etcd[79009]: start time = 2025-02-12 17:55:39.88766403 +0000 UTC m=+473.176222134, time spent = 163.516µs, remote = 10.201.5.82:46584, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 12 17:55:41 ubuntu etcd[79009]: start time = 2025-02-12 17:55:41.716787853 +0000 UTC m=+475.005345935, time spent = 254.416µs, remote = 10.201.5.82:46584, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 12 17:55:44 ubuntu etcd[79009]: start time = 2025-02-12 17:55:44.131522415 +0000 UTC m=+477.420080498, time spent = 184.65µs, remote = 10.201.5.82:46584, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 12 17:57:35 ubuntu etcd[79009]: start time = 2025-02-12 17:57:35.062341098 +0000 UTC m=+588.350899183, time spent = 397.87µs, remote = 10.201.5.82:46584, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 12 17:57:35 ubuntu etcd[79009]: start time = 2025-02-12 17:57:35.068604796 +0000 UTC m=+588.357162877, time spent = 400.613µs, remote = 10.201.5.82:46584, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-67b42ecd-ed5e-4897-b18b-7df94af05dc5" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-67b42ecd-ed5e-4897-b18b-7df94af05dc5" value_size:16 lease:5727335158066498073 >> failure:<request_range:<key:"/tooz/lockscinder-67b42ecd-ed5e-4897-b18b-7df94af05dc5" > >
Feb 12 17:57:38 ubuntu etcd[79009]: start time = 2025-02-12 17:57:38.575542864 +0000 UTC m=+591.864100992, time spent = 1.918255ms, remote = 10.201.5.82:46584, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-67b42ecd-ed5e-4897-b18b-7df94af05dc5" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-67b42ecd-ed5e-4897-b18b-7df94af05dc5" > > failure:<>
Feb 12 17:57:38 ubuntu etcd[79009]: start time = 2025-02-12 17:57:38.781246989 +0000 UTC m=+592.069805126, time spent = 557.411µs, remote = 10.201.5.82:46584, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 12 17:57:38 ubuntu etcd[79009]: start time = 2025-02-12 17:57:38.784368383 +0000 UTC m=+592.072926478, time spent = 306.299µs, remote = 10.201.5.82:46584, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-67b42ecd-ed5e-4897-b18b-7df94af05dc5" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-67b42ecd-ed5e-4897-b18b-7df94af05dc5" value_size:16 lease:5727335158066498077 >> failure:<request_range:<key:"/tooz/lockscinder-67b42ecd-ed5e-4897-b18b-7df94af05dc5" > >
Feb 12 17:57:39 ubuntu etcd[79009]: start time = 2025-02-12 17:57:39.597842871 +0000 UTC m=+592.886401057, time spent = 614.872µs, remote = 10.201.5.82:46584, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-67b42ecd-ed5e-4897-b18b-7df94af05dc5" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-67b42ecd-ed5e-4897-b18b-7df94af05dc5" > > failure:<>
Feb 12 17:57:39 ubuntu etcd[79009]: start time = 2025-02-12 17:57:39.913492525 +0000 UTC m=+593.202050605, time spent = 272.736µs, remote = 10.201.5.82:46584, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 12 17:57:39 ubuntu etcd[79009]: start time = 2025-02-12 17:57:39.917613331 +0000 UTC m=+593.206171446, time spent = 212.837µs, remote = 10.201.5.82:46584, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-67b42ecd-ed5e-4897-b18b-7df94af05dc5" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-67b42ecd-ed5e-4897-b18b-7df94af05dc5" value_size:16 lease:5727335158066498081 >> failure:<request_range:<key:"/tooz/lockscinder-67b42ecd-ed5e-4897-b18b-7df94af05dc5" > >
Feb 12 17:57:40 ubuntu etcd[79009]: start time = 2025-02-12 17:57:40.731814718 +0000 UTC m=+594.020372802, time spent = 306.348µs, remote = 10.201.5.82:46584, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-67b42ecd-ed5e-4897-b18b-7df94af05dc5" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-67b42ecd-ed5e-4897-b18b-7df94af05dc5" > > failure:<>
Feb 12 18:37:56 ubuntu etcd[79009]: start time = 2025-02-12 18:37:56.455424885 +0000 UTC m=+3009.743982986, time spent = 522.369µs, remote = 10.201.5.82:46584, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 12 18:37:56 ubuntu etcd[79009]: start time = 2025-02-12 18:37:56.458534062 +0000 UTC m=+3009.747092166, time spent = 332.632µs, remote = 10.201.5.82:46584, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-f507d0dd-0068-473d-bbf7-c5b017f502e5" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-f507d0dd-0068-473d-bbf7-c5b017f502e5" value_size:16 lease:5727335158066498088 >> failure:<request_range:<key:"/tooz/lockscinder-f507d0dd-0068-473d-bbf7-c5b017f502e5" > >
Feb 12 18:37:58 ubuntu etcd[79009]: start time = 2025-02-12 18:37:58.653668876 +0000 UTC m=+3011.942227069, time spent = 479.703µs, remote = 10.201.5.82:46584, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-f507d0dd-0068-473d-bbf7-c5b017f502e5" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-f507d0dd-0068-473d-bbf7-c5b017f502e5" > > failure:<>
Feb 12 18:37:58 ubuntu etcd[79009]: start time = 2025-02-12 18:37:58.873245431 +0000 UTC m=+3012.161803513, time spent = 336.354µs, remote = 10.201.5.82:46584, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 12 18:37:58 ubuntu etcd[79009]: start time = 2025-02-12 18:37:58.87856871 +0000 UTC m=+3012.167126887, time spent = 413.015µs, remote = 10.201.5.82:46584, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-f507d0dd-0068-473d-bbf7-c5b017f502e5" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-f507d0dd-0068-473d-bbf7-c5b017f502e5" value_size:16 lease:5727335158066498092 >> failure:<request_range:<key:"/tooz/lockscinder-f507d0dd-0068-473d-bbf7-c5b017f502e5" > >
Feb 12 18:37:59 ubuntu etcd[79009]: start time = 2025-02-12 18:37:59.467507973 +0000 UTC m=+3012.756066065, time spent = 367.126µs, remote = 10.201.5.82:46584, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-f507d0dd-0068-473d-bbf7-c5b017f502e5" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-f507d0dd-0068-473d-bbf7-c5b017f502e5" > > failure:<>
Feb 12 18:37:59 ubuntu etcd[79009]: start time = 2025-02-12 18:37:59.663305179 +0000 UTC m=+3012.951863355, time spent = 545.261µs, remote = 10.201.5.82:46584, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 12 18:37:59 ubuntu etcd[79009]: start time = 2025-02-12 18:37:59.665976316 +0000 UTC m=+3012.954534410, time spent = 220.859µs, remote = 10.201.5.82:46584, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-f507d0dd-0068-473d-bbf7-c5b017f502e5" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-f507d0dd-0068-473d-bbf7-c5b017f502e5" value_size:16 lease:5727335158066498096 >> failure:<request_range:<key:"/tooz/lockscinder-f507d0dd-0068-473d-bbf7-c5b017f502e5" > >
Feb 12 18:38:00 ubuntu etcd[79009]: start time = 2025-02-12 18:38:00.191059524 +0000 UTC m=+3013.479617619, time spent = 254.61µs, remote = 10.201.5.82:46584, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-f507d0dd-0068-473d-bbf7-c5b017f502e5" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-f507d0dd-0068-473d-bbf7-c5b017f502e5" > > failure:<>
