Aug 13 02:15:14 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Aug 13 02:15:14 ubuntu etcd[79207]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Aug 13 02:15:14 ubuntu etcd[79207]:         A future release of golang/protobuf will delete this package,
Aug 13 02:15:14 ubuntu etcd[79207]:         which has long been excluded from the compatibility promise.
Aug 13 02:15:14 ubuntu etcd[79207]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 13 02:15:14 ubuntu etcd[79207]: Running http and grpc server on single port. This is not recommended for production.
Aug 13 02:15:14 ubuntu etcd[79207]: etcd Version: 3.4.27
Aug 13 02:15:14 ubuntu etcd[79207]: Git SHA: c92fb80f3
Aug 13 02:15:14 ubuntu etcd[79207]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 13 02:15:14 ubuntu etcd[79207]: Go Version: go1.19.10
Aug 13 02:15:14 ubuntu etcd[79207]: Go OS/Arch: linux/amd64
Aug 13 02:15:14 ubuntu etcd[79207]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Aug 13 02:15:14 ubuntu etcd[79207]: Running http and grpc server on single port. This is not recommended for production.
Aug 13 02:15:14 ubuntu etcd[79207]: name = ubuntu
Aug 13 02:15:14 ubuntu etcd[79207]: data dir = /opt/stack/data/etcd
Aug 13 02:15:14 ubuntu etcd[79207]: member dir = /opt/stack/data/etcd/member
Aug 13 02:15:14 ubuntu etcd[79207]: heartbeat = 100ms
Aug 13 02:15:14 ubuntu etcd[79207]: election = 1000ms
Aug 13 02:15:14 ubuntu etcd[79207]: snapshot count = 100000
Aug 13 02:15:14 ubuntu etcd[79207]: advertise client URLs = http://10.201.5.82:2379
Aug 13 02:15:14 ubuntu etcd[79207]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Aug 13 02:15:14 ubuntu etcd[79207]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Aug 13 02:15:14 ubuntu etcd[79207]: raft2025/08/13 02:15:14 INFO: 43038365673ccf7b switched to configuration voters=()
Aug 13 02:15:14 ubuntu etcd[79207]: raft2025/08/13 02:15:14 INFO: 43038365673ccf7b became follower at term 0
Aug 13 02:15:14 ubuntu etcd[79207]: raft2025/08/13 02:15:14 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Aug 13 02:15:14 ubuntu etcd[79207]: raft2025/08/13 02:15:14 INFO: 43038365673ccf7b became follower at term 1
Aug 13 02:15:14 ubuntu etcd[79207]: raft2025/08/13 02:15:14 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Aug 13 02:15:14 ubuntu etcd[79207]: simple token is not cryptographically signed
Aug 13 02:15:14 ubuntu etcd[79207]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Aug 13 02:15:14 ubuntu etcd[79207]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Aug 13 02:15:14 ubuntu etcd[79207]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Aug 13 02:15:14 ubuntu etcd[79207]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Aug 13 02:15:14 ubuntu etcd[79207]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Aug 13 02:15:14 ubuntu etcd[79207]: raft2025/08/13 02:15:14 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Aug 13 02:15:14 ubuntu etcd[79207]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Aug 13 02:15:14 ubuntu etcd[79207]: listening for peers on [::]:2380
Aug 13 02:15:15 ubuntu etcd[79207]: raft2025/08/13 02:15:15 INFO: 43038365673ccf7b is starting a new election at term 1
Aug 13 02:15:15 ubuntu etcd[79207]: raft2025/08/13 02:15:15 INFO: 43038365673ccf7b became candidate at term 2
Aug 13 02:15:15 ubuntu etcd[79207]: raft2025/08/13 02:15:15 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Aug 13 02:15:15 ubuntu etcd[79207]: raft2025/08/13 02:15:15 INFO: 43038365673ccf7b became leader at term 2
Aug 13 02:15:15 ubuntu etcd[79207]: raft2025/08/13 02:15:15 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Aug 13 02:15:15 ubuntu etcd[79207]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Aug 13 02:15:15 ubuntu etcd[79207]: setting up the initial cluster version to 3.4
Aug 13 02:15:15 ubuntu etcd[79207]: set the initial cluster version to 3.4
Aug 13 02:15:15 ubuntu etcd[79207]: enabled capabilities for version 3.4
Aug 13 02:15:15 ubuntu etcd[79207]: ready to serve client requests
Aug 13 02:15:15 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Aug 13 02:15:15 ubuntu etcd[79207]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Aug 13 02:20:04 ubuntu etcd[79207]: start time = 2025-08-13 02:20:04.90646215 +0000 UTC m=+290.001790014, time spent = 631.593µs, remote = 10.201.5.82:44712, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 13 02:20:04 ubuntu etcd[79207]: start time = 2025-08-13 02:20:04.921124396 +0000 UTC m=+290.016452271, time spent = 262.922µs, remote = 10.201.5.82:44712, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 13 02:20:11 ubuntu etcd[79207]: start time = 2025-08-13 02:20:11.90161104 +0000 UTC m=+296.996938915, time spent = 217.935µs, remote = 10.201.5.82:44712, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 13 02:20:14 ubuntu etcd[79207]: start time = 2025-08-13 02:20:14.013030499 +0000 UTC m=+299.108358371, time spent = 232.899µs, remote = 10.201.5.82:44712, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 13 02:23:25 ubuntu etcd[79207]: start time = 2025-08-13 02:23:25.541364276 +0000 UTC m=+490.636692139, time spent = 372.094µs, remote = 10.201.5.82:44712, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 13 02:23:25 ubuntu etcd[79207]: start time = 2025-08-13 02:23:25.545024899 +0000 UTC m=+490.640352778, time spent = 143.914µs, remote = 10.201.5.82:44712, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 13 02:23:26 ubuntu etcd[79207]: start time = 2025-08-13 02:23:26.788607226 +0000 UTC m=+491.883935105, time spent = 355.49µs, remote = 10.201.5.82:44712, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 13 02:23:29 ubuntu etcd[79207]: start time = 2025-08-13 02:23:28.999895506 +0000 UTC m=+494.095223428, time spent = 1.334269ms, remote = 10.201.5.82:44712, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 13 02:30:15 ubuntu etcd[79207]: start time = 2025-08-13 02:30:15.098832502 +0000 UTC m=+900.194160363, time spent = 413.406µs, remote = 10.201.5.82:44712, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 13 02:30:15 ubuntu etcd[79207]: start time = 2025-08-13 02:30:15.108780011 +0000 UTC m=+900.204107936, time spent = 4.481624ms, remote = 10.201.5.82:44712, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-969adcb2-d81d-4d63-bf0e-129ca6294dc9" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-969adcb2-d81d-4d63-bf0e-129ca6294dc9" value_size:16 lease:5727339169291633177 >> failure:<request_range:<key:"/tooz/lockscinder-969adcb2-d81d-4d63-bf0e-129ca6294dc9" > >
Aug 13 02:30:18 ubuntu etcd[79207]: start time = 2025-08-13 02:30:18.047690118 +0000 UTC m=+903.143018097, time spent = 685.575µs, remote = 10.201.5.82:44712, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-969adcb2-d81d-4d63-bf0e-129ca6294dc9" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-969adcb2-d81d-4d63-bf0e-129ca6294dc9" > > failure:<>
Aug 13 02:30:18 ubuntu etcd[79207]: start time = 2025-08-13 02:30:18.274714478 +0000 UTC m=+903.370042447, time spent = 469.282µs, remote = 10.201.5.82:44712, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 13 02:30:18 ubuntu etcd[79207]: start time = 2025-08-13 02:30:18.278255414 +0000 UTC m=+903.373583371, time spent = 408.892µs, remote = 10.201.5.82:44712, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-969adcb2-d81d-4d63-bf0e-129ca6294dc9" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-969adcb2-d81d-4d63-bf0e-129ca6294dc9" value_size:16 lease:5727339169291633181 >> failure:<request_range:<key:"/tooz/lockscinder-969adcb2-d81d-4d63-bf0e-129ca6294dc9" > >
Aug 13 02:30:20 ubuntu etcd[79207]: start time = 2025-08-13 02:30:20.286778499 +0000 UTC m=+905.382106475, time spent = 625.387µs, remote = 10.201.5.82:44712, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-969adcb2-d81d-4d63-bf0e-129ca6294dc9" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-969adcb2-d81d-4d63-bf0e-129ca6294dc9" > > failure:<>
Aug 13 02:30:20 ubuntu etcd[79207]: start time = 2025-08-13 02:30:20.558205747 +0000 UTC m=+905.653533623, time spent = 309.038µs, remote = 10.201.5.82:44712, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 13 02:30:20 ubuntu etcd[79207]: start time = 2025-08-13 02:30:20.560093365 +0000 UTC m=+905.655421238, time spent = 180.697µs, remote = 10.201.5.82:44712, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-969adcb2-d81d-4d63-bf0e-129ca6294dc9" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-969adcb2-d81d-4d63-bf0e-129ca6294dc9" value_size:16 lease:5727339169291633185 >> failure:<request_range:<key:"/tooz/lockscinder-969adcb2-d81d-4d63-bf0e-129ca6294dc9" > >
Aug 13 02:30:22 ubuntu etcd[79207]: start time = 2025-08-13 02:30:22.479675542 +0000 UTC m=+907.575003521, time spent = 617.336µs, remote = 10.201.5.82:44712, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-969adcb2-d81d-4d63-bf0e-129ca6294dc9" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-969adcb2-d81d-4d63-bf0e-129ca6294dc9" > > failure:<>
