Aug 21 17:22:27 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Aug 21 17:22:27 ubuntu etcd[67717]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Aug 21 17:22:27 ubuntu etcd[67717]:         A future release of golang/protobuf will delete this package,
Aug 21 17:22:27 ubuntu etcd[67717]:         which has long been excluded from the compatibility promise.
Aug 21 17:22:27 ubuntu etcd[67717]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 21 17:22:27 ubuntu etcd[67717]: Running http and grpc server on single port. This is not recommended for production.
Aug 21 17:22:27 ubuntu etcd[67717]: etcd Version: 3.4.27
Aug 21 17:22:27 ubuntu etcd[67717]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 21 17:22:27 ubuntu etcd[67717]: Git SHA: c92fb80f3
Aug 21 17:22:27 ubuntu etcd[67717]: Go Version: go1.19.10
Aug 21 17:22:27 ubuntu etcd[67717]: Go OS/Arch: linux/amd64
Aug 21 17:22:27 ubuntu etcd[67717]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Aug 21 17:22:27 ubuntu etcd[67717]: Running http and grpc server on single port. This is not recommended for production.
Aug 21 17:22:27 ubuntu etcd[67717]: name = ubuntu
Aug 21 17:22:27 ubuntu etcd[67717]: data dir = /opt/stack/data/etcd
Aug 21 17:22:27 ubuntu etcd[67717]: member dir = /opt/stack/data/etcd/member
Aug 21 17:22:27 ubuntu etcd[67717]: heartbeat = 100ms
Aug 21 17:22:27 ubuntu etcd[67717]: election = 1000ms
Aug 21 17:22:27 ubuntu etcd[67717]: snapshot count = 100000
Aug 21 17:22:27 ubuntu etcd[67717]: advertise client URLs = http://10.201.5.82:2379
Aug 21 17:22:27 ubuntu etcd[67717]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Aug 21 17:22:27 ubuntu etcd[67717]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Aug 21 17:22:27 ubuntu etcd[67717]: raft2024/08/21 17:22:27 INFO: 43038365673ccf7b switched to configuration voters=()
Aug 21 17:22:27 ubuntu etcd[67717]: raft2024/08/21 17:22:27 INFO: 43038365673ccf7b became follower at term 0
Aug 21 17:22:27 ubuntu etcd[67717]: raft2024/08/21 17:22:27 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Aug 21 17:22:27 ubuntu etcd[67717]: raft2024/08/21 17:22:27 INFO: 43038365673ccf7b became follower at term 1
Aug 21 17:22:27 ubuntu etcd[67717]: raft2024/08/21 17:22:27 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Aug 21 17:22:27 ubuntu etcd[67717]: simple token is not cryptographically signed
Aug 21 17:22:27 ubuntu etcd[67717]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Aug 21 17:22:27 ubuntu etcd[67717]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Aug 21 17:22:27 ubuntu etcd[67717]: raft2024/08/21 17:22:27 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Aug 21 17:22:27 ubuntu etcd[67717]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Aug 21 17:22:27 ubuntu etcd[67717]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Aug 21 17:22:27 ubuntu etcd[67717]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Aug 21 17:22:27 ubuntu etcd[67717]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Aug 21 17:22:27 ubuntu etcd[67717]: listening for peers on [::]:2380
Aug 21 17:22:28 ubuntu etcd[67717]: raft2024/08/21 17:22:28 INFO: 43038365673ccf7b is starting a new election at term 1
Aug 21 17:22:28 ubuntu etcd[67717]: raft2024/08/21 17:22:28 INFO: 43038365673ccf7b became candidate at term 2
Aug 21 17:22:28 ubuntu etcd[67717]: raft2024/08/21 17:22:28 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Aug 21 17:22:28 ubuntu etcd[67717]: raft2024/08/21 17:22:28 INFO: 43038365673ccf7b became leader at term 2
Aug 21 17:22:28 ubuntu etcd[67717]: raft2024/08/21 17:22:28 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Aug 21 17:22:28 ubuntu etcd[67717]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Aug 21 17:22:28 ubuntu etcd[67717]: setting up the initial cluster version to 3.4
Aug 21 17:22:28 ubuntu etcd[67717]: ready to serve client requests
Aug 21 17:22:28 ubuntu etcd[67717]: set the initial cluster version to 3.4
Aug 21 17:22:28 ubuntu etcd[67717]: enabled capabilities for version 3.4
Aug 21 17:22:28 ubuntu etcd[67717]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Aug 21 17:22:28 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Aug 21 17:28:54 ubuntu etcd[67717]: start time = 2024-08-21 17:28:54.250068161 +0000 UTC m=+387.094808020, time spent = 1.779623ms, remote = 10.201.5.82:55980, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 21 17:28:54 ubuntu etcd[67717]: start time = 2024-08-21 17:28:54.261743985 +0000 UTC m=+387.106483856, time spent = 177.803µs, remote = 10.201.5.82:55980, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 21 17:29:01 ubuntu etcd[67717]: start time = 2024-08-21 17:29:01.147974112 +0000 UTC m=+393.992713985, time spent = 411.018µs, remote = 10.201.5.82:55980, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 21 17:29:03 ubuntu etcd[67717]: start time = 2024-08-21 17:29:03.340194675 +0000 UTC m=+396.184934539, time spent = 340.421µs, remote = 10.201.5.82:55980, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
