Dec 11 16:16:27 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 11 16:16:27 ubuntu etcd[67452]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 11 16:16:27 ubuntu etcd[67452]:         A future release of golang/protobuf will delete this package,
Dec 11 16:16:27 ubuntu etcd[67452]:         which has long been excluded from the compatibility promise.
Dec 11 16:16:27 ubuntu etcd[67452]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 11 16:16:27 ubuntu etcd[67452]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 11 16:16:27 ubuntu etcd[67452]: Running http and grpc server on single port. This is not recommended for production.
Dec 11 16:16:27 ubuntu etcd[67452]: etcd Version: 3.4.27
Dec 11 16:16:27 ubuntu etcd[67452]: Git SHA: c92fb80f3
Dec 11 16:16:27 ubuntu etcd[67452]: Go Version: go1.19.10
Dec 11 16:16:27 ubuntu etcd[67452]: Go OS/Arch: linux/amd64
Dec 11 16:16:27 ubuntu etcd[67452]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 11 16:16:27 ubuntu etcd[67452]: Running http and grpc server on single port. This is not recommended for production.
Dec 11 16:16:27 ubuntu etcd[67452]: name = ubuntu
Dec 11 16:16:27 ubuntu etcd[67452]: data dir = /opt/stack/data/etcd
Dec 11 16:16:27 ubuntu etcd[67452]: member dir = /opt/stack/data/etcd/member
Dec 11 16:16:27 ubuntu etcd[67452]: heartbeat = 100ms
Dec 11 16:16:27 ubuntu etcd[67452]: election = 1000ms
Dec 11 16:16:27 ubuntu etcd[67452]: snapshot count = 100000
Dec 11 16:16:27 ubuntu etcd[67452]: advertise client URLs = http://10.201.5.82:2379
Dec 11 16:16:27 ubuntu etcd[67452]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Dec 11 16:16:27 ubuntu etcd[67452]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Dec 11 16:16:27 ubuntu etcd[67452]: raft2024/12/11 16:16:27 INFO: 43038365673ccf7b switched to configuration voters=()
Dec 11 16:16:27 ubuntu etcd[67452]: raft2024/12/11 16:16:27 INFO: 43038365673ccf7b became follower at term 0
Dec 11 16:16:27 ubuntu etcd[67452]: raft2024/12/11 16:16:27 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Dec 11 16:16:27 ubuntu etcd[67452]: raft2024/12/11 16:16:27 INFO: 43038365673ccf7b became follower at term 1
Dec 11 16:16:27 ubuntu etcd[67452]: raft2024/12/11 16:16:27 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Dec 11 16:16:27 ubuntu etcd[67452]: simple token is not cryptographically signed
Dec 11 16:16:27 ubuntu etcd[67452]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Dec 11 16:16:27 ubuntu etcd[67452]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Dec 11 16:16:27 ubuntu etcd[67452]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Dec 11 16:16:27 ubuntu etcd[67452]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Dec 11 16:16:27 ubuntu etcd[67452]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Dec 11 16:16:27 ubuntu etcd[67452]: raft2024/12/11 16:16:27 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Dec 11 16:16:27 ubuntu etcd[67452]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Dec 11 16:16:27 ubuntu etcd[67452]: listening for peers on [::]:2380
Dec 11 16:16:27 ubuntu etcd[67452]: raft2024/12/11 16:16:27 INFO: 43038365673ccf7b is starting a new election at term 1
Dec 11 16:16:27 ubuntu etcd[67452]: raft2024/12/11 16:16:27 INFO: 43038365673ccf7b became candidate at term 2
Dec 11 16:16:28 ubuntu etcd[67452]: raft2024/12/11 16:16:28 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Dec 11 16:16:28 ubuntu etcd[67452]: raft2024/12/11 16:16:28 INFO: 43038365673ccf7b became leader at term 2
Dec 11 16:16:28 ubuntu etcd[67452]: raft2024/12/11 16:16:28 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Dec 11 16:16:28 ubuntu etcd[67452]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Dec 11 16:16:28 ubuntu etcd[67452]: setting up the initial cluster version to 3.4
Dec 11 16:16:28 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Dec 11 16:16:28 ubuntu etcd[67452]: ready to serve client requests
Dec 11 16:16:28 ubuntu etcd[67452]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Dec 11 16:16:28 ubuntu etcd[67452]: set the initial cluster version to 3.4
Dec 11 16:16:28 ubuntu etcd[67452]: enabled capabilities for version 3.4
Dec 11 16:21:23 ubuntu etcd[67452]: start time = 2024-12-11 16:21:23.108553011 +0000 UTC m=+296.056869802, time spent = 645.437µs, remote = 10.201.5.82:46240, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 11 16:21:23 ubuntu etcd[67452]: start time = 2024-12-11 16:21:23.195695446 +0000 UTC m=+296.144012249, time spent = 224.838µs, remote = 10.201.5.82:46240, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 11 16:21:29 ubuntu etcd[67452]: start time = 2024-12-11 16:21:29.947683648 +0000 UTC m=+302.896000448, time spent = 275.154µs, remote = 10.201.5.82:46240, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 11 16:21:31 ubuntu etcd[67452]: start time = 2024-12-11 16:21:31.802950629 +0000 UTC m=+304.751267428, time spent = 694.55µs, remote = 10.201.5.82:46240, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 11 16:24:21 ubuntu etcd[67452]: start time = 2024-12-11 16:24:21.950239073 +0000 UTC m=+474.898555863, time spent = 409.032µs, remote = 10.201.5.82:46240, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 11 16:24:22 ubuntu etcd[67452]: start time = 2024-12-11 16:24:22.075860753 +0000 UTC m=+475.024177554, time spent = 278.654µs, remote = 10.201.5.82:46240, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 11 16:24:22 ubuntu etcd[67452]: start time = 2024-12-11 16:24:22.089464817 +0000 UTC m=+475.037781606, time spent = 204.533µs, remote = 10.201.5.82:46240, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 11 16:24:24 ubuntu etcd[67452]: start time = 2024-12-11 16:24:24.428767145 +0000 UTC m=+477.377083950, time spent = 278.599µs, remote = 10.201.5.82:46240, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 11 16:26:20 ubuntu etcd[67452]: start time = 2024-12-11 16:26:20.725447012 +0000 UTC m=+593.673763818, time spent = 452.133µs, remote = 10.201.5.82:46240, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 11 16:26:20 ubuntu etcd[67452]: start time = 2024-12-11 16:26:20.729638232 +0000 UTC m=+593.677955119, time spent = 720.137µs, remote = 10.201.5.82:46240, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-50a74358-7849-4ba1-90e0-c9b7ad2e3e6f" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-50a74358-7849-4ba1-90e0-c9b7ad2e3e6f" value_size:16 lease:5727333763204504089 >> failure:<request_range:<key:"/tooz/lockscinder-50a74358-7849-4ba1-90e0-c9b7ad2e3e6f" > >
Dec 11 16:26:23 ubuntu etcd[67452]: start time = 2024-12-11 16:26:23.46804436 +0000 UTC m=+596.416361273, time spent = 755.19µs, remote = 10.201.5.82:46240, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-50a74358-7849-4ba1-90e0-c9b7ad2e3e6f" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-50a74358-7849-4ba1-90e0-c9b7ad2e3e6f" > > failure:<>
Dec 11 16:26:23 ubuntu etcd[67452]: start time = 2024-12-11 16:26:23.709350386 +0000 UTC m=+596.657667246, time spent = 488.43µs, remote = 10.201.5.82:46240, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 11 16:26:23 ubuntu etcd[67452]: start time = 2024-12-11 16:26:23.712304142 +0000 UTC m=+596.660621037, time spent = 376.999µs, remote = 10.201.5.82:46240, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-50a74358-7849-4ba1-90e0-c9b7ad2e3e6f" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-50a74358-7849-4ba1-90e0-c9b7ad2e3e6f" value_size:16 lease:5727333763204504093 >> failure:<request_range:<key:"/tooz/lockscinder-50a74358-7849-4ba1-90e0-c9b7ad2e3e6f" > >
Dec 11 16:26:24 ubuntu etcd[67452]: start time = 2024-12-11 16:26:24.499102748 +0000 UTC m=+597.447419566, time spent = 262.473µs, remote = 10.201.5.82:46240, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-50a74358-7849-4ba1-90e0-c9b7ad2e3e6f" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-50a74358-7849-4ba1-90e0-c9b7ad2e3e6f" > > failure:<>
Dec 11 16:26:24 ubuntu etcd[67452]: start time = 2024-12-11 16:26:24.72518506 +0000 UTC m=+597.673501866, time spent = 329.032µs, remote = 10.201.5.82:46240, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 11 16:26:24 ubuntu etcd[67452]: start time = 2024-12-11 16:26:24.726930714 +0000 UTC m=+597.675247519, time spent = 180.896µs, remote = 10.201.5.82:46240, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-50a74358-7849-4ba1-90e0-c9b7ad2e3e6f" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-50a74358-7849-4ba1-90e0-c9b7ad2e3e6f" value_size:16 lease:5727333763204504097 >> failure:<request_range:<key:"/tooz/lockscinder-50a74358-7849-4ba1-90e0-c9b7ad2e3e6f" > >
Dec 11 16:26:25 ubuntu etcd[67452]: start time = 2024-12-11 16:26:25.532719283 +0000 UTC m=+598.481036085, time spent = 294.075µs, remote = 10.201.5.82:46240, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-50a74358-7849-4ba1-90e0-c9b7ad2e3e6f" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-50a74358-7849-4ba1-90e0-c9b7ad2e3e6f" > > failure:<>
