Dec 07 15:46:55 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 07 15:46:55 ubuntu etcd[68088]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 07 15:46:55 ubuntu etcd[68088]:         A future release of golang/protobuf will delete this package,
Dec 07 15:46:55 ubuntu etcd[68088]:         which has long been excluded from the compatibility promise.
Dec 07 15:46:55 ubuntu etcd[68088]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 07 15:46:55 ubuntu etcd[68088]: Running http and grpc server on single port. This is not recommended for production.
Dec 07 15:46:55 ubuntu etcd[68088]: etcd Version: 3.4.27
Dec 07 15:46:55 ubuntu etcd[68088]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 07 15:46:55 ubuntu etcd[68088]: Git SHA: c92fb80f3
Dec 07 15:46:55 ubuntu etcd[68088]: Go Version: go1.19.10
Dec 07 15:46:55 ubuntu etcd[68088]: Go OS/Arch: linux/amd64
Dec 07 15:46:55 ubuntu etcd[68088]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 07 15:46:55 ubuntu etcd[68088]: Running http and grpc server on single port. This is not recommended for production.
Dec 07 15:46:55 ubuntu etcd[68088]: name = ubuntu
Dec 07 15:46:55 ubuntu etcd[68088]: data dir = /opt/stack/data/etcd
Dec 07 15:46:55 ubuntu etcd[68088]: member dir = /opt/stack/data/etcd/member
Dec 07 15:46:55 ubuntu etcd[68088]: heartbeat = 100ms
Dec 07 15:46:55 ubuntu etcd[68088]: election = 1000ms
Dec 07 15:46:55 ubuntu etcd[68088]: snapshot count = 100000
Dec 07 15:46:55 ubuntu etcd[68088]: advertise client URLs = http://10.201.5.82:2379
Dec 07 15:46:55 ubuntu etcd[68088]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Dec 07 15:46:55 ubuntu etcd[68088]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Dec 07 15:46:55 ubuntu etcd[68088]: raft2024/12/07 15:46:55 INFO: 43038365673ccf7b switched to configuration voters=()
Dec 07 15:46:55 ubuntu etcd[68088]: raft2024/12/07 15:46:55 INFO: 43038365673ccf7b became follower at term 0
Dec 07 15:46:55 ubuntu etcd[68088]: raft2024/12/07 15:46:55 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Dec 07 15:46:55 ubuntu etcd[68088]: raft2024/12/07 15:46:55 INFO: 43038365673ccf7b became follower at term 1
Dec 07 15:46:55 ubuntu etcd[68088]: raft2024/12/07 15:46:55 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Dec 07 15:46:55 ubuntu etcd[68088]: simple token is not cryptographically signed
Dec 07 15:46:55 ubuntu etcd[68088]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Dec 07 15:46:55 ubuntu etcd[68088]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Dec 07 15:46:55 ubuntu etcd[68088]: raft2024/12/07 15:46:55 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Dec 07 15:46:55 ubuntu etcd[68088]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Dec 07 15:46:55 ubuntu etcd[68088]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Dec 07 15:46:55 ubuntu etcd[68088]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Dec 07 15:46:55 ubuntu etcd[68088]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Dec 07 15:46:55 ubuntu etcd[68088]: listening for peers on [::]:2380
Dec 07 15:46:55 ubuntu etcd[68088]: raft2024/12/07 15:46:55 INFO: 43038365673ccf7b is starting a new election at term 1
Dec 07 15:46:55 ubuntu etcd[68088]: raft2024/12/07 15:46:55 INFO: 43038365673ccf7b became candidate at term 2
Dec 07 15:46:55 ubuntu etcd[68088]: raft2024/12/07 15:46:55 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Dec 07 15:46:55 ubuntu etcd[68088]: raft2024/12/07 15:46:55 INFO: 43038365673ccf7b became leader at term 2
Dec 07 15:46:55 ubuntu etcd[68088]: raft2024/12/07 15:46:55 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Dec 07 15:46:55 ubuntu etcd[68088]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Dec 07 15:46:55 ubuntu etcd[68088]: ready to serve client requests
Dec 07 15:46:55 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Dec 07 15:46:55 ubuntu etcd[68088]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Dec 07 15:46:55 ubuntu etcd[68088]: setting up the initial cluster version to 3.4
Dec 07 15:46:55 ubuntu etcd[68088]: set the initial cluster version to 3.4
Dec 07 15:46:55 ubuntu etcd[68088]: enabled capabilities for version 3.4
Dec 07 15:51:51 ubuntu etcd[68088]: start time = 2024-12-07 15:51:51.102779278 +0000 UTC m=+296.009394806, time spent = 2.149575ms, remote = 10.201.5.82:50772, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 07 15:51:51 ubuntu etcd[68088]: start time = 2024-12-07 15:51:51.169896581 +0000 UTC m=+296.076512122, time spent = 268.357µs, remote = 10.201.5.82:50772, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 07 15:51:57 ubuntu etcd[68088]: start time = 2024-12-07 15:51:57.81762693 +0000 UTC m=+302.724242471, time spent = 240.937µs, remote = 10.201.5.82:50772, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 07 15:51:59 ubuntu etcd[68088]: start time = 2024-12-07 15:51:59.990161276 +0000 UTC m=+304.896776812, time spent = 513.094µs, remote = 10.201.5.82:50772, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 07 15:54:55 ubuntu etcd[68088]: start time = 2024-12-07 15:54:55.528537333 +0000 UTC m=+480.435152860, time spent = 384.582µs, remote = 10.201.5.82:50772, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 07 15:54:55 ubuntu etcd[68088]: start time = 2024-12-07 15:54:55.609789332 +0000 UTC m=+480.516404873, time spent = 181.237µs, remote = 10.201.5.82:50772, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 07 15:54:59 ubuntu etcd[68088]: start time = 2024-12-07 15:54:59.54969171 +0000 UTC m=+484.456307255, time spent = 276.146µs, remote = 10.201.5.82:50772, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 07 15:54:59 ubuntu etcd[68088]: start time = 2024-12-07 15:54:59.944883522 +0000 UTC m=+484.851499158, time spent = 408.003µs, remote = 10.201.5.82:50772, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 07 15:56:53 ubuntu etcd[68088]: start time = 2024-12-07 15:56:53.986820131 +0000 UTC m=+598.893435668, time spent = 368.096µs, remote = 10.201.5.82:50772, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 07 15:56:53 ubuntu etcd[68088]: start time = 2024-12-07 15:56:53.991712306 +0000 UTC m=+598.898327843, time spent = 437.166µs, remote = 10.201.5.82:50772, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-191558ec-53b2-44b0-ad90-d130200c2fdf" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-191558ec-53b2-44b0-ad90-d130200c2fdf" value_size:16 lease:5727333674277286425 >> failure:<request_range:<key:"/tooz/lockscinder-191558ec-53b2-44b0-ad90-d130200c2fdf" > >
Dec 07 15:56:56 ubuntu etcd[68088]: start time = 2024-12-07 15:56:56.697505228 +0000 UTC m=+601.604120872, time spent = 648.18µs, remote = 10.201.5.82:50772, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-191558ec-53b2-44b0-ad90-d130200c2fdf" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-191558ec-53b2-44b0-ad90-d130200c2fdf" > > failure:<>
Dec 07 15:56:56 ubuntu etcd[68088]: start time = 2024-12-07 15:56:56.92126574 +0000 UTC m=+601.827881287, time spent = 274.406µs, remote = 10.201.5.82:50772, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 07 15:56:56 ubuntu etcd[68088]: start time = 2024-12-07 15:56:56.923052676 +0000 UTC m=+601.829668219, time spent = 147.362µs, remote = 10.201.5.82:50772, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-191558ec-53b2-44b0-ad90-d130200c2fdf" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-191558ec-53b2-44b0-ad90-d130200c2fdf" value_size:16 lease:5727333674277286429 >> failure:<request_range:<key:"/tooz/lockscinder-191558ec-53b2-44b0-ad90-d130200c2fdf" > >
Dec 07 15:56:57 ubuntu etcd[68088]: start time = 2024-12-07 15:56:57.700581045 +0000 UTC m=+602.607196605, time spent = 246.277µs, remote = 10.201.5.82:50772, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-191558ec-53b2-44b0-ad90-d130200c2fdf" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-191558ec-53b2-44b0-ad90-d130200c2fdf" > > failure:<>
Dec 07 15:56:57 ubuntu etcd[68088]: start time = 2024-12-07 15:56:57.890780221 +0000 UTC m=+602.797395765, time spent = 213.773µs, remote = 10.201.5.82:50772, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 07 15:56:57 ubuntu etcd[68088]: start time = 2024-12-07 15:56:57.892961222 +0000 UTC m=+602.799576867, time spent = 468.278µs, remote = 10.201.5.82:50772, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-191558ec-53b2-44b0-ad90-d130200c2fdf" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-191558ec-53b2-44b0-ad90-d130200c2fdf" value_size:16 lease:5727333674277286433 >> failure:<request_range:<key:"/tooz/lockscinder-191558ec-53b2-44b0-ad90-d130200c2fdf" > >
Dec 07 15:56:58 ubuntu etcd[68088]: start time = 2024-12-07 15:56:58.652111741 +0000 UTC m=+603.558727323, time spent = 360.828µs, remote = 10.201.5.82:50772, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-191558ec-53b2-44b0-ad90-d130200c2fdf" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-191558ec-53b2-44b0-ad90-d130200c2fdf" > > failure:<>
