Jul 08 12:09:46 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 08 12:09:46 ubuntu etcd[66781]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 08 12:09:46 ubuntu etcd[66781]:         A future release of golang/protobuf will delete this package,
Jul 08 12:09:46 ubuntu etcd[66781]:         which has long been excluded from the compatibility promise.
Jul 08 12:09:46 ubuntu etcd[66781]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 08 12:09:46 ubuntu etcd[66781]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 08 12:09:46 ubuntu etcd[66781]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 08 12:09:46 ubuntu etcd[66781]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 08 12:09:46 ubuntu etcd[66781]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 08 12:09:46 ubuntu etcd[66781]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 08 12:09:46 ubuntu etcd[66781]: Running http and grpc server on single port. This is not recommended for production.
Jul 08 12:09:46 ubuntu etcd[66781]: etcd Version: 3.4.27
Jul 08 12:09:46 ubuntu etcd[66781]: Git SHA: c92fb80f3
Jul 08 12:09:46 ubuntu etcd[66781]: Go Version: go1.19.10
Jul 08 12:09:46 ubuntu etcd[66781]: Go OS/Arch: linux/amd64
Jul 08 12:09:46 ubuntu etcd[66781]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 08 12:09:46 ubuntu etcd[66781]: Running http and grpc server on single port. This is not recommended for production.
Jul 08 12:09:46 ubuntu etcd[66781]: name = ubuntu
Jul 08 12:09:46 ubuntu etcd[66781]: data dir = /opt/stack/data/etcd
Jul 08 12:09:46 ubuntu etcd[66781]: member dir = /opt/stack/data/etcd/member
Jul 08 12:09:46 ubuntu etcd[66781]: heartbeat = 100ms
Jul 08 12:09:46 ubuntu etcd[66781]: election = 1000ms
Jul 08 12:09:46 ubuntu etcd[66781]: snapshot count = 100000
Jul 08 12:09:46 ubuntu etcd[66781]: advertise client URLs = http://10.201.5.82:2379
Jul 08 12:09:46 ubuntu etcd[66781]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 08 12:09:46 ubuntu etcd[66781]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jul 08 12:09:46 ubuntu etcd[66781]: raft2024/07/08 12:09:46 INFO: 43038365673ccf7b switched to configuration voters=()
Jul 08 12:09:46 ubuntu etcd[66781]: raft2024/07/08 12:09:46 INFO: 43038365673ccf7b became follower at term 0
Jul 08 12:09:46 ubuntu etcd[66781]: raft2024/07/08 12:09:46 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 08 12:09:46 ubuntu etcd[66781]: raft2024/07/08 12:09:46 INFO: 43038365673ccf7b became follower at term 1
Jul 08 12:09:46 ubuntu etcd[66781]: raft2024/07/08 12:09:46 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 08 12:09:46 ubuntu etcd[66781]: simple token is not cryptographically signed
Jul 08 12:09:46 ubuntu etcd[66781]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 08 12:09:46 ubuntu etcd[66781]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 08 12:09:46 ubuntu etcd[66781]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 08 12:09:46 ubuntu etcd[66781]: raft2024/07/08 12:09:46 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 08 12:09:46 ubuntu etcd[66781]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 08 12:09:46 ubuntu etcd[66781]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jul 08 12:09:46 ubuntu etcd[66781]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 08 12:09:46 ubuntu etcd[66781]: listening for peers on [::]:2380
Jul 08 12:09:47 ubuntu etcd[66781]: raft2024/07/08 12:09:47 INFO: 43038365673ccf7b is starting a new election at term 1
Jul 08 12:09:47 ubuntu etcd[66781]: raft2024/07/08 12:09:47 INFO: 43038365673ccf7b became candidate at term 2
Jul 08 12:09:47 ubuntu etcd[66781]: raft2024/07/08 12:09:47 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jul 08 12:09:47 ubuntu etcd[66781]: raft2024/07/08 12:09:47 INFO: 43038365673ccf7b became leader at term 2
Jul 08 12:09:47 ubuntu etcd[66781]: raft2024/07/08 12:09:47 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jul 08 12:09:47 ubuntu etcd[66781]: setting up the initial cluster version to 3.4
Jul 08 12:09:47 ubuntu etcd[66781]: set the initial cluster version to 3.4
Jul 08 12:09:47 ubuntu etcd[66781]: enabled capabilities for version 3.4
Jul 08 12:09:47 ubuntu etcd[66781]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jul 08 12:09:47 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 08 12:09:47 ubuntu etcd[66781]: ready to serve client requests
Jul 08 12:09:47 ubuntu etcd[66781]: INFO: 2024/07/08 12:09:47 parsed scheme: ""
Jul 08 12:09:47 ubuntu etcd[66781]: INFO: 2024/07/08 12:09:47 scheme "" not registered, fallback to default scheme
Jul 08 12:09:47 ubuntu etcd[66781]: INFO: 2024/07/08 12:09:47 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Jul 08 12:09:47 ubuntu etcd[66781]: INFO: 2024/07/08 12:09:47 ClientConn switching balancer to "pick_first"
Jul 08 12:09:47 ubuntu etcd[66781]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jul 08 12:15:27 ubuntu etcd[66781]: start time = 2024-07-08 12:15:27.781030702 +0000 UTC m=+340.925223570, time spent = 2.013458ms, remote = 10.201.5.82:51378, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 08 12:15:27 ubuntu etcd[66781]: start time = 2024-07-08 12:15:27.875522371 +0000 UTC m=+341.019715251, time spent = 201.128µs, remote = 10.201.5.82:51378, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 08 12:15:34 ubuntu etcd[66781]: start time = 2024-07-08 12:15:34.784459439 +0000 UTC m=+347.928652308, time spent = 185.672µs, remote = 10.201.5.82:51378, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 08 12:15:36 ubuntu etcd[66781]: start time = 2024-07-08 12:15:36.61394655 +0000 UTC m=+349.758139420, time spent = 288.289µs, remote = 10.201.5.82:51378, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 08 12:19:07 ubuntu etcd[66781]: start time = 2024-07-08 12:19:07.512844817 +0000 UTC m=+560.657037684, time spent = 221.122µs, remote = 10.201.5.82:51378, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 08 12:19:07 ubuntu etcd[66781]: start time = 2024-07-08 12:19:07.523171682 +0000 UTC m=+560.667364549, time spent = 120.826µs, remote = 10.201.5.82:51378, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 08 12:19:10 ubuntu etcd[66781]: start time = 2024-07-08 12:19:10.843820354 +0000 UTC m=+563.988013232, time spent = 199.353µs, remote = 10.201.5.82:51378, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 08 12:19:11 ubuntu etcd[66781]: start time = 2024-07-08 12:19:11.97819959 +0000 UTC m=+565.122392468, time spent = 413.958µs, remote = 10.201.5.82:51378, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
