Jul 08 15:47:30 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 08 15:47:30 ubuntu etcd[66684]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 08 15:47:30 ubuntu etcd[66684]:         A future release of golang/protobuf will delete this package,
Jul 08 15:47:30 ubuntu etcd[66684]:         which has long been excluded from the compatibility promise.
Jul 08 15:47:30 ubuntu etcd[66684]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 08 15:47:30 ubuntu etcd[66684]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 08 15:47:30 ubuntu etcd[66684]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 08 15:47:30 ubuntu etcd[66684]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 08 15:47:30 ubuntu etcd[66684]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 08 15:47:30 ubuntu etcd[66684]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 08 15:47:30 ubuntu etcd[66684]: Running http and grpc server on single port. This is not recommended for production.
Jul 08 15:47:30 ubuntu etcd[66684]: etcd Version: 3.4.27
Jul 08 15:47:30 ubuntu etcd[66684]: Git SHA: c92fb80f3
Jul 08 15:47:30 ubuntu etcd[66684]: Go Version: go1.19.10
Jul 08 15:47:30 ubuntu etcd[66684]: Go OS/Arch: linux/amd64
Jul 08 15:47:30 ubuntu etcd[66684]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 08 15:47:30 ubuntu etcd[66684]: Running http and grpc server on single port. This is not recommended for production.
Jul 08 15:47:30 ubuntu etcd[66684]: name = ubuntu
Jul 08 15:47:30 ubuntu etcd[66684]: data dir = /opt/stack/data/etcd
Jul 08 15:47:30 ubuntu etcd[66684]: member dir = /opt/stack/data/etcd/member
Jul 08 15:47:30 ubuntu etcd[66684]: heartbeat = 100ms
Jul 08 15:47:30 ubuntu etcd[66684]: election = 1000ms
Jul 08 15:47:30 ubuntu etcd[66684]: snapshot count = 100000
Jul 08 15:47:30 ubuntu etcd[66684]: advertise client URLs = http://10.201.5.82:2379
Jul 08 15:47:30 ubuntu etcd[66684]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 08 15:47:30 ubuntu etcd[66684]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jul 08 15:47:30 ubuntu etcd[66684]: raft2024/07/08 15:47:30 INFO: 43038365673ccf7b switched to configuration voters=()
Jul 08 15:47:30 ubuntu etcd[66684]: raft2024/07/08 15:47:30 INFO: 43038365673ccf7b became follower at term 0
Jul 08 15:47:30 ubuntu etcd[66684]: raft2024/07/08 15:47:30 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 08 15:47:30 ubuntu etcd[66684]: raft2024/07/08 15:47:30 INFO: 43038365673ccf7b became follower at term 1
Jul 08 15:47:30 ubuntu etcd[66684]: raft2024/07/08 15:47:30 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 08 15:47:30 ubuntu etcd[66684]: simple token is not cryptographically signed
Jul 08 15:47:30 ubuntu etcd[66684]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 08 15:47:30 ubuntu etcd[66684]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 08 15:47:30 ubuntu etcd[66684]: raft2024/07/08 15:47:30 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 08 15:47:30 ubuntu etcd[66684]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jul 08 15:47:30 ubuntu etcd[66684]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 08 15:47:30 ubuntu etcd[66684]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 08 15:47:30 ubuntu etcd[66684]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 08 15:47:30 ubuntu etcd[66684]: listening for peers on [::]:2380
Jul 08 15:47:30 ubuntu etcd[66684]: raft2024/07/08 15:47:30 INFO: 43038365673ccf7b is starting a new election at term 1
Jul 08 15:47:30 ubuntu etcd[66684]: raft2024/07/08 15:47:30 INFO: 43038365673ccf7b became candidate at term 2
Jul 08 15:47:30 ubuntu etcd[66684]: raft2024/07/08 15:47:30 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jul 08 15:47:30 ubuntu etcd[66684]: raft2024/07/08 15:47:30 INFO: 43038365673ccf7b became leader at term 2
Jul 08 15:47:30 ubuntu etcd[66684]: raft2024/07/08 15:47:30 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jul 08 15:47:30 ubuntu etcd[66684]: INFO: 2024/07/08 15:47:30 parsed scheme: ""
Jul 08 15:47:30 ubuntu etcd[66684]: INFO: 2024/07/08 15:47:30 scheme "" not registered, fallback to default scheme
Jul 08 15:47:30 ubuntu etcd[66684]: INFO: 2024/07/08 15:47:30 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Jul 08 15:47:30 ubuntu etcd[66684]: INFO: 2024/07/08 15:47:30 ClientConn switching balancer to "pick_first"
Jul 08 15:47:30 ubuntu etcd[66684]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jul 08 15:47:30 ubuntu etcd[66684]: ready to serve client requests
Jul 08 15:47:30 ubuntu etcd[66684]: setting up the initial cluster version to 3.4
Jul 08 15:47:30 ubuntu etcd[66684]: set the initial cluster version to 3.4
Jul 08 15:47:30 ubuntu etcd[66684]: enabled capabilities for version 3.4
Jul 08 15:47:30 ubuntu etcd[66684]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jul 08 15:47:30 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 08 15:53:15 ubuntu etcd[66684]: start time = 2024-07-08 15:53:15.336957637 +0000 UTC m=+344.660238344, time spent = 1.465733ms, remote = 10.201.5.82:34910, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 08 15:53:15 ubuntu etcd[66684]: start time = 2024-07-08 15:53:15.348277976 +0000 UTC m=+344.671558695, time spent = 384.875µs, remote = 10.201.5.82:34910, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 08 15:53:22 ubuntu etcd[66684]: start time = 2024-07-08 15:53:22.066284024 +0000 UTC m=+351.389564741, time spent = 186.098µs, remote = 10.201.5.82:34910, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 08 15:53:24 ubuntu etcd[66684]: start time = 2024-07-08 15:53:24.103975507 +0000 UTC m=+353.427256212, time spent = 333.615µs, remote = 10.201.5.82:34910, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 08 15:56:26 ubuntu etcd[66684]: start time = 2024-07-08 15:56:26.954470301 +0000 UTC m=+536.277751016, time spent = 331.182µs, remote = 10.201.5.82:34910, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 08 15:56:27 ubuntu etcd[66684]: start time = 2024-07-08 15:56:27.000546947 +0000 UTC m=+536.323827652, time spent = 163.694µs, remote = 10.201.5.82:34910, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 08 15:56:29 ubuntu etcd[66684]: start time = 2024-07-08 15:56:29.370503799 +0000 UTC m=+538.693784514, time spent = 164.856µs, remote = 10.201.5.82:34910, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 08 15:56:31 ubuntu etcd[66684]: start time = 2024-07-08 15:56:31.382092618 +0000 UTC m=+540.705373333, time spent = 186.66µs, remote = 10.201.5.82:34910, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
