Sep 09 15:13:19 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Sep 09 15:13:19 ubuntu etcd[67957]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Sep 09 15:13:19 ubuntu etcd[67957]:         A future release of golang/protobuf will delete this package,
Sep 09 15:13:19 ubuntu etcd[67957]:         which has long been excluded from the compatibility promise.
Sep 09 15:13:19 ubuntu etcd[67957]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Sep 09 15:13:19 ubuntu etcd[67957]: Running http and grpc server on single port. This is not recommended for production.
Sep 09 15:13:19 ubuntu etcd[67957]: etcd Version: 3.4.27
Sep 09 15:13:19 ubuntu etcd[67957]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Sep 09 15:13:19 ubuntu etcd[67957]: Git SHA: c92fb80f3
Sep 09 15:13:19 ubuntu etcd[67957]: Go Version: go1.19.10
Sep 09 15:13:19 ubuntu etcd[67957]: Go OS/Arch: linux/amd64
Sep 09 15:13:19 ubuntu etcd[67957]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Sep 09 15:13:19 ubuntu etcd[67957]: Running http and grpc server on single port. This is not recommended for production.
Sep 09 15:13:19 ubuntu etcd[67957]: name = ubuntu
Sep 09 15:13:19 ubuntu etcd[67957]: data dir = /opt/stack/data/etcd
Sep 09 15:13:19 ubuntu etcd[67957]: member dir = /opt/stack/data/etcd/member
Sep 09 15:13:19 ubuntu etcd[67957]: heartbeat = 100ms
Sep 09 15:13:19 ubuntu etcd[67957]: election = 1000ms
Sep 09 15:13:19 ubuntu etcd[67957]: snapshot count = 100000
Sep 09 15:13:19 ubuntu etcd[67957]: advertise client URLs = http://10.201.5.82:2379
Sep 09 15:13:19 ubuntu etcd[67957]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Sep 09 15:13:19 ubuntu etcd[67957]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Sep 09 15:13:19 ubuntu etcd[67957]: raft2024/09/09 15:13:19 INFO: 43038365673ccf7b switched to configuration voters=()
Sep 09 15:13:19 ubuntu etcd[67957]: raft2024/09/09 15:13:19 INFO: 43038365673ccf7b became follower at term 0
Sep 09 15:13:19 ubuntu etcd[67957]: raft2024/09/09 15:13:19 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Sep 09 15:13:19 ubuntu etcd[67957]: raft2024/09/09 15:13:19 INFO: 43038365673ccf7b became follower at term 1
Sep 09 15:13:19 ubuntu etcd[67957]: raft2024/09/09 15:13:19 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Sep 09 15:13:19 ubuntu etcd[67957]: simple token is not cryptographically signed
Sep 09 15:13:19 ubuntu etcd[67957]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Sep 09 15:13:19 ubuntu etcd[67957]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Sep 09 15:13:19 ubuntu etcd[67957]: raft2024/09/09 15:13:19 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Sep 09 15:13:19 ubuntu etcd[67957]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Sep 09 15:13:19 ubuntu etcd[67957]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Sep 09 15:13:19 ubuntu etcd[67957]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Sep 09 15:13:19 ubuntu etcd[67957]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Sep 09 15:13:19 ubuntu etcd[67957]: listening for peers on [::]:2380
Sep 09 15:13:19 ubuntu etcd[67957]: raft2024/09/09 15:13:19 INFO: 43038365673ccf7b is starting a new election at term 1
Sep 09 15:13:19 ubuntu etcd[67957]: raft2024/09/09 15:13:19 INFO: 43038365673ccf7b became candidate at term 2
Sep 09 15:13:19 ubuntu etcd[67957]: raft2024/09/09 15:13:19 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Sep 09 15:13:19 ubuntu etcd[67957]: raft2024/09/09 15:13:19 INFO: 43038365673ccf7b became leader at term 2
Sep 09 15:13:19 ubuntu etcd[67957]: raft2024/09/09 15:13:19 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Sep 09 15:13:19 ubuntu etcd[67957]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Sep 09 15:13:19 ubuntu etcd[67957]: setting up the initial cluster version to 3.4
Sep 09 15:13:19 ubuntu etcd[67957]: set the initial cluster version to 3.4
Sep 09 15:13:19 ubuntu etcd[67957]: ready to serve client requests
Sep 09 15:13:19 ubuntu etcd[67957]: enabled capabilities for version 3.4
Sep 09 15:13:19 ubuntu etcd[67957]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Sep 09 15:13:19 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Sep 09 15:18:21 ubuntu etcd[67957]: start time = 2024-09-09 15:18:21.401998763 +0000 UTC m=+302.258966139, time spent = 2.231126ms, remote = 10.201.5.82:48382, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 09 15:18:21 ubuntu etcd[67957]: start time = 2024-09-09 15:18:21.401893977 +0000 UTC m=+302.258861358, time spent = 2.536197ms, remote = 10.201.5.82:48382, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 09 15:18:28 ubuntu etcd[67957]: start time = 2024-09-09 15:18:28.475891043 +0000 UTC m=+309.332858429, time spent = 296.157µs, remote = 10.201.5.82:48382, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 09 15:18:30 ubuntu etcd[67957]: start time = 2024-09-09 15:18:30.512546143 +0000 UTC m=+311.369513508, time spent = 262.659µs, remote = 10.201.5.82:48382, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 09 15:21:33 ubuntu etcd[67957]: start time = 2024-09-09 15:21:33.59215426 +0000 UTC m=+494.449121626, time spent = 541.016µs, remote = 10.201.5.82:48382, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 09 15:21:33 ubuntu etcd[67957]: start time = 2024-09-09 15:21:33.977178359 +0000 UTC m=+494.834145737, time spent = 169.027µs, remote = 10.201.5.82:48382, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 09 15:21:34 ubuntu etcd[67957]: start time = 2024-09-09 15:21:34.009151222 +0000 UTC m=+494.866118601, time spent = 121.173µs, remote = 10.201.5.82:48382, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 09 15:21:35 ubuntu etcd[67957]: start time = 2024-09-09 15:21:35.721659328 +0000 UTC m=+496.578626707, time spent = 227.431µs, remote = 10.201.5.82:48382, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
