Sep 10 15:06:15 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Sep 10 15:06:15 ubuntu etcd[67747]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Sep 10 15:06:15 ubuntu etcd[67747]:         A future release of golang/protobuf will delete this package,
Sep 10 15:06:15 ubuntu etcd[67747]:         which has long been excluded from the compatibility promise.
Sep 10 15:06:15 ubuntu etcd[67747]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Sep 10 15:06:15 ubuntu etcd[67747]: Running http and grpc server on single port. This is not recommended for production.
Sep 10 15:06:15 ubuntu etcd[67747]: etcd Version: 3.4.27
Sep 10 15:06:15 ubuntu etcd[67747]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Sep 10 15:06:15 ubuntu etcd[67747]: Git SHA: c92fb80f3
Sep 10 15:06:15 ubuntu etcd[67747]: Go Version: go1.19.10
Sep 10 15:06:15 ubuntu etcd[67747]: Go OS/Arch: linux/amd64
Sep 10 15:06:15 ubuntu etcd[67747]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Sep 10 15:06:15 ubuntu etcd[67747]: Running http and grpc server on single port. This is not recommended for production.
Sep 10 15:06:15 ubuntu etcd[67747]: name = ubuntu
Sep 10 15:06:15 ubuntu etcd[67747]: data dir = /opt/stack/data/etcd
Sep 10 15:06:15 ubuntu etcd[67747]: member dir = /opt/stack/data/etcd/member
Sep 10 15:06:15 ubuntu etcd[67747]: heartbeat = 100ms
Sep 10 15:06:15 ubuntu etcd[67747]: election = 1000ms
Sep 10 15:06:15 ubuntu etcd[67747]: snapshot count = 100000
Sep 10 15:06:15 ubuntu etcd[67747]: advertise client URLs = http://10.201.5.82:2379
Sep 10 15:06:15 ubuntu etcd[67747]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Sep 10 15:06:15 ubuntu etcd[67747]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Sep 10 15:06:15 ubuntu etcd[67747]: raft2024/09/10 15:06:15 INFO: 43038365673ccf7b switched to configuration voters=()
Sep 10 15:06:15 ubuntu etcd[67747]: raft2024/09/10 15:06:15 INFO: 43038365673ccf7b became follower at term 0
Sep 10 15:06:15 ubuntu etcd[67747]: raft2024/09/10 15:06:15 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Sep 10 15:06:15 ubuntu etcd[67747]: raft2024/09/10 15:06:15 INFO: 43038365673ccf7b became follower at term 1
Sep 10 15:06:15 ubuntu etcd[67747]: raft2024/09/10 15:06:15 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Sep 10 15:06:15 ubuntu etcd[67747]: simple token is not cryptographically signed
Sep 10 15:06:15 ubuntu etcd[67747]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Sep 10 15:06:15 ubuntu etcd[67747]: raft2024/09/10 15:06:15 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Sep 10 15:06:15 ubuntu etcd[67747]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Sep 10 15:06:15 ubuntu etcd[67747]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Sep 10 15:06:15 ubuntu etcd[67747]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Sep 10 15:06:15 ubuntu etcd[67747]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Sep 10 15:06:15 ubuntu etcd[67747]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Sep 10 15:06:15 ubuntu etcd[67747]: listening for peers on [::]:2380
Sep 10 15:06:15 ubuntu etcd[67747]: raft2024/09/10 15:06:15 INFO: 43038365673ccf7b is starting a new election at term 1
Sep 10 15:06:15 ubuntu etcd[67747]: raft2024/09/10 15:06:15 INFO: 43038365673ccf7b became candidate at term 2
Sep 10 15:06:15 ubuntu etcd[67747]: raft2024/09/10 15:06:15 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Sep 10 15:06:15 ubuntu etcd[67747]: raft2024/09/10 15:06:15 INFO: 43038365673ccf7b became leader at term 2
Sep 10 15:06:15 ubuntu etcd[67747]: raft2024/09/10 15:06:15 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Sep 10 15:06:15 ubuntu etcd[67747]: setting up the initial cluster version to 3.4
Sep 10 15:06:15 ubuntu etcd[67747]: set the initial cluster version to 3.4
Sep 10 15:06:15 ubuntu etcd[67747]: ready to serve client requests
Sep 10 15:06:15 ubuntu etcd[67747]: enabled capabilities for version 3.4
Sep 10 15:06:15 ubuntu etcd[67747]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Sep 10 15:06:15 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Sep 10 15:06:15 ubuntu etcd[67747]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Sep 10 15:11:18 ubuntu etcd[67747]: start time = 2024-09-10 15:11:18.150422062 +0000 UTC m=+302.558085108, time spent = 2.885548ms, remote = 10.201.5.82:49272, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 10 15:11:18 ubuntu etcd[67747]: start time = 2024-09-10 15:11:18.150312626 +0000 UTC m=+302.557975666, time spent = 3.719442ms, remote = 10.201.5.82:49272, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 10 15:11:24 ubuntu etcd[67747]: start time = 2024-09-10 15:11:24.962525687 +0000 UTC m=+309.370188737, time spent = 1.109978ms, remote = 10.201.5.82:49272, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 10 15:11:27 ubuntu etcd[67747]: start time = 2024-09-10 15:11:27.122916964 +0000 UTC m=+311.530580013, time spent = 199.226µs, remote = 10.201.5.82:49272, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
