Jul 24 00:05:17 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 24 00:05:17 ubuntu etcd[79508]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 24 00:05:17 ubuntu etcd[79508]:         A future release of golang/protobuf will delete this package,
Jul 24 00:05:17 ubuntu etcd[79508]:         which has long been excluded from the compatibility promise.
Jul 24 00:05:17 ubuntu etcd[79508]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 24 00:05:17 ubuntu etcd[79508]: Running http and grpc server on single port. This is not recommended for production.
Jul 24 00:05:17 ubuntu etcd[79508]: etcd Version: 3.4.27
Jul 24 00:05:17 ubuntu etcd[79508]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 24 00:05:17 ubuntu etcd[79508]: Git SHA: c92fb80f3
Jul 24 00:05:17 ubuntu etcd[79508]: Go Version: go1.19.10
Jul 24 00:05:17 ubuntu etcd[79508]: Go OS/Arch: linux/amd64
Jul 24 00:05:17 ubuntu etcd[79508]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 24 00:05:17 ubuntu etcd[79508]: Running http and grpc server on single port. This is not recommended for production.
Jul 24 00:05:17 ubuntu etcd[79508]: name = ubuntu
Jul 24 00:05:17 ubuntu etcd[79508]: data dir = /opt/stack/data/etcd
Jul 24 00:05:17 ubuntu etcd[79508]: member dir = /opt/stack/data/etcd/member
Jul 24 00:05:17 ubuntu etcd[79508]: heartbeat = 100ms
Jul 24 00:05:17 ubuntu etcd[79508]: election = 1000ms
Jul 24 00:05:17 ubuntu etcd[79508]: snapshot count = 100000
Jul 24 00:05:17 ubuntu etcd[79508]: advertise client URLs = http://10.201.5.82:2379
Jul 24 00:05:17 ubuntu etcd[79508]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 24 00:05:17 ubuntu etcd[79508]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jul 24 00:05:17 ubuntu etcd[79508]: raft2025/07/24 00:05:17 INFO: 43038365673ccf7b switched to configuration voters=()
Jul 24 00:05:17 ubuntu etcd[79508]: raft2025/07/24 00:05:17 INFO: 43038365673ccf7b became follower at term 0
Jul 24 00:05:17 ubuntu etcd[79508]: raft2025/07/24 00:05:17 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 24 00:05:17 ubuntu etcd[79508]: raft2025/07/24 00:05:17 INFO: 43038365673ccf7b became follower at term 1
Jul 24 00:05:17 ubuntu etcd[79508]: raft2025/07/24 00:05:17 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 24 00:05:17 ubuntu etcd[79508]: simple token is not cryptographically signed
Jul 24 00:05:17 ubuntu etcd[79508]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 24 00:05:17 ubuntu etcd[79508]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 24 00:05:17 ubuntu etcd[79508]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 24 00:05:17 ubuntu etcd[79508]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 24 00:05:17 ubuntu etcd[79508]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 24 00:05:17 ubuntu etcd[79508]: raft2025/07/24 00:05:17 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 24 00:05:17 ubuntu etcd[79508]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jul 24 00:05:17 ubuntu etcd[79508]: listening for peers on [::]:2380
Jul 24 00:05:18 ubuntu etcd[79508]: raft2025/07/24 00:05:18 INFO: 43038365673ccf7b is starting a new election at term 1
Jul 24 00:05:18 ubuntu etcd[79508]: raft2025/07/24 00:05:18 INFO: 43038365673ccf7b became candidate at term 2
Jul 24 00:05:18 ubuntu etcd[79508]: raft2025/07/24 00:05:18 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jul 24 00:05:18 ubuntu etcd[79508]: raft2025/07/24 00:05:18 INFO: 43038365673ccf7b became leader at term 2
Jul 24 00:05:18 ubuntu etcd[79508]: raft2025/07/24 00:05:18 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jul 24 00:05:18 ubuntu etcd[79508]: setting up the initial cluster version to 3.4
Jul 24 00:05:18 ubuntu etcd[79508]: set the initial cluster version to 3.4
Jul 24 00:05:18 ubuntu etcd[79508]: enabled capabilities for version 3.4
Jul 24 00:05:18 ubuntu etcd[79508]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jul 24 00:05:18 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 24 00:05:18 ubuntu etcd[79508]: ready to serve client requests
Jul 24 00:05:18 ubuntu etcd[79508]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jul 24 00:10:07 ubuntu etcd[79508]: start time = 2025-07-24 00:10:07.278792428 +0000 UTC m=+290.106028986, time spent = 2.509386ms, remote = 10.201.5.82:54956, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 24 00:10:07 ubuntu etcd[79508]: start time = 2025-07-24 00:10:07.365382299 +0000 UTC m=+290.192618869, time spent = 216.47µs, remote = 10.201.5.82:54956, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 24 00:10:14 ubuntu etcd[79508]: start time = 2025-07-24 00:10:14.216433828 +0000 UTC m=+297.043670521, time spent = 396.262µs, remote = 10.201.5.82:54956, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 24 00:10:16 ubuntu etcd[79508]: start time = 2025-07-24 00:10:16.190611827 +0000 UTC m=+299.017848391, time spent = 277.102µs, remote = 10.201.5.82:54956, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 24 00:13:52 ubuntu etcd[79508]: start time = 2025-07-24 00:13:52.42274213 +0000 UTC m=+515.249978742, time spent = 740.827µs, remote = 10.201.5.82:54956, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 24 00:13:52 ubuntu etcd[79508]: start time = 2025-07-24 00:13:52.444659884 +0000 UTC m=+515.271896478, time spent = 173.318µs, remote = 10.201.5.82:54956, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 24 00:13:53 ubuntu etcd[79508]: start time = 2025-07-24 00:13:53.713577203 +0000 UTC m=+516.540813768, time spent = 189.01µs, remote = 10.201.5.82:54956, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 24 00:13:56 ubuntu etcd[79508]: start time = 2025-07-24 00:13:56.333934818 +0000 UTC m=+519.161171387, time spent = 251.338µs, remote = 10.201.5.82:54956, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 24 00:20:40 ubuntu etcd[79508]: start time = 2025-07-24 00:20:40.076984079 +0000 UTC m=+922.904220629, time spent = 396.034µs, remote = 10.201.5.82:54956, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 24 00:20:40 ubuntu etcd[79508]: start time = 2025-07-24 00:20:40.086610198 +0000 UTC m=+922.913846750, time spent = 4.325399ms, remote = 10.201.5.82:54956, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-21440e97-1ff8-463d-b6cc-5b398f7bea27" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-21440e97-1ff8-463d-b6cc-5b398f7bea27" value_size:16 lease:5727338724927415321 >> failure:<request_range:<key:"/tooz/lockscinder-21440e97-1ff8-463d-b6cc-5b398f7bea27" > >
Jul 24 00:20:42 ubuntu etcd[79508]: start time = 2025-07-24 00:20:42.757622234 +0000 UTC m=+925.584858798, time spent = 248.711µs, remote = 10.201.5.82:54956, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-21440e97-1ff8-463d-b6cc-5b398f7bea27" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-21440e97-1ff8-463d-b6cc-5b398f7bea27" > > failure:<>
Jul 24 00:20:43 ubuntu etcd[79508]: start time = 2025-07-24 00:20:43.020719897 +0000 UTC m=+925.847956565, time spent = 547.517µs, remote = 10.201.5.82:54956, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 24 00:20:43 ubuntu etcd[79508]: start time = 2025-07-24 00:20:43.023631418 +0000 UTC m=+925.850868067, time spent = 1.167501ms, remote = 10.201.5.82:54956, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-21440e97-1ff8-463d-b6cc-5b398f7bea27" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-21440e97-1ff8-463d-b6cc-5b398f7bea27" value_size:16 lease:5727338724927415325 >> failure:<request_range:<key:"/tooz/lockscinder-21440e97-1ff8-463d-b6cc-5b398f7bea27" > >
Jul 24 00:20:44 ubuntu etcd[79508]: start time = 2025-07-24 00:20:44.973028499 +0000 UTC m=+927.800265067, time spent = 1.56939ms, remote = 10.201.5.82:54956, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-21440e97-1ff8-463d-b6cc-5b398f7bea27" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-21440e97-1ff8-463d-b6cc-5b398f7bea27" > > failure:<>
Jul 24 00:20:45 ubuntu etcd[79508]: start time = 2025-07-24 00:20:45.236891767 +0000 UTC m=+928.064128443, time spent = 731.271µs, remote = 10.201.5.82:54956, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 24 00:20:45 ubuntu etcd[79508]: start time = 2025-07-24 00:20:45.239900179 +0000 UTC m=+928.067136749, time spent = 288.4µs, remote = 10.201.5.82:54956, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-21440e97-1ff8-463d-b6cc-5b398f7bea27" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-21440e97-1ff8-463d-b6cc-5b398f7bea27" value_size:16 lease:5727338724927415329 >> failure:<request_range:<key:"/tooz/lockscinder-21440e97-1ff8-463d-b6cc-5b398f7bea27" > >
Jul 24 00:20:47 ubuntu etcd[79508]: start time = 2025-07-24 00:20:47.091816722 +0000 UTC m=+929.919053304, time spent = 403.314µs, remote = 10.201.5.82:54956, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-21440e97-1ff8-463d-b6cc-5b398f7bea27" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-21440e97-1ff8-463d-b6cc-5b398f7bea27" > > failure:<>
