Jul 24 14:16:34 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 24 14:16:34 ubuntu etcd[79180]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 24 14:16:34 ubuntu etcd[79180]:         A future release of golang/protobuf will delete this package,
Jul 24 14:16:34 ubuntu etcd[79180]:         which has long been excluded from the compatibility promise.
Jul 24 14:16:34 ubuntu etcd[79180]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 24 14:16:34 ubuntu etcd[79180]: Running http and grpc server on single port. This is not recommended for production.
Jul 24 14:16:34 ubuntu etcd[79180]: etcd Version: 3.4.27
Jul 24 14:16:34 ubuntu etcd[79180]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 24 14:16:34 ubuntu etcd[79180]: Git SHA: c92fb80f3
Jul 24 14:16:34 ubuntu etcd[79180]: Go Version: go1.19.10
Jul 24 14:16:34 ubuntu etcd[79180]: Go OS/Arch: linux/amd64
Jul 24 14:16:34 ubuntu etcd[79180]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 24 14:16:34 ubuntu etcd[79180]: Running http and grpc server on single port. This is not recommended for production.
Jul 24 14:16:34 ubuntu etcd[79180]: name = ubuntu
Jul 24 14:16:34 ubuntu etcd[79180]: data dir = /opt/stack/data/etcd
Jul 24 14:16:34 ubuntu etcd[79180]: member dir = /opt/stack/data/etcd/member
Jul 24 14:16:34 ubuntu etcd[79180]: heartbeat = 100ms
Jul 24 14:16:34 ubuntu etcd[79180]: election = 1000ms
Jul 24 14:16:34 ubuntu etcd[79180]: snapshot count = 100000
Jul 24 14:16:34 ubuntu etcd[79180]: advertise client URLs = http://10.201.5.82:2379
Jul 24 14:16:34 ubuntu etcd[79180]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 24 14:16:34 ubuntu etcd[79180]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jul 24 14:16:34 ubuntu etcd[79180]: raft2025/07/24 14:16:34 INFO: 43038365673ccf7b switched to configuration voters=()
Jul 24 14:16:34 ubuntu etcd[79180]: raft2025/07/24 14:16:34 INFO: 43038365673ccf7b became follower at term 0
Jul 24 14:16:34 ubuntu etcd[79180]: raft2025/07/24 14:16:34 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 24 14:16:34 ubuntu etcd[79180]: raft2025/07/24 14:16:34 INFO: 43038365673ccf7b became follower at term 1
Jul 24 14:16:34 ubuntu etcd[79180]: raft2025/07/24 14:16:34 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 24 14:16:34 ubuntu etcd[79180]: simple token is not cryptographically signed
Jul 24 14:16:34 ubuntu etcd[79180]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 24 14:16:34 ubuntu etcd[79180]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 24 14:16:34 ubuntu etcd[79180]: raft2025/07/24 14:16:34 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 24 14:16:34 ubuntu etcd[79180]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jul 24 14:16:34 ubuntu etcd[79180]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 24 14:16:34 ubuntu etcd[79180]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 24 14:16:34 ubuntu etcd[79180]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 24 14:16:34 ubuntu etcd[79180]: listening for peers on [::]:2380
Jul 24 14:16:35 ubuntu etcd[79180]: raft2025/07/24 14:16:35 INFO: 43038365673ccf7b is starting a new election at term 1
Jul 24 14:16:35 ubuntu etcd[79180]: raft2025/07/24 14:16:35 INFO: 43038365673ccf7b became candidate at term 2
Jul 24 14:16:35 ubuntu etcd[79180]: raft2025/07/24 14:16:35 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jul 24 14:16:35 ubuntu etcd[79180]: raft2025/07/24 14:16:35 INFO: 43038365673ccf7b became leader at term 2
Jul 24 14:16:35 ubuntu etcd[79180]: raft2025/07/24 14:16:35 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jul 24 14:16:35 ubuntu etcd[79180]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jul 24 14:16:35 ubuntu etcd[79180]: setting up the initial cluster version to 3.4
Jul 24 14:16:35 ubuntu etcd[79180]: ready to serve client requests
Jul 24 14:16:35 ubuntu etcd[79180]: set the initial cluster version to 3.4
Jul 24 14:16:35 ubuntu etcd[79180]: enabled capabilities for version 3.4
Jul 24 14:16:35 ubuntu etcd[79180]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jul 24 14:16:35 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 24 14:21:24 ubuntu etcd[79180]: start time = 2025-07-24 14:21:24.377356223 +0000 UTC m=+289.693079075, time spent = 1.236677ms, remote = 10.201.5.82:38076, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 24 14:21:24 ubuntu etcd[79180]: start time = 2025-07-24 14:21:24.42947419 +0000 UTC m=+289.745197059, time spent = 289.05µs, remote = 10.201.5.82:38076, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 24 14:21:31 ubuntu etcd[79180]: start time = 2025-07-24 14:21:31.569249428 +0000 UTC m=+296.884972296, time spent = 186.734µs, remote = 10.201.5.82:38076, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 24 14:21:33 ubuntu etcd[79180]: start time = 2025-07-24 14:21:33.605693157 +0000 UTC m=+298.921416011, time spent = 262.349µs, remote = 10.201.5.82:38076, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 24 14:24:55 ubuntu etcd[79180]: start time = 2025-07-24 14:24:55.52525109 +0000 UTC m=+500.840973942, time spent = 340.73µs, remote = 10.201.5.82:38076, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 24 14:24:55 ubuntu etcd[79180]: start time = 2025-07-24 14:24:55.534110122 +0000 UTC m=+500.849832994, time spent = 139.68µs, remote = 10.201.5.82:38076, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 24 14:24:56 ubuntu etcd[79180]: start time = 2025-07-24 14:24:56.276422911 +0000 UTC m=+501.592145774, time spent = 209.805µs, remote = 10.201.5.82:38076, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 24 14:24:58 ubuntu etcd[79180]: start time = 2025-07-24 14:24:58.60907691 +0000 UTC m=+503.924799780, time spent = 210.887µs, remote = 10.201.5.82:38076, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 24 14:31:43 ubuntu etcd[79180]: start time = 2025-07-24 14:31:43.809255191 +0000 UTC m=+909.124978107, time spent = 691.938µs, remote = 10.201.5.82:38076, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 24 14:31:43 ubuntu etcd[79180]: start time = 2025-07-24 14:31:43.822596012 +0000 UTC m=+909.138318867, time spent = 3.391958ms, remote = 10.201.5.82:38076, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-23e5d1ca-8896-408f-adb5-4cc974ae4084" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-23e5d1ca-8896-408f-adb5-4cc974ae4084" value_size:16 lease:5727338738003260697 >> failure:<request_range:<key:"/tooz/lockscinder-23e5d1ca-8896-408f-adb5-4cc974ae4084" > >
Jul 24 14:31:46 ubuntu etcd[79180]: start time = 2025-07-24 14:31:46.520162368 +0000 UTC m=+911.835885319, time spent = 712.265µs, remote = 10.201.5.82:38076, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-23e5d1ca-8896-408f-adb5-4cc974ae4084" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-23e5d1ca-8896-408f-adb5-4cc974ae4084" > > failure:<>
Jul 24 14:31:46 ubuntu etcd[79180]: start time = 2025-07-24 14:31:46.745172629 +0000 UTC m=+912.060895590, time spent = 642.988µs, remote = 10.201.5.82:38076, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 24 14:31:46 ubuntu etcd[79180]: start time = 2025-07-24 14:31:46.747601991 +0000 UTC m=+912.063324915, time spent = 347.198µs, remote = 10.201.5.82:38076, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-23e5d1ca-8896-408f-adb5-4cc974ae4084" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-23e5d1ca-8896-408f-adb5-4cc974ae4084" value_size:16 lease:5727338738003260701 >> failure:<request_range:<key:"/tooz/lockscinder-23e5d1ca-8896-408f-adb5-4cc974ae4084" > >
Jul 24 14:31:48 ubuntu etcd[79180]: start time = 2025-07-24 14:31:48.532382163 +0000 UTC m=+913.848105076, time spent = 377.62µs, remote = 10.201.5.82:38076, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-23e5d1ca-8896-408f-adb5-4cc974ae4084" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-23e5d1ca-8896-408f-adb5-4cc974ae4084" > > failure:<>
Jul 24 14:31:48 ubuntu etcd[79180]: start time = 2025-07-24 14:31:48.76861572 +0000 UTC m=+914.084338573, time spent = 479.997µs, remote = 10.201.5.82:38076, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 24 14:31:48 ubuntu etcd[79180]: start time = 2025-07-24 14:31:48.770752246 +0000 UTC m=+914.086475115, time spent = 317.453µs, remote = 10.201.5.82:38076, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-23e5d1ca-8896-408f-adb5-4cc974ae4084" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-23e5d1ca-8896-408f-adb5-4cc974ae4084" value_size:16 lease:5727338738003260705 >> failure:<request_range:<key:"/tooz/lockscinder-23e5d1ca-8896-408f-adb5-4cc974ae4084" > >
Jul 24 14:31:50 ubuntu etcd[79180]: start time = 2025-07-24 14:31:50.562729667 +0000 UTC m=+915.878452645, time spent = 584.272µs, remote = 10.201.5.82:38076, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-23e5d1ca-8896-408f-adb5-4cc974ae4084" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-23e5d1ca-8896-408f-adb5-4cc974ae4084" > > failure:<>
