May 28 20:32:18 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 28 20:32:18 ubuntu etcd[79629]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 28 20:32:18 ubuntu etcd[79629]:         A future release of golang/protobuf will delete this package,
May 28 20:32:18 ubuntu etcd[79629]:         which has long been excluded from the compatibility promise.
May 28 20:32:18 ubuntu etcd[79629]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 28 20:32:18 ubuntu etcd[79629]: Running http and grpc server on single port. This is not recommended for production.
May 28 20:32:18 ubuntu etcd[79629]: etcd Version: 3.4.27
May 28 20:32:18 ubuntu etcd[79629]: Git SHA: c92fb80f3
May 28 20:32:18 ubuntu etcd[79629]: Go Version: go1.19.10
May 28 20:32:18 ubuntu etcd[79629]: Go OS/Arch: linux/amd64
May 28 20:32:18 ubuntu etcd[79629]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 28 20:32:18 ubuntu etcd[79629]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 28 20:32:18 ubuntu etcd[79629]: Running http and grpc server on single port. This is not recommended for production.
May 28 20:32:18 ubuntu etcd[79629]: name = ubuntu
May 28 20:32:18 ubuntu etcd[79629]: data dir = /opt/stack/data/etcd
May 28 20:32:18 ubuntu etcd[79629]: member dir = /opt/stack/data/etcd/member
May 28 20:32:18 ubuntu etcd[79629]: heartbeat = 100ms
May 28 20:32:18 ubuntu etcd[79629]: election = 1000ms
May 28 20:32:18 ubuntu etcd[79629]: snapshot count = 100000
May 28 20:32:18 ubuntu etcd[79629]: advertise client URLs = http://10.201.5.82:2379
May 28 20:32:18 ubuntu etcd[79629]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 28 20:32:19 ubuntu etcd[79629]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
May 28 20:32:19 ubuntu etcd[79629]: raft2025/05/28 20:32:19 INFO: 43038365673ccf7b switched to configuration voters=()
May 28 20:32:19 ubuntu etcd[79629]: raft2025/05/28 20:32:19 INFO: 43038365673ccf7b became follower at term 0
May 28 20:32:19 ubuntu etcd[79629]: raft2025/05/28 20:32:19 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 28 20:32:19 ubuntu etcd[79629]: raft2025/05/28 20:32:19 INFO: 43038365673ccf7b became follower at term 1
May 28 20:32:19 ubuntu etcd[79629]: raft2025/05/28 20:32:19 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
May 28 20:32:19 ubuntu etcd[79629]: simple token is not cryptographically signed
May 28 20:32:19 ubuntu etcd[79629]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 28 20:32:19 ubuntu etcd[79629]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
May 28 20:32:19 ubuntu etcd[79629]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 28 20:32:19 ubuntu etcd[79629]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 28 20:32:19 ubuntu etcd[79629]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 28 20:32:19 ubuntu etcd[79629]: raft2025/05/28 20:32:19 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
May 28 20:32:19 ubuntu etcd[79629]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
May 28 20:32:19 ubuntu etcd[79629]: listening for peers on [::]:2380
May 28 20:32:20 ubuntu etcd[79629]: raft2025/05/28 20:32:20 INFO: 43038365673ccf7b is starting a new election at term 1
May 28 20:32:20 ubuntu etcd[79629]: raft2025/05/28 20:32:20 INFO: 43038365673ccf7b became candidate at term 2
May 28 20:32:20 ubuntu etcd[79629]: raft2025/05/28 20:32:20 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
May 28 20:32:20 ubuntu etcd[79629]: raft2025/05/28 20:32:20 INFO: 43038365673ccf7b became leader at term 2
May 28 20:32:20 ubuntu etcd[79629]: raft2025/05/28 20:32:20 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
May 28 20:32:20 ubuntu etcd[79629]: setting up the initial cluster version to 3.4
May 28 20:32:20 ubuntu etcd[79629]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
May 28 20:32:20 ubuntu etcd[79629]: ready to serve client requests
May 28 20:32:20 ubuntu etcd[79629]: set the initial cluster version to 3.4
May 28 20:32:20 ubuntu etcd[79629]: enabled capabilities for version 3.4
May 28 20:32:20 ubuntu etcd[79629]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
May 28 20:32:20 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 28 20:36:59 ubuntu etcd[79629]: start time = 2025-05-28 20:36:59.2274775 +0000 UTC m=+280.270861048, time spent = 1.479653ms, remote = 10.201.5.82:59454, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 28 20:36:59 ubuntu etcd[79629]: start time = 2025-05-28 20:36:59.227483041 +0000 UTC m=+280.270866590, time spent = 1.598473ms, remote = 10.201.5.82:59454, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 28 20:37:06 ubuntu etcd[79629]: start time = 2025-05-28 20:37:06.225636284 +0000 UTC m=+287.269019841, time spent = 351.803µs, remote = 10.201.5.82:59454, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 28 20:37:08 ubuntu etcd[79629]: start time = 2025-05-28 20:37:08.590121694 +0000 UTC m=+289.633505246, time spent = 184.133µs, remote = 10.201.5.82:59454, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
