Sep 17 16:24:02 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Sep 17 16:24:02 ubuntu etcd[67924]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Sep 17 16:24:02 ubuntu etcd[67924]:         A future release of golang/protobuf will delete this package,
Sep 17 16:24:02 ubuntu etcd[67924]:         which has long been excluded from the compatibility promise.
Sep 17 16:24:02 ubuntu etcd[67924]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Sep 17 16:24:02 ubuntu etcd[67924]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Sep 17 16:24:02 ubuntu etcd[67924]: Running http and grpc server on single port. This is not recommended for production.
Sep 17 16:24:02 ubuntu etcd[67924]: etcd Version: 3.4.27
Sep 17 16:24:02 ubuntu etcd[67924]: Git SHA: c92fb80f3
Sep 17 16:24:02 ubuntu etcd[67924]: Go Version: go1.19.10
Sep 17 16:24:02 ubuntu etcd[67924]: Go OS/Arch: linux/amd64
Sep 17 16:24:02 ubuntu etcd[67924]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Sep 17 16:24:02 ubuntu etcd[67924]: Running http and grpc server on single port. This is not recommended for production.
Sep 17 16:24:02 ubuntu etcd[67924]: name = ubuntu
Sep 17 16:24:02 ubuntu etcd[67924]: data dir = /opt/stack/data/etcd
Sep 17 16:24:02 ubuntu etcd[67924]: member dir = /opt/stack/data/etcd/member
Sep 17 16:24:02 ubuntu etcd[67924]: heartbeat = 100ms
Sep 17 16:24:02 ubuntu etcd[67924]: election = 1000ms
Sep 17 16:24:02 ubuntu etcd[67924]: snapshot count = 100000
Sep 17 16:24:02 ubuntu etcd[67924]: advertise client URLs = http://10.201.5.82:2379
Sep 17 16:24:02 ubuntu etcd[67924]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Sep 17 16:24:02 ubuntu etcd[67924]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Sep 17 16:24:02 ubuntu etcd[67924]: raft2024/09/17 16:24:02 INFO: 43038365673ccf7b switched to configuration voters=()
Sep 17 16:24:02 ubuntu etcd[67924]: raft2024/09/17 16:24:02 INFO: 43038365673ccf7b became follower at term 0
Sep 17 16:24:02 ubuntu etcd[67924]: raft2024/09/17 16:24:02 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Sep 17 16:24:02 ubuntu etcd[67924]: raft2024/09/17 16:24:02 INFO: 43038365673ccf7b became follower at term 1
Sep 17 16:24:02 ubuntu etcd[67924]: raft2024/09/17 16:24:02 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Sep 17 16:24:02 ubuntu etcd[67924]: simple token is not cryptographically signed
Sep 17 16:24:02 ubuntu etcd[67924]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Sep 17 16:24:02 ubuntu etcd[67924]: listening for peers on [::]:2380
Sep 17 16:24:02 ubuntu etcd[67924]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Sep 17 16:24:02 ubuntu etcd[67924]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Sep 17 16:24:02 ubuntu etcd[67924]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Sep 17 16:24:02 ubuntu etcd[67924]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Sep 17 16:24:02 ubuntu etcd[67924]: raft2024/09/17 16:24:02 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Sep 17 16:24:02 ubuntu etcd[67924]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Sep 17 16:24:03 ubuntu etcd[67924]: raft2024/09/17 16:24:03 INFO: 43038365673ccf7b is starting a new election at term 1
Sep 17 16:24:03 ubuntu etcd[67924]: raft2024/09/17 16:24:03 INFO: 43038365673ccf7b became candidate at term 2
Sep 17 16:24:03 ubuntu etcd[67924]: raft2024/09/17 16:24:03 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Sep 17 16:24:03 ubuntu etcd[67924]: raft2024/09/17 16:24:03 INFO: 43038365673ccf7b became leader at term 2
Sep 17 16:24:03 ubuntu etcd[67924]: raft2024/09/17 16:24:03 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Sep 17 16:24:03 ubuntu etcd[67924]: setting up the initial cluster version to 3.4
Sep 17 16:24:03 ubuntu etcd[67924]: set the initial cluster version to 3.4
Sep 17 16:24:03 ubuntu etcd[67924]: enabled capabilities for version 3.4
Sep 17 16:24:03 ubuntu etcd[67924]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Sep 17 16:24:03 ubuntu etcd[67924]: ready to serve client requests
Sep 17 16:24:03 ubuntu etcd[67924]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Sep 17 16:24:03 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Sep 17 16:28:59 ubuntu etcd[67924]: start time = 2024-09-17 16:28:59.069774256 +0000 UTC m=+296.704485771, time spent = 1.978523ms, remote = 10.201.5.82:58238, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 17 16:28:59 ubuntu etcd[67924]: start time = 2024-09-17 16:28:59.073557126 +0000 UTC m=+296.708268671, time spent = 343.692µs, remote = 10.201.5.82:58238, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 17 16:29:05 ubuntu etcd[67924]: start time = 2024-09-17 16:29:05.749720762 +0000 UTC m=+303.384432273, time spent = 270.516µs, remote = 10.201.5.82:58238, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 17 16:29:08 ubuntu etcd[67924]: start time = 2024-09-17 16:29:08.314792229 +0000 UTC m=+305.949503754, time spent = 268.25µs, remote = 10.201.5.82:58238, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
