Jun 02 22:40:47 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 02 22:40:47 ubuntu etcd[79536]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 02 22:40:47 ubuntu etcd[79536]:         A future release of golang/protobuf will delete this package,
Jun 02 22:40:47 ubuntu etcd[79536]:         which has long been excluded from the compatibility promise.
Jun 02 22:40:47 ubuntu etcd[79536]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 02 22:40:47 ubuntu etcd[79536]: Running http and grpc server on single port. This is not recommended for production.
Jun 02 22:40:47 ubuntu etcd[79536]: etcd Version: 3.4.27
Jun 02 22:40:47 ubuntu etcd[79536]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 02 22:40:47 ubuntu etcd[79536]: Git SHA: c92fb80f3
Jun 02 22:40:47 ubuntu etcd[79536]: Go Version: go1.19.10
Jun 02 22:40:47 ubuntu etcd[79536]: Go OS/Arch: linux/amd64
Jun 02 22:40:47 ubuntu etcd[79536]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 02 22:40:47 ubuntu etcd[79536]: Running http and grpc server on single port. This is not recommended for production.
Jun 02 22:40:47 ubuntu etcd[79536]: name = ubuntu
Jun 02 22:40:47 ubuntu etcd[79536]: data dir = /opt/stack/data/etcd
Jun 02 22:40:47 ubuntu etcd[79536]: member dir = /opt/stack/data/etcd/member
Jun 02 22:40:47 ubuntu etcd[79536]: heartbeat = 100ms
Jun 02 22:40:47 ubuntu etcd[79536]: election = 1000ms
Jun 02 22:40:47 ubuntu etcd[79536]: snapshot count = 100000
Jun 02 22:40:47 ubuntu etcd[79536]: advertise client URLs = http://10.201.5.82:2379
Jun 02 22:40:47 ubuntu etcd[79536]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 02 22:40:47 ubuntu etcd[79536]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jun 02 22:40:47 ubuntu etcd[79536]: raft2025/06/02 22:40:47 INFO: 43038365673ccf7b switched to configuration voters=()
Jun 02 22:40:47 ubuntu etcd[79536]: raft2025/06/02 22:40:47 INFO: 43038365673ccf7b became follower at term 0
Jun 02 22:40:47 ubuntu etcd[79536]: raft2025/06/02 22:40:47 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 02 22:40:47 ubuntu etcd[79536]: raft2025/06/02 22:40:47 INFO: 43038365673ccf7b became follower at term 1
Jun 02 22:40:47 ubuntu etcd[79536]: raft2025/06/02 22:40:47 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 02 22:40:47 ubuntu etcd[79536]: simple token is not cryptographically signed
Jun 02 22:40:47 ubuntu etcd[79536]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 02 22:40:47 ubuntu etcd[79536]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 02 22:40:47 ubuntu etcd[79536]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 02 22:40:47 ubuntu etcd[79536]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 02 22:40:47 ubuntu etcd[79536]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 02 22:40:47 ubuntu etcd[79536]: raft2025/06/02 22:40:47 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 02 22:40:47 ubuntu etcd[79536]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jun 02 22:40:47 ubuntu etcd[79536]: listening for peers on [::]:2380
Jun 02 22:40:48 ubuntu etcd[79536]: raft2025/06/02 22:40:48 INFO: 43038365673ccf7b is starting a new election at term 1
Jun 02 22:40:48 ubuntu etcd[79536]: raft2025/06/02 22:40:48 INFO: 43038365673ccf7b became candidate at term 2
Jun 02 22:40:48 ubuntu etcd[79536]: raft2025/06/02 22:40:48 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jun 02 22:40:48 ubuntu etcd[79536]: raft2025/06/02 22:40:48 INFO: 43038365673ccf7b became leader at term 2
Jun 02 22:40:48 ubuntu etcd[79536]: raft2025/06/02 22:40:48 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jun 02 22:40:48 ubuntu etcd[79536]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jun 02 22:40:48 ubuntu etcd[79536]: ready to serve client requests
Jun 02 22:40:48 ubuntu etcd[79536]: setting up the initial cluster version to 3.4
Jun 02 22:40:48 ubuntu etcd[79536]: set the initial cluster version to 3.4
Jun 02 22:40:48 ubuntu etcd[79536]: enabled capabilities for version 3.4
Jun 02 22:40:48 ubuntu etcd[79536]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jun 02 22:40:48 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 02 22:45:25 ubuntu etcd[79536]: start time = 2025-06-02 22:45:25.134943471 +0000 UTC m=+278.036418726, time spent = 1.030143ms, remote = 10.201.5.82:42618, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 02 22:45:25 ubuntu etcd[79536]: start time = 2025-06-02 22:45:25.202811756 +0000 UTC m=+278.104287020, time spent = 241.567µs, remote = 10.201.5.82:42618, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 02 22:45:32 ubuntu etcd[79536]: start time = 2025-06-02 22:45:32.052695276 +0000 UTC m=+284.954170538, time spent = 251.478µs, remote = 10.201.5.82:42618, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 02 22:45:34 ubuntu etcd[79536]: start time = 2025-06-02 22:45:34.147241627 +0000 UTC m=+287.048716891, time spent = 1.345011ms, remote = 10.201.5.82:42618, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 02 22:49:19 ubuntu etcd[79536]: start time = 2025-06-02 22:49:19.653876716 +0000 UTC m=+512.555351982, time spent = 369.518µs, remote = 10.201.5.82:42618, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 02 22:49:19 ubuntu etcd[79536]: start time = 2025-06-02 22:49:19.67775156 +0000 UTC m=+512.579226826, time spent = 164.181µs, remote = 10.201.5.82:42618, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 02 22:49:21 ubuntu etcd[79536]: start time = 2025-06-02 22:49:21.592999304 +0000 UTC m=+514.494474567, time spent = 233.416µs, remote = 10.201.5.82:42618, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 02 22:49:23 ubuntu etcd[79536]: start time = 2025-06-02 22:49:23.998240981 +0000 UTC m=+516.899716248, time spent = 214.004µs, remote = 10.201.5.82:42618, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 02 22:51:18 ubuntu etcd[79536]: start time = 2025-06-02 22:51:18.538904389 +0000 UTC m=+631.440379681, time spent = 282.948µs, remote = 10.201.5.82:42618, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 02 22:51:18 ubuntu etcd[79536]: start time = 2025-06-02 22:51:18.54841483 +0000 UTC m=+631.449890107, time spent = 3.866667ms, remote = 10.201.5.82:42618, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-690aee8d-dc6d-43a7-8cb6-236b51a80bb5" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-690aee8d-dc6d-43a7-8cb6-236b51a80bb5" value_size:16 lease:5727337595591076377 >> failure:<request_range:<key:"/tooz/lockscinder-690aee8d-dc6d-43a7-8cb6-236b51a80bb5" > >
Jun 02 22:51:21 ubuntu etcd[79536]: start time = 2025-06-02 22:51:21.223100288 +0000 UTC m=+634.124575665, time spent = 652.551µs, remote = 10.201.5.82:42618, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-690aee8d-dc6d-43a7-8cb6-236b51a80bb5" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-690aee8d-dc6d-43a7-8cb6-236b51a80bb5" > > failure:<>
Jun 02 22:51:21 ubuntu etcd[79536]: start time = 2025-06-02 22:51:21.486890459 +0000 UTC m=+634.388365724, time spent = 224.428µs, remote = 10.201.5.82:42618, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 02 22:51:21 ubuntu etcd[79536]: start time = 2025-06-02 22:51:21.488797299 +0000 UTC m=+634.390272573, time spent = 192.654µs, remote = 10.201.5.82:42618, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-690aee8d-dc6d-43a7-8cb6-236b51a80bb5" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-690aee8d-dc6d-43a7-8cb6-236b51a80bb5" value_size:16 lease:5727337595591076381 >> failure:<request_range:<key:"/tooz/lockscinder-690aee8d-dc6d-43a7-8cb6-236b51a80bb5" > >
Jun 02 22:51:23 ubuntu etcd[79536]: start time = 2025-06-02 22:51:23.259120446 +0000 UTC m=+636.160595824, time spent = 598.676µs, remote = 10.201.5.82:42618, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-690aee8d-dc6d-43a7-8cb6-236b51a80bb5" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-690aee8d-dc6d-43a7-8cb6-236b51a80bb5" > > failure:<>
Jun 02 22:51:23 ubuntu etcd[79536]: start time = 2025-06-02 22:51:23.496060145 +0000 UTC m=+636.397535414, time spent = 262.148µs, remote = 10.201.5.82:42618, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 02 22:51:23 ubuntu etcd[79536]: start time = 2025-06-02 22:51:23.498224651 +0000 UTC m=+636.399700013, time spent = 3.526635ms, remote = 10.201.5.82:42618, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-690aee8d-dc6d-43a7-8cb6-236b51a80bb5" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-690aee8d-dc6d-43a7-8cb6-236b51a80bb5" value_size:16 lease:5727337595591076385 >> failure:<request_range:<key:"/tooz/lockscinder-690aee8d-dc6d-43a7-8cb6-236b51a80bb5" > >
Jun 02 22:51:25 ubuntu etcd[79536]: start time = 2025-06-02 22:51:25.337525173 +0000 UTC m=+638.239000524, time spent = 590.691µs, remote = 10.201.5.82:42618, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-690aee8d-dc6d-43a7-8cb6-236b51a80bb5" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-690aee8d-dc6d-43a7-8cb6-236b51a80bb5" > > failure:<>
