Feb 11 20:29:02 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Feb 11 20:29:02 ubuntu etcd[79099]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Feb 11 20:29:02 ubuntu etcd[79099]:         A future release of golang/protobuf will delete this package,
Feb 11 20:29:02 ubuntu etcd[79099]:         which has long been excluded from the compatibility promise.
Feb 11 20:29:02 ubuntu etcd[79099]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 11 20:29:02 ubuntu etcd[79099]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 11 20:29:02 ubuntu etcd[79099]: Running http and grpc server on single port. This is not recommended for production.
Feb 11 20:29:02 ubuntu etcd[79099]: etcd Version: 3.4.27
Feb 11 20:29:02 ubuntu etcd[79099]: Git SHA: c92fb80f3
Feb 11 20:29:02 ubuntu etcd[79099]: Go Version: go1.19.10
Feb 11 20:29:02 ubuntu etcd[79099]: Go OS/Arch: linux/amd64
Feb 11 20:29:02 ubuntu etcd[79099]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Feb 11 20:29:02 ubuntu etcd[79099]: Running http and grpc server on single port. This is not recommended for production.
Feb 11 20:29:02 ubuntu etcd[79099]: name = ubuntu
Feb 11 20:29:02 ubuntu etcd[79099]: data dir = /opt/stack/data/etcd
Feb 11 20:29:02 ubuntu etcd[79099]: member dir = /opt/stack/data/etcd/member
Feb 11 20:29:02 ubuntu etcd[79099]: heartbeat = 100ms
Feb 11 20:29:02 ubuntu etcd[79099]: election = 1000ms
Feb 11 20:29:02 ubuntu etcd[79099]: snapshot count = 100000
Feb 11 20:29:02 ubuntu etcd[79099]: advertise client URLs = http://10.201.5.82:2379
Feb 11 20:29:02 ubuntu etcd[79099]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Feb 11 20:29:02 ubuntu etcd[79099]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Feb 11 20:29:02 ubuntu etcd[79099]: raft2025/02/11 20:29:02 INFO: 43038365673ccf7b switched to configuration voters=()
Feb 11 20:29:02 ubuntu etcd[79099]: raft2025/02/11 20:29:02 INFO: 43038365673ccf7b became follower at term 0
Feb 11 20:29:02 ubuntu etcd[79099]: raft2025/02/11 20:29:02 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Feb 11 20:29:02 ubuntu etcd[79099]: raft2025/02/11 20:29:02 INFO: 43038365673ccf7b became follower at term 1
Feb 11 20:29:02 ubuntu etcd[79099]: raft2025/02/11 20:29:02 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Feb 11 20:29:02 ubuntu etcd[79099]: simple token is not cryptographically signed
Feb 11 20:29:02 ubuntu etcd[79099]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Feb 11 20:29:02 ubuntu etcd[79099]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Feb 11 20:29:02 ubuntu etcd[79099]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Feb 11 20:29:02 ubuntu etcd[79099]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Feb 11 20:29:02 ubuntu etcd[79099]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Feb 11 20:29:02 ubuntu etcd[79099]: raft2025/02/11 20:29:02 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Feb 11 20:29:02 ubuntu etcd[79099]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Feb 11 20:29:02 ubuntu etcd[79099]: listening for peers on [::]:2380
Feb 11 20:29:02 ubuntu etcd[79099]: raft2025/02/11 20:29:02 INFO: 43038365673ccf7b is starting a new election at term 1
Feb 11 20:29:02 ubuntu etcd[79099]: raft2025/02/11 20:29:02 INFO: 43038365673ccf7b became candidate at term 2
Feb 11 20:29:02 ubuntu etcd[79099]: raft2025/02/11 20:29:02 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Feb 11 20:29:02 ubuntu etcd[79099]: raft2025/02/11 20:29:02 INFO: 43038365673ccf7b became leader at term 2
Feb 11 20:29:02 ubuntu etcd[79099]: raft2025/02/11 20:29:02 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Feb 11 20:29:02 ubuntu etcd[79099]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Feb 11 20:29:02 ubuntu etcd[79099]: ready to serve client requests
Feb 11 20:29:02 ubuntu etcd[79099]: setting up the initial cluster version to 3.4
Feb 11 20:29:02 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Feb 11 20:29:02 ubuntu etcd[79099]: set the initial cluster version to 3.4
Feb 11 20:29:02 ubuntu etcd[79099]: enabled capabilities for version 3.4
Feb 11 20:29:02 ubuntu etcd[79099]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Feb 11 20:33:59 ubuntu etcd[79099]: start time = 2025-02-11 20:33:59.522302795 +0000 UTC m=+297.074753513, time spent = 1.425885ms, remote = 10.201.5.82:41506, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 11 20:33:59 ubuntu etcd[79099]: start time = 2025-02-11 20:33:59.616086674 +0000 UTC m=+297.168537405, time spent = 254.413µs, remote = 10.201.5.82:41506, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 11 20:34:06 ubuntu etcd[79099]: start time = 2025-02-11 20:34:06.59940358 +0000 UTC m=+304.151854301, time spent = 222.765µs, remote = 10.201.5.82:41506, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 11 20:34:09 ubuntu etcd[79099]: start time = 2025-02-11 20:34:09.093019658 +0000 UTC m=+306.645470383, time spent = 241.14µs, remote = 10.201.5.82:41506, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 11 20:37:05 ubuntu etcd[79099]: start time = 2025-02-11 20:37:05.865676813 +0000 UTC m=+483.418127625, time spent = 705.52µs, remote = 10.201.5.82:41506, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 11 20:37:05 ubuntu etcd[79099]: start time = 2025-02-11 20:37:05.869105975 +0000 UTC m=+483.421556815, time spent = 234.484µs, remote = 10.201.5.82:41506, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 11 20:37:06 ubuntu etcd[79099]: start time = 2025-02-11 20:37:06.737789164 +0000 UTC m=+484.290239892, time spent = 215.125µs, remote = 10.201.5.82:41506, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 11 20:37:10 ubuntu etcd[79099]: start time = 2025-02-11 20:37:10.304346929 +0000 UTC m=+487.856797654, time spent = 185.878µs, remote = 10.201.5.82:41506, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 11 20:38:59 ubuntu etcd[79099]: start time = 2025-02-11 20:38:59.505980021 +0000 UTC m=+597.058430752, time spent = 385.236µs, remote = 10.201.5.82:41506, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 11 20:38:59 ubuntu etcd[79099]: start time = 2025-02-11 20:38:59.510975122 +0000 UTC m=+597.063425862, time spent = 496.705µs, remote = 10.201.5.82:41506, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-3b49889e-662c-4b48-ae5c-a753dac536e3" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-3b49889e-662c-4b48-ae5c-a753dac536e3" value_size:16 lease:5727335138425084953 >> failure:<request_range:<key:"/tooz/lockscinder-3b49889e-662c-4b48-ae5c-a753dac536e3" > >
Feb 11 20:39:02 ubuntu etcd[79099]: start time = 2025-02-11 20:39:02.382109623 +0000 UTC m=+599.934560443, time spent = 2.170765ms, remote = 10.201.5.82:41506, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-3b49889e-662c-4b48-ae5c-a753dac536e3" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-3b49889e-662c-4b48-ae5c-a753dac536e3" > > failure:<>
Feb 11 20:39:02 ubuntu etcd[79099]: start time = 2025-02-11 20:39:02.759266261 +0000 UTC m=+600.311717024, time spent = 395.353µs, remote = 10.201.5.82:41506, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 11 20:39:02 ubuntu etcd[79099]: start time = 2025-02-11 20:39:02.762053467 +0000 UTC m=+600.314504296, time spent = 632.525µs, remote = 10.201.5.82:41506, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-3b49889e-662c-4b48-ae5c-a753dac536e3" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-3b49889e-662c-4b48-ae5c-a753dac536e3" value_size:16 lease:5727335138425084957 >> failure:<request_range:<key:"/tooz/lockscinder-3b49889e-662c-4b48-ae5c-a753dac536e3" > >
Feb 11 20:39:03 ubuntu etcd[79099]: start time = 2025-02-11 20:39:03.56858347 +0000 UTC m=+601.121034198, time spent = 356.76µs, remote = 10.201.5.82:41506, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-3b49889e-662c-4b48-ae5c-a753dac536e3" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-3b49889e-662c-4b48-ae5c-a753dac536e3" > > failure:<>
Feb 11 20:39:03 ubuntu etcd[79099]: start time = 2025-02-11 20:39:03.809390768 +0000 UTC m=+601.361841480, time spent = 2.272498ms, remote = 10.201.5.82:41506, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 11 20:39:03 ubuntu etcd[79099]: start time = 2025-02-11 20:39:03.814228504 +0000 UTC m=+601.366679342, time spent = 460.797µs, remote = 10.201.5.82:41506, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-3b49889e-662c-4b48-ae5c-a753dac536e3" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-3b49889e-662c-4b48-ae5c-a753dac536e3" value_size:16 lease:5727335138425084961 >> failure:<request_range:<key:"/tooz/lockscinder-3b49889e-662c-4b48-ae5c-a753dac536e3" > >
Feb 11 20:39:04 ubuntu etcd[79099]: start time = 2025-02-11 20:39:04.763602714 +0000 UTC m=+602.316053483, time spent = 445.784µs, remote = 10.201.5.82:41506, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-3b49889e-662c-4b48-ae5c-a753dac536e3" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-3b49889e-662c-4b48-ae5c-a753dac536e3" > > failure:<>
Feb 11 21:19:13 ubuntu etcd[79099]: start time = 2025-02-11 21:19:13.176651336 +0000 UTC m=+3010.729102060, time spent = 472.476µs, remote = 10.201.5.82:41506, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 11 21:19:13 ubuntu etcd[79099]: start time = 2025-02-11 21:19:13.179565585 +0000 UTC m=+3010.732016307, time spent = 272.381µs, remote = 10.201.5.82:41506, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-56187076-90f1-47c9-8d30-81547a8d2fac" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-56187076-90f1-47c9-8d30-81547a8d2fac" value_size:16 lease:5727335138425084968 >> failure:<request_range:<key:"/tooz/lockscinder-56187076-90f1-47c9-8d30-81547a8d2fac" > >
Feb 11 21:19:15 ubuntu etcd[79099]: start time = 2025-02-11 21:19:15.778848077 +0000 UTC m=+3013.331298844, time spent = 441.415µs, remote = 10.201.5.82:41506, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-56187076-90f1-47c9-8d30-81547a8d2fac" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-56187076-90f1-47c9-8d30-81547a8d2fac" > > failure:<>
Feb 11 21:19:16 ubuntu etcd[79099]: start time = 2025-02-11 21:19:16.009531777 +0000 UTC m=+3013.561982503, time spent = 296.618µs, remote = 10.201.5.82:41506, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 11 21:19:16 ubuntu etcd[79099]: start time = 2025-02-11 21:19:16.011357952 +0000 UTC m=+3013.563808677, time spent = 232.488µs, remote = 10.201.5.82:41506, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-56187076-90f1-47c9-8d30-81547a8d2fac" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-56187076-90f1-47c9-8d30-81547a8d2fac" value_size:16 lease:5727335138425084972 >> failure:<request_range:<key:"/tooz/lockscinder-56187076-90f1-47c9-8d30-81547a8d2fac" > >
Feb 11 21:19:16 ubuntu etcd[79099]: start time = 2025-02-11 21:19:16.592923311 +0000 UTC m=+3014.145374034, time spent = 414.785µs, remote = 10.201.5.82:41506, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-56187076-90f1-47c9-8d30-81547a8d2fac" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-56187076-90f1-47c9-8d30-81547a8d2fac" > > failure:<>
Feb 11 21:19:16 ubuntu etcd[79099]: start time = 2025-02-11 21:19:16.880860825 +0000 UTC m=+3014.433311547, time spent = 315.974µs, remote = 10.201.5.82:41506, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 11 21:19:16 ubuntu etcd[79099]: start time = 2025-02-11 21:19:16.884748266 +0000 UTC m=+3014.437198993, time spent = 208.085µs, remote = 10.201.5.82:41506, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-56187076-90f1-47c9-8d30-81547a8d2fac" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-56187076-90f1-47c9-8d30-81547a8d2fac" value_size:16 lease:5727335138425084976 >> failure:<request_range:<key:"/tooz/lockscinder-56187076-90f1-47c9-8d30-81547a8d2fac" > >
Feb 11 21:19:17 ubuntu etcd[79099]: start time = 2025-02-11 21:19:17.502625479 +0000 UTC m=+3015.055076206, time spent = 794.392µs, remote = 10.201.5.82:41506, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-56187076-90f1-47c9-8d30-81547a8d2fac" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-56187076-90f1-47c9-8d30-81547a8d2fac" > > failure:<>
