Dec 04 19:53:30 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 04 19:53:30 ubuntu etcd[67341]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 04 19:53:30 ubuntu etcd[67341]:         A future release of golang/protobuf will delete this package,
Dec 04 19:53:30 ubuntu etcd[67341]:         which has long been excluded from the compatibility promise.
Dec 04 19:53:30 ubuntu etcd[67341]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 04 19:53:30 ubuntu etcd[67341]: Running http and grpc server on single port. This is not recommended for production.
Dec 04 19:53:30 ubuntu etcd[67341]: etcd Version: 3.4.27
Dec 04 19:53:30 ubuntu etcd[67341]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 04 19:53:30 ubuntu etcd[67341]: Git SHA: c92fb80f3
Dec 04 19:53:30 ubuntu etcd[67341]: Go Version: go1.19.10
Dec 04 19:53:30 ubuntu etcd[67341]: Go OS/Arch: linux/amd64
Dec 04 19:53:30 ubuntu etcd[67341]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 04 19:53:30 ubuntu etcd[67341]: Running http and grpc server on single port. This is not recommended for production.
Dec 04 19:53:30 ubuntu etcd[67341]: name = ubuntu
Dec 04 19:53:30 ubuntu etcd[67341]: data dir = /opt/stack/data/etcd
Dec 04 19:53:30 ubuntu etcd[67341]: member dir = /opt/stack/data/etcd/member
Dec 04 19:53:30 ubuntu etcd[67341]: heartbeat = 100ms
Dec 04 19:53:30 ubuntu etcd[67341]: election = 1000ms
Dec 04 19:53:30 ubuntu etcd[67341]: snapshot count = 100000
Dec 04 19:53:30 ubuntu etcd[67341]: advertise client URLs = http://10.201.5.82:2379
Dec 04 19:53:30 ubuntu etcd[67341]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Dec 04 19:53:30 ubuntu etcd[67341]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Dec 04 19:53:30 ubuntu etcd[67341]: raft2024/12/04 19:53:30 INFO: 43038365673ccf7b switched to configuration voters=()
Dec 04 19:53:30 ubuntu etcd[67341]: raft2024/12/04 19:53:30 INFO: 43038365673ccf7b became follower at term 0
Dec 04 19:53:30 ubuntu etcd[67341]: raft2024/12/04 19:53:30 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Dec 04 19:53:30 ubuntu etcd[67341]: raft2024/12/04 19:53:30 INFO: 43038365673ccf7b became follower at term 1
Dec 04 19:53:30 ubuntu etcd[67341]: raft2024/12/04 19:53:30 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Dec 04 19:53:30 ubuntu etcd[67341]: simple token is not cryptographically signed
Dec 04 19:53:30 ubuntu etcd[67341]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Dec 04 19:53:30 ubuntu etcd[67341]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Dec 04 19:53:30 ubuntu etcd[67341]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Dec 04 19:53:30 ubuntu etcd[67341]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Dec 04 19:53:30 ubuntu etcd[67341]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Dec 04 19:53:30 ubuntu etcd[67341]: raft2024/12/04 19:53:30 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Dec 04 19:53:30 ubuntu etcd[67341]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Dec 04 19:53:30 ubuntu etcd[67341]: listening for peers on [::]:2380
Dec 04 19:53:31 ubuntu etcd[67341]: raft2024/12/04 19:53:31 INFO: 43038365673ccf7b is starting a new election at term 1
Dec 04 19:53:31 ubuntu etcd[67341]: raft2024/12/04 19:53:31 INFO: 43038365673ccf7b became candidate at term 2
Dec 04 19:53:31 ubuntu etcd[67341]: raft2024/12/04 19:53:31 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Dec 04 19:53:31 ubuntu etcd[67341]: raft2024/12/04 19:53:31 INFO: 43038365673ccf7b became leader at term 2
Dec 04 19:53:31 ubuntu etcd[67341]: raft2024/12/04 19:53:31 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Dec 04 19:53:31 ubuntu etcd[67341]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Dec 04 19:53:31 ubuntu etcd[67341]: setting up the initial cluster version to 3.4
Dec 04 19:53:31 ubuntu etcd[67341]: ready to serve client requests
Dec 04 19:53:31 ubuntu etcd[67341]: set the initial cluster version to 3.4
Dec 04 19:53:31 ubuntu etcd[67341]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Dec 04 19:53:31 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Dec 04 19:53:31 ubuntu etcd[67341]: enabled capabilities for version 3.4
Dec 04 19:58:28 ubuntu etcd[67341]: start time = 2024-12-04 19:58:28.015348437 +0000 UTC m=+297.573693598, time spent = 1.352801ms, remote = 10.201.5.82:36438, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 04 19:58:28 ubuntu etcd[67341]: start time = 2024-12-04 19:58:28.015577019 +0000 UTC m=+297.573922149, time spent = 2.252731ms, remote = 10.201.5.82:36438, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 04 19:58:34 ubuntu etcd[67341]: start time = 2024-12-04 19:58:34.543732299 +0000 UTC m=+304.102077421, time spent = 229.004µs, remote = 10.201.5.82:36438, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 04 19:58:36 ubuntu etcd[67341]: start time = 2024-12-04 19:58:36.694982882 +0000 UTC m=+306.253328014, time spent = 256.367µs, remote = 10.201.5.82:36438, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 04 20:01:29 ubuntu etcd[67341]: start time = 2024-12-04 20:01:29.052043339 +0000 UTC m=+478.610388466, time spent = 368.331µs, remote = 10.201.5.82:36438, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 04 20:01:29 ubuntu etcd[67341]: start time = 2024-12-04 20:01:29.085206821 +0000 UTC m=+478.643551953, time spent = 213.181µs, remote = 10.201.5.82:36438, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 04 20:01:29 ubuntu etcd[67341]: start time = 2024-12-04 20:01:29.22584382 +0000 UTC m=+478.784188949, time spent = 203.699µs, remote = 10.201.5.82:36438, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 04 20:01:31 ubuntu etcd[67341]: start time = 2024-12-04 20:01:31.666105364 +0000 UTC m=+481.224450540, time spent = 368.449µs, remote = 10.201.5.82:36438, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 04 20:03:22 ubuntu etcd[67341]: start time = 2024-12-04 20:03:22.483185134 +0000 UTC m=+592.041530254, time spent = 284.139µs, remote = 10.201.5.82:36438, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 04 20:03:22 ubuntu etcd[67341]: start time = 2024-12-04 20:03:22.48583718 +0000 UTC m=+592.044182320, time spent = 507.492µs, remote = 10.201.5.82:36438, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-e7f5d4f4-aa24-48cc-b333-eb7d71d9e49a" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-e7f5d4f4-aa24-48cc-b333-eb7d71d9e49a" value_size:16 lease:5727333611709693209 >> failure:<request_range:<key:"/tooz/lockscinder-e7f5d4f4-aa24-48cc-b333-eb7d71d9e49a" > >
Dec 04 20:03:25 ubuntu etcd[67341]: start time = 2024-12-04 20:03:25.129101259 +0000 UTC m=+594.687446475, time spent = 1.093869ms, remote = 10.201.5.82:36438, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-e7f5d4f4-aa24-48cc-b333-eb7d71d9e49a" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-e7f5d4f4-aa24-48cc-b333-eb7d71d9e49a" > > failure:<>
Dec 04 20:03:25 ubuntu etcd[67341]: start time = 2024-12-04 20:03:25.346894378 +0000 UTC m=+594.905239510, time spent = 313.508µs, remote = 10.201.5.82:36438, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 04 20:03:25 ubuntu etcd[67341]: start time = 2024-12-04 20:03:25.348975191 +0000 UTC m=+594.907320426, time spent = 471.657µs, remote = 10.201.5.82:36438, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-e7f5d4f4-aa24-48cc-b333-eb7d71d9e49a" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-e7f5d4f4-aa24-48cc-b333-eb7d71d9e49a" value_size:16 lease:5727333611709693213 >> failure:<request_range:<key:"/tooz/lockscinder-e7f5d4f4-aa24-48cc-b333-eb7d71d9e49a" > >
Dec 04 20:03:26 ubuntu etcd[67341]: start time = 2024-12-04 20:03:26.102623143 +0000 UTC m=+595.660968369, time spent = 1.392237ms, remote = 10.201.5.82:36438, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-e7f5d4f4-aa24-48cc-b333-eb7d71d9e49a" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-e7f5d4f4-aa24-48cc-b333-eb7d71d9e49a" > > failure:<>
Dec 04 20:03:26 ubuntu etcd[67341]: start time = 2024-12-04 20:03:26.302518984 +0000 UTC m=+595.860864113, time spent = 885.201µs, remote = 10.201.5.82:36438, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 04 20:03:26 ubuntu etcd[67341]: start time = 2024-12-04 20:03:26.308707825 +0000 UTC m=+595.867052959, time spent = 181.497µs, remote = 10.201.5.82:36438, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-e7f5d4f4-aa24-48cc-b333-eb7d71d9e49a" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-e7f5d4f4-aa24-48cc-b333-eb7d71d9e49a" value_size:16 lease:5727333611709693217 >> failure:<request_range:<key:"/tooz/lockscinder-e7f5d4f4-aa24-48cc-b333-eb7d71d9e49a" > >
Dec 04 20:03:27 ubuntu etcd[67341]: start time = 2024-12-04 20:03:27.071069591 +0000 UTC m=+596.629414723, time spent = 286.873µs, remote = 10.201.5.82:36438, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-e7f5d4f4-aa24-48cc-b333-eb7d71d9e49a" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-e7f5d4f4-aa24-48cc-b333-eb7d71d9e49a" > > failure:<>
