Jul 30 07:04:23 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 30 07:04:23 ubuntu etcd[79749]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 30 07:04:23 ubuntu etcd[79749]:         A future release of golang/protobuf will delete this package,
Jul 30 07:04:23 ubuntu etcd[79749]:         which has long been excluded from the compatibility promise.
Jul 30 07:04:23 ubuntu etcd[79749]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 30 07:04:23 ubuntu etcd[79749]: Running http and grpc server on single port. This is not recommended for production.
Jul 30 07:04:23 ubuntu etcd[79749]: etcd Version: 3.4.27
Jul 30 07:04:23 ubuntu etcd[79749]: Git SHA: c92fb80f3
Jul 30 07:04:23 ubuntu etcd[79749]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 30 07:04:23 ubuntu etcd[79749]: Go Version: go1.19.10
Jul 30 07:04:23 ubuntu etcd[79749]: Go OS/Arch: linux/amd64
Jul 30 07:04:23 ubuntu etcd[79749]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 30 07:04:23 ubuntu etcd[79749]: Running http and grpc server on single port. This is not recommended for production.
Jul 30 07:04:23 ubuntu etcd[79749]: name = ubuntu
Jul 30 07:04:23 ubuntu etcd[79749]: data dir = /opt/stack/data/etcd
Jul 30 07:04:23 ubuntu etcd[79749]: member dir = /opt/stack/data/etcd/member
Jul 30 07:04:23 ubuntu etcd[79749]: heartbeat = 100ms
Jul 30 07:04:23 ubuntu etcd[79749]: election = 1000ms
Jul 30 07:04:23 ubuntu etcd[79749]: snapshot count = 100000
Jul 30 07:04:23 ubuntu etcd[79749]: advertise client URLs = http://10.201.5.82:2379
Jul 30 07:04:23 ubuntu etcd[79749]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 30 07:04:23 ubuntu etcd[79749]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jul 30 07:04:23 ubuntu etcd[79749]: raft2025/07/30 07:04:23 INFO: 43038365673ccf7b switched to configuration voters=()
Jul 30 07:04:23 ubuntu etcd[79749]: raft2025/07/30 07:04:23 INFO: 43038365673ccf7b became follower at term 0
Jul 30 07:04:23 ubuntu etcd[79749]: raft2025/07/30 07:04:23 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 30 07:04:23 ubuntu etcd[79749]: raft2025/07/30 07:04:23 INFO: 43038365673ccf7b became follower at term 1
Jul 30 07:04:23 ubuntu etcd[79749]: raft2025/07/30 07:04:23 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 30 07:04:23 ubuntu etcd[79749]: simple token is not cryptographically signed
Jul 30 07:04:23 ubuntu etcd[79749]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 30 07:04:23 ubuntu etcd[79749]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 30 07:04:23 ubuntu etcd[79749]: raft2025/07/30 07:04:23 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 30 07:04:23 ubuntu etcd[79749]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 30 07:04:23 ubuntu etcd[79749]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 30 07:04:23 ubuntu etcd[79749]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 30 07:04:23 ubuntu etcd[79749]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jul 30 07:04:23 ubuntu etcd[79749]: listening for peers on [::]:2380
Jul 30 07:04:24 ubuntu etcd[79749]: raft2025/07/30 07:04:24 INFO: 43038365673ccf7b is starting a new election at term 1
Jul 30 07:04:24 ubuntu etcd[79749]: raft2025/07/30 07:04:24 INFO: 43038365673ccf7b became candidate at term 2
Jul 30 07:04:24 ubuntu etcd[79749]: raft2025/07/30 07:04:24 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jul 30 07:04:24 ubuntu etcd[79749]: raft2025/07/30 07:04:24 INFO: 43038365673ccf7b became leader at term 2
Jul 30 07:04:24 ubuntu etcd[79749]: raft2025/07/30 07:04:24 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jul 30 07:04:24 ubuntu etcd[79749]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jul 30 07:04:24 ubuntu etcd[79749]: setting up the initial cluster version to 3.4
Jul 30 07:04:24 ubuntu etcd[79749]: ready to serve client requests
Jul 30 07:04:24 ubuntu etcd[79749]: set the initial cluster version to 3.4
Jul 30 07:04:24 ubuntu etcd[79749]: enabled capabilities for version 3.4
Jul 30 07:04:24 ubuntu etcd[79749]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jul 30 07:04:24 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 30 07:09:21 ubuntu etcd[79749]: start time = 2025-07-30 07:09:21.033436906 +0000 UTC m=+297.679402700, time spent = 5.135248ms, remote = 10.201.5.82:36664, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 30 07:09:21 ubuntu etcd[79749]: start time = 2025-07-30 07:09:21.073743983 +0000 UTC m=+297.719709783, time spent = 300.361µs, remote = 10.201.5.82:36664, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 30 07:09:28 ubuntu etcd[79749]: start time = 2025-07-30 07:09:28.003381443 +0000 UTC m=+304.649347248, time spent = 289.654µs, remote = 10.201.5.82:36664, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 30 07:09:30 ubuntu etcd[79749]: start time = 2025-07-30 07:09:30.115591277 +0000 UTC m=+306.761557086, time spent = 248.535µs, remote = 10.201.5.82:36664, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 30 07:12:56 ubuntu etcd[79749]: start time = 2025-07-30 07:12:56.363729121 +0000 UTC m=+513.009694912, time spent = 359.542µs, remote = 10.201.5.82:36664, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 30 07:12:56 ubuntu etcd[79749]: start time = 2025-07-30 07:12:56.403954423 +0000 UTC m=+513.049920228, time spent = 188.351µs, remote = 10.201.5.82:36664, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 30 07:12:57 ubuntu etcd[79749]: start time = 2025-07-30 07:12:57.779637364 +0000 UTC m=+514.425603170, time spent = 277.728µs, remote = 10.201.5.82:36664, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 30 07:12:59 ubuntu etcd[79749]: start time = 2025-07-30 07:12:59.792650776 +0000 UTC m=+516.438616585, time spent = 209.454µs, remote = 10.201.5.82:36664, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 30 07:19:44 ubuntu etcd[79749]: start time = 2025-07-30 07:19:44.122864684 +0000 UTC m=+920.768830539, time spent = 1.884989ms, remote = 10.201.5.82:36664, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 30 07:19:44 ubuntu etcd[79749]: start time = 2025-07-30 07:19:44.134278739 +0000 UTC m=+920.780244531, time spent = 559.117µs, remote = 10.201.5.82:36664, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-08304105-f2d7-4684-b025-2b100247c4c0" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-08304105-f2d7-4684-b025-2b100247c4c0" value_size:16 lease:5727338864075242521 >> failure:<request_range:<key:"/tooz/lockscinder-08304105-f2d7-4684-b025-2b100247c4c0" > >
Jul 30 07:19:47 ubuntu etcd[79749]: start time = 2025-07-30 07:19:47.182804726 +0000 UTC m=+923.828770588, time spent = 383.979µs, remote = 10.201.5.82:36664, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-08304105-f2d7-4684-b025-2b100247c4c0" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-08304105-f2d7-4684-b025-2b100247c4c0" > > failure:<>
Jul 30 07:19:47 ubuntu etcd[79749]: start time = 2025-07-30 07:19:47.416164735 +0000 UTC m=+924.062130539, time spent = 253.922µs, remote = 10.201.5.82:36664, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 30 07:19:47 ubuntu etcd[79749]: start time = 2025-07-30 07:19:47.418033282 +0000 UTC m=+924.063999090, time spent = 161.121µs, remote = 10.201.5.82:36664, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-08304105-f2d7-4684-b025-2b100247c4c0" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-08304105-f2d7-4684-b025-2b100247c4c0" value_size:16 lease:5727338864075242525 >> failure:<request_range:<key:"/tooz/lockscinder-08304105-f2d7-4684-b025-2b100247c4c0" > >
Jul 30 07:19:49 ubuntu etcd[79749]: start time = 2025-07-30 07:19:49.265839601 +0000 UTC m=+925.911805517, time spent = 561.263µs, remote = 10.201.5.82:36664, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-08304105-f2d7-4684-b025-2b100247c4c0" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-08304105-f2d7-4684-b025-2b100247c4c0" > > failure:<>
Jul 30 07:19:49 ubuntu etcd[79749]: start time = 2025-07-30 07:19:49.526078323 +0000 UTC m=+926.172044128, time spent = 309.046µs, remote = 10.201.5.82:36664, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 30 07:19:49 ubuntu etcd[79749]: start time = 2025-07-30 07:19:49.528665773 +0000 UTC m=+926.174631577, time spent = 205.519µs, remote = 10.201.5.82:36664, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-08304105-f2d7-4684-b025-2b100247c4c0" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-08304105-f2d7-4684-b025-2b100247c4c0" value_size:16 lease:5727338864075242529 >> failure:<request_range:<key:"/tooz/lockscinder-08304105-f2d7-4684-b025-2b100247c4c0" > >
Jul 30 07:19:51 ubuntu etcd[79749]: start time = 2025-07-30 07:19:51.41241114 +0000 UTC m=+928.058376945, time spent = 308.338µs, remote = 10.201.5.82:36664, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-08304105-f2d7-4684-b025-2b100247c4c0" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-08304105-f2d7-4684-b025-2b100247c4c0" > > failure:<>
