Feb 15 08:23:50 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Feb 15 08:23:50 ubuntu etcd[78762]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Feb 15 08:23:50 ubuntu etcd[78762]:         A future release of golang/protobuf will delete this package,
Feb 15 08:23:50 ubuntu etcd[78762]:         which has long been excluded from the compatibility promise.
Feb 15 08:23:50 ubuntu etcd[78762]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 15 08:23:50 ubuntu etcd[78762]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 15 08:23:50 ubuntu etcd[78762]: Running http and grpc server on single port. This is not recommended for production.
Feb 15 08:23:50 ubuntu etcd[78762]: etcd Version: 3.4.27
Feb 15 08:23:50 ubuntu etcd[78762]: Git SHA: c92fb80f3
Feb 15 08:23:50 ubuntu etcd[78762]: Go Version: go1.19.10
Feb 15 08:23:50 ubuntu etcd[78762]: Go OS/Arch: linux/amd64
Feb 15 08:23:50 ubuntu etcd[78762]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Feb 15 08:23:50 ubuntu etcd[78762]: Running http and grpc server on single port. This is not recommended for production.
Feb 15 08:23:50 ubuntu etcd[78762]: name = ubuntu
Feb 15 08:23:50 ubuntu etcd[78762]: data dir = /opt/stack/data/etcd
Feb 15 08:23:50 ubuntu etcd[78762]: member dir = /opt/stack/data/etcd/member
Feb 15 08:23:50 ubuntu etcd[78762]: heartbeat = 100ms
Feb 15 08:23:50 ubuntu etcd[78762]: election = 1000ms
Feb 15 08:23:50 ubuntu etcd[78762]: snapshot count = 100000
Feb 15 08:23:50 ubuntu etcd[78762]: advertise client URLs = http://10.201.5.82:2379
Feb 15 08:23:50 ubuntu etcd[78762]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Feb 15 08:23:50 ubuntu etcd[78762]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Feb 15 08:23:50 ubuntu etcd[78762]: raft2025/02/15 08:23:50 INFO: 43038365673ccf7b switched to configuration voters=()
Feb 15 08:23:50 ubuntu etcd[78762]: raft2025/02/15 08:23:50 INFO: 43038365673ccf7b became follower at term 0
Feb 15 08:23:50 ubuntu etcd[78762]: raft2025/02/15 08:23:50 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Feb 15 08:23:50 ubuntu etcd[78762]: raft2025/02/15 08:23:50 INFO: 43038365673ccf7b became follower at term 1
Feb 15 08:23:50 ubuntu etcd[78762]: raft2025/02/15 08:23:50 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Feb 15 08:23:50 ubuntu etcd[78762]: simple token is not cryptographically signed
Feb 15 08:23:50 ubuntu etcd[78762]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Feb 15 08:23:50 ubuntu etcd[78762]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Feb 15 08:23:50 ubuntu etcd[78762]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Feb 15 08:23:50 ubuntu etcd[78762]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Feb 15 08:23:50 ubuntu etcd[78762]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Feb 15 08:23:50 ubuntu etcd[78762]: raft2025/02/15 08:23:50 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Feb 15 08:23:50 ubuntu etcd[78762]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Feb 15 08:23:50 ubuntu etcd[78762]: listening for peers on [::]:2380
Feb 15 08:23:51 ubuntu etcd[78762]: raft2025/02/15 08:23:51 INFO: 43038365673ccf7b is starting a new election at term 1
Feb 15 08:23:51 ubuntu etcd[78762]: raft2025/02/15 08:23:51 INFO: 43038365673ccf7b became candidate at term 2
Feb 15 08:23:51 ubuntu etcd[78762]: raft2025/02/15 08:23:51 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Feb 15 08:23:51 ubuntu etcd[78762]: raft2025/02/15 08:23:51 INFO: 43038365673ccf7b became leader at term 2
Feb 15 08:23:51 ubuntu etcd[78762]: raft2025/02/15 08:23:51 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Feb 15 08:23:51 ubuntu etcd[78762]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Feb 15 08:23:51 ubuntu etcd[78762]: ready to serve client requests
Feb 15 08:23:51 ubuntu etcd[78762]: setting up the initial cluster version to 3.4
Feb 15 08:23:51 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Feb 15 08:23:51 ubuntu etcd[78762]: set the initial cluster version to 3.4
Feb 15 08:23:51 ubuntu etcd[78762]: enabled capabilities for version 3.4
Feb 15 08:23:51 ubuntu etcd[78762]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Feb 15 08:28:41 ubuntu etcd[78762]: start time = 2025-02-15 08:28:41.10043969 +0000 UTC m=+290.193455961, time spent = 620.701µs, remote = 10.201.5.82:37744, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 15 08:28:41 ubuntu etcd[78762]: start time = 2025-02-15 08:28:41.197537237 +0000 UTC m=+290.290553522, time spent = 208.644µs, remote = 10.201.5.82:37744, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 15 08:28:47 ubuntu etcd[78762]: start time = 2025-02-15 08:28:47.574597273 +0000 UTC m=+296.667613555, time spent = 217.258µs, remote = 10.201.5.82:37744, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 15 08:28:49 ubuntu etcd[78762]: start time = 2025-02-15 08:28:49.620713355 +0000 UTC m=+298.713729633, time spent = 235.16µs, remote = 10.201.5.82:37744, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 15 08:31:39 ubuntu etcd[78762]: start time = 2025-02-15 08:31:39.719880577 +0000 UTC m=+468.812896856, time spent = 855.289µs, remote = 10.201.5.82:37744, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 15 08:31:39 ubuntu etcd[78762]: start time = 2025-02-15 08:31:39.79510592 +0000 UTC m=+468.888122204, time spent = 182.72µs, remote = 10.201.5.82:37744, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 15 08:31:39 ubuntu etcd[78762]: start time = 2025-02-15 08:31:39.918038148 +0000 UTC m=+469.011054433, time spent = 242.148µs, remote = 10.201.5.82:37744, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 15 08:31:42 ubuntu etcd[78762]: start time = 2025-02-15 08:31:42.267933589 +0000 UTC m=+471.360949872, time spent = 307.847µs, remote = 10.201.5.82:37744, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 15 08:33:38 ubuntu etcd[78762]: start time = 2025-02-15 08:33:38.400028355 +0000 UTC m=+587.493044633, time spent = 333.654µs, remote = 10.201.5.82:37744, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 15 08:33:38 ubuntu etcd[78762]: start time = 2025-02-15 08:33:38.403714946 +0000 UTC m=+587.496731226, time spent = 444.495µs, remote = 10.201.5.82:37744, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-edefe956-1c7a-4ed8-8adc-0eee324f669e" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-edefe956-1c7a-4ed8-8adc-0eee324f669e" value_size:16 lease:5727335215759731737 >> failure:<request_range:<key:"/tooz/lockscinder-edefe956-1c7a-4ed8-8adc-0eee324f669e" > >
Feb 15 08:33:41 ubuntu etcd[78762]: start time = 2025-02-15 08:33:41.295273243 +0000 UTC m=+590.388289580, time spent = 2.237217ms, remote = 10.201.5.82:37744, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-edefe956-1c7a-4ed8-8adc-0eee324f669e" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-edefe956-1c7a-4ed8-8adc-0eee324f669e" > > failure:<>
Feb 15 08:33:41 ubuntu etcd[78762]: start time = 2025-02-15 08:33:41.704619516 +0000 UTC m=+590.797635881, time spent = 341.484µs, remote = 10.201.5.82:37744, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 15 08:33:41 ubuntu etcd[78762]: start time = 2025-02-15 08:33:41.707463403 +0000 UTC m=+590.800479686, time spent = 284.356µs, remote = 10.201.5.82:37744, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-edefe956-1c7a-4ed8-8adc-0eee324f669e" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-edefe956-1c7a-4ed8-8adc-0eee324f669e" value_size:16 lease:5727335215759731741 >> failure:<request_range:<key:"/tooz/lockscinder-edefe956-1c7a-4ed8-8adc-0eee324f669e" > >
Feb 15 08:33:43 ubuntu etcd[78762]: start time = 2025-02-15 08:33:43.699856715 +0000 UTC m=+592.792873107, time spent = 625.135µs, remote = 10.201.5.82:37744, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-edefe956-1c7a-4ed8-8adc-0eee324f669e" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-edefe956-1c7a-4ed8-8adc-0eee324f669e" > > failure:<>
Feb 15 08:33:44 ubuntu etcd[78762]: start time = 2025-02-15 08:33:44.04765197 +0000 UTC m=+593.140668250, time spent = 297.721µs, remote = 10.201.5.82:37744, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 15 08:33:44 ubuntu etcd[78762]: start time = 2025-02-15 08:33:44.049532993 +0000 UTC m=+593.142549278, time spent = 146.254µs, remote = 10.201.5.82:37744, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-edefe956-1c7a-4ed8-8adc-0eee324f669e" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-edefe956-1c7a-4ed8-8adc-0eee324f669e" value_size:16 lease:5727335215759731745 >> failure:<request_range:<key:"/tooz/lockscinder-edefe956-1c7a-4ed8-8adc-0eee324f669e" > >
Feb 15 08:33:45 ubuntu etcd[78762]: start time = 2025-02-15 08:33:45.976090636 +0000 UTC m=+595.069107012, time spent = 712.766µs, remote = 10.201.5.82:37744, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-edefe956-1c7a-4ed8-8adc-0eee324f669e" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-edefe956-1c7a-4ed8-8adc-0eee324f669e" > > failure:<>
Feb 15 09:13:50 ubuntu etcd[78762]: start time = 2025-02-15 09:13:50.703946918 +0000 UTC m=+2999.796963195, time spent = 517.217µs, remote = 10.201.5.82:37744, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 15 09:13:50 ubuntu etcd[78762]: start time = 2025-02-15 09:13:50.706564011 +0000 UTC m=+2999.799580376, time spent = 821.454µs, remote = 10.201.5.82:37744, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-8be02345-df5f-4f5b-9664-46e14f59175b" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-8be02345-df5f-4f5b-9664-46e14f59175b" value_size:16 lease:5727335215759731752 >> failure:<request_range:<key:"/tooz/lockscinder-8be02345-df5f-4f5b-9664-46e14f59175b" > >
Feb 15 09:13:53 ubuntu etcd[78762]: start time = 2025-02-15 09:13:53.407099228 +0000 UTC m=+3002.500115612, time spent = 938.436µs, remote = 10.201.5.82:37744, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-8be02345-df5f-4f5b-9664-46e14f59175b" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-8be02345-df5f-4f5b-9664-46e14f59175b" > > failure:<>
Feb 15 09:13:53 ubuntu etcd[78762]: start time = 2025-02-15 09:13:53.630287893 +0000 UTC m=+3002.723304265, time spent = 533.701µs, remote = 10.201.5.82:37744, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 15 09:13:53 ubuntu etcd[78762]: start time = 2025-02-15 09:13:53.634180014 +0000 UTC m=+3002.727196312, time spent = 339.067µs, remote = 10.201.5.82:37744, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-8be02345-df5f-4f5b-9664-46e14f59175b" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-8be02345-df5f-4f5b-9664-46e14f59175b" value_size:16 lease:5727335215759731756 >> failure:<request_range:<key:"/tooz/lockscinder-8be02345-df5f-4f5b-9664-46e14f59175b" > >
Feb 15 09:13:54 ubuntu etcd[78762]: start time = 2025-02-15 09:13:54.979476488 +0000 UTC m=+3004.072492813, time spent = 876.13µs, remote = 10.201.5.82:37744, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-8be02345-df5f-4f5b-9664-46e14f59175b" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-8be02345-df5f-4f5b-9664-46e14f59175b" > > failure:<>
Feb 15 09:13:55 ubuntu etcd[78762]: start time = 2025-02-15 09:13:55.275544505 +0000 UTC m=+3004.368560797, time spent = 297.828µs, remote = 10.201.5.82:37744, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 15 09:13:55 ubuntu etcd[78762]: start time = 2025-02-15 09:13:55.277728985 +0000 UTC m=+3004.370745265, time spent = 185.492µs, remote = 10.201.5.82:37744, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-8be02345-df5f-4f5b-9664-46e14f59175b" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-8be02345-df5f-4f5b-9664-46e14f59175b" value_size:16 lease:5727335215759731760 >> failure:<request_range:<key:"/tooz/lockscinder-8be02345-df5f-4f5b-9664-46e14f59175b" > >
Feb 15 09:13:56 ubuntu etcd[78762]: start time = 2025-02-15 09:13:56.624462797 +0000 UTC m=+3005.717479170, time spent = 491.656µs, remote = 10.201.5.82:37744, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-8be02345-df5f-4f5b-9664-46e14f59175b" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-8be02345-df5f-4f5b-9664-46e14f59175b" > > failure:<>
