Feb 15 09:51:57 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Feb 15 09:51:57 ubuntu etcd[78422]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Feb 15 09:51:57 ubuntu etcd[78422]:         A future release of golang/protobuf will delete this package,
Feb 15 09:51:57 ubuntu etcd[78422]:         which has long been excluded from the compatibility promise.
Feb 15 09:51:57 ubuntu etcd[78422]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 15 09:51:57 ubuntu etcd[78422]: Running http and grpc server on single port. This is not recommended for production.
Feb 15 09:51:57 ubuntu etcd[78422]: etcd Version: 3.4.27
Feb 15 09:51:57 ubuntu etcd[78422]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 15 09:51:57 ubuntu etcd[78422]: Git SHA: c92fb80f3
Feb 15 09:51:57 ubuntu etcd[78422]: Go Version: go1.19.10
Feb 15 09:51:57 ubuntu etcd[78422]: Go OS/Arch: linux/amd64
Feb 15 09:51:57 ubuntu etcd[78422]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Feb 15 09:51:57 ubuntu etcd[78422]: Running http and grpc server on single port. This is not recommended for production.
Feb 15 09:51:57 ubuntu etcd[78422]: name = ubuntu
Feb 15 09:51:57 ubuntu etcd[78422]: data dir = /opt/stack/data/etcd
Feb 15 09:51:57 ubuntu etcd[78422]: member dir = /opt/stack/data/etcd/member
Feb 15 09:51:57 ubuntu etcd[78422]: heartbeat = 100ms
Feb 15 09:51:57 ubuntu etcd[78422]: election = 1000ms
Feb 15 09:51:57 ubuntu etcd[78422]: snapshot count = 100000
Feb 15 09:51:57 ubuntu etcd[78422]: advertise client URLs = http://10.201.5.82:2379
Feb 15 09:51:57 ubuntu etcd[78422]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Feb 15 09:51:57 ubuntu etcd[78422]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Feb 15 09:51:57 ubuntu etcd[78422]: raft2025/02/15 09:51:57 INFO: 43038365673ccf7b switched to configuration voters=()
Feb 15 09:51:57 ubuntu etcd[78422]: raft2025/02/15 09:51:57 INFO: 43038365673ccf7b became follower at term 0
Feb 15 09:51:57 ubuntu etcd[78422]: raft2025/02/15 09:51:57 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Feb 15 09:51:57 ubuntu etcd[78422]: raft2025/02/15 09:51:57 INFO: 43038365673ccf7b became follower at term 1
Feb 15 09:51:57 ubuntu etcd[78422]: raft2025/02/15 09:51:57 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Feb 15 09:51:57 ubuntu etcd[78422]: simple token is not cryptographically signed
Feb 15 09:51:57 ubuntu etcd[78422]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Feb 15 09:51:57 ubuntu etcd[78422]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Feb 15 09:51:57 ubuntu etcd[78422]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Feb 15 09:51:57 ubuntu etcd[78422]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Feb 15 09:51:57 ubuntu etcd[78422]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Feb 15 09:51:57 ubuntu etcd[78422]: raft2025/02/15 09:51:57 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Feb 15 09:51:57 ubuntu etcd[78422]: listening for peers on [::]:2380
Feb 15 09:51:57 ubuntu etcd[78422]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Feb 15 09:51:57 ubuntu etcd[78422]: raft2025/02/15 09:51:57 INFO: 43038365673ccf7b is starting a new election at term 1
Feb 15 09:51:57 ubuntu etcd[78422]: raft2025/02/15 09:51:57 INFO: 43038365673ccf7b became candidate at term 2
Feb 15 09:51:57 ubuntu etcd[78422]: raft2025/02/15 09:51:57 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Feb 15 09:51:57 ubuntu etcd[78422]: raft2025/02/15 09:51:57 INFO: 43038365673ccf7b became leader at term 2
Feb 15 09:51:57 ubuntu etcd[78422]: raft2025/02/15 09:51:57 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Feb 15 09:51:57 ubuntu etcd[78422]: setting up the initial cluster version to 3.4
Feb 15 09:51:57 ubuntu etcd[78422]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Feb 15 09:51:57 ubuntu etcd[78422]: ready to serve client requests
Feb 15 09:51:57 ubuntu etcd[78422]: set the initial cluster version to 3.4
Feb 15 09:51:57 ubuntu etcd[78422]: enabled capabilities for version 3.4
Feb 15 09:51:57 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Feb 15 09:51:57 ubuntu etcd[78422]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Feb 15 09:56:51 ubuntu etcd[78422]: start time = 2025-02-15 09:56:51.32058954 +0000 UTC m=+293.928789882, time spent = 578.065µs, remote = 10.201.5.82:57602, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 15 09:56:51 ubuntu etcd[78422]: start time = 2025-02-15 09:56:51.450862713 +0000 UTC m=+294.059063062, time spent = 198.344µs, remote = 10.201.5.82:57602, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 15 09:56:57 ubuntu etcd[78422]: start time = 2025-02-15 09:56:57.830196044 +0000 UTC m=+300.438396392, time spent = 173.582µs, remote = 10.201.5.82:57602, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 15 09:56:59 ubuntu etcd[78422]: start time = 2025-02-15 09:56:59.820864921 +0000 UTC m=+302.429065275, time spent = 692.032µs, remote = 10.201.5.82:57602, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 15 09:59:55 ubuntu etcd[78422]: start time = 2025-02-15 09:59:55.401846035 +0000 UTC m=+478.010046383, time spent = 453.693µs, remote = 10.201.5.82:57602, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 15 09:59:55 ubuntu etcd[78422]: start time = 2025-02-15 09:59:55.57295181 +0000 UTC m=+478.181152160, time spent = 236.004µs, remote = 10.201.5.82:57602, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 15 09:59:57 ubuntu etcd[78422]: start time = 2025-02-15 09:59:57.62750266 +0000 UTC m=+480.235703011, time spent = 387.817µs, remote = 10.201.5.82:57602, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 15 09:59:57 ubuntu etcd[78422]: start time = 2025-02-15 09:59:57.767910977 +0000 UTC m=+480.376111438, time spent = 418.23µs, remote = 10.201.5.82:57602, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 15 10:01:47 ubuntu etcd[78422]: start time = 2025-02-15 10:01:47.31578539 +0000 UTC m=+589.923985727, time spent = 257.557µs, remote = 10.201.5.82:57602, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 15 10:01:47 ubuntu etcd[78422]: start time = 2025-02-15 10:01:47.320136033 +0000 UTC m=+589.928336379, time spent = 538.475µs, remote = 10.201.5.82:57602, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-7a16e4db-04b7-40b5-9f5c-0046ac36d673" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-7a16e4db-04b7-40b5-9f5c-0046ac36d673" value_size:16 lease:5727335217113073177 >> failure:<request_range:<key:"/tooz/lockscinder-7a16e4db-04b7-40b5-9f5c-0046ac36d673" > >
Feb 15 10:01:50 ubuntu etcd[78422]: start time = 2025-02-15 10:01:50.296453848 +0000 UTC m=+592.904654300, time spent = 871.379µs, remote = 10.201.5.82:57602, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-7a16e4db-04b7-40b5-9f5c-0046ac36d673" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-7a16e4db-04b7-40b5-9f5c-0046ac36d673" > > failure:<>
Feb 15 10:01:50 ubuntu etcd[78422]: start time = 2025-02-15 10:01:50.544665742 +0000 UTC m=+593.152866090, time spent = 266.822µs, remote = 10.201.5.82:57602, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 15 10:01:50 ubuntu etcd[78422]: start time = 2025-02-15 10:01:50.546663281 +0000 UTC m=+593.154863644, time spent = 227.637µs, remote = 10.201.5.82:57602, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-7a16e4db-04b7-40b5-9f5c-0046ac36d673" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-7a16e4db-04b7-40b5-9f5c-0046ac36d673" value_size:16 lease:5727335217113073181 >> failure:<request_range:<key:"/tooz/lockscinder-7a16e4db-04b7-40b5-9f5c-0046ac36d673" > >
Feb 15 10:01:52 ubuntu etcd[78422]: start time = 2025-02-15 10:01:52.806520445 +0000 UTC m=+595.414720913, time spent = 705.961µs, remote = 10.201.5.82:57602, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-7a16e4db-04b7-40b5-9f5c-0046ac36d673" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-7a16e4db-04b7-40b5-9f5c-0046ac36d673" > > failure:<>
Feb 15 10:01:53 ubuntu etcd[78422]: start time = 2025-02-15 10:01:53.066093959 +0000 UTC m=+595.674294309, time spent = 581.265µs, remote = 10.201.5.82:57602, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 15 10:01:53 ubuntu etcd[78422]: start time = 2025-02-15 10:01:53.074810259 +0000 UTC m=+595.683010694, time spent = 348.331µs, remote = 10.201.5.82:57602, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-7a16e4db-04b7-40b5-9f5c-0046ac36d673" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-7a16e4db-04b7-40b5-9f5c-0046ac36d673" value_size:16 lease:5727335217113073185 >> failure:<request_range:<key:"/tooz/lockscinder-7a16e4db-04b7-40b5-9f5c-0046ac36d673" > >
Feb 15 10:01:55 ubuntu etcd[78422]: start time = 2025-02-15 10:01:55.018292718 +0000 UTC m=+597.626493173, time spent = 647.928µs, remote = 10.201.5.82:57602, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-7a16e4db-04b7-40b5-9f5c-0046ac36d673" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-7a16e4db-04b7-40b5-9f5c-0046ac36d673" > > failure:<>
Feb 15 10:41:59 ubuntu etcd[78422]: start time = 2025-02-15 10:41:59.428459554 +0000 UTC m=+3002.036659916, time spent = 678.892µs, remote = 10.201.5.82:57602, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 15 10:41:59 ubuntu etcd[78422]: start time = 2025-02-15 10:41:59.432339744 +0000 UTC m=+3002.040540168, time spent = 730.588µs, remote = 10.201.5.82:57602, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-42000623-ced9-45c5-8065-b691ca607d31" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-42000623-ced9-45c5-8065-b691ca607d31" value_size:16 lease:5727335217113073192 >> failure:<request_range:<key:"/tooz/lockscinder-42000623-ced9-45c5-8065-b691ca607d31" > >
Feb 15 10:42:02 ubuntu etcd[78422]: start time = 2025-02-15 10:42:02.126124105 +0000 UTC m=+3004.734324458, time spent = 477.558µs, remote = 10.201.5.82:57602, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-42000623-ced9-45c5-8065-b691ca607d31" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-42000623-ced9-45c5-8065-b691ca607d31" > > failure:<>
Feb 15 10:42:02 ubuntu etcd[78422]: start time = 2025-02-15 10:42:02.434266632 +0000 UTC m=+3005.042466979, time spent = 378.089µs, remote = 10.201.5.82:57602, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 15 10:42:02 ubuntu etcd[78422]: start time = 2025-02-15 10:42:02.436740672 +0000 UTC m=+3005.044941042, time spent = 199.976µs, remote = 10.201.5.82:57602, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-42000623-ced9-45c5-8065-b691ca607d31" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-42000623-ced9-45c5-8065-b691ca607d31" value_size:16 lease:5727335217113073196 >> failure:<request_range:<key:"/tooz/lockscinder-42000623-ced9-45c5-8065-b691ca607d31" > >
Feb 15 10:42:03 ubuntu etcd[78422]: start time = 2025-02-15 10:42:03.927665419 +0000 UTC m=+3006.535865815, time spent = 464.005µs, remote = 10.201.5.82:57602, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-42000623-ced9-45c5-8065-b691ca607d31" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-42000623-ced9-45c5-8065-b691ca607d31" > > failure:<>
Feb 15 10:42:04 ubuntu etcd[78422]: start time = 2025-02-15 10:42:04.193489827 +0000 UTC m=+3006.801690180, time spent = 304.015µs, remote = 10.201.5.82:57602, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 15 10:42:04 ubuntu etcd[78422]: start time = 2025-02-15 10:42:04.198137871 +0000 UTC m=+3006.806338332, time spent = 597.375µs, remote = 10.201.5.82:57602, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-42000623-ced9-45c5-8065-b691ca607d31" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-42000623-ced9-45c5-8065-b691ca607d31" value_size:16 lease:5727335217113073200 >> failure:<request_range:<key:"/tooz/lockscinder-42000623-ced9-45c5-8065-b691ca607d31" > >
Feb 15 10:42:05 ubuntu etcd[78422]: start time = 2025-02-15 10:42:05.799258913 +0000 UTC m=+3008.407459378, time spent = 864.827µs, remote = 10.201.5.82:57602, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-42000623-ced9-45c5-8065-b691ca607d31" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-42000623-ced9-45c5-8065-b691ca607d31" > > failure:<>
