Feb 17 20:06:20 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Feb 17 20:06:20 ubuntu etcd[78672]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Feb 17 20:06:20 ubuntu etcd[78672]:         A future release of golang/protobuf will delete this package,
Feb 17 20:06:20 ubuntu etcd[78672]:         which has long been excluded from the compatibility promise.
Feb 17 20:06:20 ubuntu etcd[78672]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 17 20:06:20 ubuntu etcd[78672]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 17 20:06:20 ubuntu etcd[78672]: Running http and grpc server on single port. This is not recommended for production.
Feb 17 20:06:20 ubuntu etcd[78672]: etcd Version: 3.4.27
Feb 17 20:06:20 ubuntu etcd[78672]: Git SHA: c92fb80f3
Feb 17 20:06:20 ubuntu etcd[78672]: Go Version: go1.19.10
Feb 17 20:06:20 ubuntu etcd[78672]: Go OS/Arch: linux/amd64
Feb 17 20:06:20 ubuntu etcd[78672]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Feb 17 20:06:20 ubuntu etcd[78672]: Running http and grpc server on single port. This is not recommended for production.
Feb 17 20:06:20 ubuntu etcd[78672]: name = ubuntu
Feb 17 20:06:20 ubuntu etcd[78672]: data dir = /opt/stack/data/etcd
Feb 17 20:06:20 ubuntu etcd[78672]: member dir = /opt/stack/data/etcd/member
Feb 17 20:06:20 ubuntu etcd[78672]: heartbeat = 100ms
Feb 17 20:06:20 ubuntu etcd[78672]: election = 1000ms
Feb 17 20:06:20 ubuntu etcd[78672]: snapshot count = 100000
Feb 17 20:06:20 ubuntu etcd[78672]: advertise client URLs = http://10.201.5.82:2379
Feb 17 20:06:20 ubuntu etcd[78672]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Feb 17 20:06:20 ubuntu etcd[78672]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Feb 17 20:06:20 ubuntu etcd[78672]: raft2025/02/17 20:06:20 INFO: 43038365673ccf7b switched to configuration voters=()
Feb 17 20:06:20 ubuntu etcd[78672]: raft2025/02/17 20:06:20 INFO: 43038365673ccf7b became follower at term 0
Feb 17 20:06:20 ubuntu etcd[78672]: raft2025/02/17 20:06:20 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Feb 17 20:06:20 ubuntu etcd[78672]: raft2025/02/17 20:06:20 INFO: 43038365673ccf7b became follower at term 1
Feb 17 20:06:20 ubuntu etcd[78672]: raft2025/02/17 20:06:20 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Feb 17 20:06:20 ubuntu etcd[78672]: simple token is not cryptographically signed
Feb 17 20:06:20 ubuntu etcd[78672]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Feb 17 20:06:20 ubuntu etcd[78672]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Feb 17 20:06:20 ubuntu etcd[78672]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Feb 17 20:06:20 ubuntu etcd[78672]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Feb 17 20:06:20 ubuntu etcd[78672]: raft2025/02/17 20:06:20 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Feb 17 20:06:20 ubuntu etcd[78672]: listening for peers on [::]:2380
Feb 17 20:06:20 ubuntu etcd[78672]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Feb 17 20:06:20 ubuntu etcd[78672]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Feb 17 20:06:21 ubuntu etcd[78672]: raft2025/02/17 20:06:21 INFO: 43038365673ccf7b is starting a new election at term 1
Feb 17 20:06:21 ubuntu etcd[78672]: raft2025/02/17 20:06:21 INFO: 43038365673ccf7b became candidate at term 2
Feb 17 20:06:21 ubuntu etcd[78672]: raft2025/02/17 20:06:21 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Feb 17 20:06:21 ubuntu etcd[78672]: raft2025/02/17 20:06:21 INFO: 43038365673ccf7b became leader at term 2
Feb 17 20:06:21 ubuntu etcd[78672]: raft2025/02/17 20:06:21 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Feb 17 20:06:21 ubuntu etcd[78672]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Feb 17 20:06:21 ubuntu etcd[78672]: ready to serve client requests
Feb 17 20:06:21 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Feb 17 20:06:21 ubuntu etcd[78672]: setting up the initial cluster version to 3.4
Feb 17 20:06:21 ubuntu etcd[78672]: set the initial cluster version to 3.4
Feb 17 20:06:21 ubuntu etcd[78672]: enabled capabilities for version 3.4
Feb 17 20:06:21 ubuntu etcd[78672]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Feb 17 20:11:13 ubuntu etcd[78672]: start time = 2025-02-17 20:11:13.552597714 +0000 UTC m=+293.292283382, time spent = 503.301µs, remote = 10.201.5.82:33092, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 17 20:11:13 ubuntu etcd[78672]: start time = 2025-02-17 20:11:13.565771554 +0000 UTC m=+293.305457234, time spent = 249.618µs, remote = 10.201.5.82:33092, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 17 20:11:20 ubuntu etcd[78672]: start time = 2025-02-17 20:11:20.12831512 +0000 UTC m=+299.868000807, time spent = 229.839µs, remote = 10.201.5.82:33092, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 17 20:11:22 ubuntu etcd[78672]: start time = 2025-02-17 20:11:22.114014725 +0000 UTC m=+301.853700411, time spent = 286.638µs, remote = 10.201.5.82:33092, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 17 20:14:17 ubuntu etcd[78672]: start time = 2025-02-17 20:14:17.711421732 +0000 UTC m=+477.451107400, time spent = 437.935µs, remote = 10.201.5.82:33092, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 17 20:14:17 ubuntu etcd[78672]: start time = 2025-02-17 20:14:17.86274842 +0000 UTC m=+477.602434104, time spent = 221.418µs, remote = 10.201.5.82:33092, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 17 20:14:17 ubuntu etcd[78672]: start time = 2025-02-17 20:14:17.882923829 +0000 UTC m=+477.622609514, time spent = 239.51µs, remote = 10.201.5.82:33092, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 17 20:14:19 ubuntu etcd[78672]: start time = 2025-02-17 20:14:19.627915942 +0000 UTC m=+479.367601726, time spent = 430.191µs, remote = 10.201.5.82:33092, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 17 20:16:14 ubuntu etcd[78672]: start time = 2025-02-17 20:16:14.612901091 +0000 UTC m=+594.352586772, time spent = 297.519µs, remote = 10.201.5.82:33092, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 17 20:16:14 ubuntu etcd[78672]: start time = 2025-02-17 20:16:14.615999314 +0000 UTC m=+594.355684994, time spent = 407.398µs, remote = 10.201.5.82:33092, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-474bccb2-3057-4b0e-802a-5ac2974fbb6f" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-474bccb2-3057-4b0e-802a-5ac2974fbb6f" value_size:16 lease:5727335270786763545 >> failure:<request_range:<key:"/tooz/lockscinder-474bccb2-3057-4b0e-802a-5ac2974fbb6f" > >
Feb 17 20:16:17 ubuntu etcd[78672]: start time = 2025-02-17 20:16:17.405906617 +0000 UTC m=+597.145592393, time spent = 807.183µs, remote = 10.201.5.82:33092, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-474bccb2-3057-4b0e-802a-5ac2974fbb6f" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-474bccb2-3057-4b0e-802a-5ac2974fbb6f" > > failure:<>
Feb 17 20:16:17 ubuntu etcd[78672]: start time = 2025-02-17 20:16:17.778884329 +0000 UTC m=+597.518570060, time spent = 659.31µs, remote = 10.201.5.82:33092, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 17 20:16:17 ubuntu etcd[78672]: start time = 2025-02-17 20:16:17.781855297 +0000 UTC m=+597.521541083, time spent = 402.675µs, remote = 10.201.5.82:33092, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-474bccb2-3057-4b0e-802a-5ac2974fbb6f" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-474bccb2-3057-4b0e-802a-5ac2974fbb6f" value_size:16 lease:5727335270786763549 >> failure:<request_range:<key:"/tooz/lockscinder-474bccb2-3057-4b0e-802a-5ac2974fbb6f" > >
Feb 17 20:16:19 ubuntu etcd[78672]: start time = 2025-02-17 20:16:19.737999427 +0000 UTC m=+599.477685221, time spent = 498.091µs, remote = 10.201.5.82:33092, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-474bccb2-3057-4b0e-802a-5ac2974fbb6f" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-474bccb2-3057-4b0e-802a-5ac2974fbb6f" > > failure:<>
Feb 17 20:16:19 ubuntu etcd[78672]: start time = 2025-02-17 20:16:19.958668039 +0000 UTC m=+599.698353811, time spent = 641.483µs, remote = 10.201.5.82:33092, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 17 20:16:19 ubuntu etcd[78672]: start time = 2025-02-17 20:16:19.96102962 +0000 UTC m=+599.700715333, time spent = 289.54µs, remote = 10.201.5.82:33092, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-474bccb2-3057-4b0e-802a-5ac2974fbb6f" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-474bccb2-3057-4b0e-802a-5ac2974fbb6f" value_size:16 lease:5727335270786763553 >> failure:<request_range:<key:"/tooz/lockscinder-474bccb2-3057-4b0e-802a-5ac2974fbb6f" > >
Feb 17 20:16:21 ubuntu etcd[78672]: start time = 2025-02-17 20:16:21.771132451 +0000 UTC m=+601.510818245, time spent = 644.868µs, remote = 10.201.5.82:33092, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-474bccb2-3057-4b0e-802a-5ac2974fbb6f" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-474bccb2-3057-4b0e-802a-5ac2974fbb6f" > > failure:<>
Feb 17 20:56:24 ubuntu etcd[78672]: start time = 2025-02-17 20:56:24.505552214 +0000 UTC m=+3004.245237883, time spent = 401.561µs, remote = 10.201.5.82:33092, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 17 20:56:24 ubuntu etcd[78672]: start time = 2025-02-17 20:56:24.507836192 +0000 UTC m=+3004.247521862, time spent = 257.544µs, remote = 10.201.5.82:33092, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-4d571f7a-8a50-4748-b110-ec82bc3631c2" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-4d571f7a-8a50-4748-b110-ec82bc3631c2" value_size:16 lease:5727335270786763560 >> failure:<request_range:<key:"/tooz/lockscinder-4d571f7a-8a50-4748-b110-ec82bc3631c2" > >
Feb 17 20:56:26 ubuntu etcd[78672]: start time = 2025-02-17 20:56:26.744393689 +0000 UTC m=+3006.484079386, time spent = 450.492µs, remote = 10.201.5.82:33092, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-4d571f7a-8a50-4748-b110-ec82bc3631c2" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-4d571f7a-8a50-4748-b110-ec82bc3631c2" > > failure:<>
Feb 17 20:56:26 ubuntu etcd[78672]: start time = 2025-02-17 20:56:26.987862433 +0000 UTC m=+3006.727548211, time spent = 659.539µs, remote = 10.201.5.82:33092, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 17 20:56:26 ubuntu etcd[78672]: start time = 2025-02-17 20:56:26.990838947 +0000 UTC m=+3006.730524734, time spent = 342.82µs, remote = 10.201.5.82:33092, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-4d571f7a-8a50-4748-b110-ec82bc3631c2" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-4d571f7a-8a50-4748-b110-ec82bc3631c2" value_size:16 lease:5727335270786763564 >> failure:<request_range:<key:"/tooz/lockscinder-4d571f7a-8a50-4748-b110-ec82bc3631c2" > >
Feb 17 20:56:28 ubuntu etcd[78672]: start time = 2025-02-17 20:56:28.444252063 +0000 UTC m=+3008.183937756, time spent = 371.205µs, remote = 10.201.5.82:33092, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-4d571f7a-8a50-4748-b110-ec82bc3631c2" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-4d571f7a-8a50-4748-b110-ec82bc3631c2" > > failure:<>
Feb 17 20:56:28 ubuntu etcd[78672]: start time = 2025-02-17 20:56:28.661835358 +0000 UTC m=+3008.401521063, time spent = 277.944µs, remote = 10.201.5.82:33092, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 17 20:56:28 ubuntu etcd[78672]: start time = 2025-02-17 20:56:28.663626211 +0000 UTC m=+3008.403311898, time spent = 189.708µs, remote = 10.201.5.82:33092, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-4d571f7a-8a50-4748-b110-ec82bc3631c2" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-4d571f7a-8a50-4748-b110-ec82bc3631c2" value_size:16 lease:5727335270786763568 >> failure:<request_range:<key:"/tooz/lockscinder-4d571f7a-8a50-4748-b110-ec82bc3631c2" > >
Feb 17 20:56:30 ubuntu etcd[78672]: start time = 2025-02-17 20:56:30.097914092 +0000 UTC m=+3009.837599821, time spent = 470.117µs, remote = 10.201.5.82:33092, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-4d571f7a-8a50-4748-b110-ec82bc3631c2" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-4d571f7a-8a50-4748-b110-ec82bc3631c2" > > failure:<>
