Nov 27 16:01:46 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Nov 27 16:01:46 ubuntu etcd[67710]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Nov 27 16:01:46 ubuntu etcd[67710]:         A future release of golang/protobuf will delete this package,
Nov 27 16:01:46 ubuntu etcd[67710]:         which has long been excluded from the compatibility promise.
Nov 27 16:01:46 ubuntu etcd[67710]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Nov 27 16:01:46 ubuntu etcd[67710]: Running http and grpc server on single port. This is not recommended for production.
Nov 27 16:01:46 ubuntu etcd[67710]: etcd Version: 3.4.27
Nov 27 16:01:46 ubuntu etcd[67710]: Git SHA: c92fb80f3
Nov 27 16:01:46 ubuntu etcd[67710]: Go Version: go1.19.10
Nov 27 16:01:46 ubuntu etcd[67710]: Go OS/Arch: linux/amd64
Nov 27 16:01:46 ubuntu etcd[67710]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Nov 27 16:01:46 ubuntu etcd[67710]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Nov 27 16:01:46 ubuntu etcd[67710]: Running http and grpc server on single port. This is not recommended for production.
Nov 27 16:01:46 ubuntu etcd[67710]: name = ubuntu
Nov 27 16:01:46 ubuntu etcd[67710]: data dir = /opt/stack/data/etcd
Nov 27 16:01:46 ubuntu etcd[67710]: member dir = /opt/stack/data/etcd/member
Nov 27 16:01:46 ubuntu etcd[67710]: heartbeat = 100ms
Nov 27 16:01:46 ubuntu etcd[67710]: election = 1000ms
Nov 27 16:01:46 ubuntu etcd[67710]: snapshot count = 100000
Nov 27 16:01:46 ubuntu etcd[67710]: advertise client URLs = http://10.201.5.82:2379
Nov 27 16:01:46 ubuntu etcd[67710]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Nov 27 16:01:46 ubuntu etcd[67710]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Nov 27 16:01:46 ubuntu etcd[67710]: raft2024/11/27 16:01:46 INFO: 43038365673ccf7b switched to configuration voters=()
Nov 27 16:01:46 ubuntu etcd[67710]: raft2024/11/27 16:01:46 INFO: 43038365673ccf7b became follower at term 0
Nov 27 16:01:46 ubuntu etcd[67710]: raft2024/11/27 16:01:46 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Nov 27 16:01:46 ubuntu etcd[67710]: raft2024/11/27 16:01:46 INFO: 43038365673ccf7b became follower at term 1
Nov 27 16:01:46 ubuntu etcd[67710]: raft2024/11/27 16:01:46 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Nov 27 16:01:46 ubuntu etcd[67710]: simple token is not cryptographically signed
Nov 27 16:01:46 ubuntu etcd[67710]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Nov 27 16:01:46 ubuntu etcd[67710]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Nov 27 16:01:46 ubuntu etcd[67710]: raft2024/11/27 16:01:46 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Nov 27 16:01:46 ubuntu etcd[67710]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Nov 27 16:01:46 ubuntu etcd[67710]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Nov 27 16:01:46 ubuntu etcd[67710]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Nov 27 16:01:46 ubuntu etcd[67710]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Nov 27 16:01:46 ubuntu etcd[67710]: listening for peers on [::]:2380
Nov 27 16:01:46 ubuntu etcd[67710]: raft2024/11/27 16:01:46 INFO: 43038365673ccf7b is starting a new election at term 1
Nov 27 16:01:46 ubuntu etcd[67710]: raft2024/11/27 16:01:46 INFO: 43038365673ccf7b became candidate at term 2
Nov 27 16:01:46 ubuntu etcd[67710]: raft2024/11/27 16:01:46 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Nov 27 16:01:46 ubuntu etcd[67710]: raft2024/11/27 16:01:46 INFO: 43038365673ccf7b became leader at term 2
Nov 27 16:01:46 ubuntu etcd[67710]: raft2024/11/27 16:01:46 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Nov 27 16:01:46 ubuntu etcd[67710]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Nov 27 16:01:46 ubuntu etcd[67710]: setting up the initial cluster version to 3.4
Nov 27 16:01:46 ubuntu etcd[67710]: set the initial cluster version to 3.4
Nov 27 16:01:46 ubuntu etcd[67710]: enabled capabilities for version 3.4
Nov 27 16:01:46 ubuntu etcd[67710]: ready to serve client requests
Nov 27 16:01:46 ubuntu etcd[67710]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Nov 27 16:01:46 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Nov 27 16:06:42 ubuntu etcd[67710]: start time = 2024-11-27 16:06:42.165321355 +0000 UTC m=+296.116040286, time spent = 1.871146ms, remote = 10.201.5.82:45684, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 27 16:06:42 ubuntu etcd[67710]: start time = 2024-11-27 16:06:42.251009483 +0000 UTC m=+296.201728417, time spent = 187.118µs, remote = 10.201.5.82:45684, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 27 16:06:49 ubuntu etcd[67710]: start time = 2024-11-27 16:06:49.177443767 +0000 UTC m=+303.128162695, time spent = 373.811µs, remote = 10.201.5.82:45684, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 27 16:06:50 ubuntu etcd[67710]: start time = 2024-11-27 16:06:50.993143145 +0000 UTC m=+304.943862075, time spent = 281.112µs, remote = 10.201.5.82:45684, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 27 16:09:50 ubuntu etcd[67710]: start time = 2024-11-27 16:09:50.614104426 +0000 UTC m=+484.564823403, time spent = 743.085µs, remote = 10.201.5.82:45684, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 27 16:09:50 ubuntu etcd[67710]: start time = 2024-11-27 16:09:50.616352545 +0000 UTC m=+484.567071589, time spent = 368.879µs, remote = 10.201.5.82:45684, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 27 16:09:55 ubuntu etcd[67710]: start time = 2024-11-27 16:09:55.120530158 +0000 UTC m=+489.071249091, time spent = 211.286µs, remote = 10.201.5.82:45684, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 27 16:09:55 ubuntu etcd[67710]: start time = 2024-11-27 16:09:55.172190794 +0000 UTC m=+489.122909713, time spent = 165.876µs, remote = 10.201.5.82:45684, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 27 16:11:42 ubuntu etcd[67710]: start time = 2024-11-27 16:11:42.173334427 +0000 UTC m=+596.124053356, time spent = 263.81µs, remote = 10.201.5.82:45684, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 27 16:11:42 ubuntu etcd[67710]: start time = 2024-11-27 16:11:42.17586239 +0000 UTC m=+596.126581321, time spent = 364.34µs, remote = 10.201.5.82:45684, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-1abc19c3-46cb-46a0-9e20-0a1f0583cb8d" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-1abc19c3-46cb-46a0-9e20-0a1f0583cb8d" value_size:16 lease:5727333453321367065 >> failure:<request_range:<key:"/tooz/lockscinder-1abc19c3-46cb-46a0-9e20-0a1f0583cb8d" > >
Nov 27 16:11:45 ubuntu etcd[67710]: start time = 2024-11-27 16:11:45.03608881 +0000 UTC m=+598.986807735, time spent = 742.961µs, remote = 10.201.5.82:45684, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-1abc19c3-46cb-46a0-9e20-0a1f0583cb8d" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-1abc19c3-46cb-46a0-9e20-0a1f0583cb8d" > > failure:<>
Nov 27 16:11:45 ubuntu etcd[67710]: start time = 2024-11-27 16:11:45.279941259 +0000 UTC m=+599.230660305, time spent = 688.058µs, remote = 10.201.5.82:45684, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 27 16:11:45 ubuntu etcd[67710]: start time = 2024-11-27 16:11:45.285336238 +0000 UTC m=+599.236055281, time spent = 912.928µs, remote = 10.201.5.82:45684, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-1abc19c3-46cb-46a0-9e20-0a1f0583cb8d" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-1abc19c3-46cb-46a0-9e20-0a1f0583cb8d" value_size:16 lease:5727333453321367069 >> failure:<request_range:<key:"/tooz/lockscinder-1abc19c3-46cb-46a0-9e20-0a1f0583cb8d" > >
Nov 27 16:11:46 ubuntu etcd[67710]: start time = 2024-11-27 16:11:46.071018456 +0000 UTC m=+600.021737492, time spent = 564.459µs, remote = 10.201.5.82:45684, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-1abc19c3-46cb-46a0-9e20-0a1f0583cb8d" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-1abc19c3-46cb-46a0-9e20-0a1f0583cb8d" > > failure:<>
Nov 27 16:11:46 ubuntu etcd[67710]: start time = 2024-11-27 16:11:46.329314941 +0000 UTC m=+600.280033914, time spent = 386.556µs, remote = 10.201.5.82:45684, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 27 16:11:46 ubuntu etcd[67710]: start time = 2024-11-27 16:11:46.332290859 +0000 UTC m=+600.283009866, time spent = 453.698µs, remote = 10.201.5.82:45684, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-1abc19c3-46cb-46a0-9e20-0a1f0583cb8d" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-1abc19c3-46cb-46a0-9e20-0a1f0583cb8d" value_size:16 lease:5727333453321367073 >> failure:<request_range:<key:"/tooz/lockscinder-1abc19c3-46cb-46a0-9e20-0a1f0583cb8d" > >
Nov 27 16:11:47 ubuntu etcd[67710]: start time = 2024-11-27 16:11:47.158456504 +0000 UTC m=+601.109175467, time spent = 321.84µs, remote = 10.201.5.82:45684, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-1abc19c3-46cb-46a0-9e20-0a1f0583cb8d" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-1abc19c3-46cb-46a0-9e20-0a1f0583cb8d" > > failure:<>
