Jan 30 10:04:14 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jan 30 10:04:14 ubuntu etcd[78636]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jan 30 10:04:14 ubuntu etcd[78636]:         A future release of golang/protobuf will delete this package,
Jan 30 10:04:14 ubuntu etcd[78636]:         which has long been excluded from the compatibility promise.
Jan 30 10:04:14 ubuntu etcd[78636]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 30 10:04:14 ubuntu etcd[78636]: Running http and grpc server on single port. This is not recommended for production.
Jan 30 10:04:14 ubuntu etcd[78636]: etcd Version: 3.4.27
Jan 30 10:04:14 ubuntu etcd[78636]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jan 30 10:04:14 ubuntu etcd[78636]: Git SHA: c92fb80f3
Jan 30 10:04:14 ubuntu etcd[78636]: Go Version: go1.19.10
Jan 30 10:04:14 ubuntu etcd[78636]: Go OS/Arch: linux/amd64
Jan 30 10:04:14 ubuntu etcd[78636]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jan 30 10:04:14 ubuntu etcd[78636]: Running http and grpc server on single port. This is not recommended for production.
Jan 30 10:04:14 ubuntu etcd[78636]: name = ubuntu
Jan 30 10:04:14 ubuntu etcd[78636]: data dir = /opt/stack/data/etcd
Jan 30 10:04:14 ubuntu etcd[78636]: member dir = /opt/stack/data/etcd/member
Jan 30 10:04:14 ubuntu etcd[78636]: heartbeat = 100ms
Jan 30 10:04:14 ubuntu etcd[78636]: election = 1000ms
Jan 30 10:04:14 ubuntu etcd[78636]: snapshot count = 100000
Jan 30 10:04:14 ubuntu etcd[78636]: advertise client URLs = http://10.201.5.82:2379
Jan 30 10:04:14 ubuntu etcd[78636]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jan 30 10:04:14 ubuntu etcd[78636]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jan 30 10:04:14 ubuntu etcd[78636]: raft2025/01/30 10:04:14 INFO: 43038365673ccf7b switched to configuration voters=()
Jan 30 10:04:14 ubuntu etcd[78636]: raft2025/01/30 10:04:14 INFO: 43038365673ccf7b became follower at term 0
Jan 30 10:04:14 ubuntu etcd[78636]: raft2025/01/30 10:04:14 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jan 30 10:04:14 ubuntu etcd[78636]: raft2025/01/30 10:04:14 INFO: 43038365673ccf7b became follower at term 1
Jan 30 10:04:14 ubuntu etcd[78636]: raft2025/01/30 10:04:14 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jan 30 10:04:14 ubuntu etcd[78636]: simple token is not cryptographically signed
Jan 30 10:04:14 ubuntu etcd[78636]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jan 30 10:04:14 ubuntu etcd[78636]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jan 30 10:04:14 ubuntu etcd[78636]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jan 30 10:04:14 ubuntu etcd[78636]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jan 30 10:04:14 ubuntu etcd[78636]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jan 30 10:04:14 ubuntu etcd[78636]: raft2025/01/30 10:04:14 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jan 30 10:04:14 ubuntu etcd[78636]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jan 30 10:04:14 ubuntu etcd[78636]: listening for peers on [::]:2380
Jan 30 10:04:15 ubuntu etcd[78636]: raft2025/01/30 10:04:15 INFO: 43038365673ccf7b is starting a new election at term 1
Jan 30 10:04:15 ubuntu etcd[78636]: raft2025/01/30 10:04:15 INFO: 43038365673ccf7b became candidate at term 2
Jan 30 10:04:15 ubuntu etcd[78636]: raft2025/01/30 10:04:15 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jan 30 10:04:15 ubuntu etcd[78636]: raft2025/01/30 10:04:15 INFO: 43038365673ccf7b became leader at term 2
Jan 30 10:04:15 ubuntu etcd[78636]: raft2025/01/30 10:04:15 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jan 30 10:04:15 ubuntu etcd[78636]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jan 30 10:04:15 ubuntu etcd[78636]: setting up the initial cluster version to 3.4
Jan 30 10:04:15 ubuntu etcd[78636]: ready to serve client requests
Jan 30 10:04:15 ubuntu etcd[78636]: set the initial cluster version to 3.4
Jan 30 10:04:15 ubuntu etcd[78636]: enabled capabilities for version 3.4
Jan 30 10:04:15 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jan 30 10:04:15 ubuntu etcd[78636]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jan 30 10:08:57 ubuntu etcd[78636]: start time = 2025-01-30 10:08:57.092989886 +0000 UTC m=+282.931728784, time spent = 457.19µs, remote = 10.201.5.82:32970, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 30 10:08:57 ubuntu etcd[78636]: start time = 2025-01-30 10:08:57.094426672 +0000 UTC m=+282.933165579, time spent = 234.848µs, remote = 10.201.5.82:32970, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 30 10:09:04 ubuntu etcd[78636]: start time = 2025-01-30 10:09:04.045831608 +0000 UTC m=+289.884570512, time spent = 248.2µs, remote = 10.201.5.82:32970, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jan 30 10:09:06 ubuntu etcd[78636]: start time = 2025-01-30 10:09:06.237417137 +0000 UTC m=+292.076156040, time spent = 258.96µs, remote = 10.201.5.82:32970, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
