Jul 18 10:32:04 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 18 10:32:04 ubuntu etcd[80407]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 18 10:32:04 ubuntu etcd[80407]:         A future release of golang/protobuf will delete this package,
Jul 18 10:32:04 ubuntu etcd[80407]:         which has long been excluded from the compatibility promise.
Jul 18 10:32:04 ubuntu etcd[80407]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 18 10:32:04 ubuntu etcd[80407]: Running http and grpc server on single port. This is not recommended for production.
Jul 18 10:32:04 ubuntu etcd[80407]: etcd Version: 3.4.27
Jul 18 10:32:04 ubuntu etcd[80407]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 18 10:32:04 ubuntu etcd[80407]: Git SHA: c92fb80f3
Jul 18 10:32:04 ubuntu etcd[80407]: Go Version: go1.19.10
Jul 18 10:32:04 ubuntu etcd[80407]: Go OS/Arch: linux/amd64
Jul 18 10:32:04 ubuntu etcd[80407]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 18 10:32:04 ubuntu etcd[80407]: Running http and grpc server on single port. This is not recommended for production.
Jul 18 10:32:04 ubuntu etcd[80407]: name = ubuntu
Jul 18 10:32:04 ubuntu etcd[80407]: data dir = /opt/stack/data/etcd
Jul 18 10:32:04 ubuntu etcd[80407]: member dir = /opt/stack/data/etcd/member
Jul 18 10:32:04 ubuntu etcd[80407]: heartbeat = 100ms
Jul 18 10:32:04 ubuntu etcd[80407]: election = 1000ms
Jul 18 10:32:04 ubuntu etcd[80407]: snapshot count = 100000
Jul 18 10:32:04 ubuntu etcd[80407]: advertise client URLs = http://10.201.5.82:2379
Jul 18 10:32:04 ubuntu etcd[80407]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 18 10:32:04 ubuntu etcd[80407]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jul 18 10:32:04 ubuntu etcd[80407]: raft2025/07/18 10:32:04 INFO: 43038365673ccf7b switched to configuration voters=()
Jul 18 10:32:04 ubuntu etcd[80407]: raft2025/07/18 10:32:04 INFO: 43038365673ccf7b became follower at term 0
Jul 18 10:32:04 ubuntu etcd[80407]: raft2025/07/18 10:32:04 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 18 10:32:04 ubuntu etcd[80407]: raft2025/07/18 10:32:04 INFO: 43038365673ccf7b became follower at term 1
Jul 18 10:32:04 ubuntu etcd[80407]: raft2025/07/18 10:32:04 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 18 10:32:04 ubuntu etcd[80407]: simple token is not cryptographically signed
Jul 18 10:32:04 ubuntu etcd[80407]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 18 10:32:04 ubuntu etcd[80407]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 18 10:32:04 ubuntu etcd[80407]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 18 10:32:04 ubuntu etcd[80407]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 18 10:32:04 ubuntu etcd[80407]: raft2025/07/18 10:32:04 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 18 10:32:04 ubuntu etcd[80407]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 18 10:32:04 ubuntu etcd[80407]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jul 18 10:32:04 ubuntu etcd[80407]: listening for peers on [::]:2380
Jul 18 10:32:04 ubuntu etcd[80407]: raft2025/07/18 10:32:04 INFO: 43038365673ccf7b is starting a new election at term 1
Jul 18 10:32:04 ubuntu etcd[80407]: raft2025/07/18 10:32:04 INFO: 43038365673ccf7b became candidate at term 2
Jul 18 10:32:04 ubuntu etcd[80407]: raft2025/07/18 10:32:04 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jul 18 10:32:04 ubuntu etcd[80407]: raft2025/07/18 10:32:04 INFO: 43038365673ccf7b became leader at term 2
Jul 18 10:32:04 ubuntu etcd[80407]: raft2025/07/18 10:32:04 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jul 18 10:32:04 ubuntu etcd[80407]: setting up the initial cluster version to 3.4
Jul 18 10:32:04 ubuntu etcd[80407]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jul 18 10:32:04 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 18 10:32:04 ubuntu etcd[80407]: ready to serve client requests
Jul 18 10:32:04 ubuntu etcd[80407]: set the initial cluster version to 3.4
Jul 18 10:32:04 ubuntu etcd[80407]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jul 18 10:32:04 ubuntu etcd[80407]: enabled capabilities for version 3.4
Jul 18 10:36:57 ubuntu etcd[80407]: start time = 2025-07-18 10:36:57.427169216 +0000 UTC m=+293.122474592, time spent = 686.578µs, remote = 10.201.5.82:44944, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 18 10:36:57 ubuntu etcd[80407]: start time = 2025-07-18 10:36:57.508588145 +0000 UTC m=+293.203893525, time spent = 210.376µs, remote = 10.201.5.82:44944, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 18 10:37:04 ubuntu etcd[80407]: start time = 2025-07-18 10:37:04.495929617 +0000 UTC m=+300.191234994, time spent = 170.776µs, remote = 10.201.5.82:44944, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 18 10:37:06 ubuntu etcd[80407]: start time = 2025-07-18 10:37:06.530037315 +0000 UTC m=+302.225342689, time spent = 198.619µs, remote = 10.201.5.82:44944, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
