Jul 23 15:20:35 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 23 15:20:35 ubuntu etcd[79240]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 23 15:20:35 ubuntu etcd[79240]:         A future release of golang/protobuf will delete this package,
Jul 23 15:20:35 ubuntu etcd[79240]:         which has long been excluded from the compatibility promise.
Jul 23 15:20:35 ubuntu etcd[79240]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 23 15:20:35 ubuntu etcd[79240]: Running http and grpc server on single port. This is not recommended for production.
Jul 23 15:20:35 ubuntu etcd[79240]: etcd Version: 3.4.27
Jul 23 15:20:35 ubuntu etcd[79240]: Git SHA: c92fb80f3
Jul 23 15:20:35 ubuntu etcd[79240]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 23 15:20:35 ubuntu etcd[79240]: Go Version: go1.19.10
Jul 23 15:20:35 ubuntu etcd[79240]: Go OS/Arch: linux/amd64
Jul 23 15:20:35 ubuntu etcd[79240]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 23 15:20:35 ubuntu etcd[79240]: Running http and grpc server on single port. This is not recommended for production.
Jul 23 15:20:35 ubuntu etcd[79240]: name = ubuntu
Jul 23 15:20:35 ubuntu etcd[79240]: data dir = /opt/stack/data/etcd
Jul 23 15:20:35 ubuntu etcd[79240]: member dir = /opt/stack/data/etcd/member
Jul 23 15:20:35 ubuntu etcd[79240]: heartbeat = 100ms
Jul 23 15:20:35 ubuntu etcd[79240]: election = 1000ms
Jul 23 15:20:35 ubuntu etcd[79240]: snapshot count = 100000
Jul 23 15:20:35 ubuntu etcd[79240]: advertise client URLs = http://10.201.5.82:2379
Jul 23 15:20:35 ubuntu etcd[79240]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 23 15:20:35 ubuntu etcd[79240]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jul 23 15:20:35 ubuntu etcd[79240]: raft2025/07/23 15:20:35 INFO: 43038365673ccf7b switched to configuration voters=()
Jul 23 15:20:35 ubuntu etcd[79240]: raft2025/07/23 15:20:35 INFO: 43038365673ccf7b became follower at term 0
Jul 23 15:20:35 ubuntu etcd[79240]: raft2025/07/23 15:20:35 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 23 15:20:35 ubuntu etcd[79240]: raft2025/07/23 15:20:35 INFO: 43038365673ccf7b became follower at term 1
Jul 23 15:20:35 ubuntu etcd[79240]: raft2025/07/23 15:20:35 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 23 15:20:35 ubuntu etcd[79240]: simple token is not cryptographically signed
Jul 23 15:20:35 ubuntu etcd[79240]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 23 15:20:35 ubuntu etcd[79240]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 23 15:20:35 ubuntu etcd[79240]: raft2025/07/23 15:20:35 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 23 15:20:35 ubuntu etcd[79240]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jul 23 15:20:35 ubuntu etcd[79240]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 23 15:20:35 ubuntu etcd[79240]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 23 15:20:35 ubuntu etcd[79240]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 23 15:20:35 ubuntu etcd[79240]: listening for peers on [::]:2380
Jul 23 15:20:35 ubuntu etcd[79240]: raft2025/07/23 15:20:35 INFO: 43038365673ccf7b is starting a new election at term 1
Jul 23 15:20:35 ubuntu etcd[79240]: raft2025/07/23 15:20:35 INFO: 43038365673ccf7b became candidate at term 2
Jul 23 15:20:35 ubuntu etcd[79240]: raft2025/07/23 15:20:35 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jul 23 15:20:35 ubuntu etcd[79240]: raft2025/07/23 15:20:35 INFO: 43038365673ccf7b became leader at term 2
Jul 23 15:20:35 ubuntu etcd[79240]: raft2025/07/23 15:20:35 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jul 23 15:20:35 ubuntu etcd[79240]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jul 23 15:20:35 ubuntu etcd[79240]: setting up the initial cluster version to 3.4
Jul 23 15:20:35 ubuntu etcd[79240]: set the initial cluster version to 3.4
Jul 23 15:20:35 ubuntu etcd[79240]: enabled capabilities for version 3.4
Jul 23 15:20:35 ubuntu etcd[79240]: ready to serve client requests
Jul 23 15:20:35 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 23 15:20:35 ubuntu etcd[79240]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jul 23 15:25:28 ubuntu etcd[79240]: start time = 2025-07-23 15:25:28.553646963 +0000 UTC m=+293.421375091, time spent = 1.284152ms, remote = 10.201.5.82:53132, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 15:25:28 ubuntu etcd[79240]: start time = 2025-07-23 15:25:28.671128587 +0000 UTC m=+293.538856685, time spent = 296.103µs, remote = 10.201.5.82:53132, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 15:25:35 ubuntu etcd[79240]: start time = 2025-07-23 15:25:35.740841567 +0000 UTC m=+300.608569660, time spent = 177.454µs, remote = 10.201.5.82:53132, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 15:25:37 ubuntu etcd[79240]: start time = 2025-07-23 15:25:37.823520913 +0000 UTC m=+302.691249007, time spent = 238.208µs, remote = 10.201.5.82:53132, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
