Jul 28 16:14:30 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 28 16:14:30 ubuntu etcd[79196]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 28 16:14:30 ubuntu etcd[79196]:         A future release of golang/protobuf will delete this package,
Jul 28 16:14:30 ubuntu etcd[79196]:         which has long been excluded from the compatibility promise.
Jul 28 16:14:30 ubuntu etcd[79196]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 28 16:14:30 ubuntu etcd[79196]: Running http and grpc server on single port. This is not recommended for production.
Jul 28 16:14:30 ubuntu etcd[79196]: etcd Version: 3.4.27
Jul 28 16:14:30 ubuntu etcd[79196]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 28 16:14:30 ubuntu etcd[79196]: Git SHA: c92fb80f3
Jul 28 16:14:30 ubuntu etcd[79196]: Go Version: go1.19.10
Jul 28 16:14:30 ubuntu etcd[79196]: Go OS/Arch: linux/amd64
Jul 28 16:14:30 ubuntu etcd[79196]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 28 16:14:30 ubuntu etcd[79196]: Running http and grpc server on single port. This is not recommended for production.
Jul 28 16:14:30 ubuntu etcd[79196]: name = ubuntu
Jul 28 16:14:30 ubuntu etcd[79196]: data dir = /opt/stack/data/etcd
Jul 28 16:14:30 ubuntu etcd[79196]: member dir = /opt/stack/data/etcd/member
Jul 28 16:14:30 ubuntu etcd[79196]: heartbeat = 100ms
Jul 28 16:14:30 ubuntu etcd[79196]: election = 1000ms
Jul 28 16:14:30 ubuntu etcd[79196]: snapshot count = 100000
Jul 28 16:14:30 ubuntu etcd[79196]: advertise client URLs = http://10.201.5.82:2379
Jul 28 16:14:30 ubuntu etcd[79196]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 28 16:14:30 ubuntu etcd[79196]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jul 28 16:14:30 ubuntu etcd[79196]: raft2025/07/28 16:14:30 INFO: 43038365673ccf7b switched to configuration voters=()
Jul 28 16:14:30 ubuntu etcd[79196]: raft2025/07/28 16:14:30 INFO: 43038365673ccf7b became follower at term 0
Jul 28 16:14:30 ubuntu etcd[79196]: raft2025/07/28 16:14:30 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 28 16:14:30 ubuntu etcd[79196]: raft2025/07/28 16:14:30 INFO: 43038365673ccf7b became follower at term 1
Jul 28 16:14:30 ubuntu etcd[79196]: raft2025/07/28 16:14:30 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 28 16:14:30 ubuntu etcd[79196]: simple token is not cryptographically signed
Jul 28 16:14:30 ubuntu etcd[79196]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 28 16:14:30 ubuntu etcd[79196]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 28 16:14:30 ubuntu etcd[79196]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 28 16:14:30 ubuntu etcd[79196]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 28 16:14:30 ubuntu etcd[79196]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 28 16:14:30 ubuntu etcd[79196]: raft2025/07/28 16:14:30 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 28 16:14:30 ubuntu etcd[79196]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jul 28 16:14:30 ubuntu etcd[79196]: listening for peers on [::]:2380
Jul 28 16:14:30 ubuntu etcd[79196]: raft2025/07/28 16:14:30 INFO: 43038365673ccf7b is starting a new election at term 1
Jul 28 16:14:30 ubuntu etcd[79196]: raft2025/07/28 16:14:30 INFO: 43038365673ccf7b became candidate at term 2
Jul 28 16:14:30 ubuntu etcd[79196]: raft2025/07/28 16:14:30 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jul 28 16:14:30 ubuntu etcd[79196]: raft2025/07/28 16:14:30 INFO: 43038365673ccf7b became leader at term 2
Jul 28 16:14:30 ubuntu etcd[79196]: raft2025/07/28 16:14:30 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jul 28 16:14:30 ubuntu etcd[79196]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jul 28 16:14:30 ubuntu etcd[79196]: setting up the initial cluster version to 3.4
Jul 28 16:14:30 ubuntu etcd[79196]: ready to serve client requests
Jul 28 16:14:30 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 28 16:14:30 ubuntu etcd[79196]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jul 28 16:14:30 ubuntu etcd[79196]: set the initial cluster version to 3.4
Jul 28 16:14:30 ubuntu etcd[79196]: enabled capabilities for version 3.4
Jul 28 16:19:14 ubuntu etcd[79196]: start time = 2025-07-28 16:19:14.859582104 +0000 UTC m=+284.848794022, time spent = 670.169µs, remote = 10.201.5.82:44396, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 28 16:19:14 ubuntu etcd[79196]: start time = 2025-07-28 16:19:14.868969586 +0000 UTC m=+284.858181517, time spent = 257.368µs, remote = 10.201.5.82:44396, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 28 16:19:21 ubuntu etcd[79196]: start time = 2025-07-28 16:19:21.947951809 +0000 UTC m=+291.937163738, time spent = 173.408µs, remote = 10.201.5.82:44396, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 28 16:19:24 ubuntu etcd[79196]: start time = 2025-07-28 16:19:24.08948374 +0000 UTC m=+294.078695671, time spent = 199.267µs, remote = 10.201.5.82:44396, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 28 16:22:43 ubuntu etcd[79196]: start time = 2025-07-28 16:22:43.667403051 +0000 UTC m=+493.656614964, time spent = 348.685µs, remote = 10.201.5.82:44396, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 28 16:22:43 ubuntu etcd[79196]: start time = 2025-07-28 16:22:43.68473269 +0000 UTC m=+493.673944614, time spent = 138.133µs, remote = 10.201.5.82:44396, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 28 16:22:44 ubuntu etcd[79196]: start time = 2025-07-28 16:22:44.114197965 +0000 UTC m=+494.103409894, time spent = 190.328µs, remote = 10.201.5.82:44396, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 28 16:22:46 ubuntu etcd[79196]: start time = 2025-07-28 16:22:46.498328069 +0000 UTC m=+496.487539998, time spent = 264.023µs, remote = 10.201.5.82:44396, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 28 16:29:31 ubuntu etcd[79196]: start time = 2025-07-28 16:29:31.798618616 +0000 UTC m=+901.787830545, time spent = 434.785µs, remote = 10.201.5.82:44396, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 28 16:29:31 ubuntu etcd[79196]: start time = 2025-07-28 16:29:31.818366539 +0000 UTC m=+901.807578460, time spent = 9.322248ms, remote = 10.201.5.82:44396, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-296b0c1b-3016-4e96-b0f2-99c057fb88ce" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-296b0c1b-3016-4e96-b0f2-99c057fb88ce" value_size:16 lease:5727338828288145177 >> failure:<request_range:<key:"/tooz/lockscinder-296b0c1b-3016-4e96-b0f2-99c057fb88ce" > >
Jul 28 16:29:34 ubuntu etcd[79196]: start time = 2025-07-28 16:29:34.559905394 +0000 UTC m=+904.549117324, time spent = 248.448µs, remote = 10.201.5.82:44396, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-296b0c1b-3016-4e96-b0f2-99c057fb88ce" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-296b0c1b-3016-4e96-b0f2-99c057fb88ce" > > failure:<>
Jul 28 16:29:34 ubuntu etcd[79196]: start time = 2025-07-28 16:29:34.778998737 +0000 UTC m=+904.768210679, time spent = 273.897µs, remote = 10.201.5.82:44396, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 28 16:29:34 ubuntu etcd[79196]: start time = 2025-07-28 16:29:34.780968924 +0000 UTC m=+904.770180855, time spent = 168.911µs, remote = 10.201.5.82:44396, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-296b0c1b-3016-4e96-b0f2-99c057fb88ce" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-296b0c1b-3016-4e96-b0f2-99c057fb88ce" value_size:16 lease:5727338828288145181 >> failure:<request_range:<key:"/tooz/lockscinder-296b0c1b-3016-4e96-b0f2-99c057fb88ce" > >
Jul 28 16:29:36 ubuntu etcd[79196]: start time = 2025-07-28 16:29:36.615498381 +0000 UTC m=+906.604710309, time spent = 264.017µs, remote = 10.201.5.82:44396, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-296b0c1b-3016-4e96-b0f2-99c057fb88ce" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-296b0c1b-3016-4e96-b0f2-99c057fb88ce" > > failure:<>
Jul 28 16:29:36 ubuntu etcd[79196]: start time = 2025-07-28 16:29:36.828063291 +0000 UTC m=+906.817275240, time spent = 317.845µs, remote = 10.201.5.82:44396, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 28 16:29:36 ubuntu etcd[79196]: start time = 2025-07-28 16:29:36.830013442 +0000 UTC m=+906.819225369, time spent = 182.174µs, remote = 10.201.5.82:44396, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-296b0c1b-3016-4e96-b0f2-99c057fb88ce" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-296b0c1b-3016-4e96-b0f2-99c057fb88ce" value_size:16 lease:5727338828288145185 >> failure:<request_range:<key:"/tooz/lockscinder-296b0c1b-3016-4e96-b0f2-99c057fb88ce" > >
Jul 28 16:29:38 ubuntu etcd[79196]: start time = 2025-07-28 16:29:38.777366952 +0000 UTC m=+908.766578993, time spent = 635.474µs, remote = 10.201.5.82:44396, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-296b0c1b-3016-4e96-b0f2-99c057fb88ce" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-296b0c1b-3016-4e96-b0f2-99c057fb88ce" > > failure:<>
