Jul 02 17:25:22 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 02 17:25:23 ubuntu etcd[67075]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 02 17:25:23 ubuntu etcd[67075]:         A future release of golang/protobuf will delete this package,
Jul 02 17:25:23 ubuntu etcd[67075]:         which has long been excluded from the compatibility promise.
Jul 02 17:25:23 ubuntu etcd[67075]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 02 17:25:23 ubuntu etcd[67075]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 02 17:25:23 ubuntu etcd[67075]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 02 17:25:23 ubuntu etcd[67075]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 02 17:25:23 ubuntu etcd[67075]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 02 17:25:23 ubuntu etcd[67075]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 02 17:25:23 ubuntu etcd[67075]: Running http and grpc server on single port. This is not recommended for production.
Jul 02 17:25:23 ubuntu etcd[67075]: etcd Version: 3.4.27
Jul 02 17:25:23 ubuntu etcd[67075]: Git SHA: c92fb80f3
Jul 02 17:25:23 ubuntu etcd[67075]: Go Version: go1.19.10
Jul 02 17:25:23 ubuntu etcd[67075]: Go OS/Arch: linux/amd64
Jul 02 17:25:23 ubuntu etcd[67075]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 02 17:25:23 ubuntu etcd[67075]: Running http and grpc server on single port. This is not recommended for production.
Jul 02 17:25:23 ubuntu etcd[67075]: name = ubuntu
Jul 02 17:25:23 ubuntu etcd[67075]: data dir = /opt/stack/data/etcd
Jul 02 17:25:23 ubuntu etcd[67075]: member dir = /opt/stack/data/etcd/member
Jul 02 17:25:23 ubuntu etcd[67075]: heartbeat = 100ms
Jul 02 17:25:23 ubuntu etcd[67075]: election = 1000ms
Jul 02 17:25:23 ubuntu etcd[67075]: snapshot count = 100000
Jul 02 17:25:23 ubuntu etcd[67075]: advertise client URLs = http://10.201.5.82:2379
Jul 02 17:25:23 ubuntu etcd[67075]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 02 17:25:23 ubuntu etcd[67075]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jul 02 17:25:23 ubuntu etcd[67075]: raft2024/07/02 17:25:23 INFO: 43038365673ccf7b switched to configuration voters=()
Jul 02 17:25:23 ubuntu etcd[67075]: raft2024/07/02 17:25:23 INFO: 43038365673ccf7b became follower at term 0
Jul 02 17:25:23 ubuntu etcd[67075]: raft2024/07/02 17:25:23 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 02 17:25:23 ubuntu etcd[67075]: raft2024/07/02 17:25:23 INFO: 43038365673ccf7b became follower at term 1
Jul 02 17:25:23 ubuntu etcd[67075]: raft2024/07/02 17:25:23 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 02 17:25:23 ubuntu etcd[67075]: simple token is not cryptographically signed
Jul 02 17:25:23 ubuntu etcd[67075]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 02 17:25:23 ubuntu etcd[67075]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 02 17:25:23 ubuntu etcd[67075]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 02 17:25:23 ubuntu etcd[67075]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 02 17:25:23 ubuntu etcd[67075]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 02 17:25:23 ubuntu etcd[67075]: raft2024/07/02 17:25:23 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 02 17:25:23 ubuntu etcd[67075]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jul 02 17:25:23 ubuntu etcd[67075]: listening for peers on [::]:2380
Jul 02 17:25:23 ubuntu etcd[67075]: raft2024/07/02 17:25:23 INFO: 43038365673ccf7b is starting a new election at term 1
Jul 02 17:25:23 ubuntu etcd[67075]: raft2024/07/02 17:25:23 INFO: 43038365673ccf7b became candidate at term 2
Jul 02 17:25:23 ubuntu etcd[67075]: raft2024/07/02 17:25:23 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jul 02 17:25:23 ubuntu etcd[67075]: raft2024/07/02 17:25:23 INFO: 43038365673ccf7b became leader at term 2
Jul 02 17:25:23 ubuntu etcd[67075]: raft2024/07/02 17:25:23 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jul 02 17:25:23 ubuntu etcd[67075]: INFO: 2024/07/02 17:25:23 parsed scheme: ""
Jul 02 17:25:23 ubuntu etcd[67075]: INFO: 2024/07/02 17:25:23 scheme "" not registered, fallback to default scheme
Jul 02 17:25:23 ubuntu etcd[67075]: INFO: 2024/07/02 17:25:23 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Jul 02 17:25:23 ubuntu etcd[67075]: INFO: 2024/07/02 17:25:23 ClientConn switching balancer to "pick_first"
Jul 02 17:25:23 ubuntu etcd[67075]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jul 02 17:25:23 ubuntu etcd[67075]: setting up the initial cluster version to 3.4
Jul 02 17:25:23 ubuntu etcd[67075]: ready to serve client requests
Jul 02 17:25:23 ubuntu etcd[67075]: set the initial cluster version to 3.4
Jul 02 17:25:23 ubuntu etcd[67075]: enabled capabilities for version 3.4
Jul 02 17:25:23 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 02 17:25:23 ubuntu etcd[67075]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jul 02 17:31:33 ubuntu etcd[67075]: start time = 2024-07-02 17:31:33.304300497 +0000 UTC m=+370.304120321, time spent = 4.926704ms, remote = 10.201.5.82:50372, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 02 17:31:33 ubuntu etcd[67075]: start time = 2024-07-02 17:31:33.329689932 +0000 UTC m=+370.329509768, time spent = 217.51µs, remote = 10.201.5.82:50372, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 02 17:31:40 ubuntu etcd[67075]: start time = 2024-07-02 17:31:40.151452346 +0000 UTC m=+377.151272180, time spent = 205.523µs, remote = 10.201.5.82:50372, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 02 17:31:42 ubuntu etcd[67075]: start time = 2024-07-02 17:31:42.164079901 +0000 UTC m=+379.163899737, time spent = 349.751µs, remote = 10.201.5.82:50372, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 02 17:35:57 ubuntu etcd[67075]: start time = 2024-07-02 17:35:57.000786318 +0000 UTC m=+634.000606144, time spent = 299.059µs, remote = 10.201.5.82:50372, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 02 17:35:57 ubuntu etcd[67075]: start time = 2024-07-02 17:35:57.005641341 +0000 UTC m=+634.005461175, time spent = 104.631µs, remote = 10.201.5.82:50372, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 02 17:35:57 ubuntu etcd[67075]: start time = 2024-07-02 17:35:57.352690031 +0000 UTC m=+634.352509856, time spent = 163.946µs, remote = 10.201.5.82:50372, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 02 17:35:59 ubuntu etcd[67075]: start time = 2024-07-02 17:35:59.412353927 +0000 UTC m=+636.412173763, time spent = 225.066µs, remote = 10.201.5.82:50372, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
