Jun 25 14:07:56 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 25 14:07:56 ubuntu etcd[67270]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 25 14:07:56 ubuntu etcd[67270]:         A future release of golang/protobuf will delete this package,
Jun 25 14:07:56 ubuntu etcd[67270]:         which has long been excluded from the compatibility promise.
Jun 25 14:07:56 ubuntu etcd[67270]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jun 25 14:07:56 ubuntu etcd[67270]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jun 25 14:07:56 ubuntu etcd[67270]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 25 14:07:56 ubuntu etcd[67270]: Running http and grpc server on single port. This is not recommended for production.
Jun 25 14:07:56 ubuntu etcd[67270]: etcd Version: 3.4.27
Jun 25 14:07:56 ubuntu etcd[67270]: Git SHA: c92fb80f3
Jun 25 14:07:56 ubuntu etcd[67270]: Go Version: go1.19.10
Jun 25 14:07:56 ubuntu etcd[67270]: Go OS/Arch: linux/amd64
Jun 25 14:07:56 ubuntu etcd[67270]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 25 14:07:56 ubuntu etcd[67270]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jun 25 14:07:56 ubuntu etcd[67270]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jun 25 14:07:56 ubuntu etcd[67270]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 25 14:07:56 ubuntu etcd[67270]: Running http and grpc server on single port. This is not recommended for production.
Jun 25 14:07:56 ubuntu etcd[67270]: name = ubuntu
Jun 25 14:07:56 ubuntu etcd[67270]: data dir = /opt/stack/data/etcd
Jun 25 14:07:56 ubuntu etcd[67270]: member dir = /opt/stack/data/etcd/member
Jun 25 14:07:56 ubuntu etcd[67270]: heartbeat = 100ms
Jun 25 14:07:56 ubuntu etcd[67270]: election = 1000ms
Jun 25 14:07:56 ubuntu etcd[67270]: snapshot count = 100000
Jun 25 14:07:56 ubuntu etcd[67270]: advertise client URLs = http://10.201.5.82:2379
Jun 25 14:07:56 ubuntu etcd[67270]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 25 14:07:56 ubuntu etcd[67270]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jun 25 14:07:56 ubuntu etcd[67270]: raft2024/06/25 14:07:56 INFO: 43038365673ccf7b switched to configuration voters=()
Jun 25 14:07:56 ubuntu etcd[67270]: raft2024/06/25 14:07:56 INFO: 43038365673ccf7b became follower at term 0
Jun 25 14:07:56 ubuntu etcd[67270]: raft2024/06/25 14:07:56 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 25 14:07:56 ubuntu etcd[67270]: raft2024/06/25 14:07:56 INFO: 43038365673ccf7b became follower at term 1
Jun 25 14:07:56 ubuntu etcd[67270]: raft2024/06/25 14:07:56 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 25 14:07:56 ubuntu etcd[67270]: simple token is not cryptographically signed
Jun 25 14:07:56 ubuntu etcd[67270]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 25 14:07:56 ubuntu etcd[67270]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 25 14:07:56 ubuntu etcd[67270]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 25 14:07:56 ubuntu etcd[67270]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 25 14:07:56 ubuntu etcd[67270]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 25 14:07:56 ubuntu etcd[67270]: raft2024/06/25 14:07:56 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 25 14:07:56 ubuntu etcd[67270]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jun 25 14:07:56 ubuntu etcd[67270]: listening for peers on [::]:2380
Jun 25 14:07:56 ubuntu etcd[67270]: raft2024/06/25 14:07:56 INFO: 43038365673ccf7b is starting a new election at term 1
Jun 25 14:07:56 ubuntu etcd[67270]: raft2024/06/25 14:07:56 INFO: 43038365673ccf7b became candidate at term 2
Jun 25 14:07:56 ubuntu etcd[67270]: raft2024/06/25 14:07:56 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jun 25 14:07:56 ubuntu etcd[67270]: raft2024/06/25 14:07:56 INFO: 43038365673ccf7b became leader at term 2
Jun 25 14:07:56 ubuntu etcd[67270]: raft2024/06/25 14:07:56 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jun 25 14:07:56 ubuntu etcd[67270]: ready to serve client requests
Jun 25 14:07:56 ubuntu etcd[67270]: INFO: 2024/06/25 14:07:56 parsed scheme: ""
Jun 25 14:07:56 ubuntu etcd[67270]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jun 25 14:07:56 ubuntu etcd[67270]: setting up the initial cluster version to 3.4
Jun 25 14:07:56 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 25 14:07:56 ubuntu etcd[67270]: set the initial cluster version to 3.4
Jun 25 14:07:56 ubuntu etcd[67270]: enabled capabilities for version 3.4
Jun 25 14:07:56 ubuntu etcd[67270]: INFO: 2024/06/25 14:07:56 scheme "" not registered, fallback to default scheme
Jun 25 14:07:56 ubuntu etcd[67270]: INFO: 2024/06/25 14:07:56 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Jun 25 14:07:56 ubuntu etcd[67270]: INFO: 2024/06/25 14:07:56 ClientConn switching balancer to "pick_first"
Jun 25 14:07:57 ubuntu etcd[67270]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jun 25 14:13:35 ubuntu etcd[67270]: start time = 2024-06-25 14:13:35.538818203 +0000 UTC m=+338.794228357, time spent = 2.194087ms, remote = 10.201.5.82:44416, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 25 14:13:35 ubuntu etcd[67270]: start time = 2024-06-25 14:13:35.566662676 +0000 UTC m=+338.822072838, time spent = 237.825µs, remote = 10.201.5.82:44416, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 25 14:13:42 ubuntu etcd[67270]: start time = 2024-06-25 14:13:42.421504527 +0000 UTC m=+345.676914679, time spent = 226.812µs, remote = 10.201.5.82:44416, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 25 14:13:44 ubuntu etcd[67270]: start time = 2024-06-25 14:13:44.321037869 +0000 UTC m=+347.576448033, time spent = 459.179µs, remote = 10.201.5.82:44416, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 25 14:17:14 ubuntu etcd[67270]: start time = 2024-06-25 14:17:14.516336094 +0000 UTC m=+557.771746307, time spent = 659.964µs, remote = 10.201.5.82:44416, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 25 14:17:14 ubuntu etcd[67270]: start time = 2024-06-25 14:17:14.525250095 +0000 UTC m=+557.780660345, time spent = 314.85µs, remote = 10.201.5.82:44416, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 25 14:17:17 ubuntu etcd[67270]: start time = 2024-06-25 14:17:17.069117616 +0000 UTC m=+560.324527780, time spent = 343.695µs, remote = 10.201.5.82:44416, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 25 14:17:18 ubuntu etcd[67270]: start time = 2024-06-25 14:17:18.962256292 +0000 UTC m=+562.217666456, time spent = 197.821µs, remote = 10.201.5.82:44416, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
