Jun 12 20:44:43 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 12 20:44:43 ubuntu etcd[79356]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 12 20:44:43 ubuntu etcd[79356]:         A future release of golang/protobuf will delete this package,
Jun 12 20:44:43 ubuntu etcd[79356]:         which has long been excluded from the compatibility promise.
Jun 12 20:44:43 ubuntu etcd[79356]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 12 20:44:43 ubuntu etcd[79356]: Running http and grpc server on single port. This is not recommended for production.
Jun 12 20:44:43 ubuntu etcd[79356]: etcd Version: 3.4.27
Jun 12 20:44:43 ubuntu etcd[79356]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 12 20:44:43 ubuntu etcd[79356]: Git SHA: c92fb80f3
Jun 12 20:44:43 ubuntu etcd[79356]: Go Version: go1.19.10
Jun 12 20:44:43 ubuntu etcd[79356]: Go OS/Arch: linux/amd64
Jun 12 20:44:43 ubuntu etcd[79356]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 12 20:44:43 ubuntu etcd[79356]: Running http and grpc server on single port. This is not recommended for production.
Jun 12 20:44:43 ubuntu etcd[79356]: name = ubuntu
Jun 12 20:44:43 ubuntu etcd[79356]: data dir = /opt/stack/data/etcd
Jun 12 20:44:43 ubuntu etcd[79356]: member dir = /opt/stack/data/etcd/member
Jun 12 20:44:43 ubuntu etcd[79356]: heartbeat = 100ms
Jun 12 20:44:43 ubuntu etcd[79356]: election = 1000ms
Jun 12 20:44:43 ubuntu etcd[79356]: snapshot count = 100000
Jun 12 20:44:43 ubuntu etcd[79356]: advertise client URLs = http://10.201.5.82:2379
Jun 12 20:44:43 ubuntu etcd[79356]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 12 20:44:43 ubuntu etcd[79356]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jun 12 20:44:43 ubuntu etcd[79356]: raft2025/06/12 20:44:43 INFO: 43038365673ccf7b switched to configuration voters=()
Jun 12 20:44:43 ubuntu etcd[79356]: raft2025/06/12 20:44:43 INFO: 43038365673ccf7b became follower at term 0
Jun 12 20:44:43 ubuntu etcd[79356]: raft2025/06/12 20:44:43 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 12 20:44:43 ubuntu etcd[79356]: raft2025/06/12 20:44:43 INFO: 43038365673ccf7b became follower at term 1
Jun 12 20:44:43 ubuntu etcd[79356]: raft2025/06/12 20:44:43 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 12 20:44:43 ubuntu etcd[79356]: simple token is not cryptographically signed
Jun 12 20:44:43 ubuntu etcd[79356]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 12 20:44:43 ubuntu etcd[79356]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 12 20:44:43 ubuntu etcd[79356]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 12 20:44:43 ubuntu etcd[79356]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 12 20:44:43 ubuntu etcd[79356]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 12 20:44:43 ubuntu etcd[79356]: raft2025/06/12 20:44:43 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 12 20:44:43 ubuntu etcd[79356]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jun 12 20:44:43 ubuntu etcd[79356]: listening for peers on [::]:2380
Jun 12 20:44:44 ubuntu etcd[79356]: raft2025/06/12 20:44:44 INFO: 43038365673ccf7b is starting a new election at term 1
Jun 12 20:44:44 ubuntu etcd[79356]: raft2025/06/12 20:44:44 INFO: 43038365673ccf7b became candidate at term 2
Jun 12 20:44:44 ubuntu etcd[79356]: raft2025/06/12 20:44:44 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jun 12 20:44:44 ubuntu etcd[79356]: raft2025/06/12 20:44:44 INFO: 43038365673ccf7b became leader at term 2
Jun 12 20:44:44 ubuntu etcd[79356]: raft2025/06/12 20:44:44 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jun 12 20:44:44 ubuntu etcd[79356]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jun 12 20:44:44 ubuntu etcd[79356]: ready to serve client requests
Jun 12 20:44:44 ubuntu etcd[79356]: setting up the initial cluster version to 3.4
Jun 12 20:44:44 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 12 20:44:44 ubuntu etcd[79356]: set the initial cluster version to 3.4
Jun 12 20:44:44 ubuntu etcd[79356]: enabled capabilities for version 3.4
Jun 12 20:44:44 ubuntu etcd[79356]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jun 12 20:49:21 ubuntu etcd[79356]: start time = 2025-06-12 20:49:21.5984895 +0000 UTC m=+278.241064681, time spent = 706.383µs, remote = 10.201.5.82:41900, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 12 20:49:21 ubuntu etcd[79356]: start time = 2025-06-12 20:49:21.646930395 +0000 UTC m=+278.289505559, time spent = 226.009µs, remote = 10.201.5.82:41900, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 12 20:49:28 ubuntu etcd[79356]: start time = 2025-06-12 20:49:28.631218044 +0000 UTC m=+285.273793209, time spent = 177.156µs, remote = 10.201.5.82:41900, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 12 20:49:30 ubuntu etcd[79356]: start time = 2025-06-12 20:49:30.639153237 +0000 UTC m=+287.281728398, time spent = 253.337µs, remote = 10.201.5.82:41900, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 12 20:52:53 ubuntu etcd[79356]: start time = 2025-06-12 20:52:53.911715917 +0000 UTC m=+490.554291079, time spent = 341.154µs, remote = 10.201.5.82:41900, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 12 20:52:53 ubuntu etcd[79356]: start time = 2025-06-12 20:52:53.969089817 +0000 UTC m=+490.611664981, time spent = 186.157µs, remote = 10.201.5.82:41900, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 12 20:52:55 ubuntu etcd[79356]: start time = 2025-06-12 20:52:55.871656381 +0000 UTC m=+492.514231543, time spent = 168.936µs, remote = 10.201.5.82:41900, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 12 20:52:58 ubuntu etcd[79356]: start time = 2025-06-12 20:52:58.323048431 +0000 UTC m=+494.965623580, time spent = 207.946µs, remote = 10.201.5.82:41900, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 12 20:54:45 ubuntu etcd[79356]: start time = 2025-06-12 20:54:45.600209232 +0000 UTC m=+602.242784414, time spent = 304.678µs, remote = 10.201.5.82:41900, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 12 20:54:45 ubuntu etcd[79356]: start time = 2025-06-12 20:54:45.608719061 +0000 UTC m=+602.251294223, time spent = 6.788783ms, remote = 10.201.5.82:41900, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-f23fcbc7-203a-4e2a-a3ba-1015170e165b" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-f23fcbc7-203a-4e2a-a3ba-1015170e165b" value_size:16 lease:5727337814992360985 >> failure:<request_range:<key:"/tooz/lockscinder-f23fcbc7-203a-4e2a-a3ba-1015170e165b" > >
Jun 12 20:54:50 ubuntu etcd[79356]: start time = 2025-06-12 20:54:50.867001581 +0000 UTC m=+607.509576828, time spent = 991.54µs, remote = 10.201.5.82:41900, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-f23fcbc7-203a-4e2a-a3ba-1015170e165b" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-f23fcbc7-203a-4e2a-a3ba-1015170e165b" > > failure:<>
Jun 12 20:54:51 ubuntu etcd[79356]: start time = 2025-06-12 20:54:51.112841417 +0000 UTC m=+607.755416663, time spent = 421.934µs, remote = 10.201.5.82:41900, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 12 20:54:51 ubuntu etcd[79356]: start time = 2025-06-12 20:54:51.115168135 +0000 UTC m=+607.757743391, time spent = 305.993µs, remote = 10.201.5.82:41900, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-f23fcbc7-203a-4e2a-a3ba-1015170e165b" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-f23fcbc7-203a-4e2a-a3ba-1015170e165b" value_size:16 lease:5727337814992360989 >> failure:<request_range:<key:"/tooz/lockscinder-f23fcbc7-203a-4e2a-a3ba-1015170e165b" > >
Jun 12 20:54:52 ubuntu etcd[79356]: start time = 2025-06-12 20:54:52.907168943 +0000 UTC m=+609.549744116, time spent = 755.671µs, remote = 10.201.5.82:41900, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-f23fcbc7-203a-4e2a-a3ba-1015170e165b" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-f23fcbc7-203a-4e2a-a3ba-1015170e165b" > > failure:<>
Jun 12 20:54:53 ubuntu etcd[79356]: start time = 2025-06-12 20:54:53.142378152 +0000 UTC m=+609.784953352, time spent = 302.174µs, remote = 10.201.5.82:41900, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 12 20:54:53 ubuntu etcd[79356]: start time = 2025-06-12 20:54:53.144996789 +0000 UTC m=+609.787571946, time spent = 163.398µs, remote = 10.201.5.82:41900, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-f23fcbc7-203a-4e2a-a3ba-1015170e165b" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-f23fcbc7-203a-4e2a-a3ba-1015170e165b" value_size:16 lease:5727337814992360993 >> failure:<request_range:<key:"/tooz/lockscinder-f23fcbc7-203a-4e2a-a3ba-1015170e165b" > >
Jun 12 20:54:54 ubuntu etcd[79356]: start time = 2025-06-12 20:54:54.955418945 +0000 UTC m=+611.597994208, time spent = 355.813µs, remote = 10.201.5.82:41900, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-f23fcbc7-203a-4e2a-a3ba-1015170e165b" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-f23fcbc7-203a-4e2a-a3ba-1015170e165b" > > failure:<>
Jun 12 21:35:08 ubuntu etcd[79356]: start time = 2025-06-12 21:35:08.798204216 +0000 UTC m=+3025.440779365, time spent = 342.866µs, remote = 10.201.5.82:41900, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 12 21:35:08 ubuntu etcd[79356]: start time = 2025-06-12 21:35:08.800522888 +0000 UTC m=+3025.443098037, time spent = 269.05µs, remote = 10.201.5.82:41900, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-cbfef969-dc91-49ae-a0a8-97d4e496e14d" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-cbfef969-dc91-49ae-a0a8-97d4e496e14d" value_size:16 lease:5727337814992361000 >> failure:<request_range:<key:"/tooz/lockscinder-cbfef969-dc91-49ae-a0a8-97d4e496e14d" > >
Jun 12 21:35:11 ubuntu etcd[79356]: start time = 2025-06-12 21:35:11.050568623 +0000 UTC m=+3027.693143792, time spent = 468.826µs, remote = 10.201.5.82:41900, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-cbfef969-dc91-49ae-a0a8-97d4e496e14d" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-cbfef969-dc91-49ae-a0a8-97d4e496e14d" > > failure:<>
Jun 12 21:35:11 ubuntu etcd[79356]: start time = 2025-06-12 21:35:11.271577706 +0000 UTC m=+3027.914152872, time spent = 349.055µs, remote = 10.201.5.82:41900, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 12 21:35:11 ubuntu etcd[79356]: start time = 2025-06-12 21:35:11.274219892 +0000 UTC m=+3027.916795039, time spent = 271.307µs, remote = 10.201.5.82:41900, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-cbfef969-dc91-49ae-a0a8-97d4e496e14d" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-cbfef969-dc91-49ae-a0a8-97d4e496e14d" value_size:16 lease:5727337814992361004 >> failure:<request_range:<key:"/tooz/lockscinder-cbfef969-dc91-49ae-a0a8-97d4e496e14d" > >
Jun 12 21:35:12 ubuntu etcd[79356]: start time = 2025-06-12 21:35:12.502613647 +0000 UTC m=+3029.145188848, time spent = 350.656µs, remote = 10.201.5.82:41900, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-cbfef969-dc91-49ae-a0a8-97d4e496e14d" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-cbfef969-dc91-49ae-a0a8-97d4e496e14d" > > failure:<>
Jun 12 21:35:12 ubuntu etcd[79356]: start time = 2025-06-12 21:35:12.71985418 +0000 UTC m=+3029.362429330, time spent = 234.407µs, remote = 10.201.5.82:41900, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 12 21:35:12 ubuntu etcd[79356]: start time = 2025-06-12 21:35:12.721700125 +0000 UTC m=+3029.364275308, time spent = 247.932µs, remote = 10.201.5.82:41900, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-cbfef969-dc91-49ae-a0a8-97d4e496e14d" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-cbfef969-dc91-49ae-a0a8-97d4e496e14d" value_size:16 lease:5727337814992361008 >> failure:<request_range:<key:"/tooz/lockscinder-cbfef969-dc91-49ae-a0a8-97d4e496e14d" > >
Jun 12 21:35:13 ubuntu etcd[79356]: start time = 2025-06-12 21:35:13.982637361 +0000 UTC m=+3030.625212533, time spent = 490.047µs, remote = 10.201.5.82:41900, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-cbfef969-dc91-49ae-a0a8-97d4e496e14d" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-cbfef969-dc91-49ae-a0a8-97d4e496e14d" > > failure:<>
