Nov 22 13:59:23 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Nov 22 13:59:23 ubuntu etcd[67763]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Nov 22 13:59:23 ubuntu etcd[67763]:         A future release of golang/protobuf will delete this package,
Nov 22 13:59:23 ubuntu etcd[67763]:         which has long been excluded from the compatibility promise.
Nov 22 13:59:23 ubuntu etcd[67763]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Nov 22 13:59:23 ubuntu etcd[67763]: Running http and grpc server on single port. This is not recommended for production.
Nov 22 13:59:23 ubuntu etcd[67763]: etcd Version: 3.4.27
Nov 22 13:59:23 ubuntu etcd[67763]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Nov 22 13:59:23 ubuntu etcd[67763]: Git SHA: c92fb80f3
Nov 22 13:59:23 ubuntu etcd[67763]: Go Version: go1.19.10
Nov 22 13:59:23 ubuntu etcd[67763]: Go OS/Arch: linux/amd64
Nov 22 13:59:23 ubuntu etcd[67763]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Nov 22 13:59:23 ubuntu etcd[67763]: Running http and grpc server on single port. This is not recommended for production.
Nov 22 13:59:23 ubuntu etcd[67763]: name = ubuntu
Nov 22 13:59:23 ubuntu etcd[67763]: data dir = /opt/stack/data/etcd
Nov 22 13:59:23 ubuntu etcd[67763]: member dir = /opt/stack/data/etcd/member
Nov 22 13:59:23 ubuntu etcd[67763]: heartbeat = 100ms
Nov 22 13:59:23 ubuntu etcd[67763]: election = 1000ms
Nov 22 13:59:23 ubuntu etcd[67763]: snapshot count = 100000
Nov 22 13:59:23 ubuntu etcd[67763]: advertise client URLs = http://10.201.5.82:2379
Nov 22 13:59:23 ubuntu etcd[67763]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Nov 22 13:59:23 ubuntu etcd[67763]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Nov 22 13:59:23 ubuntu etcd[67763]: raft2024/11/22 13:59:23 INFO: 43038365673ccf7b switched to configuration voters=()
Nov 22 13:59:23 ubuntu etcd[67763]: raft2024/11/22 13:59:23 INFO: 43038365673ccf7b became follower at term 0
Nov 22 13:59:23 ubuntu etcd[67763]: raft2024/11/22 13:59:23 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Nov 22 13:59:23 ubuntu etcd[67763]: raft2024/11/22 13:59:23 INFO: 43038365673ccf7b became follower at term 1
Nov 22 13:59:23 ubuntu etcd[67763]: raft2024/11/22 13:59:23 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Nov 22 13:59:23 ubuntu etcd[67763]: simple token is not cryptographically signed
Nov 22 13:59:23 ubuntu etcd[67763]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Nov 22 13:59:23 ubuntu etcd[67763]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Nov 22 13:59:23 ubuntu etcd[67763]: raft2024/11/22 13:59:23 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Nov 22 13:59:23 ubuntu etcd[67763]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Nov 22 13:59:23 ubuntu etcd[67763]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Nov 22 13:59:23 ubuntu etcd[67763]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Nov 22 13:59:23 ubuntu etcd[67763]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Nov 22 13:59:23 ubuntu etcd[67763]: listening for peers on [::]:2380
Nov 22 13:59:24 ubuntu etcd[67763]: raft2024/11/22 13:59:24 INFO: 43038365673ccf7b is starting a new election at term 1
Nov 22 13:59:24 ubuntu etcd[67763]: raft2024/11/22 13:59:24 INFO: 43038365673ccf7b became candidate at term 2
Nov 22 13:59:24 ubuntu etcd[67763]: raft2024/11/22 13:59:24 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Nov 22 13:59:24 ubuntu etcd[67763]: raft2024/11/22 13:59:24 INFO: 43038365673ccf7b became leader at term 2
Nov 22 13:59:24 ubuntu etcd[67763]: raft2024/11/22 13:59:24 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Nov 22 13:59:24 ubuntu etcd[67763]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Nov 22 13:59:24 ubuntu etcd[67763]: ready to serve client requests
Nov 22 13:59:24 ubuntu etcd[67763]: setting up the initial cluster version to 3.4
Nov 22 13:59:24 ubuntu etcd[67763]: set the initial cluster version to 3.4
Nov 22 13:59:24 ubuntu etcd[67763]: enabled capabilities for version 3.4
Nov 22 13:59:24 ubuntu etcd[67763]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Nov 22 13:59:24 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Nov 22 14:04:18 ubuntu etcd[67763]: start time = 2024-11-22 14:04:18.225480548 +0000 UTC m=+294.678526939, time spent = 1.620328ms, remote = 10.201.5.82:52522, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 22 14:04:18 ubuntu etcd[67763]: start time = 2024-11-22 14:04:18.291331141 +0000 UTC m=+294.744377535, time spent = 200.262µs, remote = 10.201.5.82:52522, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 22 14:04:25 ubuntu etcd[67763]: start time = 2024-11-22 14:04:25.127842343 +0000 UTC m=+301.580888738, time spent = 199.875µs, remote = 10.201.5.82:52522, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 22 14:04:27 ubuntu etcd[67763]: start time = 2024-11-22 14:04:27.319203727 +0000 UTC m=+303.772250123, time spent = 644.768µs, remote = 10.201.5.82:52522, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
