Jul 21 14:08:12 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 21 14:08:12 ubuntu etcd[79230]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 21 14:08:12 ubuntu etcd[79230]:         A future release of golang/protobuf will delete this package,
Jul 21 14:08:12 ubuntu etcd[79230]:         which has long been excluded from the compatibility promise.
Jul 21 14:08:12 ubuntu etcd[79230]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 21 14:08:12 ubuntu etcd[79230]: Running http and grpc server on single port. This is not recommended for production.
Jul 21 14:08:12 ubuntu etcd[79230]: etcd Version: 3.4.27
Jul 21 14:08:12 ubuntu etcd[79230]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 21 14:08:12 ubuntu etcd[79230]: Git SHA: c92fb80f3
Jul 21 14:08:12 ubuntu etcd[79230]: Go Version: go1.19.10
Jul 21 14:08:12 ubuntu etcd[79230]: Go OS/Arch: linux/amd64
Jul 21 14:08:12 ubuntu etcd[79230]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 21 14:08:12 ubuntu etcd[79230]: Running http and grpc server on single port. This is not recommended for production.
Jul 21 14:08:12 ubuntu etcd[79230]: name = ubuntu
Jul 21 14:08:12 ubuntu etcd[79230]: data dir = /opt/stack/data/etcd
Jul 21 14:08:12 ubuntu etcd[79230]: member dir = /opt/stack/data/etcd/member
Jul 21 14:08:12 ubuntu etcd[79230]: heartbeat = 100ms
Jul 21 14:08:12 ubuntu etcd[79230]: election = 1000ms
Jul 21 14:08:12 ubuntu etcd[79230]: snapshot count = 100000
Jul 21 14:08:12 ubuntu etcd[79230]: advertise client URLs = http://10.201.5.82:2379
Jul 21 14:08:12 ubuntu etcd[79230]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 21 14:08:12 ubuntu etcd[79230]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jul 21 14:08:12 ubuntu etcd[79230]: raft2025/07/21 14:08:12 INFO: 43038365673ccf7b switched to configuration voters=()
Jul 21 14:08:12 ubuntu etcd[79230]: raft2025/07/21 14:08:12 INFO: 43038365673ccf7b became follower at term 0
Jul 21 14:08:12 ubuntu etcd[79230]: raft2025/07/21 14:08:12 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 21 14:08:12 ubuntu etcd[79230]: raft2025/07/21 14:08:12 INFO: 43038365673ccf7b became follower at term 1
Jul 21 14:08:12 ubuntu etcd[79230]: raft2025/07/21 14:08:12 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 21 14:08:12 ubuntu etcd[79230]: simple token is not cryptographically signed
Jul 21 14:08:12 ubuntu etcd[79230]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 21 14:08:12 ubuntu etcd[79230]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 21 14:08:12 ubuntu etcd[79230]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 21 14:08:12 ubuntu etcd[79230]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 21 14:08:12 ubuntu etcd[79230]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 21 14:08:12 ubuntu etcd[79230]: raft2025/07/21 14:08:12 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 21 14:08:12 ubuntu etcd[79230]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jul 21 14:08:12 ubuntu etcd[79230]: listening for peers on [::]:2380
Jul 21 14:08:12 ubuntu etcd[79230]: raft2025/07/21 14:08:12 INFO: 43038365673ccf7b is starting a new election at term 1
Jul 21 14:08:12 ubuntu etcd[79230]: raft2025/07/21 14:08:12 INFO: 43038365673ccf7b became candidate at term 2
Jul 21 14:08:12 ubuntu etcd[79230]: raft2025/07/21 14:08:12 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jul 21 14:08:12 ubuntu etcd[79230]: raft2025/07/21 14:08:12 INFO: 43038365673ccf7b became leader at term 2
Jul 21 14:08:12 ubuntu etcd[79230]: raft2025/07/21 14:08:12 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jul 21 14:08:12 ubuntu etcd[79230]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jul 21 14:08:12 ubuntu etcd[79230]: setting up the initial cluster version to 3.4
Jul 21 14:08:12 ubuntu etcd[79230]: ready to serve client requests
Jul 21 14:08:12 ubuntu etcd[79230]: set the initial cluster version to 3.4
Jul 21 14:08:12 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 21 14:08:12 ubuntu etcd[79230]: enabled capabilities for version 3.4
Jul 21 14:08:12 ubuntu etcd[79230]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jul 21 14:12:51 ubuntu etcd[79230]: start time = 2025-07-21 14:12:51.742722528 +0000 UTC m=+279.733680781, time spent = 689.587µs, remote = 10.201.5.82:46152, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 21 14:12:51 ubuntu etcd[79230]: start time = 2025-07-21 14:12:51.772502036 +0000 UTC m=+279.763460300, time spent = 327.468µs, remote = 10.201.5.82:46152, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 21 14:12:58 ubuntu etcd[79230]: start time = 2025-07-21 14:12:58.984295056 +0000 UTC m=+286.975253317, time spent = 202.272µs, remote = 10.201.5.82:46152, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 21 14:13:00 ubuntu etcd[79230]: start time = 2025-07-21 14:13:00.83631177 +0000 UTC m=+288.827270033, time spent = 206.421µs, remote = 10.201.5.82:46152, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 21 14:16:12 ubuntu etcd[79230]: start time = 2025-07-21 14:16:12.92841098 +0000 UTC m=+480.919369237, time spent = 377.886µs, remote = 10.201.5.82:46152, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 21 14:16:12 ubuntu etcd[79230]: start time = 2025-07-21 14:16:12.933420879 +0000 UTC m=+480.924379142, time spent = 133.386µs, remote = 10.201.5.82:46152, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 21 14:16:13 ubuntu etcd[79230]: start time = 2025-07-21 14:16:13.550608769 +0000 UTC m=+481.541567031, time spent = 203.97µs, remote = 10.201.5.82:46152, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 21 14:16:15 ubuntu etcd[79230]: start time = 2025-07-21 14:16:15.785265904 +0000 UTC m=+483.776224166, time spent = 189.844µs, remote = 10.201.5.82:46152, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 21 14:17:47 ubuntu etcd[79230]: start time = 2025-07-21 14:17:47.624240236 +0000 UTC m=+575.615198531, time spent = 333.542µs, remote = 10.201.5.82:46152, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 21 14:17:47 ubuntu etcd[79230]: start time = 2025-07-21 14:17:47.636373319 +0000 UTC m=+575.627331588, time spent = 3.743847ms, remote = 10.201.5.82:46152, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 102, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-ad7f00ff-0658-477a-bb91-fc4d7b839620-delete_snapshot" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-ad7f00ff-0658-477a-bb91-fc4d7b839620-delete_snapshot" value_size:16 lease:5727338671519374617 >> failure:<request_range:<key:"/tooz/lockscinder-ad7f00ff-0658-477a-bb91-fc4d7b839620-delete_snapshot" > >
Jul 21 14:17:48 ubuntu etcd[79230]: start time = 2025-07-21 14:17:48.471503273 +0000 UTC m=+576.462461639, time spent = 570.611µs, remote = 10.201.5.82:46152, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 74, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-ad7f00ff-0658-477a-bb91-fc4d7b839620-delete_snapshot" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-ad7f00ff-0658-477a-bb91-fc4d7b839620-delete_snapshot" > > failure:<>
Jul 21 14:17:48 ubuntu etcd[79230]: start time = 2025-07-21 14:17:48.777500205 +0000 UTC m=+576.768458466, time spent = 612.098µs, remote = 10.201.5.82:46152, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 21 14:17:48 ubuntu etcd[79230]: start time = 2025-07-21 14:17:48.781810597 +0000 UTC m=+576.772768880, time spent = 235.549µs, remote = 10.201.5.82:46152, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 100, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-be4d72ec-42d5-48dd-b8a2-86995e99f2b9-delete_volume" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-be4d72ec-42d5-48dd-b8a2-86995e99f2b9-delete_volume" value_size:16 lease:5727338671519374621 >> failure:<request_range:<key:"/tooz/lockscinder-be4d72ec-42d5-48dd-b8a2-86995e99f2b9-delete_volume" > >
Jul 21 14:17:59 ubuntu etcd[79230]: start time = 2025-07-21 14:17:59.59132308 +0000 UTC m=+587.582281339, time spent = 242.044µs, remote = 10.201.5.82:46152, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 72, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-be4d72ec-42d5-48dd-b8a2-86995e99f2b9-delete_volume" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-be4d72ec-42d5-48dd-b8a2-86995e99f2b9-delete_volume" > > failure:<>
Jul 21 14:18:03 ubuntu etcd[79230]: start time = 2025-07-21 14:18:03.207521724 +0000 UTC m=+591.198479972, time spent = 265.588µs, remote = 10.201.5.82:46152, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 21 14:18:03 ubuntu etcd[79230]: start time = 2025-07-21 14:18:03.210446711 +0000 UTC m=+591.201405031, time spent = 304.816µs, remote = 10.201.5.82:46152, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 100, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-f642c681-3ce6-40fd-a7a3-2b383203757f-delete_volume" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-f642c681-3ce6-40fd-a7a3-2b383203757f-delete_volume" value_size:16 lease:5727338671519374625 >> failure:<request_range:<key:"/tooz/lockscinder-f642c681-3ce6-40fd-a7a3-2b383203757f-delete_volume" > >
Jul 21 14:18:14 ubuntu etcd[79230]: start time = 2025-07-21 14:18:14.095299763 +0000 UTC m=+602.086258057, time spent = 412.192µs, remote = 10.201.5.82:46152, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 72, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-f642c681-3ce6-40fd-a7a3-2b383203757f-delete_volume" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-f642c681-3ce6-40fd-a7a3-2b383203757f-delete_volume" > > failure:<>
Jul 21 14:18:21 ubuntu etcd[79230]: start time = 2025-07-21 14:18:21.118691228 +0000 UTC m=+609.109649574, time spent = 1.038402ms, remote = 10.201.5.82:46152, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 21 14:18:21 ubuntu etcd[79230]: start time = 2025-07-21 14:18:21.122654262 +0000 UTC m=+609.113612603, time spent = 323.273µs, remote = 10.201.5.82:46152, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 100, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-c01fc014-00cd-479c-8757-24f65860fa42-delete_volume" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-c01fc014-00cd-479c-8757-24f65860fa42-delete_volume" value_size:16 lease:5727338671519374630 >> failure:<request_range:<key:"/tooz/lockscinder-c01fc014-00cd-479c-8757-24f65860fa42-delete_volume" > >
Jul 21 14:18:31 ubuntu etcd[79230]: start time = 2025-07-21 14:18:31.98416112 +0000 UTC m=+619.975119483, time spent = 530.682µs, remote = 10.201.5.82:46152, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 72, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-c01fc014-00cd-479c-8757-24f65860fa42-delete_volume" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-c01fc014-00cd-479c-8757-24f65860fa42-delete_volume" > > failure:<>
Jul 21 14:18:32 ubuntu etcd[79230]: start time = 2025-07-21 14:18:32.766120279 +0000 UTC m=+620.757078631, time spent = 524.28µs, remote = 10.201.5.82:46152, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 21 14:18:32 ubuntu etcd[79230]: start time = 2025-07-21 14:18:32.769885956 +0000 UTC m=+620.760844314, time spent = 461.641µs, remote = 10.201.5.82:46152, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 100, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-833de6f3-9e8d-4669-be96-cc3a7da07ca0-delete_volume" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-833de6f3-9e8d-4669-be96-cc3a7da07ca0-delete_volume" value_size:16 lease:5727338671519374635 >> failure:<request_range:<key:"/tooz/lockscinder-833de6f3-9e8d-4669-be96-cc3a7da07ca0-delete_volume" > >
Jul 21 14:18:43 ubuntu etcd[79230]: start time = 2025-07-21 14:18:43.664706526 +0000 UTC m=+631.655664798, time spent = 447.047µs, remote = 10.201.5.82:46152, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 72, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-833de6f3-9e8d-4669-be96-cc3a7da07ca0-delete_volume" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-833de6f3-9e8d-4669-be96-cc3a7da07ca0-delete_volume" > > failure:<>
Jul 21 14:18:49 ubuntu etcd[79230]: start time = 2025-07-21 14:18:49.087370107 +0000 UTC m=+637.078328454, time spent = 460.947µs, remote = 10.201.5.82:46152, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 21 14:18:49 ubuntu etcd[79230]: start time = 2025-07-21 14:18:49.089643795 +0000 UTC m=+637.080602160, time spent = 359.032µs, remote = 10.201.5.82:46152, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-c70b5158-8f63-43b7-8178-6e790fe77be9" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-c70b5158-8f63-43b7-8178-6e790fe77be9" value_size:16 lease:5727338671519374640 >> failure:<request_range:<key:"/tooz/lockscinder-c70b5158-8f63-43b7-8178-6e790fe77be9" > >
Jul 21 14:19:04 ubuntu etcd[79230]: start time = 2025-07-21 14:19:04.845532217 +0000 UTC m=+652.836490466, time spent = 381.906µs, remote = 10.201.5.82:46152, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-c70b5158-8f63-43b7-8178-6e790fe77be9" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-c70b5158-8f63-43b7-8178-6e790fe77be9" > > failure:<>
Jul 21 14:19:13 ubuntu etcd[79230]: start time = 2025-07-21 14:19:13.00779051 +0000 UTC m=+660.998748819, time spent = 531.76µs, remote = 10.201.5.82:46152, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 21 14:19:13 ubuntu etcd[79230]: start time = 2025-07-21 14:19:13.011129886 +0000 UTC m=+661.002088227, time spent = 310.892µs, remote = 10.201.5.82:46152, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 111, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-attachment_update-c38e0ab5-ab0b-42af-b715-486c2755d504-ubuntu" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-attachment_update-c38e0ab5-ab0b-42af-b715-486c2755d504-ubuntu" value_size:16 lease:5727338671519374645 >> failure:<request_range:<key:"/tooz/lockscinder-attachment_update-c38e0ab5-ab0b-42af-b715-486c2755d504-ubuntu" > >
Jul 21 14:19:14 ubuntu etcd[79230]: start time = 2025-07-21 14:19:14.062652496 +0000 UTC m=+662.053610758, time spent = 296.444µs, remote = 10.201.5.82:46152, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 83, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-attachment_update-c38e0ab5-ab0b-42af-b715-486c2755d504-ubuntu" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-attachment_update-c38e0ab5-ab0b-42af-b715-486c2755d504-ubuntu" > > failure:<>
Jul 21 14:19:26 ubuntu etcd[79230]: start time = 2025-07-21 14:19:26.164165313 +0000 UTC m=+674.155123619, time spent = 421.461µs, remote = 10.201.5.82:46152, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 21 14:19:26 ubuntu etcd[79230]: start time = 2025-07-21 14:19:26.167548841 +0000 UTC m=+674.158507089, time spent = 164.059µs, remote = 10.201.5.82:46152, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 102, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-0c378630-b5e3-4bd3-bdca-a17ed9af1976-delete_snapshot" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-0c378630-b5e3-4bd3-bdca-a17ed9af1976-delete_snapshot" value_size:16 lease:5727338671519374650 >> failure:<request_range:<key:"/tooz/lockscinder-0c378630-b5e3-4bd3-bdca-a17ed9af1976-delete_snapshot" > >
Jul 21 14:19:26 ubuntu etcd[79230]: start time = 2025-07-21 14:19:26.96163234 +0000 UTC m=+674.952590598, time spent = 286.721µs, remote = 10.201.5.82:46152, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 74, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-0c378630-b5e3-4bd3-bdca-a17ed9af1976-delete_snapshot" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-0c378630-b5e3-4bd3-bdca-a17ed9af1976-delete_snapshot" > > failure:<>
Jul 21 14:19:38 ubuntu etcd[79230]: start time = 2025-07-21 14:19:38.239216382 +0000 UTC m=+686.230174653, time spent = 1.708198ms, remote = 10.201.5.82:46152, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 21 14:19:38 ubuntu etcd[79230]: start time = 2025-07-21 14:19:38.245499889 +0000 UTC m=+686.236458252, time spent = 415.749µs, remote = 10.201.5.82:46152, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 100, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-c38e0ab5-ab0b-42af-b715-486c2755d504-delete_volume" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-c38e0ab5-ab0b-42af-b715-486c2755d504-delete_volume" value_size:16 lease:5727338671519374655 >> failure:<request_range:<key:"/tooz/lockscinder-c38e0ab5-ab0b-42af-b715-486c2755d504-delete_volume" > >
Jul 21 14:19:59 ubuntu etcd[79230]: start time = 2025-07-21 14:19:59.228583158 +0000 UTC m=+707.219541408, time spent = 283.174µs, remote = 10.201.5.82:46152, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 72, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-c38e0ab5-ab0b-42af-b715-486c2755d504-delete_volume" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-c38e0ab5-ab0b-42af-b715-486c2755d504-delete_volume" > > failure:<>
