Jun 03 23:27:51 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 03 23:27:51 ubuntu etcd[79617]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 03 23:27:51 ubuntu etcd[79617]:         A future release of golang/protobuf will delete this package,
Jun 03 23:27:51 ubuntu etcd[79617]:         which has long been excluded from the compatibility promise.
Jun 03 23:27:51 ubuntu etcd[79617]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 03 23:27:51 ubuntu etcd[79617]: Running http and grpc server on single port. This is not recommended for production.
Jun 03 23:27:51 ubuntu etcd[79617]: etcd Version: 3.4.27
Jun 03 23:27:51 ubuntu etcd[79617]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 03 23:27:51 ubuntu etcd[79617]: Git SHA: c92fb80f3
Jun 03 23:27:51 ubuntu etcd[79617]: Go Version: go1.19.10
Jun 03 23:27:51 ubuntu etcd[79617]: Go OS/Arch: linux/amd64
Jun 03 23:27:51 ubuntu etcd[79617]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 03 23:27:51 ubuntu etcd[79617]: Running http and grpc server on single port. This is not recommended for production.
Jun 03 23:27:51 ubuntu etcd[79617]: name = ubuntu
Jun 03 23:27:51 ubuntu etcd[79617]: data dir = /opt/stack/data/etcd
Jun 03 23:27:51 ubuntu etcd[79617]: member dir = /opt/stack/data/etcd/member
Jun 03 23:27:51 ubuntu etcd[79617]: heartbeat = 100ms
Jun 03 23:27:51 ubuntu etcd[79617]: election = 1000ms
Jun 03 23:27:51 ubuntu etcd[79617]: snapshot count = 100000
Jun 03 23:27:51 ubuntu etcd[79617]: advertise client URLs = http://10.201.5.82:2379
Jun 03 23:27:51 ubuntu etcd[79617]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 03 23:27:52 ubuntu etcd[79617]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jun 03 23:27:52 ubuntu etcd[79617]: raft2025/06/03 23:27:52 INFO: 43038365673ccf7b switched to configuration voters=()
Jun 03 23:27:52 ubuntu etcd[79617]: raft2025/06/03 23:27:52 INFO: 43038365673ccf7b became follower at term 0
Jun 03 23:27:52 ubuntu etcd[79617]: raft2025/06/03 23:27:52 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 03 23:27:52 ubuntu etcd[79617]: raft2025/06/03 23:27:52 INFO: 43038365673ccf7b became follower at term 1
Jun 03 23:27:52 ubuntu etcd[79617]: raft2025/06/03 23:27:52 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 03 23:27:52 ubuntu etcd[79617]: simple token is not cryptographically signed
Jun 03 23:27:52 ubuntu etcd[79617]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 03 23:27:52 ubuntu etcd[79617]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 03 23:27:52 ubuntu etcd[79617]: raft2025/06/03 23:27:52 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 03 23:27:52 ubuntu etcd[79617]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jun 03 23:27:52 ubuntu etcd[79617]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 03 23:27:52 ubuntu etcd[79617]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 03 23:27:52 ubuntu etcd[79617]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 03 23:27:52 ubuntu etcd[79617]: listening for peers on [::]:2380
Jun 03 23:27:53 ubuntu etcd[79617]: raft2025/06/03 23:27:53 INFO: 43038365673ccf7b is starting a new election at term 1
Jun 03 23:27:53 ubuntu etcd[79617]: raft2025/06/03 23:27:53 INFO: 43038365673ccf7b became candidate at term 2
Jun 03 23:27:53 ubuntu etcd[79617]: raft2025/06/03 23:27:53 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jun 03 23:27:53 ubuntu etcd[79617]: raft2025/06/03 23:27:53 INFO: 43038365673ccf7b became leader at term 2
Jun 03 23:27:53 ubuntu etcd[79617]: raft2025/06/03 23:27:53 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jun 03 23:27:53 ubuntu etcd[79617]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jun 03 23:27:53 ubuntu etcd[79617]: ready to serve client requests
Jun 03 23:27:53 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 03 23:27:53 ubuntu etcd[79617]: setting up the initial cluster version to 3.4
Jun 03 23:27:53 ubuntu etcd[79617]: set the initial cluster version to 3.4
Jun 03 23:27:53 ubuntu etcd[79617]: enabled capabilities for version 3.4
Jun 03 23:27:53 ubuntu etcd[79617]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jun 03 23:32:40 ubuntu etcd[79617]: start time = 2025-06-03 23:32:40.309595556 +0000 UTC m=+288.336927956, time spent = 2.273043ms, remote = 10.201.5.82:50858, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 03 23:32:40 ubuntu etcd[79617]: start time = 2025-06-03 23:32:40.369616418 +0000 UTC m=+288.396948832, time spent = 256.785µs, remote = 10.201.5.82:50858, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 03 23:32:47 ubuntu etcd[79617]: start time = 2025-06-03 23:32:47.228512201 +0000 UTC m=+295.255844617, time spent = 191.361µs, remote = 10.201.5.82:50858, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 03 23:32:49 ubuntu etcd[79617]: start time = 2025-06-03 23:32:49.276927157 +0000 UTC m=+297.304259576, time spent = 1.422124ms, remote = 10.201.5.82:50858, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 03 23:36:51 ubuntu etcd[79617]: start time = 2025-06-03 23:36:51.099242597 +0000 UTC m=+539.126575007, time spent = 395.388µs, remote = 10.201.5.82:50858, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 03 23:36:51 ubuntu etcd[79617]: start time = 2025-06-03 23:36:51.122953762 +0000 UTC m=+539.150286174, time spent = 276.484µs, remote = 10.201.5.82:50858, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 03 23:36:54 ubuntu etcd[79617]: start time = 2025-06-03 23:36:54.275252713 +0000 UTC m=+542.302585124, time spent = 200.768µs, remote = 10.201.5.82:50858, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 03 23:36:55 ubuntu etcd[79617]: start time = 2025-06-03 23:36:55.583817943 +0000 UTC m=+543.611150359, time spent = 3.740626ms, remote = 10.201.5.82:50858, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 03 23:38:42 ubuntu etcd[79617]: start time = 2025-06-03 23:38:42.623746591 +0000 UTC m=+650.651079089, time spent = 625.64µs, remote = 10.201.5.82:50858, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 03 23:38:42 ubuntu etcd[79617]: start time = 2025-06-03 23:38:42.635532967 +0000 UTC m=+650.662865375, time spent = 1.135104ms, remote = 10.201.5.82:50858, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-f04470a1-f5fe-46fc-b417-3f3144634d4c" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-f04470a1-f5fe-46fc-b417-3f3144634d4c" value_size:16 lease:5727337618432645913 >> failure:<request_range:<key:"/tooz/lockscinder-f04470a1-f5fe-46fc-b417-3f3144634d4c" > >
Jun 03 23:38:45 ubuntu etcd[79617]: start time = 2025-06-03 23:38:45.57988914 +0000 UTC m=+653.607221655, time spent = 688.852µs, remote = 10.201.5.82:50858, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-f04470a1-f5fe-46fc-b417-3f3144634d4c" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-f04470a1-f5fe-46fc-b417-3f3144634d4c" > > failure:<>
Jun 03 23:38:45 ubuntu etcd[79617]: start time = 2025-06-03 23:38:45.861470627 +0000 UTC m=+653.888803054, time spent = 361.591µs, remote = 10.201.5.82:50858, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 03 23:38:45 ubuntu etcd[79617]: start time = 2025-06-03 23:38:45.863717255 +0000 UTC m=+653.891049672, time spent = 215.455µs, remote = 10.201.5.82:50858, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-f04470a1-f5fe-46fc-b417-3f3144634d4c" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-f04470a1-f5fe-46fc-b417-3f3144634d4c" value_size:16 lease:5727337618432645917 >> failure:<request_range:<key:"/tooz/lockscinder-f04470a1-f5fe-46fc-b417-3f3144634d4c" > >
Jun 03 23:38:47 ubuntu etcd[79617]: start time = 2025-06-03 23:38:47.710718345 +0000 UTC m=+655.738050764, time spent = 336.517µs, remote = 10.201.5.82:50858, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-f04470a1-f5fe-46fc-b417-3f3144634d4c" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-f04470a1-f5fe-46fc-b417-3f3144634d4c" > > failure:<>
Jun 03 23:38:47 ubuntu etcd[79617]: start time = 2025-06-03 23:38:47.935166639 +0000 UTC m=+655.962499085, time spent = 320.159µs, remote = 10.201.5.82:50858, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 03 23:38:47 ubuntu etcd[79617]: start time = 2025-06-03 23:38:47.93746555 +0000 UTC m=+655.964798061, time spent = 345.193µs, remote = 10.201.5.82:50858, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-f04470a1-f5fe-46fc-b417-3f3144634d4c" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-f04470a1-f5fe-46fc-b417-3f3144634d4c" value_size:16 lease:5727337618432645921 >> failure:<request_range:<key:"/tooz/lockscinder-f04470a1-f5fe-46fc-b417-3f3144634d4c" > >
Jun 03 23:38:49 ubuntu etcd[79617]: start time = 2025-06-03 23:38:49.75865373 +0000 UTC m=+657.785986151, time spent = 357.529µs, remote = 10.201.5.82:50858, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-f04470a1-f5fe-46fc-b417-3f3144634d4c" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-f04470a1-f5fe-46fc-b417-3f3144634d4c" > > failure:<>
