Aug 09 00:10:57 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Aug 09 00:10:57 ubuntu etcd[67766]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Aug 09 00:10:57 ubuntu etcd[67766]:         A future release of golang/protobuf will delete this package,
Aug 09 00:10:57 ubuntu etcd[67766]:         which has long been excluded from the compatibility promise.
Aug 09 00:10:57 ubuntu etcd[67766]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Aug 09 00:10:57 ubuntu etcd[67766]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Aug 09 00:10:57 ubuntu etcd[67766]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 09 00:10:57 ubuntu etcd[67766]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Aug 09 00:10:57 ubuntu etcd[67766]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Aug 09 00:10:57 ubuntu etcd[67766]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 09 00:10:57 ubuntu etcd[67766]: Running http and grpc server on single port. This is not recommended for production.
Aug 09 00:10:57 ubuntu etcd[67766]: etcd Version: 3.4.27
Aug 09 00:10:57 ubuntu etcd[67766]: Git SHA: c92fb80f3
Aug 09 00:10:57 ubuntu etcd[67766]: Go Version: go1.19.10
Aug 09 00:10:57 ubuntu etcd[67766]: Go OS/Arch: linux/amd64
Aug 09 00:10:57 ubuntu etcd[67766]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Aug 09 00:10:57 ubuntu etcd[67766]: Running http and grpc server on single port. This is not recommended for production.
Aug 09 00:10:57 ubuntu etcd[67766]: name = ubuntu
Aug 09 00:10:57 ubuntu etcd[67766]: data dir = /opt/stack/data/etcd
Aug 09 00:10:57 ubuntu etcd[67766]: member dir = /opt/stack/data/etcd/member
Aug 09 00:10:57 ubuntu etcd[67766]: heartbeat = 100ms
Aug 09 00:10:57 ubuntu etcd[67766]: election = 1000ms
Aug 09 00:10:57 ubuntu etcd[67766]: snapshot count = 100000
Aug 09 00:10:57 ubuntu etcd[67766]: advertise client URLs = http://10.201.5.82:2379
Aug 09 00:10:57 ubuntu etcd[67766]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Aug 09 00:10:57 ubuntu etcd[67766]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Aug 09 00:10:57 ubuntu etcd[67766]: raft2024/08/09 00:10:57 INFO: 43038365673ccf7b switched to configuration voters=()
Aug 09 00:10:57 ubuntu etcd[67766]: raft2024/08/09 00:10:57 INFO: 43038365673ccf7b became follower at term 0
Aug 09 00:10:57 ubuntu etcd[67766]: raft2024/08/09 00:10:57 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Aug 09 00:10:57 ubuntu etcd[67766]: raft2024/08/09 00:10:57 INFO: 43038365673ccf7b became follower at term 1
Aug 09 00:10:57 ubuntu etcd[67766]: raft2024/08/09 00:10:57 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Aug 09 00:10:57 ubuntu etcd[67766]: simple token is not cryptographically signed
Aug 09 00:10:57 ubuntu etcd[67766]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Aug 09 00:10:57 ubuntu etcd[67766]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Aug 09 00:10:57 ubuntu etcd[67766]: raft2024/08/09 00:10:57 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Aug 09 00:10:57 ubuntu etcd[67766]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Aug 09 00:10:57 ubuntu etcd[67766]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Aug 09 00:10:57 ubuntu etcd[67766]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Aug 09 00:10:57 ubuntu etcd[67766]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Aug 09 00:10:57 ubuntu etcd[67766]: listening for peers on [::]:2380
Aug 09 00:10:57 ubuntu etcd[67766]: raft2024/08/09 00:10:57 INFO: 43038365673ccf7b is starting a new election at term 1
Aug 09 00:10:57 ubuntu etcd[67766]: raft2024/08/09 00:10:57 INFO: 43038365673ccf7b became candidate at term 2
Aug 09 00:10:57 ubuntu etcd[67766]: raft2024/08/09 00:10:57 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Aug 09 00:10:57 ubuntu etcd[67766]: raft2024/08/09 00:10:57 INFO: 43038365673ccf7b became leader at term 2
Aug 09 00:10:57 ubuntu etcd[67766]: raft2024/08/09 00:10:57 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Aug 09 00:10:57 ubuntu etcd[67766]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Aug 09 00:10:57 ubuntu etcd[67766]: setting up the initial cluster version to 3.4
Aug 09 00:10:57 ubuntu etcd[67766]: ready to serve client requests
Aug 09 00:10:57 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Aug 09 00:10:57 ubuntu etcd[67766]: INFO: 2024/08/09 00:10:57 parsed scheme: ""
Aug 09 00:10:57 ubuntu etcd[67766]: INFO: 2024/08/09 00:10:57 scheme "" not registered, fallback to default scheme
Aug 09 00:10:57 ubuntu etcd[67766]: INFO: 2024/08/09 00:10:57 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Aug 09 00:10:57 ubuntu etcd[67766]: INFO: 2024/08/09 00:10:57 ClientConn switching balancer to "pick_first"
Aug 09 00:10:57 ubuntu etcd[67766]: set the initial cluster version to 3.4
Aug 09 00:10:57 ubuntu etcd[67766]: enabled capabilities for version 3.4
Aug 09 00:10:57 ubuntu etcd[67766]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Aug 09 00:16:08 ubuntu etcd[67766]: start time = 2024-08-09 00:16:08.626299464 +0000 UTC m=+311.380945571, time spent = 1.742493ms, remote = 10.201.5.82:39140, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 09 00:16:08 ubuntu etcd[67766]: start time = 2024-08-09 00:16:08.626301202 +0000 UTC m=+311.380947318, time spent = 2.583483ms, remote = 10.201.5.82:39140, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 09 00:16:15 ubuntu etcd[67766]: start time = 2024-08-09 00:16:15.390269639 +0000 UTC m=+318.144915743, time spent = 264.497µs, remote = 10.201.5.82:39140, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 09 00:16:17 ubuntu etcd[67766]: start time = 2024-08-09 00:16:17.409527577 +0000 UTC m=+320.164173693, time spent = 312.246µs, remote = 10.201.5.82:39140, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 09 00:19:07 ubuntu etcd[67766]: start time = 2024-08-09 00:19:07.609690612 +0000 UTC m=+490.364336717, time spent = 410.374µs, remote = 10.201.5.82:39140, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 09 00:19:07 ubuntu etcd[67766]: start time = 2024-08-09 00:19:07.850299671 +0000 UTC m=+490.604945789, time spent = 228.312µs, remote = 10.201.5.82:39140, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 09 00:19:07 ubuntu etcd[67766]: start time = 2024-08-09 00:19:07.929314604 +0000 UTC m=+490.683960710, time spent = 248.953µs, remote = 10.201.5.82:39140, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 09 00:19:08 ubuntu etcd[67766]: start time = 2024-08-09 00:19:08.02342297 +0000 UTC m=+490.778069077, time spent = 223.085µs, remote = 10.201.5.82:39140, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
