May 13 14:43:04 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 13 14:43:04 ubuntu etcd[79452]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 13 14:43:04 ubuntu etcd[79452]:         A future release of golang/protobuf will delete this package,
May 13 14:43:04 ubuntu etcd[79452]:         which has long been excluded from the compatibility promise.
May 13 14:43:04 ubuntu etcd[79452]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 13 14:43:04 ubuntu etcd[79452]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 13 14:43:04 ubuntu etcd[79452]: Running http and grpc server on single port. This is not recommended for production.
May 13 14:43:04 ubuntu etcd[79452]: etcd Version: 3.4.27
May 13 14:43:04 ubuntu etcd[79452]: Git SHA: c92fb80f3
May 13 14:43:04 ubuntu etcd[79452]: Go Version: go1.19.10
May 13 14:43:04 ubuntu etcd[79452]: Go OS/Arch: linux/amd64
May 13 14:43:04 ubuntu etcd[79452]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 13 14:43:04 ubuntu etcd[79452]: Running http and grpc server on single port. This is not recommended for production.
May 13 14:43:04 ubuntu etcd[79452]: name = ubuntu
May 13 14:43:04 ubuntu etcd[79452]: data dir = /opt/stack/data/etcd
May 13 14:43:04 ubuntu etcd[79452]: member dir = /opt/stack/data/etcd/member
May 13 14:43:04 ubuntu etcd[79452]: heartbeat = 100ms
May 13 14:43:04 ubuntu etcd[79452]: election = 1000ms
May 13 14:43:04 ubuntu etcd[79452]: snapshot count = 100000
May 13 14:43:04 ubuntu etcd[79452]: advertise client URLs = http://10.201.5.82:2379
May 13 14:43:04 ubuntu etcd[79452]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 13 14:43:04 ubuntu etcd[79452]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
May 13 14:43:04 ubuntu etcd[79452]: raft2025/05/13 14:43:04 INFO: 43038365673ccf7b switched to configuration voters=()
May 13 14:43:04 ubuntu etcd[79452]: raft2025/05/13 14:43:04 INFO: 43038365673ccf7b became follower at term 0
May 13 14:43:04 ubuntu etcd[79452]: raft2025/05/13 14:43:04 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 13 14:43:04 ubuntu etcd[79452]: raft2025/05/13 14:43:04 INFO: 43038365673ccf7b became follower at term 1
May 13 14:43:04 ubuntu etcd[79452]: raft2025/05/13 14:43:04 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
May 13 14:43:04 ubuntu etcd[79452]: simple token is not cryptographically signed
May 13 14:43:04 ubuntu etcd[79452]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 13 14:43:04 ubuntu etcd[79452]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
May 13 14:43:04 ubuntu etcd[79452]: raft2025/05/13 14:43:04 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
May 13 14:43:04 ubuntu etcd[79452]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
May 13 14:43:04 ubuntu etcd[79452]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 13 14:43:04 ubuntu etcd[79452]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 13 14:43:04 ubuntu etcd[79452]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 13 14:43:04 ubuntu etcd[79452]: listening for peers on [::]:2380
May 13 14:43:05 ubuntu etcd[79452]: raft2025/05/13 14:43:05 INFO: 43038365673ccf7b is starting a new election at term 1
May 13 14:43:05 ubuntu etcd[79452]: raft2025/05/13 14:43:05 INFO: 43038365673ccf7b became candidate at term 2
May 13 14:43:05 ubuntu etcd[79452]: raft2025/05/13 14:43:05 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
May 13 14:43:05 ubuntu etcd[79452]: raft2025/05/13 14:43:05 INFO: 43038365673ccf7b became leader at term 2
May 13 14:43:05 ubuntu etcd[79452]: raft2025/05/13 14:43:05 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
May 13 14:43:05 ubuntu etcd[79452]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
May 13 14:43:05 ubuntu etcd[79452]: ready to serve client requests
May 13 14:43:05 ubuntu etcd[79452]: setting up the initial cluster version to 3.4
May 13 14:43:05 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 13 14:43:05 ubuntu etcd[79452]: set the initial cluster version to 3.4
May 13 14:43:05 ubuntu etcd[79452]: enabled capabilities for version 3.4
May 13 14:43:05 ubuntu etcd[79452]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
May 13 14:47:48 ubuntu etcd[79452]: start time = 2025-05-13 14:47:48.19398714 +0000 UTC m=+283.766930256, time spent = 1.982946ms, remote = 10.201.5.82:41700, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 13 14:47:48 ubuntu etcd[79452]: start time = 2025-05-13 14:47:48.194152368 +0000 UTC m=+283.767095496, time spent = 2.17097ms, remote = 10.201.5.82:41700, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 13 14:47:54 ubuntu etcd[79452]: start time = 2025-05-13 14:47:54.819330015 +0000 UTC m=+290.392273145, time spent = 224.31µs, remote = 10.201.5.82:41700, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 13 14:47:56 ubuntu etcd[79452]: start time = 2025-05-13 14:47:56.935265903 +0000 UTC m=+292.508209027, time spent = 250.695µs, remote = 10.201.5.82:41700, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 13 14:51:19 ubuntu etcd[79452]: start time = 2025-05-13 14:51:19.977455424 +0000 UTC m=+495.550398551, time spent = 5.110319ms, remote = 10.201.5.82:41700, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 13 14:51:20 ubuntu etcd[79452]: start time = 2025-05-13 14:51:20.043880301 +0000 UTC m=+495.616823432, time spent = 180.45µs, remote = 10.201.5.82:41700, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 13 14:51:22 ubuntu etcd[79452]: start time = 2025-05-13 14:51:22.101016943 +0000 UTC m=+497.673960172, time spent = 362.229µs, remote = 10.201.5.82:41700, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 13 14:51:24 ubuntu etcd[79452]: start time = 2025-05-13 14:51:24.419398572 +0000 UTC m=+499.992341700, time spent = 188.871µs, remote = 10.201.5.82:41700, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 13 14:53:14 ubuntu etcd[79452]: start time = 2025-05-13 14:53:14.400339472 +0000 UTC m=+609.973282585, time spent = 429.975µs, remote = 10.201.5.82:41700, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 13 14:53:14 ubuntu etcd[79452]: start time = 2025-05-13 14:53:14.410042032 +0000 UTC m=+609.982985180, time spent = 3.709636ms, remote = 10.201.5.82:41700, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-9bd8b198-4337-4753-af73-95ba8208b4b4" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-9bd8b198-4337-4753-af73-95ba8208b4b4" value_size:16 lease:5727337145885430553 >> failure:<request_range:<key:"/tooz/lockscinder-9bd8b198-4337-4753-af73-95ba8208b4b4" > >
May 13 14:53:16 ubuntu etcd[79452]: start time = 2025-05-13 14:53:16.988857031 +0000 UTC m=+612.561800242, time spent = 802.77µs, remote = 10.201.5.82:41700, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-9bd8b198-4337-4753-af73-95ba8208b4b4" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-9bd8b198-4337-4753-af73-95ba8208b4b4" > > failure:<>
May 13 14:53:17 ubuntu etcd[79452]: start time = 2025-05-13 14:53:17.24881941 +0000 UTC m=+612.821762552, time spent = 365.029µs, remote = 10.201.5.82:41700, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 13 14:53:17 ubuntu etcd[79452]: start time = 2025-05-13 14:53:17.251337946 +0000 UTC m=+612.824281072, time spent = 251.912µs, remote = 10.201.5.82:41700, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-9bd8b198-4337-4753-af73-95ba8208b4b4" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-9bd8b198-4337-4753-af73-95ba8208b4b4" value_size:16 lease:5727337145885430557 >> failure:<request_range:<key:"/tooz/lockscinder-9bd8b198-4337-4753-af73-95ba8208b4b4" > >
May 13 14:53:19 ubuntu etcd[79452]: start time = 2025-05-13 14:53:19.059953966 +0000 UTC m=+614.632897178, time spent = 791.963µs, remote = 10.201.5.82:41700, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-9bd8b198-4337-4753-af73-95ba8208b4b4" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-9bd8b198-4337-4753-af73-95ba8208b4b4" > > failure:<>
May 13 14:53:19 ubuntu etcd[79452]: start time = 2025-05-13 14:53:19.283943829 +0000 UTC m=+614.856887079, time spent = 707.636µs, remote = 10.201.5.82:41700, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 13 14:53:19 ubuntu etcd[79452]: start time = 2025-05-13 14:53:19.286754306 +0000 UTC m=+614.859697435, time spent = 245.644µs, remote = 10.201.5.82:41700, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-9bd8b198-4337-4753-af73-95ba8208b4b4" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-9bd8b198-4337-4753-af73-95ba8208b4b4" value_size:16 lease:5727337145885430561 >> failure:<request_range:<key:"/tooz/lockscinder-9bd8b198-4337-4753-af73-95ba8208b4b4" > >
May 13 14:53:21 ubuntu etcd[79452]: start time = 2025-05-13 14:53:21.074951308 +0000 UTC m=+616.647894456, time spent = 419.759µs, remote = 10.201.5.82:41700, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-9bd8b198-4337-4753-af73-95ba8208b4b4" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-9bd8b198-4337-4753-af73-95ba8208b4b4" > > failure:<>
