Jul 22 07:52:53 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 22 07:52:53 ubuntu etcd[79560]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 22 07:52:53 ubuntu etcd[79560]:         A future release of golang/protobuf will delete this package,
Jul 22 07:52:53 ubuntu etcd[79560]:         which has long been excluded from the compatibility promise.
Jul 22 07:52:53 ubuntu etcd[79560]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 22 07:52:53 ubuntu etcd[79560]: Running http and grpc server on single port. This is not recommended for production.
Jul 22 07:52:53 ubuntu etcd[79560]: etcd Version: 3.4.27
Jul 22 07:52:53 ubuntu etcd[79560]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 22 07:52:53 ubuntu etcd[79560]: Git SHA: c92fb80f3
Jul 22 07:52:53 ubuntu etcd[79560]: Go Version: go1.19.10
Jul 22 07:52:53 ubuntu etcd[79560]: Go OS/Arch: linux/amd64
Jul 22 07:52:53 ubuntu etcd[79560]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 22 07:52:53 ubuntu etcd[79560]: Running http and grpc server on single port. This is not recommended for production.
Jul 22 07:52:53 ubuntu etcd[79560]: name = ubuntu
Jul 22 07:52:53 ubuntu etcd[79560]: data dir = /opt/stack/data/etcd
Jul 22 07:52:53 ubuntu etcd[79560]: member dir = /opt/stack/data/etcd/member
Jul 22 07:52:53 ubuntu etcd[79560]: heartbeat = 100ms
Jul 22 07:52:53 ubuntu etcd[79560]: election = 1000ms
Jul 22 07:52:53 ubuntu etcd[79560]: snapshot count = 100000
Jul 22 07:52:53 ubuntu etcd[79560]: advertise client URLs = http://10.201.5.82:2379
Jul 22 07:52:53 ubuntu etcd[79560]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 22 07:52:53 ubuntu etcd[79560]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jul 22 07:52:53 ubuntu etcd[79560]: raft2025/07/22 07:52:53 INFO: 43038365673ccf7b switched to configuration voters=()
Jul 22 07:52:53 ubuntu etcd[79560]: raft2025/07/22 07:52:53 INFO: 43038365673ccf7b became follower at term 0
Jul 22 07:52:53 ubuntu etcd[79560]: raft2025/07/22 07:52:53 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 22 07:52:53 ubuntu etcd[79560]: raft2025/07/22 07:52:53 INFO: 43038365673ccf7b became follower at term 1
Jul 22 07:52:53 ubuntu etcd[79560]: raft2025/07/22 07:52:53 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 22 07:52:53 ubuntu etcd[79560]: simple token is not cryptographically signed
Jul 22 07:52:53 ubuntu etcd[79560]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 22 07:52:53 ubuntu etcd[79560]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 22 07:52:53 ubuntu etcd[79560]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 22 07:52:53 ubuntu etcd[79560]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 22 07:52:53 ubuntu etcd[79560]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 22 07:52:53 ubuntu etcd[79560]: raft2025/07/22 07:52:53 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 22 07:52:53 ubuntu etcd[79560]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jul 22 07:52:53 ubuntu etcd[79560]: listening for peers on [::]:2380
Jul 22 07:52:53 ubuntu etcd[79560]: raft2025/07/22 07:52:53 INFO: 43038365673ccf7b is starting a new election at term 1
Jul 22 07:52:53 ubuntu etcd[79560]: raft2025/07/22 07:52:53 INFO: 43038365673ccf7b became candidate at term 2
Jul 22 07:52:53 ubuntu etcd[79560]: raft2025/07/22 07:52:53 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jul 22 07:52:53 ubuntu etcd[79560]: raft2025/07/22 07:52:53 INFO: 43038365673ccf7b became leader at term 2
Jul 22 07:52:53 ubuntu etcd[79560]: raft2025/07/22 07:52:53 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jul 22 07:52:53 ubuntu etcd[79560]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jul 22 07:52:53 ubuntu etcd[79560]: setting up the initial cluster version to 3.4
Jul 22 07:52:53 ubuntu etcd[79560]: set the initial cluster version to 3.4
Jul 22 07:52:53 ubuntu etcd[79560]: enabled capabilities for version 3.4
Jul 22 07:52:53 ubuntu etcd[79560]: ready to serve client requests
Jul 22 07:52:53 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 22 07:52:53 ubuntu etcd[79560]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jul 22 07:57:35 ubuntu etcd[79560]: start time = 2025-07-22 07:57:35.081981744 +0000 UTC m=+281.993946823, time spent = 595.699µs, remote = 10.201.5.82:51674, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 22 07:57:35 ubuntu etcd[79560]: start time = 2025-07-22 07:57:35.113807811 +0000 UTC m=+282.025772900, time spent = 281.237µs, remote = 10.201.5.82:51674, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 22 07:57:42 ubuntu etcd[79560]: start time = 2025-07-22 07:57:42.08981917 +0000 UTC m=+289.001784257, time spent = 252.056µs, remote = 10.201.5.82:51674, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 22 07:57:44 ubuntu etcd[79560]: start time = 2025-07-22 07:57:44.197294175 +0000 UTC m=+291.109259262, time spent = 222.772µs, remote = 10.201.5.82:51674, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
