Jul 10 16:46:04 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 10 16:46:04 ubuntu etcd[66976]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 10 16:46:04 ubuntu etcd[66976]:         A future release of golang/protobuf will delete this package,
Jul 10 16:46:04 ubuntu etcd[66976]:         which has long been excluded from the compatibility promise.
Jul 10 16:46:04 ubuntu etcd[66976]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 10 16:46:04 ubuntu etcd[66976]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 10 16:46:04 ubuntu etcd[66976]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 10 16:46:04 ubuntu etcd[66976]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 10 16:46:04 ubuntu etcd[66976]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 10 16:46:04 ubuntu etcd[66976]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 10 16:46:04 ubuntu etcd[66976]: Running http and grpc server on single port. This is not recommended for production.
Jul 10 16:46:04 ubuntu etcd[66976]: etcd Version: 3.4.27
Jul 10 16:46:04 ubuntu etcd[66976]: Git SHA: c92fb80f3
Jul 10 16:46:04 ubuntu etcd[66976]: Go Version: go1.19.10
Jul 10 16:46:04 ubuntu etcd[66976]: Go OS/Arch: linux/amd64
Jul 10 16:46:04 ubuntu etcd[66976]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 10 16:46:04 ubuntu etcd[66976]: Running http and grpc server on single port. This is not recommended for production.
Jul 10 16:46:04 ubuntu etcd[66976]: name = ubuntu
Jul 10 16:46:04 ubuntu etcd[66976]: data dir = /opt/stack/data/etcd
Jul 10 16:46:04 ubuntu etcd[66976]: member dir = /opt/stack/data/etcd/member
Jul 10 16:46:04 ubuntu etcd[66976]: heartbeat = 100ms
Jul 10 16:46:04 ubuntu etcd[66976]: election = 1000ms
Jul 10 16:46:04 ubuntu etcd[66976]: snapshot count = 100000
Jul 10 16:46:04 ubuntu etcd[66976]: advertise client URLs = http://10.201.5.82:2379
Jul 10 16:46:04 ubuntu etcd[66976]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 10 16:46:04 ubuntu etcd[66976]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jul 10 16:46:04 ubuntu etcd[66976]: raft2024/07/10 16:46:04 INFO: 43038365673ccf7b switched to configuration voters=()
Jul 10 16:46:04 ubuntu etcd[66976]: raft2024/07/10 16:46:04 INFO: 43038365673ccf7b became follower at term 0
Jul 10 16:46:04 ubuntu etcd[66976]: raft2024/07/10 16:46:04 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 10 16:46:04 ubuntu etcd[66976]: raft2024/07/10 16:46:04 INFO: 43038365673ccf7b became follower at term 1
Jul 10 16:46:04 ubuntu etcd[66976]: raft2024/07/10 16:46:04 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 10 16:46:04 ubuntu etcd[66976]: simple token is not cryptographically signed
Jul 10 16:46:04 ubuntu etcd[66976]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 10 16:46:04 ubuntu etcd[66976]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 10 16:46:04 ubuntu etcd[66976]: raft2024/07/10 16:46:04 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 10 16:46:04 ubuntu etcd[66976]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jul 10 16:46:04 ubuntu etcd[66976]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 10 16:46:04 ubuntu etcd[66976]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 10 16:46:04 ubuntu etcd[66976]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 10 16:46:04 ubuntu etcd[66976]: listening for peers on [::]:2380
Jul 10 16:46:05 ubuntu etcd[66976]: raft2024/07/10 16:46:05 INFO: 43038365673ccf7b is starting a new election at term 1
Jul 10 16:46:05 ubuntu etcd[66976]: raft2024/07/10 16:46:05 INFO: 43038365673ccf7b became candidate at term 2
Jul 10 16:46:05 ubuntu etcd[66976]: raft2024/07/10 16:46:05 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jul 10 16:46:05 ubuntu etcd[66976]: raft2024/07/10 16:46:05 INFO: 43038365673ccf7b became leader at term 2
Jul 10 16:46:05 ubuntu etcd[66976]: raft2024/07/10 16:46:05 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jul 10 16:46:05 ubuntu etcd[66976]: INFO: 2024/07/10 16:46:05 parsed scheme: ""
Jul 10 16:46:05 ubuntu etcd[66976]: INFO: 2024/07/10 16:46:05 scheme "" not registered, fallback to default scheme
Jul 10 16:46:05 ubuntu etcd[66976]: INFO: 2024/07/10 16:46:05 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Jul 10 16:46:05 ubuntu etcd[66976]: INFO: 2024/07/10 16:46:05 ClientConn switching balancer to "pick_first"
Jul 10 16:46:05 ubuntu etcd[66976]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jul 10 16:46:05 ubuntu etcd[66976]: ready to serve client requests
Jul 10 16:46:05 ubuntu etcd[66976]: setting up the initial cluster version to 3.4
Jul 10 16:46:05 ubuntu etcd[66976]: set the initial cluster version to 3.4
Jul 10 16:46:05 ubuntu etcd[66976]: enabled capabilities for version 3.4
Jul 10 16:46:05 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 10 16:46:05 ubuntu etcd[66976]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jul 10 16:51:43 ubuntu etcd[66976]: start time = 2024-07-10 16:51:43.129919324 +0000 UTC m=+338.299214499, time spent = 1.659165ms, remote = 10.201.5.82:55808, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 10 16:51:43 ubuntu etcd[66976]: start time = 2024-07-10 16:51:43.225031088 +0000 UTC m=+338.394326273, time spent = 248.127µs, remote = 10.201.5.82:55808, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 10 16:51:50 ubuntu etcd[66976]: start time = 2024-07-10 16:51:50.38161994 +0000 UTC m=+345.550915126, time spent = 203.705µs, remote = 10.201.5.82:55808, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 10 16:51:52 ubuntu etcd[66976]: start time = 2024-07-10 16:51:52.347342014 +0000 UTC m=+347.516637201, time spent = 238.847µs, remote = 10.201.5.82:55808, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
