Mar 19 14:35:58 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 19 14:35:58 ubuntu etcd[66032]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 19 14:35:58 ubuntu etcd[66032]:         A future release of golang/protobuf will delete this package,
Mar 19 14:35:58 ubuntu etcd[66032]:         which has long been excluded from the compatibility promise.
Mar 19 14:35:58 ubuntu etcd[66032]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 19 14:35:58 ubuntu etcd[66032]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 19 14:35:58 ubuntu etcd[66032]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 19 14:35:58 ubuntu etcd[66032]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 19 14:35:58 ubuntu etcd[66032]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 19 14:35:58 ubuntu etcd[66032]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 19 14:35:58 ubuntu etcd[66032]: Running http and grpc server on single port. This is not recommended for production.
Mar 19 14:35:58 ubuntu etcd[66032]: etcd Version: 3.4.27
Mar 19 14:35:58 ubuntu etcd[66032]: Git SHA: c92fb80f3
Mar 19 14:35:58 ubuntu etcd[66032]: Go Version: go1.19.10
Mar 19 14:35:58 ubuntu etcd[66032]: Go OS/Arch: linux/amd64
Mar 19 14:35:58 ubuntu etcd[66032]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 19 14:35:58 ubuntu etcd[66032]: Running http and grpc server on single port. This is not recommended for production.
Mar 19 14:35:58 ubuntu etcd[66032]: name = ubuntu
Mar 19 14:35:58 ubuntu etcd[66032]: data dir = /opt/stack/data/etcd
Mar 19 14:35:58 ubuntu etcd[66032]: member dir = /opt/stack/data/etcd/member
Mar 19 14:35:58 ubuntu etcd[66032]: heartbeat = 100ms
Mar 19 14:35:58 ubuntu etcd[66032]: election = 1000ms
Mar 19 14:35:58 ubuntu etcd[66032]: snapshot count = 100000
Mar 19 14:35:58 ubuntu etcd[66032]: advertise client URLs = http://10.201.5.82:2379
Mar 19 14:35:58 ubuntu etcd[66032]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 19 14:35:58 ubuntu etcd[66032]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Mar 19 14:35:58 ubuntu etcd[66032]: raft2024/03/19 14:35:58 INFO: 43038365673ccf7b switched to configuration voters=()
Mar 19 14:35:58 ubuntu etcd[66032]: raft2024/03/19 14:35:58 INFO: 43038365673ccf7b became follower at term 0
Mar 19 14:35:58 ubuntu etcd[66032]: raft2024/03/19 14:35:58 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 19 14:35:58 ubuntu etcd[66032]: raft2024/03/19 14:35:58 INFO: 43038365673ccf7b became follower at term 1
Mar 19 14:35:58 ubuntu etcd[66032]: raft2024/03/19 14:35:58 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 19 14:35:58 ubuntu etcd[66032]: simple token is not cryptographically signed
Mar 19 14:35:58 ubuntu etcd[66032]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 19 14:35:58 ubuntu etcd[66032]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 19 14:35:58 ubuntu etcd[66032]: raft2024/03/19 14:35:58 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 19 14:35:58 ubuntu etcd[66032]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Mar 19 14:35:58 ubuntu etcd[66032]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 19 14:35:58 ubuntu etcd[66032]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 19 14:35:58 ubuntu etcd[66032]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 19 14:35:58 ubuntu etcd[66032]: listening for peers on [::]:2380
Mar 19 14:35:59 ubuntu etcd[66032]: raft2024/03/19 14:35:59 INFO: 43038365673ccf7b is starting a new election at term 1
Mar 19 14:35:59 ubuntu etcd[66032]: raft2024/03/19 14:35:59 INFO: 43038365673ccf7b became candidate at term 2
Mar 19 14:35:59 ubuntu etcd[66032]: raft2024/03/19 14:35:59 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Mar 19 14:35:59 ubuntu etcd[66032]: raft2024/03/19 14:35:59 INFO: 43038365673ccf7b became leader at term 2
Mar 19 14:35:59 ubuntu etcd[66032]: raft2024/03/19 14:35:59 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Mar 19 14:35:59 ubuntu etcd[66032]: ready to serve client requests
Mar 19 14:35:59 ubuntu etcd[66032]: INFO: 2024/03/19 14:35:59 parsed scheme: ""
Mar 19 14:35:59 ubuntu etcd[66032]: INFO: 2024/03/19 14:35:59 scheme "" not registered, fallback to default scheme
Mar 19 14:35:59 ubuntu etcd[66032]: setting up the initial cluster version to 3.4
Mar 19 14:35:59 ubuntu etcd[66032]: INFO: 2024/03/19 14:35:59 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Mar 19 14:35:59 ubuntu etcd[66032]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Mar 19 14:35:59 ubuntu etcd[66032]: INFO: 2024/03/19 14:35:59 ClientConn switching balancer to "pick_first"
Mar 19 14:35:59 ubuntu etcd[66032]: set the initial cluster version to 3.4
Mar 19 14:35:59 ubuntu etcd[66032]: enabled capabilities for version 3.4
Mar 19 14:35:59 ubuntu etcd[66032]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Mar 19 14:35:59 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 19 14:42:40 ubuntu etcd[66032]: start time = 2024-03-19 14:42:40.269357664 +0000 UTC m=+401.689363728, time spent = 854.021µs, remote = 10.201.5.82:57540, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 19 14:42:40 ubuntu etcd[66032]: start time = 2024-03-19 14:42:40.302075175 +0000 UTC m=+401.722081208, time spent = 218.448µs, remote = 10.201.5.82:57540, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 19 14:42:47 ubuntu etcd[66032]: start time = 2024-03-19 14:42:47.173231276 +0000 UTC m=+408.593237308, time spent = 816.356µs, remote = 10.201.5.82:57540, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 19 14:42:49 ubuntu etcd[66032]: start time = 2024-03-19 14:42:49.272339583 +0000 UTC m=+410.692345617, time spent = 415.014µs, remote = 10.201.5.82:57540, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
