Mar 19 13:40:56 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 19 13:40:56 ubuntu etcd[66079]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 19 13:40:56 ubuntu etcd[66079]:         A future release of golang/protobuf will delete this package,
Mar 19 13:40:56 ubuntu etcd[66079]:         which has long been excluded from the compatibility promise.
Mar 19 13:40:56 ubuntu etcd[66079]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 19 13:40:56 ubuntu etcd[66079]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 19 13:40:56 ubuntu etcd[66079]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 19 13:40:56 ubuntu etcd[66079]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 19 13:40:56 ubuntu etcd[66079]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 19 13:40:56 ubuntu etcd[66079]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 19 13:40:56 ubuntu etcd[66079]: Running http and grpc server on single port. This is not recommended for production.
Mar 19 13:40:56 ubuntu etcd[66079]: etcd Version: 3.4.27
Mar 19 13:40:56 ubuntu etcd[66079]: Git SHA: c92fb80f3
Mar 19 13:40:56 ubuntu etcd[66079]: Go Version: go1.19.10
Mar 19 13:40:56 ubuntu etcd[66079]: Go OS/Arch: linux/amd64
Mar 19 13:40:56 ubuntu etcd[66079]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 19 13:40:56 ubuntu etcd[66079]: Running http and grpc server on single port. This is not recommended for production.
Mar 19 13:40:56 ubuntu etcd[66079]: name = ubuntu
Mar 19 13:40:56 ubuntu etcd[66079]: data dir = /opt/stack/data/etcd
Mar 19 13:40:56 ubuntu etcd[66079]: member dir = /opt/stack/data/etcd/member
Mar 19 13:40:56 ubuntu etcd[66079]: heartbeat = 100ms
Mar 19 13:40:56 ubuntu etcd[66079]: election = 1000ms
Mar 19 13:40:56 ubuntu etcd[66079]: snapshot count = 100000
Mar 19 13:40:56 ubuntu etcd[66079]: advertise client URLs = http://10.201.5.82:2379
Mar 19 13:40:56 ubuntu etcd[66079]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 19 13:40:56 ubuntu etcd[66079]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Mar 19 13:40:56 ubuntu etcd[66079]: raft2024/03/19 13:40:56 INFO: 43038365673ccf7b switched to configuration voters=()
Mar 19 13:40:56 ubuntu etcd[66079]: raft2024/03/19 13:40:56 INFO: 43038365673ccf7b became follower at term 0
Mar 19 13:40:56 ubuntu etcd[66079]: raft2024/03/19 13:40:56 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 19 13:40:56 ubuntu etcd[66079]: raft2024/03/19 13:40:56 INFO: 43038365673ccf7b became follower at term 1
Mar 19 13:40:56 ubuntu etcd[66079]: raft2024/03/19 13:40:56 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 19 13:40:56 ubuntu etcd[66079]: simple token is not cryptographically signed
Mar 19 13:40:56 ubuntu etcd[66079]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 19 13:40:56 ubuntu etcd[66079]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 19 13:40:56 ubuntu etcd[66079]: raft2024/03/19 13:40:56 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 19 13:40:56 ubuntu etcd[66079]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 19 13:40:56 ubuntu etcd[66079]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 19 13:40:56 ubuntu etcd[66079]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 19 13:40:56 ubuntu etcd[66079]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Mar 19 13:40:56 ubuntu etcd[66079]: listening for peers on [::]:2380
Mar 19 13:40:57 ubuntu etcd[66079]: raft2024/03/19 13:40:57 INFO: 43038365673ccf7b is starting a new election at term 1
Mar 19 13:40:57 ubuntu etcd[66079]: raft2024/03/19 13:40:57 INFO: 43038365673ccf7b became candidate at term 2
Mar 19 13:40:57 ubuntu etcd[66079]: raft2024/03/19 13:40:57 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Mar 19 13:40:57 ubuntu etcd[66079]: raft2024/03/19 13:40:57 INFO: 43038365673ccf7b became leader at term 2
Mar 19 13:40:57 ubuntu etcd[66079]: raft2024/03/19 13:40:57 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Mar 19 13:40:57 ubuntu etcd[66079]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Mar 19 13:40:57 ubuntu etcd[66079]: setting up the initial cluster version to 3.4
Mar 19 13:40:57 ubuntu etcd[66079]: ready to serve client requests
Mar 19 13:40:57 ubuntu etcd[66079]: set the initial cluster version to 3.4
Mar 19 13:40:57 ubuntu etcd[66079]: INFO: 2024/03/19 13:40:57 parsed scheme: ""
Mar 19 13:40:57 ubuntu etcd[66079]: INFO: 2024/03/19 13:40:57 scheme "" not registered, fallback to default scheme
Mar 19 13:40:57 ubuntu etcd[66079]: enabled capabilities for version 3.4
Mar 19 13:40:57 ubuntu etcd[66079]: INFO: 2024/03/19 13:40:57 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Mar 19 13:40:57 ubuntu etcd[66079]: INFO: 2024/03/19 13:40:57 ClientConn switching balancer to "pick_first"
Mar 19 13:40:57 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 19 13:40:57 ubuntu etcd[66079]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Mar 19 13:47:34 ubuntu etcd[66079]: start time = 2024-03-19 13:47:34.803599463 +0000 UTC m=+398.302231217, time spent = 1.358949ms, remote = 10.201.5.82:40068, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 19 13:47:34 ubuntu etcd[66079]: start time = 2024-03-19 13:47:34.979862547 +0000 UTC m=+398.478494291, time spent = 196.499µs, remote = 10.201.5.82:40068, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 19 13:47:42 ubuntu etcd[66079]: start time = 2024-03-19 13:47:42.045962345 +0000 UTC m=+405.544594089, time spent = 202.24µs, remote = 10.201.5.82:40068, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 19 13:47:43 ubuntu etcd[66079]: start time = 2024-03-19 13:47:43.73917205 +0000 UTC m=+407.237803793, time spent = 989.838µs, remote = 10.201.5.82:40068, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
