Aug 05 05:05:30 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Aug 05 05:05:30 ubuntu etcd[79442]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Aug 05 05:05:30 ubuntu etcd[79442]:         A future release of golang/protobuf will delete this package,
Aug 05 05:05:30 ubuntu etcd[79442]:         which has long been excluded from the compatibility promise.
Aug 05 05:05:30 ubuntu etcd[79442]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 05 05:05:30 ubuntu etcd[79442]: Running http and grpc server on single port. This is not recommended for production.
Aug 05 05:05:30 ubuntu etcd[79442]: etcd Version: 3.4.27
Aug 05 05:05:30 ubuntu etcd[79442]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 05 05:05:30 ubuntu etcd[79442]: Git SHA: c92fb80f3
Aug 05 05:05:30 ubuntu etcd[79442]: Go Version: go1.19.10
Aug 05 05:05:30 ubuntu etcd[79442]: Go OS/Arch: linux/amd64
Aug 05 05:05:30 ubuntu etcd[79442]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Aug 05 05:05:30 ubuntu etcd[79442]: Running http and grpc server on single port. This is not recommended for production.
Aug 05 05:05:30 ubuntu etcd[79442]: name = ubuntu
Aug 05 05:05:30 ubuntu etcd[79442]: data dir = /opt/stack/data/etcd
Aug 05 05:05:30 ubuntu etcd[79442]: member dir = /opt/stack/data/etcd/member
Aug 05 05:05:30 ubuntu etcd[79442]: heartbeat = 100ms
Aug 05 05:05:30 ubuntu etcd[79442]: election = 1000ms
Aug 05 05:05:30 ubuntu etcd[79442]: snapshot count = 100000
Aug 05 05:05:30 ubuntu etcd[79442]: advertise client URLs = http://10.201.5.82:2379
Aug 05 05:05:30 ubuntu etcd[79442]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Aug 05 05:05:30 ubuntu etcd[79442]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Aug 05 05:05:30 ubuntu etcd[79442]: raft2025/08/05 05:05:30 INFO: 43038365673ccf7b switched to configuration voters=()
Aug 05 05:05:30 ubuntu etcd[79442]: raft2025/08/05 05:05:30 INFO: 43038365673ccf7b became follower at term 0
Aug 05 05:05:30 ubuntu etcd[79442]: raft2025/08/05 05:05:30 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Aug 05 05:05:30 ubuntu etcd[79442]: raft2025/08/05 05:05:30 INFO: 43038365673ccf7b became follower at term 1
Aug 05 05:05:30 ubuntu etcd[79442]: raft2025/08/05 05:05:30 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Aug 05 05:05:30 ubuntu etcd[79442]: simple token is not cryptographically signed
Aug 05 05:05:30 ubuntu etcd[79442]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Aug 05 05:05:30 ubuntu etcd[79442]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Aug 05 05:05:30 ubuntu etcd[79442]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Aug 05 05:05:30 ubuntu etcd[79442]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Aug 05 05:05:30 ubuntu etcd[79442]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Aug 05 05:05:30 ubuntu etcd[79442]: raft2025/08/05 05:05:30 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Aug 05 05:05:30 ubuntu etcd[79442]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Aug 05 05:05:30 ubuntu etcd[79442]: listening for peers on [::]:2380
Aug 05 05:05:31 ubuntu etcd[79442]: raft2025/08/05 05:05:31 INFO: 43038365673ccf7b is starting a new election at term 1
Aug 05 05:05:31 ubuntu etcd[79442]: raft2025/08/05 05:05:31 INFO: 43038365673ccf7b became candidate at term 2
Aug 05 05:05:31 ubuntu etcd[79442]: raft2025/08/05 05:05:31 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Aug 05 05:05:31 ubuntu etcd[79442]: raft2025/08/05 05:05:31 INFO: 43038365673ccf7b became leader at term 2
Aug 05 05:05:31 ubuntu etcd[79442]: raft2025/08/05 05:05:31 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Aug 05 05:05:31 ubuntu etcd[79442]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Aug 05 05:05:31 ubuntu etcd[79442]: ready to serve client requests
Aug 05 05:05:31 ubuntu etcd[79442]: setting up the initial cluster version to 3.4
Aug 05 05:05:31 ubuntu etcd[79442]: set the initial cluster version to 3.4
Aug 05 05:05:31 ubuntu etcd[79442]: enabled capabilities for version 3.4
Aug 05 05:05:31 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Aug 05 05:05:31 ubuntu etcd[79442]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Aug 05 05:10:18 ubuntu etcd[79442]: start time = 2025-08-05 05:10:18.227293251 +0000 UTC m=+287.358341807, time spent = 1.557609ms, remote = 10.201.5.82:39040, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 05 05:10:18 ubuntu etcd[79442]: start time = 2025-08-05 05:10:18.296684701 +0000 UTC m=+287.427733270, time spent = 331.275µs, remote = 10.201.5.82:39040, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 05 05:10:25 ubuntu etcd[79442]: start time = 2025-08-05 05:10:25.273963932 +0000 UTC m=+294.405012502, time spent = 217.583µs, remote = 10.201.5.82:39040, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 05 05:10:27 ubuntu etcd[79442]: start time = 2025-08-05 05:10:27.300856136 +0000 UTC m=+296.431904703, time spent = 1.663049ms, remote = 10.201.5.82:39040, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 05 05:13:53 ubuntu etcd[79442]: start time = 2025-08-05 05:13:53.397071549 +0000 UTC m=+502.528120115, time spent = 415.924µs, remote = 10.201.5.82:39040, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 05 05:13:53 ubuntu etcd[79442]: start time = 2025-08-05 05:13:53.407338002 +0000 UTC m=+502.538386566, time spent = 200.433µs, remote = 10.201.5.82:39040, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 05 05:13:56 ubuntu etcd[79442]: start time = 2025-08-05 05:13:56.189693737 +0000 UTC m=+505.320742306, time spent = 235.715µs, remote = 10.201.5.82:39040, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 05 05:13:57 ubuntu etcd[79442]: start time = 2025-08-05 05:13:57.91939996 +0000 UTC m=+507.050448630, time spent = 587.621µs, remote = 10.201.5.82:39040, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 05 05:20:43 ubuntu etcd[79442]: start time = 2025-08-05 05:20:43.23035913 +0000 UTC m=+912.361407685, time spent = 572.847µs, remote = 10.201.5.82:39040, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 05 05:20:43 ubuntu etcd[79442]: start time = 2025-08-05 05:20:43.241829375 +0000 UTC m=+912.372877928, time spent = 5.119142ms, remote = 10.201.5.82:39040, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-1cab6811-cc0d-4c74-b0fa-d17a75f741a4" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-1cab6811-cc0d-4c74-b0fa-d17a75f741a4" value_size:16 lease:5727338994959720217 >> failure:<request_range:<key:"/tooz/lockscinder-1cab6811-cc0d-4c74-b0fa-d17a75f741a4" > >
Aug 05 05:20:45 ubuntu etcd[79442]: start time = 2025-08-05 05:20:45.960936634 +0000 UTC m=+915.091985235, time spent = 736.853µs, remote = 10.201.5.82:39040, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-1cab6811-cc0d-4c74-b0fa-d17a75f741a4" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-1cab6811-cc0d-4c74-b0fa-d17a75f741a4" > > failure:<>
Aug 05 05:20:46 ubuntu etcd[79442]: start time = 2025-08-05 05:20:46.196299045 +0000 UTC m=+915.327347615, time spent = 305.694µs, remote = 10.201.5.82:39040, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 05 05:20:46 ubuntu etcd[79442]: start time = 2025-08-05 05:20:46.198326234 +0000 UTC m=+915.329374806, time spent = 291.746µs, remote = 10.201.5.82:39040, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-1cab6811-cc0d-4c74-b0fa-d17a75f741a4" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-1cab6811-cc0d-4c74-b0fa-d17a75f741a4" value_size:16 lease:5727338994959720221 >> failure:<request_range:<key:"/tooz/lockscinder-1cab6811-cc0d-4c74-b0fa-d17a75f741a4" > >
Aug 05 05:20:48 ubuntu etcd[79442]: start time = 2025-08-05 05:20:48.059805821 +0000 UTC m=+917.190854395, time spent = 296.062µs, remote = 10.201.5.82:39040, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-1cab6811-cc0d-4c74-b0fa-d17a75f741a4" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-1cab6811-cc0d-4c74-b0fa-d17a75f741a4" > > failure:<>
Aug 05 05:20:48 ubuntu etcd[79442]: start time = 2025-08-05 05:20:48.310663166 +0000 UTC m=+917.441711738, time spent = 772.087µs, remote = 10.201.5.82:39040, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 05 05:20:48 ubuntu etcd[79442]: start time = 2025-08-05 05:20:48.31318836 +0000 UTC m=+917.444236936, time spent = 218.172µs, remote = 10.201.5.82:39040, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-1cab6811-cc0d-4c74-b0fa-d17a75f741a4" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-1cab6811-cc0d-4c74-b0fa-d17a75f741a4" value_size:16 lease:5727338994959720225 >> failure:<request_range:<key:"/tooz/lockscinder-1cab6811-cc0d-4c74-b0fa-d17a75f741a4" > >
Aug 05 05:20:50 ubuntu etcd[79442]: start time = 2025-08-05 05:20:50.194435145 +0000 UTC m=+919.325483716, time spent = 311.073µs, remote = 10.201.5.82:39040, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-1cab6811-cc0d-4c74-b0fa-d17a75f741a4" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-1cab6811-cc0d-4c74-b0fa-d17a75f741a4" > > failure:<>
