Aug 05 17:48:44 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Aug 05 17:48:44 ubuntu etcd[79429]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Aug 05 17:48:44 ubuntu etcd[79429]:         A future release of golang/protobuf will delete this package,
Aug 05 17:48:44 ubuntu etcd[79429]:         which has long been excluded from the compatibility promise.
Aug 05 17:48:44 ubuntu etcd[79429]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 05 17:48:44 ubuntu etcd[79429]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 05 17:48:44 ubuntu etcd[79429]: Running http and grpc server on single port. This is not recommended for production.
Aug 05 17:48:44 ubuntu etcd[79429]: etcd Version: 3.4.27
Aug 05 17:48:44 ubuntu etcd[79429]: Git SHA: c92fb80f3
Aug 05 17:48:44 ubuntu etcd[79429]: Go Version: go1.19.10
Aug 05 17:48:44 ubuntu etcd[79429]: Go OS/Arch: linux/amd64
Aug 05 17:48:44 ubuntu etcd[79429]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Aug 05 17:48:44 ubuntu etcd[79429]: Running http and grpc server on single port. This is not recommended for production.
Aug 05 17:48:44 ubuntu etcd[79429]: name = ubuntu
Aug 05 17:48:44 ubuntu etcd[79429]: data dir = /opt/stack/data/etcd
Aug 05 17:48:44 ubuntu etcd[79429]: member dir = /opt/stack/data/etcd/member
Aug 05 17:48:44 ubuntu etcd[79429]: heartbeat = 100ms
Aug 05 17:48:44 ubuntu etcd[79429]: election = 1000ms
Aug 05 17:48:44 ubuntu etcd[79429]: snapshot count = 100000
Aug 05 17:48:44 ubuntu etcd[79429]: advertise client URLs = http://10.201.5.82:2379
Aug 05 17:48:44 ubuntu etcd[79429]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Aug 05 17:48:45 ubuntu etcd[79429]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Aug 05 17:48:45 ubuntu etcd[79429]: raft2025/08/05 17:48:45 INFO: 43038365673ccf7b switched to configuration voters=()
Aug 05 17:48:45 ubuntu etcd[79429]: raft2025/08/05 17:48:45 INFO: 43038365673ccf7b became follower at term 0
Aug 05 17:48:45 ubuntu etcd[79429]: raft2025/08/05 17:48:45 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Aug 05 17:48:45 ubuntu etcd[79429]: raft2025/08/05 17:48:45 INFO: 43038365673ccf7b became follower at term 1
Aug 05 17:48:45 ubuntu etcd[79429]: raft2025/08/05 17:48:45 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Aug 05 17:48:45 ubuntu etcd[79429]: simple token is not cryptographically signed
Aug 05 17:48:45 ubuntu etcd[79429]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Aug 05 17:48:45 ubuntu etcd[79429]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Aug 05 17:48:45 ubuntu etcd[79429]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Aug 05 17:48:45 ubuntu etcd[79429]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Aug 05 17:48:45 ubuntu etcd[79429]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Aug 05 17:48:45 ubuntu etcd[79429]: raft2025/08/05 17:48:45 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Aug 05 17:48:45 ubuntu etcd[79429]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Aug 05 17:48:45 ubuntu etcd[79429]: listening for peers on [::]:2380
Aug 05 17:48:45 ubuntu etcd[79429]: raft2025/08/05 17:48:45 INFO: 43038365673ccf7b is starting a new election at term 1
Aug 05 17:48:45 ubuntu etcd[79429]: raft2025/08/05 17:48:45 INFO: 43038365673ccf7b became candidate at term 2
Aug 05 17:48:45 ubuntu etcd[79429]: raft2025/08/05 17:48:45 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Aug 05 17:48:45 ubuntu etcd[79429]: raft2025/08/05 17:48:45 INFO: 43038365673ccf7b became leader at term 2
Aug 05 17:48:45 ubuntu etcd[79429]: raft2025/08/05 17:48:45 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Aug 05 17:48:45 ubuntu etcd[79429]: setting up the initial cluster version to 3.4
Aug 05 17:48:45 ubuntu etcd[79429]: set the initial cluster version to 3.4
Aug 05 17:48:45 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Aug 05 17:48:45 ubuntu etcd[79429]: enabled capabilities for version 3.4
Aug 05 17:48:45 ubuntu etcd[79429]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Aug 05 17:48:45 ubuntu etcd[79429]: ready to serve client requests
Aug 05 17:48:45 ubuntu etcd[79429]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Aug 05 17:53:36 ubuntu etcd[79429]: start time = 2025-08-05 17:53:36.29302398 +0000 UTC m=+291.315673571, time spent = 560.729µs, remote = 10.201.5.82:47118, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 05 17:53:36 ubuntu etcd[79429]: start time = 2025-08-05 17:53:36.424098021 +0000 UTC m=+291.446747623, time spent = 267.378µs, remote = 10.201.5.82:47118, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 05 17:53:43 ubuntu etcd[79429]: start time = 2025-08-05 17:53:43.335120944 +0000 UTC m=+298.357770542, time spent = 227.113µs, remote = 10.201.5.82:47118, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 05 17:53:45 ubuntu etcd[79429]: start time = 2025-08-05 17:53:45.261154279 +0000 UTC m=+300.283803867, time spent = 385.598µs, remote = 10.201.5.82:47118, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 05 17:57:09 ubuntu etcd[79429]: start time = 2025-08-05 17:57:09.304844126 +0000 UTC m=+504.327493714, time spent = 318.549µs, remote = 10.201.5.82:47118, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 05 17:57:09 ubuntu etcd[79429]: start time = 2025-08-05 17:57:09.357453382 +0000 UTC m=+504.380102980, time spent = 124.085µs, remote = 10.201.5.82:47118, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 05 17:57:10 ubuntu etcd[79429]: start time = 2025-08-05 17:57:10.955893356 +0000 UTC m=+505.978542945, time spent = 304.157µs, remote = 10.201.5.82:47118, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 05 17:57:12 ubuntu etcd[79429]: start time = 2025-08-05 17:57:12.888108159 +0000 UTC m=+507.910757750, time spent = 216.999µs, remote = 10.201.5.82:47118, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 05 18:03:55 ubuntu etcd[79429]: start time = 2025-08-05 18:03:55.670148668 +0000 UTC m=+910.692798257, time spent = 349.088µs, remote = 10.201.5.82:47118, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 05 18:03:55 ubuntu etcd[79429]: start time = 2025-08-05 18:03:55.677642599 +0000 UTC m=+910.700292188, time spent = 2.024512ms, remote = 10.201.5.82:47118, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-0430d14a-b87f-4967-ba35-4a7a464ea685" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-0430d14a-b87f-4967-ba35-4a7a464ea685" value_size:16 lease:5727339006683012633 >> failure:<request_range:<key:"/tooz/lockscinder-0430d14a-b87f-4967-ba35-4a7a464ea685" > >
Aug 05 18:03:58 ubuntu etcd[79429]: start time = 2025-08-05 18:03:58.303247936 +0000 UTC m=+913.325897535, time spent = 321.906µs, remote = 10.201.5.82:47118, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-0430d14a-b87f-4967-ba35-4a7a464ea685" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-0430d14a-b87f-4967-ba35-4a7a464ea685" > > failure:<>
Aug 05 18:03:58 ubuntu etcd[79429]: start time = 2025-08-05 18:03:58.544456169 +0000 UTC m=+913.567105775, time spent = 345.641µs, remote = 10.201.5.82:47118, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 05 18:03:58 ubuntu etcd[79429]: start time = 2025-08-05 18:03:58.546757157 +0000 UTC m=+913.569406769, time spent = 300.777µs, remote = 10.201.5.82:47118, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-0430d14a-b87f-4967-ba35-4a7a464ea685" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-0430d14a-b87f-4967-ba35-4a7a464ea685" value_size:16 lease:5727339006683012637 >> failure:<request_range:<key:"/tooz/lockscinder-0430d14a-b87f-4967-ba35-4a7a464ea685" > >
Aug 05 18:04:01 ubuntu etcd[79429]: start time = 2025-08-05 18:04:01.280542617 +0000 UTC m=+916.303192276, time spent = 444.927µs, remote = 10.201.5.82:47118, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-0430d14a-b87f-4967-ba35-4a7a464ea685" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-0430d14a-b87f-4967-ba35-4a7a464ea685" > > failure:<>
Aug 05 18:04:01 ubuntu etcd[79429]: start time = 2025-08-05 18:04:01.507719282 +0000 UTC m=+916.530368885, time spent = 248.754µs, remote = 10.201.5.82:47118, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 05 18:04:01 ubuntu etcd[79429]: start time = 2025-08-05 18:04:01.509665845 +0000 UTC m=+916.532315484, time spent = 287.107µs, remote = 10.201.5.82:47118, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-0430d14a-b87f-4967-ba35-4a7a464ea685" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-0430d14a-b87f-4967-ba35-4a7a464ea685" value_size:16 lease:5727339006683012641 >> failure:<request_range:<key:"/tooz/lockscinder-0430d14a-b87f-4967-ba35-4a7a464ea685" > >
Aug 05 18:04:03 ubuntu etcd[79429]: start time = 2025-08-05 18:04:03.345146076 +0000 UTC m=+918.367795772, time spent = 551.182µs, remote = 10.201.5.82:47118, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-0430d14a-b87f-4967-ba35-4a7a464ea685" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-0430d14a-b87f-4967-ba35-4a7a464ea685" > > failure:<>
