Sep 06 21:58:12 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Sep 06 21:58:12 ubuntu etcd[68419]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Sep 06 21:58:12 ubuntu etcd[68419]:         A future release of golang/protobuf will delete this package,
Sep 06 21:58:12 ubuntu etcd[68419]:         which has long been excluded from the compatibility promise.
Sep 06 21:58:12 ubuntu etcd[68419]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Sep 06 21:58:12 ubuntu etcd[68419]: Running http and grpc server on single port. This is not recommended for production.
Sep 06 21:58:12 ubuntu etcd[68419]: etcd Version: 3.4.27
Sep 06 21:58:12 ubuntu etcd[68419]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Sep 06 21:58:12 ubuntu etcd[68419]: Git SHA: c92fb80f3
Sep 06 21:58:12 ubuntu etcd[68419]: Go Version: go1.19.10
Sep 06 21:58:12 ubuntu etcd[68419]: Go OS/Arch: linux/amd64
Sep 06 21:58:12 ubuntu etcd[68419]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Sep 06 21:58:12 ubuntu etcd[68419]: Running http and grpc server on single port. This is not recommended for production.
Sep 06 21:58:12 ubuntu etcd[68419]: name = ubuntu
Sep 06 21:58:12 ubuntu etcd[68419]: data dir = /opt/stack/data/etcd
Sep 06 21:58:12 ubuntu etcd[68419]: member dir = /opt/stack/data/etcd/member
Sep 06 21:58:12 ubuntu etcd[68419]: heartbeat = 100ms
Sep 06 21:58:12 ubuntu etcd[68419]: election = 1000ms
Sep 06 21:58:12 ubuntu etcd[68419]: snapshot count = 100000
Sep 06 21:58:12 ubuntu etcd[68419]: advertise client URLs = http://10.201.5.82:2379
Sep 06 21:58:12 ubuntu etcd[68419]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Sep 06 21:58:12 ubuntu etcd[68419]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Sep 06 21:58:12 ubuntu etcd[68419]: raft2024/09/06 21:58:12 INFO: 43038365673ccf7b switched to configuration voters=()
Sep 06 21:58:12 ubuntu etcd[68419]: raft2024/09/06 21:58:12 INFO: 43038365673ccf7b became follower at term 0
Sep 06 21:58:12 ubuntu etcd[68419]: raft2024/09/06 21:58:12 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Sep 06 21:58:12 ubuntu etcd[68419]: raft2024/09/06 21:58:12 INFO: 43038365673ccf7b became follower at term 1
Sep 06 21:58:12 ubuntu etcd[68419]: raft2024/09/06 21:58:12 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Sep 06 21:58:12 ubuntu etcd[68419]: simple token is not cryptographically signed
Sep 06 21:58:12 ubuntu etcd[68419]: raft2024/09/06 21:58:12 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Sep 06 21:58:12 ubuntu etcd[68419]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Sep 06 21:58:12 ubuntu etcd[68419]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Sep 06 21:58:12 ubuntu etcd[68419]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Sep 06 21:58:12 ubuntu etcd[68419]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Sep 06 21:58:12 ubuntu etcd[68419]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Sep 06 21:58:12 ubuntu etcd[68419]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Sep 06 21:58:12 ubuntu etcd[68419]: listening for peers on [::]:2380
Sep 06 21:58:12 ubuntu etcd[68419]: raft2024/09/06 21:58:12 INFO: 43038365673ccf7b is starting a new election at term 1
Sep 06 21:58:12 ubuntu etcd[68419]: raft2024/09/06 21:58:12 INFO: 43038365673ccf7b became candidate at term 2
Sep 06 21:58:12 ubuntu etcd[68419]: raft2024/09/06 21:58:12 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Sep 06 21:58:12 ubuntu etcd[68419]: raft2024/09/06 21:58:12 INFO: 43038365673ccf7b became leader at term 2
Sep 06 21:58:12 ubuntu etcd[68419]: raft2024/09/06 21:58:12 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Sep 06 21:58:12 ubuntu etcd[68419]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Sep 06 21:58:12 ubuntu etcd[68419]: setting up the initial cluster version to 3.4
Sep 06 21:58:12 ubuntu etcd[68419]: ready to serve client requests
Sep 06 21:58:12 ubuntu etcd[68419]: set the initial cluster version to 3.4
Sep 06 21:58:12 ubuntu etcd[68419]: enabled capabilities for version 3.4
Sep 06 21:58:12 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Sep 06 21:58:12 ubuntu etcd[68419]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Sep 06 22:05:08 ubuntu etcd[68419]: start time = 2024-09-06 22:05:08.029218282 +0000 UTC m=+415.689408003, time spent = 2.920859ms, remote = 10.201.5.82:33130, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 06 22:05:08 ubuntu etcd[68419]: start time = 2024-09-06 22:05:08.144597248 +0000 UTC m=+415.804786979, time spent = 264.046µs, remote = 10.201.5.82:33130, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 06 22:05:15 ubuntu etcd[68419]: start time = 2024-09-06 22:05:15.203775011 +0000 UTC m=+422.863964746, time spent = 299.806µs, remote = 10.201.5.82:33130, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Sep 06 22:05:17 ubuntu etcd[68419]: start time = 2024-09-06 22:05:17.260852852 +0000 UTC m=+424.921042580, time spent = 364.287µs, remote = 10.201.5.82:33130, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
