Aug 07 21:31:34 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Aug 07 21:31:34 ubuntu etcd[67166]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Aug 07 21:31:34 ubuntu etcd[67166]:         A future release of golang/protobuf will delete this package,
Aug 07 21:31:34 ubuntu etcd[67166]:         which has long been excluded from the compatibility promise.
Aug 07 21:31:34 ubuntu etcd[67166]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Aug 07 21:31:34 ubuntu etcd[67166]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Aug 07 21:31:34 ubuntu etcd[67166]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 07 21:31:34 ubuntu etcd[67166]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Aug 07 21:31:34 ubuntu etcd[67166]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Aug 07 21:31:34 ubuntu etcd[67166]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 07 21:31:34 ubuntu etcd[67166]: Running http and grpc server on single port. This is not recommended for production.
Aug 07 21:31:34 ubuntu etcd[67166]: etcd Version: 3.4.27
Aug 07 21:31:34 ubuntu etcd[67166]: Git SHA: c92fb80f3
Aug 07 21:31:34 ubuntu etcd[67166]: Go Version: go1.19.10
Aug 07 21:31:34 ubuntu etcd[67166]: Go OS/Arch: linux/amd64
Aug 07 21:31:34 ubuntu etcd[67166]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Aug 07 21:31:34 ubuntu etcd[67166]: Running http and grpc server on single port. This is not recommended for production.
Aug 07 21:31:34 ubuntu etcd[67166]: name = ubuntu
Aug 07 21:31:34 ubuntu etcd[67166]: data dir = /opt/stack/data/etcd
Aug 07 21:31:34 ubuntu etcd[67166]: member dir = /opt/stack/data/etcd/member
Aug 07 21:31:34 ubuntu etcd[67166]: heartbeat = 100ms
Aug 07 21:31:34 ubuntu etcd[67166]: election = 1000ms
Aug 07 21:31:34 ubuntu etcd[67166]: snapshot count = 100000
Aug 07 21:31:34 ubuntu etcd[67166]: advertise client URLs = http://10.201.5.82:2379
Aug 07 21:31:34 ubuntu etcd[67166]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Aug 07 21:31:34 ubuntu etcd[67166]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Aug 07 21:31:34 ubuntu etcd[67166]: raft2024/08/07 21:31:34 INFO: 43038365673ccf7b switched to configuration voters=()
Aug 07 21:31:34 ubuntu etcd[67166]: raft2024/08/07 21:31:34 INFO: 43038365673ccf7b became follower at term 0
Aug 07 21:31:34 ubuntu etcd[67166]: raft2024/08/07 21:31:34 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Aug 07 21:31:34 ubuntu etcd[67166]: raft2024/08/07 21:31:34 INFO: 43038365673ccf7b became follower at term 1
Aug 07 21:31:34 ubuntu etcd[67166]: raft2024/08/07 21:31:34 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Aug 07 21:31:34 ubuntu etcd[67166]: simple token is not cryptographically signed
Aug 07 21:31:34 ubuntu etcd[67166]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Aug 07 21:31:34 ubuntu etcd[67166]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Aug 07 21:31:34 ubuntu etcd[67166]: raft2024/08/07 21:31:34 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Aug 07 21:31:34 ubuntu etcd[67166]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Aug 07 21:31:34 ubuntu etcd[67166]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Aug 07 21:31:34 ubuntu etcd[67166]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Aug 07 21:31:34 ubuntu etcd[67166]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Aug 07 21:31:34 ubuntu etcd[67166]: listening for peers on [::]:2380
Aug 07 21:31:34 ubuntu etcd[67166]: raft2024/08/07 21:31:34 INFO: 43038365673ccf7b is starting a new election at term 1
Aug 07 21:31:34 ubuntu etcd[67166]: raft2024/08/07 21:31:34 INFO: 43038365673ccf7b became candidate at term 2
Aug 07 21:31:34 ubuntu etcd[67166]: raft2024/08/07 21:31:34 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Aug 07 21:31:34 ubuntu etcd[67166]: raft2024/08/07 21:31:34 INFO: 43038365673ccf7b became leader at term 2
Aug 07 21:31:34 ubuntu etcd[67166]: raft2024/08/07 21:31:34 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Aug 07 21:31:34 ubuntu etcd[67166]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Aug 07 21:31:34 ubuntu etcd[67166]: setting up the initial cluster version to 3.4
Aug 07 21:31:34 ubuntu etcd[67166]: ready to serve client requests
Aug 07 21:31:34 ubuntu etcd[67166]: INFO: 2024/08/07 21:31:34 parsed scheme: ""
Aug 07 21:31:34 ubuntu etcd[67166]: INFO: 2024/08/07 21:31:34 scheme "" not registered, fallback to default scheme
Aug 07 21:31:34 ubuntu etcd[67166]: INFO: 2024/08/07 21:31:34 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Aug 07 21:31:34 ubuntu etcd[67166]: INFO: 2024/08/07 21:31:34 ClientConn switching balancer to "pick_first"
Aug 07 21:31:34 ubuntu etcd[67166]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Aug 07 21:31:34 ubuntu etcd[67166]: set the initial cluster version to 3.4
Aug 07 21:31:34 ubuntu etcd[67166]: enabled capabilities for version 3.4
Aug 07 21:31:34 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Aug 07 21:36:37 ubuntu etcd[67166]: start time = 2024-08-07 21:36:37.182743465 +0000 UTC m=+302.932910369, time spent = 631.376µs, remote = 10.201.5.82:55372, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 07 21:36:37 ubuntu etcd[67166]: start time = 2024-08-07 21:36:37.209643768 +0000 UTC m=+302.959810672, time spent = 226.997µs, remote = 10.201.5.82:55372, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 07 21:36:44 ubuntu etcd[67166]: start time = 2024-08-07 21:36:44.187939321 +0000 UTC m=+309.938106226, time spent = 197.73µs, remote = 10.201.5.82:55372, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 07 21:36:46 ubuntu etcd[67166]: start time = 2024-08-07 21:36:46.182429607 +0000 UTC m=+311.932596512, time spent = 253.896µs, remote = 10.201.5.82:55372, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 07 21:39:49 ubuntu etcd[67166]: start time = 2024-08-07 21:39:49.135930377 +0000 UTC m=+494.886097292, time spent = 429.613µs, remote = 10.201.5.82:55372, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 07 21:39:49 ubuntu etcd[67166]: start time = 2024-08-07 21:39:49.462254675 +0000 UTC m=+495.212421679, time spent = 347.157µs, remote = 10.201.5.82:55372, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 07 21:39:49 ubuntu etcd[67166]: start time = 2024-08-07 21:39:49.47479761 +0000 UTC m=+495.224964543, time spent = 155.358µs, remote = 10.201.5.82:55372, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 07 21:39:51 ubuntu etcd[67166]: start time = 2024-08-07 21:39:51.43442673 +0000 UTC m=+497.184593733, time spent = 397.271µs, remote = 10.201.5.82:55372, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
