Apr 24 14:23:41 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Apr 24 14:23:41 ubuntu etcd[79142]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Apr 24 14:23:41 ubuntu etcd[79142]:         A future release of golang/protobuf will delete this package,
Apr 24 14:23:41 ubuntu etcd[79142]:         which has long been excluded from the compatibility promise.
Apr 24 14:23:41 ubuntu etcd[79142]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 24 14:23:41 ubuntu etcd[79142]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 24 14:23:41 ubuntu etcd[79142]: Running http and grpc server on single port. This is not recommended for production.
Apr 24 14:23:41 ubuntu etcd[79142]: etcd Version: 3.4.27
Apr 24 14:23:41 ubuntu etcd[79142]: Git SHA: c92fb80f3
Apr 24 14:23:41 ubuntu etcd[79142]: Go Version: go1.19.10
Apr 24 14:23:41 ubuntu etcd[79142]: Go OS/Arch: linux/amd64
Apr 24 14:23:41 ubuntu etcd[79142]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Apr 24 14:23:41 ubuntu etcd[79142]: Running http and grpc server on single port. This is not recommended for production.
Apr 24 14:23:41 ubuntu etcd[79142]: name = ubuntu
Apr 24 14:23:41 ubuntu etcd[79142]: data dir = /opt/stack/data/etcd
Apr 24 14:23:41 ubuntu etcd[79142]: member dir = /opt/stack/data/etcd/member
Apr 24 14:23:41 ubuntu etcd[79142]: heartbeat = 100ms
Apr 24 14:23:41 ubuntu etcd[79142]: election = 1000ms
Apr 24 14:23:41 ubuntu etcd[79142]: snapshot count = 100000
Apr 24 14:23:41 ubuntu etcd[79142]: advertise client URLs = http://10.201.5.82:2379
Apr 24 14:23:41 ubuntu etcd[79142]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Apr 24 14:23:41 ubuntu etcd[79142]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Apr 24 14:23:41 ubuntu etcd[79142]: raft2025/04/24 14:23:41 INFO: 43038365673ccf7b switched to configuration voters=()
Apr 24 14:23:41 ubuntu etcd[79142]: raft2025/04/24 14:23:41 INFO: 43038365673ccf7b became follower at term 0
Apr 24 14:23:41 ubuntu etcd[79142]: raft2025/04/24 14:23:41 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Apr 24 14:23:41 ubuntu etcd[79142]: raft2025/04/24 14:23:41 INFO: 43038365673ccf7b became follower at term 1
Apr 24 14:23:41 ubuntu etcd[79142]: raft2025/04/24 14:23:41 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Apr 24 14:23:41 ubuntu etcd[79142]: simple token is not cryptographically signed
Apr 24 14:23:41 ubuntu etcd[79142]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Apr 24 14:23:41 ubuntu etcd[79142]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Apr 24 14:23:41 ubuntu etcd[79142]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Apr 24 14:23:41 ubuntu etcd[79142]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Apr 24 14:23:41 ubuntu etcd[79142]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Apr 24 14:23:41 ubuntu etcd[79142]: raft2025/04/24 14:23:41 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Apr 24 14:23:41 ubuntu etcd[79142]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Apr 24 14:23:41 ubuntu etcd[79142]: listening for peers on [::]:2380
Apr 24 14:23:42 ubuntu etcd[79142]: raft2025/04/24 14:23:42 INFO: 43038365673ccf7b is starting a new election at term 1
Apr 24 14:23:42 ubuntu etcd[79142]: raft2025/04/24 14:23:42 INFO: 43038365673ccf7b became candidate at term 2
Apr 24 14:23:42 ubuntu etcd[79142]: raft2025/04/24 14:23:42 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Apr 24 14:23:42 ubuntu etcd[79142]: raft2025/04/24 14:23:42 INFO: 43038365673ccf7b became leader at term 2
Apr 24 14:23:42 ubuntu etcd[79142]: raft2025/04/24 14:23:42 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Apr 24 14:23:42 ubuntu etcd[79142]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Apr 24 14:23:42 ubuntu etcd[79142]: ready to serve client requests
Apr 24 14:23:42 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Apr 24 14:23:42 ubuntu etcd[79142]: setting up the initial cluster version to 3.4
Apr 24 14:23:42 ubuntu etcd[79142]: set the initial cluster version to 3.4
Apr 24 14:23:42 ubuntu etcd[79142]: enabled capabilities for version 3.4
Apr 24 14:23:42 ubuntu etcd[79142]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Apr 24 14:28:23 ubuntu etcd[79142]: start time = 2025-04-24 14:28:23.882798693 +0000 UTC m=+282.295532677, time spent = 1.714165ms, remote = 10.201.5.82:44416, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 24 14:28:23 ubuntu etcd[79142]: start time = 2025-04-24 14:28:23.908366853 +0000 UTC m=+282.321100844, time spent = 211.545µs, remote = 10.201.5.82:44416, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 24 14:28:30 ubuntu etcd[79142]: start time = 2025-04-24 14:28:30.739310793 +0000 UTC m=+289.152044786, time spent = 187.969µs, remote = 10.201.5.82:44416, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 24 14:28:32 ubuntu etcd[79142]: start time = 2025-04-24 14:28:32.746155508 +0000 UTC m=+291.158889500, time spent = 222.271µs, remote = 10.201.5.82:44416, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
