Feb 17 14:21:59 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Feb 17 14:21:59 ubuntu etcd[78769]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Feb 17 14:21:59 ubuntu etcd[78769]:         A future release of golang/protobuf will delete this package,
Feb 17 14:21:59 ubuntu etcd[78769]:         which has long been excluded from the compatibility promise.
Feb 17 14:21:59 ubuntu etcd[78769]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 17 14:21:59 ubuntu etcd[78769]: Running http and grpc server on single port. This is not recommended for production.
Feb 17 14:21:59 ubuntu etcd[78769]: etcd Version: 3.4.27
Feb 17 14:21:59 ubuntu etcd[78769]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 17 14:21:59 ubuntu etcd[78769]: Git SHA: c92fb80f3
Feb 17 14:21:59 ubuntu etcd[78769]: Go Version: go1.19.10
Feb 17 14:21:59 ubuntu etcd[78769]: Go OS/Arch: linux/amd64
Feb 17 14:21:59 ubuntu etcd[78769]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Feb 17 14:21:59 ubuntu etcd[78769]: Running http and grpc server on single port. This is not recommended for production.
Feb 17 14:21:59 ubuntu etcd[78769]: name = ubuntu
Feb 17 14:21:59 ubuntu etcd[78769]: data dir = /opt/stack/data/etcd
Feb 17 14:21:59 ubuntu etcd[78769]: member dir = /opt/stack/data/etcd/member
Feb 17 14:21:59 ubuntu etcd[78769]: heartbeat = 100ms
Feb 17 14:21:59 ubuntu etcd[78769]: election = 1000ms
Feb 17 14:21:59 ubuntu etcd[78769]: snapshot count = 100000
Feb 17 14:21:59 ubuntu etcd[78769]: advertise client URLs = http://10.201.5.82:2379
Feb 17 14:21:59 ubuntu etcd[78769]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Feb 17 14:21:59 ubuntu etcd[78769]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Feb 17 14:21:59 ubuntu etcd[78769]: raft2025/02/17 14:21:59 INFO: 43038365673ccf7b switched to configuration voters=()
Feb 17 14:21:59 ubuntu etcd[78769]: raft2025/02/17 14:21:59 INFO: 43038365673ccf7b became follower at term 0
Feb 17 14:21:59 ubuntu etcd[78769]: raft2025/02/17 14:21:59 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Feb 17 14:21:59 ubuntu etcd[78769]: raft2025/02/17 14:21:59 INFO: 43038365673ccf7b became follower at term 1
Feb 17 14:21:59 ubuntu etcd[78769]: raft2025/02/17 14:21:59 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Feb 17 14:21:59 ubuntu etcd[78769]: simple token is not cryptographically signed
Feb 17 14:21:59 ubuntu etcd[78769]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Feb 17 14:21:59 ubuntu etcd[78769]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Feb 17 14:21:59 ubuntu etcd[78769]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Feb 17 14:21:59 ubuntu etcd[78769]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Feb 17 14:21:59 ubuntu etcd[78769]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Feb 17 14:21:59 ubuntu etcd[78769]: raft2025/02/17 14:21:59 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Feb 17 14:21:59 ubuntu etcd[78769]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Feb 17 14:21:59 ubuntu etcd[78769]: listening for peers on [::]:2380
Feb 17 14:21:59 ubuntu etcd[78769]: raft2025/02/17 14:21:59 INFO: 43038365673ccf7b is starting a new election at term 1
Feb 17 14:21:59 ubuntu etcd[78769]: raft2025/02/17 14:21:59 INFO: 43038365673ccf7b became candidate at term 2
Feb 17 14:21:59 ubuntu etcd[78769]: raft2025/02/17 14:21:59 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Feb 17 14:21:59 ubuntu etcd[78769]: raft2025/02/17 14:21:59 INFO: 43038365673ccf7b became leader at term 2
Feb 17 14:21:59 ubuntu etcd[78769]: raft2025/02/17 14:21:59 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Feb 17 14:21:59 ubuntu etcd[78769]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Feb 17 14:21:59 ubuntu etcd[78769]: ready to serve client requests
Feb 17 14:21:59 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Feb 17 14:21:59 ubuntu etcd[78769]: setting up the initial cluster version to 3.4
Feb 17 14:21:59 ubuntu etcd[78769]: set the initial cluster version to 3.4
Feb 17 14:21:59 ubuntu etcd[78769]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Feb 17 14:21:59 ubuntu etcd[78769]: enabled capabilities for version 3.4
Feb 17 14:26:56 ubuntu etcd[78769]: start time = 2025-02-17 14:26:56.16438769 +0000 UTC m=+297.149951471, time spent = 2.725889ms, remote = 10.201.5.82:47864, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 17 14:26:56 ubuntu etcd[78769]: start time = 2025-02-17 14:26:56.173911669 +0000 UTC m=+297.159475464, time spent = 267.975µs, remote = 10.201.5.82:47864, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 17 14:27:03 ubuntu etcd[78769]: start time = 2025-02-17 14:27:03.082039622 +0000 UTC m=+304.067603415, time spent = 284.111µs, remote = 10.201.5.82:47864, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 17 14:27:05 ubuntu etcd[78769]: start time = 2025-02-17 14:27:05.023346538 +0000 UTC m=+306.008910331, time spent = 599.462µs, remote = 10.201.5.82:47864, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 17 14:30:05 ubuntu etcd[78769]: start time = 2025-02-17 14:30:05.795343461 +0000 UTC m=+486.780907270, time spent = 323.735µs, remote = 10.201.5.82:47864, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 17 14:30:05 ubuntu etcd[78769]: start time = 2025-02-17 14:30:05.799667482 +0000 UTC m=+486.785231291, time spent = 134.288µs, remote = 10.201.5.82:47864, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 17 14:30:10 ubuntu etcd[78769]: start time = 2025-02-17 14:30:10.062308134 +0000 UTC m=+491.047871930, time spent = 218.391µs, remote = 10.201.5.82:47864, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 17 14:30:10 ubuntu etcd[78769]: start time = 2025-02-17 14:30:10.250046548 +0000 UTC m=+491.235610341, time spent = 217.795µs, remote = 10.201.5.82:47864, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 17 14:32:00 ubuntu etcd[78769]: start time = 2025-02-17 14:32:00.636988177 +0000 UTC m=+601.622552059, time spent = 688.924µs, remote = 10.201.5.82:47864, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 17 14:32:00 ubuntu etcd[78769]: start time = 2025-02-17 14:32:00.6404597 +0000 UTC m=+601.626023491, time spent = 345.714µs, remote = 10.201.5.82:47864, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-da07c4e0-fb8b-46e8-a205-bdd2cdec7186" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-da07c4e0-fb8b-46e8-a205-bdd2cdec7186" value_size:16 lease:5727335265497490457 >> failure:<request_range:<key:"/tooz/lockscinder-da07c4e0-fb8b-46e8-a205-bdd2cdec7186" > >
Feb 17 14:32:03 ubuntu etcd[78769]: start time = 2025-02-17 14:32:03.541225403 +0000 UTC m=+604.526789195, time spent = 2.890929ms, remote = 10.201.5.82:47864, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-da07c4e0-fb8b-46e8-a205-bdd2cdec7186" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-da07c4e0-fb8b-46e8-a205-bdd2cdec7186" > > failure:<>
Feb 17 14:32:03 ubuntu etcd[78769]: start time = 2025-02-17 14:32:03.884023322 +0000 UTC m=+604.869587116, time spent = 285.681µs, remote = 10.201.5.82:47864, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 17 14:32:03 ubuntu etcd[78769]: start time = 2025-02-17 14:32:03.885958416 +0000 UTC m=+604.871522214, time spent = 300.642µs, remote = 10.201.5.82:47864, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-da07c4e0-fb8b-46e8-a205-bdd2cdec7186" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-da07c4e0-fb8b-46e8-a205-bdd2cdec7186" value_size:16 lease:5727335265497490461 >> failure:<request_range:<key:"/tooz/lockscinder-da07c4e0-fb8b-46e8-a205-bdd2cdec7186" > >
Feb 17 14:32:05 ubuntu etcd[78769]: start time = 2025-02-17 14:32:05.874346939 +0000 UTC m=+606.859910785, time spent = 288.674µs, remote = 10.201.5.82:47864, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-da07c4e0-fb8b-46e8-a205-bdd2cdec7186" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-da07c4e0-fb8b-46e8-a205-bdd2cdec7186" > > failure:<>
Feb 17 14:32:06 ubuntu etcd[78769]: start time = 2025-02-17 14:32:06.094768544 +0000 UTC m=+607.080332340, time spent = 278.085µs, remote = 10.201.5.82:47864, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 17 14:32:06 ubuntu etcd[78769]: start time = 2025-02-17 14:32:06.099139039 +0000 UTC m=+607.084702835, time spent = 170.775µs, remote = 10.201.5.82:47864, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-da07c4e0-fb8b-46e8-a205-bdd2cdec7186" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-da07c4e0-fb8b-46e8-a205-bdd2cdec7186" value_size:16 lease:5727335265497490465 >> failure:<request_range:<key:"/tooz/lockscinder-da07c4e0-fb8b-46e8-a205-bdd2cdec7186" > >
Feb 17 14:32:08 ubuntu etcd[78769]: start time = 2025-02-17 14:32:08.084263526 +0000 UTC m=+609.069827416, time spent = 573.27µs, remote = 10.201.5.82:47864, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-da07c4e0-fb8b-46e8-a205-bdd2cdec7186" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-da07c4e0-fb8b-46e8-a205-bdd2cdec7186" > > failure:<>
Feb 17 15:12:57 ubuntu etcd[78769]: start time = 2025-02-17 15:12:57.933574457 +0000 UTC m=+3058.919138346, time spent = 995.758µs, remote = 10.201.5.82:47864, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 17 15:12:57 ubuntu etcd[78769]: start time = 2025-02-17 15:12:57.936891475 +0000 UTC m=+3058.922455317, time spent = 561.419µs, remote = 10.201.5.82:47864, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-d9bb500a-7dd0-48c7-801b-19fd25fb19aa" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-d9bb500a-7dd0-48c7-801b-19fd25fb19aa" value_size:16 lease:5727335265497490472 >> failure:<request_range:<key:"/tooz/lockscinder-d9bb500a-7dd0-48c7-801b-19fd25fb19aa" > >
Feb 17 15:13:00 ubuntu etcd[78769]: start time = 2025-02-17 15:13:00.14343344 +0000 UTC m=+3061.128997239, time spent = 483.308µs, remote = 10.201.5.82:47864, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-d9bb500a-7dd0-48c7-801b-19fd25fb19aa" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-d9bb500a-7dd0-48c7-801b-19fd25fb19aa" > > failure:<>
Feb 17 15:13:00 ubuntu etcd[78769]: start time = 2025-02-17 15:13:00.469139986 +0000 UTC m=+3061.454703789, time spent = 286.428µs, remote = 10.201.5.82:47864, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 17 15:13:00 ubuntu etcd[78769]: start time = 2025-02-17 15:13:00.471322089 +0000 UTC m=+3061.456885889, time spent = 182.309µs, remote = 10.201.5.82:47864, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-d9bb500a-7dd0-48c7-801b-19fd25fb19aa" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-d9bb500a-7dd0-48c7-801b-19fd25fb19aa" value_size:16 lease:5727335265497490476 >> failure:<request_range:<key:"/tooz/lockscinder-d9bb500a-7dd0-48c7-801b-19fd25fb19aa" > >
Feb 17 15:13:01 ubuntu etcd[78769]: start time = 2025-02-17 15:13:01.873106148 +0000 UTC m=+3062.858669958, time spent = 337.876µs, remote = 10.201.5.82:47864, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-d9bb500a-7dd0-48c7-801b-19fd25fb19aa" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-d9bb500a-7dd0-48c7-801b-19fd25fb19aa" > > failure:<>
Feb 17 15:13:02 ubuntu etcd[78769]: start time = 2025-02-17 15:13:02.128808215 +0000 UTC m=+3063.114372008, time spent = 306.883µs, remote = 10.201.5.82:47864, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 17 15:13:02 ubuntu etcd[78769]: start time = 2025-02-17 15:13:02.131420117 +0000 UTC m=+3063.116984014, time spent = 522.177µs, remote = 10.201.5.82:47864, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-d9bb500a-7dd0-48c7-801b-19fd25fb19aa" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-d9bb500a-7dd0-48c7-801b-19fd25fb19aa" value_size:16 lease:5727335265497490480 >> failure:<request_range:<key:"/tooz/lockscinder-d9bb500a-7dd0-48c7-801b-19fd25fb19aa" > >
Feb 17 15:13:03 ubuntu etcd[78769]: start time = 2025-02-17 15:13:03.558224842 +0000 UTC m=+3064.543788699, time spent = 511.915µs, remote = 10.201.5.82:47864, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-d9bb500a-7dd0-48c7-801b-19fd25fb19aa" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-d9bb500a-7dd0-48c7-801b-19fd25fb19aa" > > failure:<>
