Dec 18 01:22:13 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 18 01:22:14 ubuntu etcd[67803]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 18 01:22:14 ubuntu etcd[67803]:         A future release of golang/protobuf will delete this package,
Dec 18 01:22:14 ubuntu etcd[67803]:         which has long been excluded from the compatibility promise.
Dec 18 01:22:14 ubuntu etcd[67803]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 18 01:22:14 ubuntu etcd[67803]: Running http and grpc server on single port. This is not recommended for production.
Dec 18 01:22:14 ubuntu etcd[67803]: etcd Version: 3.4.27
Dec 18 01:22:14 ubuntu etcd[67803]: Git SHA: c92fb80f3
Dec 18 01:22:14 ubuntu etcd[67803]: Go Version: go1.19.10
Dec 18 01:22:14 ubuntu etcd[67803]: Go OS/Arch: linux/amd64
Dec 18 01:22:14 ubuntu etcd[67803]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 18 01:22:14 ubuntu etcd[67803]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 18 01:22:14 ubuntu etcd[67803]: Running http and grpc server on single port. This is not recommended for production.
Dec 18 01:22:14 ubuntu etcd[67803]: name = ubuntu
Dec 18 01:22:14 ubuntu etcd[67803]: data dir = /opt/stack/data/etcd
Dec 18 01:22:14 ubuntu etcd[67803]: member dir = /opt/stack/data/etcd/member
Dec 18 01:22:14 ubuntu etcd[67803]: heartbeat = 100ms
Dec 18 01:22:14 ubuntu etcd[67803]: election = 1000ms
Dec 18 01:22:14 ubuntu etcd[67803]: snapshot count = 100000
Dec 18 01:22:14 ubuntu etcd[67803]: advertise client URLs = http://10.201.5.82:2379
Dec 18 01:22:14 ubuntu etcd[67803]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Dec 18 01:22:14 ubuntu etcd[67803]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Dec 18 01:22:14 ubuntu etcd[67803]: raft2024/12/18 01:22:14 INFO: 43038365673ccf7b switched to configuration voters=()
Dec 18 01:22:14 ubuntu etcd[67803]: raft2024/12/18 01:22:14 INFO: 43038365673ccf7b became follower at term 0
Dec 18 01:22:14 ubuntu etcd[67803]: raft2024/12/18 01:22:14 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Dec 18 01:22:14 ubuntu etcd[67803]: raft2024/12/18 01:22:14 INFO: 43038365673ccf7b became follower at term 1
Dec 18 01:22:14 ubuntu etcd[67803]: raft2024/12/18 01:22:14 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Dec 18 01:22:14 ubuntu etcd[67803]: simple token is not cryptographically signed
Dec 18 01:22:14 ubuntu etcd[67803]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Dec 18 01:22:14 ubuntu etcd[67803]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Dec 18 01:22:14 ubuntu etcd[67803]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Dec 18 01:22:14 ubuntu etcd[67803]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Dec 18 01:22:14 ubuntu etcd[67803]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Dec 18 01:22:14 ubuntu etcd[67803]: raft2024/12/18 01:22:14 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Dec 18 01:22:14 ubuntu etcd[67803]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Dec 18 01:22:14 ubuntu etcd[67803]: listening for peers on [::]:2380
Dec 18 01:22:14 ubuntu etcd[67803]: raft2024/12/18 01:22:14 INFO: 43038365673ccf7b is starting a new election at term 1
Dec 18 01:22:14 ubuntu etcd[67803]: raft2024/12/18 01:22:14 INFO: 43038365673ccf7b became candidate at term 2
Dec 18 01:22:14 ubuntu etcd[67803]: raft2024/12/18 01:22:14 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Dec 18 01:22:14 ubuntu etcd[67803]: raft2024/12/18 01:22:14 INFO: 43038365673ccf7b became leader at term 2
Dec 18 01:22:14 ubuntu etcd[67803]: raft2024/12/18 01:22:14 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Dec 18 01:22:14 ubuntu etcd[67803]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Dec 18 01:22:14 ubuntu etcd[67803]: setting up the initial cluster version to 3.4
Dec 18 01:22:14 ubuntu etcd[67803]: ready to serve client requests
Dec 18 01:22:14 ubuntu etcd[67803]: set the initial cluster version to 3.4
Dec 18 01:22:14 ubuntu etcd[67803]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Dec 18 01:22:14 ubuntu etcd[67803]: enabled capabilities for version 3.4
Dec 18 01:22:14 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Dec 18 01:26:58 ubuntu etcd[67803]: start time = 2024-12-18 01:26:58.153919987 +0000 UTC m=+284.164422571, time spent = 1.823159ms, remote = 10.201.5.82:54486, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 18 01:26:58 ubuntu etcd[67803]: start time = 2024-12-18 01:26:58.230780369 +0000 UTC m=+284.241282962, time spent = 524.906µs, remote = 10.201.5.82:54486, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 18 01:27:04 ubuntu etcd[67803]: start time = 2024-12-18 01:27:04.95738879 +0000 UTC m=+290.967891402, time spent = 298.263µs, remote = 10.201.5.82:54486, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 18 01:27:07 ubuntu etcd[67803]: start time = 2024-12-18 01:27:07.022043883 +0000 UTC m=+293.032546474, time spent = 219.009µs, remote = 10.201.5.82:54486, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 18 01:29:53 ubuntu etcd[67803]: start time = 2024-12-18 01:29:53.761382184 +0000 UTC m=+459.771884775, time spent = 439.17µs, remote = 10.201.5.82:54486, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 18 01:29:53 ubuntu etcd[67803]: start time = 2024-12-18 01:29:53.796746941 +0000 UTC m=+459.807249536, time spent = 164.148µs, remote = 10.201.5.82:54486, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 18 01:29:54 ubuntu etcd[67803]: start time = 2024-12-18 01:29:54.763062501 +0000 UTC m=+460.773565094, time spent = 363.676µs, remote = 10.201.5.82:54486, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 18 01:29:56 ubuntu etcd[67803]: start time = 2024-12-18 01:29:56.18028567 +0000 UTC m=+462.190788294, time spent = 303.641µs, remote = 10.201.5.82:54486, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 18 01:31:40 ubuntu etcd[67803]: start time = 2024-12-18 01:31:40.022444323 +0000 UTC m=+566.032946912, time spent = 303.528µs, remote = 10.201.5.82:54486, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 18 01:31:40 ubuntu etcd[67803]: start time = 2024-12-18 01:31:40.025558081 +0000 UTC m=+566.036060699, time spent = 1.755755ms, remote = 10.201.5.82:54486, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-b8a7441c-2970-4422-9088-b9e5f4263dea" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-b8a7441c-2970-4422-9088-b9e5f4263dea" value_size:16 lease:5727333904298119193 >> failure:<request_range:<key:"/tooz/lockscinder-b8a7441c-2970-4422-9088-b9e5f4263dea" > >
Dec 18 01:31:42 ubuntu etcd[67803]: start time = 2024-12-18 01:31:42.769377389 +0000 UTC m=+568.779880065, time spent = 551.657µs, remote = 10.201.5.82:54486, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-b8a7441c-2970-4422-9088-b9e5f4263dea" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-b8a7441c-2970-4422-9088-b9e5f4263dea" > > failure:<>
Dec 18 01:31:42 ubuntu etcd[67803]: start time = 2024-12-18 01:31:42.986583246 +0000 UTC m=+568.997085890, time spent = 851.259µs, remote = 10.201.5.82:54486, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 18 01:31:42 ubuntu etcd[67803]: start time = 2024-12-18 01:31:42.989384666 +0000 UTC m=+568.999887309, time spent = 338.244µs, remote = 10.201.5.82:54486, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-b8a7441c-2970-4422-9088-b9e5f4263dea" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-b8a7441c-2970-4422-9088-b9e5f4263dea" value_size:16 lease:5727333904298119197 >> failure:<request_range:<key:"/tooz/lockscinder-b8a7441c-2970-4422-9088-b9e5f4263dea" > >
Dec 18 01:31:43 ubuntu etcd[67803]: start time = 2024-12-18 01:31:43.720591521 +0000 UTC m=+569.731094125, time spent = 302.19µs, remote = 10.201.5.82:54486, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-b8a7441c-2970-4422-9088-b9e5f4263dea" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-b8a7441c-2970-4422-9088-b9e5f4263dea" > > failure:<>
Dec 18 01:31:43 ubuntu etcd[67803]: start time = 2024-12-18 01:31:43.914067669 +0000 UTC m=+569.924570356, time spent = 453.685µs, remote = 10.201.5.82:54486, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 18 01:31:43 ubuntu etcd[67803]: start time = 2024-12-18 01:31:43.917244573 +0000 UTC m=+569.927747171, time spent = 192.459µs, remote = 10.201.5.82:54486, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-b8a7441c-2970-4422-9088-b9e5f4263dea" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-b8a7441c-2970-4422-9088-b9e5f4263dea" value_size:16 lease:5727333904298119201 >> failure:<request_range:<key:"/tooz/lockscinder-b8a7441c-2970-4422-9088-b9e5f4263dea" > >
Dec 18 01:31:44 ubuntu etcd[67803]: start time = 2024-12-18 01:31:44.674968444 +0000 UTC m=+570.685471111, time spent = 544.721µs, remote = 10.201.5.82:54486, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-b8a7441c-2970-4422-9088-b9e5f4263dea" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-b8a7441c-2970-4422-9088-b9e5f4263dea" > > failure:<>
