Jun 11 10:57:58 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 11 10:57:58 ubuntu etcd[79628]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 11 10:57:58 ubuntu etcd[79628]:         A future release of golang/protobuf will delete this package,
Jun 11 10:57:58 ubuntu etcd[79628]:         which has long been excluded from the compatibility promise.
Jun 11 10:57:58 ubuntu etcd[79628]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 11 10:57:58 ubuntu etcd[79628]: Running http and grpc server on single port. This is not recommended for production.
Jun 11 10:57:58 ubuntu etcd[79628]: etcd Version: 3.4.27
Jun 11 10:57:58 ubuntu etcd[79628]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 11 10:57:58 ubuntu etcd[79628]: Git SHA: c92fb80f3
Jun 11 10:57:58 ubuntu etcd[79628]: Go Version: go1.19.10
Jun 11 10:57:58 ubuntu etcd[79628]: Go OS/Arch: linux/amd64
Jun 11 10:57:58 ubuntu etcd[79628]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 11 10:57:58 ubuntu etcd[79628]: Running http and grpc server on single port. This is not recommended for production.
Jun 11 10:57:58 ubuntu etcd[79628]: name = ubuntu
Jun 11 10:57:58 ubuntu etcd[79628]: data dir = /opt/stack/data/etcd
Jun 11 10:57:58 ubuntu etcd[79628]: member dir = /opt/stack/data/etcd/member
Jun 11 10:57:58 ubuntu etcd[79628]: heartbeat = 100ms
Jun 11 10:57:58 ubuntu etcd[79628]: election = 1000ms
Jun 11 10:57:58 ubuntu etcd[79628]: snapshot count = 100000
Jun 11 10:57:58 ubuntu etcd[79628]: advertise client URLs = http://10.201.5.82:2379
Jun 11 10:57:58 ubuntu etcd[79628]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 11 10:57:58 ubuntu etcd[79628]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jun 11 10:57:58 ubuntu etcd[79628]: raft2025/06/11 10:57:58 INFO: 43038365673ccf7b switched to configuration voters=()
Jun 11 10:57:58 ubuntu etcd[79628]: raft2025/06/11 10:57:58 INFO: 43038365673ccf7b became follower at term 0
Jun 11 10:57:58 ubuntu etcd[79628]: raft2025/06/11 10:57:58 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 11 10:57:58 ubuntu etcd[79628]: raft2025/06/11 10:57:58 INFO: 43038365673ccf7b became follower at term 1
Jun 11 10:57:58 ubuntu etcd[79628]: raft2025/06/11 10:57:58 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 11 10:57:58 ubuntu etcd[79628]: simple token is not cryptographically signed
Jun 11 10:57:58 ubuntu etcd[79628]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 11 10:57:58 ubuntu etcd[79628]: raft2025/06/11 10:57:58 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 11 10:57:58 ubuntu etcd[79628]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jun 11 10:57:58 ubuntu etcd[79628]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 11 10:57:58 ubuntu etcd[79628]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 11 10:57:58 ubuntu etcd[79628]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 11 10:57:58 ubuntu etcd[79628]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 11 10:57:58 ubuntu etcd[79628]: listening for peers on [::]:2380
Jun 11 10:57:59 ubuntu etcd[79628]: raft2025/06/11 10:57:59 INFO: 43038365673ccf7b is starting a new election at term 1
Jun 11 10:57:59 ubuntu etcd[79628]: raft2025/06/11 10:57:59 INFO: 43038365673ccf7b became candidate at term 2
Jun 11 10:57:59 ubuntu etcd[79628]: raft2025/06/11 10:57:59 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jun 11 10:57:59 ubuntu etcd[79628]: raft2025/06/11 10:57:59 INFO: 43038365673ccf7b became leader at term 2
Jun 11 10:57:59 ubuntu etcd[79628]: raft2025/06/11 10:57:59 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jun 11 10:57:59 ubuntu etcd[79628]: setting up the initial cluster version to 3.4
Jun 11 10:57:59 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 11 10:57:59 ubuntu etcd[79628]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jun 11 10:57:59 ubuntu etcd[79628]: ready to serve client requests
Jun 11 10:57:59 ubuntu etcd[79628]: set the initial cluster version to 3.4
Jun 11 10:57:59 ubuntu etcd[79628]: enabled capabilities for version 3.4
Jun 11 10:57:59 ubuntu etcd[79628]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jun 11 11:02:40 ubuntu etcd[79628]: start time = 2025-06-11 11:02:40.388455562 +0000 UTC m=+282.345300696, time spent = 646.767µs, remote = 10.201.5.82:58920, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 11:02:40 ubuntu etcd[79628]: start time = 2025-06-11 11:02:40.540908692 +0000 UTC m=+282.497753843, time spent = 280.317µs, remote = 10.201.5.82:58920, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 11:02:47 ubuntu etcd[79628]: start time = 2025-06-11 11:02:47.129099482 +0000 UTC m=+289.085944614, time spent = 252.985µs, remote = 10.201.5.82:58920, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 11 11:02:49 ubuntu etcd[79628]: start time = 2025-06-11 11:02:49.237285651 +0000 UTC m=+291.194130800, time spent = 356.792µs, remote = 10.201.5.82:58920, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
