Dec 08 12:26:05 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 08 12:26:05 ubuntu etcd[67535]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 08 12:26:05 ubuntu etcd[67535]:         A future release of golang/protobuf will delete this package,
Dec 08 12:26:05 ubuntu etcd[67535]:         which has long been excluded from the compatibility promise.
Dec 08 12:26:05 ubuntu etcd[67535]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 08 12:26:05 ubuntu etcd[67535]: Running http and grpc server on single port. This is not recommended for production.
Dec 08 12:26:05 ubuntu etcd[67535]: etcd Version: 3.4.27
Dec 08 12:26:05 ubuntu etcd[67535]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 08 12:26:05 ubuntu etcd[67535]: Git SHA: c92fb80f3
Dec 08 12:26:05 ubuntu etcd[67535]: Go Version: go1.19.10
Dec 08 12:26:05 ubuntu etcd[67535]: Go OS/Arch: linux/amd64
Dec 08 12:26:05 ubuntu etcd[67535]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 08 12:26:05 ubuntu etcd[67535]: Running http and grpc server on single port. This is not recommended for production.
Dec 08 12:26:05 ubuntu etcd[67535]: name = ubuntu
Dec 08 12:26:05 ubuntu etcd[67535]: data dir = /opt/stack/data/etcd
Dec 08 12:26:05 ubuntu etcd[67535]: member dir = /opt/stack/data/etcd/member
Dec 08 12:26:05 ubuntu etcd[67535]: heartbeat = 100ms
Dec 08 12:26:05 ubuntu etcd[67535]: election = 1000ms
Dec 08 12:26:05 ubuntu etcd[67535]: snapshot count = 100000
Dec 08 12:26:05 ubuntu etcd[67535]: advertise client URLs = http://10.201.5.82:2379
Dec 08 12:26:05 ubuntu etcd[67535]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Dec 08 12:26:05 ubuntu etcd[67535]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Dec 08 12:26:05 ubuntu etcd[67535]: raft2024/12/08 12:26:05 INFO: 43038365673ccf7b switched to configuration voters=()
Dec 08 12:26:05 ubuntu etcd[67535]: raft2024/12/08 12:26:05 INFO: 43038365673ccf7b became follower at term 0
Dec 08 12:26:05 ubuntu etcd[67535]: raft2024/12/08 12:26:05 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Dec 08 12:26:05 ubuntu etcd[67535]: raft2024/12/08 12:26:05 INFO: 43038365673ccf7b became follower at term 1
Dec 08 12:26:05 ubuntu etcd[67535]: raft2024/12/08 12:26:05 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Dec 08 12:26:05 ubuntu etcd[67535]: simple token is not cryptographically signed
Dec 08 12:26:05 ubuntu etcd[67535]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Dec 08 12:26:05 ubuntu etcd[67535]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Dec 08 12:26:05 ubuntu etcd[67535]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Dec 08 12:26:05 ubuntu etcd[67535]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Dec 08 12:26:05 ubuntu etcd[67535]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Dec 08 12:26:05 ubuntu etcd[67535]: raft2024/12/08 12:26:05 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Dec 08 12:26:05 ubuntu etcd[67535]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Dec 08 12:26:05 ubuntu etcd[67535]: listening for peers on [::]:2380
Dec 08 12:26:06 ubuntu etcd[67535]: raft2024/12/08 12:26:06 INFO: 43038365673ccf7b is starting a new election at term 1
Dec 08 12:26:06 ubuntu etcd[67535]: raft2024/12/08 12:26:06 INFO: 43038365673ccf7b became candidate at term 2
Dec 08 12:26:06 ubuntu etcd[67535]: raft2024/12/08 12:26:06 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Dec 08 12:26:06 ubuntu etcd[67535]: raft2024/12/08 12:26:06 INFO: 43038365673ccf7b became leader at term 2
Dec 08 12:26:06 ubuntu etcd[67535]: raft2024/12/08 12:26:06 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Dec 08 12:26:06 ubuntu etcd[67535]: setting up the initial cluster version to 3.4
Dec 08 12:26:06 ubuntu etcd[67535]: set the initial cluster version to 3.4
Dec 08 12:26:06 ubuntu etcd[67535]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Dec 08 12:26:06 ubuntu etcd[67535]: enabled capabilities for version 3.4
Dec 08 12:26:06 ubuntu etcd[67535]: ready to serve client requests
Dec 08 12:26:06 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Dec 08 12:26:06 ubuntu etcd[67535]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Dec 08 12:31:04 ubuntu etcd[67535]: start time = 2024-12-08 12:31:04.55558621 +0000 UTC m=+299.410975856, time spent = 753.935µs, remote = 10.201.5.82:48668, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 08 12:31:04 ubuntu etcd[67535]: start time = 2024-12-08 12:31:04.555586667 +0000 UTC m=+299.410976306, time spent = 2.972612ms, remote = 10.201.5.82:48668, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 08 12:31:11 ubuntu etcd[67535]: start time = 2024-12-08 12:31:11.323813979 +0000 UTC m=+306.179203633, time spent = 179.12µs, remote = 10.201.5.82:48668, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 08 12:31:13 ubuntu etcd[67535]: start time = 2024-12-08 12:31:13.410863377 +0000 UTC m=+308.266253024, time spent = 230.103µs, remote = 10.201.5.82:48668, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
