Jun 05 23:09:58 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 05 23:09:58 ubuntu etcd[79393]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 05 23:09:58 ubuntu etcd[79393]:         A future release of golang/protobuf will delete this package,
Jun 05 23:09:58 ubuntu etcd[79393]:         which has long been excluded from the compatibility promise.
Jun 05 23:09:58 ubuntu etcd[79393]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 05 23:09:58 ubuntu etcd[79393]: Running http and grpc server on single port. This is not recommended for production.
Jun 05 23:09:58 ubuntu etcd[79393]: etcd Version: 3.4.27
Jun 05 23:09:58 ubuntu etcd[79393]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 05 23:09:58 ubuntu etcd[79393]: Git SHA: c92fb80f3
Jun 05 23:09:58 ubuntu etcd[79393]: Go Version: go1.19.10
Jun 05 23:09:58 ubuntu etcd[79393]: Go OS/Arch: linux/amd64
Jun 05 23:09:58 ubuntu etcd[79393]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 05 23:09:58 ubuntu etcd[79393]: Running http and grpc server on single port. This is not recommended for production.
Jun 05 23:09:58 ubuntu etcd[79393]: name = ubuntu
Jun 05 23:09:58 ubuntu etcd[79393]: data dir = /opt/stack/data/etcd
Jun 05 23:09:58 ubuntu etcd[79393]: member dir = /opt/stack/data/etcd/member
Jun 05 23:09:58 ubuntu etcd[79393]: heartbeat = 100ms
Jun 05 23:09:58 ubuntu etcd[79393]: election = 1000ms
Jun 05 23:09:58 ubuntu etcd[79393]: snapshot count = 100000
Jun 05 23:09:58 ubuntu etcd[79393]: advertise client URLs = http://10.201.5.82:2379
Jun 05 23:09:58 ubuntu etcd[79393]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 05 23:09:58 ubuntu etcd[79393]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jun 05 23:09:58 ubuntu etcd[79393]: raft2025/06/05 23:09:58 INFO: 43038365673ccf7b switched to configuration voters=()
Jun 05 23:09:58 ubuntu etcd[79393]: raft2025/06/05 23:09:58 INFO: 43038365673ccf7b became follower at term 0
Jun 05 23:09:58 ubuntu etcd[79393]: raft2025/06/05 23:09:58 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 05 23:09:58 ubuntu etcd[79393]: raft2025/06/05 23:09:58 INFO: 43038365673ccf7b became follower at term 1
Jun 05 23:09:58 ubuntu etcd[79393]: raft2025/06/05 23:09:58 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 05 23:09:58 ubuntu etcd[79393]: simple token is not cryptographically signed
Jun 05 23:09:58 ubuntu etcd[79393]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 05 23:09:58 ubuntu etcd[79393]: listening for peers on [::]:2380
Jun 05 23:09:58 ubuntu etcd[79393]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 05 23:09:58 ubuntu etcd[79393]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 05 23:09:58 ubuntu etcd[79393]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 05 23:09:58 ubuntu etcd[79393]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 05 23:09:58 ubuntu etcd[79393]: raft2025/06/05 23:09:58 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 05 23:09:58 ubuntu etcd[79393]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jun 05 23:09:59 ubuntu etcd[79393]: raft2025/06/05 23:09:59 INFO: 43038365673ccf7b is starting a new election at term 1
Jun 05 23:09:59 ubuntu etcd[79393]: raft2025/06/05 23:09:59 INFO: 43038365673ccf7b became candidate at term 2
Jun 05 23:09:59 ubuntu etcd[79393]: raft2025/06/05 23:09:59 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jun 05 23:09:59 ubuntu etcd[79393]: raft2025/06/05 23:09:59 INFO: 43038365673ccf7b became leader at term 2
Jun 05 23:09:59 ubuntu etcd[79393]: raft2025/06/05 23:09:59 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jun 05 23:09:59 ubuntu etcd[79393]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jun 05 23:09:59 ubuntu etcd[79393]: setting up the initial cluster version to 3.4
Jun 05 23:09:59 ubuntu etcd[79393]: ready to serve client requests
Jun 05 23:09:59 ubuntu etcd[79393]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jun 05 23:09:59 ubuntu etcd[79393]: set the initial cluster version to 3.4
Jun 05 23:09:59 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 05 23:09:59 ubuntu etcd[79393]: enabled capabilities for version 3.4
Jun 05 23:14:34 ubuntu etcd[79393]: start time = 2025-06-05 23:14:34.389396371 +0000 UTC m=+275.504973766, time spent = 1.972175ms, remote = 10.201.5.82:33750, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 05 23:14:34 ubuntu etcd[79393]: start time = 2025-06-05 23:14:34.440415418 +0000 UTC m=+275.555992821, time spent = 334.391µs, remote = 10.201.5.82:33750, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 05 23:14:41 ubuntu etcd[79393]: start time = 2025-06-05 23:14:41.584159539 +0000 UTC m=+282.699736955, time spent = 211.404µs, remote = 10.201.5.82:33750, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 05 23:14:43 ubuntu etcd[79393]: start time = 2025-06-05 23:14:43.710122204 +0000 UTC m=+284.825699605, time spent = 193.262µs, remote = 10.201.5.82:33750, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
