Jun 06 15:06:27 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 06 15:06:27 ubuntu etcd[79689]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 06 15:06:27 ubuntu etcd[79689]:         A future release of golang/protobuf will delete this package,
Jun 06 15:06:27 ubuntu etcd[79689]:         which has long been excluded from the compatibility promise.
Jun 06 15:06:27 ubuntu etcd[79689]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 06 15:06:27 ubuntu etcd[79689]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 06 15:06:27 ubuntu etcd[79689]: Running http and grpc server on single port. This is not recommended for production.
Jun 06 15:06:27 ubuntu etcd[79689]: etcd Version: 3.4.27
Jun 06 15:06:27 ubuntu etcd[79689]: Git SHA: c92fb80f3
Jun 06 15:06:27 ubuntu etcd[79689]: Go Version: go1.19.10
Jun 06 15:06:27 ubuntu etcd[79689]: Go OS/Arch: linux/amd64
Jun 06 15:06:27 ubuntu etcd[79689]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 06 15:06:27 ubuntu etcd[79689]: Running http and grpc server on single port. This is not recommended for production.
Jun 06 15:06:27 ubuntu etcd[79689]: name = ubuntu
Jun 06 15:06:27 ubuntu etcd[79689]: data dir = /opt/stack/data/etcd
Jun 06 15:06:27 ubuntu etcd[79689]: member dir = /opt/stack/data/etcd/member
Jun 06 15:06:27 ubuntu etcd[79689]: heartbeat = 100ms
Jun 06 15:06:27 ubuntu etcd[79689]: election = 1000ms
Jun 06 15:06:27 ubuntu etcd[79689]: snapshot count = 100000
Jun 06 15:06:27 ubuntu etcd[79689]: advertise client URLs = http://10.201.5.82:2379
Jun 06 15:06:27 ubuntu etcd[79689]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 06 15:06:27 ubuntu etcd[79689]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jun 06 15:06:27 ubuntu etcd[79689]: raft2025/06/06 15:06:27 INFO: 43038365673ccf7b switched to configuration voters=()
Jun 06 15:06:27 ubuntu etcd[79689]: raft2025/06/06 15:06:27 INFO: 43038365673ccf7b became follower at term 0
Jun 06 15:06:27 ubuntu etcd[79689]: raft2025/06/06 15:06:27 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 06 15:06:27 ubuntu etcd[79689]: raft2025/06/06 15:06:27 INFO: 43038365673ccf7b became follower at term 1
Jun 06 15:06:27 ubuntu etcd[79689]: raft2025/06/06 15:06:27 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 06 15:06:27 ubuntu etcd[79689]: simple token is not cryptographically signed
Jun 06 15:06:27 ubuntu etcd[79689]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 06 15:06:27 ubuntu etcd[79689]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 06 15:06:27 ubuntu etcd[79689]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 06 15:06:27 ubuntu etcd[79689]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 06 15:06:27 ubuntu etcd[79689]: raft2025/06/06 15:06:27 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 06 15:06:27 ubuntu etcd[79689]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 06 15:06:27 ubuntu etcd[79689]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jun 06 15:06:27 ubuntu etcd[79689]: listening for peers on [::]:2380
Jun 06 15:06:28 ubuntu etcd[79689]: raft2025/06/06 15:06:28 INFO: 43038365673ccf7b is starting a new election at term 1
Jun 06 15:06:28 ubuntu etcd[79689]: raft2025/06/06 15:06:28 INFO: 43038365673ccf7b became candidate at term 2
Jun 06 15:06:28 ubuntu etcd[79689]: raft2025/06/06 15:06:28 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jun 06 15:06:28 ubuntu etcd[79689]: raft2025/06/06 15:06:28 INFO: 43038365673ccf7b became leader at term 2
Jun 06 15:06:28 ubuntu etcd[79689]: raft2025/06/06 15:06:28 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jun 06 15:06:28 ubuntu etcd[79689]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jun 06 15:06:28 ubuntu etcd[79689]: setting up the initial cluster version to 3.4
Jun 06 15:06:28 ubuntu etcd[79689]: ready to serve client requests
Jun 06 15:06:28 ubuntu etcd[79689]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jun 06 15:06:28 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 06 15:06:28 ubuntu etcd[79689]: set the initial cluster version to 3.4
Jun 06 15:06:28 ubuntu etcd[79689]: enabled capabilities for version 3.4
Jun 06 15:11:15 ubuntu etcd[79689]: start time = 2025-06-06 15:11:15.739055344 +0000 UTC m=+287.992703406, time spent = 686.935µs, remote = 10.201.5.82:44872, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 06 15:11:15 ubuntu etcd[79689]: start time = 2025-06-06 15:11:15.740310014 +0000 UTC m=+287.993958081, time spent = 153.075µs, remote = 10.201.5.82:44872, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 06 15:11:22 ubuntu etcd[79689]: start time = 2025-06-06 15:11:22.662550437 +0000 UTC m=+294.916198498, time spent = 233.482µs, remote = 10.201.5.82:44872, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 06 15:11:24 ubuntu etcd[79689]: start time = 2025-06-06 15:11:24.609527825 +0000 UTC m=+296.863175922, time spent = 262.2µs, remote = 10.201.5.82:44872, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
