Mar 12 07:18:50 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 12 07:18:50 ubuntu etcd[79070]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 12 07:18:50 ubuntu etcd[79070]:         A future release of golang/protobuf will delete this package,
Mar 12 07:18:50 ubuntu etcd[79070]:         which has long been excluded from the compatibility promise.
Mar 12 07:18:50 ubuntu etcd[79070]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 12 07:18:50 ubuntu etcd[79070]: Running http and grpc server on single port. This is not recommended for production.
Mar 12 07:18:50 ubuntu etcd[79070]: etcd Version: 3.4.27
Mar 12 07:18:50 ubuntu etcd[79070]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 12 07:18:50 ubuntu etcd[79070]: Git SHA: c92fb80f3
Mar 12 07:18:50 ubuntu etcd[79070]: Go Version: go1.19.10
Mar 12 07:18:50 ubuntu etcd[79070]: Go OS/Arch: linux/amd64
Mar 12 07:18:50 ubuntu etcd[79070]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 12 07:18:50 ubuntu etcd[79070]: Running http and grpc server on single port. This is not recommended for production.
Mar 12 07:18:50 ubuntu etcd[79070]: name = ubuntu
Mar 12 07:18:50 ubuntu etcd[79070]: data dir = /opt/stack/data/etcd
Mar 12 07:18:50 ubuntu etcd[79070]: member dir = /opt/stack/data/etcd/member
Mar 12 07:18:50 ubuntu etcd[79070]: heartbeat = 100ms
Mar 12 07:18:50 ubuntu etcd[79070]: election = 1000ms
Mar 12 07:18:50 ubuntu etcd[79070]: snapshot count = 100000
Mar 12 07:18:50 ubuntu etcd[79070]: advertise client URLs = http://10.201.5.82:2379
Mar 12 07:18:50 ubuntu etcd[79070]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 12 07:18:50 ubuntu etcd[79070]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Mar 12 07:18:50 ubuntu etcd[79070]: raft2025/03/12 07:18:50 INFO: 43038365673ccf7b switched to configuration voters=()
Mar 12 07:18:50 ubuntu etcd[79070]: raft2025/03/12 07:18:50 INFO: 43038365673ccf7b became follower at term 0
Mar 12 07:18:50 ubuntu etcd[79070]: raft2025/03/12 07:18:50 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 12 07:18:50 ubuntu etcd[79070]: raft2025/03/12 07:18:50 INFO: 43038365673ccf7b became follower at term 1
Mar 12 07:18:50 ubuntu etcd[79070]: raft2025/03/12 07:18:50 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 12 07:18:50 ubuntu etcd[79070]: simple token is not cryptographically signed
Mar 12 07:18:50 ubuntu etcd[79070]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 12 07:18:50 ubuntu etcd[79070]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 12 07:18:50 ubuntu etcd[79070]: raft2025/03/12 07:18:50 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 12 07:18:50 ubuntu etcd[79070]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Mar 12 07:18:50 ubuntu etcd[79070]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 12 07:18:50 ubuntu etcd[79070]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 12 07:18:50 ubuntu etcd[79070]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 12 07:18:50 ubuntu etcd[79070]: listening for peers on [::]:2380
Mar 12 07:18:51 ubuntu etcd[79070]: raft2025/03/12 07:18:51 INFO: 43038365673ccf7b is starting a new election at term 1
Mar 12 07:18:51 ubuntu etcd[79070]: raft2025/03/12 07:18:51 INFO: 43038365673ccf7b became candidate at term 2
Mar 12 07:18:51 ubuntu etcd[79070]: raft2025/03/12 07:18:51 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Mar 12 07:18:51 ubuntu etcd[79070]: raft2025/03/12 07:18:51 INFO: 43038365673ccf7b became leader at term 2
Mar 12 07:18:51 ubuntu etcd[79070]: raft2025/03/12 07:18:51 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Mar 12 07:18:51 ubuntu etcd[79070]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Mar 12 07:18:51 ubuntu etcd[79070]: setting up the initial cluster version to 3.4
Mar 12 07:18:51 ubuntu etcd[79070]: ready to serve client requests
Mar 12 07:18:51 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 12 07:18:51 ubuntu etcd[79070]: set the initial cluster version to 3.4
Mar 12 07:18:51 ubuntu etcd[79070]: enabled capabilities for version 3.4
Mar 12 07:18:51 ubuntu etcd[79070]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Mar 12 07:23:38 ubuntu etcd[79070]: start time = 2025-03-12 07:23:38.747269734 +0000 UTC m=+288.162065460, time spent = 1.555937ms, remote = 10.201.5.82:47128, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 12 07:23:38 ubuntu etcd[79070]: start time = 2025-03-12 07:23:38.779926644 +0000 UTC m=+288.194722369, time spent = 202.198µs, remote = 10.201.5.82:47128, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 12 07:23:45 ubuntu etcd[79070]: start time = 2025-03-12 07:23:45.415989851 +0000 UTC m=+294.830785576, time spent = 205.116µs, remote = 10.201.5.82:47128, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 12 07:23:47 ubuntu etcd[79070]: start time = 2025-03-12 07:23:47.461011298 +0000 UTC m=+296.875807019, time spent = 674.86µs, remote = 10.201.5.82:47128, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
