Aug 21 21:31:48 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Aug 21 21:31:48 ubuntu etcd[68142]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Aug 21 21:31:48 ubuntu etcd[68142]:         A future release of golang/protobuf will delete this package,
Aug 21 21:31:48 ubuntu etcd[68142]:         which has long been excluded from the compatibility promise.
Aug 21 21:31:48 ubuntu etcd[68142]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 21 21:31:48 ubuntu etcd[68142]: Running http and grpc server on single port. This is not recommended for production.
Aug 21 21:31:48 ubuntu etcd[68142]: etcd Version: 3.4.27
Aug 21 21:31:48 ubuntu etcd[68142]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 21 21:31:48 ubuntu etcd[68142]: Git SHA: c92fb80f3
Aug 21 21:31:48 ubuntu etcd[68142]: Go Version: go1.19.10
Aug 21 21:31:48 ubuntu etcd[68142]: Go OS/Arch: linux/amd64
Aug 21 21:31:48 ubuntu etcd[68142]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Aug 21 21:31:48 ubuntu etcd[68142]: Running http and grpc server on single port. This is not recommended for production.
Aug 21 21:31:48 ubuntu etcd[68142]: name = ubuntu
Aug 21 21:31:48 ubuntu etcd[68142]: data dir = /opt/stack/data/etcd
Aug 21 21:31:48 ubuntu etcd[68142]: member dir = /opt/stack/data/etcd/member
Aug 21 21:31:48 ubuntu etcd[68142]: heartbeat = 100ms
Aug 21 21:31:48 ubuntu etcd[68142]: election = 1000ms
Aug 21 21:31:48 ubuntu etcd[68142]: snapshot count = 100000
Aug 21 21:31:48 ubuntu etcd[68142]: advertise client URLs = http://10.201.5.82:2379
Aug 21 21:31:48 ubuntu etcd[68142]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Aug 21 21:31:48 ubuntu etcd[68142]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Aug 21 21:31:48 ubuntu etcd[68142]: raft2024/08/21 21:31:48 INFO: 43038365673ccf7b switched to configuration voters=()
Aug 21 21:31:48 ubuntu etcd[68142]: raft2024/08/21 21:31:48 INFO: 43038365673ccf7b became follower at term 0
Aug 21 21:31:48 ubuntu etcd[68142]: raft2024/08/21 21:31:48 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Aug 21 21:31:48 ubuntu etcd[68142]: raft2024/08/21 21:31:48 INFO: 43038365673ccf7b became follower at term 1
Aug 21 21:31:48 ubuntu etcd[68142]: raft2024/08/21 21:31:48 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Aug 21 21:31:48 ubuntu etcd[68142]: simple token is not cryptographically signed
Aug 21 21:31:48 ubuntu etcd[68142]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Aug 21 21:31:48 ubuntu etcd[68142]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Aug 21 21:31:48 ubuntu etcd[68142]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Aug 21 21:31:48 ubuntu etcd[68142]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Aug 21 21:31:48 ubuntu etcd[68142]: raft2024/08/21 21:31:48 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Aug 21 21:31:48 ubuntu etcd[68142]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Aug 21 21:31:48 ubuntu etcd[68142]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Aug 21 21:31:48 ubuntu etcd[68142]: listening for peers on [::]:2380
Aug 21 21:31:49 ubuntu etcd[68142]: raft2024/08/21 21:31:49 INFO: 43038365673ccf7b is starting a new election at term 1
Aug 21 21:31:49 ubuntu etcd[68142]: raft2024/08/21 21:31:49 INFO: 43038365673ccf7b became candidate at term 2
Aug 21 21:31:49 ubuntu etcd[68142]: raft2024/08/21 21:31:49 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Aug 21 21:31:49 ubuntu etcd[68142]: raft2024/08/21 21:31:49 INFO: 43038365673ccf7b became leader at term 2
Aug 21 21:31:49 ubuntu etcd[68142]: raft2024/08/21 21:31:49 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Aug 21 21:31:49 ubuntu etcd[68142]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Aug 21 21:31:49 ubuntu etcd[68142]: ready to serve client requests
Aug 21 21:31:49 ubuntu etcd[68142]: setting up the initial cluster version to 3.4
Aug 21 21:31:49 ubuntu etcd[68142]: set the initial cluster version to 3.4
Aug 21 21:31:49 ubuntu etcd[68142]: enabled capabilities for version 3.4
Aug 21 21:31:49 ubuntu etcd[68142]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Aug 21 21:31:49 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Aug 21 21:36:48 ubuntu etcd[68142]: start time = 2024-08-21 21:36:48.675763213 +0000 UTC m=+300.311770463, time spent = 1.438211ms, remote = 10.201.5.82:44734, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 21 21:36:48 ubuntu etcd[68142]: start time = 2024-08-21 21:36:48.683497535 +0000 UTC m=+300.319504798, time spent = 206.736µs, remote = 10.201.5.82:44734, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 21 21:36:55 ubuntu etcd[68142]: start time = 2024-08-21 21:36:55.746294468 +0000 UTC m=+307.382301729, time spent = 420.367µs, remote = 10.201.5.82:44734, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 21 21:36:58 ubuntu etcd[68142]: start time = 2024-08-21 21:36:58.137756889 +0000 UTC m=+309.773764148, time spent = 259.856µs, remote = 10.201.5.82:44734, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
