Jul 24 15:44:11 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 24 15:44:11 ubuntu etcd[79209]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 24 15:44:11 ubuntu etcd[79209]:         A future release of golang/protobuf will delete this package,
Jul 24 15:44:11 ubuntu etcd[79209]:         which has long been excluded from the compatibility promise.
Jul 24 15:44:11 ubuntu etcd[79209]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 24 15:44:11 ubuntu etcd[79209]: Running http and grpc server on single port. This is not recommended for production.
Jul 24 15:44:11 ubuntu etcd[79209]: etcd Version: 3.4.27
Jul 24 15:44:11 ubuntu etcd[79209]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 24 15:44:11 ubuntu etcd[79209]: Git SHA: c92fb80f3
Jul 24 15:44:11 ubuntu etcd[79209]: Go Version: go1.19.10
Jul 24 15:44:11 ubuntu etcd[79209]: Go OS/Arch: linux/amd64
Jul 24 15:44:11 ubuntu etcd[79209]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 24 15:44:11 ubuntu etcd[79209]: Running http and grpc server on single port. This is not recommended for production.
Jul 24 15:44:11 ubuntu etcd[79209]: name = ubuntu
Jul 24 15:44:11 ubuntu etcd[79209]: data dir = /opt/stack/data/etcd
Jul 24 15:44:11 ubuntu etcd[79209]: member dir = /opt/stack/data/etcd/member
Jul 24 15:44:11 ubuntu etcd[79209]: heartbeat = 100ms
Jul 24 15:44:11 ubuntu etcd[79209]: election = 1000ms
Jul 24 15:44:11 ubuntu etcd[79209]: snapshot count = 100000
Jul 24 15:44:11 ubuntu etcd[79209]: advertise client URLs = http://10.201.5.82:2379
Jul 24 15:44:11 ubuntu etcd[79209]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 24 15:44:12 ubuntu etcd[79209]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jul 24 15:44:12 ubuntu etcd[79209]: raft2025/07/24 15:44:12 INFO: 43038365673ccf7b switched to configuration voters=()
Jul 24 15:44:12 ubuntu etcd[79209]: raft2025/07/24 15:44:12 INFO: 43038365673ccf7b became follower at term 0
Jul 24 15:44:12 ubuntu etcd[79209]: raft2025/07/24 15:44:12 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 24 15:44:12 ubuntu etcd[79209]: raft2025/07/24 15:44:12 INFO: 43038365673ccf7b became follower at term 1
Jul 24 15:44:12 ubuntu etcd[79209]: raft2025/07/24 15:44:12 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 24 15:44:12 ubuntu etcd[79209]: simple token is not cryptographically signed
Jul 24 15:44:12 ubuntu etcd[79209]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 24 15:44:12 ubuntu etcd[79209]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 24 15:44:12 ubuntu etcd[79209]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 24 15:44:12 ubuntu etcd[79209]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 24 15:44:12 ubuntu etcd[79209]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 24 15:44:12 ubuntu etcd[79209]: raft2025/07/24 15:44:12 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 24 15:44:12 ubuntu etcd[79209]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jul 24 15:44:12 ubuntu etcd[79209]: listening for peers on [::]:2380
Jul 24 15:44:12 ubuntu etcd[79209]: raft2025/07/24 15:44:12 INFO: 43038365673ccf7b is starting a new election at term 1
Jul 24 15:44:12 ubuntu etcd[79209]: raft2025/07/24 15:44:12 INFO: 43038365673ccf7b became candidate at term 2
Jul 24 15:44:12 ubuntu etcd[79209]: raft2025/07/24 15:44:12 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jul 24 15:44:12 ubuntu etcd[79209]: raft2025/07/24 15:44:12 INFO: 43038365673ccf7b became leader at term 2
Jul 24 15:44:12 ubuntu etcd[79209]: raft2025/07/24 15:44:12 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jul 24 15:44:12 ubuntu etcd[79209]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jul 24 15:44:12 ubuntu etcd[79209]: setting up the initial cluster version to 3.4
Jul 24 15:44:12 ubuntu etcd[79209]: ready to serve client requests
Jul 24 15:44:12 ubuntu etcd[79209]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jul 24 15:44:12 ubuntu etcd[79209]: set the initial cluster version to 3.4
Jul 24 15:44:12 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 24 15:44:12 ubuntu etcd[79209]: enabled capabilities for version 3.4
Jul 24 15:49:04 ubuntu etcd[79209]: start time = 2025-07-24 15:49:04.26414374 +0000 UTC m=+292.287778736, time spent = 2.339147ms, remote = 10.201.5.82:38004, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 24 15:49:04 ubuntu etcd[79209]: start time = 2025-07-24 15:49:04.283341975 +0000 UTC m=+292.306976978, time spent = 1.397888ms, remote = 10.201.5.82:38004, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 24 15:49:11 ubuntu etcd[79209]: start time = 2025-07-24 15:49:11.314946528 +0000 UTC m=+299.338581531, time spent = 363.179µs, remote = 10.201.5.82:38004, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 24 15:49:13 ubuntu etcd[79209]: start time = 2025-07-24 15:49:13.430096898 +0000 UTC m=+301.453731902, time spent = 273.82µs, remote = 10.201.5.82:38004, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 24 15:52:41 ubuntu etcd[79209]: start time = 2025-07-24 15:52:41.495932509 +0000 UTC m=+509.519567561, time spent = 651.147µs, remote = 10.201.5.82:38004, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 24 15:52:41 ubuntu etcd[79209]: start time = 2025-07-24 15:52:41.501166016 +0000 UTC m=+509.524801086, time spent = 275.261µs, remote = 10.201.5.82:38004, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 24 15:52:45 ubuntu etcd[79209]: start time = 2025-07-24 15:52:45.961778493 +0000 UTC m=+513.985413494, time spent = 211.062µs, remote = 10.201.5.82:38004, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 24 15:52:46 ubuntu etcd[79209]: start time = 2025-07-24 15:52:46.012488249 +0000 UTC m=+514.036123248, time spent = 392.712µs, remote = 10.201.5.82:38004, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 24 15:59:30 ubuntu etcd[79209]: start time = 2025-07-24 15:59:30.449374437 +0000 UTC m=+918.473009441, time spent = 509.911µs, remote = 10.201.5.82:38004, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 24 15:59:30 ubuntu etcd[79209]: start time = 2025-07-24 15:59:30.459428694 +0000 UTC m=+918.483063745, time spent = 6.21481ms, remote = 10.201.5.82:38004, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-37476557-e5fc-4861-b677-5ec435be9e1e" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-37476557-e5fc-4861-b677-5ec435be9e1e" value_size:16 lease:5727338739349127193 >> failure:<request_range:<key:"/tooz/lockscinder-37476557-e5fc-4861-b677-5ec435be9e1e" > >
Jul 24 15:59:33 ubuntu etcd[79209]: start time = 2025-07-24 15:59:33.118052634 +0000 UTC m=+921.141687734, time spent = 1.566269ms, remote = 10.201.5.82:38004, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-37476557-e5fc-4861-b677-5ec435be9e1e" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-37476557-e5fc-4861-b677-5ec435be9e1e" > > failure:<>
Jul 24 15:59:33 ubuntu etcd[79209]: start time = 2025-07-24 15:59:33.359139722 +0000 UTC m=+921.382774723, time spent = 303.222µs, remote = 10.201.5.82:38004, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 24 15:59:33 ubuntu etcd[79209]: start time = 2025-07-24 15:59:33.360956172 +0000 UTC m=+921.384591180, time spent = 167.719µs, remote = 10.201.5.82:38004, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-37476557-e5fc-4861-b677-5ec435be9e1e" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-37476557-e5fc-4861-b677-5ec435be9e1e" value_size:16 lease:5727338739349127197 >> failure:<request_range:<key:"/tooz/lockscinder-37476557-e5fc-4861-b677-5ec435be9e1e" > >
Jul 24 15:59:36 ubuntu etcd[79209]: start time = 2025-07-24 15:59:36.180754665 +0000 UTC m=+924.204389773, time spent = 541.397µs, remote = 10.201.5.82:38004, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-37476557-e5fc-4861-b677-5ec435be9e1e" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-37476557-e5fc-4861-b677-5ec435be9e1e" > > failure:<>
Jul 24 15:59:36 ubuntu etcd[79209]: start time = 2025-07-24 15:59:36.457083653 +0000 UTC m=+924.480718656, time spent = 243.465µs, remote = 10.201.5.82:38004, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 24 15:59:36 ubuntu etcd[79209]: start time = 2025-07-24 15:59:36.45887786 +0000 UTC m=+924.482512863, time spent = 157.826µs, remote = 10.201.5.82:38004, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-37476557-e5fc-4861-b677-5ec435be9e1e" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-37476557-e5fc-4861-b677-5ec435be9e1e" value_size:16 lease:5727338739349127201 >> failure:<request_range:<key:"/tooz/lockscinder-37476557-e5fc-4861-b677-5ec435be9e1e" > >
Jul 24 15:59:38 ubuntu etcd[79209]: start time = 2025-07-24 15:59:38.281159848 +0000 UTC m=+926.304794956, time spent = 583.779µs, remote = 10.201.5.82:38004, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-37476557-e5fc-4861-b677-5ec435be9e1e" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-37476557-e5fc-4861-b677-5ec435be9e1e" > > failure:<>
