Nov 28 05:17:46 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Nov 28 05:17:46 ubuntu etcd[67602]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Nov 28 05:17:46 ubuntu etcd[67602]:         A future release of golang/protobuf will delete this package,
Nov 28 05:17:46 ubuntu etcd[67602]:         which has long been excluded from the compatibility promise.
Nov 28 05:17:46 ubuntu etcd[67602]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Nov 28 05:17:46 ubuntu etcd[67602]: Running http and grpc server on single port. This is not recommended for production.
Nov 28 05:17:46 ubuntu etcd[67602]: etcd Version: 3.4.27
Nov 28 05:17:46 ubuntu etcd[67602]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Nov 28 05:17:46 ubuntu etcd[67602]: Git SHA: c92fb80f3
Nov 28 05:17:46 ubuntu etcd[67602]: Go Version: go1.19.10
Nov 28 05:17:46 ubuntu etcd[67602]: Go OS/Arch: linux/amd64
Nov 28 05:17:46 ubuntu etcd[67602]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Nov 28 05:17:46 ubuntu etcd[67602]: Running http and grpc server on single port. This is not recommended for production.
Nov 28 05:17:46 ubuntu etcd[67602]: name = ubuntu
Nov 28 05:17:46 ubuntu etcd[67602]: data dir = /opt/stack/data/etcd
Nov 28 05:17:46 ubuntu etcd[67602]: member dir = /opt/stack/data/etcd/member
Nov 28 05:17:46 ubuntu etcd[67602]: heartbeat = 100ms
Nov 28 05:17:46 ubuntu etcd[67602]: election = 1000ms
Nov 28 05:17:46 ubuntu etcd[67602]: snapshot count = 100000
Nov 28 05:17:46 ubuntu etcd[67602]: advertise client URLs = http://10.201.5.82:2379
Nov 28 05:17:46 ubuntu etcd[67602]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Nov 28 05:17:46 ubuntu etcd[67602]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Nov 28 05:17:46 ubuntu etcd[67602]: raft2024/11/28 05:17:46 INFO: 43038365673ccf7b switched to configuration voters=()
Nov 28 05:17:46 ubuntu etcd[67602]: raft2024/11/28 05:17:46 INFO: 43038365673ccf7b became follower at term 0
Nov 28 05:17:46 ubuntu etcd[67602]: raft2024/11/28 05:17:46 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Nov 28 05:17:46 ubuntu etcd[67602]: raft2024/11/28 05:17:46 INFO: 43038365673ccf7b became follower at term 1
Nov 28 05:17:46 ubuntu etcd[67602]: raft2024/11/28 05:17:46 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Nov 28 05:17:46 ubuntu etcd[67602]: simple token is not cryptographically signed
Nov 28 05:17:46 ubuntu etcd[67602]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Nov 28 05:17:46 ubuntu etcd[67602]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Nov 28 05:17:46 ubuntu etcd[67602]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Nov 28 05:17:46 ubuntu etcd[67602]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Nov 28 05:17:46 ubuntu etcd[67602]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Nov 28 05:17:46 ubuntu etcd[67602]: raft2024/11/28 05:17:46 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Nov 28 05:17:46 ubuntu etcd[67602]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Nov 28 05:17:46 ubuntu etcd[67602]: listening for peers on [::]:2380
Nov 28 05:17:47 ubuntu etcd[67602]: raft2024/11/28 05:17:47 INFO: 43038365673ccf7b is starting a new election at term 1
Nov 28 05:17:47 ubuntu etcd[67602]: raft2024/11/28 05:17:47 INFO: 43038365673ccf7b became candidate at term 2
Nov 28 05:17:47 ubuntu etcd[67602]: raft2024/11/28 05:17:47 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Nov 28 05:17:47 ubuntu etcd[67602]: raft2024/11/28 05:17:47 INFO: 43038365673ccf7b became leader at term 2
Nov 28 05:17:47 ubuntu etcd[67602]: raft2024/11/28 05:17:47 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Nov 28 05:17:47 ubuntu etcd[67602]: ready to serve client requests
Nov 28 05:17:47 ubuntu etcd[67602]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Nov 28 05:17:47 ubuntu etcd[67602]: setting up the initial cluster version to 3.4
Nov 28 05:17:47 ubuntu etcd[67602]: set the initial cluster version to 3.4
Nov 28 05:17:47 ubuntu etcd[67602]: enabled capabilities for version 3.4
Nov 28 05:17:47 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Nov 28 05:17:47 ubuntu etcd[67602]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Nov 28 05:22:49 ubuntu etcd[67602]: start time = 2024-11-28 05:22:49.687750088 +0000 UTC m=+303.264142452, time spent = 1.037887ms, remote = 10.201.5.82:33184, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 28 05:22:49 ubuntu etcd[67602]: start time = 2024-11-28 05:22:49.686652113 +0000 UTC m=+303.263044459, time spent = 2.476425ms, remote = 10.201.5.82:33184, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 28 05:22:56 ubuntu etcd[67602]: start time = 2024-11-28 05:22:56.366728819 +0000 UTC m=+309.943121181, time spent = 422.472µs, remote = 10.201.5.82:33184, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 28 05:22:58 ubuntu etcd[67602]: start time = 2024-11-28 05:22:58.373098899 +0000 UTC m=+311.949491256, time spent = 258.683µs, remote = 10.201.5.82:33184, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 28 05:26:35 ubuntu etcd[67602]: start time = 2024-11-28 05:26:35.908630083 +0000 UTC m=+529.485022438, time spent = 630.598µs, remote = 10.201.5.82:33184, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 28 05:26:36 ubuntu etcd[67602]: start time = 2024-11-28 05:26:36.264086887 +0000 UTC m=+529.840479248, time spent = 215.623µs, remote = 10.201.5.82:33184, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 28 05:26:36 ubuntu etcd[67602]: start time = 2024-11-28 05:26:36.33214439 +0000 UTC m=+529.908536752, time spent = 185.92µs, remote = 10.201.5.82:33184, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 28 05:26:38 ubuntu etcd[67602]: start time = 2024-11-28 05:26:38.589530763 +0000 UTC m=+532.165923225, time spent = 444.527µs, remote = 10.201.5.82:33184, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 28 05:28:29 ubuntu etcd[67602]: start time = 2024-11-28 05:28:29.77186903 +0000 UTC m=+643.348261385, time spent = 380.34µs, remote = 10.201.5.82:33184, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 28 05:28:29 ubuntu etcd[67602]: start time = 2024-11-28 05:28:29.777971564 +0000 UTC m=+643.354363972, time spent = 1.052725ms, remote = 10.201.5.82:33184, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-23953e7e-27c5-437e-a1e7-35a5f7bb8b37" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-23953e7e-27c5-437e-a1e7-35a5f7bb8b37" value_size:16 lease:5727333465548022809 >> failure:<request_range:<key:"/tooz/lockscinder-23953e7e-27c5-437e-a1e7-35a5f7bb8b37" > >
Nov 28 05:28:32 ubuntu etcd[67602]: start time = 2024-11-28 05:28:32.477684539 +0000 UTC m=+646.054076991, time spent = 694.282µs, remote = 10.201.5.82:33184, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-23953e7e-27c5-437e-a1e7-35a5f7bb8b37" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-23953e7e-27c5-437e-a1e7-35a5f7bb8b37" > > failure:<>
Nov 28 05:28:32 ubuntu etcd[67602]: start time = 2024-11-28 05:28:32.856245241 +0000 UTC m=+646.432637617, time spent = 271.79µs, remote = 10.201.5.82:33184, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 28 05:28:32 ubuntu etcd[67602]: start time = 2024-11-28 05:28:32.859176297 +0000 UTC m=+646.435568702, time spent = 416.507µs, remote = 10.201.5.82:33184, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-23953e7e-27c5-437e-a1e7-35a5f7bb8b37" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-23953e7e-27c5-437e-a1e7-35a5f7bb8b37" value_size:16 lease:5727333465548022813 >> failure:<request_range:<key:"/tooz/lockscinder-23953e7e-27c5-437e-a1e7-35a5f7bb8b37" > >
Nov 28 05:28:33 ubuntu etcd[67602]: start time = 2024-11-28 05:28:33.645687451 +0000 UTC m=+647.222079822, time spent = 383.776µs, remote = 10.201.5.82:33184, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-23953e7e-27c5-437e-a1e7-35a5f7bb8b37" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-23953e7e-27c5-437e-a1e7-35a5f7bb8b37" > > failure:<>
Nov 28 05:28:33 ubuntu etcd[67602]: start time = 2024-11-28 05:28:33.876073415 +0000 UTC m=+647.452465869, time spent = 611.062µs, remote = 10.201.5.82:33184, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 28 05:28:33 ubuntu etcd[67602]: start time = 2024-11-28 05:28:33.879291577 +0000 UTC m=+647.455684002, time spent = 332.013µs, remote = 10.201.5.82:33184, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-23953e7e-27c5-437e-a1e7-35a5f7bb8b37" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-23953e7e-27c5-437e-a1e7-35a5f7bb8b37" value_size:16 lease:5727333465548022817 >> failure:<request_range:<key:"/tooz/lockscinder-23953e7e-27c5-437e-a1e7-35a5f7bb8b37" > >
Nov 28 05:28:34 ubuntu etcd[67602]: start time = 2024-11-28 05:28:34.696175623 +0000 UTC m=+648.272567983, time spent = 275.862µs, remote = 10.201.5.82:33184, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-23953e7e-27c5-437e-a1e7-35a5f7bb8b37" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-23953e7e-27c5-437e-a1e7-35a5f7bb8b37" > > failure:<>
