Jul 18 16:47:22 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 18 16:47:22 ubuntu etcd[79201]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 18 16:47:22 ubuntu etcd[79201]:         A future release of golang/protobuf will delete this package,
Jul 18 16:47:22 ubuntu etcd[79201]:         which has long been excluded from the compatibility promise.
Jul 18 16:47:22 ubuntu etcd[79201]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 18 16:47:22 ubuntu etcd[79201]: Running http and grpc server on single port. This is not recommended for production.
Jul 18 16:47:22 ubuntu etcd[79201]: etcd Version: 3.4.27
Jul 18 16:47:22 ubuntu etcd[79201]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 18 16:47:22 ubuntu etcd[79201]: Git SHA: c92fb80f3
Jul 18 16:47:22 ubuntu etcd[79201]: Go Version: go1.19.10
Jul 18 16:47:22 ubuntu etcd[79201]: Go OS/Arch: linux/amd64
Jul 18 16:47:22 ubuntu etcd[79201]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 18 16:47:22 ubuntu etcd[79201]: Running http and grpc server on single port. This is not recommended for production.
Jul 18 16:47:22 ubuntu etcd[79201]: name = ubuntu
Jul 18 16:47:22 ubuntu etcd[79201]: data dir = /opt/stack/data/etcd
Jul 18 16:47:22 ubuntu etcd[79201]: member dir = /opt/stack/data/etcd/member
Jul 18 16:47:22 ubuntu etcd[79201]: heartbeat = 100ms
Jul 18 16:47:22 ubuntu etcd[79201]: election = 1000ms
Jul 18 16:47:22 ubuntu etcd[79201]: snapshot count = 100000
Jul 18 16:47:22 ubuntu etcd[79201]: advertise client URLs = http://10.201.5.82:2379
Jul 18 16:47:22 ubuntu etcd[79201]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 18 16:47:22 ubuntu etcd[79201]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jul 18 16:47:22 ubuntu etcd[79201]: raft2025/07/18 16:47:22 INFO: 43038365673ccf7b switched to configuration voters=()
Jul 18 16:47:22 ubuntu etcd[79201]: raft2025/07/18 16:47:22 INFO: 43038365673ccf7b became follower at term 0
Jul 18 16:47:22 ubuntu etcd[79201]: raft2025/07/18 16:47:22 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 18 16:47:22 ubuntu etcd[79201]: raft2025/07/18 16:47:22 INFO: 43038365673ccf7b became follower at term 1
Jul 18 16:47:22 ubuntu etcd[79201]: raft2025/07/18 16:47:22 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 18 16:47:22 ubuntu etcd[79201]: simple token is not cryptographically signed
Jul 18 16:47:22 ubuntu etcd[79201]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 18 16:47:22 ubuntu etcd[79201]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 18 16:47:22 ubuntu etcd[79201]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 18 16:47:22 ubuntu etcd[79201]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 18 16:47:22 ubuntu etcd[79201]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 18 16:47:22 ubuntu etcd[79201]: raft2025/07/18 16:47:22 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 18 16:47:22 ubuntu etcd[79201]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jul 18 16:47:22 ubuntu etcd[79201]: listening for peers on [::]:2380
Jul 18 16:47:23 ubuntu etcd[79201]: raft2025/07/18 16:47:23 INFO: 43038365673ccf7b is starting a new election at term 1
Jul 18 16:47:23 ubuntu etcd[79201]: raft2025/07/18 16:47:23 INFO: 43038365673ccf7b became candidate at term 2
Jul 18 16:47:23 ubuntu etcd[79201]: raft2025/07/18 16:47:23 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jul 18 16:47:23 ubuntu etcd[79201]: raft2025/07/18 16:47:23 INFO: 43038365673ccf7b became leader at term 2
Jul 18 16:47:23 ubuntu etcd[79201]: raft2025/07/18 16:47:23 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jul 18 16:47:23 ubuntu etcd[79201]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jul 18 16:47:23 ubuntu etcd[79201]: ready to serve client requests
Jul 18 16:47:23 ubuntu etcd[79201]: setting up the initial cluster version to 3.4
Jul 18 16:47:23 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 18 16:47:23 ubuntu etcd[79201]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jul 18 16:47:23 ubuntu etcd[79201]: set the initial cluster version to 3.4
Jul 18 16:47:23 ubuntu etcd[79201]: enabled capabilities for version 3.4
Jul 18 16:51:58 ubuntu etcd[79201]: start time = 2025-07-18 16:51:58.362206774 +0000 UTC m=+275.549204796, time spent = 1.577159ms, remote = 10.201.5.82:52246, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 18 16:51:58 ubuntu etcd[79201]: start time = 2025-07-18 16:51:58.395849223 +0000 UTC m=+275.582847244, time spent = 402.008µs, remote = 10.201.5.82:52246, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 18 16:52:05 ubuntu etcd[79201]: start time = 2025-07-18 16:52:05.38961659 +0000 UTC m=+282.576614614, time spent = 183.571µs, remote = 10.201.5.82:52246, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 18 16:52:07 ubuntu etcd[79201]: start time = 2025-07-18 16:52:07.497343261 +0000 UTC m=+284.684341284, time spent = 298.314µs, remote = 10.201.5.82:52246, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
