Apr 18 14:50:17 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Apr 18 14:50:17 ubuntu etcd[79212]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Apr 18 14:50:17 ubuntu etcd[79212]:         A future release of golang/protobuf will delete this package,
Apr 18 14:50:17 ubuntu etcd[79212]:         which has long been excluded from the compatibility promise.
Apr 18 14:50:17 ubuntu etcd[79212]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 18 14:50:17 ubuntu etcd[79212]: Running http and grpc server on single port. This is not recommended for production.
Apr 18 14:50:17 ubuntu etcd[79212]: etcd Version: 3.4.27
Apr 18 14:50:17 ubuntu etcd[79212]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Apr 18 14:50:17 ubuntu etcd[79212]: Git SHA: c92fb80f3
Apr 18 14:50:17 ubuntu etcd[79212]: Go Version: go1.19.10
Apr 18 14:50:17 ubuntu etcd[79212]: Go OS/Arch: linux/amd64
Apr 18 14:50:17 ubuntu etcd[79212]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Apr 18 14:50:17 ubuntu etcd[79212]: Running http and grpc server on single port. This is not recommended for production.
Apr 18 14:50:17 ubuntu etcd[79212]: name = ubuntu
Apr 18 14:50:17 ubuntu etcd[79212]: data dir = /opt/stack/data/etcd
Apr 18 14:50:17 ubuntu etcd[79212]: member dir = /opt/stack/data/etcd/member
Apr 18 14:50:17 ubuntu etcd[79212]: heartbeat = 100ms
Apr 18 14:50:17 ubuntu etcd[79212]: election = 1000ms
Apr 18 14:50:17 ubuntu etcd[79212]: snapshot count = 100000
Apr 18 14:50:17 ubuntu etcd[79212]: advertise client URLs = http://10.201.5.82:2379
Apr 18 14:50:17 ubuntu etcd[79212]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Apr 18 14:50:17 ubuntu etcd[79212]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Apr 18 14:50:17 ubuntu etcd[79212]: raft2025/04/18 14:50:17 INFO: 43038365673ccf7b switched to configuration voters=()
Apr 18 14:50:17 ubuntu etcd[79212]: raft2025/04/18 14:50:17 INFO: 43038365673ccf7b became follower at term 0
Apr 18 14:50:17 ubuntu etcd[79212]: raft2025/04/18 14:50:17 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Apr 18 14:50:17 ubuntu etcd[79212]: raft2025/04/18 14:50:17 INFO: 43038365673ccf7b became follower at term 1
Apr 18 14:50:17 ubuntu etcd[79212]: raft2025/04/18 14:50:17 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Apr 18 14:50:17 ubuntu etcd[79212]: simple token is not cryptographically signed
Apr 18 14:50:17 ubuntu etcd[79212]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Apr 18 14:50:17 ubuntu etcd[79212]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Apr 18 14:50:17 ubuntu etcd[79212]: raft2025/04/18 14:50:17 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Apr 18 14:50:17 ubuntu etcd[79212]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Apr 18 14:50:17 ubuntu etcd[79212]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Apr 18 14:50:17 ubuntu etcd[79212]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Apr 18 14:50:17 ubuntu etcd[79212]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Apr 18 14:50:17 ubuntu etcd[79212]: listening for peers on [::]:2380
Apr 18 14:50:17 ubuntu etcd[79212]: raft2025/04/18 14:50:17 INFO: 43038365673ccf7b is starting a new election at term 1
Apr 18 14:50:17 ubuntu etcd[79212]: raft2025/04/18 14:50:17 INFO: 43038365673ccf7b became candidate at term 2
Apr 18 14:50:17 ubuntu etcd[79212]: raft2025/04/18 14:50:17 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Apr 18 14:50:17 ubuntu etcd[79212]: raft2025/04/18 14:50:17 INFO: 43038365673ccf7b became leader at term 2
Apr 18 14:50:17 ubuntu etcd[79212]: raft2025/04/18 14:50:17 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Apr 18 14:50:17 ubuntu etcd[79212]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Apr 18 14:50:17 ubuntu etcd[79212]: ready to serve client requests
Apr 18 14:50:17 ubuntu etcd[79212]: setting up the initial cluster version to 3.4
Apr 18 14:50:17 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Apr 18 14:50:17 ubuntu etcd[79212]: set the initial cluster version to 3.4
Apr 18 14:50:17 ubuntu etcd[79212]: enabled capabilities for version 3.4
Apr 18 14:50:17 ubuntu etcd[79212]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Apr 18 14:55:03 ubuntu etcd[79212]: start time = 2025-04-18 14:55:03.553988238 +0000 UTC m=+286.317169769, time spent = 551.774µs, remote = 10.201.5.82:41642, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 18 14:55:03 ubuntu etcd[79212]: start time = 2025-04-18 14:55:03.577493949 +0000 UTC m=+286.340675486, time spent = 172.345µs, remote = 10.201.5.82:41642, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 18 14:55:10 ubuntu etcd[79212]: start time = 2025-04-18 14:55:10.597504956 +0000 UTC m=+293.360686506, time spent = 213.788µs, remote = 10.201.5.82:41642, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Apr 18 14:55:12 ubuntu etcd[79212]: start time = 2025-04-18 14:55:12.720247871 +0000 UTC m=+295.483429413, time spent = 465.383µs, remote = 10.201.5.82:41642, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
