Nov 29 02:05:56 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Nov 29 02:05:56 ubuntu etcd[67735]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Nov 29 02:05:56 ubuntu etcd[67735]:         A future release of golang/protobuf will delete this package,
Nov 29 02:05:56 ubuntu etcd[67735]:         which has long been excluded from the compatibility promise.
Nov 29 02:05:56 ubuntu etcd[67735]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Nov 29 02:05:56 ubuntu etcd[67735]: Running http and grpc server on single port. This is not recommended for production.
Nov 29 02:05:56 ubuntu etcd[67735]: etcd Version: 3.4.27
Nov 29 02:05:56 ubuntu etcd[67735]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Nov 29 02:05:56 ubuntu etcd[67735]: Git SHA: c92fb80f3
Nov 29 02:05:56 ubuntu etcd[67735]: Go Version: go1.19.10
Nov 29 02:05:56 ubuntu etcd[67735]: Go OS/Arch: linux/amd64
Nov 29 02:05:56 ubuntu etcd[67735]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Nov 29 02:05:56 ubuntu etcd[67735]: Running http and grpc server on single port. This is not recommended for production.
Nov 29 02:05:56 ubuntu etcd[67735]: name = ubuntu
Nov 29 02:05:56 ubuntu etcd[67735]: data dir = /opt/stack/data/etcd
Nov 29 02:05:56 ubuntu etcd[67735]: member dir = /opt/stack/data/etcd/member
Nov 29 02:05:56 ubuntu etcd[67735]: heartbeat = 100ms
Nov 29 02:05:56 ubuntu etcd[67735]: election = 1000ms
Nov 29 02:05:56 ubuntu etcd[67735]: snapshot count = 100000
Nov 29 02:05:56 ubuntu etcd[67735]: advertise client URLs = http://10.201.5.82:2379
Nov 29 02:05:56 ubuntu etcd[67735]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Nov 29 02:05:56 ubuntu etcd[67735]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Nov 29 02:05:56 ubuntu etcd[67735]: raft2024/11/29 02:05:56 INFO: 43038365673ccf7b switched to configuration voters=()
Nov 29 02:05:56 ubuntu etcd[67735]: raft2024/11/29 02:05:56 INFO: 43038365673ccf7b became follower at term 0
Nov 29 02:05:56 ubuntu etcd[67735]: raft2024/11/29 02:05:56 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Nov 29 02:05:56 ubuntu etcd[67735]: raft2024/11/29 02:05:56 INFO: 43038365673ccf7b became follower at term 1
Nov 29 02:05:56 ubuntu etcd[67735]: raft2024/11/29 02:05:56 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Nov 29 02:05:56 ubuntu etcd[67735]: simple token is not cryptographically signed
Nov 29 02:05:56 ubuntu etcd[67735]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Nov 29 02:05:56 ubuntu etcd[67735]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Nov 29 02:05:56 ubuntu etcd[67735]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Nov 29 02:05:56 ubuntu etcd[67735]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Nov 29 02:05:56 ubuntu etcd[67735]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Nov 29 02:05:56 ubuntu etcd[67735]: raft2024/11/29 02:05:56 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Nov 29 02:05:56 ubuntu etcd[67735]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Nov 29 02:05:56 ubuntu etcd[67735]: listening for peers on [::]:2380
Nov 29 02:05:57 ubuntu etcd[67735]: raft2024/11/29 02:05:57 INFO: 43038365673ccf7b is starting a new election at term 1
Nov 29 02:05:57 ubuntu etcd[67735]: raft2024/11/29 02:05:57 INFO: 43038365673ccf7b became candidate at term 2
Nov 29 02:05:57 ubuntu etcd[67735]: raft2024/11/29 02:05:57 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Nov 29 02:05:57 ubuntu etcd[67735]: raft2024/11/29 02:05:57 INFO: 43038365673ccf7b became leader at term 2
Nov 29 02:05:57 ubuntu etcd[67735]: raft2024/11/29 02:05:57 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Nov 29 02:05:57 ubuntu etcd[67735]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Nov 29 02:05:57 ubuntu etcd[67735]: setting up the initial cluster version to 3.4
Nov 29 02:05:57 ubuntu etcd[67735]: set the initial cluster version to 3.4
Nov 29 02:05:57 ubuntu etcd[67735]: enabled capabilities for version 3.4
Nov 29 02:05:57 ubuntu etcd[67735]: ready to serve client requests
Nov 29 02:05:57 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Nov 29 02:05:57 ubuntu etcd[67735]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Nov 29 02:10:54 ubuntu etcd[67735]: start time = 2024-11-29 02:10:54.205116478 +0000 UTC m=+298.144066097, time spent = 668.708µs, remote = 10.201.5.82:42874, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 29 02:10:54 ubuntu etcd[67735]: start time = 2024-11-29 02:10:54.221947696 +0000 UTC m=+298.160897326, time spent = 224.054µs, remote = 10.201.5.82:42874, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 29 02:11:00 ubuntu etcd[67735]: start time = 2024-11-29 02:11:00.953721109 +0000 UTC m=+304.892670725, time spent = 205.089µs, remote = 10.201.5.82:42874, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 29 02:11:03 ubuntu etcd[67735]: start time = 2024-11-29 02:11:03.157511942 +0000 UTC m=+307.096461577, time spent = 1.066756ms, remote = 10.201.5.82:42874, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 29 02:13:59 ubuntu etcd[67735]: start time = 2024-11-29 02:13:59.711370707 +0000 UTC m=+483.650320324, time spent = 387.164µs, remote = 10.201.5.82:42874, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 29 02:13:59 ubuntu etcd[67735]: start time = 2024-11-29 02:13:59.729046561 +0000 UTC m=+483.667996192, time spent = 184.059µs, remote = 10.201.5.82:42874, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 29 02:14:00 ubuntu etcd[67735]: start time = 2024-11-29 02:14:00.78985286 +0000 UTC m=+484.728802488, time spent = 243.172µs, remote = 10.201.5.82:42874, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 29 02:14:02 ubuntu etcd[67735]: start time = 2024-11-29 02:14:02.825922991 +0000 UTC m=+486.764872619, time spent = 201.125µs, remote = 10.201.5.82:42874, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 29 02:15:49 ubuntu etcd[67735]: start time = 2024-11-29 02:15:49.268533847 +0000 UTC m=+593.207483494, time spent = 281.005µs, remote = 10.201.5.82:42874, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 29 02:15:49 ubuntu etcd[67735]: start time = 2024-11-29 02:15:49.27295166 +0000 UTC m=+593.211901277, time spent = 502.655µs, remote = 10.201.5.82:42874, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-5adf5fc5-eed5-4ab7-a66a-5b2413df8df8" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-5adf5fc5-eed5-4ab7-a66a-5b2413df8df8" value_size:16 lease:5727333484719768857 >> failure:<request_range:<key:"/tooz/lockscinder-5adf5fc5-eed5-4ab7-a66a-5b2413df8df8" > >
Nov 29 02:15:52 ubuntu etcd[67735]: start time = 2024-11-29 02:15:52.114676186 +0000 UTC m=+596.053625920, time spent = 898.954µs, remote = 10.201.5.82:42874, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-5adf5fc5-eed5-4ab7-a66a-5b2413df8df8" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-5adf5fc5-eed5-4ab7-a66a-5b2413df8df8" > > failure:<>
Nov 29 02:15:52 ubuntu etcd[67735]: start time = 2024-11-29 02:15:52.350416652 +0000 UTC m=+596.289366283, time spent = 308.034µs, remote = 10.201.5.82:42874, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 29 02:15:52 ubuntu etcd[67735]: start time = 2024-11-29 02:15:52.356068412 +0000 UTC m=+596.295018156, time spent = 522.668µs, remote = 10.201.5.82:42874, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-5adf5fc5-eed5-4ab7-a66a-5b2413df8df8" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-5adf5fc5-eed5-4ab7-a66a-5b2413df8df8" value_size:16 lease:5727333484719768861 >> failure:<request_range:<key:"/tooz/lockscinder-5adf5fc5-eed5-4ab7-a66a-5b2413df8df8" > >
Nov 29 02:15:53 ubuntu etcd[67735]: start time = 2024-11-29 02:15:53.166609567 +0000 UTC m=+597.105559203, time spent = 319.476µs, remote = 10.201.5.82:42874, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-5adf5fc5-eed5-4ab7-a66a-5b2413df8df8" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-5adf5fc5-eed5-4ab7-a66a-5b2413df8df8" > > failure:<>
Nov 29 02:15:53 ubuntu etcd[67735]: start time = 2024-11-29 02:15:53.405371616 +0000 UTC m=+597.344321284, time spent = 482.816µs, remote = 10.201.5.82:42874, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Nov 29 02:15:53 ubuntu etcd[67735]: start time = 2024-11-29 02:15:53.408741993 +0000 UTC m=+597.347691661, time spent = 247.659µs, remote = 10.201.5.82:42874, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-5adf5fc5-eed5-4ab7-a66a-5b2413df8df8" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-5adf5fc5-eed5-4ab7-a66a-5b2413df8df8" value_size:16 lease:5727333484719768865 >> failure:<request_range:<key:"/tooz/lockscinder-5adf5fc5-eed5-4ab7-a66a-5b2413df8df8" > >
Nov 29 02:15:54 ubuntu etcd[67735]: start time = 2024-11-29 02:15:54.179473353 +0000 UTC m=+598.118422999, time spent = 230.158µs, remote = 10.201.5.82:42874, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-5adf5fc5-eed5-4ab7-a66a-5b2413df8df8" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-5adf5fc5-eed5-4ab7-a66a-5b2413df8df8" > > failure:<>
