Jul 02 16:41:23 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 02 16:41:23 ubuntu etcd[66866]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 02 16:41:23 ubuntu etcd[66866]:         A future release of golang/protobuf will delete this package,
Jul 02 16:41:23 ubuntu etcd[66866]:         which has long been excluded from the compatibility promise.
Jul 02 16:41:23 ubuntu etcd[66866]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 02 16:41:23 ubuntu etcd[66866]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 02 16:41:23 ubuntu etcd[66866]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 02 16:41:23 ubuntu etcd[66866]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 02 16:41:23 ubuntu etcd[66866]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 02 16:41:23 ubuntu etcd[66866]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 02 16:41:23 ubuntu etcd[66866]: Running http and grpc server on single port. This is not recommended for production.
Jul 02 16:41:23 ubuntu etcd[66866]: etcd Version: 3.4.27
Jul 02 16:41:23 ubuntu etcd[66866]: Git SHA: c92fb80f3
Jul 02 16:41:23 ubuntu etcd[66866]: Go Version: go1.19.10
Jul 02 16:41:23 ubuntu etcd[66866]: Go OS/Arch: linux/amd64
Jul 02 16:41:23 ubuntu etcd[66866]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 02 16:41:23 ubuntu etcd[66866]: Running http and grpc server on single port. This is not recommended for production.
Jul 02 16:41:23 ubuntu etcd[66866]: name = ubuntu
Jul 02 16:41:23 ubuntu etcd[66866]: data dir = /opt/stack/data/etcd
Jul 02 16:41:23 ubuntu etcd[66866]: member dir = /opt/stack/data/etcd/member
Jul 02 16:41:23 ubuntu etcd[66866]: heartbeat = 100ms
Jul 02 16:41:23 ubuntu etcd[66866]: election = 1000ms
Jul 02 16:41:23 ubuntu etcd[66866]: snapshot count = 100000
Jul 02 16:41:23 ubuntu etcd[66866]: advertise client URLs = http://10.201.5.82:2379
Jul 02 16:41:23 ubuntu etcd[66866]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 02 16:41:23 ubuntu etcd[66866]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jul 02 16:41:23 ubuntu etcd[66866]: raft2024/07/02 16:41:23 INFO: 43038365673ccf7b switched to configuration voters=()
Jul 02 16:41:23 ubuntu etcd[66866]: raft2024/07/02 16:41:23 INFO: 43038365673ccf7b became follower at term 0
Jul 02 16:41:23 ubuntu etcd[66866]: raft2024/07/02 16:41:23 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 02 16:41:23 ubuntu etcd[66866]: raft2024/07/02 16:41:23 INFO: 43038365673ccf7b became follower at term 1
Jul 02 16:41:23 ubuntu etcd[66866]: raft2024/07/02 16:41:23 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 02 16:41:23 ubuntu etcd[66866]: simple token is not cryptographically signed
Jul 02 16:41:23 ubuntu etcd[66866]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 02 16:41:23 ubuntu etcd[66866]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 02 16:41:23 ubuntu etcd[66866]: raft2024/07/02 16:41:23 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 02 16:41:23 ubuntu etcd[66866]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 02 16:41:23 ubuntu etcd[66866]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 02 16:41:23 ubuntu etcd[66866]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 02 16:41:23 ubuntu etcd[66866]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jul 02 16:41:23 ubuntu etcd[66866]: listening for peers on [::]:2380
Jul 02 16:41:23 ubuntu etcd[66866]: raft2024/07/02 16:41:23 INFO: 43038365673ccf7b is starting a new election at term 1
Jul 02 16:41:23 ubuntu etcd[66866]: raft2024/07/02 16:41:23 INFO: 43038365673ccf7b became candidate at term 2
Jul 02 16:41:23 ubuntu etcd[66866]: raft2024/07/02 16:41:23 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jul 02 16:41:23 ubuntu etcd[66866]: raft2024/07/02 16:41:23 INFO: 43038365673ccf7b became leader at term 2
Jul 02 16:41:23 ubuntu etcd[66866]: raft2024/07/02 16:41:23 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jul 02 16:41:23 ubuntu etcd[66866]: INFO: 2024/07/02 16:41:23 parsed scheme: ""
Jul 02 16:41:23 ubuntu etcd[66866]: INFO: 2024/07/02 16:41:23 scheme "" not registered, fallback to default scheme
Jul 02 16:41:23 ubuntu etcd[66866]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jul 02 16:41:23 ubuntu etcd[66866]: INFO: 2024/07/02 16:41:23 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Jul 02 16:41:23 ubuntu etcd[66866]: INFO: 2024/07/02 16:41:23 ClientConn switching balancer to "pick_first"
Jul 02 16:41:23 ubuntu etcd[66866]: ready to serve client requests
Jul 02 16:41:23 ubuntu etcd[66866]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jul 02 16:41:23 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 02 16:41:23 ubuntu etcd[66866]: setting up the initial cluster version to 3.4
Jul 02 16:41:23 ubuntu etcd[66866]: set the initial cluster version to 3.4
Jul 02 16:41:23 ubuntu etcd[66866]: enabled capabilities for version 3.4
Jul 02 16:47:20 ubuntu etcd[66866]: start time = 2024-07-02 16:47:20.415916947 +0000 UTC m=+357.265177262, time spent = 1.430632ms, remote = 10.201.5.82:40362, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 02 16:47:20 ubuntu etcd[66866]: start time = 2024-07-02 16:47:20.499869058 +0000 UTC m=+357.349129381, time spent = 229.966µs, remote = 10.201.5.82:40362, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 02 16:47:27 ubuntu etcd[66866]: start time = 2024-07-02 16:47:27.443462715 +0000 UTC m=+364.292723039, time spent = 202.388µs, remote = 10.201.5.82:40362, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 02 16:47:29 ubuntu etcd[66866]: start time = 2024-07-02 16:47:29.454044194 +0000 UTC m=+366.303304520, time spent = 197.655µs, remote = 10.201.5.82:40362, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 02 16:50:21 ubuntu etcd[66866]: start time = 2024-07-02 16:50:21.934940982 +0000 UTC m=+538.784201308, time spent = 448.273µs, remote = 10.201.5.82:40362, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 02 16:50:21 ubuntu etcd[66866]: start time = 2024-07-02 16:50:21.953600079 +0000 UTC m=+538.802860403, time spent = 208.18µs, remote = 10.201.5.82:40362, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 02 16:50:22 ubuntu etcd[66866]: start time = 2024-07-02 16:50:22.006087659 +0000 UTC m=+538.855347985, time spent = 223.002µs, remote = 10.201.5.82:40362, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 02 16:50:24 ubuntu etcd[66866]: start time = 2024-07-02 16:50:24.791728301 +0000 UTC m=+541.640988714, time spent = 432.68µs, remote = 10.201.5.82:40362, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
