Jun 24 13:58:32 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 24 13:58:32 ubuntu etcd[68962]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 24 13:58:32 ubuntu etcd[68962]:         A future release of golang/protobuf will delete this package,
Jun 24 13:58:32 ubuntu etcd[68962]:         which has long been excluded from the compatibility promise.
Jun 24 13:58:32 ubuntu etcd[68962]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jun 24 13:58:32 ubuntu etcd[68962]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jun 24 13:58:32 ubuntu etcd[68962]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 24 13:58:32 ubuntu etcd[68962]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jun 24 13:58:32 ubuntu etcd[68962]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jun 24 13:58:32 ubuntu etcd[68962]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 24 13:58:32 ubuntu etcd[68962]: Running http and grpc server on single port. This is not recommended for production.
Jun 24 13:58:32 ubuntu etcd[68962]: etcd Version: 3.4.27
Jun 24 13:58:32 ubuntu etcd[68962]: Git SHA: c92fb80f3
Jun 24 13:58:32 ubuntu etcd[68962]: Go Version: go1.19.10
Jun 24 13:58:32 ubuntu etcd[68962]: Go OS/Arch: linux/amd64
Jun 24 13:58:32 ubuntu etcd[68962]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 24 13:58:32 ubuntu etcd[68962]: Running http and grpc server on single port. This is not recommended for production.
Jun 24 13:58:32 ubuntu etcd[68962]: name = ubuntu
Jun 24 13:58:32 ubuntu etcd[68962]: data dir = /opt/stack/data/etcd
Jun 24 13:58:32 ubuntu etcd[68962]: member dir = /opt/stack/data/etcd/member
Jun 24 13:58:32 ubuntu etcd[68962]: heartbeat = 100ms
Jun 24 13:58:32 ubuntu etcd[68962]: election = 1000ms
Jun 24 13:58:32 ubuntu etcd[68962]: snapshot count = 100000
Jun 24 13:58:32 ubuntu etcd[68962]: advertise client URLs = http://10.201.5.82:2379
Jun 24 13:58:32 ubuntu etcd[68962]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 24 13:58:32 ubuntu etcd[68962]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jun 24 13:58:32 ubuntu etcd[68962]: raft2024/06/24 13:58:32 INFO: 43038365673ccf7b switched to configuration voters=()
Jun 24 13:58:32 ubuntu etcd[68962]: raft2024/06/24 13:58:32 INFO: 43038365673ccf7b became follower at term 0
Jun 24 13:58:32 ubuntu etcd[68962]: raft2024/06/24 13:58:32 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 24 13:58:32 ubuntu etcd[68962]: raft2024/06/24 13:58:32 INFO: 43038365673ccf7b became follower at term 1
Jun 24 13:58:32 ubuntu etcd[68962]: raft2024/06/24 13:58:32 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 24 13:58:32 ubuntu etcd[68962]: simple token is not cryptographically signed
Jun 24 13:58:32 ubuntu etcd[68962]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 24 13:58:32 ubuntu etcd[68962]: raft2024/06/24 13:58:32 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 24 13:58:32 ubuntu etcd[68962]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jun 24 13:58:32 ubuntu etcd[68962]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 24 13:58:32 ubuntu etcd[68962]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 24 13:58:32 ubuntu etcd[68962]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 24 13:58:32 ubuntu etcd[68962]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 24 13:58:32 ubuntu etcd[68962]: listening for peers on [::]:2380
Jun 24 13:58:33 ubuntu etcd[68962]: raft2024/06/24 13:58:33 INFO: 43038365673ccf7b is starting a new election at term 1
Jun 24 13:58:33 ubuntu etcd[68962]: raft2024/06/24 13:58:33 INFO: 43038365673ccf7b became candidate at term 2
Jun 24 13:58:33 ubuntu etcd[68962]: raft2024/06/24 13:58:33 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jun 24 13:58:33 ubuntu etcd[68962]: raft2024/06/24 13:58:33 INFO: 43038365673ccf7b became leader at term 2
Jun 24 13:58:33 ubuntu etcd[68962]: raft2024/06/24 13:58:33 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jun 24 13:58:33 ubuntu etcd[68962]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jun 24 13:58:33 ubuntu etcd[68962]: ready to serve client requests
Jun 24 13:58:33 ubuntu etcd[68962]: setting up the initial cluster version to 3.4
Jun 24 13:58:33 ubuntu etcd[68962]: set the initial cluster version to 3.4
Jun 24 13:58:33 ubuntu etcd[68962]: enabled capabilities for version 3.4
Jun 24 13:58:33 ubuntu etcd[68962]: INFO: 2024/06/24 13:58:33 parsed scheme: ""
Jun 24 13:58:33 ubuntu etcd[68962]: INFO: 2024/06/24 13:58:33 scheme "" not registered, fallback to default scheme
Jun 24 13:58:33 ubuntu etcd[68962]: INFO: 2024/06/24 13:58:33 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Jun 24 13:58:33 ubuntu etcd[68962]: INFO: 2024/06/24 13:58:33 ClientConn switching balancer to "pick_first"
Jun 24 13:58:33 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 24 13:58:33 ubuntu etcd[68962]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jun 24 14:04:18 ubuntu etcd[68962]: start time = 2024-06-24 14:04:18.047720002 +0000 UTC m=+345.335902412, time spent = 1.450125ms, remote = 10.201.5.82:33178, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 24 14:04:18 ubuntu etcd[68962]: start time = 2024-06-24 14:04:18.047008756 +0000 UTC m=+345.335191165, time spent = 3.137785ms, remote = 10.201.5.82:33178, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 24 14:04:25 ubuntu etcd[68962]: start time = 2024-06-24 14:04:25.15202768 +0000 UTC m=+352.440210090, time spent = 324.886µs, remote = 10.201.5.82:33178, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 24 14:04:27 ubuntu etcd[68962]: start time = 2024-06-24 14:04:27.384062927 +0000 UTC m=+354.672245339, time spent = 295.491µs, remote = 10.201.5.82:33178, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 24 14:07:24 ubuntu etcd[68962]: start time = 2024-06-24 14:07:24.213115655 +0000 UTC m=+531.501298065, time spent = 485.883µs, remote = 10.201.5.82:33178, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 24 14:07:24 ubuntu etcd[68962]: start time = 2024-06-24 14:07:24.231738801 +0000 UTC m=+531.519921211, time spent = 157.596µs, remote = 10.201.5.82:33178, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 24 14:07:27 ubuntu etcd[68962]: start time = 2024-06-24 14:07:27.263636552 +0000 UTC m=+534.551818973, time spent = 219.549µs, remote = 10.201.5.82:33178, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 24 14:07:28 ubuntu etcd[68962]: start time = 2024-06-24 14:07:28.801365276 +0000 UTC m=+536.089547687, time spent = 230.514µs, remote = 10.201.5.82:33178, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
