Feb 22 18:08:54 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Feb 22 18:08:54 ubuntu etcd[65567]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Feb 22 18:08:54 ubuntu etcd[65567]:         A future release of golang/protobuf will delete this package,
Feb 22 18:08:54 ubuntu etcd[65567]:         which has long been excluded from the compatibility promise.
Feb 22 18:08:54 ubuntu etcd[65567]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 22 18:08:54 ubuntu etcd[65567]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 22 18:08:54 ubuntu etcd[65567]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 22 18:08:54 ubuntu etcd[65567]: Running http and grpc server on single port. This is not recommended for production.
Feb 22 18:08:54 ubuntu etcd[65567]: etcd Version: 3.4.27
Feb 22 18:08:54 ubuntu etcd[65567]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Feb 22 18:08:54 ubuntu etcd[65567]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Feb 22 18:08:54 ubuntu etcd[65567]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Feb 22 18:08:54 ubuntu etcd[65567]: Git SHA: c92fb80f3
Feb 22 18:08:54 ubuntu etcd[65567]: Go Version: go1.19.10
Feb 22 18:08:54 ubuntu etcd[65567]: Go OS/Arch: linux/amd64
Feb 22 18:08:54 ubuntu etcd[65567]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Feb 22 18:08:54 ubuntu etcd[65567]: Running http and grpc server on single port. This is not recommended for production.
Feb 22 18:08:54 ubuntu etcd[65567]: name = ubuntu
Feb 22 18:08:54 ubuntu etcd[65567]: data dir = /opt/stack/data/etcd
Feb 22 18:08:54 ubuntu etcd[65567]: member dir = /opt/stack/data/etcd/member
Feb 22 18:08:54 ubuntu etcd[65567]: heartbeat = 100ms
Feb 22 18:08:54 ubuntu etcd[65567]: election = 1000ms
Feb 22 18:08:54 ubuntu etcd[65567]: snapshot count = 100000
Feb 22 18:08:54 ubuntu etcd[65567]: advertise client URLs = http://10.201.5.82:2379
Feb 22 18:08:54 ubuntu etcd[65567]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Feb 22 18:08:54 ubuntu etcd[65567]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Feb 22 18:08:54 ubuntu etcd[65567]: raft2024/02/22 18:08:54 INFO: 43038365673ccf7b switched to configuration voters=()
Feb 22 18:08:54 ubuntu etcd[65567]: raft2024/02/22 18:08:54 INFO: 43038365673ccf7b became follower at term 0
Feb 22 18:08:54 ubuntu etcd[65567]: raft2024/02/22 18:08:54 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Feb 22 18:08:54 ubuntu etcd[65567]: raft2024/02/22 18:08:54 INFO: 43038365673ccf7b became follower at term 1
Feb 22 18:08:54 ubuntu etcd[65567]: raft2024/02/22 18:08:54 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Feb 22 18:08:54 ubuntu etcd[65567]: simple token is not cryptographically signed
Feb 22 18:08:54 ubuntu etcd[65567]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Feb 22 18:08:54 ubuntu etcd[65567]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Feb 22 18:08:54 ubuntu etcd[65567]: raft2024/02/22 18:08:54 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Feb 22 18:08:54 ubuntu etcd[65567]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Feb 22 18:08:54 ubuntu etcd[65567]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Feb 22 18:08:54 ubuntu etcd[65567]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Feb 22 18:08:54 ubuntu etcd[65567]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Feb 22 18:08:54 ubuntu etcd[65567]: listening for peers on [::]:2380
Feb 22 18:08:55 ubuntu etcd[65567]: raft2024/02/22 18:08:55 INFO: 43038365673ccf7b is starting a new election at term 1
Feb 22 18:08:55 ubuntu etcd[65567]: raft2024/02/22 18:08:55 INFO: 43038365673ccf7b became candidate at term 2
Feb 22 18:08:55 ubuntu etcd[65567]: raft2024/02/22 18:08:55 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Feb 22 18:08:55 ubuntu etcd[65567]: raft2024/02/22 18:08:55 INFO: 43038365673ccf7b became leader at term 2
Feb 22 18:08:55 ubuntu etcd[65567]: raft2024/02/22 18:08:55 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Feb 22 18:08:55 ubuntu etcd[65567]: INFO: 2024/02/22 18:08:55 parsed scheme: ""
Feb 22 18:08:55 ubuntu etcd[65567]: INFO: 2024/02/22 18:08:55 scheme "" not registered, fallback to default scheme
Feb 22 18:08:55 ubuntu etcd[65567]: INFO: 2024/02/22 18:08:55 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Feb 22 18:08:55 ubuntu etcd[65567]: INFO: 2024/02/22 18:08:55 ClientConn switching balancer to "pick_first"
Feb 22 18:08:55 ubuntu etcd[65567]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Feb 22 18:08:55 ubuntu etcd[65567]: ready to serve client requests
Feb 22 18:08:55 ubuntu etcd[65567]: setting up the initial cluster version to 3.4
Feb 22 18:08:55 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Feb 22 18:08:55 ubuntu etcd[65567]: set the initial cluster version to 3.4
Feb 22 18:08:55 ubuntu etcd[65567]: enabled capabilities for version 3.4
Feb 22 18:08:55 ubuntu etcd[65567]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Feb 22 18:15:13 ubuntu etcd[65567]: start time = 2024-02-22 18:15:13.555822412 +0000 UTC m=+378.787700671, time spent = 1.985751ms, remote = 10.201.5.82:35190, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 22 18:15:13 ubuntu etcd[65567]: start time = 2024-02-22 18:15:13.632604347 +0000 UTC m=+378.864482613, time spent = 247.722µs, remote = 10.201.5.82:35190, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 22 18:15:20 ubuntu etcd[65567]: start time = 2024-02-22 18:15:20.887018933 +0000 UTC m=+386.118897190, time spent = 191.19µs, remote = 10.201.5.82:35190, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Feb 22 18:15:23 ubuntu etcd[65567]: start time = 2024-02-22 18:15:23.083358337 +0000 UTC m=+388.315236604, time spent = 348.705µs, remote = 10.201.5.82:35190, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
