May 14 10:24:18 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 14 10:24:18 ubuntu etcd[79475]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 14 10:24:18 ubuntu etcd[79475]:         A future release of golang/protobuf will delete this package,
May 14 10:24:18 ubuntu etcd[79475]:         which has long been excluded from the compatibility promise.
May 14 10:24:18 ubuntu etcd[79475]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 14 10:24:18 ubuntu etcd[79475]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 14 10:24:18 ubuntu etcd[79475]: Running http and grpc server on single port. This is not recommended for production.
May 14 10:24:18 ubuntu etcd[79475]: etcd Version: 3.4.27
May 14 10:24:18 ubuntu etcd[79475]: Git SHA: c92fb80f3
May 14 10:24:18 ubuntu etcd[79475]: Go Version: go1.19.10
May 14 10:24:18 ubuntu etcd[79475]: Go OS/Arch: linux/amd64
May 14 10:24:18 ubuntu etcd[79475]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 14 10:24:18 ubuntu etcd[79475]: Running http and grpc server on single port. This is not recommended for production.
May 14 10:24:18 ubuntu etcd[79475]: name = ubuntu
May 14 10:24:18 ubuntu etcd[79475]: data dir = /opt/stack/data/etcd
May 14 10:24:18 ubuntu etcd[79475]: member dir = /opt/stack/data/etcd/member
May 14 10:24:18 ubuntu etcd[79475]: heartbeat = 100ms
May 14 10:24:18 ubuntu etcd[79475]: election = 1000ms
May 14 10:24:18 ubuntu etcd[79475]: snapshot count = 100000
May 14 10:24:18 ubuntu etcd[79475]: advertise client URLs = http://10.201.5.82:2379
May 14 10:24:18 ubuntu etcd[79475]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 14 10:24:18 ubuntu etcd[79475]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
May 14 10:24:18 ubuntu etcd[79475]: raft2025/05/14 10:24:18 INFO: 43038365673ccf7b switched to configuration voters=()
May 14 10:24:18 ubuntu etcd[79475]: raft2025/05/14 10:24:18 INFO: 43038365673ccf7b became follower at term 0
May 14 10:24:18 ubuntu etcd[79475]: raft2025/05/14 10:24:18 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 14 10:24:18 ubuntu etcd[79475]: raft2025/05/14 10:24:18 INFO: 43038365673ccf7b became follower at term 1
May 14 10:24:18 ubuntu etcd[79475]: raft2025/05/14 10:24:18 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
May 14 10:24:18 ubuntu etcd[79475]: simple token is not cryptographically signed
May 14 10:24:18 ubuntu etcd[79475]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 14 10:24:18 ubuntu etcd[79475]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 14 10:24:18 ubuntu etcd[79475]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 14 10:24:18 ubuntu etcd[79475]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 14 10:24:18 ubuntu etcd[79475]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
May 14 10:24:18 ubuntu etcd[79475]: raft2025/05/14 10:24:18 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
May 14 10:24:18 ubuntu etcd[79475]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
May 14 10:24:18 ubuntu etcd[79475]: listening for peers on [::]:2380
May 14 10:24:19 ubuntu etcd[79475]: raft2025/05/14 10:24:19 INFO: 43038365673ccf7b is starting a new election at term 1
May 14 10:24:19 ubuntu etcd[79475]: raft2025/05/14 10:24:19 INFO: 43038365673ccf7b became candidate at term 2
May 14 10:24:19 ubuntu etcd[79475]: raft2025/05/14 10:24:19 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
May 14 10:24:19 ubuntu etcd[79475]: raft2025/05/14 10:24:19 INFO: 43038365673ccf7b became leader at term 2
May 14 10:24:19 ubuntu etcd[79475]: raft2025/05/14 10:24:19 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
May 14 10:24:19 ubuntu etcd[79475]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
May 14 10:24:19 ubuntu etcd[79475]: setting up the initial cluster version to 3.4
May 14 10:24:19 ubuntu etcd[79475]: ready to serve client requests
May 14 10:24:19 ubuntu etcd[79475]: set the initial cluster version to 3.4
May 14 10:24:19 ubuntu etcd[79475]: enabled capabilities for version 3.4
May 14 10:24:19 ubuntu etcd[79475]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
May 14 10:24:19 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 14 10:28:53 ubuntu etcd[79475]: start time = 2025-05-14 10:28:53.73571805 +0000 UTC m=+274.910339881, time spent = 390.562µs, remote = 10.201.5.82:36730, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 14 10:28:53 ubuntu etcd[79475]: start time = 2025-05-14 10:28:53.734463245 +0000 UTC m=+274.909085063, time spent = 2.909453ms, remote = 10.201.5.82:36730, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 14 10:29:00 ubuntu etcd[79475]: start time = 2025-05-14 10:29:00.356837033 +0000 UTC m=+281.531458857, time spent = 196.136µs, remote = 10.201.5.82:36730, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 14 10:29:02 ubuntu etcd[79475]: start time = 2025-05-14 10:29:02.306526662 +0000 UTC m=+283.481148484, time spent = 803.053µs, remote = 10.201.5.82:36730, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
