Dec 03 11:42:58 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 03 11:42:58 ubuntu etcd[67377]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 03 11:42:58 ubuntu etcd[67377]:         A future release of golang/protobuf will delete this package,
Dec 03 11:42:58 ubuntu etcd[67377]:         which has long been excluded from the compatibility promise.
Dec 03 11:42:58 ubuntu etcd[67377]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 03 11:42:58 ubuntu etcd[67377]: Running http and grpc server on single port. This is not recommended for production.
Dec 03 11:42:58 ubuntu etcd[67377]: etcd Version: 3.4.27
Dec 03 11:42:58 ubuntu etcd[67377]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 03 11:42:58 ubuntu etcd[67377]: Git SHA: c92fb80f3
Dec 03 11:42:58 ubuntu etcd[67377]: Go Version: go1.19.10
Dec 03 11:42:58 ubuntu etcd[67377]: Go OS/Arch: linux/amd64
Dec 03 11:42:58 ubuntu etcd[67377]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 03 11:42:58 ubuntu etcd[67377]: Running http and grpc server on single port. This is not recommended for production.
Dec 03 11:42:58 ubuntu etcd[67377]: name = ubuntu
Dec 03 11:42:58 ubuntu etcd[67377]: data dir = /opt/stack/data/etcd
Dec 03 11:42:58 ubuntu etcd[67377]: member dir = /opt/stack/data/etcd/member
Dec 03 11:42:58 ubuntu etcd[67377]: heartbeat = 100ms
Dec 03 11:42:58 ubuntu etcd[67377]: election = 1000ms
Dec 03 11:42:58 ubuntu etcd[67377]: snapshot count = 100000
Dec 03 11:42:58 ubuntu etcd[67377]: advertise client URLs = http://10.201.5.82:2379
Dec 03 11:42:58 ubuntu etcd[67377]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Dec 03 11:42:58 ubuntu etcd[67377]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Dec 03 11:42:58 ubuntu etcd[67377]: raft2024/12/03 11:42:58 INFO: 43038365673ccf7b switched to configuration voters=()
Dec 03 11:42:58 ubuntu etcd[67377]: raft2024/12/03 11:42:58 INFO: 43038365673ccf7b became follower at term 0
Dec 03 11:42:58 ubuntu etcd[67377]: raft2024/12/03 11:42:58 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Dec 03 11:42:58 ubuntu etcd[67377]: raft2024/12/03 11:42:58 INFO: 43038365673ccf7b became follower at term 1
Dec 03 11:42:58 ubuntu etcd[67377]: raft2024/12/03 11:42:58 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Dec 03 11:42:58 ubuntu etcd[67377]: simple token is not cryptographically signed
Dec 03 11:42:58 ubuntu etcd[67377]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Dec 03 11:42:58 ubuntu etcd[67377]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Dec 03 11:42:58 ubuntu etcd[67377]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Dec 03 11:42:58 ubuntu etcd[67377]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Dec 03 11:42:58 ubuntu etcd[67377]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Dec 03 11:42:58 ubuntu etcd[67377]: raft2024/12/03 11:42:58 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Dec 03 11:42:58 ubuntu etcd[67377]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Dec 03 11:42:58 ubuntu etcd[67377]: listening for peers on [::]:2380
Dec 03 11:42:59 ubuntu etcd[67377]: raft2024/12/03 11:42:59 INFO: 43038365673ccf7b is starting a new election at term 1
Dec 03 11:42:59 ubuntu etcd[67377]: raft2024/12/03 11:42:59 INFO: 43038365673ccf7b became candidate at term 2
Dec 03 11:42:59 ubuntu etcd[67377]: raft2024/12/03 11:42:59 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Dec 03 11:42:59 ubuntu etcd[67377]: raft2024/12/03 11:42:59 INFO: 43038365673ccf7b became leader at term 2
Dec 03 11:42:59 ubuntu etcd[67377]: raft2024/12/03 11:42:59 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Dec 03 11:42:59 ubuntu etcd[67377]: setting up the initial cluster version to 3.4
Dec 03 11:42:59 ubuntu etcd[67377]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Dec 03 11:42:59 ubuntu etcd[67377]: set the initial cluster version to 3.4
Dec 03 11:42:59 ubuntu etcd[67377]: enabled capabilities for version 3.4
Dec 03 11:42:59 ubuntu etcd[67377]: ready to serve client requests
Dec 03 11:42:59 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Dec 03 11:42:59 ubuntu etcd[67377]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Dec 03 11:47:57 ubuntu etcd[67377]: start time = 2024-12-03 11:47:57.354494211 +0000 UTC m=+298.610435865, time spent = 1.588243ms, remote = 10.201.5.82:38354, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 03 11:47:57 ubuntu etcd[67377]: start time = 2024-12-03 11:47:57.506429689 +0000 UTC m=+298.762371344, time spent = 232.656µs, remote = 10.201.5.82:38354, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 03 11:48:03 ubuntu etcd[67377]: start time = 2024-12-03 11:48:03.876449583 +0000 UTC m=+305.132391221, time spent = 257.957µs, remote = 10.201.5.82:38354, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 03 11:48:05 ubuntu etcd[67377]: start time = 2024-12-03 11:48:05.92949753 +0000 UTC m=+307.185439185, time spent = 317.461µs, remote = 10.201.5.82:38354, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
