Jul 02 08:59:07 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 02 08:59:07 ubuntu etcd[67086]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 02 08:59:07 ubuntu etcd[67086]:         A future release of golang/protobuf will delete this package,
Jul 02 08:59:07 ubuntu etcd[67086]:         which has long been excluded from the compatibility promise.
Jul 02 08:59:07 ubuntu etcd[67086]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 02 08:59:07 ubuntu etcd[67086]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 02 08:59:07 ubuntu etcd[67086]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 02 08:59:07 ubuntu etcd[67086]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 02 08:59:07 ubuntu etcd[67086]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 02 08:59:07 ubuntu etcd[67086]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 02 08:59:07 ubuntu etcd[67086]: Running http and grpc server on single port. This is not recommended for production.
Jul 02 08:59:07 ubuntu etcd[67086]: etcd Version: 3.4.27
Jul 02 08:59:07 ubuntu etcd[67086]: Git SHA: c92fb80f3
Jul 02 08:59:07 ubuntu etcd[67086]: Go Version: go1.19.10
Jul 02 08:59:07 ubuntu etcd[67086]: Go OS/Arch: linux/amd64
Jul 02 08:59:07 ubuntu etcd[67086]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 02 08:59:07 ubuntu etcd[67086]: Running http and grpc server on single port. This is not recommended for production.
Jul 02 08:59:07 ubuntu etcd[67086]: name = ubuntu
Jul 02 08:59:07 ubuntu etcd[67086]: data dir = /opt/stack/data/etcd
Jul 02 08:59:07 ubuntu etcd[67086]: member dir = /opt/stack/data/etcd/member
Jul 02 08:59:07 ubuntu etcd[67086]: heartbeat = 100ms
Jul 02 08:59:07 ubuntu etcd[67086]: election = 1000ms
Jul 02 08:59:07 ubuntu etcd[67086]: snapshot count = 100000
Jul 02 08:59:07 ubuntu etcd[67086]: advertise client URLs = http://10.201.5.82:2379
Jul 02 08:59:07 ubuntu etcd[67086]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 02 08:59:07 ubuntu etcd[67086]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jul 02 08:59:07 ubuntu etcd[67086]: raft2024/07/02 08:59:07 INFO: 43038365673ccf7b switched to configuration voters=()
Jul 02 08:59:07 ubuntu etcd[67086]: raft2024/07/02 08:59:07 INFO: 43038365673ccf7b became follower at term 0
Jul 02 08:59:07 ubuntu etcd[67086]: raft2024/07/02 08:59:07 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 02 08:59:07 ubuntu etcd[67086]: raft2024/07/02 08:59:07 INFO: 43038365673ccf7b became follower at term 1
Jul 02 08:59:07 ubuntu etcd[67086]: raft2024/07/02 08:59:07 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 02 08:59:07 ubuntu etcd[67086]: simple token is not cryptographically signed
Jul 02 08:59:07 ubuntu etcd[67086]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 02 08:59:07 ubuntu etcd[67086]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 02 08:59:07 ubuntu etcd[67086]: listening for peers on [::]:2380
Jul 02 08:59:07 ubuntu etcd[67086]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 02 08:59:07 ubuntu etcd[67086]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 02 08:59:07 ubuntu etcd[67086]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 02 08:59:07 ubuntu etcd[67086]: raft2024/07/02 08:59:07 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 02 08:59:07 ubuntu etcd[67086]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jul 02 08:59:07 ubuntu etcd[67086]: raft2024/07/02 08:59:07 INFO: 43038365673ccf7b is starting a new election at term 1
Jul 02 08:59:07 ubuntu etcd[67086]: raft2024/07/02 08:59:07 INFO: 43038365673ccf7b became candidate at term 2
Jul 02 08:59:07 ubuntu etcd[67086]: raft2024/07/02 08:59:07 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jul 02 08:59:07 ubuntu etcd[67086]: raft2024/07/02 08:59:07 INFO: 43038365673ccf7b became leader at term 2
Jul 02 08:59:07 ubuntu etcd[67086]: raft2024/07/02 08:59:07 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jul 02 08:59:07 ubuntu etcd[67086]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jul 02 08:59:07 ubuntu etcd[67086]: ready to serve client requests
Jul 02 08:59:07 ubuntu etcd[67086]: INFO: 2024/07/02 08:59:07 parsed scheme: ""
Jul 02 08:59:07 ubuntu etcd[67086]: INFO: 2024/07/02 08:59:07 scheme "" not registered, fallback to default scheme
Jul 02 08:59:07 ubuntu etcd[67086]: setting up the initial cluster version to 3.4
Jul 02 08:59:07 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 02 08:59:07 ubuntu etcd[67086]: set the initial cluster version to 3.4
Jul 02 08:59:07 ubuntu etcd[67086]: enabled capabilities for version 3.4
Jul 02 08:59:07 ubuntu etcd[67086]: INFO: 2024/07/02 08:59:07 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Jul 02 08:59:07 ubuntu etcd[67086]: INFO: 2024/07/02 08:59:07 ClientConn switching balancer to "pick_first"
Jul 02 08:59:07 ubuntu etcd[67086]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jul 02 09:04:51 ubuntu etcd[67086]: start time = 2024-07-02 09:04:51.98234075 +0000 UTC m=+344.518795080, time spent = 698.229µs, remote = 10.201.5.82:44330, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 02 09:04:51 ubuntu etcd[67086]: start time = 2024-07-02 09:04:51.997894508 +0000 UTC m=+344.534348839, time spent = 309.289µs, remote = 10.201.5.82:44330, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 02 09:04:58 ubuntu etcd[67086]: start time = 2024-07-02 09:04:58.834342004 +0000 UTC m=+351.370796344, time spent = 259.393µs, remote = 10.201.5.82:44330, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 02 09:05:00 ubuntu etcd[67086]: start time = 2024-07-02 09:05:00.813297609 +0000 UTC m=+353.349751950, time spent = 220.054µs, remote = 10.201.5.82:44330, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
