Jul 25 08:22:44 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 25 08:22:44 ubuntu etcd[79508]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 25 08:22:44 ubuntu etcd[79508]:         A future release of golang/protobuf will delete this package,
Jul 25 08:22:44 ubuntu etcd[79508]:         which has long been excluded from the compatibility promise.
Jul 25 08:22:44 ubuntu etcd[79508]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 25 08:22:44 ubuntu etcd[79508]: Running http and grpc server on single port. This is not recommended for production.
Jul 25 08:22:44 ubuntu etcd[79508]: etcd Version: 3.4.27
Jul 25 08:22:44 ubuntu etcd[79508]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 25 08:22:44 ubuntu etcd[79508]: Git SHA: c92fb80f3
Jul 25 08:22:44 ubuntu etcd[79508]: Go Version: go1.19.10
Jul 25 08:22:44 ubuntu etcd[79508]: Go OS/Arch: linux/amd64
Jul 25 08:22:44 ubuntu etcd[79508]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 25 08:22:44 ubuntu etcd[79508]: Running http and grpc server on single port. This is not recommended for production.
Jul 25 08:22:44 ubuntu etcd[79508]: name = ubuntu
Jul 25 08:22:44 ubuntu etcd[79508]: data dir = /opt/stack/data/etcd
Jul 25 08:22:44 ubuntu etcd[79508]: member dir = /opt/stack/data/etcd/member
Jul 25 08:22:44 ubuntu etcd[79508]: heartbeat = 100ms
Jul 25 08:22:44 ubuntu etcd[79508]: election = 1000ms
Jul 25 08:22:44 ubuntu etcd[79508]: snapshot count = 100000
Jul 25 08:22:44 ubuntu etcd[79508]: advertise client URLs = http://10.201.5.82:2379
Jul 25 08:22:44 ubuntu etcd[79508]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 25 08:22:44 ubuntu etcd[79508]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jul 25 08:22:44 ubuntu etcd[79508]: raft2025/07/25 08:22:44 INFO: 43038365673ccf7b switched to configuration voters=()
Jul 25 08:22:44 ubuntu etcd[79508]: raft2025/07/25 08:22:44 INFO: 43038365673ccf7b became follower at term 0
Jul 25 08:22:44 ubuntu etcd[79508]: raft2025/07/25 08:22:44 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 25 08:22:44 ubuntu etcd[79508]: raft2025/07/25 08:22:44 INFO: 43038365673ccf7b became follower at term 1
Jul 25 08:22:44 ubuntu etcd[79508]: raft2025/07/25 08:22:44 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 25 08:22:44 ubuntu etcd[79508]: simple token is not cryptographically signed
Jul 25 08:22:44 ubuntu etcd[79508]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 25 08:22:44 ubuntu etcd[79508]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 25 08:22:44 ubuntu etcd[79508]: raft2025/07/25 08:22:44 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 25 08:22:44 ubuntu etcd[79508]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jul 25 08:22:44 ubuntu etcd[79508]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 25 08:22:44 ubuntu etcd[79508]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 25 08:22:44 ubuntu etcd[79508]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 25 08:22:44 ubuntu etcd[79508]: listening for peers on [::]:2380
Jul 25 08:22:45 ubuntu etcd[79508]: raft2025/07/25 08:22:45 INFO: 43038365673ccf7b is starting a new election at term 1
Jul 25 08:22:45 ubuntu etcd[79508]: raft2025/07/25 08:22:45 INFO: 43038365673ccf7b became candidate at term 2
Jul 25 08:22:45 ubuntu etcd[79508]: raft2025/07/25 08:22:45 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jul 25 08:22:45 ubuntu etcd[79508]: raft2025/07/25 08:22:45 INFO: 43038365673ccf7b became leader at term 2
Jul 25 08:22:45 ubuntu etcd[79508]: raft2025/07/25 08:22:45 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jul 25 08:22:45 ubuntu etcd[79508]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jul 25 08:22:45 ubuntu etcd[79508]: setting up the initial cluster version to 3.4
Jul 25 08:22:45 ubuntu etcd[79508]: ready to serve client requests
Jul 25 08:22:45 ubuntu etcd[79508]: set the initial cluster version to 3.4
Jul 25 08:22:45 ubuntu etcd[79508]: enabled capabilities for version 3.4
Jul 25 08:22:45 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 25 08:22:45 ubuntu etcd[79508]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jul 25 08:27:26 ubuntu etcd[79508]: start time = 2025-07-25 08:27:26.581053592 +0000 UTC m=+281.732715301, time spent = 1.414744ms, remote = 10.201.5.82:46818, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 25 08:27:26 ubuntu etcd[79508]: start time = 2025-07-25 08:27:26.620378819 +0000 UTC m=+281.772040538, time spent = 307.101µs, remote = 10.201.5.82:46818, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 25 08:27:33 ubuntu etcd[79508]: start time = 2025-07-25 08:27:33.446116986 +0000 UTC m=+288.597778703, time spent = 186.204µs, remote = 10.201.5.82:46818, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 25 08:27:35 ubuntu etcd[79508]: start time = 2025-07-25 08:27:35.487501743 +0000 UTC m=+290.639163462, time spent = 188.787µs, remote = 10.201.5.82:46818, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 25 08:31:13 ubuntu etcd[79508]: start time = 2025-07-25 08:31:13.003582849 +0000 UTC m=+508.155244569, time spent = 162.639µs, remote = 10.201.5.82:46818, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 25 08:31:13 ubuntu etcd[79508]: start time = 2025-07-25 08:31:13.003523725 +0000 UTC m=+508.155185449, time spent = 295.794µs, remote = 10.201.5.82:46818, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 25 08:31:13 ubuntu etcd[79508]: start time = 2025-07-25 08:31:13.097664866 +0000 UTC m=+508.249326584, time spent = 174.424µs, remote = 10.201.5.82:46818, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 25 08:31:15 ubuntu etcd[79508]: start time = 2025-07-25 08:31:15.574802433 +0000 UTC m=+510.726464161, time spent = 163.29µs, remote = 10.201.5.82:46818, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 25 08:38:00 ubuntu etcd[79508]: start time = 2025-07-25 08:38:00.014927462 +0000 UTC m=+915.166589167, time spent = 467.538µs, remote = 10.201.5.82:46818, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 25 08:38:00 ubuntu etcd[79508]: start time = 2025-07-25 08:38:00.024666359 +0000 UTC m=+915.176328127, time spent = 3.159336ms, remote = 10.201.5.82:46818, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-068fbfb6-3e30-458f-ad49-dd6c89a58e00" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-068fbfb6-3e30-458f-ad49-dd6c89a58e00" value_size:16 lease:5727338754686819865 >> failure:<request_range:<key:"/tooz/lockscinder-068fbfb6-3e30-458f-ad49-dd6c89a58e00" > >
Jul 25 08:38:04 ubuntu etcd[79508]: start time = 2025-07-25 08:38:04.274830457 +0000 UTC m=+919.426492179, time spent = 298.36µs, remote = 10.201.5.82:46818, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-068fbfb6-3e30-458f-ad49-dd6c89a58e00" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-068fbfb6-3e30-458f-ad49-dd6c89a58e00" > > failure:<>
Jul 25 08:38:04 ubuntu etcd[79508]: start time = 2025-07-25 08:38:04.524699016 +0000 UTC m=+919.676360819, time spent = 557.109µs, remote = 10.201.5.82:46818, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 25 08:38:04 ubuntu etcd[79508]: start time = 2025-07-25 08:38:04.528211563 +0000 UTC m=+919.679873375, time spent = 408.127µs, remote = 10.201.5.82:46818, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-068fbfb6-3e30-458f-ad49-dd6c89a58e00" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-068fbfb6-3e30-458f-ad49-dd6c89a58e00" value_size:16 lease:5727338754686819869 >> failure:<request_range:<key:"/tooz/lockscinder-068fbfb6-3e30-458f-ad49-dd6c89a58e00" > >
Jul 25 08:38:06 ubuntu etcd[79508]: start time = 2025-07-25 08:38:06.804604029 +0000 UTC m=+921.956265751, time spent = 265.537µs, remote = 10.201.5.82:46818, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-068fbfb6-3e30-458f-ad49-dd6c89a58e00" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-068fbfb6-3e30-458f-ad49-dd6c89a58e00" > > failure:<>
Jul 25 08:38:07 ubuntu etcd[79508]: start time = 2025-07-25 08:38:07.049043304 +0000 UTC m=+922.200705025, time spent = 349.871µs, remote = 10.201.5.82:46818, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 25 08:38:07 ubuntu etcd[79508]: start time = 2025-07-25 08:38:07.051638162 +0000 UTC m=+922.203299898, time spent = 276.615µs, remote = 10.201.5.82:46818, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-068fbfb6-3e30-458f-ad49-dd6c89a58e00" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-068fbfb6-3e30-458f-ad49-dd6c89a58e00" value_size:16 lease:5727338754686819873 >> failure:<request_range:<key:"/tooz/lockscinder-068fbfb6-3e30-458f-ad49-dd6c89a58e00" > >
Jul 25 08:38:08 ubuntu etcd[79508]: start time = 2025-07-25 08:38:08.80338411 +0000 UTC m=+923.955045823, time spent = 570.895µs, remote = 10.201.5.82:46818, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-068fbfb6-3e30-458f-ad49-dd6c89a58e00" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-068fbfb6-3e30-458f-ad49-dd6c89a58e00" > > failure:<>
