Jul 02 15:11:43 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 02 15:11:43 ubuntu etcd[66644]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 02 15:11:43 ubuntu etcd[66644]:         A future release of golang/protobuf will delete this package,
Jul 02 15:11:43 ubuntu etcd[66644]:         which has long been excluded from the compatibility promise.
Jul 02 15:11:43 ubuntu etcd[66644]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 02 15:11:43 ubuntu etcd[66644]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 02 15:11:43 ubuntu etcd[66644]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 02 15:11:43 ubuntu etcd[66644]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 02 15:11:43 ubuntu etcd[66644]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 02 15:11:43 ubuntu etcd[66644]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 02 15:11:43 ubuntu etcd[66644]: Running http and grpc server on single port. This is not recommended for production.
Jul 02 15:11:43 ubuntu etcd[66644]: etcd Version: 3.4.27
Jul 02 15:11:43 ubuntu etcd[66644]: Git SHA: c92fb80f3
Jul 02 15:11:43 ubuntu etcd[66644]: Go Version: go1.19.10
Jul 02 15:11:43 ubuntu etcd[66644]: Go OS/Arch: linux/amd64
Jul 02 15:11:43 ubuntu etcd[66644]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 02 15:11:43 ubuntu etcd[66644]: Running http and grpc server on single port. This is not recommended for production.
Jul 02 15:11:43 ubuntu etcd[66644]: name = ubuntu
Jul 02 15:11:43 ubuntu etcd[66644]: data dir = /opt/stack/data/etcd
Jul 02 15:11:43 ubuntu etcd[66644]: member dir = /opt/stack/data/etcd/member
Jul 02 15:11:43 ubuntu etcd[66644]: heartbeat = 100ms
Jul 02 15:11:43 ubuntu etcd[66644]: election = 1000ms
Jul 02 15:11:43 ubuntu etcd[66644]: snapshot count = 100000
Jul 02 15:11:43 ubuntu etcd[66644]: advertise client URLs = http://10.201.5.82:2379
Jul 02 15:11:43 ubuntu etcd[66644]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 02 15:11:43 ubuntu etcd[66644]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jul 02 15:11:43 ubuntu etcd[66644]: raft2024/07/02 15:11:43 INFO: 43038365673ccf7b switched to configuration voters=()
Jul 02 15:11:43 ubuntu etcd[66644]: raft2024/07/02 15:11:43 INFO: 43038365673ccf7b became follower at term 0
Jul 02 15:11:43 ubuntu etcd[66644]: raft2024/07/02 15:11:43 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 02 15:11:43 ubuntu etcd[66644]: raft2024/07/02 15:11:43 INFO: 43038365673ccf7b became follower at term 1
Jul 02 15:11:43 ubuntu etcd[66644]: raft2024/07/02 15:11:43 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 02 15:11:43 ubuntu etcd[66644]: simple token is not cryptographically signed
Jul 02 15:11:43 ubuntu etcd[66644]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 02 15:11:43 ubuntu etcd[66644]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 02 15:11:43 ubuntu etcd[66644]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 02 15:11:43 ubuntu etcd[66644]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 02 15:11:43 ubuntu etcd[66644]: raft2024/07/02 15:11:43 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 02 15:11:43 ubuntu etcd[66644]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jul 02 15:11:43 ubuntu etcd[66644]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 02 15:11:43 ubuntu etcd[66644]: listening for peers on [::]:2380
Jul 02 15:11:43 ubuntu etcd[66644]: raft2024/07/02 15:11:43 INFO: 43038365673ccf7b is starting a new election at term 1
Jul 02 15:11:43 ubuntu etcd[66644]: raft2024/07/02 15:11:43 INFO: 43038365673ccf7b became candidate at term 2
Jul 02 15:11:43 ubuntu etcd[66644]: raft2024/07/02 15:11:43 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jul 02 15:11:43 ubuntu etcd[66644]: raft2024/07/02 15:11:43 INFO: 43038365673ccf7b became leader at term 2
Jul 02 15:11:43 ubuntu etcd[66644]: raft2024/07/02 15:11:43 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jul 02 15:11:43 ubuntu etcd[66644]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jul 02 15:11:43 ubuntu etcd[66644]: setting up the initial cluster version to 3.4
Jul 02 15:11:43 ubuntu etcd[66644]: ready to serve client requests
Jul 02 15:11:43 ubuntu etcd[66644]: INFO: 2024/07/02 15:11:43 parsed scheme: ""
Jul 02 15:11:43 ubuntu etcd[66644]: INFO: 2024/07/02 15:11:43 scheme "" not registered, fallback to default scheme
Jul 02 15:11:43 ubuntu etcd[66644]: set the initial cluster version to 3.4
Jul 02 15:11:43 ubuntu etcd[66644]: enabled capabilities for version 3.4
Jul 02 15:11:43 ubuntu etcd[66644]: INFO: 2024/07/02 15:11:43 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Jul 02 15:11:43 ubuntu etcd[66644]: INFO: 2024/07/02 15:11:43 ClientConn switching balancer to "pick_first"
Jul 02 15:11:43 ubuntu etcd[66644]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jul 02 15:11:43 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 02 15:17:27 ubuntu etcd[66644]: start time = 2024-07-02 15:17:27.218574319 +0000 UTC m=+343.519941781, time spent = 508.079µs, remote = 10.201.5.82:44066, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 02 15:17:27 ubuntu etcd[66644]: start time = 2024-07-02 15:17:27.217317993 +0000 UTC m=+343.518685444, time spent = 2.598293ms, remote = 10.201.5.82:44066, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 02 15:17:34 ubuntu etcd[66644]: start time = 2024-07-02 15:17:34.016761524 +0000 UTC m=+350.318128974, time spent = 179.795µs, remote = 10.201.5.82:44066, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 02 15:17:35 ubuntu etcd[66644]: start time = 2024-07-02 15:17:35.828325385 +0000 UTC m=+352.129692846, time spent = 455.69µs, remote = 10.201.5.82:44066, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 02 15:20:30 ubuntu etcd[66644]: start time = 2024-07-02 15:20:30.041933056 +0000 UTC m=+526.343300518, time spent = 367.492µs, remote = 10.201.5.82:44066, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 02 15:20:30 ubuntu etcd[66644]: start time = 2024-07-02 15:20:30.070022213 +0000 UTC m=+526.371389702, time spent = 273.511µs, remote = 10.201.5.82:44066, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 02 15:20:31 ubuntu etcd[66644]: start time = 2024-07-02 15:20:31.72864113 +0000 UTC m=+528.030008596, time spent = 215.923µs, remote = 10.201.5.82:44066, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 02 15:20:31 ubuntu etcd[66644]: start time = 2024-07-02 15:20:31.762852429 +0000 UTC m=+528.064219891, time spent = 147.959µs, remote = 10.201.5.82:44066, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
