Jul 03 06:40:41 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 03 06:40:41 ubuntu etcd[66908]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 03 06:40:41 ubuntu etcd[66908]:         A future release of golang/protobuf will delete this package,
Jul 03 06:40:41 ubuntu etcd[66908]:         which has long been excluded from the compatibility promise.
Jul 03 06:40:41 ubuntu etcd[66908]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 03 06:40:41 ubuntu etcd[66908]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 03 06:40:41 ubuntu etcd[66908]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 03 06:40:41 ubuntu etcd[66908]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jul 03 06:40:41 ubuntu etcd[66908]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jul 03 06:40:41 ubuntu etcd[66908]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 03 06:40:41 ubuntu etcd[66908]: Running http and grpc server on single port. This is not recommended for production.
Jul 03 06:40:41 ubuntu etcd[66908]: etcd Version: 3.4.27
Jul 03 06:40:41 ubuntu etcd[66908]: Git SHA: c92fb80f3
Jul 03 06:40:41 ubuntu etcd[66908]: Go Version: go1.19.10
Jul 03 06:40:41 ubuntu etcd[66908]: Go OS/Arch: linux/amd64
Jul 03 06:40:41 ubuntu etcd[66908]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 03 06:40:41 ubuntu etcd[66908]: Running http and grpc server on single port. This is not recommended for production.
Jul 03 06:40:41 ubuntu etcd[66908]: name = ubuntu
Jul 03 06:40:41 ubuntu etcd[66908]: data dir = /opt/stack/data/etcd
Jul 03 06:40:41 ubuntu etcd[66908]: member dir = /opt/stack/data/etcd/member
Jul 03 06:40:41 ubuntu etcd[66908]: heartbeat = 100ms
Jul 03 06:40:41 ubuntu etcd[66908]: election = 1000ms
Jul 03 06:40:41 ubuntu etcd[66908]: snapshot count = 100000
Jul 03 06:40:41 ubuntu etcd[66908]: advertise client URLs = http://10.201.5.82:2379
Jul 03 06:40:41 ubuntu etcd[66908]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 03 06:40:41 ubuntu etcd[66908]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jul 03 06:40:41 ubuntu etcd[66908]: raft2024/07/03 06:40:41 INFO: 43038365673ccf7b switched to configuration voters=()
Jul 03 06:40:41 ubuntu etcd[66908]: raft2024/07/03 06:40:41 INFO: 43038365673ccf7b became follower at term 0
Jul 03 06:40:41 ubuntu etcd[66908]: raft2024/07/03 06:40:41 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 03 06:40:41 ubuntu etcd[66908]: raft2024/07/03 06:40:41 INFO: 43038365673ccf7b became follower at term 1
Jul 03 06:40:41 ubuntu etcd[66908]: raft2024/07/03 06:40:41 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 03 06:40:41 ubuntu etcd[66908]: simple token is not cryptographically signed
Jul 03 06:40:41 ubuntu etcd[66908]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 03 06:40:41 ubuntu etcd[66908]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 03 06:40:41 ubuntu etcd[66908]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 03 06:40:41 ubuntu etcd[66908]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 03 06:40:41 ubuntu etcd[66908]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 03 06:40:41 ubuntu etcd[66908]: raft2024/07/03 06:40:41 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 03 06:40:41 ubuntu etcd[66908]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jul 03 06:40:41 ubuntu etcd[66908]: listening for peers on [::]:2380
Jul 03 06:40:41 ubuntu etcd[66908]: raft2024/07/03 06:40:41 INFO: 43038365673ccf7b is starting a new election at term 1
Jul 03 06:40:41 ubuntu etcd[66908]: raft2024/07/03 06:40:41 INFO: 43038365673ccf7b became candidate at term 2
Jul 03 06:40:41 ubuntu etcd[66908]: raft2024/07/03 06:40:41 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jul 03 06:40:41 ubuntu etcd[66908]: raft2024/07/03 06:40:41 INFO: 43038365673ccf7b became leader at term 2
Jul 03 06:40:41 ubuntu etcd[66908]: raft2024/07/03 06:40:41 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jul 03 06:40:41 ubuntu etcd[66908]: setting up the initial cluster version to 3.4
Jul 03 06:40:41 ubuntu etcd[66908]: set the initial cluster version to 3.4
Jul 03 06:40:41 ubuntu etcd[66908]: enabled capabilities for version 3.4
Jul 03 06:40:41 ubuntu etcd[66908]: ready to serve client requests
Jul 03 06:40:41 ubuntu etcd[66908]: INFO: 2024/07/03 06:40:41 parsed scheme: ""
Jul 03 06:40:41 ubuntu etcd[66908]: INFO: 2024/07/03 06:40:41 scheme "" not registered, fallback to default scheme
Jul 03 06:40:41 ubuntu etcd[66908]: INFO: 2024/07/03 06:40:41 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Jul 03 06:40:41 ubuntu etcd[66908]: INFO: 2024/07/03 06:40:41 ClientConn switching balancer to "pick_first"
Jul 03 06:40:41 ubuntu etcd[66908]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jul 03 06:40:41 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 03 06:40:41 ubuntu etcd[66908]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jul 03 06:46:14 ubuntu etcd[66908]: start time = 2024-07-03 06:46:14.287837599 +0000 UTC m=+333.123719829, time spent = 1.785879ms, remote = 10.201.5.82:46282, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 03 06:46:14 ubuntu etcd[66908]: start time = 2024-07-03 06:46:14.287996672 +0000 UTC m=+333.123878913, time spent = 2.04048ms, remote = 10.201.5.82:46282, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 03 06:46:21 ubuntu etcd[66908]: start time = 2024-07-03 06:46:21.595676423 +0000 UTC m=+340.431558654, time spent = 411.506µs, remote = 10.201.5.82:46282, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 03 06:46:23 ubuntu etcd[66908]: start time = 2024-07-03 06:46:23.956830082 +0000 UTC m=+342.792712323, time spent = 216.317µs, remote = 10.201.5.82:46282, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 03 06:50:18 ubuntu etcd[66908]: start time = 2024-07-03 06:50:18.815186099 +0000 UTC m=+577.651068342, time spent = 340.003µs, remote = 10.201.5.82:46282, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 03 06:50:18 ubuntu etcd[66908]: start time = 2024-07-03 06:50:18.901577538 +0000 UTC m=+577.737459781, time spent = 167.527µs, remote = 10.201.5.82:46282, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 03 06:50:18 ubuntu etcd[66908]: start time = 2024-07-03 06:50:18.926408816 +0000 UTC m=+577.762291058, time spent = 253.69µs, remote = 10.201.5.82:46282, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 03 06:50:23 ubuntu etcd[66908]: start time = 2024-07-03 06:50:23.174027367 +0000 UTC m=+582.009909697, time spent = 419.976µs, remote = 10.201.5.82:46282, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
