Dec 05 08:09:09 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 05 08:09:09 ubuntu etcd[67369]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 05 08:09:09 ubuntu etcd[67369]:         A future release of golang/protobuf will delete this package,
Dec 05 08:09:09 ubuntu etcd[67369]:         which has long been excluded from the compatibility promise.
Dec 05 08:09:09 ubuntu etcd[67369]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 05 08:09:09 ubuntu etcd[67369]: Running http and grpc server on single port. This is not recommended for production.
Dec 05 08:09:09 ubuntu etcd[67369]: etcd Version: 3.4.27
Dec 05 08:09:09 ubuntu etcd[67369]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 05 08:09:09 ubuntu etcd[67369]: Git SHA: c92fb80f3
Dec 05 08:09:09 ubuntu etcd[67369]: Go Version: go1.19.10
Dec 05 08:09:09 ubuntu etcd[67369]: Go OS/Arch: linux/amd64
Dec 05 08:09:09 ubuntu etcd[67369]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 05 08:09:09 ubuntu etcd[67369]: Running http and grpc server on single port. This is not recommended for production.
Dec 05 08:09:09 ubuntu etcd[67369]: name = ubuntu
Dec 05 08:09:09 ubuntu etcd[67369]: data dir = /opt/stack/data/etcd
Dec 05 08:09:09 ubuntu etcd[67369]: member dir = /opt/stack/data/etcd/member
Dec 05 08:09:09 ubuntu etcd[67369]: heartbeat = 100ms
Dec 05 08:09:09 ubuntu etcd[67369]: election = 1000ms
Dec 05 08:09:09 ubuntu etcd[67369]: snapshot count = 100000
Dec 05 08:09:09 ubuntu etcd[67369]: advertise client URLs = http://10.201.5.82:2379
Dec 05 08:09:09 ubuntu etcd[67369]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Dec 05 08:09:09 ubuntu etcd[67369]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Dec 05 08:09:09 ubuntu etcd[67369]: raft2024/12/05 08:09:09 INFO: 43038365673ccf7b switched to configuration voters=()
Dec 05 08:09:09 ubuntu etcd[67369]: raft2024/12/05 08:09:09 INFO: 43038365673ccf7b became follower at term 0
Dec 05 08:09:09 ubuntu etcd[67369]: raft2024/12/05 08:09:09 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Dec 05 08:09:09 ubuntu etcd[67369]: raft2024/12/05 08:09:09 INFO: 43038365673ccf7b became follower at term 1
Dec 05 08:09:09 ubuntu etcd[67369]: raft2024/12/05 08:09:09 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Dec 05 08:09:09 ubuntu etcd[67369]: simple token is not cryptographically signed
Dec 05 08:09:09 ubuntu etcd[67369]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Dec 05 08:09:09 ubuntu etcd[67369]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Dec 05 08:09:09 ubuntu etcd[67369]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Dec 05 08:09:09 ubuntu etcd[67369]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Dec 05 08:09:09 ubuntu etcd[67369]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Dec 05 08:09:09 ubuntu etcd[67369]: raft2024/12/05 08:09:09 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Dec 05 08:09:09 ubuntu etcd[67369]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Dec 05 08:09:09 ubuntu etcd[67369]: listening for peers on [::]:2380
Dec 05 08:09:10 ubuntu etcd[67369]: raft2024/12/05 08:09:10 INFO: 43038365673ccf7b is starting a new election at term 1
Dec 05 08:09:10 ubuntu etcd[67369]: raft2024/12/05 08:09:10 INFO: 43038365673ccf7b became candidate at term 2
Dec 05 08:09:10 ubuntu etcd[67369]: raft2024/12/05 08:09:10 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Dec 05 08:09:10 ubuntu etcd[67369]: raft2024/12/05 08:09:10 INFO: 43038365673ccf7b became leader at term 2
Dec 05 08:09:10 ubuntu etcd[67369]: raft2024/12/05 08:09:10 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Dec 05 08:09:10 ubuntu etcd[67369]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Dec 05 08:09:10 ubuntu etcd[67369]: ready to serve client requests
Dec 05 08:09:10 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Dec 05 08:09:10 ubuntu etcd[67369]: setting up the initial cluster version to 3.4
Dec 05 08:09:10 ubuntu etcd[67369]: set the initial cluster version to 3.4
Dec 05 08:09:10 ubuntu etcd[67369]: enabled capabilities for version 3.4
Dec 05 08:09:10 ubuntu etcd[67369]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Dec 05 08:14:03 ubuntu etcd[67369]: start time = 2024-12-05 08:14:03.931604867 +0000 UTC m=+294.012031076, time spent = 1.981065ms, remote = 10.201.5.82:54498, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 05 08:14:03 ubuntu etcd[67369]: start time = 2024-12-05 08:14:03.984077711 +0000 UTC m=+294.064503931, time spent = 168.587µs, remote = 10.201.5.82:54498, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 05 08:14:10 ubuntu etcd[67369]: start time = 2024-12-05 08:14:10.654275357 +0000 UTC m=+300.734701580, time spent = 243.628µs, remote = 10.201.5.82:54498, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 05 08:14:13 ubuntu etcd[67369]: start time = 2024-12-05 08:14:13.030237429 +0000 UTC m=+303.110663649, time spent = 212.976µs, remote = 10.201.5.82:54498, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 05 08:17:07 ubuntu etcd[67369]: start time = 2024-12-05 08:17:07.1239299 +0000 UTC m=+477.204356107, time spent = 372.037µs, remote = 10.201.5.82:54498, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 05 08:17:07 ubuntu etcd[67369]: start time = 2024-12-05 08:17:07.309265975 +0000 UTC m=+477.389692196, time spent = 297.817µs, remote = 10.201.5.82:54498, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 05 08:17:08 ubuntu etcd[67369]: start time = 2024-12-05 08:17:08.2725357 +0000 UTC m=+478.352961922, time spent = 187.753µs, remote = 10.201.5.82:54498, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 05 08:17:10 ubuntu etcd[67369]: start time = 2024-12-05 08:17:10.447009742 +0000 UTC m=+480.527435960, time spent = 287.205µs, remote = 10.201.5.82:54498, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 05 08:19:00 ubuntu etcd[67369]: start time = 2024-12-05 08:19:00.54933029 +0000 UTC m=+590.629756512, time spent = 343.122µs, remote = 10.201.5.82:54498, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 05 08:19:00 ubuntu etcd[67369]: start time = 2024-12-05 08:19:00.552504408 +0000 UTC m=+590.632930627, time spent = 543.136µs, remote = 10.201.5.82:54498, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-bb646b58-e9a0-480c-acf2-6f43fe08e3bb" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-bb646b58-e9a0-480c-acf2-6f43fe08e3bb" value_size:16 lease:5727333623009396505 >> failure:<request_range:<key:"/tooz/lockscinder-bb646b58-e9a0-480c-acf2-6f43fe08e3bb" > >
Dec 05 08:19:03 ubuntu etcd[67369]: start time = 2024-12-05 08:19:03.511927363 +0000 UTC m=+593.592353581, time spent = 319.026µs, remote = 10.201.5.82:54498, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-bb646b58-e9a0-480c-acf2-6f43fe08e3bb" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-bb646b58-e9a0-480c-acf2-6f43fe08e3bb" > > failure:<>
Dec 05 08:19:03 ubuntu etcd[67369]: start time = 2024-12-05 08:19:03.731760819 +0000 UTC m=+593.812187045, time spent = 260.309µs, remote = 10.201.5.82:54498, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 05 08:19:03 ubuntu etcd[67369]: start time = 2024-12-05 08:19:03.734167778 +0000 UTC m=+593.814594008, time spent = 205.488µs, remote = 10.201.5.82:54498, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-bb646b58-e9a0-480c-acf2-6f43fe08e3bb" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-bb646b58-e9a0-480c-acf2-6f43fe08e3bb" value_size:16 lease:5727333623009396509 >> failure:<request_range:<key:"/tooz/lockscinder-bb646b58-e9a0-480c-acf2-6f43fe08e3bb" > >
Dec 05 08:19:04 ubuntu etcd[67369]: start time = 2024-12-05 08:19:04.509550761 +0000 UTC m=+594.589976984, time spent = 269.272µs, remote = 10.201.5.82:54498, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-bb646b58-e9a0-480c-acf2-6f43fe08e3bb" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-bb646b58-e9a0-480c-acf2-6f43fe08e3bb" > > failure:<>
Dec 05 08:19:04 ubuntu etcd[67369]: start time = 2024-12-05 08:19:04.712527638 +0000 UTC m=+594.792953866, time spent = 273.943µs, remote = 10.201.5.82:54498, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 05 08:19:04 ubuntu etcd[67369]: start time = 2024-12-05 08:19:04.714577601 +0000 UTC m=+594.795003909, time spent = 536.3µs, remote = 10.201.5.82:54498, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-bb646b58-e9a0-480c-acf2-6f43fe08e3bb" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-bb646b58-e9a0-480c-acf2-6f43fe08e3bb" value_size:16 lease:5727333623009396513 >> failure:<request_range:<key:"/tooz/lockscinder-bb646b58-e9a0-480c-acf2-6f43fe08e3bb" > >
Dec 05 08:19:05 ubuntu etcd[67369]: start time = 2024-12-05 08:19:05.485141534 +0000 UTC m=+595.565567757, time spent = 292.786µs, remote = 10.201.5.82:54498, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-bb646b58-e9a0-480c-acf2-6f43fe08e3bb" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-bb646b58-e9a0-480c-acf2-6f43fe08e3bb" > > failure:<>
