Jun 27 15:30:44 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 27 15:30:44 ubuntu etcd[66892]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 27 15:30:44 ubuntu etcd[66892]:         A future release of golang/protobuf will delete this package,
Jun 27 15:30:44 ubuntu etcd[66892]:         which has long been excluded from the compatibility promise.
Jun 27 15:30:44 ubuntu etcd[66892]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jun 27 15:30:44 ubuntu etcd[66892]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jun 27 15:30:44 ubuntu etcd[66892]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 27 15:30:44 ubuntu etcd[66892]: Running http and grpc server on single port. This is not recommended for production.
Jun 27 15:30:44 ubuntu etcd[66892]: etcd Version: 3.4.27
Jun 27 15:30:44 ubuntu etcd[66892]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jun 27 15:30:44 ubuntu etcd[66892]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jun 27 15:30:44 ubuntu etcd[66892]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 27 15:30:44 ubuntu etcd[66892]: Git SHA: c92fb80f3
Jun 27 15:30:44 ubuntu etcd[66892]: Go Version: go1.19.10
Jun 27 15:30:44 ubuntu etcd[66892]: Go OS/Arch: linux/amd64
Jun 27 15:30:44 ubuntu etcd[66892]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 27 15:30:44 ubuntu etcd[66892]: Running http and grpc server on single port. This is not recommended for production.
Jun 27 15:30:44 ubuntu etcd[66892]: name = ubuntu
Jun 27 15:30:44 ubuntu etcd[66892]: data dir = /opt/stack/data/etcd
Jun 27 15:30:44 ubuntu etcd[66892]: member dir = /opt/stack/data/etcd/member
Jun 27 15:30:44 ubuntu etcd[66892]: heartbeat = 100ms
Jun 27 15:30:44 ubuntu etcd[66892]: election = 1000ms
Jun 27 15:30:44 ubuntu etcd[66892]: snapshot count = 100000
Jun 27 15:30:44 ubuntu etcd[66892]: advertise client URLs = http://10.201.5.82:2379
Jun 27 15:30:44 ubuntu etcd[66892]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 27 15:30:44 ubuntu etcd[66892]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jun 27 15:30:44 ubuntu etcd[66892]: raft2024/06/27 15:30:44 INFO: 43038365673ccf7b switched to configuration voters=()
Jun 27 15:30:44 ubuntu etcd[66892]: raft2024/06/27 15:30:44 INFO: 43038365673ccf7b became follower at term 0
Jun 27 15:30:44 ubuntu etcd[66892]: raft2024/06/27 15:30:44 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 27 15:30:44 ubuntu etcd[66892]: raft2024/06/27 15:30:44 INFO: 43038365673ccf7b became follower at term 1
Jun 27 15:30:44 ubuntu etcd[66892]: raft2024/06/27 15:30:44 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 27 15:30:44 ubuntu etcd[66892]: simple token is not cryptographically signed
Jun 27 15:30:44 ubuntu etcd[66892]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 27 15:30:44 ubuntu etcd[66892]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 27 15:30:44 ubuntu etcd[66892]: raft2024/06/27 15:30:44 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 27 15:30:44 ubuntu etcd[66892]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 27 15:30:44 ubuntu etcd[66892]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 27 15:30:44 ubuntu etcd[66892]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 27 15:30:44 ubuntu etcd[66892]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jun 27 15:30:44 ubuntu etcd[66892]: listening for peers on [::]:2380
Jun 27 15:30:44 ubuntu etcd[66892]: raft2024/06/27 15:30:44 INFO: 43038365673ccf7b is starting a new election at term 1
Jun 27 15:30:44 ubuntu etcd[66892]: raft2024/06/27 15:30:44 INFO: 43038365673ccf7b became candidate at term 2
Jun 27 15:30:44 ubuntu etcd[66892]: raft2024/06/27 15:30:44 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jun 27 15:30:44 ubuntu etcd[66892]: raft2024/06/27 15:30:44 INFO: 43038365673ccf7b became leader at term 2
Jun 27 15:30:44 ubuntu etcd[66892]: raft2024/06/27 15:30:44 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jun 27 15:30:44 ubuntu etcd[66892]: INFO: 2024/06/27 15:30:44 parsed scheme: ""
Jun 27 15:30:44 ubuntu etcd[66892]: INFO: 2024/06/27 15:30:44 scheme "" not registered, fallback to default scheme
Jun 27 15:30:44 ubuntu etcd[66892]: INFO: 2024/06/27 15:30:44 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Jun 27 15:30:44 ubuntu etcd[66892]: INFO: 2024/06/27 15:30:44 ClientConn switching balancer to "pick_first"
Jun 27 15:30:44 ubuntu etcd[66892]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jun 27 15:30:44 ubuntu etcd[66892]: setting up the initial cluster version to 3.4
Jun 27 15:30:44 ubuntu etcd[66892]: set the initial cluster version to 3.4
Jun 27 15:30:44 ubuntu etcd[66892]: enabled capabilities for version 3.4
Jun 27 15:30:44 ubuntu etcd[66892]: ready to serve client requests
Jun 27 15:30:44 ubuntu etcd[66892]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jun 27 15:30:44 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 27 15:36:25 ubuntu etcd[66892]: start time = 2024-06-27 15:36:25.877930612 +0000 UTC m=+341.831840220, time spent = 761.372µs, remote = 10.201.5.82:45272, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 27 15:36:25 ubuntu etcd[66892]: start time = 2024-06-27 15:36:25.877158403 +0000 UTC m=+341.831068002, time spent = 3.04678ms, remote = 10.201.5.82:45272, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 27 15:36:32 ubuntu etcd[66892]: start time = 2024-06-27 15:36:32.801926459 +0000 UTC m=+348.755836065, time spent = 200.811µs, remote = 10.201.5.82:45272, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 27 15:36:35 ubuntu etcd[66892]: start time = 2024-06-27 15:36:35.068999889 +0000 UTC m=+351.022909495, time spent = 323.646µs, remote = 10.201.5.82:45272, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 27 15:39:34 ubuntu etcd[66892]: start time = 2024-06-27 15:39:34.352403502 +0000 UTC m=+530.306313107, time spent = 417.648µs, remote = 10.201.5.82:45272, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 27 15:39:34 ubuntu etcd[66892]: start time = 2024-06-27 15:39:34.403134529 +0000 UTC m=+530.357044184, time spent = 435.258µs, remote = 10.201.5.82:45272, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 27 15:39:38 ubuntu etcd[66892]: start time = 2024-06-27 15:39:38.869708626 +0000 UTC m=+534.823618234, time spent = 372.003µs, remote = 10.201.5.82:45272, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 27 15:39:38 ubuntu etcd[66892]: start time = 2024-06-27 15:39:38.915644394 +0000 UTC m=+534.869554002, time spent = 202.534µs, remote = 10.201.5.82:45272, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
