Jun 27 17:38:52 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 27 17:38:52 ubuntu etcd[66787]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 27 17:38:52 ubuntu etcd[66787]:         A future release of golang/protobuf will delete this package,
Jun 27 17:38:52 ubuntu etcd[66787]:         which has long been excluded from the compatibility promise.
Jun 27 17:38:52 ubuntu etcd[66787]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jun 27 17:38:52 ubuntu etcd[66787]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jun 27 17:38:52 ubuntu etcd[66787]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 27 17:38:52 ubuntu etcd[66787]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Jun 27 17:38:52 ubuntu etcd[66787]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Jun 27 17:38:52 ubuntu etcd[66787]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 27 17:38:52 ubuntu etcd[66787]: Running http and grpc server on single port. This is not recommended for production.
Jun 27 17:38:52 ubuntu etcd[66787]: etcd Version: 3.4.27
Jun 27 17:38:52 ubuntu etcd[66787]: Git SHA: c92fb80f3
Jun 27 17:38:52 ubuntu etcd[66787]: Go Version: go1.19.10
Jun 27 17:38:52 ubuntu etcd[66787]: Go OS/Arch: linux/amd64
Jun 27 17:38:52 ubuntu etcd[66787]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 27 17:38:52 ubuntu etcd[66787]: Running http and grpc server on single port. This is not recommended for production.
Jun 27 17:38:52 ubuntu etcd[66787]: name = ubuntu
Jun 27 17:38:52 ubuntu etcd[66787]: data dir = /opt/stack/data/etcd
Jun 27 17:38:52 ubuntu etcd[66787]: member dir = /opt/stack/data/etcd/member
Jun 27 17:38:52 ubuntu etcd[66787]: heartbeat = 100ms
Jun 27 17:38:52 ubuntu etcd[66787]: election = 1000ms
Jun 27 17:38:52 ubuntu etcd[66787]: snapshot count = 100000
Jun 27 17:38:52 ubuntu etcd[66787]: advertise client URLs = http://10.201.5.82:2379
Jun 27 17:38:52 ubuntu etcd[66787]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 27 17:38:52 ubuntu etcd[66787]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jun 27 17:38:52 ubuntu etcd[66787]: raft2024/06/27 17:38:52 INFO: 43038365673ccf7b switched to configuration voters=()
Jun 27 17:38:52 ubuntu etcd[66787]: raft2024/06/27 17:38:52 INFO: 43038365673ccf7b became follower at term 0
Jun 27 17:38:52 ubuntu etcd[66787]: raft2024/06/27 17:38:52 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 27 17:38:52 ubuntu etcd[66787]: raft2024/06/27 17:38:52 INFO: 43038365673ccf7b became follower at term 1
Jun 27 17:38:52 ubuntu etcd[66787]: raft2024/06/27 17:38:52 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 27 17:38:52 ubuntu etcd[66787]: simple token is not cryptographically signed
Jun 27 17:38:52 ubuntu etcd[66787]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 27 17:38:52 ubuntu etcd[66787]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 27 17:38:52 ubuntu etcd[66787]: raft2024/06/27 17:38:52 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 27 17:38:52 ubuntu etcd[66787]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jun 27 17:38:52 ubuntu etcd[66787]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 27 17:38:52 ubuntu etcd[66787]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 27 17:38:52 ubuntu etcd[66787]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 27 17:38:52 ubuntu etcd[66787]: listening for peers on [::]:2380
Jun 27 17:38:52 ubuntu etcd[66787]: raft2024/06/27 17:38:52 INFO: 43038365673ccf7b is starting a new election at term 1
Jun 27 17:38:52 ubuntu etcd[66787]: raft2024/06/27 17:38:52 INFO: 43038365673ccf7b became candidate at term 2
Jun 27 17:38:52 ubuntu etcd[66787]: raft2024/06/27 17:38:52 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jun 27 17:38:52 ubuntu etcd[66787]: raft2024/06/27 17:38:52 INFO: 43038365673ccf7b became leader at term 2
Jun 27 17:38:52 ubuntu etcd[66787]: raft2024/06/27 17:38:52 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jun 27 17:38:52 ubuntu etcd[66787]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jun 27 17:38:52 ubuntu etcd[66787]: ready to serve client requests
Jun 27 17:38:52 ubuntu etcd[66787]: INFO: 2024/06/27 17:38:52 parsed scheme: ""
Jun 27 17:38:52 ubuntu etcd[66787]: INFO: 2024/06/27 17:38:52 scheme "" not registered, fallback to default scheme
Jun 27 17:38:52 ubuntu etcd[66787]: setting up the initial cluster version to 3.4
Jun 27 17:38:52 ubuntu etcd[66787]: INFO: 2024/06/27 17:38:52 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Jun 27 17:38:52 ubuntu etcd[66787]: INFO: 2024/06/27 17:38:52 ClientConn switching balancer to "pick_first"
Jun 27 17:38:52 ubuntu etcd[66787]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jun 27 17:38:52 ubuntu etcd[66787]: set the initial cluster version to 3.4
Jun 27 17:38:52 ubuntu etcd[66787]: enabled capabilities for version 3.4
Jun 27 17:38:52 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 27 17:44:35 ubuntu etcd[66787]: start time = 2024-06-27 17:44:35.977083597 +0000 UTC m=+343.899898948, time spent = 1.982551ms, remote = 10.201.5.82:45326, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 27 17:44:35 ubuntu etcd[66787]: start time = 2024-06-27 17:44:35.977264588 +0000 UTC m=+343.900079938, time spent = 3.134962ms, remote = 10.201.5.82:45326, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 27 17:44:43 ubuntu etcd[66787]: start time = 2024-06-27 17:44:43.090786326 +0000 UTC m=+351.013601672, time spent = 283.068µs, remote = 10.201.5.82:45326, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 27 17:44:45 ubuntu etcd[66787]: start time = 2024-06-27 17:44:45.009677618 +0000 UTC m=+352.932492961, time spent = 698.954µs, remote = 10.201.5.82:45326, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 27 17:48:23 ubuntu etcd[66787]: start time = 2024-06-27 17:48:23.208018284 +0000 UTC m=+571.130833638, time spent = 476.139µs, remote = 10.201.5.82:45326, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 27 17:48:23 ubuntu etcd[66787]: start time = 2024-06-27 17:48:23.232971424 +0000 UTC m=+571.155786778, time spent = 180.258µs, remote = 10.201.5.82:45326, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 27 17:48:25 ubuntu etcd[66787]: start time = 2024-06-27 17:48:25.646472469 +0000 UTC m=+573.569287814, time spent = 288.256µs, remote = 10.201.5.82:45326, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 27 17:48:25 ubuntu etcd[66787]: start time = 2024-06-27 17:48:25.651380151 +0000 UTC m=+573.574195506, time spent = 126.848µs, remote = 10.201.5.82:45326, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
