Mar 13 17:05:22 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 13 17:05:22 ubuntu etcd[65979]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 13 17:05:22 ubuntu etcd[65979]:         A future release of golang/protobuf will delete this package,
Mar 13 17:05:22 ubuntu etcd[65979]:         which has long been excluded from the compatibility promise.
Mar 13 17:05:22 ubuntu etcd[65979]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 13 17:05:22 ubuntu etcd[65979]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 13 17:05:22 ubuntu etcd[65979]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 13 17:05:22 ubuntu etcd[65979]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 13 17:05:22 ubuntu etcd[65979]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 13 17:05:22 ubuntu etcd[65979]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 13 17:05:22 ubuntu etcd[65979]: Running http and grpc server on single port. This is not recommended for production.
Mar 13 17:05:22 ubuntu etcd[65979]: etcd Version: 3.4.27
Mar 13 17:05:22 ubuntu etcd[65979]: Git SHA: c92fb80f3
Mar 13 17:05:22 ubuntu etcd[65979]: Go Version: go1.19.10
Mar 13 17:05:22 ubuntu etcd[65979]: Go OS/Arch: linux/amd64
Mar 13 17:05:22 ubuntu etcd[65979]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 13 17:05:22 ubuntu etcd[65979]: Running http and grpc server on single port. This is not recommended for production.
Mar 13 17:05:22 ubuntu etcd[65979]: name = ubuntu
Mar 13 17:05:22 ubuntu etcd[65979]: data dir = /opt/stack/data/etcd
Mar 13 17:05:22 ubuntu etcd[65979]: member dir = /opt/stack/data/etcd/member
Mar 13 17:05:22 ubuntu etcd[65979]: heartbeat = 100ms
Mar 13 17:05:22 ubuntu etcd[65979]: election = 1000ms
Mar 13 17:05:22 ubuntu etcd[65979]: snapshot count = 100000
Mar 13 17:05:22 ubuntu etcd[65979]: advertise client URLs = http://10.201.5.82:2379
Mar 13 17:05:22 ubuntu etcd[65979]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 13 17:05:22 ubuntu etcd[65979]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Mar 13 17:05:22 ubuntu etcd[65979]: raft2024/03/13 17:05:22 INFO: 43038365673ccf7b switched to configuration voters=()
Mar 13 17:05:22 ubuntu etcd[65979]: raft2024/03/13 17:05:22 INFO: 43038365673ccf7b became follower at term 0
Mar 13 17:05:22 ubuntu etcd[65979]: raft2024/03/13 17:05:22 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 13 17:05:22 ubuntu etcd[65979]: raft2024/03/13 17:05:22 INFO: 43038365673ccf7b became follower at term 1
Mar 13 17:05:22 ubuntu etcd[65979]: raft2024/03/13 17:05:22 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 13 17:05:22 ubuntu etcd[65979]: simple token is not cryptographically signed
Mar 13 17:05:22 ubuntu etcd[65979]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 13 17:05:22 ubuntu etcd[65979]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 13 17:05:22 ubuntu etcd[65979]: raft2024/03/13 17:05:22 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 13 17:05:22 ubuntu etcd[65979]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 13 17:05:22 ubuntu etcd[65979]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 13 17:05:22 ubuntu etcd[65979]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 13 17:05:22 ubuntu etcd[65979]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Mar 13 17:05:22 ubuntu etcd[65979]: listening for peers on [::]:2380
Mar 13 17:05:22 ubuntu etcd[65979]: raft2024/03/13 17:05:22 INFO: 43038365673ccf7b is starting a new election at term 1
Mar 13 17:05:22 ubuntu etcd[65979]: raft2024/03/13 17:05:22 INFO: 43038365673ccf7b became candidate at term 2
Mar 13 17:05:22 ubuntu etcd[65979]: raft2024/03/13 17:05:22 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Mar 13 17:05:22 ubuntu etcd[65979]: raft2024/03/13 17:05:22 INFO: 43038365673ccf7b became leader at term 2
Mar 13 17:05:22 ubuntu etcd[65979]: raft2024/03/13 17:05:22 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Mar 13 17:05:22 ubuntu etcd[65979]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Mar 13 17:05:22 ubuntu etcd[65979]: ready to serve client requests
Mar 13 17:05:22 ubuntu etcd[65979]: setting up the initial cluster version to 3.4
Mar 13 17:05:22 ubuntu etcd[65979]: INFO: 2024/03/13 17:05:22 parsed scheme: ""
Mar 13 17:05:22 ubuntu etcd[65979]: INFO: 2024/03/13 17:05:22 scheme "" not registered, fallback to default scheme
Mar 13 17:05:22 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 13 17:05:22 ubuntu etcd[65979]: set the initial cluster version to 3.4
Mar 13 17:05:22 ubuntu etcd[65979]: enabled capabilities for version 3.4
Mar 13 17:05:22 ubuntu etcd[65979]: INFO: 2024/03/13 17:05:22 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Mar 13 17:05:22 ubuntu etcd[65979]: INFO: 2024/03/13 17:05:22 ClientConn switching balancer to "pick_first"
Mar 13 17:05:22 ubuntu etcd[65979]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Mar 13 17:14:10 ubuntu etcd[65979]: start time = 2024-03-13 17:14:10.381211626 +0000 UTC m=+528.100827888, time spent = 6.289741ms, remote = 10.201.5.82:47684, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 13 17:14:10 ubuntu etcd[65979]: start time = 2024-03-13 17:14:10.43115676 +0000 UTC m=+528.150773022, time spent = 269.663µs, remote = 10.201.5.82:47684, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 13 17:14:17 ubuntu etcd[65979]: start time = 2024-03-13 17:14:17.119860131 +0000 UTC m=+534.839476393, time spent = 302.158µs, remote = 10.201.5.82:47684, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 13 17:14:19 ubuntu etcd[65979]: start time = 2024-03-13 17:14:19.309899568 +0000 UTC m=+537.029515839, time spent = 449.245µs, remote = 10.201.5.82:47684, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
