Mar 05 23:54:44 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 05 23:54:44 ubuntu etcd[65500]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 05 23:54:44 ubuntu etcd[65500]:         A future release of golang/protobuf will delete this package,
Mar 05 23:54:44 ubuntu etcd[65500]:         which has long been excluded from the compatibility promise.
Mar 05 23:54:44 ubuntu etcd[65500]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 05 23:54:44 ubuntu etcd[65500]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 05 23:54:44 ubuntu etcd[65500]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 05 23:54:44 ubuntu etcd[65500]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 05 23:54:44 ubuntu etcd[65500]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 05 23:54:44 ubuntu etcd[65500]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 05 23:54:44 ubuntu etcd[65500]: Running http and grpc server on single port. This is not recommended for production.
Mar 05 23:54:44 ubuntu etcd[65500]: etcd Version: 3.4.27
Mar 05 23:54:44 ubuntu etcd[65500]: Git SHA: c92fb80f3
Mar 05 23:54:44 ubuntu etcd[65500]: Go Version: go1.19.10
Mar 05 23:54:44 ubuntu etcd[65500]: Go OS/Arch: linux/amd64
Mar 05 23:54:44 ubuntu etcd[65500]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 05 23:54:44 ubuntu etcd[65500]: Running http and grpc server on single port. This is not recommended for production.
Mar 05 23:54:44 ubuntu etcd[65500]: name = ubuntu
Mar 05 23:54:44 ubuntu etcd[65500]: data dir = /opt/stack/data/etcd
Mar 05 23:54:44 ubuntu etcd[65500]: member dir = /opt/stack/data/etcd/member
Mar 05 23:54:44 ubuntu etcd[65500]: heartbeat = 100ms
Mar 05 23:54:44 ubuntu etcd[65500]: election = 1000ms
Mar 05 23:54:44 ubuntu etcd[65500]: snapshot count = 100000
Mar 05 23:54:44 ubuntu etcd[65500]: advertise client URLs = http://10.201.5.82:2379
Mar 05 23:54:44 ubuntu etcd[65500]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 05 23:54:44 ubuntu etcd[65500]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Mar 05 23:54:44 ubuntu etcd[65500]: raft2024/03/05 23:54:44 INFO: 43038365673ccf7b switched to configuration voters=()
Mar 05 23:54:44 ubuntu etcd[65500]: raft2024/03/05 23:54:44 INFO: 43038365673ccf7b became follower at term 0
Mar 05 23:54:44 ubuntu etcd[65500]: raft2024/03/05 23:54:44 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 05 23:54:44 ubuntu etcd[65500]: raft2024/03/05 23:54:44 INFO: 43038365673ccf7b became follower at term 1
Mar 05 23:54:44 ubuntu etcd[65500]: raft2024/03/05 23:54:44 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 05 23:54:44 ubuntu etcd[65500]: simple token is not cryptographically signed
Mar 05 23:54:44 ubuntu etcd[65500]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 05 23:54:44 ubuntu etcd[65500]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 05 23:54:44 ubuntu etcd[65500]: raft2024/03/05 23:54:44 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 05 23:54:44 ubuntu etcd[65500]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 05 23:54:44 ubuntu etcd[65500]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 05 23:54:44 ubuntu etcd[65500]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 05 23:54:44 ubuntu etcd[65500]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Mar 05 23:54:44 ubuntu etcd[65500]: listening for peers on [::]:2380
Mar 05 23:54:45 ubuntu etcd[65500]: raft2024/03/05 23:54:45 INFO: 43038365673ccf7b is starting a new election at term 1
Mar 05 23:54:45 ubuntu etcd[65500]: raft2024/03/05 23:54:45 INFO: 43038365673ccf7b became candidate at term 2
Mar 05 23:54:45 ubuntu etcd[65500]: raft2024/03/05 23:54:45 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Mar 05 23:54:45 ubuntu etcd[65500]: raft2024/03/05 23:54:45 INFO: 43038365673ccf7b became leader at term 2
Mar 05 23:54:45 ubuntu etcd[65500]: raft2024/03/05 23:54:45 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Mar 05 23:54:45 ubuntu etcd[65500]: ready to serve client requests
Mar 05 23:54:45 ubuntu etcd[65500]: INFO: 2024/03/05 23:54:45 parsed scheme: ""
Mar 05 23:54:45 ubuntu etcd[65500]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Mar 05 23:54:45 ubuntu etcd[65500]: setting up the initial cluster version to 3.4
Mar 05 23:54:45 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 05 23:54:45 ubuntu etcd[65500]: set the initial cluster version to 3.4
Mar 05 23:54:45 ubuntu etcd[65500]: enabled capabilities for version 3.4
Mar 05 23:54:45 ubuntu etcd[65500]: INFO: 2024/03/05 23:54:45 scheme "" not registered, fallback to default scheme
Mar 05 23:54:45 ubuntu etcd[65500]: INFO: 2024/03/05 23:54:45 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Mar 05 23:54:45 ubuntu etcd[65500]: INFO: 2024/03/05 23:54:45 ClientConn switching balancer to "pick_first"
Mar 05 23:54:45 ubuntu etcd[65500]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Mar 06 00:02:58 ubuntu etcd[65500]: start time = 2024-03-06 00:02:58.497482464 +0000 UTC m=+494.080042894, time spent = 1.638117ms, remote = 10.201.5.82:36784, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 06 00:02:58 ubuntu etcd[65500]: start time = 2024-03-06 00:02:58.584865453 +0000 UTC m=+494.167425881, time spent = 302.482µs, remote = 10.201.5.82:36784, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 06 00:03:05 ubuntu etcd[65500]: start time = 2024-03-06 00:03:05.781743579 +0000 UTC m=+501.364303996, time spent = 988.021µs, remote = 10.201.5.82:36784, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 06 00:03:07 ubuntu etcd[65500]: start time = 2024-03-06 00:03:07.617005473 +0000 UTC m=+503.199565895, time spent = 419.052µs, remote = 10.201.5.82:36784, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
