Mar 06 02:10:20 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 06 02:10:20 ubuntu etcd[65745]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 06 02:10:20 ubuntu etcd[65745]:         A future release of golang/protobuf will delete this package,
Mar 06 02:10:20 ubuntu etcd[65745]:         which has long been excluded from the compatibility promise.
Mar 06 02:10:20 ubuntu etcd[65745]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 06 02:10:20 ubuntu etcd[65745]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 06 02:10:20 ubuntu etcd[65745]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 06 02:10:20 ubuntu etcd[65745]: Running http and grpc server on single port. This is not recommended for production.
Mar 06 02:10:20 ubuntu etcd[65745]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 06 02:10:20 ubuntu etcd[65745]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 06 02:10:20 ubuntu etcd[65745]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 06 02:10:20 ubuntu etcd[65745]: etcd Version: 3.4.27
Mar 06 02:10:20 ubuntu etcd[65745]: Git SHA: c92fb80f3
Mar 06 02:10:20 ubuntu etcd[65745]: Go Version: go1.19.10
Mar 06 02:10:20 ubuntu etcd[65745]: Go OS/Arch: linux/amd64
Mar 06 02:10:20 ubuntu etcd[65745]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 06 02:10:20 ubuntu etcd[65745]: Running http and grpc server on single port. This is not recommended for production.
Mar 06 02:10:20 ubuntu etcd[65745]: name = ubuntu
Mar 06 02:10:20 ubuntu etcd[65745]: data dir = /opt/stack/data/etcd
Mar 06 02:10:20 ubuntu etcd[65745]: member dir = /opt/stack/data/etcd/member
Mar 06 02:10:20 ubuntu etcd[65745]: heartbeat = 100ms
Mar 06 02:10:20 ubuntu etcd[65745]: election = 1000ms
Mar 06 02:10:20 ubuntu etcd[65745]: snapshot count = 100000
Mar 06 02:10:20 ubuntu etcd[65745]: advertise client URLs = http://10.201.5.82:2379
Mar 06 02:10:20 ubuntu etcd[65745]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 06 02:10:20 ubuntu etcd[65745]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Mar 06 02:10:20 ubuntu etcd[65745]: raft2024/03/06 02:10:20 INFO: 43038365673ccf7b switched to configuration voters=()
Mar 06 02:10:20 ubuntu etcd[65745]: raft2024/03/06 02:10:20 INFO: 43038365673ccf7b became follower at term 0
Mar 06 02:10:20 ubuntu etcd[65745]: raft2024/03/06 02:10:20 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 06 02:10:20 ubuntu etcd[65745]: raft2024/03/06 02:10:20 INFO: 43038365673ccf7b became follower at term 1
Mar 06 02:10:20 ubuntu etcd[65745]: raft2024/03/06 02:10:20 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 06 02:10:20 ubuntu etcd[65745]: simple token is not cryptographically signed
Mar 06 02:10:20 ubuntu etcd[65745]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 06 02:10:20 ubuntu etcd[65745]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 06 02:10:20 ubuntu etcd[65745]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 06 02:10:20 ubuntu etcd[65745]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 06 02:10:20 ubuntu etcd[65745]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 06 02:10:20 ubuntu etcd[65745]: listening for peers on [::]:2380
Mar 06 02:10:20 ubuntu etcd[65745]: raft2024/03/06 02:10:20 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 06 02:10:20 ubuntu etcd[65745]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Mar 06 02:10:20 ubuntu etcd[65745]: raft2024/03/06 02:10:20 INFO: 43038365673ccf7b is starting a new election at term 1
Mar 06 02:10:20 ubuntu etcd[65745]: raft2024/03/06 02:10:20 INFO: 43038365673ccf7b became candidate at term 2
Mar 06 02:10:20 ubuntu etcd[65745]: raft2024/03/06 02:10:20 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Mar 06 02:10:20 ubuntu etcd[65745]: raft2024/03/06 02:10:20 INFO: 43038365673ccf7b became leader at term 2
Mar 06 02:10:20 ubuntu etcd[65745]: raft2024/03/06 02:10:20 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Mar 06 02:10:20 ubuntu etcd[65745]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Mar 06 02:10:20 ubuntu etcd[65745]: ready to serve client requests
Mar 06 02:10:20 ubuntu etcd[65745]: INFO: 2024/03/06 02:10:20 parsed scheme: ""
Mar 06 02:10:20 ubuntu etcd[65745]: INFO: 2024/03/06 02:10:20 scheme "" not registered, fallback to default scheme
Mar 06 02:10:20 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 06 02:10:20 ubuntu etcd[65745]: INFO: 2024/03/06 02:10:20 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Mar 06 02:10:20 ubuntu etcd[65745]: INFO: 2024/03/06 02:10:20 ClientConn switching balancer to "pick_first"
Mar 06 02:10:20 ubuntu etcd[65745]: setting up the initial cluster version to 3.4
Mar 06 02:10:20 ubuntu etcd[65745]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Mar 06 02:10:20 ubuntu etcd[65745]: set the initial cluster version to 3.4
Mar 06 02:10:20 ubuntu etcd[65745]: enabled capabilities for version 3.4
Mar 06 02:16:48 ubuntu etcd[65745]: start time = 2024-03-06 02:16:48.73918758 +0000 UTC m=+388.645378419, time spent = 2.552132ms, remote = 10.201.5.82:50572, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 06 02:16:48 ubuntu etcd[65745]: start time = 2024-03-06 02:16:48.739188634 +0000 UTC m=+388.645379485, time spent = 2.773003ms, remote = 10.201.5.82:50572, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 06 02:16:55 ubuntu etcd[65745]: start time = 2024-03-06 02:16:55.265068072 +0000 UTC m=+395.171258911, time spent = 226.651µs, remote = 10.201.5.82:50572, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 06 02:16:57 ubuntu etcd[65745]: start time = 2024-03-06 02:16:57.316398714 +0000 UTC m=+397.222589563, time spent = 319.409µs, remote = 10.201.5.82:50572, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
