Jul 23 22:37:23 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 23 22:37:23 ubuntu etcd[79198]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 23 22:37:23 ubuntu etcd[79198]:         A future release of golang/protobuf will delete this package,
Jul 23 22:37:23 ubuntu etcd[79198]:         which has long been excluded from the compatibility promise.
Jul 23 22:37:23 ubuntu etcd[79198]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 23 22:37:23 ubuntu etcd[79198]: Running http and grpc server on single port. This is not recommended for production.
Jul 23 22:37:23 ubuntu etcd[79198]: etcd Version: 3.4.27
Jul 23 22:37:23 ubuntu etcd[79198]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 23 22:37:23 ubuntu etcd[79198]: Git SHA: c92fb80f3
Jul 23 22:37:23 ubuntu etcd[79198]: Go Version: go1.19.10
Jul 23 22:37:23 ubuntu etcd[79198]: Go OS/Arch: linux/amd64
Jul 23 22:37:23 ubuntu etcd[79198]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 23 22:37:23 ubuntu etcd[79198]: Running http and grpc server on single port. This is not recommended for production.
Jul 23 22:37:23 ubuntu etcd[79198]: name = ubuntu
Jul 23 22:37:23 ubuntu etcd[79198]: data dir = /opt/stack/data/etcd
Jul 23 22:37:23 ubuntu etcd[79198]: member dir = /opt/stack/data/etcd/member
Jul 23 22:37:23 ubuntu etcd[79198]: heartbeat = 100ms
Jul 23 22:37:23 ubuntu etcd[79198]: election = 1000ms
Jul 23 22:37:23 ubuntu etcd[79198]: snapshot count = 100000
Jul 23 22:37:23 ubuntu etcd[79198]: advertise client URLs = http://10.201.5.82:2379
Jul 23 22:37:23 ubuntu etcd[79198]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 23 22:37:23 ubuntu etcd[79198]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jul 23 22:37:23 ubuntu etcd[79198]: raft2025/07/23 22:37:23 INFO: 43038365673ccf7b switched to configuration voters=()
Jul 23 22:37:23 ubuntu etcd[79198]: raft2025/07/23 22:37:23 INFO: 43038365673ccf7b became follower at term 0
Jul 23 22:37:23 ubuntu etcd[79198]: raft2025/07/23 22:37:23 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 23 22:37:23 ubuntu etcd[79198]: raft2025/07/23 22:37:23 INFO: 43038365673ccf7b became follower at term 1
Jul 23 22:37:23 ubuntu etcd[79198]: raft2025/07/23 22:37:23 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 23 22:37:23 ubuntu etcd[79198]: simple token is not cryptographically signed
Jul 23 22:37:23 ubuntu etcd[79198]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 23 22:37:23 ubuntu etcd[79198]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 23 22:37:23 ubuntu etcd[79198]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 23 22:37:23 ubuntu etcd[79198]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 23 22:37:23 ubuntu etcd[79198]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 23 22:37:23 ubuntu etcd[79198]: raft2025/07/23 22:37:23 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 23 22:37:23 ubuntu etcd[79198]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jul 23 22:37:23 ubuntu etcd[79198]: listening for peers on [::]:2380
Jul 23 22:37:24 ubuntu etcd[79198]: raft2025/07/23 22:37:24 INFO: 43038365673ccf7b is starting a new election at term 1
Jul 23 22:37:24 ubuntu etcd[79198]: raft2025/07/23 22:37:24 INFO: 43038365673ccf7b became candidate at term 2
Jul 23 22:37:24 ubuntu etcd[79198]: raft2025/07/23 22:37:24 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jul 23 22:37:24 ubuntu etcd[79198]: raft2025/07/23 22:37:24 INFO: 43038365673ccf7b became leader at term 2
Jul 23 22:37:24 ubuntu etcd[79198]: raft2025/07/23 22:37:24 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jul 23 22:37:24 ubuntu etcd[79198]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jul 23 22:37:24 ubuntu etcd[79198]: setting up the initial cluster version to 3.4
Jul 23 22:37:24 ubuntu etcd[79198]: ready to serve client requests
Jul 23 22:37:24 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 23 22:37:24 ubuntu etcd[79198]: set the initial cluster version to 3.4
Jul 23 22:37:24 ubuntu etcd[79198]: enabled capabilities for version 3.4
Jul 23 22:37:24 ubuntu etcd[79198]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jul 23 22:42:10 ubuntu etcd[79198]: start time = 2025-07-23 22:42:10.062152921 +0000 UTC m=+286.216486616, time spent = 4.230144ms, remote = 10.201.5.82:41146, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 22:42:10 ubuntu etcd[79198]: start time = 2025-07-23 22:42:10.06779812 +0000 UTC m=+286.222131831, time spent = 274.921µs, remote = 10.201.5.82:41146, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 22:42:16 ubuntu etcd[79198]: start time = 2025-07-23 22:42:16.945649935 +0000 UTC m=+293.099983636, time spent = 1.117248ms, remote = 10.201.5.82:41146, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 22:42:19 ubuntu etcd[79198]: start time = 2025-07-23 22:42:19.314184744 +0000 UTC m=+295.468518450, time spent = 224.958µs, remote = 10.201.5.82:41146, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 22:45:56 ubuntu etcd[79198]: start time = 2025-07-23 22:45:56.784979426 +0000 UTC m=+512.939313117, time spent = 422.597µs, remote = 10.201.5.82:41146, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 22:45:56 ubuntu etcd[79198]: start time = 2025-07-23 22:45:56.83605955 +0000 UTC m=+512.990393266, time spent = 317.495µs, remote = 10.201.5.82:41146, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 22:45:56 ubuntu etcd[79198]: start time = 2025-07-23 22:45:56.837131868 +0000 UTC m=+512.991465588, time spent = 177.398µs, remote = 10.201.5.82:41146, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 22:45:59 ubuntu etcd[79198]: start time = 2025-07-23 22:45:59.045459848 +0000 UTC m=+515.199793552, time spent = 181.139µs, remote = 10.201.5.82:41146, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 22:52:44 ubuntu etcd[79198]: start time = 2025-07-23 22:52:44.585108441 +0000 UTC m=+920.739442162, time spent = 576.864µs, remote = 10.201.5.82:41146, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 22:52:44 ubuntu etcd[79198]: start time = 2025-07-23 22:52:44.596969103 +0000 UTC m=+920.751302797, time spent = 3.884061ms, remote = 10.201.5.82:41146, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-3a95b530-ea4d-4c9f-990f-49f4896b3b3e" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-3a95b530-ea4d-4c9f-990f-49f4896b3b3e" value_size:16 lease:5727338723577442073 >> failure:<request_range:<key:"/tooz/lockscinder-3a95b530-ea4d-4c9f-990f-49f4896b3b3e" > >
Jul 23 22:52:47 ubuntu etcd[79198]: start time = 2025-07-23 22:52:47.313984311 +0000 UTC m=+923.468318110, time spent = 474.513µs, remote = 10.201.5.82:41146, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-3a95b530-ea4d-4c9f-990f-49f4896b3b3e" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-3a95b530-ea4d-4c9f-990f-49f4896b3b3e" > > failure:<>
Jul 23 22:52:47 ubuntu etcd[79198]: start time = 2025-07-23 22:52:47.530078661 +0000 UTC m=+923.684412365, time spent = 268.491µs, remote = 10.201.5.82:41146, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 22:52:47 ubuntu etcd[79198]: start time = 2025-07-23 22:52:47.532672583 +0000 UTC m=+923.687006390, time spent = 608.81µs, remote = 10.201.5.82:41146, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-3a95b530-ea4d-4c9f-990f-49f4896b3b3e" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-3a95b530-ea4d-4c9f-990f-49f4896b3b3e" value_size:16 lease:5727338723577442077 >> failure:<request_range:<key:"/tooz/lockscinder-3a95b530-ea4d-4c9f-990f-49f4896b3b3e" > >
Jul 23 22:52:49 ubuntu etcd[79198]: start time = 2025-07-23 22:52:49.39414666 +0000 UTC m=+925.548480468, time spent = 531.01µs, remote = 10.201.5.82:41146, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-3a95b530-ea4d-4c9f-990f-49f4896b3b3e" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-3a95b530-ea4d-4c9f-990f-49f4896b3b3e" > > failure:<>
Jul 23 22:52:49 ubuntu etcd[79198]: start time = 2025-07-23 22:52:49.640830292 +0000 UTC m=+925.795163997, time spent = 375.776µs, remote = 10.201.5.82:41146, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 22:52:49 ubuntu etcd[79198]: start time = 2025-07-23 22:52:49.642945238 +0000 UTC m=+925.797278964, time spent = 1.482645ms, remote = 10.201.5.82:41146, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-3a95b530-ea4d-4c9f-990f-49f4896b3b3e" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-3a95b530-ea4d-4c9f-990f-49f4896b3b3e" value_size:16 lease:5727338723577442081 >> failure:<request_range:<key:"/tooz/lockscinder-3a95b530-ea4d-4c9f-990f-49f4896b3b3e" > >
Jul 23 22:52:51 ubuntu etcd[79198]: start time = 2025-07-23 22:52:51.494681955 +0000 UTC m=+927.649015762, time spent = 665.029µs, remote = 10.201.5.82:41146, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-3a95b530-ea4d-4c9f-990f-49f4896b3b3e" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-3a95b530-ea4d-4c9f-990f-49f4896b3b3e" > > failure:<>
