Mar 29 09:14:11 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 29 09:14:11 ubuntu etcd[66122]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 29 09:14:11 ubuntu etcd[66122]:         A future release of golang/protobuf will delete this package,
Mar 29 09:14:11 ubuntu etcd[66122]:         which has long been excluded from the compatibility promise.
Mar 29 09:14:11 ubuntu etcd[66122]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 29 09:14:11 ubuntu etcd[66122]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 29 09:14:11 ubuntu etcd[66122]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 29 09:14:11 ubuntu etcd[66122]: [WARNING] Deprecated '--debug' flag is set to true (use '--log-level=debug' instead
Mar 29 09:14:11 ubuntu etcd[66122]: [WARNING] Deprecated '--debug' flag is set to true with inconsistent '--log-level=info' flag
Mar 29 09:14:11 ubuntu etcd[66122]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 29 09:14:11 ubuntu etcd[66122]: Running http and grpc server on single port. This is not recommended for production.
Mar 29 09:14:11 ubuntu etcd[66122]: etcd Version: 3.4.27
Mar 29 09:14:11 ubuntu etcd[66122]: Git SHA: c92fb80f3
Mar 29 09:14:11 ubuntu etcd[66122]: Go Version: go1.19.10
Mar 29 09:14:11 ubuntu etcd[66122]: Go OS/Arch: linux/amd64
Mar 29 09:14:11 ubuntu etcd[66122]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 29 09:14:11 ubuntu etcd[66122]: Running http and grpc server on single port. This is not recommended for production.
Mar 29 09:14:11 ubuntu etcd[66122]: name = ubuntu
Mar 29 09:14:11 ubuntu etcd[66122]: data dir = /opt/stack/data/etcd
Mar 29 09:14:11 ubuntu etcd[66122]: member dir = /opt/stack/data/etcd/member
Mar 29 09:14:11 ubuntu etcd[66122]: heartbeat = 100ms
Mar 29 09:14:11 ubuntu etcd[66122]: election = 1000ms
Mar 29 09:14:11 ubuntu etcd[66122]: snapshot count = 100000
Mar 29 09:14:11 ubuntu etcd[66122]: advertise client URLs = http://10.201.5.82:2379
Mar 29 09:14:11 ubuntu etcd[66122]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 29 09:14:11 ubuntu etcd[66122]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Mar 29 09:14:11 ubuntu etcd[66122]: simple token is not cryptographically signed
Mar 29 09:14:11 ubuntu etcd[66122]: raft2024/03/29 09:14:11 INFO: 43038365673ccf7b switched to configuration voters=()
Mar 29 09:14:11 ubuntu etcd[66122]: raft2024/03/29 09:14:11 INFO: 43038365673ccf7b became follower at term 0
Mar 29 09:14:11 ubuntu etcd[66122]: raft2024/03/29 09:14:11 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 29 09:14:11 ubuntu etcd[66122]: raft2024/03/29 09:14:11 INFO: 43038365673ccf7b became follower at term 1
Mar 29 09:14:11 ubuntu etcd[66122]: raft2024/03/29 09:14:11 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 29 09:14:11 ubuntu etcd[66122]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 29 09:14:11 ubuntu etcd[66122]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 29 09:14:11 ubuntu etcd[66122]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 29 09:14:11 ubuntu etcd[66122]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 29 09:14:11 ubuntu etcd[66122]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 29 09:14:11 ubuntu etcd[66122]: raft2024/03/29 09:14:11 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 29 09:14:11 ubuntu etcd[66122]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Mar 29 09:14:11 ubuntu etcd[66122]: listening for peers on [::]:2380
Mar 29 09:14:11 ubuntu etcd[66122]: raft2024/03/29 09:14:11 INFO: 43038365673ccf7b is starting a new election at term 1
Mar 29 09:14:11 ubuntu etcd[66122]: raft2024/03/29 09:14:11 INFO: 43038365673ccf7b became candidate at term 2
Mar 29 09:14:11 ubuntu etcd[66122]: raft2024/03/29 09:14:11 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Mar 29 09:14:11 ubuntu etcd[66122]: raft2024/03/29 09:14:11 INFO: 43038365673ccf7b became leader at term 2
Mar 29 09:14:11 ubuntu etcd[66122]: raft2024/03/29 09:14:11 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Mar 29 09:14:11 ubuntu etcd[66122]: INFO: 2024/03/29 09:14:11 parsed scheme: ""
Mar 29 09:14:11 ubuntu etcd[66122]: INFO: 2024/03/29 09:14:11 scheme "" not registered, fallback to default scheme
Mar 29 09:14:11 ubuntu etcd[66122]: INFO: 2024/03/29 09:14:11 ccResolverWrapper: sending update to cc: {[{10.201.5.82:2379  <nil> 0 <nil>}] <nil> <nil>}
Mar 29 09:14:11 ubuntu etcd[66122]: INFO: 2024/03/29 09:14:11 ClientConn switching balancer to "pick_first"
Mar 29 09:14:11 ubuntu etcd[66122]: ready to serve client requests
Mar 29 09:14:11 ubuntu etcd[66122]: setting up the initial cluster version to 3.4
Mar 29 09:14:11 ubuntu etcd[66122]: set the initial cluster version to 3.4
Mar 29 09:14:11 ubuntu etcd[66122]: enabled capabilities for version 3.4
Mar 29 09:14:11 ubuntu etcd[66122]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Mar 29 09:14:11 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 29 09:14:11 ubuntu etcd[66122]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Mar 29 09:20:39 ubuntu etcd[66122]: start time = 2024-03-29 09:20:39.866944732 +0000 UTC m=+388.720794151, time spent = 2.296947ms, remote = 10.201.5.82:45722, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 29 09:20:39 ubuntu etcd[66122]: start time = 2024-03-29 09:20:39.903100844 +0000 UTC m=+388.756950262, time spent = 338.88µs, remote = 10.201.5.82:45722, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 29 09:20:46 ubuntu etcd[66122]: start time = 2024-03-29 09:20:46.700781941 +0000 UTC m=+395.554631359, time spent = 198.557µs, remote = 10.201.5.82:45722, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 29 09:20:48 ubuntu etcd[66122]: start time = 2024-03-29 09:20:48.855548067 +0000 UTC m=+397.709397488, time spent = 623.702µs, remote = 10.201.5.82:45722, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 29 09:26:30 ubuntu etcd[66122]: start time = 2024-03-29 09:26:30.589513172 +0000 UTC m=+739.443362600, time spent = 489.416µs, remote = 10.201.5.82:45722, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 29 09:26:31 ubuntu etcd[66122]: start time = 2024-03-29 09:26:31.782517789 +0000 UTC m=+740.636367273, time spent = 408.547µs, remote = 10.201.5.82:45722, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 29 09:26:31 ubuntu etcd[66122]: start time = 2024-03-29 09:26:31.784069482 +0000 UTC m=+740.637918901, time spent = 2.844314ms, remote = 10.201.5.82:45722, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 29 09:26:33 ubuntu etcd[66122]: start time = 2024-03-29 09:26:33.78185601 +0000 UTC m=+742.635705439, time spent = 228.963µs, remote = 10.201.5.82:45722, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
