Aug 21 13:57:38 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Aug 21 13:57:38 ubuntu etcd[68056]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Aug 21 13:57:38 ubuntu etcd[68056]:         A future release of golang/protobuf will delete this package,
Aug 21 13:57:38 ubuntu etcd[68056]:         which has long been excluded from the compatibility promise.
Aug 21 13:57:38 ubuntu etcd[68056]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 21 13:57:38 ubuntu etcd[68056]: Running http and grpc server on single port. This is not recommended for production.
Aug 21 13:57:38 ubuntu etcd[68056]: etcd Version: 3.4.27
Aug 21 13:57:38 ubuntu etcd[68056]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Aug 21 13:57:38 ubuntu etcd[68056]: Git SHA: c92fb80f3
Aug 21 13:57:38 ubuntu etcd[68056]: Go Version: go1.19.10
Aug 21 13:57:38 ubuntu etcd[68056]: Go OS/Arch: linux/amd64
Aug 21 13:57:38 ubuntu etcd[68056]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Aug 21 13:57:38 ubuntu etcd[68056]: Running http and grpc server on single port. This is not recommended for production.
Aug 21 13:57:38 ubuntu etcd[68056]: name = ubuntu
Aug 21 13:57:38 ubuntu etcd[68056]: data dir = /opt/stack/data/etcd
Aug 21 13:57:38 ubuntu etcd[68056]: member dir = /opt/stack/data/etcd/member
Aug 21 13:57:38 ubuntu etcd[68056]: heartbeat = 100ms
Aug 21 13:57:38 ubuntu etcd[68056]: election = 1000ms
Aug 21 13:57:38 ubuntu etcd[68056]: snapshot count = 100000
Aug 21 13:57:38 ubuntu etcd[68056]: advertise client URLs = http://10.201.5.82:2379
Aug 21 13:57:38 ubuntu etcd[68056]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Aug 21 13:57:38 ubuntu etcd[68056]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Aug 21 13:57:38 ubuntu etcd[68056]: raft2024/08/21 13:57:38 INFO: 43038365673ccf7b switched to configuration voters=()
Aug 21 13:57:38 ubuntu etcd[68056]: raft2024/08/21 13:57:38 INFO: 43038365673ccf7b became follower at term 0
Aug 21 13:57:38 ubuntu etcd[68056]: raft2024/08/21 13:57:38 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Aug 21 13:57:38 ubuntu etcd[68056]: raft2024/08/21 13:57:38 INFO: 43038365673ccf7b became follower at term 1
Aug 21 13:57:38 ubuntu etcd[68056]: raft2024/08/21 13:57:38 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Aug 21 13:57:38 ubuntu etcd[68056]: simple token is not cryptographically signed
Aug 21 13:57:38 ubuntu etcd[68056]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Aug 21 13:57:38 ubuntu etcd[68056]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Aug 21 13:57:38 ubuntu etcd[68056]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Aug 21 13:57:38 ubuntu etcd[68056]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Aug 21 13:57:38 ubuntu etcd[68056]: raft2024/08/21 13:57:38 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Aug 21 13:57:38 ubuntu etcd[68056]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Aug 21 13:57:38 ubuntu etcd[68056]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Aug 21 13:57:38 ubuntu etcd[68056]: listening for peers on [::]:2380
Aug 21 13:57:39 ubuntu etcd[68056]: raft2024/08/21 13:57:39 INFO: 43038365673ccf7b is starting a new election at term 1
Aug 21 13:57:39 ubuntu etcd[68056]: raft2024/08/21 13:57:39 INFO: 43038365673ccf7b became candidate at term 2
Aug 21 13:57:39 ubuntu etcd[68056]: raft2024/08/21 13:57:39 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Aug 21 13:57:39 ubuntu etcd[68056]: raft2024/08/21 13:57:39 INFO: 43038365673ccf7b became leader at term 2
Aug 21 13:57:39 ubuntu etcd[68056]: raft2024/08/21 13:57:39 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Aug 21 13:57:39 ubuntu etcd[68056]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Aug 21 13:57:39 ubuntu etcd[68056]: ready to serve client requests
Aug 21 13:57:39 ubuntu etcd[68056]: setting up the initial cluster version to 3.4
Aug 21 13:57:39 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Aug 21 13:57:39 ubuntu etcd[68056]: set the initial cluster version to 3.4
Aug 21 13:57:39 ubuntu etcd[68056]: enabled capabilities for version 3.4
Aug 21 13:57:39 ubuntu etcd[68056]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Aug 21 14:02:45 ubuntu etcd[68056]: start time = 2024-08-21 14:02:45.656436842 +0000 UTC m=+306.722817395, time spent = 686.185µs, remote = 10.201.5.82:49230, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 21 14:02:45 ubuntu etcd[68056]: start time = 2024-08-21 14:02:45.669209851 +0000 UTC m=+306.735590402, time spent = 256.702µs, remote = 10.201.5.82:49230, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 21 14:02:52 ubuntu etcd[68056]: start time = 2024-08-21 14:02:52.455293925 +0000 UTC m=+313.521674459, time spent = 196.436µs, remote = 10.201.5.82:49230, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Aug 21 14:02:54 ubuntu etcd[68056]: start time = 2024-08-21 14:02:54.476321752 +0000 UTC m=+315.542702304, time spent = 259.252µs, remote = 10.201.5.82:49230, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
