Dec 19 15:04:09 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 19 15:04:09 ubuntu etcd[67756]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 19 15:04:09 ubuntu etcd[67756]:         A future release of golang/protobuf will delete this package,
Dec 19 15:04:09 ubuntu etcd[67756]:         which has long been excluded from the compatibility promise.
Dec 19 15:04:09 ubuntu etcd[67756]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 19 15:04:09 ubuntu etcd[67756]: Running http and grpc server on single port. This is not recommended for production.
Dec 19 15:04:09 ubuntu etcd[67756]: etcd Version: 3.4.27
Dec 19 15:04:09 ubuntu etcd[67756]: Git SHA: c92fb80f3
Dec 19 15:04:09 ubuntu etcd[67756]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 19 15:04:09 ubuntu etcd[67756]: Go Version: go1.19.10
Dec 19 15:04:09 ubuntu etcd[67756]: Go OS/Arch: linux/amd64
Dec 19 15:04:09 ubuntu etcd[67756]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 19 15:04:09 ubuntu etcd[67756]: Running http and grpc server on single port. This is not recommended for production.
Dec 19 15:04:09 ubuntu etcd[67756]: name = ubuntu
Dec 19 15:04:09 ubuntu etcd[67756]: data dir = /opt/stack/data/etcd
Dec 19 15:04:09 ubuntu etcd[67756]: member dir = /opt/stack/data/etcd/member
Dec 19 15:04:09 ubuntu etcd[67756]: heartbeat = 100ms
Dec 19 15:04:09 ubuntu etcd[67756]: election = 1000ms
Dec 19 15:04:09 ubuntu etcd[67756]: snapshot count = 100000
Dec 19 15:04:09 ubuntu etcd[67756]: advertise client URLs = http://10.201.5.82:2379
Dec 19 15:04:09 ubuntu etcd[67756]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Dec 19 15:04:09 ubuntu etcd[67756]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Dec 19 15:04:09 ubuntu etcd[67756]: raft2024/12/19 15:04:09 INFO: 43038365673ccf7b switched to configuration voters=()
Dec 19 15:04:09 ubuntu etcd[67756]: raft2024/12/19 15:04:09 INFO: 43038365673ccf7b became follower at term 0
Dec 19 15:04:09 ubuntu etcd[67756]: raft2024/12/19 15:04:09 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Dec 19 15:04:09 ubuntu etcd[67756]: raft2024/12/19 15:04:09 INFO: 43038365673ccf7b became follower at term 1
Dec 19 15:04:09 ubuntu etcd[67756]: raft2024/12/19 15:04:09 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Dec 19 15:04:09 ubuntu etcd[67756]: simple token is not cryptographically signed
Dec 19 15:04:09 ubuntu etcd[67756]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Dec 19 15:04:09 ubuntu etcd[67756]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Dec 19 15:04:09 ubuntu etcd[67756]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Dec 19 15:04:09 ubuntu etcd[67756]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Dec 19 15:04:09 ubuntu etcd[67756]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Dec 19 15:04:09 ubuntu etcd[67756]: raft2024/12/19 15:04:09 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Dec 19 15:04:09 ubuntu etcd[67756]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Dec 19 15:04:09 ubuntu etcd[67756]: listening for peers on [::]:2380
Dec 19 15:04:10 ubuntu etcd[67756]: raft2024/12/19 15:04:10 INFO: 43038365673ccf7b is starting a new election at term 1
Dec 19 15:04:10 ubuntu etcd[67756]: raft2024/12/19 15:04:10 INFO: 43038365673ccf7b became candidate at term 2
Dec 19 15:04:10 ubuntu etcd[67756]: raft2024/12/19 15:04:10 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Dec 19 15:04:10 ubuntu etcd[67756]: raft2024/12/19 15:04:10 INFO: 43038365673ccf7b became leader at term 2
Dec 19 15:04:10 ubuntu etcd[67756]: raft2024/12/19 15:04:10 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Dec 19 15:04:10 ubuntu etcd[67756]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Dec 19 15:04:10 ubuntu etcd[67756]: ready to serve client requests
Dec 19 15:04:10 ubuntu etcd[67756]: setting up the initial cluster version to 3.4
Dec 19 15:04:10 ubuntu etcd[67756]: set the initial cluster version to 3.4
Dec 19 15:04:10 ubuntu etcd[67756]: enabled capabilities for version 3.4
Dec 19 15:04:10 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Dec 19 15:04:10 ubuntu etcd[67756]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Dec 19 15:09:10 ubuntu etcd[67756]: start time = 2024-12-19 15:09:10.850480195 +0000 UTC m=+301.023977370, time spent = 1.746892ms, remote = 10.201.5.82:43362, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 19 15:09:10 ubuntu etcd[67756]: start time = 2024-12-19 15:09:10.85048036 +0000 UTC m=+301.023977600, time spent = 2.592839ms, remote = 10.201.5.82:43362, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 19 15:09:17 ubuntu etcd[67756]: start time = 2024-12-19 15:09:17.787954065 +0000 UTC m=+307.961451243, time spent = 183.569µs, remote = 10.201.5.82:43362, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 19 15:09:20 ubuntu etcd[67756]: start time = 2024-12-19 15:09:20.019495614 +0000 UTC m=+310.192992790, time spent = 1.663018ms, remote = 10.201.5.82:43362, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 19 15:12:07 ubuntu etcd[67756]: start time = 2024-12-19 15:12:07.432517788 +0000 UTC m=+477.606014963, time spent = 399.729µs, remote = 10.201.5.82:43362, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 19 15:12:07 ubuntu etcd[67756]: start time = 2024-12-19 15:12:07.433142535 +0000 UTC m=+477.606639807, time spent = 220.209µs, remote = 10.201.5.82:43362, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 19 15:12:07 ubuntu etcd[67756]: start time = 2024-12-19 15:12:07.584422537 +0000 UTC m=+477.757919714, time spent = 182.95µs, remote = 10.201.5.82:43362, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 19 15:12:09 ubuntu etcd[67756]: start time = 2024-12-19 15:12:09.955209184 +0000 UTC m=+480.128706360, time spent = 183.768µs, remote = 10.201.5.82:43362, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 19 15:14:05 ubuntu etcd[67756]: start time = 2024-12-19 15:14:05.721446227 +0000 UTC m=+595.894943389, time spent = 225.984µs, remote = 10.201.5.82:43362, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 19 15:14:05 ubuntu etcd[67756]: start time = 2024-12-19 15:14:05.724541229 +0000 UTC m=+595.898038404, time spent = 379.393µs, remote = 10.201.5.82:43362, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-46e1ef2b-1663-4ec4-8d47-f4e7918cea51" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-46e1ef2b-1663-4ec4-8d47-f4e7918cea51" value_size:16 lease:5727333939041375513 >> failure:<request_range:<key:"/tooz/lockscinder-46e1ef2b-1663-4ec4-8d47-f4e7918cea51" > >
Dec 19 15:14:08 ubuntu etcd[67756]: start time = 2024-12-19 15:14:08.337654595 +0000 UTC m=+598.511151883, time spent = 612.599µs, remote = 10.201.5.82:43362, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-46e1ef2b-1663-4ec4-8d47-f4e7918cea51" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-46e1ef2b-1663-4ec4-8d47-f4e7918cea51" > > failure:<>
Dec 19 15:14:08 ubuntu etcd[67756]: start time = 2024-12-19 15:14:08.577998593 +0000 UTC m=+598.751495773, time spent = 245.121µs, remote = 10.201.5.82:43362, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 19 15:14:08 ubuntu etcd[67756]: start time = 2024-12-19 15:14:08.580008417 +0000 UTC m=+598.753505609, time spent = 260.517µs, remote = 10.201.5.82:43362, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-46e1ef2b-1663-4ec4-8d47-f4e7918cea51" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-46e1ef2b-1663-4ec4-8d47-f4e7918cea51" value_size:16 lease:5727333939041375517 >> failure:<request_range:<key:"/tooz/lockscinder-46e1ef2b-1663-4ec4-8d47-f4e7918cea51" > >
Dec 19 15:14:09 ubuntu etcd[67756]: start time = 2024-12-19 15:14:09.348402518 +0000 UTC m=+599.521899698, time spent = 271.109µs, remote = 10.201.5.82:43362, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-46e1ef2b-1663-4ec4-8d47-f4e7918cea51" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-46e1ef2b-1663-4ec4-8d47-f4e7918cea51" > > failure:<>
Dec 19 15:14:09 ubuntu etcd[67756]: start time = 2024-12-19 15:14:09.578573027 +0000 UTC m=+599.752070225, time spent = 376.088µs, remote = 10.201.5.82:43362, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 19 15:14:09 ubuntu etcd[67756]: start time = 2024-12-19 15:14:09.58052053 +0000 UTC m=+599.754017707, time spent = 147.413µs, remote = 10.201.5.82:43362, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-46e1ef2b-1663-4ec4-8d47-f4e7918cea51" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-46e1ef2b-1663-4ec4-8d47-f4e7918cea51" value_size:16 lease:5727333939041375521 >> failure:<request_range:<key:"/tooz/lockscinder-46e1ef2b-1663-4ec4-8d47-f4e7918cea51" > >
Dec 19 15:14:10 ubuntu etcd[67756]: start time = 2024-12-19 15:14:10.358677667 +0000 UTC m=+600.532174938, time spent = 514.476µs, remote = 10.201.5.82:43362, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-46e1ef2b-1663-4ec4-8d47-f4e7918cea51" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-46e1ef2b-1663-4ec4-8d47-f4e7918cea51" > > failure:<>
