Jul 23 18:12:24 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jul 23 18:12:24 ubuntu etcd[79263]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jul 23 18:12:24 ubuntu etcd[79263]:         A future release of golang/protobuf will delete this package,
Jul 23 18:12:24 ubuntu etcd[79263]:         which has long been excluded from the compatibility promise.
Jul 23 18:12:24 ubuntu etcd[79263]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 23 18:12:24 ubuntu etcd[79263]: Running http and grpc server on single port. This is not recommended for production.
Jul 23 18:12:24 ubuntu etcd[79263]: etcd Version: 3.4.27
Jul 23 18:12:24 ubuntu etcd[79263]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jul 23 18:12:24 ubuntu etcd[79263]: Git SHA: c92fb80f3
Jul 23 18:12:24 ubuntu etcd[79263]: Go Version: go1.19.10
Jul 23 18:12:24 ubuntu etcd[79263]: Go OS/Arch: linux/amd64
Jul 23 18:12:24 ubuntu etcd[79263]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jul 23 18:12:24 ubuntu etcd[79263]: Running http and grpc server on single port. This is not recommended for production.
Jul 23 18:12:24 ubuntu etcd[79263]: name = ubuntu
Jul 23 18:12:24 ubuntu etcd[79263]: data dir = /opt/stack/data/etcd
Jul 23 18:12:24 ubuntu etcd[79263]: member dir = /opt/stack/data/etcd/member
Jul 23 18:12:24 ubuntu etcd[79263]: heartbeat = 100ms
Jul 23 18:12:24 ubuntu etcd[79263]: election = 1000ms
Jul 23 18:12:24 ubuntu etcd[79263]: snapshot count = 100000
Jul 23 18:12:24 ubuntu etcd[79263]: advertise client URLs = http://10.201.5.82:2379
Jul 23 18:12:24 ubuntu etcd[79263]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jul 23 18:12:24 ubuntu etcd[79263]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jul 23 18:12:24 ubuntu etcd[79263]: raft2025/07/23 18:12:24 INFO: 43038365673ccf7b switched to configuration voters=()
Jul 23 18:12:24 ubuntu etcd[79263]: raft2025/07/23 18:12:24 INFO: 43038365673ccf7b became follower at term 0
Jul 23 18:12:24 ubuntu etcd[79263]: raft2025/07/23 18:12:24 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jul 23 18:12:24 ubuntu etcd[79263]: raft2025/07/23 18:12:24 INFO: 43038365673ccf7b became follower at term 1
Jul 23 18:12:24 ubuntu etcd[79263]: raft2025/07/23 18:12:24 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 23 18:12:24 ubuntu etcd[79263]: simple token is not cryptographically signed
Jul 23 18:12:24 ubuntu etcd[79263]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jul 23 18:12:24 ubuntu etcd[79263]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jul 23 18:12:24 ubuntu etcd[79263]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jul 23 18:12:24 ubuntu etcd[79263]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jul 23 18:12:24 ubuntu etcd[79263]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jul 23 18:12:24 ubuntu etcd[79263]: raft2025/07/23 18:12:24 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jul 23 18:12:24 ubuntu etcd[79263]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jul 23 18:12:24 ubuntu etcd[79263]: listening for peers on [::]:2380
Jul 23 18:12:25 ubuntu etcd[79263]: raft2025/07/23 18:12:25 INFO: 43038365673ccf7b is starting a new election at term 1
Jul 23 18:12:25 ubuntu etcd[79263]: raft2025/07/23 18:12:25 INFO: 43038365673ccf7b became candidate at term 2
Jul 23 18:12:25 ubuntu etcd[79263]: raft2025/07/23 18:12:25 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jul 23 18:12:25 ubuntu etcd[79263]: raft2025/07/23 18:12:25 INFO: 43038365673ccf7b became leader at term 2
Jul 23 18:12:25 ubuntu etcd[79263]: raft2025/07/23 18:12:25 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jul 23 18:12:25 ubuntu etcd[79263]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jul 23 18:12:25 ubuntu etcd[79263]: setting up the initial cluster version to 3.4
Jul 23 18:12:25 ubuntu etcd[79263]: ready to serve client requests
Jul 23 18:12:25 ubuntu etcd[79263]: set the initial cluster version to 3.4
Jul 23 18:12:25 ubuntu etcd[79263]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jul 23 18:12:25 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jul 23 18:12:25 ubuntu etcd[79263]: enabled capabilities for version 3.4
Jul 23 18:17:20 ubuntu etcd[79263]: start time = 2025-07-23 18:17:20.439193527 +0000 UTC m=+295.496421268, time spent = 1.442106ms, remote = 10.201.5.82:44970, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 18:17:20 ubuntu etcd[79263]: start time = 2025-07-23 18:17:20.47146773 +0000 UTC m=+295.528695488, time spent = 246.988µs, remote = 10.201.5.82:44970, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 18:17:27 ubuntu etcd[79263]: start time = 2025-07-23 18:17:27.209569765 +0000 UTC m=+302.266797501, time spent = 218.769µs, remote = 10.201.5.82:44970, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 18:17:29 ubuntu etcd[79263]: start time = 2025-07-23 18:17:29.35248428 +0000 UTC m=+304.409712035, time spent = 369.487µs, remote = 10.201.5.82:44970, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 18:21:38 ubuntu etcd[79263]: start time = 2025-07-23 18:21:38.633069421 +0000 UTC m=+553.690297157, time spent = 422.668µs, remote = 10.201.5.82:44970, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 18:21:38 ubuntu etcd[79263]: start time = 2025-07-23 18:21:38.714566448 +0000 UTC m=+553.771794194, time spent = 304.904µs, remote = 10.201.5.82:44970, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 18:21:39 ubuntu etcd[79263]: start time = 2025-07-23 18:21:39.734214342 +0000 UTC m=+554.791442094, time spent = 399.899µs, remote = 10.201.5.82:44970, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 18:21:41 ubuntu etcd[79263]: start time = 2025-07-23 18:21:41.837933545 +0000 UTC m=+556.895161281, time spent = 196.763µs, remote = 10.201.5.82:44970, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 18:28:27 ubuntu etcd[79263]: start time = 2025-07-23 18:28:27.039087095 +0000 UTC m=+962.096314866, time spent = 392.655µs, remote = 10.201.5.82:44970, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 18:28:27 ubuntu etcd[79263]: start time = 2025-07-23 18:28:27.049794504 +0000 UTC m=+962.107022243, time spent = 965.094µs, remote = 10.201.5.82:44970, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-e6f22055-19e5-40ec-8d58-58b30fc9c225" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-e6f22055-19e5-40ec-8d58-58b30fc9c225" value_size:16 lease:5727338719507323417 >> failure:<request_range:<key:"/tooz/lockscinder-e6f22055-19e5-40ec-8d58-58b30fc9c225" > >
Jul 23 18:28:29 ubuntu etcd[79263]: start time = 2025-07-23 18:28:29.768806519 +0000 UTC m=+964.826034372, time spent = 517.125µs, remote = 10.201.5.82:44970, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-e6f22055-19e5-40ec-8d58-58b30fc9c225" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-e6f22055-19e5-40ec-8d58-58b30fc9c225" > > failure:<>
Jul 23 18:28:30 ubuntu etcd[79263]: start time = 2025-07-23 18:28:30.012816489 +0000 UTC m=+965.070044238, time spent = 307.708µs, remote = 10.201.5.82:44970, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 18:28:30 ubuntu etcd[79263]: start time = 2025-07-23 18:28:30.014876715 +0000 UTC m=+965.072104484, time spent = 855.018µs, remote = 10.201.5.82:44970, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-e6f22055-19e5-40ec-8d58-58b30fc9c225" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-e6f22055-19e5-40ec-8d58-58b30fc9c225" value_size:16 lease:5727338719507323421 >> failure:<request_range:<key:"/tooz/lockscinder-e6f22055-19e5-40ec-8d58-58b30fc9c225" > >
Jul 23 18:28:31 ubuntu etcd[79263]: start time = 2025-07-23 18:28:31.916656321 +0000 UTC m=+966.973884116, time spent = 348.372µs, remote = 10.201.5.82:44970, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-e6f22055-19e5-40ec-8d58-58b30fc9c225" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-e6f22055-19e5-40ec-8d58-58b30fc9c225" > > failure:<>
Jul 23 18:28:32 ubuntu etcd[79263]: start time = 2025-07-23 18:28:32.160128551 +0000 UTC m=+967.217356393, time spent = 878.339µs, remote = 10.201.5.82:44970, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jul 23 18:28:32 ubuntu etcd[79263]: start time = 2025-07-23 18:28:32.163011888 +0000 UTC m=+967.220239743, time spent = 513.041µs, remote = 10.201.5.82:44970, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-e6f22055-19e5-40ec-8d58-58b30fc9c225" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-e6f22055-19e5-40ec-8d58-58b30fc9c225" value_size:16 lease:5727338719507323425 >> failure:<request_range:<key:"/tooz/lockscinder-e6f22055-19e5-40ec-8d58-58b30fc9c225" > >
Jul 23 18:28:34 ubuntu etcd[79263]: start time = 2025-07-23 18:28:34.071740347 +0000 UTC m=+969.128968126, time spent = 380.204µs, remote = 10.201.5.82:44970, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-e6f22055-19e5-40ec-8d58-58b30fc9c225" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-e6f22055-19e5-40ec-8d58-58b30fc9c225" > > failure:<>
