Jun 09 21:22:39 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 09 21:22:39 ubuntu etcd[79313]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 09 21:22:39 ubuntu etcd[79313]:         A future release of golang/protobuf will delete this package,
Jun 09 21:22:39 ubuntu etcd[79313]:         which has long been excluded from the compatibility promise.
Jun 09 21:22:39 ubuntu etcd[79313]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 09 21:22:39 ubuntu etcd[79313]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 09 21:22:39 ubuntu etcd[79313]: Running http and grpc server on single port. This is not recommended for production.
Jun 09 21:22:39 ubuntu etcd[79313]: etcd Version: 3.4.27
Jun 09 21:22:39 ubuntu etcd[79313]: Git SHA: c92fb80f3
Jun 09 21:22:39 ubuntu etcd[79313]: Go Version: go1.19.10
Jun 09 21:22:39 ubuntu etcd[79313]: Go OS/Arch: linux/amd64
Jun 09 21:22:39 ubuntu etcd[79313]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 09 21:22:39 ubuntu etcd[79313]: Running http and grpc server on single port. This is not recommended for production.
Jun 09 21:22:39 ubuntu etcd[79313]: name = ubuntu
Jun 09 21:22:39 ubuntu etcd[79313]: data dir = /opt/stack/data/etcd
Jun 09 21:22:39 ubuntu etcd[79313]: member dir = /opt/stack/data/etcd/member
Jun 09 21:22:39 ubuntu etcd[79313]: heartbeat = 100ms
Jun 09 21:22:39 ubuntu etcd[79313]: election = 1000ms
Jun 09 21:22:39 ubuntu etcd[79313]: snapshot count = 100000
Jun 09 21:22:39 ubuntu etcd[79313]: advertise client URLs = http://10.201.5.82:2379
Jun 09 21:22:39 ubuntu etcd[79313]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 09 21:22:39 ubuntu etcd[79313]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jun 09 21:22:39 ubuntu etcd[79313]: raft2025/06/09 21:22:39 INFO: 43038365673ccf7b switched to configuration voters=()
Jun 09 21:22:39 ubuntu etcd[79313]: raft2025/06/09 21:22:39 INFO: 43038365673ccf7b became follower at term 0
Jun 09 21:22:39 ubuntu etcd[79313]: raft2025/06/09 21:22:39 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 09 21:22:39 ubuntu etcd[79313]: raft2025/06/09 21:22:39 INFO: 43038365673ccf7b became follower at term 1
Jun 09 21:22:39 ubuntu etcd[79313]: raft2025/06/09 21:22:39 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 09 21:22:39 ubuntu etcd[79313]: simple token is not cryptographically signed
Jun 09 21:22:39 ubuntu etcd[79313]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 09 21:22:39 ubuntu etcd[79313]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 09 21:22:39 ubuntu etcd[79313]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 09 21:22:39 ubuntu etcd[79313]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 09 21:22:39 ubuntu etcd[79313]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 09 21:22:39 ubuntu etcd[79313]: raft2025/06/09 21:22:39 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 09 21:22:39 ubuntu etcd[79313]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jun 09 21:22:39 ubuntu etcd[79313]: listening for peers on [::]:2380
Jun 09 21:22:39 ubuntu etcd[79313]: raft2025/06/09 21:22:39 INFO: 43038365673ccf7b is starting a new election at term 1
Jun 09 21:22:39 ubuntu etcd[79313]: raft2025/06/09 21:22:39 INFO: 43038365673ccf7b became candidate at term 2
Jun 09 21:22:39 ubuntu etcd[79313]: raft2025/06/09 21:22:39 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jun 09 21:22:39 ubuntu etcd[79313]: raft2025/06/09 21:22:39 INFO: 43038365673ccf7b became leader at term 2
Jun 09 21:22:39 ubuntu etcd[79313]: raft2025/06/09 21:22:39 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jun 09 21:22:39 ubuntu etcd[79313]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jun 09 21:22:39 ubuntu etcd[79313]: setting up the initial cluster version to 3.4
Jun 09 21:22:39 ubuntu etcd[79313]: ready to serve client requests
Jun 09 21:22:39 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 09 21:22:39 ubuntu etcd[79313]: set the initial cluster version to 3.4
Jun 09 21:22:39 ubuntu etcd[79313]: enabled capabilities for version 3.4
Jun 09 21:22:39 ubuntu etcd[79313]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jun 09 21:27:17 ubuntu etcd[79313]: start time = 2025-06-09 21:27:17.555713234 +0000 UTC m=+278.410922348, time spent = 1.35798ms, remote = 10.201.5.82:35516, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 21:27:17 ubuntu etcd[79313]: start time = 2025-06-09 21:27:17.600458431 +0000 UTC m=+278.455667559, time spent = 245.718µs, remote = 10.201.5.82:35516, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 21:27:24 ubuntu etcd[79313]: start time = 2025-06-09 21:27:24.216692317 +0000 UTC m=+285.071901445, time spent = 182.616µs, remote = 10.201.5.82:35516, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 21:27:26 ubuntu etcd[79313]: start time = 2025-06-09 21:27:26.250425275 +0000 UTC m=+287.105634401, time spent = 219.304µs, remote = 10.201.5.82:35516, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 21:31:04 ubuntu etcd[79313]: start time = 2025-06-09 21:31:04.873701465 +0000 UTC m=+505.728910593, time spent = 330.516µs, remote = 10.201.5.82:35516, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 21:31:04 ubuntu etcd[79313]: start time = 2025-06-09 21:31:04.877669357 +0000 UTC m=+505.732878483, time spent = 200.788µs, remote = 10.201.5.82:35516, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 21:31:06 ubuntu etcd[79313]: start time = 2025-06-09 21:31:06.363799938 +0000 UTC m=+507.219009060, time spent = 242.094µs, remote = 10.201.5.82:35516, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 21:31:08 ubuntu etcd[79313]: start time = 2025-06-09 21:31:08.6141313 +0000 UTC m=+509.469340456, time spent = 314.346µs, remote = 10.201.5.82:35516, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 21:32:54 ubuntu etcd[79313]: start time = 2025-06-09 21:32:54.461481593 +0000 UTC m=+615.316690732, time spent = 360.702µs, remote = 10.201.5.82:35516, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 21:32:54 ubuntu etcd[79313]: start time = 2025-06-09 21:32:54.470350605 +0000 UTC m=+615.325559740, time spent = 3.853127ms, remote = 10.201.5.82:35516, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-ade1d3f1-aa6c-4737-811b-35b7c3926aff" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-ade1d3f1-aa6c-4737-811b-35b7c3926aff" value_size:16 lease:5727337749219761177 >> failure:<request_range:<key:"/tooz/lockscinder-ade1d3f1-aa6c-4737-811b-35b7c3926aff" > >
Jun 09 21:32:58 ubuntu etcd[79313]: start time = 2025-06-09 21:32:58.601833796 +0000 UTC m=+619.457043035, time spent = 1.20474ms, remote = 10.201.5.82:35516, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-ade1d3f1-aa6c-4737-811b-35b7c3926aff" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-ade1d3f1-aa6c-4737-811b-35b7c3926aff" > > failure:<>
Jun 09 21:32:58 ubuntu etcd[79313]: start time = 2025-06-09 21:32:58.843434865 +0000 UTC m=+619.698644006, time spent = 249.343µs, remote = 10.201.5.82:35516, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 21:32:58 ubuntu etcd[79313]: start time = 2025-06-09 21:32:58.845523962 +0000 UTC m=+619.700733091, time spent = 197.663µs, remote = 10.201.5.82:35516, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-ade1d3f1-aa6c-4737-811b-35b7c3926aff" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-ade1d3f1-aa6c-4737-811b-35b7c3926aff" value_size:16 lease:5727337749219761181 >> failure:<request_range:<key:"/tooz/lockscinder-ade1d3f1-aa6c-4737-811b-35b7c3926aff" > >
Jun 09 21:33:00 ubuntu etcd[79313]: start time = 2025-06-09 21:33:00.71092523 +0000 UTC m=+621.566134456, time spent = 533.662µs, remote = 10.201.5.82:35516, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-ade1d3f1-aa6c-4737-811b-35b7c3926aff" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-ade1d3f1-aa6c-4737-811b-35b7c3926aff" > > failure:<>
Jun 09 21:33:00 ubuntu etcd[79313]: start time = 2025-06-09 21:33:00.918718106 +0000 UTC m=+621.773927237, time spent = 252.625µs, remote = 10.201.5.82:35516, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 21:33:00 ubuntu etcd[79313]: start time = 2025-06-09 21:33:00.920963032 +0000 UTC m=+621.776172262, time spent = 427.587µs, remote = 10.201.5.82:35516, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-ade1d3f1-aa6c-4737-811b-35b7c3926aff" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-ade1d3f1-aa6c-4737-811b-35b7c3926aff" value_size:16 lease:5727337749219761185 >> failure:<request_range:<key:"/tooz/lockscinder-ade1d3f1-aa6c-4737-811b-35b7c3926aff" > >
Jun 09 21:33:02 ubuntu etcd[79313]: start time = 2025-06-09 21:33:02.869619756 +0000 UTC m=+623.724828917, time spent = 1.092047ms, remote = 10.201.5.82:35516, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-ade1d3f1-aa6c-4737-811b-35b7c3926aff" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-ade1d3f1-aa6c-4737-811b-35b7c3926aff" > > failure:<>
Jun 09 22:13:18 ubuntu etcd[79313]: start time = 2025-06-09 22:13:18.637652891 +0000 UTC m=+3039.492862036, time spent = 616.315µs, remote = 10.201.5.82:35516, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 22:13:18 ubuntu etcd[79313]: start time = 2025-06-09 22:13:18.641796484 +0000 UTC m=+3039.497005621, time spent = 483.979µs, remote = 10.201.5.82:35516, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-7cc92d62-a58f-4b6b-84f4-86b40959f317" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-7cc92d62-a58f-4b6b-84f4-86b40959f317" value_size:16 lease:5727337749219761192 >> failure:<request_range:<key:"/tooz/lockscinder-7cc92d62-a58f-4b6b-84f4-86b40959f317" > >
Jun 09 22:13:20 ubuntu etcd[79313]: start time = 2025-06-09 22:13:20.821245603 +0000 UTC m=+3041.676454830, time spent = 548.693µs, remote = 10.201.5.82:35516, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-7cc92d62-a58f-4b6b-84f4-86b40959f317" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-7cc92d62-a58f-4b6b-84f4-86b40959f317" > > failure:<>
Jun 09 22:13:21 ubuntu etcd[79313]: start time = 2025-06-09 22:13:21.043936933 +0000 UTC m=+3041.899146075, time spent = 384.635µs, remote = 10.201.5.82:35516, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 22:13:21 ubuntu etcd[79313]: start time = 2025-06-09 22:13:21.046372175 +0000 UTC m=+3041.901581321, time spent = 267.989µs, remote = 10.201.5.82:35516, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-7cc92d62-a58f-4b6b-84f4-86b40959f317" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-7cc92d62-a58f-4b6b-84f4-86b40959f317" value_size:16 lease:5727337749219761196 >> failure:<request_range:<key:"/tooz/lockscinder-7cc92d62-a58f-4b6b-84f4-86b40959f317" > >
Jun 09 22:13:22 ubuntu etcd[79313]: start time = 2025-06-09 22:13:22.315877533 +0000 UTC m=+3043.171086714, time spent = 568.271µs, remote = 10.201.5.82:35516, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-7cc92d62-a58f-4b6b-84f4-86b40959f317" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-7cc92d62-a58f-4b6b-84f4-86b40959f317" > > failure:<>
Jun 09 22:13:22 ubuntu etcd[79313]: start time = 2025-06-09 22:13:22.537799522 +0000 UTC m=+3043.393008680, time spent = 328.773µs, remote = 10.201.5.82:35516, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 22:13:22 ubuntu etcd[79313]: start time = 2025-06-09 22:13:22.540484125 +0000 UTC m=+3043.395693267, time spent = 336.84µs, remote = 10.201.5.82:35516, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-7cc92d62-a58f-4b6b-84f4-86b40959f317" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-7cc92d62-a58f-4b6b-84f4-86b40959f317" value_size:16 lease:5727337749219761200 >> failure:<request_range:<key:"/tooz/lockscinder-7cc92d62-a58f-4b6b-84f4-86b40959f317" > >
Jun 09 22:13:23 ubuntu etcd[79313]: start time = 2025-06-09 22:13:23.818269819 +0000 UTC m=+3044.673479080, time spent = 486.108µs, remote = 10.201.5.82:35516, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-7cc92d62-a58f-4b6b-84f4-86b40959f317" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-7cc92d62-a58f-4b6b-84f4-86b40959f317" > > failure:<>
