May 27 05:39:04 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
May 27 05:39:04 ubuntu etcd[79459]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
May 27 05:39:04 ubuntu etcd[79459]:         A future release of golang/protobuf will delete this package,
May 27 05:39:04 ubuntu etcd[79459]:         which has long been excluded from the compatibility promise.
May 27 05:39:04 ubuntu etcd[79459]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 27 05:39:04 ubuntu etcd[79459]: Running http and grpc server on single port. This is not recommended for production.
May 27 05:39:04 ubuntu etcd[79459]: etcd Version: 3.4.27
May 27 05:39:04 ubuntu etcd[79459]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
May 27 05:39:04 ubuntu etcd[79459]: Git SHA: c92fb80f3
May 27 05:39:04 ubuntu etcd[79459]: Go Version: go1.19.10
May 27 05:39:04 ubuntu etcd[79459]: Go OS/Arch: linux/amd64
May 27 05:39:04 ubuntu etcd[79459]: setting maximum number of CPUs to 4, total number of available CPUs is 4
May 27 05:39:04 ubuntu etcd[79459]: Running http and grpc server on single port. This is not recommended for production.
May 27 05:39:04 ubuntu etcd[79459]: name = ubuntu
May 27 05:39:04 ubuntu etcd[79459]: data dir = /opt/stack/data/etcd
May 27 05:39:04 ubuntu etcd[79459]: member dir = /opt/stack/data/etcd/member
May 27 05:39:04 ubuntu etcd[79459]: heartbeat = 100ms
May 27 05:39:04 ubuntu etcd[79459]: election = 1000ms
May 27 05:39:04 ubuntu etcd[79459]: snapshot count = 100000
May 27 05:39:04 ubuntu etcd[79459]: advertise client URLs = http://10.201.5.82:2379
May 27 05:39:04 ubuntu etcd[79459]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
May 27 05:39:04 ubuntu etcd[79459]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
May 27 05:39:04 ubuntu etcd[79459]: raft2025/05/27 05:39:04 INFO: 43038365673ccf7b switched to configuration voters=()
May 27 05:39:04 ubuntu etcd[79459]: raft2025/05/27 05:39:04 INFO: 43038365673ccf7b became follower at term 0
May 27 05:39:04 ubuntu etcd[79459]: raft2025/05/27 05:39:04 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
May 27 05:39:04 ubuntu etcd[79459]: raft2025/05/27 05:39:04 INFO: 43038365673ccf7b became follower at term 1
May 27 05:39:04 ubuntu etcd[79459]: raft2025/05/27 05:39:04 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
May 27 05:39:04 ubuntu etcd[79459]: simple token is not cryptographically signed
May 27 05:39:04 ubuntu etcd[79459]: starting server... [version: 3.4.27, cluster version: to_be_decided]
May 27 05:39:04 ubuntu etcd[79459]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
May 27 05:39:04 ubuntu etcd[79459]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
May 27 05:39:04 ubuntu etcd[79459]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
May 27 05:39:04 ubuntu etcd[79459]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
May 27 05:39:04 ubuntu etcd[79459]: raft2025/05/27 05:39:04 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
May 27 05:39:04 ubuntu etcd[79459]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
May 27 05:39:04 ubuntu etcd[79459]: listening for peers on [::]:2380
May 27 05:39:05 ubuntu etcd[79459]: raft2025/05/27 05:39:05 INFO: 43038365673ccf7b is starting a new election at term 1
May 27 05:39:05 ubuntu etcd[79459]: raft2025/05/27 05:39:05 INFO: 43038365673ccf7b became candidate at term 2
May 27 05:39:05 ubuntu etcd[79459]: raft2025/05/27 05:39:05 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
May 27 05:39:05 ubuntu etcd[79459]: raft2025/05/27 05:39:05 INFO: 43038365673ccf7b became leader at term 2
May 27 05:39:05 ubuntu etcd[79459]: raft2025/05/27 05:39:05 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
May 27 05:39:05 ubuntu etcd[79459]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
May 27 05:39:05 ubuntu etcd[79459]: setting up the initial cluster version to 3.4
May 27 05:39:05 ubuntu etcd[79459]: ready to serve client requests
May 27 05:39:05 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
May 27 05:39:05 ubuntu etcd[79459]: set the initial cluster version to 3.4
May 27 05:39:05 ubuntu etcd[79459]: enabled capabilities for version 3.4
May 27 05:39:05 ubuntu etcd[79459]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
May 27 05:43:46 ubuntu etcd[79459]: start time = 2025-05-27 05:43:46.224014949 +0000 UTC m=+281.352795317, time spent = 1.386918ms, remote = 10.201.5.82:45036, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 27 05:43:46 ubuntu etcd[79459]: start time = 2025-05-27 05:43:46.521269351 +0000 UTC m=+281.650049728, time spent = 225.252µs, remote = 10.201.5.82:45036, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 27 05:43:53 ubuntu etcd[79459]: start time = 2025-05-27 05:43:53.364974606 +0000 UTC m=+288.493754983, time spent = 231.417µs, remote = 10.201.5.82:45036, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 27 05:43:55 ubuntu etcd[79459]: start time = 2025-05-27 05:43:55.550483176 +0000 UTC m=+290.679263554, time spent = 363.896µs, remote = 10.201.5.82:45036, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 27 05:47:42 ubuntu etcd[79459]: start time = 2025-05-27 05:47:42.044968447 +0000 UTC m=+517.173748875, time spent = 784.391µs, remote = 10.201.5.82:45036, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 27 05:47:42 ubuntu etcd[79459]: start time = 2025-05-27 05:47:42.047295452 +0000 UTC m=+517.176075875, time spent = 246.294µs, remote = 10.201.5.82:45036, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 27 05:47:43 ubuntu etcd[79459]: start time = 2025-05-27 05:47:43.235933001 +0000 UTC m=+518.364713382, time spent = 188.582µs, remote = 10.201.5.82:45036, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 27 05:47:45 ubuntu etcd[79459]: start time = 2025-05-27 05:47:45.393441998 +0000 UTC m=+520.522222377, time spent = 384.364µs, remote = 10.201.5.82:45036, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 27 05:49:33 ubuntu etcd[79459]: start time = 2025-05-27 05:49:33.598061415 +0000 UTC m=+628.726841878, time spent = 557.23µs, remote = 10.201.5.82:45036, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 27 05:49:33 ubuntu etcd[79459]: start time = 2025-05-27 05:49:33.6096796 +0000 UTC m=+628.738460014, time spent = 5.616933ms, remote = 10.201.5.82:45036, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-be2e1705-c56b-4224-ba59-55d51d897a33" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-be2e1705-c56b-4224-ba59-55d51d897a33" value_size:16 lease:5727337447187306009 >> failure:<request_range:<key:"/tooz/lockscinder-be2e1705-c56b-4224-ba59-55d51d897a33" > >
May 27 05:49:36 ubuntu etcd[79459]: start time = 2025-05-27 05:49:36.339764758 +0000 UTC m=+631.468545185, time spent = 770.427µs, remote = 10.201.5.82:45036, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-be2e1705-c56b-4224-ba59-55d51d897a33" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-be2e1705-c56b-4224-ba59-55d51d897a33" > > failure:<>
May 27 05:49:36 ubuntu etcd[79459]: start time = 2025-05-27 05:49:36.590130131 +0000 UTC m=+631.718910518, time spent = 335.546µs, remote = 10.201.5.82:45036, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 27 05:49:36 ubuntu etcd[79459]: start time = 2025-05-27 05:49:36.592154705 +0000 UTC m=+631.720935087, time spent = 181.776µs, remote = 10.201.5.82:45036, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-be2e1705-c56b-4224-ba59-55d51d897a33" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-be2e1705-c56b-4224-ba59-55d51d897a33" value_size:16 lease:5727337447187306013 >> failure:<request_range:<key:"/tooz/lockscinder-be2e1705-c56b-4224-ba59-55d51d897a33" > >
May 27 05:49:38 ubuntu etcd[79459]: start time = 2025-05-27 05:49:38.430138544 +0000 UTC m=+633.558918994, time spent = 526.898µs, remote = 10.201.5.82:45036, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-be2e1705-c56b-4224-ba59-55d51d897a33" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-be2e1705-c56b-4224-ba59-55d51d897a33" > > failure:<>
May 27 05:49:38 ubuntu etcd[79459]: start time = 2025-05-27 05:49:38.671270899 +0000 UTC m=+633.800051373, time spent = 573.534µs, remote = 10.201.5.82:45036, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
May 27 05:49:38 ubuntu etcd[79459]: start time = 2025-05-27 05:49:38.673752203 +0000 UTC m=+633.802532594, time spent = 260.243µs, remote = 10.201.5.82:45036, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-be2e1705-c56b-4224-ba59-55d51d897a33" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-be2e1705-c56b-4224-ba59-55d51d897a33" value_size:16 lease:5727337447187306017 >> failure:<request_range:<key:"/tooz/lockscinder-be2e1705-c56b-4224-ba59-55d51d897a33" > >
May 27 05:49:40 ubuntu etcd[79459]: start time = 2025-05-27 05:49:40.470168388 +0000 UTC m=+635.598948868, time spent = 658.688µs, remote = 10.201.5.82:45036, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-be2e1705-c56b-4224-ba59-55d51d897a33" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-be2e1705-c56b-4224-ba59-55d51d897a33" > > failure:<>
