Dec 11 05:12:03 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 11 05:12:03 ubuntu etcd[67453]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 11 05:12:03 ubuntu etcd[67453]:         A future release of golang/protobuf will delete this package,
Dec 11 05:12:03 ubuntu etcd[67453]:         which has long been excluded from the compatibility promise.
Dec 11 05:12:03 ubuntu etcd[67453]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 11 05:12:03 ubuntu etcd[67453]: Running http and grpc server on single port. This is not recommended for production.
Dec 11 05:12:03 ubuntu etcd[67453]: etcd Version: 3.4.27
Dec 11 05:12:03 ubuntu etcd[67453]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 11 05:12:03 ubuntu etcd[67453]: Git SHA: c92fb80f3
Dec 11 05:12:03 ubuntu etcd[67453]: Go Version: go1.19.10
Dec 11 05:12:03 ubuntu etcd[67453]: Go OS/Arch: linux/amd64
Dec 11 05:12:03 ubuntu etcd[67453]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 11 05:12:03 ubuntu etcd[67453]: Running http and grpc server on single port. This is not recommended for production.
Dec 11 05:12:03 ubuntu etcd[67453]: name = ubuntu
Dec 11 05:12:03 ubuntu etcd[67453]: data dir = /opt/stack/data/etcd
Dec 11 05:12:03 ubuntu etcd[67453]: member dir = /opt/stack/data/etcd/member
Dec 11 05:12:03 ubuntu etcd[67453]: heartbeat = 100ms
Dec 11 05:12:03 ubuntu etcd[67453]: election = 1000ms
Dec 11 05:12:03 ubuntu etcd[67453]: snapshot count = 100000
Dec 11 05:12:03 ubuntu etcd[67453]: advertise client URLs = http://10.201.5.82:2379
Dec 11 05:12:03 ubuntu etcd[67453]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Dec 11 05:12:03 ubuntu etcd[67453]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Dec 11 05:12:03 ubuntu etcd[67453]: raft2024/12/11 05:12:03 INFO: 43038365673ccf7b switched to configuration voters=()
Dec 11 05:12:03 ubuntu etcd[67453]: raft2024/12/11 05:12:03 INFO: 43038365673ccf7b became follower at term 0
Dec 11 05:12:03 ubuntu etcd[67453]: raft2024/12/11 05:12:03 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Dec 11 05:12:03 ubuntu etcd[67453]: raft2024/12/11 05:12:03 INFO: 43038365673ccf7b became follower at term 1
Dec 11 05:12:03 ubuntu etcd[67453]: raft2024/12/11 05:12:03 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Dec 11 05:12:03 ubuntu etcd[67453]: simple token is not cryptographically signed
Dec 11 05:12:03 ubuntu etcd[67453]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Dec 11 05:12:03 ubuntu etcd[67453]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Dec 11 05:12:03 ubuntu etcd[67453]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Dec 11 05:12:03 ubuntu etcd[67453]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Dec 11 05:12:03 ubuntu etcd[67453]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Dec 11 05:12:03 ubuntu etcd[67453]: raft2024/12/11 05:12:03 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Dec 11 05:12:03 ubuntu etcd[67453]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Dec 11 05:12:03 ubuntu etcd[67453]: listening for peers on [::]:2380
Dec 11 05:12:04 ubuntu etcd[67453]: raft2024/12/11 05:12:04 INFO: 43038365673ccf7b is starting a new election at term 1
Dec 11 05:12:04 ubuntu etcd[67453]: raft2024/12/11 05:12:04 INFO: 43038365673ccf7b became candidate at term 2
Dec 11 05:12:04 ubuntu etcd[67453]: raft2024/12/11 05:12:04 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Dec 11 05:12:04 ubuntu etcd[67453]: raft2024/12/11 05:12:04 INFO: 43038365673ccf7b became leader at term 2
Dec 11 05:12:04 ubuntu etcd[67453]: raft2024/12/11 05:12:04 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Dec 11 05:12:04 ubuntu etcd[67453]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Dec 11 05:12:04 ubuntu etcd[67453]: ready to serve client requests
Dec 11 05:12:04 ubuntu etcd[67453]: setting up the initial cluster version to 3.4
Dec 11 05:12:04 ubuntu etcd[67453]: set the initial cluster version to 3.4
Dec 11 05:12:04 ubuntu etcd[67453]: enabled capabilities for version 3.4
Dec 11 05:12:04 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Dec 11 05:12:04 ubuntu etcd[67453]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Dec 11 05:16:55 ubuntu etcd[67453]: start time = 2024-12-11 05:16:55.537627312 +0000 UTC m=+291.667842588, time spent = 1.875098ms, remote = 10.201.5.82:55226, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 11 05:16:55 ubuntu etcd[67453]: start time = 2024-12-11 05:16:55.537781009 +0000 UTC m=+291.667996286, time spent = 2.864073ms, remote = 10.201.5.82:55226, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 11 05:17:02 ubuntu etcd[67453]: start time = 2024-12-11 05:17:02.540095601 +0000 UTC m=+298.670310879, time spent = 179.077µs, remote = 10.201.5.82:55226, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 11 05:17:04 ubuntu etcd[67453]: start time = 2024-12-11 05:17:04.54160662 +0000 UTC m=+300.671821898, time spent = 712.525µs, remote = 10.201.5.82:55226, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 11 05:20:02 ubuntu etcd[67453]: start time = 2024-12-11 05:20:02.763390827 +0000 UTC m=+478.893606150, time spent = 838.168µs, remote = 10.201.5.82:55226, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 11 05:20:02 ubuntu etcd[67453]: start time = 2024-12-11 05:20:02.767766162 +0000 UTC m=+478.897981528, time spent = 330.545µs, remote = 10.201.5.82:55226, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 11 05:20:07 ubuntu etcd[67453]: start time = 2024-12-11 05:20:07.20126397 +0000 UTC m=+483.331479258, time spent = 225.162µs, remote = 10.201.5.82:55226, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 11 05:20:07 ubuntu etcd[67453]: start time = 2024-12-11 05:20:07.423843202 +0000 UTC m=+483.554058545, time spent = 344.213µs, remote = 10.201.5.82:55226, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 11 05:21:56 ubuntu etcd[67453]: start time = 2024-12-11 05:21:56.039373008 +0000 UTC m=+592.169588289, time spent = 508.999µs, remote = 10.201.5.82:55226, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 11 05:21:56 ubuntu etcd[67453]: start time = 2024-12-11 05:21:56.042653929 +0000 UTC m=+592.172869217, time spent = 493.753µs, remote = 10.201.5.82:55226, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-4f345877-a51f-40ef-8688-6d4eb995f8d9" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-4f345877-a51f-40ef-8688-6d4eb995f8d9" value_size:16 lease:5727333752999528217 >> failure:<request_range:<key:"/tooz/lockscinder-4f345877-a51f-40ef-8688-6d4eb995f8d9" > >
Dec 11 05:21:58 ubuntu etcd[67453]: start time = 2024-12-11 05:21:58.74695262 +0000 UTC m=+594.877167981, time spent = 718.358µs, remote = 10.201.5.82:55226, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-4f345877-a51f-40ef-8688-6d4eb995f8d9" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-4f345877-a51f-40ef-8688-6d4eb995f8d9" > > failure:<>
Dec 11 05:21:58 ubuntu etcd[67453]: start time = 2024-12-11 05:21:58.992555022 +0000 UTC m=+595.122770303, time spent = 264.763µs, remote = 10.201.5.82:55226, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 11 05:21:58 ubuntu etcd[67453]: start time = 2024-12-11 05:21:58.994838088 +0000 UTC m=+595.125053431, time spent = 272.675µs, remote = 10.201.5.82:55226, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-4f345877-a51f-40ef-8688-6d4eb995f8d9" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-4f345877-a51f-40ef-8688-6d4eb995f8d9" value_size:16 lease:5727333752999528221 >> failure:<request_range:<key:"/tooz/lockscinder-4f345877-a51f-40ef-8688-6d4eb995f8d9" > >
Dec 11 05:21:59 ubuntu etcd[67453]: start time = 2024-12-11 05:21:59.741592822 +0000 UTC m=+595.871808120, time spent = 336.203µs, remote = 10.201.5.82:55226, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-4f345877-a51f-40ef-8688-6d4eb995f8d9" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-4f345877-a51f-40ef-8688-6d4eb995f8d9" > > failure:<>
Dec 11 05:21:59 ubuntu etcd[67453]: start time = 2024-12-11 05:21:59.966536782 +0000 UTC m=+596.096752085, time spent = 331.438µs, remote = 10.201.5.82:55226, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 11 05:21:59 ubuntu etcd[67453]: start time = 2024-12-11 05:21:59.968461353 +0000 UTC m=+596.098676632, time spent = 174.629µs, remote = 10.201.5.82:55226, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-4f345877-a51f-40ef-8688-6d4eb995f8d9" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-4f345877-a51f-40ef-8688-6d4eb995f8d9" value_size:16 lease:5727333752999528225 >> failure:<request_range:<key:"/tooz/lockscinder-4f345877-a51f-40ef-8688-6d4eb995f8d9" > >
Dec 11 05:22:00 ubuntu etcd[67453]: start time = 2024-12-11 05:22:00.704435993 +0000 UTC m=+596.834651382, time spent = 418.082µs, remote = 10.201.5.82:55226, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-4f345877-a51f-40ef-8688-6d4eb995f8d9" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-4f345877-a51f-40ef-8688-6d4eb995f8d9" > > failure:<>
