Dec 05 04:43:44 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Dec 05 04:43:44 ubuntu etcd[67594]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Dec 05 04:43:44 ubuntu etcd[67594]:         A future release of golang/protobuf will delete this package,
Dec 05 04:43:44 ubuntu etcd[67594]:         which has long been excluded from the compatibility promise.
Dec 05 04:43:44 ubuntu etcd[67594]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 05 04:43:44 ubuntu etcd[67594]: Running http and grpc server on single port. This is not recommended for production.
Dec 05 04:43:44 ubuntu etcd[67594]: etcd Version: 3.4.27
Dec 05 04:43:44 ubuntu etcd[67594]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Dec 05 04:43:44 ubuntu etcd[67594]: Git SHA: c92fb80f3
Dec 05 04:43:44 ubuntu etcd[67594]: Go Version: go1.19.10
Dec 05 04:43:44 ubuntu etcd[67594]: Go OS/Arch: linux/amd64
Dec 05 04:43:44 ubuntu etcd[67594]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Dec 05 04:43:44 ubuntu etcd[67594]: Running http and grpc server on single port. This is not recommended for production.
Dec 05 04:43:44 ubuntu etcd[67594]: name = ubuntu
Dec 05 04:43:44 ubuntu etcd[67594]: data dir = /opt/stack/data/etcd
Dec 05 04:43:44 ubuntu etcd[67594]: member dir = /opt/stack/data/etcd/member
Dec 05 04:43:44 ubuntu etcd[67594]: heartbeat = 100ms
Dec 05 04:43:44 ubuntu etcd[67594]: election = 1000ms
Dec 05 04:43:44 ubuntu etcd[67594]: snapshot count = 100000
Dec 05 04:43:44 ubuntu etcd[67594]: advertise client URLs = http://10.201.5.82:2379
Dec 05 04:43:44 ubuntu etcd[67594]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Dec 05 04:43:45 ubuntu etcd[67594]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Dec 05 04:43:45 ubuntu etcd[67594]: raft2024/12/05 04:43:45 INFO: 43038365673ccf7b switched to configuration voters=()
Dec 05 04:43:45 ubuntu etcd[67594]: raft2024/12/05 04:43:45 INFO: 43038365673ccf7b became follower at term 0
Dec 05 04:43:45 ubuntu etcd[67594]: raft2024/12/05 04:43:45 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Dec 05 04:43:45 ubuntu etcd[67594]: raft2024/12/05 04:43:45 INFO: 43038365673ccf7b became follower at term 1
Dec 05 04:43:45 ubuntu etcd[67594]: raft2024/12/05 04:43:45 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Dec 05 04:43:45 ubuntu etcd[67594]: simple token is not cryptographically signed
Dec 05 04:43:45 ubuntu etcd[67594]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Dec 05 04:43:45 ubuntu etcd[67594]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Dec 05 04:43:45 ubuntu etcd[67594]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Dec 05 04:43:45 ubuntu etcd[67594]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Dec 05 04:43:45 ubuntu etcd[67594]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Dec 05 04:43:45 ubuntu etcd[67594]: raft2024/12/05 04:43:45 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Dec 05 04:43:45 ubuntu etcd[67594]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Dec 05 04:43:45 ubuntu etcd[67594]: listening for peers on [::]:2380
Dec 05 04:43:45 ubuntu etcd[67594]: raft2024/12/05 04:43:45 INFO: 43038365673ccf7b is starting a new election at term 1
Dec 05 04:43:45 ubuntu etcd[67594]: raft2024/12/05 04:43:45 INFO: 43038365673ccf7b became candidate at term 2
Dec 05 04:43:45 ubuntu etcd[67594]: raft2024/12/05 04:43:45 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Dec 05 04:43:45 ubuntu etcd[67594]: raft2024/12/05 04:43:45 INFO: 43038365673ccf7b became leader at term 2
Dec 05 04:43:45 ubuntu etcd[67594]: raft2024/12/05 04:43:45 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Dec 05 04:43:45 ubuntu etcd[67594]: setting up the initial cluster version to 3.4
Dec 05 04:43:45 ubuntu etcd[67594]: set the initial cluster version to 3.4
Dec 05 04:43:45 ubuntu etcd[67594]: enabled capabilities for version 3.4
Dec 05 04:43:45 ubuntu etcd[67594]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Dec 05 04:43:45 ubuntu etcd[67594]: ready to serve client requests
Dec 05 04:43:45 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Dec 05 04:43:45 ubuntu etcd[67594]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Dec 05 04:48:44 ubuntu etcd[67594]: start time = 2024-12-05 04:48:44.634590113 +0000 UTC m=+299.678242603, time spent = 576.388µs, remote = 10.201.5.82:49546, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 05 04:48:44 ubuntu etcd[67594]: start time = 2024-12-05 04:48:44.666799703 +0000 UTC m=+299.710452203, time spent = 234.029µs, remote = 10.201.5.82:49546, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 05 04:48:51 ubuntu etcd[67594]: start time = 2024-12-05 04:48:51.509848443 +0000 UTC m=+306.553500946, time spent = 241.272µs, remote = 10.201.5.82:49546, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 05 04:48:53 ubuntu etcd[67594]: start time = 2024-12-05 04:48:53.556659349 +0000 UTC m=+308.600311845, time spent = 439.768µs, remote = 10.201.5.82:49546, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 05 04:51:41 ubuntu etcd[67594]: start time = 2024-12-05 04:51:41.157653357 +0000 UTC m=+476.201305857, time spent = 501.255µs, remote = 10.201.5.82:49546, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 05 04:51:41 ubuntu etcd[67594]: start time = 2024-12-05 04:51:41.32700162 +0000 UTC m=+476.370654214, time spent = 388.694µs, remote = 10.201.5.82:49546, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 05 04:51:41 ubuntu etcd[67594]: start time = 2024-12-05 04:51:41.396353033 +0000 UTC m=+476.440005627, time spent = 554.185µs, remote = 10.201.5.82:49546, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 05 04:51:43 ubuntu etcd[67594]: start time = 2024-12-05 04:51:43.548777883 +0000 UTC m=+478.592430378, time spent = 452.469µs, remote = 10.201.5.82:49546, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 05 04:53:31 ubuntu etcd[67594]: start time = 2024-12-05 04:53:31.957635129 +0000 UTC m=+587.001287632, time spent = 388.671µs, remote = 10.201.5.82:49546, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 05 04:53:31 ubuntu etcd[67594]: start time = 2024-12-05 04:53:31.960411954 +0000 UTC m=+587.004064441, time spent = 385.472µs, remote = 10.201.5.82:49546, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-7a28aa86-d3d2-477a-b4f9-669d8275cd7e" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-7a28aa86-d3d2-477a-b4f9-669d8275cd7e" value_size:16 lease:5727333619854214937 >> failure:<request_range:<key:"/tooz/lockscinder-7a28aa86-d3d2-477a-b4f9-669d8275cd7e" > >
Dec 05 04:53:34 ubuntu etcd[67594]: start time = 2024-12-05 04:53:34.680669804 +0000 UTC m=+589.724322351, time spent = 648.967µs, remote = 10.201.5.82:49546, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-7a28aa86-d3d2-477a-b4f9-669d8275cd7e" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-7a28aa86-d3d2-477a-b4f9-669d8275cd7e" > > failure:<>
Dec 05 04:53:35 ubuntu etcd[67594]: start time = 2024-12-05 04:53:35.033245 +0000 UTC m=+590.076897519, time spent = 257.029µs, remote = 10.201.5.82:49546, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 05 04:53:35 ubuntu etcd[67594]: start time = 2024-12-05 04:53:35.035444137 +0000 UTC m=+590.079096732, time spent = 473.359µs, remote = 10.201.5.82:49546, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-7a28aa86-d3d2-477a-b4f9-669d8275cd7e" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-7a28aa86-d3d2-477a-b4f9-669d8275cd7e" value_size:16 lease:5727333619854214941 >> failure:<request_range:<key:"/tooz/lockscinder-7a28aa86-d3d2-477a-b4f9-669d8275cd7e" > >
Dec 05 04:53:35 ubuntu etcd[67594]: start time = 2024-12-05 04:53:35.831974529 +0000 UTC m=+590.875627028, time spent = 251.726µs, remote = 10.201.5.82:49546, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-7a28aa86-d3d2-477a-b4f9-669d8275cd7e" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-7a28aa86-d3d2-477a-b4f9-669d8275cd7e" > > failure:<>
Dec 05 04:53:36 ubuntu etcd[67594]: start time = 2024-12-05 04:53:36.062408651 +0000 UTC m=+591.106061166, time spent = 294.128µs, remote = 10.201.5.82:49546, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Dec 05 04:53:36 ubuntu etcd[67594]: start time = 2024-12-05 04:53:36.064396322 +0000 UTC m=+591.108048822, time spent = 208.434µs, remote = 10.201.5.82:49546, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-7a28aa86-d3d2-477a-b4f9-669d8275cd7e" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-7a28aa86-d3d2-477a-b4f9-669d8275cd7e" value_size:16 lease:5727333619854214945 >> failure:<request_range:<key:"/tooz/lockscinder-7a28aa86-d3d2-477a-b4f9-669d8275cd7e" > >
Dec 05 04:53:36 ubuntu etcd[67594]: start time = 2024-12-05 04:53:36.831491171 +0000 UTC m=+591.875143691, time spent = 448.437µs, remote = 10.201.5.82:49546, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-7a28aa86-d3d2-477a-b4f9-669d8275cd7e" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-7a28aa86-d3d2-477a-b4f9-669d8275cd7e" > > failure:<>
