Mar 30 03:35:13 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Mar 30 03:35:13 ubuntu etcd[80025]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Mar 30 03:35:13 ubuntu etcd[80025]:         A future release of golang/protobuf will delete this package,
Mar 30 03:35:13 ubuntu etcd[80025]:         which has long been excluded from the compatibility promise.
Mar 30 03:35:13 ubuntu etcd[80025]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 30 03:35:13 ubuntu etcd[80025]: Running http and grpc server on single port. This is not recommended for production.
Mar 30 03:35:13 ubuntu etcd[80025]: etcd Version: 3.4.27
Mar 30 03:35:13 ubuntu etcd[80025]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Mar 30 03:35:13 ubuntu etcd[80025]: Git SHA: c92fb80f3
Mar 30 03:35:13 ubuntu etcd[80025]: Go Version: go1.19.10
Mar 30 03:35:13 ubuntu etcd[80025]: Go OS/Arch: linux/amd64
Mar 30 03:35:13 ubuntu etcd[80025]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Mar 30 03:35:13 ubuntu etcd[80025]: Running http and grpc server on single port. This is not recommended for production.
Mar 30 03:35:13 ubuntu etcd[80025]: name = ubuntu
Mar 30 03:35:13 ubuntu etcd[80025]: data dir = /opt/stack/data/etcd
Mar 30 03:35:13 ubuntu etcd[80025]: member dir = /opt/stack/data/etcd/member
Mar 30 03:35:13 ubuntu etcd[80025]: heartbeat = 100ms
Mar 30 03:35:13 ubuntu etcd[80025]: election = 1000ms
Mar 30 03:35:13 ubuntu etcd[80025]: snapshot count = 100000
Mar 30 03:35:13 ubuntu etcd[80025]: advertise client URLs = http://10.201.5.82:2379
Mar 30 03:35:13 ubuntu etcd[80025]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Mar 30 03:35:13 ubuntu etcd[80025]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Mar 30 03:35:13 ubuntu etcd[80025]: raft2025/03/30 03:35:13 INFO: 43038365673ccf7b switched to configuration voters=()
Mar 30 03:35:13 ubuntu etcd[80025]: raft2025/03/30 03:35:13 INFO: 43038365673ccf7b became follower at term 0
Mar 30 03:35:13 ubuntu etcd[80025]: raft2025/03/30 03:35:13 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Mar 30 03:35:13 ubuntu etcd[80025]: raft2025/03/30 03:35:13 INFO: 43038365673ccf7b became follower at term 1
Mar 30 03:35:13 ubuntu etcd[80025]: raft2025/03/30 03:35:13 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 30 03:35:13 ubuntu etcd[80025]: simple token is not cryptographically signed
Mar 30 03:35:13 ubuntu etcd[80025]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Mar 30 03:35:13 ubuntu etcd[80025]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Mar 30 03:35:13 ubuntu etcd[80025]: raft2025/03/30 03:35:13 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Mar 30 03:35:13 ubuntu etcd[80025]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Mar 30 03:35:13 ubuntu etcd[80025]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Mar 30 03:35:13 ubuntu etcd[80025]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Mar 30 03:35:13 ubuntu etcd[80025]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Mar 30 03:35:13 ubuntu etcd[80025]: listening for peers on [::]:2380
Mar 30 03:35:14 ubuntu etcd[80025]: raft2025/03/30 03:35:14 INFO: 43038365673ccf7b is starting a new election at term 1
Mar 30 03:35:14 ubuntu etcd[80025]: raft2025/03/30 03:35:14 INFO: 43038365673ccf7b became candidate at term 2
Mar 30 03:35:14 ubuntu etcd[80025]: raft2025/03/30 03:35:14 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Mar 30 03:35:14 ubuntu etcd[80025]: raft2025/03/30 03:35:14 INFO: 43038365673ccf7b became leader at term 2
Mar 30 03:35:14 ubuntu etcd[80025]: raft2025/03/30 03:35:14 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Mar 30 03:35:14 ubuntu etcd[80025]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Mar 30 03:35:14 ubuntu etcd[80025]: ready to serve client requests
Mar 30 03:35:14 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Mar 30 03:35:14 ubuntu etcd[80025]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Mar 30 03:35:14 ubuntu etcd[80025]: setting up the initial cluster version to 3.4
Mar 30 03:35:14 ubuntu etcd[80025]: set the initial cluster version to 3.4
Mar 30 03:35:14 ubuntu etcd[80025]: enabled capabilities for version 3.4
Mar 30 03:39:52 ubuntu etcd[80025]: start time = 2025-03-30 03:39:52.521365141 +0000 UTC m=+278.840485658, time spent = 1.392722ms, remote = 10.201.5.82:50150, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 30 03:39:52 ubuntu etcd[80025]: start time = 2025-03-30 03:39:52.534176222 +0000 UTC m=+278.853296751, time spent = 162.254µs, remote = 10.201.5.82:50150, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 30 03:39:59 ubuntu etcd[80025]: start time = 2025-03-30 03:39:59.488986463 +0000 UTC m=+285.808106988, time spent = 240.458µs, remote = 10.201.5.82:50150, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 30 03:40:01 ubuntu etcd[80025]: start time = 2025-03-30 03:40:01.431692119 +0000 UTC m=+287.750812645, time spent = 298.833µs, remote = 10.201.5.82:50150, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 30 03:42:53 ubuntu etcd[80025]: start time = 2025-03-30 03:42:53.87246848 +0000 UTC m=+460.191588993, time spent = 991.128µs, remote = 10.201.5.82:50150, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 30 03:42:54 ubuntu etcd[80025]: start time = 2025-03-30 03:42:54.150494812 +0000 UTC m=+460.469615334, time spent = 280.871µs, remote = 10.201.5.82:50150, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 30 03:42:54 ubuntu etcd[80025]: start time = 2025-03-30 03:42:54.38122806 +0000 UTC m=+460.700348571, time spent = 259.823µs, remote = 10.201.5.82:50150, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Mar 30 03:42:56 ubuntu etcd[80025]: start time = 2025-03-30 03:42:56.661948844 +0000 UTC m=+462.981069455, time spent = 375.887µs, remote = 10.201.5.82:50150, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
