Jun 09 23:25:52 ubuntu systemd[1]: Starting Devstack devstack@etcd.service...
Jun 09 23:25:52 ubuntu etcd[79551]: WARNING: Package "github.com/golang/protobuf/protoc-gen-go/generator" is deprecated.
Jun 09 23:25:52 ubuntu etcd[79551]:         A future release of golang/protobuf will delete this package,
Jun 09 23:25:52 ubuntu etcd[79551]:         which has long been excluded from the compatibility promise.
Jun 09 23:25:52 ubuntu etcd[79551]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 09 23:25:52 ubuntu etcd[79551]: Running http and grpc server on single port. This is not recommended for production.
Jun 09 23:25:52 ubuntu etcd[79551]: etcd Version: 3.4.27
Jun 09 23:25:52 ubuntu etcd[79551]: [WARNING] Deprecated '--logger=capnslog' flag is set; use '--logger=zap' flag instead
Jun 09 23:25:52 ubuntu etcd[79551]: Git SHA: c92fb80f3
Jun 09 23:25:52 ubuntu etcd[79551]: Go Version: go1.19.10
Jun 09 23:25:52 ubuntu etcd[79551]: Go OS/Arch: linux/amd64
Jun 09 23:25:52 ubuntu etcd[79551]: setting maximum number of CPUs to 4, total number of available CPUs is 4
Jun 09 23:25:52 ubuntu etcd[79551]: Running http and grpc server on single port. This is not recommended for production.
Jun 09 23:25:52 ubuntu etcd[79551]: name = ubuntu
Jun 09 23:25:52 ubuntu etcd[79551]: data dir = /opt/stack/data/etcd
Jun 09 23:25:52 ubuntu etcd[79551]: member dir = /opt/stack/data/etcd/member
Jun 09 23:25:52 ubuntu etcd[79551]: heartbeat = 100ms
Jun 09 23:25:52 ubuntu etcd[79551]: election = 1000ms
Jun 09 23:25:52 ubuntu etcd[79551]: snapshot count = 100000
Jun 09 23:25:52 ubuntu etcd[79551]: advertise client URLs = http://10.201.5.82:2379
Jun 09 23:25:52 ubuntu etcd[79551]: check file permission: directory "/opt/stack/data/etcd" exist, but the permission is "dtrwxrwxrwx". The recommended permission is "-rwx------" to prevent possible unprivileged access to the data.
Jun 09 23:25:52 ubuntu etcd[79551]: starting member 43038365673ccf7b in cluster 4e30dcbc85f3b47b
Jun 09 23:25:52 ubuntu etcd[79551]: raft2025/06/09 23:25:52 INFO: 43038365673ccf7b switched to configuration voters=()
Jun 09 23:25:52 ubuntu etcd[79551]: raft2025/06/09 23:25:52 INFO: 43038365673ccf7b became follower at term 0
Jun 09 23:25:52 ubuntu etcd[79551]: raft2025/06/09 23:25:52 INFO: newRaft 43038365673ccf7b [peers: [], term: 0, commit: 0, applied: 0, lastindex: 0, lastterm: 0]
Jun 09 23:25:52 ubuntu etcd[79551]: raft2025/06/09 23:25:52 INFO: 43038365673ccf7b became follower at term 1
Jun 09 23:25:52 ubuntu etcd[79551]: raft2025/06/09 23:25:52 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 09 23:25:52 ubuntu etcd[79551]: simple token is not cryptographically signed
Jun 09 23:25:52 ubuntu etcd[79551]: starting server... [version: 3.4.27, cluster version: to_be_decided]
Jun 09 23:25:52 ubuntu etcd[79551]: raft2025/06/09 23:25:52 INFO: 43038365673ccf7b switched to configuration voters=(4828847697018277755)
Jun 09 23:25:52 ubuntu etcd[79551]: 43038365673ccf7b as single-node; fast-forwarding 9 ticks (election ticks 10)
Jun 09 23:25:52 ubuntu etcd[79551]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap.db, max: 5, interval: 30s
Jun 09 23:25:52 ubuntu etcd[79551]: started to purge file, dir: /opt/stack/data/etcd/member/snap, suffix: snap, max: 5, interval: 30s
Jun 09 23:25:52 ubuntu etcd[79551]: started to purge file, dir: /opt/stack/data/etcd/member/wal, suffix: wal, max: 5, interval: 30s
Jun 09 23:25:52 ubuntu etcd[79551]: added member 43038365673ccf7b [http://10.201.5.82:2380] to cluster 4e30dcbc85f3b47b
Jun 09 23:25:52 ubuntu etcd[79551]: listening for peers on [::]:2380
Jun 09 23:25:53 ubuntu etcd[79551]: raft2025/06/09 23:25:53 INFO: 43038365673ccf7b is starting a new election at term 1
Jun 09 23:25:53 ubuntu etcd[79551]: raft2025/06/09 23:25:53 INFO: 43038365673ccf7b became candidate at term 2
Jun 09 23:25:53 ubuntu etcd[79551]: raft2025/06/09 23:25:53 INFO: 43038365673ccf7b received MsgVoteResp from 43038365673ccf7b at term 2
Jun 09 23:25:53 ubuntu etcd[79551]: raft2025/06/09 23:25:53 INFO: 43038365673ccf7b became leader at term 2
Jun 09 23:25:53 ubuntu etcd[79551]: raft2025/06/09 23:25:53 INFO: raft.node: 43038365673ccf7b elected leader 43038365673ccf7b at term 2
Jun 09 23:25:53 ubuntu etcd[79551]: published {Name:ubuntu ClientURLs:[http://10.201.5.82:2379]} to cluster 4e30dcbc85f3b47b
Jun 09 23:25:53 ubuntu etcd[79551]: setting up the initial cluster version to 3.4
Jun 09 23:25:53 ubuntu etcd[79551]: ready to serve client requests
Jun 09 23:25:53 ubuntu systemd[1]: Started Devstack devstack@etcd.service.
Jun 09 23:25:53 ubuntu etcd[79551]: serving insecure client requests on 10.201.5.82:2379, this is strongly discouraged!
Jun 09 23:25:53 ubuntu etcd[79551]: set the initial cluster version to 3.4
Jun 09 23:25:53 ubuntu etcd[79551]: enabled capabilities for version 3.4
Jun 09 23:30:36 ubuntu etcd[79551]: start time = 2025-06-09 23:30:36.672260649 +0000 UTC m=+284.062731459, time spent = 616.914µs, remote = 10.201.5.82:39318, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 23:30:36 ubuntu etcd[79551]: start time = 2025-06-09 23:30:36.695887576 +0000 UTC m=+284.086358402, time spent = 265.49µs, remote = 10.201.5.82:39318, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 23:30:43 ubuntu etcd[79551]: start time = 2025-06-09 23:30:43.737040505 +0000 UTC m=+291.127511329, time spent = 197.467µs, remote = 10.201.5.82:39318, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 23:30:45 ubuntu etcd[79551]: start time = 2025-06-09 23:30:45.623457236 +0000 UTC m=+293.013928061, time spent = 205.211µs, remote = 10.201.5.82:39318, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 23:33:59 ubuntu etcd[79551]: start time = 2025-06-09 23:33:59.659116538 +0000 UTC m=+487.049587349, time spent = 356.805µs, remote = 10.201.5.82:39318, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 23:33:59 ubuntu etcd[79551]: start time = 2025-06-09 23:33:59.694679547 +0000 UTC m=+487.085150370, time spent = 149.911µs, remote = 10.201.5.82:39318, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 23:34:00 ubuntu etcd[79551]: start time = 2025-06-09 23:34:00.958566909 +0000 UTC m=+488.349037732, time spent = 175.44µs, remote = 10.201.5.82:39318, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 23:34:03 ubuntu etcd[79551]: start time = 2025-06-09 23:34:03.05272015 +0000 UTC m=+490.443190962, time spent = 212.184µs, remote = 10.201.5.82:39318, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 23:35:48 ubuntu etcd[79551]: start time = 2025-06-09 23:35:48.25111066 +0000 UTC m=+595.641581481, time spent = 1.300366ms, remote = 10.201.5.82:39318, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 23:35:48 ubuntu etcd[79551]: start time = 2025-06-09 23:35:48.262228698 +0000 UTC m=+595.652699573, time spent = 4.103711ms, remote = 10.201.5.82:39318, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-4d6e8ec8-8e49-457a-8436-aeae26383aa5" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-4d6e8ec8-8e49-457a-8436-aeae26383aa5" value_size:16 lease:5727337751112490521 >> failure:<request_range:<key:"/tooz/lockscinder-4d6e8ec8-8e49-457a-8436-aeae26383aa5" > >
Jun 09 23:35:50 ubuntu etcd[79551]: start time = 2025-06-09 23:35:50.855958612 +0000 UTC m=+598.246429520, time spent = 808.886µs, remote = 10.201.5.82:39318, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-4d6e8ec8-8e49-457a-8436-aeae26383aa5" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-4d6e8ec8-8e49-457a-8436-aeae26383aa5" > > failure:<>
Jun 09 23:35:51 ubuntu etcd[79551]: start time = 2025-06-09 23:35:51.08386939 +0000 UTC m=+598.474340213, time spent = 293.98µs, remote = 10.201.5.82:39318, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 23:35:51 ubuntu etcd[79551]: start time = 2025-06-09 23:35:51.089131663 +0000 UTC m=+598.479602572, time spent = 526.754µs, remote = 10.201.5.82:39318, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-4d6e8ec8-8e49-457a-8436-aeae26383aa5" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-4d6e8ec8-8e49-457a-8436-aeae26383aa5" value_size:16 lease:5727337751112490525 >> failure:<request_range:<key:"/tooz/lockscinder-4d6e8ec8-8e49-457a-8436-aeae26383aa5" > >
Jun 09 23:35:52 ubuntu etcd[79551]: start time = 2025-06-09 23:35:52.800285197 +0000 UTC m=+600.190756132, time spent = 475.174µs, remote = 10.201.5.82:39318, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-4d6e8ec8-8e49-457a-8436-aeae26383aa5" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-4d6e8ec8-8e49-457a-8436-aeae26383aa5" > > failure:<>
Jun 09 23:35:53 ubuntu etcd[79551]: start time = 2025-06-09 23:35:53.018421329 +0000 UTC m=+600.408892151, time spent = 246.567µs, remote = 10.201.5.82:39318, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 09 23:35:53 ubuntu etcd[79551]: start time = 2025-06-09 23:35:53.020410307 +0000 UTC m=+600.410881173, time spent = 285.291µs, remote = 10.201.5.82:39318, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-4d6e8ec8-8e49-457a-8436-aeae26383aa5" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-4d6e8ec8-8e49-457a-8436-aeae26383aa5" value_size:16 lease:5727337751112490529 >> failure:<request_range:<key:"/tooz/lockscinder-4d6e8ec8-8e49-457a-8436-aeae26383aa5" > >
Jun 09 23:35:54 ubuntu etcd[79551]: start time = 2025-06-09 23:35:54.747972844 +0000 UTC m=+602.138443772, time spent = 471.636µs, remote = 10.201.5.82:39318, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-4d6e8ec8-8e49-457a-8436-aeae26383aa5" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-4d6e8ec8-8e49-457a-8436-aeae26383aa5" > > failure:<>
Jun 10 00:16:11 ubuntu etcd[79551]: start time = 2025-06-10 00:16:11.231767447 +0000 UTC m=+3018.622238355, time spent = 857.073µs, remote = 10.201.5.82:39318, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 10 00:16:11 ubuntu etcd[79551]: start time = 2025-06-10 00:16:11.23535521 +0000 UTC m=+3018.625826084, time spent = 592.447µs, remote = 10.201.5.82:39318, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-cb412eee-7b4a-4e8d-8acb-f1d6d3b9db82" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-cb412eee-7b4a-4e8d-8acb-f1d6d3b9db82" value_size:16 lease:5727337751112490536 >> failure:<request_range:<key:"/tooz/lockscinder-cb412eee-7b4a-4e8d-8acb-f1d6d3b9db82" > >
Jun 10 00:16:13 ubuntu etcd[79551]: start time = 2025-06-10 00:16:13.237328186 +0000 UTC m=+3020.627799043, time spent = 465.943µs, remote = 10.201.5.82:39318, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-cb412eee-7b4a-4e8d-8acb-f1d6d3b9db82" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-cb412eee-7b4a-4e8d-8acb-f1d6d3b9db82" > > failure:<>
Jun 10 00:16:13 ubuntu etcd[79551]: start time = 2025-06-10 00:16:13.449246703 +0000 UTC m=+3020.839717609, time spent = 590.822µs, remote = 10.201.5.82:39318, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 10 00:16:13 ubuntu etcd[79551]: start time = 2025-06-10 00:16:13.453040817 +0000 UTC m=+3020.843511731, time spent = 357.125µs, remote = 10.201.5.82:39318, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-cb412eee-7b4a-4e8d-8acb-f1d6d3b9db82" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-cb412eee-7b4a-4e8d-8acb-f1d6d3b9db82" value_size:16 lease:5727337751112490540 >> failure:<request_range:<key:"/tooz/lockscinder-cb412eee-7b4a-4e8d-8acb-f1d6d3b9db82" > >
Jun 10 00:16:14 ubuntu etcd[79551]: start time = 2025-06-10 00:16:14.696618657 +0000 UTC m=+3022.087089582, time spent = 635.248µs, remote = 10.201.5.82:39318, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-cb412eee-7b4a-4e8d-8acb-f1d6d3b9db82" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-cb412eee-7b4a-4e8d-8acb-f1d6d3b9db82" > > failure:<>
Jun 10 00:16:14 ubuntu etcd[79551]: start time = 2025-06-10 00:16:14.897223582 +0000 UTC m=+3022.287694408, time spent = 178.502µs, remote = 10.201.5.82:39318, response type = /etcdserverpb.Lease/LeaseGrant, request count = -1, request size = -1, response count = -1, response size = -1, request content = 
Jun 10 00:16:14 ubuntu etcd[79551]: start time = 2025-06-10 00:16:14.899060494 +0000 UTC m=+3022.289531419, time spent = 391.081µs, remote = 10.201.5.82:39318, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 86, response count = 0, response size = 36, request content = compare:<target:CREATE key:"/tooz/lockscinder-cb412eee-7b4a-4e8d-8acb-f1d6d3b9db82" create_revision:0 > success:<request_put:<key:"/tooz/lockscinder-cb412eee-7b4a-4e8d-8acb-f1d6d3b9db82" value_size:16 lease:5727337751112490544 >> failure:<request_range:<key:"/tooz/lockscinder-cb412eee-7b4a-4e8d-8acb-f1d6d3b9db82" > >
Jun 10 00:16:16 ubuntu etcd[79551]: start time = 2025-06-10 00:16:16.124674179 +0000 UTC m=+3023.515145045, time spent = 318.892µs, remote = 10.201.5.82:39318, response type = /etcdserverpb.KV/Txn, request count = 1, request size = 58, response count = 0, response size = 38, request content = compare:<target:VALUE key:"/tooz/lockscinder-cb412eee-7b4a-4e8d-8acb-f1d6d3b9db82" value_size:16 > success:<request_delete_range:<key:"/tooz/lockscinder-cb412eee-7b4a-4e8d-8acb-f1d6d3b9db82" > > failure:<>
